Repository cms-sw/cmssw, pull requests merged in 2019-11, with the labels that each got.

#28325 Add a sequence for DQMMessageLogger and use it in autoDQM
  DQMOffline/Configuration/python/DQMOffline_cff.py
  DQMOffline/Configuration/python/autoDQM.py
Labels: code-checks-approved, comparison-pending, dqm-pending, orp-approved, pending-signatures, tests-started

#28308 Run3-sim46 Clean up and change some tests relevant for GeantV validation
  SimG4CMS/Calo/interface/HFFibre.h
  SimG4CMS/Calo/interface/HFShowerFibreBundle.h
  SimG4CMS/Calo/interface/HFShowerPMT.h
  SimG4CMS/Calo/macros/MakeGVPlots.C
  SimG4CMS/Calo/macros/MakeHFNPlots.C
  SimG4CMS/Calo/plugins/CaloSimHitAnalysis.cc
  SimG4CMS/Calo/plugins/HcalTestNumberingTest.cc
  SimG4CMS/Calo/src/HFFibre.cc
  SimG4CMS/Calo/src/HFShowerFibreBundle.cc
  SimG4CMS/Calo/src/HFShowerPMT.cc
  SimG4CMS/Calo/src/HGCScintSD.cc
  SimG4CMS/Calo/src/HcalTestAnalysis.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, simulation-approved, tests-approved

#28309 [HBHE] Update MahiDebugger and fix nP in NNLS (v2)
  RecoLocalCalo/HcalRecAlgos/interface/MahiFit.h
  RecoLocalCalo/HcalRecAlgos/src/MahiFit.cc
  RecoLocalCalo/HcalRecAlgos/test/MahiDebugger.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28314 python unittest cleanup: make them run in parallel
  PhysicsTools/PythonAnalysis/test/BuildFile.xml
  PhysicsTools/PythonAnalysis/test/commands.txt
  PhysicsTools/PythonAnalysis/test/imports.py
  PhysicsTools/PythonAnalysis/test/imports.sh
  PhysicsTools/PythonAnalysis/test/imports.txt
  PhysicsTools/PythonAnalysis/test/testDownhill.sh
  PhysicsTools/PythonAnalysis/test/testTheano.sh
  PhysicsTools/PythonAnalysis/test/testhep_ml.sh
Labels: analysis-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, requires-external, tests-approved

#28317 [PY3] Set PYTHONHOME to python2 to fix PyDevParameterSet unittest
  FWCore/PyDevParameterSet/test/BuildFile.xml
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#28319 Modernized MTDDetLayerGeometryESProducer
  RecoMTD/DetLayers/plugins/BTLDetLayerGeometryBuilder.cc
  RecoMTD/DetLayers/plugins/BTLDetLayerGeometryBuilder.h
  RecoMTD/DetLayers/plugins/ETLDetLayerGeometryBuilder.cc
  RecoMTD/DetLayers/plugins/ETLDetLayerGeometryBuilder.h
  RecoMTD/DetLayers/plugins/MTDDetLayerGeometryESProducer.cc
  RecoMTD/DetLayers/plugins/MTDDetLayerGeometryESProducer.h
  RecoMTD/DetLayers/plugins/SealModule.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved, upgrade-approved

#28323 Fix assert in ESRecordsToProxyIndices
  FWCore/Framework/src/ESRecordsToProxyIndices.cc
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#28322 Modernize TGeoMgrFromDdd
  Fireworks/Geometry/interface/TGeoMgrFromDdd.h
  Fireworks/Geometry/plugins/BuildFile.xml
  Fireworks/Geometry/plugins/TGeoMgrFromDdd.cc
  Fireworks/Geometry/plugins/TGeoMgrFromDddPlugin.cc
Labels: code-checks-approved, comparison-notrun, fully-signed, orp-approved, tests-approved, visualization-approved

#28280 Cleanup old and obsolete configurations related to MF
  Configuration/StandardSequences/python/MagneticField_38T_PostLS1_cff.py
  Configuration/StandardSequences/python/MagneticField_38T_UpdatedMap_cff.py
  DPGAnalysis/SiStripTools/test/OccupancyPlotsTest_phase2_cfg.py
  DPGAnalysis/SiStripTools/test/OccupancyPlotsTest_pixelphase1_cfg.py
  DPGAnalysis/SiStripTools/test/overlapproblem_EndCapsOTPhase2_cfg.py
  DPGAnalysis/Skims/python/CSCSkim_BFieldStudies_MC_ToscaMap090322_cfg.py
  DPGAnalysis/Skims/python/CSCSkim_BFieldStudies_ToscaMap090322_cfg.py
  DPGAnalysis/Skims/python/SuperPointing_MC_ToscaMap090322_cfg.py
  DPGAnalysis/Skims/python/SuperPointing_ToscaMap090322_cfg.py
  DPGAnalysis/Skims/python/TrackerPointing_MC_ToscaMap090322_cfg.py
  DPGAnalysis/Skims/python/TrackerPointing_ToscaMap090322_cfg.py
  FastSimulation/Validation/test/TrackRecoAndValidation_FullSim_cfg.py
  FastSimulation/Validation/test/TrackRecoAndValidation_cfg.py
  GeneratorInterface/Core/test/Hadronizer_MgmMatchTune4C_ZJetsNoPSb_13TeV_madgraph_pythia8_Tauola_cfg.py
  GeneratorInterface/GenFilters/test/test_d0k2pi_ptdstarcut_gen_13TeV.py
  GeneratorInterface/GenFilters/test/test_d0k4pi_ptdstarcut_gen_13TeV.py
  GeometryReaders/XMLIdealGeometryESSource/test/readIdealAndMagDump.py
  L1Trigger/TrackTrigger/test/AnalyzerClusterStub_ExtendedPhase2TkBE5D_cfg.py
  MagneticField/Engine/python/ScalingFactors_090322_2pi_090520_cfi.py
  MagneticField/Engine/python/ScalingFactors_090601_091022_cfi.py
  MagneticField/Engine/python/ScalingFactors_090601_091116_cfi.py
  MagneticField/Engine/python/volumeBasedMagneticFieldFromDB_cfi.py
  MagneticField/Engine/python/volumeBasedMagneticField_090322_2pi_scaled_cfi.py
  MagneticField/Engine/python/volumeBasedMagneticField_1103l_cfi.py
  MagneticField/Engine/python/volumeBasedMagneticField_120812_cfi.py
  MagneticField/Engine/python/volumeBasedMagneticField_120812_largeYE4_cfi.py
  MagneticField/Engine/python/volumeBasedMagneticField_130503_largeYE4_cfi.py
  MagneticField/Engine/python/volumeBasedMagneticField_160812_cfi.py
  MagneticField/Engine/test/queryField.py
  MagneticField/Engine/test/testMagneticField_cfg.py
  MagneticField/GeomBuilder/data/MagneticFieldVolumes_1103l.xml
  MagneticField/GeomBuilder/test/Visualization/displayMFGeom_cfg.py
  MagneticField/GeomBuilder/test/python/testMagGeometryOldDD.py
  RecoJets/JetProducers/test/PFClusterJets_PFCaloJets_producer.py
  RecoJets/JetProducers/test/runJetReco_cfg.py
  RecoJets/JetProducers/test/runPileupModules_cfg.py
  RecoLocalCalo/EcalRecProducers/test/testMultipleEcalRecoLocal_cfg.py
  RecoLocalMuon/GEMCSCSegment/test/runGEMCSCSegmentProducer_cfg.py
  RecoLocalMuon/GEMRecHit/test/SingleMuPt100_cfi_DIGI_Extended2015MuonGEMDev_RPCGEMME0Customs_cfg.py
  RecoLocalMuon/GEMRecHit/test/SingleMuPt100_cfi_GEM-SIM-DIGI_Extended2015MuonGEMDev.py
  RecoLocalMuon/GEMRecHit/test/SingleMuPt100_cfi_GEM-SIM-DIGI_Extended2015MuonGEMDev_RPCGEMME0Customs_cfg.py
  RecoLocalMuon/GEMRecHit/test/SingleMuPt100_cfi_GEM-SIM_Extended2015MuonGEMDev_RPCGEMME0Customs_cfg.py
  RecoLocalMuon/GEMRecHit/test/runGEMRecHitProducer_cfg.py
  RecoLocalMuon/GEMRecHit/test/runME0RecHitProducer_cfg.py
  RecoLocalMuon/GEMRecHit/test/runTestUpgradeGEMME0Reco_cfg.py
  RecoLocalMuon/GEMSegment/test/runGEMSegmentProducer_cfg.py
  RecoLuminosity/LumiProducer/test/analysis/test/RunFromRAW_template.py
  RecoMuon/MuonIdentification/test/runME0MuonReco_Example.py
  RecoMuon/MuonIdentification/test/testME0MuonAnalyzer_Example.py
  RecoMuon/MuonIdentification/test/test_timing.py
  RecoMuon/StandAloneMuonProducer/test/runStandAloneMuon_cfg.py
  RecoPixelVertexing/PixelTriplets/test/trip_cfg.py
  SUSYBSMAnalysis/HSCP/test/BuildHSCParticles/HSCParticleProducer_cfg.py
  SimCalorimetry/EcalEBTrigPrimProducers/test/test_EBTrigPrim_cfg.py
  SimMuon/GEMDigitizer/test/runGEMDigiReader_cfg.py
  SimMuon/GEMDigitizer/test/runGEMDigiSimLinkReader_cfg.py
  SimMuon/GEMDigitizer/test/runGEMFakeEvent_cfg.py
  SimMuon/GEMDigitizer/test/runME0DigiPreRecoProducer_cfg.py
Labels: analysis-pending, code-checks-approved, comparison-available, fastsim-approved, generators-pending, geometry-approved, l1-pending, operations-approved, orp-approved, pdmv-approved, pending-signatures, reconstruction-approved, simulation-approved, tests-approved, upgrade-approved

#28318 Improve SiPixAli PCL DQM output
  Alignment/MillePedeAlignmentAlgorithm/interface/MillePedeFileReader.h
  Alignment/MillePedeAlignmentAlgorithm/plugins/MillePedeDQMModule.cc
  Alignment/MillePedeAlignmentAlgorithm/plugins/MillePedeDQMModule.h
  Alignment/MillePedeAlignmentAlgorithm/python/MillePedeFileReader_cfi.py
  Alignment/MillePedeAlignmentAlgorithm/src/MillePedeFileReader.cc
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#28320 Added consumes to SiStripBadModuleConfigurableFakeESSource
  CalibTracker/SiStripESProducers/plugins/fake/SiStripBadModuleConfigurableFakeESSource.cc
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#28272 Fix gcc 9 warning in HLTrigger/HLTfilters
  HLTrigger/HLTfilters/plugins/HLTLevel1GTSeed.cc
Labels: code-checks-approved, comparison-available, fully-signed, hlt-approved, l1-approved, orp-approved, tests-approved

#27929 Simplify PUPPI Photon producer and change PUPPI isolation algo
  CommonTools/PileupAlgos/interface/PuppiContainer.h
  CommonTools/PileupAlgos/interface/RecoObj.h
  CommonTools/PileupAlgos/plugins/PuppiProducer.cc
  CommonTools/PileupAlgos/plugins/PuppiProducer.h
  CommonTools/PileupAlgos/python/Puppi_cff.py
  CommonTools/PileupAlgos/src/PuppiContainer.cc
  PhysicsTools/PatAlgos/python/slimming/puppiForMET_cff.py
Labels: analysis-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28271 [GCC9] fix implicit-fallthrough warning for RecoParticleFlow/PFProducer
  RecoParticleFlow/PFProducer/plugins/PFEGammaProducer.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28328 fixes to allow running EI from AOD
  CommonTools/ParticleFlow/interface/PFCandidateWithSrcPtrFactory.h
  CommonTools/ParticleFlow/python/EITopPAG_cff.py
  CommonTools/ParticleFlow/python/pfTaus_cff.py
Labels: analysis-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28333 [PY3] Fix unit test in Alignment/MillePedeAlignmentAlgorithm
  Alignment/CommonAlignment/scripts/tkal_create_file_lists.py
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#28336 Fixes to the ZeroBias DQM sequences
  DQMOffline/Configuration/python/autoDQM.py
Labels: code-checks-approved, comparison-available, dqm-pending, orp-approved, pending-signatures, tests-approved

#28315 Utilities/StaticAnalyzers: Remove the dependence on py2-dablooms package.
  PhysicsTools/PythonAnalysis/test/BuildFile.xml
  Utilities/StaticAnalyzers/bin/BuildFile.xml
  Utilities/StaticAnalyzers/bin/bloom_filter_generator.c
  Utilities/StaticAnalyzers/scripts/bloom.bin
  Utilities/StaticAnalyzers/scripts/classname-blmflt.py
  Utilities/StaticAnalyzers/scripts/classnames-extract.py
  Utilities/StaticAnalyzers/scripts/create_calls_db.sh
  Utilities/StaticAnalyzers/scripts/run_class_dumper.sh
Labels: analysis-approved, code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, requires-external, tests-approved

#28274 Fix for gcc9 warning in HLTrigger/JSONMonitoring
  HLTrigger/JSONMonitoring/plugins/L1TriggerJSONMonitoring.cc
Labels: code-checks-approved, comparison-available, fully-signed, hlt-approved, orp-approved, tests-approved

#28063 Subject main tau ID payloads to global tag control
  PhysicsTools/NanoAOD/python/taus_updatedMVAIds_cff.py
  PhysicsTools/PatAlgos/python/producersLayer1/tauProducer_cfi.py
  RecoTauTag/Configuration/python/HPSPFTaus_cff.py
Labels: alca-approved, analysis-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved, xpog-approved

#28338 Added consumes to RecoLocalFastTime packages
  RecoLocalFastTime/FTLClusterizer/plugins/MTDCPEESProducer.cc
  RecoLocalFastTime/FTLRecProducers/plugins/MTDTimeCalibESProducer.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved, upgrade-approved

#28335 Redefine (in)valid GEM digis and pads
  DataFormats/GEMDigi/interface/GEMDigi.h
  DataFormats/GEMDigi/interface/GEMPadDigiCluster.h
  DataFormats/GEMDigi/src/GEMDigi.cc
  DataFormats/GEMDigi/src/GEMPadDigi.cc
  DataFormats/GEMDigi/src/GEMPadDigiCluster.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, simulation-approved, tests-approved, upgrade-approved

#28110 Reconfigure particle flow config files
  HLTrigger/Configuration/python/customizeHLTforCMSSW.py
  RecoJets/JetProducers/python/hltParticleFlowForJets_cfi.py
  RecoParticleFlow/PFProducer/interface/PFAlgo.h
  RecoParticleFlow/PFProducer/interface/PFCandConnector.h
  RecoParticleFlow/PFProducer/interface/PFEGammaFilters.h
  RecoParticleFlow/PFProducer/interface/PFMuonAlgo.h
  RecoParticleFlow/PFProducer/plugins/PFEGammaProducer.cc
  RecoParticleFlow/PFProducer/plugins/PFProducer.cc
  RecoParticleFlow/PFProducer/plugins/importers/GeneralTracksImporter.cc
  RecoParticleFlow/PFProducer/plugins/importers/GeneralTracksImporterWithVeto.cc
  RecoParticleFlow/PFProducer/python/particleFlow_cff.py
  RecoParticleFlow/PFProducer/python/particleFlow_cfi.py
  RecoParticleFlow/PFProducer/src/PFAlgo.cc
  RecoParticleFlow/PFProducer/src/PFCandConnector.cc
  RecoParticleFlow/PFProducer/src/PFEGammaFilters.cc
  RecoParticleFlow/PFProducer/src/PFMuonAlgo.cc
Labels: code-checks-approved, comparison-available, fully-signed, hlt-approved, orp-approved, reconstruction-approved, tests-approved

#28262 Merged the MeasurementEstimators into the PixelHitMatcher
  RecoEgamma/EgammaElectronAlgos/interface/BarrelMeasurementEstimator.h
  RecoEgamma/EgammaElectronAlgos/interface/ElectronSeedGenerator.h
  RecoEgamma/EgammaElectronAlgos/interface/ForwardMeasurementEstimator.h
  RecoEgamma/EgammaElectronAlgos/interface/PixelHitMatcher.h
  RecoEgamma/EgammaElectronAlgos/interface/TrajSeedMatcher.h
  RecoEgamma/EgammaElectronAlgos/interface/utils.h
  RecoEgamma/EgammaElectronAlgos/src/BarrelMeasurementEstimator.cc
  RecoEgamma/EgammaElectronAlgos/src/ForwardMeasurementEstimator.cc
  RecoEgamma/EgammaElectronAlgos/src/PixelHitMatcher.cc
  RecoEgamma/Examples/plugins/ElectronSeedAnalyzer.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28344 [PY3] fixed unit tests for python3 IBs
  PhysicsTools/PythonAnalysis/test/BuildFile.xml
Labels: analysis-pending, code-checks-approved, comparison-available, orp-approved, pending-signatures, tests-approved

#28295 DQM: Remove MEtoMEComparitor
  Configuration/StandardSequences/python/EndOfProcess_cff.py
  DQMServices/Components/doc/Components.doc
  DQMServices/Components/plugins/MEtoMEComparitor.cc
  DQMServices/Components/plugins/MEtoMEComparitor.h
  DQMServices/Components/plugins/SealModule.cc
  DQMServices/Components/python/MEtoMEComparitor_cfi.py
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, operations-approved, orp-approved, tests-approved

#28340 color reconnection variations
  Configuration/Generator/python/MCTunes2017/PythiaCP5CR1TuneSettings_cfi.py
  Configuration/Generator/python/MCTunes2017/PythiaCP5CR2TuneSettings_cfi.py
Labels: code-checks-approved, comparison-available, fully-signed, generators-approved, orp-approved, tests-approved

#28053 Fix snapshot in data offline GTs and Egamma regression, and update Strip 2018 MC conditions
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, comparison-available, fully-signed, orp-approved, tests-approved

#27688 L1TrackTrigger TTTrackmods CMSSW_10
  DQM/SiOuterTracker/plugins/OuterTrackerMonitorTTTrack.cc
  DataFormats/L1TrackTrigger/interface/TTTrack.h
  DataFormats/L1TrackTrigger/interface/TTTrack_TrackWord.h
  DataFormats/L1TrackTrigger/src/TTTrack_TrackWord.cc
Labels: backport-ok, comparison-available, dqm-approved, fully-signed, l1-approved, orp-approved, tests-approved, upgrade-approved

#28169 [10_6_X] Fix a discrepancy in Puppi weights when running on MiniAOD w/ useExistingWeights=False
  CommonTools/PileupAlgos/plugins/PuppiProducer.cc
Labels: analysis-approved, backport-ok, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28100 Update in IT-Pixel part of the Phase2Digitizer
  SimTracker/SiPhase2Digitizer/plugins/PixelDigitizerAlgorithm.cc
  SimTracker/SiPhase2Digitizer/python/phase2TrackerDigitizer_cfi.py
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, simulation-approved, tests-approved, upgrade-approved

#28298 Run3-alca159 Modify the analyzer for studying high eta calibration
  Calibration/HcalCalibAlgos/macros/CalibTreeExtended.C
  Calibration/HcalCalibAlgos/macros/HBHEMuonHighEta.C
  Calibration/HcalCalibAlgos/plugins/HcalHBHEMuonHighEtaAnalyzer.cc
  Calibration/HcalCalibAlgos/plugins/HcalIsoTrkAnalyzer.cc
  Calibration/HcalCalibAlgos/python/hcalIsoTrackStudy_cff.py
  Calibration/HcalCalibAlgos/test/HcalIsoTrackStudy.cc
  Calibration/HcalCalibAlgos/test/python/analysis_rec_minbias_cfg.py
  Calibration/HcalCalibAlgos/test/python/analysis_sim_minbias_cfg.py
  Calibration/HcalCalibAlgos/test/python/dijetanalysis_cfg.py
  Calibration/HcalCalibAlgos/test/python/dijetanalyzer_cfg.py
  Calibration/HcalCalibAlgos/test/python/gammaJetAnalysis_cfg.py
  Calibration/HcalCalibAlgos/test/python/gammaJetAnalysis_data2012_cfg.py
  Calibration/HcalCalibAlgos/test/python/gammaJetAnalysis_data2012_noGJetProd_cfg.py
  Calibration/HcalCalibAlgos/test/python/gammaJetAnalysis_noGJetProd_cfg.py
  Calibration/HcalCalibAlgos/test/python/hcalHBHEMuonHighEta_cfg.py
  Calibration/HcalCalibAlgos/test/python/hcalHBHEMuon_cfg.py
  Calibration/HcalCalibAlgos/test/python/isoTrackAlCaRecoAnalysis_cfg.py
  Calibration/HcalCalibAlgos/test/python/isoTrackMon_cfg.py
  Calibration/HcalCalibAlgos/test/python/isoTrackRecoAnalysis_cfg.py
  Calibration/HcalCalibAlgos/test/python/isoTrackStudy_cfg.py
  Calibration/HcalCalibAlgos/test/python/recAnalyzerHF_cfg.py
  Calibration/HcalCalibAlgos/test/python/test_hosignal_collision_cfg.py
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#28310 Phase2-hcx236 Modify the scenario 2026D47
  Configuration/Geometry/README.md
  Configuration/Geometry/python/dict2026Geometry.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D47XML_cfi.py
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved, upgrade-approved

#28346 Added consumes to DD related ESProducers
  DetectorDescription/DDCMS/plugins/DDCompactViewESProducer.cc
  DetectorDescription/DDCMS/plugins/DDDetectorESProducer.cc
Labels: code-checks-approved, comparison-available, geometry-pending, orp-approved, pending-signatures, requires-external, tests-approved

#28223 Enforce ESGetToken use for ESProducers
  FWCore/Framework/interface/CallbackProxy.h
  FWCore/Framework/interface/DataProxyTemplate.h
  FWCore/Framework/interface/DependentRecordImplementation.h
  FWCore/Framework/interface/EventSetup.h
  FWCore/Framework/interface/EventSetupRecord.h
  FWCore/Framework/interface/stream/EDAnalyzerAdaptor.h
  FWCore/Framework/interface/stream/ProducingModuleAdaptor.h
  FWCore/Framework/src/EDAnalyzer.cc
  FWCore/Framework/src/EDFilter.cc
  FWCore/Framework/src/EDLooperBase.cc
  FWCore/Framework/src/EDProducer.cc
  FWCore/Framework/src/EventSetupRecord.cc
  FWCore/Framework/src/global/EDAnalyzerBase.cc
  FWCore/Framework/src/global/EDFilterBase.cc
  FWCore/Framework/src/global/EDProducerBase.cc
  FWCore/Framework/src/limited/EDAnalyzerBase.cc
  FWCore/Framework/src/limited/EDFilterBase.cc
  FWCore/Framework/src/limited/EDProducerBase.cc
  FWCore/Framework/src/one/EDAnalyzerBase.cc
  FWCore/Framework/src/one/EDFilterBase.cc
  FWCore/Framework/src/one/EDProducerBase.cc
  FWCore/Framework/src/stream/EDAnalyzerAdaptorBase.cc
  FWCore/Framework/src/stream/EDFilterAdaptorBase.cc
  FWCore/Framework/src/stream/EDProducerAdaptorBase.cc
  FWCore/Framework/src/stream/ProducingModuleAdaptorBase.cc
  FWCore/Framework/test/dependentrecord_t.cppunit.cc
  FWCore/Framework/test/esproducer_t.cppunit.cc
  FWCore/Framework/test/eventsetup_t.cppunit.cc
  FWCore/Framework/test/eventsetuprecord_t.cppunit.cc
  FWCore/Framework/test/fullchain_t.cppunit.cc
  FWCore/Integration/test/TestESSource.cc
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, requires-external, tests-approved

#28347 color reconnection tunes for CP5
  Configuration/Generator/python/MCTunes2017/PythiaCP5CR1TuneSettings_cfi.py
  Configuration/Generator/python/MCTunes2017/PythiaCP5CR2TuneSettings_cfi.py
Labels: comparison-available, fully-signed, generators-approved, orp-approved, tests-approved

#28137 Updating Puppiproducer to include fillDescriptions (backport 106X)
  CommonTools/PileupAlgos/interface/PuppiAlgo.h
  CommonTools/PileupAlgos/plugins/PuppiProducer.cc
  CommonTools/PileupAlgos/plugins/PuppiProducer.h
  CommonTools/PileupAlgos/src/PuppiAlgo.cc
Labels: analysis-approved, backport-ok, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28345 Apply code formatting to FWCore/Framework
  FWCore/Framework/interface/Event.h
  FWCore/Framework/interface/stream/EDProducer.h
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-rejected

#28350 DD4hep: Fix CentOS8 failing unit tests
  DetectorDescription/DDCMS/plugins/dd4hep/DDDefinitions2Objects.cc
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved

#28352 color reconnection tunes for CP5
  Configuration/Generator/python/MCTunes2017/PythiaCP5CR1TuneSettings_cfi.py
  Configuration/Generator/python/MCTunes2017/PythiaCP5CR2TuneSettings_cfi.py
Labels: comparison-available, fully-signed, generators-approved, orp-approved, tests-approved

#28244 DQM: Added new package MuonMonitor for cosmic muons
  DQM/Integration/python/clients/mutracking_dqm_sourceclient-live_cfg.py
  DQM/MuonMonitor/BuidFile.xml
  DQM/MuonMonitor/plugins/BuildFile.xml
  DQM/MuonMonitor/plugins/CosmicMuonRecoAnalyzer.cc
  DQM/MuonMonitor/python/muonCosmicAnalyzer_cff.py
  DQM/MuonMonitor/python/muonRecoAnalyzer_cfi.py
  DQM/MuonMonitor/test/mutracking_dqm_sourceclient-live_cfg.py
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#28183 Enable ME0TriggerPseudoDigiProducer in Phase-2 L1T sequence
  L1Trigger/Configuration/python/L1Trigger_EventContent_cff.py
  L1Trigger/ME0Trigger/python/me0TriggerConvertedPseudoDigis_cfi.py
  L1Trigger/ME0Trigger/python/me0TriggerPseudoDigis_cff.py
  L1Trigger/ME0Trigger/test/ME0TPEmulator_cfg.py
  L1Trigger/ME0Trigger/test/runME0_Reco_L1.py
Labels: code-checks-approved, comparison-available, fully-signed, l1-approved, orp-approved, tests-approved, upgrade-approved

#28210 New feature: CSC ALCT pre-trigger object in CSC L1 trigger emulator
  DataFormats/CSCDigi/interface/CSCALCTPreTriggerDigi.h
  DataFormats/CSCDigi/interface/CSCALCTPreTriggerDigiCollection.h
  DataFormats/CSCDigi/src/CSCALCTPreTriggerDigi.cc
  DataFormats/CSCDigi/src/classes.h
  DataFormats/CSCDigi/src/classes_def.xml
  L1Trigger/CSCTriggerPrimitives/interface/CSCAnodeLCTProcessor.h
  L1Trigger/CSCTriggerPrimitives/interface/CSCTriggerPrimitivesBuilder.h
  L1Trigger/CSCTriggerPrimitives/plugins/CSCTriggerPrimitivesProducer.cc
  L1Trigger/CSCTriggerPrimitives/plugins/CSCTriggerPrimitivesProducer.h
  L1Trigger/CSCTriggerPrimitives/python/cscTriggerPrimitiveDigis_cfi.py
  L1Trigger/CSCTriggerPrimitives/src/CSCAnodeLCTProcessor.cc
  L1Trigger/CSCTriggerPrimitives/src/CSCTriggerPrimitivesBuilder.cc
Labels: code-checks-approved, comparison-available, fully-signed, l1-approved, orp-approved, simulation-approved, tests-approved

#28010 Upgrade CondDBESSource to support concurrent IOVs
  CondCore/CondDB/interface/KeyList.h
  CondCore/CondDB/interface/KeyListProxy.h
  CondCore/CondDB/interface/PayloadProxy.h
  CondCore/CondDB/src/KeyList.cc
  CondCore/CondDB/src/PayloadProxy.cc
  CondCore/CondDB/test/testConnectionPool.cpp
  CondCore/CondDB/test/testFrontier.cpp
  CondCore/CondDB/test/testPayloadProxy.cpp
  CondCore/ESSources/interface/DataProxy.h
  CondCore/ESSources/plugins/CondDBESSource.cc
  CondCore/ESSources/plugins/CondDBESSource.h
  CondCore/ESSources/src/ProxyFactory.cc
  CondCore/ESSources/test/BuildFile.xml
  CondCore/ESSources/test/TestConcurrentIOVsCondCore.sh
  CondCore/ESSources/test/TestConcurrentIOVsCondCore_cfg.py
  CondCore/ESSources/test/TestCondCoreESSources.cpp
  CondCore/ESSources/test/stubs/TestConcurrentIOVsCondCore.cc
  CondCore/ESSources/test/unit_test_outputs/TestConcurrentIOVsCondCore.log
Labels: alca-approved, code-checks-approved, comparison-available, db-approved, fully-signed, orp-approved, tests-approved

#28330 HCAL: implementation of TDC simulation functionality for Phase1 HB/HE
  DataFormats/HcalDigi/interface/QIE11DataFrame.h
  DataFormats/HcalDigi/src/QIE11DataFrame.cc
  EventFilter/HcalRawToDigi/plugins/HcalDigiToRawuHTR.cc
  EventFilter/HcalRawToDigi/plugins/PackerHelp.h
  SimCalorimetry/HcalSimAlgos/interface/HcalElectronicsSim.h
  SimCalorimetry/HcalSimAlgos/interface/HcalSimParameters.h
  SimCalorimetry/HcalSimAlgos/interface/HcalTDC.h
  SimCalorimetry/HcalSimAlgos/src/HcalElectronicsSim.cc
  SimCalorimetry/HcalSimAlgos/src/HcalSimParameters.cc
  SimCalorimetry/HcalSimAlgos/src/HcalTDC.cc
  SimCalorimetry/HcalSimAlgos/test/HcalDigitizerTest.cc
  SimCalorimetry/HcalSimProducers/python/hcalSimParameters_cfi.py
  SimCalorimetry/HcalSimProducers/src/HcalDigitizer.cc
  SimCalorimetry/HcalTestBeam/interface/HcalTBDigiProducer.h
  SimCalorimetry/HcalTestBeam/src/HcalTBDigiProducer.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, simulation-approved, tests-approved

#28343 [DQMOffline/Trigger] [HLTriggerOffline/Top] cleanup of HLT-DQM sequences for Top
  DQMOffline/Trigger/interface/TopDiLeptonHLTOfflineDQM.h
  DQMOffline/Trigger/interface/TopHLTOfflineDQMHelper.h
  DQMOffline/Trigger/interface/TopSingleLeptonHLTOfflineDQM.h
  DQMOffline/Trigger/plugins/SealModule.cc
  DQMOffline/Trigger/plugins/TopDiLeptonHLTOfflineDQM.cc
  DQMOffline/Trigger/plugins/TopSingleLeptonHLTOfflineDQM.cc
  DQMOffline/Trigger/python/B2GMonitoring_Client_cff.py
  DQMOffline/Trigger/python/B2GMonitoring_cff.py
  DQMOffline/Trigger/python/DQMOffline_Trigger_Cert_cff.py
  DQMOffline/Trigger/python/DQMOffline_Trigger_Client_cff.py
  DQMOffline/Trigger/python/DQMOffline_Trigger_SummaryCert_cfi.py
  DQMOffline/Trigger/python/DQMOffline_Trigger_cff.py
  DQMOffline/Trigger/python/DQMOffline_Trigger_cosmics_cff.py
  DQMOffline/Trigger/python/singletopHLTEventDQM_cfi.py
  DQMOffline/Trigger/python/topDiLeptonHLTEventDQM_cfi.py
  DQMOffline/Trigger/python/topHLTOfflineDQM_cff.py
  DQMOffline/Trigger/python/topSingleLeptonHLTEventDQM_cfi.py
  DQMOffline/Trigger/src/TopHLTOfflineDQMHelper.cc
  HLTriggerOffline/Common/data/HltQTExample.xml
  HLTriggerOffline/Common/python/HLTValidationHarvest_cff.py
  HLTriggerOffline/Common/python/HLTValidation_cff.py
  HLTriggerOffline/Common/python/PostProcessorExample_cfi.py
  HLTriggerOffline/Common/test/hltHarvesting_cfg.py
  HLTriggerOffline/Common/test/hltSourceHarvestCompare_cfg.py
  HLTriggerOffline/Top/BuildFile.xml
  HLTriggerOffline/Top/data/HLTTopQualityTest.xml
  HLTriggerOffline/Top/doc/Top.doc
  HLTriggerOffline/Top/interface/TopDiLeptonHLTValidation.h
  HLTriggerOffline/Top/interface/TopSingleLeptonHLTValidation.h
  HLTriggerOffline/Top/python/singletopHLTEventValidation_cfi.py
  HLTriggerOffline/Top/python/topDiLeptonHLTEventValidation_cfi.py
  HLTriggerOffline/Top/python/topHLTValidationHarvest_cff.py
  HLTriggerOffline/Top/python/topHLTValidation_cff.py
  HLTriggerOffline/Top/python/topSingleLeptonHLTEventValidation_cfi.py
  HLTriggerOffline/Top/src/TopDiLeptonHLTValidation.cc
  HLTriggerOffline/Top/src/TopSingleLeptonHLTValidation.cc
  HLTriggerOffline/Top/test/test_cfg.py
  HLTriggerOffline/Top/test/topHLTDQM_harvesting_cfg.py
  HLTriggerOffline/Top/test/topHLTDQM_production_cfg.py
  HLTriggerOffline/Top/test/triggerEff_cfg.py
  Utilities/ReleaseScripts/scripts/git-publish
Labels: code-checks-approved, comparison-available, core-approved, dqm-approved, fully-signed, orp-approved, tests-approved

#28220 Run3 hcx233: Try to make CaloSimParameters from dd4Hep
  Geometry/HcalAlgo/data/cms-test-ddhcalForwardShield-algorithm.xml
  Geometry/HcalAlgo/data/cms-test-ddhcalHEPhase0-algorithm.xml
  Geometry/HcalAlgo/data/cms-test-ddhcalHEPhase1-algorithm.xml
  Geometry/HcalAlgo/data/cms-test-ddhcalHF-algorithm.xml
  Geometry/HcalAlgo/data/cms-test-ddhcalHO-algorithm.xml
  Geometry/HcalAlgo/python/testGeomForwardShield_cfi.py
  Geometry/HcalAlgo/python/testGeomHEPhase0_cfi.py
  Geometry/HcalAlgo/python/testGeomHF_cfi.py
  Geometry/HcalAlgo/python/testGeomHO_cfi.py
  Geometry/HcalCommonData/BuildFile.xml
  Geometry/HcalCommonData/interface/CaloSimParametersFromDD.h
  Geometry/HcalCommonData/plugins/BuildFile.xml
  Geometry/HcalCommonData/plugins/CaloSimParametersESModule.cc
  Geometry/HcalCommonData/src/CaloSimParametersFromDD.cc
  Geometry/HcalCommonData/test/python/runCaloPararemetrsTester_cfg.py
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved

#28363 DD4hep: Allow References in a Vector
  DetectorDescription/DDCMS/data/cms-test-ddvectors.xml
  DetectorDescription/DDCMS/data/testDDVectors.xml
  DetectorDescription/DDCMS/plugins/dd4hep/DDDefinitions2Objects.cc
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved

#28362 Fix LuminosityBlockSummaryCache & concurrent lumis
  FWCore/Framework/interface/global/EDAnalyzerBase.h
  FWCore/Framework/interface/global/EDFilterBase.h
  FWCore/Framework/interface/global/EDProducerBase.h
  FWCore/Framework/interface/global/implementors.h
  FWCore/Framework/interface/limited/EDAnalyzerBase.h
  FWCore/Framework/interface/limited/EDFilterBase.h
  FWCore/Framework/interface/limited/EDProducerBase.h
  FWCore/Framework/interface/limited/implementors.h
  FWCore/Framework/src/global/EDAnalyzerBase.cc
  FWCore/Framework/src/global/EDFilterBase.cc
  FWCore/Framework/src/global/EDProducerBase.cc
  FWCore/Framework/src/limited/EDAnalyzerBase.cc
  FWCore/Framework/src/limited/EDFilterBase.cc
  FWCore/Framework/src/limited/EDProducerBase.cc
  FWCore/Framework/test/modules_2_concurrent_lumis_cfg.py
  FWCore/Framework/test/run_global_stream_one.sh
  FWCore/Framework/test/stubs/TestGlobalAnalyzers.cc
  FWCore/Framework/test/stubs/TestGlobalFilters.cc
  FWCore/Framework/test/stubs/TestGlobalProducers.cc
  FWCore/Framework/test/stubs/TestLimitedAnalyzers.cc
  FWCore/Framework/test/stubs/TestLimitedFilters.cc
  FWCore/Framework/test/stubs/TestLimitedProducers.cc
Labels: code-checks-approved, comparison-pending, core-approved, fully-signed, orp-approved, tests-started

#28348 Add a possibility to display a GDML file
  Fireworks/Core/src/FWGeometryTableViewManager.cc
Labels: code-checks-approved, comparison-notrun, orp-approved, pending-signatures, tests-approved, visualization-pending

#28092 DQM: Merge MonitorElement and ConcurrentMonitorElement
  CalibTracker/SiStripChannelGain/interface/APVGainHelpers.h
  CalibTracker/SiStripChannelGain/interface/SiStripGainsPCLWorker.h
  CalibTracker/SiStripChannelGain/src/SiStripGainsPCLWorker.cc
  DQM/BeamMonitor/plugins/BeamConditionsMonitor.cc
  DQM/BeamMonitor/plugins/BeamConditionsMonitor.h
  DQM/BeamMonitor/python/BeamConditionsMonitor_cff.py
  DQM/EcalPreshowerMonitorModule/src/ESIntegrityTask.cc
  DQM/HLTEvF/plugins/DaqTestHistograms.cc
  DQM/HLTEvF/plugins/LumiMonitor.cc
  DQM/HLTEvF/plugins/PSMonitor.cc
  DQM/HLTEvF/plugins/TrigObjTnPHistColl.cc
  DQM/HLTEvF/plugins/TrigObjTnPHistColl.h
  DQM/HLTEvF/plugins/TrigObjTnPSource.cc
  DQM/HLTEvF/plugins/TriggerBxMonitor.cc
  DQM/HLTEvF/plugins/TriggerBxVsOrbitMonitor.cc
  DQM/HLTEvF/plugins/TriggerRatesMonitor.cc
  DQM/HcalTasks/plugins/ZDCTask.cc
  DQM/RPCMonitorDigi/interface/utils.h
  DQM/SiPixelMonitorRawData/interface/SiPixelRawDataErrorModule.h
  DQMOffline/L1Trigger/interface/L1TFillWithinLimits.h
  DQMServices/Core/interface/ConcurrentMonitorElement.h
  DQMServices/Core/interface/DQMGlobalEDAnalyzer.h
  DQMServices/Core/interface/DQMStore.h
  DQMServices/Core/interface/MonitorElement.h
  DQMServices/Core/interface/QReport.h
  DQMServices/Core/interface/QTest.h
  DQMServices/Core/src/DQMService.cc
  DQMServices/Core/src/DQMStore.cc
  DQMServices/Core/src/MonitorElement.cc
  DQMServices/Core/test/BuildFile.xml
  DQMServices/Core/test/DQMFastMatchTest.cc
  DQMServices/Core/test/DQMTestMultiThread.cc
  DQMServices/Core/test/DQMTestStandaloneBuildOfDQMStore.cc
  DataFormats/Histograms/interface/MonitorElementCollection.h
  DataFormats/Histograms/src/classes.h
  DataFormats/Histograms/src/classes_def.xml
  HLTrigger/Timer/plugins/FastTimerService.cc
  HLTrigger/Timer/plugins/FastTimerService.h
  HLTrigger/Timer/plugins/ThroughputService.cc
  HLTrigger/Timer/plugins/ThroughputService.h
  HLTriggerOffline/SUSYBSM/src/SUSY_HLT_SingleLepton.cc
  Validation/DTRecHits/plugins/DTRecHitQuality.cc
  Validation/DTRecHits/plugins/DTRecHitQuality.h
  Validation/DTRecHits/plugins/DTSegment2DQuality.cc
  Validation/DTRecHits/plugins/DTSegment2DQuality.h
  Validation/DTRecHits/plugins/DTSegment2DSLPhiQuality.cc
  Validation/DTRecHits/plugins/DTSegment2DSLPhiQuality.h
  Validation/DTRecHits/plugins/DTSegment4DQuality.cc
  Validation/DTRecHits/plugins/DTSegment4DQuality.h
  Validation/DTRecHits/plugins/Histograms.h
  Validation/HGCalValidation/interface/HGCalValidator.h
  Validation/HGCalValidation/interface/HGVHistoProducerAlgo.h
  Validation/HGCalValidation/plugins/CaloParticleValidation.cc
  Validation/HGCalValidation/plugins/HGCalValidator.cc
  Validation/HGCalValidation/plugins/TICLPFValidation.cc
  Validation/HGCalValidation/src/HGVHistoProducerAlgo.cc
  Validation/RecoTrack/interface/MTVHistoProducerAlgoForTracker.h
  Validation/RecoTrack/interface/MultiTrackValidator.h
  Validation/RecoTrack/plugins/MultiTrackValidator.cc
  Validation/RecoTrack/src/MTVHistoProducerAlgoForTracker.cc
Labels: alca-pending, code-checks-approved, comparison-available, core-approved, dqm-approved, hlt-approved, l1-pending, orp-approved, pending-signatures, tests-approved

#28163 HBHE: HLT Run3 configuration
  HLTrigger/Configuration/python/customizeHLTforCMSSW.py
Labels: code-checks-approved, comparison-available, fully-signed, hlt-approved, orp-approved, tests-approved

#28326 drop EI from AOD data tier
  Configuration/EventContent/python/EventContent_cff.py
Labels: code-checks-approved, comparison-available, fully-signed, operations-approved, orp-approved, tests-approved

#28332 Simplify inheritance hirachy of EcalClusterFunctions
  RecoEcal/EgammaCoreTools/plugins/EcalBasicClusterLocalContCorrection.cc
  RecoEcal/EgammaCoreTools/plugins/EcalBasicClusterLocalContCorrection.h
  RecoEcal/EgammaCoreTools/plugins/EcalBasicClusterLocalContCorrectionsESProducer.cc
  RecoEcal/EgammaCoreTools/plugins/EcalBasicClusterLocalContCorrectionsESProducer.h
  RecoEcal/EgammaCoreTools/plugins/EcalClusterCrackCorrection.cc
  RecoEcal/EgammaCoreTools/plugins/EcalClusterCrackCorrection.h
  RecoEcal/EgammaCoreTools/plugins/EcalClusterCrackCorrectionBaseClass.cc
  RecoEcal/EgammaCoreTools/plugins/EcalClusterCrackCorrectionBaseClass.h
  RecoEcal/EgammaCoreTools/plugins/EcalClusterEnergyCorrection.cc
  RecoEcal/EgammaCoreTools/plugins/EcalClusterEnergyCorrection.h
  RecoEcal/EgammaCoreTools/plugins/EcalClusterEnergyCorrectionBaseClass.cc
  RecoEcal/EgammaCoreTools/plugins/EcalClusterEnergyCorrectionBaseClass.h
  RecoEcal/EgammaCoreTools/plugins/EcalClusterEnergyCorrectionObjectSpecific.cc
  RecoEcal/EgammaCoreTools/plugins/EcalClusterEnergyCorrectionObjectSpecific.h
  RecoEcal/EgammaCoreTools/plugins/EcalClusterEnergyCorrectionObjectSpecificBaseClass.cc
  RecoEcal/EgammaCoreTools/plugins/EcalClusterEnergyCorrectionObjectSpecificBaseClass.h
  RecoEcal/EgammaCoreTools/plugins/EcalClusterEnergyUncertainty.cc
  RecoEcal/EgammaCoreTools/plugins/EcalClusterEnergyUncertainty.h
  RecoEcal/EgammaCoreTools/plugins/EcalClusterEnergyUncertaintyBaseClass.cc
  RecoEcal/EgammaCoreTools/plugins/EcalClusterEnergyUncertaintyBaseClass.h
  RecoEcal/EgammaCoreTools/plugins/EcalClusterEnergyUncertaintyObjectSpecific.cc
  RecoEcal/EgammaCoreTools/plugins/EcalClusterEnergyUncertaintyObjectSpecific.h
  RecoEcal/EgammaCoreTools/plugins/EcalClusterEnergyUncertaintyObjectSpecificBaseClass.cc
  RecoEcal/EgammaCoreTools/plugins/EcalClusterEnergyUncertaintyObjectSpecificBaseClass.h
  RecoEcal/EgammaCoreTools/plugins/EcalClusterLocalContCorrection.cc
  RecoEcal/EgammaCoreTools/plugins/EcalClusterLocalContCorrection.h
  RecoEcal/EgammaCoreTools/plugins/EcalClusterLocalContCorrectionBaseClass.cc
  RecoEcal/EgammaCoreTools/plugins/EcalClusterLocalContCorrectionBaseClass.h
  RecoEcal/EgammaCoreTools/plugins/EcalNextToDeadChannelESProducer.cc
  RecoEcal/EgammaCoreTools/test/testEcalClusterFunctions.py
  RecoEgamma/EgammaPhotonProducers/src/GEDPhotonProducer.cc
  RecoEgamma/EgammaPhotonProducers/src/PhotonProducer.cc
  RecoEgamma/EgammaPhotonProducers/src/ReducedEGProducer.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28331 mark mutable atomic_value_ptr members as CMS_THREAD_SAFE in [V]ParamererSetEntry
  FWCore/ParameterSet/interface/ParameterSetEntry.h
  FWCore/ParameterSet/interface/VParameterSetEntry.h
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#28356 Do not register SiPixelOfflineCalibAnalysisBase as a plugin
  CalibTracker/SiPixelTools/src/SiPixelOfflineCalibAnalysisBase.cc
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#28372 Fix TripletStep Task for HI Phase1
  RecoHI/HiTracking/python/hiDetachedTripletStep_cff.py
  RecoHI/HiTracking/python/hiLowPtTripletStep_cff.py
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28371 Use isolated particle level photons
  GeneratorInterface/RivetInterface/interface/RivetAnalysis.h
  GeneratorInterface/RivetInterface/python/particleLevel_cfi.py
  PhysicsTools/NanoAOD/python/particlelevel_cff.py
Labels: analysis-pending, code-checks-approved, comparison-available, generators-approved, orp-approved, pending-signatures, tests-approved, xpog-approved

#28365 DD4hep: Cleanup HCal Barrel Algorithm
  Geometry/HcalAlgo/plugins/dd4hep/DDHCalBarrelAlgo.cc
  SimG4Core/DD4hepGeometry/test/python/testZMM_13TeV_TuneCUETP8M1_cfi_GEN_SIM.py
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, simulation-approved, tests-approved

#28357 Moved plugin from DQM/SiStripMonitorSummary shared library
  DQM/SiStripMonitorSummary/plugins/BuildFile.xml
  DQM/SiStripMonitorSummary/plugins/SiStripMonitorCondData.cc
  DQM/SiStripMonitorSummary/plugins/SiStripMonitorCondData.h
  DQM/SiStripMonitorSummary/plugins/SiStripMonitorCondDataOnDemandExample.cc
  DQM/SiStripMonitorSummary/plugins/SiStripMonitorCondDataOnDemandExample.h
  DQM/TrackingMonitorClient/BuildFile.xml
  DQM/TrackingMonitorClient/plugins/BuildFile.xml
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#28368 Hcal: A fix for DQM TDC inconsistency for 2017 workflows
  SimCalorimetry/HcalSimAlgos/src/HcalElectronicsSim.cc
  SimCalorimetry/HcalSimProducers/python/hcalSimParameters_cfi.py
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, requires-external, simulation-approved, tests-approved

#28324 record for xtal-dependent seeding thresholds
  CondFormats/DataRecord/interface/EcalPFSeedingThresholdsRcd.h
  CondFormats/DataRecord/src/EcalPFSeedingThresholdsRcd.cc
  CondFormats/EcalObjects/interface/EcalPFSeedingThresholds.h
Labels: alca-approved, code-checks-approved, comparison-available, db-approved, fully-signed, orp-approved, tests-approved

#28369 Run3-hcx237 Tidy up a few algos
  Geometry/HcalAlgo/plugins/dd4hep/DDHCalAngular.cc
  Geometry/HcalAlgo/plugins/dd4hep/DDHCalForwardAlgo.cc
  Geometry/HcalAlgo/plugins/dd4hep/DDHCalLinearXY.cc
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved

#28378 DD4hep: Tracker Fix PixelFwdBlades Numbering
  Geometry/TrackerCommonData/plugins/dd4hep/DDPixFwdDiskAlgo.cc
  Geometry/TrackerCommonData/plugins/dd4hep/DDPixPhase1FwdDiskAlgo.cc
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved

#28259 Include dedx collections in fastsim output [94X]
  FastSimulation/SimplifiedGeometryPropagator/plugins/FastTrackDeDxProducer.cc
  RecoTracker/Configuration/python/RecoTracker_cff.py
  RecoTracker/DeDx/python/dedxEstimators_cff.py
Labels: backport-ok, comparison-available, fastsim-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28258 Include dedx collections in fastsim output [102X]
  FastSimulation/SimplifiedGeometryPropagator/plugins/FastTrackDeDxProducer.cc
  RecoTracker/Configuration/python/RecoTracker_cff.py
  RecoTracker/DeDx/python/dedxEstimators_cff.py
Labels: backport-ok, comparison-available, fastsim-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28251 DQM: Added new package MuonMonitor for cosmic muons
  DQM/Integration/python/clients/mutracking_dqm_sourceclient-live_cfg.py
  DQM/MuonMonitor/BuildFile.xml
  DQM/MuonMonitor/plugins/BuildFile.xml
  DQM/MuonMonitor/plugins/CosmicMuonRecoAnalyzer.cc
  DQM/MuonMonitor/python/muonCosmicAnalyzer_cff.py
  DQM/MuonMonitor/python/muonRecoAnalyzer_cfi.py
  DQM/MuonMonitor/test/mutracking_dqm_sourceclient-live_cfg.py
Labels: comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#28374 HFnose: add simClusters
  SimGeneral/MixingModule/python/caloTruthProducer_cfi.py
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, simulation-approved, tests-approved

#28376 Run3-hcx238 Tidy up Hcal related agorithms and corresonding test examples
  DataFormats/Math/interface/GeantUnits.h
  Geometry/HcalAlgo/data/cms-test-ddhcalTBCable-algorithm.xml
  Geometry/HcalAlgo/data/cms-test-ddhcalTBZpos-algorithm.xml
  Geometry/HcalAlgo/plugins/dd4hep/DDHCalFibreBundle.cc
  Geometry/HcalAlgo/plugins/dd4hep/DDHCalTBCableAlgo.cc
  Geometry/HcalAlgo/plugins/dd4hep/DDHCalTBZposAlgo.cc
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, reconstruction-approved, tests-approved

#28377 Remove magnetic field-dependent Pixel Templates records
  CondCore/SiPixelPlugins/src/plugin.cc
  CondFormats/DataRecord/doc/DataRecord.doc
  CondFormats/DataRecord/interface/SiPixel2DTemplateDBObject0TRcd.h
  CondFormats/DataRecord/interface/SiPixel2DTemplateDBObject38TRcd.h
  CondFormats/DataRecord/interface/SiPixel2DTemplateDBObject4TRcd.h
  CondFormats/DataRecord/interface/SiPixelTemplateDBObject0TRcd.h
  CondFormats/DataRecord/interface/SiPixelTemplateDBObject38TRcd.h
  CondFormats/DataRecord/interface/SiPixelTemplateDBObject4TRcd.h
  CondFormats/DataRecord/src/SiPixel2DTemplateDBObject0TRcd.cc
  CondFormats/DataRecord/src/SiPixel2DTemplateDBObject38TRcd.cc
  CondFormats/DataRecord/src/SiPixel2DTemplateDBObject4TRcd.cc
  CondFormats/DataRecord/src/SiPixelTemplateDBObject0TRcd.cc
  CondFormats/DataRecord/src/SiPixelTemplateDBObject38TRcd.cc
  CondFormats/DataRecord/src/SiPixelTemplateDBObject4TRcd.cc
Labels: alca-approved, code-checks-approved, comparison-available, db-approved, fully-signed, orp-approved, tests-approved

#28384 DD4hep: Replace "const char*" with "const std::string&"
  DetectorDescription/DDCMS/data/cms-geometry-2021.xml
  DetectorDescription/DDCMS/interface/DDFilteredView.h
  DetectorDescription/DDCMS/interface/DDSpecParRegistry.h
  DetectorDescription/DDCMS/src/DDFilteredView.cc
  DetectorDescription/DDCMS/src/DDSpecparRegistry.cc
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved

#28386 DD4hep: Tracker TIB Algo Fix Tube Arguments
  Geometry/TrackerCommonData/plugins/dd4hep/DDTIBLayerAlgo.cc
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved

#28390 Run3-hcx240 Clean up two HCal endcap algorithms for dd4hep
  Geometry/HcalAlgo/plugins/dd4hep/DDHCalEndcapAlgo.cc
  Geometry/HcalAlgo/plugins/dd4hep/DDHCalEndcapModuleAlgo.cc
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved

#28400 [CC8] Unit test fixed; fixes needed for Perl 5.26
  Alignment/MillePedeAlignmentAlgorithm/scripts/mps_script.pl
  Alignment/MillePedeAlignmentAlgorithm/scripts/mps_setupm.pl
  Alignment/MillePedeAlignmentAlgorithm/scripts/mps_split.pl
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#28394 CP5 tune variations in 71X
  Configuration/Generator/python/MCTunes2017/PythiaCP5TuneDownSettings_cfi.py
  Configuration/Generator/python/MCTunes2017/PythiaCP5TuneUpSettings_cfi.py
Labels: comparison-available, fully-signed, generators-approved, orp-approved, tests-approved

#28395 Run3-TB46 Fix the test beam runs in view of present changes
  Geometry/HcalTestBeamData/data/CaloUtil.xml
  Geometry/HcalTestBeamData/python/hcalDDDSimConstants_cff.py
  SimG4CMS/Calo/src/HCalSD.cc
  SimG4CMS/HcalTestBeam/python/TB2003GeometryXML_cfi.py
  SimG4CMS/HcalTestBeam/python/TB2004GeometryXML_cfi.py
  SimG4CMS/HcalTestBeam/python/TB2006Analysis_cfi.py
  SimG4CMS/HcalTestBeam/test/python/anal_tb06_cfg.py
  SimG4CMS/HcalTestBeam/test/python/anal_tb06_noEcal_cfg.py
  SimG4CMS/HcalTestBeam/test/python/run2003_cfg.py
  SimG4CMS/HcalTestBeam/test/python/run2004_cfg.py
  SimG4CMS/HcalTestBeam/test/python/run2006_33_cfg.py
  SimG4CMS/HcalTestBeam/test/python/run2006_37_cfg.py
  SimG4CMS/HcalTestBeam/test/python/run2006_77_cfg.py
  SimG4CMS/HcalTestBeam/test/python/run2006_cfg.py
  SimG4CMS/HcalTestBeam/test/python/run2007_cfg.py
  SimG4CMS/HcalTestBeam/test/python/run2010_cfg.py
  SimG4Core/Application/python/g4SimHits_cfi.py
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, simulation-approved, tests-approved

#28359 (DAQ) Revert to untracked parameters and new configuration
  EventFilter/Utilities/interface/EvFDaqDirector.h
  EventFilter/Utilities/src/EvFDaqDirector.cc
  EventFilter/Utilities/test/startBU.py
  EventFilter/Utilities/test/startFU.py
  EventFilter/Utilities/test/start_multiLS_FU.py
Labels: code-checks-approved, comparison-available, daq-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28370 Keeping sumPt from MET Significance calculation
  DataFormats/PatCandidates/interface/MET.h
  DataFormats/PatCandidates/src/MET.cc
  DataFormats/PatCandidates/src/classes_def_objects.xml
  PhysicsTools/PatAlgos/plugins/PATMETProducer.cc
  PhysicsTools/PatAlgos/plugins/PATMETProducer.h
  RecoMET/METAlgorithms/interface/METSignificance.h
  RecoMET/METAlgorithms/src/METSignificance.cc
  RecoMET/METProducers/src/METSignificanceProducer.cc
  RecoMET/METProducers/src/PFMETProducer.cc
Labels: analysis-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28389 Register consumes from the EventSetup in GsfElectronAlgo
  RecoEgamma/EgammaElectronAlgos/interface/GsfElectronAlgo.h
  RecoEgamma/EgammaElectronAlgos/src/GsfElectronAlgo.cc
  RecoEgamma/EgammaElectronProducers/plugins/GsfElectronBaseProducer.cc
  RecoEgamma/EgammaElectronProducers/plugins/GsfElectronBaseProducer.h
  RecoEgamma/EgammaElectronProducers/plugins/GsfElectronProducer.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28393 [HGCal] Updates on HGCalValidator
  RecoHGCal/TICL/python/ticl_iterations.py
  Validation/HGCalValidation/interface/HGCalValidator.h
  Validation/HGCalValidation/interface/HGVHistoProducerAlgo.h
  Validation/HGCalValidation/plugins/HGCalValidator.cc
  Validation/HGCalValidation/python/HGCalValidator_cfi.py
  Validation/HGCalValidation/python/HGVHistoProducerAlgoBlock_cfi.py
  Validation/HGCalValidation/python/PostProcessorHGCAL_cfi.py
  Validation/HGCalValidation/python/hgcalPlots.py
  Validation/HGCalValidation/scripts/makeHGCalValidationPlots.py
  Validation/HGCalValidation/src/HGVHistoProducerAlgo.cc
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved, upgrade-approved

#28405 Added tests for non-event consumes ordering of modules
  FWCore/Framework/test/BuildFile.xml
  FWCore/Framework/test/stubs/ToyIntProducers.cc
  FWCore/Framework/test/test_non_event_ordering.sh
  FWCore/Framework/test/test_non_event_ordering_beginLumi_cfg.py
  FWCore/Framework/test/test_non_event_ordering_beginRun_cfg.py
  FWCore/Framework/test/test_non_event_ordering_endLumi_cfg.py
  FWCore/Framework/test/test_non_event_ordering_endRun_cfg.py
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#28410 Enforce proper produce calls for Begin and End Transitions
  FWCore/Framework/interface/ProductRegistryHelper.h
  FWCore/Framework/interface/global/EDFilter.h
  FWCore/Framework/interface/global/EDProducer.h
  FWCore/Framework/interface/limited/EDFilter.h
  FWCore/Framework/interface/limited/EDProducer.h
  FWCore/Framework/interface/moduleAbilities.h
  FWCore/Framework/interface/one/EDFilter.h
  FWCore/Framework/interface/one/EDProducer.h
  FWCore/Framework/interface/stream/EDFilter.h
  FWCore/Framework/interface/stream/EDProducer.h
  FWCore/Framework/src/ProductRegistryHelper.cc
  FWCore/Sources/interface/PuttableSourceBase.h
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#28413 Fix use of object after destructor in HcalHardcodeCalibrations
  CalibCalorimetry/HcalPlugins/src/HcalHardcodeCalibrations.cc
Labels: alca-approved, bug-fix, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#28388 Added consumes to HcalTextCalibrations
  CalibCalorimetry/HcalPlugins/src/HcalTextCalibrations.cc
  CalibCalorimetry/HcalPlugins/src/HcalTextCalibrations.h
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#28312 Make cond::persistency::KeyList const thread-safe
  CondCore/CondDB/interface/KeyList.h
  CondCore/CondDB/interface/KeyListProxy.h
  CondCore/CondDB/src/KeyList.cc
  CondCore/CondDB/src/SessionImpl.cc
  CondCore/CondDB/src/SessionImpl.h
  CondCore/PopCon/interface/PopConAnalyzer.h
  CondTools/DT/interface/DTKeyedConfigCache.h
  CondTools/DT/interface/DTKeyedConfigHandler.h
  CondTools/DT/interface/DTUserKeyedConfigHandler.h
  CondTools/DT/plugins/DTKeyedConfigDBDump.cc
  CondTools/DT/plugins/DTKeyedConfigPopConAnalyzer.cc
  CondTools/DT/plugins/DTUserKeyedConfigPopConAnalyzer.cc
  CondTools/DT/src/DTKeyedConfigCache.cc
  CondTools/DT/src/DTKeyedConfigHandler.cc
  CondTools/DT/src/DTUserKeyedConfigHandler.cc
  CondTools/DT/test/stubs/DTKeyedConfigDump.cc
  L1TriggerConfig/DTTPGConfigProducers/src/DTConfigDBProducer.cc
Labels: alca-approved, code-checks-approved, comparison-available, db-pending, l1-pending, orp-approved, pending-signatures, tests-approved

#28399 Move Sequence to Task for RecoTauTag RecoCTPPS
  RecoCTPPS/PixelLocal/python/ctppsPixelLocalReconstruction_cff.py
  RecoCTPPS/TotemRPLocal/python/ctppsDiamondLocalReconstruction_cff.py
  RecoCTPPS/TotemRPLocal/python/totemRPLocalReconstruction_cff.py
  RecoCTPPS/TotemRPLocal/python/totemTimingLocalReconstruction_cff.py
  RecoEgamma/EgammaIsolationAlgos/python/eleIsoDeposits_cff.py
  RecoEgamma/EgammaIsolationAlgos/python/eleIsoFromDeposits_cff.py
  RecoEgamma/EgammaIsolationAlgos/python/eleIsolationSequence_cff.py
  RecoEgamma/EgammaIsolationAlgos/python/gamIsoDeposits_cff.py
  RecoEgamma/EgammaIsolationAlgos/python/gamIsoFromDeposits_cff.py
  RecoEgamma/EgammaIsolationAlgos/python/gamIsolationSequence_cff.py
  RecoEgamma/EgammaPhotonProducers/python/conversionTrackSequenceForReReco_cff.py
  RecoEgamma/EgammaPhotonProducers/python/conversionTracks_cff.py
  RecoTauTag/Configuration/python/PFTauVertexandImpactParameters_cff.py
  RecoTauTag/RecoTau/python/PATTauDiscriminationByMVAIsolationRun2_cff.py
  RecoTauTag/RecoTau/python/PFRecoTauDiscriminationByMVAIsolation2_cff.py
  RecoTauTag/RecoTau/python/PFRecoTauDiscriminationByMVAIsolationRun2_cff.py
  RecoTracker/IterativeTracking/python/LowPtForwardTripletStep_cff.py
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28412 MTD geometry migration to DD4hep: test configuration and basic test analyzers
  Configuration/Geometry/README.md
  Configuration/Geometry/python/GeometryExtended2026D50Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D50_cff.py
  Configuration/Geometry/python/dict2026Geometry.py
  Configuration/StandardSequences/python/GeometryConf.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D50XML_cfi.py
  Geometry/MTDCommonData/data/btl/v1/btl.xml
  Geometry/MTDCommonData/data/btl/v1/btlStructureTopology.xml
  Geometry/MTDCommonData/data/dd4hep/cms-mtd-geometry.xml
  Geometry/MTDCommonData/data/dd4hep/tracker.xml
  Geometry/MTDCommonData/data/etl/v3/etl.xml
  Geometry/MTDCommonData/data/mtdMaterial/v1/mtdMaterial.xml
  Geometry/MTDCommonData/data/mtdParameters/v1/mtdParameters.xml
  Geometry/MTDCommonData/test/BuildFile.xml
  Geometry/MTDCommonData/test/DD4hep_TestMTDNumbering.cc
  Geometry/MTDCommonData/test/DD4hep_TestMTDPosition.cc
  Geometry/MTDCommonData/test/TestMTDPosition.cc
  Geometry/MTDCommonData/test/testMTDinDD4hep.py
  Geometry/MTDCommonData/test/testMTDinDDD.py
  Geometry/MTDSimData/data/v1/mtdProdCuts.xml
  Geometry/MTDSimData/data/v1/mtdsens.xml
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, operations-approved, orp-approved, tests-approved, upgrade-approved

#28349 HGCAL digitisation: end-of-life updates, more realism for startup
  DataFormats/HGCDigi/interface/HGCSample.h
  DataFormats/HGCDigi/src/classes_def.xml
  DataFormats/HGCDigi/test/BuildFile.xml
  DataFormats/HGCDigi/test/HGCSampleTest.cpp
  RecoLocalCalo/HGCalRecProducers/interface/HGCalCLUEAlgo.h
  SLHCUpgradeSimulations/Configuration/python/aging.py
  SimCalorimetry/HGCalSimAlgos/interface/HGCalRadiationMap.h
  SimCalorimetry/HGCalSimAlgos/interface/HGCalSiNoiseMap.h
  SimCalorimetry/HGCalSimAlgos/src/HGCalRadiationMap.cc
  SimCalorimetry/HGCalSimAlgos/src/HGCalSiNoiseMap.cc
  SimCalorimetry/HGCalSimAlgos/test/HGCHEbackSignalScalerAnalyzer.cc
  SimCalorimetry/HGCalSimAlgos/test/HGCSiNoiseMapAnalyzer.cc
  SimCalorimetry/HGCalSimAlgos/test/hgcsiNoiseMapTester_cfg.py
  SimCalorimetry/HGCalSimProducers/interface/HGCFEElectronics.h
  SimCalorimetry/HGCalSimProducers/python/hgcalDigitizer_cfi.py
  SimCalorimetry/HGCalSimProducers/src/HGCDigitizerBase.cc
  SimCalorimetry/HGCalSimProducers/src/HGCFEElectronics.cc
  SimCalorimetry/HGCalSimProducers/src/HGCHEbackDigitizer.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, simulation-approved, tests-approved, upgrade-approved

#28416 Clean-up Geant4 Physics Lists
  SimG4Core/CustomPhysics/python/Exotica_HSCP_SIM_cfi.py
  SimG4Core/CustomPhysics/python/Exotica_MT_SIM_cfi.py
  SimG4Core/PhysicsLists/plugins/FTFPCMS_BERT_EMY.cc
  SimG4Core/PhysicsLists/plugins/QGSPCMS_FTFP_BERT_EMY.cc
  SimG4Core/PhysicsLists/src/CMSEmStandardPhysicsLPM.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, simulation-approved, tests-approved

#28366 HBHE: speed up + mahi move double to float
  RecoLocalCalo/HcalRecAlgos/interface/EigenMatrixTypes.h
  RecoLocalCalo/HcalRecAlgos/interface/MahiFit.h
  RecoLocalCalo/HcalRecAlgos/interface/PulseShapeFunctor.h
  RecoLocalCalo/HcalRecAlgos/src/HcalDeterministicFit.cc
  RecoLocalCalo/HcalRecAlgos/src/MahiFit.cc
  RecoLocalCalo/HcalRecAlgos/src/PulseShapeFunctor.cc
  RecoLocalCalo/HcalRecAlgos/src/SimpleHBHEPhase1Algo.cc
  RecoLocalCalo/HcalRecAlgos/src/parseHBHEPhase1AlgoDescription.cc
  RecoLocalCalo/HcalRecProducers/src/HBHEPhase1Reconstructor.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28426 Minimal python3 compatibility for FWCore/ParameterSet scripts
  FWCore/ParameterSet/scripts/edmConfigIncludeChecker
  FWCore/ParameterSet/scripts/edmConfigSplit
  FWCore/ParameterSet/scripts/edmPythonConfigToCppValidation
  FWCore/ParameterSet/scripts/edmPythonSearch
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#28342 DQM: Reduce TH1 Usage
  Calibration/HcalCalibAlgos/test/ValidationHcalIsoTrackAlCaReco.cc
  DQM/BeamMonitor/plugins/BeamMonitor.cc
  DQM/CTPPS/plugins/CTPPSDiamondDQMSource.cc
  DQM/CTPPS/plugins/CTPPSPixelDQMSource.cc
  DQM/CastorMonitor/src/CastorDigiMonitor.cc
  DQM/CastorMonitor/src/CastorLEDMonitor.cc
  DQM/CastorMonitor/src/CastorMonitorModule.cc
  DQM/CastorMonitor/src/CastorRecHitMonitor.cc
  DQM/L1TMonitor/src/L1TStage2CaloLayer1.cc
  DQM/L1TMonitor/src/L1TdeRCT.cc
  DQM/L1TMonitor/src/L1TdeStage2CaloLayer1.cc
  DQM/L1TMonitor/src/L1TdeStage2uGT.cc
  DQM/L1TMonitorClient/src/L1TGMTClient.cc
  DQM/Physics/src/QcdPhotonsDQM.cc
  DQM/RPCMonitorClient/src/RPCMonitorLinkSynchro.cc
  DQM/RPCMonitorClient/src/RPCMonitorRaw.cc
  DQM/SiStripCommon/src/TkHistoMap.cc
  DQM/SiStripMonitorCluster/src/SiStripMonitorCluster.cc
  DQM/SiStripMonitorDigi/src/SiStripMonitorDigi.cc
  DQM/SiStripMonitorTrack/src/SiStripMonitorTrack.cc
  DQM/TrackingMonitor/src/TrackAnalyzer.cc
  DQM/TrackingMonitor/src/TrackEfficiencyClient.cc
  DQM/TrackingMonitorClient/plugins/TrackingDQMClientHeavyIons.cc
  DQMOffline/EGamma/src/ElectronDqmAnalyzerBase.cc
  DQMOffline/EGamma/src/ElectronDqmHarvesterBase.cc
  DQMOffline/JetMET/src/CaloTowerAnalyzer.cc
  DQMOffline/JetMET/src/DataCertificationJetMET.cc
  DQMOffline/JetMET/src/JetAnalyzer.cc
  DQMOffline/JetMET/src/METAnalyzer.cc
  DQMOffline/L1Trigger/src/L1TFillWithinLimits.cc
  DQMOffline/PFTau/plugins/PFClient.cc
  DQMOffline/RecoB/interface/FlavourHistorgrams.h
  DQMOffline/RecoB/interface/FlavourHistorgrams2D.h
  DQMOffline/RecoB/interface/TrackIPHistograms.h
  DQMOffline/RecoB/plugins/PrimaryVertexMonitor.cc
  DQMOffline/RecoB/src/EffPurFromHistos2D.cc
  DQMOffline/Trigger/src/HLTMuonMatchAndPlot.cc
  DQMOffline/Trigger/src/HLTTauDQMPathPlotter.cc
  DQMOffline/Trigger/src/HLTTauDQMTagAndProbePlotter.cc
  HLTrigger/Timer/plugins/FastTimerServiceClient.cc
  Validation/HcalDigis/src/ZDCDigiStudy.cc
  Validation/HcalHits/src/ZdcSimHitStudy.cc
  Validation/RecoB/plugins/recoBSVTagInfoValidationAnalyzer.cc
  Validation/SiOuterTrackerV/src/OuterTrackerMCHarvester.cc
Labels: alca-approved, code-checks-approved, comparison-available, dqm-approved, hlt-approved, l1-pending, orp-approved, pending-signatures, tests-approved

#28425 [CC8] unit test fixed, no need to use static ServiceToken and Registry
  CondCore/CondDB/test/testConnectionPool.cpp
  CondCore/CondDB/test/testFrontier.cpp
Labels: code-checks-approved, comparison-available, db-pending, orp-approved, pending-signatures, tests-approved

#28402 Prevent directory traversal in cmsswConfigtrace.py
  DQMOffline/Configuration/scripts/cmsswConfigtrace.py
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#28334 Updates for GE1/1-ME1/1 and GE2/1-ME2/1 integrated trigger
  L1Trigger/CSCTriggerPrimitives/interface/CSCGEMMotherboard.h
  L1Trigger/CSCTriggerPrimitives/interface/CSCUpgradeMotherboardLUT.h
  L1Trigger/CSCTriggerPrimitives/interface/CSCUpgradeMotherboardLUTGenerator.h
  L1Trigger/CSCTriggerPrimitives/python/cscTriggerPrimitiveDigis_cfi.py
  L1Trigger/CSCTriggerPrimitives/src/CSCGEMMotherboard.cc
  L1Trigger/CSCTriggerPrimitives/src/CSCGEMMotherboardME11.cc
  L1Trigger/CSCTriggerPrimitives/src/CSCGEMMotherboardME21.cc
  L1Trigger/CSCTriggerPrimitives/src/CSCUpgradeMotherboardLUT.cc
  L1Trigger/CSCTriggerPrimitives/src/CSCUpgradeMotherboardLUTGenerator.cc
Labels: code-checks-approved, comparison-available, fully-signed, l1-approved, orp-approved, tests-approved

#28408 E/g HLT Pixel match Speedups: 11_0_X
  RecoEgamma/EgammaElectronAlgos/interface/TrajSeedMatcher.h
  RecoEgamma/EgammaElectronAlgos/src/TrajSeedMatcher.cc
  RecoEgamma/EgammaElectronProducers/plugins/ElectronNHitSeedProducer.cc
  RecoEgamma/EgammaHLTProducers/plugins/EgammaHLTFilteredObjProducer.h
Labels: code-checks-approved, comparison-available, fully-signed, hlt-approved, orp-approved, reconstruction-approved, tests-approved

#28337 [HGCal] HGCalValidation: added hitCalibration for web page
  Validation/HGCalValidation/python/hgcalPlots.py
  Validation/HGCalValidation/scripts/makeHGCalValidationPlots.py
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#28434 Explicitly copy scripts which should end up in cmssw/bin directory
  Alignment/MillePedeAlignmentAlgorithm/scripts/BuildFile.xml
  Utilities/ReleaseScripts/scripts/BuildFile.xml
  Utilities/ReleaseScripts/scripts/XML2Python.py
Labels: alca-pending, code-checks-approved, comparison-available, core-approved, orp-approved, pending-signatures, tests-approved

#28431 Removing the RPCEfficiency folder and unused plots in the RPC DQM
  DQM/RPCMonitorClient/doc/RPCMonitorClient.doc
  DQM/RPCMonitorClient/interface/RPCEfficiencyPerRingLayer.h
  DQM/RPCMonitorClient/interface/RPCEfficiencySecond.h
  DQM/RPCMonitorClient/interface/RPCEfficiencyShiftHisto.h
  DQM/RPCMonitorClient/python/RPCEfficiencyPerRingLayer_cfi.py
  DQM/RPCMonitorClient/python/RPCEfficiencySecondStep_cfi.py
  DQM/RPCMonitorClient/python/RPCEfficiencyShiftHisto_cfi.py
  DQM/RPCMonitorClient/python/RPCTier0Client_cff.py
  DQM/RPCMonitorClient/python/RPCTier0Source_cff.py
  DQM/RPCMonitorClient/src/RPCEfficiencyPerRingLayer.cc
  DQM/RPCMonitorClient/src/RPCEfficiencySecond.cc
  DQM/RPCMonitorClient/src/RPCEfficiencyShiftHisto.cc
  DQM/RPCMonitorClient/src/RPCOccupancyTest.cc
  DQM/RPCMonitorClient/src/SealModule.cc
  DQM/RPCMonitorClient/test/rpcefficiencySecondHLT_cfg.py
  DQM/RPCMonitorClient/test/rpcefficiencySecond_cfg.py
  DQM/RPCMonitorDigi/interface/RPCEfficiency.h
  DQM/RPCMonitorDigi/python/RPCEfficiency_cfi.py
  DQM/RPCMonitorDigi/src/RPCEfficiency.cc
  DQM/RPCMonitorDigi/src/RPCEfficiencyBook.cc
  DQM/RPCMonitorDigi/src/SealModule.cc
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#28355 Activate SiStrip APV Simulation for 2016 MC
  Configuration/AlCa/python/autoCond.py
  Configuration/Eras/python/Era_Run2_2016_cff.py
  Configuration/Eras/python/Era_Run2_2017_cff.py
  Configuration/Eras/python/Modifier_strips_vfp30_2016_cff.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  PhysicsTools/PatAlgos/python/slimming/MicroEventContent_cff.py
  SimGeneral/MixingModule/python/SiStripSimParameters_cfi.py
  SimGeneral/MixingModule/python/aliases_PreMix_cfi.py
  SimGeneral/MixingModule/python/aliases_cfi.py
  SimGeneral/MixingModule/python/stripDigitizer_cfi.py
  SimTracker/Configuration/python/SimTracker_EventContent_cff.py
Labels: alca-approved, analysis-pending, code-checks-approved, comparison-available, operations-approved, orp-approved, pdmv-approved, pending-signatures, reconstruction-approved, simulation-approved, tests-approved, upgrade-approved

#28420 Merge ME0Trigger into L1TGEM
  L1Trigger/L1TGEM/interface/ME0Motherboard.h
  L1Trigger/L1TGEM/interface/ME0TriggerBuilder.h
  L1Trigger/L1TGEM/interface/ME0TriggerPseudoBuilder.h
  L1Trigger/L1TGEM/plugins/BuildFile.xml
  L1Trigger/L1TGEM/plugins/GEMPadDigiClusterProducer.cc
  L1Trigger/L1TGEM/plugins/GEMPadDigiProducer.cc
  L1Trigger/L1TGEM/plugins/GEMPadDigiReader.cc
  L1Trigger/L1TGEM/plugins/ME0PadDigiProducer.cc
  L1Trigger/L1TGEM/plugins/ME0TriggerProducer.cc
  L1Trigger/L1TGEM/plugins/ME0TriggerPseudoProducer.cc
  L1Trigger/L1TGEM/python/me0TriggerConvertedPseudoDigis_cfi.py
  L1Trigger/L1TGEM/python/me0TriggerDigis_cff.py
  L1Trigger/L1TGEM/python/me0TriggerDigis_cfi.py
  L1Trigger/L1TGEM/python/me0TriggerPseudoDigis_cff.py
  L1Trigger/L1TGEM/python/simMuonME0PadDigis_cfi.py
  L1Trigger/L1TGEM/src/ME0Motherboard.cc
  L1Trigger/L1TGEM/src/ME0TriggerBuilder.cc
  L1Trigger/L1TGEM/src/ME0TriggerPseudoBuilder.cc
  L1Trigger/L1TGEM/test/BuildFile.xml
  L1Trigger/L1TGEM/test/ME0TPEmulator_cfg.py
  L1Trigger/L1TGEM/test/runME0_Reco_L1.py
  L1Trigger/L1TMuon/python/simDigis_cff.py
  L1Trigger/ME0Trigger/BuildFile.xml
  L1Trigger/ME0Trigger/interface/ME0TriggerBuilder.h
  L1Trigger/ME0Trigger/plugins/BuildFile.xml
  L1Trigger/ME0Trigger/plugins/ME0PadDigiClusterProducer.cc
  L1Trigger/ME0Trigger/plugins/ME0TriggerProducer.h
  L1Trigger/ME0Trigger/plugins/ME0TriggerPseudoProducer.h
  L1Trigger/ME0Trigger/plugins/SealModule.cc
  L1Trigger/ME0Trigger/src/ME0TriggerBuilder.cc
Labels: code-checks-approved, comparison-available, fully-signed, l1-approved, orp-approved, tests-approved, upgrade-approved

#28440 Raise exception if replacing a module in Task/Sequence with an EDAlias
  FWCore/ParameterSet/python/Config.py
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#28424 Avoid comparisons in python utilities when objects are not expected to be the same type
  FWCore/ParameterSet/python/Config.py
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#28447 Fix a crash in edm::checkForModuleDependencyCorrectness() in case of Path with Task but no direct modules
  FWCore/Framework/src/PathsAndConsumesOfModules.cc
  FWCore/Framework/test/BuildFile.xml
  FWCore/Framework/test/test_emptyEndPathWithTask_cfg.py
  FWCore/Framework/test/test_emptyPath.sh
  FWCore/Framework/test/test_emptyPathWithTask_cfg.py
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#28450 Faster formatting of header for MessageLogger
  FWCore/MessageService/interface/MessageLogger.h
  FWCore/MessageService/src/MessageLogger.cc
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#28445 Make HLTHighLevel a stream module
  HLTrigger/HLTfilters/plugins/HLTHighLevel.cc
  HLTrigger/HLTfilters/plugins/HLTHighLevel.h
Labels: code-checks-approved, comparison-available, fully-signed, hlt-approved, orp-approved, tests-approved

#28454 Fix alias in PreMixing configuration for APV simulation
  SimGeneral/MixingModule/python/aliases_PreMix_cfi.py
Labels: code-checks-approved, comparison-available, orp-approved, pending-signatures, simulation-pending, tests-approved

#28428 No actual use for EcalClusterShapeFunction in HiEgammaAlgos
  RecoEgamma/EgammaPhotonAlgos/interface/PhotonEnergyCorrector.h
  RecoEgamma/EgammaPhotonAlgos/src/PhotonEnergyCorrector.cc
  RecoEgamma/EgammaPhotonProducers/interface/GEDPhotonProducer.h
  RecoEgamma/EgammaPhotonProducers/interface/PhotonProducer.h
  RecoEgamma/EgammaPhotonProducers/interface/ReducedEGProducer.h
  RecoEgamma/EgammaPhotonProducers/src/GEDPhotonProducer.cc
  RecoEgamma/EgammaPhotonProducers/src/PhotonProducer.cc
  RecoEgamma/EgammaPhotonProducers/src/ReducedEGProducer.cc
  RecoHI/HiEgammaAlgos/interface/HiEgammaSCEnergyCorrectionAlgo.h
  RecoHI/HiEgammaAlgos/plugins/HiEgammaSCCorrectionMaker.cc
  RecoHI/HiEgammaAlgos/plugins/HiEgammaSCCorrectionMaker.h
  RecoHI/HiEgammaAlgos/src/HiEgammaSCEnergyCorrectionAlgo.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28160 [10.6.X] Dynamical APV gain simulation (backport)
  CalibTracker/SiStripESProducers/plugins/real/SiStripApvSimulationParametersESProducer.cc
  CondCore/SiStripPlugins/plugins/plugin.cc
  CondCore/Utilities/plugins/Module_2XML.cc
  CondCore/Utilities/src/CondDBFetch.cc
  CondCore/Utilities/src/CondDBImport.cc
  CondCore/Utilities/src/CondFormats.h
  CondFormats/DataRecord/interface/SiStripCondDataRecords.h
  CondFormats/DataRecord/src/SiStripCondDataRecords.cc
  CondFormats/PhysicsToolsObjects/interface/Histogram3D.icc
  CondFormats/SiStripObjects/BuildFile.xml
  CondFormats/SiStripObjects/interface/SiStripApvSimulationParameters.h
  CondFormats/SiStripObjects/src/SiStripApvSimulationParameters.cc
  CondFormats/SiStripObjects/src/T_EventSetup_SiStrip.cc
  CondFormats/SiStripObjects/src/classes_def.xml
  CondFormats/SiStripObjects/src/headers.h
  CondFormats/SiStripObjects/test/testSerializationSiStripObjects.cpp
  CondTools/SiStrip/plugins/SiStripApvSimulationParametersBuilder.cc
  CondTools/SiStrip/test/SiStripApvSimulationParametersBuilder_cfg.py
  SimGeneral/MixingModule/python/SiStripSimParameters_cfi.py
  SimTracker/SiStripDigitizer/data/pulse_2016.txt
  SimTracker/SiStripDigitizer/plugins/PreMixingSiStripWorker.cc
  SimTracker/SiStripDigitizer/plugins/SiStripDigitizer.cc
  SimTracker/SiStripDigitizer/plugins/SiStripDigitizer.h
  SimTracker/SiStripDigitizer/plugins/SiStripDigitizerAlgorithm.cc
  SimTracker/SiStripDigitizer/plugins/SiStripDigitizerAlgorithm.h
Labels: alca-approved, comparison-available, db-approved, fully-signed, orp-approved, simulation-approved, tests-approved

#28177 Tau Validation/DQM: switching deepTau version from v2 to v2p1 for CMSSW10_6_X
  Validation/RecoTau/interface/TauValidationMiniAOD.h
  Validation/RecoTau/src/TauValidationMiniAOD.cc
Labels: comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#28351 Fix DQM ZB workflows and moved DQM FS configuration to DQM package
  Configuration/Applications/python/ConfigBuilder.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  DQMOffline/Configuration/python/DQMOfflineFS_cff.py
  DQMOffline/Configuration/python/DQMOffline_Certification_cff.py
  DQMOffline/Configuration/python/DQMOffline_cff.py
  DQMOffline/Configuration/python/autoDQM.py
Labels: code-checks-approved, comparison-available, dqm-approved, operations-approved, orp-approved, pdmv-pending, pending-signatures, tests-approved, upgrade-approved

#28437 Low energy GFlash-like parameterization
  SimG4CMS/Calo/interface/CaloSD.h
  SimG4CMS/Calo/src/CaloSD.cc
  SimG4Core/Application/interface/LowEnergyFastSimModel.h
  SimG4Core/Application/interface/LowEnergyFastSimParam.h
  SimG4Core/Application/python/g4SimHits_cfi.py
  SimG4Core/Application/src/LowEnergyFastSimModel.cc
  SimG4Core/Application/src/ParametrisedEMPhysics.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, simulation-approved, tests-approved

#28457 Minor improvements to MessageLogger
  FWCore/MessageLogger/interface/ErrorObj.h
  FWCore/MessageLogger/interface/MessageDrop.h
  FWCore/MessageLogger/src/ErrorObj.cc
  FWCore/MessageService/interface/MessageLogger.h
  FWCore/MessageService/src/MessageLogger.cc
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#28458 Separate out transition generation from ProducerSourceBase
  FWCore/Framework/interface/InputSource.h
  FWCore/Modules/src/EmptySource.cc
  FWCore/Sources/interface/IDGeneratorSourceBase.h
  FWCore/Sources/interface/ProducerSourceBase.h
  FWCore/Sources/src/IDGeneratorSourceBase.cc
  FWCore/Sources/src/ProducerSourceBase.cc
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#28446 remove MTD 'fastsim' modules
  RecoVertex/Configuration/python/RecoVertex_EventContent_cff.py
  RecoVertex/Configuration/python/RecoVertex_cff.py
  RecoVertex/Configuration/python/RecoVertex_phase2_timing_cff.py
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved, upgrade-approved

#28459 Delay constructing transition wrappers
  FWCore/Framework/interface/Event.h
  FWCore/Framework/interface/LuminosityBlock.h
  FWCore/Framework/interface/PrincipalGetAdapter.h
  FWCore/Framework/src/Event.cc
  FWCore/Framework/src/LuminosityBlock.cc
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#28449 Make SiStripDCSFilter a stream module
  CalibTracker/SiStripCommon/interface/SiStripDCSStatus.h
  CalibTracker/SiStripCommon/plugins/SiStripDCSFilter.cc
  CalibTracker/SiStripCommon/src/SiStripDCSStatus.cc
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#28301 make Pythia8Interface compatible with DIRE 2.004
  GeneratorInterface/Pythia8Interface/plugins/Pythia8Hadronizer.cc
Labels: code-checks-approved, comparison-available, fully-signed, generators-approved, orp-approved, requires-external, tests-approved

#28439 Adapt FWCore/PythonUtilities to python3
  FWCore/PythonUtilities/python/XML2Python.py
  FWCore/PythonUtilities/scripts/edmDumpEventContent
  FWCore/PythonUtilities/scripts/generateEDF.py
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#28460 [HGCAL trigger] Revert const back to constexpr
  L1Trigger/L1THGCal/interface/backend/HGCalClusteringImpl.h
  L1Trigger/L1THGCal/interface/concentrator/HGCalConcentratorBestChoiceImpl.h
Labels: code-checks-approved, comparison-available, l1-pending, orp-approved, pending-signatures, tests-approved, upgrade-approved

#28418 Run3-hcx242 First step to make HCAL parameters to be read in DDD/DD4Hep
  Geometry/HcalCommonData/interface/HcalParametersFromDD.h
  Geometry/HcalCommonData/plugins/HcalParametersESModule.cc
  Geometry/HcalCommonData/plugins/HcalSimParametersESModule.cc
  Geometry/HcalCommonData/python/hcalDDConstants_cff.py
  Geometry/HcalCommonData/python/hcalDDDSimConstants_cff.py
  Geometry/HcalCommonData/python/hcalParameters_cff.py
  Geometry/HcalCommonData/src/HcalParametersFromDD.cc
  Geometry/HcalCommonData/test/python/runHcalParametersFromDDAnalyzer_cfg.py
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved

#28441 Update Run3 Tracker (Pixel and Strips) conditions
  Configuration/AlCa/python/autoCond.py
  SimGeneral/MixingModule/python/SiPixelSimParameters_cfi.py
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, simulation-approved, tests-approved

#28466 Changes for new trained regression for UL 2016 - 110X
  Configuration/Eras/python/Era_Run2_2016_cff.py
  Configuration/Eras/python/Era_Run2_2017_cff.py
  Configuration/Eras/python/Modifier_run2_ECAL_2016_cff.py
  RecoEgamma/EgammaTools/python/regressionModifier_cfi.py
  RecoParticleFlow/PFClusterProducer/python/particleFlowClusterECAL_cff.py
  RecoParticleFlow/PFClusterProducer/python/particleFlowClusterOOTECAL_cff.py
Labels: code-checks-approved, comparison-available, fully-signed, operations-approved, orp-approved, reconstruction-approved, tests-approved

#28478 Fix extend_argparse location in HLTrigger (110X)
  HLTrigger/Configuration/python/extend_argparse.py
  HLTrigger/Configuration/scripts/hltGetConfiguration
  HLTrigger/Configuration/scripts/hltListPaths
Labels: bug-fix, code-checks-approved, comparison-available, fully-signed, hlt-approved, orp-approved, tests-approved

#28471 Add a flag to disable matching in SiStripRecHitConverter
  RecoLocalTracker/SiStripRecHitConverter/interface/SiStripRecHitConverterAlgorithm.h
  RecoLocalTracker/SiStripRecHitConverter/plugins/SiStripRecHitConverter.cc
  RecoLocalTracker/SiStripRecHitConverter/plugins/SiStripRecHitConverter.h
  RecoLocalTracker/SiStripRecHitConverter/python/SiStripRecHitConverter_cfi.py
  RecoLocalTracker/SiStripRecHitConverter/src/ES_SiStripRecHitMatcher.cc
  RecoLocalTracker/SiStripRecHitConverter/src/SiStripRecHitConverterAlgorithm.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28473 Make it possible to use the fourth hit of a pixel track in SeedGeneratorFromProtoTracksEDProducer
  RecoTracker/TkSeedGenerator/plugins/SeedGeneratorFromProtoTracksEDProducer.cc
  RecoTracker/TkSeedGenerator/plugins/SeedGeneratorFromProtoTracksEDProducer.h
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28481 update severely outdated default values in Scouting producers
  HLTrigger/JetMET/plugins/HLTScoutingPFProducer.cc
  HLTrigger/Muon/plugins/HLTScoutingMuonProducer.cc
Labels: bug-fix, code-checks-approved, comparison-available, fully-signed, hlt-approved, orp-approved, tests-approved

#28486 Phase2 Tracker DQM: fix missing modifiers
  DQM/SiTrackerPhase2/python/Phase2TrackerMonitorDigi_cfi.py
  Validation/SiTrackerPhase2V/python/Phase2TrackerValidateDigi_cfi.py
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#28488 [DQM] Updated the client for MuonMonitor in online DQM
  DQM/Integration/python/clients/mutracking_dqm_sourceclient-live_cfg.py
  DQM/MuonMonitor/test/mutracking_dqm_sourceclient-live_cfg.py
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#28463 HGCAL scintillator digitisation: adequate dynamic range (follow up 28349)
  RecoLocalCalo/HGCalRecAlgos/interface/HGCalUncalibRecHitRecWeightsAlgo.h
  RecoLocalCalo/HGCalRecProducers/python/HGCalUncalibRecHit_cfi.py
  SimCalorimetry/HGCalSimProducers/python/hgcROCParameters_cfi.py
  SimCalorimetry/HGCalSimProducers/python/hgcalDigitizer_cfi.py
  SimCalorimetry/HGCalSimProducers/src/HGCFEElectronics.cc
  SimCalorimetry/HGCalSimProducers/src/HGCHEbackDigitizer.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, requires-external, simulation-approved, tests-approved, upgrade-approved

#28491 make sure to run WriteStreamerFile before ReadStreamerFile
  IOPool/Streamer/test/BuildFile.xml
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#28433 BTL simulation: OOT effects
  DataFormats/FTLDigi/interface/PMTDSimAccumulator.h
  SimFastTiming/FastTimingCommon/interface/BTLElectronicsSim.h
  SimFastTiming/FastTimingCommon/interface/MTDDigitizer.h
  SimFastTiming/FastTimingCommon/interface/MTDDigitizerTypes.h
  SimFastTiming/FastTimingCommon/python/mtdDigitizer_cfi.py
  SimFastTiming/FastTimingCommon/src/BTLBarDeviceSim.cc
  SimFastTiming/FastTimingCommon/src/BTLElectronicsSim.cc
  SimFastTiming/FastTimingCommon/src/BTLTileDeviceSim.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, simulation-approved, tests-approved, upgrade-approved

#28487 test D49 in short matrix
  Configuration/Geometry/README.md
  Configuration/PyReleaseValidation/scripts/runTheMatrix.py
Labels: code-checks-approved, comparison-available, geometry-approved, orp-approved, pdmv-approved, pending-signatures, tests-approved, upgrade-pending

#28495 [HGCal trigger] Use ADC/TDC for scintillator
  L1Trigger/L1THGCal/interface/veryfrontend/HGCalVFELinearizationImpl.h
  L1Trigger/L1THGCal/python/hgcalVFEProducer_cfi.py
  L1Trigger/L1THGCal/src/veryfrontend/HGCalVFELinearizationImpl.cc
Labels: code-checks-approved, comparison-pending, fully-signed, l1-approved, orp-approved, tests-started, upgrade-approved

#28453 GEMMasking :: FixBug
  RecoLocalMuon/GEMRecHit/interface/GEMClusterizer.h
  RecoLocalMuon/GEMRecHit/plugins/GEMRecHitProducer.cc
  RecoLocalMuon/GEMRecHit/src/GEMClusterizer.cc
  RecoLocalMuon/GEMRecHit/src/GEMMaskReClusterizer.cc
  RecoLocalMuon/GEMRecHit/src/GEMRecHitBaseAlgo.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved, upgrade-approved

#28504 Revert "BTL simulation: OOT effects"
  DataFormats/FTLDigi/interface/PMTDSimAccumulator.h
  SimFastTiming/FastTimingCommon/interface/BTLElectronicsSim.h
  SimFastTiming/FastTimingCommon/interface/MTDDigitizer.h
  SimFastTiming/FastTimingCommon/interface/MTDDigitizerTypes.h
  SimFastTiming/FastTimingCommon/python/mtdDigitizer_cfi.py
  SimFastTiming/FastTimingCommon/src/BTLBarDeviceSim.cc
  SimFastTiming/FastTimingCommon/src/BTLElectronicsSim.cc
  SimFastTiming/FastTimingCommon/src/BTLTileDeviceSim.cc
Labels: code-checks-approved, comparison-available, orp-approved, pending-signatures, simulation-pending, tests-approved, upgrade-pending
