Repository cms-sw/cmssw, pull requests merged in 2020-02, with the labels that each got.

#28834 MTD geometry: add test workflows for scenario D53, update material budget validation
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  Validation/Geometry/data/mtdMaterials.l0
  Validation/Geometry/data/mtdMaterials.x0
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, geometry-approved, orp-approved, pdmv-approved, tests-approved, upgrade-approved

#28855 Fix valgrind unit test for clang
  Utilities/ReleaseScripts/test/test-valgrind-memleak.cpp
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#28853 Bring back GEDGsfElectronFinalizer to be a stream module, instead of a global one
  RecoEgamma/EgammaElectronProducers/plugins/GEDGsfElectronFinalizer.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28802 bug-fix for infinite loop in MuonSimClassifier.cc
  SimMuon/MCTruth/plugins/MuonSimClassifier.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, simulation-approved, tests-approved

#28740 Timing propagation in HGCAL RECO
  DataFormats/Common/src/classes_def.xml
  DataFormats/HGCRecHit/interface/HGCRecHit.h
  DataFormats/HGCRecHit/src/HGCRecHit.cc
  DataFormats/HGCRecHit/src/classes_def.xml
  DataFormats/HGCalReco/interface/Trackster.h
  DataFormats/HGCalReco/src/classes_def.xml
  RecoHGCal/TICL/BuildFile.xml
  RecoHGCal/TICL/plugins/BuildFile.xml
  RecoHGCal/TICL/plugins/HGCGraph.cc
  RecoHGCal/TICL/plugins/HGCGraph.h
  RecoHGCal/TICL/plugins/MultiClustersFromTrackstersProducer.cc
  RecoHGCal/TICL/plugins/PatternRecognitionAlgoBase.h
  RecoHGCal/TICL/plugins/PatternRecognitionbyCA.cc
  RecoHGCal/TICL/plugins/TrackstersProducer.cc
  RecoLocalCalo/HGCalRecProducers/interface/ComputeClusterTime.h
  RecoLocalCalo/HGCalRecProducers/plugins/HGCalLayerClusterProducer.cc
  RecoLocalCalo/HGCalRecProducers/plugins/HGCalRecHitWorkerSimple.cc
  RecoLocalCalo/HGCalRecProducers/plugins/HGCalRecHitWorkerSimple.h
  RecoLocalCalo/HGCalRecProducers/python/HGCalRecHit_cfi.py
  RecoLocalCalo/HGCalRecProducers/python/hgcalLayerClusters_cff.py
  RecoLocalCalo/HGCalRecProducers/src/ComputeClusterTime.cc
  RecoParticleFlow/PFClusterProducer/BuildFile.xml
  RecoParticleFlow/PFClusterProducer/plugins/BuildFile.xml
  RecoParticleFlow/PFClusterProducer/plugins/SimMappers/ComputeClusterTime.h
  RecoParticleFlow/PFClusterProducer/plugins/SimMappers/RealisticSimClusterMapper.cc
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved, upgrade-approved

#28833 New offline DQM module for SMP
  DQM/Physics/python/DQMPhysics_cff.py
  DQM/Physics/python/SMPDQM_cfi.py
  DQM/Physics/src/SMPDQM.cc
  DQM/Physics/src/SMPDQM.h
  DQM/Physics/src/plugins.cc
  DQM/Physics/test/SMPDQM_cfg.py
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#28848 Remove unused RecoHI/HiEgammaAlgos python configurations
  RecoHI/HiEgammaAlgos/python/HiCoreTools.py
  RecoHI/HiEgammaAlgos/python/HiHelperTools.py
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28859 Tracking DQM: fix multiple ME bookings for Track Seed Monitoring
  DQM/TrackingMonitorSource/python/TrackingSourceConfig_Tier0_cff.py
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#28822 Replace ConfigParser with configparser (Python3 compatibility)
  Alignment/APEEstimation/test/autoSubmitter/autoSubmitter.py
  Alignment/OfflineValidation/python/TkAlAllInOneTool/geometryComparison.py
  Alignment/OfflineValidation/test/submitAllJobs.py
  CondCore/DBOutputService/scripts/cmscond_logdb_dump
  DQM/Integration/python/config/environment_cfi.py
  DQMOffline/Alignment/test/alcarecoTester.py
  FastSimulation/Calorimetry/test/calculateECALresponceScales.py
  Geometry/TrackerCommonData/test/twikiExport.py
  HLTriggerOffline/Btag/python/helper.py
  RecoVertex/BeamSpotProducer/scripts/BeamSpotWorkflow.py
  RecoVertex/BeamSpotProducer/test/InspectFwBeamSpot.py
Labels: alca-approved, code-checks-approved, comparison-available, db-pending, dqm-approved, fastsim-pending, geometry-approved, orp-approved, pending-signatures, reconstruction-approved, requires-external, tests-approved

#28838 Migrate Alignment Validation all-in-one meta-tool to be Py3 compliant
  Alignment/OfflineValidation/python/TkAlAllInOneTool/betterConfigParser.py
  Alignment/OfflineValidation/python/TkAlAllInOneTool/dataset.py
  Alignment/OfflineValidation/python/TkAlAllInOneTool/genericValidation.py
  Alignment/OfflineValidation/python/TkAlAllInOneTool/geometryComparison.py
  Alignment/OfflineValidation/python/TkAlAllInOneTool/plottingOptions.py
  Alignment/OfflineValidation/python/TkAlAllInOneTool/primaryVertexValidationTemplates.py
  Alignment/OfflineValidation/scripts/validateAlignments.py
  Alignment/OfflineValidation/test/testPVValidation_all_ini_one.ini
  Alignment/OfflineValidation/test/testValidate.ini
  Alignment/OfflineValidation/test/test_all.sh
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, requires-external, tests-approved

#28839 Run3-hcx248 Add testing code to look at HCAL geometry
  Geometry/HcalCommonData/interface/HcalDDDSimConstants.h
  Geometry/HcalCommonData/test/HcalScintillatorTester.cc
  Geometry/HcalCommonData/test/python/runHcalScintillatorTester_cfg.py
  SimDataFormats/CaloHit/interface/PassiveHit.h
  SimDataFormats/CaloHit/src/PassiveHit.cc
  SimDataFormats/CaloHit/src/classes_def.xml
  SimG4CMS/Calo/interface/CaloSteppingAction.h
  SimG4CMS/Calo/plugins/CaloSimHitAnalysis.cc
  SimG4CMS/Calo/src/CaloSteppingAction.cc
  SimG4CMS/Calo/test/python/calostepAnalysis_cfg.py
  SimG4CMS/Calo/test/python/calostep_cfg.py
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, simulation-approved, tests-approved

#28824 Use correct beamspot for 2016 MC + update MC tracker alignment scenario for 2016 pre-VFP era [11_0_X]
  Configuration/AlCa/python/autoCond.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  TauAnalysis/MCEmbeddingTools/test/runtests.sh
Labels: alca-approved, analysis-pending, backport-ok, comparison-available, orp-approved, pdmv-approved, pending-signatures, simulation-approved, tests-approved, upgrade-approved

#28851 Fix for clang LLVM 9.0.1 warning
  RecoTracker/TkDetLayers/src/TIDLayer.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28870 Run3-sim53 Make run3 scenario to work in dd4hep scenario
  Geometry/ForwardCommonData/data/zdc.xml
  Geometry/ForwardCommonData/data/zdclumi.xml
  Geometry/MuonCommonData/data/muonNumbering/2017/v1/muonNumbering.xml
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved

#28847 cmsDriver Test workflow based on DD4hep: first steps
  Configuration/Geometry/python/GeometryDD4hepExtended2021Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2021_cff.py
  Configuration/ProcessModifiers/python/dd4hep_cff.py
  Configuration/StandardSequences/python/GeometryConf.py
  Geometry/CMSCommonData/test/dd4hep/runDD4hepTestWF.sh
  Geometry/EcalCommonData/plugins/BuildFile.xml
  Geometry/EcalCommonData/python/ecalSimulationParameters_cff.py
  Geometry/ForwardCommonData/python/hfnoseParametersInitialization_cfi.py
  Geometry/HcalCommonData/python/caloSimulationParameters_cff.py
  Geometry/HcalCommonData/python/hcalParameters_cff.py
  Geometry/HcalCommonData/python/hcalSimulationParameters_cff.py
  SimG4Core/Application/python/g4SimHits_cfi.py
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, operations-approved, orp-approved, simulation-approved, tests-approved, upgrade-approved

#28842 Fix testSiStripPayloadInspector for Py3
  CondCore/SiStripPlugins/test/BuildFile.xml
  CondCore/SiStripPlugins/test/testSiStripPayloadInspector.cpp
Labels: code-checks-approved, comparison-available, db-approved, fully-signed, orp-approved, tests-approved

#28796 DD4HEP GEM migration
  DetectorDescription/DDCMS/data/cms-geometry-2021.xml
  Geometry/GEMGeometryBuilder/BuildFile.xml
  Geometry/GEMGeometryBuilder/data/v8/GEMSpecsFilter17.xml
  Geometry/GEMGeometryBuilder/plugins/BuildFile.xml
  Geometry/GEMGeometryBuilder/plugins/GEMGeometryESModule.cc
  Geometry/GEMGeometryBuilder/plugins/GEMGeometryValidate.cc
  Geometry/GEMGeometryBuilder/src/GEMGeometryBuilderFromDDD.cc
  Geometry/GEMGeometryBuilder/src/GEMGeometryBuilderFromDDD.h
  Geometry/GEMGeometryBuilder/test/python/validateGEMGeometry2_cfg.py
  Geometry/GEMGeometryBuilder/test/python/validateGEMGeometry_cfg.py
  Geometry/MuonNumbering/interface/DD4hep_GEMNumberingScheme.h
  Geometry/MuonNumbering/src/DD4hep_GEMNumberingScheme.cc
  Geometry/MuonNumbering/src/MuonBaseNumber.cc
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved, upgrade-approved

#28835 Clean BuildFiles in RecoMuon and RecoParticleFlow
  RecoMuon/CosmicMuonProducer/BuildFile.xml
  RecoMuon/DetLayers/BuildFile.xml
  RecoMuon/GlobalTrackFinder/BuildFile.xml
  RecoMuon/GlobalTrackingTools/BuildFile.xml
  RecoMuon/L2MuonProducer/BuildFile.xml
  RecoMuon/L3MuonIsolationProducer/BuildFile.xml
  RecoMuon/L3TrackFinder/BuildFile.xml
  RecoMuon/MeasurementDet/BuildFile.xml
  RecoMuon/MuonIdentification/BuildFile.xml
  RecoMuon/MuonIdentification/plugins/BuildFile.xml
  RecoMuon/MuonIdentification/test/BuildFile.xml
  RecoMuon/MuonIsolationProducers/BuildFile.xml
  RecoMuon/MuonSeedGenerator/BuildFile.xml
  RecoMuon/Navigation/BuildFile.xml
  RecoMuon/StandAloneMuonProducer/BuildFile.xml
  RecoParticleFlow/Benchmark/BuildFile.xml
  RecoParticleFlow/PFProducer/BuildFile.xml
  RecoParticleFlow/PFTracking/BuildFile.xml
Labels: code-checks-approved, comparison-available, fully-signed, hlt-approved, orp-approved, reconstruction-approved, tests-approved

#28792 Create infrastructure to allow cmsRun to control an external process
  FWCore/Integration/bin/BuildFile.xml
  FWCore/Integration/bin/interprocess.cc
  FWCore/Integration/test/BuildFile.xml
  FWCore/Integration/test/TestInterProcessProd.cc
  FWCore/Integration/test/ThingAlgorithm.cc
  FWCore/Integration/test/ThingAlgorithm.h
  FWCore/Integration/test/ThingProducer.cc
  FWCore/Integration/test/test_TestInterProcessProd_cfg.py
  FWCore/SharedMemory/BuildFile.xml
  FWCore/SharedMemory/Readme.md
  FWCore/SharedMemory/interface/ControllerChannel.h
  FWCore/SharedMemory/interface/ROOTDeserializer.h
  FWCore/SharedMemory/interface/ROOTSerializer.h
  FWCore/SharedMemory/interface/ReadBuffer.h
  FWCore/SharedMemory/interface/WorkerChannel.h
  FWCore/SharedMemory/interface/WorkerMonitorThread.h
  FWCore/SharedMemory/interface/WriteBuffer.h
  FWCore/SharedMemory/interface/buffer_names.h
  FWCore/SharedMemory/interface/channel_names.h
  FWCore/SharedMemory/src/ControllerChannel.cc
  FWCore/SharedMemory/src/WorkerChannel.cc
  FWCore/SharedMemory/src/WorkerMonitorThread.cc
  FWCore/SharedMemory/src/WriteBuffer.cc
  FWCore/SharedMemory/test/BuildFile.xml
  FWCore/SharedMemory/test/test_catch2_buffer.cc
  FWCore/SharedMemory/test/test_catch2_main.cc
  FWCore/SharedMemory/test/test_catch2_serialize.cc
  FWCore/SharedMemory/test/test_channels.cc
  FWCore/SharedMemory/test/test_monitor_thread_signals.sh
  FWCore/SharedMemory/test/test_monitorthread.cc
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#28881 Fix dd4hep modifier import
  Geometry/HGCalCommonData/python/hgcalParametersInitialization_cfi.py
  Geometry/HGCalCommonData/python/hgcalV6ParametersInitialization_cfi.py
Labels: bug-fix, code-checks-approved, comparison-pending, geometry-pending, orp-approved, pending-signatures, tests-started, upgrade-pending, urgent

#28753 Fixed sign in pat::Muon::dB() to match one obtained from the best track definition
  DataFormats/TrackReco/interface/TrackBase.h
  DataFormats/TrackReco/src/TrackBase.cc
  PhysicsTools/PatAlgos/plugins/PATMuonProducer.cc
Labels: analysis-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28831 Ecal DPG - Backporting new software[PR 27175] to recover isolated new channels
  RecoLocalCalo/EcalDeadChannelRecoveryAlgos/BuildFile.xml
  RecoLocalCalo/EcalDeadChannelRecoveryAlgos/interface/EcalDeadChannelRecoveryAlgos.h
  RecoLocalCalo/EcalDeadChannelRecoveryAlgos/interface/EcalDeadChannelRecoveryBDTG.h
  RecoLocalCalo/EcalDeadChannelRecoveryAlgos/src/EcalDeadChannelRecoveryAlgos.cc
  RecoLocalCalo/EcalDeadChannelRecoveryAlgos/src/EcalDeadChannelRecoveryBDTG.cc
  RecoLocalCalo/EcalDeadChannelRecoveryAlgos/test/plugins/EcalDeadChannelRecoveryProducers.cc
  RecoLocalCalo/EcalRecProducers/plugins/EcalRecHitProducer.cc
  RecoLocalCalo/EcalRecProducers/plugins/EcalRecHitWorkerRecover.cc
  RecoLocalCalo/EcalRecProducers/plugins/EcalRecHitWorkerRecover.h
  RecoLocalCalo/EcalRecProducers/python/ecalRecHit_cfi.py
Labels: comparison-available, fully-signed, orp-approved, reconstruction-approved, requires-external, tests-approved

#28868 Run3 hcx249 Test and verify HcalParameter correctly extracted in the dd4hep scenario
  DetectorDescription/DDCMS/src/Filter.cc
  Geometry/HcalCommonData/src/HcalGeomParameters.cc
  Geometry/HcalCommonData/src/HcalSimParametersFromDD.cc
  Geometry/HcalCommonData/test/python/runHcalParametersFromDD4HepAnalyzer_cfg.py
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved

#28872 HGCAL Validation technical changes
  Validation/HGCalValidation/interface/CaloParticleSelector.h
  Validation/HGCalValidation/interface/HGVHistoProducerAlgo.h
  Validation/HGCalValidation/plugins/HGCalValidator.cc
  Validation/HGCalValidation/python/CaloParticleSelectionForEfficiency_cfi.py
  Validation/HGCalValidation/python/CaloParticleSelectionsForEfficiency_cff.py
  Validation/HGCalValidation/python/HGCalValidator_cfi.py
  Validation/HGCalValidation/python/PostProcessorHGCAL_cfi.py
  Validation/HGCalValidation/src/HGVHistoProducerAlgo.cc
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#28873 Basic Rivet tests
  GeneratorInterface/RivetInterface/python/rivetAnalyzer_cfi.py
  GeneratorInterface/RivetInterface/test/BuildFile.xml
  GeneratorInterface/RivetInterface/test/rivet_cfg.py
  GeneratorInterface/RivetInterface/test/test-rivet-list.sh
  GeneratorInterface/RivetInterface/test/test-rivet-run.sh
Labels: code-checks-approved, comparison-available, fully-signed, generators-approved, orp-approved, tests-approved

#28874 Make FastTimerService easier to use
  HLTrigger/Timer/python/FastTimer.py
  HLTrigger/Timer/test/FastTimerHarvest.py
Labels: code-checks-approved, comparison-available, fully-signed, hlt-approved, orp-approved, tests-approved

#28891 Running code-format for core
  DataFormats/Common/interface/AssociationVector.h
  DataFormats/Common/test/testMultiAssociation.cc
  Utilities/XrdAdaptor/src/XrdRequestManager.cc
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#28892 Running code-format for visualization
  Fireworks/Core/src/CmsAnnotation.cc
  Fireworks/Core/src/CmsShowSearchFiles.cc
  Fireworks/Core/src/FWPopupMenu.cc
  Fireworks/FWInterface/src/FWPSetTableManager.cc
Labels: code-checks-approved, comparison-notrun, orp-approved, pending-signatures, tests-approved, visualization-pending

#28890 Running code-format for l1-upgrade
  SimCalorimetry/EcalEBTrigPrimAlgos/interface/EcalEBTrigPrimTestAlgo.h
  SimCalorimetry/EcalEBTrigPrimAlgos/src/EcalEBTrigPrimTestAlgo.cc
  SimCalorimetry/EcalEBTrigPrimAlgos/src/EcalFenixLinearizer.cc
  SimCalorimetry/EcalEBTrigPrimAlgos/src/EcalFenixTcpFormat.cc
  SimCalorimetry/EcalEBTrigPrimProducers/plugins/EcalEBTrigPrimAnalyzer.cc
  SimCalorimetry/EcalEBTrigPrimProducers/plugins/EcalEBTrigPrimAnalyzer.h
  SimCalorimetry/EcalEBTrigPrimProducers/plugins/EcalEBTrigPrimProducer.cc
  SimCalorimetry/EcalEBTrigPrimProducers/plugins/EcalEBTrigPrimProducer.h
  SimCalorimetry/EcalEBTrigPrimProducers/plugins/SealModules.cc
Labels: code-checks-approved, comparison-available, l1-pending, orp-approved, pending-signatures, tests-approved, upgrade-approved

#28889 Running code-format for simulation
  DataFormats/EcalDigi/interface/EcalDigiCollections.h
  DataFormats/EcalDigi/interface/EcalEBTriggerPrimitiveDigi.h
  DataFormats/EcalDigi/src/EcalEBTriggerPrimitiveDigi.cc
  DataFormats/EcalDigi/src/classes.h
  DataFormats/RPCDigi/src/DataRecord.cc
  DataFormats/RPCDigi/src/RPCRawDataCounts.cc
  DataFormats/RPCDigi/src/ReadoutError.cc
  SimG4CMS/HcalTestBeam/plugins/HcalTB02HcalNumberingScheme.cc
  SimG4CMS/HcalTestBeam/plugins/HcalTB02XtalNumberingScheme.cc
  SimG4CMS/HcalTestBeam/plugins/HcalTB04XtalNumberingScheme.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, simulation-approved, tests-approved

#28886 Running code-format for alca-db-l1
  CondFormats/L1TObjects/src/L1GtCondition.cc
Labels: alca-pending, code-checks-approved, comparison-available, db-pending, l1-pending, orp-approved, pending-signatures, tests-approved

#28885 Running code-format for reconstruction
  RecoEgamma/EgammaMCTools/interface/ElectronMCTruth.h
  RecoEgamma/EgammaMCTools/interface/ElectronMCTruthFinder.h
  RecoEgamma/EgammaMCTools/interface/PhotonMCTruth.h
  RecoEgamma/EgammaMCTools/src/ElectronMCTruth.cc
  RecoEgamma/EgammaMCTools/src/ElectronMCTruthFinder.cc
  RecoEgamma/EgammaMCTools/src/PhotonMCTruthFinder.cc
Labels: code-checks-approved, comparison-available, orp-approved, pending-signatures, reconstruction-pending, tests-approved

#28883 Running code-format for generators
  SimDataFormats/GeneratorProducts/interface/GenEventInfoProduct.h
  SimDataFormats/GeneratorProducts/interface/LHEEventProduct.h
Labels: code-checks-approved, comparison-available, generators-pending, orp-approved, pending-signatures, tests-approved

#28769 GEM DQM updates - full GE1/1
  DQM/GEM/plugins/GEMDQMHarvester.cc
  DQM/GEM/plugins/GEMDQMSource.cc
  DQM/GEM/plugins/GEMDQMSourceDigi.cc
  DQM/GEM/plugins/GEMDQMStatusDigi.cc
  DQM/GEM/test/test.py
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved, urgent

#28887 Running code-format for simulation-upgrade
  DataFormats/ForwardDetId/src/BTLDetId.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, simulation-approved, tests-approved, upgrade-approved

#28879 Add cloneEngine function to random number service
  FWCore/Utilities/interface/RandomNumberGenerator.h
  IOMC/RandomEngine/src/RandomNumberGeneratorService.cc
  IOMC/RandomEngine/src/RandomNumberGeneratorService.h
  IOMC/RandomEngine/test/TestRandomNumberServiceGlobal.cc
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#28897 Converted GenHTFilter to a global module
  GeneratorInterface/GenFilters/plugins/GenHTFilter.cc
Labels: code-checks-approved, comparison-available, fully-signed, generators-approved, orp-approved, tests-approved

#28380 DQM: Remove ClientConfig package
  DQM/SiPixelMonitorClient/BuildFile.xml
  DQM/SiPixelMonitorClient/interface/SiPixelConfigParser.h
  DQM/SiPixelMonitorClient/interface/SiPixelLayoutParser.h
  DQM/SiPixelMonitorClient/src/SiPixelConfigParser.cc
  DQM/SiPixelMonitorClient/src/SiPixelConfigWriter.cc
  DQM/SiPixelMonitorClient/src/SiPixelLayoutParser.cc
  DQM/SiStripCommissioningClients/BuildFile.xml
  DQM/SiStripCommissioningClients/interface/SummaryPlotXmlParser.h
  DQM/SiStripCommissioningClients/src/SummaryPlotXmlParser.cc
  DQM/SiStripMonitorClient/BuildFile.xml
  DQM/SiStripMonitorClient/interface/SiStripConfigParser.h
  DQM/SiStripMonitorClient/interface/SiStripLayoutParser.h
  DQM/SiStripMonitorClient/src/SiStripConfigParser.cc
  DQM/SiStripMonitorClient/src/SiStripConfigWriter.cc
  DQM/SiStripMonitorClient/src/SiStripLayoutParser.cc
  DQM/TrackingMonitorClient/BuildFile.xml
  DQM/TrackingMonitorClient/plugins/BuildFile.xml
  DQMServices/ClientConfig/BuildFile.xml
  DQMServices/ClientConfig/doc/ClientConfig.doc
  DQMServices/ClientConfig/interface/DQMParserBase.h
  DQMServices/ClientConfig/interface/ParserFunctions.h
  DQMServices/ClientConfig/python/genericClientPSetHelper_cff.py
  DQMServices/ClientConfig/src/DQMParserBase.cc
  DQMServices/ClientConfig/test/QT_ContentSigma.xml
  DQMServices/ClientConfig/test/QT_ContentsWithinExpected.xml
  DQMServices/ClientConfig/test/QT_ContentsXRange.xml
  DQMServices/ClientConfig/test/QT_ContentsYRange.xml
  DQMServices/ClientConfig/test/QT_DeadChannel.xml
  DQMServices/ClientConfig/test/QT_MeanWithinExpected.xml
  DQMServices/ClientConfig/test/QT_NoisyChannel.xml
  DQMServices/Components/BuildFile.xml
  Validation/RPCRecHits/python/postValidation_cfi.py
  Validation/RecoMuon/plugins/BuildFile.xml
  Validation/RecoTrack/BuildFile.xml
  Validation/RecoTrack/plugins/BuildFile.xml
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#28672 ECAL Logs Cleanup
  DQM/EcalMonitorTasks/interface/RecoSummaryTask.h
  DQM/EcalMonitorTasks/plugins/EcalDQMonitorTask.cc
  DQM/EcalMonitorTasks/python/CollectionTags_cfi.py
  DQM/EcalMonitorTasks/python/RecoSummaryTask_cfi.py
  DQM/EcalMonitorTasks/src/RecoSummaryTask.cc
  DQMOffline/Ecal/python/ecal_dqm_source_offline_HI_cff.py
  DQMOffline/Ecal/python/ecal_dqm_source_offline_cff.py
  DQMOffline/Ecal/python/ecal_dqm_source_offline_cosmic_cff.py
Labels: code-checks-approved, comparison-available, dqm-pending, orp-approved, pending-signatures, tests-approved

#28884 Running code-format for fastsim
  FastSimulation/CaloHitMakers/src/EcalHitMaker.cc
Labels: code-checks-approved, comparison-available, fastsim-pending, orp-approved, pending-signatures, tests-approved

#28888 Running code-format for l1
  EventFilter/L1TRawToDigi/plugins/implementations_stage1/PhysCandUnpacker.cc
  L1Trigger/L1TMuonBarrel/src/L1MuBMAssignmentUnit.cc
Labels: code-checks-approved, comparison-available, l1-pending, orp-approved, pending-signatures, tests-approved

#28904 Properly find test executable for MonitorThread signal test
  FWCore/SharedMemory/test/test_monitor_thread_signals.sh
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#28878 GEM DQM updates - full GE1/1, backport to 11_0_X
  DQM/GEM/plugins/GEMDQMHarvester.cc
  DQM/GEM/plugins/GEMDQMSource.cc
  DQM/GEM/plugins/GEMDQMSourceDigi.cc
  DQM/GEM/plugins/GEMDQMStatusDigi.cc
  DQM/GEM/test/test.py
Labels: backport-ok, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#28896 add eta cut for PFCandidates in Scouting
  HLTrigger/JetMET/plugins/HLTScoutingPFProducer.cc
Labels: code-checks-approved, comparison-available, fully-signed, hlt-approved, orp-approved, tests-approved

#28864 Fix phi-dependent JEC uncertainties
  CondFormats/JetMETObjects/src/JetCorrectionUncertainty.cc
Labels: analysis-pending, code-checks-approved, comparison-available, db-pending, orp-approved, pending-signatures, tests-approved, urgent

#28909 Running code-format for dqm
  DQM/SiStripMonitorHardware/src/SiStripSpyEventMatcher.cc
  DQM/TrackingMonitor/src/PackedCandidateTrackValidator.cc
  Validation/HGCalValidation/plugins/HGCalSimHitStudy.cc
Labels: code-checks-approved, comparison-pending, dqm-pending, orp-approved, pending-signatures, tests-approved

#28908 Running code-format for reconstruction
  DataFormats/RecoCandidate/interface/IsoDeposit.h
  RecoBTag/SoftLepton/plugins/SoftLepton.cc
  RecoJets/JetProducers/plugins/BetaStarVarProducer.cc
  RecoVertex/ConfigurableVertexReco/interface/ConfFitterBuilder.h
  RecoVertex/ConfigurableVertexReco/src/VertexFitterManager.cc
Labels: code-checks-approved, comparison-pending, orp-approved, pending-signatures, reconstruction-pending, tests-approved

#28907 Running code-format for analysis-reconstruction
  DataFormats/PatCandidates/interface/PackedCandidate.h
Labels: analysis-pending, code-checks-approved, comparison-pending, orp-approved, pending-signatures, reconstruction-pending, tests-approved

#28906 Running code-format for alca
  Alignment/CommonAlignment/interface/SurveyDet.h
  Alignment/OfflineValidation/macros/CMS_lumi.h
  Alignment/OfflineValidation/plugins/ColorParser.C
Labels: alca-pending, code-checks-approved, comparison-pending, orp-approved, pending-signatures, tests-approved

#28905 Running code-format for l1
  L1Trigger/L1TGlobal/src/CorrCondition.cc
  L1Trigger/L1TGlobal/src/CorrWithOverlapRemovalCondition.cc
  L1Trigger/L1TGlobal/src/GlobalCondition.cc
Labels: code-checks-approved, comparison-pending, l1-pending, orp-approved, pending-signatures, tests-approved

#28895 Add support for untracked PSets and SwitchProducer to MassReplace tools
  FWCore/ParameterSet/python/MassReplace.py
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#28840 EventSetup consumes migration for MuonServiceProxy
  Alignment/OfflineValidation/plugins/ResidualRefitting.cc
  DQM/MuonMonitor/plugins/CosmicMuonRecoAnalyzer.cc
  DQMOffline/Muon/interface/EfficiencyAnalyzer.h
  DQMOffline/Muon/interface/MuonEnergyDepositAnalyzer.h
  DQMOffline/Muon/interface/MuonKinVsEtaAnalyzer.h
  DQMOffline/Muon/interface/MuonRecoAnalyzer.h
  DQMOffline/Muon/interface/MuonRecoOneHLT.h
  DQMOffline/Muon/interface/MuonTiming.h
  DQMOffline/Muon/interface/SegmentTrackAnalyzer.h
  DQMOffline/Muon/interface/TriggerMatchMonitor.h
  DQMOffline/Muon/src/EfficiencyAnalyzer.cc
  DQMOffline/Muon/src/MuonEnergyDepositAnalyzer.cc
  DQMOffline/Muon/src/MuonKinVsEtaAnalyzer.cc
  DQMOffline/Muon/src/MuonRecoAnalyzer.cc
  DQMOffline/Muon/src/MuonRecoOneHLT.cc
  DQMOffline/Muon/src/MuonSeedsAnalyzer.cc
  DQMOffline/Muon/src/MuonTiming.cc
  DQMOffline/Muon/src/SegmentTrackAnalyzer.cc
  DQMOffline/Muon/src/TriggerMatchMonitor.cc
  FastSimulation/MuonSimHitProducer/src/MuonSimHitProducer.cc
  RecoHI/HiMuonAlgos/plugins/HIMuonTrackingRegionProducer.h
  RecoLocalMuon/CSCEfficiency/src/CSCEfficiency.cc
  RecoMuon/CosmicMuonProducer/src/CosmicMuonLinksProducer.cc
  RecoMuon/CosmicMuonProducer/src/CosmicMuonProducer.cc
  RecoMuon/CosmicMuonProducer/src/GlobalCosmicMuonProducer.cc
  RecoMuon/CosmicMuonProducer/test/CosmicMuonValidator.cc
  RecoMuon/CosmicMuonProducer/test/RealCosmicDataAnalyzer.cc
  RecoMuon/GlobalMuonProducer/src/GlobalMuonProducer.cc
  RecoMuon/GlobalMuonProducer/src/TevMuonProducer.cc
  RecoMuon/GlobalTrackingTools/plugins/GlobalTrackQualityProducer.cc
  RecoMuon/L2MuonProducer/src/L2MuonProducer.cc
  RecoMuon/L2MuonSeedGenerator/src/L2MuonSeedGenerator.cc
  RecoMuon/L2MuonSeedGenerator/src/L2MuonSeedGeneratorFromL1T.cc
  RecoMuon/L3MuonProducer/src/L3MuonProducer.cc
  RecoMuon/MuonIdentification/interface/CSCTimingExtractor.h
  RecoMuon/MuonIdentification/interface/DTTimingExtractor.h
  RecoMuon/MuonIdentification/interface/MuonCosmicCompatibilityFiller.h
  RecoMuon/MuonIdentification/src/CSCTimingExtractor.cc
  RecoMuon/MuonIdentification/src/DTTimingExtractor.cc
  RecoMuon/MuonIdentification/src/MuonCosmicCompatibilityFiller.cc
  RecoMuon/MuonIdentification/src/MuonShowerInformationFiller.cc
  RecoMuon/MuonIdentification/src/MuonTimingFiller.cc
  RecoMuon/MuonIsolation/plugins/CaloExtractorByAssociator.cc
  RecoMuon/MuonIsolation/plugins/JetExtractor.cc
  RecoMuon/MuonSeedGenerator/plugins/SETMuonSeedProducer.cc
  RecoMuon/MuonSeedGenerator/src/MuonSeedBuilder.cc
  RecoMuon/MuonSeedGenerator/src/MuonSeedBuilder.h
  RecoMuon/MuonSeedGenerator/src/MuonSeedCleaner.cc
  RecoMuon/MuonSeedGenerator/src/MuonSeedCleaner.h
  RecoMuon/MuonSeedGenerator/test/MCSeedGenerator/MCMuonSeedGenerator.cc
  RecoMuon/MuonSeedGenerator/test/MuonSeedPTAnalysis/MuonSeedValidator.cc
  RecoMuon/StandAloneMuonProducer/src/StandAloneMuonProducer.cc
  RecoMuon/TrackerSeedGenerator/plugins/TSGFromL2Muon.cc
  RecoMuon/TrackingTools/interface/MuonServiceProxy.h
  RecoMuon/TrackingTools/src/MuonServiceProxy.cc
  Validation/RecoMuon/src/MuonSeedTrack.cc
  Validation/RecoMuon/src/MuonTrackAnalyzer.cc
  Validation/RecoMuon/src/MuonTrackResidualAnalyzer.cc
  Validation/RecoMuon/src/RecoMuonValidator.cc
  Validation/RecoMuon/src/RecoMuonValidator.h
Labels: alca-approved, code-checks-approved, comparison-available, dqm-approved, fastsim-pending, hlt-approved, orp-approved, pending-signatures, reconstruction-approved, tests-approved, urgent

#28876 Fix #28803 (GenParticles2HepMC with exotic LHE)
  GeneratorInterface/RivetInterface/plugins/GenParticles2HepMCConverter.cc
Labels: code-checks-approved, comparison-available, fully-signed, generators-approved, orp-approved, tests-approved

#28900 Adding Run 334393 as test Run for LS2
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, pdmv-approved, tests-approved, upgrade-approved, urgent

#28922 Fix use of replaced Configuration/Geometry/DD4hep_GeometrySim_cff fragment
  Configuration/StandardSequences/python/DD4hep_GeometrySim_cff.py
  Geometry/TrackerNumberingBuilder/test/trackerModuleNumberingDD4hep_cfg.py
Labels: bug-fix, code-checks-approved, comparison-available, fully-signed, geometry-approved, operations-approved, orp-approved, tests-approved, urgent

#28924 Fix gcc9 warnings in DQMRootSource
  DQMServices/FwkIO/plugins/DQMRootSource.cc
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#28916 DQM: Fix potential deadlock in setBinLabel.
  DQMServices/Core/src/MonitorElement.cc
  Validation/EventGenerator/src/DQMHelper.cc
  Validation/MuonIsolation/interface/MuIsoValidation.h
  Validation/MuonIsolation/src/MuIsoValidation.cc
Labels: code-checks-approved, comparison-available, dqm-approved, generators-pending, orp-approved, pending-signatures, tests-approved, urgent

#28927 Running code-format for reco
  RecoLocalTracker/SiPixelRecHits/interface/PixelCPEGeneric.h
  RecoLocalTracker/SiPixelRecHits/src/PixelCPEGeneric.cc
  RecoMuon/MuonSeedGenerator/src/MuonDTSeedFromRecHits.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28901 Adding Run 334393 as test Run for LS2 (Backport)
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: backport-ok, comparison-available, fully-signed, orp-approved, pdmv-approved, tests-approved, upgrade-approved

#28867 Fix phi-dependent JEC uncertainties [10_6_X backport]
  CondFormats/JetMETObjects/src/JetCorrectionUncertainty.cc
Labels: analysis-approved, backport-ok, comparison-available, db-approved, fully-signed, orp-approved, tests-approved

#28865 Fix phi-dependent JEC uncertainties [10_2_X backport]
  CondFormats/JetMETObjects/src/JetCorrectionUncertainty.cc
Labels: analysis-approved, backport-ok, comparison-available, db-approved, fully-signed, orp-approved, tests-approved

#28856 Fix #28803 (GenParticles2HepMC with exotic LHE)
  GeneratorInterface/RivetInterface/plugins/GenParticles2HepMCConverter.cc
  GeneratorInterface/RivetInterface/test/runRivetAnalyzerMiniAOD_cfg.py
Labels: comparison-available, fully-signed, generators-approved, orp-approved, tests-approved

#28807 New data format and producer for PCC objects/event
  Calibration/LumiAlCaRecoProducers/plugins/AlcaPCCProducerEvent.cc
  Calibration/LumiAlCaRecoProducers/plugins/BuildFile.xml
  Calibration/LumiAlCaRecoProducers/test/PCC_Random_Event_cfg.py
  DataFormats/Luminosity/interface/PixelClusterCountsInEvent.h
  DataFormats/Luminosity/src/classes.h
  DataFormats/Luminosity/src/classes_def.xml
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28815 MTD TDR Reconstruction + MTD Track Association BDT
  CommonTools/RecoAlgos/BuildFile.xml
  CommonTools/RecoAlgos/python/tofPID_cfi.py
  PhysicsTools/PatAlgos/plugins/PATPackedCandidateProducer.cc
  PhysicsTools/PatAlgos/python/slimming/packedPFCandidates_cfi.py
  RecoMTD/Configuration/python/RecoMTD_EventContent_cff.py
  RecoMTD/Configuration/python/RecoMTD_cff.py
  RecoMTD/TimingIDTools/BuildFile.xml
  RecoMTD/TimingIDTools/interface/MTDTrackQualityMVA.h
  RecoMTD/TimingIDTools/plugins/BuildFile.xml
  RecoMTD/TimingIDTools/plugins/MTDTrackQualityMVAProducer.cc
  RecoMTD/TimingIDTools/plugins/TOFPIDProducer.cc
  RecoMTD/TimingIDTools/python/mtdTrackQualityMVA_cfi.py
  RecoMTD/TimingIDTools/src/MTDTrackQualityMVA.cc
  RecoMTD/TrackExtender/plugins/TrackExtenderWithMTD.cc
  RecoVertex/Configuration/python/RecoVertex_cff.py
  RecoVertex/Configuration/python/RecoVertex_phase2_timing_cff.py
Labels: analysis-pending, code-checks-approved, comparison-available, orp-approved, pending-signatures, reconstruction-approved, requires-external, tests-approved, upgrade-approved, urgent

#28921 LOCAL_DEBUG in MuonBaseNumber.cc restored
  Geometry/MuonNumbering/src/MuonBaseNumber.cc
Labels: code-checks-approved, comparison-available, geometry-pending, orp-approved, pending-signatures, requires-external, tests-approved, urgent

#28941 Remove TH1* member from DummyFillDQMStore
  DQMServices/FwkIO/test/DummyFillDQMStore.cc
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#28942 Move contents of beginJob() to endJob() in APVValidationPlots
  DQMOffline/CalibTracker/src/APVValidationPlots.cc
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#28947 [URGENT] fix for getting clang version which is breaking 11.1.0.pre3 release
  CondFormats/Serialization/python/condformats_serialization_generate.py
Labels: code-checks-approved, comparison-pending, db-pending, orp-approved, pending-signatures, tests-approved, urgent

#28925 [cxxmodules] Workaround missing CLHEP modulemap.
  DataFormats/BTauReco/src/classes.h
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28935 Run3-hcx250 Remove regex in the start of a string
  Geometry/HcalCommonData/data/hcalSimNumbering.xml
  Geometry/HcalCommonData/data/hcalSimNumbering/2015/hcalSimNumbering.xml
  Geometry/HcalCommonData/data/hcalSimNumbering/2016/hcalSimNumbering.xml
  Geometry/HcalCommonData/data/hcalSimNumbering/2016a/hcalSimNumbering.xml
  Geometry/HcalCommonData/data/hcalSimNumbering/2017Plan0/hcalSimNumbering.xml
  Geometry/HcalCommonData/data/hcalSimNumbering/2017Plan1/hcalSimNumbering.xml
  Geometry/HcalCommonData/data/hcalSimNumbering/2018/hcalSimNumbering.xml
  Geometry/HcalCommonData/data/hcalSimNumbering/2018Plan36/hcalSimNumbering.xml
  Geometry/HcalCommonData/data/hcalSimNumbering/2021/hcalSimNumbering.xml
  Geometry/HcalCommonData/data/hcalSimNumbering/2026/hcalSimNumbering.xml
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved

#28940 fixes needd to run RelMon under python3
  Utilities/RelMon/python/authentication.py
  Utilities/RelMon/python/dirstructure.py
  Utilities/RelMon/python/dqm_interfaces.py
  Utilities/RelMon/python/utils.py
  Utilities/RelMon/scripts/compare_using_files.py
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, requires-external, tests-approved

#28943 [cxxmodules] Workaround missing CLHEP modulemap for JetReco.
  DataFormats/JetReco/src/classes_3.h
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28952 HCALDQM: Fix ngHO crate-FED mapping (master)
  DQM/HcalCommon/interface/Constants.h
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#28958 Fix #28803 (GenParticles2HepMC with exotic LHE) 10_6_X
  GeneratorInterface/RivetInterface/plugins/GenParticles2HepMCConverter.cc
  GeneratorInterface/RivetInterface/test/runRivetAnalyzerMiniAOD_cfg.py
Labels: comparison-available, fully-signed, generators-approved, orp-approved, tests-approved

#28869 Phase2-hgx232 Further attempt to make dd4hep compliant
  Geometry/HGCalCommonData/data/hgcal/v9/hgcal.xml
  Geometry/HGCalCommonData/data/hgcalEE/v9/hgcalEE.xml
  Geometry/HGCalCommonData/data/hgcalHEmix/v9/hgcalHEmix.xml
  Geometry/HGCalCommonData/data/hgcalHEsil/v9/hgcalHEsil.xml
  Geometry/HGCalCommonData/data/hgcalcell/v9/hgcalcell.xml
  Geometry/HGCalCommonData/data/hgcalwafer/v9/hgcalwafer.xml
  Geometry/HGCalCommonData/interface/HGCalGeomParameters.h
  Geometry/HGCalCommonData/interface/HGCalParametersFromDD.h
  Geometry/HGCalCommonData/src/HGCalGeomParameters.cc
  Geometry/HGCalCommonData/src/HGCalParametersFromDD.cc
  Geometry/HGCalCommonData/test/python/testHGCalParametersDD4Hep_cfg.py
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved, upgrade-approved

#28875 MTD reco geometry: preliminary cleaning
  DetectorDescription/DDCMS/interface/DDFilteredView.h
  Geometry/MTDCommonData/test/testMTDGeometry.py
  Geometry/MTDGeometryBuilder/plugins/MTDDigiGeometryESModule.cc
  Geometry/MTDGeometryBuilder/test/BuildFile.xml
  Geometry/MTDGeometryBuilder/test/mtd_cfg.py
  Geometry/MTDNumberingBuilder/interface/MTDMapDDDtoID.h
  Geometry/MTDNumberingBuilder/src/MTDMapDDDtoID.cc
  Geometry/MTDNumberingBuilder/test/BuildFile.xml
  Geometry/MTDNumberingBuilder/test/FakeCPP.h
  Geometry/MTDNumberingBuilder/test/GeometricTimingDetAnalyzer.cc
  Geometry/MTDNumberingBuilder/test/MTDModuleNumbering.cc
  Geometry/MTDNumberingBuilder/test/MTDTopologyAnalyzer.cc
  Geometry/MTDNumberingBuilder/test/mtd_cfg.py
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved, upgrade-approved

#28903 [HGCAL] TICL technical changes
  DataFormats/HGCalReco/interface/Common.h
  DataFormats/HGCalReco/interface/TICLLayerTile.h
  DataFormats/HGCalReco/interface/TICLSeedingRegion.h
  DataFormats/HGCalReco/interface/Trackster.h
  DataFormats/HGCalReco/src/classes_def.xml
  RecoHGCal/TICL/plugins/HGCGraph.cc
  RecoHGCal/TICL/plugins/PatternRecognitionbyCA.cc
  RecoHGCal/TICL/plugins/TICLCandidateFromTrackstersProducer.cc
  RecoHGCal/TICL/plugins/TracksterGeneralTrackPlugin.cc
  RecoHGCal/TICL/plugins/TracksterP4FromEnergySumPlugin.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved, upgrade-approved

#28951 [DD4hep] DDNamespace::name Issue #28949
  DetectorDescription/DDCMS/plugins/dd4hep/DDAngular.cc
  DetectorDescription/DDCMS/plugins/dd4hep/DDDefinitions2Objects.cc
  Geometry/HGCalCommonData/interface/AHCalParameters.h
  Geometry/HGCalCommonData/plugins/dd4hep/DDAHcalModuleAlgo.cc
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalEEAlgo.cc
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalNoTaperEndcap.cc
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalTBModuleX.cc
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalWaferAlgo.cc
  Geometry/HcalAlgo/plugins/dd4hep/DDHCalAngular.cc
  Geometry/HcalAlgo/plugins/dd4hep/DDHCalEndcapAlgo.cc
  Geometry/HcalAlgo/plugins/dd4hep/DDHCalEndcapModuleAlgo.cc
  Geometry/HcalAlgo/plugins/dd4hep/DDHCalTBCableAlgo.cc
  Geometry/HcalAlgo/plugins/dd4hep/DDHCalTestBeamAlgo.cc
  Geometry/MuonCommonData/plugins/dd4hep/DDGEMAngular.cc
  Geometry/MuonCommonData/plugins/dd4hep/DDMuonAngular.cc
  Geometry/TrackerCommonData/plugins/dd4hep/DDPixFwdDiskAlgo.cc
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved, upgrade-approved

#28955 HCALDQM: Fix ngHO crate-FED mapping (11_0_X)
  DQM/HcalCommon/interface/Constants.h
Labels: backport-ok, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#28882 Clean BuildFiles in RecoVertex and RecoTracker
  Alignment/OfflineValidation/plugins/BuildFile.xml
  CalibTracker/SiStripHitEfficiency/BuildFile.xml
  RecoParticleFlow/PFClusterProducer/plugins/BuildFile.xml
  RecoPixelVertexing/PixelLowPtUtilities/BuildFile.xml
  RecoTBCalo/EcalSimpleTBAnalysis/BuildFile.xml
  RecoTBCalo/EcalTBAnalysisCoreTools/BuildFile.xml
  RecoTBCalo/EcalTBHodoscopeReconstructor/BuildFile.xml
  RecoTBCalo/EcalTBRecProducers/BuildFile.xml
  RecoTBCalo/EcalTBTDCReconstructor/BuildFile.xml
  RecoTBCalo/HcalPlotter/BuildFile.xml
  RecoTBCalo/HcalTBObjectUnpacker/BuildFile.xml
  RecoTracker/DeDx/BuildFile.xml
  RecoTracker/DeDx/plugins/BuildFile.xml
  RecoTracker/FinalTrackSelectors/BuildFile.xml
  RecoTracker/MeasurementDet/BuildFile.xml
  RecoTracker/MkFit/BuildFile.xml
  RecoTracker/SiTrackerMRHTools/BuildFile.xml
  RecoTracker/SpecialSeedGenerators/BuildFile.xml
  RecoTracker/TkDetLayers/BuildFile.xml
  RecoTracker/TkHitPairs/BuildFile.xml
  RecoTracker/TkSeedGenerator/BuildFile.xml
  RecoTracker/TkSeedingLayers/BuildFile.xml
  RecoTracker/TkTrackingRegions/BuildFile.xml
  RecoTracker/TkTrackingRegions/plugins/BuildFile.xml
  RecoTracker/TrackProducer/BuildFile.xml
  RecoTracker/TransientTrackingRecHit/BuildFile.xml
  RecoVertex/AdaptiveVertexFit/BuildFile.xml
  RecoVertex/BeamSpotProducer/BuildFile.xml
  RecoVertex/ConfigurableVertexReco/BuildFile.xml
  RecoVertex/GhostTrackFitter/BuildFile.xml
  RecoVertex/LinearizationPointFinders/BuildFile.xml
  RecoVertex/PrimaryVertexProducer/BuildFile.xml
  RecoVertex/V0Producer/BuildFile.xml
  RecoVertex/VertexTools/BuildFile.xml
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28893 ConditionFormats/Serialization: Update eos portable archive to work with boost 1.69.0+
  CalibCalorimetry/HcalAlgos/src/HcalDbHardcode.cc
  CondFormats/Serialization/interface/eos/polymorphic_portable_archive.hpp
  CondFormats/Serialization/interface/eos/portable_archive.hpp
  CondFormats/Serialization/interface/eos/portable_iarchive.hpp
  CondFormats/Serialization/interface/eos/portable_oarchive.hpp
  L1Trigger/L1TMuonBarrel/interface/L1TMuonBarrelParamsAllPublic.h
  L1Trigger/RPCTechnicalTrigger/interface/LogicTool.h
Labels: alca-approved, code-checks-approved, comparison-available, db-approved, fully-signed, l1-approved, orp-approved, tests-approved

#28829 DQM: Remove DQMDcsInfo
  DQMOffline/Configuration/python/DQMOfflineCosmics_SecondStep_cff.py
  DQMOffline/Configuration/python/DQMOfflineCosmics_cff.py
  DQMOffline/Configuration/python/DQMOfflineHeavyIons_SecondStep_cff.py
  DQMOffline/Configuration/python/DQMOfflineHeavyIons_cff.py
  DQMOffline/Configuration/python/DQMOffline_SecondStep_cff.py
  DQMOffline/Configuration/python/DQMOffline_cff.py
  DQMOffline/L1Trigger/test/runDQMOffline_step1NoRECO_L1TriggerOnly_job1_cfg.py
  DQMOffline/L1Trigger/test/runDQMOffline_step1_L1TriggerOnly_job1_cfg.py
  DQMOffline/L1Trigger/test/runDQMOffline_step2_L1TriggerOnly_cfg.py
  DQMOffline/Muon/test/DQMOffline_SecondStep_cff.py
  DQMOffline/Muon/test/DQMOffline_cff.py
  DQMServices/Components/plugins/DQMDcsInfo.cc
  DQMServices/Components/plugins/DQMDcsInfo.h
  DQMServices/Components/plugins/DQMDcsInfoClient.cc
  DQMServices/Components/plugins/DQMDcsInfoClient.h
  DQMServices/Components/plugins/DQMProvInfo.cc
  DQMServices/Components/plugins/SealModule.cc
  DQMServices/Components/python/DQMDcsInfoClient_cfi.py
  DQMServices/Components/python/DQMDcsInfo_cfi.py
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, l1-approved, orp-approved, tests-approved

#28966 Migrate EcalSimHitsValidation classes to DQMEDAnalyzer
  Validation/EcalHits/interface/EcalBarrelSimHitsValidation.h
  Validation/EcalHits/interface/EcalEndcapSimHitsValidation.h
  Validation/EcalHits/interface/EcalPreshowerSimHitsValidation.h
  Validation/EcalHits/interface/EcalSimHitsValidation.h
  Validation/EcalHits/python/ecalBarrelSimHitsValidation_cfi.py
  Validation/EcalHits/python/ecalEndcapSimHitsValidation_cfi.py
  Validation/EcalHits/python/ecalPreshowerSimHitsValidation_cfi.py
  Validation/EcalHits/python/ecalSimHitsValidation_cfi.py
  Validation/EcalHits/src/EcalBarrelSimHitsValidation.cc
  Validation/EcalHits/src/EcalEndcapSimHitsValidation.cc
  Validation/EcalHits/src/EcalPreshowerSimHitsValidation.cc
  Validation/EcalHits/src/EcalSimHitsValidation.cc
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#28944 [cxxmodules] Remove the layering violation in BTauReco.
  DataFormats/BTauReco/interface/FeaturesTagInfo.h
  DataFormats/PatCandidates/interface/ioread_packedgen.h
Labels: analysis-pending, code-checks-approved, comparison-available, orp-approved, pending-signatures, reconstruction-approved, tests-approved

#28970 Ported visDQMUpload to python 3
  DQMServices/FileIO/scripts/visDQMUpload.py
Labels: code-checks-approved, comparison-pending, dqm-approved, fully-signed, orp-approved, tests-approved

#28963 [RPC] fixed error for MWGR#1 release
  DQM/Integration/python/clients/rpc_dqm_sourceclient-live_cfg.py
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, requires-external, tests-approved

#28923 Tracker Alignment: implement PV resolution analysis in the all-in-one tool
  Alignment/OfflineValidation/interface/pvTree.h
  Alignment/OfflineValidation/macros/CMS_lumi.C
  Alignment/OfflineValidation/macros/CMS_lumi.h
  Alignment/OfflineValidation/macros/FitPVResiduals.C
  Alignment/OfflineValidation/macros/FitPVResolution.C
  Alignment/OfflineValidation/plugins/GeneralPurposeTrackAnalyzer.cc
  Alignment/OfflineValidation/plugins/SplitVertexResolution.cc
  Alignment/OfflineValidation/python/TkAlAllInOneTool/betterConfigParser.py
  Alignment/OfflineValidation/python/TkAlAllInOneTool/configTemplates.py
  Alignment/OfflineValidation/python/TkAlAllInOneTool/plottingOptions.py
  Alignment/OfflineValidation/python/TkAlAllInOneTool/primaryVertexResolution.py
  Alignment/OfflineValidation/python/TkAlAllInOneTool/primaryVertexResolutionTemplates.py
  Alignment/OfflineValidation/scripts/validateAlignments.py
  Alignment/OfflineValidation/src/classes.h
  Alignment/OfflineValidation/src/classes_def.xml
  Alignment/OfflineValidation/test/BuildFile.xml
  Alignment/OfflineValidation/test/PrimaryVertexResolution_cfg.py
  Alignment/OfflineValidation/test/testPVPlotting.cpp
  Alignment/OfflineValidation/test/testPVResolution_all_in_one.ini
  Alignment/OfflineValidation/test/test_all.sh
  Alignment/OfflineValidation/test/test_all_cfg.py
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#28899 Concurrent ExternalLHEProducer
  GeneratorInterface/LHEInterface/plugins/BuildFile.xml
  GeneratorInterface/LHEInterface/plugins/ExternalLHEProducer.cc
  GeneratorInterface/LHEInterface/test/BuildFile.xml
  GeneratorInterface/LHEInterface/test/run_dummy_script.sh
  GeneratorInterface/LHEInterface/test/test_catch2_ExternalLHEProducer.cc
  GeneratorInterface/LHEInterface/test/test_catch2_main.cc
Labels: code-checks-approved, comparison-available, fully-signed, generators-approved, orp-approved, tests-approved

#28981 Correct ECAL timing calibration for Run2018D
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#28930 Updates for HCAL online TPG LUT and Trigger keys
  CalibCalorimetry/HcalTPGAlgos/interface/LutXml.h
  CalibCalorimetry/HcalTPGAlgos/src/LutXml.cc
  CaloOnlineTools/HcalOnlineDb/test/cardPhysicsSkeleton.sh
  CaloOnlineTools/HcalOnlineDb/test/genLUT.sh
  CaloOnlineTools/HcalOnlineDb/test/template.py
Labels: alca-approved, code-checks-approved, comparison-available, db-approved, fully-signed, l1-approved, orp-approved, tests-approved

#28964 MTD RECO Geometry: fix debug statements in MTDGeometryBuilder
  Geometry/MTDGeometryBuilder/src/MTDGeomBuilderFromGeometricTimingDet.cc
  Geometry/MTDGeometryBuilder/src/MTDGeometry.cc
  Geometry/MTDGeometryBuilder/test/mtd_cfg.py
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved, upgrade-approved

#28910 Run3-TB48 Add a new beam line definition for October TB
  Geometry/HGCalCommonData/data/TB181/Oct180/hgcalBeam.xml
  Geometry/HGCalCommonData/data/TB181/Oct181/cms.xml
  Geometry/HGCalCommonData/data/TB181/Oct181/hgcal.xml
  Geometry/HGCalCommonData/data/TB181/Oct182/hgcal.xml
  Geometry/HGCalCommonData/data/TB181/Oct183/hgcal.xml
  Geometry/HGCalCommonData/python/testTB181V0XML_cfi.py
  Geometry/HGCalCommonData/test/python/dumpHGCalTBGeometry_cfg.py
  SimG4CMS/HGCalTestBeam/plugins/HGCalTBAnalyzer.cc
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, simulation-approved, tests-approved, upgrade-approved

#28915 MTD simulation and local reconstruction: code cleaning
  RecoLocalFastTime/Configuration/python/RecoLocalFastTime_EventContent_cff.py
  RecoLocalFastTime/Configuration/python/RecoLocalFastTime_cff.py
  RecoLocalFastTime/FTLCommonAlgos/interface/FTLRecHitAlgoBase.h
  RecoLocalFastTime/FTLCommonAlgos/interface/FTLUncalibratedRecHitAlgoBase.h
  RecoLocalFastTime/FTLCommonAlgos/plugins/FTLSimpleRecHitAlgo.cc
  RecoLocalFastTime/FTLCommonAlgos/plugins/FTLSimpleUncalibRecHitAlgo.cc
  RecoLocalFastTime/FTLCommonAlgos/python/ftlSimpleRecHitAlgo_cff.py
  RecoLocalFastTime/FTLCommonAlgos/python/ftlSimpleUncalibRecHitAlgo_cff.py
  RecoLocalFastTime/FTLCommonAlgos/src/FTLRecHitAlgoBase.cc
  RecoLocalFastTime/FTLCommonAlgos/src/FTLUncalibratedRecHitAlgoBase.cc
  RecoLocalFastTime/FTLRecProducers/plugins/FTLRecHitProducer.cc
  RecoLocalFastTime/FTLRecProducers/plugins/FTLUncalibratedRecHitProducer.cc
  RecoLocalFastTime/FTLRecProducers/python/ftlRecHits_cfi.py
  RecoLocalFastTime/FTLRecProducers/python/ftlUncalibratedRecHits_cfi.py
  SimFastTiming/Configuration/python/SimFastTiming_cff.py
  SimFastTiming/FastTimingCommon/interface/BTLBarDeviceSim.h
  SimFastTiming/FastTimingCommon/interface/BTLDeviceSim.h
  SimFastTiming/FastTimingCommon/interface/FTLDigitizer.h
  SimFastTiming/FastTimingCommon/interface/FTLDigitizerBase.h
  SimFastTiming/FastTimingCommon/interface/FTLDigitizerTypes.h
  SimFastTiming/FastTimingCommon/interface/MTDDigitizerBase.h
  SimFastTiming/FastTimingCommon/interface/MTDDigitizerTraits.h
  SimFastTiming/FastTimingCommon/interface/MTDDigitizerTypes.h
  SimFastTiming/FastTimingCommon/interface/SimpleDeviceSimInMIPs.h
  SimFastTiming/FastTimingCommon/interface/SimpleElectronicsSimInMIPs.h
  SimFastTiming/FastTimingCommon/plugins/FTLDigiProducer.cc
  SimFastTiming/FastTimingCommon/plugins/FTLDigiProducer.h
  SimFastTiming/FastTimingCommon/plugins/MTDDigitizers.cc
  SimFastTiming/FastTimingCommon/plugins/SimpleFTLDigitizerInMIPs.cc
  SimFastTiming/FastTimingCommon/python/fastTimeDigitizer_cfi.py
  SimFastTiming/FastTimingCommon/python/mtdDigitizer_cfi.py
  SimFastTiming/FastTimingCommon/src/BTLDeviceSim.cc
  SimFastTiming/FastTimingCommon/src/BTLTileDeviceSim.cc
  SimFastTiming/FastTimingCommon/src/FTLDigitizerBase.cc
  SimFastTiming/FastTimingCommon/src/SimpleDeviceSimInMIPs.cc
  SimFastTiming/FastTimingCommon/src/SimpleElectronicsSimInMIPs.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, simulation-approved, tests-approved, upgrade-approved

#28987 Use LFN for input file in LumiAlCaRecoProducers
  Calibration/LumiAlCaRecoProducers/test/test_cfg.py
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#28982 Correct ECAL timing calibration for Run2018D [11_0_X]
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, comparison-available, fully-signed, orp-approved, tests-approved

#28962 [RPC] fixed error for MWGR#1 release
  DQM/Integration/python/clients/rpc_dqm_sourceclient-live_cfg.py
Labels: comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#28985 [DD4hep] Fix Compilation Error
  Geometry/MTDCommonData/test/DD4hep_TestMTDNumbering.cc
  Geometry/MTDCommonData/test/DD4hep_TestMTDPosition.cc
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved, upgrade-approved

#28990 Correct ECAL timing calibration for Run2018D [10_6_X]
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, backport-ok, comparison-available, fully-signed, orp-approved, tests-approved

#28995 add missing dependencies seen in modules build
  DataFormats/HLTReco/BuildFile.xml
Labels: code-checks-approved, comparison-available, fully-signed, hlt-approved, orp-approved, tests-approved

#28948 More flexible SOI handling
  RecoLocalCalo/HcalRecProducers/src/HBHEPhase1Reconstructor.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28979 customization files needed for CSC reco objects study
  RecoLocalMuon/CSCRecHitD/python/customRecHitBuilder.py
  RecoLocalMuon/CSCSegment/python/customSegmentBuilder.py
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28976 [HGCal] Add a lower limit to the fraction of recHits energy in realistic SimClusters
  RecoParticleFlow/PFClusterProducer/plugins/SimMappers/RealisticHitToClusterAssociator.h
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#29002 remove tuple copies
  Geometry/TrackerGeometryBuilder/src/TrackerGeometry.cc
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved

#28918 HCAL: Updating HBHE Zero Suppression algo for Run3 MC
  SimCalorimetry/HcalZeroSuppressionProducers/python/hcalDigisNoSuppression_cfi.py
  SimCalorimetry/HcalZeroSuppressionProducers/python/hcalDigisRealistic_cfi.py
  SimCalorimetry/HcalZeroSuppressionProducers/python/hcalDigis_cfi.py
  SimCalorimetry/HcalZeroSuppressionProducers/src/HcalRealisticZS.cc
  SimCalorimetry/HcalZeroSuppressionProducers/src/HcalSimpleAmplitudeZS.cc
  SimCalorimetry/HcalZeroSuppressionProducers/src/HcalSimpleAmplitudeZS.h
  SimCalorimetry/HcalZeroSuppressionProducers/src/HcalZSAlgoEnergy.cc
  SimCalorimetry/HcalZeroSuppressionProducers/src/HcalZSAlgoEnergy.h
  SimCalorimetry/HcalZeroSuppressionProducers/src/HcalZSAlgoRealistic.cc
  SimCalorimetry/HcalZeroSuppressionProducers/src/HcalZSAlgoRealistic.h
  SimCalorimetry/HcalZeroSuppressionProducers/src/SealModule.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, simulation-approved, tests-approved

#29014 use openblas instead of lapack lib
  PhysicsTools/MVATrainer/plugins/BuildFile.xml
Labels: analysis-pending, comparison-available, orp-approved, pending-signatures, tests-approved

#28953 customization files needed for CSC reco objects study
  RecoLocalMuon/CSCRecHitD/python/customRecHitBuilder.py
  RecoLocalMuon/CSCSegment/python/customSegmentBuilder.py
Labels: backport-ok, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28961 MTD premixing: fix hit time in signal-PU merging
  SimFastTiming/FastTimingCommon/interface/MTDDigitizer.h
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, simulation-approved, tests-approved, upgrade-approved

#28917 HFNose: fix rechitTools for HGCalCLUEAlgo
  DataFormats/ForwardDetId/interface/HFNoseDetId.h
  RecoLocalCalo/HGCalRecAlgos/interface/RecHitTools.h
  RecoLocalCalo/HGCalRecAlgos/src/RecHitTools.cc
  RecoLocalCalo/HGCalRecProducers/interface/HGCalClusteringAlgoBase.h
  RecoLocalCalo/HGCalRecProducers/plugins/HGCalCLUEAlgo.cc
  RecoLocalCalo/HGCalRecProducers/plugins/HGCalLayerClusterProducer.cc
  SimGeneral/MixingModule/python/caloTruthProducer_cfi.py
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, simulation-approved, tests-approved, upgrade-approved

#28972 Clean BuildFiles in RecoHI and RecoLocalMuon
  RecoHI/HiCentralityAlgos/BuildFile.xml
  RecoHI/HiCentralityAlgos/plugins/BuildFile.xml
  RecoHI/HiEgammaAlgos/BuildFile.xml
  RecoHI/HiEvtPlaneAlgos/BuildFile.xml
  RecoHI/HiEvtPlaneAlgos/src/HiEvtPlaneFlatProducer.cc
  RecoHI/HiMuonAlgos/BuildFile.xml
  RecoHI/HiMuonAlgos/interface/DiMuonSeedGeneratorHIC.h
  RecoHI/HiMuonAlgos/interface/DiMuonTrajectorySeed.h
  RecoHI/HiMuonAlgos/interface/FastMuPropagator.h
  RecoHI/HiMuonAlgos/interface/FmpConst.h
  RecoHI/HiMuonAlgos/interface/HICConst.h
  RecoHI/HiMuonAlgos/interface/HICFTSfromL1orL2.h
  RecoHI/HiMuonAlgos/interface/HICMeasurementEstimator.h
  RecoHI/HiMuonAlgos/interface/HICMuonPropagator.h
  RecoHI/HiMuonAlgos/interface/HICMuonUpdator.h
  RecoHI/HiMuonAlgos/interface/HICSeedMeasurementEstimator.h
  RecoHI/HiMuonAlgos/interface/HICSimpleNavigationSchool.h
  RecoHI/HiMuonAlgos/interface/HICTkOuterStartingLayerFinder.h
  RecoHI/HiMuonAlgos/interface/HICTrajectoryBuilder.h
  RecoHI/HiMuonAlgos/interface/HICTrajectoryCorrector.h
  RecoHI/HiMuonAlgos/interface/HITrackVertexMaker.h
  RecoHI/HiMuonAlgos/plugins/BuildFile.xml
  RecoHI/HiTracking/BuildFile.xml
  RecoLocalMuon/CSCEfficiency/BuildFile.xml
  RecoLocalMuon/CSCRecHitD/BuildFile.xml
  RecoLocalMuon/CSCValidation/BuildFile.xml
  RecoLocalMuon/GEMRecHit/BuildFile.xml
  RecoLocalMuon/GEMRecHit/plugins/BuildFile.xml
  RecoLocalMuon/RPCRecHit/BuildFile.xml
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved, upgrade-approved

#28996 Run3-TB49 Remove overlap in the beamline geometry
  Geometry/HGCalCommonData/data/TB181/Oct180/hgcalBeam.xml
  SimG4CMS/HGCalTestBeam/plugins/HGCalTBAnalyzer.cc
  SimG4CMS/HGCalTestBeam/python/HGCalTB181Oct0XML_cfi.py
  SimG4CMS/HGCalTestBeam/test/HGCalTBCERN181Oct1el100_cfg.py
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, simulation-approved, tests-approved, upgrade-approved

#29012 Physics List updates for future migration to Geant4 10.6
  SimG4Core/Application/python/g4SimHits_cfi.py
  SimG4Core/PhysicsLists/interface/CMSHadronPhysicsFTFP_BERT.h
  SimG4Core/PhysicsLists/plugins/FTFPCMS_BERT_EML.cc
  SimG4Core/PhysicsLists/plugins/FTFPCMS_BERT_EMM.cc
  SimG4Core/PhysicsLists/plugins/FTFPCMS_BERT_EMN.cc
  SimG4Core/PhysicsLists/plugins/QBBCCMS.cc
  SimG4Core/PhysicsLists/src/CMSHadronPhysicsFTFP_BERT.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, simulation-approved, tests-approved

#28844 Add customizer for PUPPI tune v13
  CommonTools/PileupAlgos/python/customizePuppiTune_cff.py
  PhysicsTools/NanoAOD/python/custom_jme_cff.py
Labels: analysis-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved, xpog-approved

#28971 [TRK POG Validation] Added residuals vs phi in MTV histos
  Validation/RecoMuon/python/PostProcessor_cff.py
  Validation/RecoTrack/interface/MTVHistoProducerAlgoForTracker.h
  Validation/RecoTrack/python/PostProcessorTracker_cfi.py
  Validation/RecoTrack/python/plotting/trackingPlots.py
  Validation/RecoTrack/src/MTVHistoProducerAlgoForTracker.cc
  Validation/RecoTrack/test/publicPlots/plot.py
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#29004 Disabled (for offline) some ECAL plots based on the trigger emulator.
  DQM/EcalMonitorClient/interface/TrigPrimClient.h
  DQM/EcalMonitorClient/python/TrigPrimClient_cfi.py
  DQM/EcalMonitorClient/src/TrigPrimClient.cc
  DQM/EcalMonitorTasks/src/TrigPrimTask.cc
  DQMOffline/Ecal/python/ecal_dqm_client_offline_cff.py
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#29011 MTD Reco geometry: minor technical cleaning
  Geometry/MTDGeometryBuilder/src/MTDGeometry.cc
  RecoLocalFastTime/FTLCommonAlgos/src/MTDTimeCalib.cc
  SimFastTiming/FastTimingCommon/src/BTLDeviceSim.cc
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, reconstruction-approved, simulation-approved, tests-approved, upgrade-approved

#29019 Run3-sim55 Allow CaloHit to have reference of the saved track
  SimG4CMS/Calo/interface/CaloSD.h
  SimG4CMS/Calo/src/CaloSD.cc
  SimG4CMS/Calo/src/CaloTrkProcessing.cc
  SimG4CMS/Calo/test/python/runHGC4_cfg.py
  SimG4Core/Application/python/g4SimHits_cfi.py
  SimG4Core/Notification/interface/TrackInformation.h
  SimG4Core/Notification/src/NewTrackAction.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, simulation-approved, tests-approved

#29020 Improved verbosity in sensitive detector classes
  SimG4CMS/Forward/src/CastorNumberingScheme.cc
  SimG4CMS/Forward/src/CastorSD.cc
  SimG4CMS/Forward/src/CastorShowerLibrary.cc
  SimG4CMS/Forward/src/ZdcSD.cc
  SimG4CMS/Tracker/src/TkAccumulatingSensitiveDetector.cc
  SimG4CMS/Tracker/src/TrackerG4SimHitNumberingScheme.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, simulation-approved, tests-approved

#29021 DQMCertCommon is not used, customize DQMCertTrackerPixel instead
  DQMOffline/Configuration/python/DQMOffline_Certification_cff.py
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#29013 Run3-sim54 First step to adopt Ecal Reco geometry for DD4Hep
  Geometry/CaloEventSetup/interface/CaloGeometryEP.h
  Geometry/CaloEventSetup/interface/CaloGeometryLoader.h
  Geometry/CaloEventSetup/interface/CaloGeometryLoader.icc
  Geometry/EcalAlgo/plugins/EcalBarrelGeometryLoaderFromDDD.cc
  Geometry/EcalAlgo/plugins/EcalEndcapGeometryLoaderFromDDD.cc
  Geometry/EcalAlgo/plugins/EcalPreshowerGeometryLoaderFromDDD.cc
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved

#29023 Corrected 5 channels of 2016 ECAL intercalibration
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#29017 Run3-alca161 Correct some of the scripts used for IsoTrack Calibration
  Calibration/HcalCalibAlgos/macros/CalibSort.C
  Calibration/HcalCalibAlgos/macros/isotrackApplyRegressor.py
  Calibration/HcalCalibAlgos/macros/isotrackTrainRegressor.py
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#28984 Adding parameters needed for PUjetID 94X and 102X v2
  RecoJets/JetProducers/python/PileupJetIDCutParams_cfi.py
  RecoJets/JetProducers/python/PileupJetIDParams_cfi.py
  RecoJets/JetProducers/python/PileupJetID_cfi.py
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, requires-external, tests-approved

#29029 Corrected 5 channels of 2016 ECAL intercalibration [10_6_X]
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, comparison-available, fully-signed, orp-approved, tests-approved

#29028 Corrected 5 channels of 2016 ECAL intercalibration [11_0_X]
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, comparison-available, fully-signed, orp-approved, tests-approved

#29022 [11.0.X] DQMCertCommon is not used, customize DQMCertTrackerPixel instead
  DQMOffline/Configuration/python/DQMOffline_Certification_cff.py
Labels: backport-ok, bug-fix, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#29027 Delete dqm muon alignment
  Configuration/StandardSequences/python/AlCaRecoStreamsHeavyIons_cff.py
  Configuration/StandardSequences/python/AlCaRecoStreams_cff.py
  DQMOffline/Alignment/interface/MuonAlignment.h
  DQMOffline/Alignment/interface/MuonAlignmentSummary.h
  DQMOffline/Alignment/python/ALCARECOMuAlDQM_cff.py
  DQMOffline/Alignment/python/muonAlignmentSummary_cfi.py
  DQMOffline/Alignment/python/muonAlignment_cfi.py
  DQMOffline/Alignment/src/MuonAlignment.cc
  DQMOffline/Alignment/src/MuonAlignmentSummary.cc
  DQMOffline/Alignment/src/SealModule.cc
  DQMOffline/Alignment/test/testMuAlDQM.py
  DQMOffline/Configuration/python/AlCaRecoDQMHI_cff.py
  DQMOffline/Configuration/python/AlCaRecoDQM_cff.py
Labels: alca-approved, code-checks-approved, comparison-available, dqm-approved, fully-signed, operations-approved, orp-approved, tests-approved

#28967 Add more Phase2/Run3 GEN fragments and update with TuneCP5
  Configuration/Generator/python/B0ToKstarMuMu_14TeV_TuneCP5_cfi.py
  Configuration/Generator/python/BdToKstarEleEle_14TeV_TuneCP5_cfi.py
  Configuration/Generator/python/BsToEleEle_14TeV_TuneCP5_cfi.py
  Configuration/Generator/python/BsToJpsiGamma_14TeV_TuneCP5_cfi.py
  Configuration/Generator/python/BsToJpsiPhi_mumuKK_14TeV_TuneCP5_cfi.py
  Configuration/Generator/python/BsToMuMu_14TeV_TuneCP5_cfi.py
  Configuration/Generator/python/BsToPhiPhi_KKKK_14TeV_TuneCP5_cfi.py
  Configuration/Generator/python/FlatRandomPtAndDxyGunProducer_MuPt10To30_cfi.py
  Configuration/Generator/python/FlatRandomPtAndDxyGunProducer_MuPt2To10_cfi.py
  Configuration/Generator/python/FlatRandomPtAndDxyGunProducer_MuPt30To100_cfi.py
  Configuration/Generator/python/H125GGgluonfusion_14TeV_TuneCP5_cfi.py
  Configuration/Generator/python/MinBias_14TeV_pythia8_TuneCP5_cfi.py
  Configuration/Generator/python/QCDForPF_14TeV_TuneCP5_cfi.py
  Configuration/Generator/python/QCD_Pt15To7000_Flat_14TeV_TuneCP5_cff.py
  Configuration/Generator/python/QCD_Pt20toInf_MuEnrichedPt15_14TeV_TuneCP5_cff.py
  Configuration/Generator/python/SingleElectronFlatPt2To100_cfi.py
  Configuration/Generator/python/SingleGammaFlatPt8To150_cfi.py
  Configuration/Generator/python/SingleMuFlatPt0p7To10_cfi.py
  Configuration/Generator/python/SingleMuFlatPt2To100_cfi.py
  Configuration/Generator/python/SingleMuPt1000_Eta2p85_cfi.py
  Configuration/Generator/python/SingleMuPt100_Eta2p85_cfi.py
  Configuration/Generator/python/SingleMuPt10_Eta2p85_cfi.py
  Configuration/Generator/python/SinglePiFlatPt0p7To10_cfi.py
  Configuration/Generator/python/SingleTauFlatPt2To150_cfi.py
  Configuration/Generator/python/TTbar_14TeV_TuneCP5_cfi.py
  Configuration/Generator/python/TauToMuMuMu_14TeV_TuneCP5_cfi.py
  Configuration/Generator/python/ZEE_14TeV_TuneCP5_cfi.py
  Configuration/Generator/python/ZMM_14TeV_TuneCP5_cfi.py
  Configuration/Generator/python/ZTT_All_hadronic_14TeV_TuneCP5_cfi.py
  Configuration/Generator/python/ZTT_Tauola_All_hadronic_14TeV_TuneCP5_cfi.py
  Configuration/Generator/python/ZpTT_1500_14TeV_TuneCP5_cfi.py
  Configuration/PyReleaseValidation/python/MatrixInjector.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
Labels: code-checks-approved, comparison-available, generators-pending, orp-approved, pdmv-approved, pending-signatures, tests-approved, upgrade-approved

#29007 [HGCal] backport 11_0_X Add a lower limit to the fraction of recHits energy in realistic SimClusters
  RecoParticleFlow/PFClusterProducer/plugins/SimMappers/RealisticHitToClusterAssociator.h
Labels: backport-ok, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28926 EventSetup consumes migration 1 GEM module and 1 L1T module
  EventFilter/GEMRawToDigi/plugins/GEMRawToDigiModule.cc
  EventFilter/GEMRawToDigi/plugins/GEMRawToDigiModule.h
  L1Trigger/L1TMuonOverlap/interface/AngleConverter.h
  L1Trigger/L1TMuonOverlap/interface/OMTFReconstruction.h
  L1Trigger/L1TMuonOverlap/interface/OMTFinputMaker.h
  L1Trigger/L1TMuonOverlap/plugins/L1TMuonOverlapTrackProducer.cc
  L1Trigger/L1TMuonOverlap/plugins/L1TMuonOverlapTrackProducer.h
  L1Trigger/L1TMuonOverlap/plugins/OMTFPatternMaker.cc
  L1Trigger/L1TMuonOverlap/src/AngleConverter.cc
  L1Trigger/L1TMuonOverlap/src/OMTFReconstruction.cc
  L1Trigger/L1TMuonOverlap/src/OMTFinputMaker.cc
Labels: code-checks-approved, comparison-available, fully-signed, l1-approved, orp-approved, reconstruction-approved, tests-approved

#28986 DQM: Re-add harvesting test tools.
  DQMServices/Components/test/dqmiofilecopy.sh
  DQMServices/Components/test/test_reharvest_from_dqmio.sh
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#28989 Use correct beamspot for 2016 MC + update MC tracker alignment scenario for 2016 pre-VFP era [10_6_X]
  Configuration/AlCa/python/autoCond.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  TauAnalysis/MCEmbeddingTools/test/runtests.sh
Labels: alca-approved, analysis-approved, backport-ok, comparison-available, fully-signed, orp-approved, pdmv-approved, simulation-approved, tests-approved, upgrade-approved

#29031 Fix bug in PoolSource when skipping events with a missing file
  IOPool/Input/src/RootPrimaryFileSequence.cc
  IOPool/Input/test/PoolInputTest_skip_with_failure_cfg.py
  IOPool/Input/test/TestPoolInput.sh
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#29016 Run3-TB50 Update geometry of the EE section (Shilpi)
  Geometry/HGCalCommonData/data/TB181/Oct181/hgcal.xml
  Geometry/HGCalCommonData/data/TB181/Oct181/hgcalEE.xml
  Geometry/HGCalCommonData/data/TB181/Oct182/hgcal.xml
  Geometry/HGCalCommonData/data/TB181/Oct182/hgcalEE.xml
  Geometry/HGCalCommonData/data/TB181/Oct183/hgcal.xml
  Geometry/HGCalCommonData/data/TB181/Oct183/hgcalEE.xml
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved, upgrade-approved

#29006 Pin the key function in a single object file.
  DataFormats/Common/interface/RefHolderBase.h
  DataFormats/Common/src/RefHolder.cc
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#29041 Update Phase2TrackerDigitizerAlgorithm.cc (LogInfo -> LogTrace)
  SimTracker/SiPhase2Digitizer/plugins/Phase2TrackerDigitizerAlgorithm.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, simulation-approved, tests-approved, upgrade-approved

#29026 Clean BuildFiles in some more reco subsystems
  RecoBTag/Combined/BuildFile.xml
  RecoBTag/PerformanceDB/BuildFile.xml
  RecoBTag/TensorFlow/BuildFile.xml
  RecoBTau/JetTagComputer/BuildFile.xml
  RecoCTPPS/PixelLocal/BuildFile.xml
  RecoCTPPS/ProtonReconstruction/BuildFile.xml
  RecoCTPPS/ProtonReconstruction/plugins/BuildFile.xml
  RecoCaloTools/Navigation/BuildFile.xml
  RecoEcal/EgammaClusterProducers/BuildFile.xml
  RecoEgamma/EgammaIsolationAlgos/BuildFile.xml
  RecoEgamma/ElectronIdentification/BuildFile.xml
  RecoHI/HiMuonAlgos/plugins/HLTHIMuL1L2L3Filter.h
  RecoHI/HiMuonAlgos/plugins/TestMuL1L2Filter.h
  RecoHI/HiMuonAlgos/plugins/TestMuL1L2FilterSTA.h
  RecoTauTag/HLTProducers/BuildFile.xml
  RecoTauTag/ImpactParameter/BuildFile.xml
  RecoTauTag/RecoTau/BuildFile.xml
  RecoTauTag/RecoTau/plugins/BuildFile.xml
Labels: code-checks-approved, comparison-available, fully-signed, hlt-approved, orp-approved, reconstruction-approved, tests-approved

#28997 MTD RECO geometry: MTDNumberingBuilder code simplification
  Geometry/MTDGeometryBuilder/src/MTDGeometry.cc
  Geometry/MTDGeometryBuilder/test/MTDDigiGeometryAnalyzer.cc
  Geometry/MTDGeometryBuilder/test/mtd_cfg.py
  Geometry/MTDNumberingBuilder/interface/CmsMTDStringToEnum.h
  Geometry/MTDNumberingBuilder/plugins/CmsMTDAbstractConstruction.h
  Geometry/MTDNumberingBuilder/plugins/CmsMTDBuilder.cc
  Geometry/MTDNumberingBuilder/plugins/CmsMTDBuilder.h
  Geometry/MTDNumberingBuilder/plugins/CmsMTDConstruction.cc
  Geometry/MTDNumberingBuilder/plugins/CmsMTDConstruction.h
  Geometry/MTDNumberingBuilder/plugins/CmsMTDDetIdBuilder.cc
  Geometry/MTDNumberingBuilder/plugins/CmsMTDDetIdBuilder.h
  Geometry/MTDNumberingBuilder/plugins/CmsMTDDiscBuilder.cc
  Geometry/MTDNumberingBuilder/plugins/CmsMTDDiscBuilder.h
  Geometry/MTDNumberingBuilder/plugins/CmsMTDETLRingBuilder.cc
  Geometry/MTDNumberingBuilder/plugins/CmsMTDETLRingBuilder.h
  Geometry/MTDNumberingBuilder/plugins/CmsMTDEndcapBuilder.cc
  Geometry/MTDNumberingBuilder/plugins/CmsMTDEndcapBuilder.h
  Geometry/MTDNumberingBuilder/plugins/CmsMTDLevelBuilder.cc
  Geometry/MTDNumberingBuilder/plugins/CmsMTDLevelBuilder.h
  Geometry/MTDNumberingBuilder/plugins/CmsMTDModuleBuilder.cc
  Geometry/MTDNumberingBuilder/plugins/CmsMTDModuleBuilder.h
  Geometry/MTDNumberingBuilder/plugins/CmsMTDSubStrctBuilder.cc
  Geometry/MTDNumberingBuilder/plugins/CmsMTDSubStrctBuilder.h
  Geometry/MTDNumberingBuilder/plugins/CmsMTDTrayBuilder.cc
  Geometry/MTDNumberingBuilder/plugins/CmsMTDTrayBuilder.h
  Geometry/MTDNumberingBuilder/plugins/CondDBCmsMTDConstruction.cc
  Geometry/MTDNumberingBuilder/plugins/DDDCmsMTDConstruction.cc
  Geometry/MTDNumberingBuilder/plugins/DDDCmsMTDConstruction.h
  Geometry/MTDNumberingBuilder/plugins/MTDGeometricTimingDetESModule.cc
  Geometry/MTDNumberingBuilder/plugins/mtdStablePhiSort.h
  Geometry/MTDNumberingBuilder/test/GeometricTimingDetAnalyzer.cc
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved, upgrade-approved

#29039 MTD simulation: premixing tuning
  DataFormats/FTLDigi/interface/PMTDSimAccumulator.h
  SimFastTiming/FastTimingCommon/interface/MTDDigitizer.h
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, simulation-approved, tests-approved, upgrade-approved

#28945 Sync with stand-alone Pixel Calibration Code
  CondFormats/SiPixelTransient/interface/SiPixelTemplate.h
  CondFormats/SiPixelTransient/interface/SiPixelTemplate2D.h
  CondFormats/SiPixelTransient/interface/SiPixelUtils.h
  CondFormats/SiPixelTransient/src/SiPixelTemplate.cc
  CondFormats/SiPixelTransient/src/SiPixelTemplate2D.cc
  CondFormats/SiPixelTransient/src/SiPixelUtils.cc
  RecoLocalTracker/SiPixelRecHits/interface/PixelCPEGeneric.h
  RecoLocalTracker/SiPixelRecHits/src/PixelCPEGeneric.cc
  RecoLocalTracker/SiPixelRecHits/src/SiPixelTemplateReco.cc
  RecoLocalTracker/SiPixelRecHits/src/SiPixelTemplateReco2D.cc
Labels: code-checks-approved, comparison-available, db-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28946 Migrate legacy modules in GenFilters to global
  GeneratorInterface/GenFilters/plugins/BCToEFilter.cc
  GeneratorInterface/GenFilters/plugins/BCToEFilter.h
  GeneratorInterface/GenFilters/plugins/BCToEFilterAlgo.cc
  GeneratorInterface/GenFilters/plugins/BCToEFilterAlgo.h
  GeneratorInterface/GenFilters/plugins/FourLepFilter.cc
  GeneratorInterface/GenFilters/plugins/LHEGenericFilter.cc
  GeneratorInterface/GenFilters/plugins/LHEGenericFilter.h
  GeneratorInterface/GenFilters/plugins/LHEVpTFilter.cc
  GeneratorInterface/GenFilters/plugins/LHEVpTFilter.h
  GeneratorInterface/GenFilters/plugins/SealModule.cc
Labels: code-checks-approved, comparison-available, fully-signed, generators-approved, orp-approved, tests-approved

#29034 remove customizer for SiStrip APV dynamic gain simulation
  SimTracker/SiStripDigitizer/python/customizeSiStripAPVDynamicGainSimulation.py
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, simulation-approved, tests-approved

#28991 Migrate 10 EDFilters in GenFilters from legacy
  GeneratorInterface/GenFilters/plugins/BsJpsiPhiFilter.cc
  GeneratorInterface/GenFilters/plugins/BsJpsiPhiFilter.h
  GeneratorInterface/GenFilters/plugins/MCMultiParticleFilter.cc
  GeneratorInterface/GenFilters/plugins/MCMultiParticleFilter.h
  GeneratorInterface/GenFilters/plugins/MCProcessFilter.cc
  GeneratorInterface/GenFilters/plugins/MCProcessFilter.h
  GeneratorInterface/GenFilters/plugins/PythiaFilterGammaJet.cc
  GeneratorInterface/GenFilters/plugins/PythiaFilterGammaJet.h
  GeneratorInterface/GenFilters/plugins/PythiaFilterHT.cc
  GeneratorInterface/GenFilters/plugins/PythiaFilterHT.h
  GeneratorInterface/GenFilters/plugins/PythiaFilterMultiMother.cc
  GeneratorInterface/GenFilters/plugins/PythiaFilterMultiMother.h
  GeneratorInterface/GenFilters/plugins/PythiaFilterZJet.cc
  GeneratorInterface/GenFilters/plugins/PythiaFilterZJet.h
  GeneratorInterface/GenFilters/plugins/PythiaHLTSoupFilter.cc
  GeneratorInterface/GenFilters/plugins/PythiaHLTSoupFilter.h
  GeneratorInterface/GenFilters/plugins/PythiaMomDauFilter.cc
  GeneratorInterface/GenFilters/plugins/PythiaMomDauFilter.h
  GeneratorInterface/GenFilters/plugins/SealModule.cc
  GeneratorInterface/GenFilters/plugins/VBFGenJetFilter.cc
  GeneratorInterface/GenFilters/plugins/VBFGenJetFilter.h
Labels: code-checks-approved, comparison-available, fully-signed, generators-approved, orp-approved, tests-approved

#28999 Added the gen filter for the run-II pMSSM effort - backport of #28201 to 102X
  GeneratorInterface/GenFilters/python/pMSSMFilter_cfi.py
  GeneratorInterface/GenFilters/src/pMSSMFilter.cc
Labels: comparison-available, fully-signed, generators-approved, orp-approved, tests-approved

#28845 Add customizer for PUPPI tune v13 [10_6_X backport]
  CommonTools/PileupAlgos/python/customizePuppiTune_cff.py
  PhysicsTools/NanoAOD/python/custom_jme_cff.py
  PhysicsTools/PatAlgos/python/slimming/puppiForMET_cff.py
Labels: analysis-approved, backport-ok, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved, xpog-approved

#29024 Allow intra-Path parallelism
  FWCore/Framework/src/Path.cc
  FWCore/Framework/src/Path.h
  FWCore/Framework/src/StreamSchedule.cc
  FWCore/Framework/src/Worker.cc
  FWCore/Framework/src/Worker.h
  FWCore/Framework/src/WorkerInPath.cc
  FWCore/Framework/src/WorkerInPath.h
  FWCore/Framework/test/test_multiPathMultiModuleEarlyDelete_cfg.py
  FWCore/Framework/test/test_readAfterEarlyDelete_fail_cfg.py
  FWCore/Framework/test/unit_test_outputs/test_onPath_unscheduled.log
  FWCore/Integration/test/unit_test_outputs/testGetBy1.log
  FWCore/Integration/test/unit_test_outputs/testSubProcess.grep2.txt
  FWCore/ParameterSet/python/SequenceTypes.py
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#29050 Add 11_0_X prompt global tag for Run 3 data
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#29035 HCAL: HBHE MC 8TS->10TS move for >=Run3
  SimCalorimetry/HcalSimProducers/python/HBHE_revert_8TS_cff.py
  SimCalorimetry/HcalSimProducers/python/hcalSimParameters_cfi.py
  SimCalorimetry/HcalZeroSuppressionProducers/python/HBHE_ZSrevert_2TS_cff.py
  SimCalorimetry/HcalZeroSuppressionProducers/python/hcalDigisRealistic_cfi.py
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, simulation-approved, tests-approved

#28994 SiStrip Gains Calibration: add unit test for Multi-Run Harvesting
  CalibTracker/SiStripChannelGain/interface/APVGainHelpers.h
  CalibTracker/SiStripChannelGain/src/SiStripGainsPCLWorker.cc
  CalibTracker/SiStripChannelGain/test/BuildFile.xml
  CalibTracker/SiStripChannelGain/test/checkMultiRunHarvesting.C
  CalibTracker/SiStripChannelGain/test/checkMultiRunHarvesting.cpp
  CalibTracker/SiStripChannelGain/test/testSSTGain_HARVEST_FromRECO.py
  CalibTracker/SiStripChannelGain/test/testSSTGain_MultiRun_ALCAHARVEST.py
  CalibTracker/SiStripChannelGain/test/testSSTGain_PCL_FromRECO.sh
  CalibTracker/SiStripChannelGain/test/testSSTGain_PCL_FromRECO_cfg.py
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, requires-external, tests-approved

#29056 Added option firstLuminosityBlockForEachRun to PoolSource
  IOPool/Input/src/PoolSource.cc
  IOPool/Input/src/RootFile.cc
  IOPool/Input/src/RunHelper.cc
  IOPool/Input/src/RunHelper.h
  IOPool/Input/test/TestPoolInput.sh
  IOPool/Input/test/firstLuminosityBlockForEachRunTest_cfg.py
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#29048 Migrate 17 EDFilters in GenFilters from legacy
  GeneratorInterface/GenFilters/plugins/ComphepSingletopFilterPy8.cc
  GeneratorInterface/GenFilters/plugins/ComphepSingletopFilterPy8.h
  GeneratorInterface/GenFilters/plugins/DJpsiFilter.cc
  GeneratorInterface/GenFilters/plugins/EMEnrichingFilter.cc
  GeneratorInterface/GenFilters/plugins/EMEnrichingFilter.h
  GeneratorInterface/GenFilters/plugins/EMEnrichingFilterAlgo.cc
  GeneratorInterface/GenFilters/plugins/EMEnrichingFilterAlgo.h
  GeneratorInterface/GenFilters/plugins/HerwigMaxPtPartonFilter.cc
  GeneratorInterface/GenFilters/plugins/HerwigMaxPtPartonFilter.h
  GeneratorInterface/GenFilters/plugins/MCFilterZboostHelper.cc
  GeneratorInterface/GenFilters/plugins/MCProcessRangeFilter.cc
  GeneratorInterface/GenFilters/plugins/MCProcessRangeFilter.h
  GeneratorInterface/GenFilters/plugins/MCSingleParticleYPt.cc
  GeneratorInterface/GenFilters/plugins/MCSingleParticleYPt.h
  GeneratorInterface/GenFilters/plugins/MCSmartSingleParticleFilter.cc
  GeneratorInterface/GenFilters/plugins/MCSmartSingleParticleFilter.h
  GeneratorInterface/GenFilters/plugins/MCZll.cc
  GeneratorInterface/GenFilters/plugins/MCZll.h
  GeneratorInterface/GenFilters/plugins/MinimumBiasFilter.cc
  GeneratorInterface/GenFilters/plugins/MinimumBiasFilter.h
  GeneratorInterface/GenFilters/plugins/NJetsMC.cc
  GeneratorInterface/GenFilters/plugins/PythiaFilterEMJetHeep.cc
  GeneratorInterface/GenFilters/plugins/PythiaFilterEMJetHeep.h
  GeneratorInterface/GenFilters/plugins/PythiaFilterGammaJetWithBg.cc
  GeneratorInterface/GenFilters/plugins/PythiaFilterGammaJetWithBg.h
  GeneratorInterface/GenFilters/plugins/PythiaFilterGammaJetWithOutBg.cc
  GeneratorInterface/GenFilters/plugins/PythiaFilterGammaJetWithOutBg.h
  GeneratorInterface/GenFilters/plugins/PythiaFilterTTBar.cc
  GeneratorInterface/GenFilters/plugins/PythiaFilterTTBar.h
  GeneratorInterface/GenFilters/plugins/PythiaFilterZJetWithOutBg.cc
  GeneratorInterface/GenFilters/plugins/PythiaFilterZJetWithOutBg.h
  GeneratorInterface/GenFilters/plugins/SealModule.cc
  GeneratorInterface/GenFilters/plugins/ZgMassFilter.cc
  GeneratorInterface/GenFilters/plugins/ZgMassFilter.h
  GeneratorInterface/GenFilters/plugins/ZgammaMassFilter.cc
  GeneratorInterface/GenFilters/plugins/ZgammaMassFilter.h
Labels: code-checks-approved, comparison-available, fully-signed, generators-approved, orp-approved, tests-approved
