Repository cms-sw/cmssw, pull requests merged in 2020-12, with the labels that each got.

#32278 Updated CosmicRateAnalyzer: MagField & Hits added, deleted latency
  Alignment/TrackerAlignment/plugins/CosmicRateAnalyzer.cc
  Alignment/TrackerAlignment/test/cosmicRateAnalyzer_cfg.py
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#32248 Useful items for new MessageLogger syntax
  FWCore/MessageService/Readme.md
  FWCore/MessageService/bin/edm_modernize_messagelogger.py
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#32328 PUPPI v15 bug/crash fix for NANOAOD
  PhysicsTools/NanoAOD/python/nano_cff.py
Labels: analysis-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved, urgent, xpog-approved

#32329 PUPPI v15 bug/crash fix for NANOAOD (106X backport)
  CommonTools/PileupAlgos/python/Puppi_cff.py
  PhysicsTools/NanoAOD/python/nano_cff.py
Labels: analysis-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved, urgent, xpog-approved

#32323 Implement the fillDescriptions method for RawStreamFileWriterForBU (11.2.x)
  EventFilter/Utilities/plugins/RawEventFileWriterForBU.cc
  EventFilter/Utilities/plugins/RawEventFileWriterForBU.h
  EventFilter/Utilities/plugins/RawEventOutputModuleForBU.h
  EventFilter/Utilities/plugins/modules.cc
  EventFilter/Utilities/test/startBU.py
Labels: backport-ok, comparison-available, daq-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved

#32302 Have PSet properly clone the allowAnyLabel_ option
  FWCore/ParameterSet/python/Mixins.py
  FWCore/ParameterSet/python/Types.py
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#32267 New GEM-CSC LUT generator
  L1Trigger/CSCTriggerPrimitives/interface/CSCBaseboard.h
  L1Trigger/CSCTriggerPrimitives/interface/CSCGEMMotherboard.h
  L1Trigger/CSCTriggerPrimitives/interface/CSCUpgradeMotherboard.h
  L1Trigger/CSCTriggerPrimitives/interface/CSCUpgradeMotherboardLUTGenerator.h
  L1Trigger/CSCTriggerPrimitives/python/params/clctParams.py
  L1Trigger/CSCTriggerPrimitives/src/CSCGEMMotherboard.cc
  L1Trigger/CSCTriggerPrimitives/src/CSCGEMMotherboardME11.cc
  L1Trigger/CSCTriggerPrimitives/src/CSCGEMMotherboardME21.cc
  L1Trigger/CSCTriggerPrimitives/src/CSCMotherboard.cc
  L1Trigger/CSCTriggerPrimitives/src/CSCUpgradeMotherboard.cc
  L1Trigger/CSCTriggerPrimitives/src/CSCUpgradeMotherboardLUTGenerator.cc
  L1Trigger/CSCTriggerPrimitives/test/BuildFile.xml
  L1Trigger/CSCTriggerPrimitives/test/GEMCSCLUTAnalyzer.cc
  L1Trigger/CSCTriggerPrimitives/test/runGEMCSCLUTAnalyzer_cfg.py
Labels: code-checks-approved, comparison-available, fully-signed, l1-approved, orp-approved, tests-approved

#32345 Remove obsolete record SiPixelCPEGenericErrorParmRcd from frozen HLT GTs
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#32327 Remove GsfEleDEtaInSeedCut and GsfEleDPhiInCut
  RecoEgamma/ElectronIdentification/plugins/cuts/GsfEleDEtaInSeedCut.cc
  RecoEgamma/ElectronIdentification/plugins/cuts/GsfEleDPhiInCut.cc
  RecoEgamma/ElectronIdentification/python/Identification/heepElectronID_tools.py
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#32301 migrate Alignment/TrackerAlignment to use esConsumes
  Alignment/OfflineValidation/plugins/ResidualRefitting.cc
  Alignment/TrackerAlignment/plugins/CosmicRateAnalyzer.cc
  Alignment/TrackerAlignment/plugins/CreateTrackerAlignmentRcds.cc
  Alignment/TrackerAlignment/plugins/MCMisalignmentScaler.cc
  Alignment/TrackerAlignment/plugins/MisalignedTrackerESProducer.cc
  Alignment/TrackerAlignment/plugins/TkAlCaOverlapTagger.cc
  Alignment/TrackerAlignment/plugins/TrackerSystematicMisalignments.cc
  Alignment/TrackerAlignment/plugins/TrackerSystematicMisalignments.h
  Alignment/TrackerAlignment/plugins/TrackerTreeGenerator.cc
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#32352 Remove temporarily ctppsProtons from recoCTPPSTask (Run-3 only)
  RecoPPS/Configuration/python/recoCTPPS_cff.py
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved, urgent

#32346 Remove temporarily ctppsProtons from recoCTPPSTask (Run-3 only, 11_2_X backport)
  RecoPPS/Configuration/python/recoCTPPS_cff.py
Labels: backport, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved, urgent

#32337 adding configuration files for Matchbox and standalone H7
  GeneratorInterface/Herwig7Interface/python/Herwig7_Matchbox_ppToee_cff.py
  GeneratorInterface/Herwig7Interface/python/Herwig7_Standalone_DYLO_cff.py
  GeneratorInterface/Herwig7Interface/test/Herwig7_Matchbox_ppToee_cfg.py
  GeneratorInterface/Herwig7Interface/test/Herwig7_Standalone_DYLO_cfg.py
Labels: code-checks-approved, comparison-available, fully-signed, generators-approved, orp-approved, tests-approved

#32326 Set default value for jets w/o SV info in HI CSV tagger
  RecoBTag/Combined/src/HeavyIonCSVTagger.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#31601 L1T Phase2 NN Tau (11_3_X)
  L1Trigger/Configuration/python/L1Trigger_EventContent_cff.py
  L1Trigger/Configuration/python/SimL1Emulator_cff.py
  L1Trigger/Phase2L1ParticleFlow/BuildFile.xml
  L1Trigger/Phase2L1ParticleFlow/interface/TauNNId.h
  L1Trigger/Phase2L1ParticleFlow/plugins/L1NNTauProducer.cc
  L1Trigger/Phase2L1ParticleFlow/python/L1NNTauProducer_cff.py
  L1Trigger/Phase2L1ParticleFlow/src/TauNNId.cc
Labels: code-checks-approved, comparison-available, fully-signed, l1-approved, orp-approved, tests-approved, upgrade-approved

#32325 Use cleaned PF candidates in UE subtraction in HI miniAOD
  RecoHI/HiJetAlgos/python/HiRecoPFJets_cff.py
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, requires-external, tests-approved

#32314 Store energy fractions of gammas in packedPFCandidates (10_6_X)
  PhysicsTools/PatAlgos/plugins/PATPackedCandidateProducer.cc
  PhysicsTools/PatAlgos/python/slimming/packedPFCandidates_cfi.py
Labels: analysis-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#32339 [DD4hep] remove an evaluator usage beyond geometry construction
  DetectorDescription/DDCMS/interface/DDFilteredView.h
  DetectorDescription/DDCMS/plugins/dd4hep/DDDefinitions2Objects.cc
  DetectorDescription/DDCMS/plugins/test/DDTestSpecParsFilter.cc
  DetectorDescription/DDCMS/src/DDFilteredView.cc
  DetectorDescription/DDCMS/test/DDFilteredView.cppunit.cc
  DetectorDescription/DDCMS/test/DDFilteredView.find.cppunit.cc
  DetectorDescription/DDCMS/test/DDFilteredView.get.cppunit.cc
  DetectorDescription/DDCMS/test/DDFilteredView.goto.cppunit.cc
  Geometry/TrackerNumberingBuilder/plugins/DDDCmsTrackerContruction.cc
  SimG4Core/DD4hepGeometry/test/plugins/DD4hepTestDDDWorld.cc
  SimG4Core/DD4hepGeometry/test/python/testZMM_13TeV_TuneCUETP8M1_cfi_GEN_SIM.py
  SimG4Core/DD4hepGeometry/test/runTest.sh
  SimG4Core/Geometry/src/DDG4ProductionCuts.cc
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, simulation-approved, tests-approved

#32331 Set default value for jets w/o SV info in HI CSV tagger (112X)
  RecoBTag/Combined/src/HeavyIonCSVTagger.cc
Labels: comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#32350 Add FakeHLT steps to Patatrack WFs.
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
Labels: backport-ok, comparison-available, fully-signed, orp-approved, pdmv-approved, tests-approved, upgrade-approved

#32243 Set fixes for tau reco at miniAOD
  RecoTauTag/RecoTau/plugins/PFRecoTauChargedHadronProducer.cc
  RecoTauTag/RecoTau/plugins/PFRecoTauEnergyAlgorithmPlugin.cc
  RecoTauTag/RecoTau/src/PFRecoTauClusterVariables.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#32359 Fix race conditions in the PluginSystem
  FWCore/PluginManager/interface/PluginFactoryBase.h
  FWCore/PluginManager/src/PluginFactoryBase.cc
  FWCore/PluginManager/src/PluginManager.cc
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#32354 Pr112x L1T Customization for Unprefireable Bit - Follow up
  L1Trigger/Configuration/python/customiseUtils.py
Labels: code-checks-approved, comparison-available, fully-signed, l1-approved, orp-approved, tests-approved

#32348 HcalDQM: add dqmSaverPB to hcalcalib client
  DQM/Integration/python/clients/hcalcalib_dqm_sourceclient-live_cfg.py
Labels: comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#32039 Patatrack integration - Hcal conditions (13/N)
  CondFormats/DataRecord/interface/HcalCombinedRecordsGPU.h
  CondFormats/DataRecord/src/HcalCombinedRecordsGPU.cc
  CondFormats/HcalObjects/BuildFile.xml
  CondFormats/HcalObjects/interface/HcalConvertedEffectivePedestalWidthsGPU.h
  CondFormats/HcalObjects/interface/HcalConvertedEffectivePedestalsGPU.h
  CondFormats/HcalObjects/interface/HcalConvertedPedestalWidthsGPU.h
  CondFormats/HcalObjects/interface/HcalConvertedPedestalsGPU.h
  CondFormats/HcalObjects/interface/HcalGainWidthsGPU.h
  CondFormats/HcalObjects/interface/HcalGainsGPU.h
  CondFormats/HcalObjects/interface/HcalLUTCorrsGPU.h
  CondFormats/HcalObjects/interface/HcalPedestalWidthsGPU.h
  CondFormats/HcalObjects/interface/HcalPedestalsGPU.h
  CondFormats/HcalObjects/interface/HcalQIECodersGPU.h
  CondFormats/HcalObjects/interface/HcalQIETypesGPU.h
  CondFormats/HcalObjects/interface/HcalRecoParamsGPU.h
  CondFormats/HcalObjects/interface/HcalRespCorrsGPU.h
  CondFormats/HcalObjects/interface/HcalSiPMCharacteristicsGPU.h
  CondFormats/HcalObjects/interface/HcalSiPMParametersGPU.h
  CondFormats/HcalObjects/interface/HcalTimeCorrsGPU.h
  CondFormats/HcalObjects/src/HcalConvertedEffectivePedestalWidthsGPU.cc
  CondFormats/HcalObjects/src/HcalConvertedEffectivePedestalsGPU.cc
  CondFormats/HcalObjects/src/HcalConvertedPedestalWidthsGPU.cc
  CondFormats/HcalObjects/src/HcalConvertedPedestalsGPU.cc
  CondFormats/HcalObjects/src/HcalGainWidthsGPU.cc
  CondFormats/HcalObjects/src/HcalGainsGPU.cc
  CondFormats/HcalObjects/src/HcalLUTCorrsGPU.cc
  CondFormats/HcalObjects/src/HcalPedestalWidthsGPU.cc
  CondFormats/HcalObjects/src/HcalPedestalsGPU.cc
  CondFormats/HcalObjects/src/HcalQIECodersGPU.cc
  CondFormats/HcalObjects/src/HcalQIETypesGPU.cc
  CondFormats/HcalObjects/src/HcalRecoParamsGPU.cc
  CondFormats/HcalObjects/src/HcalRespCorrsGPU.cc
  CondFormats/HcalObjects/src/HcalSiPMCharacteristicsGPU.cc
  CondFormats/HcalObjects/src/HcalSiPMParametersGPU.cc
  CondFormats/HcalObjects/src/HcalTimeCorrsGPU.cc
Labels: alca-approved, code-checks-approved, comparison-available, db-approved, fully-signed, orp-approved, requires-external, tests-approved

#32311 changing to esConsumes after fix in #32217
  HLTrigger/Egamma/plugins/HLTScoutingEgammaProducer.cc
  HLTrigger/Egamma/plugins/HLTScoutingEgammaProducer.h
Labels: code-checks-approved, comparison-available, fully-signed, hlt-approved, orp-approved, tests-approved

#32355 Run3-alca178 Use ESGetToken for the objects from EventSetup in the remaining examples after #32336
  Calibration/IsolatedParticles/plugins/ElectronStudy.cc
  Calibration/IsolatedParticles/plugins/HcalHBHEMuonSimAnalyzer.cc
  Calibration/IsolatedParticles/plugins/HcalRaddamMuon.cc
  Calibration/IsolatedParticles/plugins/IsoTrackCalib.cc
  Calibration/IsolatedParticles/plugins/IsoTrackCalibration.cc
  Calibration/IsolatedParticles/plugins/IsoTrig.cc
  Calibration/IsolatedParticles/plugins/IsolatedTracksHcalScale.cc
  Calibration/IsolatedParticles/plugins/IsolatedTracksNxN.cc
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#32198 Updated configurations in CalibMuon to new MessageLogger syntax
  CalibMuon/CSCCalibration/test/CSCBadChamberPopCon_cfg.py
  CalibMuon/CSCCalibration/test/CSCBadStripsPopCon_cfg.py
  CalibMuon/CSCCalibration/test/CSCBadWiresPopCon_cfg.py
  CalibMuon/CSCCalibration/test/CSCDBChipSpeedCorrectionPopCon_cfg.py
  CalibMuon/CSCCalibration/test/CSCDBCrosstalkPopCon_cfg.py
  CalibMuon/CSCCalibration/test/CSCDBGainsPopCon_cfg.py
  CalibMuon/CSCCalibration/test/CSCDBGasGainCorrectionPopCon_cfg.py
  CalibMuon/CSCCalibration/test/CSCDBL1TPParametersPopCon_cfg.py
  CalibMuon/CSCCalibration/test/CSCDBNoiseMatrixPopCon_cfg.py
  CalibMuon/CSCCalibration/test/CSCDBPedestalsPopCon_cfg.py
  CalibMuon/CSCCalibration/test/CSCL1TPParametersPopCon_cfg.py
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#31984 Pr106 L1T Unprefireable Bit Functionality for miniAOD Reprocessing
  L1Trigger/Configuration/python/customiseUtils.py
  L1Trigger/L1TGlobal/python/simGtExtFakeProd_cfi.py
  PhysicsTools/PatAlgos/python/slimming/MicroEventContent_cff.py
  PhysicsTools/PatAlgos/python/slimming/miniAOD_tools.py
Labels: analysis-pending, backport-ok, comparison-available, l1-pending, orp-approved, pending-signatures, reconstruction-approved, tests-approved

#32235 Updated configurations in Reco* to new MessageLogger syntax
  RecoEgamma/EgammaElectronAlgos/test/testGsfElectronConversionFinder_cff.py
  RecoJets/JetProducers/validation/fastjetJetProducer_validation_cfg.py
  RecoJets/JetProducers/validation/jetProducers_validation_cfg.py
  RecoLocalCalo/HcalRecAlgos/test/hcalsevlvlanalyzer_cfg.py
  RecoLocalTracker/SiPhase2VectorHitBuilder/test/Clusters_productionAndTesting.py
  RecoLocalTracker/SiPhase2VectorHitBuilder/test/VHs_combinatorialStudies_PU200.py
  RecoLocalTracker/SiPixelClusterizer/test/testClusters.py
  RecoLocalTracker/SiPixelClusterizer/test/testTracks_cfg.py
  RecoLuminosity/LumiProducer/test/TestLumiProducerFromBrilcalc_cfg.py
  RecoLuminosity/LumiProducer/test/testLumiCalculator_cfg.py
  RecoPPS/Local/test/re_alignment/reco_align_corr_cfg.py
  RecoPPS/Local/test/re_alignment/reco_base_align_cfg.py
  RecoPPS/Local/test/re_alignment/reco_full_align_cfg.py
  RecoPPS/Local/test/run_only_CTPPS_cfg_CLU_DB_real_mem.py
  RecoPPS/Local/test/run_only_CTPPS_cfg_CLU_REC_DAQ_TRK.py
  RecoPPS/Local/test/run_only_CTPPS_cfg_CLU_REC_DB_real_mem.py
  RecoPPS/Local/test/run_only_CTPPS_cfg_CLU_REC_mem_testDB_300811.py
  RecoPixelVertexing/PixelTrackFitting/test/test_cfg.py
  RecoTracker/GeometryESProducer/test/testTrackerRecoGeometry_cfg.py
  RecoVertex/BeamSpotProducer/test/test_scalars.py
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved, upgrade-approved

#32078 Change track muon dataformats scouting (11.1.x)
  DataFormats/Scouting/BuildFile.xml
  DataFormats/Scouting/interface/Run3ScoutingCaloJet.h
  DataFormats/Scouting/interface/Run3ScoutingElectron.h
  DataFormats/Scouting/interface/Run3ScoutingMuon.h
  DataFormats/Scouting/interface/Run3ScoutingPFJet.h
  DataFormats/Scouting/interface/Run3ScoutingParticle.h
  DataFormats/Scouting/interface/Run3ScoutingPhoton.h
  DataFormats/Scouting/interface/Run3ScoutingTrack.h
  DataFormats/Scouting/interface/Run3ScoutingVertex.h
  DataFormats/Scouting/src/classes.h
  DataFormats/Scouting/src/classes_def.xml
  HLTrigger/Egamma/plugins/HLTScoutingEgammaProducer.cc
  HLTrigger/Egamma/plugins/HLTScoutingEgammaProducer.h
  HLTrigger/JetMET/plugins/HLTScoutingCaloProducer.cc
  HLTrigger/JetMET/plugins/HLTScoutingPFProducer.cc
  HLTrigger/JetMET/plugins/HLTScoutingPrimaryVertexProducer.cc
  HLTrigger/Muon/plugins/HLTScoutingMuonProducer.cc
  HLTrigger/Muon/plugins/HLTScoutingMuonProducer.h
  HLTrigger/Muon/plugins/HLTScoutingTrackProducer.cc
Labels: backport-ok, comparison-available, core-approved, fully-signed, hlt-approved, orp-approved, tests-approved

#32316 Adopt ChargedHadronPFTrackIsolationProducer for PFTICL candidates (backport)
  RecoParticleFlow/PFProducer/plugins/ChargedHadronPFTrackIsolationProducer.cc
Labels: backport-ok, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved, upgrade-approved

#31220 Add low-pT electrons to MINIAOD, update ID, improve end user experience
  CommonTools/MVAUtils/BuildFile.xml
  CommonTools/MVAUtils/bin/BuildFile.xml
  CommonTools/MVAUtils/bin/convertXMLToGBRForestROOT.cc
  CommonTools/MVAUtils/src/GBRForestTools.cc
  DataFormats/PatCandidates/src/classes_def_objects.xml
  PhysicsTools/PatAlgos/plugins/BuildFile.xml
  PhysicsTools/PatAlgos/plugins/LowPtGSFToPackedCandidateLinker.cc
  PhysicsTools/PatAlgos/python/producersLayer1/lowPtElectronProducer_cff.py
  PhysicsTools/PatAlgos/python/producersLayer1/patCandidates_cff.py
  PhysicsTools/PatAlgos/python/selectionLayer1/lowPtElectronSelector_cfi.py
  PhysicsTools/PatAlgos/python/selectionLayer1/selectedPatCandidates_cff.py
  PhysicsTools/PatAlgos/python/slimming/MicroEventContent_cff.py
  PhysicsTools/PatAlgos/python/slimming/slimmedLowPtElectrons_cff.py
  PhysicsTools/PatAlgos/python/slimming/slimmedLowPtElectrons_cfi.py
  PhysicsTools/PatAlgos/python/slimming/slimming_cff.py
  PhysicsTools/PatAlgos/test/IntegrationTest_cfg.py
  PhysicsTools/PatAlgos/test/patTuple_addTriggerInfo_cfg.py
  RecoEgamma/Configuration/python/RecoEgamma_EventContent_cff.py
  RecoEgamma/EgammaElectronProducers/interface/LowPtGsfElectronFeatures.h
  RecoEgamma/EgammaElectronProducers/plugins/BuildFile.xml
  RecoEgamma/EgammaElectronProducers/plugins/LowPtGsfElectronIDProducer.cc
  RecoEgamma/EgammaElectronProducers/plugins/LowPtGsfElectronSeedValueMapsProducer.cc
  RecoEgamma/EgammaElectronProducers/python/lowPtGsfElectronSeedValueMaps_cff.py
  RecoEgamma/EgammaElectronProducers/python/lowPtGsfElectronSequence_cff.py
  RecoEgamma/EgammaElectronProducers/src/LowPtGsfElectronFeatures.cc
  RecoEgamma/EgammaTools/plugins/EGExtraInfoModifierFromValueMaps.cc
Labels: analysis-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, requires-external, tests-approved, xpog-approved

#32264 Run3-alca176 Introduce muon veto for isotrack analysis
  Calibration/HcalCalibAlgos/macros/CalibFitPlots.C
  Calibration/HcalCalibAlgos/plugins/HcalIsoTrkAnalyzer.cc
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#32351 Run3-gex41 Complementing the geometry scenarios of special cases with the Reco cff's
  Configuration/Geometry/python/GeometryExtended2015FlatMinus05PercentReco_cff.py
  Configuration/Geometry/python/GeometryExtended2015FlatMinus10PercentReco_cff.py
  Configuration/Geometry/python/GeometryExtended2015FlatPlus05PercentReco_cff.py
  Configuration/Geometry/python/GeometryExtended2015FlatPlus10PercentReco_cff.py
  Configuration/Geometry/python/GeometryExtended2017Plan1FlatMinus05PercentReco_cff.py
  Configuration/Geometry/python/GeometryExtended2017Plan1FlatMinus05Percent_cff.py
  Configuration/Geometry/python/GeometryExtended2017Plan1FlatMinus10PercentReco_cff.py
  Configuration/Geometry/python/GeometryExtended2017Plan1FlatMinus10Percent_cff.py
  Configuration/Geometry/python/GeometryExtended2017Plan1FlatPlus05PercentReco_cff.py
  Configuration/Geometry/python/GeometryExtended2017Plan1FlatPlus05Percent_cff.py
  Configuration/Geometry/python/GeometryExtended2017Plan1FlatPlus10PercentReco_cff.py
  Configuration/Geometry/python/GeometryExtended2017Plan1FlatPlus10Percent_cff.py
  Configuration/Geometry/python/GeometryExtended2018FlatMinus05PercentReco_cff.py
  Configuration/Geometry/python/GeometryExtended2018FlatMinus10PercentReco_cff.py
  Configuration/Geometry/python/GeometryExtended2018FlatPlus05PercentReco_cff.py
  Configuration/Geometry/python/GeometryExtended2018FlatPlus10PercentReco_cff.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2017Plan1FlatMinus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2017Plan1FlatMinus10PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2017Plan1FlatPlus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2017Plan1FlatPlus10PercentXML_cfi.py
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved, upgrade-approved

#32229 Updated configurations in IORawData to new MessageLogger syntax
  IORawData/SiPixelInputSources/test/slinktoraw_cfg.py
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#32197 Updated configurations in CalibPPS to new MessageLogger syntax
  CalibPPS/AlignmentRelative/test/test_modify_singular_modes/template_msm_cfg.py
  CalibPPS/AlignmentRelative/test/test_modify_singular_modes/template_tba_cfg.py
  CalibPPS/AlignmentRelative/test/test_with_mc/simple/cfg.py
  CalibPPS/ESProducers/test/ppsTimingCalibrationAnalyzer_cfg.py
  CalibPPS/ESProducers/test/print_alignment_info_DB_cfg.py
  CalibPPS/ESProducers/test/print_alignment_info_XML_cfg.py
  CalibPPS/ESProducers/test/test_totemDAQMappingESSourceXML_cfg.py
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#32195 Updated configurations in Calibration to new MessageLogger syntax
  Calibration/LumiAlCaRecoProducers/test/PCC_Random_Event_Integrator_cfg.py
  Calibration/LumiAlCaRecoProducers/test/PCC_Random_cfg.py
  Calibration/LumiAlCaRecoProducers/test/PCC_ZeroBias_cfg.py
  Calibration/LumiAlCaRecoProducers/test/raw_ZeroBias_cfg.py
  Calibration/LumiAlCaRecoProducers/test/raw_corr_Random_cfg.py
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#32194 Updated configurations in CaloOnlineTools to new MessageLogger syntax
  CaloOnlineTools/EcalTools/python/ecalHexDisplay_cfg.py
  CaloOnlineTools/EcalTools/python/ecalURecHitHists_cfg.py
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#32185 Updated configurations in Alignment to new MessageLogger syntax
  Alignment/APEEstimation/test/createTrackerAlignmentErrorExtendedRcd_cfg.py
  Alignment/CommonAlignmentAlgorithm/test/apeSetting_cfg.py
  Alignment/CommonAlignmentProducer/test/alignment_cfg.py
  Alignment/HIPAlignmentAlgorithm/test/serialGeomCompare_tpl.py
  Alignment/HIPAlignmentAlgorithm/test/serialIntoNtuples_tpl.py
  Alignment/LaserAlignment/test/LaserAlignmentEventFilter_test.py
  Alignment/LaserAlignment/test/RawDataConverter_full_chain.py
  Alignment/LaserAlignment/test/t0ProducerStandalone.py
  Alignment/LaserAlignment/test/t0ProducerStandalone_LASFilter.py
  Alignment/MillePedeAlignmentAlgorithm/test/alignment_las_cfg.py
  Alignment/MuonAlignment/test/MuonGeometryArrange.py
  Alignment/MuonAlignment/test/test-read_cfg.py
  Alignment/OfflineValidation/test/testCompare_cfg.py
  Alignment/OfflineValidation/test/testIntoNtuples_cfg.py
  Alignment/SurveyAnalysis/test/run-converter_cfg.py
  Alignment/TrackerAlignment/test/trackerGeometryAnalyzer_cfg.py
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#32371 [DD4hep] evaluate all numeric parameters in tracker detector description
  Geometry/TrackerCommonData/data/PhaseI/trackerStructureTopology.xml
  Geometry/TrackerGeometryBuilder/src/TrackerGeomBuilderFromGeometricDet.cc
  Geometry/TrackerNumberingBuilder/src/GeometricDet.cc
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved

#32330 Use cleaned PF candidates in UE subtraction in HI miniAOD (112X)
  RecoHI/HiJetAlgos/python/HiRecoPFJets_cff.py
Labels: backport-ok, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#32215 Updated configurations in CondTools/Si* to new MessageLogger syntax
  CondTools/SiPhase2Tracker/test/DTCCablingMapProducer_dump.py
  CondTools/SiPhase2Tracker/test/DTCCablingMapTestProducer_dump.py
  CondTools/SiPixel/test/SiPixelBadModuleByHandBuilderFromROCList_cfg.py
  CondTools/SiPixel/test/SiPixelBadModuleByHandBuilder_cfg.py
  CondTools/SiPixel/test/SiPixelCalibConfigurationObjectMaker_cfg.py
  CondTools/SiPixel/test/SiPixelDynamicInefficiencyReader_cfg.py
  CondTools/SiPixel/test/SiPixelInclusiveReader_sqlite_cfg.py
  CondTools/SiPixel/test/SiPixelLorentzAngleReader_cfg.py
  CondTools/SiPixel/test/SiPixelVCalReader_cfg.py
  CondTools/SiStrip/test/SiStripBadModuleByHandBuilder_cfg.py
  CondTools/SiStrip/test/SiStripCablingTrackerMap_cfg.py
  CondTools/SiStrip/test/SiStripDetVOffReader_cfg.py
  CondTools/SiStrip/test/SiStripNoiseBuilder_cfg.py
  CondTools/SiStrip/test/SiStripSummaryBuilder_cfg.py
  CondTools/SiStrip/test/SiStripSummaryReader_cfg.py
  CondTools/SiStrip/test/SiStripThresholdBuilder_cfg.py
  CondTools/SiStrip/test/SiStripThresholdReader_cfg.py
Labels: alca-approved, code-checks-approved, comparison-available, db-approved, fully-signed, orp-approved, tests-approved, upgrade-approved

#32251 esConsume migration for APE and removing other static warnings
  Alignment/APEEstimation/plugins/ApeEstimator.cc
  Alignment/APEEstimation/plugins/ApeEstimatorSummary.cc
  Alignment/APEEstimation/plugins/ApeTreeCreateDefault.cc
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#32336 Run3-alca177 Use of ESGetToken and small change in StudyCaloResponse
  Calibration/IsolatedParticles/interface/CaloPropagateTrack.h
  Calibration/IsolatedParticles/plugins/IsolatedGenParticles.cc
  Calibration/IsolatedParticles/plugins/StudyCaloGen.cc
  Calibration/IsolatedParticles/plugins/StudyCaloResponse.cc
  Calibration/IsolatedParticles/src/CaloPropagateTrack.cc
  Calibration/IsolatedParticles/test/CaloPropagationTest.cc
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#32374 Run3-alca179 Use ESGetToken in the analyzers of Calibration/HcalCalibAlgos
  Calibration/HcalCalibAlgos/interface/CommonUsefulStuff.h
  Calibration/HcalCalibAlgos/plugins/AnalyzerMinbias.cc
  Calibration/HcalCalibAlgos/plugins/Analyzer_minbias.cc
  Calibration/HcalCalibAlgos/plugins/Analyzer_minbias.h
  Calibration/HcalCalibAlgos/plugins/HOCalibAnalyzer.cc
  Calibration/HcalCalibAlgos/plugins/HcalCalibrator.cc
  Calibration/HcalCalibAlgos/plugins/HcalCalibrator.h
  Calibration/HcalCalibAlgos/plugins/HitReCalibrator.cc
  Calibration/HcalCalibAlgos/plugins/HitReCalibrator.h
  Calibration/HcalCalibAlgos/plugins/RecAnalyzerHF.cc
  Calibration/HcalCalibAlgos/plugins/RecAnalyzerMinbias.cc
  Calibration/HcalCalibAlgos/plugins/ValidIsoTrkCalib.cc
  Calibration/HcalCalibAlgos/src/HcalConstantsXMLWriter.cc
  Calibration/HcalCalibAlgos/src/hcalCalib.cc
  Calibration/HcalCalibAlgos/src/hcalCalibUtils.cc
  Calibration/HcalCalibAlgos/test/DiJetAnalyzer.cc
  Calibration/HcalCalibAlgos/test/DiJetAnalyzer.h
  Calibration/HcalCalibAlgos/test/GammaJetAnalysis.cc
  Calibration/HcalCalibAlgos/test/GammaJetAnalysis.h
  Calibration/HcalCalibAlgos/test/HcalConstantsASCIIWriter.cc
  Calibration/HcalCalibAlgos/test/HcalConstantsASCIIWriter.h
  Calibration/HcalCalibAlgos/test/HcalCorrPFCalculation.cc
  Calibration/HcalCalibAlgos/test/HcalIsoTrackAnalysis.cc
  Calibration/HcalCalibAlgos/test/HcalIsoTrackStudy.cc
  Calibration/HcalCalibAlgos/test/ValidationHcalIsoTrackAlCaReco.cc
  Calibration/HcalCalibAlgos/test/ValidationHcalIsoTrackAlCaReco.h
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#32379 Fix some code checks warnings in FWCore
  FWCore/Framework/interface/PathsAndConsumesOfModules.h
  FWCore/ServiceRegistry/interface/ServiceMaker.h
  IOMC/RandomEngine/src/RandomNumberGeneratorService.h
Labels: code-checks-approved, core-approved, fully-signed, orp-approved, tests-approved

#32382 Run3-hcx273 Utilize ESGetToken in HCAL RecHit validation code
  Validation/HcalRecHits/interface/HcalRecHitsValidation.h
  Validation/HcalRecHits/src/HcalRecHitsValidation.cc
  Validation/HcalRecHits/test/HcalDumpHits.cc
Labels: code-checks-approved, dqm-approved, fully-signed, orp-approved, tests-approved

#32381 Run3-hcx272 Update the testing code for objects from EventSetup
  Geometry/HcalCommonData/test/HcalRecNumberingTester.cc
  Geometry/HcalCommonData/test/HcalScintillatorTester.cc
  Geometry/HcalCommonData/test/HcalSimNumberingTester.cc
Labels: code-checks-approved, fully-signed, geometry-approved, orp-approved, tests-approved

#32384 Clean-up Geant4 interfaces
  SimG4Core/Application/interface/RunManager.h
  SimG4Core/Application/interface/SimRunInterface.h
  SimG4Core/Application/plugins/OscarProducer.cc
  SimG4Core/Application/plugins/OscarProducer.h
  SimG4Core/Application/python/customiseSequentialSim.py
  SimG4Core/Application/src/OscarMTMasterThread.cc
  SimG4Core/Application/src/RunManager.cc
  SimG4Core/Application/src/RunManagerMT.cc
  SimG4Core/Application/src/RunManagerMTWorker.cc
  SimG4Core/Application/src/SimRunInterface.cc
  SimG4Core/MagneticField/FieldParameters.xml
  SimG4Core/Physics/interface/PhysicsListMaker.h
  SimG4Core/Physics/interface/PhysicsListMakerBase.h
  SimG4Core/PhysicsLists/interface/CMSHadronPhysicsFTFP_BERT_ATL.h
  SimG4Core/PhysicsLists/interface/HadronPhysicsCMS.h
  SimG4Core/PhysicsLists/plugins/FTFPCMS_BERT_ATL_EMM.cc
  SimG4Core/PhysicsLists/plugins/FTFPCMS_BERT_ATL_EMM.h
  SimG4Core/PhysicsLists/plugins/FTFPCMS_BERT_EMM.cc
  SimG4Core/PhysicsLists/plugins/FTFPCMS_BERT_EMV.cc
  SimG4Core/PhysicsLists/plugins/FTFPCMS_BERT_EMV.h
  SimG4Core/PhysicsLists/plugins/QGSPCMS_BERT.cc
  SimG4Core/PhysicsLists/plugins/QGSPCMS_BERT.h
  SimG4Core/PhysicsLists/plugins/QGSPCMS_BERT_EMV.cc
  SimG4Core/PhysicsLists/plugins/QGSPCMS_BERT_EMV.h
  SimG4Core/PhysicsLists/plugins/QGSPCMS_FTFP_BERT_EMV.cc
  SimG4Core/PhysicsLists/plugins/QGSPCMS_FTFP_BERT_EMV.h
  SimG4Core/PhysicsLists/plugins/module.cc
  SimG4Core/PhysicsLists/src/CMSHadronPhysicsFTFP_BERT_ATL.cc
  SimG4Core/PhysicsLists/src/HadronPhysicsCMS.cc
Labels: code-checks-approved, fully-signed, orp-approved, simulation-approved, tests-approved

#32385 Readd 1624.911, #2021 DD4hep from short matrix
  Configuration/PyReleaseValidation/scripts/runTheMatrix.py
Labels: code-checks-approved, fully-signed, orp-approved, pdmv-approved, tests-approved, upgrade-approved

#32373 Make the skipBadFiles option work, add tests
  FWCore/Framework/interface/EventProcessor.h
  FWCore/Framework/src/EventProcessor.cc
  FWCore/Framework/src/TransitionProcessors.icc
  FWCore/Framework/test/MockEventProcessor.h
  FWCore/Framework/test/unit_test_outputs/statemachine_output_23.txt
  IOPool/Input/src/RootPrimaryFileSequence.cc
  IOPool/Input/test/PoolEmptyTest_cfg.py
  IOPool/Input/test/PoolInputTest_skipBadFiles_cfg.py
  IOPool/Input/test/TestPoolInput.sh
Labels: code-checks-approved, comparison-pending, core-approved, fully-signed, orp-approved, tests-approved

#32295 MTD simulation: explicit unit conversions
  DataFormats/Math/interface/GeantUnits.h
  SimFastTiming/FastTimingCommon/src/BTLDeviceSim.cc
  SimFastTiming/FastTimingCommon/src/ETLDeviceSim.cc
Labels: code-checks-approved, fully-signed, orp-approved, reconstruction-approved, simulation-approved, tests-approved, upgrade-approved

#32342 Implement fillDescriptions() for producers in RecoParticleFlow/PFSimProducer
  RecoParticleFlow/Configuration/python/RecoParticleFlow_cff.py
  RecoParticleFlow/PFProducer/python/particleFlowSimParticle_cff.py
  RecoParticleFlow/PFProducer/python/particleFlowSimParticle_cfi.py
  RecoParticleFlow/PFProducer/python/simPFProducer_cff.py
  RecoParticleFlow/PFProducer/python/tauHadronDecayFilter_cfi.py
  RecoParticleFlow/PFSimProducer/plugins/BuildFile.xml
  RecoParticleFlow/PFSimProducer/plugins/ConvBremSeedProducer.cc
  RecoParticleFlow/PFSimProducer/plugins/ConvBremSeedProducer.h
  RecoParticleFlow/PFSimProducer/plugins/EcalBarrelClusterFastTimer.cc
  RecoParticleFlow/PFSimProducer/plugins/PFSimParticleProducer.cc
  RecoParticleFlow/PFSimProducer/plugins/PFSimParticleProducer.h
  RecoParticleFlow/PFSimProducer/plugins/ResolutionModel.h
  RecoParticleFlow/PFSimProducer/plugins/SealModuleSim.cc
  RecoParticleFlow/PFSimProducer/plugins/SimPFProducer.cc
  RecoParticleFlow/PFSimProducer/plugins/TauHadronDecayFilter.cc
  RecoParticleFlow/PFSimProducer/plugins/TauHadronDecayFilter.h
  RecoParticleFlow/PFSimProducer/plugins/modulesSim.cc
  RecoParticleFlow/PFSimProducer/python/ecalBarrelClusterFastTimer_cfi.py
  RecoParticleFlow/PFTracking/python/convBremSeeds_cfi.py
Labels: code-checks-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved

#32388 [DD4hep] backport of 32339 and 32371 to assure thread-safe dd4hep workflow
  DetectorDescription/DDCMS/interface/DDFilteredView.h
  DetectorDescription/DDCMS/plugins/dd4hep/DDDefinitions2Objects.cc
  DetectorDescription/DDCMS/plugins/test/DDTestSpecParsFilter.cc
  DetectorDescription/DDCMS/src/DDFilteredView.cc
  DetectorDescription/DDCMS/test/DDFilteredView.cppunit.cc
  DetectorDescription/DDCMS/test/DDFilteredView.find.cppunit.cc
  DetectorDescription/DDCMS/test/DDFilteredView.get.cppunit.cc
  DetectorDescription/DDCMS/test/DDFilteredView.goto.cppunit.cc
  Geometry/TrackerCommonData/data/PhaseI/trackerStructureTopology.xml
  Geometry/TrackerGeometryBuilder/src/TrackerGeomBuilderFromGeometricDet.cc
  Geometry/TrackerNumberingBuilder/plugins/DDDCmsTrackerContruction.cc
  Geometry/TrackerNumberingBuilder/src/GeometricDet.cc
  SimG4Core/DD4hepGeometry/test/plugins/DD4hepTestDDDWorld.cc
  SimG4Core/DD4hepGeometry/test/python/testZMM_13TeV_TuneCUETP8M1_cfi_GEN_SIM.py
  SimG4Core/DD4hepGeometry/test/runTest.sh
  SimG4Core/Geometry/src/DDG4ProductionCuts.cc
Labels: backport-ok, fully-signed, geometry-approved, orp-approved, simulation-approved, tests-approved

#32390 Adopt ChargedHadronPFTrackIsolationProducer for PFTICL candidates (backport to 11_2_X)
  RecoParticleFlow/PFProducer/plugins/ChargedHadronPFTrackIsolationProducer.cc
Labels: backport-ok, fully-signed, orp-approved, reconstruction-approved, tests-approved

#32362 Merge remaining .h files with .cc plugin files in EgammaIsolationAlogs
  RecoEgamma/EgammaIsolationAlgos/plugins/BuildFile.xml
  RecoEgamma/EgammaIsolationAlgos/plugins/EgammaEcalExtractor.h
  RecoEgamma/EgammaIsolationAlgos/plugins/EgammaEcalPFClusterIsolationProducer.cc
  RecoEgamma/EgammaIsolationAlgos/plugins/EgammaEcalPFClusterIsolationProducer.h
  RecoEgamma/EgammaIsolationAlgos/plugins/EgammaHcalExtractor.h
  RecoEgamma/EgammaIsolationAlgos/plugins/EgammaHcalPFClusterIsolationProducer.cc
  RecoEgamma/EgammaIsolationAlgos/plugins/EgammaHcalPFClusterIsolationProducer.h
  RecoEgamma/EgammaIsolationAlgos/plugins/EgammaRecHitExtractor.h
  RecoEgamma/EgammaIsolationAlgos/plugins/EgammaTowerExtractor.cc
  RecoEgamma/EgammaIsolationAlgos/plugins/EgammaTrackExtractor.h
  RecoEgamma/EgammaIsolationAlgos/plugins/iso_deposit_extractors/EgammaEcalExtractor.cc
  RecoEgamma/EgammaIsolationAlgos/plugins/iso_deposit_extractors/EgammaHcalExtractor.cc
  RecoEgamma/EgammaIsolationAlgos/plugins/iso_deposit_extractors/EgammaRecHitExtractor.cc
  RecoEgamma/EgammaIsolationAlgos/plugins/iso_deposit_extractors/EgammaTowerExtractor.cc
  RecoEgamma/EgammaIsolationAlgos/plugins/iso_deposit_extractors/EgammaTrackExtractor.cc
  RecoEgamma/EgammaIsolationAlgos/plugins/module.cc
Labels: code-checks-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved

#32387 skip empty lines in JetCorrectorParameters ctor
  CondFormats/JetMETObjects/src/JetCorrectorParameters.cc
Labels: analysis-approved, code-checks-approved, db-pending, orp-approved, pending-signatures, tests-approved

#32324 Clean some more BuildFiles
  CalibTracker/SiStripLorentzAngle/BuildFile.xml
  CalibTracker/SiStripLorentzAngle/plugins/BuildFile.xml
  DQM/SiOuterTracker/plugins/BuildFile.xml
  DataFormats/L1THGCal/BuildFile.xml
  L1Trigger/L1THGCal/BuildFile.xml
  L1Trigger/L1THGCal/plugins/BuildFile.xml
  L1Trigger/L1THGCal/test/BuildFile.xml
  L1Trigger/L1THGCalUtilities/BuildFile.xml
  L1Trigger/L1THGCalUtilities/plugins/BuildFile.xml
  RecoBTag/ONNXRuntime/BuildFile.xml
  RecoEgamma/EgammaPhotonProducers/BuildFile.xml
Labels: alca-approved, code-checks-approved, comparison-available, dqm-approved, l1-pending, orp-approved, pending-signatures, reconstruction-approved, tests-approved, upgrade-approved

#32287 Update EDProducer and EDAnalyzer skeletons and edmPythonConfigToCppValidation to show addWithDefaultLabel() in their examples
  FWCore/ParameterSet/scripts/edmPythonConfigToCppValidation
  FWCore/Skeletons/mkTemplates/EDAnalyzer/EDAnalyzer.cc
  FWCore/Skeletons/mkTemplates/EDProducer/EDProducer.cc
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#32389 Add new Pythia filter to select particles based on ancestor (i.e. further back than mother)
  GeneratorInterface/GenFilters/plugins/PythiaFilterMultiAncestor.cc
Labels: code-checks-approved, fully-signed, generators-approved, orp-approved, tests-approved

#32363 Adapt Tracker Alignment PV Validation to work with phase-2 geometries
  Alignment/OfflineValidation/interface/PVValidationHelpers.h
  Alignment/OfflineValidation/macros/FitPVResiduals.C
  Alignment/OfflineValidation/plugins/PrimaryVertexValidation.cc
  Alignment/OfflineValidation/plugins/PrimaryVertexValidation.h
  Alignment/OfflineValidation/src/PVValidationHelpers.cc
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#32378 Run3-alca180 Remove usage of ESHandle in HcalAlCaRecoProducers
  Calibration/HcalAlCaRecoProducers/interface/AlCaEcalHcalReadoutsProducer.h
  Calibration/HcalAlCaRecoProducers/interface/AlCaHcalNoiseProducer.h
  Calibration/HcalAlCaRecoProducers/plugins/AlCaGammaJetSelector.cc
  Calibration/HcalAlCaRecoProducers/plugins/AlCaHBHEMuonFilter.cc
  Calibration/HcalAlCaRecoProducers/plugins/AlCaHEMuonFilter.cc
  Calibration/HcalAlCaRecoProducers/plugins/AlCaIsoTracksFilter.cc
  Calibration/HcalAlCaRecoProducers/plugins/AlCaIsoTracksProducerFilter.cc
  Calibration/HcalAlCaRecoProducers/plugins/AlCaIsolatedBunchFilter.cc
  Calibration/HcalAlCaRecoProducers/plugins/AlCaIsolatedBunchSelector.cc
  Calibration/HcalAlCaRecoProducers/plugins/AlCaLowPUHBHEMuonFilter.cc
  Calibration/HcalAlCaRecoProducers/src/AlCaDiJetsProducer.cc
  Calibration/HcalAlCaRecoProducers/src/AlCaGammaJetProducer.cc
  Calibration/HcalAlCaRecoProducers/src/AlCaHBHEMuonProducer.cc
  Calibration/HcalAlCaRecoProducers/src/AlCaHOCalibProducer.cc
  Calibration/HcalAlCaRecoProducers/src/AlCaHcalNoiseProducer.cc
  Calibration/HcalAlCaRecoProducers/src/AlCaIsoTracksProducer.cc
  Calibration/HcalAlCaRecoProducers/src/ProducerAnalyzer.h
Labels: alca-approved, code-checks-approved, fully-signed, orp-approved, tests-approved

#32396 drop type spec in TrackingTools RecoMuon
  RecoMuon/Configuration/python/DisplacedMuonSeededStep_cff.py
  RecoMuon/L2MuonProducer/python/L2Muons_cff.py
  TrackingTools/GeomPropagators/python/AnalyticalPropagatorParabolicMf_cff.py
  TrackingTools/GeomPropagators/python/BeamHaloPropagator_cff.py
  TrackingTools/GsfTracking/python/BwdElectronPropagator_cfi.py
  TrackingTools/GsfTracking/python/CkfElectronCandidateMaker_cff.py
  TrackingTools/GsfTracking/python/CkfElectronCandidatesChi2_cfi.py
  TrackingTools/GsfTracking/python/FwdElectronPropagator_cfi.py
  TrackingTools/GsfTracking/python/GsfElectronFittingSmoother_cfi.py
  TrackingTools/GsfTracking/python/GsfElectronGsfFit_cff.py
  TrackingTools/GsfTracking/python/GsfElectronTracking_cff.py
  TrackingTools/GsfTracking/python/bwdGsfElectronPropagator_cff.py
  TrackingTools/GsfTracking/python/fwdGsfElectronPropagator_cff.py
  TrackingTools/MaterialEffects/python/MaterialPropagatorParabolicMf_cff.py
  TrackingTools/MaterialEffects/python/Propagators_PtMin09_cff.py
  TrackingTools/Producers/python/analyticalPropagatorESProducer_cff.py
  TrackingTools/TrackFitters/python/LooperFitters_cff.py
  TrackingTools/TrackFitters/python/MRHFitters_cff.py
  TrackingTools/TrackFitters/python/RungeKutta1DFitters_cff.py
  TrackingTools/TrackFitters/python/RungeKuttaFitters_cff.py
  TrackingTools/TrackRefitter/python/TracksToTrajectories_cff.py
  TrackingTools/TrackRefitter/python/cosmicMuonTrajectories_cff.py
  TrackingTools/TrackRefitter/python/globalCosmicMuonTrajectories_cff.py
Labels: code-checks-approved, fully-signed, hlt-approved, orp-approved, reconstruction-approved, tests-approved

#32375 New JEC for 2018 HI re-miniAOD
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, code-checks-approved, fully-signed, orp-approved, tests-approved

#32207 dynamic conditions for PPS direct simulation
  CalibPPS/ESProducers/BuildFile.xml
  CalibPPS/ESProducers/interface/CTPPSRPAlignmentCorrectionsDataESSourceXMLCommon.h
  CalibPPS/ESProducers/plugins/BuildFile.xml
  CalibPPS/ESProducers/plugins/CTPPSCompositeESSource.cc
  CalibPPS/ESProducers/plugins/CTPPSRPAlignmentCorrectionsDataESSourceXML.cc
  CalibPPS/ESProducers/src/CTPPSRPAlignmentCorrectionsDataESSourceXMLCommon.cc
  CondCore/CTPPSPlugins/src/plugin.cc
  CondFormats/DataRecord/interface/PPSDirectSimulationDataRcd.h
  CondFormats/DataRecord/src/PPSDirectSimulationDataRcd.cc
  CondFormats/PPSObjects/interface/PPSDirectSimulationData.h
  CondFormats/PPSObjects/src/PPSDirectSimulationData.cc
  CondFormats/PPSObjects/src/T_EventSetup_PPSDirectSimulationData.cc
  CondFormats/PPSObjects/src/classes_def.xml
  CondFormats/PPSObjects/src/headers.h
  Geometry/VeryForwardGeometryBuilder/interface/CTPPSGeometryESCommon.h
  Geometry/VeryForwardGeometryBuilder/plugins/CTPPSGeometryESModule.cc
  Geometry/VeryForwardGeometryBuilder/src/CTPPSGeometryESCommon.cc
  Validation/CTPPS/plugins/CTPPSDirectProtonSimulation.cc
  Validation/CTPPS/python/simu_config/base_cff.py
  Validation/CTPPS/python/simu_config/profile_2016_postTS2_cff.py
  Validation/CTPPS/python/simu_config/profile_2016_preTS2_cff.py
  Validation/CTPPS/python/simu_config/profile_2017_postTS2_cff.py
  Validation/CTPPS/python/simu_config/profile_2017_preTS2_cff.py
  Validation/CTPPS/python/simu_config/profile_2018_TS1_TS2_cff.py
  Validation/CTPPS/python/simu_config/profile_2018_postTS2_cff.py
  Validation/CTPPS/python/simu_config/profile_2018_preTS1_cff.py
  Validation/CTPPS/python/simu_config/year_2016_cff.py
  Validation/CTPPS/python/simu_config/year_2016_postTS2_cff.py
  Validation/CTPPS/python/simu_config/year_2016_preTS2_cff.py
  Validation/CTPPS/python/simu_config/year_2017_cff.py
  Validation/CTPPS/python/simu_config/year_2017_postTS2_cff.py
  Validation/CTPPS/python/simu_config/year_2017_preTS2_cff.py
  Validation/CTPPS/python/simu_config/year_2018_TS1_TS2_cff.py
  Validation/CTPPS/python/simu_config/year_2018_cff.py
  Validation/CTPPS/python/simu_config/year_2018_postTS2_cff.py
  Validation/CTPPS/python/simu_config/year_2018_preTS1_cff.py
  Validation/CTPPS/test/BuildFile.xml
  Validation/CTPPS/test/TestDriver.cc
  Validation/CTPPS/test/simu/run_multiple
  Validation/CTPPS/test/simu/template_cfg.py
Labels: alca-approved, code-checks-approved, comparison-available, db-approved, dqm-approved, fully-signed, geometry-approved, orp-approved, tests-approved, urgent

#32405 Fix debug compilation, GCC900 for FWCore/Utilities
  FWCore/Framework/interface/ESRecordsToProxyIndices.h
  FWCore/Framework/src/EventSetupImpl.cc
  FWCore/Utilities/interface/ESIndices.h
Labels: code-checks-approved, core-approved, fully-signed, orp-approved, tests-rejected

#31720 Patatrack integration - HCAL local reconstruction (8/N)
  CUDADataFormats/HcalDigi/BuildFile.xml
  CUDADataFormats/HcalDigi/interface/DigiCollection.h
  CUDADataFormats/HcalDigi/src/classes.h
  CUDADataFormats/HcalDigi/src/classes_def.xml
  CUDADataFormats/HcalRecHitSoA/BuildFile.xml
  CUDADataFormats/HcalRecHitSoA/interface/RecHitCollection.h
  CUDADataFormats/HcalRecHitSoA/src/classes.h
  CUDADataFormats/HcalRecHitSoA/src/classes_def.xml
  EventFilter/HcalRawToDigi/bin/BuildFile.xml
  EventFilter/HcalRawToDigi/bin/makeHcalRaw2DigiGpuValidationPlots.cpp
  EventFilter/HcalRawToDigi/plugins/BuildFile.xml
  EventFilter/HcalRawToDigi/plugins/DeclsForKernels.h
  EventFilter/HcalRawToDigi/plugins/DecodeGPU.cu
  EventFilter/HcalRawToDigi/plugins/DecodeGPU.h
  EventFilter/HcalRawToDigi/plugins/ElectronicsMappingGPU.cc
  EventFilter/HcalRawToDigi/plugins/ElectronicsMappingGPU.h
  EventFilter/HcalRawToDigi/plugins/HcalCPUDigisProducer.cc
  EventFilter/HcalRawToDigi/plugins/HcalDigisProducerGPU.cc
  EventFilter/HcalRawToDigi/plugins/HcalESProducerGPUDefs.cc
  EventFilter/HcalRawToDigi/plugins/HcalRawToDigiGPU.cc
  RecoLocalCalo/Configuration/python/customizeHcalOnlyForProfiling.py
  RecoLocalCalo/Configuration/python/hcalGlobalReco_cff.py
  RecoLocalCalo/Configuration/python/hcalLocalReco_cff.py
  RecoLocalCalo/HcalRecAlgos/BuildFile.xml
  RecoLocalCalo/HcalRecAlgos/bin/BuildFile.xml
  RecoLocalCalo/HcalRecAlgos/bin/generateQIEShapes.cc
  RecoLocalCalo/HcalRecAlgos/interface/HcalMahiPulseOffsetsGPU.h
  RecoLocalCalo/HcalRecAlgos/interface/HcalRecoParamsWithPulseShapesGPU.h
  RecoLocalCalo/HcalRecAlgos/src/HcalMahiPulseOffsetsGPU.cc
  RecoLocalCalo/HcalRecAlgos/src/HcalRecoParamsWithPulseShapesGPU.cc
  RecoLocalCalo/HcalRecProducers/BuildFile.xml
  RecoLocalCalo/HcalRecProducers/bin/BuildFile.xml
  RecoLocalCalo/HcalRecProducers/bin/makeHcalRecHitGpuValidationPlots.cpp
  RecoLocalCalo/HcalRecProducers/python/hbheRecHitProducerGPUTask_cff.py
  RecoLocalCalo/HcalRecProducers/src/DeclsForKernels.h
  RecoLocalCalo/HcalRecProducers/src/HBHERecHitProducerGPU.cc
  RecoLocalCalo/HcalRecProducers/src/HCALGPUAnalyzer.cc
  RecoLocalCalo/HcalRecProducers/src/HcalCPURecHitsProducer.cc
  RecoLocalCalo/HcalRecProducers/src/HcalESProducersGPUDefs.cc
  RecoLocalCalo/HcalRecProducers/src/HcalMahiPulseOffsetsGPUESProducer.cc
  RecoLocalCalo/HcalRecProducers/src/KernelHelpers.h
  RecoLocalCalo/HcalRecProducers/src/MahiGPU.cu
  RecoLocalCalo/HcalRecProducers/src/SimpleAlgoGPU.h
  RecoLocalCalo/HcalRecProducers/test/make_GPUvsCPU_HCAL_plots.py
  RecoLocalCalo/HcalRecProducers/test/make_GPUvsCPU_HCAL_rechits.py
Labels: code-checks-approved, fully-signed, heterogeneous-approved, orp-approved, reconstruction-approved, tests-approved

#32399 [backport] Add new Pythia filter to select particles based on ancestor (i.e. further back than mother)
  GeneratorInterface/GenFilters/interface/PythiaFilterMultiAncestor.h
  GeneratorInterface/GenFilters/src/PythiaFilterMultiAncestor.cc
  GeneratorInterface/GenFilters/src/SealModule.cc
Labels: fully-signed, generators-approved, orp-approved, tests-approved

#32410 Demote module deletion printout to INFO
  FWCore/Framework/src/EventProcessor.cc
  FWCore/Framework/src/SubProcess.cc
Labels: code-checks-approved, core-approved, fully-signed, orp-approved, tests-approved

#32409 Improve method to get largest module ID in ProcessCallGraph
  HLTrigger/Timer/src/ProcessCallGraph.cc
Labels: code-checks-approved, fully-signed, hlt-approved, orp-approved, tests-approved

#32360 Set Run-3 CCLUT algo results in LCT (CCLUT-10)
  L1Trigger/CSCTriggerPrimitives/src/CSCGEMMotherboard.cc
  L1Trigger/CSCTriggerPrimitives/src/CSCMotherboard.cc
Labels: code-checks-approved, comparison-available, fully-signed, l1-approved, orp-approved, tests-approved

#32150 DataFormats for Phase-2 L1T-HLT
  DataFormats/HLTReco/BuildFile.xml
  DataFormats/HLTReco/interface/TriggerEventWithRefs.h
  DataFormats/HLTReco/interface/TriggerRefsCollections.h
  DataFormats/HLTReco/interface/TriggerTypeDefs.h
  DataFormats/HLTReco/src/classes.h
  DataFormats/HLTReco/src/classes_def.xml
  DataFormats/L1TCorrelator/interface/TkPrimaryVertex.h
  DataFormats/L1TCorrelator/src/classes_def.xml
  DataFormats/L1TParticleFlow/interface/HPSPFTau.h
  DataFormats/L1TParticleFlow/interface/HPSPFTauFwd.h
  DataFormats/L1TParticleFlow/interface/PFJet.h
  DataFormats/L1TParticleFlow/interface/PFTau.h
  DataFormats/L1TParticleFlow/interface/PFTrack.h
  DataFormats/L1TParticleFlow/src/HPSPFTau.cc
  DataFormats/L1TParticleFlow/src/classes.h
  DataFormats/L1TParticleFlow/src/classes_def.xml
  HLTrigger/HLTcore/interface/HLTEventAnalyzerRAW.h
  HLTrigger/HLTcore/interface/TriggerSummaryProducerAOD.h
  HLTrigger/HLTcore/plugins/HLTEventAnalyzerRAW.cc
  HLTrigger/HLTcore/plugins/TriggerSummaryAnalyzerRAW.cc
  HLTrigger/HLTcore/plugins/TriggerSummaryProducerAOD.cc
  HLTrigger/HLTcore/plugins/TriggerSummaryProducerRAW.cc
Labels: code-checks-approved, comparison-available, fully-signed, hlt-approved, l1-approved, orp-approved, tests-approved, upgrade-approved

#32343 removal of TH1::StatOverflows calls in FastTimerService?
  HLTrigger/Timer/plugins/FastTimerService.cc
Labels: code-checks-approved, comparison-available, dqm-pending, hlt-approved, orp-approved, pending-signatures, tests-approved

#32400 Fix in TauAnalysis/MCEmbeddingTools/python/customisers.py (lowPtGsfElectronTask)
  TauAnalysis/MCEmbeddingTools/python/customisers.py
Labels: analysis-pending, code-checks-approved, orp-approved, pending-signatures, simulation-approved, tests-approved

#32383 Removed debug globals used in Phase2L1ParticleFlow
  L1Trigger/Phase2L1ParticleFlow/src/BitwisePFAlgo.cc
  L1Trigger/Phase2L1ParticleFlow/src/ref/pfalgo2hgc_ref.cpp
  L1Trigger/Phase2L1ParticleFlow/src/ref/pfalgo2hgc_ref.h
  L1Trigger/Phase2L1ParticleFlow/src/ref/pfalgo3_ref.cpp
  L1Trigger/Phase2L1ParticleFlow/src/ref/pfalgo3_ref.h
Labels: code-checks-approved, fully-signed, l1-approved, orp-approved, tests-approved, upgrade-approved

#32380 Make globals used by DTTrigPhase2Prod const
  L1Trigger/DTTriggerPhase2/plugins/DTTrigPhase2Prod.cc
  L1Trigger/DTTriggerPhase2/src/HoughGrouping.cc
Labels: code-checks-approved, fully-signed, l1-approved, orp-approved, tests-approved, upgrade-approved

#32419 fix syntax warnings in matrix code
  Configuration/PyReleaseValidation/python/MatrixUtil.py
  Configuration/PyReleaseValidation/python/relval_upgrade.py
Labels: code-checks-approved, fully-signed, orp-approved, pdmv-approved, tests-approved, upgrade-approved

#32372 Add low-pT electrons to MINIAOD, update ID, improve end user experience (back port of 31220)
  CommonTools/MVAUtils/BuildFile.xml
  CommonTools/MVAUtils/bin/BuildFile.xml
  CommonTools/MVAUtils/bin/convertXMLToGBRForestROOT.cc
  CommonTools/MVAUtils/src/GBRForestTools.cc
  DataFormats/PatCandidates/src/classes_def_objects.xml
  PhysicsTools/PatAlgos/plugins/BuildFile.xml
  PhysicsTools/PatAlgos/plugins/LowPtGSFToPackedCandidateLinker.cc
  PhysicsTools/PatAlgos/python/producersLayer1/lowPtElectronProducer_cff.py
  PhysicsTools/PatAlgos/python/producersLayer1/patCandidates_cff.py
  PhysicsTools/PatAlgos/python/selectionLayer1/lowPtElectronSelector_cfi.py
  PhysicsTools/PatAlgos/python/selectionLayer1/selectedPatCandidates_cff.py
  PhysicsTools/PatAlgos/python/slimming/MicroEventContent_cff.py
  PhysicsTools/PatAlgos/python/slimming/slimmedLowPtElectrons_cff.py
  PhysicsTools/PatAlgos/python/slimming/slimmedLowPtElectrons_cfi.py
  PhysicsTools/PatAlgos/python/slimming/slimming_cff.py
  PhysicsTools/PatAlgos/test/IntegrationTest_cfg.py
  PhysicsTools/PatAlgos/test/patTuple_addTriggerInfo_cfg.py
  RecoEgamma/Configuration/python/RecoEgamma_EventContent_cff.py
  RecoEgamma/EgammaElectronProducers/BuildFile.xml
  RecoEgamma/EgammaElectronProducers/interface/LowPtGsfElectronFeatures.h
  RecoEgamma/EgammaElectronProducers/plugins/BuildFile.xml
  RecoEgamma/EgammaElectronProducers/plugins/LowPtGsfElectronIDProducer.cc
  RecoEgamma/EgammaElectronProducers/plugins/LowPtGsfElectronIDProducer.h
  RecoEgamma/EgammaElectronProducers/plugins/LowPtGsfElectronSeedValueMapsProducer.cc
  RecoEgamma/EgammaElectronProducers/plugins/LowPtGsfElectronSeedValueMapsProducer.h
  RecoEgamma/EgammaElectronProducers/python/lowPtGsfElectronID_cff.py
  RecoEgamma/EgammaElectronProducers/python/lowPtGsfElectronSeedValueMaps_cff.py
  RecoEgamma/EgammaElectronProducers/src/LowPtGsfElectronFeatures.cc
  RecoEgamma/EgammaTools/plugins/EGExtraInfoModifierFromValueMaps.cc
  TauAnalysis/MCEmbeddingTools/python/customisers.py
Labels: analysis-pending, orp-approved, pending-signatures, reconstruction-approved, simulation-approved, tests-approved, urgent

#32102 Migration to DD4Hep for RPC db Loader
  CondTools/Geometry/plugins/RPCRecoIdealDBLoader.cc
  CondTools/Geometry/test/rpcgeometrywriter.py
  Geometry/RPCGeometryBuilder/src/RPCGeometryParsFromDD.cc
  Geometry/RPCGeometryBuilder/src/RPCGeometryParsFromDD.h
Labels: code-checks-approved, db-approved, fully-signed, geometry-approved, orp-approved, tests-approved

#32203 Ecal DB PayloadInspector with two different tags
  CondCore/EcalPlugins/plugins/ESChannelStatus_PayloadInspector.cc
  CondCore/EcalPlugins/plugins/EcalChannelStatus_PayloadInspector.cc
  CondCore/EcalPlugins/plugins/EcalPedestals_PayloadInspector.cc
Labels: code-checks-approved, comparison-available, db-approved, fully-signed, orp-approved, tests-approved

#32361 Fix small bugs in geometry DB payload scripts
  CondTools/Geometry/plugins/CSCRecoIdealDBLoader.cc
  CondTools/Geometry/test/geometrywriter.py
  CondTools/Geometry/test/writehelpers/geometryExtended2021_writer.py
  CondTools/Geometry/test/writehelpers/geometrywriter.py
  Geometry/TrackerGeometryBuilder/test/python/trackerModuleInfoLocalDB_cfg.py
  Validation/Geometry/test/dddvsdb/runDDDvsDBGeometryValidation.sh
Labels: code-checks-approved, comparison-available, db-approved, dqm-approved, fully-signed, geometry-approved, orp-approved, tests-approved

#32366 Run2-gex42 Extend the payload creators of 2017Plan1, 2018, 2021 for more scenarios
  CondTools/Geometry/test/writehelpers/createExtended2017Plan1Payloads.sh
  CondTools/Geometry/test/writehelpers/createExtended2018Payloads.sh
  CondTools/Geometry/test/writehelpers/createExtended2021Payloads.sh
Labels: code-checks-approved, comparison-available, db-approved, fully-signed, orp-approved, tests-approved

#32404 Strip payload inspector: add class to retrieve list of dead modules from JSON
  CondCore/BeamSpotPlugins/interface/BeamSpotPayloadInspectorHelper.h
  CondCore/SiStripPlugins/plugins/SiStripBadStrip_PayloadInspector.cc
  CondCore/SiStripPlugins/plugins/SiStripDetVOff_PayloadInspector.cc
  CondCore/SiStripPlugins/test/test.sh
  CondCore/Utilities/interface/PayloadInspector.h
Labels: code-checks-approved, db-approved, fully-signed, orp-approved, tests-approved

#32421 Add low pT electron payloads to Run 2 data/MC and Run 3 MC GTs
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, code-checks-approved, fully-signed, orp-approved, tests-approved

#32423 Phase2-hgx270 Bug correction for HGCal scintillator Geometry
  Geometry/HGCalCommonData/src/HGCalDDDConstants.cc
  Geometry/HGCalCommonData/src/HGCalGeomParameters.cc
  Geometry/HGCalGeometry/src/HGCalGeometryLoader.cc
  Geometry/HGCalGeometry/test/HGCalGeomLocatorTester.cc
Labels: code-checks-approved, fully-signed, geometry-approved, orp-approved, tests-approved, upgrade-approved

#32341 [Puppi] option to use generic PU proxy
  CommonTools/PileupAlgos/interface/PuppiAlgo.h
  CommonTools/PileupAlgos/interface/PuppiContainer.h
  CommonTools/PileupAlgos/plugins/PuppiProducer.cc
  CommonTools/PileupAlgos/plugins/PuppiProducer.h
  CommonTools/PileupAlgos/python/Puppi_cff.py
  CommonTools/PileupAlgos/src/PuppiContainer.cc
Labels: analysis-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#32426 sync up with #32372: remove unnecessary include in PhysicsTools/PatAlgos slimmedLowPtElectrons_cff.py
  PhysicsTools/PatAlgos/python/slimming/slimmedLowPtElectrons_cff.py
Labels: analysis-approved, code-checks-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved

#32401 Break circular dependency between CommonTools and JetMETCorrections subsystems
  CommonTools/ParticleFlow/plugins/BuildFile.xml
  CommonTools/ParticleFlow/plugins/SealModule.cc
  CommonTools/ParticleFlow/plugins/Type1PFMET.h
  CommonTools/ParticleFlow/python/pfType1MET_cff.py
  CommonTools/ParticleFlow/python/pfType1MET_cfi.py
  JetMETCorrections/JetCorrector/plugins/BuildFile.xml
  JetMETCorrections/JetCorrector/plugins/JetTracksAssociationToTrackRefs.cc
  JetMETCorrections/Type1MET/plugins/Type1PFMET.cc
  Validation/RecoTrack/python/TrackValidation_cff.py
Labels: analysis-approved, code-checks-approved, dqm-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved

#32425 DataFormats for Phase-2 L1T-HLT (11.1.x backport)
  DataFormats/HLTReco/BuildFile.xml
  DataFormats/HLTReco/interface/TriggerEventWithRefs.h
  DataFormats/HLTReco/interface/TriggerRefsCollections.h
  DataFormats/HLTReco/interface/TriggerTypeDefs.h
  DataFormats/HLTReco/src/classes.h
  DataFormats/HLTReco/src/classes_def.xml
  DataFormats/L1TCorrelator/interface/TkPrimaryVertex.h
  DataFormats/L1TCorrelator/src/classes_def.xml
  DataFormats/L1TParticleFlow/interface/HPSPFTau.h
  DataFormats/L1TParticleFlow/interface/HPSPFTauFwd.h
  DataFormats/L1TParticleFlow/interface/PFJet.h
  DataFormats/L1TParticleFlow/interface/PFTau.h
  DataFormats/L1TParticleFlow/interface/PFTrack.h
  DataFormats/L1TParticleFlow/src/HPSPFTau.cc
  DataFormats/L1TParticleFlow/src/classes.h
  DataFormats/L1TParticleFlow/src/classes_def.xml
  HLTrigger/HLTcore/interface/HLTEventAnalyzerRAW.h
  HLTrigger/HLTcore/interface/TriggerSummaryProducerAOD.h
  HLTrigger/HLTcore/plugins/HLTEventAnalyzerRAW.cc
  HLTrigger/HLTcore/plugins/TriggerSummaryAnalyzerRAW.cc
  HLTrigger/HLTcore/plugins/TriggerSummaryProducerAOD.cc
  HLTrigger/HLTcore/plugins/TriggerSummaryProducerRAW.cc
Labels: backport-ok, hlt-approved, l1-pending, orp-approved, pending-signatures, tests-approved, upgrade-approved

#32435 Add low pT electron payloads to Run 2 data/MC and Run 3 MC GTs [10_6_X]
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, orp-approved, tests-approved

#32412 Update of HGCal validation of CaloParticle
  Validation/HGCalValidation/interface/HGCalValidator.h
  Validation/HGCalValidation/interface/HGVHistoProducerAlgo.h
  Validation/HGCalValidation/plugins/CaloParticleValidation.cc
  Validation/HGCalValidation/plugins/HGCalValidator.cc
  Validation/HGCalValidation/python/CaloParticleSelectionForEfficiency_cfi.py
  Validation/HGCalValidation/python/caloparticlevalidation_cfi.py
  Validation/HGCalValidation/python/hgcalPlots.py
  Validation/HGCalValidation/scripts/makeHGCalValidationPlots.py
  Validation/HGCalValidation/src/HGVHistoProducerAlgo.cc
  Validation/RecoTrack/python/plotting/plotting.py
Labels: code-checks-approved, dqm-approved, fully-signed, orp-approved, tests-approved

#32393 Phase2-hgx269 Make use of ESGetToken and remove usage of HCAL (in one app)
  Geometry/HGCalGeometry/test/HGCalGeometryDump.cc
  Geometry/HGCalGeometry/test/HGCalTestRecHitTool.cc
  Validation/HGCalValidation/plugins/HGCGeometryValidation.cc
  Validation/HGCalValidation/plugins/SimG4HGCalValidation.cc
  Validation/HGCalValidation/python/hgcGeometryValidationV6_cfi.py
  Validation/HGCalValidation/python/hgcGeometryValidationV9_cfi.py
  Validation/HGCalValidation/python/hgcGeometryValidation_cfi.py
Labels: code-checks-approved, dqm-approved, fully-signed, geometry-approved, orp-approved, tests-approved, upgrade-approved

#32407 Run3-gex43 Remove double declaration of the same constant
  Geometry/CMSCommonData/data/beampipe/2026/v1/beampipe.xml
  Geometry/CMSCommonData/data/beampipe/2026/v2/beampipe.xml
  SimG4Core/Configuration/test/dd4hep_ttbar_2026D49_Step1_cfg.py
Labels: code-checks-approved, fully-signed, geometry-approved, orp-approved, simulation-approved, tests-approved, upgrade-approved

#32445 Run4-sim78 Add a few methods for HGCal scinitllator part
  DataFormats/ForwardDetId/interface/HGCScintillatorDetId.h
  DataFormats/ForwardDetId/src/HGCScintillatorDetId.cc
Labels: code-checks-approved, fully-signed, orp-approved, simulation-approved, tests-approved, upgrade-approved

#32433 Run4-hgx270 Add tile attributes to scintillator DetId
  Geometry/HGCalCommonData/data/hgcalConsData/v14/hgcalConsData.xml
  Geometry/HGCalCommonData/interface/HGCalDDDConstants.h
  Geometry/HGCalCommonData/test/HGCalConvert.cpp
  SimG4CMS/Calo/src/HGCalNumberingScheme.cc
Labels: code-checks-approved, fully-signed, geometry-approved, orp-approved, simulation-approved, tests-approved, upgrade-approved

#32406 Enable concurrent lumis by default in cmsDriver.py
  Configuration/Applications/python/ConfigBuilder.py
  Configuration/Applications/python/Options.py
  Configuration/Applications/python/cmsDriverOptions.py
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: code-checks-approved, fully-signed, operations-approved, orp-approved, pdmv-approved, tests-approved, upgrade-approved

#32453 New JEC for 2018 HI re-miniAOD [11_2_X]
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, orp-approved, tests-approved

#32431 Fix the customization functions of genpart pruning in NanoGEN
  PhysicsTools/NanoAOD/python/nanogen_cff.py
Labels: analysis-approved, code-checks-approved, fully-signed, orp-approved, tests-approved, xpog-approved

#32434 [11_1_X] [Puppi] option to use generic PU proxy
  CommonTools/PileupAlgos/interface/PuppiAlgo.h
  CommonTools/PileupAlgos/interface/PuppiContainer.h
  CommonTools/PileupAlgos/plugins/PuppiProducer.cc
  CommonTools/PileupAlgos/plugins/PuppiProducer.h
  CommonTools/PileupAlgos/python/Puppi_cff.py
  CommonTools/PileupAlgos/src/PuppiContainer.cc
Labels: analysis-approved, backport-ok, fully-signed, orp-approved, reconstruction-approved, tests-approved

#32427 Store association maps
  SimDataFormats/Associations/plugins/BuildFile.xml
  SimDataFormats/Associations/plugins/LCToCPAssociatorEDProducer.cc
  SimDataFormats/Associations/python/LCToCPAsssociation_cfi.py
  SimDataFormats/Associations/src/classes_def.xml
  Validation/Configuration/python/hgcalSimValid_cff.py
  Validation/HGCalValidation/interface/HGCalValidator.h
  Validation/HGCalValidation/interface/HGVHistoProducerAlgo.h
  Validation/HGCalValidation/plugins/HGCalValidator.cc
  Validation/HGCalValidation/python/HGCalValidator_cfi.py
  Validation/HGCalValidation/src/HGVHistoProducerAlgo.cc
Labels: code-checks-approved, dqm-approved, fully-signed, orp-approved, simulation-approved, tests-approved

#32456 Added "/dd4hep::cm" to RPCGeometryBuilder
  Geometry/RPCGeometryBuilder/src/RPCGeometryBuilder.cc
  Geometry/RPCGeometryBuilder/test/python/validateRPCGeometryDD4hep_cfg.py
  Geometry/RPCGeometryBuilder/test/python/validateRPCGeometryDDD_cfg.py
Labels: code-checks-approved, fully-signed, geometry-approved, orp-approved, tests-approved

#32461 Run3-hcx274 Make sure that change of units in dd4hep will not affect HCAL
  Geometry/HcalCommonData/interface/HcalGeomParameters.h
Labels: code-checks-approved, fully-signed, geometry-approved, orp-approved, tests-approved

#32368 Run2-gex42x Update GeometryConf.py with additional scenarios for 2017Plan1 and 2018
  Configuration/StandardSequences/python/GeometryConf.py
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, operations-approved, orp-approved, tests-approved

#32449 [Bug fix] Avoid rejecting good events in PythiaFilterMultiAncestor.cc
  GeneratorInterface/GenFilters/plugins/PythiaFilterMultiAncestor.cc
Labels: code-checks-approved, fully-signed, generators-approved, orp-approved, tests-approved

#32450 [backport] Avoid rejecting good events in PythiaFilterMultiAncestor.cc
  GeneratorInterface/GenFilters/src/PythiaFilterMultiAncestor.cc
Labels: fully-signed, generators-approved, orp-approved, tests-approved

#32394 HBHE: Avoid double counting of correlated term
  RecoLocalCalo/HcalRecAlgos/src/MahiFit.cc
Labels: code-checks-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved

#32334 Fix reflection integrity
  DQM/EcalCommon/src/MESetBinningUtils2.cc
Labels: comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#32436 Revert "Adding infra. for L1T object scaling constants from DB"
  CondCore/HLTPlugins/src/plugin.cc
  CondFormats/DataRecord/interface/L1TObjScalingRcd.h
  CondFormats/DataRecord/src/L1TObjScalingRcd.cc
  CondFormats/HLTObjects/interface/L1TObjScalingConstants.h
  CondFormats/HLTObjects/src/T_EventSetup_L1TObjScalingConstants.cc
  CondFormats/HLTObjects/src/classes.h
  CondFormats/HLTObjects/src/classes_def.xml
  CondFormats/HLTObjects/test/testSerializationHLTObjects.cpp
Labels: alca-pending, code-checks-approved, db-pending, hlt-approved, orp-approved, pending-signatures, tests-approved

#32220 Phase2 improved conditions and ntuple maker update
  CondFormats/SiPixelTransient/interface/SiPixelTemplateDefs.h
  Configuration/AlCa/python/autoCondPhase2.py
  SLHCUpgradeSimulations/Geometry/test/BuildFile.xml
  SLHCUpgradeSimulations/Geometry/test/Phase2PixelNtuple.cc
  SLHCUpgradeSimulations/Geometry/test/phase2_digi_reco_pixelntuple_cfg.py
  SLHCUpgradeSimulations/Geometry/test/phase2_reco_pixelntuple_cfg.py
Labels: alca-approved, bug-fix, code-checks-approved, comparison-available, db-pending, geometry-approved, orp-approved, pending-signatures, reconstruction-approved, tests-approved, upgrade-approved

#32473 Phase2-hgx272 Make sure that change of units in dd4hep will not affect HGCal geometry
  Geometry/HGCalCommonData/interface/HGCalParameters.h
  Geometry/HGCalCommonData/src/HGCalGeomParameters.cc
Labels: code-checks-approved, fully-signed, geometry-approved, orp-approved, tests-approved, upgrade-approved

#32477 Run3-hcx275 Make sure that change of units in dd4hep will not affect Hcal sim parameters
  Geometry/HcalCommonData/interface/HcalSimParametersFromDD.h
  Geometry/HcalCommonData/src/HcalSimParametersFromDD.cc
Labels: code-checks-approved, fully-signed, geometry-approved, orp-approved, tests-approved

#32478 Run3-hcx276 Make sure that change of units in dd4hep will not affect ECAL geom parameters
  Geometry/EcalCommonData/src/EcalSimParametersFromDD.cc
Labels: code-checks-approved, fully-signed, geometry-approved, orp-approved, tests-approved

#32424 Partially migrate EGEnergyCorrector to ESGetTokens and remove support for electrons
  RecoEgamma/EgammaPhotonAlgos/src/PhotonEnergyCorrector.cc
  RecoEgamma/EgammaPhotonProducers/src/ConversionProducer.cc
  RecoEgamma/EgammaPhotonProducers/src/GEDPhotonProducer.cc
  RecoEgamma/EgammaTools/interface/EGEnergyCorrector.h
  RecoEgamma/EgammaTools/plugins/EGEnergyAnalyzer.cc
  RecoEgamma/EgammaTools/src/EGEnergyCorrector.cc
Labels: code-checks-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved

#32468 Rename external tool herwigpp to herwig7
  GeneratorInterface/Herwig7Interface/BuildFile.xml
  GeneratorInterface/Herwig7Interface/plugins/BuildFile.xml
Labels: code-checks-approved, fully-signed, generators-approved, orp-approved, tests-approved

#32365 Era support for the BMTF Packer
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/BMTFPackerOutput.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/BMTFPackerOutput.h
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/BMTFSetup.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/BMTFSetup.h
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/BMTFUnpackerOutput.cc
  EventFilter/L1TRawToDigi/python/bmtfDigis_cfi.py
  EventFilter/L1TRawToDigi/python/bmtfStage2Raw_cfi.py
Labels: code-checks-approved, fully-signed, l1-approved, orp-approved, tests-approved, urgent

#32454 Preliminary L1T-HLT Interface for Phase-2 -- redux
  HLTrigger/HLTfilters/plugins/HLTDoubletDZ.cc
  HLTrigger/HLTfilters/plugins/L1TEnergySumFilterT.h
  HLTrigger/HLTfilters/plugins/L1THPSPFTauFilter.cc
  HLTrigger/HLTfilters/plugins/L1THPSPFTauFilter.h
  HLTrigger/HLTfilters/plugins/L1TJetFilterT.h
  HLTrigger/HLTfilters/plugins/L1TPFTauFilter.cc
  HLTrigger/HLTfilters/plugins/L1TPFTauFilter.h
  HLTrigger/HLTfilters/plugins/L1TTkEleFilter.cc
  HLTrigger/HLTfilters/plugins/L1TTkEleFilter.h
  HLTrigger/HLTfilters/plugins/L1TTkEmFilter.cc
  HLTrigger/HLTfilters/plugins/L1TTkEmFilter.h
  HLTrigger/HLTfilters/plugins/L1TTkMuonFilter.cc
  HLTrigger/HLTfilters/plugins/L1TTkMuonFilter.h
  HLTrigger/HLTfilters/plugins/plugins.cc
  HLTrigger/HLTfilters/test/test_Phase2L1THLT.py
  HLTrigger/JetMET/interface/HLTHtMhtProducer.h
  HLTrigger/JetMET/interface/HLTMhtProducer.h
  HLTrigger/JetMET/src/HLTHtMhtProducer.cc
  HLTrigger/JetMET/src/HLTMhtProducer.cc
Labels: code-checks-approved, fully-signed, hlt-approved, orp-approved, tests-approved

#32487 Use tbb:task_group in TestTBBTasksAnalyzer
  FWCore/Framework/test/stubs/TestTBBTasksAnalyzer.cc
Labels: code-checks-approved, core-approved, fully-signed, orp-approved, tests-approved

#32491 Switching MCSmartSingleParticleFilter to use an input tag
  GeneratorInterface/GenFilters/plugins/MCSmartSingleParticleFilter.cc
Labels: code-checks-approved, fully-signed, generators-approved, orp-approved, tests-approved

#32482 Removed direct use of tbb::task from SerialTaskQueue
  FWCore/Concurrency/interface/SerialTaskQueue.h
  FWCore/Concurrency/src/SerialTaskQueue.cc
Labels: code-checks-approved, core-approved, fully-signed, orp-approved, tests-approved

#32442 Update CSCMake2DRecHit.cc
  RecoLocalMuon/CSCRecHitD/src/CSCMake2DRecHit.cc
Labels: code-checks-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved

#32432 Migrate Calibration/TkAlCaRecoProducers to esConsumes and other fixes
  Alignment/APEEstimation/plugins/ApeEstimator.cc
  Alignment/CommonAlignmentProducer/plugins/LSNumberFilter.cc
  Alignment/CommonAlignmentProducer/src/AlignmentTrackSelector.cc
  Alignment/OfflineValidation/plugins/DMRChecker.cc
  Alignment/OfflineValidation/plugins/GeneralPurposeTrackAnalyzer.cc
  Alignment/OfflineValidation/plugins/MuonAlignmentAnalyzer.h
  Alignment/OfflineValidation/plugins/PrimaryVertexValidation.cc
  Alignment/OfflineValidation/plugins/PrimaryVertexValidation.h
  Alignment/OfflineValidation/plugins/ResidualRefitting.cc
  Alignment/OfflineValidation/plugins/TrackerGeometryCompare.cc
  Alignment/OfflineValidation/plugins/TrackerGeometryCompare.h
  Alignment/OfflineValidation/plugins/TrackerOfflineValidation.cc
  Alignment/OfflineValidation/plugins/ValidationMisalignedTracker.h
  Alignment/OfflineValidation/src/TrackerValidationVariables.cc
  Calibration/TkAlCaRecoProducers/interface/AlcaBeamSpotFromDB.h
  Calibration/TkAlCaRecoProducers/interface/AlcaBeamSpotHarvester.h
  Calibration/TkAlCaRecoProducers/plugins/AlcaBeamSpotFromDB.cc
  Calibration/TkAlCaRecoProducers/plugins/AlcaBeamSpotHarvester.cc
  Calibration/TkAlCaRecoProducers/plugins/AlcaBeamSpotProducer.cc
  Calibration/TkAlCaRecoProducers/plugins/CalibrationTrackSelectorFromDetIdList.cc
  Calibration/TkAlCaRecoProducers/plugins/PCLMetadataWriter.cc
  Calibration/TkAlCaRecoProducers/plugins/PCLMetadataWriter.h
  Calibration/TkAlCaRecoProducers/src/AlcaBeamSpotManager.cc
  Calibration/TkAlCaRecoProducers/src/CalibrationTrackSelector.cc
Labels: alca-approved, code-checks-approved, fully-signed, orp-approved, tests-approved

#32297 feat: allow for not sorting during PATJetUpdater call
  PhysicsTools/PatAlgos/plugins/PATJetUpdater.cc
  PhysicsTools/PatAlgos/plugins/PATJetUpdater.h
  PhysicsTools/PatAlgos/python/producersLayer1/jetUpdater_cfi.py
  PhysicsTools/PatAlgos/python/tools/jetTools.py
Labels: analysis-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved, xpog-approved

#32484 Use esConsumes with SiPixelStatusProducer
  CalibTracker/SiPixelQuality/plugins/SiPixelStatusProducer.cc
  CalibTracker/SiPixelQuality/plugins/SiPixelStatusProducer.h
Labels: alca-approved, code-checks-approved, fully-signed, orp-approved, tests-started

#32485 Added "/dd4hep::cm" to the DTGeometryBuilder Class
  Geometry/DTGeometryBuilder/plugins/dd4hep/DTGeometryBuilder.cc
  Geometry/DTGeometryBuilder/src/DTGeometryBuilderFromDD4Hep.cc
  Geometry/DTGeometryBuilder/src/DTGeometryBuilderFromDDD.cc
  Geometry/DTGeometryBuilder/test/python/validateDTGeometryDDD_cfg.py
  Geometry/DTGeometryBuilder/test/python/validateDTGeometry_cfg.py
Labels: code-checks-approved, fully-signed, geometry-approved, orp-approved, tests-approved

#32455 Era support for the BMTF Packer
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/BMTFPackerOutput.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/BMTFPackerOutput.h
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/BMTFSetup.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/BMTFSetup.h
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/BMTFUnpackerOutput.cc
  EventFilter/L1TRawToDigi/python/bmtfDigis_cfi.py
  EventFilter/L1TRawToDigi/python/bmtfStage2Raw_cfi.py
Labels: backport, fully-signed, l1-approved, orp-approved, tests-approved, urgent

#32420 [Do not merge] Update classversion CLHEP::Hep3Vector
  DataFormats/CLHEP/src/classes_def.xml
Labels: core-pending, pending-signatures, tests-rejected

#32489 [DD4hep] Convert production cuts units using DD4hep-invariant method
  SimG4Core/DD4hepGeometry/test/plugins/DD4hepTestDDDWorld.cc
  SimG4Core/Geometry/src/DDG4ProductionCuts.cc
Labels: code-checks-approved, fully-signed, orp-approved, simulation-approved, tests-approved

#32479 Add evaluation of SpecPar numeric values in Phase II Tracker XMLs
  Geometry/TrackerCommonData/data/PhaseII/InnerTracker621_50x50_2020_07/pixelStructureTopology.xml
  Geometry/TrackerCommonData/data/PhaseII/TiltedTracker/trackerStructureTopology.xml
  Geometry/TrackerCommonData/data/PhaseII/TiltedTracker4025/pixelStructureTopology.xml
  Geometry/TrackerCommonData/data/PhaseII/TiltedTracker4025/trackerStructureTopology.xml
  Geometry/TrackerCommonData/data/PhaseII/TiltedTracker404/pixelStructureTopology.xml
  Geometry/TrackerCommonData/data/PhaseII/TiltedTracker404/trackerStructureTopology.xml
  Geometry/TrackerCommonData/data/PhaseII/TiltedTracker405/pixelStructureTopology.xml
  Geometry/TrackerCommonData/data/PhaseII/TiltedTracker613/pixelStructureTopology.xml
  Geometry/TrackerCommonData/data/PhaseII/TiltedTracker700/pixelStructureTopology.xml
Labels: code-checks-approved, fully-signed, geometry-approved, orp-approved, tests-approved

#32443 [DQM/EcalMonitorTasks] Add MEM FE Status and Integrity Error Plots
  DQM/EcalMonitorTasks/python/PNDiodeTask_cfi.py
  DQM/EcalMonitorTasks/python/RawDataTask_cfi.py
  DQM/EcalMonitorTasks/src/PNDiodeTask.cc
  DQM/EcalMonitorTasks/src/RawDataTask.cc
Labels: code-checks-approved, dqm-approved, fully-signed, orp-approved, tests-approved

#32481 [DQM/EcalMonitorTasks] Add MEM FE Status and Integrity Error Plots
  DQM/EcalMonitorTasks/python/PNDiodeTask_cfi.py
  DQM/EcalMonitorTasks/python/RawDataTask_cfi.py
  DQM/EcalMonitorTasks/src/PNDiodeTask.cc
  DQM/EcalMonitorTasks/src/RawDataTask.cc
Labels: backport, dqm-approved, fully-signed, orp-approved, tests-approved

#32415 BeamSpotOnline updates - backport to 11_2_X
  DQM/BeamMonitor/plugins/BeamMonitor.cc
  DQM/BeamMonitor/plugins/FakeBeamMonitor.cc
  DQM/Integration/python/clients/beam_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamfake_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamhlt_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamhltfake_dqm_sourceclient-live_cfg.py
Labels: backport, dqm-approved, fully-signed, orp-approved, tests-approved

#32408 BeamSpotOnline updates
  DQM/BeamMonitor/plugins/BeamMonitor.cc
  DQM/BeamMonitor/plugins/FakeBeamMonitor.cc
  DQM/Integration/python/clients/beam_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamfake_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamhlt_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamhltfake_dqm_sourceclient-live_cfg.py
Labels: code-checks-approved, dqm-approved, fully-signed, orp-approved, tests-approved

#32469 EgHLT Phase-II showershape fix : 11_3_X
  RecoEgamma/EgammaHLTProducers/plugins/EgammaHLTClusterShapeProducer.cc
Labels: code-checks-approved, fully-signed, hlt-approved, orp-approved, tests-approved

#32464 drop type spec in CommonTools
  CommonTools/ParticleFlow/python/EITopPAG_cff.py
  CommonTools/ParticleFlow/python/PFBRECO_cff.py
  CommonTools/ParticleFlow/python/goodOnlinePrimaryVertices_cfi.py
  CommonTools/ParticleFlow/python/pfElectrons_cff.py
  CommonTools/ParticleFlow/python/pfMET_cfi.py
  CommonTools/ParticleFlow/python/pfMuons_cff.py
  CommonTools/ParticleFlow/python/pfTaus_cff.py
  CommonTools/PileupAlgos/python/PUPuppi_cff.py
  CommonTools/RecoAlgos/python/vertexCompositeCandidateCollectionSelector_cfi.py
  CommonTools/RecoUtils/python/pf_pu_assomap_cfi.py
  CommonTools/RecoUtils/python/pfcand_assomap_cfi.py
Labels: analysis-pending, code-checks-approved, orp-approved, pending-signatures, reconstruction-approved, tests-approved

#31531 PPS nanoAOD
  PhysicsTools/NanoAOD/interface/SimpleFlatTableProducer.h
  PhysicsTools/NanoAOD/plugins/BuildFile.xml
  PhysicsTools/NanoAOD/plugins/LHCInfoProducer.cc
  PhysicsTools/NanoAOD/plugins/NanoAODOutputModule.cc
  PhysicsTools/NanoAOD/plugins/ProtonProducer.cc
  PhysicsTools/NanoAOD/plugins/SimpleFlatTableProducerPlugins.cc
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
  PhysicsTools/NanoAOD/python/nano_cff.py
  PhysicsTools/NanoAOD/python/protons_cff.py
  RecoPPS/ProtonReconstruction/plugins/PPSFilteredProtonProducer.cc
Labels: analysis-pending, code-checks-approved, comparison-available, orp-approved, pending-signatures, reconstruction-approved, tests-approved, xpog-approved

#32397 Clean HGCAL digitization. Fix Premixing for HGCAL
  SimCalorimetry/HGCalSimProducers/interface/HFNoseDigitizer.h
  SimCalorimetry/HGCalSimProducers/interface/HGCDigitizer.h
  SimCalorimetry/HGCalSimProducers/interface/HGCDigitizerBase.h
  SimCalorimetry/HGCalSimProducers/interface/HGCDigitizerPluginFactory.h
  SimCalorimetry/HGCalSimProducers/interface/HGCEEDigitizer.h
  SimCalorimetry/HGCalSimProducers/interface/HGCHEbackDigitizer.h
  SimCalorimetry/HGCalSimProducers/interface/HGCHEfrontDigitizer.h
  SimCalorimetry/HGCalSimProducers/plugins/HFNoseDigitizer.cc
  SimCalorimetry/HGCalSimProducers/plugins/HGCDigitizer.cc
  SimCalorimetry/HGCalSimProducers/plugins/HGCDigitizerBase.cc
  SimCalorimetry/HGCalSimProducers/plugins/HGCDigitizerPluginFactory.cc
  SimCalorimetry/HGCalSimProducers/plugins/HGCEEDigitizer.cc
  SimCalorimetry/HGCalSimProducers/plugins/HGCHEbackDigitizer.cc
  SimCalorimetry/HGCalSimProducers/plugins/HGCHEfrontDigitizer.cc
  SimCalorimetry/HGCalSimProducers/python/hgcalDigitizer_cfi.py
  SimCalorimetry/HGCalSimProducers/src/HFNoseDigitizer.cc
  SimCalorimetry/HGCalSimProducers/src/HGCEEDigitizer.cc
  SimCalorimetry/HGCalSimProducers/src/HGCHEfrontDigitizer.cc
Labels: code-checks-approved, fully-signed, orp-approved, simulation-approved, tests-approved, upgrade-approved

#32438 Merge .h with .cc files in RecoEgamma/Examples
  RecoEgamma/Examples/plugins/DQMAnalyzer.cc
  RecoEgamma/Examples/plugins/DQMAnalyzer.h
  RecoEgamma/Examples/plugins/ElectronIDAnalyzer.cc
  RecoEgamma/Examples/plugins/ElectronIDAnalyzer.h
  RecoEgamma/Examples/plugins/ElectronSeedAnalyzer.cc
  RecoEgamma/Examples/plugins/ElectronSeedAnalyzer.h
  RecoEgamma/Examples/plugins/GsfElectronDataAnalyzer.cc
  RecoEgamma/Examples/plugins/GsfElectronDataAnalyzer.h
  RecoEgamma/Examples/plugins/GsfElectronFakeAnalyzer.cc
  RecoEgamma/Examples/plugins/GsfElectronFakeAnalyzer.h
  RecoEgamma/Examples/plugins/GsfElectronMCAnalyzer.cc
  RecoEgamma/Examples/plugins/GsfElectronMCAnalyzer.h
  RecoEgamma/Examples/plugins/GsfElectronMCFakeAnalyzer.cc
  RecoEgamma/Examples/plugins/GsfElectronMCFakeAnalyzer.h
  RecoEgamma/Examples/plugins/MCElectronAnalyzer.cc
  RecoEgamma/Examples/plugins/MCElectronAnalyzer.h
  RecoEgamma/Examples/plugins/MCPhotonAnalyzer.cc
  RecoEgamma/Examples/plugins/MCPhotonAnalyzer.h
  RecoEgamma/Examples/plugins/MCPizeroAnalyzer.cc
  RecoEgamma/Examples/plugins/MCPizeroAnalyzer.h
  RecoEgamma/Examples/plugins/PatPhotonSimpleAnalyzer.cc
  RecoEgamma/Examples/plugins/PatPhotonSimpleAnalyzer.h
  RecoEgamma/Examples/plugins/PhotonsWithConversionsAnalyzer.cc
  RecoEgamma/Examples/plugins/PhotonsWithConversionsAnalyzer.h
  RecoEgamma/Examples/plugins/SealModule.cc
  RecoEgamma/Examples/plugins/SiStripElectronAnalyzer.cc
  RecoEgamma/Examples/plugins/SiStripElectronAnalyzer.h
  RecoEgamma/Examples/plugins/SimpleConvertedPhotonAnalyzer.cc
  RecoEgamma/Examples/plugins/SimpleConvertedPhotonAnalyzer.h
  RecoEgamma/Examples/plugins/SimplePhotonAnalyzer.cc
  RecoEgamma/Examples/plugins/SimplePhotonAnalyzer.h
  RecoEgamma/Examples/plugins/SimplePi0DiscAnalyzer.cc
  RecoEgamma/Examples/plugins/SimplePi0DiscAnalyzer.h
  RecoEgamma/Examples/plugins/plugins.cc
Labels: code-checks-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved

#32386 Drop type specs in RecoHI {Configuration, HiTracking}
  RecoHI/Configuration/python/Reconstruction_hiPF_cff.py
  RecoHI/Configuration/python/Reconstruction_hiSignal_cff.py
  RecoHI/Configuration/python/peripheralHLTFilter_cff.py
  RecoHI/HiTracking/python/HIBestVertexSequences_cff.py
  RecoHI/HiTracking/python/HIInitialJetCoreClusterSplitting_cff.py
  RecoHI/HiTracking/python/HILowPtConformalPixelTracks_cfi.py
  RecoHI/HiTracking/python/HIPixel3PrimTracks_cfi.py
  RecoHI/HiTracking/python/HIPixelVerticesPreSplitting_cff.py
  RecoHI/HiTracking/python/HISelectedTracks_cfi.py
  RecoHI/HiTracking/python/HITrackingRegionProducer_cfi.py
  RecoHI/HiTracking/python/MergeRegitTrackCollectionsHI_cff.py
  RecoHI/HiTracking/python/MergeTrackCollectionsHI_cff.py
  RecoHI/HiTracking/python/hiDetachedQuadStep_cff.py
  RecoHI/HiTracking/python/hiDetachedTripletStep_cff.py
  RecoHI/HiTracking/python/hiHighPtTripletStep_cff.py
  RecoHI/HiTracking/python/hiJetCoreRegionalStep_cff.py
  RecoHI/HiTracking/python/hiLowPtQuadStep_cff.py
  RecoHI/HiTracking/python/hiLowPtTripletStep_cff.py
  RecoHI/HiTracking/python/hiMergedConformalPixelTracking_cff.py
  RecoHI/HiTracking/python/hiMixedTripletStep_cff.py
  RecoHI/HiTracking/python/hiMultiTrackSelector_cfi.py
  RecoHI/HiTracking/python/hiPixelLessStep_cff.py
  RecoHI/HiTracking/python/hiPixelPairStep_cff.py
  RecoHI/HiTracking/python/hiRegitDetachedTripletStep_cff.py
  RecoHI/HiTracking/python/hiRegitInitialStep_cff.py
  RecoHI/HiTracking/python/hiRegitLowPtTripletStep_cff.py
  RecoHI/HiTracking/python/hiRegitMixedTripletStep_cff.py
  RecoHI/HiTracking/python/hiRegitPixelPairStep_cff.py
  RecoHI/HiTracking/python/hiTobTecStep_cff.py
Labels: code-checks-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved

#32499 Add and use preprocessors macros for loop unrolling
  DataFormats/CaloRecHit/interface/MultifitComputations.h
  FWCore/Utilities/interface/CMSUnrollLoop.h
  HeterogeneousCore/CUDAUtilities/interface/prefixScan.h
  HeterogeneousCore/CUDAUtilities/interface/radixSort.h
  RecoLocalCalo/HcalRecProducers/src/MahiGPU.cu
Labels: code-checks-approved, core-approved, fully-signed, heterogeneous-approved, orp-approved, reconstruction-approved, tests-approved

#32474 Plugins for Phase-2 L1T-HLT (11.1.x backport)
  HLTrigger/HLTfilters/plugins/HLTDoubletDZ.cc
  HLTrigger/HLTfilters/plugins/L1TEnergySumFilterT.h
  HLTrigger/HLTfilters/plugins/L1THPSPFTauFilter.cc
  HLTrigger/HLTfilters/plugins/L1THPSPFTauFilter.h
  HLTrigger/HLTfilters/plugins/L1TJetFilterT.h
  HLTrigger/HLTfilters/plugins/L1TPFTauFilter.cc
  HLTrigger/HLTfilters/plugins/L1TPFTauFilter.h
  HLTrigger/HLTfilters/plugins/L1TTkEleFilter.cc
  HLTrigger/HLTfilters/plugins/L1TTkEleFilter.h
  HLTrigger/HLTfilters/plugins/L1TTkEmFilter.cc
  HLTrigger/HLTfilters/plugins/L1TTkEmFilter.h
  HLTrigger/HLTfilters/plugins/L1TTkMuonFilter.cc
  HLTrigger/HLTfilters/plugins/L1TTkMuonFilter.h
  HLTrigger/HLTfilters/plugins/plugins.cc
  HLTrigger/HLTfilters/test/test_Phase2L1THLT.py
  HLTrigger/JetMET/interface/HLTHtMhtProducer.h
  HLTrigger/JetMET/interface/HLTMhtProducer.h
  HLTrigger/JetMET/src/HLTHtMhtProducer.cc
  HLTrigger/JetMET/src/HLTMhtProducer.cc
Labels: backport-ok, fully-signed, hlt-approved, orp-approved, tests-approved, urgent

#32298 [10_6_X] feat: allow for not sorting during PATJetUpdater call
  PhysicsTools/PatAlgos/plugins/PATJetUpdater.cc
  PhysicsTools/PatAlgos/plugins/PATJetUpdater.h
  PhysicsTools/PatAlgos/python/producersLayer1/jetUpdater_cfi.py
  PhysicsTools/PatAlgos/python/tools/jetTools.py
Labels: analysis-approved, backport-ok, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved, xpog-approved

#32470 EgHLT Phase-II showershape fix : 11_2_X
  RecoEgamma/EgammaHLTProducers/plugins/EgammaHLTClusterShapeProducer.cc
Labels: backport-ok, fully-signed, hlt-approved, orp-approved, tests-approved

#32471 EgHLT Phase-II showershape fix : 11_1_X
  RecoEgamma/EgammaHLTProducers/plugins/EgammaHLTClusterShapeProducer.cc
Labels: backport-ok, fully-signed, hlt-approved, orp-approved, tests-approved

#32507 Update CSCMake2DRecHit.cc
  RecoLocalMuon/CSCRecHitD/src/CSCMake2DRecHit.cc
Labels: backport-ok, bug-fix, fully-signed, orp-approved, reconstruction-approved, tests-approved

#32459 Run4-hgx271 Remove some of the older unwanted xml files
  Geometry/HGCalCommonData/data/hgcal/v10c/hgcal.xml
  Geometry/HGCalCommonData/data/hgcal/v9a/hgcal.xml
  Geometry/HGCalCommonData/data/hgcal/v9c/hgcal.xml
  Geometry/HGCalCommonData/data/hgcal/v9p/hgcal.xml
  Geometry/HGCalCommonData/data/hgcalCons/v9a/hgcalCons.xml
  Geometry/HGCalCommonData/data/hgcalCons/v9ap/hgcalCons.xml
  Geometry/HGCalCommonData/data/hgcalCons/v9p/hgcalCons.xml
  Geometry/HGCalCommonData/data/hgcalConsData/v13/hgcalConsData.xml
  Geometry/HGCalCommonData/data/hgcalConsData/v14/hgcalConsData.xml
  Geometry/HGCalCommonData/data/hgcalEE/v9a/hgcalEE.xml
  Geometry/HGCalCommonData/data/hgcalHEmix/v9a/hgcalHEmix.xml
  Geometry/HGCalCommonData/data/hgcalHEsil/v9a/hgcalHEsil.xml
Labels: code-checks-approved, fully-signed, geometry-approved, orp-approved, tests-approved, upgrade-approved

#32457 Phase2-hgx271 Make all plugins to take care of units
  Geometry/HGCalCommonData/data/dd4hep/cms-test-ddhgcalEEFile-algorithm.xml
  Geometry/HGCalCommonData/data/dd4hep/cms-test-ddhgcalHEmixFile-algorithm.xml
  Geometry/HGCalCommonData/data/dd4hep/cms-test-ddhgcalTBModule-algorithm.xml
  Geometry/HGCalCommonData/data/dd4hep/cms-test-ddhgcalWaferAlgo-algorithm.xml
  Geometry/HGCalCommonData/data/dd4hep/cms-test-ddhgcalcell-algorithm.xml
  Geometry/HGCalCommonData/data/dd4hep/cms-test-ddhgcalwafer-algorithm.xml
  Geometry/HGCalCommonData/data/dd4hep/cms-test-ddhgcalwafer8-algorithm.xml
  Geometry/HGCalCommonData/data/hgcalEE/v14/hgcal.xml
  Geometry/HGCalCommonData/data/hgcalHEmix/v14/hgcal.xml
  Geometry/HGCalCommonData/data/hgcalcell/v9/hgcal.xml
  Geometry/HGCalCommonData/data/hgcalcell/v9/hgcalpos.xml
  Geometry/HGCalCommonData/data/hgcalwafer/v7/hgcal.xml
  Geometry/HGCalCommonData/data/hgcalwafer/v7/hgcalpos.xml
  Geometry/HGCalCommonData/data/hgcalwafer/v8/hgcal.xml
  Geometry/HGCalCommonData/data/hgcalwafer/v8/hgcalpos.xml
  Geometry/HGCalCommonData/data/hgcalwafer/v9/hgcal.xml
  Geometry/HGCalCommonData/data/hgcalwafer/v9/hgcalpos.xml
  Geometry/HGCalCommonData/plugins/DDHGCalModule.cc
  Geometry/HGCalCommonData/plugins/DDHGCalModuleAlgo.cc
  Geometry/HGCalCommonData/plugins/dd4hep/DDAHcalModuleAlgo.cc
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalCell.cc
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalEEAlgo.cc
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalEEFileAlgo.cc
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalHEAlgo.cc
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalHEFileAlgo.cc
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalModule.cc
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalModuleAlgo.cc
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalNoTaperEndcap.cc
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalTBModule.cc
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalTBModuleX.cc
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalWafer.cc
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalWafer8.cc
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalWaferAlgo.cc
  Geometry/HGCalCommonData/python/testHGCalCellXML_cfi.py
  Geometry/HGCalCommonData/python/testHGCalEEFileXML_cfi.py
  Geometry/HGCalCommonData/python/testHGCalHEmixFileXML_cfi.py
  Geometry/HGCalCommonData/python/testHGCalTBModuleXML_cfi.py
  Geometry/HGCalCommonData/python/testHGCalWafer8XML_cfi.py
  Geometry/HGCalCommonData/python/testHGCalWaferAlgoXML_cfi.py
  Geometry/HGCalCommonData/python/testHGCalWaferXML_cfi.py
  Geometry/HGCalCommonData/src/FastTimeDDDConstants.cc
  Geometry/HGCalCommonData/test/python/dumpHGCalEEFileDD4Hep_cfg.py
  Geometry/HGCalCommonData/test/python/dumpHGCalEEFileDDD_cfg.py
  Geometry/HGCalCommonData/test/python/dumpHGCalHEmixFileDD4Hep_cfg.py
  Geometry/HGCalCommonData/test/python/dumpHGCalHEmixFileDDD_cfg.py
Labels: code-checks-approved, fully-signed, geometry-approved, orp-approved, tests-approved, upgrade-approved

#31607 L1T Phase2 PFJet a la Phase1 (11_1_X)
  L1Trigger/Configuration/python/L1Trigger_EventContent_cff.py
  L1Trigger/Configuration/python/SimL1Emulator_cff.py
  L1Trigger/L1CaloTrigger/plugins/L1TS2PFJetInputPatternWriter.cc
  L1Trigger/L1CaloTrigger/plugins/Phase1L1TJetCalibrator.cc
  L1Trigger/L1CaloTrigger/plugins/Phase1L1TJetProducer.cc
  L1Trigger/L1CaloTrigger/python/Phase1L1TJetCalibrator_cfi.py
  L1Trigger/L1CaloTrigger/python/Phase1L1TJetProducer_cfi.py
  L1Trigger/L1CaloTrigger/python/Phase1L1TJets_cff.py
  L1Trigger/L1CaloTrigger/python/l1tS2PFJetInputPatternWriter_cfi.py
  L1Trigger/L1CaloTrigger/test/Phase1L1TJetHwEmuComp.py
  L1Trigger/L1CaloTrigger/test/generatePatternPF.py
  L1Trigger/L1CaloTrigger/test/test_Phase1L1TJets_cfg.py
Labels: backport-ok, fully-signed, l1-approved, orp-approved, tests-approved, upgrade-approved, urgent

#32476 ETL Validation code update and fixes
  RecoLocalFastTime/FTLRecProducers/python/mtdRecHits_cfi.py
  SimFastTiming/FastTimingCommon/python/mtdDigitizer_cfi.py
  Validation/MtdValidation/plugins/EtlDigiHitsValidation.cc
  Validation/MtdValidation/plugins/EtlLocalRecoValidation.cc
  Validation/MtdValidation/plugins/EtlSimHitsValidation.cc
  Validation/MtdValidation/plugins/MtdGlobalRecoHarvester.cc
  Validation/MtdValidation/plugins/MtdGlobalRecoValidation.cc
Labels: code-checks-approved, dqm-approved, fully-signed, orp-approved, reconstruction-approved, simulation-approved, tests-approved, upgrade-approved

#32488 MTD & Tracker DD4hep Units
  Geometry/MTDNumberingBuilder/src/GeometricTimingDet.cc
  Geometry/TrackerNumberingBuilder/src/GeometricDet.cc
Labels: code-checks-approved, fully-signed, geometry-approved, orp-approved, tests-approved, upgrade-approved
