Repository cms-sw/cmssw, pull requests merged in 2020-01, with the labels that each got.

#28713 add mising resets for a couple of vectors in TrackingNtuple
  Validation/RecoTrack/plugins/TrackingNtuple.cc
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#28712 Add std::atomic_flag to exception list
  Utilities/StaticAnalyzers/src/CmsSupport.cpp
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#28706 Return ClusterParam by unique_ptr in PixelCPE
  RecoLocalTracker/SiPixelRecHits/interface/PixelCPEBase.h
  RecoLocalTracker/SiPixelRecHits/interface/PixelCPEClusterRepair.h
  RecoLocalTracker/SiPixelRecHits/interface/PixelCPEGeneric.h
  RecoLocalTracker/SiPixelRecHits/interface/PixelCPETemplateReco.h
  RecoLocalTracker/SiPixelRecHits/src/PixelCPEClusterRepair.cc
  RecoLocalTracker/SiPixelRecHits/src/PixelCPEGeneric.cc
  RecoLocalTracker/SiPixelRecHits/src/PixelCPETemplateReco.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28704 Return HitRZCompatibility and TrackingRegion by unique_ptr in TrackingRegion
  RecoTracker/ConversionSeedGenerators/plugins/HitPairGeneratorFromLayerPairForPhotonConversion.cc
  RecoTracker/ConversionSeedGenerators/plugins/HitQuadrupletGeneratorFromLayerPairForPhotonConversion.cc
  RecoTracker/SpecialSeedGenerators/interface/CosmicTrackingRegion.h
  RecoTracker/TkHitPairs/src/HitPairGeneratorFromLayerPair.cc
  RecoTracker/TkTrackingRegions/interface/GlobalTrackingRegion.h
  RecoTracker/TkTrackingRegions/interface/RectangularEtaPhiTrackingRegion.h
  RecoTracker/TkTrackingRegions/interface/TrackingRegion.h
  RecoTracker/TkTrackingRegions/src/GlobalTrackingRegion.cc
  RecoTracker/TkTrackingRegions/src/RectangularEtaPhiTrackingRegion.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28702 Fix SwitchProducer unit test for python3
  FWCore/ParameterSet/python/Config.py
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#28701 Apply strict memory ownership to muon tracking
  RecoMuon/CosmicMuonProducer/interface/CosmicMuonTrajectoryBuilder.h
  RecoMuon/CosmicMuonProducer/interface/GlobalCosmicMuonTrajectoryBuilder.h
  RecoMuon/CosmicMuonProducer/src/CosmicMuonProducer.cc
  RecoMuon/CosmicMuonProducer/src/CosmicMuonProducer.h
  RecoMuon/CosmicMuonProducer/src/CosmicMuonTrajectoryBuilder.cc
  RecoMuon/CosmicMuonProducer/src/GlobalCosmicMuonProducer.cc
  RecoMuon/CosmicMuonProducer/src/GlobalCosmicMuonProducer.h
  RecoMuon/CosmicMuonProducer/src/GlobalCosmicMuonTrajectoryBuilder.cc
  RecoMuon/GlobalMuonProducer/src/GlobalMuonProducer.cc
  RecoMuon/GlobalMuonProducer/src/TevMuonProducer.cc
  RecoMuon/GlobalMuonProducer/src/TevMuonProducer.h
  RecoMuon/GlobalTrackFinder/src/GlobalMuonTrajectoryBuilder.cc
  RecoMuon/GlobalTrackingTools/src/GlobalTrajectoryBuilderBase.cc
  RecoMuon/L2MuonProducer/src/L2MuonProducer.cc
  RecoMuon/L2MuonProducer/src/L2MuonProducer.h
  RecoMuon/L3MuonProducer/src/L3MuonProducer.cc
  RecoMuon/L3MuonProducer/src/L3MuonProducer.h
  RecoMuon/L3TrackFinder/interface/L3MuonTrajectoryBuilder.h
  RecoMuon/L3TrackFinder/src/L3MuonTrajectoryBuilder.cc
  RecoMuon/StandAloneMuonProducer/src/StandAloneMuonProducer.cc
  RecoMuon/StandAloneMuonProducer/src/StandAloneMuonProducer.h
  RecoMuon/StandAloneTrackFinder/src/ExhaustiveMuonTrajectoryBuilder.cc
  RecoMuon/StandAloneTrackFinder/src/StandAloneTrajectoryBuilder.cc
  RecoMuon/TrackingTools/interface/MuonCandidate.h
  RecoMuon/TrackingTools/interface/MuonTrackFinder.h
  RecoMuon/TrackingTools/interface/MuonTrackLoader.h
  RecoMuon/TrackingTools/src/DirectMuonTrajectoryBuilder.cc
  RecoMuon/TrackingTools/src/MuonTrackFinder.cc
  RecoMuon/TrackingTools/src/MuonTrackLoader.cc
  RecoMuon/TrackingTools/src/MuonTrajectoryCleaner.cc
Labels: code-checks-approved, comparison-available, fully-signed, hlt-approved, orp-approved, reconstruction-approved, tests-approved

#28691 Remove global declarations in classes.h in CaloAnalysis
  SimDataFormats/CaloAnalysis/src/classes.h
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, simulation-approved, tests-approved

#28687 Remove dead assignments in Validation/RecoEgamma/plugins
  Validation/RecoEgamma/plugins/PhotonValidator.cc
  Validation/RecoEgamma/plugins/TkConvValidator.cc
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#28590 Correct MTDGeomDet type problems
  DataFormats/TrackerRecHit2D/interface/BaseTrackerRecHit.h
  DataFormats/TrackerRecHit2D/interface/ProjectedSiStripRecHit2D.h
  DataFormats/TrackerRecHit2D/interface/SiTrackerMultiRecHit.h
  DataFormats/TrackerRecHit2D/interface/TrackerSingleRecHit.h
  Geometry/CommonTopologies/interface/GeomDet.h
  Geometry/CommonTopologies/interface/MTDGeomDet.h
  Geometry/CommonTopologies/src/MTDGeomDet.cc
  Geometry/CommonTopologies/src/TrackerGeomDet.cc
  RecoLocalFastTime/FTLRecProducers/plugins/MTDTrackingRecHitProducer.cc
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, reconstruction-approved, tests-approved, upgrade-approved

#28485 HCALDQM: Run3 era, add compatibility for new uTCA HO (10_6_X)
  DQM/HcalCommon/interface/Constants.h
  DQM/Integration/python/clients/hcal2_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/hcal_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/hcalcalib_dqm_sourceclient-live_cfg.py
Labels: comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#28489 [DQM] Updated the client for MuonMonitor in online DQM
  DQM/Integration/python/clients/mutracking_dqm_sourceclient-live_cfg.py
  DQM/MuonMonitor/test/mutracking_dqm_sourceclient-live_cfg.py
Labels: comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#28535 Introducing SiPixelCalSingleMuon ALCARECO
  Calibration/TkAlCaRecoProducers/python/ALCARECOSiPixelCalCosmics_Output_cff.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOSiPixelCalCosmics_cff.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOSiPixelCalSingleMuon_Output_cff.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOSiPixelCalSingleMuon_cff.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOSiPixelLorentzAngle_Output_cff.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOSiPixelLorentzAngle_cff.py
  Calibration/TkAlCaRecoProducers/python/SiPixelLorentzAngleHLTFilter_cfi.py
  Configuration/AlCa/python/autoAlca.py
  Configuration/AlCa/python/autoCond.py
  Configuration/EventContent/python/AlCaRecoOutput_RelVal_cff.py
  Configuration/EventContent/python/AlCaRecoOutput_cff.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/StandardSequences/python/AlCaRecoStreamsHeavyIons_cff.py
  Configuration/StandardSequences/python/AlCaRecoStreams_cff.py
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, operations-approved, orp-approved, pdmv-approved, tests-approved, upgrade-approved

#28407 DQM: new DQMGlobalEDAnalyzer
  CalibTracker/SiStripChannelGain/python/SiStripGainsPCLWorker_cfi.py
  DQM/HLTEvF/python/trigObjTnPSource_cfi.py
  DQMServices/Components/python/DQMLumiMonitor_cfi.py
  DQMServices/Core/interface/DQMGlobalEDAnalyzer.h
  DQMServices/Core/interface/DQMStore.h
  DQMServices/Core/src/DQMStore.cc
  DQMServices/Core/test/BuildFile.xml
  DQMServices/Core/test/DQMFastMatchTest.cc
  HLTrigger/Timer/plugins/FastTimerService.cc
  HLTrigger/Timer/plugins/ThroughputService.cc
  Validation/DTRecHits/python/DTRecHitQualityAll_cfi.py
  Validation/DTRecHits/python/DTRecHitQuality_cfi.py
  Validation/HGCalValidation/python/HGCalValidator_cfi.py
  Validation/RecoTrack/python/MultiTrackValidator_cfi.py
Labels: alca-approved, code-checks-approved, comparison-available, dqm-approved, fully-signed, hlt-approved, orp-approved, tests-approved

#28470 Use PREMIX in the name of the .97 workflow
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/PyReleaseValidation/python/relval_upgrade.py
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, pdmv-approved, tests-approved, upgrade-approved

#28599 Backport of #28430 (Add variables for PileUp Jet ID BDT in JME Custom-NanoAODs)
  PhysicsTools/NanoAOD/plugins/PileupJetIDVarProducer.cc
  PhysicsTools/NanoAOD/python/custom_jme_cff.py
Labels: analysis-approved, backport-ok, comparison-available, fully-signed, orp-approved, tests-approved, xpog-approved

#28624 Use correct beamspot for 2016 MC + update MC tracker alignment scenario for 2016 pre-VFP era
  Configuration/AlCa/python/autoCond.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  TauAnalysis/MCEmbeddingTools/test/runtests.sh
Labels: alca-approved, analysis-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, pdmv-approved, simulation-approved, tests-approved, upgrade-approved

#28685 Run3-alca159 Study isolated track property
  Calibration/HcalCalibAlgos/macros/CalibPlotProperties.C
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#28705 Run3-TB47 Test and validate TB simulation of HGCal
  Geometry/HGCalCommonData/data/TB181/Test/hgcProdCuts.xml
  Geometry/HGCalCommonData/data/TB181/Test/hgcalCons.xml
  Geometry/HGCalCommonData/data/TB181/Test/hgcalHE.xml
  Geometry/HGCalCommonData/data/TB181/Test/hgcalsense.xml
  Geometry/HGCalCommonData/python/testTB181V1XML_cfi.py
  Geometry/HGCalCommonData/python/testTB181V2XML_cfi.py
  Geometry/HGCalCommonData/src/HGCalDDDConstants.cc
  Geometry/HGCalCommonData/test/python/runTest_cfg.py
  SimG4CMS/Calo/src/HGCNumberingScheme.cc
  SimG4CMS/Calo/src/HGCSD.cc
  SimG4CMS/HGCalTestBeam/macros/HexGeometry.C
  SimG4CMS/HGCalTestBeam/plugins/HGCalTBAnalyzer.cc
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, simulation-approved, tests-approved, upgrade-approved

#28708 Test also ESGetToken in ESTestAnalyzers
  FWCore/Integration/test/ESTestAnalyzers.cc
  FWCore/TestProcessor/src/TestProcessor.cc
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#28666 Properly handle file open for Streamer based sources
  CalibCalorimetry/EcalLaserSorting/src/WatcherStreamFileReader.cc
  CalibCalorimetry/EcalLaserSorting/test/BuildFile.xml
  CalibCalorimetry/EcalLaserSorting/test/RunStreamer.sh
  CalibCalorimetry/EcalLaserSorting/test/RunThis_t.cpp
  CalibCalorimetry/EcalLaserSorting/test/streamIn_cfg.py
  CalibCalorimetry/EcalLaserSorting/test/streamOutAlt_cfg.py
  CalibCalorimetry/EcalLaserSorting/test/streamOutExt_cfg.py
  CalibCalorimetry/EcalLaserSorting/test/streamOut_cfg.py
  DQMServices/StreamerIO/plugins/DQMStreamerReader.cc
  DQMServices/StreamerIO/plugins/DQMStreamerReader.h
  DQMServices/StreamerIO/test/BuildFile.xml
  DQMServices/StreamerIO/test/DQMStreamerWriteJsonAnalyzer.cc
  DQMServices/StreamerIO/test/RunStreamer.sh
  DQMServices/StreamerIO/test/RunThis_t.cpp
  DQMServices/StreamerIO/test/streamInAlt_cfg.py
  DQMServices/StreamerIO/test/streamInExt_cfg.py
  DQMServices/StreamerIO/test/streamIn_cfg.py
  DQMServices/StreamerIO/test/streamOutAlt_cfg.py
  DQMServices/StreamerIO/test/streamOutExt_cfg.py
  DQMServices/StreamerIO/test/streamOut_cfg.py
  EventFilter/Utilities/interface/FedRawDataInputSource.h
  EventFilter/Utilities/src/FedRawDataInputSource.cc
  FWCore/Sources/interface/RawInputSource.h
  FWCore/Sources/src/RawInputSource.cc
  IOPool/Streamer/bin/DiagStreamerFile.cpp
  IOPool/Streamer/interface/StreamerInputFile.h
  IOPool/Streamer/interface/StreamerInputModule.h
  IOPool/Streamer/interface/StreamerInputSource.h
  IOPool/Streamer/src/StreamerFileReader.cc
  IOPool/Streamer/src/StreamerFileReader.h
  IOPool/Streamer/src/StreamerInputFile.cc
  IOPool/Streamer/src/StreamerInputSource.cc
  IOPool/Streamer/test/NewStreamInAlt_cfg.py
  IOPool/Streamer/test/NewStreamInExt_cfg.py
  IOPool/Streamer/test/NewStreamOutAlt_cfg.py
  IOPool/Streamer/test/NewStreamOutExt_cfg.py
  IOPool/Streamer/test/ReadStreamerFile.cpp
  IOPool/Streamer/test/RunSimple_NewStreamer.sh
Labels: alca-pending, code-checks-approved, comparison-available, core-approved, daq-approved, dqm-approved, orp-approved, pending-signatures, reconstruction-approved, tests-approved

#28692 Remove global declarations in classes.h in L1TNtuples
  L1Trigger/L1TNtuples/src/classes.h
Labels: code-checks-approved, comparison-available, l1-pending, orp-approved, pending-signatures, tests-approved

#28693 Remove global declarations in classes.h in L1THGCal
  DataFormats/L1THGCal/src/classes.h
Labels: code-checks-approved, comparison-available, l1-pending, orp-approved, pending-signatures, tests-approved, upgrade-approved

#28694 Remove global declarations in classes.h in TrackTriggerAssociation
  SimTracker/TrackTriggerAssociation/src/classes.h
Labels: code-checks-approved, comparison-available, l1-pending, orp-approved, pending-signatures, simulation-approved, tests-approved

#28696 Removed non-const global from L1Trigger/L1TMuonOverlap
  L1Trigger/L1TMuonOverlap/src/AngleConverter.cc
Labels: code-checks-approved, comparison-available, l1-pending, orp-approved, pending-signatures, tests-approved

#28697 Removed use of global histograms in DTVDriftCalibration
  CalibMuon/DTCalibration/interface/DTTMax.h
  CalibMuon/DTCalibration/interface/Histogram.h
  CalibMuon/DTCalibration/plugins/DTVDriftCalibration.cc
  CalibMuon/DTCalibration/plugins/DTVDriftCalibration.h
  CalibMuon/DTCalibration/src/DTTMax.cc
Labels: alca-pending, code-checks-approved, comparison-available, orp-approved, pending-signatures, tests-approved

#28698 Avoid leaking memory in DTDeadFlagHandler
  CondTools/DT/src/DTDeadFlagHandler.cc
Labels: code-checks-approved, comparison-available, db-pending, orp-approved, pending-signatures, tests-approved

#28695 Make classes.h in JetMETObjects conform to CondFormats conventions
  CondFormats/JetMETObjects/src/classes.h
Labels: analysis-pending, code-checks-approved, comparison-available, db-pending, orp-approved, pending-signatures, tests-approved

#28722 fix python includes for ALCARECOSiPixelCalCosmics to comply with Py3
  Calibration/TkAlCaRecoProducers/python/ALCARECOSiPixelCalCosmics_cff.py
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#28718 EventSetup consumes migration, 4 DQM modules
  DQM/CTPPS/plugins/CTPPSDiamondDQMSource.cc
  DQM/CastorMonitor/interface/CastorDigiMonitor.h
  DQM/CastorMonitor/interface/CastorLEDMonitor.h
  DQM/CastorMonitor/interface/CastorMonitorModule.h
  DQM/CastorMonitor/interface/CastorRecHitMonitor.h
  DQM/CastorMonitor/src/CastorDigiMonitor.cc
  DQM/CastorMonitor/src/CastorLEDMonitor.cc
  DQM/CastorMonitor/src/CastorMonitorModule.cc
  DQM/CastorMonitor/src/CastorRecHitMonitor.cc
  DQM/DTMonitorModule/src/DTDCSByLumiTask.cc
  DQM/DTMonitorModule/src/DTDCSByLumiTask.h
  DQM/HcalCommon/interface/DQTask.h
  DQM/HcalCommon/src/DQTask.cc
  DQM/HcalTasks/plugins/DigiPhase1Task.cc
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#28717 Standardize include order in a few DataFormats packages
  DataFormats/BTauReco/interface/DeepFlavourFeatures.h
  DataFormats/NanoAOD/interface/FlatTable.h
Labels: analysis-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved, xpog-approved

#28714 Changes to the PPS pixels Online/Offline DQM
  DQM/CTPPS/plugins/CTPPSPixelDQMSource.cc
  DQM/CTPPS/python/ctppsDQM_cff.py
  DQM/CTPPS/python/ctppsPixelDQMSource_cfi.py
  DQMOffline/Configuration/python/DQMOffline_cff.py
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#28627 [DQMOffline/Trigger] added "requireValidHLTPaths" flag to plugins using GenericTriggerEventFlag
  DQMOffline/Trigger/plugins/BPHMonitor.cc
  DQMOffline/Trigger/plugins/BPHMonitor.h
  DQMOffline/Trigger/plugins/BTVHLTOfflineSource.cc
  DQMOffline/Trigger/plugins/BTVHLTOfflineSource.h
  DQMOffline/Trigger/plugins/BuildFile.xml
  DQMOffline/Trigger/plugins/DiDispStaMuonMonitor.cc
  DQMOffline/Trigger/plugins/DiDispStaMuonMonitor.h
  DQMOffline/Trigger/plugins/DiJetMonitor.cc
  DQMOffline/Trigger/plugins/DiJetMonitor.h
  DQMOffline/Trigger/plugins/HMesonGammaDQM.cc
  DQMOffline/Trigger/plugins/HMesonGammaDQM.h
  DQMOffline/Trigger/plugins/HTDQM.h
  DQMOffline/Trigger/plugins/HTMonitor.cc
  DQMOffline/Trigger/plugins/HTMonitor.h
  DQMOffline/Trigger/plugins/JetDQM.cc
  DQMOffline/Trigger/plugins/JetDQM.h
  DQMOffline/Trigger/plugins/JetMonitor.cc
  DQMOffline/Trigger/plugins/JetMonitor.h
  DQMOffline/Trigger/plugins/LepHTMonitor.cc
  DQMOffline/Trigger/plugins/LepHTMonitor.h
  DQMOffline/Trigger/plugins/METDQM.h
  DQMOffline/Trigger/plugins/METMonitor.cc
  DQMOffline/Trigger/plugins/METMonitor.h
  DQMOffline/Trigger/plugins/METplusTrackMonitor.cc
  DQMOffline/Trigger/plugins/METplusTrackMonitor.h
  DQMOffline/Trigger/plugins/MuonMonitor.cc
  DQMOffline/Trigger/plugins/MuonMonitor.h
  DQMOffline/Trigger/plugins/NoBPTXMonitor.cc
  DQMOffline/Trigger/plugins/NoBPTXMonitor.h
  DQMOffline/Trigger/plugins/ObjMonitor.cc
  DQMOffline/Trigger/plugins/ObjMonitor.h
  DQMOffline/Trigger/plugins/PhotonMonitor.cc
  DQMOffline/Trigger/plugins/PhotonMonitor.h
  DQMOffline/Trigger/plugins/RazorMonitor.cc
  DQMOffline/Trigger/plugins/RazorMonitor.h
  DQMOffline/Trigger/plugins/TagAndProbeBtagTriggerMonitor.cc
  DQMOffline/Trigger/plugins/TagAndProbeBtagTriggerMonitor.h
  DQMOffline/Trigger/plugins/Tau3MuMonitor.cc
  DQMOffline/Trigger/plugins/Tau3MuMonitor.h
  DQMOffline/Trigger/plugins/TopMonitor.cc
  DQMOffline/Trigger/plugins/TopMonitor.h
  DQMOffline/Trigger/plugins/TriggerDQMBase.cc
  DQMOffline/Trigger/plugins/TriggerDQMBase.h
  DQMOffline/Trigger/python/BPHMonitor_cff.py
  DQMOffline/Trigger/python/BPHMonitor_cfi.py
  DQMOffline/Trigger/python/HTMonitor_cff.py
  DQMOffline/Trigger/python/HTMonitor_cfi.py
  DQMOffline/Trigger/python/JetMonitor_cfi.py
  DQMOffline/Trigger/python/LepHTMonitor_cff.py
  DQMOffline/Trigger/python/METMonitor_cfi.py
  DQMOffline/Trigger/python/METplusTrackMonitor_cfi.py
  DQMOffline/Trigger/python/MjjMonitor_cfi.py
  DQMOffline/Trigger/python/MssmHbbBtagTriggerMonitor_cfi.py
  DQMOffline/Trigger/python/NoBPTXMonitor_cfi.py
  DQMOffline/Trigger/python/RazorMonitor_cfi.py
  DQMOffline/Trigger/python/SoftdropMonitor_cfi.py
  DQMOffline/Trigger/python/TopMonitor_cfi.py
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#28721 TestProcessor supports Run and Lumi product testing
  FWCore/TestProcessor/Readme.md
  FWCore/TestProcessor/interface/LuminosityBlock.h
  FWCore/TestProcessor/interface/Run.h
  FWCore/TestProcessor/interface/TestProcessor.h
  FWCore/TestProcessor/src/LuminosityBlock.cc
  FWCore/TestProcessor/src/Run.cc
  FWCore/TestProcessor/src/TestProcessor.cc
  FWCore/TestProcessor/test/testprocessor_t.cppunit.cc
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#28628 Normalization removed for muon MC validation
  Validation/RecoMuon/test/macro/new_TrackValHistoPublisher.C
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#28429 Phase out old pre-GED GsfElectron sequence
  Calibration/EcalAlCaRecoProducers/python/alcaElectronSequence_cff.py
  Configuration/PyReleaseValidation/python/MatrixReader.py
  Configuration/PyReleaseValidation/python/relval_production.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/StandardSequences/python/Reconstruction_cff.py
  RecoEgamma/Configuration/python/RecoEgammaCosmics_cff.py
  RecoEgamma/Configuration/python/RecoEgamma_cff.py
  RecoEgamma/EgammaElectronProducers/plugins/GsfElectronCoreProducer.cc
  RecoEgamma/EgammaElectronProducers/plugins/GsfElectronCoreProducer.h
  RecoEgamma/EgammaElectronProducers/plugins/GsfElectronProducer.cc
  RecoEgamma/EgammaElectronProducers/plugins/GsfElectronProducer.h
  RecoEgamma/EgammaElectronProducers/plugins/SealModule.cc
  RecoEgamma/EgammaElectronProducers/python/cosmicElectronSequence_cff.py
  RecoEgamma/EgammaElectronProducers/python/gedGsfElectrons_cfi.py
  RecoEgamma/EgammaElectronProducers/python/gsfElectronSequence_cff.py
  RecoEgamma/EgammaElectronProducers/python/gsfElectrons_cfi.py
  RecoEgamma/EgammaElectronProducers/python/lowPtGsfElectrons_cfi.py
  RecoEgamma/EgammaElectronProducers/python/uncleanedOnlyElectronSequence_cff.py
  RecoEgamma/EgammaElectronProducers/test/egammaClustersToElectronSeeds_cfg.py
  RecoHI/HiEgammaAlgos/python/HiElectronSequence_cff.py
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, operations-approved, orp-approved, pdmv-approved, reconstruction-approved, tests-approved, upgrade-approved

#28638 APE estimation tool: Enable submission of skims to condor, rearrange skimming tool, add phase 0 geometry support for plotting tools.
  Alignment/APEEstimation/python/AlignmentTrackSelector_cff.py
  Alignment/APEEstimation/python/samples/MC_UL16_ttbar_cff.py
  Alignment/APEEstimation/scripts/initialise.bash
  Alignment/APEEstimation/test/SkimProducer/cmsRemove.sh
  Alignment/APEEstimation/test/SkimProducer/cmsRename.sh
  Alignment/APEEstimation/test/SkimProducer/skimProducer_cfg.py
  Alignment/APEEstimation/test/SkimProducer/skimTemplates.py
  Alignment/APEEstimation/test/SkimProducer/startSkim.py
  Alignment/APEEstimation/test/autoSubmitter/autoSubmitterTemplates.py
  Alignment/APEEstimation/test/batch/cp.bash
  Alignment/APEEstimation/test/batch/skimProducer.bash
  Alignment/APEEstimation/test/plottingTools/granularity.py
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#28658 quark and gluons Py8EGun
  GeneratorInterface/Pythia8Interface/plugins/Py8EGun.cc
Labels: code-checks-approved, comparison-available, fully-signed, generators-approved, orp-approved, tests-approved

#28700 Run3-hcx246 Small changes to the dd4hep codes
  Geometry/HcalAlgo/plugins/dd4hep/DDHCalLinearXY.cc
  Geometry/HcalCommonData/interface/HcalGeomParameters.h
  Geometry/HcalCommonData/src/HcalGeomParameters.cc
  Geometry/HcalCommonData/src/HcalParametersFromDD.cc
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved

#28683 EventSetup consumes migration, SiStrip modules
  Alignment/APEEstimation/plugins/ApeEstimator.cc
  CalibTracker/SiStripCommon/interface/ShallowClustersProducer.h
  CalibTracker/SiStripCommon/plugins/ShallowClustersProducer.cc
  CalibTracker/SiStripHitEfficiency/interface/HitEff.h
  CalibTracker/SiStripHitEfficiency/src/HitEff.cc
  DPGAnalysis/SiStripTools/plugins/TrackerDpgAnalysis.cc
  DQM/SiStripMonitorCluster/interface/SiStripMonitorCluster.h
  DQM/SiStripMonitorCluster/src/SiStripMonitorCluster.cc
  DQM/SiStripMonitorTrack/interface/SiStripMonitorTrack.h
  DQM/SiStripMonitorTrack/src/SiStripMonitorTrack.cc
  DQM/TrackingMonitorSource/interface/StandaloneTrackMonitor.h
  DQM/TrackingMonitorSource/plugins/StandaloneTrackMonitor.cc
  RecoLocalTracker/SiStripClusterizer/interface/SiStripClusterInfo.h
  RecoLocalTracker/SiStripClusterizer/src/SiStripClusterInfo.cc
  RecoTracker/FinalTrackSelectors/plugins/TrackerTrackHitFilter.cc
Labels: alca-approved, analysis-approved, code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28574 Introducing SiPixelCalSingleMuon ALCARECO
  Calibration/TkAlCaRecoProducers/python/ALCARECOSiPixelCalCosmics_Output_cff.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOSiPixelCalCosmics_cff.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOSiPixelCalSingleMuon_Output_cff.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOSiPixelCalSingleMuon_cff.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOSiPixelLorentzAngle_Output_cff.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOSiPixelLorentzAngle_cff.py
  Calibration/TkAlCaRecoProducers/python/SiPixelLorentzAngleHLTFilter_cfi.py
  Configuration/AlCa/python/autoAlca.py
  Configuration/EventContent/python/AlCaRecoOutput_RelVal_cff.py
  Configuration/EventContent/python/AlCaRecoOutput_cff.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/StandardSequences/python/AlCaRecoStreamsHeavyIons_cff.py
  Configuration/StandardSequences/python/AlCaRecoStreams_cff.py
Labels: alca-pending, backport-ok, comparison-available, operations-pending, orp-approved, pdmv-pending, pending-signatures, tests-approved, upgrade-pending

#28731 Bugfix for PR28574
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: comparison-pending, orp-approved, pdmv-approved, pending-signatures, tests-approved, upgrade-pending

#28729 Add ability to set RandomEngineStates in Service
  FWCore/Utilities/interface/RandomNumberGenerator.h
  IOMC/RandomEngine/src/RandomNumberGeneratorService.cc
  IOMC/RandomEngine/src/RandomNumberGeneratorService.h
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#28723 Fixing HB thresholds E/gamma saved rec-hits for run3
  RecoEgamma/EgammaIsolationAlgos/python/interestingEgammaIsoDetIdsSequence_cff.py
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28214 ECAL for Time dependent MC. Premix option C. Handle for APD/PN tag for time dependence
  CalibCalorimetry/EcalLaserCorrection/interface/EcalLaserDbRecordMC.h
  CalibCalorimetry/EcalLaserCorrection/plugins/EcalLaserCorrectionServiceMC.cc
  CalibCalorimetry/EcalLaserCorrection/src/EcalLaserDbRecordMC.cc
  CondCore/EcalPlugins/src/plugin.cc
  CondFormats/DataRecord/interface/EcalLaserAPDPNRatiosMCRcd.h
  CondFormats/DataRecord/src/EcalLaserAPDPNRatiosMCRcd.cc
  Configuration/PyReleaseValidation/python/relval_premix.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  SimCalorimetry/EcalSimAlgos/interface/EcalSignalGenerator.h
  SimCalorimetry/EcalSimAlgos/src/EcalSignalGenerator.cc
  SimCalorimetry/EcalSimProducers/plugins/PreMixingEcalWorker.cc
  SimCalorimetry/EcalSimProducers/python/ecalSimParameterMap_cff.py
Labels: alca-approved, code-checks-approved, comparison-available, db-approved, fully-signed, orp-approved, pdmv-approved, simulation-approved, tests-approved, upgrade-approved

#28588 DQM: new DQMFileSaver
  DQMServices/Components/plugins/DQMFileSaver.cc
  DQMServices/Components/plugins/DQMFileSaver.h
  DQMServices/Components/plugins/SealModule.cc
  DQMServices/Core/interface/DQMStore.h
  DQMServices/Core/interface/LegacyIOHelper.h
  DQMServices/Core/interface/MonitorElement.h
  DQMServices/Core/interface/QReport.h
  DQMServices/Core/src/DQMStore.cc
  DQMServices/Core/src/LegacyIOHelper.cc
  DQMServices/FileIO/plugins/DQMFileSaverOnline.cc
  DQMServices/FileIO/plugins/DQMFileSaverPB.cc
  DQMServices/FileIO/plugins/DQMFileSaverPB.h
  DQMServices/FileIO/python/DQMFileSaverPB_cfi.py
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#28678 Move Sequence to Task Reconstruction_cff
  Configuration/StandardSequences/python/ReconstructionCosmics_cff.py
  Configuration/StandardSequences/python/ReconstructionHeavyIons_cff.py
  Configuration/StandardSequences/python/Reconstruction_cff.py
  RecoCTPPS/Configuration/python/recoCTPPS_cff.py
  RecoEgamma/EgammaPhotonProducers/python/conversionOpenTrackSequence_cff.py
  RecoLocalFastTime/Configuration/python/RecoLocalFastTime_cff.py
  RecoMTD/Configuration/python/RecoMTD_cff.py
  RecoParticleFlow/PFTracking/python/particleFlowTrack_cff.py
  RecoVertex/Configuration/python/RecoVertexCosmicTracks_cff.py
Labels: code-checks-approved, comparison-available, fully-signed, operations-approved, orp-approved, reconstruction-approved, tests-approved, upgrade-approved

#28727 Fix reading memory after freed in HLTPerformanceInfo
  DataFormats/HLTReco/interface/HLTPerformanceInfo.h
  DataFormats/HLTReco/src/HLTPerformanceInfo.cc
Labels: code-checks-approved, comparison-available, fully-signed, hlt-approved, orp-approved, tests-approved

#28726 PPS: vector classes used in reco, geometry etc.
  DQM/CTPPS/plugins/TotemRPDQMSource.cc
  Geometry/VeryForwardGeometryBuilder/BuildFile.xml
  Geometry/VeryForwardGeometryBuilder/interface/CTPPSGeometry.h
  Geometry/VeryForwardGeometryBuilder/plugins/CTPPSGeometryInfo.cc
  Geometry/VeryForwardGeometryBuilder/src/CTPPSGeometry.cc
  Geometry/VeryForwardRPTopology/BuildFile.xml
  Geometry/VeryForwardRPTopology/interface/RPSimTopology.h
  Geometry/VeryForwardRPTopology/interface/RPTopology.h
  RecoCTPPS/PixelLocal/interface/RPixDetPatternFinder.h
  RecoCTPPS/PixelLocal/interface/RPixDetTrackFinder.h
  RecoCTPPS/PixelLocal/src/RPixPlaneCombinatoryTracking.cc
  RecoCTPPS/PixelLocal/src/RPixRoadFinder.cc
  RecoCTPPS/TotemRPLocal/interface/TotemRPLocalTrackFitterAlgorithm.h
  RecoCTPPS/TotemRPLocal/src/FastLineRecognition.cc
  RecoCTPPS/TotemRPLocal/src/TotemRPLocalTrackFitterAlgorithm.cc
  Validation/CTPPS/plugins/CTPPSDirectProtonSimulation.cc
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, geometry-approved, orp-approved, reconstruction-approved, tests-approved

#28730 esConsumes migration DTChamberEfficiency
  DQM/DTMonitorModule/src/DTChamberEfficiency.cc
  DQM/DTMonitorModule/src/DTChamberEfficiency.h
  FWCore/Framework/interface/FrameworkfwdMostUsed.h
  RecoMuon/TrackingTools/interface/MuonServiceProxy.h
  RecoMuon/TrackingTools/src/MuonServiceProxy.cc
Labels: code-checks-approved, comparison-available, core-approved, dqm-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28724 Fixing HB thresholds E/gamma saved rec-hits for run3 : 11_0_0
  RecoEgamma/EgammaIsolationAlgos/python/interestingEgammaIsoDetIdsSequence_cff.py
Labels: comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28734 backport of quark and gluons Py8EGun in CMSSW_10_2_X
  GeneratorInterface/Pythia8Interface/plugins/Py8EGun.cc
Labels: comparison-available, fully-signed, generators-approved, orp-approved, tests-approved

#28725 Payload Inspector: add more two-tags comparisons
  CondCore/AlignmentPlugins/interface/AlignmentPayloadInspectorHelper.h
  CondCore/AlignmentPlugins/plugins/TrackerAlignmentErrorExtended_PayloadInspector.cc
  CondCore/AlignmentPlugins/plugins/TrackerAlignment_PayloadInspector.cc
  CondCore/AlignmentPlugins/plugins/TrackerSurfaceDeformations_PayloadInspector.cc
  CondCore/AlignmentPlugins/test/testTrackerAlignment.sh
  CondCore/AlignmentPlugins/test/testTrackerAlignmentErrosExtended.sh
  CondCore/AlignmentPlugins/test/testTrackerAlignmentPayloadInspector.cpp
  CondCore/HLTPlugins/plugins/AlCaRecoTriggerBits_PayloadInspector.cc
  CondCore/HLTPlugins/test/BuildFile.xml
  CondCore/HLTPlugins/test/testAlCaRecoTriggerBitsPayloadInspector.cpp
Labels: code-checks-approved, comparison-available, db-approved, fully-signed, hlt-approved, orp-approved, tests-approved

#28715 Add CMS_SA_ALLOW before try statements where catch (...) is used to skip static analyzer warning.
  FWCore/Concurrency/interface/LimitedTaskQueue.h
  FWCore/Concurrency/interface/SerialTaskQueue.h
  FWCore/Concurrency/interface/SerialTaskQueueChain.h
  FWCore/Framework/bin/cmsRun.cpp
  FWCore/Framework/bin/cmsRunPython3.cpp
  FWCore/Framework/src/EventProcessor.cc
  FWCore/Framework/src/EventSetupRecordIOVQueue.cc
  FWCore/Framework/src/EventSetupsController.cc
  FWCore/Framework/src/GlobalSchedule.h
  FWCore/Framework/src/OutputModuleCommunicatorT.cc
  FWCore/Framework/src/Path.cc
  FWCore/Framework/src/ProductResolvers.cc
  FWCore/Framework/src/Schedule.cc
  FWCore/Framework/src/StreamSchedule.cc
  FWCore/Framework/src/StreamSchedule.h
  FWCore/Framework/src/TransitionProcessors.icc
  FWCore/Framework/src/Worker.cc
  FWCore/Framework/src/Worker.h
  FWCore/Framework/src/WorkerMaker.cc
  FWCore/PythonFramework/src/PythonEventProcessor.cc
  FWCore/Services/plugins/CondorStatusUpdater.cc
  FWCore/TFWLiteSelectorTest/src/ThingsTSelector.cc
  FWCore/TFWLiteSelectorTest/src/ThingsTSelector2.cc
  FWCore/Utilities/interface/ConvertException.h
  FWCore/Utilities/src/TestHelper.cc
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#28710 esConsumes migration, 4 more modules
  Alignment/OfflineValidation/interface/TrackerValidationVariables.h
  Alignment/OfflineValidation/src/TrackerValidationVariables.cc
  CalibTracker/SiPixelQuality/plugins/SiPixelStatusHarvester.cc
  CalibTracker/SiPixelQuality/plugins/SiPixelStatusHarvester.h
  CalibTracker/SiPixelQuality/plugins/SiPixelStatusProducer.cc
  CalibTracker/SiPixelQuality/plugins/SiPixelStatusProducer.h
  CondFormats/SiPixelObjects/interface/SiPixelFrameReverter.h
  CondFormats/SiPixelObjects/interface/SiPixelQuality.h
  CondFormats/SiPixelObjects/src/SiPixelFrameReverter.cc
  CondFormats/SiPixelObjects/src/SiPixelQuality.cc
  DQM/SiPixelPhase1Common/interface/GeometryInterface.h
  DQM/SiPixelPhase1Common/interface/SiPixelCoordinates.h
  DQM/SiPixelPhase1Common/interface/SiPixelPhase1Base.h
  DQM/SiPixelPhase1Common/plugins/SiPixelPhase1Clusters.cc
  DQM/SiPixelPhase1Common/src/GeometryInterface.cc
  DQM/SiPixelPhase1Common/src/SiPixelCoordinates.cc
  DQM/SiPixelPhase1Common/src/SiPixelPhase1Base.cc
  DQM/TrackerMonitorTrack/interface/MonitorTrackResiduals.h
  DQM/TrackerMonitorTrack/src/MonitorTrackResiduals.cc
  EventFilter/SiPixelRawToDigi/plugins/SiPixelDigiToRaw.cc
Labels: alca-approved, code-checks-approved, comparison-available, db-approved, dqm-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28662 Fix muon track producer and muon hl tvalidation
  GeneratorInterface/Pythia8Interface/plugins/Py8PtotGun.cc
  SimMuon/MCTruth/plugins/MuonTrackProducer.cc
  SimMuon/MCTruth/plugins/MuonTrackProducer.h
  SimMuon/MCTruth/python/MuonTrackProducer_cfi.py
  Validation/RecoMuon/python/associators_cff.py
  Validation/RecoMuon/python/muonValidationHLT_cff.py
  Validation/RecoMuon/python/muonValidation_cff.py
  Validation/RecoMuon/python/track_selectors_cff.py
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, generators-approved, orp-approved, simulation-approved, tests-approved

#28579 CaloParticle additional hitsAndEnergies from SimClusters: data format change
  Configuration/ProcessModifiers/python/run3_ecalclustering_cff.py
  SimDataFormats/CaloAnalysis/interface/SimCluster.h
  SimDataFormats/CaloAnalysis/src/classes_def.xml
  SimGeneral/CaloAnalysis/plugins/CaloTruthAccumulator.cc
  SimGeneral/MixingModule/python/caloTruthProducer_cfi.py
  SimGeneral/MixingModule/python/digitizers_cfi.py
Labels: code-checks-approved, comparison-available, fully-signed, operations-approved, orp-approved, simulation-approved, tests-approved

#28648 Support of plot-specific input paramters for Payload Inspector
  CondCore/Utilities/interface/PayloadInspector.h
  CondCore/Utilities/plugins/BasicP_PayloadInspector.cc
  CondCore/Utilities/plugins/Module_PayloadInspector.cc
  CondCore/Utilities/scripts/getPayloadData.py
  CondCore/Utilities/src/PayloadInspector.cc
Labels: code-checks-approved, comparison-available, db-approved, fully-signed, orp-approved, tests-approved

#28743 Declare SiTrackerMultiRecHit::cloneSH() to override
  DataFormats/TrackerRecHit2D/interface/SiTrackerMultiRecHit.h
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28733 Removing unused variables from "CTPPSPixelDQMSource.cc" - fix suggested in PR #28726
  DQM/CTPPS/plugins/CTPPSPixelDQMSource.cc
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#28749 Clean dependencies for DataFormats/L1TMuon
  DataFormats/L1TMuon/BuildFile.xml
Labels: code-checks-approved, comparison-available, l1-pending, orp-approved, pending-signatures, tests-approved

#28742 PPS: DQM update
  DQM/CTPPS/plugins/CTPPSCommonDQMSource.cc
  DQM/CTPPS/python/ctppsCommonDQMSource_cfi.py
  DQM/CTPPS/python/ctppsDQM_cff.py
  DQM/Integration/python/clients/ctpps_dqm_sourceclient-live_cfg.py
  DQMOffline/Configuration/python/DQMOffline_SecondStep_cff.py
  DQMOffline/Configuration/python/DQMOffline_cff.py
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#28744 Utilities/StaticAnalysers: Unregister unused getParamDumper checker
  Utilities/StaticAnalyzers/scripts/run_class_dumper.sh
  Utilities/StaticAnalyzers/src/ClangCmsCheckerPluginRegister.cpp
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#28751 Bugfix: Crash in DaqTestHistograms
  DQM/HLTEvF/plugins/DaqTestHistograms.cc
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, hlt-approved, orp-approved, tests-approved

#28752 Bugfix: Crash in DaqTestHistograms (11_0_X)
  DQM/HLTEvF/plugins/DaqTestHistograms.cc
Labels: backport, comparison-available, dqm-approved, fully-signed, hlt-approved, orp-approved, tests-approved

#28750 Replace tbb::tbb_hash and tbb::tbb_hasher with std::hash
  CommonTools/Utils/src/MethodInvoker.h
  FWCore/PluginManager/interface/PluginManager.h
  FWCore/Utilities/src/TypeID.cc
  Utilities/XrdAdaptor/src/XrdRequestManager.h
Labels: analysis-approved, code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28738 PPS: faster proton reconstruction
  RecoCTPPS/ProtonReconstruction/interface/ProtonReconstructionAlgorithm.h
  RecoCTPPS/ProtonReconstruction/plugins/CTPPSProtonProducer.cc
  RecoCTPPS/ProtonReconstruction/src/ProtonReconstructionAlgorithm.cc
  Validation/CTPPS/plugins/CTPPSProtonReconstructionDiffPlotter.cc
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28759 Be able to use external services with TestProcessor
  FWCore/TestProcessor/interface/TestProcessor.h
  FWCore/TestProcessor/src/TestProcessor.cc
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#28735 Add parameter for treatment of charged high eta in PUPPI
  CommonTools/PileupAlgos/plugins/PuppiProducer.cc
  CommonTools/PileupAlgos/plugins/PuppiProducer.h
  CommonTools/PileupAlgos/python/Puppi_cff.py
Labels: analysis-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28755 Implement mkFit customization in initialStep with a Modifier
  Configuration/ProcessModifiers/python/trackingMkFit_cff.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  RecoTracker/IterativeTracking/python/InitialStep_cff.py
  RecoTracker/MkFit/README.md
  RecoTracker/MkFit/python/customizeInitialStepToMkFit.py
Labels: code-checks-approved, comparison-available, operations-approved, orp-approved, pdmv-approved, pending-signatures, reconstruction-approved, tests-approved, upgrade-pending

#28739 Introduce unit tests for Tracker Alignment all-in-one meta-validation tool
  Alignment/MillePedeAlignmentAlgorithm/templates/alignment_config.ini
  Alignment/OfflineValidation/scripts/validateAlignments.py
  Alignment/OfflineValidation/test/testValidate.ini
  Alignment/OfflineValidation/test/test_all.sh
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#28760 Run3-sim51 Update the printout of geometry information
  SimG4Core/Application/python/g4SimHits_cfi.py
  SimG4Core/PrintGeomInfo/interface/PrintGeomSummary.h
  SimG4Core/PrintGeomInfo/interface/PrintSensitive.h
  SimG4Core/PrintGeomInfo/src/PrintGeomInfoAction.cc
  SimG4Core/PrintGeomInfo/src/PrintGeomSummary.cc
  SimG4Core/PrintGeomInfo/src/PrintSensitive.cc
  SimG4Core/PrintGeomInfo/test/python/runSens_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runSummary_cfg.py
  SimG4Core/PrintGeomInfo/test/python/run_cfg.py
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, simulation-approved, tests-approved

#28758 Update SimTrackSimVertexDumper to use tokens
  SimG4Core/Application/test/SimTrackSimVertexDumper.cc
  SimG4Core/Application/test/SimTrackSimVertexDumper.h
  SimG4Core/Application/test/runSimTrackSimVertexDumper_cfg.py
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, simulation-approved, tests-approved

#28720 PPS: backport of #28492, #28615 and #28621
  CalibPPS/ESProducers/plugins/BuildFile.xml
  CalibPPS/ESProducers/plugins/CTPPSBeamParametersFromLHCInfoESSource.cc
  CalibPPS/ESProducers/plugins/CTPPSInterpolatedOpticalFunctionsESSource.cc
  CalibPPS/ESProducers/plugins/CTPPSLHCInfoRandomXangleESSource.cc
  CalibPPS/ESProducers/plugins/CTPPSOpticalFunctionsESSource.cc
  CondFormats/CTPPSReadoutObjects/interface/LHCInterpolatedOpticalFunctionsSet.h
  CondFormats/DataRecord/interface/CTPPSBeamParametersRcd.h
  Configuration/Generator/python/randomXiThetaGunProducer_cfi.py
  DataFormats/CTPPSReco/src/classes_def.xml
  Geometry/VeryForwardGeometryBuilder/interface/CTPPSDDDNames.h
  Geometry/VeryForwardGeometryBuilder/interface/DetGeomDesc.h
  Geometry/VeryForwardGeometryBuilder/src/DetGeomDesc.cc
  RecoCTPPS/ProtonReconstruction/plugins/CTPPSProtonProducer.cc
  Validation/CTPPS/alignment/2016_postTS2.xml
  Validation/CTPPS/alignment/2016_preTS2.xml
  Validation/CTPPS/alignment/2017_postTS2.xml
  Validation/CTPPS/alignment/2017_preTS2.xml
  Validation/CTPPS/alignment/2018.xml
  Validation/CTPPS/plugins/CTPPSDirectProtonSimulation.cc
  Validation/CTPPS/plugins/CTPPSDirectProtonSimulationValidator.cc
  Validation/CTPPS/plugins/CTPPSHepMCDistributionPlotter.cc
  Validation/CTPPS/plugins/CTPPSLHCInfoPlotter.cc
  Validation/CTPPS/plugins/CTPPSModifiedOpticalFunctionsESSource.cc
  Validation/CTPPS/plugins/CTPPSOpticsPlotter.cc
  Validation/CTPPS/plugins/CTPPSProtonReconstructionEfficiencyEstimator.cc
  Validation/CTPPS/plugins/CTPPSProtonReconstructionPlotter.cc
  Validation/CTPPS/plugins/CTPPSProtonReconstructionValidator.cc
  Validation/CTPPS/plugins/CTPPSTrackDistributionPlotter.cc
  Validation/CTPPS/python/simu_config/base_cff.py
  Validation/CTPPS/python/simu_config/year_2016_cff.py
  Validation/CTPPS/python/simu_config/year_2016_postTS2_cff.py
  Validation/CTPPS/python/simu_config/year_2016_preTS2_cff.py
  Validation/CTPPS/python/simu_config/year_2017_cff.py
  Validation/CTPPS/python/simu_config/year_2017_postTS2_cff.py
  Validation/CTPPS/python/simu_config/year_2017_preTS2_cff.py
  Validation/CTPPS/python/simu_config/year_2018_cff.py
  Validation/CTPPS/python/year_2016/ctppsBeamParametersESSource_cfi.py
  Validation/CTPPS/python/year_2016/simulation_levels_cff.py
  Validation/CTPPS/test/year_2016/RP_Dist_Beam_Cent.xml
  Validation/CTPPS/test/year_2016/beam_smearing_validation/test_beam_smearing_cfg.py
  Validation/CTPPS/test/year_2016/direct_simulation_validation/test_acceptance_cfg.py
  Validation/CTPPS/test/year_2016/direct_simulation_validation/test_smearing_effects_cfg.py
  Validation/CTPPS/test/year_2016/direct_simulation_validation/test_xy_pattern_cfg.py
  Validation/CTPPS/test/year_2016/proton_gun_validation/test_proton_gun_cfg.py
  Validation/CTPPS/test/year_2016/proton_reconstruction_LHC_data/test_reconstruction_cfg.py
  Validation/CTPPS/test/year_2016/proton_reconstruction_MC/misalignment/alignment_template.xml
  Validation/CTPPS/test/year_2016/proton_reconstruction_MC/misalignment/run_multiple
  Validation/CTPPS/test/year_2016/proton_reconstruction_MC/misalignment/template_cfg.py
  Validation/CTPPS/test/year_2016/proton_reconstruction_MC/resolution/run_multiple
  Validation/CTPPS/test/year_2016/proton_reconstruction_MC/resolution/template_cfg.py
Labels: alca-approved, comparison-available, db-approved, dqm-approved, generators-pending, geometry-approved, orp-approved, pending-signatures, reconstruction-approved, tests-approved

#28736 Add parameter for treatment of charged high eta in PUPPI [10_6_X backport]
  CommonTools/PileupAlgos/plugins/PuppiProducer.cc
  CommonTools/PileupAlgos/plugins/PuppiProducer.h
  CommonTools/PileupAlgos/python/Puppi_cff.py
Labels: analysis-approved, backport-ok, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28652 Remove CondCore/PluginSystem package and BuildFile.xml in ReleaseScripts
  CondCore/ESSources/bin/CondDataProxy_t.cpp
  CondCore/ESSources/test/stubs/TestUpdater.cc
  CondCore/EcalPlugins/src/plugin.cc
  CondCore/GEMPlugins/src/plugins.cc
  CondCore/HIPlugins/BuildFile.xml
  CondCore/HIPlugins/src/plugin.cc
  CondCore/JetMETPlugins/BuildFile.xml
  CondCore/JetMETPlugins/src/plugins.cc
  CondCore/PluginSystem/BuildFile.xml
  CondCore/PluginSystem/doc/PluginSystem.doc
  CondCore/PluginSystem/interface/registration_macros.h
  CondCore/RPCPlugins/src/plugin.cc
  CondCore/RecoMuonPlugins/src/plugins.cc
  CondCore/SiPhase2TrackerPlugins/src/plugin.cc
  CondCore/SiStripPlugins/plugins/plugin.cc
  CondTools/BTau/plugins/BuildFile.xml
  CondTools/L1Trigger/BuildFile.xml
  CondTools/L1Trigger/plugins/SealModule.cc
  CondTools/L1TriggerExt/BuildFile.xml
  CondTools/L1TriggerExt/plugins/SealModule.cc
  JetMETCorrections/FFTJetModules/plugins/BuildFile.xml
  JetMETCorrections/FFTJetModules/plugins/FFTJetSealModule.cc
  JetMETCorrections/Modules/BuildFile.xml
  JetMETCorrections/Modules/plugins/BuildFile.xml
  JetMETCorrections/Modules/plugins/SealModule.cc
  PhysicsTools/MVAComputer/BuildFile.xml
  PhysicsTools/MVAComputer/interface/HelperMacros.h
  PhysicsTools/MVAComputer/test/BuildFile.xml
  RecoBTag/PerformanceDB/plugins/BuildFile.xml
  RecoEgamma/EgammaTools/plugins/BuildFile.xml
  RecoEgamma/EgammaTools/test/BuildFile.xml
  RecoHI/HiMuonAlgos/plugins/SealModule.cc
  TopQuarkAnalysis/TopEventSelection/plugins/BuildFile.xml
  TopQuarkAnalysis/TopJetCombination/plugins/BuildFile.xml
  Utilities/ReleaseScripts/BuildFile.xml
  Utilities/ReleaseScripts/scripts/git-publish
Labels: alca-approved, analysis-approved, code-checks-approved, comparison-available, core-approved, db-approved, l1-pending, orp-approved, pending-signatures, reconstruction-approved, tests-approved

#28605 Use GEM clusters in the GEM-CSC local trigger
  L1Trigger/CSCTriggerPrimitives/interface/CSCGEMMotherboard.h
  L1Trigger/CSCTriggerPrimitives/interface/CSCGEMMotherboardME11.h
  L1Trigger/CSCTriggerPrimitives/interface/CSCGEMMotherboardME21.h
  L1Trigger/CSCTriggerPrimitives/plugins/CSCTriggerPrimitivesProducer.cc
  L1Trigger/CSCTriggerPrimitives/python/cscTriggerPrimitiveDigis_cfi.py
  L1Trigger/CSCTriggerPrimitives/src/CSCBaseboard.cc
  L1Trigger/CSCTriggerPrimitives/src/CSCGEMMotherboard.cc
  L1Trigger/CSCTriggerPrimitives/src/CSCGEMMotherboardME11.cc
  L1Trigger/CSCTriggerPrimitives/src/CSCGEMMotherboardME21.cc
  L1Trigger/CSCTriggerPrimitives/src/CSCTriggerPrimitivesBuilder.cc
Labels: code-checks-approved, comparison-available, fully-signed, l1-approved, orp-approved, tests-approved

#28766 DQM: fix tests for Python3
  DQMServices/Components/scripts/dqmiodumpmetadata.py
  DQMServices/Components/scripts/dqmiolistmes.py
  DQMServices/Demo/test/run_harvesters_cfg.py
  DQMServices/Demo/test/runtests.sh
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#28664 Adapted Phase2 Tracker Digitizer code to C++11 standard
  SimTracker/SiPhase2Digitizer/plugins/DigitizerUtility.h
  SimTracker/SiPhase2Digitizer/plugins/PSPDigitizerAlgorithm.cc
  SimTracker/SiPhase2Digitizer/plugins/PSPDigitizerAlgorithm.h
  SimTracker/SiPhase2Digitizer/plugins/PSSDigitizerAlgorithm.cc
  SimTracker/SiPhase2Digitizer/plugins/PSSDigitizerAlgorithm.h
  SimTracker/SiPhase2Digitizer/plugins/Phase2TrackerDigitizer.cc
  SimTracker/SiPhase2Digitizer/plugins/Phase2TrackerDigitizer.h
  SimTracker/SiPhase2Digitizer/plugins/Phase2TrackerDigitizerAlgorithm.cc
  SimTracker/SiPhase2Digitizer/plugins/Phase2TrackerDigitizerAlgorithm.h
  SimTracker/SiPhase2Digitizer/plugins/PixelDigitizerAlgorithm.cc
  SimTracker/SiPhase2Digitizer/plugins/PixelDigitizerAlgorithm.h
  SimTracker/SiPhase2Digitizer/plugins/PreMixingPhase2TrackerWorker.cc
  SimTracker/SiPhase2Digitizer/plugins/SSDigitizerAlgorithm.cc
  SimTracker/SiPhase2Digitizer/plugins/SSDigitizerAlgorithm.h
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, simulation-approved, tests-approved, upgrade-approved

#28775 add TestOldDigi workflow
  Configuration/PyReleaseValidation/python/relval_2026.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, pdmv-approved, tests-approved, upgrade-approved

#28782 add minbias dataset for D49
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: code-checks-approved, comparison-available, orp-approved, pdmv-pending, pending-signatures, tests-approved, upgrade-pending

#28763 Forward port of Geant4 SIMP custom physics model to master branch
  SimG4Core/CustomPhysics/data/particles_simp_1000_GeV.txt
  SimG4Core/CustomPhysics/data/particles_simp_100_GeV.txt
  SimG4Core/CustomPhysics/data/particles_simp_10_GeV.txt
  SimG4Core/CustomPhysics/data/particles_simp_1_GeV.txt
  SimG4Core/CustomPhysics/data/particles_simp_200_GeV.txt
  SimG4Core/CustomPhysics/data/particles_simp_400_GeV.txt
  SimG4Core/CustomPhysics/data/particles_simp_700_GeV.txt
  SimG4Core/CustomPhysics/interface/CMSAntiSIMP.h
  SimG4Core/CustomPhysics/interface/CMSQGSPSIMPBuilder.h
  SimG4Core/CustomPhysics/interface/CMSSIMP.h
  SimG4Core/CustomPhysics/interface/CMSSIMPInelasticProcess.h
  SimG4Core/CustomPhysics/interface/CMSSIMPInelasticXS.h
  SimG4Core/CustomPhysics/interface/CustomPDGParser.h
  SimG4Core/CustomPhysics/src/CMSAntiSIMP.cc
  SimG4Core/CustomPhysics/src/CMSQGSPSIMPBuilder.cc
  SimG4Core/CustomPhysics/src/CMSSIMP.cc
  SimG4Core/CustomPhysics/src/CMSSIMPInelasticProcess.cc
  SimG4Core/CustomPhysics/src/CMSSIMPInelasticXS.cc
  SimG4Core/CustomPhysics/src/CustomPDGParser.cc
  SimG4Core/CustomPhysics/src/CustomParticleFactory.cc
  SimG4Core/CustomPhysics/src/CustomPhysicsList.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, simulation-approved, tests-approved

#28771 [DD4hep] DDShape access to a composite shape's right solid
  DetectorDescription/DDCMS/interface/DDFilteredView.h
  DetectorDescription/DDCMS/src/DDFilteredView.cc
  DetectorDescription/DDCMS/test/DDSolid.cppunit.cc
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved

#28784 Add 2 forward declarations to Frameworkfwd.h
  FWCore/Framework/interface/Frameworkfwd.h
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#28762 update eventSetupPathsKey for Strip/Pixel AlCas
  Calibration/TkAlCaRecoProducers/python/ALCARECOSiPixelCalCosmics_cff.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOSiPixelCalSingleMuon_cff.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOSiStripCalCosmics_cff.py
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#28767 Add Unit Test for Alignment PV Validation plotting
  Alignment/OfflineValidation/macros/CMS_lumi.C
  Alignment/OfflineValidation/macros/FitPVResiduals.C
  Alignment/OfflineValidation/test/BuildFile.xml
  Alignment/OfflineValidation/test/testPVPlotting.cpp
  Alignment/OfflineValidation/test/testPVValidation_all_ini_one.ini
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#28774 Phase2-hgx230 Attempt to move reco geometry to DD4Hep
  Geometry/HGCalCommonData/data/dd4hep/cms-test-ddhgcalModule-algorithm.xml
  Geometry/HGCalCommonData/data/dd4hep/cms-test-ddhgcalModuleAlgo-algorithm.xml
  Geometry/HGCalCommonData/data/dd4hep/cms-test-ddhgcalNoTaperEndcap-algorithm.xml
  Geometry/HGCalCommonData/data/dd4hep/cms-test-ddhgcalTBModule-algorithm.xml
  Geometry/HGCalCommonData/data/dd4hep/cms-test-ddhgcalTBModuleX-algorithm.xml
  Geometry/HGCalCommonData/data/dd4hep/cms-test-ddhgcalWaferAlgo-algorithm.xml
  Geometry/HGCalCommonData/data/dd4hep/cms-test-ddhgcalcell-algorithm.xml
  Geometry/HGCalCommonData/data/dd4hep/cms-test-ddhgcalwafer-algorithm.xml
  Geometry/HGCalCommonData/data/dd4hep/cms-test-ddhgcalwafer8-algorithm.xml
  Geometry/HGCalCommonData/interface/HGCalGeomParameters.h
  Geometry/HGCalCommonData/interface/HGCalParameters.h
  Geometry/HGCalCommonData/src/HGCalGeomParameters.cc
  Geometry/HGCalCommonData/test/python/testHGCalParametersDD4Hep_cfg.py
  Geometry/HGCalCommonData/test/python/testHGCalParametersDDD_cfg.py
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved, upgrade-approved

#28789 Fixed destruction at exit of Geant4 components
  SimG4Core/Application/interface/RunManager.h
  SimG4Core/Application/interface/RunManagerMT.h
  SimG4Core/Application/src/RunManager.cc
  SimG4Core/Application/src/RunManagerMT.cc
  SimG4Core/Application/src/RunManagerMTWorker.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, simulation-approved, tests-approved

#26094 Simps to customphysics 7 1
  SimG4Core/CustomPhysics/data/particles_simp_1000_GeV.txt
  SimG4Core/CustomPhysics/data/particles_simp_100_GeV.txt
  SimG4Core/CustomPhysics/data/particles_simp_10_GeV.txt
  SimG4Core/CustomPhysics/data/particles_simp_1_GeV.txt
  SimG4Core/CustomPhysics/data/particles_simp_200_GeV.txt
  SimG4Core/CustomPhysics/data/particles_simp_400_GeV.txt
  SimG4Core/CustomPhysics/data/particles_simp_700_GeV.txt
  SimG4Core/CustomPhysics/interface/CustomPDGParser.h
  SimG4Core/CustomPhysics/src/CustomPDGParser.cc
  SimG4Core/CustomPhysics/src/CustomParticleFactory.cc
  SimG4Core/CustomPhysics/src/CustomPhysicsList.cc
  SimG4Core/CustomPhysics/src/G4AntiSIMP.cc
  SimG4Core/CustomPhysics/src/G4AntiSIMP.hh
  SimG4Core/CustomPhysics/src/G4ProcessHelper.cc
  SimG4Core/CustomPhysics/src/G4QGSPSIMPBuilder.cc
  SimG4Core/CustomPhysics/src/G4QGSPSIMPBuilder.hh
  SimG4Core/CustomPhysics/src/G4SIMP.cc
  SimG4Core/CustomPhysics/src/G4SIMP.hh
  SimG4Core/CustomPhysics/src/G4SIMPInelasticProcess.cc
  SimG4Core/CustomPhysics/src/G4SIMPInelasticProcess.hh
  SimG4Core/CustomPhysics/src/G4SIMPInelasticXS.cc
  SimG4Core/CustomPhysics/src/G4SIMPInelasticXS.hh
Labels: comparison-available, fully-signed, orp-approved, simulation-approved, tests-approved

#28773 PyReleaseValidation production-like workflow for Run3 (2021)
  Configuration/PyReleaseValidation/python/relval_upgrade.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, pdmv-approved, tests-approved, upgrade-approved

#28741 Phase2-hgx228 Step toward making partial wafers
  Geometry/HGCalCommonData/interface/HGCalGeomTools.h
  Geometry/HGCalCommonData/interface/HGCalWaferMask.h
  Geometry/HGCalCommonData/src/HGCalDDDConstants.cc
  Geometry/HGCalCommonData/src/HGCalWaferMask.cc
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved, upgrade-approved

#28754 MTD geometry: validation updates to support DD4hep migration
  Geometry/MTDCommonData/test/DD4hep_TestMTDPosition.cc
  Geometry/MTDCommonData/test/TestMTDNumbering.cc
  Geometry/MTDCommonData/test/TestMTDPosition.cc
  Geometry/MTDCommonData/test/testMTDinDDD.py
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved, upgrade-approved

#28791 Bug fix in DaqProvenanceHelper
  FWCore/Sources/src/DaqProvenanceHelper.cc
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#28795 [CLANG] Fix compilation error with LLVM 9.0.1
  DataFormats/TrackerRecHit2D/interface/FastTrackerRecHit.h
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28757 BTL simulation: OOT effects + premix fix
  DataFormats/FTLDigi/interface/PMTDSimAccumulator.h
  SimFastTiming/FastTimingCommon/interface/BTLElectronicsSim.h
  SimFastTiming/FastTimingCommon/interface/MTDDigitizer.h
  SimFastTiming/FastTimingCommon/interface/MTDDigitizerTypes.h
  SimFastTiming/FastTimingCommon/python/mtdDigitizer_cfi.py
  SimFastTiming/FastTimingCommon/src/BTLBarDeviceSim.cc
  SimFastTiming/FastTimingCommon/src/BTLElectronicsSim.cc
  SimFastTiming/FastTimingCommon/src/BTLTileDeviceSim.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, simulation-approved, tests-approved, upgrade-approved

#28797 [HLTrigger/JSONMonitoring] updated sanity check in L1TriggerJSONMonitoring
  HLTrigger/JSONMonitoring/plugins/L1TriggerJSONMonitoring.cc
Labels: bug-fix, code-checks-approved, comparison-available, fully-signed, hlt-approved, orp-approved, tests-approved

#28761 Payload Inspector: SiStrip Noise/Pedestals profile per module
  CondCore/SiStripPlugins/plugins/SiStripApvGain_PayloadInspector.cc
  CondCore/SiStripPlugins/plugins/SiStripNoises_PayloadInspector.cc
  CondCore/SiStripPlugins/plugins/SiStripPedestals_PayloadInspector.cc
  CondCore/SiStripPlugins/test/test.sh
  CondCore/SiStripPlugins/test/testGainsPayloadInspector.sh
  CondCore/SiStripPlugins/test/testNoisePayloadInspector.sh
  CondCore/SiStripPlugins/test/testPedestalsPayloadInspector.sh
  CondCore/SiStripPlugins/test/testSiStripPayloadInspector.cpp
  CondCore/Utilities/scripts/getPayloadData.py
Labels: code-checks-approved, comparison-available, db-approved, fully-signed, orp-approved, tests-approved

#28804 Rename candidate GTs to use official names and update alcareco trigger bits
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#28756 Remove exceptions from the strip unpacker
  Alignment/LaserAlignment/plugins/LaserAlignmentEventFilter.cc
  CalibTracker/SiStripAPVAnalysis/src/ApvAnalysisFactory.cc
  DQM/SiStripMonitorHardware/interface/FEDErrors.hh
  DQM/SiStripMonitorHardware/interface/SiStripFEDSpyBuffer.h
  DQM/SiStripMonitorHardware/src/FEDErrors.cc
  DQM/SiStripMonitorHardware/src/SiStripCMMonitor.cc
  DQM/SiStripMonitorHardware/src/SiStripFEDDataCheck.cc
  DQM/SiStripMonitorHardware/src/SiStripFEDDump.cc
  DQM/SiStripMonitorHardware/src/SiStripFEDSpyBuffer.cc
  DQM/SiStripMonitorHardware/src/SiStripSpyEventMatcherModule.cc
  DQM/SiStripMonitorHardware/src/SiStripSpyEventSummaryProducer.cc
  DQM/SiStripMonitorHardware/src/SiStripSpyIdentifyRuns.cc
  DQM/SiStripMonitorHardware/src/SiStripSpyUnpacker.cc
  DataFormats/SiStripDigi/interface/SiStripRawDigi.h
  EventFilter/SiStripRawToDigi/interface/SiStripFEDBuffer.h
  EventFilter/SiStripRawToDigi/interface/SiStripFEDBufferComponents.h
  EventFilter/SiStripRawToDigi/interface/SiStripFEDBufferGenerator.h
  EventFilter/SiStripRawToDigi/interface/TFHeaderDescription.h
  EventFilter/SiStripRawToDigi/plugins/SiStripDigiToRaw.cc
  EventFilter/SiStripRawToDigi/plugins/SiStripRawToDigiUnpacker.cc
  EventFilter/SiStripRawToDigi/plugins/SiStripRawToDigiUnpacker.h
  EventFilter/SiStripRawToDigi/src/SiStripFEDBuffer.cc
  EventFilter/SiStripRawToDigi/src/SiStripFEDBufferComponents.cc
  EventFilter/SiStripRawToDigi/test/plugins/SiStripFEDRawDataAnalyzer.cc
  RecoLocalTracker/SiStripClusterizer/interface/StripClusterizerAlgorithm.h
  RecoLocalTracker/SiStripClusterizer/interface/ThreeThresholdAlgorithm.h
  RecoLocalTracker/SiStripClusterizer/plugins/ClustersFromRawProducer.cc
Labels: alca-approved, code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, reconstruction-approved, simulation-approved, tests-approved

#28798 [11_0_X] [HLTrigger/JSONMonitoring] updated sanity check in L1TriggerJSONMonitoring
  HLTrigger/JSONMonitoring/plugins/L1TriggerJSONMonitoring.cc
Labels: backport-ok, bug-fix, comparison-available, fully-signed, hlt-approved, orp-approved, tests-approved

#28790 Add 2 workflows for default PR test, target for PPS plots
  Configuration/PyReleaseValidation/scripts/runTheMatrix.py
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, pdmv-approved, tests-approved, upgrade-approved

#28794 Update phase-2 GT to D49 geometry
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#28783 Run3-alca160 Update for new PU corrections
  Calibration/HcalCalibAlgos/macros/CalibCorr.C
  Calibration/HcalCalibAlgos/macros/CalibMonitor.C
  Calibration/HcalCalibAlgos/macros/CalibTree.C
  Calibration/HcalCalibAlgos/macros/isotrackApplyRegressor.py
  Calibration/HcalCalibAlgos/macros/isotrackNtupler.py
  Calibration/HcalCalibAlgos/macros/isotrackTrainRegressor.py
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#28805 New unit test to check if valgrind memory leaks functionality is working
  Utilities/ReleaseScripts/test/BuildFile.xml
  Utilities/ReleaseScripts/test/test-valgrind-memleak.cpp
  Utilities/ReleaseScripts/test/test-valgrind.sh
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, requires-external, tests-approved

#28785 Photos createHistoryEntries
  GeneratorInterface/PhotosInterface/plugins/PhotosppInterface.cc
  GeneratorInterface/PhotosInterface/test/DYphotospp_Tune4C_13TeV_pythia8.py
Labels: code-checks-approved, comparison-available, fully-signed, generators-approved, orp-approved, tests-approved

#28819 do not run test-valgrind-memleak with full path
  Utilities/ReleaseScripts/test/test-valgrind.sh
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#28777 HGCAL: fix interpolation boundaries for ToA
  SimCalorimetry/HGCalSimProducers/src/HGCDigitizer.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, simulation-approved, tests-approved, upgrade-approved

#28809 [DD4hep] DDFilteredView current volume path and its copy numbers
  DetectorDescription/DDCMS/interface/DDFilteredView.h
  DetectorDescription/DDCMS/src/DDFilteredView.cc
  DetectorDescription/DDCMS/test/DDFilteredView.cppunit.cc
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved

#28811 Update phase-2 GT to D49 geometry
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, comparison-available, fully-signed, orp-approved, tests-approved

#28806 Phase2-hgx231 Make the new masking a possibility
  Geometry/HGCalCommonData/python/testHGCalV11XML_cfi.py
  Geometry/HGCalCommonData/src/HGCalGeomParameters.cc
  Geometry/HGCalCommonData/src/HGCalParametersFromDD.cc
  Geometry/HGCalCommonData/test/python/hgcalV11_cfg.py
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved, upgrade-approved

#28814 Clean-up SIMP particles simulation
  SimG4Core/CustomPhysics/interface/CMSQGSPSIMPBuilder.h
  SimG4Core/CustomPhysics/interface/CMSSIMPInelasticProcess.h
  SimG4Core/CustomPhysics/interface/CMSSIMPInelasticXS.h
  SimG4Core/CustomPhysics/src/CMSQGSPSIMPBuilder.cc
  SimG4Core/CustomPhysics/src/CMSSIMPInelasticProcess.cc
  SimG4Core/CustomPhysics/src/CMSSIMPInelasticXS.cc
  SimG4Core/CustomPhysics/src/CustomPhysicsList.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, simulation-approved, tests-approved

#28820 Run3-sim52 Try out all run3 + phase2 scenario in dd4hep
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D35.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D41.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D43.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D45.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D45NoSD.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D46.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D47.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D48.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D49.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D50.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D51.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D52.xml
  Geometry/CMSCommonData/test/dd4hep/2026D35.py
  Geometry/CMSCommonData/test/dd4hep/2026D41.py
  Geometry/CMSCommonData/test/dd4hep/2026D43.py
  Geometry/CMSCommonData/test/dd4hep/2026D45.py
  Geometry/CMSCommonData/test/dd4hep/2026D45NoSD.py
  Geometry/CMSCommonData/test/dd4hep/2026D46.py
  Geometry/CMSCommonData/test/dd4hep/2026D47.py
  Geometry/CMSCommonData/test/dd4hep/2026D48.py
  Geometry/CMSCommonData/test/dd4hep/2026D49.py
  Geometry/CMSCommonData/test/dd4hep/2026D50.py
  Geometry/CMSCommonData/test/dd4hep/2026D51.py
  Geometry/CMSCommonData/test/dd4hep/2026D52.py
  Geometry/CMSCommonData/test/dd4hep/run3.py
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved, upgrade-approved

#28816 Photos createHistoryEntries (71X)
  GeneratorInterface/PhotosInterface/plugins/PhotosppInterface.cc
  GeneratorInterface/PhotosInterface/test/DYphotospp_Tune4C_13TeV_pythia8.py
Labels: backport-ok, comparison-available, fully-signed, generators-approved, orp-approved, tests-approved

#28817 Photos createHistoryEntries (94X)
  GeneratorInterface/PhotosInterface/plugins/PhotosppInterface.cc
  GeneratorInterface/PhotosInterface/test/DYphotospp_Tune4C_13TeV_pythia8.py
Labels: backport-ok, comparison-available, fully-signed, generators-approved, orp-approved, tests-approved

#28746 No need for GsfElectronCoreBaseProducer and merging .h and .cc files for EgammaElectronProducers
  RecoEgamma/EgammaElectronProducers/plugins/GEDGsfElectronCoreProducer.cc
  RecoEgamma/EgammaElectronProducers/plugins/GEDGsfElectronCoreProducer.h
  RecoEgamma/EgammaElectronProducers/plugins/GEDGsfElectronFinalizer.cc
  RecoEgamma/EgammaElectronProducers/plugins/GEDGsfElectronFinalizer.h
  RecoEgamma/EgammaElectronProducers/plugins/GEDGsfElectronProducer.cc
  RecoEgamma/EgammaElectronProducers/plugins/GEDGsfElectronProducer.h
  RecoEgamma/EgammaElectronProducers/plugins/GsfElectronCoreBaseProducer.cc
  RecoEgamma/EgammaElectronProducers/plugins/GsfElectronCoreBaseProducer.h
  RecoEgamma/EgammaElectronProducers/plugins/GsfElectronCoreEcalDrivenProducer.cc
  RecoEgamma/EgammaElectronProducers/plugins/GsfElectronCoreEcalDrivenProducer.h
  RecoEgamma/EgammaElectronProducers/plugins/LowPtGsfElectronCoreProducer.cc
  RecoEgamma/EgammaElectronProducers/plugins/LowPtGsfElectronCoreProducer.h
  RecoEgamma/EgammaElectronProducers/plugins/LowPtGsfElectronSCProducer.cc
  RecoEgamma/EgammaElectronProducers/plugins/LowPtGsfElectronSCProducer.h
  RecoEgamma/EgammaElectronProducers/plugins/LowPtGsfElectronSeedProducer.cc
  RecoEgamma/EgammaElectronProducers/plugins/LowPtGsfElectronSeedProducer.h
  RecoEgamma/EgammaElectronProducers/plugins/LowPtGsfElectronSeedValueMapsProducer.cc
  RecoEgamma/EgammaElectronProducers/plugins/LowPtGsfElectronSeedValueMapsProducer.h
  RecoEgamma/EgammaElectronProducers/plugins/SealModule.cc
  RecoEgamma/EgammaElectronProducers/plugins/TrackingRegionsFromSuperClustersEDProducer.cc
  RecoEgamma/EgammaElectronProducers/plugins/TrackingRegionsFromSuperClustersProducer.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#28808 Introduce fnmatch in a DQM script
  DQMServices/Components/scripts/dqmiodatasetharvest.py
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#28779 Clean BuildFiles in RecoEgamma and PhysicsTools
  PhysicsTools/FWLite/BuildFile.xml
  PhysicsTools/HepMCCandAlgos/BuildFile.xml
  PhysicsTools/JetCharge/BuildFile.xml
  PhysicsTools/JetMCAlgos/BuildFile.xml
  PhysicsTools/JetMCUtils/BuildFile.xml
  PhysicsTools/MXNet/BuildFile.xml
  PhysicsTools/ONNXRuntime/BuildFile.xml
  PhysicsTools/ParallelAnalysis/BuildFile.xml
  PhysicsTools/PatAlgos/BuildFile.xml
  PhysicsTools/PatAlgos/plugins/BuildFile.xml
  PhysicsTools/PatExamples/BuildFile.xml
  PhysicsTools/PatExamples/plugins/BuildFile.xml
  PhysicsTools/RecoUtils/BuildFile.xml
  PhysicsTools/RooStatsCms/BuildFile.xml
  PhysicsTools/SelectorUtils/BuildFile.xml
  PhysicsTools/TagAndProbe/BuildFile.xml
  PhysicsTools/TensorFlow/BuildFile.xml
  PhysicsTools/UtilAlgos/BuildFile.xml
  RecoEgamma/EgammaElectronAlgos/BuildFile.xml
  RecoEgamma/EgammaPhotonAlgos/BuildFile.xml
  RecoEgamma/EgammaTools/BuildFile.xml
  RecoEgamma/Examples/BuildFile.xml
  RecoEgamma/Examples/plugins/BuildFile.xml
  RecoEgamma/PhotonIdentification/BuildFile.xml
Labels: analysis-pending, code-checks-approved, comparison-available, orp-approved, pending-signatures, reconstruction-approved, tests-approved

#28825 Convert workflows that use pp prompt-like GTs to use offline GTs
  Alignment/OfflineValidation/test/testPVValidation_all_ini_one.ini
  CalibTracker/SiPixelQuality/test/step4_harvest_ALCAHARVEST.py
  Configuration/AlCa/python/autoCond.py
  Configuration/HLT/python/autoCondHLT.py
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, hlt-approved, orp-approved, pdmv-approved, tests-approved, upgrade-approved

#28810 [LLVM 9] Fixed build errors
  Alignment/MillePedeAlignmentAlgorithm/interface/MillePedeFileReader.h
  EgammaAnalysis/ElectronTools/interface/EnergyScaleCorrection_class.h
  HLTrigger/JetMET/src/HLTJetSortedVBFFilter.cc
  RecoEgamma/EgammaTools/src/EnergyScaleCorrection.cc
  RecoTauTag/RecoTau/plugins/DPFIsolation.cc
Labels: alca-approved, analysis-pending, code-checks-approved, comparison-available, hlt-approved, orp-approved, pending-signatures, reconstruction-approved, tests-approved

#28788 MTD geometry: TDR ETL design (scenario D53)
  Configuration/Geometry/README.md
  Configuration/Geometry/python/GeometryExtended2026D53Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D53_cff.py
  Configuration/Geometry/python/dict2026Geometry.py
  Configuration/StandardSequences/python/GeometryConf.py
  DataFormats/ForwardDetId/interface/ETLDetId.h
  DataFormats/ForwardDetId/src/ETLDetId.cc
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D53XML_cfi.py
  Geometry/MTDCommonData/data/dd4hep/cms-mtdD50-geometry.xml
  Geometry/MTDCommonData/data/dd4hep/cms-mtdD53-geometry.xml
  Geometry/MTDCommonData/data/etl/v4/etl.xml
  Geometry/MTDCommonData/data/mtdMaterial/v2/mtdMaterial.xml
  Geometry/MTDCommonData/plugins/BuildFile.xml
  Geometry/MTDCommonData/plugins/DDMTDLinear.cc
  Geometry/MTDCommonData/src/ETLNumberingScheme.cc
  Geometry/MTDCommonData/test/testMTDinDD4hep.py
  Geometry/MTDGeometryBuilder/test/python/testMTDGeometry.py
  Geometry/MTDSimData/data/v2/mtdProdCuts.xml
  Geometry/MTDSimData/data/v2/mtdsens.xml
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, operations-approved, orp-approved, simulation-approved, tests-approved, upgrade-approved

#28828 Additional Photos options and createHistoryEntries (106X)
  GeneratorInterface/PhotosInterface/plugins/PhotosppInterface.cc
  GeneratorInterface/PhotosInterface/test/DY_7TeV_pythia8_rivet.py
  GeneratorInterface/PhotosInterface/test/DYphotospp_Tune4C_13TeV_pythia8.py
Labels: comparison-available, fully-signed, generators-approved, orp-approved, tests-approved

#28823 Tracking DQM: miscellaneous fixes
  DQM/TrackingMonitor/src/TrackAnalyzer.cc
  DQM/TrackingMonitor/src/TrackEfficiencyClient.cc
  DQM/TrackingMonitorSource/python/TrackingSourceConfigTier0_Cosmic_cff.py
  DQM/TrackingMonitorSource/python/TrackingSourceConfig_Tier0_cff.py
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#28821 DQM: New EventInfo module for Harvesting
  Alignment/CommonAlignmentProducer/python/AlcaSiPixelAliHarvester_cff.py
  Calibration/EcalCalibAlgos/python/AlcaEcalPedestalsHarvester_cff.py
  Calibration/LumiAlCaRecoProducers/python/AlcaLumiPCCHarvester_cff.py
  Calibration/TkAlCaRecoProducers/python/AlcaSiStripGainsAAGHarvester_cff.py
  Calibration/TkAlCaRecoProducers/python/AlcaSiStripGainsHarvester_cff.py
  Calibration/TkAlCaRecoProducers/python/AlcaSiStripQualityHarvester_cff.py
  DQMServices/Components/plugins/DQMEventInfo.cc
  DQMServices/Components/plugins/DQMEventInfo.h
  DQMServices/Components/plugins/DQMHarvestingMetadata.cc
  DQMServices/Components/plugins/SealModule.cc
Labels: alca-approved, code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved
