Repository cms-sw/cmssw, pull requests merged in 2020-09, with the labels that each got.

#31294 Add missing entries in some Geometry build files
  DetectorDescription/Core/BuildFile.xml
  Geometry/EcalAlgo/BuildFile.xml
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved

#31300 add missing include in FWCore/Framework / dependencies and MagneticField/Engine
  FWCore/Framework/interface/UnscheduledCallProducer.h
  MagneticField/Engine/BuildFile.xml
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved

#31043 Update of the DT migration to DD4HEP
  Geometry/DTGeometryBuilder/plugins/DTGeometryValidate.cc
  Geometry/DTGeometryBuilder/plugins/dd4hep/DTGeometryBuilder.cc
  Geometry/DTGeometryBuilder/plugins/dd4hep/DTGeometryBuilder.h
  Geometry/DTGeometryBuilder/plugins/dd4hep/DTGeometryESProducer.cc
  Geometry/DTGeometryBuilder/test/python/testDTGeometry.py
  Geometry/DTGeometryBuilder/test/python/validateDTGeometry_cfg.py
  Geometry/MuonNumbering/interface/DD4hep_DTNumberingScheme.h
  Geometry/MuonNumbering/interface/DTNumberingScheme.h
  Geometry/MuonNumbering/src/DD4hep_DTNumberingScheme.cc
  Geometry/MuonNumbering/src/DTNumberingScheme.cc
Labels: allow-slomeo, code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved

#31303 Remove duplicate ECF variables (fix old eras)
  PhysicsTools/NanoAOD/python/jets_cff.py
Labels: analysis-pending, bug-fix, code-checks-approved, comparison-available, orp-approved, pending-signatures, tests-approved, urgent, xpog-approved

#31302 Fix for era modifiers used to rerun anti-e MVA tauID for NanoAOD
  PhysicsTools/NanoAOD/python/taus_cff.py
  PhysicsTools/NanoAOD/python/taus_updatedMVAIds_cff.py
Labels: analysis-pending, bug-fix, code-checks-approved, comparison-available, orp-approved, pending-signatures, tests-approved, xpog-approved

#31065 Update tau anti electron discriminators in RECO and MiniAOD (10_6_X)
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
  PhysicsTools/NanoAOD/python/taus_cff.py
  PhysicsTools/NanoAOD/python/taus_updatedMVAIds_cff.py
  PhysicsTools/PatAlgos/python/slimming/miniAOD_tools.py
  RecoTauTag/Configuration/python/HPSPFTaus_cff.py
Labels: analysis-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved, xpog-approved

#31296 Initialisation of Geant4 physics
  SimG4Core/Application/src/RunManagerMT.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, simulation-approved, tests-approved

#30312 HDF5 interface for LHE-HDF5 event files
  GeneratorInterface/LHEInterface/BuildFile.xml
  GeneratorInterface/LHEInterface/interface/LH5Reader.h
  GeneratorInterface/LHEInterface/interface/lheh5.h
  GeneratorInterface/LHEInterface/plugins/BuildFile.xml
  GeneratorInterface/LHEInterface/plugins/LH5Source.cc
  GeneratorInterface/LHEInterface/plugins/LH5Source.h
  GeneratorInterface/LHEInterface/src/LH5Reader.cc
  GeneratorInterface/LHEInterface/src/lheh5.cc
Labels: code-checks-approved, comparison-available, fully-signed, generators-approved, orp-approved, requires-external, tests-approved

#31304 PythiaTauDecayHook: filter for tau to electron or muon decays
  GeneratorInterface/Pythia8Interface/interface/BiasedTauDecayer.h
  GeneratorInterface/Pythia8Interface/src/BiasedTauDecayer.cc
  GeneratorInterface/Pythia8Interface/src/Py8InterfaceBase.cc
  GeneratorInterface/Pythia8Interface/test/ZToTauTau_photos_13TeV_rivet_cfg.py
Labels: code-checks-approved, comparison-available, fully-signed, generators-approved, orp-approved, tests-approved

#30888 Rivet ParticleLevelProducer and HTXS multi-threading
  GeneratorInterface/RivetInterface/interface/ParticleLevelProducer.h
  GeneratorInterface/RivetInterface/plugins/HTXSRivetProducer.cc
  GeneratorInterface/RivetInterface/plugins/ParticleLevelProducer.cc
Labels: code-checks-approved, comparison-available, fully-signed, generators-approved, orp-approved, tests-approved

#30575 Integrating PPS full sim in Run3 (only)
  Configuration/Eras/python/Era_Phase2_cff.py
  Configuration/StandardSequences/python/DigiToRaw_cff.py
  Configuration/StandardSequences/python/Digi_cff.py
  Configuration/StandardSequences/python/Generator_cff.py
  EventFilter/CTPPSRawToDigi/python/ctppsDigiToRaw_cff.py
  EventFilter/RawDataCollector/python/rawDataCollector_cfi.py
  IOMC/RandomEngine/python/IOMC_cff.py
  SimGeneral/MixingModule/python/mixObjects_cfi.py
  SimPPS/Configuration/python/GenPPS_cff.py
  SimPPS/Configuration/python/SimPPS_cff.py
  SimPPS/Configuration/test/gluglu_step1_GEN_SIM_2016.py
  SimPPS/Configuration/test/gluglu_step1_GEN_SIM_2017.py
  SimPPS/Configuration/test/gluglu_step1_GEN_SIM_2021.py
  SimPPS/Configuration/test/gluglu_step2_DIGI_DIGI2RAW_2017.py
  SimPPS/Configuration/test/gluglu_step2_DIGI_DIGI2RAW_2021.py
  SimPPS/Configuration/test/gluglu_step3_RAW2DIGI_L1Reco_RECO_2017.py
  SimPPS/Configuration/test/gluglu_step3_RAW2DIGI_L1Reco_RECO_2021.py
  SimPPS/Configuration/test/pg_step1_GEN_SIM_2016.py
  SimPPS/Configuration/test/pg_step1_GEN_SIM_2017.py
  SimPPS/Configuration/test/pg_step1_GEN_SIM_2018.py
  SimPPS/Configuration/test/pg_step1_GEN_SIM_2021.py
  SimPPS/Configuration/test/pg_step2_DIGI_DIGI2RAW_2016.py
  SimPPS/Configuration/test/pg_step2_DIGI_DIGI2RAW_2017.py
  SimPPS/Configuration/test/pg_step2_DIGI_DIGI2RAW_2018.py
  SimPPS/Configuration/test/pg_step2_DIGI_DIGI2RAW_2021.py
  SimPPS/Configuration/test/pg_step3_MCDB_RAW2DIGI_RECO_2016.py
  SimPPS/Configuration/test/pg_step3_MCDB_RAW2DIGI_RECO_2017.py
  SimPPS/Configuration/test/pg_step3_MCDB_RAW2DIGI_RECO_2018.py
  SimPPS/Configuration/test/pg_step3_MCDB_RAW2DIGI_RECO_2021.py
  SimPPS/PPSPixelDigiProducer/src/RPixChargeShare.cc
  SimPPS/PPSPixelDigiProducer/test/FromGun2DigiAnal_.py
  SimPPS/PPSPixelDigiProducer/test/testDigi.py
  SimPPS/PPSPixelDigiProducer/test/testDigi3.py
  SimPPS/PPSSimTrackProducer/plugins/PPSSimTrackProducer.cc
  SimTransport/PPSProtonTransport/interface/BaseProtonTransport.h
  SimTransport/PPSProtonTransport/interface/ProtonTransport.h
  SimTransport/PPSProtonTransport/python/HectorTransport_cfi.py
  SimTransport/PPSProtonTransport/src/BaseProtonTransport.cc
Labels: code-checks-approved, comparison-available, core-approved, daq-approved, fully-signed, operations-approved, orp-approved, reconstruction-approved, simulation-approved, tests-approved

#31242 Clean BuildFiles in EventFilter
  DQM/CSCMonitorModule/plugins/BuildFile.xml
  EventFilter/CSCRawToDigi/BuildFile.xml
  EventFilter/CSCRawToDigi/plugins/BuildFile.xml
  EventFilter/CSCRawToDigi/plugins/CSCDigiValidator.cc
  EventFilter/CSCRawToDigi/test/BuildFile.xml
  EventFilter/CSCTFRawToDigi/BuildFile.xml
  EventFilter/CSCTFRawToDigi/plugins/BuildFile.xml
  EventFilter/CastorRawToDigi/plugins/BuildFile.xml
  EventFilter/DTTFRawToDigi/BuildFile.xml
  EventFilter/ESRawToDigi/BuildFile.xml
  EventFilter/EcalDigiToRaw/BuildFile.xml
  EventFilter/EcalRawToDigi/BuildFile.xml
  EventFilter/EcalRawToDigi/plugins/BuildFile.xml
  EventFilter/GEMRawToDigi/BuildFile.xml
  EventFilter/GEMRawToDigi/plugins/BuildFile.xml
  EventFilter/GEMRawToDigi/plugins/GEMDigiToRawModule.cc
  EventFilter/GEMRawToDigi/plugins/GEMDigiToRawModule.h
  EventFilter/GEMRawToDigi/plugins/GEMRawToDigiModule.cc
  EventFilter/GEMRawToDigi/plugins/GEMRawToDigiModule.h
  EventFilter/GctRawToDigi/BuildFile.xml
  EventFilter/GctRawToDigi/plugins/BuildFile.xml
  EventFilter/HGCalRawToDigi/BuildFile.xml
  EventFilter/HGCalRawToDigi/plugins/BuildFile.xml
  EventFilter/L1TRawToDigi/BuildFile.xml
  EventFilter/L1TRawToDigi/plugins/BuildFile.xml
  EventFilter/L1TXRawToDigi/plugins/BuildFile.xml
  EventFilter/LTCRawToDigi/BuildFile.xml
  EventFilter/OnlineMetaDataRawToDigi/plugins/BuildFile.xml
  EventFilter/Phase2TrackerRawToDigi/BuildFile.xml
  EventFilter/Phase2TrackerRawToDigi/plugins/BuildFile.xml
  EventFilter/Phase2TrackerRawToDigi/plugins/Phase2TrackerCommissioningDigiProducer.cc
  EventFilter/Phase2TrackerRawToDigi/plugins/Phase2TrackerCommissioningDigiProducer.h
  EventFilter/Phase2TrackerRawToDigi/plugins/Phase2TrackerDigiProducer.cc
  EventFilter/Phase2TrackerRawToDigi/plugins/Phase2TrackerDigiProducer.h
  EventFilter/Phase2TrackerRawToDigi/plugins/module.cc
  EventFilter/Phase2TrackerRawToDigi/test/BuildFile.xml
  EventFilter/RPCRawToDigi/BuildFile.xml
  EventFilter/RctRawToDigi/BuildFile.xml
  EventFilter/RctRawToDigi/plugins/BuildFile.xml
  EventFilter/ScalersRawToDigi/BuildFile.xml
  EventFilter/SiPixelRawToDigi/BuildFile.xml
  EventFilter/SiPixelRawToDigi/test/BuildFile.xml
  EventFilter/SiStripChannelChargeFilter/BuildFile.xml
  EventFilter/SiStripRawToDigi/BuildFile.xml
  EventFilter/SiStripRawToDigi/plugins/BuildFile.xml
  RecoLocalMuon/CSCValidation/BuildFile.xml
Labels: code-checks-approved, comparison-available, daq-approved, dqm-approved, l1-pending, orp-approved, pending-signatures, reconstruction-approved, tests-approved, upgrade-approved

#31312 remove unused fwd headers in DataFormats/TrackerRecHit2D
  DataFormats/TrackerRecHit2D/interface/SiPixelRecHitCollectionfwd.h
  DataFormats/TrackerRecHit2D/interface/SiStripMatchedRecHit2DCollectionfwd.h
  DataFormats/TrackerRecHit2D/interface/SiStripMatchedRecHit2Dfwd.h
  DataFormats/TrackerRecHit2D/interface/SiStripRecHit2DCollectionfwd.h
  DataFormats/TrackerRecHit2D/interface/SiStripRecHit2Dfwd.h
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#31307 DD4hep: TrackerGeometryBuilder Track FilteredView info
  Geometry/TrackerNumberingBuilder/plugins/CmsTrackerLevelBuilder.cc
  SimG4Core/Configuration/test/dd4hep_ZMM_Run3_Step3_cfg.py
  SimG4Core/Configuration/test/ddd_ZMM_Run3_Step3_cfg.py
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, simulation-approved, tests-approved

#31316 Use ideal pixel bad components and remove obsolete pixel tags for Phase-2 simulation
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#31324 change typedef for pfParticle_iterator to avoid naming conflict
  DataFormats/ParticleFlowReco/interface/PFSimParticleFwd.h
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#31260 Support phase-2 IT tags in pixel Payload Inspector
  Alignment/OfflineValidation/plugins/DMRChecker.cc
  CondCore/SiPixelPlugins/interface/PixelRegionContainers.h
  CondCore/SiPixelPlugins/interface/SiPixelGainCalibHelper.h
  CondCore/SiPixelPlugins/interface/SiPixelPayloadInspectorHelper.h
  CondCore/SiPixelPlugins/plugins/SiPixelGainCalibrationForHLT_PayloadInspector.cc
  CondCore/SiPixelPlugins/plugins/SiPixelGainCalibrationOffline_PayloadInspector.cc
  CondCore/SiPixelPlugins/plugins/SiPixelLorentzAngle_PayloadInspector.cc
  CondCore/SiPixelPlugins/plugins/SiPixelVCal_PayloadInspector.cc
  CondCore/SiPixelPlugins/test/testSiPixelPayloadInspector.cpp
Labels: alca-approved, code-checks-approved, comparison-available, db-approved, fully-signed, orp-approved, tests-approved

#31264 Phase2-gex09 Add a new muon subscenario with changes for GEM
  Configuration/Geometry/README.md
  Configuration/Geometry/python/dict2026Geometry.py
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved, upgrade-approved

#31329 add missed dependencies to Pythia8Hadonizer plugins
  GeneratorInterface/Pythia8Interface/plugins/BuildFile.xml
Labels: code-checks-approved, comparison-available, fully-signed, generators-approved, orp-approved, tests-approved

#31262 [PY3] Remove release check condition to fix unit test
  CondCore/BeamSpotPlugins/test/BuildFile.xml
Labels: code-checks-approved, comparison-available, db-approved, fully-signed, orp-approved, tests-approved

#30699 Add GEM trigger data to EMTF DAQ data format and unpacker
  DataFormats/L1TMuon/interface/EMTF/Counters.h
  DataFormats/L1TMuon/interface/EMTF/EventHeader.h
  DataFormats/L1TMuon/interface/EMTF/GEM.h
  DataFormats/L1TMuon/interface/EMTFDaqOut.h
  DataFormats/L1TMuon/interface/EMTFHit.h
  DataFormats/L1TMuon/interface/EMTFTrack.h
  DataFormats/L1TMuon/src/EMTFHit.cc
  DataFormats/L1TMuon/src/classes_def.xml
  EventFilter/L1TRawToDigi/interface/Block.h
  EventFilter/L1TRawToDigi/plugins/BuildFile.xml
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFBlockGEM.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFBlockHeaders.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFBlockME.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFCollections.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFCollections.h
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFSetup.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFTokens.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFTokens.h
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFUnpackerTools.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFUnpackerTools.h
  EventFilter/L1TRawToDigi/src/Block.cc
Labels: code-checks-approved, comparison-available, fully-signed, l1-approved, orp-approved, tests-approved

#31240 Port CTPPS to DD4hep
  CondFormats/GeometryObjects/BuildFile.xml
  CondFormats/GeometryObjects/interface/PDetGeomDesc.h
  CondTools/Geometry/plugins/BuildFile.xml
  CondTools/Geometry/plugins/PPSGeometryBuilder.cc
  CondTools/Geometry/test/ppsgeometrywriter.py
  CondTools/Geometry/test/writehelpers/geometryCTPPS2017_xmlwriter.py
  CondTools/Geometry/test/writehelpers/geometryCTPPS2018_xmlwriter.py
  DQM/CTPPS/plugins/CTPPSDiamondDQMSource.cc
  DQM/CTPPS/plugins/TotemTimingDQMSource.cc
  DetectorDescription/DDCMS/interface/DDFilteredView.h
  Geometry/VeryForwardData/data/CTPPS_Pixel_Module_2x2.xml
  Geometry/VeryForwardGeometry/data/dd4hep/empty.xml
  Geometry/VeryForwardGeometry/data/dd4hep/geometryPPS_CMSxz_fromDD_2016.xml
  Geometry/VeryForwardGeometry/data/dd4hep/geometryPPS_CMSxz_fromDD_2017.xml
  Geometry/VeryForwardGeometry/data/dd4hep/geometryPPS_CMSxz_fromDD_2018.xml
  Geometry/VeryForwardGeometry/data/dd4hep/geometryRPFromDD_2017.xml
  Geometry/VeryForwardGeometry/data/dd4hep/geometryRPFromDD_2018.xml
  Geometry/VeryForwardGeometry/python/geometryIdealPPSFromDD_2016_cfi.py
  Geometry/VeryForwardGeometry/python/geometryIdealPPSFromDD_2017_cfi.py
  Geometry/VeryForwardGeometry/python/geometryIdealPPSFromDD_2018_cfi.py
  Geometry/VeryForwardGeometry/python/geometryPPS_CMSxz_fromDD_2016_cfi.py
  Geometry/VeryForwardGeometry/python/geometryPPS_CMSxz_fromDD_2017_cfi.py
  Geometry/VeryForwardGeometry/python/geometryPPS_CMSxz_fromDD_2018_cfi.py
  Geometry/VeryForwardGeometry/python/geometryRPFromDB_cfi.py
  Geometry/VeryForwardGeometry/python/geometryRPFromDD_2017_cfi.py
  Geometry/VeryForwardGeometry/python/geometryRPFromDD_2018_cfi.py
  Geometry/VeryForwardGeometry/test/test_geom_cfg.py
  Geometry/VeryForwardGeometryBuilder/interface/CTPPSDDDNames.h
  Geometry/VeryForwardGeometryBuilder/interface/CTPPSGeometry.h
  Geometry/VeryForwardGeometryBuilder/interface/DetGeomDesc.h
  Geometry/VeryForwardGeometryBuilder/interface/DetGeomDescBuilder.h
  Geometry/VeryForwardGeometryBuilder/plugins/BuildFile.xml
  Geometry/VeryForwardGeometryBuilder/plugins/CTPPSGeometryESModule.cc
  Geometry/VeryForwardGeometryBuilder/plugins/PPSGeometryESProducer.cc
  Geometry/VeryForwardGeometryBuilder/src/CTPPSGeometry.cc
  Geometry/VeryForwardGeometryBuilder/src/DetGeomDesc.cc
  Geometry/VeryForwardGeometryBuilder/src/DetGeomDescBuilder.cc
  Geometry/VeryForwardGeometryBuilder/test/print_geometry_info_XML_cfg.py
  RecoPPS/Local/src/CTPPSDiamondRecHitProducerAlgorithm.cc
  RecoPPS/Local/src/TotemTimingRecHitProducerAlgorithm.cc
  SimPPS/RPDigiProducer/plugins/RPDisplacementGenerator.cc
  SimPPS/RPDigiProducer/plugins/RPDisplacementGenerator.h
  SimPPS/RPDigiProducer/test/RPDigiProducerTest_cfg.py
  Validation/CTPPS/plugins/CTPPSDirectProtonSimulation.cc
Labels: alca-approved, code-checks-approved, comparison-available, db-approved, dqm-approved, fully-signed, geometry-approved, orp-pending, reconstruction-approved, simulation-approved, tests-approved, urgent

#31325 Draw the cluster position in Fireworks
  Fireworks/Calo/plugins/FWCaloClusterProxyBuilder.cc
Labels: code-checks-approved, comparison-notrun, fully-signed, orp-approved, tests-approved, visualization-approved

#31315 PythiaTauDecayHook: filter for tau to electron or muon decays (10_6_X)
  GeneratorInterface/Pythia8Interface/interface/BiasedTauDecayer.h
  GeneratorInterface/Pythia8Interface/src/BiasedTauDecayer.cc
  GeneratorInterface/Pythia8Interface/src/Py8InterfaceBase.cc
  GeneratorInterface/Pythia8Interface/test/ZToTauTau_photos_13TeV_rivet_cfg.py
Labels: comparison-available, fully-signed, generators-approved, orp-approved, tests-approved

#31291 add dependencies to CommonTools/Utils BuildFile as needed in src/interface
  CommonTools/Utils/BuildFile.xml
  CommonTools/Utils/src/ExpressionEvaluator.cc
Labels: analysis-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#31190 ME0MuonSelector cleanup pass
  CommonTools/RecoAlgos/BuildFile.xml
  CommonTools/RecoAlgos/plugins/ME0MuonTrackCollProducer.cc
  RecoMuon/MuonIdentification/interface/ME0MuonSelector.h
  RecoMuon/MuonIdentification/src/ME0MuonSelector.cc
  RecoMuon/MuonIdentification/test/ME0MuonAnalyzer.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#31331 Run3-gem52 Make dd4hep algorithms for muon involving rotation matrix to use double
  Geometry/MuonCommonData/plugins/dd4hep/DDGEMAngular.cc
  Geometry/MuonCommonData/plugins/dd4hep/DDMuonAngular.cc
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved

#31319 Run3-hcx264 Try internal computation in double for DDHcalAngular for dd4hep
  Geometry/HcalAlgo/plugins/dd4hep/DDHCalAngular.cc
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved

#31333 Fix crashing PixelOnlyGPU workflows (add missing CUDAServices)
  Configuration/StandardSequences/python/Services_cff.py
Labels: code-checks-approved, comparison-available, fully-signed, heterogeneous-approved, operations-approved, orp-approved, tests-approved

#31336 HcalTopologyMode - remove duplicate class
  Geometry/CaloTopology/interface/HcalTopologyMode.h
  Geometry/CaloTopology/src/HcalTopologyMode.cc
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved

#31269 Add support for wildcard in EDAlias type field
  FWCore/Framework/src/Schedule.cc
  FWCore/Integration/test/BuildFile.xml
  FWCore/Integration/test/EDAlias_t.cpp
  FWCore/ParameterSet/python/Types.py
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#31330 Small fixes for tauReco at miniAOD
  RecoTauTag/RecoTau/src/AntiElectronIDMVA6.cc
  RecoTauTag/RecoTau/test/rerunTauRecoOnMiniAOD.py
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#31273 SimDataFormats/ValidationFormats - move G4 dependency out of data format
  BigProducts/Simulation/BuildFile.xml
  SimDataFormats/ValidationFormats/BuildFile.xml
  SimDataFormats/ValidationFormats/interface/MaterialAccountingTrack.h
  SimDataFormats/ValidationFormats/src/MaterialAccountingTrack.cc
  SimDataFormats/ValidationFormats/src/classes_def.xml
  SimTracker/TrackerMaterialAnalysis/plugins/TrackingMaterialProducer.cc
  SimTracker/TrackerMaterialAnalysis/plugins/TrackingMaterialProducer.h
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, simulation-approved, tests-approved

#31225 GE21 fix nstrips for 16 eta partition option
  Geometry/GEMGeometryBuilder/data/v11/GEMSpecs.xml
  Geometry/GEMGeometryBuilder/data/v11/GEMSpecsFilter.xml
  Geometry/MuonCommonData/python/testExtendedGeometry2026D54XML_cfi.py
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved, upgrade-approved

#31289 Migrate Geometry from setConsumes() to type-deducing consumes()
  Geometry/CSCGeometryBuilder/plugins/CSCGeometryESModule.cc
  Geometry/GEMGeometryBuilder/plugins/GEMGeometryESModule.cc
  Geometry/GEMGeometryBuilder/plugins/ME0GeometryESModule.cc
  Geometry/MuonNumbering/plugins/MuonNumberingInitialization.cc
  Geometry/RPCGeometryBuilder/plugins/RPCGeometryESModule.cc
  Geometry/TrackerGeometryBuilder/plugins/TrackerParametersESModule.cc
  Geometry/TrackerGeometryBuilder/plugins/dd4hep/TrackerParametersESProducer.cc
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, geometry-approved, orp-approved, tests-approved, upgrade-approved

#31351 correct dependencies in a few Geometry packages
  Geometry/CaloGeometry/BuildFile.xml
  Geometry/HcalCommonData/BuildFile.xml
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved

#31352 to make static analyzer happy in RunningAverage
  FWCore/Utilities/interface/RunningAverage.h
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#31253 Turn on dual slope ToT in phase-2 pixels digitizer and clusterizer and update CPE payloads to match
  Configuration/AlCa/python/autoCondPhase2.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  RecoLocalTracker/SiPixelClusterizer/plugins/PixelThresholdClusterizer.cc
  RecoLocalTracker/SiPixelClusterizer/python/SiPixelClusterizer_cfi.py
  SimTracker/SiPhase2Digitizer/python/phase2TrackerDigitizer_cfi.py
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, pdmv-approved, reconstruction-approved, simulation-approved, tests-approved, upgrade-approved

#31358 Update Run 3 data GTs to those used in 2020 MWGR3
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#31217 Store TrackExtra, TrackingRecHits, and SiPixel/StripClusters for muons in AOD+MINIAOD (Self-contained version without framework thinning)
  Configuration/ProcessModifiers/python/miniAOD_skip_trackExtras_cff.py
  Configuration/ProcessModifiers/python/run2_miniAOD_UL_preSummer20_cff.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  DataFormats/PatCandidates/interface/Muon.h
  DataFormats/PatCandidates/src/Muon.cc
  DataFormats/TrackReco/src/classes_def.xml
  PhysicsTools/PatAlgos/plugins/PATMuonSlimmer.cc
  PhysicsTools/PatAlgos/python/slimming/MicroEventContent_cff.py
  PhysicsTools/PatAlgos/python/slimming/slimmedMuons_cfi.py
  PhysicsTools/PatAlgos/python/slimming/slimmedTrackExtras_cff.py
  PhysicsTools/PatAlgos/python/slimming/slimming_cff.py
  RecoMuon/Configuration/python/RecoMuon_EventContent_cff.py
  RecoMuon/Configuration/python/RecoMuon_cff.py
  RecoMuon/MuonIdentification/plugins/Module.cc
  RecoMuon/MuonIdentification/plugins/MuonReducedTrackExtraProducer.cc
  RecoMuon/MuonIdentification/plugins/MuonReducedTrackExtraProducer.h
  TauAnalysis/MCEmbeddingTools/python/customisers.py
Labels: analysis-pending, code-checks-approved, comparison-available, operations-approved, orp-approved, pdmv-approved, pending-signatures, reconstruction-approved, simulation-approved, tests-approved, upgrade-approved

#31290 [10_6_X] improving performance of PuppiProducer
  CommonTools/PileupAlgos/interface/PuppiAlgo.h
  CommonTools/PileupAlgos/interface/PuppiCandidate.h
  CommonTools/PileupAlgos/plugins/PuppiProducer.cc
  CommonTools/PileupAlgos/src/PuppiAlgo.cc
  CommonTools/PileupAlgos/src/PuppiCandidate.cc
  CommonTools/PileupAlgos/src/PuppiContainer.cc
Labels: analysis-pending, backport-ok, comparison-available, orp-approved, pending-signatures, reconstruction-approved, tests-approved

#31323 Use ideal pixel bad components and remove obsolete pixel tags for Phase-2 simulation (backport)
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, backport-ok, comparison-available, fully-signed, orp-approved, tests-approved

#31344 break circular dependencies reported by IB system
  CalibCalorimetry/HcalTPGAlgos/src/HcaluLUTTPGCoder.cc
  EventFilter/HcalRawToDigi/src/HcalUnpacker.cc
  RecoLocalCalo/HGCalRecAlgos/interface/HGCal3DClustering.h
  TrackingTools/KalmanUpdators/src/MRHChi2MeasurementEstimator.cc
Labels: alca-pending, code-checks-approved, comparison-available, l1-pending, orp-approved, pending-signatures, reconstruction-approved, tests-approved, upgrade-approved

#31334 Build CUDA host code if CUDA libraries are available
  CUDADataFormats/BeamSpot/BuildFile.xml
  CUDADataFormats/Common/BuildFile.xml
  HeterogeneousCore/CUDACore/BuildFile.xml
  HeterogeneousCore/CUDAServices/BuildFile.xml
  HeterogeneousCore/CUDAServices/plugins/BuildFile.xml
  HeterogeneousCore/CUDAServices/test/BuildFile.xml
  HeterogeneousCore/CUDAUtilities/BuildFile.xml
  RecoVertex/BeamSpotProducer/plugins/BuildFile.xml
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, heterogeneous-approved, orp-approved, reconstruction-approved, tests-approved

#31322 Cleanups in PhysicsTools and OnlineDB
  OnlineDB/EcalCondDB/interface/IRunIOV.h
  PhysicsTools/PatAlgos/test/fwlite/testSelection_electron.C
  PhysicsTools/PatAlgos/test/fwlite/testSelection_jet.C
  PhysicsTools/PatAlgos/test/fwlite/testSelection_muon.C
  PhysicsTools/PatUtils/interface/ElectronVPlusJetsIDSelectionFunctor.h
  PhysicsTools/PatUtils/interface/JetIDSelectionFunctor.h
  PhysicsTools/PatUtils/interface/MuonVPlusJetsIDSelectionFunctor.h
Labels: analysis-approved, code-checks-approved, comparison-available, db-pending, orp-approved, pending-signatures, reconstruction-approved, tests-approved

#31286 Run3-gex10 Recreate Run3 scenarios with the new xml files
  Configuration/Geometry/README.md
  Configuration/Geometry/python/dict2021Geometry.py
  Configuration/Geometry/scripts/generate2021Geometry.py
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021ZeroMaterial.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometry2021XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2021ZeroMaterialXML_cfi.py
  Geometry/TrackerCommonData/data/zeroMaterial/2021/v1/pixbarmaterial.xml
  Geometry/TrackerCommonData/data/zeroMaterial/2021/v1/trackermaterial.xml
  Geometry/TrackerCommonData/python/cmsExtendedGeometry2021ZeroMaterialXML_cfi.py
  Geometry/TrackerCommonData/test/python/run21Zero.py
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved, upgrade-approved, urgent

#31340 Clean BuildFiles in HLTrigger
  HLTrigger/Egamma/plugins/BuildFile.xml
  HLTrigger/HLTcore/BuildFile.xml
  HLTrigger/HLTcore/plugins/HLTPrescaleRecorder.cc
  HLTrigger/JSONMonitoring/plugins/BuildFile.xml
  HLTrigger/JetMET/BuildFile.xml
  HLTrigger/JetMET/plugins/BuildFile.xml
  HLTrigger/Muon/plugins/BuildFile.xml
  HLTrigger/Muon/test/BuildFile.xml
  HLTrigger/Timer/plugins/BuildFile.xml
  HLTrigger/Timer/test/BuildFile.xml
  HLTrigger/Tools/bin/BuildFile.xml
  HLTrigger/special/plugins/BuildFile.xml
  HLTriggerOffline/B2G/BuildFile.xml
  HLTriggerOffline/Common/BuildFile.xml
  HLTriggerOffline/Egamma/BuildFile.xml
  HLTriggerOffline/JetMET/BuildFile.xml
  HLTriggerOffline/Muon/BuildFile.xml
  HLTriggerOffline/SUSYBSM/BuildFile.xml
  HLTriggerOffline/Tau/BuildFile.xml
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, hlt-approved, orp-approved, tests-approved

#31320 Small enhancements to geometry DB payload validation scripts
  DetectorDescription/OfflineDBLoader/src/GeometryInfoDump.cc
  Geometry/CSCGeometry/test/testCSCGeometry_cfg.py
  Geometry/DTGeometry/test/DTGeometryAnalyzer.cc
  Geometry/DTGeometry/test/testDTGeometryFromDB_cfg.py
  Geometry/DTGeometry/test/testDTGeometryFromLocalDB_cfg.py
  Geometry/DTGeometry/test/testDTGeometry_cfg.py
  Geometry/TrackerGeometryBuilder/test/ModuleInfo.cc
  Geometry/TrackerGeometryBuilder/test/trackerModuleInfoDB_cfg.py
  Geometry/TrackerGeometryBuilder/test/trackerModuleInfoDDD_cfg.py
  Geometry/TrackerGeometryBuilder/test/trackerModuleInfoFromDDDNoPrintDDD_cfg.py
  Geometry/TrackerGeometryBuilder/test/trackerModuleInfoLocalDB_cfg.py
  Validation/Geometry/test/dddvsdb/runDDDvsDBGeometryValidation.sh
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, geometry-approved, orp-approved, tests-approved

#31366 Run4-hgx260 Add a new testing code to check V14 geometry of HGCal
  Validation/HGCalValidation/python/hgcalSiliconValidation_cfi.py
  Validation/HGCalValidation/test/HGCalSiliconValidation.cc
  Validation/HGCalValidation/test/python/protoHGCalSimWatcher_cfg.py
  Validation/HGCalValidation/test/python/protoSimValid_cfg.py
  Validation/HGCalValidation/test/python/protoValid_cfg.py
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#31355 Revert "Revert "CSJet update for fastjet-contrib 1.044""
  GeneratorInterface/RivetInterface/test/rivet_cfg.py
  RecoJets/JetProducers/plugins/CSJetProducer.cc
Labels: code-checks-approved, comparison-available, fully-signed, generators-approved, orp-approved, reconstruction-approved, requires-external, tests-approved

#31345 move CalibTracker/SiStripCommon plugin headers out of interface to avoid circular dependency
  CalibTracker/SiStripCommon/plugins/BuildFile.xml
  CalibTracker/SiStripCommon/plugins/SealModules.cc
  CalibTracker/SiStripCommon/plugins/ShallowDigisProducer.cc
  CalibTracker/SiStripCommon/plugins/ShallowDigisProducer.h
  CalibTracker/SiStripCommon/plugins/ShallowEventDataProducer.cc
  CalibTracker/SiStripCommon/plugins/ShallowEventDataProducer.h
  CalibTracker/SiStripCommon/plugins/ShallowExampleProducer.h
  CalibTracker/SiStripCommon/plugins/ShallowGainCalibration.cc
  CalibTracker/SiStripCommon/plugins/ShallowGainCalibration.h
  CalibTracker/SiStripCommon/plugins/ShallowRechitClustersProducer.cc
  CalibTracker/SiStripCommon/plugins/ShallowRechitClustersProducer.h
  CalibTracker/SiStripCommon/plugins/ShallowSimhitClustersProducer.cc
  CalibTracker/SiStripCommon/plugins/ShallowSimhitClustersProducer.h
  CalibTracker/SiStripCommon/plugins/ShallowTrackClustersProducer.cc
  CalibTracker/SiStripCommon/plugins/ShallowTrackClustersProducer.h
  CalibTracker/SiStripCommon/plugins/ShallowTracksProducer.cc
  CalibTracker/SiStripCommon/plugins/ShallowTracksProducer.h
  CalibTracker/SiStripCommon/plugins/ShallowTree.cc
  CalibTracker/SiStripCommon/plugins/ShallowTree.h
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#31356 Add missing includes to Geometry/Tracker(Numbering/Geometry)Builder
  Geometry/TrackerGeometryBuilder/BuildFile.xml
  Geometry/TrackerNumberingBuilder/BuildFile.xml
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, requires-external, tests-approved

#30306 GEN-only NanoAOD configs (NanoGEN) and cmsDriver support
  Configuration/Applications/python/ConfigBuilder.py
  PhysicsTools/NanoAOD/python/NanoAODEDMEventContent_cff.py
  PhysicsTools/NanoAOD/python/genWeightsTable_cfi.py
  PhysicsTools/NanoAOD/python/nano_cff.py
  PhysicsTools/NanoAOD/python/nanogen_cff.py
Labels: analysis-approved, code-checks-approved, comparison-available, fully-signed, generators-approved, operations-approved, orp-approved, tests-approved, xpog-approved

#31235 L1T EG Phase2 Track match and EG validation code
  L1Trigger/L1CaloTrigger/python/L1TCaloTriggerNtuples_cff.py
  L1Trigger/L1CaloTrigger/python/l1EgammaStaProducers_cff.py
  L1Trigger/L1CaloTrigger/python/ntuple_cfi.py
  L1Trigger/L1CaloTrigger/test/BuildFile.xml
  L1Trigger/L1CaloTrigger/test/ntuples/L1TCaloTriggerNtupleBase.h
  L1Trigger/L1CaloTrigger/test/ntuples/L1TriggerNtupleEgamma.cc
  L1Trigger/L1CaloTrigger/test/ntuples/L1TriggerNtupleTkElectrons.cc
  L1Trigger/L1CaloTrigger/test/ntuples/L1TriggerNtupleTrackTrigger.cc
  L1Trigger/L1CaloTrigger/test/runL1TP2EgammaNtuples_D49geom.py
  L1Trigger/L1TTrackMatch/interface/L1TkElectronTrackMatchAlgo.h
  L1Trigger/L1TTrackMatch/plugins/L1TkElectronTrackProducer.cc
  L1Trigger/L1TTrackMatch/python/L1TkEgammaObjects_cff.py
  L1Trigger/L1TTrackMatch/python/L1TkElectronTrackProducer_cfi.py
  L1Trigger/L1TTrackMatch/src/L1TkElectronTrackMatchAlgo.cc
Labels: code-checks-approved, comparison-available, fully-signed, l1-approved, orp-approved, tests-approved, upgrade-approved

#31379 Fix FKDTree unit test
  CommonTools/RecoAlgos/test/FKDTree_t.cpp
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#31365 Refactor ThinningTestAnalyzer::analyze()
  FWCore/Integration/test/ThinningTestAnalyzer.cc
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#30592 Added new DQM GUI support to all Online DQM clients
  DQM/Integration/python/clients/beam_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamfake_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamhlt_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamhltfake_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beampixel_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/bril_dqm_clientPB-live_cfg.py
  DQM/Integration/python/clients/castor_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/csc_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/ctpps_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/dt4ml_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/dt_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/ecal_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/ecalcalib_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/es_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/fed_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/gem_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/hcal_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/hcalcalib_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/hcalreco_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/hlt_dqm_clientPB-live_cfg.py
  DQM/Integration/python/clients/hlt_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/hltrates_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/hlx_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/info_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/l1t_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/l1temulator_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/l1tstage1_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/l1tstage1emulator_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/l1tstage2_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/l1tstage2emulator_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/lumi_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/mutracking_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/physics_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/pixel_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/pixellumi_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/ramdisk_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/rpc_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/scal_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/sistrip_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/sistriplas_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/config/environment_cfi.py
  DQMServices/FileIO/plugins/DQMFileSaverBase.cc
  DQMServices/FileIO/plugins/DQMFileSaverBase.h
  DQMServices/FileIO/plugins/DQMFileSaverPB.cc
  DQMServices/FileIO/plugins/DQMFileSaverPB.h
  DQMServices/FileIO/python/DQMFileSaverOnline_cfi.py
  DQMServices/FileIO/python/DQMFileSaverPB_cfi.py
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#31256 Warn about bit number above trigger collections sizes only once per event/bx
  L1Trigger/L1TGlobal/src/GlobalBoard.cc
Labels: code-checks-approved, comparison-available, fully-signed, l1-approved, orp-approved, tests-approved

#31272 CCLUT generator macro; LUTs in half-strip format (CCLUT-7)
  DataFormats/CSCDigi/interface/CSCCorrelatedLCTDigi.h
  L1Trigger/CSCCommonTrigger/interface/CSCConstants.h
  L1Trigger/CSCTriggerPrimitives/interface/CSCCathodeLCTProcessor.h
  L1Trigger/CSCTriggerPrimitives/interface/CSCPatternBank.h
  L1Trigger/CSCTriggerPrimitives/python/cscTriggerPrimitiveDigis_cfi.py
  L1Trigger/CSCTriggerPrimitives/src/CSCCathodeLCTProcessor.cc
  L1Trigger/CSCTriggerPrimitives/src/CSCPatternBank.cc
  L1Trigger/CSCTriggerPrimitives/src/LCTQualityControl.cc
  L1Trigger/CSCTriggerPrimitives/test/macros/CCLUTLinearFitWriter.cpp
  L1Trigger/CSCTriggerPrimitives/test/macros/README.md
Labels: code-checks-approved, comparison-available, fully-signed, l1-approved, orp-approved, simulation-approved, tests-approved

#31373 Removed include of CommandLineParser.h from HcalLutAnalyzer
  CaloOnlineTools/HcalOnlineDb/plugins/HcalLutAnalyzer.cc
Labels: code-checks-approved, comparison-available, db-approved, fully-signed, orp-approved, tests-approved

#30506 Throw a separate exception if ESGetToken is uninitialized
  FWCore/Framework/interface/EventSetupRecord.h
  FWCore/Framework/src/EventSetupRecord.cc
  FWCore/Framework/test/eventsetup_t.cppunit.cc
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#31347 [CondCore/SiPixelPlugins] Support Ratios and Diff for Pixel Gains
  CondCore/SiPixelPlugins/interface/SiPixelGainCalibHelper.h
  CondCore/SiPixelPlugins/plugins/SiPixelGainCalibrationForHLT_PayloadInspector.cc
  CondCore/SiPixelPlugins/plugins/SiPixelGainCalibrationOffline_PayloadInspector.cc
  CondCore/SiPixelPlugins/test/SiPixelGainCalibrationComparator_DB.sh
  CondCore/SiPixelPlugins/test/testSiPixelGainCalibrationForHLT.sh
Labels: code-checks-approved, comparison-available, db-approved, fully-signed, orp-approved, tests-approved

#31341 Fix deg to rad conversion in L1TkMuonProducer ("ManTra" version) for HLT TDR [11_2_X]
  L1Trigger/L1TTrackMatch/interface/L1TkMuCorrDynamicWindows.h
  L1Trigger/L1TTrackMatch/interface/L1TkMuMantra.h
  L1Trigger/L1TTrackMatch/plugins/L1TkMuonProducer.cc
  L1Trigger/L1TTrackMatch/src/L1TkMuCorrDynamicWindows.cc
  L1Trigger/L1TTrackMatch/src/L1TkMuMantra.cc
Labels: code-checks-approved, comparison-available, fully-signed, l1-approved, orp-approved, tests-approved, upgrade-approved

#31349 Update geometry scenario in tau test cfg and add the cfg to unit tests
  RecoTauTag/RecoTau/test/rerunMVAIsolationOnMiniAOD_Phase2.py
  RecoTauTag/RecoTau/test/runtests.sh
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#31392 Update Run 3 data GTs to those used in 2020 MWGR3 [11_1_X]
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, backport-ok, comparison-available, fully-signed, orp-approved, tests-approved

#31382 Run4-gem53 Correct a sub-scenario for muon version M8
  Configuration/Geometry/python/dict2026Geometry.py
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved, upgrade-approved

#31367 Phase2-gem53 Preparation for a new muon scenario with GE0 rather than ME0
  Geometry/GEMGeometryBuilder/data/v12/GEMSpecs.xml
  Geometry/GEMGeometryBuilder/data/v12/GEMSpecsFilter.xml
  Geometry/MuonCommonData/data/dd4hep/testGE0XML.xml
  Geometry/MuonCommonData/data/dd4hep/testGEMXML.xml
  Geometry/MuonCommonData/data/mf/2026/v7/mf.xml
  Geometry/MuonCommonData/data/mfshield/2026/v5/mfshield.xml
  Geometry/MuonCommonData/data/muonNumbering/TDR_DeV/v3/muonNumbering.xml
  Geometry/MuonCommonData/python/testGE0XML_cfi.py
  Geometry/MuonCommonData/python/testGEMXML_cfi.py
  Geometry/MuonCommonData/test/python/dumpGE0_cfg.py
  Geometry/MuonCommonData/test/python/dumpGEM_cfg.py
  Geometry/MuonCommonData/test/python/runME_cfg.py
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved, upgrade-approved

#31357 Phase2-sim73 Add provision different regions for fine detectors
  Geometry/HcalSimData/data/CaloUtil/2026/v1/CaloUtil.xml
  Geometry/HcalSimData/data/CaloUtil/2026/v2/CaloUtil.xml
  Geometry/HcalSimData/data/CaloUtil/2026/v3/CaloUtil.xml
  Geometry/HcalSimData/data/CaloUtil/2026/v4/CaloUtil.xml
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved

#31398 Moved headers not needed in interface of Message Logging system
  FWCore/MessageLogger/interface/SilentMLscribe.h
  FWCore/MessageLogger/src/SilentMLscribe.cc
  FWCore/MessageService/src/ConfigurationHandshake.h
  FWCore/MessageService/src/ELadministrator.cc
  FWCore/MessageService/src/ELadministrator.h
  FWCore/MessageService/src/ELdestination.cc
  FWCore/MessageService/src/ELdestination.h
  FWCore/MessageService/src/ELlimitsTable.cc
  FWCore/MessageService/src/ELlimitsTable.h
  FWCore/MessageService/src/ELoutput.cc
  FWCore/MessageService/src/ELoutput.h
  FWCore/MessageService/src/ELstatistics.cc
  FWCore/MessageService/src/ELstatistics.h
  FWCore/MessageService/src/HardwiredDefaults.cc
  FWCore/MessageService/src/MainThreadMLscribe.cc
  FWCore/MessageService/src/MainThreadMLscribe.h
  FWCore/MessageService/src/MessageLogger.cc
  FWCore/MessageService/src/MessageLoggerDefaults.cc
  FWCore/MessageService/src/MessageLoggerDefaults.h
  FWCore/MessageService/src/MessageLoggerScribe.cc
  FWCore/MessageService/src/MessageLoggerScribe.h
  FWCore/MessageService/src/MessageServicePSetValidation.cc
  FWCore/MessageService/src/MessageServicePSetValidation.h
  FWCore/MessageService/src/MessageServicePresence.cc
  FWCore/MessageService/src/SingleThreadMSPresence.cc
  FWCore/MessageService/src/ThreadQueue.cc
  FWCore/MessageService/src/ThreadQueue.h
  FWCore/MessageService/src/ThreadSafeLogMessageLoggerScribe.cc
  FWCore/MessageService/src/ThreadSafeLogMessageLoggerScribe.h
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#31396 Fix `scram b code-checks` warnings associated with FWCore
  DataFormats/Provenance/interface/LuminosityBlockAuxiliary.h
  FWCore/Framework/interface/HistoryAppender.h
  FWCore/Framework/interface/ProductRegistryHelper.h
  FWCore/Framework/interface/global/EDProducer.h
  FWCore/Framework/src/LuminosityBlockProcessingStatus.h
  FWCore/Framework/src/OutputModuleCommunicator.h
  FWCore/Framework/src/Path.h
  FWCore/Framework/src/SystemTimeKeeper.h
  FWCore/Utilities/interface/CPUTimer.h
  FWCore/Utilities/interface/LuminosityBlockIndex.h
  FWCore/Utilities/interface/RunIndex.h
  FWCore/Utilities/interface/Signal.h
  FWCore/Utilities/interface/StreamID.h
  FWCore/Utilities/interface/TypeToGet.h
  FWCore/Utilities/interface/WallclockTimer.h
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#31350 Store TrackExtra, TrackingRecHits, and SiPixel/StripClusters for muons in AOD+MINIAOD (10_6_X)
  Configuration/ProcessModifiers/python/miniAOD_skip_trackExtras_cff.py
  Configuration/ProcessModifiers/python/run2_miniAOD_UL_preSummer20_cff.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  DataFormats/PatCandidates/interface/Muon.h
  DataFormats/PatCandidates/src/Muon.cc
  DataFormats/TrackReco/src/classes_def.xml
  PhysicsTools/PatAlgos/plugins/PATMuonSlimmer.cc
  PhysicsTools/PatAlgos/python/slimming/MicroEventContent_cff.py
  PhysicsTools/PatAlgos/python/slimming/slimmedMuons_cfi.py
  PhysicsTools/PatAlgos/python/slimming/slimmedTrackExtras_cff.py
  PhysicsTools/PatAlgos/python/slimming/slimming_cff.py
  RecoMuon/Configuration/python/RecoMuon_EventContent_cff.py
  RecoMuon/Configuration/python/RecoMuon_cff.py
  RecoMuon/MuonIdentification/plugins/Module.cc
  RecoMuon/MuonIdentification/plugins/MuonReducedTrackExtraProducer.cc
  RecoMuon/MuonIdentification/plugins/MuonReducedTrackExtraProducer.h
  TauAnalysis/MCEmbeddingTools/python/customisers.py
Labels: analysis-pending, backport-ok, comparison-available, operations-approved, orp-approved, pdmv-approved, pending-signatures, reconstruction-approved, simulation-approved, tests-approved, upgrade-approved

#31387 Avoid computing unnneded quantities in HLTPixlMBForAlignmentFilter
  HLTrigger/special/plugins/HLTPixlMBForAlignmentFilter.cc
Labels: code-checks-approved, comparison-available, fully-signed, hlt-approved, orp-approved, tests-approved

#31395 Improve FWCore/Framework/interface
  FWCore/Framework/interface/ESOutlet.h
  FWCore/Framework/interface/EventProcessor.h
  FWCore/Framework/interface/UnknownModuleException.h
  FWCore/Framework/src/CommonParams.h
  FWCore/Framework/src/EventPrincipal.cc
  FWCore/Framework/src/EventProcessor.cc
  FWCore/Framework/src/EventSetupProviderMaker.cc
  FWCore/Framework/src/EventSetupProviderMaker.h
  FWCore/Framework/src/EventSetupsController.cc
  FWCore/Framework/src/GlobalSchedule.h
  FWCore/Framework/src/OutputModuleDescription.h
  FWCore/Framework/src/Principal.cc
  FWCore/Framework/src/ProductDeletedException.cc
  FWCore/Framework/src/ProductDeletedException.h
  FWCore/Framework/src/ProductResolverBase.cc
  FWCore/Framework/src/ProductResolvers.cc
  FWCore/Framework/src/Schedule.cc
  FWCore/Framework/src/ScheduleItems.cc
  FWCore/Framework/src/StreamSchedule.cc
  FWCore/Framework/src/SubProcess.cc
  FWCore/Framework/src/SubProcess.h
  FWCore/Framework/src/SystemTimeKeeper.cc
  FWCore/Framework/src/TriggerReport.h
  FWCore/Framework/src/TriggerTimingReport.h
  FWCore/Framework/src/global/OutputModuleBase.cc
  FWCore/Framework/src/globalTransitionAsync.h
  FWCore/Framework/src/insertSelectedProcesses.cc
  FWCore/Framework/src/insertSelectedProcesses.h
  FWCore/Framework/src/limited/OutputModuleBase.cc
  FWCore/Framework/src/one/OutputModuleBase.cc
  FWCore/Framework/src/streamTransitionAsync.h
  FWCore/Framework/test/ProxyFactoryTemplate.h
  FWCore/Framework/test/dependentrecord_t.cppunit.cc
  FWCore/Framework/test/print_eventsetup_record_dependencies.h
  FWCore/Framework/test/proxyfactoryproducer_t.cppunit.cc
  FWCore/Integration/test/BuildFile.xml
  FWCore/Integration/test/ESOutletTest_cfg.py
  FWCore/Integration/test/WhatsItExtensionCordAnalyzer.cc
  FWCore/Utilities/interface/ECGetterBase.h
  FWCore/Utilities/interface/ExtensionCord.h
  FWCore/Utilities/interface/OutletBase.h
  FWCore/Utilities/interface/SimpleOutlet.h
  FWCore/Utilities/test/BuildFile.xml
  FWCore/Utilities/test/extensioncord_t.cppunit.cpp
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#31388 Conditions Updater for HLT: Added OMS service as source of Run and Lumi info
  CondCore/DBOutputService/interface/OnlineDBOutputService.h
  CondCore/DBOutputService/interface/PoolDBOutputService.h
  CondCore/DBOutputService/src/OnlineDBOutputService.cc
  CondCore/DBOutputService/test/python/testIOVPayloadAnalyzer_example_oracle_cfg.py
  CondCore/DBOutputService/test/python/testLumiBasedUpdateAnalyzer_cfg.py
  CondCore/DBOutputService/test/python/writeInt_cfg.py
  CondCore/DBOutputService/test/python/writeMultipleRecords_oracle_cfg.py
  CondCore/DBOutputService/test/stubs/LumiBasedUpdateAnalyzer.cc
  CondCore/DBOutputService/test/stubs/LumiBasedUpdateAnalyzer.h
Labels: alca-approved, code-checks-approved, comparison-available, db-approved, fully-signed, orp-approved, tests-approved

#31390 GEM online DQM bug fix - full GE1/1
  DQM/GEM/plugins/GEMDQMStatusDigi.cc
  DQM/Integration/python/clients/gem_dqm_sourceclient-live_cfg.py
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#31354 Modernized AlcaBeamMonitor
  DQM/BeamMonitor/plugins/AlcaBeamMonitor.cc
  DQM/BeamMonitor/plugins/AlcaBeamMonitor.h
  DQM/BeamMonitor/python/AlcaBeamMonitor_cfi.py
  DQM/BeamMonitor/test/BuildFile.xml
  DQM/BeamMonitor/test/testAlcaBeamMonitor.cc
  RecoVertex/BeamSpotProducer/interface/BeamFitter.h
  RecoVertex/BeamSpotProducer/interface/PVFitter.h
  RecoVertex/BeamSpotProducer/src/BeamFitter.cc
  RecoVertex/BeamSpotProducer/src/PVFitter.cc
Labels: alca-approved, bug-fix, code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved

#31332 drop type specs in RecoEcal
  RecoEcal/EgammaClusterProducers/python/correctedHybridSuperClusters_cfi.py
  RecoEcal/EgammaClusterProducers/python/correctedMulti5x5SuperClustersWithPreshower_cfi.py
  RecoEcal/EgammaClusterProducers/python/dynamicHybridSuperClusters_cfi.py
  RecoEcal/EgammaClusterProducers/python/hybridClusteringSequence_cff.py
  RecoEcal/EgammaClusterProducers/python/multi5x5BasicClusters_cfi.py
  RecoEcal/EgammaClusterProducers/python/multi5x5SuperClustersWithPreshower_cfi.py
  RecoEcal/EgammaClusterProducers/python/multi5x5SuperClusters_cfi.py
  RecoEcal/EgammaClusterProducers/python/particleFlowSuperClusterOOTECAL_cff.py
  RecoEcal/EgammaClusterProducers/python/particleFlowSuperClusteringSequence_cff.py
  RecoEcal/EgammaClusterProducers/python/reducedRecHitsSequence_cff.py
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#31407 Cleanup BuildFile: Remove duplicates
  TrackingTools/PatternTools/BuildFile.xml
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#31405 Cleanup BuildFile: remove duplicate GeneratorInterface/Pythia8Interface dep
  GeneratorInterface/Pythia8Interface/plugins/BuildFile.xml
Labels: code-checks-approved, comparison-available, fully-signed, generators-approved, orp-approved, tests-approved

#31404 Fix BuildFile, use lower case flags tag
  GeneratorInterface/ReggeGribovPartonMCInterface/BuildFile.xml
Labels: code-checks-approved, comparison-available, fully-signed, generators-approved, orp-approved, tests-approved

#31389 drop type specs in RecoParticleFlow
  RecoParticleFlow/Configuration/python/RecoParticleFlow_cff.py
  RecoParticleFlow/Configuration/python/RecoParticleFlow_refit_cff.py
  RecoParticleFlow/PFClusterProducer/python/particleFlowClusterECALUncorrected_cfi.py
  RecoParticleFlow/PFClusterProducer/python/particleFlowClusterHBHE_cfi.py
  RecoParticleFlow/PFClusterProducer/python/particleFlowClusterHCAL_cfi.py
  RecoParticleFlow/PFClusterProducer/python/particleFlowClusterHF_cfi.py
  RecoParticleFlow/PFClusterProducer/python/particleFlowClusterHO_cfi.py
  RecoParticleFlow/PFClusterProducer/python/particleFlowClusterOOTECALUncorrected_cff.py
  RecoParticleFlow/PFClusterProducer/python/particleFlowClusterOOTECAL_cff.py
  RecoParticleFlow/PFClusterProducer/python/particleFlowClusterTimeAssigner_cfi.py
  RecoParticleFlow/PFClusterProducer/python/particleFlowRecHitHBHE_cfi.py
  RecoParticleFlow/PFClusterProducer/python/particleFlowRecHitOOTECAL_cff.py
  RecoParticleFlow/PFProducer/python/electronPFIsolationValues_cff.py
  RecoParticleFlow/PFProducer/python/particleFlowEGamma_cff.py
  RecoParticleFlow/PFProducer/python/pfElectronInterestingDetIds_cfi.py
  RecoParticleFlow/PFProducer/python/pfLinker_cff.py
  RecoParticleFlow/PFProducer/python/pfPhotonInterestingDetIds_cfi.py
  RecoParticleFlow/PFTracking/python/trackerDrivenElectronSeeds_cff.py
  RecoParticleFlow/PFTracking/python/trackerDrivenElectronSeeds_cfi.py
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#31377 undo cyclic dependency between DataFormats/TrackerCommon and DataFormats/SiStripDetId
  CalibTracker/SiStripChannelGain/plugins/SiStripGainCosmicCalculator.cc
  CalibTracker/SiStripCommon/src/TkDetMap.cc
  DQM/SiStripCommon/test/plugins/testTkHistoMap.cc
  DQM/SiStripMonitorCluster/src/SiStripMonitorCluster.cc
  DQM/SiStripMonitorDigi/src/SiStripMonitorDigi.cc
  DQM/SiStripMonitorSummary/src/SiStripBackPlaneCorrectionDQM.cc
  DQM/SiStripMonitorSummary/src/SiStripBaseCondObjDQM.cc
  DQM/SiStripMonitorSummary/src/SiStripLorentzAngleDQM.cc
  DataFormats/SiStripDetId/BuildFile.xml
  DataFormats/SiStripDetId/interface/SiStripDetId.h
  DataFormats/SiStripDetId/interface/SiStripEnums.h
  DataFormats/SiStripDetId/interface/StripSubdetector.h
  DataFormats/TrackerCommon/BuildFile.xml
  DataFormats/TrackerCommon/interface/SiStripSubStructure.h
  DataFormats/TrackerCommon/interface/TrackerTopology.h
  DataFormats/TrackerCommon/src/SiStripSubStructure.cc
  Geometry/TrackerNumberingBuilder/src/utils.cc
  Validation/RecoTrack/src/SiStripTrackingRecHitsValid.cc
  Validation/TrackerRecHits/src/SiStripRecHitsValid.cc
Labels: alca-approved, code-checks-approved, comparison-available, dqm-approved, fully-signed, geometry-approved, orp-approved, reconstruction-approved, simulation-approved, tests-approved

#31353 Biased tau decayer update
  GeneratorInterface/Pythia8Interface/interface/BiasedTauDecayer.h
  GeneratorInterface/Pythia8Interface/plugins/Pythia8Hadronizer.cc
  GeneratorInterface/Pythia8Interface/src/BiasedTauDecayer.cc
  GeneratorInterface/Pythia8Interface/test/biasedTauDecayer.py
  GeneratorInterface/Pythia8Interface/test/powheg-Ztautau.lhe
Labels: code-checks-approved, comparison-available, fully-signed, generators-approved, orp-approved, tests-approved

#31337 DD4hep: CmsTrackerLevelBuilder Fix Tracker Geometry Navigation
  DetectorDescription/DDCMS/interface/DDFilteredView.h
  DetectorDescription/DDCMS/src/DDFilteredView.cc
  Geometry/TrackerNumberingBuilder/plugins/CmsDetConstruction.cc
  Geometry/TrackerNumberingBuilder/plugins/CmsDetConstruction.h
  Geometry/TrackerNumberingBuilder/plugins/CmsTrackerLevelBuilder.cc
  SimG4CMS/Tracker/src/TrackerG4SimHitNumberingScheme.cc
  SimG4Core/Configuration/test/dd4hep_ZMM_Run3_Step1_cfg.py
  SimG4Core/Configuration/test/dd4hep_ZMM_Run3_Step2_cfg.py
  SimG4Core/Configuration/test/dd4hep_ZMM_Run3_Step3_cfg.py
  SimG4Core/Configuration/test/ddd_ZMM_Run3_Step1_cfg.py
  SimG4Core/Configuration/test/ddd_ZMM_Run3_Step2_cfg.py
  SimG4Core/Configuration/test/ddd_ZMM_Run3_Step3_cfg.py
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, simulation-approved, tests-approved, urgent

#31412 Change Phase-2 geometry scenario from D41 to D49 in HBHE darkening analyzer
  CalibCalorimetry/HcalPlugins/test/hbhedarkeninganalyzer_cfg.py
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#31415 Fix sorting in TTUTrackingAlg
  L1Trigger/RPCTechnicalTrigger/interface/TTUTrackingAlg.h
  L1Trigger/RPCTechnicalTrigger/src/TTUTrackingAlg.cc
Labels: bug-fix, code-checks-approved, comparison-available, l1-pending, orp-approved, pending-signatures, tests-approved

#31400 chi2_vs_drj and pull_vs_pt validation plots
  SimTracker/TrackAssociation/python/trackingParticleRecoTrackAsssociation_cff.py
  SimTracker/TrackAssociatorProducers/plugins/TrackAssociatorByChi2Impl.cc
  Validation/RecoTrack/interface/MTVHistoProducerAlgoForTracker.h
  Validation/RecoTrack/python/MTVHistoProducerAlgoForTrackerBlock_cfi.py
  Validation/RecoTrack/python/PostProcessorTracker_cfi.py
  Validation/RecoTrack/python/TrackValidation_cff.py
  Validation/RecoTrack/python/associators_cff.py
  Validation/RecoTrack/python/plotting/trackingPlots.py
  Validation/RecoTrack/src/MTVHistoProducerAlgoForTracker.cc
  Validation/RecoTrack/test/MultiTrackValidator_cfg.py
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, simulation-approved, tests-approved, urgent

#31416 Fix sorting in TTUTrackingAlg (10_6_X)
  L1Trigger/RPCTechnicalTrigger/interface/TTUTrackingAlg.h
  L1Trigger/RPCTechnicalTrigger/src/TTUTrackingAlg.cc
Labels: backport-ok, bug-fix, comparison-pending, l1-pending, orp-approved, pending-signatures, tests-approved

#31408 Fix for Gauss3D in BeamMonitor
  DQM/BeamMonitor/plugins/Vx3DHLTAnalyzer.cc
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#31394 clean magField->nominalValue()
  RecoTracker/TrackProducer/src/TrackProducerAlgorithm.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#31370 move FFTJet.h header to reduce circular dependencies
  CondFormats/JetMETObjects/interface/FFTJet.h
  JetMETCorrections/FFTJetModules/plugins/FFTJetSealModule.cc
Labels: analysis-approved, code-checks-approved, comparison-available, db-approved, fully-signed, orp-approved, tests-approved

#31414 Improve SwitchProducer error message for inconsistent output products
  FWCore/Framework/src/Schedule.cc
  FWCore/Integration/test/SwitchProducer_t.cpp
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#31271 Shower shape variables for HF jets
  PhysicsTools/NanoAOD/python/jets_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
  PhysicsTools/PatAlgos/python/slimming/miniAOD_tools.py
  RecoJets/JetProducers/plugins/HFJetShowerShape.cc
  RecoJets/JetProducers/test/testJetTools_cfg.py
  RecoJets/JetProducers/test/testJetTools_onMiniAOD_cfg.py
Labels: analysis-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved, xpog-approved

#31328 HF noise event filter
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
  PhysicsTools/PatAlgos/python/slimming/metFilterPaths_cff.py
  RecoMET/METFilters/plugins/HFNoisyHitsFilter.cc
  RecoMET/METFilters/python/metFilters_cff.py
Labels: analysis-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved, xpog-approved

#31430 Fix sorting in TTUTrackingAlg (11_1_X)
  L1Trigger/RPCTechnicalTrigger/interface/TTUTrackingAlg.h
  L1Trigger/RPCTechnicalTrigger/src/TTUTrackingAlg.cc
Labels: backport-ok, bug-fix, comparison-available, l1-pending, orp-approved, pending-signatures, tests-approved

#31268 Add partition number in GEM trigger primitives
  DataFormats/GEMDigi/interface/GEMPadDigi.h
  DataFormats/GEMDigi/interface/GEMPadDigiCluster.h
  DataFormats/GEMDigi/src/GEMPadDigi.cc
  DataFormats/GEMDigi/src/GEMPadDigiCluster.cc
  DataFormats/GEMDigi/src/classes_def.xml
  Geometry/GEMGeometry/interface/GEMGeometry.h
  Geometry/GEMGeometry/src/GEMGeometry.cc
  L1Trigger/CSCTriggerPrimitives/src/CSCGEMMotherboard.cc
  L1Trigger/CSCTriggerPrimitives/src/GEMCoPadProcessor.cc
  L1Trigger/L1TGEM/plugins/GEMPadDigiClusterProducer.cc
  L1Trigger/L1TGEM/plugins/GEMPadDigiProducer.cc
  Validation/MuonGEMDigis/plugins/GEMPadDigiClusterValidation.cc
  Validation/MuonGEMDigis/plugins/GEMPadDigiValidation.cc
  Validation/MuonGEMDigis/src/GEMDigiMatcher.cc
Labels: code-checks-approved, comparison-available, dqm-approved, geometry-approved, l1-pending, orp-approved, pending-signatures, simulation-approved, tests-approved, upgrade-approved

#31397 Removed unused headers from FWCore/Utilities
  FWCore/Utilities/interface/PretendToUse.h
  FWCore/Utilities/interface/Verbosity.h
  FWCore/Utilities/interface/csa_assert.h
  FWCore/Utilities/interface/math.h
  FWCore/Utilities/interface/math_private.h
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#31431 Remove unused MVA parameters from GsfElectronProducer
  RecoEgamma/EgammaElectronAlgos/interface/GsfElectronAlgo.h
  RecoEgamma/EgammaElectronProducers/plugins/GsfElectronProducer.cc
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#31429 Update FWCore/ParameterSet headers
  FWCore/Integration/test/ProducerWithPSetDesc.cc
  FWCore/ParameterSet/interface/ParameterSet.h
  FWCore/ParameterSet/interface/getFixedSizeArray.h
  FWCore/ParameterSet/src/ANDGroupDescription.cc
  FWCore/ParameterSet/src/ANDGroupDescription.h
  FWCore/ParameterSet/src/FillDescriptionFromPSet.cc
  FWCore/ParameterSet/src/FillDescriptionFromPSet.h
  FWCore/ParameterSet/src/ORGroupDescription.cc
  FWCore/ParameterSet/src/ORGroupDescription.h
  FWCore/ParameterSet/src/ParameterDescription.cc
  FWCore/ParameterSet/src/ParameterDescriptionNode.cc
  FWCore/ParameterSet/src/ParameterSet.cc
  FWCore/ParameterSet/src/ParameterSetConverter.cc
  FWCore/ParameterSet/src/VParameterSetEntry.cc
  FWCore/ParameterSet/src/XORGroupDescription.cc
  FWCore/ParameterSet/src/XORGroupDescription.h
  FWCore/ParameterSet/src/split.h
  FWCore/ParameterSet/src/types.cc
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#31313 Remove use of deprecated tbb::task_scheduler_init from FWCore
  CondFormats/CSCObjects/test/testCSCMapping.cpp
  CondFormats/CSCObjects/test/testCSCTriggerMapping.cpp
  EventFilter/CSCTFRawToDigi/test/BuildFile.xml
  EventFilter/CSCTFRawToDigi/test/testCSCTFRawToDigi.cpp
  EventFilter/CSCTFRawToDigi/test/testCSCTFRawToDigi_cfg.py
  EventFilter/DTRawToDigi/test/testDTUnpackingModule.cc
  FWCore/Concurrency/interface/ThreadsController.h
  FWCore/Concurrency/interface/setNThreads.h
  FWCore/Concurrency/src/ThreadsController.cc
  FWCore/Concurrency/src/setNThreads.cc
  FWCore/Concurrency/test/TestTBB.cc
  FWCore/Framework/bin/cmsRun.cpp
  FWCore/Framework/bin/cmsRunPython3.cpp
  FWCore/Framework/src/Worker.cc
  FWCore/Framework/test/callback_t.cppunit.cc
  FWCore/Framework/test/dependentrecord_t.cppunit.cc
  FWCore/Framework/test/esproducer_t.cppunit.cc
  FWCore/Framework/test/eventsetup_t.cppunit.cc
  FWCore/Framework/test/fullchain_t.cppunit.cc
  FWCore/Framework/test/stubs/TestNThreadsChecker.cc
  FWCore/Integration/test/standalone_t.cppunit.cc
  FWCore/PythonFramework/src/PythonEventProcessor.cc
  FWCore/TestProcessor/interface/TestProcessor.h
  FWCore/TestProcessor/src/TestProcessor.cc
  FWCore/Utilities/test/RunningAverage_t.cpp
Labels: alca-approved, code-checks-approved, comparison-available, core-approved, db-approved, l1-pending, orp-approved, pending-signatures, reconstruction-approved, tests-approved

#31317 Clean BuildFiles in FastSimulation
  FastSimulation/CTPPSFastGeometry/BuildFile.xml
  FastSimulation/CTPPSFastTrackingProducer/plugins/BuildFile.xml
  FastSimulation/CTPPSRecHitProducer/plugins/BuildFile.xml
  FastSimulation/CTPPSSimHitProducer/plugins/BuildFile.xml
  FastSimulation/CaloGeometryTools/test/BuildFile.xml
  FastSimulation/Calorimetry/BuildFile.xml
  FastSimulation/Calorimetry/interface/CalorimetryManager.h
  FastSimulation/Calorimetry/plugins/BuildFile.xml
  FastSimulation/Calorimetry/src/CalorimetryManager.cc
  FastSimulation/Event/BuildFile.xml
  FastSimulation/EventProducer/BuildFile.xml
  FastSimulation/ForwardDetectors/plugins/BuildFile.xml
  FastSimulation/MaterialEffects/test/BuildFile.xml
  FastSimulation/MuonSimHitProducer/plugins/BuildFile.xml
  FastSimulation/Muons/plugins/BuildFile.xml
  FastSimulation/ParticleDecay/BuildFile.xml
  FastSimulation/ParticleDecay/plugins/BuildFile.xml
  FastSimulation/ShowerDevelopment/BuildFile.xml
  FastSimulation/SimplifiedGeometryPropagator/BuildFile.xml
  FastSimulation/SimplifiedGeometryPropagator/plugins/BuildFile.xml
  FastSimulation/TrackerSetup/plugins/BuildFile.xml
  FastSimulation/Tracking/BuildFile.xml
  FastSimulation/Tracking/plugins/BuildFile.xml
  FastSimulation/Tracking/test/BuildFile.xml
  FastSimulation/TrackingRecHitProducer/BuildFile.xml
  FastSimulation/TrackingRecHitProducer/plugins/BuildFile.xml
  FastSimulation/TrajectoryManager/BuildFile.xml
  FastSimulation/Validation/plugins/BuildFile.xml
  FastSimulation/Validation/test/BuildFile.xml
Labels: code-checks-approved, comparison-available, fastsim-approved, fully-signed, orp-approved, tests-approved

#31368 Clean BuildFiles in Geometry
  EgammaAnalysis/ElectronTools/plugins/BuildFile.xml
  EgammaAnalysis/ElectronTools/test/BuildFile.xml
  Geometry/CSCGeometry/test/BuildFile.xml
  Geometry/CSCGeometryBuilder/BuildFile.xml
  Geometry/CSCGeometryBuilder/plugins/BuildFile.xml
  Geometry/CaloEventSetup/BuildFile.xml
  Geometry/CaloEventSetup/plugins/BuildFile.xml
  Geometry/CaloEventSetup/test/BuildFile.xml
  Geometry/CaloTopology/BuildFile.xml
  Geometry/CommonTopologies/test/BuildFile.xml
  Geometry/DTGeometry/test/BuildFile.xml
  Geometry/DTGeometryBuilder/plugins/BuildFile.xml
  Geometry/EcalAlgo/plugins/BuildFile.xml
  Geometry/EcalAlgo/test/BuildFile.xml
  Geometry/EcalCommonData/test/BuildFile.xml
  Geometry/EcalMapping/plugins/BuildFile.xml
  Geometry/EcalTestBeam/plugins/BuildFile.xml
  Geometry/EcalTestBeam/test/BuildFile.xml
  Geometry/ForwardCommonData/plugins/BuildFile.xml
  Geometry/ForwardGeometry/BuildFile.xml
  Geometry/ForwardGeometry/plugins/BuildFile.xml
  Geometry/GEMGeometryBuilder/plugins/BuildFile.xml
  Geometry/GlobalTrackingGeometryBuilder/plugins/BuildFile.xml
  Geometry/GlobalTrackingGeometryBuilder/test/BuildFile.xml
  Geometry/HGCalCommonData/plugins/BuildFile.xml
  Geometry/HGCalGeometry/BuildFile.xml
  Geometry/HGCalGeometry/plugins/BuildFile.xml
  Geometry/HGCalGeometry/plugins/FastTimeGeometryESProducer.cc
  Geometry/HGCalGeometry/plugins/HGCalGeometryESProducer.cc
  Geometry/HGCalGeometry/test/BuildFile.xml
  Geometry/HcalAlgo/plugins/BuildFile.xml
  Geometry/HcalCommonData/test/BuildFile.xml
  Geometry/HcalEventSetup/BuildFile.xml
  Geometry/HcalTestBeamData/plugins/BuildFile.xml
  Geometry/HcalTowerAlgo/plugins/BuildFile.xml
  Geometry/HcalTowerAlgo/test/BuildFile.xml
  Geometry/MTDCommonData/BuildFile.xml
  Geometry/MTDGeometryBuilder/BuildFile.xml
  Geometry/MTDGeometryBuilder/plugins/BuildFile.xml
  Geometry/MTDNumberingBuilder/BuildFile.xml
  Geometry/MTDNumberingBuilder/plugins/BuildFile.xml
  Geometry/MuonCommonData/plugins/BuildFile.xml
  Geometry/MuonNumbering/plugins/BuildFile.xml
  Geometry/MuonNumbering/test/BuildFile.xml
  Geometry/RPCGeometryBuilder/plugins/BuildFile.xml
  Geometry/TrackerCommonData/plugins/BuildFile.xml
  Geometry/TrackerGeometryBuilder/plugins/BuildFile.xml
  Geometry/TrackerGeometryBuilder/test/BuildFile.xml
  Geometry/TrackerNumberingBuilder/BuildFile.xml
  Geometry/TrackerNumberingBuilder/plugins/BuildFile.xml
  Geometry/VeryForwardGeometry/BuildFile.xml
  Geometry/VeryForwardGeometryBuilder/BuildFile.xml
  Geometry/VeryForwardGeometryBuilder/plugins/BuildFile.xml
  Geometry/VeryForwardRPTopology/BuildFile.xml
  RecoHGCal/TICL/plugins/BuildFile.xml
  RecoPPS/Local/BuildFile.xml
  SimPPS/RPDigiProducer/plugins/BuildFile.xml
Labels: analysis-approved, code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, reconstruction-approved, simulation-approved, tests-approved, upgrade-approved

#31372 Remove FWLite dependency from PhysicsTools/UtilAlgos
  PhysicsTools/FWLite/interface/FWLiteAnalyzerWrapper.h
  PhysicsTools/PatExamples/bin/PatAnalysisTasksExercise.cc
  PhysicsTools/PatExamples/bin/PatMuonFWLiteAnalyzer.cc
  PhysicsTools/UtilAlgos/BuildFile.xml
  PhysicsTools/UtilAlgos/bin/BuildFile.xml
  PhysicsTools/UtilAlgos/bin/FWLiteWithBasicAnalyzer.cc
  PhysicsTools/UtilAlgos/interface/BasicAnalyzer.h
  PhysicsTools/UtilAlgos/interface/FWLiteFilterWrapper.h
Labels: analysis-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#31438 Migrate ESProducers in DetectorDescription from setConsumes() to type-deducing consumes()
  DetectorDescription/DDCMS/plugins/DDDetectorESProducer.cc
  DetectorDescription/DDCMS/plugins/DDSpecParRegistryESProducer.cc
  DetectorDescription/DDCMS/plugins/DDVectorRegistryESProducer.cc
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved

#31439 Migrate ESProducers in Fireworks from setConsumes() to type-deducing consumes()
  Fireworks/Geometry/plugins/TGeoMgrFromDdd.cc
  Fireworks/Geometry/src/FWRecoGeometryESProducer.cc
  Fireworks/Geometry/src/FWTGeoRecoGeometryESProducer.cc
Labels: code-checks-approved, comparison-notrun, fully-signed, orp-approved, tests-approved, visualization-approved

#31375 HCAL: slimmed collections with non-0 noise flags RecHits for miniAOD
  PhysicsTools/PatAlgos/python/slimming/MicroEventContent_cff.py
  PhysicsTools/PatAlgos/python/slimming/slimming_cff.py
  RecoLocalCalo/HcalRecProducers/python/HcalHitSelection_cfi.py
Labels: analysis-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#31432 addition of BadPFMuonDzFilter plot in nanoDQM_cfi
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
Labels: analysis-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved, xpog-approved

#31441 Added configurable wait time for external process communication
  FWCore/Integration/test/TestInterProcessProd.cc
  FWCore/Integration/test/TestInterProcessRandomProd.cc
  FWCore/SharedMemory/interface/ControllerChannel.h
  FWCore/SharedMemory/src/ControllerChannel.cc
  FWCore/SharedMemory/test/test_channels.cc
  GeneratorInterface/Core/plugins/ExternalGeneratorFilter.cc
  GeneratorInterface/Core/python/ExternalGeneratorFilter.py
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, generators-approved, orp-approved, tests-approved

#31444 Migrate CTPPSModifiedOpticalFunctionsESSource from setConsumes() to type-deducing consumes()
  Validation/CTPPS/plugins/CTPPSModifiedOpticalFunctionsESSource.cc
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#31402 update IT CPE conditions, post dual slope ToT activation (also for other T* geometries)
  Configuration/AlCa/python/autoCondPhase2.py
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#31452 Clean BuildFiles in Fireworks
  Fireworks/Calo/BuildFile.xml
  Fireworks/Calo/plugins/BuildFile.xml
  Fireworks/Core/BuildFile.xml
  Fireworks/Electrons/plugins/BuildFile.xml
  Fireworks/Eve/BuildFile.xml
  Fireworks/FWInterface/BuildFile.xml
  Fireworks/FWInterface/plugins/BuildFile.xml
  Fireworks/Geometry/BuildFile.xml
  Fireworks/Geometry/plugins/BuildFile.xml
  Fireworks/ParticleFlow/BuildFile.xml
  Fireworks/ParticleFlow/plugins/BuildFile.xml
  Fireworks/Tracks/BuildFile.xml
  Fireworks/Tracks/plugins/BuildFile.xml
  Fireworks/Vertices/BuildFile.xml
Labels: code-checks-approved, comparison-notrun, fully-signed, orp-approved, tests-approved, visualization-approved

#31446 HF shower shape fix for custom JME NanoAOD workflow
  PhysicsTools/NanoAOD/python/custom_jme_cff.py
Labels: analysis-pending, code-checks-approved, comparison-available, orp-approved, pending-signatures, tests-approved, xpog-approved

#31348 /validation/RecoEgamma/ # bins and ranges histos modifications.
  Validation/RecoEgamma/plugins/ElectronMcFakeValidator.cc
  Validation/RecoEgamma/plugins/ElectronMcFakeValidator.h
  Validation/RecoEgamma/plugins/ElectronMcSignalValidator.cc
  Validation/RecoEgamma/plugins/ElectronMcSignalValidator.h
  Validation/RecoEgamma/python/ElectronMcFakeValidator_gedGsfElectrons_cfi.py
  Validation/RecoEgamma/python/ElectronMcSignalValidatorPt1000_gedGsfElectrons_cfi.py
  Validation/RecoEgamma/python/ElectronMcSignalValidator_gedGsfElectrons_cfi.py
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#31411 Attempt to solve issue with ALCAHARVEST:SiPixelAli
  Alignment/CommonAlignmentProducer/plugins/AlignmentProducerAsAnalyzer.cc
  Alignment/CommonAlignmentProducer/plugins/AlignmentProducerAsAnalyzer.h
  Alignment/CommonAlignmentProducer/python/AlignmentProducerAsAnalyzer_cff.py
  Alignment/MillePedeAlignmentAlgorithm/plugins/MillePedeDQMModule.cc
  Alignment/MillePedeAlignmentAlgorithm/python/MillePedeDQMModule_cff.py
  DataFormats/Alignment/interface/AlignmentToken.h
  DataFormats/Alignment/src/classes.h
  DataFormats/Alignment/src/classes_def.xml
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#31087 addition of new MET filter BadPFMuonDzFilter_cfi.py in CMSSW_10_6_X : i.e. backport from 11_1_X of PR 30015 and 30974
  PhysicsTools/NanoAOD/python/extraflags_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
  PhysicsTools/PatAlgos/python/slimming/metFilterPaths_cff.py
  RecoMET/METFilters/plugins/BadParticleFilter.cc
  RecoMET/METFilters/python/BadChargedCandidateFilter_cfi.py
  RecoMET/METFilters/python/BadChargedCandidateSummer16Filter_cfi.py
  RecoMET/METFilters/python/BadPFMuonDzFilter_cfi.py
  RecoMET/METFilters/python/BadPFMuonFilter_cfi.py
  RecoMET/METFilters/python/BadPFMuonSummer16Filter_cfi.py
  RecoMET/METFilters/python/metFilters_cff.py
Labels: analysis-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved, xpog-approved

#31384 HCalTopology revision of HE-HF and HB-HE boundaries for |ieta|=16 and 29
  Geometry/CaloTopology/src/HcalTopology.cc
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved

#31428 Run4-hgx260 Bug fix to HGCal relevant mode for geometries beyond V12 geometry
  Geometry/HGCalCommonData/src/HGCalDDDConstants.cc
  Geometry/HGCalGeometry/test/HGCalWaferInFileTest.cc
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved, upgrade-approved

#31434 Fixed MUON System overlaps for DD4hep Scenario 2021
  Configuration/Geometry/python/dict2021Geometry.py
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021ZeroMaterial.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometry2021XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2021ZeroMaterialXML_cfi.py
  Geometry/MuonCommonData/data/muonYoke/2021/v4/muonYoke.xml
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved, upgrade-approved

#31455 add LogDebug to CandViewExtractor
  PhysicsTools/IsolationAlgos/BuildFile.xml
  PhysicsTools/IsolationAlgos/plugins/CandViewExtractor.icc
Labels: analysis-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved

#31458 Apply wait time in FWCore/SharedMemory to all waits
  FWCore/SharedMemory/src/ControllerChannel.cc
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#30885 remove ifdefs in DataFormats/Common
  DataFormats/Common/interface/DetSetVectorNew.h
  DataFormats/Common/src/classes_def.xml
  DataFormats/StdDictionaries/src/classes_def_others.xml
  DataFormats/StdDictionaries/src/classes_others.h
Labels: code-checks-approved, comparison-available, core-approved, fully-signed, orp-approved, tests-approved

#31295 Reorganization of kdtrees for PFBlockAlgo and optimize track-hcal links
  DataFormats/ParticleFlowReco/interface/PFBlockElement.h
  DataFormats/ParticleFlowReco/src/classes_def_2.xml
  HLTrigger/Configuration/python/customizeHLTforCMSSW.py
  RecoParticleFlow/PFClusterProducer/plugins/Basic2DClusterForEachSeed.cc
  RecoParticleFlow/PFClusterTools/src/LinkByRecHit.cc
  RecoParticleFlow/PFProducer/interface/KDTreeLinkerBase.h
  RecoParticleFlow/PFProducer/plugins/kdtrees/KDTreeLinkerPSEcal.cc
  RecoParticleFlow/PFProducer/plugins/kdtrees/KDTreeLinkerTrackEcal.cc
  RecoParticleFlow/PFProducer/plugins/kdtrees/KDTreeLinkerTrackHcal.cc
  RecoParticleFlow/PFProducer/plugins/linkers/ECALAndHCALLinker.cc
  RecoParticleFlow/PFProducer/plugins/linkers/PreshowerAndECALLinker.cc
  RecoParticleFlow/PFProducer/plugins/linkers/TrackAndECALLinker.cc
  RecoParticleFlow/PFProducer/plugins/linkers/TrackAndHCALLinker.cc
  RecoParticleFlow/PFProducer/python/particleFlowBlock_cfi.py
Labels: code-checks-approved, comparison-available, fully-signed, hlt-approved, orp-approved, reconstruction-approved, tests-approved

#31342 Fix deg to rad conversion in L1TkMuonProducer ("ManTra" version) for HLT TDR [11_1_X]
  L1Trigger/L1TTrackMatch/interface/L1TkMuCorrDynamicWindows.h
  L1Trigger/L1TTrackMatch/interface/L1TkMuMantra.h
  L1Trigger/L1TTrackMatch/plugins/L1TkMuonProducer.cc
  L1Trigger/L1TTrackMatch/src/L1TkMuCorrDynamicWindows.cc
  L1Trigger/L1TTrackMatch/src/L1TkMuMantra.cc
Labels: backport-ok, comparison-available, fully-signed, l1-approved, orp-approved, tests-approved, upgrade-approved

#31435 Fix L1T EG Phase2 Track match
  L1Trigger/L1TTrackMatch/interface/L1TkElectronTrackMatchAlgo.h
  L1Trigger/L1TTrackMatch/plugins/L1TkElectronTrackProducer.cc
  L1Trigger/L1TTrackMatch/python/L1TkElectronTrackProducer_cfi.py
  L1Trigger/L1TTrackMatch/src/L1TkElectronTrackMatchAlgo.cc
Labels: comparison-available, fully-signed, l1-approved, orp-approved, tests-approved, upgrade-approved

#31449 add missing descructor on OnlineDB/EcalCondDB class
  OnlineDB/EcalCondDB/interface/ITimeIOV.h
Labels: code-checks-approved, comparison-available, db-approved, fully-signed, orp-approved, tests-approved

#31450 Run3-sim74 Add a new particle gun to simulate single hadrons with admixture of pi/k/p and antiparticles with defined probabilities
  IOMC/ParticleGuns/interface/FileRandomMultiParticlePGunProducer.h
  IOMC/ParticleGuns/src/FileRandomMultiParticlePGunProducer.cc
  IOMC/ParticleGuns/src/FlatRandomMultiParticlePGunProducer.cc
  IOMC/ParticleGuns/src/SealModule.cc
  SimG4CMS/Calo/data/tableProb2018.txt
  SimG4CMS/Calo/test/python/run2018Step1_cfg.py
Labels: code-checks-approved, comparison-available, fully-signed, generators-approved, orp-approved, simulation-approved, tests-approved

#31437 Migrate ESProducers in Calib* and Cond* from setConsumes() to type-deducing consumes()
  CalibCalorimetry/CaloTPG/plugins/CaloTPGTranscoderULUTs.cc
  CalibCalorimetry/CastorCalib/plugins/CastorDbProducer.cc
  CalibCalorimetry/EcalLaserCorrection/plugins/EcalLaserCorrectionService.cc
  CalibCalorimetry/EcalLaserCorrection/plugins/EcalLaserCorrectionServiceMC.cc
  CalibCalorimetry/HcalPlugins/src/HcalDbProducer.cc
  CalibCalorimetry/HcalPlugins/src/HcalHardcodeCalibrations.cc
  CalibCalorimetry/HcalPlugins/src/HcalTextCalibrations.cc
  CalibCalorimetry/HcalTPGEventSetup/src/HcalTPGCoderULUT.cc
  CalibPPS/ESProducers/plugins/CTPPSBeamParametersFromLHCInfoESSource.cc
  CalibPPS/ESProducers/plugins/CTPPSInterpolatedOpticalFunctionsESSource.cc
  CalibTracker/SiPhase2TrackerESProducers/plugins/SiPhase2OuterTrackerFakeLorentzAngleESSource.cc
  CalibTracker/SiPixelESProducers/plugins/PixelFEDChannelCollectionProducer.cc
  CalibTracker/SiPixelESProducers/plugins/SiPixel2DTemplateDBObjectESProducer.cc
  CalibTracker/SiPixelESProducers/plugins/SiPixelGenErrorDBObjectESProducer.cc
  CalibTracker/SiPixelESProducers/plugins/SiPixelQualityESProducer.cc
  CalibTracker/SiPixelESProducers/plugins/SiPixelTemplateDBObjectESProducer.cc
  CalibTracker/SiStripCommon/plugins/TkDetMapESProducer.cc
  CalibTracker/SiStripESProducers/plugins/fake/SiStripBackPlaneCorrectionFakeESSource.cc
  CalibTracker/SiStripESProducers/plugins/fake/SiStripBadModuleConfigurableFakeESSource.cc
  CalibTracker/SiStripESProducers/plugins/fake/SiStripHashedDetIdFakeESSource.cc
  CalibTracker/SiStripESProducers/plugins/fake/SiStripLorentzAngleFakeESSource.cc
  CalibTracker/SiStripESProducers/plugins/fake/SiStripNoisesFakeESSource.cc
  CalibTracker/SiStripESProducers/plugins/geom/SiStripConnectivity.cc
  CalibTracker/SiStripESProducers/plugins/geom/SiStripHashedDetIdESModule.cc
  CalibTracker/SiStripESProducers/plugins/geom/SiStripRegionConnectivity.cc
  CalibTracker/SiStripESProducers/plugins/real/SiStripQualityESProducer.cc
  CondTools/Hcal/interface/BufferedBoostIOESProducer.h
  CondTools/L1TriggerExt/interface/L1ConfigOnlineProdBaseExt.h
  CondTools/L1TriggerExt/interface/L1ObjectKeysOnlineProdBaseExt.h
  CondTools/L1TriggerExt/plugins/L1TriggerKeyOnlineProdExt.cc
  CondTools/L1TriggerExt/src/L1ObjectKeysOnlineProdBaseExt.cc
Labels: alca-approved, code-checks-approved, comparison-available, db-approved, fully-signed, l1-approved, orp-approved, tests-approved, upgrade-approved

#31453 PPS: direct simulation with xangle distributions
  CalibPPS/ESProducers/plugins/CTPPSLHCInfoESSource.cc
  CalibPPS/ESProducers/plugins/CTPPSLHCInfoRandomXangleESSource.cc
  Validation/CTPPS/plugins/CTPPSProtonReconstructionSimulationValidator.cc
  Validation/CTPPS/python/simu_config/base_cff.py
  Validation/CTPPS/python/simu_config/year_2016_postTS2_cff.py
  Validation/CTPPS/python/simu_config/year_2016_preTS2_cff.py
  Validation/CTPPS/python/simu_config/year_2017_postTS2_cff.py
  Validation/CTPPS/python/simu_config/year_2017_preTS2_cff.py
  Validation/CTPPS/python/simu_config/year_2018_TS1_TS2_cff.py
  Validation/CTPPS/python/simu_config/year_2018_postTS2_cff.py
  Validation/CTPPS/python/simu_config/year_2018_preTS1_cff.py
Labels: alca-approved, code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#31376 Adding TkAlMaps (tracker map plots for alignment validation)
  Alignment/OfflineValidation/python/DivergingColor.py
  Alignment/OfflineValidation/python/TkAlAllInOneTool/geometryComparison.py
  Alignment/OfflineValidation/python/TkAlMap.py
  Alignment/OfflineValidation/python/TkAlMap_cfg/TkAlMapDesign_phase0_cfg.py
  Alignment/OfflineValidation/python/TkAlMap_cfg/TkAlMapDesign_phase1_cfg.py
  Alignment/OfflineValidation/python/runGCPTkAlMap.py
Labels: alca-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, requires-external, tests-approved

#31383 CTPPS Sim and Reco: Change of paradigm: oldDD and DD4hep in parallel
  CondFormats/GeometryObjects/interface/PDetGeomDesc.h
  CondTools/Geometry/plugins/BuildFile.xml
  CondTools/Geometry/plugins/PPSGeometryBuilder.cc
  CondTools/Geometry/test/ppsgeometrywriter_DD4hep.py
  CondTools/Geometry/test/ppsgeometrywriter_oldDD.py
  DQM/CTPPS/plugins/CTPPSDiamondDQMSource.cc
  DQM/CTPPS/plugins/TotemTimingDQMSource.cc
  DetectorDescription/DDCMS/interface/DDFilteredView.h
  Geometry/VeryForwardData/data/CTPPS_Pixel_Module_2x2.xml
  Geometry/VeryForwardData/data/CTPPS_Pixel_Module_2x2/v1/CTPPS_Pixel_Module_2x2.xml
  Geometry/VeryForwardData/data/CTPPS_Pixel_Sens.xml
  Geometry/VeryForwardGeometry/data/dd4hep/empty.xml
  Geometry/VeryForwardGeometry/data/dd4hep/geometryPPS_CMSxz_fromDD_2016.xml
  Geometry/VeryForwardGeometry/data/dd4hep/geometryPPS_CMSxz_fromDD_2017.xml
  Geometry/VeryForwardGeometry/data/dd4hep/geometryPPS_CMSxz_fromDD_2018.xml
  Geometry/VeryForwardGeometry/data/dd4hep/geometryRPFromDD_2017.xml
  Geometry/VeryForwardGeometry/data/dd4hep/geometryRPFromDD_2018.xml
  Geometry/VeryForwardGeometry/python/dd4hep/geometryPPS_CMSxz_fromDD_2016_cfi.py
  Geometry/VeryForwardGeometry/python/dd4hep/geometryPPS_CMSxz_fromDD_2017_cfi.py
  Geometry/VeryForwardGeometry/python/dd4hep/geometryPPS_CMSxz_fromDD_2018_cfi.py
  Geometry/VeryForwardGeometry/python/dd4hep/geometryRPFromDB_cfi.py
  Geometry/VeryForwardGeometry/python/dd4hep/geometryRPFromDD_2017_cfi.py
  Geometry/VeryForwardGeometry/python/dd4hep/geometryRPFromDD_2018_cfi.py
  Geometry/VeryForwardGeometry/python/geometryIdealPPSFromDD_2016_cfi.py
  Geometry/VeryForwardGeometry/python/geometryIdealPPSFromDD_2017_cfi.py
  Geometry/VeryForwardGeometry/python/geometryIdealPPSFromDD_2018_cfi.py
  Geometry/VeryForwardGeometryBuilder/BuildFile.xml
  Geometry/VeryForwardGeometryBuilder/interface/CTPPSDDDNames.h
  Geometry/VeryForwardGeometryBuilder/interface/CTPPSGeometry.h
  Geometry/VeryForwardGeometryBuilder/interface/DetGeomDesc.h
  Geometry/VeryForwardGeometryBuilder/interface/DetGeomDescBuilder.h
  Geometry/VeryForwardGeometryBuilder/plugins/BuildFile.xml
  Geometry/VeryForwardGeometryBuilder/plugins/CTPPSGeometryESModule.cc
  Geometry/VeryForwardGeometryBuilder/src/CTPPSGeometry.cc
  Geometry/VeryForwardGeometryBuilder/src/DetGeomDesc.cc
  Geometry/VeryForwardGeometryBuilder/src/DetGeomDescBuilder.cc
  Geometry/VeryForwardGeometryBuilder/test/print_geometry_info_XML_DD4hep_cfg.py
  Geometry/VeryForwardGeometryBuilder/test/print_geometry_info_XML_oldDD_cfg.py
  RecoPPS/Local/src/CTPPSDiamondRecHitProducerAlgorithm.cc
  RecoPPS/Local/src/TotemTimingRecHitProducerAlgorithm.cc
  SimPPS/RPDigiProducer/plugins/RPDisplacementGenerator.cc
  SimPPS/RPDigiProducer/plugins/RPDisplacementGenerator.h
  Validation/CTPPS/plugins/CTPPSDirectProtonSimulation.cc
Labels: alca-approved, code-checks-approved, comparison-available, db-approved, dqm-approved, fully-signed, geometry-approved, orp-approved, reconstruction-approved, simulation-approved, tests-approved, urgent

#31374 Update dummy emap to include layers 3-6 of GE0
  CondFormats/GEMObjects/src/GEMeMap.cc
  DataFormats/MuonDetId/interface/GEMSubDetId.h
Labels: code-checks-approved, comparison-available, db-approved, fully-signed, orp-approved, simulation-approved, tests-approved

#31468 Aperture cuts fix for direct simulation period 2016_postTS2
  Validation/CTPPS/python/simu_config/year_2016_postTS2_cff.py
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#31454 [DD4hep] Start Core Code Cleanup
  DetectorDescription/DDCMS/interface/DDAlgoArguments.h
  DetectorDescription/DDCMS/interface/DDCompactView.h
  DetectorDescription/DDCMS/interface/DDDetector.h
  DetectorDescription/DDCMS/interface/DDExpandedView.h
  DetectorDescription/DDCMS/interface/DDFilteredView.h
  DetectorDescription/DDCMS/interface/DDTranslation.h
  DetectorDescription/DDCMS/interface/DDVolumeProcessor.h
  DetectorDescription/DDCMS/plugins/DDCMSDetector.cc
  DetectorDescription/DDCMS/plugins/test/DDTestNavigateGeometry.cc
  DetectorDescription/DDCMS/src/DDDetector.cc
  DetectorDescription/DDCMS/src/DDFilteredView.cc
  DetectorDescription/DDCMS/test/BuildFile.xml
  DetectorDescription/DDCMS/test/DDExpandedView.cppunit.cc
  DetectorDescription/DDCMS/test/python/testDDDetectorESProducer.py
  DetectorDescription/DDCMS/test/python/testNavigateGeometry.py
  Geometry/EcalAlgo/test/python/testEcalGeometry.py
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved

#31476 Initialize vars to nullptr in HTXSRivetProducer, fix #31474
  GeneratorInterface/RivetInterface/plugins/HTXSRivetProducer.cc
Labels: code-checks-approved, comparison-available, fully-signed, generators-approved, orp-approved, tests-approved

#31463 dependency cleanup in PhysicsTools/UtilAlgos and GeneratorInterface/ExternalDecays
  GeneratorInterface/ExternalDecays/BuildFile.xml
  PhysicsTools/UtilAlgos/BuildFile.xml
Labels: analysis-approved, code-checks-approved, comparison-available, fully-signed, generators-approved, orp-approved, tests-approved

#31445 Clean BuildFiles in JetMETCorrections
  JetMETCorrections/Algorithms/BuildFile.xml
  JetMETCorrections/FFTJetModules/plugins/BuildFile.xml
  JetMETCorrections/FFTJetObjects/BuildFile.xml
  JetMETCorrections/IsolatedParticles/test/BuildFile.xml
  JetMETCorrections/JetCorrector/BuildFile.xml
  JetMETCorrections/JetParton/BuildFile.xml
  JetMETCorrections/JetVertexAssociation/test/BuildFile.xml
  JetMETCorrections/MCJet/BuildFile.xml
  JetMETCorrections/Modules/BuildFile.xml
  JetMETCorrections/Modules/plugins/BuildFile.xml
  JetMETCorrections/Objects/BuildFile.xml
  JetMETCorrections/TauJet/BuildFile.xml
  JetMETCorrections/TauJet/plugins/BuildFile.xml
  JetMETCorrections/Type1MET/BuildFile.xml
  JetMETCorrections/Type1MET/plugins/BuildFile.xml
Labels: analysis-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#31477 Added configurable wait time for external process communication (10_6_X backport)
  FWCore/Integration/test/TestInterProcessProd.cc
  FWCore/Integration/test/TestInterProcessRandomProd.cc
  FWCore/SharedMemory/interface/ControllerChannel.h
  FWCore/SharedMemory/src/ControllerChannel.cc
  FWCore/SharedMemory/test/test_channels.cc
  GeneratorInterface/Core/plugins/ExternalGeneratorFilter.cc
  GeneratorInterface/Core/python/ExternalGeneratorFilter.py
Labels: comparison-available, core-approved, fully-signed, generators-approved, orp-approved, tests-approved

#31478 Added configurable wait time for external process communication (11_1_X backport)
  FWCore/Integration/test/TestInterProcessProd.cc
  FWCore/Integration/test/TestInterProcessRandomProd.cc
  FWCore/SharedMemory/interface/ControllerChannel.h
  FWCore/SharedMemory/src/ControllerChannel.cc
  FWCore/SharedMemory/test/test_channels.cc
  GeneratorInterface/Core/plugins/ExternalGeneratorFilter.cc
  GeneratorInterface/Core/python/ExternalGeneratorFilter.py
Labels: comparison-available, core-approved, fully-signed, generators-approved, orp-approved, tests-approved

#31473 HcalDQM - Separating HO and HB in depth plots
  DQM/HcalCommon/src/HashFunctions.cc
Labels: code-checks-approved, comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#31284 [10_6_X] Adding TkAlMaps (tracker map plots for alignment validation)
  Alignment/OfflineValidation/python/DivergingColor.py
  Alignment/OfflineValidation/python/TkAlAllInOneTool/geometryComparison.py
  Alignment/OfflineValidation/python/TkAlMap.py
  Alignment/OfflineValidation/python/TkAlMap_cfg/TkAlMapDesign_phase0_cfg.py
  Alignment/OfflineValidation/python/TkAlMap_cfg/TkAlMapDesign_phase1_cfg.py
  Alignment/OfflineValidation/python/runGCPTkAlMap.py
Labels: alca-approved, backport-ok, comparison-available, fully-signed, orp-approved, requires-external, tests-approved

#30922 Enabling re-application of Type1 Corrections for PuppiMET and adding PUPPI MET Uncertainties
  PhysicsTools/NanoAOD/python/met_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
  PhysicsTools/NanoAOD/python/nano_cff.py
Labels: analysis-approved, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved, xpog-approved

#31413 HF Noise Event Filter 106X backport
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
  PhysicsTools/PatAlgos/python/slimming/metFilterPaths_cff.py
  RecoMET/METFilters/plugins/HFNoisyHitsFilter.cc
  RecoMET/METFilters/python/metFilters_cff.py
Labels: analysis-approved, backport-ok, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved, xpog-approved

#31293 fixed typo for recHitEE_
  PhysicsTools/NanoAOD/plugins/EGMSeedGainProducer.cc
Labels: analysis-approved, bug-fix, code-checks-approved, comparison-available, fully-signed, orp-approved, tests-approved, xpog-approved

#31440 Migrate ESProducers in GeometryReaders from setConsumes() to type-deducing consumes()
  GeometryReaders/XMLIdealGeometryESSource/src/XMLIdealGeometryESProducer.cc
Labels: code-checks-approved, comparison-available, fully-signed, geometry-approved, orp-approved, tests-approved

#31486 move Egamma related dictionaries to package where class is defined
  DataFormats/CaloRecHit/src/classes_def.xml
  DataFormats/EgammaReco/src/classes_def.xml
  DataFormats/EgammaTrackReco/src/classes_def.xml
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#31472 Add Reco and HARVEST FakeHLT steps
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, pdmv-approved, tests-approved, upgrade-approved

#31485 make multilinks transient
  DataFormats/ParticleFlowReco/src/classes_def_2.xml
Labels: code-checks-approved, comparison-available, fully-signed, orp-approved, reconstruction-approved, tests-approved

#31479 HcalDQM - Separating HO and HB in depth plots (11_1_X backport)
  DQM/HcalCommon/src/HashFunctions.cc
Labels: comparison-available, dqm-approved, fully-signed, orp-approved, tests-approved

#31491 add missing dependency to GeneratorInterface/GenFilters
  GeneratorInterface/GenFilters/plugins/BuildFile.xml
Labels: code-checks-approved, comparison-available, fully-signed, generators-approved, orp-approved, tests-approved

#31488 Clean BuildFiles in GeneratorInterface part 2
  GeneratorInterface/AlpgenInterface/plugins/BuildFile.xml
  GeneratorInterface/CascadeInterface/plugins/BuildFile.xml
  GeneratorInterface/Core/bin/BuildFile.xml
  GeneratorInterface/EvtGenInterface/plugins/BuildFile.xml
  GeneratorInterface/GenFilters/plugins/BuildFile.xml
  GeneratorInterface/LHEInterface/test/BuildFile.xml
  GeneratorInterface/PhotosInterface/plugins/BuildFile.xml
  GeneratorInterface/PomwigInterface/test/SDDijetsAnalyzer.cc
  GeneratorInterface/TauolaInterface/plugins/BuildFile.xml
Labels: code-checks-approved, comparison-available, fully-signed, generators-approved, orp-approved, tests-approved
