Repository cms-sw/cmssw, pull requests merged in 2021-11, with the labels that each got.

#35918 [12_0_X] Improve DQM beamspot clients
  DQM/Integration/python/clients/beam_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamhlt_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, urgent

#35915 Fix the Patatrack pixel local reconstruction running on CPU
  HLTrigger/Configuration/python/customizeHLTforPatatrack.py
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, requires-external, code-checks-approved

#35902 Update customisePixelL1ClusterThresholdForRun2Input to adjust also the GPU producer [12.1.x]
  HLTrigger/Configuration/python/customizeHLTforCMSSW.py
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, requires-external, backport-ok

#35862 Move Phase2 wf in the short matrix to D77
  Configuration/PyReleaseValidation/python/relval_2026.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/PyReleaseValidation/scripts/runTheMatrix.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#35925 Phase2-hgx293Y Add a test to verify the list of Valid DetId and their corners
  Geometry/HGCalGeometry/test/HGCalValidTest.cc
  Geometry/HGCalGeometry/test/python/testHGCalValidTest_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, requires-external, code-checks-approved

#35921 fix for `TestDQMServicesDemo` unit test
  DQMServices/Components/scripts/dqmiodumpmetadata.py
  DQMServices/Components/scripts/dqmiolistmes.py
  DQMServices/Demo/test/runtests.sh
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, requires-external, code-checks-approved

#35930 fix for `TestDQMServicesDemo` unit test [12.1.X]
  DQMServices/Components/scripts/dqmiodumpmetadata.py
  DQMServices/Components/scripts/dqmiolistmes.py
  DQMServices/Demo/test/runtests.sh
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport

#35916 Fix the Patatrack pixel local reconstruction running on CPU
  HLTrigger/Configuration/python/customizeHLTforPatatrack.py
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, requires-external, backport-ok

#35894 Fix for multiprocessing in RecoTrack Validation script [12.1.X]
  Validation/RecoTrack/python/plotting/plotting.py
  Validation/RecoTrack/python/plotting/validation.py
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, requires-external, backport-ok

#35942 Changes to OnlineBeamMonitor DQM client and plugin
  DQM/BeamMonitor/plugins/OnlineBeamMonitor.cc
  DQM/Integration/python/clients/onlinebeammonitor_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#35330 add genfragment for Chi_b -> Y(1S)Gamma and Chi_c -> J/psiGamma
  Configuration/Generator/python/Chib1PToUpsilon1SGamma_MuFilter_TuneCP5_14TeV-pythia8_evtgen_cfi.py
  Configuration/Generator/python/ChicToJpsiGamma_MuFilter_TuneCP5_14TeV_pythia8_evtgen_cfi.py
Labels: generators-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35926 Removed obsolete SIM classes and updated few obsolete interfaces
  Alignment/LaserAlignmentSimulation/src/LaserOpticalPhysicsList.cc
  SimG4Core/PhysicsLists/interface/CMSHadronPhysicsFTFP_BERT106.h
  SimG4Core/PhysicsLists/interface/CMSHyperonFTFPBuilder.h
  SimG4Core/PhysicsLists/interface/CMSmplIonisation.h
  SimG4Core/PhysicsLists/interface/CMSmplIonisationWithDeltaModel.h
  SimG4Core/PhysicsLists/src/CMSHadronPhysicsFTFP_BERT106.cc
  SimG4Core/PhysicsLists/src/CMSHyperonFTFPBuilder.cc
  SimG4Core/PhysicsLists/src/CMSMonopolePhysics.cc
  SimG4Core/PhysicsLists/src/CMSmplIonisation.cc
  SimG4Core/PhysicsLists/src/CMSmplIonisationWithDeltaModel.cc
  SimG4Core/PhysicsLists/src/MonopoleTransportation.cc
Labels: alca-approved, simulation-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#35662 Template PFTowers to run on packedCandidates
  PhysicsTools/PatAlgos/python/producersHeavyIons/heavyIonJets_cff.py
  RecoHI/HiJetAlgos/plugins/ParticleTowerProducer.cc
  RecoHI/HiJetAlgos/python/HiRecoPFJets_cff.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35920 Include reduced material DD4HEP geometry scenarios in Run-3 MC GTs
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#35943 Improve BeamSpotOnlineWriter plugin in `CondTools`
  CondTools/BeamSpot/plugins/BeamSpotOnlineRecordsWriter.cc
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, requires-external, code-checks-approved

#35931 [Tracker Alignment] remove `getByLabel` and allow to fetch vertex collection from configuration
  Alignment/OfflineValidation/plugins/DMRChecker.cc
  Alignment/OfflineValidation/plugins/GeneralPurposeTrackAnalyzer.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35896 customize `OnlineBeamSpotESProducer` inputs to be refreshed at each LS in online DQM
  DQM/Integration/python/config/FrontierCondition_GT_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#35898 Fix era for DQM BeamSpot clients
  DQM/Integration/python/clients/beam_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamfake_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamhlt_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamhltfake_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#35950 use LogDebug instead of edm::LogInfo for PixelCPEGeneric
  RecoLocalTracker/SiPixelRecHits/src/PixelCPEGeneric.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35932 Improve DQM beamspot clients
  DQM/Integration/python/clients/beam_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamhlt_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-started, orp-approved, requires-external, code-checks-approved

#35940 Removing obsolete code from CaloLayer1Setup
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/CaloLayer1Setup.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, urgent, requires-external, code-checks-approved

#35903 Fixed bug which was crashing ROOT in fitting empty histograms
  DQM/BeamMonitor/plugins/Vx3DHLTAnalyzer.cc
  DQM/Integration/python/clients/beampixel_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#35941 PPS: association cut fix
  CondCore/CTPPSPlugins/src/plugin.cc
  CondFormats/PPSObjects/interface/PPSAssociationCuts.h
  CondFormats/PPSObjects/src/PPSAssociationCuts.cc
Labels: alca-approved, fully-signed, tests-approved, db-approved, bug-fix, orp-approved, urgent, requires-external, code-checks-approved

#35944 add SOI check to HBHEPhase1Reconstructor
  RecoLocalCalo/HcalRecProducers/src/HBHEPhase1Reconstructor.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35895 add `process.runType.commissioning_run` in the supported types of `beampixel_dqm_sourceclient-live` [12.1.X]
  DQM/Integration/python/clients/beampixel_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, requires-external, backport-ok

#35881 Duplicate file descriptor closure in DQMFileSaverPB fix
  DQMServices/FileIO/plugins/DQMFileSaverPB.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35877 L1T - remove message from unexpected CTP7 firmware ID (backport )
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/CaloLayer1Setup.cc
Labels: l1-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, backport

#35934 [Tracker Alignment] remove `getByLabel` and allow to fetch vertex collection from configuration (12.0.X)
  Alignment/OfflineValidation/plugins/DMRChecker.cc
  Alignment/OfflineValidation/plugins/GeneralPurposeTrackAnalyzer.cc
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#35933 [Tracker Alignment] remove `getByLabel` and allow to fetch vertex collection from configuration (12.1.X)
  Alignment/OfflineValidation/plugins/DMRChecker.cc
  Alignment/OfflineValidation/plugins/GeneralPurposeTrackAnalyzer.cc
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, requires-external, backport-ok

#35935 [12_1_X] Improve DQM beamspot clients
  DQM/Integration/python/clients/beam_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamhlt_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, requires-external, backport-ok

#35900 Fix era for DQM BeamSpot clients [12_1_X]
  DQM/Integration/python/clients/beam_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamfake_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamhlt_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamhltfake_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, requires-external, backport-ok

#35724 Producer and filter for jet timing trigger
  HLTrigger/JetMET/plugins/HLTJetTimingFilter.cc
  HLTrigger/JetMET/plugins/HLTJetTimingFilter.h
  HLTrigger/JetMET/plugins/HLTJetTimingProducer.cc
  HLTrigger/JetMET/plugins/HLTJetTimingProducer.h
  HLTrigger/JetMET/test/hltCaloJetTimingFilter_cfg.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#35957 add `makeTrackValidationPlots` test unit
  Validation/RecoTrack/test/BuildFile.xml
  Validation/RecoTrack/test/TestDriver.cpp
  Validation/RecoTrack/test/test_makeTrackValidationPlots.sh
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35956 Add stub of `DropBoxMetadata` payload inspector
  CondCore/AlignmentPlugins/plugins/TrackerAlignment_PayloadInspector.cc
  CondCore/HLTPlugins/plugins/AlCaRecoTriggerBits_PayloadInspector.cc
  CondCore/PhysicsToolsPlugins/interface/DropBoxMetaDataPayloadInspectorHelper.h
  CondCore/PhysicsToolsPlugins/plugins/BuildFile.xml
  CondCore/PhysicsToolsPlugins/plugins/DropBoxMetadata_PayloadInspector.cc
  CondCore/PhysicsToolsPlugins/test/BuildFile.xml
  CondCore/PhysicsToolsPlugins/test/test_DropBoxMetadata_PayloadInspector.cpp
  CondCore/PhysicsToolsPlugins/test/test_DropBoxMetadata_PayloadInspector.sh
  CondFormats/Common/interface/DropBoxMetadata.h
  CondFormats/Common/src/DropBoxMetadata.cc
Labels: alca-approved, hlt-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#35961 Run3-gex97 Add a coorected version of TotemTiming_Station.xml
  Geometry/VeryForwardData/data/TotemTiming/v1/TotemTiming_Station.xml
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35848 Use esConsumes in L1ExtraDQM
  DQM/L1TMonitor/interface/L1ExtraDQM.h
  DQM/L1TMonitor/src/L1ExtraDQM.cc
  L1Trigger/GlobalTriggerAnalyzer/interface/L1GetHistLimits.h
  L1Trigger/GlobalTriggerAnalyzer/src/L1GetHistLimits.cc
Labels: dqm-approved, l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35963 Run3-hcx326X Make use of a version of EDAnalyzer to meet multithreaded application in some Hcal codes for calibration
  CalibCalorimetry/HcalPlugins/test/HcalDbAnalyzer.cc
  CalibCalorimetry/HcalTPGIO/src/HcalLuttoDB.cc
  Calibration/HcalConnectivity/src/HcalCableMapper.cc
Labels: alca-approved, l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35952 Updates on summary plot of GEM onlineDQM
  DQM/GEM/interface/GEMDAQStatusSource.h
  DQM/GEM/plugins/GEMDAQStatusSource.cc
  DQM/GEM/plugins/GEMDQMHarvester.cc
  DQM/GEM/plugins/GEMRecHitSource.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35908 Fixed bug which was crashing ROOT in fitting empty histograms
  DQM/BeamMonitor/plugins/Vx3DHLTAnalyzer.cc
  DQM/Integration/python/clients/beampixel_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#35878 Drop tests for py3-hyperas, nose, rep and hyperopt
  PhysicsTools/PythonAnalysis/test/BuildFile.xml
Labels: analysis-pending, pending-signatures, tests-approved, orp-approved, code-checks-approved

#35955 mitigate high CPU cost of HBHE hit position calculation in EgammaHcalIsolation
  RecoEgamma/EgammaIsolationAlgos/interface/EgammaHcalIsolation.h
  RecoEgamma/EgammaIsolationAlgos/src/EgammaHcalIsolation.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35882 Duplicate file descriptor closure in DQMFileSaverPB fix (backport)
  DQMServices/FileIO/plugins/DQMFileSaverPB.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved

#35964 Run3-hcx326Y Try to use one/EDAnalyzer in some testing codes of HCAL
  DataFormats/HcalDigi/test/HcalDigiDump.cc
  IORawData/HcalTBInputService/plugins/HcalTBWriter.h
  RecoTBCalo/HcalPlotter/src/HcalQLPlotAnal.cc
  TBDataFormats/HcalTBObjects/test/HcalTBObjectDump.cc
Labels: analysis-pending, alca-approved, reconstruction-approved, simulation-approved, pending-signatures, tests-approved, orp-approved, code-checks-approved

#35971 small technical updates to HLTJetTiming{Filter,Producer}
  HLTrigger/JetMET/plugins/BuildFile.xml
  HLTrigger/JetMET/plugins/HLTJetTimingFilter.cc
  HLTrigger/JetMET/plugins/HLTJetTimingFilter.h
  HLTrigger/JetMET/plugins/HLTJetTimingProducer.cc
  HLTrigger/JetMET/plugins/HLTJetTimingProducer.h
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35892 expand tracker-driven coverage for electron seeds; jetCore mitigation
  RecoParticleFlow/PFProducer/src/PFEGammaAlgo.cc
  RecoParticleFlow/PFTracking/plugins/ElectronSeedMerger.cc
  RecoParticleFlow/PFTracking/plugins/GoodSeedProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35865 TkDQM: PixelPhase1 Summary plots
  DQM/SiPixelPhase1Summary/interface/SiPixelPhase1Summary.h
  DQM/SiPixelPhase1Summary/python/SiPixelPhase1Summary_cfi.py
  DQM/SiPixelPhase1Summary/src/SiPixelPhase1Summary.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35945 Phase2-hgx294 Update the longitudinal structure for the V16 (D86) geometry of HGCal
  Geometry/HGCalCommonData/data/dd4hep/cms-test-ddhgcalwaferF-algorithm.xml
  Geometry/HGCalCommonData/data/dd4hep/cms-test-ddhgcalwaferP-algorithm.xml
  Geometry/HGCalCommonData/data/hgcal/v16/hgcal.xml
  Geometry/HGCalCommonData/data/hgcalEE/v16/hgcalEE.xml
  Geometry/HGCalCommonData/data/hgcalHEmix/v16/hgcalHEmix.xml
  Geometry/HGCalCommonData/data/hgcalHEsil/v16/hgcalHEsil.xml
  Geometry/HGCalCommonData/data/hgcalMaterial/v2/hgcalMaterial.xml
  Geometry/HGCalCommonData/data/hgcalcell/v16/hgcal.xml
  Geometry/HGCalCommonData/data/hgcalwafer/v15f/hgcal.xml
  Geometry/HGCalCommonData/data/hgcalwafer/v15p/hgcal.xml
  Geometry/HGCalCommonData/data/hgcalwafer/v16/hgcal.xml
  Geometry/HGCalCommonData/data/hgcalwafer/v16/hgcalwafer.xml
  Geometry/HGCalCommonData/plugins/DDHGCalMixLayer.cc
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalMixLayer.cc
  Geometry/HGCalCommonData/python/testHGCalWaferFXML_cfi.py
  Geometry/HGCalCommonData/python/testHGCalWaferPXML_cfi.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#35980 Removing obsolete code from CaloLayer1Setup - 12_1_X
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/CaloLayer1Setup.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, backport-ok

#35984 Fixing memory bug in GsfElectronProducer
  RecoEgamma/EgammaElectronProducers/plugins/GsfElectronProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35958 expand tracker-driven coverage for electron seeds; jetCore mitigation (bp of #35892)
  RecoParticleFlow/PFProducer/src/PFEGammaAlgo.cc
  RecoParticleFlow/PFTracking/plugins/ElectronSeedMerger.cc
  RecoParticleFlow/PFTracking/plugins/GoodSeedProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok

#35978 Run3-sim96 Make use of one/EDAnalyzer in a few analysis codes of SimG4CMS
  SimG4CMS/Calo/interface/EnergyResolutionVsLumi.h
  SimG4CMS/Calo/interface/EvolutionECAL.h
  SimG4CMS/Calo/interface/HcalTestNS.h
  SimG4CMS/Calo/plugins/HcalTestSimHitID.cc
  SimG4CMS/Calo/src/EnergyResolutionVsLumi.cc
  SimG4CMS/Calo/src/EvolutionECAL.cc
  SimG4CMS/Calo/src/HcalTestNS.cc
  SimG4CMS/Tracker/test/SimHitTrackerAnalyzer.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35976 Use esConsumes in TCMETAlgo
  RecoMET/METAlgorithms/interface/TCMETAlgo.h
  RecoMET/METAlgorithms/src/TCMETAlgo.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35975 Use esConsumes in DDTestMuonNumbering and GeoHierarchyTest
  Geometry/MuonNumbering/plugins/DDTestMuonNumbering.cc
  Geometry/TrackerGeometryBuilder/test/GeoHierarchyTest.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35970 Use esConsumes in HIPixelTrackFilterProducer and ClusterShapeTrackFilterProducer
  RecoHI/HiTracking/interface/HIPixelTrackFilter.h
  RecoHI/HiTracking/plugins/HIPixelTrackFilterProducer.cc
  RecoHI/HiTracking/src/HIPixelTrackFilter.cc
  RecoPixelVertexing/PixelLowPtUtilities/interface/ClusterShapeTrackFilter.h
  RecoPixelVertexing/PixelLowPtUtilities/plugins/ClusterShapeTrackFilterProducer.cc
  RecoPixelVertexing/PixelLowPtUtilities/src/ClusterShapeTrackFilter.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35954 Updates on summary plot of GEM onlineDQM, a backport to 12_0_X
  DQM/GEM/interface/GEMDAQStatusSource.h
  DQM/GEM/plugins/GEMDAQStatusSource.cc
  DQM/GEM/plugins/GEMDQMHarvester.cc
  DQM/GEM/plugins/GEMRecHitSource.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved

#35983 Miscellaneous `Alignment/OfflineValidation` improvements
  Alignment/OfflineValidation/macros/CMS_lumi.h
  Alignment/OfflineValidation/macros/FitPVResiduals.C
  Alignment/OfflineValidation/plugins/DMRChecker.cc
  Alignment/OfflineValidation/plugins/GeneralPurposeTrackAnalyzer.cc
  Alignment/OfflineValidation/plugins/PrimaryVertexValidation.cc
  Alignment/OfflineValidation/plugins/PrimaryVertexValidation.h
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35993 Use esConsumes in ListIds and TrackingMaterialAnalyser
  SimTracker/TrackerMaterialAnalysis/plugins/ListIds.cc
  SimTracker/TrackerMaterialAnalysis/plugins/TrackingMaterialAnalyser.cc
  SimTracker/TrackerMaterialAnalysis/plugins/TrackingMaterialAnalyser.h
  SimTracker/TrackerMaterialAnalysis/plugins/dd4hep/DD4hep_ListIds.cc
  SimTracker/TrackerMaterialAnalysis/plugins/dd4hep/DD4hep_TrackingMaterialAnalyser.cc
  SimTracker/TrackerMaterialAnalysis/plugins/dd4hep/DD4hep_TrackingMaterialAnalyser.h
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36000 Run3-gex98 Make use of esConsume in Geometry/CommonTopologies
  Geometry/CommonTopologies/test/ValidateRadial.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35973 [HGCAL] makeHGCalValidationPlots.py crash due to python3
  Validation/HGCalValidation/scripts/makeHGCalValidationPlots.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35962 Phase2-hgx294X Update the scripts to validate HGCal geometry
  Geometry/HGCalCommonData/test/python/testHGCalParametersDD4Hep_cfg.py
  Geometry/HGCalCommonData/test/python/testHGCalParametersDDD_cfg.py
  Validation/HGCalValidation/test/python/protoHGCalSimWatcher_cfg.py
  Validation/HGCalValidation/test/python/protoValid_cfg.py
  Validation/HGCalValidation/test/python/runHGCGeomCheck_cfg.py
  Validation/HGCalValidation/test/python/testHGCalSimWatcherV11_cfg.py
  Validation/HGCalValidation/test/python/testHGCalSimWatcherV12_cfg.py
  Validation/HGCalValidation/test/python/testHGCalSimWatcherV13_cfg.py
  Validation/HGCalValidation/test/python/testHGCalSimWatcherV14_cfg.py
  Validation/HGCalValidation/test/python/testHGCalSimWatcherV15_cfg.py
  Validation/HGCalValidation/test/python/testHGCalSimWatcherV16_cfg.py
Labels: dqm-approved, geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#35982 Use esConsumes in JetCorrectorImplMakerBase
  JetMETCorrections/Algorithms/interface/JetCorrectorImplMakerBase.h
  JetMETCorrections/Algorithms/src/JetCorrectorImplMakerBase.cc
  JetMETCorrections/Algorithms/src/L1FastjetCorrectorImpl.cc
  JetMETCorrections/Algorithms/src/L1JPTOffsetCorrectorImpl.cc
  JetMETCorrections/Algorithms/src/L1OffsetCorrectorImpl.cc
  JetMETCorrections/Algorithms/src/L6SLBCorrectorImpl.cc
  JetMETCorrections/Algorithms/src/LXXXCorrectorImpl.cc
Labels: analysis-pending, pending-signatures, tests-approved, orp-approved, code-checks-approved

#35917 improved element-removal in HLTProcess (hltGetConfiguration)
  HLTrigger/Configuration/python/Tools/confdb.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35858 make HLT use "schedule"
  Configuration/Applications/python/ConfigBuilder.py
  HLTrigger/Configuration/python/customizeHLTforALL.py
  HLTrigger/Configuration/python/customizeHLTforNewDatasetDefinition.py
  HLTrigger/Configuration/python/customizeHLTforPatatrack.py
  RecoTauTag/HLTProducers/test/testL2TauTagNN.py
Labels: hlt-approved, operations-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36005 Bugfix for mass-window cut in HLTMuonDimuonL3Filter
  HLTrigger/Muon/plugins/HLTMuonDimuonL3Filter.cc
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#35999 migrate SiStrip codes to new `PoolDBOutputService` methods
  CalibTracker/SiStripESProducers/plugins/fake/SiStripApvGainBuilderFromTag.cc
  CalibTracker/SiStripESProducers/plugins/fake/SiStripNoiseNormalizedWithApvGainBuilder.cc
  CalibTracker/SiStripLorentzAngle/plugins/SiStripCalibLorentzAngle.cc
  CalibTracker/SiStripQuality/plugins/SiStripBadStripFromQualityDBWriter.cc
  CondFormats/PhysicsToolsObjects/test/SiStripDeDx2DBuilder.cc
  CondFormats/PhysicsToolsObjects/test/SiStripDeDx3DBuilder.cc
  CondFormats/PhysicsToolsObjects/test/SiStripDeDxMipBuilder.cc
  CondTools/SiStrip/plugins/SiStripApvGainBuilder.cc
  CondTools/SiStrip/plugins/SiStripDetVOffFakeBuilder.cc
  CondTools/SiStrip/plugins/SiStripFedCablingBuilder.cc
  CondTools/SiStrip/plugins/SiStripNoisesBuilder.cc
  CondTools/SiStrip/plugins/SiStripPedestalsBuilder.cc
  CondTools/SiStrip/plugins/SiStripSummaryBuilder.cc
  CondTools/SiStrip/plugins/SiStripThresholdBuilder.cc
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#35887 [EGM] Undo relaxing of GSF nHit cuts for phase2
  TrackingTools/GsfTracking/python/CkfElectronCandidateMaker_cff.py
  TrackingTools/GsfTracking/python/GsfElectronFittingSmoother_cfi.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#35763 Updates to the SiPM-on-tile and Si sensor digitization (end-of-life/realistic startup)
  RecoLocalCalo/HGCalRecProducers/plugins/HGCalCLUEAlgo.h
  SimCalorimetry/HGCalSimAlgos/interface/HGCalRadiationMap.h
  SimCalorimetry/HGCalSimAlgos/interface/HGCalSciNoiseMap.h
  SimCalorimetry/HGCalSimAlgos/interface/HGCalSiNoiseMap.icc
  SimCalorimetry/HGCalSimAlgos/python/hgcSensorOpParams_cfi.py
  SimCalorimetry/HGCalSimAlgos/src/HGCalRadiationMap.cc
  SimCalorimetry/HGCalSimAlgos/src/HGCalSciNoiseMap.cc
  SimCalorimetry/HGCalSimAlgos/test/HGCHEbackSignalScalerAnalyzer.cc
  SimCalorimetry/HGCalSimAlgos/test/hgchebacksignalscaler_cfg.py
  SimCalorimetry/HGCalSimAlgos/test/hgcsiNoiseMapTester_cfg.py
  SimCalorimetry/HGCalSimProducers/data/sipmParams_all4mm2.txt
  SimCalorimetry/HGCalSimProducers/interface/HGCFEElectronics.h
  SimCalorimetry/HGCalSimProducers/plugins/HGCHEbackDigitizer.cc
  SimCalorimetry/HGCalSimProducers/python/hgcalDigitizer_cfi.py
  SimCalorimetry/HGCalSimProducers/src/HGCFEElectronics.cc
Labels: reconstruction-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, hgcal-dpg-approved

#35912 restrict RunHI2011 to 182124:40, used in the short matrix wf 140.53
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: fully-signed, tests-rejected, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#36020 TiclLayerTile compile time optimizations
  DataFormats/HGCalReco/interface/Common.h
  DataFormats/HGCalReco/interface/TICLLayerTile.h
  RecoHGCal/TICL/plugins/PatternRecognitionbyCA.cc
  RecoHGCal/TICL/plugins/PatternRecognitionbyCLUE3D.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#36022 Run3-TB64 Take care of the conversion factor in Geometry/HcalTestBeamData
  Geometry/HcalTestBeamData/interface/HcalTB02ParametersFromDD.h
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36017 [Tracker Alignment] move run-based analysis of `PrimaryVertexValidation` to `beginRun`
  Alignment/OfflineValidation/plugins/PrimaryVertexValidation.cc
  Alignment/OfflineValidation/plugins/PrimaryVertexValidation.h
  Alignment/OfflineValidation/plugins/SplitVertexResolution.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36016 migrate to `esConsumes` several test codes in the SiPixel area
  CondFormats/SiPixelObjects/test/FastSiPixelFEDChannelContainerFromQuality.cc
  CondFormats/SiPixelObjects/test/SiPixelBadFEDChannelSimulationSanityChecker.cc
  CondFormats/SiPixelObjects/test/SiPixelFEDChannelContainerFromQualityConverter.cc
  CondFormats/SiPixelObjects/test/SiPixelFEDChannelContainerTestReader.cc
  CondFormats/SiPixelObjects/test/SiPixelFedCablingMapAnalyzer.cc
  CondFormats/SiPixelObjects/test/SiPixelQualityProbabilitiesTestReader.cc
  CondFormats/SiPixelObjects/test/SiPixelTestSummary.cc
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#35996 correct cfi files to link to latest PPS geometry
  Geometry/VeryForwardGeometry/data/dd4hep/v4/geometryRPFromDD_2021.xml
  Geometry/VeryForwardGeometry/python/dd4hep/geometryRPFromDD_2021_cfi.py
  Geometry/VeryForwardGeometry/python/dd4hep/v4/geometryRPFromDD_2021_cfi.py
  Geometry/VeryForwardGeometry/python/geometryRPFromDD_2021_cfi.py
  Geometry/VeryForwardGeometry/python/geometryRPFromDD_2022_cfi.py
  Geometry/VeryForwardGeometry/python/v2/geometryRPFromDD_2021_cfi.py
  Geometry/VeryForwardGeometry/python/v2/geometryRPFromDD_2022_cfi.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36011 Add a configuration function to disable track-gen matching in step3 from cmsDriver
  SimTracker/TrackAssociation/python/disableTrackMCMatch.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36013 Phase2-gex99 Add a new defintion of caloBase.xml to accommodate the notch structure of ETL support
  Configuration/Geometry/README.md
  Configuration/Geometry/python/dict2026Geometry.py
  Geometry/CMSCommonData/data/caloBase/2026/v7/caloBase.xml
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#36015 migrate to `esConsumes` several test codes in the SiStrip area
  CalibFormats/SiStripObjects/test/plugins/module.cc
  CalibFormats/SiStripObjects/test/plugins/testSiStripHashedDetId.cc
  CalibFormats/SiStripObjects/test/plugins/testSiStripHashedDetId.h
  CalibTracker/SiStripESProducers/test/CheckPhase2Cabling.cc
  CalibTracker/SiStripESProducers/test/SealModules.cc
  CalibTracker/SiStripESProducers/test/testSiStripQualityESProducer.cc
  CalibTracker/SiStripESProducers/test/testSiStripQualityESProducer.h
  CondFormats/PhysicsToolsObjects/test/SiStripDeDx2DReader.cc
  CondFormats/PhysicsToolsObjects/test/SiStripDeDx3DReader.cc
  CondFormats/PhysicsToolsObjects/test/SiStripDeDxMipReader.cc
  CondFormats/PhysicsToolsObjects/test/SiStripDeDxMipReader.h
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#36010 Run3-gex98A Use of ESGetToken in Geometry/TrackerNumberingBuilder
  Geometry/TrackerNumberingBuilder/plugins/TrackerGeometricDetESModule.cc
  Geometry/TrackerNumberingBuilder/plugins/TrackerTopologyEP.cc
  Geometry/TrackerNumberingBuilder/test/GeometricDetAnalyzer.cc
  Geometry/TrackerNumberingBuilder/test/ModuleNumbering.cc
  Geometry/TrackerNumberingBuilder/test/TrackerTopologyAnalyzer.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35998 Phase2-hgx294Z Modify the getCorner algo of HGCalGeometry to take care of rotated layers
  Geometry/HGCalCommonData/interface/HGCalDDDConstants.h
  Geometry/HGCalCommonData/src/HGCalDDDConstants.cc
  Geometry/HGCalGeometry/src/HGCalGeometry.cc
  Geometry/HGCalGeometry/test/python/testHGCalCorner_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#35994 Fix for threadsafety of L1T Phase2 DQM
  DQMOffline/L1Trigger/src/L1TPhase2CorrelatorOffline.cc
Labels: l1-pending, dqm-approved, pending-signatures, tests-approved, bug-fix, orp-approved, code-checks-approved

#36023 Run3-sim97 Make use of ESGetToken in SimTransport/HectorProducer
  SimTransport/HectorProducer/interface/Hector.h
  SimTransport/HectorProducer/interface/HectorProducer.h
  SimTransport/HectorProducer/src/Hector.cc
  SimTransport/HectorProducer/src/HectorProducer.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35995 Use esConsumes in RandomXiThetaGunProducer
  IOMC/ParticleGuns/interface/RandomXiThetaGunProducer.h
  IOMC/ParticleGuns/src/RandomXiThetaGunProducer.cc
Labels: generators-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35938 Add invariant mass filter for generic objects in LHE events
  GeneratorInterface/GenFilters/plugins/LHEGenericMassFilter.cc
Labels: generators-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36019 fix for `testPhase2PixelNtuple` unit test
  SLHCUpgradeSimulations/Geometry/test/phase2_digi_reco_pixelntuple_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, bug-fix, orp-approved, upgrade-approved, code-checks-approved

#36006 Fix errors in RepeatingCachedRootSource test
  IOPool/Input/test/testRepeatingCachedRootSource.sh
  IOPool/Input/test/test_repeating_cfg.py
Labels: core-approved, fully-signed, tests-rejected, orp-approved, code-checks-approved

#36042 Fixed crash in RepeatingCachedRootSource
  IOPool/Input/src/RepeatingCachedRootSource.cc
Labels: core-approved, fully-signed, tests-rejected, orp-approved, requires-external, code-checks-approved

#36031 improvement of a workaround in `customizeHLTforPatatrack`
  HLTrigger/Configuration/python/customizeHLTforPatatrack.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#36027 Change to new method in PoolDBOutputService for SiPixel CPE
  CondTools/SiPixel/plugins/SiPixel2DTemplateDBObjectUploader.cc
  CondTools/SiPixel/plugins/SiPixelGenErrorDBObjectUploader.cc
  CondTools/SiPixel/test/createTestDBObjects.sh
Labels: fully-signed, tests-approved, db-approved, orp-approved, requires-external, code-checks-approved

#35987 Adding Proxy Support to hltGetConfiguration and fixing converter/db specification bugs with hltIntegrationTests
  HLTrigger/Configuration/common/utils.sh
  HLTrigger/Configuration/python/Tools/confdb.py
  HLTrigger/Configuration/python/Tools/confdbOfflineConverter.py
  HLTrigger/Configuration/python/Tools/options.py
  HLTrigger/Configuration/scripts/hltGetConfiguration
  HLTrigger/Configuration/scripts/hltIntegrationTests
  HLTrigger/Configuration/scripts/hltListPaths
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#36032 Remove references to standalone keras
  Calibration/HcalCalibAlgos/macros/isotrackApplyRegressor.py
  Calibration/HcalCalibAlgos/macros/isotrackTrainRegressor.py
  PhysicsTools/PythonAnalysis/test/BuildFile.xml
  PhysicsTools/PythonAnalysis/test/testTheano.py
Labels: analysis-pending, alca-approved, pending-signatures, tests-approved, orp-approved, requires-external, code-checks-approved

#35968 Use esConsumes in ConditionDumperInEdm
  EventFilter/L1GlobalTriggerRawToDigi/interface/ConditionDumperInEdm.h
  EventFilter/L1GlobalTriggerRawToDigi/src/ConditionDumperInEdm.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35977 Use esConsumes in TTStubAssociator
  SimTracker/TrackTriggerAssociation/plugins/TTStubAssociator.cc
  SimTracker/TrackTriggerAssociation/plugins/TTStubAssociator.h
Labels: l1-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35981 AJJGenJetFilter to filter photon+2jets events at GenLevel
  GeneratorInterface/GenFilters/plugins/AJJGenJetFilter.cc
  GeneratorInterface/GenFilters/python/AJJGenJetFilter_cff.py
  GeneratorInterface/GenFilters/python/AJJGenJetFilter_cfi.py
Labels: generators-approved, fully-signed, tests-approved, orp-approved, backport-ok

#35972 Get rid of static warnings in CSC trigger emulator
  L1Trigger/CSCTriggerPrimitives/src/CSCCathodeLCTProcessor.cc
  L1Trigger/CSCTriggerPrimitives/src/CSCMotherboard.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36059 small fix to integrationTests
  HLTrigger/Configuration/scripts/hltIntegrationTests
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, requires-external, code-checks-approved

#36055 SiStripDAQPopCon.py: improve readability of output
  CondTools/SiStrip/scripts/SiStripDAQPopCon.py
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#36047 Clean up muon alignment test files
  Alignment/MuonAlignment/test/BuildFile.xml
  Alignment/MuonAlignment/test/ComputeTransformation.cpp
  Alignment/MuonAlignment/test/MuonGeometryArrange.py
  Alignment/MuonAlignment/test/TestMisalign.cpp
  Alignment/MuonAlignment/test/TestMuonAnalyzer.cpp
  Alignment/MuonAlignment/test/TestMuonHierarchy.cpp
  Alignment/MuonAlignment/test/TestReader.cpp
  Alignment/MuonAlignment/test/TestRotation.cpp
  Alignment/MuonAlignment/test/TestTranslation.cpp
  Alignment/MuonAlignment/test/computeIdealTransformation_cfg.py
  Alignment/MuonAlignment/test/test-db-read_cfg.py
  Alignment/MuonAlignment/test/test-hierarchy_cfg.py
  Alignment/MuonAlignment/test/test-rotation_cfg.py
  Alignment/MuonAlignment/test/test-translation_cfg.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#36058 Fix trivial bugs in test (VertexFinder_t.h)
  RecoPixelVertexing/PixelVertexFinding/test/VertexFinder_t.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36009 Fixes to L2Tau CNN and deepTauID for HLT
  RecoTauTag/HLTProducers/python/applyL2TauTag.py
  RecoTauTag/HLTProducers/src/L2TauTagFilter.cc
  RecoTauTag/HLTProducers/src/L2TauTagNNProducer.cc
  RecoTauTag/RecoTau/plugins/DeepTauId.cc
Labels: hlt-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36001 [10_6_X] Add producers/configs to refit muon tracks with standard TrackRefitter
  RecoTracker/TrackProducer/plugins/TrackExtraRekeyer.cc
  RecoTracker/TrackProducer/plugins/TrackProducerFromPatMuons.cc
  RecoTracker/TrackProducer/test/BuildFile.xml
  RecoTracker/TrackProducer/test/refitFromAOD.py
  RecoTracker/TrackProducer/test/refitFromMINIAOD.py
  RecoTracker/TrackProducer/test/testMuonTrackRefitting.cpp
  RecoTracker/TrackProducer/test/testMuonTrackRefitting.sh
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok

#36060 technical fix for `PixelJetPuId`
  HLTrigger/JetMET/plugins/PixelJetPuId.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#36038 Faster CSCALCTDigi::clear()
  DataFormats/CSCDigi/interface/CSCALCTDigi.h
  DataFormats/CSCDigi/src/CSCALCTDigi.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36024 Run3-sim97X Make use of ESGetToken in SimTracker/TrackerHitAssociation
  SimTracker/TrackerHitAssociation/interface/TrackerHitAssociator.h
  SimTracker/TrackerHitAssociation/test/TestAssociator.cc
  SimTracker/TrackerHitAssociation/test/TestAssociator.h
  SimTracker/TrackerHitAssociation/test/myTrackAnalyzer.cc
  SimTracker/TrackerHitAssociation/test/myTrackAnalyzer.h
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#36035 Restructure `CondTools/SiStrip`
  CondTools/SiStrip/plugins/SealModules.cc
  CondTools/SiStrip/plugins/SiStripApvGainBuilder.cc
  CondTools/SiStrip/plugins/SiStripApvGainBuilder.h
  CondTools/SiStrip/plugins/SiStripApvGainReader.cc
  CondTools/SiStrip/plugins/SiStripApvGainReader.h
  CondTools/SiStrip/plugins/SiStripApvGainRescaler.cc
  CondTools/SiStrip/plugins/SiStripApvSimulationParametersBuilder.cc
  CondTools/SiStrip/plugins/SiStripBadChannelBuilder.cc
  CondTools/SiStrip/plugins/SiStripBadChannelBuilder.h
  CondTools/SiStrip/plugins/SiStripBadFiberBuilder.cc
  CondTools/SiStrip/plugins/SiStripBadFiberBuilder.h
  CondTools/SiStrip/plugins/SiStripBadStripReader.cc
  CondTools/SiStrip/plugins/SiStripCablingTrackerMap.cc
  CondTools/SiStrip/plugins/SiStripCablingTrackerMap.h
  CondTools/SiStrip/plugins/SiStripChannelGainFromDBMiscalibrator.cc
  CondTools/SiStrip/plugins/SiStripDetVOffFakeBuilder.cc
  CondTools/SiStrip/plugins/SiStripDetVOffFakeBuilder.h
  CondTools/SiStrip/plugins/SiStripDetVOffReader.cc
  CondTools/SiStrip/plugins/SiStripDetVOffReader.h
  CondTools/SiStrip/plugins/SiStripFedCablingBuilder.cc
  CondTools/SiStrip/plugins/SiStripFedCablingBuilder.h
  CondTools/SiStrip/plugins/SiStripFedCablingReader.cc
  CondTools/SiStrip/plugins/SiStripFedCablingReader.h
  CondTools/SiStrip/plugins/SiStripLorentzAngleReader.cc
  CondTools/SiStrip/plugins/SiStripLorentzAngleReader.h
  CondTools/SiStrip/plugins/SiStripNoisesBuilder.cc
  CondTools/SiStrip/plugins/SiStripNoisesBuilder.h
  CondTools/SiStrip/plugins/SiStripNoisesFromDBMiscalibrator.cc
  CondTools/SiStrip/plugins/SiStripNoisesReader.cc
  CondTools/SiStrip/plugins/SiStripNoisesReader.h
  CondTools/SiStrip/plugins/SiStripPedestalsBuilder.cc
  CondTools/SiStrip/plugins/SiStripPedestalsBuilder.h
  CondTools/SiStrip/plugins/SiStripPedestalsReader.cc
  CondTools/SiStrip/plugins/SiStripPedestalsReader.h
  CondTools/SiStrip/plugins/SiStripSummaryBuilder.cc
  CondTools/SiStrip/plugins/SiStripSummaryBuilder.h
  CondTools/SiStrip/plugins/SiStripSummaryReader.cc
  CondTools/SiStrip/plugins/SiStripSummaryReader.h
  CondTools/SiStrip/plugins/SiStripThresholdBuilder.cc
  CondTools/SiStrip/plugins/SiStripThresholdBuilder.h
  CondTools/SiStrip/plugins/SiStripThresholdReader.cc
  CondTools/SiStrip/plugins/SiStripThresholdReader.h
  CondTools/SiStrip/test/BuildFile.xml
  CondTools/SiStrip/test/SiStripApvGainReader_cfg.py
  CondTools/SiStrip/test/SiStripBadChannelBuilder_cfg.py
  CondTools/SiStrip/test/SiStripBadFiberBuilder_cfg.py
  CondTools/SiStrip/test/SiStripBadStripReader_cfg.py
  CondTools/SiStrip/test/SiStripDetVOffFakeBuilder_cfg.py
  CondTools/SiStrip/test/SiStripDetVOffReader_cfg.py
  CondTools/SiStrip/test/SiStripFedCablingBuilder_cfg.py
  CondTools/SiStrip/test/SiStripFedCablingReader_cfg.py
  CondTools/SiStrip/test/SiStripSummaryBuilder_cfg.py
  CondTools/SiStrip/test/SiStripThresholdBuilder_cfg.py
  CondTools/SiStrip/test/SiStripThresholdReader_cfg.py
  CondTools/SiStrip/test/runTests.cpp
  CondTools/SiStrip/test/testBuildersReaders.sh
Labels: fully-signed, tests-approved, db-approved, orp-approved, requires-external, code-checks-approved

#35988 Fix timing PCLs by adding EDMToMeConverter
  CalibPPS/TimingCalibration/python/ALCARECOPPSDiamondSampicTimingCalibHarvester_cff.py
  CalibPPS/TimingCalibration/python/PPSTimingCalibrationHarvester_cff.py
  Configuration/StandardSequences/python/AlCaHarvesting_cff.py
Labels: alca-approved, operations-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36069 fix for option "dbproxy" in `hltListPaths`
  HLTrigger/Configuration/scripts/hltGetConfiguration
  HLTrigger/Configuration/scripts/hltListPaths
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#35974 Update mkFit for CMSSW_12_2_0
  RecoTracker/MkFit/plugins/MkFitIterationConfigESProducer.cc
  RecoTracker/MkFit/plugins/MkFitSeedConverter.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, requires-external, code-checks-approved

#36066 Validate TF1 if requested in BTagEntry [10_6]
  CondFormats/BTauObjects/interface/BTagCalibration.h
  CondFormats/BTauObjects/interface/BTagEntry.h
  CondFormats/BTauObjects/src/BTagCalibration.cc
  CondFormats/BTauObjects/src/BTagEntry.cc
  CondFormats/BTauObjects/test/testBTagCalibration.cpp
  CondFormats/BTauObjects/test/testBTagEntry.cpp
  CondTools/BTau/plugins/BTagCalibrationDbCreator.cc
  CondTools/BTau/test/testBTagCalibrationReader.cpp
  PhysicsTools/NanoAOD/plugins/BTagSFProducer.cc
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, backport-ok, xpog-approved

#36079 Delete stream modules before deleting their caches
  FWCore/Framework/interface/stream/EDAnalyzerAdaptor.h
  FWCore/Framework/interface/stream/EDAnalyzerAdaptorBase.h
  FWCore/Framework/interface/stream/ProducingModuleAdaptor.h
  FWCore/Framework/interface/stream/ProducingModuleAdaptorBase.h
  FWCore/Framework/src/stream/EDAnalyzerAdaptorBase.cc
  FWCore/Framework/src/stream/ProducingModuleAdaptorBase.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35989 MTD reconstruction validation: tracks and vertices
  Validation/MtdValidation/plugins/BuildFile.xml
  Validation/MtdValidation/plugins/MtdTracksHarvester.cc
  Validation/MtdValidation/plugins/MtdTracksValidation.cc
  Validation/MtdValidation/plugins/Primary4DVertexHarvester.cc
  Validation/MtdValidation/plugins/Primary4DVertexValidation.cc
  Validation/MtdValidation/python/MtdPostProcessor_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36040 migrate SiPixel codes to new `PoolDBOutputService` methods
  CalibTracker/SiPixelConnectivity/test/SiPixelFedCablingMapWriter.cc
  CalibTracker/SiPixelGainCalibration/plugins/SiPixelGainCalibrationAnalysis.cc
  CalibTracker/SiPixelLorentzAngle/src/SiPixelLorentzAnglePCLHarvester.cc
  CalibTracker/SiPixelQuality/plugins/SiPixelStatusHarvester.cc
  CalibTracker/SiPixelQuality/plugins/SiPixelStatusHarvester.h
  CondFormats/SiPixelObjects/test/FastSiPixelFEDChannelContainerFromQuality.cc
  CondFormats/SiPixelObjects/test/SiPixelFEDChannelContainerFromQualityConverter.cc
  CondFormats/SiPixelObjects/test/SiPixelFedCablingMapTestWriter.cc
  CondFormats/SiPixelObjects/test/SiPixelQualityProbabilitiesTestWriter.cc
  CondFormats/SiPixelObjects/test/SiPixelQualityProbabilitiesWriteFromASCII.cc
  CondTools/SiPixel/plugins/SiPixelCalibConfigurationObjectMaker.cc
  CondTools/SiPixel/plugins/SiPixelCondObjBuilder.cc
  CondTools/SiPixel/plugins/SiPixelCondObjBuilder.h
  CondTools/SiPixel/plugins/SiPixelCondObjForHLTBuilder.cc
  CondTools/SiPixel/plugins/SiPixelCondObjForHLTBuilder.h
  CondTools/SiPixel/plugins/SiPixelCondObjOfflineBuilder.cc
  CondTools/SiPixel/plugins/SiPixelCondObjOfflineBuilder.h
  CondTools/SiPixel/plugins/SiPixelDynamicInefficiencyDB.cc
  CondTools/SiPixel/plugins/SiPixelGainCalibScaler.cc
  CondTools/SiPixel/plugins/SiPixelGainCalibrationReadDQMFile.cc
  CondTools/SiPixel/plugins/SiPixelGainCalibrationRejectNoisyAndDead.cc
  CondTools/SiPixel/plugins/SiPixelGainCalibrationRejectNoisyAndDead.h
  CondTools/SiPixel/plugins/SiPixelLorentzAngleDB.cc
  CondTools/SiPixel/plugins/SiPixelPerformanceSummaryBuilder.cc
  CondTools/SiPixel/plugins/SiPixelVCalDB.cc
  CondTools/SiPixel/plugins/SiPixelVCalDB.h
  CondTools/SiPixel/src/PixelPopConCalibSourceHandler.cc
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#35990 Integration of the ML based online Ecal DQM using autoencoder network
  DQM/EcalMonitorClient/BuildFile.xml
  DQM/EcalMonitorClient/interface/MLClient.h
  DQM/EcalMonitorClient/python/EcalMonitorClient_cfi.py
  DQM/EcalMonitorClient/python/MLClient_cfi.py
  DQM/EcalMonitorClient/src/MLClient.cc
  DQM/EcalMonitorTasks/interface/OccupancyTask.h
  DQM/EcalMonitorTasks/python/OccupancyTask_cfi.py
  DQM/EcalMonitorTasks/src/OccupancyTask.cc
  DQM/Integration/python/clients/ecal_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#36036 Phase2-hgx294A Add layeroffset attribute to 6-inch wafer geometry files for HGCal
  Geometry/HGCalCommonData/data/TB160/hgcalCons.xml
  Geometry/HGCalCommonData/data/TB161/1Module/hgcalCons.xml
  Geometry/HGCalCommonData/data/TB161/8Module/hgcalCons.xml
  Geometry/HGCalCommonData/data/TB161/TimingLayer/hgcalCons.xml
  Geometry/HGCalCommonData/data/TB170/July17/hgcalCons.xml
  Geometry/HGCalCommonData/data/TB170/Sep17/hgcalCons.xml
  Geometry/HGCalCommonData/data/TB170/hgcalCons.xml
  Geometry/HGCalCommonData/data/TB180/hgcalCons.xml
  Geometry/HGCalCommonData/data/TB181/June18/hgcalCons.xml
  Geometry/HGCalCommonData/data/TB181/Oct181/hgcalCons.xml
  Geometry/HGCalCommonData/data/TB181/Test/hgcalCons.xml
  Geometry/HGCalCommonData/python/testHGCV7XML_cfi.py
  Geometry/HGCalCommonData/python/testHGCV8XML_cfi.py
  Geometry/HGCalCommonData/src/HGCalGeomParameters.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, requires-external, code-checks-approved

#36064 Phase2-hgx295A Small correction to on HGCal validation code and remove several obsolete scripts in Geometry/CaloTopology and Validation
  Geometry/CaloTopology/test/testFastTimeTopology_cfg.py
  Validation/CheckOverlap/test/python/runFastTiming_cfg.py
  Validation/HGCalValidation/test/HGCHitValidation.cc
  Validation/HGCalValidation/test/python/testFastTimerSimHit_cfg.py
Labels: dqm-approved, geometry-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#36061 Phase2-hgx295 Change copper cover to SS cover and remove many obsolete files of HGCal geometry
  Geometry/HGCalCommonData/data/dd4hep/cms-test-ddhgcalModule-algorithm.xml
  Geometry/HGCalCommonData/data/dd4hep/cms-test-ddhgcalModuleAlgo-algorithm.xml
  Geometry/HGCalCommonData/data/dd4hep/cms-test-ddhgcalV8-algorithm.xml
  Geometry/HGCalCommonData/data/hgcal/v7/hgcal.xml
  Geometry/HGCalCommonData/data/hgcal/v8/hgcal.xml
  Geometry/HGCalCommonData/data/hgcal/v9/hgcal.xml
  Geometry/HGCalCommonData/data/hgcalCons/v7/hgcalCons.xml
  Geometry/HGCalCommonData/data/hgcalCons/v8/hgcalCons.xml
  Geometry/HGCalCommonData/data/hgcalCons/v9/hgcalCons.xml
  Geometry/HGCalCommonData/data/hgcalEE/v7/hgcalEE.xml
  Geometry/HGCalCommonData/data/hgcalEE/v8/hgcalEE.xml
  Geometry/HGCalCommonData/data/hgcalHEmix/v16/hgcalHEmix.xml
  Geometry/HGCalCommonData/data/hgcalHEsil/v16/hgcalHEsil.xml
  Geometry/HGCalCommonData/data/hgcalHEsil/v7/hgcalHEsil.xml
  Geometry/HGCalCommonData/data/hgcalHEsil/v7SS/hgcalHEsil.xml
  Geometry/HGCalCommonData/data/hgcalHEsil/v8/hgcalHEsil.xml
  Geometry/HGCalCommonData/python/ecalhcalPhaseIIGeometryXML_cfi.py
  Geometry/HGCalCommonData/python/testFastTimeXML_cfi.py
  Geometry/HGCalCommonData/python/testHGCV8_cff.py
  Geometry/HGCalCommonData/python/testHGCV9XML_cfi.py
  Geometry/HGCalCommonData/python/testHGCalModuleAlgoXML_cfi.py
  Geometry/HGCalCommonData/python/testHGCalModuleXML_cfi.py
  Geometry/HGCalCommonData/python/testHGCalXML_cfi.py
  Geometry/HGCalCommonData/test/python/dumpHGCalModuleAlgoDDD_cfg.py
  Geometry/HGCalCommonData/test/python/dumpHGCalModuleDDD_cfg.py
  Geometry/HGCalCommonData/test/python/testFastTimeNumbering_cfg.py
  Geometry/HGCalGeometry/test/python/testFastTimeGeometry_cfg.py
  Geometry/HGCalSimData/data/hgcProdCuts.xml
  Geometry/HGCalSimData/data/hgccons.xml
  Geometry/HGCalSimData/data/hgcsens.xml
  Geometry/HGCalSimData/data/hgcsensv6.xml
  Geometry/HGCalSimData/data/hgcsensv8.xml
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, requires-external, code-checks-approved

#36065 Few further esConsumes-related updates for CondFormats (RecoMuon and DT) test folders
  CondFormats/DTObjects/test/stubs/DTConfigPrint.cc
  CondFormats/DTObjects/test/stubs/DTConfigPrint.h
  CondFormats/DTObjects/test/stubs/DTDeadPrint.cc
  CondFormats/DTObjects/test/stubs/DTDeadPrint.h
  CondFormats/DTObjects/test/stubs/DTDeadUpdate.cc
  CondFormats/DTObjects/test/stubs/DTDeadUpdate.h
  CondFormats/DTObjects/test/stubs/DTFullMapPrint.cc
  CondFormats/DTObjects/test/stubs/DTFullMapPrint.h
  CondFormats/DTObjects/test/stubs/DTMapPrint.cc
  CondFormats/DTObjects/test/stubs/DTMapPrint.h
  CondFormats/DTObjects/test/stubs/DTRangeT0Print.cc
  CondFormats/DTObjects/test/stubs/DTRangeT0Print.h
  CondFormats/DTObjects/test/stubs/DTT0Print.cc
  CondFormats/DTObjects/test/stubs/DTT0Print.h
  CondFormats/DTObjects/test/stubs/DTTtrigPrint.cc
  CondFormats/DTObjects/test/stubs/DTTtrigPrint.h
  CondFormats/RecoMuonObjects/test/ProduceAgingObject.cc
  CondFormats/RecoMuonObjects/test/produceAgingObject_cfg.py
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#36084 Use esConsumes in some Geometry/TrackerGeometryBuilder test EDModules
  Geometry/TrackerGeometryBuilder/test/ModuleInfo.cc
  Geometry/TrackerGeometryBuilder/test/TrackerDigiGeometryAnalyzer.cc
  Geometry/TrackerGeometryBuilder/test/TrackerMapTool.cc
  Geometry/TrackerGeometryBuilder/test/TrackerParametersAnalyzer.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36045 Phase2-hgx294C Make sure that all rings of scinitllators are included in the definitions of HGCalGeometry
  Geometry/HGCalCommonData/interface/HGCalDDDConstants.h
  Geometry/HGCalCommonData/interface/HGCalGeomParameters.h
  Geometry/HGCalCommonData/src/HGCalDDDConstants.cc
  Geometry/HGCalCommonData/src/HGCalGeomParameters.cc
  Geometry/HGCalGeometry/src/HGCalGeometryLoader.cc
  Geometry/HGCalGeometry/test/HGCalValidScintTest.cc
  Geometry/HGCalGeometry/test/python/testHGCalValidScintTest_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, requires-external, code-checks-approved

#36082 [ASAN] disable unit tests TestValgrind and TestFWCoreServicesDriver
  FWCore/Services/test/BuildFile.xml
  Utilities/ReleaseScripts/test/BuildFile.xml
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35922 Fix charged and neutral candidate converters for reco::Jets
  RecoBTag/FeatureTools/interface/ChargedCandidateConverter.h
  RecoBTag/FeatureTools/interface/NeutralCandidateConverter.h
  RecoBTag/FeatureTools/interface/deep_helpers.h
  RecoBTag/FeatureTools/src/deep_helpers.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36067 Fix for threadsafety of L1T Phase2 DQM
  DQMOffline/L1Trigger/interface/L1TPhase2CorrelatorOffline.h
  DQMOffline/L1Trigger/src/L1TPhase2CorrelatorOffline.cc
Labels: l1-pending, dqm-approved, pending-signatures, tests-approved, orp-approved, code-checks-approved

#36087 Phase2-hgx295B Remove 2 remaining obsolete cfg's
  Geometry/HGCalCommonData/test/python/dumpHGCalModuleAlgoDD4hep_cfg.py
  Geometry/HGCalCommonData/test/python/dumpHGCalModuleDD4hep_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#36083 Add ECAL and GEM tags to 122X GTs
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36071 MTD geometry: update ETL passive structure
  Configuration/Geometry/README.md
  Configuration/Geometry/python/dict2026Geometry.py
  Geometry/MTDCommonData/data/etl/v7/etl.xml
  Geometry/MTDCommonData/data/mtdMaterial/v3/mtdMaterial.xml
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#36041 Phase2-294B Extend functionality of RecHitTools of HGCal and add a testing code
  RecoLocalCalo/HGCalRecAlgos/interface/RecHitTools.h
  RecoLocalCalo/HGCalRecAlgos/src/RecHitTools.cc
  RecoLocalCalo/HGCalRecAlgos/test/BuildFile.xml
  RecoLocalCalo/HGCalRecAlgos/test/HGCalTestRecHitTools.cc
  RecoLocalCalo/HGCalRecAlgos/test/testHGCalRecHitTools_cfg.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, requires-external, code-checks-approved

#35992 Integration of the ML based online Ecal DQM using autoencoder network [CMSSW_12_1_X]
  DQM/EcalMonitorClient/BuildFile.xml
  DQM/EcalMonitorClient/interface/MLClient.h
  DQM/EcalMonitorClient/python/EcalMonitorClient_cfi.py
  DQM/EcalMonitorClient/python/MLClient_cfi.py
  DQM/EcalMonitorClient/src/MLClient.cc
  DQM/EcalMonitorTasks/interface/OccupancyTask.h
  DQM/EcalMonitorTasks/python/OccupancyTask_cfi.py
  DQM/EcalMonitorTasks/src/OccupancyTask.cc
  DQM/Integration/python/clients/ecal_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, requires-external

#35991 Integration of the ML based online Ecal DQM using autoencoder network [CMSSW_12_0_X]
  DQM/EcalMonitorClient/BuildFile.xml
  DQM/EcalMonitorClient/interface/MLClient.h
  DQM/EcalMonitorClient/python/EcalMonitorClient_cfi.py
  DQM/EcalMonitorClient/python/MLClient_cfi.py
  DQM/EcalMonitorClient/src/MLClient.cc
  DQM/EcalMonitorTasks/interface/OccupancyTask.h
  DQM/EcalMonitorTasks/python/OccupancyTask_cfi.py
  DQM/EcalMonitorTasks/src/OccupancyTask.cc
  DQM/Integration/python/clients/ecal_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, requires-external

#36085 Use esConsumes in some TauAnalysis/MCEmbeddingTools EDModules
  TauAnalysis/MCEmbeddingTools/plugins/CaloCleaner.h
  TauAnalysis/MCEmbeddingTools/plugins/EmbeddingVertexCorrector.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36089 Backport: Fixes to L2Tau CNN and deepTauID for HLT
  RecoTauTag/HLTProducers/python/applyL2TauTag.py
  RecoTauTag/HLTProducers/src/L2TauTagFilter.cc
  RecoTauTag/HLTProducers/src/L2TauTagNNProducer.cc
  RecoTauTag/RecoTau/plugins/DeepTauId.cc
Labels: hlt-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok

#36095 ES consume migration of LumiAlCaRecoProducer
  Calibration/LumiAlCaRecoProducers/plugins/RawPCCProducer.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36091 fix memory bug in DNN-based ID (packport of #35984)
  RecoEgamma/EgammaElectronProducers/plugins/GsfElectronProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok

#36062 ECAL PoolDBOutput code migration
  CalibCalorimetry/EcalTPGTools/plugins/EcalTPGDBCopy.cc
  CondFormats/EcalObjects/test/stubs/EcalTimeBiasCorrectionsFillInitial.cc
  CondTools/Ecal/interface/EcalTestDevDB.h
  CondTools/Ecal/plugins/StoreESCondition.cc
  CondTools/Ecal/plugins/StoreESCondition.h
  CondTools/Ecal/plugins/StoreEcalCondition.cc
  CondTools/Ecal/plugins/StoreEcalCondition.h
  CondTools/Ecal/src/ESDBCopy.cc
  CondTools/Ecal/src/EcalDBCopy.cc
  CondTools/Ecal/src/EcalPFRecHitThresholdsMaker.cc
  CondTools/Ecal/src/EcalTestDevDB.cc
  Geometry/CaloEventSetup/interface/CaloGeometryDBWriter.h
  Geometry/CaloEventSetup/test/CaloAlignmentRcdWrite.cc
  Geometry/CaloEventSetup/test/testAli2File_cfg.py
  Geometry/CaloEventSetup/test/testWriteESAlignments_cfg.py
  Geometry/CaloEventSetup/test/zeroAli2File_cfg.py
  Geometry/EcalAlgo/interface/WriteESAlignments.h
  Geometry/EcalAlgo/src/WriteESAlignments.cc
Labels: l1-pending, alca-approved, geometry-approved, pending-signatures, tests-approved, db-approved, orp-approved, code-checks-approved

#36051 Adding Proxy Support to hltGetConfiguration and fixing converter/db specification bugs with hltIntegrationTests: 12_1_X
  HLTrigger/Configuration/common/utils.sh
  HLTrigger/Configuration/python/Tools/confdb.py
  HLTrigger/Configuration/python/Tools/confdbOfflineConverter.py
  HLTrigger/Configuration/python/Tools/options.py
  HLTrigger/Configuration/scripts/hltGetConfiguration
  HLTrigger/Configuration/scripts/hltIntegrationTests
  HLTrigger/Configuration/scripts/hltListPaths
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#36052 Adding Proxy Support to hltGetConfiguration and fixing converter/db specification bugs with hltIntegrationTests: 12_0_X
  HLTrigger/Configuration/common/utils.sh
  HLTrigger/Configuration/python/Tools/confdb.py
  HLTrigger/Configuration/python/Tools/confdbOfflineConverter.py
  HLTrigger/Configuration/python/Tools/options.py
  HLTrigger/Configuration/scripts/hltGetConfiguration
  HLTrigger/Configuration/scripts/hltIntegrationTests
  HLTrigger/Configuration/scripts/hltListPaths
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#36101 Print test log on error
  FWCore/Framework/test/run_global_stream_one.sh
  FWCore/Integration/test/CatchStdExceptiontest.sh
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36092 necessary mods to let `CondTools/SiPixel` unit tests to pass in ASAN
  CondTools/SiPixel/plugins/SiPixel2DTemplateDBObjectUploader.cc
  CondTools/SiPixel/plugins/SiPixelDynamicInefficiencyReader.cc
  CondTools/SiPixel/plugins/SiPixelGenErrorDBObjectUploader.cc
  CondTools/SiPixel/plugins/SiPixelTemplateDBObjectUploader.cc
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#36068 Simplify the ReusableObjectHolder
  FWCore/Utilities/interface/ReusableObjectHolder.h
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36107 esConsumes migration of CondTools/Geometry/test/GeometryTester.cc
  CondTools/Geometry/test/GeometryTester.cc
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#36075 [12.1.X] Update of mkFit as in 12_2_0 (backport of PR #35974)
  RecoTracker/MkFit/plugins/MkFitIterationConfigESProducer.cc
  RecoTracker/MkFit/plugins/MkFitSeedConverter.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, requires-external, backport-ok

#36090 Migrate some ALCA code to new `PoolDBOutputService` methods
  CondFormats/PhysicsToolsObjects/test/TFormulaWriter.cc
  CondFormats/PhysicsToolsObjects/test/TGraphWriter.cc
  CondTools/HLT/src/AlCaRecoTriggerBitsRcdUpdate.cc
Labels: alca-approved, hlt-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#36026 Allow fast merge for file created using concurrent LuminosityBlocks
  DataFormats/Provenance/interface/IndexIntoFile.h
  DataFormats/Provenance/src/IndexIntoFile.cc
  DataFormats/Provenance/test/indexIntoFile3_t.cppunit.cc
  DataFormats/Provenance/test/indexIntoFile_t.cppunit.cc
  FWCore/Framework/interface/LuminosityBlockPrincipal.h
  FWCore/Framework/src/EventProcessor.cc
  FWCore/Framework/src/LuminosityBlockPrincipal.cc
  IOPool/Common/test/BuildFile.xml
  IOPool/Common/test/copy_overlap_lumi_cfg.py
  IOPool/Common/test/make_overlap_lumi_cfg.py
  IOPool/Common/test/test_overlap_lumi_fast_copy.sh
  IOPool/Input/src/RepeatingCachedRootSource.cc
  IOPool/Input/src/RootFile.cc
  IOPool/Input/src/RootFile.h
  IOPool/Input/src/RootPrimaryFileSequence.cc
  IOPool/Input/src/RootPrimaryFileSequence.h
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36077 Migrate BeamSpot codes to new `PoolDBOutputService` methods
  Calibration/TkAlCaRecoProducers/plugins/AlcaBeamSpotHarvester.cc
  DQM/BeamMonitor/plugins/BeamMonitor.cc
  DQM/BeamMonitor/plugins/FakeBeamMonitor.cc
  RecoVertex/BeamSpotProducer/plugins/BeamSpotWrite2DB.cc
  RecoVertex/BeamSpotProducer/src/BeamFitter.cc
Labels: alca-approved, dqm-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#36108 speedup: use cached RhoEtaPhi from caloCellGeometry in EgammaHcalIsolation
  RecoEgamma/EgammaIsolationAlgos/src/EgammaHcalIsolation.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36109 scripts for running MPI jobs in the CMSSW environment
  HeterogeneousCore/MPICore/scripts/cmsenv_mpirun
  HeterogeneousCore/MPICore/scripts/cmsenv_orted
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#36098 Modernize several modules in TopQuarkAnalysis
  CondFormats/PhysicsToolsObjects/interface/MVAComputer.h
  CondFormats/PhysicsToolsObjects/src/MVAComputer.cc
  PhysicsTools/MVAComputer/interface/MVAComputerCache.h
  PhysicsTools/MVAComputer/src/MVAComputer.cc
  PhysicsTools/MVAComputer/test/testMVAComputerEvaluate.cc
  TopQuarkAnalysis/TopEventSelection/plugins/TtFullHadSignalSelMVAComputer.cc
  TopQuarkAnalysis/TopEventSelection/plugins/TtFullHadSignalSelMVAComputer.h
  TopQuarkAnalysis/TopEventSelection/plugins/TtSemiLepSignalSelMVAComputer.cc
  TopQuarkAnalysis/TopEventSelection/plugins/TtSemiLepSignalSelMVAComputer.h
  TopQuarkAnalysis/TopJetCombination/plugins/TtSemiLepJetCombMVAComputer.cc
  TopQuarkAnalysis/TopJetCombination/plugins/TtSemiLepJetCombMVAComputer.h
Labels: analysis-pending, alca-approved, pending-signatures, tests-approved, db-approved, orp-approved, code-checks-approved

#36096 Appropriately fill `PFCandidate::dnn_gamma_` data member in the constructors and copy operator
  DataFormats/ParticleFlowCandidate/src/PFCandidate.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#36114 Include EndLuminosityBlock transition in the esConsumes for LumiAlCaRecoProducer
  Calibration/LumiAlCaRecoProducers/plugins/RawPCCProducer.cc
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#36110 scripts for running MPI jobs in the CMSSW environment [12.1.x]
  HeterogeneousCore/MPICore/scripts/cmsenv_mpirun
  HeterogeneousCore/MPICore/scripts/cmsenv_orted
Labels: fully-signed, tests-approved, orp-approved, backport-ok, heterogeneous-approved

#36039 dLyds perturbation2
  Validation/CTPPS/plugins/CTPPSModifiedOpticalFunctionsESSource.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36076 migrate Alignment codes to new `PoolDBOutputService` methods
  Alignment/CocoaApplication/src/CocoaAnalyzer.cc
  Alignment/CocoaFit/interface/CocoaDBMgr.h
  Alignment/CocoaFit/src/CocoaDBMgr.cc
  Alignment/CommonAlignmentAlgorithm/plugins/SiStripBackplaneCalibration.cc
  Alignment/CommonAlignmentProducer/interface/AlignmentProducerBase.h
  Alignment/CommonAlignmentProducer/plugins/GlobalTrackerMuonAlignment.cc
  Alignment/CommonAlignmentProducer/src/AlignmentProducerBase.cc
  Alignment/LaserAlignment/plugins/LaserAlignment.cc
  Alignment/MuonAlignment/plugins/MuonMisalignedProducer.cc
  Alignment/MuonAlignment/src/MuonAlignment.cc
  Alignment/OfflineValidation/plugins/TrackerGeometryCompare.cc
  Alignment/SurveyAnalysis/plugins/CreateSurveyRcds.cc
  Alignment/SurveyAnalysis/plugins/SurveyDBUploader.cc
  Alignment/SurveyAnalysis/plugins/SurveyInputTrackerFromDB.cc
  Alignment/TrackerAlignment/plugins/MisalignedTrackerESProducer.cc
  Alignment/TrackerAlignment/plugins/TrackerSystematicMisalignments.cc
  Alignment/TrackerAlignment/src/TrackerAlignment.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36115 Run3-gex98D Use ESGetToken in some of the test analyzers in SimMuon
  SimMuon/CSCDigitizer/test/CSCNoiseMatrixTest.cc
  SimMuon/DTDigitizer/test/DTDigiAnalyzer.cc
  SimMuon/DTDigitizer/test/DTDigiAnalyzer.h
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved
