Repository cms-sw/cmssw, pull requests merged in 2021-03, with the labels that each got.

#32998 [PPS] Fix of validation script
  Validation/CTPPS/python/simu_config/base_cff.py
Labels: code-checks-approved, dqm-approved, fully-signed, orp-approved, tests-approved

#32970 Extending E/gamma HLT Debug to phaseII and adding rec-hit counts: 11_1_X
  DataFormats/L1TrackTrigger/interface/L1TrackTruthPair.h
  DataFormats/L1TrackTrigger/interface/TTTrackTruthPair.h
  DataFormats/L1TrackTrigger/src/TTTrackTruthPair.cc
  DataFormats/L1TrackTrigger/src/classes.h
  DataFormats/L1TrackTrigger/src/classes_def.xml
  RecoEgamma/EgammaHLTProducers/plugins/BuildFile.xml
  RecoEgamma/EgammaHLTProducers/plugins/EgammaHLTExtraProducer.cc
  RecoEgamma/EgammaHLTProducers/plugins/EgammaHLTPhase2ExtraProducer.cc
Labels: fully-signed, hlt-approved, l1-approved, orp-approved, tests-approved, upgrade-approved

#32999 Add additional capability (filter by decay R/Z) to MCMultiParticleFilter
  GeneratorInterface/GenFilters/plugins/MCMultiParticleFilter.cc
  GeneratorInterface/GenFilters/plugins/MCSmartSingleParticleFilter.cc
Labels: code-checks-approved, fully-signed, generators-approved, orp-approved, tests-rejected

#32982 Migration to DD4hep for GEM DB loader
  CondTools/Geometry/plugins/GEMRecoIdealDBLoader.cc
  CondTools/Geometry/test/gemgeometrywriter.py
  Geometry/GEMGeometryBuilder/src/GEMGeometryParsFromDD.cc
  Geometry/GEMGeometryBuilder/src/GEMGeometryParsFromDD.h
Labels: code-checks-approved, db-approved, fully-signed, geometry-approved, orp-approved, tests-approved, upgrade-approved

#33020 remove PPS workflows 11725.0 and 11925.0
  Configuration/PyReleaseValidation/python/relval_2017.py
Labels: code-checks-approved, fully-signed, orp-approved, pdmv-approved, tests-approved, upgrade-approved

#33009 [DD4hep] Correct name of material for PixelBarrelLayerNCoolTubeHalf volumes
  Geometry/TrackerCommonData/plugins/dd4hep/DDPixBarLayerUpgradeAlgo.cc
Labels: bug-fix, code-checks-approved, fully-signed, geometry-approved, orp-approved, tests-rejected

#33008 Improve CSC digi print-out
  DataFormats/CSCDigi/src/CSCComparatorDigi.cc
  DataFormats/CSCDigi/src/CSCWireDigi.cc
Labels: code-checks-approved, fully-signed, orp-approved, simulation-approved, tests-rejected

#33021 Changes for TensorFlow 2.4 support.
  PhysicsTools/TensorFlow/test/testBase.h
Labels: code-checks-approved, fully-signed, orp-approved, reconstruction-approved, tests-rejected

#32973 add unit test for correctionlib library
  PhysicsTools/PythonAnalysis/test/BuildFile.xml
  PhysicsTools/PythonAnalysis/test/test_correctionlib.py
Labels: analysis-pending, code-checks-approved, orp-approved, pending-signatures, requires-external, tests-approved

#32988 fix ipython and pylint unit tests
  PhysicsTools/PythonAnalysis/test/BuildFile.xml
Labels: analysis-pending, code-checks-approved, orp-approved, pending-signatures, tests-approved

#33024 disable LumiProducer in reco sequences
  Configuration/StandardSequences/python/ReconstructionCosmics_cff.py
  Configuration/StandardSequences/python/ReconstructionHeavyIons_cff.py
  Configuration/StandardSequences/python/Reconstruction_cff.py
Labels: code-checks-approved, fully-signed, operations-approved, orp-approved, reconstruction-approved, tests-approved

#32950 RivetInterface fixes+updates
  GeneratorInterface/RivetInterface/interface/RivetAnalyzer.h
  GeneratorInterface/RivetInterface/plugins/RivetAnalyzer.cc
  GeneratorInterface/RivetInterface/python/rivetAnalyzer_cfi.py
  GeneratorInterface/RivetInterface/test/BuildFile.xml
  GeneratorInterface/RivetInterface/test/rivet_cfg.py
  GeneratorInterface/RivetInterface/test/runRivetAnalyzerMiniAOD_cfg.py
  GeneratorInterface/RivetInterface/test/test-rivet-nan.sh
  GeneratorInterface/RivetInterface/test/test-yoda-merge.sh
  GeneratorInterface/RivetInterface/test/test-yoda-root.sh
Labels: code-checks-approved, fully-signed, generators-approved, orp-approved, tests-approved

#33035 drop type specification in RecoTauTag
  RecoTauTag/Configuration/python/HPSPFTaus_cff.py
Labels: code-checks-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved

#33033 Add additional capability (filtering by decay R/Z) to MCMultiParticle…
  GeneratorInterface/GenFilters/interface/MCMultiParticleFilter.h
  GeneratorInterface/GenFilters/src/MCMultiParticleFilter.cc
  GeneratorInterface/GenFilters/src/MCSmartSingleParticleFilter.cc
Labels: fully-signed, generators-approved, orp-approved, tests-approved

#33018 Utilities/StaticAnalyzer: Add check for func name in DiGraph before calling has_path.
  Utilities/StaticAnalyzers/scripts/callgraph.py
  Utilities/StaticAnalyzers/scripts/create_statics_esd_reports.sh
  Utilities/StaticAnalyzers/scripts/data-class-funcs.py
  Utilities/StaticAnalyzers/scripts/edm-global-class.py
  Utilities/StaticAnalyzers/scripts/statics.py
Labels: code-checks-approved, core-approved, fully-signed, orp-approved, tests-approved

#33038 Tell ROOT how many thread to use
  FWCore/Services/plugins/InitRootHandlers.cc
Labels: code-checks-approved, core-approved, fully-signed, orp-approved, tests-approved

#33034 drop type specification in RecoVertex
  RecoVertex/AdaptiveVertexFinder/python/inclusiveVertexing_cff.py
Labels: code-checks-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved

#33026 adding duplicate removal and implimenting L1 quality cuts
  HLTrigger/HLTfilters/plugins/L1TTkMuonFilter.cc
  HLTrigger/HLTfilters/plugins/L1TTkMuonFilter.h
Labels: code-checks-approved, fully-signed, hlt-approved, orp-approved, tests-approved

#33027 L1TkMuon Filter: adding duplicate removal and implementing L1 quality cuts 11
  HLTrigger/HLTfilters/plugins/L1TTkMuonFilter.cc
  HLTrigger/HLTfilters/plugins/L1TTkMuonFilter.h
Labels: fully-signed, hlt-approved, orp-approved, tests-approved

#33047 Move cms.Sequence to cms.Task in RecoPixelVertexing
  RecoPixelVertexing/PixelLowPtUtilities/python/AllPixelTracks_cfi.py
Labels: code-checks-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved

#33041 modernize DQMDaqInfo
  DQMServices/Components/plugins/DQMDaqInfo.cc
  DQMServices/Components/plugins/DQMDaqInfo.h
Labels: code-checks-approved, dqm-approved, fully-signed, orp-approved, tests-approved

#33031 Update GEM Offline DQM
  DQMOffline/Configuration/python/DQMOfflineCosmics_SecondStep_cff.py
  DQMOffline/Configuration/python/DQMOfflineCosmics_cff.py
  DQMOffline/Muon/BuildFile.xml
  DQMOffline/Muon/interface/GEMEfficiencyAnalyzer.h
  DQMOffline/Muon/interface/GEMEfficiencyHarvester.h
  DQMOffline/Muon/interface/GEMOfflineDQMBase.h
  DQMOffline/Muon/interface/GEMOfflineMonitor.h
  DQMOffline/Muon/python/gemEfficiencyAnalyzerCosmics_cfi.py
  DQMOffline/Muon/python/gemEfficiencyAnalyzer_cfi.py
  DQMOffline/Muon/python/gemEfficiencyHarvesterCosmics_cfi.py
  DQMOffline/Muon/python/gemEfficiencyHarvester_cfi.py
  DQMOffline/Muon/python/gem_dqm_offline_client_cff.py
  DQMOffline/Muon/python/gem_dqm_offline_client_cosmics_cff.py
  DQMOffline/Muon/python/gem_dqm_offline_source_cff.py
  DQMOffline/Muon/python/gem_dqm_offline_source_cosmics_cff.py
  DQMOffline/Muon/src/GEMEfficiencyAnalyzer.cc
  DQMOffline/Muon/src/GEMEfficiencyHarvester.cc
  DQMOffline/Muon/src/GEMOfflineDQMBase.cc
  DQMOffline/Muon/src/GEMOfflineMonitor.cc
Labels: code-checks-approved, dqm-approved, fully-signed, orp-approved, tests-approved

#33000 GEM - fixed mapping for GE0
  CondFormats/GEMObjects/interface/GEMeMap.h
  CondFormats/GEMObjects/src/GEMeMap.cc
  DataFormats/FEDRawData/interface/FEDNumbering.h
  EventFilter/GEMRawToDigi/plugins/GEMDigiToRawModule.cc
Labels: code-checks-approved, daq-approved, db-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved, upgrade-approved, urgent

#33060 Run3-gex59 Add debug facility to find out issues
  Geometry/EcalCommonData/plugins/DDEcalPreshowerAlgo.cc
  Geometry/EcalCommonData/plugins/dd4hep/DDEcalPreshowerAlgo.cc
Labels: code-checks-approved, fully-signed, geometry-approved, orp-approved, tests-approved

#33040 Disabling l1tRate_Offline and l1tGt from Offline DQM
  DQMOffline/L1Trigger/python/L1TriggerDqmOffline_cff.py
Labels: code-checks-approved, dqm-approved, fully-signed, l1-approved, orp-approved, tests-approved, urgent

#33022 address high-pt efficiency drop in EB EG objects - fix hardcoding
  L1Trigger/L1CaloTrigger/plugins/L1EGammaCrystalsEmulatorProducer.cc
Labels: fully-signed, l1-approved, orp-approved, tests-approved, upgrade-approved

#32928 Add nConstituents to fat jets.
  PhysicsTools/NanoAOD/python/jets_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
Labels: fully-signed, orp-approved, tests-approved, xpog-approved

#33032 Update GEM Offline DQM, backport to CMSSW_11_2_X
  DQMOffline/Configuration/python/DQMOfflineCosmics_SecondStep_cff.py
  DQMOffline/Configuration/python/DQMOfflineCosmics_cff.py
  DQMOffline/Muon/BuildFile.xml
  DQMOffline/Muon/interface/GEMEfficiencyAnalyzer.h
  DQMOffline/Muon/interface/GEMEfficiencyHarvester.h
  DQMOffline/Muon/interface/GEMOfflineDQMBase.h
  DQMOffline/Muon/interface/GEMOfflineMonitor.h
  DQMOffline/Muon/python/gemEfficiencyAnalyzerCosmics_cfi.py
  DQMOffline/Muon/python/gemEfficiencyAnalyzer_cfi.py
  DQMOffline/Muon/python/gemEfficiencyHarvesterCosmics_cfi.py
  DQMOffline/Muon/python/gemEfficiencyHarvester_cfi.py
  DQMOffline/Muon/python/gem_dqm_offline_client_cff.py
  DQMOffline/Muon/python/gem_dqm_offline_client_cosmics_cff.py
  DQMOffline/Muon/python/gem_dqm_offline_source_cff.py
  DQMOffline/Muon/python/gem_dqm_offline_source_cosmics_cff.py
  DQMOffline/Muon/src/GEMEfficiencyAnalyzer.cc
  DQMOffline/Muon/src/GEMEfficiencyHarvester.cc
  DQMOffline/Muon/src/GEMOfflineDQMBase.cc
  DQMOffline/Muon/src/GEMOfflineMonitor.cc
Labels: dqm-approved, fully-signed, orp-approved, tests-approved

#33052 RivetInterface fixes+updates (11_2)
  GeneratorInterface/RivetInterface/interface/RivetAnalyzer.h
  GeneratorInterface/RivetInterface/plugins/RivetAnalyzer.cc
  GeneratorInterface/RivetInterface/python/rivetAnalyzer_cfi.py
  GeneratorInterface/RivetInterface/test/BuildFile.xml
  GeneratorInterface/RivetInterface/test/rivet_cfg.py
  GeneratorInterface/RivetInterface/test/runRivetAnalyzerMiniAOD_cfg.py
  GeneratorInterface/RivetInterface/test/test-rivet-nan.sh
  GeneratorInterface/RivetInterface/test/test-yoda-merge.sh
  GeneratorInterface/RivetInterface/test/test-yoda-root.sh
Labels: backport-ok, fully-signed, generators-approved, orp-approved, tests-approved

#33011 Add EcalMustacheSCParameters and EcalSCDynamicDPhiParameters [11_2_X]
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, backport-ok, fully-signed, orp-approved, tests-approved

#32995 PUID UL18 for nanoAOD (backport to 11_2)
  PhysicsTools/NanoAOD/python/jets_cff.py
Labels: fully-signed, orp-approved, tests-approved, xpog-approved

#33061 Run3-hcx289 Have a modified version for HO xml
  Geometry/HcalCommonData/data/hcalouteralgo/v1/hcalouteralgo.xml
  Geometry/HcalCommonData/python/testPhase1GeometryXML_cfi.py
  Geometry/HcalCommonData/python/testPhase2GeometryXML_cfi.py
  Geometry/HcalCommonData/test/python/testPhase1_cfg.py
  Geometry/HcalCommonData/test/python/testPhase2_cfg.py
  Geometry/HcalSimData/data/CaloUtil/2021/v1/CaloUtil.xml
  Geometry/HcalSimData/data/CaloUtil/2026/v1c/CaloUtil.xml
  Geometry/HcalSimData/data/CaloUtil/2026/v2c/CaloUtil.xml
  Geometry/HcalSimData/data/CaloUtil/2026/v3c/CaloUtil.xml
  Geometry/HcalSimData/data/CaloUtil/2026/v4c/CaloUtil.xml
  Geometry/HcalSimData/data/CaloUtil/2026/v5c/CaloUtil.xml
  SimG4CMS/Calo/src/HCalSD.cc
  Validation/CheckOverlap/test/python/runHO_cfg.py
  Validation/Geometry/src/MaterialBudgetHcalHistos.cc
Labels: code-checks-approved, dqm-approved, fully-signed, geometry-approved, orp-approved, simulation-approved, tests-approved

#33007 Adding D76 to the short matrix for PR test, disable ME0 when phase2_GE0 modifier is used
  Configuration/PyReleaseValidation/python/relval_2026.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/PyReleaseValidation/scripts/runTheMatrix.py
  SimGeneral/PreMixingModule/python/mixOne_premix_on_sim_cfi.py
  SimGeneral/TrackingAnalysis/python/TrackingParticleSelection_cfi.py
Labels: code-checks-approved, fully-signed, orp-approved, pdmv-approved, simulation-approved, tests-approved, upgrade-approved

#33056 Calo boundary Information
  SimG4CMS/Calo/src/CaloTrkProcessing.cc
  SimG4Core/Application/interface/TrackingAction.h
  SimG4Core/Application/python/g4SimHits_cfi.py
  SimG4Core/Application/src/TrackingAction.cc
Labels: code-checks-approved, fully-signed, orp-approved, simulation-approved, tests-approved

#33048 drop type specs and move parameters inside the modifier in RecoHI
  RecoHI/Configuration/python/Reconstruction_HI_cff.py
  RecoHI/Configuration/python/Reconstruction_hiPF_cff.py
  RecoHI/HiEgammaAlgos/python/HiElectronSequence_cff.py
  RecoHI/HiMuonAlgos/python/HiRegitMuonDetachedTripletStep_cff.py
  RecoHI/HiMuonAlgos/python/HiRegitMuonInitialStep_cff.py
  RecoHI/HiMuonAlgos/python/HiRegitMuonMixedTripletStep_cff.py
  RecoHI/HiMuonAlgos/python/HiRegitMuonPixelLessStep_cff.py
  RecoHI/HiMuonAlgos/python/HiRegitMuonPixelPairStep_cff.py
  RecoHI/HiMuonAlgos/python/HiRegitMuonSeededStep_cff.py
  RecoHI/HiTracking/python/HISelectedTracks_cfi.py
  RecoHI/HiTracking/python/HiTracking_cff.py
  RecoHI/HiTracking/python/hiDetachedQuadStep_cff.py
  RecoHI/HiTracking/python/hiPixelPairStep_cff.py
  RecoHI/HiTracking/python/hiRegitTracking_cff.py
Labels: code-checks-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved

#32993 updates needed for protobuf 3.15.1 and TF(py3) 2.4.1
  DQMServices/Core/src/ROOTFilePB.pb.cc
  DQMServices/Core/src/ROOTFilePB.pb.h
  PhysicsTools/PythonAnalysis/test/BuildFile.xml
  PhysicsTools/PythonAnalysis/test/testTheano.py
  PhysicsTools/PythonAnalysis/test/testTheano.sh
Labels: analysis-pending, code-checks-approved, dqm-approved, orp-approved, pending-signatures, requires-external, tests-approved

#32978 Seed TICL by L1 e/gamma + other timing considerations for e/gamma HLT
  RecoEgamma/EgammaHLTProducers/plugins/HLTCaloObjInRegionsProducer.cc
  RecoEgamma/EgammaHLTProducers/plugins/L1TEGammaFilteredCollectionProducer.cc
  RecoHGCal/TICL/plugins/BuildFile.xml
  RecoHGCal/TICL/plugins/SeedingRegionAlgoBase.h
  RecoHGCal/TICL/plugins/SeedingRegionAlgoFactory.cc
  RecoHGCal/TICL/plugins/SeedingRegionAlgoFactory.h
  RecoHGCal/TICL/plugins/SeedingRegionByL1.cc
  RecoHGCal/TICL/plugins/SeedingRegionByL1.h
  RecoHGCal/TICL/plugins/SeedingRegionByTracks.cc
  RecoHGCal/TICL/plugins/SeedingRegionByTracks.h
  RecoHGCal/TICL/plugins/SeedingRegionGlobal.cc
  RecoHGCal/TICL/plugins/SeedingRegionGlobal.h
  RecoHGCal/TICL/plugins/TICLSeedingRegionProducer.cc
  RecoHGCal/TICL/python/TICLSeedingRegions_cff.py
Labels: code-checks-approved, fully-signed, hlt-approved, orp-approved, reconstruction-approved, tests-approved, upgrade-approved

#33063 [HGCAL] Reorganizing layer cluster plots into subfolders
  Validation/HGCalValidation/interface/HGVHistoProducerAlgo.h
  Validation/HGCalValidation/plugins/HGCalValidator.cc
  Validation/HGCalValidation/python/PostProcessorHGCAL_cfi.py
  Validation/HGCalValidation/python/hgcalPlots.py
  Validation/HGCalValidation/src/HGVHistoProducerAlgo.cc
Labels: code-checks-approved, dqm-approved, fully-signed, orp-approved, tests-approved

#33028 Seed TICL by L1 & other timing considerations for EGM HLT: backport to 11_1
  RecoEgamma/EgammaHLTProducers/plugins/HLTCaloObjInRegionsProducer.cc
  RecoEgamma/EgammaHLTProducers/plugins/L1TEGammaFilteredCollectionProducer.cc
  RecoHGCal/TICL/plugins/BuildFile.xml
  RecoHGCal/TICL/plugins/SeedingRegionAlgoBase.h
  RecoHGCal/TICL/plugins/SeedingRegionAlgoFactory.cc
  RecoHGCal/TICL/plugins/SeedingRegionAlgoFactory.h
  RecoHGCal/TICL/plugins/SeedingRegionByL1.cc
  RecoHGCal/TICL/plugins/SeedingRegionByL1.h
  RecoHGCal/TICL/plugins/SeedingRegionByTracks.cc
  RecoHGCal/TICL/plugins/SeedingRegionByTracks.h
  RecoHGCal/TICL/plugins/SeedingRegionGlobal.cc
  RecoHGCal/TICL/plugins/SeedingRegionGlobal.h
  RecoHGCal/TICL/plugins/TICLSeedingRegionProducer.cc
  RecoHGCal/TICL/python/TICLSeedingRegions_cff.py
Labels: fully-signed, hlt-approved, orp-approved, reconstruction-approved, tests-approved, upgrade-approved

#33069 Small bugfix in Configuration/DataProcessing/python/Impl/cosmics.py
  Configuration/DataProcessing/python/Impl/cosmics.py
Labels: code-checks-approved, fully-signed, operations-approved, orp-approved, tests-started

#33029 Replace roll to ieta in GEM
  DataFormats/MuonDetId/interface/GEMDetId.h
  DataFormats/MuonDetId/src/GEMDetId.cc
  DataFormats/MuonDetId/test/testGEMDetId.cc
  Validation/MuonGEMDigis/plugins/GEMPadDigiClusterValidation.cc
  Validation/MuonGEMDigis/plugins/GEMPadDigiValidation.cc
  Validation/MuonGEMDigis/plugins/GEMStripDigiValidation.cc
  Validation/MuonGEMHits/plugins/GEMSimHitValidation.cc
  Validation/MuonGEMHits/src/GEMValidationUtils.cc
  Validation/MuonGEMRecHits/plugins/GEMRecHitValidation.cc
Labels: code-checks-approved, dqm-approved, fully-signed, orp-approved, simulation-approved, tests-approved

#33074 Use run-dependent bad channels for CSC, HCAL and strips
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, code-checks-approved, fully-signed, orp-approved, tests-approved

#32975 Updates to Tracksters visualization in Fireworks
  Fireworks/Calo/plugins/FWTracksterHitsProxyBuilder.cc
  Fireworks/Calo/plugins/FWTracksterLayersProxyBuilder.cc
  Fireworks/Core/src/FWItemValueGetter.cc
Labels: code-checks-approved, fully-signed, orp-approved, tests-approved, visualization-approved

#33049 Move DTDriftTimeParameters.icc
  DataFormats/DTRecHit/interface/DTDriftTimeParameters.icc
  RecoLocalMuon/DTRecHit/plugins/BuildFile.xml
  RecoLocalMuon/DTRecHit/plugins/DTDriftTimeParameters.icc
  SimMuon/DTDigitizer/BuildFile.xml
  SimMuon/DTDigitizer/src/DTDriftTimeParametrization.cc
  SimMuon/DTDigitizer/test/BuildFile.xml
  SimMuon/DTDigitizer/test/stubs/DTTime2DriftParametrization.cc
Labels: code-checks-approved, fully-signed, orp-approved, reconstruction-approved, simulation-approved, tests-approved

#33036 Make auto:phase2_realistic key usable
  Configuration/AlCa/python/GlobalTag.py
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, code-checks-approved, fully-signed, orp-approved, tests-approved

#32890 Change ROOT::TF1 class def version from 10 to 12*
  DQMServices/Components/test/testSchemaEvolution.cpp
Labels: code-checks-approved, dqm-approved, fully-signed, orp-approved, requires-external, tests-rejected

#33081 Caloparticle debugger improvements
  SimGeneral/Debugging/plugins/CaloParticleDebugger.cc
  SimGeneral/Debugging/python/caloParticleDebugger_cfg.py
Labels: code-checks-approved, fully-signed, orp-approved, simulation-approved, tests-approved

#33071 #ifdef debug stringstream operations in SimMuon/RPCDigitizer
  SimMuon/RPCDigitizer/src/RPCSimAsymmetricCls.cc
  SimMuon/RPCDigitizer/src/RPCSimSetUp.cc
Labels: code-checks-approved, fully-signed, orp-approved, simulation-approved, tests-approved

#33073 Switch resolution from Gaussian sigma to stdev for Phase2 L1T tracks
  Validation/SiOuterTrackerV/plugins/OuterTrackerMCHarvester.cc
Labels: code-checks-approved, dqm-approved, fully-signed, orp-approved, tests-approved

#33072 Run3-gex60 Try to resolve overlap in preshower detector for dd4hep
  Geometry/EcalCommonData/plugins/DDEcalPreshowerAlgo.cc
  Geometry/EcalCommonData/plugins/dd4hep/DDEcalPreshowerAlgo.cc
Labels: code-checks-approved, fully-signed, geometry-approved, orp-approved, tests-approved

#32994 Improve the execution speed of the DA clusterizers for primary vertex finding
  Alignment/OfflineValidation/plugins/PrimaryVertexValidation.cc
  RecoVertex/PrimaryVertexProducer/interface/DAClusterizerInZT_vect.h
  RecoVertex/PrimaryVertexProducer/interface/DAClusterizerInZ_vect.h
  RecoVertex/PrimaryVertexProducer/plugins/PrimaryVertexProducer.cc
  RecoVertex/PrimaryVertexProducer/python/TkClusParameters_cff.py
  RecoVertex/PrimaryVertexProducer/src/DAClusterizerInZT_vect.cc
  RecoVertex/PrimaryVertexProducer/src/DAClusterizerInZ_vect.cc
Labels: alca-approved, code-checks-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved

#33087 Update DD4Hep workflow to accept all Run-3 and Phase-2 wfs. Add README.md to runTheMatrix
  Configuration/PyReleaseValidation/README.md
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
Labels: code-checks-approved, fully-signed, orp-pending, pdmv-approved, tests-approved, upgrade-approved

#33051 FastSim number of photoelectrons in HF simulation
  FastSimulation/Calorimetry/python/Calorimetry_cff.py
Labels: code-checks-approved, fastsim-approved, fully-signed, orp-approved, tests-approved

#33054 migrate Alignment/LaserAlignment to esConsumes
  Alignment/LaserAlignment/plugins/LaserAlignment.cc
  Alignment/LaserAlignment/plugins/LaserAlignment.h
  Alignment/LaserAlignment/plugins/LaserAlignmentEventFilter.cc
  Alignment/LaserAlignment/plugins/LaserAlignmentEventFilter.h
  Alignment/LaserAlignment/plugins/TkLasBeamFitter.cc
Labels: alca-approved, code-checks-approved, fully-signed, orp-approved, tests-approved

#33094 correct Buildfiles in FWCore
  FWCore/FWLite/BuildFile.xml
  FWCore/Modules/BuildFile.xml
  FWCore/PrescaleService/BuildFile.xml
  FWCore/PythonFramework/BuildFile.xml
  FWCore/ServiceRegistry/BuildFile.xml
  FWCore/Services/BuildFile.xml
  FWCore/SharedMemory/BuildFile.xml
  FWCore/Sources/BuildFile.xml
  FWCore/TFWLiteSelectorTest/BuildFile.xml
  FWCore/TestProcessor/BuildFile.xml
Labels: code-checks-approved, core-approved, fully-signed, orp-approved, tests-approved

#33065 warn when no data is available for CalibTracker/SiStripChannelGain unit test
  CalibTracker/SiStripChannelGain/test/testSSTGain_PCL_FromRECO_cfg.py
Labels: alca-approved, code-checks-approved, fully-signed, orp-approved, tests-approved

#33093 correct dependencies and includes
  Calibration/EcalTBTools/interface/TB06TreeH2.h
  Calibration/EcalTBTools/src/TB06TreeH2.cc
  Calibration/EcalTBTools/src/classes.h
  TrackingTools/AnalyticalJacobians/BuildFile.xml
Labels: alca-approved, code-checks-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved

#33066 FileInPath: replace boost::filesystem by std::filesystem
  DQMServices/Components/src/fillJson.cc
  FWCore/Catalog/test/FileLocator_t.cpp
  FWCore/ParameterSet/BuildFile.xml
  FWCore/ParameterSet/bin/edmPluginHelp.cpp
  FWCore/ParameterSet/bin/edmWriteConfigs.cpp
  FWCore/ParameterSet/src/FileInPath.cc
  FWCore/PyDevParameterSet/test/makepset_t.cppunit.cc
  FWCore/PythonParameterSet/test/makepset_t.cppunit.cc
  GeneratorInterface/Herwig7Interface/src/Herwig7Interface.cc
  GeneratorInterface/Pythia6Interface/src/Pythia6Service.cc
  GeneratorInterface/Pythia8Interface/src/Py8InterfaceBase.cc
Labels: code-checks-approved, core-approved, dqm-approved, fully-signed, generators-approved, orp-approved, tests-approved

#33019 Remove not needed RooFit dependencies from BuildFiles
  CalibMuon/DTCalibration/BuildFile.xml
  CalibMuon/DTCalibration/plugins/BuildFile.xml
  DQM/MuonMonitor/plugins/BuildFile.xml
  HeavyFlavorAnalysis/Onia2MuMu/BuildFile.xml
  L1Trigger/DTTriggerPhase2/BuildFile.xml
  PhysicsTools/FWLite/test/BuildFile.xml
  PhysicsTools/TagAndProbe/BuildFile.xml
  PhysicsTools/TagAndProbe/plugins/BuildFile.xml
  PhysicsTools/Utilities/BuildFile.xml
  PhysicsTools/Utilities/test/BuildFile.xml
Labels: alca-approved, analysis-pending, code-checks-approved, dqm-approved, l1-pending, orp-approved, pending-signatures, tests-approved, upgrade-approved

#33095 correct Buildfiles in SimDataFormats
  SimDataFormats/CaloAnalysis/BuildFile.xml
  SimDataFormats/CaloTest/BuildFile.xml
  SimDataFormats/DigiSimLinks/BuildFile.xml
  SimDataFormats/HiGenData/BuildFile.xml
  SimDataFormats/JetMatching/BuildFile.xml
  SimDataFormats/Track/BuildFile.xml
  SimDataFormats/TrackingAnalysis/BuildFile.xml
Labels: code-checks-approved, fully-signed, orp-approved, simulation-approved, tests-approved

#33025 HBHEgpu: add correlated noise
  RecoLocalCalo/HcalRecProducers/src/DeclsForKernels.h
  RecoLocalCalo/HcalRecProducers/src/HBHERecHitProducerGPU.cc
  RecoLocalCalo/HcalRecProducers/src/MahiGPU.cu
Labels: code-checks-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved

#32972 Separate Algorithms for GE0 and GE1/1 GE2/1 Segments
  RecoLocalMuon/GEMSegment/plugins/GEMSegmentBuilder.cc
  RecoLocalMuon/GEMSegment/plugins/GEMSegmentBuilder.h
  RecoLocalMuon/GEMSegment/python/gemSegments_cfi.py
Labels: code-checks-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved, upgrade-approved

#33015 Apply esConsumes to DeDxEstimatorProducer
  FastSimulation/SimplifiedGeometryPropagator/plugins/FastTrackDeDxProducer.cc
  RecoTracker/DeDx/interface/ASmirnovDeDxDiscriminator.h
  RecoTracker/DeDx/interface/BTagLikeDeDxDiscriminator.h
  RecoTracker/DeDx/interface/DeDxTools.h
  RecoTracker/DeDx/interface/ProductDeDxDiscriminator.h
  RecoTracker/DeDx/interface/SmirnovDeDxDiscriminator.h
  RecoTracker/DeDx/plugins/DeDxEstimatorProducer.cc
  RecoTracker/DeDx/plugins/DeDxEstimatorProducer.h
  RecoTracker/DeDx/src/DeDxTools.cc
Labels: code-checks-approved, fastsim-pending, orp-approved, pending-signatures, reconstruction-approved, tests-rejected

#33106 Fix LogDebug(...); not compiling
  FWCore/MessageLogger/interface/MessageLogger.h
  FWCore/MessageService/test/standAloneTest.cpp
  FWCore/MessageService/test/unit_test_outputs/standAloneWithMessageLogger.cerr
Labels: code-checks-approved, core-approved, fully-signed, orp-approved, tests-approved

#33037 ProdLike workflow for premixing
  Configuration/PyReleaseValidation/README.md
  Configuration/PyReleaseValidation/python/relval_2026.py
  Configuration/PyReleaseValidation/python/relval_upgrade.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
Labels: code-checks-approved, fully-signed, orp-approved, pdmv-approved, tests-approved, upgrade-approved

#33101 Production cuts: DD4hep needs to reproduce same behavior as DDD.
  SimG4Core/Geometry/src/DDG4ProductionCuts.cc
Labels: code-checks-approved, fully-signed, orp-approved, simulation-approved, tests-approved

#33092 cleanup includes in SimDataFormats/GeneratorProducts
  SimDataFormats/GeneratorProducts/interface/HepMCProduct.h
  SimDataFormats/GeneratorProducts/src/HepMCProduct.cc
Labels: code-checks-approved, fully-signed, generators-approved, orp-approved, tests-approved

#33079 Run3-gex61 Add the correction to HO volume names to the scenarios
  Configuration/Geometry/python/dict2021Geometry.py
  Configuration/Geometry/python/dict2026Geometry.py
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021FlatMinus05Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021FlatMinus10Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021FlatPlus05Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021FlatPlus10Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021ZeroMaterial.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D60.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D71.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D74.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D75.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D76.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D77.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D78.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D79.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometry2021FlatMinus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2021FlatMinus10PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2021FlatPlus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2021FlatPlus10PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2021XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2021ZeroMaterialXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D60XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D71XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D74XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D75XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D76XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D77XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D78XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D79XML_cfi.py
Labels: code-checks-approved, fully-signed, geometry-approved, orp-approved, tests-approved, upgrade-approved

#33099 backport: FastSim number of photoelectrons in HF simulation #33051
  FastSimulation/Calorimetry/python/Calorimetry_cff.py
Labels: fastsim-approved, fully-signed, orp-approved, tests-approved

#33068 Get rid of hardcoded GEM fedid's
  CondFormats/GEMObjects/src/GEMeMap.cc
  DataFormats/FEDRawData/interface/FEDNumbering.h
Labels: code-checks-approved, daq-approved, db-approved, fully-signed, orp-approved, tests-approved

#33089 Run3-hcx290 Use ESGetToken in CaloOnlineTools/HcalOnlineDb
  CaloOnlineTools/HcalOnlineDb/interface/HcalLutGenerator.h
  CaloOnlineTools/HcalOnlineDb/plugins/HcalLutAnalyzer.cc
  CaloOnlineTools/HcalOnlineDb/src/HcalLutGenerator.cc
  CaloOnlineTools/HcalOnlineDb/src/WriteL1TriggerObjectsTxt.cc
Labels: code-checks-approved, db-approved, fully-signed, orp-approved, tests-approved

#33114 migrate CosmicGenFilterHelix to esConsumes
  GeneratorInterface/GenFilters/plugins/CosmicGenFilterHelix.cc
  GeneratorInterface/GenFilters/plugins/CosmicGenFilterHelix.h
Labels: code-checks-approved, fully-signed, generators-approved, orp-approved, tests-approved

#33100 Consume records for mustache SC only if the mustache algo is used - 112x backport
  RecoEcal/EgammaClusterAlgos/src/PFECALSuperClusterAlgo.cc
  RecoEcal/EgammaClusterProducers/src/PFECALSuperClusterProducer.cc
Labels: backport-ok, fully-signed, orp-approved, reconstruction-approved, tests-approved

#32951 PUID UL18 for nanoAOD (backport)
  PhysicsTools/NanoAOD/python/jets_cff.py
Labels: fully-signed, orp-approved, tests-approved, xpog-approved

#33115 [RPC] Bug fix DQM/RPCMonitorClient crash due to type conversion -1 to unsigned int
  DQM/RPCMonitorClient/interface/RPCDcsInfoClient.h
  DQM/RPCMonitorClient/python/RPCDcsInfoClient_cfi.py
  DQM/RPCMonitorClient/src/RPCDcsInfoClient.cc
Labels: code-checks-approved, dqm-approved, fully-signed, orp-approved, tests-approved

#33141 Remove 11634.911 (DD4HEP) from the limited matrix
  Configuration/PyReleaseValidation/scripts/runTheMatrix.py
Labels: code-checks-approved, orp-approved, pdmv-pending, pending-signatures, tests-approved, upgrade-pending

#33104 Add per-file fillPsetDescription in RecoVertex/PrimaryVertexProducer
  Alignment/OfflineValidation/plugins/PrimaryVertexValidation.cc
  HLTrigger/Configuration/python/customizeHLTforCMSSW.py
  RecoVertex/PrimaryVertexProducer/interface/DAClusterizerInZT_vect.h
  RecoVertex/PrimaryVertexProducer/interface/DAClusterizerInZ_vect.h
  RecoVertex/PrimaryVertexProducer/interface/GapClusterizerInZ.h
  RecoVertex/PrimaryVertexProducer/interface/HITrackFilterForPVFinding.h
  RecoVertex/PrimaryVertexProducer/interface/PrimaryVertexProducer.h
  RecoVertex/PrimaryVertexProducer/interface/TrackFilterForPVFinding.h
  RecoVertex/PrimaryVertexProducer/plugins/PrimaryVertexProducer.cc
  RecoVertex/PrimaryVertexProducer/python/TkClusParameters_cff.py
  RecoVertex/PrimaryVertexProducer/src/DAClusterizerInZT_vect.cc
  RecoVertex/PrimaryVertexProducer/src/DAClusterizerInZ_vect.cc
  RecoVertex/PrimaryVertexProducer/src/GapClusterizerInZ.cc
  RecoVertex/PrimaryVertexProducer/src/TrackFilterForPVFinding.cc
Labels: alca-approved, code-checks-approved, fully-signed, hlt-approved, orp-approved, reconstruction-approved, tests-approved

#33111 Rename herwigpp tool to herwig7
  GeneratorInterface/Herwig7Interface/BuildFile.xml
  GeneratorInterface/Herwig7Interface/plugins/BuildFile.xml
Labels: fully-signed, generators-approved, orp-approved, requires-external, tests-approved

#33132 RecoMuon Validation update for phase2
  Validation/RecoMuon/plugins/MuonTrackValidator.cc
  Validation/RecoMuon/plugins/MuonTrackValidatorBase.h
  Validation/RecoMuon/python/histoParameters_cff.py
  Validation/RecoMuon/python/muonValidation_cff.py
Labels: code-checks-approved, dqm-approved, fully-signed, orp-approved, tests-approved

#33125 If SecondaryEventProvider has no modules do not create a task
  Mixing/Base/src/SecondaryEventProvider.cc
Labels: code-checks-approved, fully-signed, orp-approved, simulation-approved, tests-approved

#33129 Run3-gex62 Add debug statement to find issues in geometry definition of EB in dd4hep
  Geometry/EcalCommonData/plugins/DDEcalBarrelNewAlgo.cc
  Geometry/EcalCommonData/plugins/dd4hep/DDEcalBarrelNewAlgo.cc
Labels: code-checks-approved, fully-signed, geometry-approved, orp-approved, tests-approved, urgent

#33131 [HGCAL] Updates on the RelVal campaign scripts
  Validation/HGCalValidation/python/html.py
  Validation/HGCalValidation/scripts/hgcalPerformanceValidation.py
Labels: code-checks-approved, dqm-approved, fully-signed, orp-approved, tests-approved

#33017 [RPC] Bug fix DQM/RPCMonitorClient crash due to type conversion -1 to unsigned int
  DQM/RPCMonitorClient/interface/RPCDcsInfoClient.h
  DQM/RPCMonitorClient/python/RPCDcsInfoClient_cfi.py
  DQM/RPCMonitorClient/src/RPCDcsInfoClient.cc
Labels: dqm-approved, fully-signed, orp-approved, tests-approved, urgent

#33133 Update the HLT customisation for running over 2018 data
  HLTrigger/Configuration/python/customizeHLTforCMSSW.py
Labels: bug-fix, code-checks-approved, fully-signed, hlt-approved, orp-approved, tests-approved

#33137 Update HLT common customisations to handle SwitchProducers
  HLTrigger/Configuration/python/common.py
Labels: bug-fix, code-checks-approved, fully-signed, hlt-approved, orp-approved, tests-approved

#33091 improving PixelVertexCollectionTrimmer
  RecoPixelVertexing/PixelVertexFinding/plugins/PixelVertexCollectionTrimmer.cc
Labels: code-checks-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved

#33138 Update HLT common customisations to handle SwitchProducers
  HLTrigger/Configuration/python/common.py
Labels: backport-ok, bug-fix, fully-signed, hlt-approved, orp-approved, tests-approved

#33134 Update the HLT customisation for running over 2018 data (11.2.x)
  HLTrigger/Configuration/python/customizeHLTforCMSSW.py
Labels: backport-ok, bug-fix, fully-signed, hlt-approved, orp-approved, tests-approved

#33142 Update GTs with Ecal supercluster parameters
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, code-checks-approved, fully-signed, orp-approved, tests-approved

#33127 Devirtualize PFBlockElement daughter classes
  DataFormats/ParticleFlowReco/interface/PFBlockElementBrem.h
  DataFormats/ParticleFlowReco/interface/PFBlockElementCluster.h
  DataFormats/ParticleFlowReco/interface/PFBlockElementGsfTrack.h
  DataFormats/ParticleFlowReco/interface/PFBlockElementSuperCluster.h
  DataFormats/ParticleFlowReco/interface/PFBlockElementTrack.h
Labels: code-checks-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved

#33149 add missing buildfile dependencies to HeterogeneousCore
  HeterogeneousCore/CUDACore/BuildFile.xml
  HeterogeneousCore/CUDAServices/BuildFile.xml
  HeterogeneousCore/CUDATest/BuildFile.xml
  HeterogeneousCore/SonicTriton/BuildFile.xml
Labels: code-checks-approved, fully-signed, heterogeneous-approved, orp-approved, tests-approved

#33140 move TBB_PREVIEW_RESUMABLE_TASKS macro in tbb tool definition
  FWCore/Concurrency/interface/include_first_syncWait.h
  FWCore/Concurrency/src/SerialTaskQueue.cc
Labels: code-checks-approved, core-approved, fully-signed, orp-approved, requires-external, tests-approved

#33158 Update GTs with Ecal supercluster parameters [11_2_X]
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, backport-ok, fully-signed, orp-approved, tests-approved

#33124 Tracker DQM: Phase2 module binning and range updates
  DQM/SiTrackerPhase2/plugins/Phase2ITMonitorCluster.cc
  DQM/SiTrackerPhase2/plugins/Phase2ITMonitorRecHit.cc
  DQM/SiTrackerPhase2/plugins/Phase2OTMonitorCluster.cc
  Validation/SiTrackerPhase2V/interface/TrackerPhase2ValidationUtil.h
  Validation/SiTrackerPhase2V/plugins/Phase2ITValidateCluster.cc
  Validation/SiTrackerPhase2V/plugins/Phase2ITValidateRecHit.cc
  Validation/SiTrackerPhase2V/plugins/Phase2OTValidateCluster.cc
Labels: code-checks-approved, dqm-approved, fully-signed, orp-approved, tests-approved

#33155 Use tbb::task_arena to keep SecondaryEventProvider on same thread
  Mixing/Base/src/SecondaryEventProvider.cc
Labels: code-checks-approved, fully-signed, orp-approved, simulation-approved, tests-approved

#33163 Run3-gex62y Correct the scripts for running tests with ddd/dd4hep
  Geometry/EcalAlgo/test/python/runEcalCellDumpDD4Hep_cfg.py
  Geometry/EcalAlgo/test/python/runEcalCellDumpDDD_cfg.py
Labels: code-checks-approved, fully-signed, geometry-approved, orp-approved, tests-approved

#33161 Run3-gex62x Update the debug printing for EB geometry algorithm
  Geometry/EcalCommonData/plugins/DDEcalBarrelNewAlgo.cc
  Geometry/EcalCommonData/plugins/dd4hep/DDEcalBarrelNewAlgo.cc
Labels: code-checks-approved, fully-signed, geometry-approved, orp-approved, tests-approved

#33167 Run3-gex62z Update PrintGeomInfo to give statistics for touchables
  SimG4Core/PrintGeomInfo/interface/PrintGeomInfoAction.h
  SimG4Core/PrintGeomInfo/src/PrintGeomInfoAction.cc
  SimG4Core/PrintGeomInfo/test/python/runDD4HEP_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runDDD_cfg.py
Labels: code-checks-approved, fully-signed, orp-approved, simulation-approved, tests-approved

#33166 Touchables: can stop search at first occurence with DD4hep
  SimG4Core/Geometry/src/DD4hep_DDG4Builder.cc
Labels: code-checks-approved, fully-signed, orp-approved, simulation-approved, tests-approved

#33164 Fix G4 logical volumes assignments to production cuts regions with DD4hep
  SimG4Core/Geometry/src/DDG4ProductionCuts.cc
Labels: code-checks-approved, fully-signed, orp-approved, simulation-approved, tests-approved

#33123 Migrate rest of RecoLocalTracker to esConsumes
  RecoLocalTracker/Phase2TrackerRecHits/plugins/Phase2TrackerRecHits.cc
  RecoLocalTracker/SubCollectionProducers/interface/PixelClusterSelectorTopBottom.h
  RecoLocalTracker/SubCollectionProducers/interface/StripClusterSelectorTopBottom.h
  RecoLocalTracker/SubCollectionProducers/src/HITrackClusterRemover.cc
  RecoLocalTracker/SubCollectionProducers/src/HLTTrackClusterRemoverNew.cc
  RecoLocalTracker/SubCollectionProducers/src/JetCoreClusterSplitter.cc
  RecoLocalTracker/SubCollectionProducers/src/PixelClusterSelectorTopBottom.cc
  RecoLocalTracker/SubCollectionProducers/src/SeedClusterRemover.cc
  RecoLocalTracker/SubCollectionProducers/src/SeedClusterRemoverPhase2.cc
  RecoLocalTracker/SubCollectionProducers/src/StripClusterSelectorTopBottom.cc
Labels: code-checks-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved, upgrade-approved

#33117 [HGCAL] TiclDebugger Analyzer
  RecoHGCal/TICL/test/BuildFile.xml
  RecoHGCal/TICL/test/TiclDebugger.cc
  RecoHGCal/TICL/test/ticlDebugger_cfg.py
Labels: code-checks-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved, upgrade-approved

#33170 [UBSAN] Added missing deps to fix UBSAN build errors
  DQM/DataScouting/BuildFile.xml
  GeneratorInterface/TauolaInterface/plugins/BuildFile.xml
Labels: code-checks-approved, dqm-approved, fully-signed, generators-approved, orp-approved, tests-approved

#33175 Run3-hcx291 Recover SimHits in HF for geometries defined by DD4Hep
  Geometry/HcalCommonData/test/python/runHcalParametersFromDD4HepAnalyzer_cfg.py
  Geometry/HcalCommonData/test/python/runHcalParametersFromDDDAnalyzer_cfg.py
  SimG4CMS/Calo/plugins/HcalSimHitDump.cc
  SimG4CMS/Calo/src/HCalSD.cc
  SimG4CMS/Calo/test/python/runHFDD4HEP_cfg.py
  SimG4CMS/Calo/test/python/runHFDDD_cfg.py
  SimG4CMS/Calo/test/python/runHcalSimHitDump_cfg.py
Labels: code-checks-approved, fully-signed, geometry-approved, orp-approved, simulation-approved, tests-approved

#33128 Remove dead assignments in DataFormats/L1TrackTrigger
  DataFormats/L1TrackTrigger/src/TTTrack_TrackWord.cc
Labels: code-checks-approved, l1-pending, orp-approved, pending-signatures, tests-approved, upgrade-approved

#33110 Update unit tests for LLVM 11
  PhysicsTools/PythonAnalysis/test/BuildFile.xml
  Utilities/ReleaseScripts/test/test-clang-tidy.sh
Labels: analysis-pending, code-checks-approved, core-approved, orp-approved, pending-signatures, tests-approved

#33108 Fix Run-2 equivalent pattern assignment (CCLUT-11)
  L1Trigger/CSCTriggerPrimitives/src/CSCCathodeLCTProcessor.cc
Labels: code-checks-approved, fully-signed, l1-approved, orp-approved, tests-approved

#33174 small fixes to hltDiff
  HLTrigger/Tools/bin/hltDiff.cc
Labels: code-checks-approved, fully-signed, hlt-approved, orp-approved, tests-approved

#33050 Hcal - packing HB TDC
  EventFilter/HcalRawToDigi/plugins/HcalDigiToRawuHTR.cc
  EventFilter/HcalRawToDigi/plugins/PackerHelp.h
Labels: code-checks-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved

#33154 Run4-hgx278 Correct material budget plot for V14
  Geometry/HGCalCommonData/plugins/DDHGCalEEFileAlgo.cc
  Geometry/HGCalCommonData/plugins/DDHGCalHEFileAlgo.cc
  Geometry/HGCalCommonData/plugins/DDHGCalMixLayer.cc
  Geometry/HGCalCommonData/plugins/DDHGCalSiliconModule.cc
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalEEFileAlgo.cc
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalHEFileAlgo.cc
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalMixLayer.cc
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalSiliconModule.cc
  Geometry/HGCalCommonData/src/HGCalGeomTools.cc
  Geometry/HGCalCommonData/test/python/dumpHGCalV14_cfg.py
Labels: code-checks-approved, fully-signed, geometry-approved, orp-approved, tests-approved, upgrade-approved

#33113 Cleaning of ElectroWeakAnalysis in CMSSWReleaseDependency.rules
  Utilities/ReleaseScripts/scripts/CMSSWReleaseDependency.rules
Labels: code-checks-approved, core-approved, fully-signed, orp-approved, tests-approved

#33112 Removal of git-publish
  Utilities/ReleaseScripts/scripts/git-publish
Labels: code-checks-approved, core-approved, fully-signed, orp-approved, tests-approved

#33136 Removed unnecessary temporary variable in Callback
  FWCore/Framework/interface/Callback.h
Labels: code-checks-approved, core-approved, fully-signed, orp-approved, tests-approved

#33169 clean includes in PhotonMIPHaloTagger.h
  RecoEgamma/PhotonIdentification/interface/PhotonMIPHaloTagger.h
  RecoEgamma/PhotonIdentification/src/PhotonMIPHaloTagger.cc
Labels: code-checks-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved

#33178 [DD4Hep] Use Placement instead of TGeoCombiTrans
  Geometry/EcalCommonData/plugins/dd4hep/DDEcalBarrelNewAlgo.cc
Labels: code-checks-approved, fully-signed, geometry-approved, orp-approved, tests-approved

#33162 [DD4Hep] Make sure the test runs on dd4hep-based geometry
  Geometry/EcalAlgo/test/python/runEcalCellDumpDD4Hep_cfg.py
Labels: code-checks-approved, fully-signed, geometry-approved, orp-approved, tests-approved

#33160 DAQ FastMonitoringService refactoring and monitoring of module acquire state (11_3_X)
  EventFilter/Utilities/interface/FastMonitor.h
  EventFilter/Utilities/interface/FastMonitoringService.h
  EventFilter/Utilities/interface/FastMonitoringThread.h
  EventFilter/Utilities/interface/MicroStateService.h
  EventFilter/Utilities/interface/MicroStateServiceClassic.h
  EventFilter/Utilities/python/MicroStateService_cfi.py
  EventFilter/Utilities/src/FastMonitor.cc
  EventFilter/Utilities/src/FastMonitoringService.cc
  EventFilter/Utilities/src/FedRawDataInputSource.cc
  EventFilter/Utilities/src/MicroStateService.cc
  EventFilter/Utilities/src/MicroStateServiceClassic.cc
Labels: code-checks-approved, daq-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved

#33086 Efficiencies of CSC trigger primitives in validation step and clean-up
  DataFormats/MuonDetId/interface/CSCDetId.h
  DataFormats/MuonDetId/src/CSCDetId.cc
  Validation/CSCRecHits/interface/CSCRecHit2DValidation.h
  Validation/CSCRecHits/interface/CSCRecHitMatcher.h
  Validation/CSCRecHits/interface/CSCSegmentValidation.h
  Validation/CSCRecHits/plugins/BuildFile.xml
  Validation/CSCRecHits/plugins/CSCRecHitValidation.cc
  Validation/CSCRecHits/plugins/Module.cc
  Validation/CSCRecHits/python/cscRecHitPSet.py
  Validation/CSCRecHits/python/cscRecHitValidation_cfi.py
  Validation/CSCRecHits/src/CSCRecHit2DValidation.cc
  Validation/CSCRecHits/src/CSCRecHitMatcher.cc
  Validation/CSCRecHits/src/CSCRecHitValidation.cc
  Validation/CSCRecHits/src/CSCRecHitValidation.h
  Validation/CSCRecHits/src/CSCSegmentValidation.cc
  Validation/CSCRecHits/test/CSCOval.C
  Validation/CSCRecHits/test/cscRecHitValidation_cfg.py
  Validation/CSCRecHits/test/run.csh
  Validation/CSCRecHits/test/runCSCRecHitValidation_cfg.py
  Validation/Configuration/python/globalValidation_cff.py
  Validation/Configuration/python/postValidation_cff.py
  Validation/MuonCSCDigis/interface/CSCALCTDigiValidation.h
  Validation/MuonCSCDigis/interface/CSCBaseValidation.h
  Validation/MuonCSCDigis/interface/CSCCLCTDigiValidation.h
  Validation/MuonCSCDigis/interface/CSCComparatorDigiValidation.h
  Validation/MuonCSCDigis/interface/CSCStripDigiValidation.h
  Validation/MuonCSCDigis/interface/CSCStubEfficiencyValidation.h
  Validation/MuonCSCDigis/interface/CSCStubMatcher.h
  Validation/MuonCSCDigis/interface/CSCWireDigiValidation.h
  Validation/MuonCSCDigis/plugins/BuildFile.xml
  Validation/MuonCSCDigis/plugins/CSCDigiValidation.cc
  Validation/MuonCSCDigis/plugins/CSCDigiValidation.h
  Validation/MuonCSCDigis/plugins/Module.cc
  Validation/MuonCSCDigis/plugins/MuonCSCDigisHarvestor.cc
  Validation/MuonCSCDigis/python/PostProcessor_cff.py
  Validation/MuonCSCDigis/python/cscDigiValidation_cfi.py
  Validation/MuonCSCDigis/src/CSCALCTDigiValidation.cc
  Validation/MuonCSCDigis/src/CSCBaseValidation.cc
  Validation/MuonCSCDigis/src/CSCCLCTDigiValidation.cc
  Validation/MuonCSCDigis/src/CSCComparatorDigiValidation.cc
  Validation/MuonCSCDigis/src/CSCStripDigiValidation.cc
  Validation/MuonCSCDigis/src/CSCStubEfficiencyValidation.cc
  Validation/MuonCSCDigis/src/CSCStubMatcher.cc
  Validation/MuonCSCDigis/src/CSCWireDigiValidation.cc
  Validation/MuonCSCDigis/test/CSCOval.C
  Validation/MuonCSCDigis/test/HistoCompare.C
  Validation/MuonCSCDigis/test/run.csh
  Validation/MuonCSCDigis/test/runCSCDigiHarvesting_cfg.py
  Validation/MuonCSCDigis/test/runCSCDigiValidation_cfg.py
  Validation/MuonGEMDigis/src/GEMDigiMatcher.cc
Labels: code-checks-approved, dqm-approved, fully-signed, orp-approved, simulation-approved, tests-approved

#33076 [DD4hep] Enable DD4hep workflows to use DD4hep for the magnetic field
  Configuration/StandardSequences/python/MagneticField_cff.py
  MagneticField/GeomBuilder/plugins/dd4hep/DD4hep_VolumeBasedMagneticFieldESProducerFromDB.cc
Labels: code-checks-approved, fully-signed, operations-approved, orp-approved, reconstruction-approved, tests-approved

#33185 Run3-hcx293 Take care of different of levels in G4 tree between DDD & DD4Hep
  SimG4CMS/Calo/src/CaloSD.cc
  SimG4CMS/Calo/src/CaloTrkProcessing.cc
  SimG4CMS/Calo/test/python/runEta13_cfg.py
  SimG4CMS/Calo/test/python/runEta2_cfg.py
  SimG4CMS/Calo/test/python/runEta7_cfg.py
Labels: code-checks-approved, fully-signed, orp-approved, simulation-approved, tests-approved

#33088 fix to KineParticleFilter::acceptParticle
  FastSimulation/Event/src/KineParticleFilter.cc
Labels: code-checks-approved, fastsim-approved, fully-signed, orp-approved, tests-approved

#33062 Add esConsumes to EcalTrigPrimProducer
  SimCalorimetry/EcalTrigPrimAlgos/interface/EcalFenixStrip.h
  SimCalorimetry/EcalTrigPrimAlgos/interface/EcalFenixTcp.h
  SimCalorimetry/EcalTrigPrimAlgos/interface/EcalTrigPrimFunctionalAlgo.h
  SimCalorimetry/EcalTrigPrimAlgos/src/EcalFenixStrip.cc
  SimCalorimetry/EcalTrigPrimAlgos/src/EcalFenixTcp.cc
  SimCalorimetry/EcalTrigPrimAlgos/src/EcalTrigPrimFunctionalAlgo.cc
  SimCalorimetry/EcalTrigPrimProducers/plugins/EcalTrigPrimProducer.cc
  SimCalorimetry/EcalTrigPrimProducers/plugins/EcalTrigPrimProducer.h
  SimCalorimetry/EcalTrigPrimProducers/plugins/SealModules.cc
Labels: code-checks-approved, fully-signed, l1-approved, orp-approved, tests-approved

#33183 Remove ESProducers for ECAL Mustache parameters from configuration
  RecoEcal/EgammaClusterProducers/python/particleFlowSuperClusterECAL_cfi.py
Labels: code-checks-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved

#33165 Utilities/StaticAnalyzer: EventSetupRecord::get static check: Add calls to get made in non-member functions
  Utilities/StaticAnalyzers/src/ESRecordGetChecker.cpp
  Utilities/StaticAnalyzers/src/ESRecordGetChecker.h
Labels: code-checks-approved, core-approved, fully-signed, orp-approved, tests-approved

#33187 Clean header includes and BuildFile in PhotonIdentification
  RecoEgamma/PhotonIdentification/BuildFile.xml
  RecoEgamma/PhotonIdentification/interface/PhotonIsolationCalculator.h
  RecoEgamma/PhotonIdentification/interface/PhotonMIPHaloTagger.h
  RecoEgamma/PhotonIdentification/src/PhotonIsolationCalculator.cc
  RecoEgamma/PhotonIdentification/src/PhotonMIPHaloTagger.cc
Labels: code-checks-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved

#33122 Utilities/StaticAnalyzers: group callstacks in EventSetupRecord::get report by package directory and producer
  Utilities/StaticAnalyzers/scripts/callgraph.py
  Utilities/StaticAnalyzers/scripts/create_statics_esd_reports.sh
  Utilities/StaticAnalyzers/scripts/module_to_package.yaml
Labels: code-checks-approved, core-approved, fully-signed, orp-approved, tests-approved

#33121 migrate RecoPixelVertexing/PixelLowPtUtilities to esConsumes
  RecoPixelVertexing/PixelLowPtUtilities/BuildFile.xml
  RecoPixelVertexing/PixelLowPtUtilities/bin/PixelClusterShapeExtractor.cc
  RecoPixelVertexing/PixelLowPtUtilities/interface/PixelTripletLowPtGenerator.h
  RecoPixelVertexing/PixelLowPtUtilities/interface/StripSubClusterShapeTrajectoryFilter.h
  RecoPixelVertexing/PixelLowPtUtilities/plugins/PixelVertexProducerClusters.cc
  RecoPixelVertexing/PixelLowPtUtilities/plugins/PixelVertexProducerClusters.h
  RecoPixelVertexing/PixelLowPtUtilities/plugins/PixelVertexProducerMedian.cc
  RecoPixelVertexing/PixelLowPtUtilities/plugins/PixelVertexProducerMedian.h
  RecoPixelVertexing/PixelLowPtUtilities/plugins/SiPixelClusterShapeCacheProducer.cc
  RecoPixelVertexing/PixelLowPtUtilities/plugins/TrackFitterProducer.cc
  RecoPixelVertexing/PixelLowPtUtilities/src/PixelTripletLowPtGenerator.cc
  RecoPixelVertexing/PixelLowPtUtilities/src/StripSubClusterShapeTrajectoryFilter.cc
Labels: code-checks-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved

#33157 return valid only finite pathLength in plane crossings algorithms in TrackingTools
  RecoTracker/TkDetLayers/src/TECLayer.cc
  TrackingTools/GeomPropagators/interface/HelixForwardPlaneCrossing.h
  TrackingTools/GeomPropagators/src/StraightLinePlaneCrossing.cc
Labels: code-checks-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved

#33143 Clean BuildFiles, fix typo and add source_only flags to fix warnings
  CalibMuon/DTCalibration/plugins/BuildFile.xml
  DQM/GEM/BuildFile.xml
  DQM/GEM/plugins/BuildFile.xml
  DQM/SiStripMonitorSummary/plugins/BuildFile.xml
  DataFormats/DTDigi/BuildFile.xml
  DataFormats/HLTReco/BuildFile.xml
  GeneratorInterface/LHEInterface/plugins/BuildFile.xml
  Geometry/VeryForwardGeometry/BuildFile.xml
  L1Trigger/L1CaloTrigger/BuildFile.xml
  L1Trigger/L1CaloTrigger/plugins/BuildFile.xml
  RecoLocalTracker/SiPixelClusterizer/plugins/BuildFile.xml
  RecoTracker/TkSeedGenerator/plugins/BuildFile.xml
  SimDataFormats/CrossingFrame/BuildFile.xml
  SimDataFormats/DigiSimLinks/BuildFile.xml
  SimPPS/PPSPixelDigiProducer/BuildFile.xml
Labels: alca-approved, code-checks-approved, dqm-approved, fully-signed, generators-approved, geometry-approved, hlt-approved, l1-approved, orp-approved, reconstruction-approved, simulation-approved, tests-approved, upgrade-approved

#33139 Update new Phase2C11xx eras by adding the etlV4 modifier
  Configuration/Eras/python/Era_Phase2C11I13M9_cff.py
  Configuration/Eras/python/Era_Phase2C11I13T22M9_cff.py
  Configuration/Eras/python/Era_Phase2C11I13T23M9_cff.py
  Configuration/Eras/python/Era_Phase2C11I13_cff.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  Configuration/StandardSequences/python/Eras.py
Labels: bug-fix, code-checks-approved, fully-signed, operations-approved, orp-approved, pdmv-approved, tests-approved, upgrade-approved, urgent

#33171 initialize variables to fix compiler warnings
  CondTools/Ecal/src/EcalTPGWeightIdMapHandler.cc
  L1Trigger/TrackFindingTracklet/src/PurgeDuplicate.cc
Labels: code-checks-approved, db-pending, l1-approved, orp-approved, pending-signatures, tests-approved

#33119 Cross-correlation algorithm for the ECAL timing reconstruction
  RecoLocalCalo/EcalRecAlgos/interface/EcalUncalibRecHitTimingCCAlgo.h
  RecoLocalCalo/EcalRecAlgos/src/EcalUncalibRecHitTimingCCAlgo.cc
  RecoLocalCalo/EcalRecProducers/plugins/EcalUncalibRecHitWorkerMultiFit.cc
  RecoLocalCalo/EcalRecProducers/plugins/EcalUncalibRecHitWorkerMultiFit.h
  RecoLocalCalo/EcalRecProducers/python/ecalMultiFitUncalibRecHit_cfi.py
  RecoLocalCalo/EcalRecProducers/test/testEcalUncalibRechitProducerWithCC_cfg.py
Labels: code-checks-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved

#33173 Run4-278X Bug fix for allowing more scintillator cells beyond Digi
  Geometry/CaloTopology/interface/HGCalTopology.h
  Geometry/CaloTopology/src/HGCalTopology.cc
  Geometry/HGCalCommonData/test/python/runHGCalTestV14_cfg.py
  Geometry/HGCalCommonData/test/python/testHGCalParametersDDDV15_cfg.py
  Geometry/HGCalGeometry/src/HGCalGeometry.cc
  Geometry/HGCalGeometry/src/HGCalGeometryLoader.cc
  SimG4CMS/Calo/plugins/BuildFile.xml
  SimG4CMS/Calo/plugins/HGCalHitIdCheck.cc
  SimG4CMS/Calo/python/hgcalHitIdCheck_cff.py
  SimG4CMS/Calo/src/HGCalNumberingScheme.cc
  SimG4CMS/Calo/test/python/runHGC4_cfg.py
Labels: code-checks-approved, fully-signed, geometry-approved, orp-approved, simulation-approved, tests-approved, upgrade-approved, urgent

#33193 Fix on the indexing of VFATs in GEM onlineDQM
  DQM/GEM/interface/GEMDQMBase.h
  DQM/GEM/plugins/GEMDAQStatusSource.cc
  DQM/GEM/plugins/GEMDigiSource.cc
Labels: code-checks-approved, dqm-approved, fully-signed, orp-approved, tests-approved

#33126 restrict FastTimerService to default arena
  HLTrigger/Timer/plugins/FastTimerService.cc
Labels: hlt-pending, hold, orp-approved, pending-signatures, tests-approved

#33146 Add displaced muon info from EMTF to RegionalMuonCand (un)packing and to uGMT DQM
  DQM/L1TMonitor/interface/L1TStage2RegionalMuonCandComp.h
  DQM/L1TMonitor/interface/L1TStage2uGMT.h
  DQM/L1TMonitor/python/L1TStage2BMTF_cff.py
  DQM/L1TMonitor/python/L1TStage2uGMT_cff.py
  DQM/L1TMonitor/python/L1TdeStage2BMTFSecond_cff.py
  DQM/L1TMonitor/python/L1TdeStage2BMTF_cfi.py
  DQM/L1TMonitor/python/L1TdeStage2uGMT_cff.py
  DQM/L1TMonitor/src/L1TStage2MuonComp.cc
  DQM/L1TMonitor/src/L1TStage2RegionalMuonCandComp.cc
  DQM/L1TMonitor/src/L1TStage2uGMT.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/GMTSetup.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/RegionalMuonGMTPacker.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/RegionalMuonGMTPacker.h
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/RegionalMuonGMTUnpacker.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/RegionalMuonGMTUnpacker.h
  L1Trigger/L1TMuon/interface/RegionalMuonRawDigiTranslator.h
  L1Trigger/L1TMuon/src/RegionalMuonRawDigiTranslator.cc
Labels: code-checks-approved, dqm-approved, fully-signed, l1-approved, orp-approved, tests-approved

#33192 Fix on the indexing of VFATs in GEM onlineDQM, backport to CMSSW_11_2_X
  DQM/GEM/interface/GEMDQMBase.h
  DQM/GEM/plugins/GEMDAQStatusSource.cc
  DQM/GEM/plugins/GEMDigiSource.cc
Labels: backport-ok, dqm-approved, fully-signed, orp-approved, tests-approved

#33144 remove boost/filesystem usage
  CondCore/Utilities/src/CondDBTools.cc
  DQMServices/FwkIO/plugins/BuildFile.xml
  DQMServices/FwkIO/plugins/DQMRootOutputModule.cc
  DQMServices/StreamerIO/plugins/DQMFileIterator.cc
  DQMServices/StreamerIO/plugins/RamdiskMonitor.cc
  EventFilter/Utilities/plugins/RawEventFileWriterForBU.cc
  EventFilter/Utilities/src/EvFDaqDirector.cc
  EventFilter/Utilities/src/FastMonitor.cc
  EventFilter/Utilities/src/FedRawDataInputSource.cc
  HLTrigger/Tools/bin/BuildFile.xml
  HLTrigger/Tools/bin/hltDiff.cc
  PhysicsTools/MXNet/test/BuildFile.xml
  PhysicsTools/ONNXRuntime/test/BuildFile.xml
  PhysicsTools/TensorFlow/test/testBase.h
  RecoLuminosity/LumiProducer/plugins/DIPLumiProducer.cc
  Utilities/LStoreAdaptor/BuildFile.xml
Labels: code-checks-approved, core-approved, daq-approved, db-approved, dqm-approved, fully-signed, hlt-approved, orp-approved, reconstruction-approved, tests-approved

#33098 Migration to DD4hep for ME0 db Loader
  CondTools/Geometry/plugins/ME0RecoIdealDBLoader.cc
  CondTools/Geometry/test/me0geometrywriter.py
  CondTools/Geometry/test/writehelpers/geometryExtended2026_writer.py
  CondTools/Geometry/test/writehelpers/geometryExtended2026_xmlwriter.py
  CondTools/Geometry/test/writehelpers/splitExtended2026Database.sh
  Geometry/GEMGeometryBuilder/plugins/ME0GeometryESModule.cc
  Geometry/GEMGeometryBuilder/src/ME0GeometryParsFromDD.cc
  Geometry/GEMGeometryBuilder/src/ME0GeometryParsFromDD.h
Labels: code-checks-approved, db-approved, fully-signed, geometry-approved, orp-approved, tests-approved, upgrade-approved

#33105 Better destructor behavior for SiPixelTemplateStore2D
  CondFormats/SiPixelTransient/interface/SiPixelTemplate2D.h
  CondFormats/SiPixelTransient/src/SiPixelTemplate2D.cc
  RecoLocalTracker/SiPixelRecHits/src/PixelCPEClusterRepair.cc
Labels: code-checks-approved, db-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved

#33202 Rewrite SimActivityRegistryEnroller with variadic types
  SimG4Core/Notification/interface/SimActivityRegistry.h
  SimG4Core/Notification/interface/SimActivityRegistryEnroller.h
  SimG4Core/Notification/test/BuildFile.xml
  SimG4Core/Notification/test/simactivityregistryNew_t.cppunit.cpp
Labels: code-checks-approved, fully-signed, orp-approved, simulation-approved, tests-approved

#33204 adding MultiplicityValueProducers (HLT Phase-2 TDR)
  HLTrigger/JetMET/plugins/BuildFile.xml
  HLTrigger/JetMET/plugins/HLTMultiplicityValueProducer.h
  HLTrigger/JetMET/plugins/HLTMultiplicityValueProducerFromNestedCollection.cc
  HLTrigger/JetMET/plugins/HLTMultiplicityValueProducerFromNestedCollection.h
Labels: allow-missirol, code-checks-approved, fully-signed, hlt-approved, orp-approved, tests-approved

#33207 replace explicit configuration of puppi with a reference from cfipython/, generated by PuppiProducer::fillDescriptions
  CommonTools/PileupAlgos/python/Puppi_cff.py
Labels: code-checks-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved

#33195 Run3-gex63 Clean up the debug statements for ECAL algos
  Geometry/EcalCommonData/plugins/DDEcalBarrelNewAlgo.cc
  Geometry/EcalCommonData/plugins/dd4hep/DDEcalBarrelNewAlgo.cc
  Geometry/EcalCommonData/plugins/dd4hep/DDEcalPreshowerAlgo.cc
Labels: code-checks-approved, fully-signed, geometry-approved, orp-approved, tests-approved

#33168 treat a predicted state too far as invalid in CosmicMuonSmoother
  RecoMuon/CosmicMuonProducer/src/CosmicMuonSmoother.cc
Labels: code-checks-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved

#33198 DAQ: input source update and new output module for tests (11_3_X)
  EventFilter/Utilities/interface/FastMonitoringService.h
  EventFilter/Utilities/interface/FedRawDataInputSource.h
  EventFilter/Utilities/plugins/FRDOutputModule.cc
  EventFilter/Utilities/plugins/FRDOutputModule.h
  EventFilter/Utilities/plugins/RawEventFileWriterForBU.h
  EventFilter/Utilities/plugins/RawEventOutputModuleForBU.h
  EventFilter/Utilities/plugins/modules.cc
  EventFilter/Utilities/src/EvFDaqDirector.cc
  EventFilter/Utilities/src/EvFOutputModule.cc
  EventFilter/Utilities/src/FedRawDataInputSource.cc
  EventFilter/Utilities/test/frdOutput.py
Labels: code-checks-approved, daq-approved, fully-signed, orp-approved, reconstruction-approved, tests-approved

#33181 MTD geometry/reconstruction: update tests, invert order of forward DetLayers
  Geometry/MTDGeometryBuilder/test/MTDDigiGeometryAnalyzer.cc
  RecoMTD/DetLayers/plugins/ETLDetLayerGeometryBuilder.cc
  RecoMTD/DetLayers/test/MTDRecoGeometryAnalyzer.cc
  RecoMTD/TrackExtender/plugins/TrackExtenderWithMTD.cc
Labels: code-checks-approved, fully-signed, geometry-approved, orp-approved, reconstruction-approved, tests-approved, upgrade-approved

#33199 Run3-hcx294 Update HCAL code in material budget studies for DD4HEP
  Validation/Geometry/src/MaterialBudgetHcalHistos.cc
  Validation/Geometry/test/runP_HCAL_Debug_dd4hep_cfg.py
Labels: code-checks-approved, dqm-approved, fully-signed, geometry-approved, orp-approved, tests-approved

#33205 [11_1_X] adding MultiplicityValueProducer* plugins (HLT Phase-2 TDR)
  HLTrigger/JetMET/plugins/BuildFile.xml
  HLTrigger/JetMET/plugins/HLTMultiplicityValueProducer.h
  HLTrigger/JetMET/plugins/HLTMultiplicityValueProducerFromNestedCollection.cc
  HLTrigger/JetMET/plugins/HLTMultiplicityValueProducerFromNestedCollection.h
Labels: fully-signed, hlt-approved, orp-approved, tests-approved

#33184 Remove ESProducers for ECAL Mustache parameters from configuration - 11_2_X
  RecoEcal/EgammaClusterProducers/python/particleFlowSuperClusterECAL_cfi.py
Labels: alca-approved, backport-ok, fully-signed, orp-approved, reconstruction-approved, tests-approved
