Repository cms-sw/cmssw, pull requests merged in 2021-10, with the labels that each got.

#35483 SiStripCalCosmicsNano ALCANANO: produce NANOEDMAOD
  CalibTracker/SiStripCommon/python/customiseAlCaNano.py
  Configuration/Applications/python/ConfigBuilder.py
Labels: alca-approved, operations-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35494 Utilities/StaticAnalyzer: Update ESR::get report generator with deprecated_get end point function.
  Utilities/StaticAnalyzers/scripts/callgraph.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35485 Run3-alca205B Update a few HcalAlCaReco code to conform with the standard
  Calibration/HcalAlCaRecoProducers/plugins/AlCaDiJetsProducer.cc
  Calibration/HcalAlCaRecoProducers/plugins/AlCaEcalHcalReadoutsProducer.cc
  Calibration/HcalAlCaRecoProducers/plugins/AlCaHcalNoiseProducer.cc
  Calibration/HcalAlCaRecoProducers/python/alcaiterphisym_cfi.py
  Calibration/HcalAlCaRecoProducers/python/alcaminbias_cfi.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35475 Added esConsumes to ConversionSeedFinder
  RecoEgamma/EgammaPhotonAlgos/interface/ConversionSeedFinder.h
  RecoEgamma/EgammaPhotonAlgos/src/ConversionSeedFinder.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35451 update `BeamSpotOnline` Payload Inspector to include the newly added parameters for DIP
  CondCore/BeamSpotPlugins/interface/BeamSpotPayloadInspectorHelper.h
  CondCore/BeamSpotPlugins/plugins/BeamSpotOnline_PayloadInspector.cc
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#35479 Include final DDD geometry in Run-3 GTs
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35486 [EGM HLT] Produce sigma_IPhi_IPhi, needed for regression
  RecoEgamma/EgammaHLTProducers/plugins/EgammaHLTClusterShapeProducer.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35472 Fix for O2O tests requiring to read runinfo payload
  CondCore/Utilities/scripts/conddb
  CondTools/Ecal/test/EcalIntercalibConstants_O2O_test.sh
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#35497 Fix the HLT GPU customisation for running on the CPU
  HLTrigger/Configuration/python/customizeHLTforPatatrack.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35285 reduce size of isOuterHitOfCell in patatrack
  CUDADataFormats/SiPixelCluster/interface/SiPixelClustersCUDA.h
  CUDADataFormats/TrackingRecHit/interface/TrackingRecHit2DHeterogeneous.h
  CUDADataFormats/TrackingRecHit/test/TrackingRecHit2DCUDA_t.cpp
  RecoLocalTracker/SiPixelClusterizer/plugins/SiPixelRawToClusterGPUKernel.cu
  RecoLocalTracker/SiPixelClusterizer/plugins/SiPixelRawToClusterGPUKernel.h
  RecoLocalTracker/SiPixelRecHits/plugins/PixelRecHitGPUKernel.cu
  RecoLocalTracker/SiPixelRecHits/plugins/SiPixelRecHitSoAFromLegacy.cc
  RecoPixelVertexing/PixelTriplets/plugins/CAConstants.h
  RecoPixelVertexing/PixelTriplets/plugins/CAHitNtupletGeneratorKernels.cc
  RecoPixelVertexing/PixelTriplets/plugins/CAHitNtupletGeneratorKernels.cu
  RecoPixelVertexing/PixelTriplets/plugins/CAHitNtupletGeneratorKernels.h
  RecoPixelVertexing/PixelTriplets/plugins/CAHitNtupletGeneratorKernelsImpl.h
  RecoPixelVertexing/PixelTriplets/plugins/GPUCACell.h
  RecoPixelVertexing/PixelTriplets/plugins/gpuFishbone.h
  RecoPixelVertexing/PixelTriplets/plugins/gpuPixelDoublets.h
  RecoPixelVertexing/PixelTriplets/plugins/gpuPixelDoubletsAlgos.h
  RecoPixelVertexing/PixelTriplets/test/CAsizes_t.cpp
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#35477 Improve PluginDescription with VPSets
  FWCore/Integration/test/ProducerWithPSetDesc.cc
  FWCore/Integration/test/unit_test_outputs/testProducerWithPsetDesc_briefdoc.txt
  FWCore/Integration/test/unit_test_outputs/testProducerWithPsetDesc_cfi.py
  FWCore/Integration/test/unit_test_outputs/testProducerWithPsetDesc_doc.txt
  FWCore/ParameterSet/interface/PluginDescription.h
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35482 New DQM plugin for monitoring the association of vertices and tracks
  Validation/Configuration/python/mtdSimValid_cff.py
  Validation/MtdValidation/plugins/BuildFile.xml
  Validation/MtdValidation/plugins/Primary4DVertexValidation.cc
  Validation/MtdValidation/test/mtdValidation_cfg.py
Labels: dqm-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35487 Run3-gex95 Introduce the corrected material files for modified tracker geometry of Run3
  Configuration/Geometry/README.md
  Configuration/Geometry/python/dict2021Geometry.py
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021FlatMinus05Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021FlatMinus10Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021FlatPlus05Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021FlatPlus10Percent.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometry2021FlatMinus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2021FlatMinus10PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2021FlatPlus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2021FlatPlus10PercentXML_cfi.py
  Geometry/TrackerCommonData/test/python/run21Zero.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#35484 PPS: RP id update in DQM common
  DQM/CTPPS/plugins/CTPPSCommonDQMSource.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35499 Run3-alca205C Modernize several AlCaRecoProducers for HGCal
  Calibration/HcalAlCaRecoProducers/plugins/AlCaIsoTracksFilter.cc
  Calibration/HcalAlCaRecoProducers/plugins/AlCaIsoTracksProducer.cc
  Calibration/HcalAlCaRecoProducers/plugins/AlCaIsoTracksProducerFilter.cc
  Calibration/HcalAlCaRecoProducers/plugins/AlCaIsolatedBunchFilter.cc
  Calibration/HcalAlCaRecoProducers/plugins/AlCaIsolatedBunchSelector.cc
  Calibration/HcalAlCaRecoProducers/plugins/ProducerAnalyzer.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35442 O2O test setup modified to work across boost version changes [10_6_X]
  CondCore/Utilities/interface/Payload2XMLModule.h
  CondCore/Utilities/plugins/Module_2XML.cc
  CondCore/Utilities/python/cond2xml.py
  CondCore/Utilities/scripts/conddb
  CondTools/Ecal/test/EcalIntercalibConstants_O2O_test.sh
Labels: fully-signed, tests-approved, db-approved, orp-approved, backport-ok

#35443 Fix UL 2016 training pileup ID cut values for Tight and Loose working points
  RecoJets/JetProducers/python/PileupJetIDCutParams_cfi.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35431 ParameterizedSubtractor now calls base class implmentation
  RecoHI/HiJetAlgos/src/ParametrizedSubtractor.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35413 Migrate some code in RecoTracker/ConversionSeedGenerators to esConsumes
  RecoTracker/ConversionSeedGenerators/plugins/PhotonConversionTrajectorySeedProducerFromSingleLegAlgo.cc
  RecoTracker/ConversionSeedGenerators/plugins/PhotonConversionTrajectorySeedProducerFromSingleLegAlgo.h
  RecoTracker/ConversionSeedGenerators/plugins/SeedForPhotonConversion1Leg.cc
  RecoTracker/ConversionSeedGenerators/plugins/SeedForPhotonConversion1Leg.h
  RecoTracker/ConversionSeedGenerators/plugins/SeedForPhotonConversionFromQuadruplets.cc
  RecoTracker/ConversionSeedGenerators/plugins/SeedForPhotonConversionFromQuadruplets.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35419 Migrate module config in EventFilter{RPCRawToDigi} to use default cfipython
  EventFilter/RPCRawToDigi/python/RPCCPPFRawToDigi_cfi.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35464 introduce `auto:phase1_2021_dd4hep` and use it in RelVals
  Configuration/AlCa/python/autoCond.py
  Configuration/AlCa/python/autoCondModifiers.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
Labels: alca-approved, geometry-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#35424 PPS: Run3 alignment fix for direct simulation
  Geometry/VeryForwardGeometry/python/geometryRPFromDD_2021_cfi.py
  Geometry/VeryForwardGeometry/python/geometryRPFromDD_2022_cfi.py
  Geometry/VeryForwardGeometry/python/v1/geometryRPFromDD_2022_cfi.py
  Validation/CTPPS/alignment/2021.xml
  Validation/CTPPS/alignment/alignment_2022.xml
  Validation/CTPPS/python/simu_config/year_2022_cff.py
Labels: dqm-approved, geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35509 Run3-205D Last step for modernize the HCAL AlCaReco producers
  Calibration/HcalAlCaRecoProducers/plugins/AlCaGammaJetProducer.cc
  Calibration/HcalAlCaRecoProducers/plugins/AlCaGammaJetSelector.cc
  Calibration/HcalAlCaRecoProducers/plugins/AlCaHOCalibProducer.cc
  Calibration/HcalAlCaRecoProducers/plugins/PrescalerFHN.cc
  Calibration/HcalAlCaRecoProducers/python/alcagammajet_cfi.py
  Calibration/HcalAlCaRecoProducers/python/alcahomuon_cfi.py
  Calibration/HcalAlCaRecoProducers/python/alcahomuoncosmics_cfi.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35500 SciLayer8 4mm sipm rad max added
  SimCalorimetry/HGCalSimProducers/data/sipmParams_geom-10.txt
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#35511 Phase2-hgx290 Provide better description of HGCal geometry description
  Configuration/Geometry/README.md
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#35514 Include final 2021 MC DD4HEP geometry tags + new 2021 design MC beamspot GT
  Configuration/AlCa/python/autoCond.py
  Configuration/AlCa/python/autoCondModifiers.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, urgent, requires-external, code-checks-approved

#35498 [XrdAdaptor] Delay additional source acquisition when redirect limit error is returned.
  Utilities/XrdAdaptor/src/XrdRequestManager.cc
  Utilities/XrdAdaptor/src/XrdRequestManager.h
Labels: core-approved, fully-signed, tests-approved, orp-approved

#35444 Migrate Egamma-Electools to use esConsumes
  EgammaAnalysis/ElectronTools/plugins/CalibratedElectronProducersRun2.cc
  EgammaAnalysis/ElectronTools/plugins/EGammaCutBasedEleIdAnalyzer.cc
  EgammaAnalysis/ElectronTools/plugins/ElectronIdMVAProducer.cc
  EgammaAnalysis/ElectronTools/plugins/ElectronIsolatorFromEffectiveArea.cc
  EgammaAnalysis/ElectronTools/plugins/ElectronPATIdMVAProducer.cc
  EgammaAnalysis/ElectronTools/plugins/ElectronRegressionEnergyProducer.cc
  EgammaAnalysis/ElectronTools/plugins/GBRForestGetterFromDB.cc
  EgammaAnalysis/ElectronTools/plugins/PatElectronEAIsoCorrectionProducer.cc
  EgammaAnalysis/ElectronTools/plugins/PhotonIsoProducer.cc
  EgammaAnalysis/ElectronTools/plugins/RegressionEnergyPatElectronProducer.cc
  EgammaAnalysis/ElectronTools/plugins/RegressionEnergyPatElectronProducer.h
Labels: analysis-pending, pending-signatures, tests-approved, orp-approved, code-checks-approved

#35517 [10_2_X] Backport of O2O test setup modified to work across boost version changes
  CondCore/Utilities/interface/Payload2XMLModule.h
  CondCore/Utilities/plugins/Module_2XML.cc
  CondCore/Utilities/python/cond2xml.py
  CondCore/Utilities/scripts/conddb
  CondTools/Ecal/test/EcalIntercalibConstants_O2O_test.sh
Labels: fully-signed, tests-approved, db-approved, bug-fix, orp-approved, backport-ok

#35493 [bugfix] Adding protection for empty trajectory
  TrackingTools/TrajectoryFiltering/interface/MinHitsTrajectoryFilter.h
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved

#35502 ECAL - Remove obsolete classes and modules
  Calibration/Tools/interface/TrackAssociator.h
  Calibration/Tools/plugins/ElectronSqPtTkIsolation.cc
  Calibration/Tools/plugins/ElectronSqPtTkIsolation.h
  Calibration/Tools/plugins/ElectronSqPtTkIsolationProducer.cc
  Calibration/Tools/plugins/ElectronSqPtTkIsolationProducer.h
  Calibration/Tools/plugins/SealModule.cc
  Calibration/Tools/src/TrackAssociator.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35473 remove runtime recursion from find_ntuplets in Patatrack
  RecoPixelVertexing/PixelTriplets/plugins/CAHitNtupletGeneratorKernelsImpl.h
  RecoPixelVertexing/PixelTriplets/plugins/GPUCACell.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#35525 make gpu Pixel Cluster Charge Cut consistent with legacy cpu version
  RecoLocalTracker/SiPixelClusterizer/plugins/gpuClusterChargeCut.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#35491 [DQM] Remove DQM reference histogram Rcd
  CondTools/DQM/interface/DQMReferenceHistogramRootFileSourceHandler.h
  CondTools/DQM/plugins/BuildFile.xml
  CondTools/DQM/plugins/DQMReferenceHistogramRootFileEventSetupAnalyzer.cc
  CondTools/DQM/plugins/DQMReferenceHistogramRootFilePopConAnalyzer.cc
  CondTools/DQM/python/DQMReferenceHistogramRootFileEventSetupAnalyzer_OrcoffOnly_cfi.py
  CondTools/DQM/python/DQMReferenceHistogramRootFileEventSetupAnalyzer_SQLiteOnly_cfi.py
  CondTools/DQM/python/DQMReferenceHistogramRootFileEventSetupAnalyzer_cfi.py
  CondTools/DQM/src/DQMReferenceHistogramRootFileSourceHandler.cc
  CondTools/DQM/test/DQMReferenceHistogramRootFileEventSetupAnalyzer_OrcoffOnly_cfg.py
  CondTools/DQM/test/DQMReferenceHistogramRootFileEventSetupAnalyzer_SQLiteOnly_cfg.py
  CondTools/DQM/test/DQMReferenceHistogramRootFileEventSetupAnalyzer_cfg.py
  CondTools/DQM/test/DQMReferenceHistogramRootFileTest.py
  CondTools/DQM/test/DQMReferenceHistogramRootFile_PopCon_cfg.py
  CondTools/DQM/test/DQMXMLFileEventSetupAnalyzer_cfg.py
  DQM/Integration/scripts/harvesting_tools/cmsHarvester.py
  DQMOffline/Muon/test/DQMOffline_SecondStep_cff.py
Labels: dqm-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#35528 Fix thread-safety problems with CSC simhit fitting in validation
  Validation/MuonHits/BuildFile.xml
  Validation/MuonHits/src/CSCSimHitMatcher.cc
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#35326 Throw an exception if a module requiring synchronization on lumi boundaries is used when concurrent lumis are enabled
  FWCore/Concurrency/test/streamGrapher_stallMonitor_cfg.py
  FWCore/Framework/interface/EventProcessor.h
  FWCore/Framework/src/EventProcessor.cc
  FWCore/Framework/test/BuildFile.xml
  FWCore/Framework/test/run_module_synch_lumiboundary.sh
  FWCore/Framework/test/test_mayConsumes_deadlocking_cfg.py
  FWCore/Framework/test/test_module_synch_lumiboundary_cfg.py
  FWCore/Framework/test/test_no_concurrent_module_cfg.py
  FWCore/Framework/test/test_one_modules_cfg.py
  FWCore/Integration/test/TestParentage.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35530 Removes boost erase_all dependency
  DQMServices/StreamerIO/plugins/DQMStreamerReader.cc
  FWCore/Framework/src/EventSelector.cc
Labels: core-approved, dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35429 GEM unpacker - allow custom FEDIDs to be unpacked
  EventFilter/GEMRawToDigi/plugins/GEMRawToDigiModule.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35533 Remove `DQMReferenceHistogramRootFileRcd` from all GTs
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35534 Conddb tools: bug fix for python3 related issue
  CondCore/Utilities/scripts/conddb
Labels: fully-signed, tests-approved, db-approved, bug-fix, orp-approved, code-checks-approved

#35536 [DQM] Fix hcal calib 12_1_X
  DQM/HcalTasks/python/QIE10Task.py
  DQM/HcalTasks/python/QIE11Task.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35515 [120X] Include new ideal beamspot records in Run-3 MC design GT
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved

#35492 Update of mkFit for 12_1_0_pre4
  RecoTracker/MkFit/interface/MkFitGeometry.h
  RecoTracker/MkFit/plugins/MkFitGeometryESProducer.cc
  RecoTracker/MkFit/plugins/MkFitIterationConfigESProducer.cc
  RecoTracker/MkFit/plugins/MkFitOutputConverter.cc
  RecoTracker/MkFit/plugins/createPhase1TrackerGeometry.cc
  RecoTracker/MkFit/plugins/createPhase1TrackerGeometry.h
  RecoTracker/MkFit/plugins/createPhase1TrackerGeometryAutoGen.acc
  RecoTracker/MkFit/src/MkFitGeometry.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#35457 Enable mkFit in InitialStepPreSplitting,InitialStep,HighPtTripletStep,DetachedQuadStep tracking iterations for phase1 pixel era, except for HI and special 2017 tracking eras
  Configuration/Eras/python/Era_Phase2_cff.py
  Configuration/Eras/python/Era_Run2_2017_cff.py
  Configuration/Eras/python/Era_Run2_2017_ppRef_cff.py
  Configuration/Eras/python/Era_Run2_2017_pp_on_XeXe_cff.py
  Configuration/Eras/python/Era_Run2_2018_pp_on_AA_cff.py
  Configuration/Eras/python/Era_Run3_noMkFit_cff.py
  Configuration/Eras/python/Era_Run3_pp_on_PbPb_cff.py
  Configuration/Eras/python/ModifierChain_run2_2017_noTrackingModifier_cff.py
  Configuration/Eras/python/ModifierChain_trackingMkFitProd_cff.py
  Configuration/StandardSequences/python/Eras.py
  RecoHI/HiMuonAlgos/python/HiRegitMuonDetachedTripletStep_cff.py
  RecoHI/HiMuonAlgos/python/HiRegitMuonInitialStep_cff.py
  RecoHI/HiMuonAlgos/python/HiRegitMuonMixedTripletStep_cff.py
  RecoHI/HiMuonAlgos/python/HiRegitMuonPixelLessStep_cff.py
  RecoHI/HiMuonAlgos/python/HiRegitMuonPixelPairStep_cff.py
  RecoHI/HiTracking/python/hiMixedTripletStep_cff.py
  RecoHI/HiTracking/python/hiPixelLessStep_cff.py
  RecoHI/HiTracking/python/hiRegitDetachedTripletStep_cff.py
  RecoHI/HiTracking/python/hiRegitInitialStep_cff.py
  RecoHI/HiTracking/python/hiRegitLowPtTripletStep_cff.py
  RecoHI/HiTracking/python/hiRegitMixedTripletStep_cff.py
  RecoHI/HiTracking/python/hiRegitPixelPairStep_cff.py
  RecoHI/HiTracking/python/hiTobTecStep_cff.py
  RecoTracker/IterativeTracking/python/DetachedTripletStep_cff.py
  RecoTracker/IterativeTracking/python/InitialStepPreSplitting_cff.py
  RecoTracker/IterativeTracking/python/InitialStep_cff.py
  RecoTracker/IterativeTracking/python/LowPtTripletStep_cff.py
  RecoTracker/IterativeTracking/python/MixedTripletStep_cff.py
  RecoTracker/IterativeTracking/python/PixelLessStep_cff.py
  RecoTracker/IterativeTracking/python/PixelPairStep_cff.py
  RecoTracker/IterativeTracking/python/TobTecStep_cff.py
  RecoTracker/MkFit/plugins/MkFitProducer.cc
Labels: operations-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#35535 [DQM] Fix hcal calib
  DQM/HcalTasks/python/QIE10Task.py
  DQM/HcalTasks/python/QIE11Task.py
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved

#35897 customize `OnlineBeamSpotESProducer` inputs to be refreshed at each LS in online DQM [12.0.X]
  DQM/Integration/python/config/FrontierCondition_GT_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, backport

#35899 Fix era for DQM BeamSpot clients [12_0_X]
  DQM/Integration/python/clients/beam_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamfake_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamhlt_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamhltfake_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, urgent, backport

#35884 Fix for multiprocessing in RecoTrack Validation script
  Validation/RecoTrack/python/plotting/plotting.py
  Validation/RecoTrack/python/plotting/validation.py
Labels: dqm-approved, fully-signed, tests-rejected, orp-approved, code-checks-approved

#35888 Faster CSCCLCTDigi::clear()
  DataFormats/CSCDigi/interface/CSCCLCTDigi.h
  DataFormats/CSCDigi/src/CSCCLCTDigi.cc
Labels: simulation-approved, fully-signed, tests-rejected, orp-approved, code-checks-approved

#35910 Run3-alca210 Modernize several classes in Calibration/HcalCalibAlgos
  Calibration/HcalCalibAlgos/interface/CommonUsefulStuff.h
  Calibration/HcalCalibAlgos/plugins/ValidIsoTrkCalib.cc
  Calibration/HcalCalibAlgos/test/DiJetAnalyzer.cc
  Calibration/HcalCalibAlgos/test/DiJetAnalyzer.h
  Calibration/HcalCalibAlgos/test/GammaJetAnalysis.cc
  Calibration/HcalCalibAlgos/test/GammaJetAnalysis.h
  Calibration/HcalCalibAlgos/test/HcalConstantsASCIIWriter.h
  Calibration/HcalCalibAlgos/test/HcalCorrPFCalculation.cc
  Calibration/HcalCalibAlgos/test/ValidationHcalIsoTrackAlCaReco.cc
  Calibration/HcalCalibAlgos/test/python/dijetanalysis_cfg.py
  Calibration/HcalCalibAlgos/test/python/gammaJetAnalysis_cfg.py
  Calibration/HcalCalibAlgos/test/python/gammaJetAnalysis_data2012_cfg.py
  Calibration/HcalCalibAlgos/test/python/gammaJetAnalysis_data2012_noGJetProd_cfg.py
  Calibration/HcalCalibAlgos/test/python/gammaJetAnalysis_noGJetProd_cfg.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#35885 Run3-hcx325 Update the analyzer codes in CondTools/Hcal to conform with multithreaded application
  CondTools/Hcal/interface/BoostIODBReader.h
  CondTools/Hcal/interface/BoostIODBWriter.h
  CondTools/Hcal/interface/HcalAutoPedestalValidator.h
  CondTools/Hcal/interface/HcalGainsCheck.h
  CondTools/Hcal/interface/HcalPedestalWidthsCheck.h
  CondTools/Hcal/interface/HcalPedestalsCheck.h
  CondTools/Hcal/interface/HcalQIEDataCheck.h
  CondTools/Hcal/plugins/BufferedBoostIODBWriter.cc
  CondTools/Hcal/plugins/HcalDumpConditions.cc
  CondTools/Hcal/test/HcalConditionsTest.cc
Labels: fully-signed, tests-approved, db-approved, orp-approved, requires-external, code-checks-approved

#35911 Run3-hcs326 Avoid using legacy EDAnalyzer in CalibCalorimetry/HcalAlgos
  CalibCalorimetry/HcalAlgos/interface/HcalLedAnalysis.h
  CalibCalorimetry/HcalAlgos/interface/HcalPedestalAnalysis.h
  CalibCalorimetry/HcalAlgos/test/MapTester.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#35874 Fixed the PPS alignment relval - 1042
  CalibPPS/AlignmentGlobal/plugins/PPSAlignmentHarvester.cc
  CalibPPS/AlignmentGlobal/plugins/PPSAlignmentWorker.cc
  CalibPPS/AlignmentGlobal/python/PPSAlignmentHarvester_cff.py
  Configuration/PyReleaseValidation/python/relval_production.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/StandardSequences/python/AlCaHarvesting_cff.py
Labels: alca-approved, operations-approved, fully-signed, tests-approved, pdmv-approved, bug-fix, orp-approved, upgrade-approved, requires-external, code-checks-approved

#35870 add `process.runType.commissioning_run` in the supported types of `beampixel_dqm_sourceclient-live` (backport)
  DQM/Integration/python/clients/beampixel_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#35889 added check to avoid seg-fault in HLTScoutingPFProducer
  HLTrigger/JetMET/plugins/HLTScoutingPFProducer.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#35914 Include PPS Association Cuts in data and MC GTs
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-rejected, orp-approved, requires-external, code-checks-approved

#35901 Update customisePixelL1ClusterThresholdForRun2Input to adjust also the GPU producer
  HLTrigger/Configuration/python/customizeHLTforCMSSW.py
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, requires-external, code-checks-approved

#35909 Add ppRef modifier instead of a GT
  Configuration/AlCa/python/autoCond.py
  Configuration/AlCa/python/autoCondModifiers.py
Labels: alca-approved, fully-signed, tests-rejected, orp-approved, requires-external, code-checks-approved

#35744 Phase2 L1T DQM
  DQMOffline/Configuration/python/DQMOffline_SecondStep_cff.py
  DQMOffline/Configuration/python/DQMOffline_cff.py
  DQMOffline/Configuration/python/autoDQM.py
  DQMOffline/L1Trigger/BuildFile.xml
  DQMOffline/L1Trigger/interface/L1TPhase2CorrelatorOffline.h
  DQMOffline/L1Trigger/interface/L1TPhase2OuterTrackerTkMET.h
  DQMOffline/L1Trigger/python/L1TPhase2Offline_cfi.py
  DQMOffline/L1Trigger/python/L1TriggerDqmOffline_SecondStep_cff.py
  DQMOffline/L1Trigger/python/L1TriggerDqmOffline_cff.py
  DQMOffline/L1Trigger/src/L1TPhase2CorrelatorOffline.cc
  DQMOffline/L1Trigger/src/L1TPhase2OuterTrackerTkMET.cc
Labels: dqm-approved, l1-approved, fully-signed, tests-rejected, orp-approved, code-checks-approved

#35905 introduce COPYPASTER3 and use it as step2 in wf 138.3 (12_1_X bp of #35890)
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved

#35766 PPS: consume association cuts from DB
  CondFormats/PPSObjects/interface/PPSAssociationCuts.h
  CondFormats/PPSObjects/src/PPSAssociationCuts.cc
  RecoPPS/ProtonReconstruction/python/ctppsProtons_cff.py
  Validation/CTPPS/python/simu_config/year_2016_cff.py
  Validation/CTPPS/python/simu_config/year_2017_cff.py
  Validation/CTPPS/python/simu_config/year_2018_cff.py
  Validation/CTPPS/python/simu_config/year_2021_cff.py
  Validation/CTPPS/python/simu_config/year_2022_cff.py
Labels: alca-approved, dqm-approved, reconstruction-approved, fully-signed, tests-rejected, orp-approved, urgent, requires-external, code-checks-approved
