Repository cms-sw/cmssw, pull requests merged in 2022-11, with the labels that each got.

#39930 Run3-alca234 Make a new set of PU correction factor for 2022 calibration runs
  Calibration/HcalCalibAlgos/macros/CalibCorr.C
  Calibration/HcalCalibAlgos/macros/CalibMonitor.C
  Calibration/HcalCalibAlgos/macros/CalibPlotProperties.C
  Calibration/HcalCalibAlgos/macros/CalibTree.C
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39903 [12.4.X] `TsosGaussianStateConversions` Require GSF states to be positive definite
  TrackingTools/GsfTracking/src/TsosGaussianStateConversions.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok

#39904 [12.5.X] `TsosGaussianStateConversions` Require GSF states to be positive definite
  TrackingTools/GsfTracking/src/TsosGaussianStateConversions.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok

#39898 Add AlCaReco producers in phase-2 workflows [12.5.X]
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlDiMuonAndVertex_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlJetHT_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlJpsiMuMu_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlMinBias_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlMuonIsolated_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlUpsilonMuMu_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlZMuMu_cff.py
  Configuration/AlCa/python/autoCond.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  RecoTracker/TransientTrackingRecHit/python/TTRHBuilders_cff.py
Labels: alca-approved, reconstruction-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, backport-ok

#39934 Fix rerecoCommon DQM sequence
  DQMOffline/Configuration/python/autoDQM.py
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved

#39937 [12_5_X] PPS: fixing sim unitid
  SimG4CMS/PPS/src/PPSPixelOrganization.cc
Labels: simulation-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#39945 Work around a segfault when a non-consumed module with Transfomer ability has been deleted
  FWCore/Framework/src/ProductResolvers.cc
  FWCore/Integration/test/transformTest_cfg.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39758 Add new HI Beamspot to the Run-3 HI MC + change vertex smearing to use the estimated HI version
  Configuration/AlCa/python/autoCond.py
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: alca-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#39928 Phase2-hgx327F Modify more scripts in Geometry/HGCalCommonData/test/python to retain minimum number of scripts useful for V16, V17 and TB setups
  Geometry/HGCalCommonData/python/testHGCalV16XML_cfi.py
  Geometry/HGCalCommonData/python/testHGCalV17XML_cfi.py
  Geometry/HGCalCommonData/python/testHGCalV17nXML_cfi.py
  Geometry/HGCalCommonData/test/python/dumpAHcalModuleDD4hep_cfg.py
  Geometry/HGCalCommonData/test/python/dumpAHcalModuleDDD_cfg.py
  Geometry/HGCalCommonData/test/python/dumpHGCalTBGeometryDDD_cfg.py
  Geometry/HGCalCommonData/test/python/dumpHGCalTBModuleDDD_cfg.py
  Geometry/HGCalCommonData/test/python/dumpHGCalTBModuleXDD4hep_cfg.py
  Geometry/HGCalCommonData/test/python/dumpHGCalTBModuleXDDD_cfg.py
  Geometry/HGCalCommonData/test/python/dumpTBModuleDD4hep_cfg.py
  Geometry/HGCalCommonData/test/python/dumpTBModuleDDD_cfg.py
  Geometry/HGCalCommonData/test/python/g4OverlapCheckLayer_cfg.py
  Geometry/HGCalCommonData/test/python/g4OverlapCheckWaferFR_cfg.py
  Geometry/HGCalCommonData/test/python/g4OverlapCheckWafer_cfg.py
  Geometry/HGCalCommonData/test/python/g4OverlapCheck_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#39921 Run3-hcx336 Backport #39920 to 12_5_X to protect against wrong ieta values which happens for wrong mixing of signal and PU SIM results
  CondFormats/GeometryObjects/interface/HcalParameters.h
  Geometry/HcalCommonData/src/HcalDDDRecConstants.cc
Labels: alca-approved, geometry-approved, fully-signed, tests-approved, db-approved, orp-approved, backport-ok

#39863 Raw prime wf for Run 3 data w/ dropped strips + approx. clusters
  Configuration/Eras/python/Era_Run3_pp_on_PbPb_approxSiStripClusters_cff.py
  Configuration/EventContent/python/EventContent_cff.py
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/StandardSequences/python/DigiToRaw_Repack_cff.py
  Configuration/StandardSequences/python/Eras.py
  EventFilter/RawDataCollector/src/RawDataMapperByLabel.cc
  RecoLocalTracker/SiStripClusterizer/python/SiStripClusterizer_RealData_cfi.py
  RecoLocalTracker/SiStripClusterizer/python/SiStripClusters2ApproxClusters_cff.py
Labels: daq-pending, operations-approved, reconstruction-approved, pending-signatures, tests-approved, pdmv-approved, orp-approved, urgent, upgrade-approved, code-checks-approved

#39952 EMTF DQM fix to remove duplicate x-axis bin labels
  DQM/L1TMonitor/src/L1TStage2EMTF.cc
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#39939 [12_4_X] Fix rerecoCommon DQM sequence
  DQMOffline/Configuration/python/autoDQM.py
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, backport-ok

#39938 [12_5_X] Fix rerecoCommon DQM sequence
  DQMOffline/Configuration/python/autoDQM.py
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#39946 Phase2-329A Remove obsolete class from Validation/HGCalValidation
  Validation/HGCalValidation/test/FTSimHitTest.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39942 [10_6_X] Removed duplicated muons in HepMC to G4 interface
  Configuration/Eras/python/Modifier_run2_final_state_rad_cff.py
  SimG4Core/Application/python/g4SimHits_cfi.py
  SimG4Core/Generators/interface/Generator.h
  SimG4Core/Generators/src/Generator.cc
Labels: operations-approved, simulation-approved, fully-signed, tests-approved, orp-approved, backport-ok

#39888 Converted remaining DQM modules to edm::one::EDAnalyzer
  DQM/BeamMonitor/plugins/AlcaBeamMonitorClient.cc
  DQM/BeamMonitor/plugins/AlcaBeamMonitorClient.h
  DQM/BeamMonitor/plugins/BeamConditionsMonitor.cc
  DQM/BeamMonitor/plugins/BeamConditionsMonitor.h
  DQM/BeamMonitor/plugins/BeamMonitorBx.cc
  DQM/BeamMonitor/plugins/BeamMonitorBx.h
  DQM/EcalMonitorDbModule/interface/EcalBarrelMonitorDbModule.h
  DQM/EcalMonitorDbModule/plugins/EcalBarrelMonitorDbModule.cc
  DQM/HLTEvF/plugins/FourVectorHLT.cc
  DQM/HLTEvF/plugins/FourVectorHLT.h
  DQM/SiStripCommissioningClients/interface/SiStripCommissioningOfflineClient.h
  DQM/SiStripCommissioningClients/src/SiStripCommissioningOfflineClient.cc
  DQM/SiStripCommissioningSources/interface/SiStripCommissioningSource.h
  DQM/SiStripCommissioningSources/src/SiStripCommissioningSource.cc
  DQM/TrigXMonitorClient/interface/HLTScalersClient.h
  DQM/TrigXMonitorClient/interface/L1ScalersClient.h
  DQM/TrigXMonitorClient/src/HLTScalersClient.cc
  DQM/TrigXMonitorClient/src/L1ScalersClient.cc
Labels: dqm-approved, hlt-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#39879 Change recoBSVTagInfoValidationAnalyzer to be thread-friendly
  Validation/RecoB/plugins/recoBSVTagInfoValidationAnalyzer.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39883 [12_5_X] Raw prime wf for Run 3 data w/ dropped strips + approx. clusters
  Configuration/Eras/python/Era_Run3_pp_on_PbPb_approxSiStripClusters_cff.py
  Configuration/EventContent/python/EventContent_cff.py
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/StandardSequences/python/DigiToRaw_Repack_cff.py
  Configuration/StandardSequences/python/Eras.py
  EventFilter/RawDataCollector/src/RawDataMapperByLabel.cc
  RecoLocalTracker/SiStripClusterizer/python/SiStripClusterizer_RealData_cfi.py
  RecoLocalTracker/SiStripClusterizer/python/SiStripClusters2ApproxClusters_cff.py
Labels: daq-approved, operations-approved, reconstruction-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, urgent, upgrade-approved, backport-ok

#39932 [12_4_X] Nano: fix matching between pat trigger objects and L1 objects
  PhysicsTools/NanoAOD/plugins/TriggerObjectTableProducer.cc
Labels: fully-signed, tests-approved, orp-approved, backport-ok, xpog-approved

#39951 [12_5_X] Add new HI Beamspot to the Run-3 HI MC and change vertex smearing to use the estimated HI version
  Configuration/AlCa/python/autoCond.py
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: alca-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, urgent, upgrade-approved, backport-ok

#39929 updating triggerObjects_cff V10
  PhysicsTools/NanoAOD/python/V10/triggerObjects_cff.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#39941 Change threshold for presample mean in ECAL DQM Pedestal Quality plot [Master]
  DQM/EcalMonitorClient/interface/PresampleClient.h
  DQM/EcalMonitorClient/python/PresampleClient_cfi.py
  DQM/EcalMonitorClient/src/PresampleClient.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39957 [12.5.X] EMTF DQM fix to remove duplicate x-axis bin labels
  DQM/L1TMonitor/src/L1TStage2EMTF.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok

#39947 Phase2-hgx329B Remove reference to FastTimeGeometry from Fireworks - this is an obsolete reference, never used and never will be
  Fireworks/Geometry/interface/FWRecoGeometryESProducer.h
  Fireworks/Geometry/interface/FWRecoGeometryRecord.h
  Fireworks/Geometry/src/FWRecoGeometryESProducer.cc
Labels: visualization-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39891 GE21 recHits in GEM onlineDQM, a backport to 12_5_X
  DQM/Integration/python/clients/gem_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#39889 Fix deprecation warnings in DQMOffline/CalibMuon
  DQMOffline/CalibMuon/interface/DTnoiseDBValidation.h
  DQMOffline/CalibMuon/interface/DTt0DBValidation.h
  DQMOffline/CalibMuon/src/DTnoiseDBValidation.cc
  DQMOffline/CalibMuon/src/DTt0DBValidation.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39968 Run3-hcx338 Modify the dumping for geometry visualisation of HCAL
  Geometry/HcalCommonData/test/python/dump2016_cfg.py
  Geometry/HcalCommonData/test/python/dump2017DD4hep_cfg.py
  Geometry/HcalCommonData/test/python/dump2017DDD_cfg.py
  Geometry/HcalCommonData/test/python/dumpGeometryDD4hep_cfg.py
  Geometry/HcalCommonData/test/python/dumpGeometryDDD_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39956 [NanoAOD V10] - Adding correct Iso filter name (without cut values) for Run3
  PhysicsTools/NanoAOD/python/V10/triggerObjects_cff.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#39944 Change threshold for presample mean in ECAL DQM Pedestal Quality plot [12_4_X]
  DQM/EcalMonitorClient/interface/PresampleClient.h
  DQM/EcalMonitorClient/python/PresampleClient_cfi.py
  DQM/EcalMonitorClient/src/PresampleClient.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#39890 GE21 recHits in GEM onlineDQM, a backport to 12_4_X
  DQM/Integration/python/clients/gem_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#39836 [L1T] Phase-2, track MET update for FW sync (new)
  L1Trigger/DemonstratorTools/src/codecs_etsums.cc
  L1Trigger/DemonstratorTools/src/codecs_htsums.cc
  L1Trigger/DemonstratorTools/test/gtt/createFirmwareInputFiles_cfg.py
  L1Trigger/L1TTrackMatch/interface/Cordic.h
  L1Trigger/L1TTrackMatch/interface/L1TkEtMissEmuAlgo.h
  L1Trigger/L1TTrackMatch/interface/L1TkEtMissEmuTrackTransform.h
  L1Trigger/L1TTrackMatch/interface/L1TkHTMissEmulatorProducer.h
  L1Trigger/L1TTrackMatch/plugins/L1TkHTMissEmulatorProducer.cc
  L1Trigger/L1TTrackMatch/plugins/L1TrackerEtMissEmulatorProducer.cc
  L1Trigger/L1TTrackMatch/python/l1tTrackerEmuEtMiss_cfi.py
  L1Trigger/L1TTrackMatch/src/Cordic.cc
  L1Trigger/L1TTrackMatch/src/L1TkEtMissEmuAlgo.cc
  L1Trigger/L1TTrackMatch/src/L1TkEtMissEmuTrackTransform.cc
  L1Trigger/L1TTrackMatch/test/L1TkMETAnalyser.cc
  L1Trigger/L1TTrackMatch/test/L1TrackObjectNtupleMaker.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#39960 Added getByToken to edm::EventBase
  DataFormats/FWLite/interface/ChainEvent.h
  DataFormats/FWLite/interface/DataGetterHelper.h
  DataFormats/FWLite/interface/Event.h
  DataFormats/FWLite/interface/EventBase.h
  DataFormats/FWLite/interface/MultiChainEvent.h
  DataFormats/FWLite/src/ChainEvent.cc
  DataFormats/FWLite/src/DataGetterHelper.cc
  DataFormats/FWLite/src/Event.cc
  DataFormats/FWLite/src/EventBase.cc
  DataFormats/FWLite/src/MultiChainEvent.cc
  DataFormats/FWLite/test/event_looping_consumes_cint.C
  DataFormats/FWLite/test/run_all_t.sh
  FWCore/Common/interface/EventBase.h
  FWCore/Framework/interface/Event.h
  FWCore/Framework/src/Event.cc
  FWCore/Framework/test/Event_t.cpp
  FWCore/Utilities/interface/EDGetToken.h
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39967 Run3-hcx337 Fix a bug for wrong DetID assignment in HCAL - relevenat for Runs 1,2,3,4
  Geometry/HcalCommonData/interface/HcalDDDRecConstants.h
  Geometry/HcalCommonData/interface/HcalDDDSimConstants.h
  SimG4CMS/Calo/interface/HCalSD.h
  SimG4CMS/Calo/src/HCalSD.cc
Labels: geometry-approved, simulation-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved

#39978 Remove WatchRuns restriction on HectorProducer
  SimTransport/HectorProducer/interface/HectorProducer.h
  SimTransport/HectorProducer/src/HectorProducer.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39841 Add D97 Phase-2 geometry
  Configuration/Geometry/README.md
  Configuration/Geometry/python/GeometryDD4hepExtended2026D97Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D97_cff.py
  Configuration/Geometry/python/GeometryExtended2026D97Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D97_cff.py
  Configuration/Geometry/python/dict2026Geometry.py
  Configuration/PyReleaseValidation/python/relval_2026.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  Configuration/StandardSequences/python/GeometryConf.py
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D97.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D97XML_cfi.py
Labels: geometry-approved, operations-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#39859 give `OnlineLuminosityRecord` info to HLT's `LumiMonitor` plugin
  DQM/HLTEvF/plugins/BuildFile.xml
  DQM/HLTEvF/plugins/LumiMonitor.cc
  DQM/HLTEvF/python/HLTLumiMonitoring_cff.py
  DQM/HLTEvF/python/LumiMonitor_cff.py
  DQM/Integration/python/clients/hlt_dqm_clientPB-live_cfg.py
  DQM/SiPixelPhase1Track/plugins/SiPixelPhase1EfficiencyExtras.cc
  DQMOffline/Trigger/python/DQMOffline_LumiMonitoring_cff.py
  DQMOffline/Trigger/python/DQMOffline_LumiMontiroring_cff.py
  DQMOffline/Trigger/python/DQMOffline_Trigger_cff.py
  HLTrigger/Timer/plugins/FastTimerServiceClient.cc
Labels: dqm-approved, hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39734 [12_4_X] L1T DQM: Adding the uGT timing sequence back and updating the relevant algo list - backport
  DQM/L1TMonitor/python/L1TStage2uGTTiming_cfi.py
  DQM/L1TMonitor/python/L1TStage2uGT_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#39974 Phase2-hcx341 Add a new Prodcut file Phase2 HCAL and modify the scenarios accordingly
  Configuration/Geometry/python/dict2026Geometry.py
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D86.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D88.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D91.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D92.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D93.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D94.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D95.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D96.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D86XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D88XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D91XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D92XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D93XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D94XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D95XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D96XML_cfi.py
  Geometry/HcalSimData/data/HcalProdCuts/2026/v1/HcalProdCuts.xml
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#39896 give `OnlineLuminosityRecord` info to HLT's `LumiMonitor` plugin [`12_5_X`]
  DQM/HLTEvF/plugins/BuildFile.xml
  DQM/HLTEvF/plugins/LumiMonitor.cc
  DQM/HLTEvF/python/HLTLumiMonitoring_cff.py
  DQM/HLTEvF/python/LumiMonitor_cff.py
  DQM/Integration/python/clients/hlt_dqm_clientPB-live_cfg.py
  DQM/SiPixelPhase1Track/plugins/SiPixelPhase1EfficiencyExtras.cc
  DQMOffline/Trigger/python/DQMOffline_LumiMonitoring_cff.py
  DQMOffline/Trigger/python/DQMOffline_LumiMontiroring_cff.py
  DQMOffline/Trigger/python/DQMOffline_Trigger_cff.py
  HLTrigger/Timer/plugins/FastTimerServiceClient.cc
Labels: dqm-approved, hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#39897 give `OnlineLuminosityRecord` info to HLT's `LumiMonitor` plugin [`12_4_X`]
  DQM/HLTEvF/plugins/BuildFile.xml
  DQM/HLTEvF/plugins/LumiMonitor.cc
  DQM/HLTEvF/python/HLTLumiMonitoring_cff.py
  DQM/HLTEvF/python/LumiMonitor_cff.py
  DQM/Integration/python/clients/hlt_dqm_clientPB-live_cfg.py
  DQM/SiPixelPhase1Track/plugins/SiPixelPhase1EfficiencyExtras.cc
  DQMOffline/Trigger/python/DQMOffline_LumiMonitoring_cff.py
  DQMOffline/Trigger/python/DQMOffline_LumiMontiroring_cff.py
  DQMOffline/Trigger/python/DQMOffline_Trigger_cff.py
  HLTrigger/Timer/plugins/FastTimerServiceClient.cc
Labels: dqm-approved, hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#39993 add plugin to produce `FEDRawDataCollection` excluding a list of FEDs
  EventFilter/Utilities/plugins/BuildFile.xml
  EventFilter/Utilities/plugins/EvFFEDExcluder.cc
  EventFilter/Utilities/plugins/EvFFEDExcluder.h
  EventFilter/Utilities/plugins/modules.cc
  EventFilter/Utilities/test/testEvFFEDSelectors.py
Labels: daq-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39881 Made DQMRivetClient thread-friendly
  GeneratorInterface/RivetInterface/interface/DQMRivetClient.h
  GeneratorInterface/RivetInterface/plugins/DQMRivetClient.cc
Labels: generators-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39990 Set member data in GEMClusterProcessor
  L1Trigger/CSCTriggerPrimitives/src/GEMClusterProcessor.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39998 Add ppEra_Run3_pp_on_PbPb_approxSiStripClusters scenario
  Configuration/DataProcessing/python/Impl/ppEra_Run3_pp_on_PbPb_approxSiStripClusters.py
  Configuration/DataProcessing/python/RecoTLR.py
  Configuration/DataProcessing/test/run_CfgTest.sh
Labels: operations-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39949 [12.4.X] add `ExhumeGeneratorFilter` to `ConcurrentLumisDisable`
  Configuration/Generator/python/concurrentLumisDisable.py
Labels: generators-approved, fully-signed, tests-approved, orp-approved, backport-ok

#39874 Catch case where parent index is bad in Hydjet
  GeneratorInterface/HydjetInterface/src/HydjetHadronizer.cc
Labels: generators-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#39988 Use Era Run3_pp_on_PbPb_approxSiStripClusters in DQM clients with tracking
  DQM/Integration/python/clients/beam_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamfake_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamhlt_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamhltfake_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beampixel_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/physics_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/pixel_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/pixellumi_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/sistrip_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/sistriplas_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39943 Change threshold for presample mean in ECAL DQM Pedestal Quality plot [12_5_X]
  DQM/EcalMonitorClient/interface/PresampleClient.h
  DQM/EcalMonitorClient/python/PresampleClient_cfi.py
  DQM/EcalMonitorClient/src/PresampleClient.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#39999 [12_5_X] Add ppEra_Run3_pp_on_PbPb_approxSiStripClusters scenario
  Configuration/DataProcessing/python/Impl/ppEra_Run3_pp_on_PbPb_approxSiStripClusters.py
  Configuration/DataProcessing/python/RecoTLR.py
  Configuration/DataProcessing/test/run_CfgTest.sh
Labels: operations-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok

#39986 add FED 1022 to the list passed to `rawPrimeDataRepacker`
  Configuration/StandardSequences/python/DigiToRaw_Repack_cff.py
Labels: operations-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39969 Run3-hcx339 BugFix for HcalDetId in the Sim step- relevant for runs 1,2,3,4 - backport of #39967 to CMSSW version 12_5_X
  Geometry/HcalCommonData/interface/HcalDDDRecConstants.h
  Geometry/HcalCommonData/interface/HcalDDDSimConstants.h
  SimG4CMS/Calo/interface/HCalSD.h
  SimG4CMS/Calo/src/HCalSD.cc
Labels: geometry-approved, simulation-approved, fully-signed, tests-approved, bug-fix, orp-approved

#39875 Migration from deprecated ::JetCorrector class, NoPileUpPFMEtDataProducer
  RecoMET/METPUSubtraction/plugins/NoPileUpPFMEtDataProducer.cc
  RecoMET/METPUSubtraction/plugins/NoPileUpPFMEtDataProducer.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39992 Fix D97 unit test and clean up Phase2 XMLs
  Configuration/Geometry/python/GeometryDD4hepExtended2026D86Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D88Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D91Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D92Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D93Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D94Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D95Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D96Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D97Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D86Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D88Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D91Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D92Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D93Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D94Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D95Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D96Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D97Reco_cff.py
  Configuration/Geometry/python/dict2026Geometry.py
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D97.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D97XML_cfi.py
Labels: geometry-approved, fully-signed, tests-approved, bug-fix, orp-approved, upgrade-approved, code-checks-approved

#39927 Photon MVA-based ID for Run3 from EGamma POG
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
  PhysicsTools/NanoAOD/python/photons_cff.py
  PhysicsTools/PatAlgos/python/slimming/miniAOD_tools.py
  RecoEgamma/EgammaTools/python/egammaObjectModificationsInMiniAOD_cff.py
  RecoEgamma/PhotonIdentification/data/PhotonMVAEstimatorRun3VariablesWinter22V1.txt
  RecoEgamma/PhotonIdentification/python/Identification/mvaPhotonID_Winter22_122X_V1_cff.py
  RecoEgamma/PhotonIdentification/python/PhotonMVAValueMapProducer_cfi.py
  RecoEgamma/PhotonIdentification/test/testPhotonMVA_Run3_cfg.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved, xpog-approved, egamma

#39975 [12_5_X] Use Era Run3_pp_on_PbPb_approxSiStripClusters in DQM clients with tracking
  DQM/Integration/python/clients/beam_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamfake_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamhlt_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamhltfake_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beampixel_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/physics_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/pixel_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/pixellumi_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/sistrip_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/sistriplas_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok

#40015 Use ppEra_Run3_pp_on_PbPb_approxSiStripClusters for hi_run in visualization DQM clients
  DQM/Integration/python/clients/visualization-live-secondInstance_cfg.py
  DQM/Integration/python/clients/visualization-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40012 [12_4] Allow to run smearing sequence separate from GEN step
  Configuration/Applications/python/ConfigBuilder.py
  Configuration/StandardSequences/python/Generator_cff.py
Labels: operations-approved, fully-signed, tests-approved, orp-approved

#40006 Move HcalCalIsolatedBunchSelector from Commissioning to ZB PD
  Configuration/AlCa/python/autoAlca.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, hcal

#39994 Run3-sim135 Modify the analysis code of SimHit Results
  SimG4CMS/Calo/macros/MakeHitStudyPlots.C
  SimG4CMS/Calo/plugins/CaloSimHitStudy.cc
  SimG4CMS/Calo/python/calostep_cfi.py
  SimG4CMS/Calo/test/python/minbias.py
  SimG4CMS/Calo/test/python/ttbar.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40016 [12_5_X] Use ppEra_Run3_pp_on_PbPb_approxSiStripClusters for hi_run in visualization DQM clients
  DQM/Integration/python/clients/visualization-live-secondInstance_cfg.py
  DQM/Integration/python/clients/visualization-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok

#40019 fix `gcc11` compilation issues in `CompareAlignments`, post #38304 merge
  Alignment/OfflineValidation/src/CompareAlignments.cc
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved

#40033 Fix JMENano, further cleanup in Nano
  PhysicsTools/NanoAOD/plugins/BTagSFProducer.cc
  PhysicsTools/NanoAOD/plugins/EGMEnergyVarProducer.cc
  PhysicsTools/NanoAOD/plugins/EnergyRingsTableProducer.cc
  PhysicsTools/NanoAOD/plugins/MuonIDTableProducer.cc
  PhysicsTools/NanoAOD/plugins/NativeArrayTableProducer.cc
  PhysicsTools/NanoAOD/python/btagWeightTable_cff.py
  PhysicsTools/NanoAOD/python/custom_jme_cff.py
  PhysicsTools/NanoAOD/python/nano_cff.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#39722 Add tracking only PU workflows
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#39823 Update Run3 offline and offline_relval GTs
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39991 Do not call methods on EcalTrigTowerConstituentsMap nullptr
  Geometry/CaloTopology/interface/EcalTrigTowerConstituentsMap.h
  Geometry/CaloTopology/src/EcalTrigTowerConstituentsMap.cc
  SimCalorimetry/EcalEBTrigPrimAlgos/interface/EcalEBTrigPrimTestAlgo.h
  SimCalorimetry/EcalTrigPrimAlgos/interface/EcalTrigPrimFunctionalAlgo.h
Labels: geometry-approved, l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#40009 [`DQMOffline/Alignment`] Improvements on di-muon mass bias plots
  DQMOffline/Alignment/BuildFile.xml
  DQMOffline/Alignment/interface/DiLeptonPlotHelpers.h
  DQMOffline/Alignment/interface/DiMuonMassBiasClient.h
  DQMOffline/Alignment/python/ALCARECOTkAlDQM_cff.py
  DQMOffline/Alignment/python/DiMuonMassBiasClient_cfi.py
  DQMOffline/Alignment/python/DiMuonMassBiasHarvesting_cff.py
  DQMOffline/Alignment/python/DiMuonMassBiasMonitor_cfi.py
  DQMOffline/Alignment/src/DiMuonMassBiasClient.cc
  DQMOffline/Alignment/src/DiMuonMassBiasMonitor.cc
  DQMOffline/Alignment/test/DiMuonTkAlDQMHarvester_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40010 Remove MVASelector tags for tracking in MC GTs
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, performance-improvements

#40038 isrptmin2fac option for PS weights in Pythia 8.306
  Configuration/Generator/python/PSweightsPythia/PythiaPSweightsSettings_cfi.py
Labels: generators-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40041 [12_5_X] Move HcalCalIsolatedBunchSelector from Commissioning to ZB PD
  Configuration/AlCa/python/autoAlca.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok

#40042 [12_4_X] Move HcalCalIsolatedBunchSelector from Commissioning to ZB PD
  Configuration/AlCa/python/autoAlca.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok

#40040 change default isrptmin2fac to recover ul behavior in first run3 mc
  Configuration/Generator/python/PSweightsPythia/PythiaPSweightsSettings_cfi.py
Labels: generators-approved, fully-signed, tests-approved, orp-approved

#40039 Adding HZZ electron ID mva score to miniAOD for Run3
  RecoEgamma/EgammaTools/python/egammaObjectModificationsInMiniAOD_cff.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, egamma

#40035 Run3-sim136 Extend the testing of wrong cell assignments in HCAL
  SimG4CMS/Calo/interface/HCalSD.h
  SimG4CMS/Calo/src/HCalSD.cc
  SimG4CMS/Calo/test/python/minbias.py
  SimG4CMS/Calo/test/python/ttbar.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40011 Remove MVASelector tags for tracking in data GTs + re-snapshot frozen GT
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, performance-improvements

#40008 Phase2-329C Remove all obsolete files relevant to FastTimerGeoemtry from HGCal related projects
  Geometry/HGCalGeometry/interface/FastTimeGeometry.h
  Geometry/HGCalGeometry/interface/FastTimeGeometryLoader.h
  Geometry/HGCalGeometry/plugins/FastTimeGeometryESProducer.cc
  Geometry/HGCalGeometry/python/FastTimeGeometryESProducer_cfi.py
  Geometry/HGCalGeometry/src/FastTimeGeometry.cc
  Geometry/HGCalGeometry/src/FastTimeGeometryLoader.cc
  Geometry/HGCalGeometry/test/CaloCellGeometryTester.cc
  Geometry/HGCalGeometry/test/FastTimeGeometryTester.cc
  Geometry/Records/interface/CaloGeometryRecord.h
  Geometry/Records/interface/FastTimeGeometryRecord.h
  Geometry/Records/src/FastTimeGeometryRecord.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#39824 [12_5_X] Update Run3 offline and offline_relval GTs
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok

#40052 Phase2-hgx329D Remove obsolete files FastTimeTopology and its usage from Geometry/CaloTopology and Geometry/CaloEventSetup
  Geometry/CaloEventSetup/plugins/FastTimeTopologyBuilder.cc
  Geometry/CaloEventSetup/python/FastTimeTopology_cfi.py
  Geometry/CaloTopology/interface/FastTimeTopology.h
  Geometry/CaloTopology/src/FastTimeTopology.cc
  Geometry/CaloTopology/test/FastTimeTopologyTester.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40037 Phase2-hgx327H Clean up unused obsolete python files preceding V16 of HGCAL specification from Geometry/HGCalCommonData
  Geometry/HGCalCommonData/data/dd4hep/cms-test-ddhgcalwaferF-algorithm.xml
  Geometry/HGCalCommonData/data/dd4hep/testHGCalV10.xml
  Geometry/HGCalCommonData/data/dd4hep/testHGCalV11.xml
  Geometry/HGCalCommonData/data/dd4hep/testHGCalV12.xml
  Geometry/HGCalCommonData/data/dd4hep/testHGCalV13.xml
  Geometry/HGCalCommonData/data/dd4hep/testHGCalV14.xml
  Geometry/HGCalCommonData/data/dd4hep/testHGCalV15.xml
  Geometry/HGCalCommonData/python/hgcalV6NumberingInitialization_cfi.py
  Geometry/HGCalCommonData/python/hgcalV6ParametersInitialization_cfi.py
  Geometry/HGCalCommonData/python/testGeometryV14_cff.py
  Geometry/HGCalCommonData/python/testHGCV10XML_cfi.py
  Geometry/HGCalCommonData/python/testHGCV11XML_cfi.py
  Geometry/HGCalCommonData/python/testHGCV15XML_cfi.py
  Geometry/HGCalCommonData/python/testHGCXML_cfi.py
  Geometry/HGCalCommonData/python/testHGCalEEXML_cfi.py
  Geometry/HGCalCommonData/python/testHGCalHEmixFileXML_cfi.py
  Geometry/HGCalCommonData/python/testHGCalHEmixXML_cfi.py
  Geometry/HGCalCommonData/python/testHGCalHEsilXML_cfi.py
  Geometry/HGCalCommonData/python/testHGCalNoTaperEndcapXML_cfi.py
  Geometry/HGCalCommonData/python/testHGCalV10XML_cfi.py
  Geometry/HGCalCommonData/python/testHGCalV11XML_cfi.py
  Geometry/HGCalCommonData/python/testHGCalV12XML_cfi.py
  Geometry/HGCalCommonData/python/testHGCalV13XML_cfi.py
  Geometry/HGCalCommonData/python/testHGCalV14XML_cfi.py
  Geometry/HGCalCommonData/python/testHGCalV15XML_cfi.py
  Geometry/HGCalCommonData/python/testHGCalWaferFXML_cfi.py
  Geometry/HGCalCommonData/test/python/runHGCalEETestDDD_cfg.py
  Geometry/HGCalCommonData/test/python/runHGCalTestDD4hep_cfg.py
  Geometry/HGCalCommonData/test/python/runHGCalTestDDD_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#39997 Adding log(pt) to jet DQM
  DQMOffline/JetMET/interface/JetAnalyzer.h
  DQMOffline/JetMET/src/JetAnalyzer.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39864 Cleanup, RecoJets/JetAnalyzers, Motivated by JetCorrector Migration
  RecoJets/JetAnalyzers/interface/CMSDAS11DijetAnalyzer.h
  RecoJets/JetAnalyzers/interface/CMSDAS11DijetTestAnalyzer.h
  RecoJets/JetAnalyzers/src/CMSDAS11DijetAnalyzer.cc
  RecoJets/JetAnalyzers/src/CMSDAS11DijetTestAnalyzer.cc
  RecoJets/JetAnalyzers/src/CalcTopMassExample.cc
  RecoJets/JetAnalyzers/src/FlavorJetCorrectionExample.cc
  RecoJets/JetAnalyzers/src/JetCorExample.cc
  RecoJets/JetAnalyzers/src/PartonJetCorrectionExample.cc
  RecoJets/JetAnalyzers/test/runCMSDAS11DijetTestAnalyzer.py
  RecoJets/JetAnalyzers/test/runL2L3JetCorrectionOnTheFly_cfg.py
  RecoJets/JetAnalyzers/test/runPartonJetCorrectionExample.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40003 add a `TransientTrackingRechitBuilder` for `CPEFast`
  RecoLocalTracker/SiPixelRecHits/src/PixelCPEFast.cc
  RecoTracker/TransientTrackingRecHit/plugins/TkTransientTrackingRecHitBuilderESProducer.cc
  RecoTracker/TransientTrackingRecHit/python/TTRHBuilders_cff.py
  RecoTracker/TransientTrackingRecHit/python/TransientTrackingRecHitBuilder_cfi.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#40053 Run3-alca235 Update some of the scripts used in calibrating HCAL channels using muons
  Calibration/HcalCalibAlgos/macros/AnalyzeMain.C
  Calibration/HcalCalibAlgos/macros/HBHEMuonOfflineAnalyzer.C
  Calibration/HcalCalibAlgos/macros/OfflineMain.C
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, hcal

#39861 Enable Puppi photon protection for jets
  CommonTools/PileupAlgos/python/Puppi_cff.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, jetmet

#40000 Adding log(pt) to jet DQM - backport to 12_4_X
  DQMOffline/JetMET/interface/JetAnalyzer.h
  DQMOffline/JetMET/src/JetAnalyzer.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#40001 Adding log(pt) to jet DQM - backport to 12_5_X
  DQMOffline/JetMET/interface/JetAnalyzer.h
  DQMOffline/JetMET/src/JetAnalyzer.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#40056 Phase2-hgx329E Remove obsolete FastTimer code from Geometry/HCalCommonData
  Geometry/HGCalCommonData/interface/FastTimeDDDConstants.h
  Geometry/HGCalCommonData/interface/FastTimeParameters.h
  Geometry/HGCalCommonData/interface/FastTimeParametersFromDD.h
  Geometry/HGCalCommonData/plugins/BuildFile.xml
  Geometry/HGCalCommonData/plugins/FastTimeNumberingInitialization.cc
  Geometry/HGCalCommonData/plugins/FastTimeParametersESModule.cc
  Geometry/HGCalCommonData/python/fastTimeNumberingInitialization_cfi.py
  Geometry/HGCalCommonData/python/fastTimeParametersInitialization_cfi.py
  Geometry/HGCalCommonData/src/FastTimeDDDConstants.cc
  Geometry/HGCalCommonData/src/FastTimeParameters.cc
  Geometry/HGCalCommonData/src/FastTimeParametersFromDD.cc
  Geometry/HGCalCommonData/test/FastTimeNumberingTester.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#40061 Fix in SiPixelQualityESProducer to support two labelled records
  CalibTracker/SiPixelESProducers/plugins/SiPixelQualityESProducer.cc
  CalibTracker/SiPixelESProducers/python/SiPixelQualityESProducer_cfi.py
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved

#40062 Fix the `ThroughputService` and `FastTimerService` DQM folders
  HLTrigger/Timer/plugins/ThroughputService.cc
  HLTrigger/Timer/src/processor_model.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40076 [12_4_X] Fix in SiPixelQualityESProducer to support two labelled records
  CalibTracker/SiPixelESProducers/plugins/SiPixelQualityESProducer.cc
  CalibTracker/SiPixelESProducers/python/SiPixelQualityESProducer_cfi.py
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, backport-ok

#40075 [12_5_X] Fix in SiPixelQualityESProducer to support two labelled records
  CalibTracker/SiPixelESProducers/plugins/SiPixelQualityESProducer.cc
  CalibTracker/SiPixelESProducers/python/SiPixelQualityESProducer_cfi.py
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#40084 Improve unprotected areas of GSF code to avoid segfault
  TrackingTools/GsfTracking/src/GsfTrajectorySmoother.cc
Labels: reconstruction-pending, pending-signatures, tests-approved, orp-approved, urgent, code-checks-approved, tracking, egamma

#40079 adding photon and muon leg trigger filters of HLT_Mu17_Photon30_IsoCaloId_v
  PhysicsTools/NanoAOD/python/triggerObjects_cff.py
Labels: fully-signed, tests-approved, orp-approved, backport-ok, xpog-approved

#40078 [125X] Remove tracking MVA tags from Run-3 MC and data GTs
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok

#39919 Improve the SoA accessors and optimisations
  DataFormats/SoATemplate/README.md
  DataFormats/SoATemplate/interface/SoACommon.h
  DataFormats/SoATemplate/interface/SoALayout.h
  DataFormats/SoATemplate/interface/SoAView.h
  DataFormats/SoATemplate/test/SoALayoutAndView_t.cu
  HeterogeneousCore/AlpakaTest/plugins/TestAlpakaAnalyzer.cc
Labels: fully-signed, tests-rejected, bug-fix, orp-approved, code-checks-approved, heterogeneous-approved

#40050 Improve cpu feature discover on ppc and aarch64
  FWCore/Services/plugins/BuildFile.xml
  FWCore/Services/plugins/CPU.cc
  FWCore/Services/test/BuildFile.xml
  FWCore/Services/test/test_CPU.py
  FWCore/Services/test/test_catch2_cpu_features.cc
  FWCore/Services/test/test_cpu.sh
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40064 Fix the `ThroughputService` and `FastTimerService` DQM folders [12.5.x]
  HLTrigger/Timer/plugins/ThroughputService.cc
  HLTrigger/Timer/src/processor_model.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#40065 Fix the `ThroughputService` and `FastTimerService` DQM folders [12.4.x]
  HLTrigger/Timer/plugins/ThroughputService.cc
  HLTrigger/Timer/src/processor_model.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok

#40005 use `EvFFEDExcluder` instead of `EvFFEDSelector` for `rawPrimeDataRepacker`
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/StandardSequences/python/DigiToRaw_Repack_cff.py
Labels: operations-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#40063 [12_4_X] [TsosGaussianStateConversions] proposal fix for Gsf Tracking segmentation fault when no states are passing selection criteria
  TrackingTools/GsfTracking/src/GsfTrajectoryFitter.cc
  TrackingTools/GsfTracking/src/TsosGaussianStateConversions.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok

#40066 [12_5_X] [TsosGaussianStateConversions] proposal fix for Gsf Tracking segmentation fault when no states are passing selection criteria
  TrackingTools/GsfTracking/src/GsfTrajectoryFitter.cc
  TrackingTools/GsfTracking/src/TsosGaussianStateConversions.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok

#40087 Improve the SoA accessors and optimisations [12.5.x]
  DataFormats/SoATemplate/README.md
  DataFormats/SoATemplate/interface/SoACommon.h
  DataFormats/SoATemplate/interface/SoALayout.h
  DataFormats/SoATemplate/interface/SoAView.h
  DataFormats/SoATemplate/test/SoALayoutAndView_t.cu
  HeterogeneousCore/AlpakaTest/plugins/TestAlpakaAnalyzer.cc
Labels: fully-signed, tests-rejected, bug-fix, orp-approved, backport-ok, heterogeneous-approved

#40086 [125X] Improve unprotected areas of GSF code to avoid segfault
  TrackingTools/GsfTracking/src/GsfTrajectorySmoother.cc
Labels: reconstruction-pending, pending-signatures, tests-started, orp-approved, backport-ok

#40085 [124X] Improve unprotected areas of GSF code to avoid segfault
  TrackingTools/GsfTracking/src/GsfTrajectorySmoother.cc
Labels: reconstruction-pending, pending-signatures, tests-approved, orp-approved, urgent, backport-ok, tracking, egamma

#40049 MTD geometry and reconstruction: update locaPosition in RectangularMTDTopology and adapt cluster accordingly
  DataFormats/FTLRecHit/interface/FTLCluster.h
  Geometry/MTDGeometryBuilder/src/RectangularMTDTopology.cc
  Validation/MtdValidation/plugins/BtlLocalRecoValidation.cc
  Validation/MtdValidation/plugins/BuildFile.xml
  Validation/MtdValidation/plugins/EtlLocalRecoValidation.cc
Labels: dqm-approved, geometry-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#40088 Protect against particles with zero weight and pt being given as input to njettiness BACKPORT
  RecoBTag/SecondaryVertex/plugins/BoostedDoubleSVProducer.cc
Labels: reconstruction-pending, pending-signatures, tests-started, orp-approved, urgent, backport-ok

#40098 Protection in geant4 stacking action
  SimG4Core/Application/src/StackingAction.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40092 Protect against particles with zero weight and pt being given to njettiness [12_5_X]
  RecoBTag/SecondaryVertex/plugins/BoostedDoubleSVProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok

#40045 Run3 ele ID is added to the cleaned 126 nanoAOD electron module + DQM (Run3 EffArea is applied only to the EGamma supported variables)
  PhysicsTools/NanoAOD/python/electrons_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
  PhysicsTools/PatAlgos/python/slimming/miniAOD_tools.py
  RecoEgamma/ElectronIdentification/data/Run3_Winter22/effAreaElectrons_cone03_pfNeuHadronsAndPhotons_122X.txt
  RecoEgamma/ElectronIdentification/python/Identification/cutBasedElectronID_Winter22_122X_V1_cff.py
  RecoEgamma/ElectronIdentification/test/runtests.sh
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved, egamma

#40105 fix initialization of local variables to avoid vagrind warnings
  RecoTracker/MkFitCore/src/PropagationMPlex.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40055 Phase2-hgx327I Take care of some remaining obsolete python scripts in Geometry/HGCalCommonData
  Geometry/HGCalCommonData/plugins/HGCalParametersESModule.cc
  Geometry/HGCalCommonData/python/hgcalEENumberingInitialization_cfi.py
  Geometry/HGCalCommonData/python/hgcalEEParametersInitialization_cfi.py
  Geometry/HGCalCommonData/python/testGeometryExtended_cff.py
  Validation/CheckOverlap/test/python/runHGC_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#39955 Setting precision in GlobalVariablesProducer
  PhysicsTools/NanoAOD/interface/SimpleFlatTableProducer.h
  PhysicsTools/NanoAOD/plugins/GlobalVariablesTableProducer.cc
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#39923 Run3-gex144 Avoid compilation warnings in RecoParticleFlow/PFProducer test codes
  RecoParticleFlow/PFProducer/test/PFIsoReader.cc
  RecoParticleFlow/PFProducer/test/PFIsoReader.h
  RecoParticleFlow/PFProducer/test/PFSuperClusterReader.cc
  RecoParticleFlow/PFProducer/test/PFSuperClusterReader.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40114 Fix alignment offline validation ROOT6.27/01 issue
  Alignment/OfflineValidation/interface/PlotAlignmentValidation.h
  Alignment/OfflineValidation/src/PlotAlignmentValidation.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40109 Fix HI rawDataInputTag for beamhlt DQM client
  DQM/Integration/python/clients/beamhlt_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#39959 add era-dependent switch on the AlCaRecoTriggerBit key for SiPixel ALCARECO producers
  Calibration/TkAlCaRecoProducers/python/ALCARECOSiPixelCalSingleMuonLoose_cff.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOSiPixelCalSingleMuonTight_cff.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOSiPixelCalSingleMuon_cff.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40060 OS requirement for Triple Muon seeds in the uGT emulator
  L1Trigger/L1TGlobal/interface/CorrelationThreeBodyTemplate.h
  L1Trigger/L1TGlobal/plugins/TriggerMenuParser.cc
  L1Trigger/L1TGlobal/src/CorrThreeBodyCondition.cc
  L1Trigger/L1TGlobal/test/testVectorCode_data.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40069 Phase2TrackerDigitizer: Activating Bias Rail Inefficiency
  SimTracker/SiPhase2Digitizer/plugins/PSPDigitizerAlgorithm.cc
  SimTracker/SiPhase2Digitizer/plugins/PSPDigitizerAlgorithm.h
  SimTracker/SiPhase2Digitizer/python/phase2TrackerDigitizer_cfi.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#40095 various improvements to HLT-development tools [`12_4_X`]
  HLTrigger/Configuration/scripts/hltCheckPrescaleModules
  HLTrigger/Configuration/scripts/hltGetConfiguration
  HLTrigger/Configuration/scripts/hltIntegrationTests
  HLTrigger/Configuration/scripts/hltListPaths
  HLTrigger/Configuration/tables/subtables.sh
  HLTrigger/Configuration/test/cmsDriver.csh
  HLTrigger/Configuration/test/getDatasets.py
  HLTrigger/Configuration/test/getEventContent.py
  HLTrigger/Configuration/test/getFrozenHLT.sh
  HLTrigger/Configuration/test/getHLT.sh
  HLTrigger/Configuration/test/runAll.csh
  HLTrigger/Configuration/test/runIntegration.csh
  HLTrigger/Configuration/test/runOne.csh
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#39922 Run3-gex143 Update RecoEgamma/EgammaElectronProducers to avoid compilation warnings
  RecoEgamma/EgammaElectronProducers/test/GEDValueMapAnalyzer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40094 various improvements to HLT-development tools [`12_5_X`]
  HLTrigger/Configuration/scripts/hltCheckPrescaleModules
  HLTrigger/Configuration/scripts/hltGetConfiguration
  HLTrigger/Configuration/scripts/hltIntegrationTests
  HLTrigger/Configuration/scripts/hltListPaths
  HLTrigger/Configuration/tables/subtables.sh
  HLTrigger/Configuration/test/cmsDriver.csh
  HLTrigger/Configuration/test/getDatasets.py
  HLTrigger/Configuration/test/getEventContent.py
  HLTrigger/Configuration/test/getFrozenHLT.sh
  HLTrigger/Configuration/test/getHLT.sh
  HLTrigger/Configuration/test/runAll.csh
  HLTrigger/Configuration/test/runIntegration.csh
  HLTrigger/Configuration/test/runOne.csh
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#40121 cleaning the folder name of the per path histograms
  HLTrigger/Timer/plugins/FastTimerService.cc
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#40108 [12_5_X] Fix HI rawDataInputTag for beamhlt DQM client
  DQM/Integration/python/clients/beamhlt_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, backport-ok

#39441 GE21-ME21 segment reconstruction
  Configuration/ProcessModifiers/python/gemcscSegmentsTesting_cff.py
  DQM/GEM/test/testGEMEffByGEMCSCSegment.py
  DQM/Integration/python/clients/gem_dqm_sourceclient-live_cfg.py
  RecoLocalMuon/GEMCSCSegment/plugins/GEMCSCSegmentBuilder.cc
  RecoLocalMuon/GEMCSCSegment/plugins/GEMCSCSegmentBuilder.h
  RecoLocalMuon/GEMCSCSegment/plugins/GEMCSCSegmentProducer.cc
  RecoLocalMuon/GEMCSCSegment/plugins/GEMCSCSegmentProducer.h
  RecoLocalMuon/GEMCSCSegment/python/gemcscSegments_cff.py
  RecoLocalMuon/GEMCSCSegment/python/gemcscSegments_cfi.py
  RecoLocalMuon/GEMCSCSegment/test/BuildFile.xml
  RecoLocalMuon/GEMCSCSegment/test/GEMCSCCoincidenceRateAnalyzer.cc
  RecoLocalMuon/GEMCSCSegment/test/plotGEMCSCCoincidenceRate.py
  RecoLocalMuon/GEMCSCSegment/test/runGEMCSCCoincidenceRateAnalyzer_cfg.py
  RecoLocalMuon/GEMCSCSegment/test/runGEMCSCSegmentProducer_cfg.py
Labels: dqm-approved, operations-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#40002 Rework MET correction/uncertainty tool
  PhysicsTools/PatAlgos/python/tools/helpers.py
  PhysicsTools/PatUtils/python/patPFMETCorrections_cff.py
  PhysicsTools/PatUtils/python/tools/runMETCorrectionsAndUncertainties.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#39736 Add G4HepEm to CMSSW
  BigProducts/Simulation/BuildFile.xml
  SimG4Core/PhysicsLists/BuildFile.xml
  SimG4Core/PhysicsLists/interface/CMSEmStandardPhysicsEMH.h
  SimG4Core/PhysicsLists/plugins/FTFPCMS_BERT_EMH.cc
  SimG4Core/PhysicsLists/plugins/FTFPCMS_BERT_EMH.h
  SimG4Core/PhysicsLists/plugins/module.cc
  SimG4Core/PhysicsLists/src/CMSEmStandardPhysicsEMH.cc
Labels: core-approved, simulation-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#40093 Adapt protection against zero weights or pt for SV producer
  RecoBTag/SecondaryVertex/plugins/TemplatedSecondaryVertexProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40129 [Backport 125X] OS requirement for Triple Muon seeds in the uGT emulator
  L1Trigger/L1TGlobal/interface/CorrelationThreeBodyTemplate.h
  L1Trigger/L1TGlobal/plugins/TriggerMenuParser.cc
  L1Trigger/L1TGlobal/src/CorrThreeBodyCondition.cc
  L1Trigger/L1TGlobal/test/testVectorCode_data.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, backport-ok

#40130 [Backport 124X] OS requirement for Triple Muon seeds in the uGT emulator
  L1Trigger/L1TGlobal/interface/CorrelationThreeBodyTemplate.h
  L1Trigger/L1TGlobal/plugins/TriggerMenuParser.cc
  L1Trigger/L1TGlobal/src/CorrThreeBodyCondition.cc
  L1Trigger/L1TGlobal/test/testVectorCode_data.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, backport-ok

#40134 cleaning the folder name of the per path histograms [`12_5_X`]
  HLTrigger/Timer/plugins/FastTimerService.cc
Labels: hlt-pending, pending-signatures, tests-approved, bug-fix, orp-approved, backport-ok

#40124 Adapt protection against zero weights or pt for SV producer [12_4_X]
  RecoBTag/SecondaryVertex/plugins/TemplatedSecondaryVertexProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok

#40127 Protection for negative kinetic energy in Geant4 tracking
  SimG4Core/Application/src/ExceptionHandler.cc
  SimG4Core/Application/src/SteppingAction.cc
  SimG4Core/SensitiveDetector/src/SensitiveDetector.cc
Labels: simulation-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#40116 Check geant4 voxels structure
  SimG4Core/Application/interface/RunManagerMT.h
  SimG4Core/Application/python/g4SimHits_cfi.py
  SimG4Core/Application/src/RunManagerMT.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40102 [12_5_X] Add MC GT for 2022 postEE leak
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok

#39980 Update and cleaning of BPH trigger DQM/RelVal plots - backport to 12_5_X
  DQMOffline/Trigger/python/BPHMonitor_cff.py
  HLTriggerOffline/HeavyFlavor/python/heavyFlavorValidationHarvestingSequence_cff.py
  HLTriggerOffline/HeavyFlavor/python/heavyFlavorValidationHarvesting_cfi.py
  HLTriggerOffline/HeavyFlavor/python/heavyFlavorValidationSequence_cff.py
  HLTriggerOffline/HeavyFlavor/src/HeavyFlavorValidation.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#40131 [12.5] Protection for negative kinetic energy in Geant4 tracking
  SimG4Core/Application/src/ExceptionHandler.cc
  SimG4Core/Application/src/SteppingAction.cc
  SimG4Core/SensitiveDetector/src/SensitiveDetector.cc
Labels: simulation-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#40128 [12_4] Protection for negative kinetic energy in Geant4 tracking
  SimG4Core/Application/src/ExceptionHandler.cc
  SimG4Core/Application/src/SteppingAction.cc
  SimG4Core/SensitiveDetector/src/SensitiveDetector.cc
Labels: simulation-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#40031 Update EDM inputs to HLT-Validation tests [`5_3_X` only]
  HLTrigger/Configuration/test/cmsDriver.csh
Labels: hlt-approved, fully-signed, tests-approved, orp-approved

#40026 Update EDM inputs to HLT-Validation tests [`10_6_X` only]
  HLTrigger/Configuration/test/cmsDriver.csh
Labels: hlt-approved, fully-signed, tests-approved, orp-approved

#40025 Update EDM inputs to HLT-Validation tests [`11_0_X` only]
  HLTrigger/Configuration/test/cmsDriver.csh
Labels: hlt-approved, fully-signed, tests-approved, orp-approved

#40024 Update EDM inputs to HLT-Validation tests [`11_1_X` only]
  HLTrigger/Configuration/test/cmsDriver.csh
Labels: hlt-approved, fully-signed, tests-approved, orp-approved

#40023 Update EDM inputs to HLT-Validation tests [`11_2_X` only]
  HLTrigger/Configuration/test/cmsDriver.csh
Labels: hlt-approved, fully-signed, tests-approved, orp-approved

#40022 Update EDM inputs to HLT-Validation tests [`11_3_X` only]
  HLTrigger/Configuration/test/cmsDriver.csh
Labels: hlt-approved, fully-signed, tests-approved, orp-approved

#40021 Update EDM inputs to HLT-Validation tests [`12_0_X` only]
  HLTrigger/Configuration/test/cmsDriver.csh
Labels: hlt-approved, fully-signed, tests-approved, orp-approved

#40020 Update EDM inputs to HLT-Validation tests [`12_1_X` only]
  HLTrigger/Configuration/test/cmsDriver.csh
Labels: hlt-approved, fully-signed, tests-rejected, orp-approved

#40027 Update EDM inputs to HLT-Validation tests [`10_3_X` only]
  HLTrigger/Configuration/test/cmsDriver.csh
  HLTrigger/Configuration/test/runIntegration.csh
Labels: hlt-approved, fully-signed, tests-approved, orp-approved

#40123 Adapt protection against zero weights or pt for SV producer [12_5_X]
  RecoBTag/SecondaryVertex/plugins/TemplatedSecondaryVertexProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok

#40030 Update EDM inputs to HLT-Validation tests [`8_0_X` only]
  HLTrigger/Configuration/test/cmsDriver.csh
  HLTrigger/Configuration/test/runIntegration.csh
  Utilities/ReleaseScripts/scripts/addOnTests.py
Labels: core-approved, hlt-approved, fully-signed, tests-approved, orp-approved

#39403 Herwig7 jet partonFlavour (10_6_X)
  PhysicsTools/JetMCAlgos/plugins/HadronAndPartonSelector.cc
Labels: analysis-pending, generators-approved, pending-signatures, tests-approved, orp-approved, backport-ok

#40029 Update EDM inputs to HLT-Validation tests [`9_4_X` only]
  HLTrigger/Configuration/test/cmsDriver.csh
  HLTrigger/Configuration/test/runIntegration.csh
  Utilities/ReleaseScripts/scripts/addOnTests.py
Labels: core-approved, hlt-approved, fully-signed, tests-approved, orp-approved
