Repository cms-sw/cmssw, pull requests merged in 2022-07, with the labels that each got.

#38557 [124X] Update online GTs with new AlCaRecoTriggerBits tag and offline GTs with EGM regression
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok

#38558 [123X] Update online GTs with new AlCaRecoTriggerBits tag and offline GTs with EGM regression
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok

#38534 [12_4_X] Fix bug in muon index bit computation
  L1Trigger/L1TMuon/plugins/L1TMuonProducer.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, backport-ok

#38533 [12_3_X] Fix bug in muon index bit computation
  L1Trigger/L1TMuon/plugins/L1TMuonProducer.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, backport-ok

#38578 [12_4_X] Add Run-3 JECs to Run-3 MCs
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok, jetmet

#38572 [GEM] bug fix : typo in GEMOptoHybrid data format
  DataFormats/GEMDigi/interface/GEMOptoHybrid.h
Labels: simulation-approved, fully-signed, tests-approved, bug-fix, orp-approved, upgrade-approved, code-checks-approved

#38548 Phase2-hgx317 Add an extra constructor for the HFNoseDetId class
  DataFormats/ForwardDetId/interface/HFNoseDetId.h
  DataFormats/ForwardDetId/src/HFNoseDetId.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#38583 Improve early unlocking in FastMonitoringService
  EventFilter/Utilities/src/FastMonitoringService.cc
Labels: daq-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#38573 [Backport][GEM] bug fix : typo in GEMOptoHybrid data format [12_4_X]
  DataFormats/GEMDigi/interface/GEMOptoHybrid.h
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, backport-ok

#38547 Phase2-hgx316C Add a few utility methods in HGCalDDDConstants
  Geometry/HGCalCommonData/interface/HGCalDDDConstants.h
  Geometry/HGCalCommonData/src/HGCalDDDConstants.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#38531 Phase2-hgx316BBB Investigate the differences between ddd and dd4hep versions in HGCal V17 geometry
  Geometry/HGCalCommonData/data/dd4hep/cms-test-ddhgcalcell-algorithm.xml
  Geometry/HGCalCommonData/data/hgcalcell/v17/hgcalpos.xml
  Geometry/HGCalCommonData/plugins/DDHGCalSiliconRotatedModule.cc
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalMixRotatedLayer.cc
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalSiliconRotatedModule.cc
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalWaferFullRotated.cc
  Geometry/HGCalCommonData/python/testHGCalCellXML_cfi.py
  Geometry/HGCalCommonData/test/python/dumpExtendedHGCalGeometryDD4hep_cfg.py
  Geometry/HGCalCommonData/test/python/dumpExtendedHGCalGeometryDDD_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#38546 [Backport][GEM] bug fix in orbit counter checker between AMC13 and GEM AMC headers [12_3_X]
  DataFormats/GEMDigi/interface/GEMAMCStatus.h
  DataFormats/GEMDigi/interface/GEMOptoHybrid.h
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, backport-ok

#38585 Improve early unlocking in FastMonitoringService [12.3.x]
  EventFilter/Utilities/src/FastMonitoringService.cc
Labels: daq-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#38584 Improve early unlocking in FastMonitoringService [12.4.x]
  EventFilter/Utilities/src/FastMonitoringService.cc
Labels: daq-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#38576 [llvm14] Changes needed for llvm 13 and above
  Utilities/StaticAnalyzers/src/EDMPluginDumper.cc
  Utilities/StaticAnalyzers/src/getByChecker.cpp
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38538 HGC Realistic DIGIS - part I
  DataFormats/HGCDigi/src/classes.h
  DataFormats/HGCDigi/src/classes_def.xml
  DataFormats/HGCalDigi/BuildFile.xml
  DataFormats/HGCalDigi/interface/HGCROCChannelDataFrame.h
  DataFormats/HGCalDigi/interface/HGCalDigiCollections.h
  DataFormats/HGCalDigi/interface/PHGCSimAccumulator.h
  DataFormats/HGCalDigi/src/HGCROCChannelDataFrame.cc
  DataFormats/HGCalDigi/src/classes.h
  DataFormats/HGCalDigi/src/classes_def.xml
  DataFormats/HGCalDigi/test/BuildFile.xml
  DataFormats/HGCalDigi/test/HGCROCSampleTest.cc
  SimCalorimetry/HGCalSimProducers/interface/HGCDigitizer.h
  SimCalorimetry/HGCalSimProducers/plugins/PreMixingHGCalWorker.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#38571 [12_3_X] Incorporate PiZeroAnalyzer code into ECAL DQM
  DQM/EcalMonitorTasks/interface/PiZeroTask.h
  DQM/EcalMonitorTasks/python/EcalMonitorTask_cfi.py
  DQM/EcalMonitorTasks/python/ecalPiZeroTask_cfi.py
  DQM/EcalMonitorTasks/src/PiZeroTask.cc
  DQM/Integration/python/clients/ecal_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, new-feature, backport-ok, ecal

#38570 [12_4_X] Incorporate PiZeroAnalyzer code into ECAL DQM
  DQM/EcalMonitorTasks/interface/PiZeroTask.h
  DQM/EcalMonitorTasks/python/EcalMonitorTask_cfi.py
  DQM/EcalMonitorTasks/python/ecalPiZeroTask_cfi.py
  DQM/EcalMonitorTasks/src/PiZeroTask.cc
  DQM/Integration/python/clients/ecal_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, new-feature, backport-ok, ecal

#38590 Fix to "Update SiStrip and TkAlignment ALCARECO event content for Run3"
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlJetHT_Output_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlJpsiMuMuHI_Output_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlJpsiMuMu_Output_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlMinBiasHI_Output_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlMinBias_Output_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlMuonIsolatedHI_Output_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlMuonIsolated_Output_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlUpsilonMuMuHI_Output_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlUpsilonMuMu_Output_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlZMuMuHI_Output_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlZMuMu_Output_cff.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOSiStripCalCosmics_Output_cff.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOSiStripCalMinBiasAAGHI_Output_cff.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOSiStripCalMinBiasAAG_Output_cff.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOSiStripCalMinBiasHI_Output_cff.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOSiStripCalMinBias_Output_cff.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOSiStripCalSmallBiasScan_Output_cff.py
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved, trk

#38428 [12_3_X Backport] ECAL DQM GpuTask add 2D comparison histograms and enable GPU validation on online DQM
  DQM/EcalMonitorTasks/interface/GpuTask.h
  DQM/EcalMonitorTasks/python/ecalGpuTask_cfi.py
  DQM/EcalMonitorTasks/src/GpuTask.cc
  DQM/Integration/python/clients/ecalgpu_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, new-feature, backport-ok, ecal

#38595 Phase2-hgx316H Add 2 cfg's to study the content of G4 setup information for phase2 scenarios
  SimG4Core/PrintGeomInfo/test/python/runDD4hep2026_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runDDD2026_cfg.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38562 Phase2-sim120 Add test to check hits in partial wafers for V17 geometry
  SimG4CMS/Calo/plugins/HGCalHitPartial.cc
  SimG4CMS/Calo/python/hgcalHitPartial_cff.py
  SimG4CMS/Calo/test/python/runHGC7_cfg.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38596 Phase2-hgx318 Add a scenario 2026D94 using HGCal version V17 and HFNose
  Configuration/Geometry/README.md
  Configuration/Geometry/python/GeometryDD4hepExtended2026D94Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D94_cff.py
  Configuration/Geometry/python/GeometryExtended2026D94Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D94_cff.py
  Configuration/Geometry/python/dict2026Geometry.py
  Configuration/PyReleaseValidation/python/relval_2026.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  Configuration/StandardSequences/python/GeometryConf.py
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D94.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D94XML_cfi.py
  Geometry/ForwardCommonData/python/hfnoseV15ParametersInitialization_cfi.py
  Geometry/HGCalCommonData/python/hgcalEEV15ParametersInitialization_cfi.py
  Geometry/HGCalCommonData/python/hgcalV15ParametersInitialization_cfi.py
  Geometry/HGCalCommonData/src/HGCalParametersFromDD.cc
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckNoseDDD_cfg.py
Labels: geometry-approved, operations-approved, simulation-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#38616 Add VtxSmearing scenario for Run 3 early data at 13.6 TeV
  Configuration/StandardSequences/python/VtxSmeared.py
  IOMC/EventVertexGenerators/python/VtxSmearedParameters_cfi.py
  IOMC/EventVertexGenerators/python/VtxSmearedRealistic25ns13p6TeVEarly2022Collision_cfi.py
Labels: operations-approved, simulation-approved, fully-signed, tests-approved, orp-approved, urgent, code-checks-approved

#38601 Add bunchCrossing to NanoAOD common branches
  PhysicsTools/NanoAOD/plugins/NanoAODOutputModule.cc
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#38609 [LTO] do not remove lto flags for LTO IBs
  BigProducts/Simulation/BuildFile.xml
Labels: core-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38608 Phase2-sim121 Prints out G4VSolid parameters to debug issues in scenarios created using DD4hep
  SimG4Core/PrintGeomInfo/plugins/PrintG4Solids.cc
  SimG4Core/PrintGeomInfo/python/g4PrintG4Solids_cfi.py
  SimG4Core/PrintGeomInfo/test/python/runPrintG4SolidsRun3_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runPrintG4Solids_cfg.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38540 Add DQM module using HeavyFlavorAnalysis for BPH common decays
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  DQM/Physics/BuildFile.xml
  DQM/Physics/python/heavyFlavorDQMFirstStep_cff.py
  DQM/Physics/python/vertexSelectForHeavyFlavorDQM_cfi.py
  DQM/Physics/src/HeavyFlavorDQMAnalyzer.cc
  DQM/Physics/src/HeavyFlavorDQMAnalyzer.h
  DQMOffline/Configuration/python/DQMOffline_cff.py
  DQMOffline/Configuration/python/autoDQM.py
Labels: dqm-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, requires-external, code-checks-approved

#38579 Correct subsystem folder for ecalgpu client
  DQM/Integration/python/clients/ecalgpu_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38611 Fix DNS servers for BeamSpot DIP publication
  DQM/BeamMonitor/bin/beamSpotDipStandalone.cc
  DQM/BeamMonitor/plugins/BeamSpotDipServer.cc
Labels: dqm-approved, fully-signed, tests-approved, db-approved, bug-fix, orp-approved, code-checks-approved

#38580 [12_4_X] Correct subsystem folder for ecalgpu client
  DQM/Integration/python/clients/ecalgpu_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#38598 update `PrimaryVertexMonitor` for Run-3 data-taking
  DQMOffline/RecoB/plugins/PrimaryVertexMonitor.cc
  DQMOffline/RecoB/plugins/PrimaryVertexMonitor.h
  DQMOffline/RecoB/python/PrimaryVertexMonitor_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, urgent, code-checks-approved

#38632 Update errorScale for BeamSpot Legacy DQM client
  DQM/Integration/python/clients/beam_dqm_sourceclient-live_cfg.py
Labels: dqm-pending, pending-signatures, tests-approved, orp-approved, code-checks-approved

#38635 Fix issue with BTV HLT OfflineDQM
  DQMOffline/Trigger/plugins/BTVHLTOfflineSource.cc
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved, btv

#38637 [12_4_X] Fix issue with BTV HLT OfflineDQM
  DQMOffline/Trigger/plugins/BTVHLTOfflineSource.cc
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport, btv

#38636 [12_3_X] Fix issue with BTV HLT OfflineDQM
  DQMOffline/Trigger/plugins/BTVHLTOfflineSource.cc
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, backport, btv

#38620 Add bunchCrossing to NanoAOD common branches [12_4_X backport]
  PhysicsTools/NanoAOD/plugins/NanoAODOutputModule.cc
Labels: fully-signed, tests-approved, orp-approved, xpog-approved

#38549 Replace Geometry_cff with GeometryDB_cff in RecoLocalMuon
  RecoLocalMuon/CSCRecHitD/test/run_on_raw.py
  RecoLocalMuon/CSCRecHitD/test/run_on_raw_72x.py
  RecoLocalMuon/CSCRecHitD/test/run_on_simdigi.py
  RecoLocalMuon/CSCRecHitD/test/test_bad_channels.py
  RecoLocalMuon/CSCSegment/test/run_on_raw_700.py
  RecoLocalMuon/CSCSegment/test/run_on_raw_720p3.py
  RecoLocalMuon/CSCSegment/test/run_on_raw_74x.py
  RecoLocalMuon/CSCSegment/test/run_on_simdigi.py
  RecoLocalMuon/CSCSegment/test/run_on_simdigi_74x.py
  RecoLocalMuon/CSCSegment/test/run_on_simdigi_st.py
  RecoLocalMuon/CSCValidation/test/CSCVal_example_cfg.py
  RecoLocalMuon/CSCValidation/test/cscv_RAW.py
Labels: alca-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38552 Replace Geometry_cff with GeometryDB_cff in RecoLocalTracker
  RecoLocalTracker/SiPixelClusterizer/test/readClusters_cfg.py
  RecoLocalTracker/SiPixelRecHits/test/readRecHits_cfg.py
  RecoLocalTracker/SiStripRecHitConverter/test/DigisToRecHitRead_cfg.py
Labels: alca-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38600 B2G SD mass jet trigger DQM
  DQMOffline/Trigger/python/B2GMonitoring_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38587 Phase2-hgx316F Modify the validation test scripts to accommodate the new geometry of HGCal (D93)
  Validation/HGCalValidation/test/python/protoHGCalSimWatcher_cfg.py
  Validation/HGCalValidation/test/python/protoSimValid_cfg.py
  Validation/HGCalValidation/test/python/protoValid_cfg.py
  Validation/HGCalValidation/test/python/runHGCGeomCheck_cfg.py
  Validation/HGCalValidation/test/python/runHGCalDigiStudy_cfg.py
  Validation/HGCalValidation/test/python/runHGCalRecHitStudy_cfg.py
  Validation/HGCalValidation/test/python/runHGCalSimHitStudy_cfg.py
  Validation/HGCalValidation/test/python/runHGCalWaferHitCheck_cfg.py
  Validation/HGCalValidation/test/python/runHGCalWaferStudy_cfg.py
  Validation/HGCalValidation/test/python/testHGCalSimWatcherV17N_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38618 [12_3_X] Update errorScale for BeamSpot Legacy DQM client
  DQM/Integration/python/clients/beam_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok

#38633 [12_4_X] Update errorScale for BeamSpot Legacy DQM client
  DQM/Integration/python/clients/beam_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#38613 [12_3_X] Fix DNS servers for BeamSpot DIP publication
  DQM/BeamMonitor/bin/beamSpotDipStandalone.cc
  DQM/BeamMonitor/plugins/BeamSpotDipServer.cc
Labels: dqm-approved, fully-signed, tests-approved, db-approved, bug-fix, orp-approved, urgent, backport-ok

#38612 [12_4_X] Fix DNS servers for BeamSpot DIP publication
  DQM/BeamMonitor/bin/beamSpotDipStandalone.cc
  DQM/BeamMonitor/plugins/BeamSpotDipServer.cc
Labels: dqm-approved, fully-signed, tests-approved, db-approved, bug-fix, orp-approved, backport-ok

#38642 [12.4.X] update `PrimaryVertexMonitor` for Run-3 data-taking
  DQMOffline/RecoB/plugins/PrimaryVertexMonitor.cc
  DQMOffline/RecoB/plugins/PrimaryVertexMonitor.h
  DQMOffline/RecoB/python/PrimaryVertexMonitor_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok

#38643 [12.3.X] Fix to "Update SiStrip and TkAlignment ALCARECO event content for Run3"
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlJetHT_Output_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlJpsiMuMuHI_Output_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlJpsiMuMu_Output_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlMinBiasHI_Output_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlMinBias_Output_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlMuonIsolatedHI_Output_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlMuonIsolated_Output_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlUpsilonMuMuHI_Output_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlUpsilonMuMu_Output_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlZMuMuHI_Output_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlZMuMu_Output_cff.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOSiStripCalCosmics_Output_cff.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOSiStripCalMinBiasAAGHI_Output_cff.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOSiStripCalMinBiasAAG_Output_cff.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOSiStripCalMinBiasHI_Output_cff.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOSiStripCalMinBias_Output_cff.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOSiStripCalSmallBiasScan_Output_cff.py
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, backport-ok, trk

#38607 [12_4_X] PPS pixel mask Bug Fix
  RecoPPS/Local/src/RPixDetClusterizer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok

#38652 `CalibTracker/SiStripChannelGain`: fix issue with ODR of `stAPVGain` struct
  CalibTracker/SiStripChannelGain/interface/APVGainStruct.h
  CalibTracker/SiStripChannelGain/interface/SiStripGainsPCLHarvester.h
  CalibTracker/SiStripChannelGain/interface/SiStripGainsPCLWorker.h
  CalibTracker/SiStripChannelGain/plugins/SiStripGainFromData.cc
  CalibTracker/SiStripChannelGain/src/SiStripGainsPCLHarvester.cc
  CalibTracker/SiStripChannelGain/src/SiStripGainsPCLWorker.cc
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, trk

#38655 Run3-gex136C Try to take care of compilation warning issues in FastSimulation/MaterialEffects
  FastSimulation/MaterialEffects/test/testMaterialEffects.cc
  FastSimulation/MaterialEffects/test/testNuclearInteractions.cc
Labels: fastsim-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38640 Added protection from multiple creation of geometry
  CalibTracker/SiPixelLorentzAngle/src/SiPixelLorentzAnglePCLHarvester.cc
  MagneticField/GeomBuilder/plugins/dd4hep/DD4hep_VolumeBasedMagneticFieldESProducerFromDB.cc
Labels: alca-approved, reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved, trk-dpg-approved

#38657 fix `db_tree_dump_wrapper` for unit test usage
  CondTools/SiStrip/test/db_tree_dump_wrapper.py
Labels: fully-signed, tests-rejected, db-approved, bug-fix, orp-approved, code-checks-approved, trk

#38658 Fix the inverted condition in the PPS tdc pcl
  CalibPPS/TimingCalibration/plugins/PPSTimingCalibrationPCLHarvester.cc
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, ctpps

#38588 Phase2-hgx316G Tools used in investigating the overlap issue of HGCal geometry versions beyond V14
  Geometry/HGCalCommonData/plugins/DDHGCalSiliconModule.cc
  Geometry/HGCalCommonData/plugins/DDHGCalWaferF.cc
  Geometry/HGCalCommonData/plugins/DDHGCalWaferP.cc
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalWaferF.cc
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalWaferP.cc
  Geometry/HGCalCommonData/test/python/dumpHGCalDD4hep_cfg.py
  Geometry/HGCalCommonData/test/python/dumpHGCalDDD_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheck2026DD4hep_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheck2026DDD_cfg.py
Labels: geometry-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#37848 Migration of input collection parameters to untracked in DQM/BeamMonitor package
  DQM/BeamMonitor/plugins/BeamMonitor.cc
  DQM/BeamMonitor/plugins/BeamSpotDipServer.cc
  DQM/BeamMonitor/plugins/PixelVTXMonitor.cc
  DQM/BeamMonitor/python/BeamMonitor_Cosmics_cff.py
  DQM/BeamMonitor/python/BeamMonitor_MC_cff.py
  DQM/BeamMonitor/python/BeamMonitor_PixelLess_cff.py
  DQM/BeamMonitor/python/BeamMonitor_Pixel_cff.py
  DQM/BeamMonitor/python/BeamMonitor_cff.py
  DQM/BeamMonitor/python/BeamSpotDipServer_cff.py
  DQM/BeamMonitor/python/PixelVTXMonitor_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#38664 Add new functions to AlCaNano.py needed for the T0 replay
  Configuration/DataProcessing/python/Impl/AlCaNano.py
Labels: alca-approved, operations-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved, ecal

#38661 Run3-gex136D Try to take care of compilation warnings in TopQuarkAnalysis/TopKinFitter
  TopQuarkAnalysis/TopKinFitter/plugins/TtFullHadKinFitProducer.cc
  TopQuarkAnalysis/TopKinFitter/plugins/TtFullLepKinSolutionProducer.cc
  TopQuarkAnalysis/TopKinFitter/plugins/TtSemiLepKinFitProducer.cc
Labels: analysis-pending, pending-signatures, tests-approved, orp-approved, code-checks-approved

#38592 Improvements to the `SiStripHitEfficiencyHarvester` for Run 3 data-taking
  CalibTracker/SiStripHitEfficiency/BuildFile.xml
  CalibTracker/SiStripHitEfficiency/interface/SiStripHitEffData.h
  CalibTracker/SiStripHitEfficiency/interface/SiStripHitEfficiencyHelpers.h
  CalibTracker/SiStripHitEfficiency/plugins/SiStripHitEffFromCalibTree.cc
  CalibTracker/SiStripHitEfficiency/plugins/SiStripHitEfficiencyHarvester.cc
  CalibTracker/SiStripHitEfficiency/plugins/SiStripHitEfficiencyWorker.cc
  CommonTools/ConditionDBWriter/interface/ConditionDBWriter.h
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#38668 trivial V10 customize
  PhysicsTools/NanoAOD/python/V10/nano_cff.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#38671 [12.4.X] Improvements to the `SiStripHitEfficiencyHarvester` for Run 3 data-taking
  CalibTracker/SiStripHitEfficiency/BuildFile.xml
  CalibTracker/SiStripHitEfficiency/interface/SiStripHitEffData.h
  CalibTracker/SiStripHitEfficiency/interface/SiStripHitEfficiencyHelpers.h
  CalibTracker/SiStripHitEfficiency/plugins/SiStripHitEffFromCalibTree.cc
  CalibTracker/SiStripHitEfficiency/plugins/SiStripHitEfficiencyHarvester.cc
  CalibTracker/SiStripHitEfficiency/plugins/SiStripHitEfficiencyWorker.cc
  CommonTools/ConditionDBWriter/interface/ConditionDBWriter.h
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, backport-ok

#38673 Rename PPS Diamond Sampic PCL path and task
  CalibPPS/TimingCalibration/python/ALCARECOPromptCalibProdPPSDiamondSampicTimingCalib_Output_cff.py
  CalibPPS/TimingCalibration/python/ALCARECOPromptCalibProdPPSDiamondSampicTimingCalib_cff.py
  Configuration/StandardSequences/python/AlCaRecoStreams_cff.py
Labels: alca-approved, operations-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved, ctpps

#38662 Run3-alca223 Fixes the issue reported in #38656
  Calibration/HcalAlCaRecoProducers/plugins/AlCaHcalHBHEMuonFilter.cc
  Calibration/HcalAlCaRecoProducers/plugins/AlCaHcalHBHEMuonProducer.cc
  Calibration/HcalAlCaRecoProducers/plugins/AlCaIsoTracksFilter.cc
  Calibration/HcalAlCaRecoProducers/plugins/AlCaIsoTracksProducer.cc
  Calibration/HcalAlCaRecoProducers/plugins/AlCaIsoTracksProducerFilter.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38541 [12_4_X] Add DQM module using HeavyFlavorAnalysis for BPH common decays
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  DQM/Physics/BuildFile.xml
  DQM/Physics/python/heavyFlavorDQMFirstStep_cff.py
  DQM/Physics/python/vertexSelectForHeavyFlavorDQM_cfi.py
  DQM/Physics/src/HeavyFlavorDQMAnalyzer.cc
  DQM/Physics/src/HeavyFlavorDQMAnalyzer.h
  DQMOffline/Configuration/python/DQMOffline_cff.py
  DQMOffline/Configuration/python/autoDQM.py
Labels: dqm-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, urgent, upgrade-approved, requires-external, backport-ok

#38653 [12.4.X] Added protection from multiple creation of geometry
  CalibTracker/SiPixelLorentzAngle/src/SiPixelLorentzAnglePCLHarvester.cc
  MagneticField/GeomBuilder/plugins/dd4hep/DD4hep_VolumeBasedMagneticFieldESProducerFromDB.cc
Labels: alca-approved, reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, backport-ok

#38641 [12_3_X] Added protection from multiple creation of geometry
  CalibTracker/SiPixelLorentzAngle/src/SiPixelLorentzAnglePCLHarvester.cc
  MagneticField/GeomBuilder/plugins/dd4hep/DD4hep_VolumeBasedMagneticFieldESProducerFromDB.cc
Labels: alca-approved, reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, trk-dpg-approved

#38615 Emtf Unpacker/Emulator Update for Run 3 CSC TPs
  DataFormats/L1TMuon/interface/EMTF/ME.h
  DataFormats/L1TMuon/interface/EMTFHit.h
  DataFormats/L1TMuon/src/EMTFHit.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFBlockME.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFBlockSP.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFCollections.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFCollections.h
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFSetup.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFTokens.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFTokens.h
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFUnpackerTools.cc
  L1Trigger/L1TMuonEndCap/src/PrimitiveConversion.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38589 MTD geometry: clean BTLDetId
  DataFormats/ForwardDetId/interface/BTLDetId.h
  DataFormats/ForwardDetId/interface/ETLDetId.h
  DataFormats/ForwardDetId/src/BTLDetId.cc
  Geometry/MTDCommonData/interface/MTDTopologyMode.h
  Geometry/MTDCommonData/src/MTDTopologyMode.cc
  Geometry/MTDCommonData/test/DD4hep_TestMTDIdealGeometry.cc
  Geometry/MTDCommonData/test/TestMTDIdealGeometry.cc
  Geometry/MTDCommonData/test/testMTDinDD4hep.py
  Geometry/MTDCommonData/test/testMTDinDDD.py
  Geometry/MTDGeometryBuilder/src/MTDParametersFromDD.cc
  RecoLocalFastTime/FTLCommonAlgos/src/MTDTimeCalib.cc
  RecoMTD/DetLayers/src/BTLDetLayerGeometryBuilder.cc
  RecoMTD/DetLayers/src/ETLDetLayerGeometryBuilder.cc
  Validation/MtdValidation/plugins/BtlLocalRecoHarvester.cc
  Validation/MtdValidation/plugins/BtlSimHitsHarvester.cc
  Validation/MtdValidation/plugins/EtlDigiHitsValidation.cc
  Validation/MtdValidation/plugins/EtlLocalRecoValidation.cc
  Validation/MtdValidation/plugins/EtlSimHitsValidation.cc
  Validation/MtdValidation/plugins/MtdTracksValidation.cc
Labels: dqm-approved, geometry-approved, reconstruction-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#38667 trivial V10 customize (12_4)
  PhysicsTools/NanoAOD/python/V10/nano_cff.py
Labels: fully-signed, tests-approved, orp-approved, backport-ok, xpog-approved

#38675 Update the configuration for the `--timing` option
  HLTrigger/Configuration/python/Tools/confdb.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38678 Modifiers not being set properly in EventConfig for data (backport of #38622, 12_3_X)
  Configuration/DataProcessing/python/Repack.py
Labels: operations-approved, fully-signed, tests-approved, orp-approved, backport-ok

#38674 [124X] Rename PPS Diamond Sampic PCL path and task
  CalibPPS/TimingCalibration/python/ALCARECOPromptCalibProdPPSDiamondSampicTimingCalib_Output_cff.py
  CalibPPS/TimingCalibration/python/ALCARECOPromptCalibProdPPSDiamondSampicTimingCalib_cff.py
  Configuration/StandardSequences/python/AlCaRecoStreams_cff.py
Labels: alca-approved, operations-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, backport-ok, ctpps

#38470 HLT DQM Cleaning
  DQMOffline/Trigger/interface/HLTMuonMatchAndPlot.h
  DQMOffline/Trigger/plugins/HLTMuonOfflineAnalyzer.cc
  DQMOffline/Trigger/python/HLTMuonOfflineAnalyzer_cfi.py
  DQMOffline/Trigger/src/HLTMuonMatchAndPlot.cc
  HLTriggerOffline/Muon/python/HLTmultiTrackValidatorMuonTracks_cff.py
  Validation/RecoMuon/python/associators_cff.py
  Validation/RecoMuon/python/muonValidationHLT_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38646 Run3-gex136A Handle compilation warnings in OnlineDB/CSCCondDB
  OnlineDB/CSCCondDB/interface/CSCAFEBAnalyzer.h
  OnlineDB/CSCCondDB/plugins/CSCChamberTimeCorrectionsReadTest.cc
  OnlineDB/CSCCondDB/plugins/CSCMap1Read.cc
  OnlineDB/CSCCondDB/src/CSCAFEBAnalyzer.cc
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, performance-improvements, csc

#38695 DAQ Input source not deleting files on exception (12_5_X)
  EventFilter/Utilities/interface/FastMonitoringService.h
  EventFilter/Utilities/interface/FedRawDataInputSource.h
  EventFilter/Utilities/plugins/ExceptionGenerator.cc
  EventFilter/Utilities/src/EvFDaqDirector.cc
  EventFilter/Utilities/src/FastMonitoringService.cc
  EventFilter/Utilities/src/FedRawDataInputSource.cc
Labels: daq-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38700 `SiPixelLorentzAnglePCLHarvester`: fetch precise B-field value from map via `inverseBzAtOriginInGeV`
  CalibTracker/SiPixelLorentzAngle/src/SiPixelLorentzAnglePCLHarvester.cc
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, trk

#38676 Update the configuration for the `--timing` option [12.4.x]
  HLTrigger/Configuration/python/Tools/confdb.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#38697 DAQ Input source not deleting files on exception (12_3_X)
  EventFilter/Utilities/interface/FastMonitoringService.h
  EventFilter/Utilities/interface/FedRawDataInputSource.h
  EventFilter/Utilities/plugins/ExceptionGenerator.cc
  EventFilter/Utilities/src/EvFDaqDirector.cc
  EventFilter/Utilities/src/FastMonitoringService.cc
  EventFilter/Utilities/src/FedRawDataInputSource.cc
Labels: daq-approved, fully-signed, tests-approved, orp-approved, backport-ok

#38696 DAQ Input source not deleting files on exception (12_4_X)
  EventFilter/Utilities/interface/FastMonitoringService.h
  EventFilter/Utilities/interface/FedRawDataInputSource.h
  EventFilter/Utilities/plugins/ExceptionGenerator.cc
  EventFilter/Utilities/src/EvFDaqDirector.cc
  EventFilter/Utilities/src/FastMonitoringService.cc
  EventFilter/Utilities/src/FedRawDataInputSource.cc
Labels: daq-approved, fully-signed, tests-approved, orp-approved, backport-ok

#38706 Fix SteppingAction for volume names with DD4hep
  SimG4Core/Application/src/SteppingAction.cc
Labels: simulation-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved

#38621 Have WaitingTask hold an exception_ptr directly
  FWCore/Concurrency/interface/WaitingTask.h
  FWCore/Concurrency/test/test_catch2_WaitingTaskChain.cc
  FWCore/Concurrency/test/waitingtasklist_t.cppunit.cpp
  FWCore/Framework/interface/maker/Worker.h
  FWCore/Framework/src/EventProcessor.cc
  FWCore/Framework/src/EventSetupsController.cc
  FWCore/Framework/src/ProductResolvers.cc
  FWCore/Framework/src/Worker.cc
  FWCore/Framework/test/dependentrecord_t.cppunit.cc
  FWCore/Framework/test/esproducer_t.cppunit.cc
  FWCore/Framework/test/eventsetup_t.cppunit.cc
  FWCore/Framework/test/eventsetuprecord_t.cppunit.cc
  FWCore/Framework/test/fullchain_t.cppunit.cc
  FWCore/Framework/test/global_filter_t.cppunit.cc
  FWCore/Framework/test/global_outputmodule_t.cppunit.cc
  FWCore/Framework/test/global_producer_t.cppunit.cc
  FWCore/Framework/test/limited_filter_t.cppunit.cc
  FWCore/Framework/test/limited_outputmodule_t.cppunit.cc
  FWCore/Framework/test/limited_producer_t.cppunit.cc
  FWCore/Framework/test/one_outputmodule_t.cppunit.cc
  FWCore/Framework/test/stream_filter_t.cppunit.cc
  FWCore/Framework/test/stream_producer_t.cppunit.cc
  FWCore/TestProcessor/src/TestProcessor.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38687 Add protection vs Minuit2 Fatal Root Error and update VxErrCorr in Vx3DHLTAnalyzer
  DQM/BeamMonitor/plugins/Vx3DHLTAnalyzer.cc
  DQM/Integration/python/clients/beampixel_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, db-approved, bug-fix, orp-approved, code-checks-approved

#38701 [12.4.X] `SiPixelLorentzAnglePCLHarvester`: fetch precise B-field value from map via `inverseBzAtOriginInGeV`
  CalibTracker/SiPixelLorentzAngle/src/SiPixelLorentzAnglePCLHarvester.cc
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, backport-ok, trk

#38602 Add EGamma calo ID variable cut to Run 3 Scouting Electrons
  HLTrigger/Egamma/plugins/HLTScoutingEgammaProducer.cc
  HLTrigger/Egamma/plugins/HLTScoutingEgammaProducer.h
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38718 Customize status plot for HG PCL alignment
  Alignment/MillePedeAlignmentAlgorithm/interface/MillePedeFileReader.h
  Alignment/MillePedeAlignmentAlgorithm/plugins/MillePedeDQMModule.cc
  Alignment/MillePedeAlignmentAlgorithm/plugins/MillePedeDQMModule.h
  Alignment/MillePedeAlignmentAlgorithm/src/MillePedeFileReader.cc
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved, trk

#38553 PPS reco patch for bad pot
  RecoPPS/Local/interface/RPixDetPatternFinder.h
  RecoPPS/Local/interface/RPixRoadFinder.h
  RecoPPS/Local/plugins/CTPPSPixelLocalTrackProducer.cc
  RecoPPS/Local/python/ctppsPixelLocalReconstruction_cff.py
  RecoPPS/Local/src/RPixPlaneCombinatoryTracking.cc
  RecoPPS/Local/src/RPixRoadFinder.cc
  Validation/CTPPS/test/simu/template_cfg.py
Labels: dqm-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, code-checks-approved

#38707 Updated name of last filter of the HLT for DQMOffline ZCounting
  DQMOffline/Lumi/python/ZCounting_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38720 Add sigmaietaieta caloID cut to the Run 3 scouting electron path backport from CMSSW_12_5_X
  HLTrigger/Egamma/plugins/HLTScoutingEgammaProducer.cc
  HLTrigger/Egamma/plugins/HLTScoutingEgammaProducer.h
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#38712 Update GT for DQM clients unitTests and input file used for unitTest
  DQM/Integration/python/clients/beam_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamfake_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamhlt_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamhltfake_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beampixel_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/castor_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/csc_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/dt4ml_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/dt_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/es_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/hlt_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/l1t_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/l1temulator_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/l1tstage1_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/l1tstage1emulator_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/l1tstage2_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/mutracking_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/onlinebeammonitor_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/physics_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/pixel_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/pixellumi_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/rpc_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/sistrip_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/sistriplas_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/config/unittestinputsource_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38708 Add prefetching ActivityRegistry signals for more transitions
  FWCore/Framework/interface/maker/Worker.h
  FWCore/Framework/test/global_filter_t.cppunit.cc
  FWCore/Framework/test/global_outputmodule_t.cppunit.cc
  FWCore/Framework/test/global_producer_t.cppunit.cc
  FWCore/Framework/test/limited_filter_t.cppunit.cc
  FWCore/Framework/test/limited_outputmodule_t.cppunit.cc
  FWCore/Framework/test/limited_producer_t.cppunit.cc
  FWCore/Framework/test/one_outputmodule_t.cppunit.cc
  FWCore/Framework/test/stream_filter_t.cppunit.cc
  FWCore/Framework/test/stream_producer_t.cppunit.cc
  FWCore/Integration/test/unit_test_outputs/testGetBy1.log
  FWCore/Integration/test/unit_test_outputs/testSubProcess.grep2.txt
  FWCore/ServiceRegistry/interface/ActivityRegistry.h
  FWCore/ServiceRegistry/interface/GlobalContext.h
  FWCore/ServiceRegistry/interface/StreamContext.h
  FWCore/ServiceRegistry/src/ActivityRegistry.cc
  FWCore/ServiceRegistry/src/GlobalContext.cc
  FWCore/ServiceRegistry/src/StreamContext.cc
  FWCore/Services/plugins/Tracer.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38716 Fixed MC truth data on particle transfer from tracker to calorimeter
  SimG4Core/Application/interface/SteppingAction.h
  SimG4Core/Application/src/SteppingAction.cc
Labels: simulation-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved

#38728 Avoid ID collisions between ED and ES modules in MessageLogger
  FWCore/MessageService/plugins/MessageLogger.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38721 Fix rare crash of the HLT in case the muon OI DNN does not find a good seed strategy
  RecoMuon/TrackerSeedGenerator/plugins/TSGForOIDNN.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved

#38734 Run3-sim122 Extend the action of PrintGeomInfoAction to compare regions as well
  SimG4Core/PrintGeomInfo/plugins/PrintGeomInfoAction.cc
  SimG4Core/PrintGeomInfo/test/BuildFile.xml
  SimG4Core/PrintGeomInfo/test/SimFileCompare.cpp
  SimG4Core/PrintGeomInfo/test/python/runDD4hep2026_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runDD4hepBigXML_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runDD4hepDB_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runDD4hepLocalDB_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runDD4hepXML_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runDDD2026_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runDDDBigXML_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runDDDDB_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runDDDXML_cfg.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38719 [12.4.X] Customize status plot for HG PCL alignment
  Alignment/MillePedeAlignmentAlgorithm/interface/MillePedeFileReader.h
  Alignment/MillePedeAlignmentAlgorithm/plugins/MillePedeDQMModule.cc
  Alignment/MillePedeAlignmentAlgorithm/plugins/MillePedeDQMModule.h
  Alignment/MillePedeAlignmentAlgorithm/src/MillePedeFileReader.cc
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, backport-ok, trk

#38581 [12_4_X] PPS reco patch for bad pot
  RecoPPS/Local/interface/RPixDetPatternFinder.h
  RecoPPS/Local/interface/RPixRoadFinder.h
  RecoPPS/Local/plugins/CTPPSPixelLocalTrackProducer.cc
  RecoPPS/Local/python/ctppsPixelLocalReconstruction_cff.py
  RecoPPS/Local/src/RPixPlaneCombinatoryTracking.cc
  RecoPPS/Local/src/RPixRoadFinder.cc
  Validation/CTPPS/test/simu/template_cfg.py
Labels: dqm-approved, reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, backport-ok, ctpps

#38717 [12_4_X] Fixed MC truth data on particle transfer from tracker to calorimeter
  SimG4Core/Application/interface/SteppingAction.h
  SimG4Core/Application/src/SteppingAction.cc
Labels: simulation-approved, fully-signed, tests-approved, bug-fix, orp-approved

#38727 [124X backport] Fix rare crash of the HLT in case the muon OI DNN does not find a good seed strategy
  RecoMuon/TrackerSeedGenerator/plugins/TSGForOIDNN.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, backport-ok

#38713 [12_4_X] Update GT for DQM clients unitTests and input file used for unitTest
  DQM/Integration/python/clients/beam_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamfake_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamhlt_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamhltfake_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beampixel_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/castor_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/csc_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/dt4ml_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/dt_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/es_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/hlt_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/l1t_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/l1temulator_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/l1tstage1_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/l1tstage1emulator_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/l1tstage2_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/mutracking_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/onlinebeammonitor_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/physics_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/pixel_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/pixellumi_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/rpc_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/sistrip_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/sistriplas_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/config/unittestinputsource_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#38730 Preprocess EDAlias and SwitchProducer information for ConditionalTask
  FWCore/Framework/interface/StreamSchedule.h
  FWCore/Framework/src/StreamSchedule.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38709 Updated name of last filter of the HLT
  DQMOffline/Lumi/python/ZCounting_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved

#38599 fix Radix Sort for size = N*256+1
  HeterogeneousCore/CUDAUtilities/interface/radixSort.h
  HeterogeneousCore/CUDAUtilities/test/BuildFile.xml
  HeterogeneousCore/CUDAUtilities/test/oneRadixSort_t.cu
Labels: fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, heterogeneous-approved

#38715 Use tbb::task_group::defer in FinalWaitingTask
  FWCore/Concurrency/interface/FinalWaitingTask.h
  FWCore/Concurrency/interface/WaitingTask.h
  FWCore/Concurrency/test/test_catch2_WaitingTaskChain.cc
  FWCore/Concurrency/test/waitingtasklist_t.cppunit.cpp
  FWCore/Framework/src/EventProcessor.cc
  FWCore/Framework/src/EventSetupsController.cc
  FWCore/Framework/src/SynchronousEventSetupsController.cc
  FWCore/Framework/test/callback_t.cppunit.cc
  FWCore/Framework/test/dependentrecord_t.cppunit.cc
  FWCore/Framework/test/esproducer_t.cppunit.cc
  FWCore/Framework/test/eventsetup_t.cppunit.cc
  FWCore/Framework/test/eventsetuprecord_t.cppunit.cc
  FWCore/Framework/test/fullchain_t.cppunit.cc
  FWCore/Framework/test/global_filter_t.cppunit.cc
  FWCore/Framework/test/global_outputmodule_t.cppunit.cc
  FWCore/Framework/test/global_producer_t.cppunit.cc
  FWCore/Framework/test/limited_filter_t.cppunit.cc
  FWCore/Framework/test/limited_outputmodule_t.cppunit.cc
  FWCore/Framework/test/limited_producer_t.cppunit.cc
  FWCore/Framework/test/one_outputmodule_t.cppunit.cc
  FWCore/Framework/test/stream_filter_t.cppunit.cc
  FWCore/Framework/test/stream_producer_t.cppunit.cc
  FWCore/TestProcessor/src/TestProcessor.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38744 Fix CMS deprecation warnings in L1TriggerConfig/GctConfigProducers
  L1TriggerConfig/GctConfigProducers/interface/L1GctConfigDump.h
  L1TriggerConfig/GctConfigProducers/interface/L1GctConfigProducers.h
  L1TriggerConfig/GctConfigProducers/src/L1GctConfigDump.cc
  L1TriggerConfig/GctConfigProducers/src/L1GctConfigProducers.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#37963 Adding DeepMET SONIC Producer to CMSSW
  Configuration/ProcessModifiers/python/allSonicTriton_cff.py
  Configuration/ProcessModifiers/python/deepMETSonicTriton_cff.py
  PhysicsTools/NanoAOD/python/nano_cff.py
  PhysicsTools/PatAlgos/python/slimming/miniAOD_tools.py
  RecoMET/METPUSubtraction/interface/DeepMETHelp.h
  RecoMET/METPUSubtraction/plugins/BuildFile.xml
  RecoMET/METPUSubtraction/plugins/DeepMETProducer.cc
  RecoMET/METPUSubtraction/plugins/DeepMETSonicProducer.cc
  RecoMET/METPUSubtraction/python/deepMETProducer_cff.py
  RecoMET/METPUSubtraction/python/deepMETSonicProducer_cff.py
  RecoMET/METPUSubtraction/src/DeepMETHelper.cc
  RecoMET/METPUSubtraction/test/testDeepMETSonic_cfg.py
Labels: operations-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved, xpog-approved, jetmet

#38625 [12_4_X] Emtf Unpacker/Emulator Update for Run 3 CSC TPs
  DataFormats/L1TMuon/interface/EMTF/ME.h
  DataFormats/L1TMuon/interface/EMTFHit.h
  DataFormats/L1TMuon/src/EMTFHit.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFBlockME.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFBlockSP.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFCollections.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFCollections.h
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFSetup.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFTokens.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFTokens.h
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFUnpackerTools.cc
  L1Trigger/L1TMuonEndCap/src/PrimitiveConversion.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved

#38742 Avoid ID collisions between ED and ES modules in MessageLogger [12_4]
  FWCore/MessageService/plugins/MessageLogger.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, backport-ok

#38731 [12_4_X] Preprocess EDAlias and SwitchProducer information for ConditionalTask
  FWCore/Framework/interface/StreamSchedule.h
  FWCore/Framework/src/StreamSchedule.cc
Labels: core-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, backport-ok

#38754 Add missing line for SubProcess unit test diff
  FWCore/Integration/test/unit_test_outputs/testSubProcess.grep.txt
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38756 Add missing line for SubProcess unit test diff
  FWCore/Integration/test/unit_test_outputs/testSubProcess.grep.txt
Labels: core-approved, fully-signed, tests-started, orp-approved, backport-ok

#38309 Correct hostname retrieval from Source::getHostname
  Utilities/XrdAdaptor/src/XrdSource.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38705 Add noise plot and change thresholds [12_4_X]
  DQM/EcalMonitorClient/python/PresampleClient_cfi.py
  DQM/EcalMonitorClient/src/PresampleClient.cc
  DQM/EcalMonitorTasks/python/TimingTask_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#38461 Add possibility to apply latest MET Phi corrections during MiniAOD processing
  JetMETCorrections/Type1MET/plugins/MultShiftMETcorrInputProducer.cc
  JetMETCorrections/Type1MET/python/multPhiCorr_Puppi_Run2_ULDATA_cfi.py
  JetMETCorrections/Type1MET/python/multPhiCorr_Puppi_Run2_ULMC_cfi.py
  JetMETCorrections/Type1MET/python/multPhiCorr_Run2_EOYMC_cfi.py
  JetMETCorrections/Type1MET/python/multPhiCorr_Run2_ULDATA_cfi.py
  JetMETCorrections/Type1MET/python/multPhiCorr_Run2_ULMC_cfi.py
  PhysicsTools/PatUtils/python/patPFMETCorrections_cff.py
  PhysicsTools/PatUtils/python/tools/runMETCorrectionsAndUncertainties.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38704 Add a noise plot and some minor adjustments to ECAL DQM [12_3_X]
  DQM/EcalMonitorClient/python/PresampleClient_cfi.py
  DQM/EcalMonitorClient/src/PresampleClient.cc
  DQM/EcalMonitorTasks/python/TimingTask_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved

#38770 Add default calibration product to PPS TDC PCL
  CalibPPS/TimingCalibration/plugins/PPSTimingCalibrationPCLHarvester.cc
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved, ctpps

#38479 Update the autoSkim.py for the Run3 skims
  Configuration/Skimming/python/autoSkim.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, code-checks-approved

#38710 Code maintenance and preparation for Run III in the DQMOffline ZCounting
  DQMOffline/Lumi/plugins/ZCounting.cc
  DQMOffline/Lumi/plugins/ZCounting.h
  DQMOffline/Lumi/python/ZCounting_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved

#38767 Fix missing line for SubProcess unit test diff
  FWCore/Integration/test/unit_test_outputs/testSubProcess.grep.txt
Labels: core-approved, fully-signed, tests-approved, orp-approved

#38741 Reimplemented BTag Validation
  HLTriggerOffline/Common/python/HLTValidationHarvest_cff.py
  HLTriggerOffline/Common/python/HLTValidation_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38763 Skip PPS diamond calibration if there are no parameters
  RecoPPS/Local/src/CTPPSDiamondRecHitProducerAlgorithm.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved, ctpps

#38743 Avoid ID collisions between ED and ES modules in MessageLogger [12_3]
  FWCore/Integration/test/unit_test_outputs/testSubProcess.grep.txt
  FWCore/MessageService/plugins/MessageLogger.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved

#38355 Adding HZZ electron MVA ID
  PhysicsTools/NanoAOD/python/electrons_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
  PhysicsTools/NanoAOD/python/nano_eras_cff.py
  PhysicsTools/PatAlgos/python/slimming/miniAOD_tools.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#38765 Protect WaitingTask*Holder::taskHasFailed from a data race
  FWCore/Concurrency/interface/WaitingTask.h
  FWCore/Concurrency/interface/WaitingTaskHolder.h
  FWCore/Concurrency/src/WaitingTaskWithArenaHolder.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38766 [12_4_X]Skip PPS diamond calibration if there are no parameters
  RecoPPS/Local/src/CTPPSDiamondRecHitProducerAlgorithm.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, backport-ok, ctpps

#38698 [12_4_X] Adding HZZ electron MVA ID
  PhysicsTools/NanoAOD/python/electrons_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
  PhysicsTools/NanoAOD/python/nano_eras_cff.py
  PhysicsTools/PatAlgos/python/slimming/miniAOD_tools.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, xpog-approved

#38659 Updated list of Geant4 process codes
  SimG4Core/Physics/interface/G4ProcessTypeEnumerator.h
  SimG4Core/Physics/src/G4ProcessTypeEnumerator.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38777 Remove TypeWithDict from public_base_classes API
  DataFormats/Provenance/interface/ProductRegistry.h
  DataFormats/Provenance/interface/ProductResolverIndexHelper.h
  DataFormats/Provenance/src/ProductRegistry.cc
  DataFormats/Provenance/src/ProductResolverIndexHelper.cc
  FWCore/Reflection/interface/DictionaryTools.h
  FWCore/Reflection/src/DictionaryTools.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38775 Adding extra protection against invalid data to EMTF PrimitiveSelection
  L1Trigger/L1TMuonEndCap/interface/PrimitiveSelection.h
  L1Trigger/L1TMuonEndCap/interface/TrackTools.h
  L1Trigger/L1TMuonEndCap/src/PrimitiveSelection.cc
  L1Trigger/L1TMuonEndCap/src/SectorProcessor.cc
  L1Trigger/L1TMuonEndCap/src/TrackTools.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38779 [10_6_X] Updated list of Geant4 process codes
  SimG4Core/Physics/src/G4ProcessTypeEnumerator.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, backport-ok

#38778 [12_4_X] Updated list of Geant4 process codes
  SimG4Core/Physics/interface/G4ProcessTypeEnumerator.h
  SimG4Core/Physics/src/G4ProcessTypeEnumerator.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, backport-ok

#38782 delete orphan scripts accessing Geometry_cff / GeometryDB_cff
  Alignment/MuonAlignment/test/make_SVGtemplates_cfg.py
  Alignment/MuonAlignment/test/test_sanityCheck_cfg.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, muon

#38733 Add Run3 wfs (NanoV10)
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#38660 Reorganize FastSim Run3 workflow
  Configuration/PyReleaseValidation/README.md
  Configuration/PyReleaseValidation/python/relval_2017.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  Configuration/PyReleaseValidation/scripts/runTheMatrix.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#38796 Update to phase1_2022_realistic GT in HcalCalibAlgos
  Calibration/HcalCalibAlgos/test/python/hcalHBHEMuonHighEta_cfg.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, hcal

#38798 Add auto cond. for scripts accessing GeometryDB_cff in DTCalibration
  CalibMuon/DTCalibration/python/dtDQMClientAlca_cfg.py
  CalibMuon/DTCalibration/python/dtDQMClient_cfg.py
  CalibMuon/DTCalibration/python/dtNoiseCalibration_cfg.py
  CalibMuon/DTCalibration/python/dtT0AbsoluteReferenceCorrection_cfg.py
  CalibMuon/DTCalibration/python/dtT0Analyzer_cfg.py
  CalibMuon/DTCalibration/python/dtT0FEBPathCorrection_cfg.py
  CalibMuon/DTCalibration/python/dtT0FillChamberFromDBCorrection_cfg.py
  CalibMuon/DTCalibration/python/dtT0FillDefaultFromDBCorrection_cfg.py
  CalibMuon/DTCalibration/python/dtT0WireCalibration_cfg.py
  CalibMuon/DTCalibration/python/dtT0WireInChamberReferenceCorrection_cfg.py
  CalibMuon/DTCalibration/python/dtTPAnalyzer_cfg.py
  CalibMuon/DTCalibration/python/dtTPDQM_cfg.py
  CalibMuon/DTCalibration/python/dtTPDeadWriter_cfg.py
  CalibMuon/DTCalibration/python/dtTTrigCalibration_cfg.py
  CalibMuon/DTCalibration/python/dtTTrigCalibration_cosmics_cfg.py
  CalibMuon/DTCalibration/python/dtTTrigConstantShiftCorrection_cfg.py
  CalibMuon/DTCalibration/python/dtTTrigCorrection_cfg.py
  CalibMuon/DTCalibration/python/dtTTrigResidualCorrection_cfg.py
  CalibMuon/DTCalibration/python/dtTTrigValidSummary_cfg.py
  CalibMuon/DTCalibration/python/dtTTrigWriter_cfg.py
  CalibMuon/DTCalibration/python/dtVDriftMeanTimerWriter_cfg.py
  CalibMuon/DTCalibration/python/dtVDriftSegmentWriter_cfg.py
  CalibMuon/DTCalibration/python/dumpDBToFile_GT_ttrig_cfg.py
  CalibMuon/DTCalibration/python/dumpDBToFile_GT_vdrift_cfg.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, new-feature, code-checks-approved, muon

#38693 [12_4_X] Add GEM alignment in all Run3 GTs
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok, gem

#38735 avoid overflowing `firstStrip_` in case of approximated clusters
  DataFormats/SiStripCluster/interface/SiStripCluster.h
  DataFormats/SiStripCluster/src/SiStripCluster.cc
  RecoLocalTracker/SiStripClusterizer/plugins/SiStripApprox2Clusters.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38790 Follow up review comments in EDAlias, SwitchProducer, ConditionalTask PR
  FWCore/Framework/interface/StreamSchedule.h
  FWCore/Framework/src/StreamSchedule.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38804 fix double counting of modules in `TkAlBarycenters::computeBarycenters`
  CondCore/AlignmentPlugins/interface/AlignmentPayloadInspectorHelper.h
Labels: fully-signed, tests-approved, db-approved, bug-fix, orp-approved, code-checks-approved, trk

#38681 Add Run3 ALCA Express/Prompt workflow
  Configuration/PyReleaseValidation/python/relval_production.py
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: alca-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, new-feature, upgrade-approved, code-checks-approved

#38780 Run3-alca224 Make use of MessageLogger wherever possible in Calibration/IsolatedParticles and HcalIsolatedTrackReco packages and also extend the use of the macros
  Calibration/HcalIsolatedTrackReco/plugins/ECALRegFEDSelector.cc
  Calibration/HcalIsolatedTrackReco/plugins/SubdetFEDSelector.cc
  Calibration/IsolatedParticles/interface/eHCALMatrixExtra.h
  Calibration/IsolatedParticles/interface/eHCALMatrixExtra.icc
  Calibration/IsolatedParticles/macros/HBHEMuonOfflineSimAnalyzer.C
  Calibration/IsolatedParticles/macros/PlotTracks.C
  Calibration/IsolatedParticles/macros/PlotVecGeom.C
  Calibration/IsolatedParticles/macros/StudyHLT.C
  Calibration/IsolatedParticles/plugins/IsolatedTracksNxN.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, performance-improvements, hcal

#38794 [12_4_X] Adding extra protection against invalid data to EMTF PrimitiveSelection
  L1Trigger/L1TMuonEndCap/interface/PrimitiveSelection.h
  L1Trigger/L1TMuonEndCap/interface/TrackTools.h
  L1Trigger/L1TMuonEndCap/src/PrimitiveSelection.cc
  L1Trigger/L1TMuonEndCap/src/SectorProcessor.cc
  L1Trigger/L1TMuonEndCap/src/TrackTools.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, backport-ok

#38792 Update the autoSkim.py for the Run3 skims and removed unused PD
  Configuration/Skimming/python/autoSkim.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, code-checks-approved

#38805 MessageLogger no longer prints summary by default
  FWCore/Integration/test/unit_test_outputs/testSubProcess.grep.txt
  FWCore/MessageService/src/ThreadSafeLogMessageLoggerScribe.cc
  FWCore/MessageService/test/u20_cfg.py
  FWCore/ParameterSet/python/Config.py
  FWCore/ParameterSet/python/MessageLogger.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#37782 Add CSCCluster skim config
  Configuration/Skimming/python/PDWG_EXOCSCCluster_cff.py
  Configuration/Skimming/python/Skims_PDWG_cff.py
  Configuration/Skimming/test/test_CSCCluster_cfg.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, urgent, code-checks-approved

#38802 [DQM] Fix for bug in DT DQM at Online
  DQM/DTMonitorClient/src/DTBlockedROChannelsTest.cc
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, muon

#38791 HeavyFlavor DQM fixes
  DQM/Physics/python/customiseHeavyFlavorDQMForMiniAOD.py
  DQM/Physics/python/heavyFlavorDQMFirstStep_cff.py
  DQM/Physics/src/HeavyFlavorDQMAnalyzer.cc
  DQM/Physics/src/HeavyFlavorDQMAnalyzer.h
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#38815 Modify HG PCL Alignment movement histograms for use in the DQM GUI
  Alignment/MillePedeAlignmentAlgorithm/plugins/MillePedeDQMModule.cc
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved, trk

#38823 `SiStripHitEfficiencyWorker`: sanitize histogram names to avoid DQM Offline GUI indexing problem with `ALCAPROMPT` datasets
  CalibTracker/SiStripHitEfficiency/interface/SiStripHitEfficiencyHelpers.h
  CalibTracker/SiStripHitEfficiency/plugins/SiStripHitEfficiencyWorker.cc
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved, trk

#38809 [DQM] Fix for bug in DT DQM at Online 12_4_X
  DQM/DTMonitorClient/src/DTBlockedROChannelsTest.cc
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, muon

#38799 [12_4_X] HeavyFlavor DQM fixes
  DQM/Physics/python/customiseHeavyFlavorDQMForMiniAOD.py
  DQM/Physics/python/heavyFlavorDQMFirstStep_cff.py
  DQM/Physics/src/HeavyFlavorDQMAnalyzer.cc
  DQM/Physics/src/HeavyFlavorDQMAnalyzer.h
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, backport-ok
