Repository cms-sw/cmssw, pull requests merged in 2022-02, with the labels that each got.

#36844 Run3-gex116A Remove some unused include to help compilation warnings in Sim packages
  SimCalorimetry/CastorSim/plugins/CastorDigiProducer.cc
  SimCalorimetry/EcalZeroSuppressionAlgos/interface/EcalZeroSuppressor.h
  SimCalorimetry/EcalZeroSuppressionAlgos/interface/TrivialAmplitudeAlgo.h
  SimRomanPot/SimFP420/plugins/DigitizerFP420.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36558 HI Pixel Tracking: change fitter from Conformal Mapping to Broken Line/Riemann
  PhysicsTools/PatAlgos/python/slimming/hiPixelTracks_cfi.py
  RecoHI/HiTracking/python/HILowPtConformalPixelTracks_cfi.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#36773 move `pixelTopology.h` from `Geometry/TrackerGeometryBuilder` to `Geometry/CommonTopologies`
  CUDADataFormats/Track/interface/TrackSoAHeterogeneousT.h
  CUDADataFormats/TrackingRecHit/interface/TrackingRecHit2DSOAView.h
  CUDADataFormats/TrackingRecHit/test/TrackingRecHit2DCUDA_t.cpp
  CalibTracker/SiPixelLorentzAngle/src/SiPixelLorentzAnglePCLWorker.cc
  CondFormats/SiPixelObjects/interface/SiPixelGainForHLTonGPU.h
  Geometry/CommonTopologies/interface/SimplePixelTopology.h
  Geometry/TrackerGeometryBuilder/test/phase1PixelTopology_t.cu
  RecoLocalTracker/SiPixelClusterizer/plugins/SiPixelDigisClustersFromSoA.cc
  RecoLocalTracker/SiPixelClusterizer/plugins/gpuCalibPixel.h
  RecoLocalTracker/SiPixelClusterizer/plugins/gpuClusterChargeCut.h
  RecoLocalTracker/SiPixelClusterizer/plugins/gpuClustering.h
  RecoLocalTracker/SiPixelRecHits/interface/pixelCPEforGPU.h
  RecoLocalTracker/SiPixelRecHits/plugins/SiPixelRecHitSoAFromLegacy.cc
  RecoLocalTracker/SiPixelRecHits/src/PixelCPEFast.cc
  RecoPixelVertexing/PixelTriplets/plugins/gpuFishbone.h
Labels: alca-approved, geometry-approved, reconstruction-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, heterogeneous-approved

#36834 Clean unused dependencies from BuildFiles
  CalibTracker/SiPixelESProducers/plugins/SiPixelFakeLorentzAngleESSource.cc
  CondTools/JetMET/plugins/BuildFile.xml
  DQM/DTMonitorModule/BuildFile.xml
  DQM/GEM/BuildFile.xml
  DQM/GEM/plugins/BuildFile.xml
  DQM/SiPixelPhase1Heterogeneous/plugins/BuildFile.xml
  DQMOffline/L1Trigger/BuildFile.xml
  DQMOffline/Muon/BuildFile.xml
  DQMOffline/MuonDPG/BuildFile.xml
  JetMETCorrections/Modules/plugins/BuildFile.xml
  PhysicsTools/HepMCCandAlgos/BuildFile.xml
  PhysicsTools/HepMCCandAlgos/plugins/BuildFile.xml
  PhysicsTools/SelectorUtils/BuildFile.xml
  RecoEgamma/EgammaElectronAlgos/BuildFile.xml
  RecoEgamma/ElectronIdentification/BuildFile.xml
  RecoEgamma/ElectronIdentification/plugins/BuildFile.xml
  RecoEgamma/PhotonIdentification/BuildFile.xml
  RecoEgamma/PhotonIdentification/plugins/BuildFile.xml
  RecoHGCal/TICL/BuildFile.xml
  RecoHGCal/TICL/plugins/BuildFile.xml
  RecoLocalTracker/SiPhase2VectorHitBuilder/test/BuildFile.xml
  RecoLocalTracker/SiPhase2VectorHitBuilder/test/VectorHitsBuilderValidation.cc
  RecoMuon/MuonIdentification/BuildFile.xml
  RecoMuon/MuonRechitClusterProducer/plugins/BuildFile.xml
  RecoTracker/NuclearSeedGenerator/BuildFile.xml
  RecoTracker/NuclearSeedGenerator/plugins/BuildFile.xml
  SimTracker/TrackAssociation/test/BuildFile.xml
  SimTracker/VertexAssociation/test/BuildFile.xml
Labels: analysis-pending, alca-approved, dqm-approved, l1-approved, reconstruction-approved, simulation-approved, pending-signatures, tests-approved, db-approved, orp-approved, upgrade-approved, code-checks-approved

#36816 Run3-gex115A Tune CaloGeometryBuilder for changing CMS configuration - backport #36814
  Geometry/CaloEventSetup/python/CaloGeometryBuilderPhaseII_cfi.py
  Geometry/CaloEventSetup/python/CaloGeometryBuilder_cfi.py
Labels: geometry-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent

#36814 Run3-gex115 Tune CaloGeometryBuilder for changing configuration
  Geometry/CaloEventSetup/python/CaloGeometryBuilderPhaseII_cfi.py
  Geometry/CaloEventSetup/python/CaloGeometryBuilder_cfi.py
Labels: geometry-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#36819 Update & fix to SeedingHitSet
  RecoTracker/TkSeedingLayers/interface/SeedingHitSet.h
  RecoTracker/TkSeedingLayers/test/BuildFile.xml
  RecoTracker/TkSeedingLayers/test/test_catch2_SeedingHitSet.cpp
  RecoTracker/TkSeedingLayers/test/test_catch2_main.cpp
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#36853 Improvements on `SiPixelLorentzAngle` PCL workflow: layer-dependent cluster size cut and output maps
  CalibTracker/SiPixelLorentzAngle/interface/SiPixelLorentzAngleCalibrationStruct.h
  CalibTracker/SiPixelLorentzAngle/src/SiPixelLorentzAnglePCLHarvester.cc
  CalibTracker/SiPixelLorentzAngle/src/SiPixelLorentzAnglePCLWorker.cc
  CondCore/SiPixelPlugins/interface/SiPixelPayloadInspectorHelper.h
  CondCore/SiPixelPlugins/plugins/SiPixelLorentzAngle_PayloadInspector.cc
  DQM/TrackerRemapper/interface/Phase1PixelSummaryMap.h
  DQM/TrackerRemapper/src/Phase1PixelSummaryMap.cc
Labels: alca-approved, dqm-approved, fully-signed, tests-approved, db-approved, orp-approved, urgent, code-checks-approved

#36835 fix ge2/1 demonstrator in validation
  Geometry/GEMGeometryBuilder/src/GEMGeometryParsFromDD.cc
  Validation/MuonGEMHits/plugins/GEMSimHitValidation.cc
Labels: dqm-approved, geometry-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, upgrade-approved, code-checks-approved

#36827 Fixes in the RPC clusterization in the L1Trigger/L1TMuonOverlapPhase1
  L1Trigger/L1TMuonOverlapPhase1/interface/MuonStub.h
  L1Trigger/L1TMuonOverlapPhase1/src/AngleConverterBase.cc
  L1Trigger/L1TMuonOverlapPhase1/src/MuonStubMakerBase.cc
  L1Trigger/L1TMuonOverlapPhase1/src/Omtf/OMTFProcessor.cc
  L1Trigger/L1TMuonOverlapPhase1/src/Omtf/OMTFinputMaker.cc
  L1Trigger/L1TMuonOverlapPhase1/src/RpcClusterization.cc
  L1Trigger/L1TMuonOverlapPhase1/test/expert/omtf/write_sqlite.py
  L1Trigger/L1TMuonOverlapPhase1/test/runMuonOverlap_run3_data.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36833 Add D88 wfs to the short matrix
  Configuration/PyReleaseValidation/python/relval_2026.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/PyReleaseValidation/scripts/runTheMatrix.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#36852 Change to `SiStripCluster` DataFormat: use `auto` for return types
  DataFormats/SiStripCluster/interface/SiStripCluster.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#36851 Allow DD4hep in D86 and D88
  Configuration/StandardSequences/python/GeometryConf.py
Labels: operations-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, code-checks-approved

#36723 Phase2-hgx298 Add first algo to get x,y of cell from u,v in rotated wafers
  Geometry/HGCalCommonData/interface/HGCalCell.h
  Geometry/HGCalCommonData/interface/HGCalGeometryMode.h
  Geometry/HGCalCommonData/src/HGCalCell.cc
  Geometry/HGCalCommonData/src/HGCalGeometryMode.cc
  Geometry/HGCalCommonData/test/HGCalCellPositionTester.cc
  Geometry/HGCalCommonData/test/python/testHGCalCellPositionTester_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, hgcal-dpg-approved

#36839 Update of some L1T producers for L1TNtuples (legacy modules), of the L1TExtCondProducer, and of the L1MenuViewer
  L1Trigger/L1TGlobal/plugins/L1TExtCondProducer.cc
  L1Trigger/L1TGlobal/test/runGlobalFakeInputProducer.py
  L1Trigger/L1TNtuples/plugins/L1EventTreeProducer.cc
  L1Trigger/L1TNtuples/plugins/L1HOTreeProducer.cc
  L1Trigger/L1TNtuples/plugins/L1UpgradeTfMuonTreeProducer.cc
  L1Trigger/L1TNtuples/plugins/L1UpgradeTreeProducer.cc
  L1TriggerConfig/Utilities/src/L1MenuViewer.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36847 DoubleTauOvRm and DoubleJetOvRm added to the CorrWithOverlapRemoval class
  L1Trigger/L1TGlobal/plugins/TriggerMenuParser.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36864 RepeatingCachedRootSource now supports Refs
  IOPool/Input/src/RepeatingCachedRootSource.cc
  IOPool/Input/test/PrePoolInputTest_cfg.py
  IOPool/Input/test/testRepeatingCachedRootSource.sh
  IOPool/Input/test/test_repeating_cfg.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36867 Set defaults for all members of csc::L1Track
  DataFormats/L1CSCTrackFinder/interface/L1Track.h
  DataFormats/L1CSCTrackFinder/src/L1Track.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36868 Initialize variables in HGCalClusterT
  DataFormats/L1THGCal/interface/HGCalClusterT.h
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#36866 [12.2.X] Improvements on SiPixelLorentzAngle PCL workflow: layer-dependent cluster size cut and output maps
  CalibTracker/SiPixelLorentzAngle/interface/SiPixelLorentzAngleCalibrationStruct.h
  CalibTracker/SiPixelLorentzAngle/src/SiPixelLorentzAnglePCLHarvester.cc
  CalibTracker/SiPixelLorentzAngle/src/SiPixelLorentzAnglePCLWorker.cc
  CondCore/SiPixelPlugins/interface/SiPixelPayloadInspectorHelper.h
  CondCore/SiPixelPlugins/plugins/SiPixelLorentzAngle_PayloadInspector.cc
  DQM/TrackerRemapper/interface/Phase1PixelSummaryMap.h
  DQM/TrackerRemapper/src/Phase1PixelSummaryMap.cc
Labels: alca-approved, dqm-approved, fully-signed, tests-approved, db-approved, orp-approved, backport-ok

#36865 Run3-TB65 Add selection of SD's for TB application
  SimG4CMS/HcalTestBeam/test/python/run2003_cfg.py
  SimG4CMS/HcalTestBeam/test/python/run2004_cfg.py
  SimG4CMS/HcalTestBeam/test/python/run2006_33_cfg.py
  SimG4CMS/HcalTestBeam/test/python/run2006_37_cfg.py
  SimG4CMS/HcalTestBeam/test/python/run2006_77_cfg.py
  SimG4CMS/HcalTestBeam/test/python/run2006_cfg.py
  SimG4CMS/HcalTestBeam/test/python/run2007_cfg.py
  SimG4Core/Application/python/g4SimHits_cfi.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36859 removed unneeded `#include` in `ZVertexHeterogeneous.h`
  CUDADataFormats/Vertex/interface/ZVertexHeterogeneous.h
  Geometry/TrackerGeometryBuilder/test/BuildFile.xml
  RecoPixelVertexing/PixelVertexFinding/plugins/BuildFile.xml
  RecoPixelVertexing/PixelVertexFinding/plugins/gpuVertexFinder.h
Labels: geometry-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#36836 MTD geometry: fix ETL description in scenario D88
  Geometry/MTDCommonData/data/etl/v7/etl.xml
Labels: geometry-approved, fully-signed, tests-approved, bug-fix, orp-approved, upgrade-approved, code-checks-approved

#36869 [DDD] Fix building of DDD GEM reco geometry DB payload
  Geometry/GEMGeometryBuilder/interface/GEMGeometryParsFromDD.h
  Geometry/GEMGeometryBuilder/src/GEMGeometryParsFromDD.cc
Labels: geometry-approved, fully-signed, tests-approved, bug-fix, orp-approved, upgrade-approved, code-checks-approved

#36860 Update GEM reco geometry for Run3 MC GTs
  Configuration/AlCa/python/autoCond.py
  Configuration/AlCa/python/autoCondModifiers.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#35839 Dynamic Reduction Network-based electron energy regression using the SONIC service
  RecoEcal/EgammaClusterAlgos/BuildFile.xml
  RecoEcal/EgammaClusterAlgos/interface/SCEnergyCorrectorDRN.h
  RecoEcal/EgammaClusterAlgos/src/SCEnergyCorrectorDRN.cc
  RecoEcal/EgammaClusterProducers/BuildFile.xml
  RecoEcal/EgammaClusterProducers/python/SCEnergyCorrectorDRNProducer_cfi.py
  RecoEcal/EgammaClusterProducers/src/SCEnergyCorrectorDRNProducer.cc
  RecoEcal/EgammaClusterProducers/test/BuildFile.xml
  RecoEcal/EgammaClusterProducers/test/DRNTest_cfg.py
  RecoEcal/EgammaClusterProducers/test/runtestRecoEcalEgammaClusterProducers.cpp
  RecoEcal/EgammaClusterProducers/test/runtests.sh
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#36875 Fix for l1Event in the L1EventTreeProducer
  L1Trigger/L1TNtuples/plugins/L1EventTreeProducer.cc
Labels: l1-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#36879 Set all member data in L1Mu*BMTrack* class constructors
  DataFormats/L1TMuon/interface/L1MuKBMTrack.h
  DataFormats/L1TMuon/src/L1MuBMTrackSegPhi.cc
  DataFormats/L1TMuon/src/L1MuKBMTrack.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36880 Initialize all members in DetGeomDesc
  Geometry/VeryForwardGeometryBuilder/src/DetGeomDesc.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36828 Add HLTDoubletSinglet filter
  HLTrigger/HLTfilters/plugins/HLTDoubletSinglet.h
  HLTrigger/HLTfilters/plugins/plugins.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36881 Intialize member in GEMClusterProcessor constructor
  L1Trigger/CSCTriggerPrimitives/src/GEMClusterProcessor.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36876 check both algo and originalAlgo in electron track isolation calculators (bp of #36364)
  RecoEgamma/EgammaIsolationAlgos/src/EleTkIsolFromCands.cc
  RecoEgamma/EgammaIsolationAlgos/src/ElectronTkIsolation.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok

#36893 Removed unused member data in TriggerOutputBranches
  PhysicsTools/NanoAOD/plugins/TriggerOutputBranches.h
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#36896 Fix Phase 2 ECAL digis gain id bit mask
  DataFormats/EcalDigi/interface/EcalConstants.h
  DataFormats/EcalDigi/interface/EcalMGPASample.h
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36856 Run2-gex117 Make a set of material files for tracker which does not complain about 'the sum of components do not add to 1' for 2016 setup
  Geometry/HcalCommonData/python/GeometryExtended2016Reco_cff.py
  Geometry/HcalCommonData/python/cmsExtendedGeometry2016XML_cfi.py
  Geometry/HcalCommonData/test/python/dump2016_cfg.py
  Geometry/TrackerCommonData/data/pixbarmaterial/2016/v1/pixbarmaterial.xml
  Geometry/TrackerCommonData/data/pixfwdMaterials/2016/v1/pixfwdMaterials.xml
  Geometry/TrackerCommonData/data/tecmaterial/2016/v1/tecmaterial.xml
  Geometry/TrackerCommonData/data/tibmaterial/2016/v1/tibmaterial.xml
  Geometry/TrackerCommonData/data/tibtidcommonmaterial/2016/v1/tibtidcommonmaterial.xml
  Geometry/TrackerCommonData/data/tidmaterial/2016/v1/tidmaterial.xml
  Geometry/TrackerCommonData/data/tobmaterial/2016/v1/tobmaterial.xml
  Geometry/TrackerCommonData/data/trackermaterial/2016/v1/trackermaterial.xml
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36855 Clean DQMOffline/MuonDPG/BuildFile.xml and remove UBSAN comments
  CalibTracker/SiStripHitEfficiency/BuildFile.xml
  DQM/TrackerRemapper/BuildFile.xml
  DQMOffline/MuonDPG/BuildFile.xml
  Geometry/MTDNumberingBuilder/BuildFile.xml
Labels: alca-approved, dqm-approved, geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#36815 Run3-gex116 Remove compilation warnings in several packages of RecoBTag
  RecoBTag/ImpactParameter/test/IPAnalyzer.cc
  RecoBTag/Skimming/interface/BTagSkimLeptonJet.h
  RecoBTag/Skimming/interface/BTagSkimMC.h
  RecoBTag/Skimming/src/BTagSkimMC.cc
  RecoBTag/SoftLepton/test/testLeptonAssociator.cc
  RecoBTag/SoftLepton/test/testMuonAssociator.cc
  RecoBTag/TrackProbability/test/CalibrationSkeleton.cc
  RecoBTag/TrackProbability/test/TrackProbabilityAnalyzer.cc
  RecoBTag/TrackProbability/test/TrackProbabilityXMLtoDB.cc
  RecoBTag/XMLCalibration/test/XMLCalibrationTest.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36797 Fix for smeared MET calculation and its uncertainties.
  DataFormats/PatCandidates/src/MET.cc
  JetMETCorrections/Type1MET/interface/PFJetMETcorrInputProducerT.h
  PhysicsTools/PatUtils/plugins/PATPFJetMETcorrInputProducer.cc
Labels: reconstruction-approved, fully-signed, tests-rejected, orp-approved, code-checks-approved

#36894 Initialize bool members in HiggsTemplateCrossSections.h
  SimDataFormats/HTXS/interface/HiggsTemplateCrossSections.h
Labels: generators-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36892 Initialize bool member in tmtt::Settings
  L1Trigger/TrackFindingTMTT/src/Settings.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36874 [ASAN] Fix unit tests for asan IBs
  CommonTools/Utils/test/BuildFile.xml
  CondCore/Utilities/test/BuildFile.xml
  HeterogeneousCore/SonicTriton/test/BuildFile.xml
Labels: reconstruction-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, heterogeneous-approved

#36842 DAQ: write throttling in output modules (12_3_X)
  EventFilter/Utilities/plugins/GlobalEvFOutputModule.cc
  EventFilter/Utilities/src/EvFOutputModule.cc
  EventFilter/Utilities/test/startFU.py
  EventFilter/Utilities/test/unittest_FU.py
Labels: daq-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36877 Fix incorrect hadronic shower packing and enable global shower unpacking for both uGMT and uGT
  DataFormats/L1Trigger/interface/MuonShower.h
  DataFormats/L1Trigger/src/MuonShower.cc
  DataFormats/L1Trigger/src/classes_def.xml
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/GTCollections.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/GTCollections.h
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/GTSetup.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/GTTokens.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/MuonPacker.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/MuonUnpacker.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/MuonUnpacker.h
  EventFilter/L1TRawToDigi/python/gtStage2Raw_cfi.py
  L1Trigger/L1TMuon/interface/MuonRawDigiTranslator.h
  L1Trigger/L1TMuon/interface/RegionalMuonRawDigiTranslator.h
  L1Trigger/L1TMuon/src/MuonRawDigiTranslator.cc
  L1Trigger/L1TMuon/src/RegionalMuonRawDigiTranslator.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36883 Fix GEM Offline DQM for GE2/1 Demonstrator
  DQM/GEM/plugins/GEMEfficiencyAnalyzer.cc
  DQM/GEM/plugins/GEMEfficiencyAnalyzer.h
  DQM/GEM/plugins/GEMEfficiencyHarvester.cc
  DQM/GEM/python/gemEfficiencyAnalyzerCosmics_cff.py
  DQM/GEM/python/gemEfficiencyAnalyzerCosmics_cfi.py
  DQM/GEM/python/gemEfficiencyAnalyzer_cff.py
  DQM/GEM/python/gemEfficiencyAnalyzer_cfi.py
  DQM/GEM/python/gemEfficiencyHarvesterCosmics_cff.py
  DQM/GEM/python/gemEfficiencyHarvesterCosmics_cfi.py
  DQM/GEM/python/gemEfficiencyHarvester_cff.py
  DQM/GEM/python/gemEfficiencyHarvester_cfi.py
  DQM/GEM/python/gem_dqm_offline_client_cff.py
  DQM/GEM/python/gem_dqm_offline_client_cosmics_cff.py
  DQM/GEM/python/gem_dqm_offline_source_cff.py
  DQM/GEM/python/gem_dqm_offline_source_cosmics_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, urgent, code-checks-approved

#36871 Disable D88 PU wfs
  Configuration/PyReleaseValidation/README.md
  Configuration/PyReleaseValidation/python/relval_2026.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/PyReleaseValidation/scripts/runTheMatrix.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, urgent, upgrade-approved, code-checks-approved

#36891 Initialize all variables in GlobalCondition
  L1Trigger/L1TGlobal/interface/GlobalCondition.h
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36873 CTPPS: corrections to dLyds optical function perturbation
  Validation/CTPPS/plugins/CTPPSModifiedOpticalFunctionsESSource.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36740 Run3-gex108XA Backport al Geometry related files - xml and code for the corrected Run3 geometry
  Geometry/ForwardCommonData/data/bcm1f/2021/v1/bcm1f.xml
  Geometry/ForwardCommonData/data/dd4hep/testForwardGeometry.xml
  Geometry/ForwardCommonData/data/pixfwd/2021/v1/pixfwd.xml
  Geometry/ForwardCommonData/data/plt/2021/v1/plt.xml
  Geometry/ForwardCommonData/data/pltbcm/2021/v1/pltbcm.xml
  Geometry/ForwardCommonData/plugins/dd4hep/DDBHMAngular.cc
  Geometry/ForwardCommonData/python/testForwardXML_cfi.py
  Geometry/ForwardCommonData/test/g4OverlapCheckForwardDD4hep_cfg.py
  Geometry/ForwardCommonData/test/g4OverlapCheckForwardDDD_cfg.py
  Geometry/GEMGeometryBuilder/data/GEMSpecs/2021/v1/GEMSpecs.xml
  Geometry/GEMGeometryBuilder/data/GEMSpecs/2021/v2/GEMSpecs.xml
  Geometry/GEMGeometryBuilder/data/GEMSpecsFilter/2021/v1/GEMSpecsFilter.xml
  Geometry/GEMGeometryBuilder/data/GEMSpecsFilter/2021/v2/GEMSpecsFilter.xml
  Geometry/MuonCommonData/data/gem21/2021/v1/gem21.xml
  Geometry/MuonCommonData/data/mf/2021/v3/mf.xml
  Geometry/MuonCommonData/data/muonNumbering/2021/v4/muonNumbering.xml
  Geometry/MuonCommonData/data/muonNumbering/2021/v5/muonNumbering.xml
  Geometry/MuonCommonData/data/rpcf/2021/v1/rpcf.xml
  Geometry/MuonSimData/data/muonProdCuts/2021/v3/muonProdCuts.xml
  Geometry/MuonSimData/data/muonProdCuts/2021/v4/muonProdCuts.xml
  Geometry/MuonSimData/data/muonSens/2021/v3/muonSens.xml
  Geometry/MuonSimData/data/muonSens/2021/v4/muonSens.xml
  Geometry/RPCGeometryBuilder/data/2021/v1/RPCSpecs.xml
  Geometry/TrackerCommonData/data/PhaseI/v3/pixfwd.xml
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved

#36780 Run3-gex108XB Backport SimCore/SimG4CMS related files which can work with the new Run3 geometry
  SimG4CMS/Forward/interface/ForwardName.h
  SimG4CMS/Forward/src/BHMNumberingScheme.cc
  SimG4CMS/Forward/src/Bcm1fSD.cc
  SimG4CMS/Forward/src/BscNumberingScheme.cc
  SimG4CMS/Forward/src/ForwardName.cc
  SimG4CMS/Forward/src/PltSD.cc
  SimG4CMS/Forward/src/TotemT1Organization.cc
  SimG4CMS/Forward/src/TotemT2OrganizationGem.cc
  SimG4CMS/Forward/src/ZdcNumberingScheme.cc
  SimG4CMS/Forward/src/ZdcSD.cc
  SimG4CMS/Muon/interface/MuonSensitiveDetector.h
  SimG4CMS/Muon/plugins/MuonSensitiveDetectorBuilder.cc
  SimG4CMS/Muon/src/MuonSensitiveDetector.cc
  SimG4Core/Application/python/g4SimHits_cfi.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved

#36781 Run3-gex108C Backport correct GEM geometry builder in view of demo chambers
  DQM/GEM/src/GEMDQMBase.cc
  Geometry/GEMGeometry/test/testGE0Geometry_cfg.py
  Geometry/GEMGeometryBuilder/src/GEMGeometryBuilder.cc
  Geometry/GEMGeometryBuilder/src/GEMGeometryBuilder.h
  Geometry/GEMGeometryBuilder/test/GEMGeometryDump.cc
  Geometry/GEMGeometryBuilder/test/python/dumpGEMGeometryDDD_cfg.py
Labels: dqm-pending, geometry-pending, pending-signatures, tests-pending, orp-pending, upgrade-pending

#36870 [DDD] Fix building of DDD GEM reco geometry DB payload, backport of #36869
  Geometry/GEMGeometryBuilder/interface/GEMGeometryParsFromDD.h
  Geometry/GEMGeometryBuilder/src/GEMGeometryParsFromDD.cc
Labels: geometry-approved, fully-signed, tests-approved, bug-fix, orp-approved, upgrade-approved, requires-external, backport-ok

#36903 [ROOT6] Fix needed for root master to explicitly pass RooCmdArg
  PhysicsTools/Utilities/src/SideBandSubtraction.cc
Labels: analysis-pending, pending-signatures, tests-approved, orp-approved, code-checks-approved

#36840 Update Scouting Run3 format
  DataFormats/Scouting/interface/Run3ScoutingParticle.h
  DataFormats/Scouting/src/classes_def.xml
  HLTrigger/JetMET/plugins/BuildFile.xml
  HLTrigger/JetMET/plugins/HLTScoutingPFProducer.cc
  HLTrigger/JetMET/plugins/HLTScoutingPrimaryVertexProducer.cc
  HLTrigger/Muon/plugins/HLTScoutingTrackProducer.cc
Labels: core-approved, hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36887 Move TcdsRawToDigi
  Configuration/EventContent/python/EventContentCosmics_cff.py
  Configuration/EventContent/python/EventContent_cff.py
  Configuration/StandardSequences/python/RawToDigi_cff.py
  Configuration/StandardSequences/python/SimL1EmulatorRepack_Full_cff.py
  DQM/Integration/python/clients/ecal_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/info_dqm_sourceclient-live_cfg.py
  EventFilter/OnlineMetaDataRawToDigi/plugins/BuildFile.xml
  EventFilter/OnlineMetaDataRawToDigi/plugins/TcdsRawToDigi.cc
  EventFilter/OnlineMetaDataRawToDigi/python/Tcds_EventContent_cff.py
  EventFilter/Utilities/plugins/BuildFile.xml
  EventFilter/Utilities/test/startFU.py
  EventFilter/Utilities/test/unittest_FU.py
Labels: daq-approved, dqm-approved, operations-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36906 Fix GEM Offline DQM for GE2/1 Demonstrator (backport of #36883, 12_2_X)
  DQMOffline/Muon/interface/GEMEfficiencyAnalyzer.h
  DQMOffline/Muon/python/gemEfficiencyAnalyzerCosmics_cfi.py
  DQMOffline/Muon/python/gemEfficiencyAnalyzer_cfi.py
  DQMOffline/Muon/python/gemEfficiencyHarvesterCosmics_cfi.py
  DQMOffline/Muon/python/gemEfficiencyHarvester_cfi.py
  DQMOffline/Muon/src/GEMEfficiencyAnalyzer.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, urgent

#36905 change signed int shifts to unsigned
  CondFormats/L1TObjects/src/LUT.cc
Labels: alca-approved, l1-approved, fully-signed, tests-approved, db-approved, bug-fix, orp-approved, code-checks-approved

#36857 CLUE3D Bug Fixes
  RecoHGCal/Configuration/python/RecoHGCal_EventContent_cff.py
  RecoHGCal/TICL/plugins/PatternRecognitionbyCLUE3D.cc
  RecoHGCal/TICL/plugins/PatternRecognitionbyCLUE3D.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#36239 Added new HLTfilter to select L3 and L2 muons
  HLTrigger/Muon/plugins/HLTMuonL3andL2PreFilter.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36910 Gem turn off demo unpacker - 12_2_X backport of #36769
  EventFilter/GEMRawToDigi/plugins/GEMRawToDigiModule.cc
  EventFilter/GEMRawToDigi/python/muonGEMDigis_cfi.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent

#36878 hltGetConfiguration updates to deal with FinalPaths and new OutputModule
  HLTrigger/Configuration/python/Tools/confdb.py
  HLTrigger/Configuration/tables/subtables.sh
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36909 Use LFN which will allow to bot to cache these files
  RecoEcal/EgammaClusterProducers/test/DRNTest_cfg.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36913 MTD validation : update modules' names
  Validation/Configuration/python/mtdSimValid_cff.py
  Validation/MtdValidation/plugins/BtlDigiHitsValidation.cc
  Validation/MtdValidation/plugins/BtlLocalRecoValidation.cc
  Validation/MtdValidation/plugins/BtlSimHitsValidation.cc
  Validation/MtdValidation/plugins/EtlDigiHitsValidation.cc
  Validation/MtdValidation/plugins/EtlLocalRecoValidation.cc
  Validation/MtdValidation/plugins/EtlSimHitsValidation.cc
  Validation/MtdValidation/plugins/MtdTracksValidation.cc
  Validation/MtdValidation/plugins/Primary4DVertexValidation.cc
  Validation/MtdValidation/python/btlDigiHitsValid_cfi.py
  Validation/MtdValidation/python/btlDigiHits_cfi.py
  Validation/MtdValidation/python/etlDigiHitsValid_cfi.py
  Validation/MtdValidation/python/etlDigiHits_cfi.py
  Validation/MtdValidation/test/mtdValidation_cfg.py
Labels: dqm-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36907 Proper fix for root6 RooCmdArg
  PhysicsTools/Utilities/src/SideBandSubtraction.cc
Labels: analysis-pending, pending-signatures, tests-approved, orp-approved, code-checks-approved

#36920 Add muon shower plots to uGMT online DQM
  DQM/L1TMonitor/interface/L1TStage2uGMT.h
  DQM/L1TMonitor/python/L1TStage2uGMT_cfi.py
  DQM/L1TMonitor/src/L1TStage2uGMT.cc
Labels: dqm-approved, fully-signed, tests-rejected, orp-approved, code-checks-approved

#36924 tcdsRawToDigi migration for SimL1EmulatorRepack_uGT_cff.py
  Configuration/StandardSequences/python/SimL1EmulatorRepack_uGT_cff.py
Labels: operations-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#36912 Run3-alca216Y To make the response study work without HLT information if needed
  Calibration/IsolatedParticles/plugins/StudyCaloResponse.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36660 Phase2 tracker: add T30 (geometry with more realistic TFPX)
  Configuration/AlCa/python/autoCondPhase2.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D91Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D91_cff.py
  Configuration/Geometry/python/GeometryExtended2026D91Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D91_cff.py
  Configuration/Geometry/python/dict2026Geometry.py
  Configuration/PyReleaseValidation/python/relval_2026.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  Configuration/StandardSequences/python/GeometryConf.py
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D91.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D91XML_cfi.py
  Geometry/TrackerCommonData/data/PhaseII/TFPXTEPXReordered/trackerParameters.xml
  Geometry/TrackerCommonData/data/PhaseII/Tracker_DD4hep_compatible_OT801_IT640/pixel.xml
  Geometry/TrackerCommonData/data/PhaseII/Tracker_DD4hep_compatible_OT801_IT640/pixelStructureTopology.xml
  Geometry/TrackerCommonData/data/PhaseII/Tracker_DD4hep_compatible_OT801_IT640/tracker.xml
  Geometry/TrackerCommonData/plugins/DDTrackerIrregularRingAlgo.cc
  Geometry/TrackerCommonData/plugins/dd4hep/DDTrackerIrregularRingAlgo.cc
  Geometry/TrackerNumberingBuilder/README.md
  Geometry/TrackerNumberingBuilder/interface/GeometricDet.h
  Geometry/TrackerNumberingBuilder/plugins/CmsTrackerPixelPhase2DoubleDiskBuilder.cc
  Geometry/TrackerNumberingBuilder/plugins/CmsTrackerPixelPhase2DoubleDiskBuilder.h
  Geometry/TrackerNumberingBuilder/plugins/CmsTrackerPixelPhase2EndcapBuilder.cc
  Geometry/TrackerNumberingBuilder/plugins/CmsTrackerPixelPhase2SubDiskBuilder.cc
  Geometry/TrackerNumberingBuilder/plugins/CmsTrackerPixelPhase2SubDiskBuilder.h
  Geometry/TrackerNumberingBuilder/plugins/TrackerTopologyEP.cc
  Geometry/TrackerNumberingBuilder/src/CmsTrackerStringToEnum.cc
  Geometry/TrackerRecoData/data/PhaseII/Tracker_DD4hep_compatible_OT801_IT640/trackerRecoMaterial.xml
  Geometry/TrackerSimData/data/PhaseII/Tracker_DD4hep_compatible_OT801_IT640/pixelProdCuts.xml
  Geometry/TrackerSimData/data/PhaseII/Tracker_DD4hep_compatible_OT801_IT640/pixelsens.xml
  L1Trigger/TrackerDTC/python/ProducerES_cfi.py
  RecoTracker/TkDetLayers/src/DetGroupElementZLess.h
  RecoTracker/TkDetLayers/src/GeometricSearchTrackerBuilder.cc
  RecoTracker/TkDetLayers/src/Phase2EndcapLayer.cc
  RecoTracker/TkDetLayers/src/Phase2EndcapLayer.h
  RecoTracker/TkDetLayers/src/Phase2EndcapLayerDoubleDisk.cc
  RecoTracker/TkDetLayers/src/Phase2EndcapLayerDoubleDisk.h
  RecoTracker/TkDetLayers/src/Phase2EndcapLayerDoubleDiskBuilder.cc
  RecoTracker/TkDetLayers/src/Phase2EndcapLayerDoubleDiskBuilder.h
  RecoTracker/TkDetLayers/src/Phase2EndcapRing.cc
  RecoTracker/TkDetLayers/src/Phase2EndcapSingleRing.cc
  RecoTracker/TkDetLayers/src/Phase2EndcapSingleRing.h
  RecoTracker/TkDetLayers/src/Phase2EndcapSingleRingBuilder.cc
  RecoTracker/TkDetLayers/src/Phase2EndcapSingleRingBuilder.h
  RecoTracker/TkDetLayers/src/Phase2EndcapSubDisk.cc
  RecoTracker/TkDetLayers/src/Phase2EndcapSubDisk.h
  RecoTracker/TkDetLayers/src/Phase2EndcapSubDiskBuilder.cc
  RecoTracker/TkDetLayers/src/Phase2EndcapSubDiskBuilder.h
  RecoTracker/TkDetLayers/src/SubLayerCrossings.h
  RecoTracker/TkDetLayers/src/TkDetUtil.cc
  RecoTracker/TkDetLayers/src/TkDetUtil.h
Labels: alca-approved, geometry-approved, l1-approved, operations-approved, reconstruction-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, urgent, upgrade-approved, code-checks-approved

#36927 Improved layout for Payload Inspector plots for DropBoxMetaData
  CondCore/PhysicsToolsPlugins/interface/DropBoxMetaDataPayloadInspectorHelper.h
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#36841 Updated MLPF producer with ONNX
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  RecoParticleFlow/Configuration/python/RecoParticleFlow_EventContent_cff.py
  RecoParticleFlow/Configuration/python/RecoParticleFlow_cff.py
  RecoParticleFlow/PFProducer/BuildFile.xml
  RecoParticleFlow/PFProducer/interface/MLPFModel.h
  RecoParticleFlow/PFProducer/plugins/BuildFile.xml
  RecoParticleFlow/PFProducer/plugins/MLPFProducer.cc
  RecoParticleFlow/PFProducer/python/mlpf_EventContent_cff.py
  RecoParticleFlow/PFProducer/src/MLPFModel.cc
  Validation/RecoParticleFlow/plugins/PFAnalysisNtuplizer.cc
  Validation/RecoParticleFlow/test/pfanalysis_ntuple.py
Labels: dqm-approved, reconstruction-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, requires-external, code-checks-approved

#36037 BeamSpot + Rho variables in nanoAODs
  DataFormats/NanoAOD/interface/FlatTable.h
  DataFormats/NanoAOD/src/FlatTable.cc
  DataFormats/NanoAOD/src/classes.h
  DataFormats/NanoAOD/src/classes_def.xml
  PhysicsTools/NanoAOD/interface/SimpleFlatTableProducer.h
  PhysicsTools/NanoAOD/plugins/NanoAODDQM.cc
  PhysicsTools/NanoAOD/plugins/SimpleFlatTableProducerPlugins.cc
  PhysicsTools/NanoAOD/plugins/TableOutputBranches.cc
  PhysicsTools/NanoAOD/plugins/TableOutputBranches.h
  PhysicsTools/NanoAOD/python/globals_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
  PhysicsTools/NanoAOD/python/photons_cff.py
  PhysicsTools/NanoAOD/test/nano_cfg.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#36934 Improved Payload Inspector plots for `DropBoxMetaData`
  CondCore/PhysicsToolsPlugins/interface/DropBoxMetaDataPayloadInspectorHelper.h
  CondCore/PhysicsToolsPlugins/plugins/DropBoxMetadata_PayloadInspector.cc
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#36937 Fixed replace with FinalPath
  FWCore/ParameterSet/python/Config.py
  FWCore/ParameterSet/python/SequenceTypes.py
Labels: core-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#36936 ECAL - Remove unneeded legacy ED module headers
  Calibration/EcalCalibAlgos/interface/Pi0FixedMassWindowCalibration.h
  CondTools/Ecal/interface/EcalGetLaserData.h
  CondTools/Ecal/src/EcalGetLaserData.cc
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#36946 Move ecal_dqm_sourceclient and hlt_dqm_sourceclient to Run-3 era
  DQM/Integration/python/clients/ecal_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/hlt_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#36721 updates to `customizeHLTforPatatrack` to limit overwriting of HLT modules
  HLTrigger/Configuration/python/customizeHLTforCMSSW.py
  HLTrigger/Configuration/python/customizeHLTforPatatrack.py
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#36931 fix era to be compliant with underlying D91 geometry
  Configuration/Geometry/README.md
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
Labels: geometry-approved, fully-signed, tests-approved, pdmv-approved, bug-fix, orp-approved, upgrade-approved, code-checks-approved

#36947 [122X] Move ecal_dqm_sourceclient and hlt_dqm_sourceclient to Run-3 era
  DQM/Integration/python/clients/ecal_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/hlt_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#36940 Update Run-3 data and MC GTs with several updates
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, urgent, requires-external, code-checks-approved

#36848 [NanoAOD] PileupJetId speed up
  PhysicsTools/NanoAOD/python/jets_cff.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#36950 Run3-alca218A Clean some of the AlCaReco codes of HCAL
  Calibration/HcalAlCaRecoProducers/plugins/AlCaHBHEMuonFilter.cc
  Calibration/HcalAlCaRecoProducers/plugins/AlCaHBHEMuonProducer.cc
  Calibration/HcalAlCaRecoProducers/plugins/AlCaHEMuonFilter.cc
  Calibration/HcalAlCaRecoProducers/plugins/AlCaHcalHBHEMuonFilter.cc
  Calibration/HcalAlCaRecoProducers/plugins/AlCaIsoTracksProducerFilter.cc
  Calibration/HcalAlCaRecoProducers/plugins/AlCaIsolatedBunchFilter.cc
  Calibration/HcalAlCaRecoProducers/plugins/AlCaIsolatedBunchSelector.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36943 Added LZ4 as a compression option in RootOutputModule
  IOPool/Output/src/PoolOutputModule.cc
  IOPool/Output/src/RootOutputFile.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36949 Remove dead branches and clean up GlobalRecHit validation
  Validation/GlobalRecHits/src/GlobalRecHitsAnalyzer.cc
  Validation/GlobalRecHits/src/GlobalRecHitsProducer.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36830 more `esConsumes` in `RecoPixelVertexing`
  RecoPixelVertexing/PixelLowPtUtilities/test/ClusterShapeExtractor.cc
  RecoPixelVertexing/PixelTriplets/test/HitTripletProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36845 NANOAOD: simplify configuration
  PhysicsTools/NanoAOD/python/jetMC_cff.py
  PhysicsTools/NanoAOD/python/jets_cff.py
  PhysicsTools/NanoAOD/python/met_cff.py
  PhysicsTools/NanoAOD/python/nano_cff.py
  PhysicsTools/NanoAOD/python/nanogen_cff.py
  PhysicsTools/NanoAOD/python/photons_cff.py
  PhysicsTools/NanoAOD/python/softActivity_cff.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#36888 Phase2-TB66 Add selection of SD's for HGCal TB application
  Configuration/Eras/python/Modifier_hgcaltb_cff.py
  Geometry/HGCalCommonData/data/TB160/16Module/hgcalCons.xml
  Geometry/HGCalCommonData/data/TB160/4Module/hgcalCons.xml
  Geometry/HGCalCommonData/data/TB160/hgcalCons.xml
  SimG4CMS/HGCalTestBeam/test/HGCalTBCERN170_cfg.py
  SimG4CMS/HGCalTestBeam/test/HGCalTBCERN181Oct1DD4hep_cfg.py
  SimG4CMS/HGCalTestBeam/test/HGCalTBCERN181Oct1PC1mm_cfg.py
  SimG4CMS/HGCalTestBeam/test/HGCalTBCERN181Oct1_cfg.py
  SimG4CMS/HGCalTestBeam/test/HGCalTBCERN181Oct1el100_cfg.py
  SimG4CMS/HGCalTestBeam/test/HGCalTBCERN181Oct2_cfg.py
  SimG4CMS/HGCalTestBeam/test/HGCalTBCERN181Oct3_cfg.py
  SimG4CMS/HGCalTestBeam/test/HGCalTBCERN181Oct4_cfg.py
  SimG4CMS/HGCalTestBeam/test/HGCalTBCERN181_cfg.py
  SimG4CMS/HGCalTestBeam/test/HGCalTBGenSimCERN_cfg.py
  SimG4CMS/HGCalTestBeam/test/HGCalTBGenSimMBNew_cfg.py
  SimG4CMS/HGCalTestBeam/test/HGCalTBTimingGenSim_cfg.py
  SimG4Core/Application/python/g4SimHits_cfi.py
Labels: geometry-approved, operations-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#36862 HLT Triggers based on ParticleNet for Run3
  HLTrigger/btau/plugins/BuildFile.xml
  HLTrigger/btau/plugins/HLTSumJetTag.cc
  HLTrigger/btau/plugins/HLTSumJetTag.h
  HLTrigger/btau/plugins/modules.cc
  RecoBTag/FeatureTools/plugins/DeepBoostedJetTagInfoProducer.cc
Labels: hlt-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, code-checks-approved

#36945 Phase2-hgx300 Fix the rotation angle of layers in V16 geometry of HGCal
  Geometry/HGCalCommonData/data/hgcal/v16/hgcal.xml
Labels: geometry-approved, fully-signed, tests-approved, bug-fix, orp-approved, upgrade-approved, code-checks-approved

#36960 PPS fix to comply to EDModule rules
  CondTools/CTPPS/src/WriteCTPPSPixelAnalysisMask.cc
  CondTools/CTPPS/src/WriteCTPPSPixelDAQMapping.cc
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#36928 Add muon shower comparison plots
  DQM/L1TMonitor/interface/L1TStage2MuonShowerComp.h
  DQM/L1TMonitor/interface/L1TStage2RegionalMuonShowerComp.h
  DQM/L1TMonitor/plugins/SealModule.cc
  DQM/L1TMonitor/python/L1TStage2Emulator_cff.py
  DQM/L1TMonitor/python/L1TStage2uGMT_cff.py
  DQM/L1TMonitor/python/L1TdeStage2uGMT_cff.py
  DQM/L1TMonitor/src/L1TStage2MuonShowerComp.cc
  DQM/L1TMonitor/src/L1TStage2RegionalMuonShowerComp.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36712 Pattern Recognition validation for HGCal Tracksters
  DQMServices/Components/plugins/DQMGenericClient.cc
  DataFormats/HGCalReco/interface/Trackster.h
  RecoHGCal/TICL/interface/commons.h
  RecoHGCal/TICL/plugins/PatternRecognitionbyCA.cc
  RecoHGCal/TICL/plugins/SimTrackstersProducer.cc
  SimCalorimetry/HGCalAssociatorProducers/plugins/LCToCPAssociatorByEnergyScoreImpl.cc
  SimCalorimetry/HGCalAssociatorProducers/plugins/LCToSCAssociatorByEnergyScoreImpl.cc
  Validation/HGCalValidation/interface/HGCalValidator.h
  Validation/HGCalValidation/interface/HGVHistoProducerAlgo.h
  Validation/HGCalValidation/plugins/HGCalValidator.cc
  Validation/HGCalValidation/python/HGCalValidator_cfi.py
  Validation/HGCalValidation/python/HGVHistoProducerAlgoBlock_cfi.py
  Validation/HGCalValidation/python/PostProcessorHGCAL_cfi.py
  Validation/HGCalValidation/python/hgcalPlots.py
  Validation/HGCalValidation/scripts/makeHGCalValidationPlots.py
  Validation/HGCalValidation/src/HGVHistoProducerAlgo.cc
  Validation/RecoTrack/python/plotting/plotting.py
Labels: dqm-approved, reconstruction-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, hgcal-dpg-approved

#36962 remove more `CMSDEPRECATED_X` warnings in the AlCa/DB area
  CalibTracker/SiPixelGainCalibration/test/SimpleTestPrintOutPixelCalibAnalyzer.cc
  CalibTracker/SiPixelTools/plugins/SiPixelCalibDigiFilter.cc
  CalibTracker/SiPixelTools/plugins/SiPixelCalibDigiFilter.h
  CalibTracker/SiStripCommon/plugins/ShallowExampleProducer.h
  CalibTracker/SiStripCommon/test/BuildFile.xml
  CalibTracker/SiStripCommon/test/plugins/module.cc
  CalibTracker/SiStripCommon/test/plugins/testSiStripFedIdListReader.cc
  CalibTracker/SiStripCommon/test/plugins/testSiStripFedIdListReader.h
  CalibTracker/SiStripCommon/test/testSiStripFedIdListReader.cc
  CalibTracker/SiStripDCS/test/plugins/SealModules.cc
  CalibTracker/SiStripDCS/test/plugins/dpLocationMap.cc
  CalibTracker/SiStripDCS/test/plugins/dpLocationMap.h
  CalibTracker/SiStripDCS/test/plugins/testbuilding.cc
  CalibTracker/SiStripDCS/test/plugins/testbuilding.h
  CalibTracker/SiStripESProducers/test/SiStripGainReader.cc
  CalibTracker/SiStripESProducers/test/SiStripGainReader.cpp
  CalibTracker/SiStripLorentzAngle/interface/SiStripCalibLorentzAngle.h
  CalibTracker/SiStripLorentzAngle/plugins/SiStripCalibLorentzAngle.cc
  CondFormats/PhysicsToolsObjects/test/TFormulaWriter.h
  CondFormats/PhysicsToolsObjects/test/TGraphWriter.h
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#36929 Set receiveMuShower =true for uGT
  L1Trigger/L1TGlobal/plugins/L1TGlobalProducer.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36179 Adding muon MVA ID
  DataFormats/MuonReco/interface/Muon.h
  DataFormats/MuonReco/interface/MuonSelectors.h
  DataFormats/PatCandidates/interface/Muon.h
  DataFormats/PatCandidates/src/Muon.cc
  DataFormats/PatCandidates/src/classes_def_objects.xml
  PhysicsTools/PatAlgos/interface/MuonMvaIDEstimator.h
  PhysicsTools/PatAlgos/plugins/PATMuonProducer.cc
  PhysicsTools/PatAlgos/python/producersLayer1/muonProducer_cfi.py
  PhysicsTools/PatAlgos/python/slimming/miniAOD_tools.py
  PhysicsTools/PatAlgos/src/MuonMvaIDEstimator.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#36964 Run3-alca218B Clean some of the Hcal calibration code in the test area of Calibration/HcalCalibalgos
  Calibration/HcalCalibAlgos/test/DiJetAnalyzer.cc
  Calibration/HcalCalibAlgos/test/DiJetAnalyzer.h
  Calibration/HcalCalibAlgos/test/GammaJetAnalysis.cc
  Calibration/HcalCalibAlgos/test/GammaJetAnalysis.h
  Calibration/HcalCalibAlgos/test/HcalConstantsASCIIWriter.cc
  Calibration/HcalCalibAlgos/test/HcalConstantsASCIIWriter.h
  Calibration/HcalCalibAlgos/test/HcalHBHEMuonSimAnalyzer.cc
  Calibration/HcalCalibAlgos/test/HcalIsoTrackAnalysis.cc
  Calibration/HcalCalibAlgos/test/HcalIsoTrackStudy.cc
  Calibration/HcalCalibAlgos/test/HcalLaserTest.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36958 Move ecalcalib_dqm_sourceclient to Run-3 era
  DQM/Integration/python/clients/ecalcalib_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36918 bug fixes for Hydjets and Pyquen
  Configuration/Generator/python/Hydjet_Quenched_MinBias_XeXe_5442GeV_cfi.py
  Configuration/Generator/python/Pyquen2013Settings_cff.py
  Configuration/Generator/python/Pyquen2015Settings_cff.py
  Configuration/Generator/python/PyquenDefaultSettings_cff.py
  Configuration/Generator/python/Pyquen_GammaJet_pt20_2760GeV_cfi.py
  Configuration/Generator/python/Pyquen_ZeemumuJets_pt10_2760GeV_ExtGen_cfi.py
  Configuration/Generator/python/Pyquen_ZeemumuJets_pt10_2760GeV_cfi.py
  Configuration/Generator/python/hydjet2DefaultParameters2015_cff.py
  GeneratorInterface/Hydjet2Interface/interface/Hydjet2Hadronizer.h
  GeneratorInterface/Hydjet2Interface/src/Hydjet2Hadronizer.cc
  GeneratorInterface/HydjetInterface/interface/HydjetHadronizer.h
  GeneratorInterface/HydjetInterface/python/hydjetDefaultParameters_cff.py
  GeneratorInterface/HydjetInterface/src/HydjetHadronizer.cc
  GeneratorInterface/PyquenInterface/python/Pyquen_Zmumu_2760GeV_dimuonAcc_cfi.py
  GeneratorInterface/PyquenInterface/python/pyquenEcalTrig_cfi.py
  GeneratorInterface/PyquenInterface/src/PyquenHadronizer.cc
Labels: generators-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved

#36951 add support for L1T-MuonShowers as trigger objects at HLT
  DataFormats/HLTReco/interface/TriggerEventWithRefs.h
  DataFormats/HLTReco/interface/TriggerRefsCollections.h
  DataFormats/HLTReco/interface/TriggerTypeDefs.h
  DataFormats/HLTReco/src/classes_def.xml
  HLTrigger/HLTcore/interface/HLTEventAnalyzerRAW.h
  HLTrigger/HLTcore/interface/TriggerSummaryProducerAOD.h
  HLTrigger/HLTcore/plugins/HLTEventAnalyzerRAW.cc
  HLTrigger/HLTcore/plugins/TriggerSummaryAnalyzerRAW.cc
  HLTrigger/HLTcore/plugins/TriggerSummaryProducerAOD.cc
  HLTrigger/HLTcore/plugins/TriggerSummaryProducerRAW.cc
  HLTrigger/HLTfilters/plugins/HLTL1TSeed.cc
  HLTrigger/HLTfilters/plugins/HLTL1TSeed.h
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36965 Make some L1Trigger config static pointers thread safe
  L1Trigger/DTTrackFinder/interface/L1MuDTTrackFinder.h
  L1Trigger/DTTrackFinder/src/L1MuDTTrackFinder.cc
  L1Trigger/GlobalMuonTrigger/interface/L1MuGlobalMuonTrigger.h
  L1Trigger/GlobalMuonTrigger/src/L1MuGlobalMuonTrigger.cc
  L1Trigger/L1TMuonBarrel/interface/L1MuBMTrackFinder.h
  L1Trigger/L1TMuonBarrel/src/L1MuBMTrackFinder.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36942 Add 2021 MinimumBias express and prompt reco wf to limited
  Configuration/PyReleaseValidation/scripts/runTheMatrix.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#36858 implements LLP displaced jet trigger in uGT emulator for CMSSW 12 3 x
  L1Trigger/L1TGlobal/interface/CaloTemplate.h
  L1Trigger/L1TGlobal/plugins/GenToInputProducer.cc
  L1Trigger/L1TGlobal/plugins/TriggerMenuParser.cc
  L1Trigger/L1TGlobal/src/CaloCondition.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36941 Phase2-gex118 Correct the scenarios for using the correct Producer for GEM Reconstruction Geometry
  Configuration/Geometry/python/GeometryDD4hepExtended2026D49Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D60Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D68Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D70Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D76Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D77Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D78Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D79Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D80Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D81Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D82Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D83Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D84Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D85Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D86Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D87Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D88Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D89Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D90Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D91Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D49Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D60Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D68Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D70Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D76Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D77Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D78Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D79Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D80Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D81Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D82Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D83Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D84Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D85Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D86Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D87Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D88Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D89Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D90Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D91Reco_cff.py
  Configuration/Geometry/python/dict2026Geometry.py
Labels: geometry-approved, fully-signed, tests-approved, bug-fix, orp-approved, upgrade-approved, code-checks-approved

#36922 Run3-alca217 Substitute the older AlCa code for Isotracks and HBHEMuon with the newer version
  Calibration/HcalAlCaRecoProducers/plugins/AlCaHcalHBHEMuonProducer.cc
  Calibration/HcalAlCaRecoProducers/python/ALCARECOHcalCalHBHEMuonProducerFilter_cff.py
  Calibration/HcalAlCaRecoProducers/python/ALCARECOHcalCalIsoTrkProducerFilter_cff.py
  Calibration/HcalAlCaRecoProducers/test/AlCaHBHEMuonProducerFilter_cfg.py
  Configuration/AlCa/python/autoAlca.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/StandardSequences/python/AlCaRecoStreamsHeavyIons_cff.py
Labels: alca-approved, operations-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, urgent, upgrade-approved, code-checks-approved

#36972 Fix pat::Muon checksum
  DataFormats/PatCandidates/src/classes_def_objects.xml
Labels: reconstruction-pending, pending-signatures, tests-started, bug-fix, orp-approved, urgent, requires-external, code-checks-approved

#36976 Fix HPTDC timing PCL
  CalibPPS/TimingCalibration/plugins/PPSTimingCalibrationPCLHarvester.cc
  CalibPPS/TimingCalibration/python/PPSTimingCalibrationHarvester_cff.py
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved

#36971 Add back L1CaloGeometry tag to HLT GT
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, urgent, code-checks-approved

#36273 PPS: AlCaReco producer, content filters and testing files
  Calibration/PPSAlCaRecoProducer/python/ALCARECOPPSCalMaxTracks_Output_cff.py
  Calibration/PPSAlCaRecoProducer/python/ALCARECOPPSCalMaxTracks_cff.py
  Calibration/PPSAlCaRecoProducer/test/BuildFile.xml
  Calibration/PPSAlCaRecoProducer/test/TestDriver.cpp
  Calibration/PPSAlCaRecoProducer/test/hlt_out_singleRAW.py
  Calibration/PPSAlCaRecoProducer/test/setup_dev_CMSSW_12_1_0_GRun_V14_cff.py
  Calibration/PPSAlCaRecoProducer/test/test_express_AlCaRecoProducer.sh
  Calibration/PPSAlCaRecoProducer/test/test_express_PPSAlCaReco_output.py
  Calibration/PPSAlCaRecoProducer/test/test_express_PPSAlCaReco_output.sh
  Calibration/PPSAlCaRecoProducer/test/test_prompt_AlCaRecoProducer.sh
  Calibration/PPSAlCaRecoProducer/test/test_prompt_PPSAlCaReco_output.py
  Calibration/PPSAlCaRecoProducer/test/test_prompt_PPSAlCaReco_output.sh
  Configuration/EventContent/python/AlCaRecoOutput_cff.py
  Configuration/StandardSequences/python/AlCaRecoStreams_cff.py
Labels: alca-approved, operations-approved, fully-signed, tests-approved, orp-approved, urgent, code-checks-approved

#36977 Remove dead assignments and simplify HLTmumutkFilter
  HLTrigger/btau/plugins/HLTmumutkFilter.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36955 backporting gen filter to CMSSW_10_6_X
  GeneratorInterface/Core/interface/EmbeddingHepMCFilter.h
  GeneratorInterface/Core/src/EmbeddingHepMCFilter.cc
  TauAnalysis/MCEmbeddingTools/python/EmbeddingPythia8Hadronizer_cfi.py
Labels: generators-approved, simulation-approved, fully-signed, tests-approved, orp-approved

#36953 [backport of #36259] Calo-L1 unpacker modified to read 5BX payload format
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/CaloLayer1Unpacker.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/CaloLayer1Unpacker.h
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/UCTCTP7RawData5BX.h
Labels: l1-approved, fully-signed, tests-approved, orp-approved

#36921 Phase2-hgx299 Add the dd4hep version of the algorithm to make rotated full wafers as in #36898
  Geometry/HGCalCommonData/data/dd4hep/cms-test-ddhgcalWaferFR-algorithm.xml
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalWaferFullRotated.cc
  Geometry/HGCalCommonData/test/python/dumpHGCalWaferFRDD4hep_cfg.py
  Geometry/HGCalCommonData/test/python/dumpHGCalWaferFRDDD_cfg.py
  Geometry/HGCalCommonData/test/python/g4OverlapCheckWaferFR_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#36984 Run3-sim109A Cleanup some of the SimG4CMS/Calo code
  SimG4CMS/Calo/plugins/CaloSimHitAnalysis.cc
  SimG4CMS/Calo/plugins/CaloSimHitStudy.cc
  SimG4CMS/Calo/plugins/CaloSteppingAction.cc
  SimG4CMS/Calo/plugins/EcalSimHitDump.cc
  SimG4CMS/Calo/plugins/EcalSimHitStudy.cc
  SimG4CMS/Calo/plugins/HFPMTHitAnalyzer.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36919 L1 emulator for LLP displaced jet trigger (L1 6:1 LUT, L2 jet algo), L1TNtuples addition of jet hwQual
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/CaloLayer1Packer.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/UCTCTP7RawData.h
  L1Trigger/L1TCaloLayer1/plugins/L1TCaloLayer1.cc
  L1Trigger/L1TCalorimeter/src/firmware/Stage2Layer2JetAlgorithmFirmwareImp1.cc
  L1Trigger/L1TNtuples/interface/L1AnalysisL1UpgradeDataFormat.h
  L1Trigger/L1TNtuples/src/L1AnalysisL1Upgrade.cc
  SimCalorimetry/HcalTrigPrimAlgos/src/HcalFinegrainBit.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36992 remove unused legacy headers in RPC
  CalibMuon/RPCCalibration/interface/RPCCalibSetUp.h
  CalibMuon/RPCCalibration/src/RPCCalibSetUp.cc
  CalibMuon/RPCCalibration/src/RPCFakeCalibration.cc
  CondTools/RPC/interface/RPCDBSimSetUp.h
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#36987 Run3-alca218D Clean some of the remaining Hcal calibration codes in Calibration/HcalCalibAlgos
  Calibration/HcalCalibAlgos/plugins/HOCalibAnalyzer.cc
  Calibration/HcalCalibAlgos/plugins/HcalCalibrator.cc
  Calibration/HcalCalibAlgos/plugins/HitReCalibrator.cc
  Calibration/HcalCalibAlgos/plugins/RecAnalyzerHF.cc
  Calibration/HcalCalibAlgos/plugins/RecAnalyzerMinbias.cc
  Calibration/HcalCalibAlgos/plugins/SimAnalyzerMinbias.cc
  Calibration/HcalCalibAlgos/plugins/ValidIsoTrkCalib.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36981 small improvements to `HLTSumJetTag`
  HLTrigger/btau/plugins/HLTSumJetTag.cc
  HLTrigger/btau/plugins/HLTSumJetTag.h
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36080 [PPS][NanoAOD] Generator-level proton information
  PhysicsTools/NanoAOD/plugins/GenProtonTableProducer.cc
  PhysicsTools/NanoAOD/python/nano_cff.py
  PhysicsTools/NanoAOD/python/protons_cff.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#36986 update of HLT-E/Gamma modules to avoid accessing `L1CaloGeometry` unnecessarily
  RecoEgamma/EgammaHLTProducers/plugins/HLTRecHitInAllL1RegionsProducer.cc
  RecoEgamma/EgammaHLTProducers/plugins/HLTRechitInRegionsProducer.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36979 Run3-alca218C Clean some of the HCAL calibration code in Calibration/HcalCalibAlgos/plugins
  Calibration/HcalCalibAlgos/plugins/AnalyzerMinbias.cc
  Calibration/HcalCalibAlgos/plugins/Analyzer_minbias.cc
  Calibration/HcalCalibAlgos/plugins/HcalHBHEMuonAnalyzer.cc
  Calibration/HcalCalibAlgos/plugins/HcalHBHEMuonHighEtaAnalyzer.cc
  Calibration/HcalCalibAlgos/plugins/HcalHBHENewMuonAnalyzer.cc
  Calibration/HcalCalibAlgos/plugins/HcalIsoTrkAnalyzer.cc
  Calibration/HcalCalibAlgos/plugins/HcalIsoTrkSimAnalyzer.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36948 [122X] Update Run-3 data and MC GTs with several updates
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok

#36850 fix bug in NANOAOD Pileup_nTrueInt variable (int instead of float)
  PhysicsTools/NanoAOD/plugins/NPUTablesProducer.cc
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#36956 Changing LHCInfo O2O Implementation to access source data from OMS
  CondCore/CondDB/BuildFile.xml
  CondCore/CondDB/interface/Types.h
  CondCore/CondDB/interface/WebUtils.h
  CondCore/CondDB/src/WebUtils.cc
  CondFormats/RunInfo/interface/LHCInfo.h
  CondFormats/RunInfo/src/LHCInfo.cc
  CondTools/RunInfo/interface/LHCInfoPopConSourceHandler.h
  CondTools/RunInfo/interface/OMSAccess.h
  CondTools/RunInfo/python/LHCInfoPopConAnalyzerEndFill.py
  CondTools/RunInfo/python/LHCInfoPopConAnalyzerStartFill.py
  CondTools/RunInfo/src/LHCInfoPopConSourceHandler.cc
  CondTools/RunInfo/src/OMSAccess.cc
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#36970 MTD geometry: update tests to scenario D88, update DDFilteredView::parameters() accordingly
  DetectorDescription/DDCMS/src/DDFilteredView.cc
  Geometry/MTDCommonData/test/testMTDGeometry.py
  Geometry/MTDCommonData/test/testMTDinDD4hep.py
  Geometry/MTDCommonData/test/testMTDinDDD.py
  Geometry/MTDGeometryBuilder/test/dd4hep_mtd_cfg.py
  Geometry/MTDGeometryBuilder/test/mtd_cfg.py
  Geometry/MTDNumberingBuilder/test/dd4hep_mtd_cfg.py
  Geometry/MTDNumberingBuilder/test/mtd_cfg.py
  RecoMTD/DetLayers/test/mtd_cfg.py
Labels: geometry-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, requires-external, code-checks-approved

#36995 Run3-sim109B Cleanup the remaining parts of SimG4CMS/Calo/plugins code
  SimG4CMS/Calo/plugins/HGCalHitIdCheck.cc
  SimG4CMS/Calo/plugins/HOSimHitStudy.cc
  SimG4CMS/Calo/plugins/HcalSimHitAnalysis.cc
  SimG4CMS/Calo/plugins/HcalSimHitDump.cc
  SimG4CMS/Calo/plugins/HcalTestAnalysis.cc
  SimG4CMS/Calo/plugins/HcalTestAnalyzer.cc
  SimG4CMS/Calo/plugins/HcalTestSimHitID.cc
  SimG4CMS/Calo/plugins/HitParentTest.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36983 Remove Phase-0 SiStrip records dependency from Phase-2 workflows
  Configuration/AlCa/python/autoCond.py
  Configuration/StandardSequences/python/DigiToRaw_cff.py
  Configuration/StandardSequences/python/RawToDigi_cff.py
  EventFilter/RawDataCollector/python/rawDataCollector_cfi.py
  RecoPixelVertexing/PixelLowPtUtilities/plugins/ClusterShapeHitFilterESProducer.cc
  RecoPixelVertexing/PixelLowPtUtilities/python/ClusterShapeHitFilterESProducer_cfi.py
  RecoPixelVertexing/PixelLowPtUtilities/src/ClusterShapeHitFilter.cc
  RecoTracker/MeasurementDet/plugins/MeasurementTrackerESProducer.cc
  RecoTracker/MeasurementDet/python/MeasurementTrackerESProducer_cfi.py
  RecoTracker/TransientTrackingRecHit/plugins/TkTransientTrackingRecHitBuilderESProducer.cc
  RecoTracker/TransientTrackingRecHit/python/TTRHBuilderWithTemplate_cfi.py
  RecoTracker/TransientTrackingRecHit/python/TransientTrackingRecHitBuilderWithoutRefit_cfi.py
  RecoTracker/TransientTrackingRecHit/python/TransientTrackingRecHitBuilder_cfi.py
  SimGeneral/MixingModule/python/aliases_PreMix_cfi.py
  SimGeneral/MixingModule/python/aliases_cfi.py
  SimGeneral/MixingModule/python/digitizers_cfi.py
Labels: alca-approved, daq-approved, operations-approved, reconstruction-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36793 MTD reconstruction: speed up TrackExtenderWithMTD
  Configuration/StandardSequences/python/earlyDeleteSettings_cff.py
  RecoMTD/TrackExtender/plugins/TrackExtenderWithMTD.cc
  RecoTracker/Configuration/python/customiseEarlyDeleteForCKF.py
  RecoTracker/FinalTrackSelectors/python/MergeTrackCollections_cff.py
  RecoTracker/IterativeTracking/python/DetachedQuadStep_cff.py
  RecoTracker/IterativeTracking/python/HighPtTripletStep_cff.py
  RecoTracker/IterativeTracking/python/InitialStep_cff.py
  RecoTracker/IterativeTracking/python/LowPtQuadStep_cff.py
  RecoTracker/IterativeTracking/python/LowPtTripletStep_cff.py
  RecoTracker/IterativeTracking/python/MuonSeededStep_cff.py
  RecoTracker/IterativeTracking/python/PixelPairStep_cff.py
Labels: operations-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, trk-dpg-approved

#36990 Add the detector ids to the scouting electron and photon collection for Run 3
  DataFormats/Scouting/interface/Run3ScoutingElectron.h
  DataFormats/Scouting/interface/Run3ScoutingPhoton.h
  DataFormats/Scouting/src/classes_def.xml
  HLTrigger/Egamma/plugins/HLTScoutingEgammaProducer.cc
Labels: core-approved, hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#37009 Fix HLT Validation tests [121X]
  HLTrigger/Configuration/python/Tools/confdb.py
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#37010 Fix HLT Validation tests [120X]
  HLTrigger/Configuration/python/Tools/confdb.py
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#36989 Clean up redundant edm ParameterSet existAs or exist in RecoTracker/{TkSeedGenerator}
  RecoTracker/TkSeedGenerator/plugins/MultiHitGeneratorFromChi2.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36742 Create new ECAL DQM GpuTask to monitor and compare CPU and GPU generated ECAL RECO objects
  Configuration/ProcessModifiers/python/gpuValidationEcal_cff.py
  Configuration/ProcessModifiers/python/gpuValidation_cff.py
  DQM/EcalMonitorTasks/interface/Collections.h
  DQM/EcalMonitorTasks/interface/GpuTask.h
  DQM/EcalMonitorTasks/plugins/EcalDQMonitorTask2.cc
  DQM/EcalMonitorTasks/python/CollectionTags_cfi.py
  DQM/EcalMonitorTasks/python/EcalMonitorTask_cff.py
  DQM/EcalMonitorTasks/python/ecalGpuTask_cfi.py
  DQM/EcalMonitorTasks/src/GpuTask.cc
  DQMOffline/Ecal/python/ecal_dqm_source_offline_cff.py
Labels: dqm-approved, operations-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#37002 Run3-TB68 Clean up the analyzers of HCAL TB applications in SimG4CMS/HcalTestBeam/plugins
  SimG4CMS/HcalTestBeam/plugins/HcalTB02Analysis.cc
  SimG4CMS/HcalTestBeam/plugins/HcalTB04Analysis.cc
  SimG4CMS/HcalTestBeam/plugins/HcalTB06Analysis.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#37003 Run3-sim109C Clean the analyzers in SimG4CMS/CherenkovAnalysis/plugins
  SimG4CMS/CherenkovAnalysis/plugins/CherenkovAnalysis.cc
  SimG4CMS/CherenkovAnalysis/plugins/XtalDedxAnalysis.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#37014 patch-around immintrin.h for non-x86 case in MkFit
  RecoTracker/MkFitCore/src/Matriplex/MatriplexCommon.h
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved

#37011 Fix printed text in Payload Inspector plots for DropBoxMetaData
  CondCore/PhysicsToolsPlugins/interface/DropBoxMetaDataPayloadInspectorHelper.h
Labels: fully-signed, tests-approved, db-approved, bug-fix, orp-approved, code-checks-approved

#37031 Update of L1T menu in TSG GTs
  Configuration/HLT/python/autoCondHLT.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#37021 Fix ConfDb connection parameters [080X]
  HLTrigger/Configuration/python/Tools/confdbOfflineConverter.py
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#37020 Fix ConfDb connection parameters [110X]
  HLTrigger/Configuration/python/Tools/confdbOfflineConverter.py
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#37008 MillePedeAlignmentAlgorithm: update for new GBL version
  Alignment/MillePedeAlignmentAlgorithm/plugins/MillePedeAlignmentAlgorithm.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#36980 remove more `CMSDEPRECATED_X` warnings from `RecoTracker`
  RecoTracker/ConversionSeedGenerators/plugins/ConversionSeedFilter.cc
  RecoTracker/ConversionSeedGenerators/plugins/ConversionSeedFilterCharge.cc
  RecoTracker/ConversionSeedGenerators/plugins/PhotonConversionTrajectorySeedProducerFromSingleLegAlgo.h
  RecoTracker/GeometryESProducer/test/TrackerRecoGeometryAnalyzer.cc
  RecoTracker/MeasurementDet/test/MeasurementTrackerTest.cc
  RecoTracker/SiTrackerMRHTools/plugins/MultiRecHitCollectorESProducer.cc
  RecoTracker/SiTrackerMRHTools/plugins/MultiRecHitCollectorESProducer.h
  RecoTracker/SiTrackerMRHTools/plugins/SiTrackerMultiRecHitUpdatorESProducer.cc
  RecoTracker/SiTrackerMRHTools/plugins/SiTrackerMultiRecHitUpdatorESProducer.h
  RecoTracker/SiTrackerMRHTools/plugins/module.cc
  RecoTracker/TkDetLayers/test/TkDetLayersAnalyzer.cc
  RecoTracker/TkNavigation/test/NavigationSchoolAnalyzer.cc
  RecoTracker/TkNavigation/test/TkMSParameterizationTest.cc
  RecoTracker/TkSeedingLayers/test/TestSeedingLayers.cc
  RecoTracker/TransientTrackingRecHit/test/TTRHBuilderTest.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36959 [122X] Move ecalcakib_dqm_sourceclient to Run-3 era
  DQM/Integration/python/clients/ecalcalib_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#36997 Fixed all the overlaps inside the Muon Yoke (2021/v6/muonYoke.xml)
  Geometry/MuonCommonData/data/muonYoke/2021/v6/muonYoke.xml
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#37023 use auto-generated configuration fragments in a few `RecoTracker` classes
  RecoLocalTracker/SiStripClusterizer/interface/ClusterChargeCut.h
  RecoPixelVertexing/PixelLowPtUtilities/plugins/ClusterShapeHitFilterESProducer.cc
  RecoPixelVertexing/PixelLowPtUtilities/python/ClusterShapeHitFilterESProducer_cfi.py
  RecoTracker/MeasurementDet/plugins/Chi2ChargeMeasurementEstimatorESProducer.cc
  RecoTracker/TransientTrackingRecHit/plugins/TkTransientTrackingRecHitBuilderESProducer.cc
  RecoTracker/TransientTrackingRecHit/python/TTRHBuilderWithFake_cfi.py
  RecoTracker/TransientTrackingRecHit/python/TTRHBuilderWithTemplate_cfi.py
  RecoTracker/TransientTrackingRecHit/python/TransientTrackingRecHitBuilderWithoutRefit_cfi.py
  RecoTracker/TransientTrackingRecHit/python/TransientTrackingRecHitBuilder_cfi.py
  TrackingTools/TrajectoryFiltering/interface/MaxCCCLostHitsTrajectoryFilter.h
  TrackingTools/TrajectoryFiltering/src/MaxCCCLostHitsTrajectoryFilter.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#36699 Add a generic mechanism to specify compute accelerators to use in the configuration
  Configuration/StandardSequences/python/Accelerators_cff.py
  Configuration/StandardSequences/python/Services_cff.py
  FWCore/Framework/interface/ensureAvailableAccelerators.h
  FWCore/Framework/src/EventProcessor.cc
  FWCore/Framework/src/ensureAvailableAccelerators.cc
  FWCore/Framework/test/test_module_delete_cfg.py
  FWCore/Integration/test/BuildFile.xml
  FWCore/Integration/test/ProcessAccelerator_t.cpp
  FWCore/Integration/test/SwitchProducer_t.cpp
  FWCore/Integration/test/run_TestProcessAccelerator.sh
  FWCore/Integration/test/testProcessAccelerator_cfg.py
  FWCore/Integration/test/testSwitchProducerAliasOutput_cfg.py
  FWCore/Integration/test/testSwitchProducerAliasToNonExistent_cfg.py
  FWCore/Integration/test/testSwitchProducerPathFilter_cfg.py
  FWCore/Integration/test/testSwitchProducerPathWrongOrder_cfg.py
  FWCore/Integration/test/testSwitchProducerPath_cfg.py
  FWCore/Integration/test/testSwitchProducerTaskInput_cfg.py
  FWCore/Integration/test/testSwitchProducerTask_cfg.py
  FWCore/ParameterSet/python/Config.py
  FWCore/ParameterSet/python/Modules.py
  FWCore/ParameterSet/src/validateTopLevelParameterSets.cc
  FWCore/TestProcessor/src/TestProcessor.cc
  FWCore/Utilities/interface/EDMException.h
  FWCore/Utilities/src/EDMException.cc
  HLTrigger/Configuration/python/customizeHLTforPatatrack.py
  HeterogeneousCore/CUDACore/python/ProcessAcceleratorCUDA.py
  HeterogeneousCore/CUDACore/python/ProcessAcceleratorCUDA_cfi.py
  HeterogeneousCore/CUDACore/python/SwitchProducerCUDA.py
  HeterogeneousCore/CUDACore/test/BuildFile.xml
  HeterogeneousCore/CUDACore/test/test_ProcessAcceleratorCUDA.cc
  HeterogeneousCore/CUDATest/test/BuildFile.xml
  HeterogeneousCore/CUDATest/test/runtests.sh
  HeterogeneousCore/CUDATest/test/testCUDASwitch_cfg.py
  HeterogeneousCore/CUDATest/test/test_TestCUDAProducerGPUFirst.cc
  RecoLocalCalo/EcalRecProducers/test/ecalRawDecodingAndMultifit.py
  RecoLocalCalo/EcalRecProducers/test/testEcalRechitProducer_cfg.py
  RecoLocalCalo/EcalRecProducers/test/testEcalUncalibRechitProducer_cfg.py
  RecoLocalCalo/HGCalRecProducers/test/HeterogeneousHGCalRecHit_cfg.py
  RecoLocalCalo/HGCalRecProducers/test/HeterogeneousRecHitsTiming_cfg.py
  RecoLocalCalo/HcalRecProducers/test/make_GPUvsCPU_HCAL_rechits.py
  Validation/HGCalValidation/test/HeterogeneousHGCalRecHitsValidator_cfg.py
Labels: core-approved, dqm-approved, hlt-approved, operations-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, heterogeneous-approved

#37048 PPSAlCaRecoProducer - minor fixes requested in #36273
  Calibration/PPSAlCaRecoProducer/python/ALCARECOPPSCalMaxTracks_cff.py
  Calibration/PPSAlCaRecoProducer/test/hlt_out_singleRAW.py
  Calibration/PPSAlCaRecoProducer/test/setup_dev_CMSSW_12_1_0_GRun_V14_cff.py
  Calibration/PPSAlCaRecoProducer/test/test_prompt_PPSAlCaReco_output.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#37022 fixing removal of modules from `FinalPath`
  FWCore/ParameterSet/python/SequenceTypes.py
Labels: core-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#37007 Run3-sim109D Clean analyzers in SimG4CMS/Muon and SimG4CMS/Tracker
  SimG4CMS/Muon/test/MuonSimHitDump.cc
  SimG4CMS/Tracker/test/SimHitTrackerAnalyzer.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#37051 update patZpeak to python3. add Jpsi example
  DataFormats/FWLite/examples/patZpeak.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#37050 Updated the PPS PCL workers to support the new AlCaRecoProducer
  CalibPPS/AlignmentGlobal/plugins/PPSAlignmentWorker.cc
  CalibPPS/AlignmentGlobal/python/ALCARECOPromptCalibProdPPSAlignment_cff.py
  CalibPPS/TimingCalibration/plugins/PPSDiamondSampicTimingCalibrationPCLWorker.cc
  CalibPPS/TimingCalibration/plugins/PPSTimingCalibrationPCLWorker.cc
  CalibPPS/TimingCalibration/python/ALCARECOPPSCalTrackBasedSel_Output_cff.py
  CalibPPS/TimingCalibration/python/ALCARECOPromptCalibProdPPSDiamondSampicTimingCalib_cff.py
  CalibPPS/TimingCalibration/python/ALCARECOPromptCalibProdPPSTimingCalib_cff.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#37041 Sonic interface simplifications
  HeterogeneousCore/SonicCore/README.md
  HeterogeneousCore/SonicCore/interface/SonicAcquirer.h
  HeterogeneousCore/SonicCore/interface/SonicClientBase.h
  HeterogeneousCore/SonicCore/interface/SonicEDFilter.h
  HeterogeneousCore/SonicCore/interface/SonicEDProducer.h
  HeterogeneousCore/SonicCore/interface/SonicOneEDAnalyzer.h
  HeterogeneousCore/SonicCore/src/SonicClientBase.cc
  HeterogeneousCore/SonicCore/test/SonicDummyFilter.cc
  HeterogeneousCore/SonicCore/test/SonicDummyOneAnalyzer.cc
  HeterogeneousCore/SonicCore/test/SonicDummyProducer.cc
  HeterogeneousCore/SonicTriton/interface/TritonEDFilter.h
  HeterogeneousCore/SonicTriton/interface/TritonEDProducer.h
  HeterogeneousCore/SonicTriton/interface/TritonOneEDAnalyzer.h
  HeterogeneousCore/SonicTriton/src/TritonClient.cc
  HeterogeneousCore/SonicTriton/test/TritonGraphModules.cc
  HeterogeneousCore/SonicTriton/test/TritonImageProducer.cc
  HeterogeneousCore/SonicTriton/test/tritonTest_cfg.py
  RecoEcal/EgammaClusterProducers/src/SCEnergyCorrectorDRNProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#37036 Miscellaneous fixes and improvements for SonicTriton
  HeterogeneousCore/SonicTriton/README.md
  HeterogeneousCore/SonicTriton/interface/TritonData.h
  HeterogeneousCore/SonicTriton/interface/triton_utils.h
  HeterogeneousCore/SonicTriton/src/TritonClient.cc
  HeterogeneousCore/SonicTriton/src/TritonData.cc
  HeterogeneousCore/SonicTriton/src/TritonMemResource.cc
  HeterogeneousCore/SonicTriton/src/TritonService.cc
  HeterogeneousCore/SonicTriton/src/triton_utils.cc
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved
