Repository cms-sw/cmssw, pull requests merged in 2022-09, with the labels that each got.

#39261 [L1T] DQM bug fix
  DQMOffline/L1Trigger/src/L1TRate_Offline.cc
  DQMOffline/L1Trigger/src/L1TStage2CaloLayer2Offline.cc
Labels: dqm-approved, l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39265 Addition of workflow for release validation with data
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#39278 Run3-sim127B Try to avoid compilation warnings in IOMC/EventVertexGenerators
  IOMC/EventVertexGenerators/interface/GaussianZBeamSpotFilter.h
  IOMC/EventVertexGenerators/src/GaussianZBeamSpotFilter.cc
  IOMC/EventVertexGenerators/test/BoostTester.cc
  IOMC/EventVertexGenerators/test/BoostTester.h
Labels: simulation-approved, fully-signed, tests-approved, orp-pending, code-checks-approved

#39256 [GSF tracking] Add TSOS only if it is meaningful
  TrackingTools/GsfTracking/src/GsfMultiStateUpdator.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-pending, code-checks-approved, egamma

#39238 fixed LHCInfo PopCon skipping fills
  CondTools/RunInfo/interface/OMSAccess.h
  CondTools/RunInfo/src/LHCInfoPopConSourceHandler.cc
Labels: fully-signed, tests-approved, orp-pending, db-approved, bug-fix, code-checks-approved, ctpps

#38941 Update muon shower (HMT) emulator
  DataFormats/CSCDigi/interface/CSCShowerDigi.h
  DataFormats/CSCDigi/src/CSCShowerDigi.cc
  DataFormats/CSCDigi/src/classes_def.xml
  EventFilter/CSCRawToDigi/interface/CSCALCTHeader.h
  EventFilter/CSCRawToDigi/interface/CSCTMBHeader.h
  EventFilter/CSCRawToDigi/interface/CSCTMBHeader2006.h
  EventFilter/CSCRawToDigi/interface/CSCTMBHeader2007.h
  EventFilter/CSCRawToDigi/interface/CSCTMBHeader2007_rev0x50c3.h
  EventFilter/CSCRawToDigi/interface/CSCTMBHeader2013.h
  EventFilter/CSCRawToDigi/interface/CSCTMBHeader2020_CCLUT.h
  EventFilter/CSCRawToDigi/interface/CSCTMBHeader2020_GEM.h
  EventFilter/CSCRawToDigi/interface/CSCTMBHeader2020_Run2.h
  EventFilter/CSCRawToDigi/interface/CSCTMBHeader2020_TMB.h
  EventFilter/CSCRawToDigi/interface/CSCVTMBHeaderFormat.h
  EventFilter/CSCRawToDigi/src/CSCALCTHeader.cc
  EventFilter/CSCRawToDigi/src/CSCTMBHeader2020_CCLUT.cc
  EventFilter/CSCRawToDigi/src/CSCTMBHeader2020_GEM.cc
  EventFilter/CSCRawToDigi/src/CSCTMBHeader2020_TMB.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFBlockME.cc
  L1Trigger/CSCTriggerPrimitives/interface/CSCAnodeLCTProcessor.h
  L1Trigger/CSCTriggerPrimitives/interface/CSCCathodeLCTProcessor.h
  L1Trigger/CSCTriggerPrimitives/interface/CSCMotherboard.h
  L1Trigger/CSCTriggerPrimitives/interface/CSCTriggerPrimitivesBuilder.h
  L1Trigger/CSCTriggerPrimitives/python/cscTriggerPrimitiveDigis_cfi.py
  L1Trigger/CSCTriggerPrimitives/python/params/showerParams.py
  L1Trigger/CSCTriggerPrimitives/src/CSCAnodeLCTProcessor.cc
  L1Trigger/CSCTriggerPrimitives/src/CSCCathodeLCTProcessor.cc
  L1Trigger/CSCTriggerPrimitives/src/CSCMotherboard.cc
  L1Trigger/CSCTriggerPrimitives/src/CSCTriggerPrimitivesBuilder.cc
Labels: l1-approved, reconstruction-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39263 [L1T] fix asan runtime errors in DTTrigger Phase-2
  L1Trigger/DTTriggerPhase2/src/MuonPathAssociator.cc
Labels: l1-approved, fully-signed, tests-approved, bug-fix, orp-approved, upgrade-approved, code-checks-approved

#39264 Fix the mismatch in transition ID for idealGeo
  Geometry/VeryForwardGeometryBuilder/plugins/CTPPSGeometryESModule.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39283 Simplify L1TPhase2MuonOffline and fix the matching with gen muons in it
  DQMOffline/L1Trigger/interface/L1TPhase2MuonOffline.h
  DQMOffline/L1Trigger/src/L1TPhase2MuonOffline.cc
Labels: dqm-approved, l1-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#39272 Fix for PNET DQM monitoring
  DQMOffline/Trigger/plugins/ParticleNetJetTagMonitor.cc
  DQMOffline/Trigger/python/ParticleNetAK4BTagMonitoring_cfi.py
  DQMOffline/Trigger/python/ParticleNetAK8HbbTagMonitoring_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#39280 Simplifying LL1TkMuonFilter
  HLTrigger/HLTfilters/plugins/L1TTkMuonFilter.cc
  HLTrigger/HLTfilters/plugins/L1TTkMuonFilter.h
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39279 Phase2-hgx324 Extend the muon tomography testing for the scenario 2026D49
  Validation/HGCalValidation/scripts/testHGCalCellHitSum_cfg.py
  Validation/HGCalValidation/scripts/testHGCalSingleMuonPt100_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39248 [12.4.X] Move `DiMuonMassBiasClient` to a regular harvesting path
  Configuration/PyReleaseValidation/python/relval_production.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  DQMOffline/Alignment/python/ALCARECOTkAlDQM_cff.py
  DQMOffline/Alignment/python/DiMuonMassBiasHarvesting_cff.py
  DQMOffline/Alignment/src/DiMuonMassBiasClient.cc
  DQMOffline/Alignment/src/DiMuonMassBiasMonitor.cc
  DQMOffline/Alignment/test/DiMuonVertexValidator_cfg.py
  DQMOffline/Configuration/python/DQMOffline_SecondStep_cff.py
Labels: dqm-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, backport-ok

#38536 Xrdadaptor logging
  Utilities/XrdAdaptor/src/XrdRequestManager.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39205 Updates in TOP-HLT DQM : Deepjet HLT path monitoring & flag to enable/disable production of 2d histos
  DQMOffline/Trigger/plugins/TopMonitor.cc
  DQMOffline/Trigger/python/TopMonitor_cfi.py
  DQMOffline/Trigger/python/TopMonitoring_Client_cff.py
  DQMOffline/Trigger/python/TopMonitoring_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39298 Avoid inf/nan generation in VertexKinematicConstraint
  RecoVertex/KinematicFit/src/VertexKinematicConstraintT.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39268 Update the EXODisappTrk skim source PD
  Configuration/Skimming/python/autoSkim.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, code-checks-approved

#39276 [125X backport] [GSF tracking] Add TSOS only if it is meaningful
  TrackingTools/GsfTracking/src/GsfMultiStateUpdator.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, egamma

#39275 [124X backport] [GSF tracking] Add TSOS only if it is meaningful
  TrackingTools/GsfTracking/src/GsfMultiStateUpdator.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, egamma

#39290 [12_4_X] Fix the mismatch in transition ID for idealGeo backport
  Geometry/VeryForwardGeometryBuilder/plugins/CTPPSGeometryESModule.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved

#39291 [12_5_X] Fix the mismatch in transition ID for idealGeo backport
  Geometry/VeryForwardGeometryBuilder/plugins/CTPPSGeometryESModule.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved

#39258 ECAL - Remove ExternalWork from EcalUncalibRecHitProducerGPU - 12_4_X
  RecoLocalCalo/EcalRecProducers/plugins/EcalUncalibRecHitProducerGPU.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, heterogeneous-approved

#39257 ECAL - Remove ExternalWork from EcalUncalibRecHitProducerGPU - 12_5_X
  RecoLocalCalo/EcalRecProducers/plugins/EcalUncalibRecHitProducerGPU.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, heterogeneous-approved

#39249 Advanced configuration of Geant4 simulation
  SimG4Core/Application/python/g4SimHits_cfi.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39127 Fix inconsistent behaviour of --dump_python
  Configuration/Applications/scripts/cmsDriver.py
Labels: core-approved, operations-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39288 Disactivate vertex recovery for HI miniAOD
  PhysicsTools/PatAlgos/python/slimming/slimming_cff.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39207 Run3-gex138B Replace access by label with access by token in CalibCalorimetry/EcalCorrelatedNoiseAnalysisModules
  CalibCalorimetry/EcalCorrelatedNoiseAnalysisModules/interface/EcnaAnalyzer.h
  CalibCalorimetry/EcalCorrelatedNoiseAnalysisModules/src/EcnaAnalyzer.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39301 avoid non-reproducible ordering in `l1tPhase2MuonEfficiency` harvester
  DQMOffline/L1Trigger/python/L1TPhase2MuonDQMEfficiency_cfi.py
Labels: dqm-pending, l1-pending, pending-signatures, tests-rejected, orp-approved, code-checks-approved

#39092 Replace Geometry_cff with GeometryDB_cff in EgammaAnalysis
  EgammaAnalysis/ElectronTools/test/run_RegressionAndCombination_cfg.py
  EgammaAnalysis/ElectronTools/test/run_exampleMva_cfg.py
Labels: analysis-pending, pending-signatures, tests-rejected, orp-approved, code-checks-approved

#39237 fix validation plots binning vs #simulated PU
  Validation/RecoVertex/interface/PrimaryVertexAnalyzer4PUSlimmed.h
  Validation/RecoVertex/python/PrimaryVertexAnalyzer4PUSlimmed_cfi.py
  Validation/RecoVertex/python/plotting/vertexPlots.py
  Validation/RecoVertex/src/PrimaryVertexAnalyzer4PUSlimmed.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39281 Simplifying LL1TkMuonFilter, CMSSW_12_5_X
  HLTrigger/HLTfilters/plugins/L1TTkMuonFilter.cc
  HLTrigger/HLTfilters/plugins/L1TTkMuonFilter.h
Labels: hlt-approved, fully-signed, tests-rejected, orp-approved, backport-ok

#39297 Revert the requirement of having an associated L1T muon in L1TPhase2MuonOffline::matchMuonsToGen
  DQMOffline/L1Trigger/src/L1TPhase2MuonOffline.cc
Labels: dqm-approved, l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39284 Add production-like Run 3 HI MC workflow to relval
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#39184 Fixes for DeepDoubleX
  PhysicsTools/PatAlgos/python/tools/jetTools.py
  RecoBTag/FeatureTools/plugins/DeepDoubleXTagInfoProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39252 Calo L1 emulator for LLP trigger: masking the 6:1 LUT for HE
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/UCTCTP7RawData.h
  L1Trigger/L1TCaloLayer1/plugins/L1TCaloLayer1.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39271 [backport] Update the EXODisappTrk skim source PD
  Configuration/Skimming/python/PDWG_EXODisappTrk_cff.py
  Configuration/Skimming/python/autoSkim.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, backport-ok

#39269 [backport] Update the EXODisappTrk skim source PD
  Configuration/Skimming/python/autoSkim.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, backport-ok

#39299 Phase2-hgx324A Enable the muon tomography code to utilize RecHits in addition to SimHits
  Validation/HGCalValidation/scripts/testHGCalDigiSingleMuonPt100_cfg.py
  Validation/HGCalValidation/scripts/testHGCalRecoSingleMuonPt100_cfg.py
  Validation/HGCalValidation/scripts/testHGCalSIMSingleMuonPt100_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39304 specify compression settings in offline output modules used by HLT
  HLTrigger/Configuration/python/Tools/confdb.py
Labels: hlt-approved, fully-signed, tests-rejected, orp-approved, code-checks-approved

#39307 A possible solution for RPCAMCLink out-of-range issue
  EventFilter/RPCRawToDigi/plugins/RPCCPPFUnpacker.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39311 Update alpaka::allocMappedBuf memory functions
  DataFormats/Portable/BuildFile.xml
  DataFormats/Portable/interface/PortableDeviceCollection.h
  DataFormats/Portable/interface/PortableHostCollection.h
  DataFormats/PortableTestObjects/interface/alpaka/TestDeviceCollection.h
  HeterogeneousCore/AlpakaInterface/interface/CachingAllocator.h
  HeterogeneousCore/AlpakaInterface/interface/memory.h
  HeterogeneousCore/AlpakaTest/plugins/TestAlpakaAnalyzer.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaProducer.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaTranscriber.cc
Labels: fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved, heterogeneous-approved

#39300 Phase2-hgx324B Add scripts to test muon tomography for 2026D49 as well as a few others - backport of #39299
  Validation/HGCalValidation/scripts/testHGCalDigiSingleMuonPt100_cfg.py
  Validation/HGCalValidation/scripts/testHGCalRecoSingleMuonPt100_cfg.py
  Validation/HGCalValidation/scripts/testHGCalSIMSingleMuonPt100_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#39306 specify compression settings in offline output modules used by HLT [`12_4_X`]
  HLTrigger/Configuration/python/Tools/confdb.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#39305 specify compression settings in offline output modules used by HLT [`12_5_X`]
  HLTrigger/Configuration/python/Tools/confdb.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#39303 avoid non-reproducible ordering in `l1tPhase2MuonEfficiency` harvester [`12_5_X`]
  DQMOffline/L1Trigger/python/L1TPhase2MuonDQMEfficiency_cfi.py
Labels: dqm-approved, l1-approved, fully-signed, tests-approved, orp-approved, backport-ok

#39320 A possible solution for RPCAMCLink out-of-range issue[12_5_X]
  EventFilter/RPCRawToDigi/plugins/RPCCPPFUnpacker.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok

#39324 Fixes for DeepDoubleX [12_5_X]
  PhysicsTools/PatAlgos/python/tools/jetTools.py
  RecoBTag/FeatureTools/plugins/DeepDoubleXTagInfoProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok

#39200 Fixes for DeepDoubleX [12_4_X]
  PhysicsTools/PatAlgos/python/tools/jetTools.py
  RecoBTag/FeatureTools/plugins/DeepDoubleXTagInfoProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok

#39322 `PrimaryVertexMonitor`: fix beamspot centering for Run3 and actually fill the beamspot type histograms
  DQMOffline/RecoB/plugins/PrimaryVertexMonitor.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39295 Add Tracker Alignment di-muon monitoring to other resonances
  DQMOffline/Alignment/interface/DiMuonVertexMonitor.h
  DQMOffline/Alignment/python/ALCARECOTkAlDQM_cff.py
  DQMOffline/Alignment/python/DiMuonMassBiasHarvesting_cff.py
  DQMOffline/Alignment/python/DiMuonVertexMonitor_cfi.py
  DQMOffline/Alignment/src/DiMuonVertexMonitor.cc
  DQMOffline/Alignment/test/DiMuonTkAlDQMHarvester_cfg.py
  DQMOffline/Alignment/test/DiMuonTkAlDQMValidator_cfg.py
  DQMOffline/Alignment/test/testDiMuonVertexMonitor.sh
  DQMOffline/Configuration/python/DQMOffline_SecondStep_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39314 Properly set SITECONFIG_PATH for runtheMatrix --ibeos option
  Configuration/PyReleaseValidation/scripts/runTheMatrix.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#39312 Update alpaka::allocMappedBuf memory functions [12.5.x]
  DataFormats/Portable/BuildFile.xml
  DataFormats/Portable/interface/PortableDeviceCollection.h
  DataFormats/Portable/interface/PortableHostCollection.h
  DataFormats/PortableTestObjects/interface/alpaka/TestDeviceCollection.h
  HeterogeneousCore/AlpakaInterface/interface/CachingAllocator.h
  HeterogeneousCore/AlpakaInterface/interface/memory.h
  HeterogeneousCore/AlpakaTest/plugins/TestAlpakaAnalyzer.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaProducer.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaTranscriber.cc
Labels: fully-signed, tests-approved, orp-approved, requires-external, heterogeneous-approved

#39310 Revive the green status on the lumi-based plots in GEM onlineDQM
  DQM/GEM/plugins/GEMDQMHarvester.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39323 Fix Pixel Clusters for Phase2 HLT Menu
  HLTrigger/Configuration/python/HLT_75e33/modules/siPixelClusters_cfi.py
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#39315 Run3-alca230 Enable to submit the HCAL calibration macros in a batch mode
  Calibration/HcalCalibAlgos/BuildFile.xml
  Calibration/HcalCalibAlgos/macros/CalibCorr.C
  Calibration/HcalCalibAlgos/macros/CalibMain.C
  Calibration/HcalCalibAlgos/macros/CalibMonitor.C
  Calibration/HcalCalibAlgos/macros/CalibPlotProperties.C
  Calibration/HcalCalibAlgos/macros/CalibSort.C
  Calibration/HcalCalibAlgos/macros/CalibTree.C
  Calibration/HcalCalibAlgos/macros/installCalib.csh
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, hcal

#39273 [CondCore] Print what executable is missing in condTestRegression.py
  CondCore/CondDB/test/condTestRegression.py
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#39188 fixed LHCInfo PopCon 100 lumisections query limit
  CondTools/RunInfo/interface/LHCInfoPopConSourceHandler.h
  CondTools/RunInfo/interface/OMSAccess.h
  CondTools/RunInfo/src/LHCInfoPopConSourceHandler.cc
  CondTools/RunInfo/src/OMSAccess.cc
Labels: fully-signed, tests-approved, db-approved, bug-fix, orp-approved, code-checks-approved, ctpps

#39215 Adding V0 Validation Wfs to the RelVal Matrix
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
Labels: fully-signed, tests-approved, orp-pending, pdmv-approved, urgent, upgrade-approved, requires-external, code-checks-approved

#39313 Fix assertion in cluster remover
  RecoTracker/FinalTrackSelectors/plugins/TrackListMerger.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39329 [12_5_X] Fix Pixel Clusters for Phase2 HLT Menu
  HLTrigger/Configuration/python/HLT_75e33/modules/siPixelClusters_cfi.py
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#39334 [12.4.X] `PrimaryVertexMonitor`: fix beamspot centering for Run3 and actually fill the beamspot type histograms
  DQMOffline/RecoB/plugins/PrimaryVertexMonitor.cc
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#39333 [12.5.X] `PrimaryVertexMonitor`: fix beamspot centering for Run3 and actually fill the beamspot type histograms
  DQMOffline/RecoB/plugins/PrimaryVertexMonitor.cc
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#39317 fixing PNET DQM module
  DQMOffline/Trigger/plugins/ParticleNetJetTagMonitor.cc
  DQMOffline/Trigger/python/ParticleNetAK4BTagMonitoring_cfi.py
  DQMOffline/Trigger/python/ParticleNetAK8HbbTagMonitoring_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#39146 Particle net monitoring dqm 124 x
  DQMOffline/Trigger/plugins/BuildFile.xml
  DQMOffline/Trigger/plugins/ParticleNetJetTagMonitor.cc
  DQMOffline/Trigger/python/DQMOffline_HLT_Client_cff.py
  DQMOffline/Trigger/python/DQMOffline_Trigger_cff.py
  DQMOffline/Trigger/python/ParticleNetAK4BTagClient_cfi.py
  DQMOffline/Trigger/python/ParticleNetAK4BTagMonitoring_cfi.py
  DQMOffline/Trigger/python/ParticleNetAK8HbbTagClient_cfi.py
  DQMOffline/Trigger/python/ParticleNetAK8HbbTagMonitoring_cfi.py
  DQMOffline/Trigger/python/ParticleNetJetTagMonitoring_cff.py
  DQMOffline/Trigger/python/ParticleNetJetTag_Client_cff.py
  RecoBTag/Configuration/python/RecoBTag_cff.py
  RecoBTag/ONNXRuntime/python/pfParticleNetAK4_cff.py
Labels: dqm-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok

#39331 [12.5.X] Add Tracker Alignment di-muon monitoring to other resonances
  DQMOffline/Alignment/interface/DiMuonVertexMonitor.h
  DQMOffline/Alignment/python/ALCARECOTkAlDQM_cff.py
  DQMOffline/Alignment/python/DiMuonMassBiasHarvesting_cff.py
  DQMOffline/Alignment/python/DiMuonVertexMonitor_cfi.py
  DQMOffline/Alignment/src/DiMuonVertexMonitor.cc
  DQMOffline/Alignment/test/DiMuonTkAlDQMHarvester_cfg.py
  DQMOffline/Alignment/test/DiMuonTkAlDQMValidator_cfg.py
  DQMOffline/Alignment/test/testDiMuonVertexMonitor.sh
  DQMOffline/Configuration/python/DQMOffline_SecondStep_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#39162 Timing, Laser and Hot cell quality plots adjustments [12_4_X]
  DQM/EcalMonitorClient/interface/LaserClient.h
  DQM/EcalMonitorClient/interface/TimingClient.h
  DQM/EcalMonitorClient/python/LaserClient_cfi.py
  DQM/EcalMonitorClient/python/TimingClient_cfi.py
  DQM/EcalMonitorClient/src/LaserClient.cc
  DQM/EcalMonitorClient/src/OccupancyClient.cc
  DQM/EcalMonitorClient/src/TimingClient.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#39196 introduce `MASKING` operator in `triggerExpression::Parser`
  HLTrigger/HLTcore/interface/TriggerExpressionConstant.h
  HLTrigger/HLTcore/interface/TriggerExpressionData.h
  HLTrigger/HLTcore/interface/TriggerExpressionEvaluator.h
  HLTrigger/HLTcore/interface/TriggerExpressionL1uGTReader.h
  HLTrigger/HLTcore/interface/TriggerExpressionOperators.h
  HLTrigger/HLTcore/interface/TriggerExpressionParser.h
  HLTrigger/HLTcore/interface/TriggerExpressionPathReader.h
  HLTrigger/HLTcore/interface/TriggerExpressionPrescaler.h
  HLTrigger/HLTcore/src/TriggerExpressionL1uGTReader.cc
  HLTrigger/HLTcore/src/TriggerExpressionPathReader.cc
  HLTrigger/HLTcore/src/TriggerExpressionPrescaler.cc
  HLTrigger/HLTcore/test/test_catch2_TriggerExpressionParser.cc
  HLTrigger/HLTfilters/test/triggerResultsFilter_by_PathStatus.py
  HLTrigger/HLTfilters/test/triggerResultsFilter_by_PathStatus.sh
  HLTrigger/HLTfilters/test/triggerResultsFilter_by_TriggerResults.py
  HLTrigger/HLTfilters/test/triggerResultsFilter_by_TriggerResults.sh
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39342 Allow chaining of Modifier toModify() and toReplaceWith() calls
  FWCore/ParameterSet/python/Config.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39285 Fix try/catch in Vx3DHLTAnalyzer
  DQM/BeamMonitor/plugins/Vx3DHLTAnalyzer.cc
Labels: dqm-approved, fully-signed, tests-approved, db-approved, bug-fix, orp-approved, code-checks-approved

#39195 ECAL - Implement follow up issues for Phase 2 GPU reconstruction
  Configuration/PyReleaseValidation/README.md
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  RecoLocalCalo/EcalRecProducers/plugins/EcalPhase2DigiToGPUProducer.cc
  RecoLocalCalo/EcalRecProducers/plugins/EcalUncalibRecHitPhase2WeightsKernels.cu
  RecoLocalCalo/EcalRecProducers/plugins/EcalUncalibRecHitPhase2WeightsProducerGPU.cc
  RecoLocalCalo/EcalRecProducers/python/ecalUncalibRecHitPhase2_cff.py
Labels: reconstruction-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved, heterogeneous-approved

#39347 Add check of Tracker HV in BeamSpot DQM clients
  DQM/Integration/python/clients/beam_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamhlt_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/config/unitteststreamerinputsource_cfi.py
  RecoVertex/BeamSpotProducer/plugins/OnlineBeamSpotESProducer.cc
Labels: alca-approved, dqm-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, performance-improvements

#39336 Updating Muon tomography codes to display Scintillator hits
  Validation/HGCalValidation/scripts/testHGCalCellHitSum_cfg.py
  Validation/HGCalValidation/test/HGCalCellHitSum.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39318 Making L1UpgradeNtuples to be more PyFWLite friendly
  L1Trigger/L1TNtuples/interface/L1AnalysisL1Upgrade.h
  L1Trigger/L1TNtuples/src/L1AnalysisL1Upgrade.cc
  L1Trigger/L1TNtuples/src/classes.h
  L1Trigger/L1TNtuples/src/classes_def.xml
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39351 `SiStripHitEfficiency` PCL workflow, take into account modules with `FEDErrors`
  CalibTracker/SiStripHitEfficiency/interface/SiStripHitEffData.h
  CalibTracker/SiStripHitEfficiency/plugins/SiStripHitEfficiencyHarvester.cc
  CalibTracker/SiStripHitEfficiency/plugins/SiStripHitEfficiencyWorker.cc
  CalibTracker/SiStripHitEfficiency/src/TrajectoryAtInvalidHit.cc
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#39328 Add standalone track.extra() criteria to internal duplicate removal in MuonIdProducer
  RecoMuon/MuonIdentification/plugins/MuonIdProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39349 introduce `MASKING` operator in `triggerExpression::Parser` [`12_4_X`]
  HLTrigger/HLTcore/interface/TriggerExpressionConstant.h
  HLTrigger/HLTcore/interface/TriggerExpressionData.h
  HLTrigger/HLTcore/interface/TriggerExpressionEvaluator.h
  HLTrigger/HLTcore/interface/TriggerExpressionL1uGTReader.h
  HLTrigger/HLTcore/interface/TriggerExpressionOperators.h
  HLTrigger/HLTcore/interface/TriggerExpressionParser.h
  HLTrigger/HLTcore/interface/TriggerExpressionPathReader.h
  HLTrigger/HLTcore/interface/TriggerExpressionPrescaler.h
  HLTrigger/HLTcore/src/TriggerExpressionL1uGTReader.cc
  HLTrigger/HLTcore/src/TriggerExpressionPathReader.cc
  HLTrigger/HLTcore/src/TriggerExpressionPrescaler.cc
  HLTrigger/HLTcore/test/test_catch2_TriggerExpressionParser.cc
  HLTrigger/HLTfilters/test/triggerResultsFilter_by_PathStatus.py
  HLTrigger/HLTfilters/test/triggerResultsFilter_by_PathStatus.sh
  HLTrigger/HLTfilters/test/triggerResultsFilter_by_TriggerResults.py
  HLTrigger/HLTfilters/test/triggerResultsFilter_by_TriggerResults.sh
Labels: hlt-approved, fully-signed, tests-approved, orp-pending, urgent, backport-ok

#39341 [12_4_X] Fix try/catch in Vx3DHLTAnalyzer
  DQM/BeamMonitor/plugins/Vx3DHLTAnalyzer.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-pending, db-approved, bug-fix, urgent, backport-ok

#39326 Revive the green status on the lumi-based plots in GEM onlineDQM, a backport to 12_4_X
  DQM/GEM/plugins/GEMDQMHarvester.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-pending, urgent, backport-ok

#39353 [12_4_X] Add check of Tracker HV in BeamSpot DQM clients
  DQM/Integration/python/clients/beam_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamhlt_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/config/unitteststreamerinputsource_cfi.py
  RecoVertex/BeamSpotProducer/plugins/OnlineBeamSpotESProducer.cc
Labels: alca-approved, dqm-approved, reconstruction-approved, fully-signed, tests-approved, orp-pending, urgent, backport-ok, performance-improvements

#39352 [12_5_X] Add check of Tracker HV in BeamSpot DQM clients
  DQM/Integration/python/clients/beam_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamhlt_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/config/unitteststreamerinputsource_cfi.py
  RecoVertex/BeamSpotProducer/plugins/OnlineBeamSpotESProducer.cc
Labels: alca-approved, dqm-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, performance-improvements

#39348 introduce `MASKING` operator in `triggerExpression::Parser` [`12_5_X`]
  HLTrigger/HLTcore/interface/TriggerExpressionConstant.h
  HLTrigger/HLTcore/interface/TriggerExpressionData.h
  HLTrigger/HLTcore/interface/TriggerExpressionEvaluator.h
  HLTrigger/HLTcore/interface/TriggerExpressionL1uGTReader.h
  HLTrigger/HLTcore/interface/TriggerExpressionOperators.h
  HLTrigger/HLTcore/interface/TriggerExpressionParser.h
  HLTrigger/HLTcore/interface/TriggerExpressionPathReader.h
  HLTrigger/HLTcore/interface/TriggerExpressionPrescaler.h
  HLTrigger/HLTcore/src/TriggerExpressionL1uGTReader.cc
  HLTrigger/HLTcore/src/TriggerExpressionPathReader.cc
  HLTrigger/HLTcore/src/TriggerExpressionPrescaler.cc
  HLTrigger/HLTcore/test/test_catch2_TriggerExpressionParser.cc
  HLTrigger/HLTfilters/test/triggerResultsFilter_by_PathStatus.py
  HLTrigger/HLTfilters/test/triggerResultsFilter_by_PathStatus.sh
  HLTrigger/HLTfilters/test/triggerResultsFilter_by_TriggerResults.py
  HLTrigger/HLTfilters/test/triggerResultsFilter_by_TriggerResults.sh
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#39340 [12_5_X] Fix try/catch in Vx3DHLTAnalyzer
  DQM/BeamMonitor/plugins/Vx3DHLTAnalyzer.cc
Labels: dqm-approved, fully-signed, tests-approved, db-approved, bug-fix, orp-approved, backport-ok

#39228 Update muon shower (HMT) emulator [12_5_X]
  DataFormats/CSCDigi/interface/CSCShowerDigi.h
  DataFormats/CSCDigi/src/CSCShowerDigi.cc
  DataFormats/CSCDigi/src/classes_def.xml
  EventFilter/CSCRawToDigi/interface/CSCALCTHeader.h
  EventFilter/CSCRawToDigi/interface/CSCTMBHeader.h
  EventFilter/CSCRawToDigi/interface/CSCTMBHeader2006.h
  EventFilter/CSCRawToDigi/interface/CSCTMBHeader2007.h
  EventFilter/CSCRawToDigi/interface/CSCTMBHeader2007_rev0x50c3.h
  EventFilter/CSCRawToDigi/interface/CSCTMBHeader2013.h
  EventFilter/CSCRawToDigi/interface/CSCTMBHeader2020_CCLUT.h
  EventFilter/CSCRawToDigi/interface/CSCTMBHeader2020_GEM.h
  EventFilter/CSCRawToDigi/interface/CSCTMBHeader2020_Run2.h
  EventFilter/CSCRawToDigi/interface/CSCTMBHeader2020_TMB.h
  EventFilter/CSCRawToDigi/interface/CSCVTMBHeaderFormat.h
  EventFilter/CSCRawToDigi/src/CSCALCTHeader.cc
  EventFilter/CSCRawToDigi/src/CSCTMBHeader2020_CCLUT.cc
  EventFilter/CSCRawToDigi/src/CSCTMBHeader2020_GEM.cc
  EventFilter/CSCRawToDigi/src/CSCTMBHeader2020_TMB.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFBlockME.cc
  L1Trigger/CSCTriggerPrimitives/interface/CSCAnodeLCTProcessor.h
  L1Trigger/CSCTriggerPrimitives/interface/CSCCathodeLCTProcessor.h
  L1Trigger/CSCTriggerPrimitives/interface/CSCMotherboard.h
  L1Trigger/CSCTriggerPrimitives/interface/CSCTriggerPrimitivesBuilder.h
  L1Trigger/CSCTriggerPrimitives/python/cscTriggerPrimitiveDigis_cfi.py
  L1Trigger/CSCTriggerPrimitives/python/params/showerParams.py
  L1Trigger/CSCTriggerPrimitives/src/CSCAnodeLCTProcessor.cc
  L1Trigger/CSCTriggerPrimitives/src/CSCCathodeLCTProcessor.cc
  L1Trigger/CSCTriggerPrimitives/src/CSCMotherboard.cc
  L1Trigger/CSCTriggerPrimitives/src/CSCTriggerPrimitivesBuilder.cc
Labels: l1-approved, reconstruction-approved, simulation-approved, fully-signed, tests-approved, orp-pending, backport-ok

#39319 Reimplement the PortableCollection and related tests in CUDA
  CUDADataFormats/Common/BuildFile.xml
  CUDADataFormats/Common/interface/PortableDeviceCollection.h
  CUDADataFormats/Common/interface/PortableHostCollection.h
  CUDADataFormats/PortableTestObjects/BuildFile.xml
  CUDADataFormats/PortableTestObjects/interface/TestDeviceCollection.h
  CUDADataFormats/PortableTestObjects/interface/TestHostCollection.h
  CUDADataFormats/PortableTestObjects/src/classes.h
  CUDADataFormats/PortableTestObjects/src/classes_def.xml
  DataFormats/Portable/interface/PortableDeviceCollection.h
  DataFormats/Portable/interface/PortableHostCollection.h
  DataFormats/SoATemplate/test/SoALayoutAndView_t.cu
  HeterogeneousCore/AlpakaInterface/interface/getDeviceCachingAllocator.h
  HeterogeneousCore/AlpakaInterface/interface/host.h
  HeterogeneousCore/AlpakaTest/test/BuildFile.xml
  HeterogeneousCore/AlpakaTest/test/testHeterogeneousCoreAlpakaTestWriteRead.sh
  HeterogeneousCore/CUDATest/plugins/TestAlgo.cc
  HeterogeneousCore/CUDATest/plugins/TestAlgo.cu
  HeterogeneousCore/CUDATest/plugins/TestAlgo.h
  HeterogeneousCore/CUDATest/plugins/TestPortableAnalyzer.cc
  HeterogeneousCore/CUDATest/plugins/TestPortableProducerCPU.cc
  HeterogeneousCore/CUDATest/plugins/TestPortableProducerCUDA.cc
  HeterogeneousCore/CUDATest/plugins/TestPortableTranscriber.cc
  HeterogeneousCore/CUDATest/test/BuildFile.xml
  HeterogeneousCore/CUDATest/test/reader.py
  HeterogeneousCore/CUDATest/test/testHeterogeneousCoreCUDATestWriteRead.sh
  HeterogeneousCore/CUDATest/test/writer.py
  HeterogeneousCore/CUDAUtilities/interface/host_unique_ptr.h
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#39356 [12.5.X] `SiStripHitEfficiency` PCL workflow, take into account modules with `FEDErrors`
  CalibTracker/SiStripHitEfficiency/interface/SiStripHitEffData.h
  CalibTracker/SiStripHitEfficiency/plugins/SiStripHitEfficiencyHarvester.cc
  CalibTracker/SiStripHitEfficiency/plugins/SiStripHitEfficiencyWorker.cc
  CalibTracker/SiStripHitEfficiency/src/TrajectoryAtInvalidHit.cc
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#38454 Add Transformer ability to modules
  DataFormats/Provenance/interface/BranchDescription.h
  DataFormats/Provenance/src/BranchDescription.cc
  FWCore/Framework/interface/EDConsumerBase.h
  FWCore/Framework/interface/EventForTransformer.h
  FWCore/Framework/interface/Principal.h
  FWCore/Framework/interface/ProducerBase.h
  FWCore/Framework/interface/ProductRegistryHelper.h
  FWCore/Framework/interface/TransformerBase.h
  FWCore/Framework/interface/global/EDFilterBase.h
  FWCore/Framework/interface/global/EDProducerBase.h
  FWCore/Framework/interface/global/filterAbilityToImplementor.h
  FWCore/Framework/interface/global/implementors.h
  FWCore/Framework/interface/global/producerAbilityToImplementor.h
  FWCore/Framework/interface/limited/EDFilterBase.h
  FWCore/Framework/interface/limited/EDProducerBase.h
  FWCore/Framework/interface/limited/filterAbilityToImplementor.h
  FWCore/Framework/interface/limited/implementors.h
  FWCore/Framework/interface/limited/producerAbilityToImplementor.h
  FWCore/Framework/interface/maker/Worker.h
  FWCore/Framework/interface/maker/WorkerT.h
  FWCore/Framework/interface/moduleAbilities.h
  FWCore/Framework/interface/moduleAbilityEnums.h
  FWCore/Framework/interface/one/EDFilterBase.h
  FWCore/Framework/interface/one/EDProducerBase.h
  FWCore/Framework/interface/one/filterAbilityToImplementor.h
  FWCore/Framework/interface/one/implementors.h
  FWCore/Framework/interface/one/producerAbilityToImplementor.h
  FWCore/Framework/interface/stream/AbilityChecker.h
  FWCore/Framework/interface/stream/AbilityToImplementor.h
  FWCore/Framework/interface/stream/EDProducer.h
  FWCore/Framework/interface/stream/EDProducerBase.h
  FWCore/Framework/interface/stream/ProducingModuleAdaptorBase.h
  FWCore/Framework/interface/stream/implementors.h
  FWCore/Framework/src/EDConsumerBase.cc
  FWCore/Framework/src/EventForTransformer.cc
  FWCore/Framework/src/Principal.cc
  FWCore/Framework/src/ProductRegistryHelper.cc
  FWCore/Framework/src/ProductResolvers.cc
  FWCore/Framework/src/ProductResolvers.h
  FWCore/Framework/src/TransformerBase.cc
  FWCore/Framework/src/Worker.cc
  FWCore/Framework/src/WorkerT.cc
  FWCore/Framework/src/global/EDFilterBase.cc
  FWCore/Framework/src/global/EDProducerBase.cc
  FWCore/Framework/src/limited/EDFilterBase.cc
  FWCore/Framework/src/limited/EDProducerBase.cc
  FWCore/Framework/src/one/EDFilterBase.cc
  FWCore/Framework/src/one/EDProducerBase.cc
  FWCore/Framework/src/stream/EDProducerAdaptorBase.cc
  FWCore/Framework/src/stream/EDProducerBase.cc
  FWCore/Framework/src/stream/ProducingModuleAdaptorBase.cc
  FWCore/Framework/test/global_filter_t.cppunit.cc
  FWCore/Framework/test/global_producer_t.cppunit.cc
  FWCore/Framework/test/limited_filter_t.cppunit.cc
  FWCore/Framework/test/limited_producer_t.cppunit.cc
  FWCore/Framework/test/stubs/TestGlobalProducers.cc
  FWCore/Integration/test/BuildFile.xml
  FWCore/Integration/test/TransformIntProducer.cc
  FWCore/Integration/test/TransformIntStreamProducer.cc
  FWCore/Integration/test/transformTest_cfg.py
Labels: core-approved, fully-signed, tests-rejected, orp-approved, code-checks-approved

#39358 Fixed RP IDs in the PPS alignment harvester
  CalibPPS/AlignmentGlobal/plugins/PPSAlignmentHarvester.cc
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved, ctpps

#39357 [12.4.X] `SiStripHitEfficiency` PCL workflow, take into account modules with `FEDErrors`
  CalibTracker/SiStripHitEfficiency/interface/SiStripHitEffData.h
  CalibTracker/SiStripHitEfficiency/plugins/SiStripHitEfficiencyHarvester.cc
  CalibTracker/SiStripHitEfficiency/plugins/SiStripHitEfficiencyWorker.cc
  CalibTracker/SiStripHitEfficiency/src/TrajectoryAtInvalidHit.cc
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, backport-ok

#39361 [124X] Fixed RP IDs in the PPS alignment harvester
  CalibPPS/AlignmentGlobal/plugins/PPSAlignmentHarvester.cc
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, backport-ok, ctpps

#39360 [125X] Fixed RP IDs in the PPS alignment harvester
  CalibPPS/AlignmentGlobal/plugins/PPSAlignmentHarvester.cc
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, ctpps

#39321 Reimplement the PortableCollection and related tests in CUDA [12.5.x]
  CUDADataFormats/Common/BuildFile.xml
  CUDADataFormats/Common/interface/PortableDeviceCollection.h
  CUDADataFormats/Common/interface/PortableHostCollection.h
  CUDADataFormats/PortableTestObjects/BuildFile.xml
  CUDADataFormats/PortableTestObjects/interface/TestDeviceCollection.h
  CUDADataFormats/PortableTestObjects/interface/TestHostCollection.h
  CUDADataFormats/PortableTestObjects/src/classes.h
  CUDADataFormats/PortableTestObjects/src/classes_def.xml
  DataFormats/Portable/interface/PortableDeviceCollection.h
  DataFormats/Portable/interface/PortableHostCollection.h
  DataFormats/SoATemplate/test/SoALayoutAndView_t.cu
  HeterogeneousCore/AlpakaInterface/interface/getDeviceCachingAllocator.h
  HeterogeneousCore/AlpakaInterface/interface/host.h
  HeterogeneousCore/AlpakaTest/test/BuildFile.xml
  HeterogeneousCore/AlpakaTest/test/testHeterogeneousCoreAlpakaTestWriteRead.sh
  HeterogeneousCore/CUDATest/plugins/TestAlgo.cc
  HeterogeneousCore/CUDATest/plugins/TestAlgo.cu
  HeterogeneousCore/CUDATest/plugins/TestAlgo.h
  HeterogeneousCore/CUDATest/plugins/TestPortableAnalyzer.cc
  HeterogeneousCore/CUDATest/plugins/TestPortableProducerCPU.cc
  HeterogeneousCore/CUDATest/plugins/TestPortableProducerCUDA.cc
  HeterogeneousCore/CUDATest/plugins/TestPortableTranscriber.cc
  HeterogeneousCore/CUDATest/test/BuildFile.xml
  HeterogeneousCore/CUDATest/test/reader.py
  HeterogeneousCore/CUDATest/test/testHeterogeneousCoreCUDATestWriteRead.sh
  HeterogeneousCore/CUDATest/test/writer.py
  HeterogeneousCore/CUDAUtilities/interface/host_unique_ptr.h
Labels: fully-signed, tests-approved, orp-approved, backport-ok, heterogeneous-approved

#39366 Add extra options to the simulation step
  SimG4Core/Application/python/g4SimHits_cfi.py
  SimG4Core/Application/src/ParametrisedEMPhysics.cc
  SimG4Core/Application/src/RunManagerMT.cc
  SimG4Core/PhysicsLists/interface/CMSHadronPhysicsFTFP_BERT.h
  SimG4Core/PhysicsLists/src/CMSHadronPhysicsFTFP_BERT.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39179 don't produce duplicate outputs in `HLTPFJetsMatchedToFilteredJetsProducer`
  HLTrigger/JetMET/interface/HLTPFJetsMatchedToFilteredJetsProducer.h
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, jetmet-pog-approved

#39325 Revive the green status on the lumi-based plots in GEM onlineDQM, a backport to 12_5_X
  DQM/GEM/plugins/GEMDQMHarvester.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#39367 fix testNoParentDictionary to properly copy the contents of DataFormats/TestObjects
  IOPool/Input/test/testNoParentDictionary.sh
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39370 enable testFWCoreIntegrationTransform_noPut unit test
  FWCore/Integration/test/BuildFile.xml
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39363 Simplify L1TPhase2MuonOffline and fix L1TRate_Offline and L1TStage2CaloLayer2Offline [CMSSW_12_5_X]
  DQMOffline/L1Trigger/interface/L1TPhase2MuonOffline.h
  DQMOffline/L1Trigger/src/L1TPhase2MuonOffline.cc
  DQMOffline/L1Trigger/src/L1TRate_Offline.cc
  DQMOffline/L1Trigger/src/L1TStage2CaloLayer2Offline.cc
Labels: dqm-approved, l1-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#39377 support `XOR` operator in `triggerExpression::Parser`
  HLTrigger/HLTcore/interface/TriggerExpressionParser.h
  HLTrigger/HLTcore/test/test_catch2_TriggerExpressionParser.cc
  HLTrigger/HLTfilters/test/triggerResultsFilter_by_PathStatus.py
  HLTrigger/HLTfilters/test/triggerResultsFilter_by_PathStatus.sh
  HLTrigger/HLTfilters/test/triggerResultsFilter_by_TriggerResults.py
  HLTrigger/HLTfilters/test/triggerResultsFilter_by_TriggerResults.sh
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39376 Fixed compilation in Geant4 IBs
  SimG4Core/PhysicsLists/src/CMSHadronPhysicsFTFP_BERT.cc
Labels: simulation-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#39369 Miscellaneous updates to `TkHistoMap`
  DQM/SiStripCommon/interface/TkHistoMap.h
  DQM/SiStripCommon/src/TkHistoMap.cc
  DQM/SiStripCommon/test/BuildFile.xml
  DQM/SiStripCommon/test/plugins/Test_SiStrip_HistId.cc
  DQM/SiStripCommon/test/plugins/testSiStripHistId.cc
  DQM/SiStripCommon/test/plugins/testTkHistoMap.cc
  DQM/SiStripCommon/test/testSiStripHistId_cfg.py
  DQM/SiStripCommon/test/testTkHistoMap_cfg.py
  DQM/SiStripCommon/test/test_id_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39381 [12_5_X] Update PPS DMD tag, remove deprecated SiStrip DMD tag
  CondFormats/Common/data/CTPPSRPAlignmentCorrectionsDataRcd_prep.json
  CondFormats/Common/data/CTPPSRPAlignmentCorrectionsDataRcd_prod.json
  CondFormats/Common/data/PPSTimingCalibrationRcd_Sampic_prep.json
  CondFormats/Common/data/PPSTimingCalibrationRcd_Sampic_prod.json
  CondFormats/Common/data/SiStripApvGainRcdAfterAbortGap_prep.json
  CondFormats/Common/data/SiStripApvGainRcdAfterAbortGap_prod.json
  CondFormats/Common/test/DropBoxMetadataReader.py
  CondFormats/Common/test/ProduceDropBoxMetadata.py
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, backport-ok

#39383 [12_4_X] Update PPS DMD tag, remove deprecated SiStrip DMD tag, add `SiStripBadStripFromHitEffRcd`
  CondFormats/Common/data/CTPPSRPAlignmentCorrectionsDataRcd_prep.json
  CondFormats/Common/data/CTPPSRPAlignmentCorrectionsDataRcd_prod.json
  CondFormats/Common/data/PPSTimingCalibrationRcd_Sampic_prep.json
  CondFormats/Common/data/PPSTimingCalibrationRcd_Sampic_prod.json
  CondFormats/Common/data/SiStripApvGainRcdAfterAbortGap_prep.json
  CondFormats/Common/data/SiStripApvGainRcdAfterAbortGap_prod.json
  CondFormats/Common/data/SiStripBadStripFromHitEffRcd_prep.json
  CondFormats/Common/data/SiStripBadStripFromHitEffRcd_prod.json
  CondFormats/Common/test/DropBoxMetadataReader.py
  CondFormats/Common/test/ProduceDropBoxMetadata.py
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, backport-ok

#39379 support `XOR` operator in `triggerExpression::Parser` [`12_4_X`]
  HLTrigger/HLTcore/interface/TriggerExpressionParser.h
  HLTrigger/HLTcore/test/test_catch2_TriggerExpressionParser.cc
  HLTrigger/HLTfilters/test/triggerResultsFilter_by_PathStatus.py
  HLTrigger/HLTfilters/test/triggerResultsFilter_by_PathStatus.sh
  HLTrigger/HLTfilters/test/triggerResultsFilter_by_TriggerResults.py
  HLTrigger/HLTfilters/test/triggerResultsFilter_by_TriggerResults.sh
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#39378 support `XOR` operator in `triggerExpression::Parser` [`12_5_X`]
  HLTrigger/HLTcore/interface/TriggerExpressionParser.h
  HLTrigger/HLTcore/test/test_catch2_TriggerExpressionParser.cc
  HLTrigger/HLTfilters/test/triggerResultsFilter_by_PathStatus.py
  HLTrigger/HLTfilters/test/triggerResultsFilter_by_PathStatus.sh
  HLTrigger/HLTfilters/test/triggerResultsFilter_by_TriggerResults.py
  HLTrigger/HLTfilters/test/triggerResultsFilter_by_TriggerResults.sh
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#39375 RUn3-alca230X Fix some bugs and make the scripts workable for calibrating HCAL with Run3 data and MC
  Calibration/HcalCalibAlgos/macros/CalibFitPlots.C
  Calibration/HcalCalibAlgos/macros/CalibMain.C
  Calibration/HcalCalibAlgos/macros/CalibMonitor.C
  Calibration/HcalCalibAlgos/macros/CalibPlotProperties.C
  Calibration/HcalCalibAlgos/macros/CalibTree.C
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, hcal

#37951 Phase2-gex134 Modify C17 to see the new numbering of HCAL
  Configuration/Geometry/python/dict2026Geometry.py
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D86.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D88.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D91.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D86XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D88XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D91XML_cfi.py
Labels: geometry-approved, fully-signed, tests-approved, bug-fix, orp-approved, upgrade-approved, code-checks-approved

#39330 [12_4_X] Fix Pixel Clusters for Phase2 HLT Menu
  HLTrigger/Configuration/python/HLT_75e33/modules/siPixelClusters_cfi.py
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#39392 Modernized RecoTauTag/HLTProducers modules
  RecoTauTag/HLTProducers/interface/DQMTauProducer.h
  RecoTauTag/HLTProducers/interface/L1HLTJetsMatching.h
  RecoTauTag/HLTProducers/interface/L2TauPixelTrackMatch.h
  RecoTauTag/HLTProducers/interface/PFJetToCaloProducer.h
  RecoTauTag/HLTProducers/interface/PFTauToJetProducer.h
  RecoTauTag/HLTProducers/src/CaloTowerCreatorForTauHLT.cc
  RecoTauTag/HLTProducers/src/CaloTowerFromL1TCreatorForTauHLT.cc
  RecoTauTag/HLTProducers/src/CaloTowerFromL1TSeededCreatorForTauHLT.cc
  RecoTauTag/HLTProducers/src/DQMTauProducer.cc
  RecoTauTag/HLTProducers/src/HLTPFTauPairLeadTrackDzMatchFilter.cc
  RecoTauTag/HLTProducers/src/L1HLTJetsMatching.cc
  RecoTauTag/HLTProducers/src/L1HLTTauMatching.cc
  RecoTauTag/HLTProducers/src/L1TCaloJetsMatching.cc
  RecoTauTag/HLTProducers/src/L1THLTTauMatching.cc
  RecoTauTag/HLTProducers/src/L1TPFJetsMatching.cc
  RecoTauTag/HLTProducers/src/L2TauJetsMerger.cc
  RecoTauTag/HLTProducers/src/L2TauPixelIsoTagProducer.cc
  RecoTauTag/HLTProducers/src/L2TauPixelTrackMatch.cc
  RecoTauTag/HLTProducers/src/PFJetToCaloProducer.cc
  RecoTauTag/HLTProducers/src/PFJetsMaxInvMassModule.cc
  RecoTauTag/HLTProducers/src/PFJetsTauOverlapRemoval.cc
  RecoTauTag/HLTProducers/src/PFTauL1TJetsMatching.cc
  RecoTauTag/HLTProducers/src/PFTauToJetProducer.cc
  RecoTauTag/HLTProducers/src/SealModule.cc
  RecoTauTag/HLTProducers/src/TauJetSelectorForHLTTrackSeeding.cc
  RecoTauTag/HLTProducers/src/TauRegionalPixelSeedGenerator.cc
  RecoTauTag/HLTProducers/src/TauRegionalPixelSeedTrackingRegionEDProducer.cc
  RecoTauTag/HLTProducers/src/TrackingRegionsFromBeamSpotAndL2Tau.cc
  RecoTauTag/HLTProducers/src/TrackingRegionsFromBeamSpotAndL2Tau.h
  RecoTauTag/HLTProducers/src/TrackingRegionsFromBeamSpotAndL2TauEDProducer.cc
  RecoTauTag/HLTProducers/src/VertexFromTrackProducer.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39371 ECAL DQM GpuTask move enable flag checks to avoid unused collections from being consumed
  DQM/EcalMonitorTasks/interface/GpuTask.h
  DQM/EcalMonitorTasks/src/GpuTask.cc
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, ecal

#39294 PPS NANOAOD dependency hotfix
  PhysicsTools/NanoAOD/python/protons_cff.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#39373 [12_4_X] ECAL DQM GpuTask move enable flag checks to avoid unused collections from being consumed
  DQM/EcalMonitorTasks/interface/GpuTask.h
  DQM/EcalMonitorTasks/src/GpuTask.cc
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, ecal

#39372 [12_5_X] ECAL DQM GpuTask move enable flag checks to avoid unused collections from being consumed
  DQM/EcalMonitorTasks/interface/GpuTask.h
  DQM/EcalMonitorTasks/src/GpuTask.cc
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, ecal

#39391 Extend alternative module type loading to EventSetup
  FWCore/Framework/interface/ComponentFactory.h
  FWCore/Framework/interface/EventSetupProvider.h
  FWCore/Framework/interface/EventSetupsController.h
  FWCore/Framework/interface/resolveMaker.h
  FWCore/Framework/src/EventProcessor.cc
  FWCore/Framework/src/EventSetupProvider.cc
  FWCore/Framework/src/EventSetupProviderMaker.cc
  FWCore/Framework/src/EventSetupProviderMaker.h
  FWCore/Framework/src/EventSetupsController.cc
  FWCore/Framework/src/Factory.cc
  FWCore/Framework/src/resolverMaker.cc
  FWCore/Framework/test/TestTypeResolvers.h
  FWCore/Framework/test/eventsetupplugin_t.cppunit.cc
  FWCore/Framework/test/test_catch2_Factory.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39382 supply DQM for `SiPixelCalSingleMuonTight`
  Configuration/StandardSequences/python/AlCaRecoStreams_cff.py
  DQMOffline/CalibTracker/plugins/BuildFile.xml
  DQMOffline/CalibTracker/plugins/SiPixelCalSingleMuonAnalyzer.cc
  DQMOffline/CalibTracker/python/ALCARECOSiPixelCalSingleMuonDQM_cff.py
  DQMOffline/CalibTracker/python/SiPixelCalSingleMuonAnalyzer_cfi.py
  DQMOffline/Configuration/python/ALCARECOTkCalDQM_cff.py
Labels: dqm-pending, operations-approved, pending-signatures, tests-approved, orp-approved, new-feature, code-checks-approved, trk

#39406 Add additional info for a SharedMemory exception
  FWCore/SharedMemory/src/WriteBuffer.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39398 Fix the `NVProfilerService` and `ProcessCallGraph`
  HLTrigger/Timer/interface/ProcessCallGraph.h
  HLTrigger/Timer/src/ProcessCallGraph.cc
  HeterogeneousCore/CUDAServices/plugins/BuildFile.xml
  HeterogeneousCore/CUDAServices/plugins/NVProfilerService.cc
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, heterogeneous-approved

#39396 Split L1TMuonPhase2/Constants.h header and move Phase2L1GMT private headers in to plugins
  DataFormats/L1TMuonPhase2/interface/Constants.h
  DataFormats/L1TMuonPhase2/interface/SAMuon.h
  DataFormats/L1TMuonPhase2/src/SAMuon.cc
  L1Trigger/Phase2L1GMT/plugins/BuildFile.xml
  L1Trigger/Phase2L1GMT/plugins/Constants.h
  L1Trigger/Phase2L1GMT/plugins/ConvertedTTTrack.h
  L1Trigger/Phase2L1GMT/plugins/Isolation.h
  L1Trigger/Phase2L1GMT/plugins/MuonROI.h
  L1Trigger/Phase2L1GMT/plugins/Node.h
  L1Trigger/Phase2L1GMT/plugins/Phase2L1TGMTProducer.cc
  L1Trigger/Phase2L1GMT/plugins/PreTrackMatchedMuon.h
  L1Trigger/Phase2L1GMT/plugins/ROITempAssociator.h
  L1Trigger/Phase2L1GMT/plugins/Tauto3Mu.h
  L1Trigger/Phase2L1GMT/plugins/TopologicalAlgorithm.h
  L1Trigger/Phase2L1GMT/plugins/TrackConverter.h
  L1Trigger/Phase2L1GMT/plugins/TrackMuonMatchAlgorithm.h
Labels: l1-approved, fully-signed, tests-approved, orp-approved, urgent, code-checks-approved

#39390 [12_5_X] Modify RPC and GEM unpacker blocks in EMTF unpacker to match the new Run 3 format
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFBlockGEM.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFBlockRPC.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFSetup.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, backport-ok

#39389 [12_4_X] Modify RPC and GEM unpacker blocks in EMTF unpacker to match the new Run 3 format
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFBlockGEM.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFBlockRPC.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFSetup.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok

#39227 HBHE: arrival time
  DataFormats/HcalRecHit/interface/HcalSpecialTimes.h
  RecoLocalCalo/HcalRecAlgos/interface/MahiFit.h
  RecoLocalCalo/HcalRecAlgos/src/MahiFit.cc
  RecoLocalCalo/HcalRecAlgos/src/SimpleHBHEPhase1Algo.cc
  RecoLocalCalo/HcalRecAlgos/src/parseHBHEPhase1AlgoDescription.cc
  RecoLocalCalo/HcalRecAlgos/test/MahiDebugger.cc
  RecoLocalCalo/HcalRecProducers/python/HBHEMahiParameters_cfi.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, code-checks-approved

#39423 move the PackedCandidate::firstHit_ member data to protected instead of public
  DataFormats/PatCandidates/interface/PackedCandidate.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39408 Modernize modules in DQMOffline/Trigger
  DQMOffline/Trigger/interface/DQMOfflineHLTEventInfoClient.h
  DQMOffline/Trigger/interface/EgHLTOfflineSummaryClient.h
  DQMOffline/Trigger/interface/HLTInclusiveVBFClient.h
  DQMOffline/Trigger/plugins/DQMGenericTnPClient.cc
  DQMOffline/Trigger/plugins/DQMOfflineHLTEventInfoClient.cc
  DQMOffline/Trigger/plugins/EgHLTOfflineClient.cc
  DQMOffline/Trigger/plugins/EgHLTOfflineSource.cc
  DQMOffline/Trigger/plugins/EgHLTOfflineSummaryClient.cc
  DQMOffline/Trigger/plugins/FSQDiJetAve.cc
  DQMOffline/Trigger/plugins/HLTInclusiveVBFClient.cc
  DQMOffline/Trigger/plugins/HLTInclusiveVBFSource.cc
  DQMOffline/Trigger/plugins/HLTOverallSummary.cc
  DQMOffline/Trigger/plugins/HLTTauCertifier.cc
  DQMOffline/Trigger/plugins/HLTTauDQMOfflineSource.cc
  DQMOffline/Trigger/plugins/HLTTauPostProcessor.cc
  DQMOffline/Trigger/plugins/HLTTauRefProducer.cc
  DQMOffline/Trigger/plugins/JetMETHLTOfflineClient.cc
  DQMOffline/Trigger/plugins/JetMETHLTOfflineSource.cc
  DQMOffline/Trigger/plugins/SealModule.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39393 ECAL - Switch off online ECAL RecHit GPU vs. CPU monitoring
  DQM/Integration/python/clients/ecalgpu_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#39424 add summary plot for differences for all coordinates in the Tracker Alignment Payload Inspector
  CondCore/AlignmentPlugins/interface/AlignmentPayloadInspectorHelper.h
  CondCore/AlignmentPlugins/plugins/TrackerAlignment_PayloadInspector.cc
  CondCore/AlignmentPlugins/test/testTrackerAlignment.sh
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#39277 Run3-sim127A Try to avoid compilation warnings in IOMC/Input
  IOMC/Input/plugins/BuildFile.xml
  IOMC/Input/plugins/HepMCEventWriter.cc
  IOMC/Input/test/testWriter_cfg.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39387 AlCa Run3 Heavy Ion scenarios
  Configuration/DataProcessing/python/Impl/hcalnzsEra_Run3_pp_on_PbPb.py
  Configuration/DataProcessing/python/Impl/ppEra_Run3_pp_on_PbPb.py
  Configuration/DataProcessing/python/Impl/trackingOnlyEra_Run3_pp_on_PbPb.py
  Configuration/DataProcessing/python/RecoTLR.py
  Configuration/DataProcessing/test/run_CfgTest.sh
  DQM/TrackingMonitorSource/python/PPonAATrackingOnly_custom.py
Labels: alca-approved, dqm-approved, operations-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, code-checks-approved

#39410 [125X] Split L1TMuonPhase2/Constants.h header and move Phase2L1GMT private headers in to plugins
  DataFormats/L1TMuonPhase2/interface/Constants.h
  DataFormats/L1TMuonPhase2/interface/SAMuon.h
  DataFormats/L1TMuonPhase2/src/SAMuon.cc
  L1Trigger/Phase2L1GMT/plugins/BuildFile.xml
  L1Trigger/Phase2L1GMT/plugins/Constants.h
  L1Trigger/Phase2L1GMT/plugins/ConvertedTTTrack.h
  L1Trigger/Phase2L1GMT/plugins/Isolation.h
  L1Trigger/Phase2L1GMT/plugins/MuonROI.h
  L1Trigger/Phase2L1GMT/plugins/Node.h
  L1Trigger/Phase2L1GMT/plugins/Phase2L1TGMTProducer.cc
  L1Trigger/Phase2L1GMT/plugins/PreTrackMatchedMuon.h
  L1Trigger/Phase2L1GMT/plugins/ROITempAssociator.h
  L1Trigger/Phase2L1GMT/plugins/Tauto3Mu.h
  L1Trigger/Phase2L1GMT/plugins/TopologicalAlgorithm.h
  L1Trigger/Phase2L1GMT/plugins/TrackConverter.h
  L1Trigger/Phase2L1GMT/plugins/TrackMuonMatchAlgorithm.h
Labels: l1-approved, fully-signed, tests-approved, orp-approved, backport-ok

#39400 Fix the `NVProfilerService` and `ProcessCallGraph` [12.5.x]
  HLTrigger/Timer/interface/ProcessCallGraph.h
  HLTrigger/Timer/src/ProcessCallGraph.cc
  HeterogeneousCore/CUDAServices/plugins/BuildFile.xml
  HeterogeneousCore/CUDAServices/plugins/NVProfilerService.cc
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, heterogeneous-approved

#39399 Fix the `NVProfilerService` and `ProcessCallGraph` [12.4.x]
  HLTrigger/Timer/interface/ProcessCallGraph.h
  HLTrigger/Timer/src/ProcessCallGraph.cc
  HeterogeneousCore/CUDAServices/plugins/BuildFile.xml
  HeterogeneousCore/CUDAServices/plugins/NVProfilerService.cc
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, heterogeneous-approved

#39386 [12.4.X] supply DQM for `SiPixelCalSingleMuonTight`
  Configuration/StandardSequences/python/AlCaRecoStreams_cff.py
  DQMOffline/CalibTracker/plugins/BuildFile.xml
  DQMOffline/CalibTracker/plugins/SiPixelCalSingleMuonAnalyzer.cc
  DQMOffline/CalibTracker/python/ALCARECOSiPixelCalSingleMuonDQM_cff.py
  DQMOffline/CalibTracker/python/SiPixelCalSingleMuonAnalyzer_cfi.py
  DQMOffline/Configuration/python/ALCARECOTkCalDQM_cff.py
Labels: dqm-approved, operations-approved, fully-signed, tests-approved, orp-approved, new-feature, urgent, backport-ok, trk

#39385 [12.5.X] supply DQM for `SiPixelCalSingleMuonTight`
  Configuration/StandardSequences/python/AlCaRecoStreams_cff.py
  DQMOffline/CalibTracker/plugins/BuildFile.xml
  DQMOffline/CalibTracker/plugins/SiPixelCalSingleMuonAnalyzer.cc
  DQMOffline/CalibTracker/python/ALCARECOSiPixelCalSingleMuonDQM_cff.py
  DQMOffline/CalibTracker/python/SiPixelCalSingleMuonAnalyzer_cfi.py
  DQMOffline/Configuration/python/ALCARECOTkCalDQM_cff.py
Labels: dqm-approved, operations-approved, fully-signed, tests-approved, orp-approved, new-feature, backport-ok, trk

#39395 ECAL - Switch off online ECAL RecHit GPU vs. CPU monitoring - 12_4_X
  DQM/Integration/python/clients/ecalgpu_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, requires-external, backport-ok

#39394 ECAL - Switch off online ECAL RecHit GPU vs. CPU monitoring - 12_5_X
  DQM/Integration/python/clients/ecalgpu_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, requires-external, backport-ok

#39364 HBHE: arrival time [ backport 12_5 ]
  DataFormats/HcalRecHit/interface/HcalSpecialTimes.h
  RecoLocalCalo/HcalRecAlgos/interface/MahiFit.h
  RecoLocalCalo/HcalRecAlgos/src/MahiFit.cc
  RecoLocalCalo/HcalRecAlgos/src/SimpleHBHEPhase1Algo.cc
  RecoLocalCalo/HcalRecAlgos/src/parseHBHEPhase1AlgoDescription.cc
  RecoLocalCalo/HcalRecAlgos/test/MahiDebugger.cc
  RecoLocalCalo/HcalRecProducers/python/HBHEMahiParameters_cfi.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok

#39365 HBHE: arrival time [ backport 12_4 ]
  DataFormats/HcalRecHit/interface/HcalSpecialTimes.h
  RecoLocalCalo/HcalRecAlgos/interface/MahiFit.h
  RecoLocalCalo/HcalRecAlgos/src/MahiFit.cc
  RecoLocalCalo/HcalRecAlgos/src/SimpleHBHEPhase1Algo.cc
  RecoLocalCalo/HcalRecAlgos/src/parseHBHEPhase1AlgoDescription.cc
  RecoLocalCalo/HcalRecAlgos/test/MahiDebugger.cc
  RecoLocalCalo/HcalRecProducers/python/HBHEMahiParameters_cfi.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok

#39433 Update input file for HLT `addOnTests` on Run-3 Data
  Configuration/HLT/python/addOnTestsHLT.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39413 [12_4_X] Added protection against out-of-range BX values in EMTF unpacker blocks
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFBlockME.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFBlockSP.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, backport-ok

#39434 Update input file for HLT `addOnTests` on Run-3 Data [`12_5_X`]
  Configuration/HLT/python/addOnTestsHLT.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#39435 Update input file for HLT `addOnTests` on Run-3 Data [`12_4_X`]
  Configuration/HLT/python/addOnTestsHLT.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#39414 [12.4.X] Move Phase2L1GMT private headers in to plugins dir
  DataFormats/L1TMuonPhase2/interface/SAMuon.h
  DataFormats/L1TMuonPhase2/src/SAMuon.cc
  L1Trigger/Phase2L1GMT/plugins/Constants.h
  L1Trigger/Phase2L1GMT/plugins/ConvertedTTTrack.h
  L1Trigger/Phase2L1GMT/plugins/Isolation.h
  L1Trigger/Phase2L1GMT/plugins/MuonROI.h
  L1Trigger/Phase2L1GMT/plugins/Node.h
  L1Trigger/Phase2L1GMT/plugins/Phase2L1TGMTProducer.cc
  L1Trigger/Phase2L1GMT/plugins/Phase2L1TGMTSAMuonProducer.cc
  L1Trigger/Phase2L1GMT/plugins/PreTrackMatchedMuon.h
  L1Trigger/Phase2L1GMT/plugins/ROITempAssociator.h
  L1Trigger/Phase2L1GMT/plugins/Tauto3Mu.h
  L1Trigger/Phase2L1GMT/plugins/TopologicalAlgorithm.h
  L1Trigger/Phase2L1GMT/plugins/TrackConverter.h
  L1Trigger/Phase2L1GMT/plugins/TrackMuonMatchAlgorithm.h
Labels: l1-approved, fully-signed, tests-approved, orp-approved, backport-ok

#39444 Cast enum class objects to int in SiStripRawToDigiUnpacker `fmt::format`
  EventFilter/SiStripRawToDigi/plugins/SiStripRawToDigiUnpacker.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39407 do not drop pixel duplicates for phase-2 IT reconstruction
  RecoLocalTracker/SiPixelClusterizer/plugins/PixelThresholdClusterizer.cc
  RecoLocalTracker/SiPixelClusterizer/plugins/PixelThresholdClusterizer.h
  RecoLocalTracker/SiPixelClusterizer/python/SiPixelClusterizer_cfi.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39302 [HGCAL] TICL: Apply energy regression and fix window cut.
  RecoHGCal/TICL/plugins/LinkingAlgoBase.h
  RecoHGCal/TICL/plugins/LinkingAlgoByDirectionGeometric.cc
  RecoHGCal/TICL/plugins/LinkingAlgoByDirectionGeometric.h
  RecoHGCal/TICL/plugins/PFTICLProducer.cc
  RecoHGCal/TICL/plugins/TrackstersMergeProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, requires-external, code-checks-approved

#39220 deprecate integer types for L1T and HLT prescales in `HLTConfigData` and its clients
  Alignment/OfflineValidation/plugins/EopElecTreeWriter.cc
  Calibration/HcalCalibAlgos/test/GammaJetAnalysis.cc
  Calibration/IsolatedParticles/plugins/IsoTrig.cc
  CommonTools/TriggerUtils/interface/PrescaleWeightProvider.h
  CommonTools/TriggerUtils/plugins/CandidateTriggerObjectProducer.cc
  CommonTools/TriggerUtils/src/PrescaleWeightProvider.cc
  DPGAnalysis/Skims/interface/TriggerMatchProducer.h
  DQM/Physics/src/EwkMuLumiMonitorDQM.cc
  DQMOffline/Trigger/plugins/BPHMonitor.cc
  DataFormats/PatCandidates/interface/PackedTriggerPrescales.h
  DataFormats/PatCandidates/interface/TriggerPath.h
  DataFormats/PatCandidates/src/PackedTriggerPrescales.cc
  DataFormats/PatCandidates/src/TriggerPath.cc
  DataFormats/PatCandidates/src/classes_def_trigger.xml
  HLTrigger/HLTanalyzers/plugins/HLTInfo.cc
  HLTrigger/HLTanalyzers/plugins/HLTInfo.h
  HLTrigger/HLTcore/interface/HLTConfigData.h
  HLTrigger/HLTcore/interface/HLTConfigProvider.h
  HLTrigger/HLTcore/interface/HLTPrescaleProvider.h
  HLTrigger/HLTcore/plugins/HLTEventAnalyzerAOD.cc
  HLTrigger/HLTcore/plugins/HLTPrescaleExample.cc
  HLTrigger/HLTcore/src/HLTConfigData.cc
  HLTrigger/HLTcore/src/HLTPrescaleProvider.cc
  HLTrigger/HLTcore/test/BuildFile.xml
  HLTrigger/HLTcore/test/hltPrescaleExample_cfg.py
  HLTrigger/HLTcore/test/test_catch2_HLTConfigData.cc
  PhysicsTools/Heppy/interface/TriggerBitChecker.h
  PhysicsTools/Heppy/src/TriggerBitChecker.cc
  PhysicsTools/PatAlgos/plugins/LeptonUpdater.cc
  PhysicsTools/PatAlgos/plugins/PATTriggerProducer.cc
  PhysicsTools/TagAndProbe/interface/TriggerCandProducer.icc
  Validation/RecoVertex/src/AnotherPrimaryVertexAnalyzer.cc
Labels: analysis-pending, alca-approved, dqm-approved, hlt-approved, l1-approved, reconstruction-approved, pending-signatures, tests-approved, pdmv-approved, bug-fix, orp-approved, urgent, code-checks-approved, xpog-approved

#39431 explicit type for input=output collections of `HLTJetsMatchedToFilteredJetsProducer`
  HLTrigger/JetMET/plugins/HLTJetsMatchedToFilteredJetsProducer.h
  HLTrigger/JetMET/plugins/SealModule.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, jetmet-pog-approved

#39437 [12_5_X] AlCa Run3 Heavy Ion Scenarios
  Configuration/DataProcessing/python/Impl/hcalnzsEra_Run3_pp_on_PbPb.py
  Configuration/DataProcessing/python/Impl/ppEra_Run3_pp_on_PbPb.py
  Configuration/DataProcessing/python/Impl/trackingOnlyEra_Run3_pp_on_PbPb.py
  Configuration/DataProcessing/python/RecoTLR.py
  Configuration/DataProcessing/test/run_CfgTest.sh
  DQM/TrackingMonitorSource/python/PPonAATrackingOnly_custom.py
Labels: alca-approved, dqm-approved, operations-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok

#38787 Replace Geometry_cff with GeometryDB_cff in RecoBTag/RecoBTau
  RecoBTag/SoftLepton/test/testMuonAssociator.py
  RecoBTau/JetTagComputer/test/testGenericMVAJetTagComputer_cfg.py
  RecoBTau/JetTagComputer/test/testJetTagProducer_cfg.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39427 Fix double counting in HepMC to G4 handoff
  SimG4Core/Generators/src/Generator.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-pending, bug-fix, code-checks-approved

#39460 Bug fix in EMTF GEM and RPC unpacker blocks
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFBlockGEM.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFBlockRPC.cc
Labels: l1-approved, fully-signed, tests-started, bug-fix, orp-approved, urgent, code-checks-approved

#39448 zeroing error of Pixel barycenter ME and other optimizations
  DQM/SiPixelPhase1Summary/interface/SiPixelBarycenter.h
  DQM/SiPixelPhase1Summary/src/SiPixelBarycenter.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved
