Repository cms-sw/cmssw, pull requests merged in 2022-06, with the labels that each got.

#38085 [DQM] Fixed filling for TDCfatal in DT Online DQM Backport124X
  DQM/DTMonitorModule/src/DTDataIntegrityTask.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#38150 Add the XML source file describing PPS pixel DAQ mapping for 2022
  CondFormats/PPSObjects/xml/rpix_mapping_2022.xml
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38129 [124X] Add DoubleMuonLowMass PD to autoAlca
  Configuration/AlCa/python/autoAlca.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok

#38136 Move HLT:@relval2021 to GRun until V1.2 is ready
  Configuration/HLT/python/autoHLT.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#38133 Set a missing parameter in the `dqmSaver` in the `hltHarvesting` test [12.4.x]
  HLTrigger/Configuration/test/hltHarvesting.py
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#38149 guard against `uint16_t` overflows of Pixel ADC values [`12_3_X`]
  RecoLocalTracker/SiPixelClusterizer/plugins/PixelThresholdClusterizer.cc
  RecoLocalTracker/SiPixelClusterizer/plugins/PixelThresholdClusterizerForBricked.cc
  RecoLocalTracker/SiPixelClusterizer/plugins/gpuCalibPixel.h
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, trk

#38151 [MkFitCore] Backport binnor changes to fix 38127.
  RecoTracker/MkFitCore/interface/binnor.h
  RecoTracker/MkFitCore/interface/radix_sort.h
  RecoTracker/MkFitCore/src/radix_sort.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, tracking

#38146 Fixed Geant4 track information
  SimG4Core/Notification/interface/TrackInformation.h
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38162 use cmsonr_lb instead of cms_omds_tunnel for SiStrip O2O unit tests
  CondTools/SiStrip/python/SiStripO2O_cfg_template.py
Labels: fully-signed, tests-approved, db-approved, bug-fix, orp-approved, code-checks-approved, trk

#38117 [12_3_X] Compute muon index bits using idx from dataformat
  DataFormats/L1TMuon/interface/RegionalMuonCand.h
  DataFormats/L1TMuon/src/RegionalMuonCand.cc
  DataFormats/L1TMuon/src/classes_def.xml
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/MuonUnpacker.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/RegionalMuonGMTUnpacker.cc
  L1Trigger/L1TMuon/plugins/L1TMuonProducer.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, backport-ok

#38144 Deal with exception in EventProcessor constructor
  FWCore/Framework/src/EventProcessor.cc
Labels: core-approved, fully-signed, tests-rejected, orp-approved, code-checks-approved

#37884 [10.6.X] GeometryProducer: fixed backward propagator
  SimG4Core/GeometryProducer/interface/GeometryProducer.h
  SimG4Core/GeometryProducer/src/GeometryProducer.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, backport-ok

#38098 [12_3_X] AlcaPCCIntegrator thread safety and parameter set fixes for Run3
  Calibration/LumiAlCaRecoProducers/plugins/AlcaPCCIntegrator.cc
  Calibration/LumiAlCaRecoProducers/python/ALCARECOAlCaPCCRandom_cff.py
  Calibration/LumiAlCaRecoProducers/python/ALCARECOAlCaPCCZeroBias_cff.py
  Calibration/LumiAlCaRecoProducers/python/alcaPCCIntegrator_cfi.py
  Calibration/LumiAlCaRecoProducers/test/PCC_Random_Event_Integrator_cfg.py
  Configuration/AlCa/python/autoAlca.py
  DataFormats/Luminosity/interface/PixelClusterCounts.h
Labels: alca-approved, reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, lumi

#38090 Add new GEM electronics map to all GTs
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved, gem, ecal

#38184 [DQM] [GCC12] Added missing array header
  DQM/TrackerRemapper/interface/Phase1PixelROCMaps.h
  DQM/TrackerRemapper/interface/Phase1PixelSummaryMap.h
  DQM/TrackerRemapper/plugins/TrackerRemapper.cc
  DQM/TrackerRemapper/src/SiStripTkMaps.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38157 Phase2-hgx314A Next Step toward V17 version of HGCal Geometry
  Geometry/CaloTopology/interface/HGCalTopology.h
  Geometry/HGCalGeometry/interface/HGCalGeometryLoader.h
  Geometry/HGCalGeometry/src/HGCalGeometryLoader.cc
  Geometry/HGCalGeometry/src/HGCalMouseBite.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#38118 Phase2-hgx314 A step toward the V17 version of HGCal Geometry
  Geometry/HGCalCommonData/interface/HGCalCassette.h
  Geometry/HGCalCommonData/interface/HGCalCellUV.h
  Geometry/HGCalCommonData/interface/HGCalDDDConstants.h
  Geometry/HGCalCommonData/interface/HGCalParameters.h
  Geometry/HGCalCommonData/interface/HGCalTileIndex.h
  Geometry/HGCalCommonData/python/testHGCV17XML_cfi.py
  Geometry/HGCalCommonData/src/HGCalCassette.cc
  Geometry/HGCalCommonData/src/HGCalCellUV.cc
  Geometry/HGCalCommonData/src/HGCalDDDConstants.cc
  Geometry/HGCalCommonData/src/HGCalGeomParameters.cc
  Geometry/HGCalCommonData/src/HGCalParametersFromDD.cc
  Geometry/HGCalCommonData/src/HGCalTileIndex.cc
  Geometry/HGCalCommonData/test/python/runHGCalTestV17_cfg.py
  SimG4CMS/Calo/src/HGCScintSD.cc
  SimG4CMS/Calo/src/HGCalNumberingScheme.cc
  SimG4CMS/Calo/src/HGCalSD.cc
Labels: geometry-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#38142 HCAL GPU-CPU Comparison for the Online DQM
  DQM/HcalTasks/plugins/HcalGPUComparisonTask.cc
  DQM/Integration/python/clients/hcalgpu_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38110 update BeamSpot HLT client to use correct raw data from TCDS
  DQM/BeamMonitor/plugins/BeamMonitor.cc
  DQM/Integration/python/clients/beamhlt_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, db-approved, bug-fix, orp-approved, code-checks-approved

#38158 Changes to get the PU info from OnlineMetaData stream [Master]
  DQM/EcalMonitorTasks/BuildFile.xml
  DQM/EcalMonitorTasks/interface/OccupancyTask.h
  DQM/EcalMonitorTasks/python/OccupancyTask_cfi.py
  DQM/EcalMonitorTasks/src/OccupancyTask.cc
  DQM/Integration/python/clients/ecal_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38102 RPC DQM: change merger input as default
  DQM/Integration/python/clients/rpc_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38180 [CORE] [GCC12] Added missing array header
  FWCore/Framework/interface/Callback.h
  FWCore/Framework/interface/EDConsumerBase.h
  FWCore/Framework/interface/PathsAndConsumesOfModules.h
  FWCore/Framework/interface/Schedule.h
  FWCore/Framework/interface/maker/Worker.h
  FWCore/Framework/interface/maker/WorkerT.h
  FWCore/Framework/interface/stream/EDAnalyzerAdaptorBase.h
  FWCore/Framework/interface/stream/ProducingModuleAdaptorBase.h
  FWCore/Framework/src/EDConsumerBase.cc
  FWCore/Framework/src/Schedule.cc
  FWCore/Framework/src/stream/EDAnalyzerAdaptorBase.cc
  FWCore/Framework/src/stream/ProducingModuleAdaptorBase.cc
Labels: core-approved, fully-signed, tests-rejected, orp-approved, code-checks-approved

#37981 Code maintenance and preparation for Run III in the DQMOffline ZCounting
  DQMOffline/Lumi/plugins/ZCounting.cc
  DQMOffline/Lumi/plugins/ZCounting.h
  DQMOffline/Lumi/python/ZCounting_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38182 [SIMULATION] [GCC12] Added missing array header
  SimG4CMS/Calo/src/HGCalNumberingScheme.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38183 [DQM-GEOMETRY] [GCC12] Added missing array header
  Validation/Geometry/interface/MaterialBudgetData.h
Labels: dqm-approved, geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38185 Avoid reading off end of vector in SimTrackManager
  SimG4Core/Notification/src/SimTrackManager.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38179 [ALCA-DB] [GCC12] Added missing array header
  CondFormats/PCLConfig/interface/AlignPCLThreshold.h
  CondFormats/PCLConfig/interface/AlignPCLThresholds.h
  CondFormats/PCLConfig/plugins/AlignPCLThresholdsReader.cc
  CondFormats/PCLConfig/plugins/AlignPCLThresholdsWriter.cc
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#38177 Fix memory leak in AlCaHcalHBHEMuonProducer
  Calibration/HcalAlCaRecoProducers/plugins/AlCaHcalHBHEMuonProducer.cc
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved, hcal

#38087 Remove CMS deprecation warnings from RecoMuon/MuonSeedGenerator
  RecoMuon/MuonSeedGenerator/src/RPCSeedFinder.cc
  RecoMuon/MuonSeedGenerator/src/RPCSeedFinder.h
  RecoMuon/MuonSeedGenerator/src/RPCSeedGenerator.cc
  RecoMuon/MuonSeedGenerator/src/RPCSeedPattern.cc
  RecoMuon/MuonSeedGenerator/src/RPCSeedPattern.h
  RecoMuon/MuonSeedGenerator/test/MuonSeedPTAnalysis/MuonSeedParametrization.cc
  RecoMuon/MuonSeedGenerator/test/MuonSeedPTAnalysis/MuonSeedParametrization.h
  RecoMuon/MuonSeedGenerator/test/MuonSeedPTAnalysis/MuonSeedValidator.cc
  RecoMuon/MuonSeedGenerator/test/MuonSeedPTAnalysis/MuonSeedValidator.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38171 Update of L1T menu in TSG GTs to `L1Menu_Collisions2022_v1_1_0_xml` [`12_4_X`]
  Configuration/HLT/python/autoCondHLT.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#38191 [12_3_X] Fix memory leak in AlCaHcalHBHEMuonProducer
  Calibration/HcalAlCaRecoProducers/plugins/AlCaHcalHBHEMuonProducer.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved

#38152 LowPtElectrons: updates for nano v10 (back port)
  PhysicsTools/NanoAOD/plugins/NanoAODBaseCrossCleaner.cc
  PhysicsTools/NanoAOD/plugins/NanoAODBaseCrossCleaner.h
  PhysicsTools/NanoAOD/python/lowPtElectrons_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cff.py
  PhysicsTools/NanoAOD/python/nano_cff.py
  PhysicsTools/PatAlgos/plugins/PATObjectCrossLinker.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, xpog-approved

#38153 Deal with exception in EventProcessor constructor [12_4]
  FWCore/Framework/src/EventProcessor.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved

#38166 Changes to get the PU info from OnlineMetaData stream [12_4_X]
  DQM/EcalMonitorTasks/BuildFile.xml
  DQM/EcalMonitorTasks/interface/OccupancyTask.h
  DQM/EcalMonitorTasks/python/OccupancyTask_cfi.py
  DQM/EcalMonitorTasks/src/OccupancyTask.cc
  DQM/Integration/python/clients/ecal_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved

#38111 [12_4_X] update BeamSpot HLT client to use correct raw data from TCDS
  DQM/BeamMonitor/plugins/BeamMonitor.cc
  DQM/Integration/python/clients/beamhlt_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, db-approved, bug-fix, orp-approved, backport-ok

#38103 [12_3_X] update BeamSpot HLT client to use correct raw data from TCDS
  DQM/BeamMonitor/plugins/BeamMonitor.cc
  DQM/Integration/python/clients/beamhlt_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, db-approved, bug-fix, orp-approved, backport-ok

#38123 ECAL - GPU unpacker buffer overflow fix - 12_4_X
  EventFilter/EcalRawToDigi/plugins/DeclsForKernels.h
Labels: hlt-approved, reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, ecal

#38104 RPC DQM: change merger input as default [12_4_X]
  DQM/Integration/python/clients/rpc_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved

#38186 Shorten the names of two ALCARECOStreams in order to fit into DBS database schema limitations
  Calibration/TkAlCaRecoProducers/python/ALCARECOPromptCalibProdSiPixelLorentzAngle_Output_cff.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOPromptCalibProdSiStripHitEfficiency_Output_cff.py
  Configuration/AlCa/python/autoPCL.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/StandardSequences/python/AlCaRecoStreams_cff.py
Labels: alca-approved, operations-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, urgent, upgrade-approved, code-checks-approved, trk

#38197 [SIMULATION] [GCC12] Added missing array header
  SimG4Core/Application/src/ThreadHandoff.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#37823 Modifications of the Pixel Charge Reweighting for RunDependent MC
  Configuration/ProcessModifiers/python/runDependentForPixel_cff.py
  Configuration/PyReleaseValidation/python/relval_premix.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  SimDataFormats/TrackerDigiSimLink/BuildFile.xml
  SimDataFormats/TrackerDigiSimLink/interface/PixelSimHitExtraInfo.h
  SimDataFormats/TrackerDigiSimLink/src/classes.h
  SimDataFormats/TrackerDigiSimLink/src/classes_def.xml
  SimGeneral/MixingModule/python/SiPixelSimParameters_cfi.py
  SimGeneral/MixingModule/python/aliases_cfi.py
  SimGeneral/MixingModule/python/pixelDigitizer_cfi.py
  SimGeneral/PreMixingModule/python/mixOne_premix_on_sim_cfi.py
  SimTracker/Common/interface/SimHitInfoForLinks.h
  SimTracker/SiPixelDigitizer/plugins/PixelDigiAddTempInfo.h
  SimTracker/SiPixelDigitizer/plugins/PreMixingSiPixelWorker.cc
  SimTracker/SiPixelDigitizer/plugins/SiPixelChargeReweightingAlgorithm.cc
  SimTracker/SiPixelDigitizer/plugins/SiPixelChargeReweightingAlgorithm.h
  SimTracker/SiPixelDigitizer/plugins/SiPixelDigitizer.cc
  SimTracker/SiPixelDigitizer/plugins/SiPixelDigitizer.h
  SimTracker/SiPixelDigitizer/plugins/SiPixelDigitizerAlgorithm.cc
  SimTracker/SiPixelDigitizer/plugins/SiPixelDigitizerAlgorithm.h
Labels: operations-approved, simulation-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, urgent, upgrade-approved, code-checks-approved, trk

#38209 Shorten PPS DiamondSampic ALCARECOStream name to fit into DBS database schema
  CalibPPS/TimingCalibration/python/ALCARECOPromptCalibProdPPSDiamondSampicTimingCalib_Output_cff.py
  Configuration/AlCa/python/autoPCL.py
  Configuration/StandardSequences/python/AlCaRecoStreams_cff.py
Labels: alca-approved, operations-approved, fully-signed, tests-approved, orp-approved, urgent, code-checks-approved, ctpps

#38206 Deal with exception in EventProcessor constructor [12_3]
  FWCore/Framework/src/EventProcessor.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved

#38193 Revert "[L1T] fix negative shift"
  L1Trigger/TrackFindingTracklet/interface/imath.h
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38168 Updated Geant4 sensitive detector code for low-energy gflash method
  SimG4CMS/Calo/src/CaloSD.cc
  SimG4CMS/Calo/src/ECalSD.cc
  SimG4Core/Application/interface/LowEnergyFastSimModel.h
  SimG4Core/Application/interface/LowEnergyFastSimParam.h
  SimG4Core/Application/src/LowEnergyFastSimModel.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38213 protect `ALCARECOSiStripCalCosmicsNano` for missing tracks (when Tracker DCS is OFF)
  Calibration/TkAlCaRecoProducers/python/ALCARECOSiStripCalCosmicsNano_cff.py
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved, trk

#38115 Adapt uGMT DQM for new readout menu following the disabling of the zero suppression
  DQM/L1TMonitor/interface/L1TStage2uGMT.h
  DQM/L1TMonitor/interface/L1TStage2uGMTInputBxDistributions.h
  DQM/L1TMonitor/plugins/SealModule.cc
  DQM/L1TMonitor/python/L1TStage2uGMTInputBxDistributions_cfi.py
  DQM/L1TMonitor/python/L1TStage2uGMT_cff.py
  DQM/L1TMonitor/python/L1TdeStage2uGMT_cff.py
  DQM/L1TMonitor/src/L1TStage2uGMT.cc
  DQM/L1TMonitor/src/L1TStage2uGMTInputBxDistributions.cc
  DQM/L1TMonitorClient/data/L1TStage2uGMTQualityTests.xml
  DQM/L1TMonitorClient/python/L1TStage2uGMTClient_cff.py
  DQM/L1TMonitorClient/python/L1TStage2uGMTEmulatorClient_cff.py
  DQM/L1TMonitorClient/python/L1TStage2uGTEmulatorClient_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38154 Backport of PR #38142: HCAL GPU client for the Online DQM
  DQM/HcalTasks/plugins/HcalGPUComparisonTask.cc
  DQM/Integration/python/clients/hcalgpu_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved

#38203 Pixel Heterogenous DQM: fix bug in TProfile definitions
  DQM/SiPixelPhase1Heterogeneous/plugins/SiPixelPhase1MonitorTrackSoA.cc
  DQM/SiPixelPhase1Heterogeneous/plugins/SiPixelPhase1MonitorVertexSoA.cc
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, tracking

#38165 Changes to get the PU info from OnlineMetaData stream [12_3_X]
  DQM/EcalMonitorTasks/BuildFile.xml
  DQM/EcalMonitorTasks/interface/OccupancyTask.h
  DQM/EcalMonitorTasks/python/OccupancyTask_cfi.py
  DQM/EcalMonitorTasks/src/OccupancyTask.cc
  DQM/Integration/python/clients/ecal_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved

#37744 [NanoAOD] Setup AK4 Puppi jets as default AK4 collection for Run 3
  PhysicsTools/NanoAOD/python/electrons_cff.py
  PhysicsTools/NanoAOD/python/jetMC_cff.py
  PhysicsTools/NanoAOD/python/jetsAK4_CHS_cff.py
  PhysicsTools/NanoAOD/python/jetsAK4_Puppi_cff.py
  PhysicsTools/NanoAOD/python/jetsAK8_cff.py
  PhysicsTools/NanoAOD/python/jets_cff.py
  PhysicsTools/NanoAOD/python/muons_cff.py
  PhysicsTools/NanoAOD/python/nano_cff.py
  PhysicsTools/NanoAOD/python/nano_eras_cff.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#38188 [12.3.X] Shorten the names of two ALCARECOStreams in order to fit into DBS database schema limitations
  Calibration/TkAlCaRecoProducers/python/ALCARECOPromptCalibProdSiPixelLorentzAngle_Output_cff.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOPromptCalibProdSiStripHitEfficiency_Output_cff.py
  Configuration/AlCa/python/autoPCL.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/StandardSequences/python/AlCaRecoStreams_cff.py
Labels: alca-approved, operations-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, urgent, upgrade-approved, backport-ok

#38159 Safeguard for nHits==0
  RecoLocalTracker/SiPixelRecHits/plugins/SiPixelRecHitSoAFromCUDA.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, trk

#38145 Move counter initialization and printout+destruction to begin/endJob in CAHitNtupletGeneratorOnGPU
  RecoPixelVertexing/PixelTriplets/plugins/CAHitNtupletCUDA.cc
  RecoPixelVertexing/PixelTriplets/plugins/CAHitNtupletGeneratorOnGPU.cc
  RecoPixelVertexing/PixelTriplets/plugins/CAHitNtupletGeneratorOnGPU.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38221 [12_3_X] Shorten PPS DiamondSampic ALCARECOStream name to fit into DBS database schema
  CalibPPS/TimingCalibration/python/ALCARECOPromptCalibProdPPSDiamondSampicTimingCalib_Output_cff.py
  Configuration/AlCa/python/autoPCL.py
  Configuration/StandardSequences/python/AlCaRecoStreams_cff.py
Labels: alca-approved, operations-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok, ctpps

#38215 [12.3.X] protect `ALCARECOSiStripCalCosmicsNano` for missing tracks (when Tracker DCS is OFF)
  Calibration/TkAlCaRecoProducers/python/ALCARECOSiStripCalCosmicsNano_cff.py
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, backport-ok, trk

#38160 [12_3_X] Safeguard for nHits==0
  RecoLocalTracker/SiPixelRecHits/plugins/SiPixelRecHitSoAFromCUDA.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, trk

#38062 [GEM] GEM packer-unpacker update for GEMChMap
  CondFormats/GEMObjects/interface/GEMChMap.h
  DQM/GEM/interface/GEMDAQStatusSource.h
  DQM/GEM/plugins/GEMDAQStatusSource.cc
  DataFormats/GEMDigi/interface/GEMAMC.h
  DataFormats/GEMDigi/interface/GEMAMCStatus.h
  DataFormats/GEMDigi/interface/GEMOHStatus.h
  DataFormats/GEMDigi/interface/GEMOptoHybrid.h
  EventFilter/GEMRawToDigi/plugins/GEMDigiToRawModule.cc
  EventFilter/GEMRawToDigi/plugins/GEMRawToDigiModule.cc
  EventFilter/GEMRawToDigi/src/GEMRawToDigi.cc
Labels: alca-approved, dqm-approved, reconstruction-approved, simulation-approved, fully-signed, tests-approved, db-approved, orp-approved, urgent, upgrade-approved, requires-external, code-checks-approved, gem

#38119 Turn on GEMDigis and turn off GEMRecHits for GE2/1 demonstrator
  DQM/L1TMonitor/python/L1TdeGEMTPG_cfi.py
  EventFilter/GEMRawToDigi/python/muonGEMDigis_cfi.py
  RecoLocalMuon/GEMRecHit/plugins/GEMRecHitProducer.cc
  RecoLocalMuon/GEMRecHit/plugins/GEMRecHitProducer.h
  RecoLocalMuon/GEMRecHit/python/gemRecHits_cfi.py
Labels: dqm-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, upgrade-approved, requires-external, code-checks-approved, gem

#38181 [GEOMETRY-UPGRADE] [GCC12] Added missing array header
  Geometry/HGCalCommonData/interface/HGCalDDDConstants.h
  Geometry/HGCalCommonData/interface/HGCalParameters.h
  Geometry/HGCalCommonData/src/HGCalDDDConstants.cc
  Geometry/HGCalCommonData/src/HGCalParameters.cc
  Geometry/HGCalCommonData/test/HGCalNumberingTester.cc
  Geometry/HGCalCommonData/test/HGCalParameterTester.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#38174 [12_4_X] Adapt uGMT DQM for new readout menu following the disabling of the zero suppression
  DQM/L1TMonitor/interface/L1TStage2uGMT.h
  DQM/L1TMonitor/interface/L1TStage2uGMTInputBxDistributions.h
  DQM/L1TMonitor/plugins/SealModule.cc
  DQM/L1TMonitor/python/L1TStage2uGMTInputBxDistributions_cfi.py
  DQM/L1TMonitor/python/L1TStage2uGMT_cff.py
  DQM/L1TMonitor/python/L1TdeStage2uGMT_cff.py
  DQM/L1TMonitor/src/L1TStage2uGMT.cc
  DQM/L1TMonitor/src/L1TStage2uGMTInputBxDistributions.cc
  DQM/L1TMonitorClient/data/L1TStage2uGMTQualityTests.xml
  DQM/L1TMonitorClient/python/L1TStage2uGMTClient_cff.py
  DQM/L1TMonitorClient/python/L1TStage2uGMTEmulatorClient_cff.py
  DQM/L1TMonitorClient/python/L1TStage2uGTEmulatorClient_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved

#38172 [12_3_X] Adapt uGMT DQM for new readout menu following the disabling of the zero suppression
  DQM/L1TMonitor/interface/L1TStage2uGMT.h
  DQM/L1TMonitor/interface/L1TStage2uGMTInputBxDistributions.h
  DQM/L1TMonitor/plugins/SealModule.cc
  DQM/L1TMonitor/python/L1TStage2uGMTInputBxDistributions_cfi.py
  DQM/L1TMonitor/python/L1TStage2uGMT_cff.py
  DQM/L1TMonitor/python/L1TdeStage2uGMT_cff.py
  DQM/L1TMonitor/src/L1TStage2uGMT.cc
  DQM/L1TMonitor/src/L1TStage2uGMTInputBxDistributions.cc
  DQM/L1TMonitorClient/data/L1TStage2uGMTQualityTests.xml
  DQM/L1TMonitorClient/python/L1TStage2uGMTClient_cff.py
  DQM/L1TMonitorClient/python/L1TStage2uGMTEmulatorClient_cff.py
  DQM/L1TMonitorClient/python/L1TStage2uGTEmulatorClient_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved

#38219 [GCC12] Added missing array header
  DataFormats/ParticleFlowReco/src/PFTrajectoryPoint.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38091 Store variable names in ROOT GBRForest files
  CommonTools/MVAUtils/bin/convertXMLToGBRForestROOT.cc
  CommonTools/MVAUtils/src/GBRForestTools.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38137 Implemented new strategy to generate OI seeds for displaced muons (backport)
  RecoMuon/TrackerSeedGenerator/plugins/TSGForOIFromL2.cc
  RecoMuon/TrackerSeedGenerator/plugins/TSGForOIFromL2.h
Labels: hlt-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok

#38207 [NanoAOD] Backport of #37744 (Setup AK4 Puppi jets as default AK4 collection for Run 3) to 12_4_X
  PhysicsTools/NanoAOD/python/electrons_cff.py
  PhysicsTools/NanoAOD/python/jetMC_cff.py
  PhysicsTools/NanoAOD/python/jetsAK4_CHS_cff.py
  PhysicsTools/NanoAOD/python/jetsAK4_Puppi_cff.py
  PhysicsTools/NanoAOD/python/jetsAK8_cff.py
  PhysicsTools/NanoAOD/python/jets_cff.py
  PhysicsTools/NanoAOD/python/muons_cff.py
  PhysicsTools/NanoAOD/python/nano_cff.py
  PhysicsTools/NanoAOD/python/nano_eras_cff.py
Labels: fully-signed, tests-approved, orp-approved, backport-ok, xpog-approved

#38212 [12.3.X] Pixel Heterogenous DQM: fix bug in TProfile definitions
  DQM/SiPixelPhase1Heterogeneous/plugins/SiPixelPhase1MonitorTrackSoA.cc
  DQM/SiPixelPhase1Heterogeneous/plugins/SiPixelPhase1MonitorVertexSoA.cc
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, tracking

#38214 [12.4.X] protect `ALCARECOSiStripCalCosmicsNano` for missing tracks (when Tracker DCS is OFF)
  Calibration/TkAlCaRecoProducers/python/ALCARECOSiStripCalCosmicsNano_cff.py
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, trk

#38234 fix the ROOT type of `EventStats` monitor element in `SiStripGainsPCLWorker`
  CalibTracker/SiStripChannelGain/src/SiStripGainsPCLWorker.cc
  CalibTracker/SiStripChannelGain/test/checkMultiRunHarvesting.C
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, trk

#38199 [12_4_X] Move counter initialization and printout+destruction to begin/endJob
  RecoPixelVertexing/PixelTriplets/plugins/CAHitNtupletCUDA.cc
  RecoPixelVertexing/PixelTriplets/plugins/CAHitNtupletGeneratorOnGPU.cc
  RecoPixelVertexing/PixelTriplets/plugins/CAHitNtupletGeneratorOnGPU.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved

#38200 [12_3_X] Move counter initialization and printout+destruction to begin/endJob
  RecoPixelVertexing/PixelTriplets/plugins/CAHitNtupletCUDA.cc
  RecoPixelVertexing/PixelTriplets/plugins/CAHitNtupletGeneratorOnGPU.cc
  RecoPixelVertexing/PixelTriplets/plugins/CAHitNtupletGeneratorOnGPU.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved

#38195 New PCL Alignment Threshold object and record for HG PCL Alignment
  CondCore/PCLConfigPlugins/src/plugin.cc
  CondCore/Utilities/plugins/Module_2XML.cc
  CondCore/Utilities/src/CondDBFetch.cc
  CondCore/Utilities/src/CondDBImport.cc
  CondCore/Utilities/src/CondFormats.h
  CondFormats/DataRecord/interface/AlignPCLThresholdsHGRcd.h
  CondFormats/DataRecord/src/AlignPCLThresholdsHGRcd.cc
  CondFormats/PCLConfig/interface/AlignPCLThresholds.h
  CondFormats/PCLConfig/interface/AlignPCLThresholdsHG.h
  CondFormats/PCLConfig/plugins/AlignPCLThresholdsReader.cc
  CondFormats/PCLConfig/plugins/AlignPCLThresholdsWriter.cc
  CondFormats/PCLConfig/python/ThresholdsHG_cff.py
  CondFormats/PCLConfig/src/AlignPCLThresholdsHG.cc
  CondFormats/PCLConfig/src/T_EventSetup_AlignPCLThresholdsHG.cc
  CondFormats/PCLConfig/src/classes_def.xml
  CondFormats/PCLConfig/src/headers.h
  CondFormats/PCLConfig/test/AlignPCLThresholdsReader_cfg.py
  CondFormats/PCLConfig/test/AlignPCLThresholdsWriter_cfg.py
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#38225 avoid overwrite of `options` PSet from `ConfDB` in HLT utilities
  HLTrigger/Configuration/python/CustomConfigs.py
  HLTrigger/Configuration/python/Tools/confdb.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38236 apply the `runDependentForPixel` modifier before the fastSim modifications
  SimGeneral/PreMixingModule/python/mixOne_premix_on_sim_cfi.py
Labels: alca-approved, simulation-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, trk

#38217 Extend the definition of good cell for v17 version of HGCal Geometry
  Geometry/HGCalCommonData/interface/HGCalCellUV.h
  Geometry/HGCalCommonData/interface/HGCalTypes.h
  Geometry/HGCalCommonData/interface/HGCalWaferMask.h
  Geometry/HGCalCommonData/src/HGCalCellUV.cc
  Geometry/HGCalCommonData/src/HGCalWaferMask.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#38051 Be able to use merged magnetic field interpolation files
  MagneticField/Engine/python/volumeBasedMagneticField_dd4hep_160812_cfi.py
  MagneticField/GeomBuilder/plugins/dd4hep/DD4hep_VolumeBasedMagneticFieldESProducer.cc
  MagneticField/GeomBuilder/plugins/dd4hep/DD4hep_VolumeBasedMagneticFieldESProducerFromDB.cc
  MagneticField/GeomBuilder/src/DD4hep_MagGeoBuilder.cc
  MagneticField/GeomBuilder/src/DD4hep_MagGeoBuilder.h
  MagneticField/GeomBuilder/src/InterpolatorBuilder.cc
  MagneticField/GeomBuilder/src/InterpolatorBuilder.h
  MagneticField/Interpolation/interface/MFGridFactory.h
  MagneticField/Interpolation/interface/binary_ifstream.h
  MagneticField/Interpolation/src/GlobalGridWrapper.h
  MagneticField/Interpolation/src/MFGridFactory.cc
  MagneticField/Interpolation/src/MagneticFieldGrid.cc
  MagneticField/Interpolation/src/MagneticFieldGrid.h
  MagneticField/Interpolation/src/RectangularCartesianMFGrid.cc
  MagneticField/Interpolation/src/RectangularCartesianMFGrid.h
  MagneticField/Interpolation/src/RectangularCylindricalMFGrid.cc
  MagneticField/Interpolation/src/RectangularCylindricalMFGrid.h
  MagneticField/Interpolation/src/SpecialCylindricalMFGrid.cc
  MagneticField/Interpolation/src/SpecialCylindricalMFGrid.h
  MagneticField/Interpolation/src/TrapezoidalCartesianMFGrid.cc
  MagneticField/Interpolation/src/TrapezoidalCartesianMFGrid.h
  MagneticField/Interpolation/src/TrapezoidalCylindricalMFGrid.cc
  MagneticField/Interpolation/src/TrapezoidalCylindricalMFGrid.h
  MagneticField/Interpolation/src/binary_ifstream.cc
  MagneticField/Interpolation/src/binary_ifstream.h
  MagneticField/Interpolation/src/bstream_iterator.h
  MagneticField/Interpolation/test/BinaryTablesGeneration/GridFileReader.cpp
  MagneticField/Interpolation/test/BinaryTablesGeneration/mergeFieldTable.cc
  MagneticField/Interpolation/test/BinaryTablesGeneration/mergeFileTable.md
  MagneticField/Interpolation/test/BuildFile.xml
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38243 [12.4.X] fix the ROOT type of `EventStats` monitor element in `SiStripGainsPCLWorker`
  CalibTracker/SiStripChannelGain/src/SiStripGainsPCLWorker.cc
  CalibTracker/SiStripChannelGain/test/checkMultiRunHarvesting.C
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, trk

#38244 [12.3.X] fix the ROOT type of `EventStats` monitor element in `SiStripGainsPCLWorker`
  CalibTracker/SiStripChannelGain/src/SiStripGainsPCLWorker.cc
  CalibTracker/SiStripChannelGain/test/checkMultiRunHarvesting.C
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, trk

#38227 avoid overwrite of `options` PSet from `ConfDB` in HLT utilities [`12_4_X`]
  HLTrigger/Configuration/python/CustomConfigs.py
  HLTrigger/Configuration/python/Tools/confdb.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#38228 avoid overwrite of `options` PSet from `ConfDB` in HLT utilities [`12_3_X`]
  HLTrigger/Configuration/python/CustomConfigs.py
  HLTrigger/Configuration/python/Tools/confdb.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#38235 ECAL - Fix ECAL static analyzer issues in CalibCalorimetry and CondFormats packages
  CalibCalorimetry/CaloMiscalibTools/interface/CaloMiscalibMapEcal.h
  CalibCalorimetry/CaloMiscalibTools/src/MiscalibReaderXMLEcalEndcap.cc
  CalibCalorimetry/EcalCorrelatedNoiseAnalysisAlgos/interface/TEcnaNumbering.h
  CalibCalorimetry/EcalCorrelatedNoiseAnalysisAlgos/interface/TEcnaParHistos.h
  CalibCalorimetry/EcalCorrelatedNoiseAnalysisAlgos/interface/TEcnaWrite.h
  CalibCalorimetry/EcalCorrelatedNoiseAnalysisAlgos/src/TEcnaHistos.cc
  CalibCalorimetry/EcalCorrelatedNoiseAnalysisAlgos/src/TEcnaNArrayD.cc
  CalibCalorimetry/EcalCorrelatedNoiseAnalysisAlgos/src/TEcnaNumbering.cc
  CalibCalorimetry/EcalCorrelatedNoiseAnalysisAlgos/src/TEcnaParHistos.cc
  CalibCalorimetry/EcalCorrelatedNoiseAnalysisAlgos/src/TEcnaRead.cc
  CalibCalorimetry/EcalCorrelatedNoiseAnalysisAlgos/src/TEcnaWrite.cc
  CalibCalorimetry/EcalLaserSorting/interface/LaserSorter.h
  CalibCalorimetry/EcalLaserSorting/src/LaserSorter.cc
  CondFormats/EcalCorrections/src/EcalGlobalShowerContainmentCorrectionsVsEta.cc
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#38187 [12.4.X] Shorten the names of two ALCARECOStreams in order to fit into DBS database schema limitations
  Calibration/TkAlCaRecoProducers/python/ALCARECOPromptCalibProdSiPixelLorentzAngle_Output_cff.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOPromptCalibProdSiStripHitEfficiency_Output_cff.py
  Configuration/AlCa/python/autoPCL.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/StandardSequences/python/AlCaRecoStreams_cff.py
Labels: alca-approved, operations-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, backport-ok

#38224 Fixed debug printout
  SimG4Core/Application/src/TrackingAction.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38220 [12_4_X] Shorten PPS DiamondSampic ALCARECOStream name to fit into DBS database schema
  CalibPPS/TimingCalibration/python/ALCARECOPromptCalibProdPPSDiamondSampicTimingCalib_Output_cff.py
  Configuration/AlCa/python/autoPCL.py
  Configuration/StandardSequences/python/AlCaRecoStreams_cff.py
Labels: alca-approved, operations-approved, fully-signed, tests-approved, orp-approved, backport-ok, ctpps

#38176 Bug fix for the EcalDumpRaw expert tool, which is not used in the standard workflow.
  EventFilter/EcalRawToDigi/plugins/EcalDumpRaw.cc
  EventFilter/EcalRawToDigi/test/dumpRaw
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38218 Cleanup redundant edm ParameterSet exist in RecoLuminosity
  RecoLuminosity/LumiProducer/plugins/BunchSpacingProducer.cc
  RecoLuminosity/LumiProducer/python/bunchSpacingProducer_cfi.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38208 Fix for hardcoded subdetector id in PPS reconstruction code
  CalibPPS/ESProducers/plugins/TotemDAQMappingESSourceXML.cc
  DataFormats/CTPPSDetId/interface/TotemTimingDetId.h
  DataFormats/CTPPSDetId/src/TotemTimingDetId.cc
  EventFilter/CTPPSRawToDigi/src/RawToDigiConverter.cc
Labels: simulation-pending, alca-approved, reconstruction-approved, pending-signatures, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved, ctpps

#38263 [GCC12] Fix address of object will never be NULL error
  TopQuarkAnalysis/TopKinFitter/interface/CovarianceMatrix.h
Labels: analysis-pending, pending-signatures, tests-approved, orp-approved, code-checks-approved

#38248 [12_2_X] Push_back 0th weight manually, prevent duplication of PS weights in P8.30x
  GeneratorInterface/Pythia8Interface/plugins/Pythia8Hadronizer.cc
Labels: generators-approved, fully-signed, tests-approved, orp-approved

#38210 Fix Sampic DQM channel_per_plane histograms
  DQM/CTPPS/plugins/DiamondSampicDQMSource.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38211 [12.4.X] Pixel Heterogenous DQM: fix bug in TProfile definitions
  DQM/SiPixelPhase1Heterogeneous/plugins/SiPixelPhase1MonitorTrackSoA.cc
  DQM/SiPixelPhase1Heterogeneous/plugins/SiPixelPhase1MonitorVertexSoA.cc
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, tracking

#38101 Fix on issue #38044
  DQM/GEM/interface/GEMDigiSource.h
  DQM/GEM/plugins/GEMDQMHarvester.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38245 Pixel Heterogeneous DQM: add 1D differnce plots in vertex comparison module.
  DQM/SiPixelPhase1Heterogeneous/plugins/SiPixelPhase1CompareVertexSoA.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#38251 [12_3_X] Add new GEM electronics map to all GTs
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok, gem, ecal

#38254 Introduce `TkAlJetHT`
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlJetHT_Output_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlJetHT_cff.py
  Configuration/AlCa/python/autoAlca.py
  Configuration/AlCa/python/autoCond.py
  Configuration/EventContent/python/AlCaRecoOutput_RelVal_cff.py
  Configuration/EventContent/python/AlCaRecoOutput_cff.py
  Configuration/StandardSequences/python/AlCaRecoStreams_cff.py
  DQMOffline/Alignment/python/ALCARECOTkAlDQM_cff.py
Labels: alca-approved, dqm-approved, operations-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking, trk

#38233 Semi-random initial value in the L1 trigger prescale counter [`12_4_X`]
  L1Trigger/L1TGlobal/interface/GlobalBoard.h
  L1Trigger/L1TGlobal/plugins/L1TGlobalProducer.cc
  L1Trigger/L1TGlobal/plugins/L1TGlobalProducer.h
  L1Trigger/L1TGlobal/src/GlobalBoard.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, backport-ok

#37988 Remove HLT process name out from L1CaloTrigger
  L1Trigger/L1CaloTrigger/python/L1EGammaCrystalsEmulatorProducer_cfi.py
  L1Trigger/L1CaloTrigger/python/l1EGammaCrystalsProducer_cfi.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#38161 [12_4_X] Safeguard for nHits==0
  RecoLocalTracker/SiPixelRecHits/plugins/SiPixelRecHitSoAFromCUDA.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, trk

#38238 [12_4_X]Fix Sampic DQM channel_per_plane histograms
  DQM/CTPPS/plugins/DiamondSampicDQMSource.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#37939 removing mkFit from exlude in Eras for PbPb collisions
  Configuration/Eras/python/Era_Run2_2018_pp_on_AA_cff.py
  Configuration/Eras/python/Era_Run3_pp_on_PbPb_cff.py
Labels: operations-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38246 Phase2-hgx315X Make use of the goodCell method for partial wafers in defining valid DetId and rearranging a few parameters
  Geometry/HGCalCommonData/interface/HGCalTypes.h
  Geometry/HGCalCommonData/interface/HGCalWaferMask.h
  Geometry/HGCalCommonData/python/testHGCV16XML_cfi.py
  Geometry/HGCalCommonData/src/HGCalCellUV.cc
  Geometry/HGCalCommonData/src/HGCalDDDConstants.cc
  Geometry/HGCalCommonData/src/HGCalGeomParameters.cc
  Geometry/HGCalCommonData/src/HGCalWaferMask.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#38269 condTestRegression: Use correct singularity container for old cmssw release
  CondCore/CondDB/test/condTestRegression.py
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#38271 Alignment/MillePedeAlignmentAlgorithm/test_CreateFileLists: give a better error message in case of failure
  Alignment/CommonAlignment/scripts/tkal_create_file_lists.py
  Alignment/MillePedeAlignmentAlgorithm/test/BuildFile.xml
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, trk

#38247 Run3-gex135A Try to avoid compilation warnings in MagneticField/GeomBuilder
  MagneticField/GeomBuilder/test/stubs/MagGeometryAnalyzer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38202 ECAL GPU unpacker: adapt the buffer size to the ECAL FEDs size
  EventFilter/EcalRawToDigi/plugins/DeclsForKernels.h
  EventFilter/EcalRawToDigi/plugins/EcalRawToDigiGPU.cc
  HLTrigger/Configuration/python/customizeHLTforCMSSW.py
Labels: hlt-approved, reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#38261 [12.4.X] Introduce `TkAlJetHT`
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlJetHT_Output_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlJetHT_cff.py
  Configuration/AlCa/python/autoAlca.py
  Configuration/AlCa/python/autoCond.py
  Configuration/EventContent/python/AlCaRecoOutput_RelVal_cff.py
  Configuration/EventContent/python/AlCaRecoOutput_cff.py
  Configuration/StandardSequences/python/AlCaRecoStreams_cff.py
  DQMOffline/Alignment/python/ALCARECOTkAlDQM_cff.py
Labels: alca-approved, dqm-approved, operations-approved, fully-signed, tests-approved, orp-approved, backport-ok

#38253 [12.4.X] Pixel Heterogeneous DQM: add 1D differnce plots in vertex comparison module.
  DQM/SiPixelPhase1Heterogeneous/plugins/SiPixelPhase1CompareVertexSoA.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok, tracking

#38257 Fix streamLabel name in hcalgpu_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/hcalgpu_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38286 miscellaneous improvements in `CondFormats/PCLConfig`
  CondFormats/PCLConfig/interface/AlignPCLThresholdsHG.h
  CondFormats/PCLConfig/plugins/AlignPCLThresholdsReader.cc
  CondFormats/PCLConfig/plugins/AlignPCLThresholdsWriter.cc
  CondFormats/PCLConfig/src/AlignPCLThresholdsHG.cc
  CondFormats/PCLConfig/test/AlignPCLThresholdsReader_cfg.py
  CondFormats/PCLConfig/test/AlignPCLThresholdsWriter_cfg.py
  CondFormats/PCLConfig/test/testReadWriteAlignPCLThresholds.sh
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, trk

#38262 Update DQM beam clients playback machine type check
  DQM/Integration/python/clients/beam_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamfake_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamhlt_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamhltfake_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/config/environment_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38270 [12.3.X] Pixel Heterogeneous DQM: add 1D differnce plots in vertex comparison module
  DQM/SiPixelPhase1Heterogeneous/plugins/SiPixelPhase1CompareVertexSoA.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok, tracking

#38189 [RFC] `ConfigBuilder`: raise an exception if the name of the alca producer exceeds the DBS schema constraints
  Configuration/Applications/python/ConfigBuilder.py
Labels: operations-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#38216 Phase-hgx315 Add a new scenario 2026D92 using V17 version of HGCal geometry
  Configuration/Geometry/README.md
  Configuration/Geometry/python/GeometryDD4hepExtended2026D92Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D92_cff.py
  Configuration/Geometry/python/GeometryExtended2026D92Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D92_cff.py
  Configuration/Geometry/python/dict2026Geometry.py
  Configuration/PyReleaseValidation/python/relval_2026.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  Configuration/StandardSequences/python/GeometryConf.py
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D92.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D92XML_cfi.py
Labels: geometry-approved, operations-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#38204 ECAL GPU unpacker: adapt the buffer size to the ECAL FEDs size [12.4.x]
  EventFilter/EcalRawToDigi/plugins/DeclsForKernels.h
  EventFilter/EcalRawToDigi/plugins/EcalRawToDigiGPU.cc
  HLTrigger/Configuration/python/customizeHLTforCMSSW.py
Labels: hlt-approved, reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#38232 [12_3_X]Fix for hardcoded subdetector id in PPS reconstruction code
  CalibPPS/ESProducers/plugins/TotemDAQMappingESSourceXML.cc
  DataFormats/CTPPSDetId/interface/TotemTimingDetId.h
  DataFormats/CTPPSDetId/src/TotemTimingDetId.cc
  EventFilter/CTPPSRawToDigi/src/RawToDigiConverter.cc
Labels: alca-approved, reconstruction-approved, simulation-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, backport-ok, ctpps

#38231 [12_4_X]Fix for hardcoded subdetector id in PPS reconstruction code
  CalibPPS/ESProducers/plugins/TotemDAQMappingESSourceXML.cc
  DataFormats/CTPPSDetId/interface/TotemTimingDetId.h
  DataFormats/CTPPSDetId/src/TotemTimingDetId.cc
  EventFilter/CTPPSRawToDigi/src/RawToDigiConverter.cc
Labels: alca-approved, reconstruction-approved, simulation-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, ctpps

#38294 Fix CMS deprecated warnings in L1Trigger/L1TGlobal
  L1Trigger/L1TGlobal/plugins/BXVectorInputProducer.cc
  L1Trigger/L1TGlobal/plugins/FakeInputProducer.cc
  L1Trigger/L1TGlobal/plugins/GenToInputProducer.cc
  L1Trigger/L1TGlobal/plugins/GtInputDump.cc
  L1Trigger/L1TGlobal/plugins/GtRecordDump.cc
  L1Trigger/L1TGlobal/plugins/L1TGlobalAnalyzer.cc
  L1Trigger/L1TGlobal/plugins/L1TGlobalPrescaler.cc
  L1Trigger/L1TGlobal/plugins/L1TUtmTriggerMenuDumper.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38205 ECAL GPU unpacker: adapt the buffer size to the ECAL FEDs size [12.3.x]
  EventFilter/EcalRawToDigi/plugins/DeclsForKernels.h
  EventFilter/EcalRawToDigi/plugins/EcalRawToDigiGPU.cc
  HLTrigger/Configuration/python/customizeHLTforCMSSW.py
Labels: hlt-approved, reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#38283 include EGM and L1T tags in mcRun3 and data GTs
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, egamma, l1t

#38259 Backport of MkFitCore vectorization PR 37868
  FWCore/Utilities/interface/CMSUnrollLoop.h
  RecoTracker/MkFitCore/src/PropagationMPlex.cc
  RecoTracker/MkFitCore/src/PropagationMPlex.icc
  RecoTracker/MkFitCore/standalone/README_buildFromCMSSW.txt
Labels: core-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved

#38258 [12_3_X] Fix streamLabel name in hcalgpu_dqm_sourceclient-live_cfg.p
  DQM/Integration/python/clients/hcalgpu_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved

#38264 [12_3_X] Update DQM beam clients playback machine type check
  DQM/Integration/python/clients/beam_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamfake_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamhlt_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamhltfake_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/config/environment_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved

#38303 Backport XML source file describing PPS pixel 2022 DAQ mapping to 12_4_X
  CondFormats/PPSObjects/xml/rpix_mapping_2022.xml
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok, ctpps

#38308 Use thread-friendly modules in Validation/RecoParticleFlow
  Validation/RecoParticleFlow/plugins/GenericBenchmarkAnalyzer.cc
  Validation/RecoParticleFlow/plugins/PFFilter.cc
  Validation/RecoParticleFlow/plugins/PFJetBenchmarkAnalyzer.cc
  Validation/RecoParticleFlow/plugins/PFJetFilter.cc
  Validation/RecoParticleFlow/plugins/PFMETBenchmarkAnalyzer.cc
  Validation/RecoParticleFlow/plugins/PFMETFilter.cc
  Validation/RecoParticleFlow/plugins/PFTauElecRejectionBenchMarkAnalyzer.cc
  Validation/RecoParticleFlow/plugins/PFTester.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#37689 Add HepMC3 products and methods to Generator base clases
  GeneratorInterface/Core/BuildFile.xml
  GeneratorInterface/Core/interface/BaseHadronizer.h
  GeneratorInterface/Core/interface/GeneratorFilter.h
  GeneratorInterface/Core/test/FailingGeneratorFilter.cc
Labels: generators-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38282 Fix ThroughputServiceClient.cc unsigned variables overflow
  HLTrigger/Timer/plugins/ThroughputServiceClient.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38296 move test_CreateFileLists test to CommonAlignment
  Alignment/CommonAlignment/test/BuildFile.xml
  Alignment/MillePedeAlignmentAlgorithm/scripts/mps_create_file_lists.py
  Alignment/MillePedeAlignmentAlgorithm/test/BuildFile.xml
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#38065 Sort pixel tracks in the SoA converter
  RecoPixelVertexing/PixelTrackFitting/plugins/PixelTrackProducerFromSoA.cc
Labels: hlt-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved, tracking

#38293 [12_4_X] Include EGM and L1T tags in mcRun3 and data GTs
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok, egamma

#38278 A backport of the fix on issue #38044 to 12_4_X
  DQM/GEM/interface/GEMDQMBase.h
  DQM/GEM/interface/GEMDigiSource.h
  DQM/GEM/plugins/GEMDQMHarvester.cc
  DQM/GEM/src/GEMDQMBase.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved

#38297 [12.3.X] Introduce `TkAlJetHT`
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlJetHT_Output_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlJetHT_cff.py
  Configuration/AlCa/python/autoAlca.py
  Configuration/AlCa/python/autoCond.py
  Configuration/EventContent/python/AlCaRecoOutput_RelVal_cff.py
  Configuration/EventContent/python/AlCaRecoOutput_cff.py
  Configuration/StandardSequences/python/AlCaRecoStreams_cff.py
  DQMOffline/Alignment/python/ALCARECOTkAlDQM_cff.py
Labels: alca-approved, dqm-approved, operations-approved, fully-signed, tests-approved, orp-approved, backport-ok, trk

#38279 Fix isProcessWideService
  CommonTools/UtilAlgos/plugins/TFileService.cc
  FWCore/Integration/test/testSubProcess_cfg.py
  FWCore/Services/plugins/CPU.cc
  FWCore/Services/plugins/InitRootHandlers.cc
  FWCore/Services/plugins/ZombieKillerService.cc
  IgTools/IgProf/plugins/IgProfService.h
Labels: core-approved, reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#37808 Skim for Delayed Jets, MET cut instead of HT
  Configuration/Skimming/python/PDWG_EXODelayedJetMET_cff.py
  Configuration/Skimming/python/Skims_PDWG_cff.py
  Configuration/Skimming/test/test_DelayedJetMET_cfg.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, code-checks-approved

#38292 Thread friendly modules in EventFilter/EcalTBRawToDigi
  EventFilter/EcalTBRawToDigi/interface/EcalDCC07UnpackingModule.h
  EventFilter/EcalTBRawToDigi/interface/EcalDCCUnpackingModule.h
  EventFilter/EcalTBRawToDigi/src/EcalDCC07UnpackingModule.cc
  EventFilter/EcalTBRawToDigi/src/EcalDCCUnpackingModule.cc
  EventFilter/EcalTBRawToDigi/test/stubs/EcalDCCHeaderDumperModule.cc
  EventFilter/EcalTBRawToDigi/test/stubs/EcalDigiDumperModule.cc
  EventFilter/EcalTBRawToDigi/test/stubs/EcalGraphDumperModule.cc
  EventFilter/EcalTBRawToDigi/test/stubs/EcalHexDumperModule.cc
  EventFilter/EcalTBRawToDigi/test/stubs/EcalMatacqHist.h
  EventFilter/EcalTBRawToDigi/test/stubs/EcalPnGraphDumperModule.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38164 Remove depreciated DNN-based tau-Ids [12_4_X]
  RecoTauTag/RecoTau/plugins/DPFIsolation.cc
  RecoTauTag/RecoTau/plugins/DeepTauId.cc
  RecoTauTag/RecoTau/plugins/PFRecoTauCorrectedInvariantMassProducer.cc
  RecoTauTag/RecoTau/plugins/PFRecoTauDecayModeIndexProducer.cc
  RecoTauTag/RecoTau/python/tools/runTauIdMVA.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved

#38315 [L1T] New low pt muon LUT
  L1Trigger/Phase2L1GMT/interface/Constants.h
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38312 [12_4_X] Update DQM beam clients playback machine type check
  DQM/Integration/python/clients/beam_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamfake_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamhlt_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamhltfake_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/config/environment_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#38307 Add support for ZSTD and LZ4 compression for NanoAODOutputModule
  PhysicsTools/NanoAOD/plugins/NanoAODOutputModule.cc
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#38287 [12_3_X] Fix ThroughputServiceClient.cc unsigned variables overflow
  HLTrigger/Timer/plugins/ThroughputServiceClient.cc
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved

#38067 Sort pixel tracks in the SoA converter (12_3_X)
  RecoPixelVertexing/PixelTrackFitting/plugins/PixelTrackProducerFromSoA.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, tracking

#38066 Sort pixel tracks in the SoA converter (12_4_X)
  RecoPixelVertexing/PixelTrackFitting/plugins/PixelTrackProducerFromSoA.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok, tracking

#38324 Updating EGM regression tags and conditions for the L1 EMTF and CALO tags for Run-3 MCs
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, urgent, code-checks-approved, egamma, l1t

#38317 [12_4_X] Fix ThroughputServiceClient.cc unsigned variables overflow
  HLTrigger/Timer/plugins/ThroughputServiceClient.cc
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved

#38306 Run3-gex135B Try to use MessageLogger instead of cout in SimG4CMS/FP420
  SimG4CMS/FP420/interface/FP420NumberingScheme.h
  SimG4CMS/FP420/src/FP420G4Hit.cc
  SimG4CMS/FP420/src/FP420NumberingScheme.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38325 [12_4_X] Updating EGM regression tags and conditions for the L1 EMTF and CALO tags for Run-3 MCs
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok, egamma, l1t

#38250 New set of files coherent with the new v1_1_0 L1Menu
  L1Trigger/Configuration/python/customiseUtils.py
  L1Trigger/L1TGlobal/python/PrescalesVetosFract_cff.py
  L1Trigger/L1TGlobal/python/PrescalesVetos_cff.py
  L1Trigger/L1TGlobal/test/runGlobalFakeInputProducer.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#38288 Disabled looper reconstruction in HI Eras for Run3_pp_on_PbPb and Run2…
  Configuration/Eras/python/Era_Run2_2018_pp_on_AA_cff.py
  Configuration/Eras/python/Era_Run3_pp_on_PbPb_cff.py
Labels: operations-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#38100 Revive of reverted #37852 with a fix on the issue #38044
  DQM/GEM/interface/GEMDAQStatusSource.h
  DQM/GEM/interface/GEMDQMBase.h
  DQM/GEM/interface/GEMDigiSource.h
  DQM/GEM/interface/GEMRecHitSource.h
  DQM/GEM/plugins/GEMDAQStatusSource.cc
  DQM/GEM/plugins/GEMDQMHarvester.cc
  DQM/GEM/plugins/GEMDigiSource.cc
  DQM/GEM/plugins/GEMRecHitSource.cc
  DQM/GEM/python/gem_dqm_offline_source_cff.py
  DQM/GEM/python/gem_dqm_offline_source_cosmics_cff.py
  DQM/GEM/src/GEMDQMBase.cc
  Validation/Configuration/python/gemSimValid_cff.py
Labels: dqm-approved, simulation-approved, fully-signed, tests-approved, orp-approved

#38318 [12_4_X] HCAL GPU-CPU Comparison for the Online DQM
  DQM/HcalTasks/plugins/HcalGPUComparisonTask.cc
  DQM/Integration/python/clients/hcalgpu_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved

#38298 RPC DQM minor fix
  DQM/RPCMonitorDigi/src/RPCBookDetUnitME.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved
