Repository cms-sw/cmssw, pull requests merged in 2023-02, with the labels that each got.

#40619 Add ROCm utilities and tests, and CUDA fallbacks
  HeterogeneousCore/CUDAServices/bin/BuildFile.xml
  HeterogeneousCore/CUDAUtilities/bin/BuildFile.xml
  HeterogeneousCore/CUDAUtilities/bin/cudaComputeCapabilities.cpp
  HeterogeneousCore/CUDAUtilities/bin/cudaComputeCapabilities_fallback.cpp
  HeterogeneousCore/CUDAUtilities/bin/cudaIsEnabled.cpp
  HeterogeneousCore/CUDAUtilities/bin/cudaIsEnabled_fallback.cpp
  HeterogeneousCore/CUDAUtilities/bin/isCudaDeviceSupported.cu
  HeterogeneousCore/CUDAUtilities/bin/isCudaDeviceSupported.h
  HeterogeneousCore/CUDAUtilities/test/BuildFile.xml
  HeterogeneousCore/CUDAUtilities/test/testCudaCheck.cpp
  HeterogeneousCore/CUDAUtilities/test/testRequireCUDADevices.cpp
  HeterogeneousCore/ROCmUtilities/BuildFile.xml
  HeterogeneousCore/ROCmUtilities/bin/BuildFile.xml
  HeterogeneousCore/ROCmUtilities/bin/isRocmDeviceSupported.h
  HeterogeneousCore/ROCmUtilities/bin/isRocmDeviceSupported.hip.cc
  HeterogeneousCore/ROCmUtilities/bin/rocmComputeCapabilities.cpp
  HeterogeneousCore/ROCmUtilities/bin/rocmComputeCapabilities_fallback.cpp
  HeterogeneousCore/ROCmUtilities/bin/rocmIsEnabled.cpp
  HeterogeneousCore/ROCmUtilities/bin/rocmIsEnabled_fallback.cpp
  HeterogeneousCore/ROCmUtilities/interface/hipCheck.h
  HeterogeneousCore/ROCmUtilities/interface/requireDevices.h
  HeterogeneousCore/ROCmUtilities/src/requireDevices.cc
  HeterogeneousCore/ROCmUtilities/test/BuildFile.xml
  HeterogeneousCore/ROCmUtilities/test/testHipCheck.cpp
  HeterogeneousCore/ROCmUtilities/test/testRequireROCmDevices.cpp
Labels: fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved, heterogeneous-approved

#40605 Add a test for CUDA library build rules
  HeterogeneousTest/CUDADevice/BuildFile.xml
  HeterogeneousTest/CUDADevice/README.md
  HeterogeneousTest/CUDADevice/interface/DeviceAddition.h
  HeterogeneousTest/CUDADevice/plugins/BuildFile.xml
  HeterogeneousTest/CUDADevice/plugins/CUDATestDeviceAdditionAlgo.cu
  HeterogeneousTest/CUDADevice/plugins/CUDATestDeviceAdditionAlgo.h
  HeterogeneousTest/CUDADevice/plugins/CUDATestDeviceAdditionModule.cc
  HeterogeneousTest/CUDADevice/src/DeviceAddition.cu
  HeterogeneousTest/CUDADevice/test/BuildFile.xml
  HeterogeneousTest/CUDADevice/test/testCUDATestDeviceAdditionModule.py
  HeterogeneousTest/CUDADevice/test/testDeviceAddition.cu
  HeterogeneousTest/CUDAKernel/BuildFile.xml
  HeterogeneousTest/CUDAKernel/README.md
  HeterogeneousTest/CUDAKernel/interface/DeviceAdditionKernel.h
  HeterogeneousTest/CUDAKernel/plugins/BuildFile.xml
  HeterogeneousTest/CUDAKernel/plugins/CUDATestKernelAdditionAlgo.cu
  HeterogeneousTest/CUDAKernel/plugins/CUDATestKernelAdditionAlgo.h
  HeterogeneousTest/CUDAKernel/plugins/CUDATestKernelAdditionModule.cc
  HeterogeneousTest/CUDAKernel/src/DeviceAdditionKernel.cu
  HeterogeneousTest/CUDAKernel/test/BuildFile.xml
  HeterogeneousTest/CUDAKernel/test/testCUDATestKernelAdditionModule.py
  HeterogeneousTest/CUDAKernel/test/testDeviceAdditionKernel.cu
  HeterogeneousTest/CUDAOpaque/BuildFile.xml
  HeterogeneousTest/CUDAOpaque/README.md
  HeterogeneousTest/CUDAOpaque/interface/DeviceAdditionOpaque.h
  HeterogeneousTest/CUDAOpaque/plugins/BuildFile.xml
  HeterogeneousTest/CUDAOpaque/plugins/CUDATestOpaqueAdditionModule.cc
  HeterogeneousTest/CUDAOpaque/src/DeviceAdditionOpaque.cc
  HeterogeneousTest/CUDAOpaque/test/BuildFile.xml
  HeterogeneousTest/CUDAOpaque/test/testCUDATestAdditionModules.py
  HeterogeneousTest/CUDAOpaque/test/testCUDATestOpaqueAdditionModule.py
  HeterogeneousTest/CUDAOpaque/test/testDeviceAdditionOpaque.cc
  HeterogeneousTest/CUDAWrapper/BuildFile.xml
  HeterogeneousTest/CUDAWrapper/README.md
  HeterogeneousTest/CUDAWrapper/interface/DeviceAdditionWrapper.h
  HeterogeneousTest/CUDAWrapper/plugins/BuildFile.xml
  HeterogeneousTest/CUDAWrapper/plugins/CUDATestWrapperAdditionModule.cc
  HeterogeneousTest/CUDAWrapper/src/DeviceAdditionWrapper.cu
  HeterogeneousTest/CUDAWrapper/test/BuildFile.xml
  HeterogeneousTest/CUDAWrapper/test/testCUDATestWrapperAdditionModule.py
  HeterogeneousTest/CUDAWrapper/test/testDeviceAdditionWrapper.cc
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#40564 Enable "alternative module loading" approach for Alpaka modules
  FWCore/ParameterSet/interface/ParameterSetDescriptionFillerPluginFactory.h
  FWCore/ParameterSet/src/defaultModuleLabel.cc
  HeterogeneousCore/AlpakaCore/interface/MakerMacros.h
  HeterogeneousCore/AlpakaCore/interface/alpaka/ESProducer.h
  HeterogeneousCore/AlpakaCore/interface/alpaka/ModuleFactory.h
  HeterogeneousCore/AlpakaCore/interface/alpaka/ProducerBase.h
  HeterogeneousCore/AlpakaCore/interface/module_backend_config.h
  HeterogeneousCore/AlpakaCore/plugins/BuildFile.xml
  HeterogeneousCore/AlpakaCore/plugins/ModuleTypeResolverAlpaka.cc
  HeterogeneousCore/AlpakaCore/python/ProcessAcceleratorAlpaka.py
  HeterogeneousCore/AlpakaCore/python/ProcessAcceleratorAlpaka_cfi.py
  HeterogeneousCore/AlpakaCore/src/module_backend_config.cc
  HeterogeneousCore/AlpakaTest/plugins/TestAlpakaAnalyzer.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaGlobalProducer.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaStreamProducer.cc
  HeterogeneousCore/AlpakaTest/test/testAlpakaModules.sh
  HeterogeneousCore/AlpakaTest/test/testAlpakaModules_cfg.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#40650 guard against no L1T uGT digis in `L1TriggerResultsConverter` [`12_5_X`]
  PhysicsTools/NanoAOD/plugins/L1TriggerResultsConverter.cc
Labels: fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, xpog-approved

#39996 First working version of the alternative JetMatching for Pythia8.3 and MG5aMCNLO
  GeneratorInterface/Pythia8Interface/plugins/BuildFile.xml
  GeneratorInterface/Pythia8Interface/plugins/JetMatchingEWKFxFx.cc
  GeneratorInterface/Pythia8Interface/plugins/JetMatchingEWKFxFx.h
  GeneratorInterface/Pythia8Interface/python/FxFxEWK.py
  GeneratorInterface/Pythia8Interface/test/FXFXewk_test.py
Labels: generators-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40652 Make WriteBuffer delete all its temp files in /dev/shm
  FWCore/SharedMemory/interface/WriteBuffer.h
  FWCore/SharedMemory/src/WriteBuffer.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40655 improve check on size of L1-uGT digis in `HLTL1TSeed` plugin
  HLTrigger/HLTfilters/plugins/HLTL1TSeed.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40646 remove duplicate plugins left by #38761 and #40264
  DQM/SiPixelHeterogeneous/plugins/SiPixelCompareVertexSoA.cc
  DQM/SiPixelHeterogeneous/plugins/SiPixelMonitorVertexSoA.cc
  RecoLocalTracker/SiPixelClusterizer/plugins/SiPixelDigisClustersFromSoA.cc
  RecoLocalTracker/SiPixelClusterizer/python/siPixelClustersPreSplitting_cff.py
  RecoLocalTracker/SiPixelRecHits/plugins/PixelCPEFastESProducer.cc
  RecoLocalTracker/SiPixelRecHits/plugins/SiPixelRecHitCUDA.cc
  RecoLocalTracker/SiPixelRecHits/plugins/SiPixelRecHitFromCUDA.cc
  RecoLocalTracker/SiPixelRecHits/plugins/SiPixelRecHitSoAFromCUDA.cc
  RecoLocalTracker/SiPixelRecHits/plugins/SiPixelRecHitSoAFromLegacy.cc
  RecoLocalTracker/SiPixelRecHits/python/PixelCPEESProducers_cff.py
  RecoLocalTracker/SiPixelRecHits/python/SiPixelRecHits_cfi.py
  RecoPixelVertexing/PixelTrackFitting/plugins/PixelTrackDumpCUDA.cc
  RecoPixelVertexing/PixelTrackFitting/plugins/PixelTrackProducerFromSoA.cc
  RecoPixelVertexing/PixelTrackFitting/plugins/PixelTrackSoAFromCUDA.cc
  RecoPixelVertexing/PixelTriplets/plugins/CAHitNtupletCUDA.cc
  RecoPixelVertexing/PixelVertexFinding/plugins/PixelVertexProducerCUDA.cc
  RecoTracker/TkSeedGenerator/plugins/SeedProducerFromSoA.cc
  RecoTracker/TransientTrackingRecHit/python/TTRHBuilders_cff.py
Labels: dqm-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking, trk

#40659 `cmsDriver.py`: flush stdout buffer before call to `os.execvpe` [`12_4_X`]
  Configuration/Applications/scripts/cmsDriver.py
Labels: operations-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#40658 `cmsDriver.py`: flush stdout buffer before call to `os.execvpe` [`12_5_X`]
  Configuration/Applications/scripts/cmsDriver.py
Labels: operations-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#40657 `cmsDriver.py`: flush stdout buffer before call to `os.execvpe` [`12_6_X`]
  Configuration/Applications/scripts/cmsDriver.py
Labels: operations-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#40642 Implement a first draft of the ROCmServices
  HeterogeneousCore/ROCmServices/BuildFile.xml
  HeterogeneousCore/ROCmServices/interface/ROCmService.h
  HeterogeneousCore/ROCmServices/plugins/BuildFile.xml
  HeterogeneousCore/ROCmServices/plugins/ROCmMonitoringService.cc
  HeterogeneousCore/ROCmServices/plugins/plugins.cc
  HeterogeneousCore/ROCmServices/src/ROCmService.cc
  HeterogeneousCore/ROCmServices/test/BuildFile.xml
  HeterogeneousCore/ROCmServices/test/testROCmService.cpp
  HeterogeneousCore/ROCmServices/test/testROCmService.py
Labels: fully-signed, tests-rejected, orp-approved, code-checks-approved, heterogeneous-approved

#40412 Enable Phase2 HLT with Digi and L1T step
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, requires-external, code-checks-approved

#40553 Add function to refine FastSim DeepJet discriminators
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  PhysicsTools/NanoAOD/python/jetsAK4_CHS_cff.py
  PhysicsTools/PatAlgos/interface/BaseMVAValueMapProducer.h
Labels: reconstruction-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, requires-external, code-checks-approved, xpog-approved, btv

#40648 fix to `HLTDoubletDZ` filter against invalid track refs
  HLTrigger/Configuration/python/HLT_75e33/modules/hltDoubleMuon7DZ1p0_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltTripleMuon3DZ1p0_cfi.py
  HLTrigger/HLTfilters/plugins/HLTDoubletDZ.cc
  HLTrigger/HLTfilters/plugins/HLTDoubletDZ.h
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, egamma-pog-approved

#40668 Phase2-hgx335P Take care of invalid HGCal scintillator DetIDs
  Geometry/HGCalCommonData/data/errorScintD88.txt
  Geometry/HGCalCommonData/interface/HGCalDDDConstants.h
  Geometry/HGCalCommonData/src/HGCalDDDConstants.cc
  Geometry/HGCalCommonData/src/HGCalWaferMask.cc
  Geometry/HGCalCommonData/test/HGCalScintIDTester.cc
  Geometry/HGCalCommonData/test/python/testHGCalScintID_cfg.py
  SimG4CMS/Calo/src/HGCalNumberingScheme.cc
Labels: geometry-approved, simulation-approved, fully-signed, tests-approved, bug-fix, orp-approved, upgrade-approved, code-checks-approved

#40677 Fix `JetHTAnalyzer::fillDescriptions`
  Alignment/OfflineValidation/plugins/DMRChecker.cc
  Alignment/OfflineValidation/plugins/JetHTAnalyzer.cc
  Alignment/OfflineValidation/test/testTrackAnalyzers.cc
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, trk

#40662 Add VtxSmearing scenario for 2022 EOY MC
  Configuration/StandardSequences/python/VtxSmeared.py
  IOMC/EventVertexGenerators/python/VtxSmearedParameters_cfi.py
  IOMC/EventVertexGenerators/python/VtxSmearedRealistic25ns13p6TeVEOY2022Collision_cfi.py
Labels: operations-approved, simulation-approved, fully-signed, tests-approved, orp-approved, urgent, code-checks-approved

#40624 Add JeProfService to allow dumping of Jemalloc heap profiles during running.
  Configuration/Applications/python/ConfigBuilder.py
  Configuration/Applications/python/Options.py
  Configuration/Applications/python/cmsDriverOptions.py
  PerfTools/JeProf/plugins/BuildFile.xml
  PerfTools/JeProf/plugins/JeProfService.cc
  Validation/Performance/python/JeProfInfo.py
Labels: core-approved, operations-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40629 Migrate consumesMany() to edm::GetterOfProducts() in EgammaHLTExtraProducer
  RecoEgamma/EgammaHLTProducers/plugins/EgammaHLTExtraProducer.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40661 Add a cosmics PCL workflow to `runTheMatrix`
  Configuration/AlCa/python/autoAlca.py
  Configuration/PyReleaseValidation/python/relval_production.py
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: alca-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#40622 Code to process phase2 version of deepTauID v2p5
  PhysicsTools/PatAlgos/python/slimming/miniAOD_tools.py
  RecoTauTag/RecoTau/interface/DeepTauScaling.h
  RecoTauTag/RecoTau/plugins/DeepTauId.cc
  RecoTauTag/RecoTau/python/PATTauDiscriminationAgainstElectronMVA6Phase2_cff.py
  RecoTauTag/RecoTau/python/mergedPhase2SlimmedElectronsForTauId_cff.py
  RecoTauTag/RecoTau/python/tauIdWPsDefs.py
  RecoTauTag/RecoTau/python/tools/runTauIdMVA.py
  RecoTauTag/RecoTau/test/runDeepTauIDsOnMiniAOD.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved, xpog-approved

#40660 PPS pixel bug fix in error filling
  CondFormats/PPSObjects/interface/CTPPSPixelROC.h
  EventFilter/CTPPSRawToDigi/src/CTPPSPixelDataFormatter.cc
Labels: alca-approved, reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#40647 Introducing a Tracker phase-2 geometry based on T25 but compatible with new OT/BTL boundary
  Configuration/Geometry/README.md
  Configuration/Geometry/python/GeometryDD4hepExtended2026D98Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D98_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D99Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D99_cff.py
  Configuration/Geometry/python/GeometryExtended2026D98Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D98_cff.py
  Configuration/Geometry/python/GeometryExtended2026D99Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D99_cff.py
  Configuration/Geometry/python/dict2026Geometry.py
  Configuration/PyReleaseValidation/python/relval_2026.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  Configuration/StandardSequences/python/GeometryConf.py
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D98.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D99.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D98XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D99XML_cfi.py
  SimTracker/TrackerMaterialAnalysis/data/trackingMaterialGroups_ForPhaseII/v2/trackingMaterialGroups_ForPhaseII.xml
Labels: geometry-approved, operations-approved, simulation-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved, trk

#40685 [12_6_X] Switch file catalog back to TFC on the request of T0
  FWCore/Catalog/interface/InputFileCatalog.h
Labels: core-approved, fully-signed, tests-approved, orp-approved, urgent

#40575 TrackingRecHitSoA Classes Clean Up
  CUDADataFormats/TrackingRecHit/interface/TrackingRecHitSoADevice.h
  CUDADataFormats/TrackingRecHit/interface/TrackingRecHitSoAHost.h
  CUDADataFormats/TrackingRecHit/test/TrackingRecHitSoA_test.cu
  RecoLocalTracker/SiPixelRecHits/plugins/PixelRecHitGPUKernel.cu
  RecoPixelVertexing/PixelTriplets/plugins/CAHitNtupletGeneratorKernels.cu
  RecoPixelVertexing/PixelTriplets/plugins/CAHitNtupletGeneratorKernels.h
  RecoPixelVertexing/PixelTriplets/plugins/CAHitNtupletGeneratorOnGPU.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved, tracking, trk

#40678 Improve support for HIP/ROCm and Alpaka
  DataFormats/Portable/interface/PortableCollection.h
  DataFormats/Portable/interface/PortableDeviceCollection.h
  DataFormats/Portable/interface/PortableHostCollection.h
  DataFormats/Portable/interface/Product.h
  DataFormats/Portable/interface/ProductBase.h
  DataFormats/SoATemplate/interface/SoACommon.h
  DataFormats/SoATemplate/test/BuildFile.xml
  DataFormats/SoATemplate/test/SoALayoutAndView_t.hip.cc
  DataFormats/SoATemplate/test/classes.h
  HeterogeneousCore/AlpakaCore/interface/ContextState.h
  HeterogeneousCore/AlpakaCore/interface/ScopedContext.h
  HeterogeneousCore/AlpakaCore/interface/chooseDevice.h
  HeterogeneousCore/AlpakaCore/src/alpaka/EDMetadata.cc
  HeterogeneousCore/AlpakaInterface/interface/AllocatorPolicy.h
  HeterogeneousCore/AlpakaInterface/interface/CachedBufAlloc.h
  HeterogeneousCore/AlpakaInterface/interface/CachingAllocator.h
  HeterogeneousCore/AlpakaInterface/interface/ScopedContextFwd.h
  HeterogeneousCore/AlpakaInterface/interface/devices.h
  HeterogeneousCore/AlpakaInterface/interface/getDeviceCachingAllocator.h
  HeterogeneousCore/AlpakaInterface/interface/getHostCachingAllocator.h
  HeterogeneousCore/AlpakaInterface/interface/memory.h
  HeterogeneousCore/AlpakaInterface/interface/traits.h
  HeterogeneousCore/AlpakaInterface/interface/vec.h
  HeterogeneousCore/AlpakaInterface/interface/workdivision.h
  HeterogeneousCore/AlpakaInterface/test/alpaka/testKernel.dev.cc
  HeterogeneousCore/AlpakaInterface/test/alpaka/testVec.cc
  HeterogeneousCore/AlpakaServices/src/alpaka/AlpakaService.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlgo.dev.cc
Labels: fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved, heterogeneous-approved

#40460 Refactoring CalibratedClusterPtr to CalibratedPFCluster
  RecoEcal/EgammaClusterAlgos/interface/PFECALSuperClusterAlgo.h
  RecoEcal/EgammaClusterAlgos/src/PFECALSuperClusterAlgo.cc
  RecoEcal/EgammaCoreTools/interface/EcalClustersGraph.h
  RecoEcal/EgammaCoreTools/src/EcalClustersGraph.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40665 Remove trigger evaluation in ExoticaDQM module and related variables
  DQM/Physics/python/ExoticaDQM_cfi.py
  DQM/Physics/src/ExoticaDQM.cc
  DQM/Physics/src/ExoticaDQM.h
  DQM/Physics/test/ExoticaDQM_cfg.py
  DQM/Physics/test/ExoticaDQM_harvesting_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#40669 Add TTID integrity error plots for ECAL DQM [12_6_X]
  DQM/EcalMonitorClient/interface/IntegrityClient.h
  DQM/EcalMonitorClient/python/IntegrityClient_cfi.py
  DQM/EcalMonitorClient/src/IntegrityClient.cc
  DQM/EcalMonitorTasks/python/IntegrityTask_cfi.py
  DQM/EcalMonitorTasks/src/IntegrityTask.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok, ecal

#40686 fix DQM sequence name for `TkAlCosmicsDuringCollisions0T` track collection (within `TkAlCosmics0T`)
  Configuration/StandardSequences/python/AlCaRecoStreams_cff.py
  DQMOffline/Alignment/python/ALCARECOTkAlDQM_cff.py
Labels: dqm-approved, operations-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#40682 remove the hook for MC/Data specific configuration
  Configuration/Applications/python/ConfigBuilder.py
  PhysicsTools/NanoAOD/python/nano_cff.py
Labels: operations-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#40674 MTD clusters and rechits in Fireworks
  Fireworks/Core/interface/Context.h
  Fireworks/Core/interface/FW3DViewBase.h
  Fireworks/Core/interface/FW3DViewGeometry.h
  Fireworks/Core/interface/FWColorManager.h
  Fireworks/Core/interface/FWGeometry.h
  Fireworks/Core/interface/FWRPZView.h
  Fireworks/Core/interface/FWRPZViewGeometry.h
  Fireworks/Core/src/Context.cc
  Fireworks/Core/src/FW3DViewBase.cc
  Fireworks/Core/src/FW3DViewGeometry.cc
  Fireworks/Core/src/FWColorManager.cc
  Fireworks/Core/src/FWItemValueGetter.cc
  Fireworks/Core/src/FWRPZView.cc
  Fireworks/Core/src/FWRPZViewGeometry.cc
  Fireworks/Geometry/BuildFile.xml
  Fireworks/Geometry/interface/FWRecoGeometryESProducer.h
  Fireworks/Geometry/interface/FWRecoGeometryRecord.h
  Fireworks/Geometry/src/FWRecoGeometryESProducer.cc
  Fireworks/MTD/plugins/BuildFile.xml
  Fireworks/MTD/plugins/FWBtlClusterProxyBuilder.cc
  Fireworks/MTD/plugins/FWBtlRecHitsProxyBuilder.cc
  Fireworks/MTD/plugins/FWEtlClusterProxyBuilder.cc
  Fireworks/MTD/plugins/FWEtlRecHitsProxyBuilder.cc
Labels: visualization-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40684 Phase2-hgx335Q Add tests to investigate non-zero cassette shift in HGCal geometry
  Geometry/HGCalCommonData/data/cellIDEE.txt
  Geometry/HGCalCommonData/data/cellShift.txt
  Geometry/HGCalCommonData/python/hgcalWaferIDTester_cff.py
  Geometry/HGCalCommonData/test/HGCalWaferIDTester.cc
  Geometry/HGCalCommonData/test/python/testHGCalWaferID_cfg.py
  SimG4CMS/Calo/interface/HGCScintSD.h
  SimG4CMS/Calo/interface/HGCalSD.h
  SimG4CMS/Calo/src/HGCScintSD.cc
  SimG4CMS/Calo/src/HGCalSD.cc
Labels: geometry-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#40705 Phase2-gex147 Correct the order of the xml files in defining a scenario - it is a must for dd4hep option
  Configuration/Geometry/python/dict2026Geometry.py
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D98.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D99.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D98XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D99XML_cfi.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#40695 Use auto generated `cfi` files in tracker alignment all-in-one validation tool
  Alignment/OfflineValidation/interface/TrackerValidationVariables.h
  Alignment/OfflineValidation/plugins/CosmicSplitterValidation.cc
  Alignment/OfflineValidation/plugins/DiMuonValidation.cc
  Alignment/OfflineValidation/plugins/PixelBaryCentreAnalyzer.cc
  Alignment/OfflineValidation/plugins/TrackerGeometryCompare.cc
  Alignment/OfflineValidation/plugins/TrackerGeometryCompare.h
  Alignment/OfflineValidation/plugins/TrackerGeometryIntoNtuples.cc
  Alignment/OfflineValidation/plugins/TrackerOfflineValidation.cc
  Alignment/OfflineValidation/plugins/TrackerOfflineValidationSummary.cc
  Alignment/OfflineValidation/plugins/Tracker_OldtoNewConverter.cc
  Alignment/OfflineValidation/python/TkAlAllInOneTool/DMR_cfg.py
  Alignment/OfflineValidation/python/TkAlAllInOneTool/GCP_Ntuples_cfg.py
  Alignment/OfflineValidation/python/TkAlAllInOneTool/GCP_tree_cfg.py
  Alignment/OfflineValidation/python/TkAlAllInOneTool/JetHT_cfg.py
  Alignment/OfflineValidation/python/TkAlAllInOneTool/PV_cfg.py
  Alignment/OfflineValidation/python/TkAlAllInOneTool/SplitV_cfg.py
  Alignment/OfflineValidation/python/TkAlAllInOneTool/Zmumu_cfg.py
  Alignment/OfflineValidation/python/TkAlAllInOneTool/defaultInputFiles_cff.py
  Alignment/OfflineValidation/python/TrackerGeometryCompare_cfi.py
  Alignment/OfflineValidation/python/TrackerOfflineValidationSummary_cfi.py
  Alignment/OfflineValidation/python/TrackerOfflineValidation_cfi.py
  Alignment/OfflineValidation/src/TrackerValidationVariables.cc
  Alignment/OfflineValidation/test/PixelBaryCentreAnalyzer_cfg.py
  Alignment/OfflineValidation/test/inspectData_cfg.py
  Alignment/OfflineValidation/test/offlinevalidator_cfg.py
  Alignment/OfflineValidation/test/testSplitterValidation_cfg.py
  Alignment/OfflineValidation/test/testingScripts/test_unitMiscellanea.sh
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#40688 PPS DQM error plots
  DQM/CTPPS/plugins/CTPPSPixelDQMSource.cc
  DQM/CTPPS/python/ctppsPixelDQMSource_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40415 Add TaggedProton filter for analysis with tagged protons [10_6_X]
  GeneratorInterface/Core/interface/TaggedProtonHepMCFilter.h
  GeneratorInterface/Core/src/HepMCFilterDriver.cc
  GeneratorInterface/Core/src/TaggedProtonHepMCFilter.cc
Labels: generators-approved, fully-signed, tests-approved, orp-approved, backport-ok

#40331 Add filter for intermediate resonance particles [12_4_X]
  GeneratorInterface/GenFilters/plugins/LHEIntermediateParticlePtFilter.cc
Labels: generators-approved, fully-signed, tests-approved, orp-approved, backport-ok

#40694 Phase2-gex146 Rename name of a Phase2 Era to match calorimeter scenario name
  Configuration/Eras/python/Era_Phase2C20I13M9_cff.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  Configuration/StandardSequences/python/Eras.py
  Validation/HGCalValidation/test/python/runHFNoseDigiStudy_cfg.py
  Validation/HGCalValidation/test/python/runHFNoseRecHitStudy_cfg.py
  Validation/HGCalValidation/test/python/runHFNoseSimHitStudy_cfg.py
  Validation/HGCalValidation/test/python/testHFNoseSimHitStudy_cfg.py
Labels: dqm-approved, operations-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#40702 Backport of new FxFx JetMatching plugin for Run3
  GeneratorInterface/Pythia8Interface/plugins/BuildFile.xml
  GeneratorInterface/Pythia8Interface/plugins/JetMatchingEWKFxFx.cc
  GeneratorInterface/Pythia8Interface/plugins/JetMatchingEWKFxFx.h
  GeneratorInterface/Pythia8Interface/python/FxFxEWK.py
  GeneratorInterface/Pythia8Interface/test/FXFXewk_test.py
Labels: generators-approved, fully-signed, tests-approved, orp-approved

#40505 [GENERATORS] [CLANG] Fixes warnings reported by clang 14
  GeneratorInterface/GenFilters/plugins/PythiaFilterEMJetHeep.cc
  GeneratorInterface/GenFilters/plugins/PythiaFilterGammaJetWithOutBg.cc
Labels: generators-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40396 [GENERATORS] [CLANG] Fixed unused-but-set-variable warnings
  GeneratorInterface/Core/interface/ConcurrentHadronizerFilter.h
  GeneratorInterface/Core/interface/HadronizerFilter.h
  GeneratorInterface/Core/plugins/GenXSecAnalyzer.cc
  GeneratorInterface/LHEInterface/src/LHERunInfo.cc
Labels: generators-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40696 Update PPS HPTDC PCL for additional station
  CalibPPS/TimingCalibration/plugins/PPSTimingCalibrationPCLHarvester.cc
  CalibPPS/TimingCalibration/plugins/PPSTimingCalibrationPCLWorker.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, ctpps

#40692 Make _relval GTs symbolic and resnapshot Run3 data GTs
  Configuration/AlCa/python/autoCond.py
  Configuration/AlCa/python/autoCondModifiers.py
  Configuration/HLT/python/autoCondHLT.py
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: alca-approved, hlt-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, urgent, upgrade-approved, code-checks-approved

#40611 [RECONSTRUCTION][CLANG] Fix clang llvm14 warnings
  CommonTools/RecoAlgos/interface/KDTreeLinkerAlgo.h
  RecoHI/HiJetAlgos/plugins/HiFJRhoProducer.cc
  RecoJets/JetProducers/src/MVAJetPuId.cc
  RecoLocalCalo/HcalRecAlgos/src/PulseShapeFitOOTPileupCorrection.cc
  RecoLocalCalo/HcalRecAlgos/src/ZdcSimpleRecAlgo.cc
  RecoLocalMuon/DTSegment/src/DTSegmentUpdator.cc
  RecoLocalTracker/SiPixelClusterizer/plugins/SiPixelDigisClustersFromSoA.cc
  RecoLocalTracker/SiPixelRecHits/src/PixelCPEBase.cc
  RecoParticleFlow/PFClusterProducer/plugins/Basic2DGenericPFlowPositionCalc.cc
  RecoTracker/CkfPattern/plugins/TrajectorySegmentBuilder.cc
  RecoTracker/FinalTrackSelectors/plugins/DefaultTrackMVAClassifier.cc
  RecoTracker/MeasurementDet/plugins/doubleMatch.icc
  RecoTracker/TkSeedingLayers/src/SeedingLayerSetsBuilder.cc
  RecoTracker/TransientTrackingRecHit/interface/Traj2TrackHits.h
  TrackingTools/GsfTools/interface/CloseComponentsMerger.icc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking, trk

#40516 [RECONSTRUCTION] [CLANG] Fixes warnings reported by clang 14
  CommonTools/Utils/test/testExpressionParser.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40713 Phase2-TB69 Provide the geometry for HGCal Test Beam application
  Geometry/HGCalGeometry/interface/HGCalTBGeometry.h
  Geometry/HGCalGeometry/interface/HGCalTBGeometryLoader.h
  Geometry/HGCalGeometry/plugins/HGCalTBGeometryESProducer.cc
  Geometry/HGCalGeometry/python/HGCalTBGeometryESProducer_cfi.py
  Geometry/HGCalGeometry/src/HGCalGeometry.cc
  Geometry/HGCalGeometry/src/HGCalTBGeometry.cc
  Geometry/HGCalGeometry/src/HGCalTBGeometryLoader.cc
  Geometry/HGCalGeometry/test/HGCalTBGeometryDump.cc
  Geometry/HGCalGeometry/test/python/testHGCalTBCellDump_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#40712 Phase2-gex148 Check overlap testing for geometries with HFNose
  Geometry/ForwardCommonData/python/hfnoseParametersInitialization_cfi.py
  Geometry/ForwardCommonData/python/testHFNoseXML_cfi.py
  Geometry/ForwardCommonData/test/g4OverlapCheckHFNoseDD4hep_cfg.py
  Geometry/ForwardCommonData/test/g4OverlapCheckHFNoseDDD_cfg.py
  Geometry/HGCalCommonData/plugins/HGCalParametersESModule.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#40689 [12_6_X] ParticleFlow HB customisation for 2023 TSG studies
  RecoParticleFlow/PFClusterProducer/python/particleFlow_HB2023.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved

#40706 RobustParticleTransformer in `DataFormats/BTauReco`
  DataFormats/BTauReco/interface/ChargedCandidateFeatures.h
  DataFormats/BTauReco/interface/NeutralCandidateFeatures.h
  DataFormats/BTauReco/interface/ParticleTransformerAK4Features.h
  DataFormats/BTauReco/interface/ParticleTransformerAK4TagInfo.h
  DataFormats/BTauReco/interface/SecondaryVertexFeatures.h
  DataFormats/BTauReco/src/classes.h
  DataFormats/BTauReco/src/classes_def.xml
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, btv

#40697 Fix unit conversion in PPS Reco LUT shift
  RecoPPS/Local/src/CTPPSDiamondRecHitProducerAlgorithm.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved, ctpps

#40717 Moved PFClusterProducer from beginLuminosityBlock to beginRun
  RecoParticleFlow/PFClusterProducer/interface/PFECALHashNavigator.h
  RecoParticleFlow/PFClusterProducer/interface/PFEcalBarrelRecHitCreator.h
  RecoParticleFlow/PFClusterProducer/interface/PFEcalEndcapRecHitCreator.h
  RecoParticleFlow/PFClusterProducer/interface/PFHCALDenseIdNavigator.h
  RecoParticleFlow/PFClusterProducer/plugins/ECAL2DPositionCalcWithDepthCorr.cc
  RecoParticleFlow/PFClusterProducer/plugins/ECALPFSeedCleaner.cc
  RecoParticleFlow/PFClusterProducer/plugins/Navigators.cc
  RecoParticleFlow/PFClusterProducer/plugins/PFClusterProducer.cc
  RecoParticleFlow/PFClusterProducer/plugins/PFMultiDepthClusterProducer.cc
  RecoParticleFlow/PFClusterProducer/plugins/PFRecHitProducer.cc
  RecoParticleFlow/PFClusterProducer/plugins/SimMappers/RealisticSimClusterMapper.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, pf

#40711 diphoton_hlt_filters_added
  PhysicsTools/NanoAOD/python/triggerObjects_cff.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved, egamma

#40492 Fix memory leaks in PortableHostCollection deserialization
  CUDADataFormats/PortableTestObjects/src/classes_def.xml
  DataFormats/Portable/interface/PortableHostCollection.h
  DataFormats/PortableTestObjects/src/alpaka/classes_serial_def.xml
  DataFormats/SoATemplate/interface/SoALayout.h
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#40718 Phase2-gex149 Correct the order of Tracker files in some of the scenarios which is relevant for DD4hep application
  Configuration/Geometry/python/dict2026Geometry.py
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D91.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D97.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D91XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D97XML_cfi.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#40715 BTL geometry: fixed overlaps
  Geometry/MTDCommonData/data/btl/v2/btl.xml
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, mtd

#40726 Run3-sim141 Update the scripts in SimG4Core/PrintGeomInfo/test/python
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheck2026DD4hep_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheck2026DDD_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckCalo_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckEcal_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckHGCal_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckMuon_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckNoseDDD_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckTracker_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runDD4hep2026_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runDDD2026_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runPrintG4Solids_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runPrintSolid_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runSens2026_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runSummary2026_cfg.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40719 Run3-sim140 Add filldescription to one class in SimG4CMS/ShowerLibraryProducer
  SimG4CMS/ShowerLibraryProducer/test/AnalyzeTuples.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40681 [MkFit] Consolidate nan checks and filtering, expose propagation fail flag to steering code
  RecoTracker/MkFitCMS/src/runFunctions.cc
  RecoTracker/MkFitCMS/standalone/Makefile
  RecoTracker/MkFitCMS/standalone/MkStandaloneSeqs.cc
  RecoTracker/MkFitCMS/standalone/Shell.cc
  RecoTracker/MkFitCMS/standalone/Shell.h
  RecoTracker/MkFitCMS/standalone/ShellLinkDef.h
  RecoTracker/MkFitCMS/standalone/buildtestMPlex.cc
  RecoTracker/MkFitCMS/standalone/mkFit.cc
  RecoTracker/MkFitCMS/standalone/tkNtuple/WriteMemoryFile.cc
  RecoTracker/MkFitCore/interface/Config.h
  RecoTracker/MkFitCore/interface/MkBuilder.h
  RecoTracker/MkFitCore/interface/Track.h
  RecoTracker/MkFitCore/interface/TrackStructures.h
  RecoTracker/MkFitCore/interface/TrackerInfo.h
  RecoTracker/MkFitCore/interface/cms_common_macros.h
  RecoTracker/MkFitCore/src/Debug.cc
  RecoTracker/MkFitCore/src/Debug.h
  RecoTracker/MkFitCore/src/FindingFoos.h
  RecoTracker/MkFitCore/src/KalmanUtilsMPlex.cc
  RecoTracker/MkFitCore/src/KalmanUtilsMPlex.h
  RecoTracker/MkFitCore/src/MkBase.h
  RecoTracker/MkFitCore/src/MkBuilder.cc
  RecoTracker/MkFitCore/src/MkFinder.cc
  RecoTracker/MkFitCore/src/MkFinder.h
  RecoTracker/MkFitCore/src/PropagationMPlex.cc
  RecoTracker/MkFitCore/src/PropagationMPlex.h
  RecoTracker/MkFitCore/src/PropagationMPlex.icc
  RecoTracker/MkFitCore/src/Track.cc
  RecoTracker/MkFitCore/src/TrackStructures.cc
  RecoTracker/MkFitCore/standalone/ConformalUtilsMPlex.cc
  RecoTracker/MkFitCore/standalone/Event.cc
  RecoTracker/MkFitCore/standalone/Event.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, code-checks-approved, tracking

#40664 The Lorentz Angle Prompt Calibration Loop for Pixel Forward Phase 1 detector
  CalibTracker/SiPixelLorentzAngle/interface/SiPixelLorentzAngleCalibrationStruct.h
  CalibTracker/SiPixelLorentzAngle/python/SiPixelLorentzAnglePCLHarvesterMCS_cfi.py
  CalibTracker/SiPixelLorentzAngle/src/SiPixelLorentzAnglePCLHarvesterMCS.cc
  CalibTracker/SiPixelLorentzAngle/src/SiPixelLorentzAnglePCLWorker.cc
  Calibration/TkAlCaRecoProducers/python/ALCARECOPromptCalibProdSiPixelLorentzAngleMCS_Output_cff.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOPromptCalibProdSiPixelLorentzAngleMCS_cff.py
  Calibration/TkAlCaRecoProducers/python/AlcaSiPixelLorentzAngleHarvesterMCS_cff.py
  Calibration/TkAlCaRecoProducers/python/AlcaSiPixelLorentzAngleHarvesterMCS_cfi.py
  Calibration/TkAlCaRecoProducers/test/parseFwkJobReport.py
  Calibration/TkAlCaRecoProducers/test/testPCLAlCaHarvesting.py
  CondFormats/Common/data/SiPixelLorentzAngleRcd_MCS_multirun_prep.json
  CondFormats/Common/data/SiPixelLorentzAngleRcd_MCS_multirun_prod.json
  CondFormats/Common/data/SiPixelLorentzAngleRcd_MCS_prep.json
  CondFormats/Common/data/SiPixelLorentzAngleRcd_MCS_prod.json
  CondFormats/Common/test/DropBoxMetadataReader.py
  CondFormats/Common/test/ProduceDropBoxMetadata.py
  Configuration/AlCa/python/autoPCL.py
  Configuration/EventContent/python/AlCaRecoOutput_cff.py
  Configuration/PyReleaseValidation/python/relval_production.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/StandardSequences/python/AlCaHarvesting_cff.py
  Configuration/StandardSequences/python/AlCaRecoStreams_cff.py
Labels: alca-approved, operations-approved, fully-signed, tests-approved, pdmv-approved, db-approved, orp-approved, urgent, upgrade-approved, code-checks-approved, trk

#40511 L1T: Add jet quality and eg/tau isolation data vs. emu comparisons and ignore object index
  DQM/L1TMonitor/interface/L1TdeStage2CaloLayer2.h
  DQM/L1TMonitor/src/L1TdeStage2CaloLayer2.cc
  DQM/L1TMonitorClient/src/L1TStage2CaloLayer2DEClientSummary.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, l1t

#40721 [DQM][CLANG] Fix warnings reported by clang 14
  DPGAnalysis/HcalTools/plugins/CMTRawAnalyzer.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40736 Allow ProcessAccelerators to delete Services
  FWCore/ParameterSet/python/Config.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40667 [QGL, JMENanoAOD] PUPPI-compatible QGTagger producer
  PhysicsTools/NanoAOD/python/custom_jme_cff.py
  PhysicsTools/NanoAOD/python/nanojmeDQM_cff.py
  PhysicsTools/PatAlgos/python/slimming/miniAOD_tools.py
  RecoJets/JetProducers/interface/QGTagger.h
  RecoJets/JetProducers/plugins/QGTagger.cc
  RecoJets/JetProducers/python/QGTagger_cfi.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved, jetmet

#40596 Fix runTheMatrix interactive and add tests.
  Configuration/PyReleaseValidation/scripts/runTheMatrix.py
  Configuration/PyReleaseValidation/test/BuildFile.xml
  Configuration/PyReleaseValidation/test/test-runTheMatrix_interactive.sh
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#40683 PPS pixel track reco in bad pots
  RecoPPS/Local/interface/RPixDetPatternFinder.h
  RecoPPS/Local/interface/RPixRoadFinder.h
  RecoPPS/Local/plugins/CTPPSPixelLocalTrackProducer.cc
  RecoPPS/Local/src/RPixDetClusterizer.cc
  RecoPPS/Local/src/RPixPlaneCombinatoryTracking.cc
  RecoPPS/Local/src/RPixRoadFinder.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, code-checks-approved, ctpps

#40512 L1T: Add jet quality and eg/tau isolation data vs. emu comparisons and ignore object index [12_6_X]
  DQM/L1TMonitor/interface/L1TdeStage2CaloLayer2.h
  DQM/L1TMonitor/src/L1TdeStage2CaloLayer2.cc
  DQM/L1TMonitorClient/src/L1TStage2CaloLayer2DEClientSummary.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok, l1t

#40716 Add try/catch in OnlineBeamMonitor plugin to resolve runtime error
  DQM/BeamMonitor/plugins/OnlineBeamMonitor.cc
Labels: dqm-approved, fully-signed, tests-approved, db-approved, orp-approved, requires-external, code-checks-approved, tracking

#40731 fix mg_reweighting
  PhysicsTools/NanoAOD/plugins/GenWeightsTableProducer.cc
Labels: fully-signed, tests-approved, orp-approved, backport-ok, xpog-approved

#40724 Code to process phase2 version of deepTauID v2p5 [12_6_X]
  PhysicsTools/PatAlgos/python/slimming/miniAOD_tools.py
  RecoTauTag/RecoTau/interface/DeepTauScaling.h
  RecoTauTag/RecoTau/plugins/DeepTauId.cc
  RecoTauTag/RecoTau/python/PATTauDiscriminationAgainstElectronMVA6Phase2_cff.py
  RecoTauTag/RecoTau/python/mergedPhase2SlimmedElectronsForTauId_cff.py
  RecoTauTag/RecoTau/python/tauIdWPsDefs.py
  RecoTauTag/RecoTau/python/tools/runTauIdMVA.py
  RecoTauTag/RecoTau/test/runDeepTauIDsOnMiniAOD.py
Labels: reconstruction-approved, fully-signed, tests-rejected, orp-approved, requires-external, xpog-approved

#40723 Code to process phase2 version of deepTauID v2p5 [12_5_X]
  PhysicsTools/PatAlgos/python/slimming/miniAOD_tools.py
  RecoTauTag/RecoTau/interface/DeepTauScaling.h
  RecoTauTag/RecoTau/plugins/DeepTauId.cc
  RecoTauTag/RecoTau/python/PATTauDiscriminationAgainstElectronMVA6Phase2_cff.py
  RecoTauTag/RecoTau/python/mergedPhase2SlimmedElectronsForTauId_cff.py
  RecoTauTag/RecoTau/python/tauIdWPsDefs.py
  RecoTauTag/RecoTau/python/tools/runTauIdMVA.py
  RecoTauTag/RecoTau/test/runDeepTauIDsOnMiniAOD.py
Labels: reconstruction-approved, fully-signed, tests-rejected, orp-approved, requires-external, xpog-approved, tau

#40734 [126X] The Lorentz Angle Prompt Calibration Loop for Pixel Forward Phase 1 detector
  CalibTracker/SiPixelLorentzAngle/interface/SiPixelLorentzAngleCalibrationStruct.h
  CalibTracker/SiPixelLorentzAngle/python/SiPixelLorentzAnglePCLHarvesterMCS_cfi.py
  CalibTracker/SiPixelLorentzAngle/src/SiPixelLorentzAnglePCLHarvesterMCS.cc
  CalibTracker/SiPixelLorentzAngle/src/SiPixelLorentzAnglePCLWorker.cc
  Calibration/TkAlCaRecoProducers/python/ALCARECOPromptCalibProdSiPixelLorentzAngleMCS_Output_cff.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOPromptCalibProdSiPixelLorentzAngleMCS_cff.py
  Calibration/TkAlCaRecoProducers/python/AlcaSiPixelLorentzAngleHarvesterMCS_cff.py
  Calibration/TkAlCaRecoProducers/python/AlcaSiPixelLorentzAngleHarvesterMCS_cfi.py
  Calibration/TkAlCaRecoProducers/test/parseFwkJobReport.py
  Calibration/TkAlCaRecoProducers/test/testPCLAlCaHarvesting.py
  CondFormats/Common/data/SiPixelLorentzAngleRcd_MCS_multirun_prep.json
  CondFormats/Common/data/SiPixelLorentzAngleRcd_MCS_multirun_prod.json
  CondFormats/Common/data/SiPixelLorentzAngleRcd_MCS_prep.json
  CondFormats/Common/data/SiPixelLorentzAngleRcd_MCS_prod.json
  CondFormats/Common/test/DropBoxMetadataReader.py
  CondFormats/Common/test/ProduceDropBoxMetadata.py
  Configuration/AlCa/python/autoAlca.py
  Configuration/AlCa/python/autoPCL.py
  Configuration/EventContent/python/AlCaRecoOutput_cff.py
  Configuration/PyReleaseValidation/python/relval_production.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/StandardSequences/python/AlCaHarvesting_cff.py
  Configuration/StandardSequences/python/AlCaRecoStreams_cff.py
Labels: alca-approved, operations-approved, fully-signed, tests-approved, pdmv-approved, db-approved, orp-approved, upgrade-approved, backport-ok, trk

#40732 HCAL: bug fixed in DPGAnalysis/HcalTools for 2023 Run3
  DPGAnalysis/HcalTools/plugins/CMTRawAnalyzer.cc
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, hcal

#40738 Clarify ProcessAccelerator documentation
  FWCore/ParameterSet/python/Config.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40727 add a unit Test for `OnlineBeamMonitor`
  DQM/BeamMonitor/test/BuildFile.xml
  DQM/BeamMonitor/test/Online_BeamMonitor_file.py
  DQM/BeamMonitor/test/runTest.cpp
  DQM/BeamMonitor/test/testOnlineBeamMonitor.sh
Labels: dqm-approved, fully-signed, tests-rejected, db-approved, orp-approved, requires-external, code-checks-approved, tracking

#40749 Extended SimpleMemoryCheck to print RSS info to the logger
  FWCore/Services/plugins/SimpleMemoryCheck.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40742 Phase2 tracker: Bug-fix for clashes in TBPX L2 in T25 and T32
  Geometry/TrackerCommonData/data/PhaseII/Tracker_DD4hep_compatible_IT702_2021_03/pixel.xml
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#40743 Run3-gex151 Replace std::cout with messagelogger stareents in Geometry/EcalAlgo
  Geometry/EcalAlgo/src/EcalEndcapGeometry.cc
  Geometry/EcalAlgo/src/EcalPreshowerGeometry.cc
  Geometry/EcalAlgo/test/EcalBarrelCellParameterDump.cc
  Geometry/EcalAlgo/test/EcalEndcapCellParameterDump.cc
  Geometry/EcalAlgo/test/EcalPreshowerParameterDump.cc
  Geometry/EcalAlgo/test/python/runESCellDump_cfg.py
  Geometry/EcalAlgo/test/python/runEcalCellDumpDD4hep_cfg.py
  Geometry/EcalAlgo/test/python/runEcalCellDumpDDD_cfg.py
  Geometry/EcalAlgo/test/python/testEcalGeometry.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40703 Run3-sim138 Changes which will allow the usage of new shower library (the cfi file in Geometry/HcalSimData will be modified once the new library appears)
  SimG4CMS/Calo/src/HFFibre.cc
  SimG4CMS/Calo/src/HFShowerLibrary.cc
  SimG4CMS/ShowerLibraryProducer/interface/HcalForwardLibWriter.h
  SimG4CMS/ShowerLibraryProducer/plugins/HcalForwardLibWriter.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, urgent, requires-external, code-checks-approved

#40757 Only compare geometry in Geometry/TrackerGoeometryBuilder test
  Geometry/TrackerGeometryBuilder/test/python/testTrackerParametersFromDD4hep_cfg.py
  Geometry/TrackerGeometryBuilder/test/python/testTrackerParametersFromDDD_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#40739 Run3-gex150 Avoid using cout in Geometry/CMSCommonData
  Geometry/CMSCommonData/test/DDFilteredViewAnalyzer.cc
  Geometry/CMSCommonData/test/runDDFilteredViewAnalyzerFromDB_cfg.py
  Geometry/CMSCommonData/test/runDDFilteredViewAnalyzerFromDD_cfg.py
  Geometry/CMSCommonData/test/runDDFilteredViewAnalyzer_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#40751 HCAL Fb DQM monitoring at layer1
  DQM/L1TMonitor/interface/L1TStage2CaloLayer1.h
  DQM/L1TMonitor/python/L1TStage2CaloLayer1_cfi.py
  DQM/L1TMonitor/src/L1TStage2CaloLayer1.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, hcal

#40759 [13_0_X] Only compare geometry in Geometry/TrackerGoeometryBuilder test
  Geometry/TrackerGeometryBuilder/test/python/testTrackerParametersFromDD4hep_cfg.py
  Geometry/TrackerGeometryBuilder/test/python/testTrackerParametersFromDDD_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, trk

#40740 [QGL, JMENanoAOD] Backport of #40667 (PUPPI-compatible QGTagger producer) to 12_6_X
  PhysicsTools/NanoAOD/python/custom_jme_cff.py
  PhysicsTools/NanoAOD/python/nanojmeDQM_cff.py
  PhysicsTools/PatAlgos/python/slimming/miniAOD_tools.py
  RecoJets/JetProducers/interface/QGTagger.h
  RecoJets/JetProducers/plugins/QGTagger.cc
  RecoJets/JetProducers/python/QGTagger_cfi.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, xpog-approved

#40752 Phase2-sim141 Small changes to the scripts to test all Phase2 geometry scenarios
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheck2026DD4hep_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheck2026DDD_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runDD4hep2026_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runDDD2026_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runSens2026_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runSummary2026_cfg.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40737 HCAL Fb DQM monitoring at layer1 - online DQM test 12_6_3
  DQM/L1TMonitor/interface/L1TStage2CaloLayer1.h
  DQM/L1TMonitor/python/L1TStage2CaloLayer1_cfi.py
  DQM/L1TMonitor/src/L1TStage2CaloLayer1.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok, hcal

#40768 [backport] HCAL Fb DQM monitoring at layer1
  DQM/L1TMonitor/interface/L1TStage2CaloLayer1.h
  DQM/L1TMonitor/python/L1TStage2CaloLayer1_cfi.py
  DQM/L1TMonitor/src/L1TStage2CaloLayer1.cc
Labels: dqm-pending, pending-signatures, tests-approved, orp-approved, backport-ok

#40746 [TkAl all-in-one tool] Improve documentation and unit test coverage
  Alignment/OfflineValidation/README.md
  Alignment/OfflineValidation/README_DMR.md
  Alignment/OfflineValidation/README_IOV.md
  Alignment/OfflineValidation/README_JetHT.md
  Alignment/OfflineValidation/README_PV.md
  Alignment/OfflineValidation/bin/JDrawer.h
  Alignment/OfflineValidation/bin/Zmumumerge.cc
  Alignment/OfflineValidation/bin/jetHtPlotter.cc
  Alignment/OfflineValidation/plugins/GeneralPurposeTrackAnalyzer.cc
  Alignment/OfflineValidation/test/testTrackAnalyzers.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#40771 Alpaka-related updates
  FWCore/ParameterSet/python/Config.py
  HeterogeneousCore/AlpakaCore/interface/EventCache.h
  HeterogeneousCore/AlpakaCore/interface/QueueCache.h
  HeterogeneousCore/AlpakaCore/interface/alpaka/MakerMacros.h
  HeterogeneousCore/AlpakaInterface/interface/AlpakaServiceFwd.h
  HeterogeneousCore/AlpakaInterface/interface/CachingAllocator.h
  HeterogeneousCore/AlpakaInterface/interface/config.h
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaGlobalProducer.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaGlobalProducerOffset.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaProducer.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaStreamProducer.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaStreamSynchronizingProducer.cc
  HeterogeneousCore/AlpakaTest/test/writer.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#40778 Changed internals of Digest to use std::array
  DataFormats/Provenance/src/Hash.cc
  FWCore/Utilities/interface/Digest.h
  FWCore/Utilities/src/Digest.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40772 Alpaka-related updates [13.0.x]
  FWCore/ParameterSet/python/Config.py
  HeterogeneousCore/AlpakaCore/interface/EventCache.h
  HeterogeneousCore/AlpakaCore/interface/QueueCache.h
  HeterogeneousCore/AlpakaCore/interface/alpaka/MakerMacros.h
  HeterogeneousCore/AlpakaInterface/interface/AlpakaServiceFwd.h
  HeterogeneousCore/AlpakaInterface/interface/CachingAllocator.h
  HeterogeneousCore/AlpakaInterface/interface/config.h
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaGlobalProducer.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaGlobalProducerOffset.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaProducer.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaStreamProducer.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaStreamSynchronizingProducer.cc
  HeterogeneousCore/AlpakaTest/test/writer.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, backport-ok, heterogeneous-approved

#40710 Run3JetID
  Configuration/Eras/python/Era_Run2_2018_cff.py
  Configuration/Eras/python/Modifier_run2_jme_2018_cff.py
  Configuration/Eras/python/Modifier_run3_jme_Winter22runsBCDEprompt_cff.py
  PhysicsTools/NanoAOD/python/jetsAK4_CHS_cff.py
  PhysicsTools/NanoAOD/python/jetsAK4_Puppi_cff.py
  PhysicsTools/NanoAOD/python/jetsAK8_cff.py
  PhysicsTools/NanoAOD/python/nano_eras_cff.py
  PhysicsTools/SelectorUtils/interface/PFJetIDSelectionFunctor.h
Labels: operations-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved, jetmet

#40748 Use a precision limit for the formula evaluator test
  CommonTools/Utils/test/testFormulaEvaluator.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40675 Use an indexed sort for expensive comparisons in MuonShowerInformationFiller
  RecoMuon/MuonIdentification/interface/MuonShowerInformationFiller.h
  RecoMuon/MuonIdentification/src/MuonShowerInformationFiller.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, muon

#40782 RUn3-gex152 Use edm::LogVerbatim instead of std::cout in Geometry/CaloEventSetup
  Geometry/CaloEventSetup/test/CaloGeometryAnalyzer.cc
  Geometry/CaloEventSetup/test/DumpEcalTrigTowerMapping.cc
  Geometry/CaloEventSetup/test/TestEcalGetWindow.cc
  Geometry/CaloEventSetup/test/runMaster_cfg.py
  Geometry/CaloEventSetup/test/runTestCaloGeometryAlign_cfg.py
  Geometry/CaloEventSetup/test/runTestCaloGeometryDBDD4hep_cfg.py
  Geometry/CaloEventSetup/test/runTestCaloGeometryDB_cfg.py
  Geometry/CaloEventSetup/test/runTestCaloGeometryDD4hep_cfg.py
  Geometry/CaloEventSetup/test/runTestCaloGeometryDDD_cfg.py
  Geometry/CaloEventSetup/test/runTestCaloGeometryLocalDBDD4hep_cfg.py
  Geometry/CaloEventSetup/test/runTestCaloGeometryLocalDB_cfg.py
  Geometry/CaloEventSetup/test/runTestCaloGeometryXMLDB_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40760 stop using bare ROOT objects in `HLTDQMHist*` classes
  DQMOffline/Trigger/interface/HLTDQMFilterEffHists.h
  DQMOffline/Trigger/interface/HLTDQMHist.h
  DQMOffline/Trigger/interface/HLTDQMTagAndProbeEff.h
  DQMOffline/Trigger/plugins/HLTTagAndProbeOfflineSource.cc
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#40796 [13_0_X] Remove call to alpaka::getDev() in test code when allocating TestDeviceCollection
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaGlobalProducer.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaGlobalProducerOffset.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaStreamProducer.cc
Labels: fully-signed, tests-approved, orp-approved, backport-ok, heterogeneous-approved

#40744 Adding a check on the BS transverse widths in OnlineBeamSpotESProducer
  RecoVertex/BeamSpotProducer/plugins/OnlineBeamSpotESProducer.cc
Labels: alca-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#40807 Fix BeamSpot Z value in Realistic25ns13p6TeVEOY2022Collision VtxSmearing scenario
  IOMC/EventVertexGenerators/python/VtxSmearedParameters_cfi.py
  IOMC/EventVertexGenerators/python/VtxSmearedRealistic25ns13p6TeVEOY2022Collision_cfi.py
Labels: simulation-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#40808 Minor improvements to Alpaka tests
  HeterogeneousCore/AlpakaInterface/test/alpaka/testKernel.dev.cc
  HeterogeneousCore/AlpakaTest/interface/AlpakaESTestData.h
  HeterogeneousCore/AlpakaTest/plugins/TestAlpakaAnalyzer.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaProducer.cc
  HeterogeneousCore/AlpakaTest/test/writer.py
Labels: fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, heterogeneous-approved

#40811 [13_0_X] Fix BeamSpot Z value in Realistic25ns13p6TeVEOY2022Collision VtxSmearing scenario
  IOMC/EventVertexGenerators/python/VtxSmearedParameters_cfi.py
  IOMC/EventVertexGenerators/python/VtxSmearedRealistic25ns13p6TeVEOY2022Collision_cfi.py
Labels: simulation-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#40805 Removed unused variables in SiPixelChargeReweightingAlgorithm
  SimTracker/Common/interface/SiPixelChargeReweightingAlgorithm.h
Labels: simulation-approved, fully-signed, tests-rejected, orp-approved, code-checks-approved, trk

#40809 Minor improvements to Alpaka tests [13.0.x]
  HeterogeneousCore/AlpakaInterface/test/alpaka/testKernel.dev.cc
  HeterogeneousCore/AlpakaTest/interface/AlpakaESTestData.h
  HeterogeneousCore/AlpakaTest/plugins/TestAlpakaAnalyzer.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaProducer.cc
  HeterogeneousCore/AlpakaTest/test/writer.py
Labels: fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, heterogeneous-approved

#40813 Include product instance name for the data product copied implicitly to host in Alpaka EDProducers
  HeterogeneousCore/AlpakaCore/interface/alpaka/ProducerBase.h
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaESProducerB.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaESProducerD.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaStreamProducer.cc
  HeterogeneousCore/AlpakaTest/test/testAlpakaModules_cfg.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#40793 `usesResource` in `ConditionDBWriter`
  CalibTracker/SiStripChannelGain/plugins/SiStripGainFromCalibTree.cc
  CalibTracker/SiStripESProducers/plugins/fake/SiStripApvGainBuilderFromTag.h
  CalibTracker/SiStripESProducers/plugins/fake/SiStripNoiseNormalizedWithApvGainBuilder.h
  CommonTools/ConditionDBWriter/interface/ConditionDBWriter.h
  CondCore/DBOutputService/interface/PoolDBOutputService.h
  CondCore/DBOutputService/src/PoolDBOutputService.cc
  CondFormats/PhysicsToolsObjects/test/SiStripDeDx2DBuilder.cc
  CondFormats/PhysicsToolsObjects/test/SiStripDeDx3DBuilder.cc
  CondFormats/PhysicsToolsObjects/test/SiStripDeDxMipBuilder.cc
  CondFormats/PhysicsToolsObjects/test/SiStripDeDxMipBuilder.h
  CondTools/SiStrip/plugins/SiStripApvGainBuilder.cc
  CondTools/SiStrip/plugins/SiStripApvSimulationParametersBuilder.cc
  CondTools/SiStrip/plugins/SiStripNoisesBuilder.cc
  CondTools/SiStrip/plugins/SiStripPedestalsBuilder.cc
  CondTools/SiStrip/plugins/SiStripSummaryBuilder.cc
  CondTools/SiStrip/plugins/SiStripThresholdBuilder.cc
Labels: alca-approved, core-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, trk

#40788 remove one HLT-related histogram from E/Gamma offline DQM
  DQMOffline/EGamma/plugins/ElectronGeneralAnalyzer.cc
  DQMOffline/EGamma/plugins/ElectronGeneralAnalyzer.h
  DQMOffline/EGamma/python/electronGeneralAnalyzer_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40770 Migrate consumesMany() to edm::GetterOfProducts() in GlobalHitsAnalyzer
  Validation/GlobalHits/interface/GlobalHitsAnalyzer.h
  Validation/GlobalHits/src/GlobalHitsAnalyzer.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40785 stop using bare ROOT objects in `HLTDQMHist*` classes [`12_6_X`]
  DQMOffline/Trigger/interface/HLTDQMFilterEffHists.h
  DQMOffline/Trigger/interface/HLTDQMHist.h
  DQMOffline/Trigger/interface/HLTDQMTagAndProbeEff.h
  DQMOffline/Trigger/plugins/HLTTagAndProbeOfflineSource.cc
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#40786 stop using bare ROOT objects in `HLTDQMHist*` classes [`12_5_X`]
  DQMOffline/Trigger/interface/HLTDQMFilterEffHists.h
  DQMOffline/Trigger/interface/HLTDQMHist.h
  DQMOffline/Trigger/interface/HLTDQMTagAndProbeEff.h
  DQMOffline/Trigger/plugins/HLTTagAndProbeOfflineSource.cc
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#40787 stop using bare ROOT objects in `HLTDQMHist*` classes [`12_4_X`]
  DQMOffline/Trigger/interface/HLTDQMFilterEffHists.h
  DQMOffline/Trigger/interface/HLTDQMHist.h
  DQMOffline/Trigger/interface/HLTDQMTagAndProbeEff.h
  DQMOffline/Trigger/plugins/HLTTagAndProbeOfflineSource.cc
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#40784 stop using bare ROOT objects in `HLTDQMHist*` classes [`13_0_X`]
  DQMOffline/Trigger/interface/HLTDQMFilterEffHists.h
  DQMOffline/Trigger/interface/HLTDQMHist.h
  DQMOffline/Trigger/interface/HLTDQMTagAndProbeEff.h
  DQMOffline/Trigger/plugins/HLTTagAndProbeOfflineSource.cc
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#40806 remove one HLT-related histogram from (Jet)MET offline DQM
  DQMOffline/JetMET/interface/METAnalyzer.h
  DQMOffline/JetMET/src/METAnalyzer.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40766 [13_0_X] Adding a check on the BS transverse widths in OnlineBeamSpotESProducer
  RecoVertex/BeamSpotProducer/plugins/OnlineBeamSpotESProducer.cc
Labels: alca-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok, tracking

#40644 Phase2-hgx335O Try to introduce different lateral sizes of the components inside a silicon module of HGCal
  Geometry/HGCalCommonData/data/hgcal/v17/hgcal.xml
  Geometry/HGCalCommonData/data/hgcalcell/v17/hgcal.xml
  Geometry/HGCalCommonData/data/hgcalcell/v17/hgcalcell.xml
  Geometry/HGCalCommonData/data/hgcalwafer/v17/hgcal.xml
  Geometry/HGCalCommonData/data/hgcalwafer/v17/hgcalwafer.xml
  Geometry/HGCalCommonData/data/hgcalwafer/v17f/hgcal.xml
  Geometry/HGCalCommonData/data/hgcalwafer/v17f/hgcalpos.xml
  Geometry/HGCalCommonData/data/hgcalwafer/v17f/hgcalwafer.xml
  Geometry/HGCalCommonData/data/hgcalwafer/v17n/hgcalwafer.xml
  Geometry/HGCalCommonData/data/hgcalwafer/v17p/hgcal.xml
  Geometry/HGCalCommonData/data/hgcalwafer/v17p/hgcalwafer.xml
  Geometry/HGCalCommonData/interface/HGCalWaferMask.h
  Geometry/HGCalCommonData/plugins/DDHGCalCell.cc
  Geometry/HGCalCommonData/plugins/DDHGCalWaferFullRotated.cc
  Geometry/HGCalCommonData/plugins/DDHGCalWaferPartialRotated.cc
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalCell.cc
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalWaferFullRotated.cc
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalWaferPartialRotated.cc
  Geometry/HGCalCommonData/src/HGCalCell.cc
  Geometry/HGCalCommonData/src/HGCalWaferMask.cc
  Geometry/HGCalCommonData/test/cms.xml
  Geometry/HGCalCommonData/test/python/g4OverlapCheck_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#40818 [13_0_X] Include product instance name for the data product copied implicitly to host in Alpaka EDProducers
  HeterogeneousCore/AlpakaCore/interface/alpaka/ProducerBase.h
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaESProducerB.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaESProducerD.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaStreamProducer.cc
  HeterogeneousCore/AlpakaTest/test/testAlpakaModules_cfg.py
Labels: fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, heterogeneous-approved

#40812 Changed binary to logical operations in TrackingTools packages
  TrackingTools/GsfTracking/src/GsfTrajectoryFitter.cc
  TrackingTools/TrackFitters/src/KFTrajectoryFitter.cc
  TrackingTools/TrackFitters/src/KFTrajectorySmoother.cc
  TrackingTools/TrajectoryFiltering/interface/SeedExtensionTrajectoryFilter.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#40634 Spedup HCAL Digitization
  CondFormats/HcalObjects/src/HcalSiPMCharacteristics.cc
  SimCalorimetry/HcalSimAlgos/interface/HcalSiPM.h
  SimCalorimetry/HcalSimAlgos/interface/HcalSiPMHitResponse.h
  SimCalorimetry/HcalSimAlgos/interface/HcalSiPMShape.h
  SimCalorimetry/HcalSimAlgos/src/HcalSiPM.cc
  SimCalorimetry/HcalSimAlgos/src/HcalSiPMHitResponse.cc
  SimCalorimetry/HcalSimAlgos/src/HcalSiPMShape.cc
Labels: alca-approved, simulation-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, performance-improvements, hcal

#40824 add double PFTau HLT filter
  HLTrigger/HLTfilters/plugins/plugins.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40804 use `@standardDQM` for Run-3 re-HLT workflows
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#40827 Fix synchronization in ContextState test
  HeterogeneousCore/CUDACore/test/test_ScopedContext.cc
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#40829 Update HMT shower thresholds for HMT emulation in CSC
  L1Trigger/CSCTriggerPrimitives/python/params/showerParams.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40822 Fix expected version number of uGT with muon shower support
  EventFilter/L1TRawToDigi/python/gtStage2Raw_cfi.py
  L1Trigger/L1TMuon/src/MuonRawDigiTranslator.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40792 Move dictionary declarations of Alpaka serial backend data products to the host classes_def.xml
  DataFormats/PortableTestObjects/BuildFile.xml
  DataFormats/PortableTestObjects/src/alpaka/classes_serial.h
  DataFormats/PortableTestObjects/src/alpaka/classes_serial_def.xml
  DataFormats/PortableTestObjects/src/classes.h
  DataFormats/PortableTestObjects/src/classes_def.xml
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#40783 Run3-gex153 GE21 chamber has shifted its position in 2023. Accordingly a new scenario is made for 2023 geometry
  Configuration/Geometry/README.md
  Configuration/Geometry/python/GeometryDD4hepExtended2023Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2023_cff.py
  Configuration/Geometry/python/GeometryExtended2023Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2023_cff.py
  Configuration/Geometry/python/dict2021Geometry.py
  Configuration/StandardSequences/python/GeometryConf.py
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2023.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometry2023XML_cfi.py
  Geometry/MuonCommonData/data/gem21/2023/v1/gem21.xml
Labels: geometry-approved, operations-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#40797 Fix RPC and GEM TP unpacking in EMTF unpacker
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFBlockGEM.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFBlockRPC.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40781 Phase2-gex335R Backport #40644 to CMSSW_13_0_X to complete v17 definition of HGCal with different lateral sizes of the components inside a silicon module
  Geometry/HGCalCommonData/data/hgcal/v17/hgcal.xml
  Geometry/HGCalCommonData/data/hgcalcell/v17/hgcal.xml
  Geometry/HGCalCommonData/data/hgcalcell/v17/hgcalcell.xml
  Geometry/HGCalCommonData/data/hgcalwafer/v17/hgcal.xml
  Geometry/HGCalCommonData/data/hgcalwafer/v17/hgcalwafer.xml
  Geometry/HGCalCommonData/data/hgcalwafer/v17f/hgcal.xml
  Geometry/HGCalCommonData/data/hgcalwafer/v17f/hgcalpos.xml
  Geometry/HGCalCommonData/data/hgcalwafer/v17f/hgcalwafer.xml
  Geometry/HGCalCommonData/data/hgcalwafer/v17n/hgcalwafer.xml
  Geometry/HGCalCommonData/data/hgcalwafer/v17p/hgcal.xml
  Geometry/HGCalCommonData/data/hgcalwafer/v17p/hgcalwafer.xml
  Geometry/HGCalCommonData/interface/HGCalWaferMask.h
  Geometry/HGCalCommonData/plugins/DDHGCalCell.cc
  Geometry/HGCalCommonData/plugins/DDHGCalWaferFullRotated.cc
  Geometry/HGCalCommonData/plugins/DDHGCalWaferPartialRotated.cc
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalCell.cc
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalWaferFullRotated.cc
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalWaferPartialRotated.cc
  Geometry/HGCalCommonData/src/HGCalCell.cc
  Geometry/HGCalCommonData/src/HGCalWaferMask.cc
  Geometry/HGCalCommonData/test/cms.xml
  Geometry/HGCalCommonData/test/python/g4OverlapCheck_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, backport-ok

#40671 Backport: add HTXS Filter for Run2 UL
  GeneratorInterface/GenFilters/plugins/HTXSFilter.cc
  GeneratorInterface/GenFilters/plugins/HTXSFilter.h
Labels: generators-approved, fully-signed, tests-approved, orp-approved

#40762 [PileupJetId, Puppi] Pileup ID input variable fix, puppi weight ValueMap access, optional photon protection for existing puppi weights
  CommonTools/PileupAlgos/plugins/PuppiProducer.cc
  PhysicsTools/NanoAOD/python/custom_jme_cff.py
  RecoJets/JetProducers/interface/PileupJetIdAlgo.h
  RecoJets/JetProducers/plugins/PileupJetIdProducer.cc
  RecoJets/JetProducers/plugins/PileupJetIdProducer.h
  RecoJets/JetProducers/python/PileupJetID_cfi.py
  RecoJets/JetProducers/src/PileupJetIdAlgo.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved, jetmet

#40800 Remove unused variables from RecoVertex/BeamSpotProducer
  RecoVertex/BeamSpotProducer/test/BeamFit.cc
  RecoVertex/BeamSpotProducer/test/NtupleHelper.cc
Labels: alca-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#40810 Changed binary to logical operation in OptimalHelixPlaneCrossing
  TrackingTools/GeomPropagators/interface/OptimalHelixPlaneCrossing.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#40763 PPS diamond mapping XML for 2023 run
  CondFormats/PPSObjects/xml/mapping_timing_diamond_2023.xml
  EventFilter/CTPPSRawToDigi/python/ctppsDiamondRawToDigi_cfi.py
  EventFilter/CTPPSRawToDigi/python/ctppsRawToDigi_cff.py
Labels: alca-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, ctpps

#40823 add double PFTau HLT filter [13_0_X]
  HLTrigger/HLTfilters/plugins/plugins.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#40801 [PileupJetId, Puppi] Backport of #40762 (Pileup ID input variable fix, puppi weight ValueMap access, optional photon protection for existing puppi weights) to CMSSW_13_0_X
  CommonTools/PileupAlgos/plugins/PuppiProducer.cc
  PhysicsTools/NanoAOD/python/custom_jme_cff.py
  RecoJets/JetProducers/interface/PileupJetIdAlgo.h
  RecoJets/JetProducers/plugins/PileupJetIdProducer.cc
  RecoJets/JetProducers/plugins/PileupJetIdProducer.h
  RecoJets/JetProducers/python/PileupJetID_cfi.py
  RecoJets/JetProducers/src/PileupJetIdAlgo.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, xpog-approved

#40839 [13_0_X]Update HMT shower thresholds for HMT emulation in CSC
  L1Trigger/CSCTriggerPrimitives/python/params/showerParams.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, backport-ok

#40836 [13_0_X] Fix RPC and GEM TP unpacking in EMTF unpacker
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFBlockGEM.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFBlockRPC.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, backport-ok

#40826 [13_0_X] Move dictionary declarations of Alpaka serial backend data products to the host classes_def.xml
  DataFormats/PortableTestObjects/BuildFile.xml
  DataFormats/PortableTestObjects/src/alpaka/classes_serial.h
  DataFormats/PortableTestObjects/src/alpaka/classes_serial_def.xml
  DataFormats/PortableTestObjects/src/classes.h
  DataFormats/PortableTestObjects/src/classes_def.xml
Labels: fully-signed, tests-approved, orp-approved, backport-ok, heterogeneous-approved

#40653 Use `--beamspot Nominal2022PbPbCollision` for all Run 3 heavy-ion workflows
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#40837 Phase2-gex154A Fix the issue of 2026D94 which can now work in the dd4hep version
  Geometry/ForwardCommonData/python/hfnoseParametersInitialization_cfi.py
  Geometry/HGCalCommonData/plugins/HGCalNumberingInitialization.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#40795 Initialize CSCCathodeLCTProcessor::ispretrig_ array
  L1Trigger/CSCTriggerPrimitives/src/CSCCathodeLCTProcessor.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40831 Run 3 jetid backport
  Configuration/Eras/python/Era_Run2_2018_cff.py
  Configuration/Eras/python/Modifier_run2_jme_2018_cff.py
  Configuration/Eras/python/Modifier_run3_jme_Winter22runsBCDEprompt_cff.py
  PhysicsTools/NanoAOD/python/jetsAK4_CHS_cff.py
  PhysicsTools/NanoAOD/python/jetsAK4_Puppi_cff.py
  PhysicsTools/NanoAOD/python/jetsAK8_cff.py
  PhysicsTools/NanoAOD/python/nano_eras_cff.py
  PhysicsTools/SelectorUtils/interface/PFJetIDSelectionFunctor.h
Labels: operations-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, xpog-approved, jetmet

#40843 PPS diamond mapping XML for 2023 run (backport)
  CondFormats/PPSObjects/xml/mapping_timing_diamond_2023.xml
  EventFilter/CTPPSRawToDigi/python/ctppsDiamondRawToDigi_cfi.py
  EventFilter/CTPPSRawToDigi/python/ctppsRawToDigi_cff.py
Labels: alca-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, ctpps

#40845 Update debug printouts for MTD in several packages, fix simulation LogDebug
  RecoLocalFastTime/FTLCommonAlgos/plugins/BTLUncalibRecHitAlgo.cc
  RecoMTD/DetLayers/src/MTDDetTray.cc
  RecoMTD/TrackExtender/plugins/TrackExtenderWithMTD.cc
  SimFastTiming/FastTimingCommon/test/MTDDigiDump.cc
  SimG4Core/Notification/src/SimTrackManager.cc
Labels: reconstruction-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#40853 Add space for null termination in CSCChamberTimeCorrectionsValues
  OnlineDB/CSCCondDB/interface/CSCChamberTimeCorrectionsValues.h
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#40852 Remove the CUDAService from the HLT configuration
  HLTrigger/Configuration/python/customizeHLTforCMSSW.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40816 Run3-gex153X Backport #40783 to CMSSW version 13_0_X the 2023 Geometry modified because of shifted positions of GE21 Chambers
  Configuration/Geometry/README.md
  Configuration/Geometry/python/GeometryDD4hepExtended2023Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2023_cff.py
  Configuration/Geometry/python/GeometryExtended2023Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2023_cff.py
  Configuration/Geometry/python/dict2021Geometry.py
  Configuration/StandardSequences/python/GeometryConf.py
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2023.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometry2023XML_cfi.py
  Geometry/MuonCommonData/data/gem21/2023/v1/gem21.xml
Labels: geometry-approved, operations-approved, fully-signed, tests-approved, orp-approved, upgrade-approved

#40841 Use named constants for uG(M)T firmware versions etc.
  L1Trigger/L1TMuon/interface/MuonRawDigiTranslator.h
  L1Trigger/L1TMuon/src/MuonRawDigiTranslator.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40856 `SiPixelDynamicInefficiency_PayloadInspector`: add polynomial representation plot of inefficiency vs inst lumi
  CondCore/SiPixelPlugins/plugins/SiPixelDynamicInefficiency_PayloadInspector.cc
  CondCore/SiPixelPlugins/test/testSiPixelDynamicInefficiency.sh
  CondCore/SiPixelPlugins/test/testSiPixelPayloadInspector.cpp
Labels: fully-signed, tests-rejected, db-approved, orp-approved, code-checks-approved, trk

#40857 Drop unused lto flags in `BigProducts/Simulation` BuildFile
  BigProducts/Simulation/BuildFile.xml
Labels: core-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40860 Use frozen HLT menu `2022v15` in `13_0_X` Run-3 RelVals
  Configuration/HLT/python/autoHLT.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved
