Repository cms-sw/cmssw, pull requests merged in 2023-08, with the labels that each got.

#42372 [13_0_X] Update 2023 MC GTs with the fixed L1T tag and re-snapshot the data GTs
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok

#42425 Replace the SFINAE check with static_assert
  HeterogeneousCore/AlpakaInterface/interface/CachingAllocator.h
Labels: fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, heterogeneous-approved

#42395 ECAL skip GPU unpacking of the rest of the block if a bad block is detected - 130x
  EventFilter/EcalRawToDigi/plugins/UnpackGPU.cu
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, ecal

#42406 ECAL skip GPU unpacking of the rest of the block if a bad block is detected - 131x
  EventFilter/EcalRawToDigi/plugins/UnpackGPU.cu
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, ecal

#42411 fix configuration of GPU Pixel unpacker in Run-3 HLT menus post-#41632 [`13_2_X`]
  HLTrigger/Configuration/python/customizeHLTforCMSSW.py
  RecoLocalTracker/SiPixelClusterizer/plugins/SiPixelRawToClusterCUDA.cc
  RecoLocalTracker/SiPixelClusterizer/plugins/SiPixelRawToClusterGPUKernel.cu
  RecoLocalTracker/SiPixelClusterizer/plugins/SiPixelRawToClusterGPUKernel.h
  RecoLocalTracker/SiPixelClusterizer/python/siPixelClustersPreSplitting_cff.py
Labels: hlt-approved, reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, backport-ok, trk

#42437 Removal of StringCutObjectSelector from Muon trigger DQM
  DQMOffline/Trigger/interface/HLTMuonMatchAndPlot.h
  DQMOffline/Trigger/python/HLTMuonOfflineAnalyzer_cff.py
  DQMOffline/Trigger/python/HLTMuonOfflineAnalyzer_cfi.py
  DQMOffline/Trigger/python/HLTMuonOfflineAnalyzer_cosmics_cff.py
  DQMOffline/Trigger/src/HLTMuonMatchAndPlot.cc
Labels: dqm-approved, fully-signed, tests-rejected, orp-approved, code-checks-approved

#42291 [13_1_X] Update autoskim and skim wf for 2023
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/Skimming/python/autoSkim.py
  DPGAnalysis/Skims/python/WElectronSkim_cff.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved

#42289 [13_0_X] Add HARVEST step to SKIM WF for Run3
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  DPGAnalysis/Skims/python/WElectronSkim_cff.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, backport-ok

#42426 Replace the SFINAE check with static_assert [13.2.x]
  HeterogeneousCore/AlpakaInterface/interface/CachingAllocator.h
Labels: fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, heterogeneous-approved

#42439 Replace the SFINAE check with static_assert [13.1.x]
  HeterogeneousCore/AlpakaInterface/interface/CachingAllocator.h
Labels: pending-signatures, tests-approved, bug-fix, orp-approved, backport-ok, heterogeneous-pending

#42228 Code changes for Protobuf 3.21.9 and TensorFlow 2.12
  DQMServices/Core/interface/ROOTFilePB.pb.h
  DQMServices/Core/src/ROOTFilePB.pb.cc
  DQMServices/FileIO/plugins/DQMFileSaverPB.cc
  RecoMET/METPUSubtraction/plugins/DeepMETProducer.cc
Labels: dqm-approved, reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, requires-external, code-checks-approved

#42427 Replace the SFINAE check with static_assert [13.0.x]
  HeterogeneousCore/AlpakaInterface/interface/CachingAllocator.h
Labels: fully-signed, tests-rejected, bug-fix, orp-approved, backport-ok, heterogeneous-approved

#42422 [Backport 10_6_X] Fix EmissionVetoHook for BB4L
  GeneratorInterface/Pythia8Interface/plugins/EmissionVetoHook1.cc
Labels: generators-approved, fully-signed, tests-approved, orp-approved

#42423 [Backport 12_4_X] Fix EmissionVetoHook for BB4L
  GeneratorInterface/Pythia8Interface/plugins/EmissionVetoHook1.cc
Labels: generators-approved, fully-signed, tests-approved, orp-approved

#42433 [Backport 13_2_X] Fix emission veto hook
  GeneratorInterface/Pythia8Interface/plugins/EmissionVetoHook1.cc
Labels: generators-pending, pending-signatures, tests-approved, orp-approved, backport-ok

#42434 [Backport 13_1_X] Fix EmissionVetoHook for BB4L
  GeneratorInterface/Pythia8Interface/plugins/EmissionVetoHook1.cc
Labels: generators-pending, pending-signatures, tests-approved, orp-approved, backport-ok

#42435 [Backport 13_0_X] Fix EmissionVetoHook for BB4L
  GeneratorInterface/Pythia8Interface/plugins/EmissionVetoHook1.cc
Labels: generators-pending, pending-signatures, tests-approved, orp-approved, backport-ok

#42440 Use TCMalloc instead of JeMalloc for cmsRun
  FWCore/Framework/bin/BuildFile.xml
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42428 sort by pt only good-quality tracks
  RecoTracker/PixelTrackFitting/plugins/PixelTrackProducerFromSoA.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#42416 [13_0_X]Add WFs for 2023D
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: pending-signatures, tests-approved, pdmv-approved, orp-approved, upgrade-pending, requires-external, backport-ok

#42417 [13_1_X] Add WFs for 2023D
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: pending-signatures, tests-approved, pdmv-approved, orp-approved, upgrade-pending, requires-external, backport-ok

#42384 Fix error code on fallback file open error with test, 12_5_X backport
  IOPool/Input/src/RootInputFileSequence.cc
  IOPool/Input/test/BuildFile.xml
  IOPool/Input/test/sitelocalconfig/noFallbackFile/local/storage.json
  IOPool/Input/test/sitelocalconfig/noFallbackFile/site-local-config.xml
  IOPool/Input/test/sitelocalconfig/useFallbackFile/local/storage.json
  IOPool/Input/test/sitelocalconfig/useFallbackFile/site-local-config.xml
  IOPool/Input/test/testFileOpenErrorExitCode.sh
  IOPool/Input/test/test_fileOpenErrorExitCode_cfg.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, backport-ok

#42383 Fix error code on fallback file open error with test, 12_6_X backport
  IOPool/Input/src/RootInputFileSequence.cc
  IOPool/Input/test/BuildFile.xml
  IOPool/Input/test/sitelocalconfig/noFallbackFile/local/storage.json
  IOPool/Input/test/sitelocalconfig/noFallbackFile/site-local-config.xml
  IOPool/Input/test/sitelocalconfig/useFallbackFile/local/storage.json
  IOPool/Input/test/sitelocalconfig/useFallbackFile/site-local-config.xml
  IOPool/Input/test/testFileOpenErrorExitCode.sh
  IOPool/Input/test/test_fileOpenErrorExitCode_cfg.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, backport-ok

#42382 Fix error code on fallback file open error with test, 13_0_X backport
  IOPool/Input/src/RootInputFileSequence.cc
  IOPool/Input/test/BuildFile.xml
  IOPool/Input/test/sitelocalconfig/noFallbackFile/local/storage.json
  IOPool/Input/test/sitelocalconfig/noFallbackFile/site-local-config.xml
  IOPool/Input/test/sitelocalconfig/useFallbackFile/local/storage.json
  IOPool/Input/test/sitelocalconfig/useFallbackFile/site-local-config.xml
  IOPool/Input/test/testFileOpenErrorExitCode.sh
  IOPool/Input/test/test_fileOpenErrorExitCode_cfg.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, backport-ok

#42381 Fix error code on fallback file open error with test, 13_1_X backport
  IOPool/Input/src/RootInputFileSequence.cc
  IOPool/Input/test/BuildFile.xml
  IOPool/Input/test/sitelocalconfig/noFallbackFile/local/storage.json
  IOPool/Input/test/sitelocalconfig/noFallbackFile/site-local-config.xml
  IOPool/Input/test/sitelocalconfig/useFallbackFile/local/storage.json
  IOPool/Input/test/sitelocalconfig/useFallbackFile/site-local-config.xml
  IOPool/Input/test/testFileOpenErrorExitCode.sh
  IOPool/Input/test/test_fileOpenErrorExitCode_cfg.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, backport-ok

#42379 Fix error code on fallback file open error with test, 13_2_X backport
  IOPool/Input/src/RootInputFileSequence.cc
  IOPool/Input/test/BuildFile.xml
  IOPool/Input/test/sitelocalconfig/noFallbackFile/local/storage.json
  IOPool/Input/test/sitelocalconfig/noFallbackFile/site-local-config.xml
  IOPool/Input/test/sitelocalconfig/useFallbackFile/local/storage.json
  IOPool/Input/test/sitelocalconfig/useFallbackFile/site-local-config.xml
  IOPool/Input/test/testFileOpenErrorExitCode.sh
  IOPool/Input/test/test_fileOpenErrorExitCode_cfg.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, backport-ok

#42386 [13_0_X] Removal of StringCutObjectSelector from Muon trigger DQM
  DQMOffline/Trigger/interface/HLTMuonMatchAndPlot.h
  DQMOffline/Trigger/python/HLTMuonOfflineAnalyzer_cff.py
  DQMOffline/Trigger/python/HLTMuonOfflineAnalyzer_cfi.py
  DQMOffline/Trigger/python/HLTMuonOfflineAnalyzer_cosmics_cff.py
  DQMOffline/Trigger/src/HLTMuonMatchAndPlot.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#42385 [13_2_X] Removal of StringCutObjectSelector from Muon trigger DQM
  DQMOffline/Trigger/interface/HLTMuonMatchAndPlot.h
  DQMOffline/Trigger/python/HLTMuonOfflineAnalyzer_cff.py
  DQMOffline/Trigger/python/HLTMuonOfflineAnalyzer_cfi.py
  DQMOffline/Trigger/python/HLTMuonOfflineAnalyzer_cosmics_cff.py
  DQMOffline/Trigger/src/HLTMuonMatchAndPlot.cc
Labels: dqm-approved, fully-signed, tests-rejected, orp-approved, backport-ok

#42432 MTD validation: downgrade warning in BTL local reco validation
  Validation/MtdValidation/plugins/BtlLocalRecoValidation.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42436 Updates to PFClusterMatchedToPhotonsSelector for PF ECAL cluster calibration
  RecoEgamma/EgammaMCTools/plugins/BuildFile.xml
  RecoEgamma/EgammaMCTools/plugins/PFClusterMatchedToPhotonsSelector.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, egamma

#42446 AVXVec: replace 2*insertf128 with 1*_mm256_set_m128d
  DataFormats/Math/interface/private/AVXVec.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42455 MTD simulation: update trackId for BTL PSimHits
  SimG4CMS/Forward/interface/MtdSD.h
  SimG4CMS/Forward/src/MtdSD.cc
  SimG4Core/Application/interface/Phase2SteppingAction.h
  SimG4Core/Application/src/Phase2SteppingAction.cc
  SimG4Core/Notification/interface/TrackInformation.h
  SimG4Core/Notification/src/MCTruthUtil.cc
  SimG4Core/Notification/src/TrackInformation.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42457 Extend `convertToRaw` to support different input collection names
  HLTrigger/Tools/python/convertToRaw.py
  HLTrigger/Tools/scripts/convertToRaw
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42466 L1T: add puppi jet requirement for filling zpt in L1Ntuples
  L1Trigger/L1TNtuples/plugins/L1JetRecoTreeProducer.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42458 Extend `convertToRaw` to support different input collection names [13.2.x]
  HLTrigger/Tools/python/convertToRaw.py
  HLTrigger/Tools/scripts/convertToRaw
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#42390 Add bit wise unity initialization for default LUT arrays
  L1Trigger/L1TCaloLayer1/plugins/L1TCaloLayer1.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42472 Run3-sim146 Modify the utility to dump sensitive detector for DDD and DD4hep option
  SimG4Core/PrintGeomInfo/plugins/PrintSensitive.cc
  SimG4Core/PrintGeomInfo/test/python/runSens2026_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runSens_cfg.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42475 Fix approximated SiStrip clusters workflow by saving SiStrip FED error information
  Configuration/EventContent/python/EventContent_cff.py
  Configuration/StandardSequences/python/RawToDigi_Repacked_cff.py
  RecoTracker/MeasurementDet/python/MeasurementTrackerEventProducer_cfi.py
Labels: operations-approved, reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, tracking

#42474 Pileup 2023 august
  Configuration/StandardSequences/python/Mixing.py
  SimGeneral/MixingModule/python/mix_2023_25ns_EraCD_PoissonOOTPU_cfi.py
  SimGeneral/MixingModule/python/mix_2023_25ns_EraC_PoissonOOTPU_cfi.py
  SimGeneral/MixingModule/python/mix_2023_25ns_EraD_PoissonOOTPU_cfi.py
Labels: operations-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42478 Phase2-hgx344 Resolve the issue of non-matching DetIDs from DDD and DD4hep for HGCal versions in D98 and D99
  Geometry/HGCalCommonData/data/partialMissD98.txt
  Geometry/HGCalCommonData/data/partialMissD99.txt
  Geometry/HGCalCommonData/src/HGCalGeomParameters.cc
  Geometry/HGCalCommonData/src/HGCalParametersFromDD.cc
  Geometry/HGCalCommonData/test/python/testHGCalPartialMissingIDTester_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, bug-fix, orp-approved, upgrade-approved, code-checks-approved

#42476 Run3-gex168 Modify all Run3 scenarios after fixing the HCAL SD issue
  Configuration/Geometry/python/dict2021Geometry.py
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021FlatMinus05Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021FlatMinus10Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021FlatPlus05Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021FlatPlus10Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021ZeroMaterial.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2023.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2023FlatMinus05Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2023FlatMinus10Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2023FlatPlus05Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2023FlatPlus10Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2023ZeroMaterial.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometry2021FlatMinus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2021FlatMinus10PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2021FlatPlus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2021FlatPlus10PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2021XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2021ZeroMaterialXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2023FlatMinus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2023FlatMinus10PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2023FlatPlus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2023FlatPlus10PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2023XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2023ZeroMaterialXML_cfi.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#42477 Phase2-gex168 Modify all Phase2 scenarios after fixing the HCAL SD issue
  Configuration/Geometry/python/dict2026Geometry.py
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D100.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D101.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D86.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D88.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D91.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D92.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D93.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D94.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D95.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D96.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D97.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D98.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D99.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D100XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D101XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D86XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D88XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D91XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D92XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D93XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D94XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D95XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D96XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D97XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D98XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D99XML_cfi.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#42456 Removal of StringCutObjectSelector from Muon trigger DQM
  DQMOffline/Trigger/interface/HLTMuonMatchAndPlot.h
  DQMOffline/Trigger/python/HLTMuonOfflineAnalyzer_cff.py
  DQMOffline/Trigger/python/HLTMuonOfflineAnalyzer_cfi.py
  DQMOffline/Trigger/python/HLTMuonOfflineAnalyzer_cosmics_cff.py
  DQMOffline/Trigger/src/HLTMuonMatchAndPlot.cc
Labels: dqm-approved, fully-signed, tests-started, orp-approved, backport-ok

#42459 Tracker Alignment monitoring: add unbalance histograms for pointing angle in Z events
  DQMOffline/Alignment/interface/DiMuonVertexMonitor.h
  DQMOffline/Alignment/python/ALCARECOTkAlDQM_cff.py
  DQMOffline/Alignment/python/DiMuonVertexMonitor_cfi.py
  DQMOffline/Alignment/src/DiMuonVertexMonitor.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42479 [13.2.X] Update `PrimaryVertexMonitor`
  DQMOffline/RecoB/plugins/PrimaryVertexMonitor.cc
  DQMOffline/RecoB/plugins/PrimaryVertexMonitor.h
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#42473 SiPixel payload inspector: add `SiPixelQualityBadFractionMap`
  CondCore/SiPixelPlugins/plugins/SiPixelQuality_PayloadInspector.cc
  CondCore/SiPixelPlugins/test/testSiPixelPayloadInspector.cpp
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, trk

#42465 [12_4_X] Removal of StringCutObjectSelector from Muon trigger DQM
  DQMOffline/Trigger/interface/HLTMuonMatchAndPlot.h
  DQMOffline/Trigger/python/HLTMuonOfflineAnalyzer_cff.py
  DQMOffline/Trigger/python/HLTMuonOfflineAnalyzer_cfi.py
  DQMOffline/Trigger/python/HLTMuonOfflineAnalyzer_cosmics_cff.py
  DQMOffline/Trigger/src/HLTMuonMatchAndPlot.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved

#42464 Changes to store Daughters of Kshort and Lambda in the miniAOD prunedGenParticle Collection
  PhysicsTools/PatAlgos/python/slimming/prunedGenParticles_cfi.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#42493 Add 2023 HI scenarios
  Configuration/DataProcessing/python/Impl/ppEra_Run3_pp_on_PbPb.py
  Configuration/DataProcessing/python/Impl/ppEra_Run3_pp_on_PbPb_2023.py
  Configuration/DataProcessing/python/Impl/ppEra_Run3_pp_on_PbPb_approxSiStripClusters.py
  Configuration/DataProcessing/python/Impl/ppEra_Run3_pp_on_PbPb_approxSiStripClusters_2023.py
  Configuration/DataProcessing/python/RecoTLR.py
  Configuration/DataProcessing/test/run_CfgTest.sh
Labels: operations-approved, fully-signed, tests-approved, orp-approved, urgent, code-checks-approved

#42488 Add default for `FileName` in `TfGraphDefProducer::fillDescriptions()`
  PhysicsTools/TensorFlow/plugins/TfGraphDefProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42502 Replace reference to ParameterSet with explicit parameter values in HcalTimeSlewEP
  CalibCalorimetry/HcalPlugins/src/HcalTimeSlewEP.cc
  CalibCalorimetry/HcalPlugins/src/HcalTimeSlewEP.h
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42452 [13_0] Preserve electron mass after FastSim Bremsstrahlung emmision
  FastSimulation/SimplifiedGeometryPropagator/plugins/Bremsstrahlung.cc
Labels: fastsim-approved, fully-signed, tests-approved, orp-approved, backport-ok

#42453 [13_1] Preserve electron mass after FastSim Bremsstrahlung emmision
  FastSimulation/SimplifiedGeometryPropagator/plugins/Bremsstrahlung.cc
Labels: fastsim-pending, pending-signatures, tests-approved, orp-approved, backport-ok

#42486 `SiStripClusters2ApproxClusters`: run `peakFilter` only if cluster is usable
  RecoLocalTracker/SiStripClusterizer/plugins/SiStripClusters2ApproxClusters.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, trk

#42489 [13.2.X] Add default for `FileName` in `TfGraphDefProducer::fillDescriptions()`
  PhysicsTools/TensorFlow/plugins/TfGraphDefProducer.cc
Labels: reconstruction-approved, fully-signed, tests-rejected, orp-approved, urgent, backport-ok

#42508 Phase2 HLT pixel modules duplicate removal (13_2_X backport)
  HLTrigger/Configuration/python/HLT_75e33/modules/ak4CaloJetsForTrk_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/highPtTripletStepHitDoublets_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/highPtTripletStepTrackCutClassifier_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltL3MuonsPhase2L3OI_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2L3FromL1TkMuonPixelTracks_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2L3GlbMuon_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2L3MuonPixelTrackFilterByKinematics_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2L3MuonPixelTracksFilter_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2L3MuonPixelTracksFitter_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2L3MuonPixelTracks_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2L3MuonsTrkIsoRegionalNewdR0p3dRVeto0p005dz0p25dr0p20ChisqInfPtMin0p0Cut0p07_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2L3MuonsTrkIsoRegionalNewdR0p3dRVeto0p005dz0p25dr0p20ChisqInfPtMin0p0Cut0p4_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2PixelFitterByHelixProjections_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2PixelTrackFilterByKinematics_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2PixelTracksAndHighPtStepTrackingRegions_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2PixelTracksHitDoublets_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2PixelTracksHitSeeds_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2PixelTracksSeedLayers_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2PixelTracks_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2PixelVertices_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2TowerMakerForAll_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltTowerMakerForAll_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/initialStepSeeds_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/initialStepTrackCutClassifier_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/pixelFitterByHelixProjections_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/pixelTracks_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_IsoMu24_FromL1TkMuon_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Mu17_TrkIsoVVL_Mu8_TrkIsoVVL_DZ_FromL1TkMuon_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Mu37_Mu27_FromL1TkMuon_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Mu50_FromL1TkMuon_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_TriMu_10_5_5_DZ_FromL1TkMuon_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/HLTParticleFlowTask_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/HLTTrackingV61Task_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/highPtTripletStepSeedingTask_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/hltPhase2PixelTracksTask_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/initialStepPVTask_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/pixelTracksTask_cfi.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#42509 [132X] Pileup 2023 august
  Configuration/StandardSequences/python/Mixing.py
  SimGeneral/MixingModule/python/mix_2023_25ns_EraCD_PoissonOOTPU_cfi.py
  SimGeneral/MixingModule/python/mix_2023_25ns_EraC_PoissonOOTPU_cfi.py
  SimGeneral/MixingModule/python/mix_2023_25ns_EraD_PoissonOOTPU_cfi.py
Labels: operations-approved, simulation-approved, fully-signed, tests-approved, orp-approved

#42510 [131X] Pileup 2023 august
  Configuration/StandardSequences/python/Mixing.py
  SimGeneral/MixingModule/python/mix_2023_25ns_EraCD_PoissonOOTPU_cfi.py
  SimGeneral/MixingModule/python/mix_2023_25ns_EraC_PoissonOOTPU_cfi.py
  SimGeneral/MixingModule/python/mix_2023_25ns_EraD_PoissonOOTPU_cfi.py
Labels: operations-approved, simulation-approved, fully-signed, tests-rejected, orp-approved

#42511 [130X] Pileup 2023 august
  Configuration/StandardSequences/python/Mixing.py
  SimGeneral/MixingModule/python/mix_2023_25ns_EraCD_PoissonOOTPU_cfi.py
  SimGeneral/MixingModule/python/mix_2023_25ns_EraC_PoissonOOTPU_cfi.py
  SimGeneral/MixingModule/python/mix_2023_25ns_EraD_PoissonOOTPU_cfi.py
Labels: operations-approved, simulation-approved, fully-signed, tests-rejected, orp-approved

#42516 [13.2.X] `SiStripClusters2ApproxClusters`: run `peakFilter` only if cluster is usable
  RecoLocalTracker/SiStripClusterizer/plugins/SiStripClusters2ApproxClusters.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, trk

#42496 Run3-sim146X Try to see the impact of additional SD's of HCAL in the Run3 scenario for dd4hep
  Geometry/HcalCommonData/data/dd4hep/cmsExtendedGeometry2021.xml
  Geometry/HcalCommonData/python/GeometryDD4hepExtended2021Reco_cff.py
  SimG4CMS/Calo/macros/MakeHitStudyPlots.C
  SimG4CMS/Calo/test/python/SimRun3_cfg.py
Labels: geometry-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42480 RAW' workflow: rename `siStripDigisHLT` to `hltSiStripRawToDigi`
  Configuration/EventContent/python/EventContent_cff.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/StandardSequences/python/DigiToRaw_Repack_cff.py
  RecoLocalTracker/SiStripZeroSuppression/python/SiStripZeroSuppression_cfi.py
  RecoTracker/MeasurementDet/python/MeasurementTrackerEventProducer_cfi.py
Labels: operations-approved, reconstruction-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved, tracking, trk

#42531 Remove references to PSet in SimMuon and SimPPS
  SimMuon/MCTruth/interface/CSCTruthTest.h
  SimMuon/MCTruth/interface/MuonTruth.h
  SimMuon/MCTruth/src/CSCTruthTest.cc
  SimMuon/MCTruth/src/MuonTruth.cc
  SimPPS/RPDigiProducer/plugins/RPLinearChargeDivider.cc
  SimPPS/RPDigiProducer/plugins/RPLinearChargeDivider.h
  SimPPS/RPDigiProducer/plugins/RPVFATSimulator.cc
  SimPPS/RPDigiProducer/plugins/RPVFATSimulator.h
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42506 Simulation: define PSimHit track Id offset and propagate to MTD hit categories
  SimDataFormats/TrackingHit/interface/PSimHit.h
  SimG4CMS/Forward/BuildFile.xml
  SimG4CMS/Forward/interface/MtdSD.h
  SimG4CMS/Forward/src/MtdSD.cc
  SimG4Core/Application/test/SimHitCaloHitDumper.cc
  SimG4Core/Notification/BuildFile.xml
  SimG4Core/Notification/src/SimTrackManager.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42500 Changes to store Daughters of Kshort and Lambda in the miniAOD prunedGenParticle Collection (backport to CMSSW_13_0_X)
  PhysicsTools/PatAlgos/python/slimming/prunedGenParticles_cfi.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, xpog-approved

#42498 Changes to store Daughters of Kshort and Lambda in the miniAOD prunedGenParticle Collection (backport to CMSSW_12_4_X)
  PhysicsTools/PatAlgos/python/slimming/prunedGenParticles_cfi.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, xpog-approved

#42485 Update showerParams.py in L1Trigger/CSCTriggerPrimitives
  L1Trigger/CSCTriggerPrimitives/python/params/showerParams.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42517 MTD Validation: add histograms for detailed material budget vs eta study
  Validation/Geometry/src/MaterialBudgetMtdHistos.cc
  Validation/Geometry/test/runP_Mtd_cfg.py
Labels: dqm-approved, geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42507 [13.2.X] Fix approximated SiStrip clusters workflow by saving SiStrip FED error information
  Configuration/EventContent/python/EventContent_cff.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/StandardSequences/python/DigiToRaw_Repack_cff.py
  Configuration/StandardSequences/python/RawToDigi_Repacked_cff.py
  RecoLocalTracker/SiStripZeroSuppression/python/SiStripZeroSuppression_cfi.py
  RecoTracker/MeasurementDet/python/MeasurementTrackerEventProducer_cfi.py
Labels: operations-approved, reconstruction-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, urgent, upgrade-approved, backport-ok, tracking, trk

#42520 restrict PCA z-component axis in the tracks matched to PV (dz<0.1)
  DQM/TrackingMonitor/python/TrackingMonitor_cfi.py
  DQM/TrackingMonitor/src/TrackAnalyzer.cc
  DQM/TrackingMonitorSource/python/TrackCollections2monitor_cff.py
  DQM/TrackingMonitorSource/python/TrackingSourceConfig_Tier0_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#42534 Revert the time category for re-joining threads [13.2.x]
  HLTrigger/Timer/plugins/FastTimerService.cc
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport

#42533 Revert the time category for re-joining threads
  HLTrigger/Timer/plugins/FastTimerService.cc
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#42543 add `HLTFilter` template `HLTL1TMatchedJetsVBFFilter`
  HLTrigger/JetMET/plugins/HLTL1TMatchedCaloJetsVBFFilter.cc
  HLTrigger/JetMET/plugins/HLTL1TMatchedJetsVBFFilter.h
  HLTrigger/JetMET/plugins/HLTL1TMatchedPFJetsVBFFilter.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42519 Fix HGCAL Layer Clusters visualization in Fireworks
  Fireworks/Calo/plugins/FWCaloClusterProxyBuilder.cc
  Fireworks/Calo/plugins/FWTracksterHitsProxyBuilder.cc
  Fireworks/Calo/plugins/FWTracksterLayersProxyBuilder.cc
Labels: visualization-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42556 Remove duplicate entry
  .clang-format
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42557 Run3-hcx352B Add files to evaluate the impact of the changes made to the geometry scenarios due to SD issue in HCAL
  Geometry/HcalCommonData/data/dd4hep/cmsExtendedGeometry2026D99.xml
  Geometry/HcalCommonData/python/GeometryDD4hepExtended2026D99Reco_cff.py
  Geometry/HcalCommonData/python/GeometryExtended2026D99Reco_cff.py
  Geometry/HcalCommonData/python/cmsExtendedGeometry2026D99XML_cfi.py
  SimG4CMS/Calo/src/HCalSD.cc
Labels: geometry-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42544 add `HLTFilter` template `HLTL1TMatchedJetsVBFFilter` [`13_2_X`]
  HLTrigger/JetMET/plugins/HLTL1TMatchedCaloJetsVBFFilter.cc
  HLTrigger/JetMET/plugins/HLTL1TMatchedJetsVBFFilter.h
  HLTrigger/JetMET/plugins/HLTL1TMatchedPFJetsVBFFilter.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#42554 Cleanup of HLT Phase-2 menu (#42351, #42352) [`13_2_X`]
  HLTrigger/Configuration/python/HLT_75e33/modules/hltEcalPreshowerDigis_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltEcalPreshowerRecHit_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPFPuppiMETv0_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPFSoftKillerMET_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltParticleFlowClusterECALL1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltParticleFlowClusterECALUnseeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltParticleFlowClusterPSL1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltParticleFlowClusterPSUnseeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltParticleFlowRecHitPSL1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltParticleFlowRecHitPSUnseeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltParticleFlowSoftKiller_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/particleFlowBlock_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/particleFlowClusterECAL_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/particleFlowClusterPS_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/particleFlowRecHitPS_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_IsoMu24_FromL1TkMuon_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTJMESequence_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTPFPuppiJMEReconstruction_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTPFSoftKillerMETReconstruction_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/HLTDoFullUnpackingEgammaEcalL1SeededTask_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/HLTDoFullUnpackingEgammaEcalTask_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/HLTPFClusteringForEgammaL1SeededTask_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/HLTPFClusteringForEgammaUnseededTask_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/RawToDigiTask_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/ecalRecHitNoTPTask_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/particleFlowClusterTask_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/pfClusteringPSTask_cfi.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#42555 Cleanup of HLT Phase-2 menu (#41749, #42351, #42352) [`13_1_X`]
  HLTrigger/Configuration/python/HLT_75e33/modules/hltEcalPreshowerDigis_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltEcalPreshowerRecHit_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltFixedGridRhoFastjetAllCaloForMuons_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPFPuppiMETv0_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPFSoftKillerMET_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltParticleFlowClusterECALL1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltParticleFlowClusterECALUnseeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltParticleFlowClusterHBHEForMuons_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltParticleFlowClusterHCALForMuons_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltParticleFlowClusterPSL1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltParticleFlowClusterPSUnseeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltParticleFlowRecHitHBHEForMuons_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltParticleFlowRecHitPSL1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltParticleFlowRecHitPSUnseeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltParticleFlowSoftKiller_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2L3MuonsEcalIsodR0p3dRVeto0p000_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2L3MuonsHcalIsodR0p3dRVeto0p000_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2L3MuonsHgcalLCIsodR0p2dRVetoEM0p00dRVetoHad0p02minEEM0p00minEHad0p00_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/particleFlowBlock_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/particleFlowClusterECAL_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/particleFlowClusterPS_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/particleFlowRecHitPS_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_IsoMu24_FromL1TkMuon_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTJMESequence_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTPFPuppiJMEReconstruction_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTPFSoftKillerMETReconstruction_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/HLTDoFullUnpackingEgammaEcalL1SeededTask_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/HLTDoFullUnpackingEgammaEcalTask_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/HLTPFClusteringForEgammaL1SeededTask_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/HLTPFClusteringForEgammaUnseededTask_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/RawToDigiTask_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/ecalRecHitNoTPTask_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/particleFlowClusterTask_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/pfClusteringPSTask_cfi.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#42551 Add 132X data and MC GTs
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42528 Replace reference to ParameterSet with explicit parameter values in HBHEDarkening
  CalibCalorimetry/HcalPlugins/src/HBHEDarkeningEP.cc
  CalibCalorimetry/HcalPlugins/src/HBHEDarkeningEP.h
  CondFormats/HcalObjects/interface/HBHEDarkening.h
  CondFormats/HcalObjects/src/HBHEDarkening.cc
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#42549 Run3-sim146Y Modify the code to accommodate trapezoid for HF volumes
  Geometry/HcalCommonData/python/cmsExtendedGeometry2021XML_cfi.py
  Geometry/HcalCommonData/src/HcalGeomParameters.cc
  SimG4CMS/Calo/test/python/Gen_MinBias.py
  SimG4CMS/Calo/test/python/Gen_SingleMuon.py
Labels: geometry-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42536 Remove references to main ParameterSet in Reco* subsystem
  RecoBTag/ImpactParameter/plugins/IPProducer.h
  RecoPPS/Local/interface/RPixDetClusterizer.h
  RecoPPS/Local/interface/TotemRPClusterProducerAlgorithm.h
  RecoPPS/Local/src/RPixDetClusterizer.cc
  RecoPPS/Local/src/TotemRPClusterProducerAlgorithm.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42550 Run3-hcx352A Modify the sensitive detector xmls of HCAL to allow old style HF simhits
  Geometry/HcalCommonData/data/dd4hep/cmsExtendedGeometry2021.xml
  Geometry/HcalCommonData/data/hcalsens/2021/v2/hcalsenspmf.xml
  Geometry/HcalCommonData/data/hcalsens/NoHE/v1/hcalsenspm.xml
  Geometry/HcalCommonData/data/hcalsens/NoHE/v1/hcalsenspmf.xml
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42567 Remove references to main ParameterSet in DQM subsystems
  DQM/SiPixelPhase1Common/interface/HistogramManager.h
  DQM/SiPixelPhase1Common/src/HistogramManager.cc
  DQM/TrackerRemapper/plugins/TrackerRemapper.cc
  HLTriggerOffline/Egamma/interface/EmDQM.h
  HLTriggerOffline/Egamma/src/EmDQM.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#42568 Added option to FastMonitoringService to quiet LogInfos
  EventFilter/Utilities/interface/FastMonitoringService.h
  EventFilter/Utilities/src/FastMonitoringService.cc
Labels: daq-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42566 [13_1_X] Update the ZDC geometry fix and pixel conditions in MC GTs
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok

#42552 [13_2_X] Add 132X data and MC GTs
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok

#42109 Fixes bug when SoA has not columns, only scalars.
  DataFormats/SoATemplate/interface/SoALayout.h
  DataFormats/SoATemplate/test/SoALayoutAndView_t.cu
  DataFormats/SoATemplate/test/SoALayoutAndView_t.hip.cc
Labels: fully-signed, tests-rejected, bug-fix, orp-approved, code-checks-approved, heterogeneous-approved

#42512 Phase2 HLT pixel modules duplicate removal (13_1_X backport)
  HLTrigger/Configuration/python/HLT_75e33/modules/ak4CaloJetsForTrk_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/highPtTripletStepHitDoublets_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/highPtTripletStepTrackCutClassifier_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltL3MuonsPhase2L3OI_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2L3FromL1TkMuonPixelTracks_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2L3GlbMuon_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2L3MuonPixelTrackFilterByKinematics_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2L3MuonPixelTracksFilter_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2L3MuonPixelTracksFitter_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2L3MuonPixelTracks_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2L3MuonsTrkIsoRegionalNewdR0p3dRVeto0p005dz0p25dr0p20ChisqInfPtMin0p0Cut0p07_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2L3MuonsTrkIsoRegionalNewdR0p3dRVeto0p005dz0p25dr0p20ChisqInfPtMin0p0Cut0p4_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2PixelFitterByHelixProjections_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2PixelTrackFilterByKinematics_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2PixelTracksAndHighPtStepTrackingRegions_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2PixelTracksHitDoublets_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2PixelTracksHitSeeds_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2PixelTracksSeedLayers_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2PixelTracks_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2PixelVertices_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2TowerMakerForAll_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltTowerMakerForAll_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/initialStepSeeds_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/initialStepTrackCutClassifier_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/pixelFitterByHelixProjections_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/pixelTracks_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_IsoMu24_FromL1TkMuon_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Mu17_TrkIsoVVL_Mu8_TrkIsoVVL_DZ_FromL1TkMuon_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Mu37_Mu27_FromL1TkMuon_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Mu50_FromL1TkMuon_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_TriMu_10_5_5_DZ_FromL1TkMuon_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/HLTParticleFlowTask_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/HLTTrackingV61Task_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/highPtTripletStepSeedingTask_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/hltPhase2PixelTracksTask_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/initialStepPVTask_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/pixelTracksTask_cfi.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#42545 [13.2.X] Add `SiStripApproximateClusterCollection` as a simple format for RAW
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  DQM/SiStripMonitorApproximateCluster/plugins/SiStripMonitorApproximateCluster.cc
  DataFormats/SiStripCluster/interface/SiStripApproximateClusterCollection.h
  DataFormats/SiStripCluster/src/SiStripApproximateClusterCollection.cc
  DataFormats/SiStripCluster/src/classes.h
  DataFormats/SiStripCluster/src/classes_def.xml
  RecoLocalTracker/SiStripClusterizer/plugins/SiStripApprox2Clusters.cc
  RecoLocalTracker/SiStripClusterizer/plugins/SiStripClusters2ApproxClusters.cc
Labels: dqm-approved, reconstruction-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, backport-ok, trk

#42481 Fixes bug when SoA has not columns, only scalars [13.2.x]
  DataFormats/SoATemplate/interface/SoALayout.h
  DataFormats/SoATemplate/test/SoALayoutAndView_t.cu
  DataFormats/SoATemplate/test/SoALayoutAndView_t.hip.cc
Labels: fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, heterogeneous-approved

#42546 add customization function to remove check on Tracker DCS bits in Strip and Tracker DQM
  DQM/SiStripMonitorClient/python/customizeForNoTrackerDCS.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#42584 add default for `config` and `ComponentName` in `MkFitIterationConfigESProducer`
  RecoTracker/MkFit/plugins/MkFitIterationConfigESProducer.cc
Labels: reconstruction-pending, pending-signatures, tests-approved, orp-approved, code-checks-approved, tracking

#42563 Fix HGCAL Layer Clusters visualization in Fireworks - Backport CMSSW_13_2_X
  Fireworks/Calo/plugins/FWCaloClusterProxyBuilder.cc
  Fireworks/Calo/plugins/FWTracksterHitsProxyBuilder.cc
  Fireworks/Calo/plugins/FWTracksterLayersProxyBuilder.cc
Labels: visualization-approved, fully-signed, tests-approved, orp-approved, backport-ok

#42576 Add temporary failure element to Framework Job Report [13_0]
  FWCore/MessageLogger/interface/JobReport.h
  FWCore/MessageLogger/src/JobReport.cc
  FWCore/MessageService/test/unit_test_outputs/FrameworkJobReport-timing_t.xml
  FWCore/MessageService/test/unit_test_outputs/FrameworkJobReport.xml
  FWCore/MessageService/test/unit_test_outputs/job_report.xml
  FWCore/MessageService/test/unit_test_outputs/u10_job_report.xml
  FWCore/MessageService/test/unit_test_outputs/u14_job_report.mxml
  FWCore/MessageService/test/unit_test_outputs/u16_job_report.mmxml
  FWCore/MessageService/test/unit_test_outputs/u1_job_report.mxml
  FWCore/MessageService/test/unit_test_outputs/u1d_job_report.mxml
  FWCore/MessageService/test/unit_test_outputs/u27FJR.xml
  FWCore/MessageService/test/unit_test_outputs/u7_job_report.mxml
  FWCore/Utilities/interface/EDMException.h
  FWCore/Utilities/src/EDMException.cc
  IOPool/Common/test/proper_RLfjr_output
  IOPool/Common/test/proper_Rfjr_output
  IOPool/Common/test/proper_fjr_output
  IOPool/Common/test/proper_fjrx_output
  IOPool/Common/test/proper_fjrx_second_output
Labels: core-approved, fully-signed, tests-approved, orp-approved

#42577 Add temporary failure element to Framework Job Report [12_6]
  FWCore/MessageLogger/interface/JobReport.h
  FWCore/MessageLogger/src/JobReport.cc
  FWCore/MessageService/test/unit_test_outputs/FrameworkJobReport-timing_t.xml
  FWCore/MessageService/test/unit_test_outputs/FrameworkJobReport.xml
  FWCore/MessageService/test/unit_test_outputs/job_report.xml
  FWCore/MessageService/test/unit_test_outputs/u10_job_report.xml
  FWCore/MessageService/test/unit_test_outputs/u14_job_report.mxml
  FWCore/MessageService/test/unit_test_outputs/u16_job_report.mmxml
  FWCore/MessageService/test/unit_test_outputs/u1_job_report.mxml
  FWCore/MessageService/test/unit_test_outputs/u1d_job_report.mxml
  FWCore/MessageService/test/unit_test_outputs/u27FJR.xml
  FWCore/MessageService/test/unit_test_outputs/u7_job_report.mxml
  FWCore/Utilities/interface/EDMException.h
  FWCore/Utilities/src/EDMException.cc
  IOPool/Common/test/proper_RLfjr_output
  IOPool/Common/test/proper_Rfjr_output
  IOPool/Common/test/proper_fjr_output
  IOPool/Common/test/proper_fjrx_output
  IOPool/Common/test/proper_fjrx_second_output
Labels: core-approved, fully-signed, tests-approved, orp-approved

#42579 Updated ParameterDescription in EcalUncalibRecHitWorkerMultiFit.cc, and clean up some other configs
  RecoLocalCalo/EcalRecAlgos/interface/EcalUncalibRecHitTimingCCAlgo.h
  RecoLocalCalo/EcalRecAlgos/src/EcalUncalibRecHitTimingCCAlgo.cc
  RecoLocalCalo/EcalRecProducers/plugins/EcalUncalibRecHitProducer.cc
  RecoLocalCalo/EcalRecProducers/plugins/EcalUncalibRecHitWorkerMultiFit.cc
  RecoLocalCalo/EcalRecProducers/python/ecalAnalFitUncalibRecHit_cfi.py
  RecoLocalCalo/EcalRecProducers/python/ecalFixedAlphaBetaFitUncalibRecHit_cfi.py
  RecoLocalCalo/EcalRecProducers/python/ecalGlobalUncalibRecHit_cfi.py
  RecoLocalCalo/EcalRecProducers/python/ecalMaxSampleUncalibRecHit_cfi.py
  RecoLocalCalo/EcalRecProducers/python/ecalMultiFitUncalibRecHit_cfi.py
  RecoLocalCalo/EcalRecProducers/python/ecalRatioUncalibRecHit_cfi.py
  RecoLocalCalo/EcalRecProducers/python/ecalWeightUncalibRecHit_cfi.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42514 Moved creating SiPixelTemplateStore from DB to an ESProducer
  Alignment/CommonAlignment/python/tools/trackselectionRefitting.py
  Alignment/OfflineValidation/python/TkAlAllInOneTool/JetHT_cfg.py
  Alignment/OfflineValidation/python/TkAlAllInOneTool/SplitV_cfg.py
  Alignment/OfflineValidation/test/DiMuonVertexValidation_cfg.py
  Alignment/OfflineValidation/test/eopTreeWriter_cfg.py
  CalibTracker/SiPixelLorentzAngle/src/SiPixelLorentzAnglePCLWorker.cc
  Calibration/TkAlCaRecoProducers/python/ALCARECOPromptCalibProdSiPixelLorentzAngleMCS_cff.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOPromptCalibProdSiPixelLorentzAngle_cff.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOPromptCalibProdSiStripGainsAAG_cff.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOSiPixelCalSingleMuonTight_cff.py
  CondFormats/SiPixelTransient/src/T_EventSetup_SiPixelTemplateStore.cc
  DQM/SiPixelPhase1Config/python/SiPixelPhase1OfflineDQM_source_cff.py
  DQM/SiPixelPhase1Config/python/SiPixelPhase1OnlineDQM_Timing_cff.py
  DQM/SiPixelPhase1Config/python/SiPixelPhase1OnlineDQM_cff.py
  DQM/SiPixelPhase1Track/plugins/SiPixelPhase1TrackClusters.cc
  DQMOffline/Trigger/python/SiPixel_OfflineMonitoring_cff.py
  DQMOffline/Trigger/python/SiStrip_OfflineMonitoring_cff.py
  FastSimulation/Configuration/python/Reconstruction_BefMix_cff.py
  FastSimulation/TrackingRecHitProducer/interface/PixelTemplateSmearerBase.h
  FastSimulation/TrackingRecHitProducer/interface/TrackingRecHitAlgorithm.h
  FastSimulation/TrackingRecHitProducer/plugins/TrackingRecHitProducer.cc
  FastSimulation/TrackingRecHitProducer/src/PixelTemplateSmearerBase.cc
  FastSimulation/TrackingRecHitProducer/src/TrackingRecHitAlgorithm.cc
  HLTrigger/Configuration/python/customizeHLTforCMSSW.py
  RecoHI/HiTracking/python/HighPtTracking_PbPb_cff.py
  RecoLocalTracker/SiPixelRecHits/interface/PixelCPEClusterRepair.h
  RecoLocalTracker/SiPixelRecHits/interface/PixelCPETemplateReco.h
  RecoLocalTracker/SiPixelRecHits/plugins/BuildFile.xml
  RecoLocalTracker/SiPixelRecHits/plugins/PixelCPEClusterRepairESProducer.cc
  RecoLocalTracker/SiPixelRecHits/plugins/PixelCPETemplateRecoESProducer.cc
  RecoLocalTracker/SiPixelRecHits/plugins/SiPixelTemplateStoreESProducer.cc
  RecoLocalTracker/SiPixelRecHits/src/PixelCPEClusterRepair.cc
  RecoLocalTracker/SiPixelRecHits/src/PixelCPETemplateReco.cc
  RecoTracker/FinalTrackSelectors/python/MergeTrackCollections_cff.py
  RecoTracker/SpecialSeedGenerators/python/cosmicDC_cff.py
  RecoTracker/TrackProducer/test/refitFromAOD.py
  RecoTracker/TrackProducer/test/refitFromMINIAOD.py
  RecoTracker/TransientTrackingRecHit/python/TTRHBuilders_cff.py
Labels: alca-approved, dqm-approved, fastsim-approved, hlt-approved, reconstruction-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, tracking, trk

#42562 FirstVersionsOFdiTauHLTPaths_forPhase2
  HLTrigger/Configuration/python/HLT_75e33/modules/hltAK4PFJetsForTaus_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltFixedGridRhoProducerFastjetAllTau_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsCombinatoricRecoTaus_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsDoublePFTau35MediumDitauWPDeepTau_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsDoublePFTau40TrackPt1MediumChargedIsolation_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauBasicDiscriminatorsForDeepTau_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauBasicDiscriminatorsdR03ForDeepTau_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauDeepTauProducer_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauDiscriminationByDecayModeFindingNewDMs_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauMediumAbsOrRelChargedIsolationDiscriminator_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauMediumAbsoluteChargedIsolationDiscriminator_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauMediumRelativeChargedIsolationDiscriminator_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauPrimaryVertexProducerForDeepTau_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauProducerSansRefs_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauProducer_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauSecondaryVertexProducerForDeepTau_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauTrackFindingDiscriminator_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauTrackPt1Discriminator_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauTrack_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauTransverseImpactParametersForDeepTau_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsSelectedPFTausMediumDitauWPDeepTau_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsSelectedPFTausTrackFinding_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsSelectedPFTausTrackPt1MediumChargedIsolation_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsSelectionDiscriminator_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsTauPFJetsRecoTauChargedHadronsWithNeutrals_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPFTauPiZeros_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPreDoublePFTauHPS_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltTauPFJets08Region_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_DoubleMediumChargedIsoPFTauHPS40_eta2p1_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_DoubleMediumDeepTauPFTauHPS35_eta2p1_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTHPSDeepTauPFTauSequence_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTHPSMediumChargedIsoPFTauSequence_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTPFTauHPS_cfi.py
  HLTrigger/Configuration/python/HLT_75e33_cff.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42585 [13.2.X] add default for `config` and `ComponentName` in `MkFitIterationConfigESProducer`
  RecoTracker/MkFit/plugins/MkFitIterationConfigESProducer.cc
Labels: reconstruction-pending, pending-signatures, tests-approved, orp-approved, urgent, backport-ok, tracking

#42451 [12_4] Preserve electron mass after FastSim Bremsstrahlung emmision
  FastSimulation/SimplifiedGeometryPropagator/plugins/Bremsstrahlung.cc
Labels: fastsim-approved, fully-signed, tests-approved, orp-approved, backport-ok

#42236 Ensure electron mass does not go to 0 after FastSim bremsstrahlung
  FastSimulation/SimplifiedGeometryPropagator/plugins/Bremsstrahlung.cc
Labels: fastsim-approved, fully-signed, tests-approved, orp-approved, backport-ok

#42591 Follow-up to `pixelgpu` online DQM client and augmented `DQM/Integration` unit tests
  DQM/Integration/python/config/unitteststreamerinputsource_cfi.py
  DQM/SiPixelHeterogeneous/plugins/SiPixelPhase1RawDataErrorComparator.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#42601 Update 2023 MC GTs
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-rejected, orp-approved, code-checks-approved

#42447 Use make_unique in tau modules
  RecoTauTag/RecoTau/interface/RecoTauVertexAssociator.h
  RecoTauTag/RecoTau/plugins/DeepTauId.cc
  RecoTauTag/RecoTau/plugins/PFRecoTauChargedHadronFromGenericTrackPlugin.cc
  RecoTauTag/RecoTau/plugins/PFRecoTauChargedHadronFromPFCandidatePlugin.cc
  RecoTauTag/RecoTau/plugins/PFRecoTauDiscriminationByIsolation.cc
  RecoTauTag/RecoTau/plugins/PFRecoTauDiscriminationByIsolationContainer.cc
  RecoTauTag/RecoTau/plugins/RecoTauBuilderCombinatoricPlugin.cc
  RecoTauTag/RecoTau/plugins/RecoTauBuilderConePlugin.cc
  RecoTauTag/RecoTau/plugins/RecoTauPiZeroCombinatoricPlugin.cc
  RecoTauTag/RecoTau/plugins/RecoTauPiZeroStripPlugin.cc
  RecoTauTag/RecoTau/plugins/RecoTauPiZeroStripPlugin2.cc
  RecoTauTag/RecoTau/plugins/RecoTauPiZeroStripPlugin3.cc
  RecoTauTag/RecoTau/plugins/RecoTauPiZeroTrivialPlugin.cc
  RecoTauTag/RecoTau/plugins/TauDiscriminantCutMultiplexer.cc
  RecoTauTag/RecoTau/src/RecoTauVertexAssociator.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42469 Port of 2022 and 2023 L1T CaloParams testing files
  L1Trigger/L1TCalorimeter/python/caloParams_2022_v0_1_cfi.py
  L1Trigger/L1TCalorimeter/python/caloParams_2022_v0_2_cfi.py
  L1Trigger/L1TCalorimeter/python/caloParams_2022_v0_3_cfi.py
  L1Trigger/L1TCalorimeter/python/caloParams_2022_v0_4_cfi.py
  L1Trigger/L1TCalorimeter/python/caloParams_2022_v0_5_cfi.py
  L1Trigger/L1TCalorimeter/python/caloParams_2022_v0_6_cfi.py
  L1Trigger/L1TCalorimeter/python/caloParams_2023_v0_1_cfi.py
  L1Trigger/L1TCalorimeter/python/caloParams_2023_v0_2_cfi.py
  L1Trigger/L1TCalorimeter/python/caloParams_2023_v0_3_cfi.py
  L1Trigger/L1TCalorimeter/python/caloParams_2023_v0_3_ppRef_cfi.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42530 Fix chaining in rules and unify prefix and rules of protocols
  FWCore/Catalog/interface/FileLocator.h
  FWCore/Catalog/src/FileLocator.cc
  FWCore/Catalog/test/FileLocator_t.cpp
  FWCore/Catalog/test/storage.json
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42592 `Alignment/OfflineValidation`: follow-up to `SiPixelTemplateStore` from DB to an `ESProducer`
  Alignment/OfflineValidation/test/BuildFile.xml
  Alignment/OfflineValidation/test/DiElectronVertexValidation_cfg.py
  Alignment/OfflineValidation/test/PVValidation_TEMPL_cfg.py
  Alignment/OfflineValidation/test/PVValidation_T_cfg.py
  Alignment/OfflineValidation/test/PrimaryVertexResolution_cfg.py
  Alignment/OfflineValidation/test/PrimaryVertexResolution_templ_cfg.py
  Alignment/OfflineValidation/test/testPVValidation_Relvals_DATA.ini
  Alignment/OfflineValidation/test/test_all_Phase2_cfg.py
  Alignment/OfflineValidation/test/test_all_cfg.py
  Alignment/OfflineValidation/test/testingScripts/test_unitDiElectronVertex.sh
  Alignment/OfflineValidation/test/testingScripts/test_unitSubmitPVrbr.sh
Labels: alca-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved, trk

#42597 Do not use a Task with SiPixelTemplateStoreESProducer
  Alignment/CommonAlignment/python/tools/trackselectionRefitting.py
  Alignment/OfflineValidation/python/TkAlAllInOneTool/JetHT_cfg.py
  Alignment/OfflineValidation/python/TkAlAllInOneTool/SplitV_cfg.py
  Alignment/OfflineValidation/test/DiMuonVertexValidation_cfg.py
  Alignment/OfflineValidation/test/eopTreeWriter_cfg.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOPromptCalibProdSiPixelLorentzAngleMCS_cff.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOPromptCalibProdSiPixelLorentzAngle_cff.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOPromptCalibProdSiStripGainsAAG_cff.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOSiPixelCalSingleMuonTight_cff.py
  DQM/SiPixelPhase1Config/python/SiPixelPhase1OfflineDQM_source_cff.py
  DQM/SiPixelPhase1Config/python/SiPixelPhase1OnlineDQM_Timing_cff.py
  DQM/SiPixelPhase1Config/python/SiPixelPhase1OnlineDQM_cff.py
  FastSimulation/Configuration/python/Reconstruction_BefMix_cff.py
  RecoHI/HiTracking/python/HighPtTracking_PbPb_cff.py
  RecoTracker/FinalTrackSelectors/python/MergeTrackCollections_cff.py
  RecoTracker/SpecialSeedGenerators/python/cosmicDC_cff.py
Labels: fastsim-pending, alca-approved, dqm-approved, reconstruction-approved, pending-signatures, tests-approved, orp-approved, code-checks-approved, tracking, trk

#42604 Fix conddb dump functionally when destfile is specified
  CondCore/Utilities/python/cond2xml.py
  CondCore/Utilities/scripts/conddb
Labels: fully-signed, tests-approved, db-approved, bug-fix, orp-approved, code-checks-approved

#42602 [13_0_X] Update 2022,2023,2024 MC GTs
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok

#42603 [13_2_X] Update 2023 MC GTs
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok

#42609 [13_1_X] Update 2023 MC GTs
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok

#42600 Put back wf 140.6 in the relval matrix
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/StandardSequences/python/DigiToRaw_Repack_cff.py
Labels: operations-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#42586 Include plugin factory name as part duplicate plugin check
  Utilities/ReleaseScripts/scripts/duplicateReflexLibrarySearch.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42617 remove plugin template `HLTJetTagWithMatching`
  HLTrigger/Configuration/python/HLT_75e33/modules/hltBTagPFPuppiDeepCSV0p865DoubleEta2p4_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltBTagPFPuppiDeepFlavour0p935DoubleEta2p4_cfi.py
  HLTrigger/btau/plugins/HLTJetTagWithMatching.cc
  HLTrigger/btau/plugins/HLTJetTagWithMatching.h
  HLTrigger/btau/plugins/modules.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42574 Introduce PCL-like workflows for SiStrip Lorentz Angle Monitoring (and potentially calibration)
  CalibTracker/SiStripLorentzAngle/interface/SiStripLorentzAngleCalibrationHelpers.h
  CalibTracker/SiStripLorentzAngle/interface/SiStripLorentzAngleCalibrationStruct.h
  CalibTracker/SiStripLorentzAngle/plugins/BuildFile.xml
  CalibTracker/SiStripLorentzAngle/plugins/SiStripLorentzAnglePCLHarvester.cc
  CalibTracker/SiStripLorentzAngle/plugins/SiStripLorentzAnglePCLMonitor.cc
  CalibTracker/SiStripLorentzAngle/python/SiStripLorentzAnglePCLHarvester_cfi.py
  CalibTracker/SiStripLorentzAngle/python/SiStripLorentzAnglePCLMonitor_cfi.py
  CalibTracker/SiStripLorentzAngle/test/step_PromptCalibProdSiStripLA_ALCAHARVEST_cfg.py
  CalibTracker/SiStripLorentzAngle/test/step_PromptCalibProdSiStripLA_cfg.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOPromptCalibProdSiStripLorentzAngle_Output_cff.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOPromptCalibProdSiStripLorentzAngle_cff.py
  Calibration/TkAlCaRecoProducers/python/AlcaSiStripLorentzAngleHarvester_cff.py
  Calibration/TkAlCaRecoProducers/python/AlcaSiStripLorentzAngleHarvester_cfi.py
  Configuration/AlCa/python/autoAlca.py
  Configuration/AlCa/python/autoPCL.py
  Configuration/EventContent/python/AlCaRecoOutput_cff.py
  Configuration/PyReleaseValidation/python/relval_production.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/StandardSequences/python/AlCaHarvesting_cff.py
  Configuration/StandardSequences/python/AlCaRecoStreams_cff.py
Labels: alca-approved, operations-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved, trk

#42618 Fixed channel decoding for the timeout error in SiPixelRawToClusterGPUKernel
  RecoLocalTracker/SiPixelClusterizer/plugins/SiPixelRawToClusterGPUKernel.cu
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#42623 Fix ROC mapping in `SiPixelFEDChannelContainer_PayloadInspector`
  CondCore/SiPixelPlugins/plugins/SiPixelFEDChannelContainer_PayloadInspector.cc
Labels: fully-signed, tests-approved, db-approved, bug-fix, orp-approved, code-checks-approved, trk

#42590 Fix ODR violation in BaseKeyed serialization
  CondCore/BaseKeyedPlugins/BuildFile.xml
  CondCore/BaseKeyedPlugins/src/plugin.cc
  CondCore/CalibPlugins/src/plugin.cc
  CondCore/DTPlugins/src/plugin.cc
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#42608 Fix on the findAndChange for a new All-in-one.
  Alignment/OfflineValidation/python/TkAlAllInOneTool/findAndChange.py
  Alignment/OfflineValidation/scripts/validateAlignments.py
  Alignment/OfflineValidation/test/examples/DMR_testFeatures.yaml
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, trk

#42614 remove useless customization for `siStripClusters` in phase-2 (not used)
  RecoLocalTracker/SiStripClusterizer/python/SiStripClusterizer_RealData_cfi.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#42616 remove duplicate plugin `SiPixelRawToClusterCUDA`
  RecoLocalTracker/SiPixelClusterizer/plugins/SiPixelRawToClusterCUDA.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#42532 Include an additional input to fill standalone muon tracks in MuonIdProducer
  RecoMuon/MuonIdentification/plugins/MuonIdProducer.cc
  RecoMuon/MuonIdentification/plugins/MuonIdProducer.h
  RecoMuon/MuonIdentification/python/muons1stStep_cfi.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42337 Top recoil hook cleaned, backport to CMSSW_13_1_X
  GeneratorInterface/Pythia8Interface/plugins/Pythia8Hadronizer.cc
  GeneratorInterface/Pythia8Interface/plugins/TopRecoilHook.h
  GeneratorInterface/Pythia8Interface/src/Py8InterfaceBase.cc
  GeneratorInterface/Pythia8Interface/test/TopRecoilHook_test_cfg.py
Labels: generators-approved, fully-signed, tests-approved, orp-approved, backport-ok

#42593 [13.2.X] Added efficiencies of matched and unmatched tracks (between HLT and offline) vs LS, vs online lumi and vs PU
  DQM/TrackingMonitorSource/interface/TrackToTrackComparisonHists.h
  DQM/TrackingMonitorSource/python/TrackToTrackComparisonHists_cfi.py
  DQM/TrackingMonitorSource/src/TrackToTrackComparisonHists.cc
  DQMOffline/Trigger/python/BTVHLTOfflineSource_cfi.py
  DQMOffline/Trigger/python/TrackToTrackMonitoring_cff.py
  DQMOffline/Trigger/python/TrackingMonitoring_Client_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok, tracking

#42338 Top recoil hook cleaned, backport to CMSSW_13_0_X
  GeneratorInterface/Pythia8Interface/plugins/Pythia8Hadronizer.cc
  GeneratorInterface/Pythia8Interface/plugins/TopRecoilHook.h
  GeneratorInterface/Pythia8Interface/src/Py8InterfaceBase.cc
  GeneratorInterface/Pythia8Interface/test/TopRecoilHook_test_cfg.py
Labels: generators-approved, fully-signed, tests-approved, orp-approved, backport-ok

#42168 [13_0_X] EMTF add DQM plots for unconstrained pT and dxy
  DQM/L1TMonitor/interface/L1TStage2EMTF.h
  DQM/L1TMonitor/src/L1TStage2EMTF.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok, l1t

#42167 [13_1_X] EMTF add DQM plots for unconstrained pT and dxy
  DQM/L1TMonitor/interface/L1TStage2EMTF.h
  DQM/L1TMonitor/src/L1TStage2EMTF.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok, l1t

#42641 Fix to findAndChange for the new All-in-one [13.2.x]
  Alignment/OfflineValidation/python/TkAlAllInOneTool/findAndChange.py
  Alignment/OfflineValidation/scripts/validateAlignments.py
  Alignment/OfflineValidation/test/examples/DMR_testFeatures.yaml
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, trk

#42497 simplify implementation of `SiPixelQualityESProducer` and use multiple instances of it
  CalibTracker/Configuration/python/Tracker_DependentRecords_forGlobalTag_nofakes_cff.py
  CalibTracker/SiPixelESProducers/plugins/SiPixelQualityESProducer.cc
  CalibTracker/SiPixelESProducers/python/SiPixelQualityESProducer_cfi.py
  CalibTracker/SiPixelESProducers/python/siPixelQualityForDigitizerESProducer_cfi.py
  CalibTracker/SiPixelESProducers/python/siPixelQualityForRawToDigiESProducer_cfi.py
  CondTools/SiPixel/test/SiPixelBadModule_ESProducer_cfg.py
  HLTrigger/Configuration/python/customizeHLTforCMSSW.py
  SimGeneral/MixingModule/python/SiPixelSimParameters_cfi.py
  SimGeneral/MixingModule/python/pixelDigitizer_cfi.py
Labels: alca-approved, hlt-approved, simulation-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, trk

#42598 SIM: optimisation of initialisation
  SimG4Core/Application/interface/RunManagerMT.h
  SimG4Core/Application/interface/RunManagerMTWorker.h
  SimG4Core/Application/plugins/OscarMTProducer.cc
  SimG4Core/Application/python/g4SimHits_cfi.py
  SimG4Core/Application/src/RunManagerMT.cc
  SimG4Core/Application/src/RunManagerMTWorker.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42499 Handle case where exception is thrown in beginRun for simulation
  GeneratorInterface/Core/interface/ConcurrentHadronizerFilter.h
  GeneratorInterface/Core/plugins/GenXSecAnalyzer.cc
Labels: generators-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42441 Added TryToContinue exception handling to cmsRun
  CalibTracker/SiStripChannelGain/test/testSSTGain_MultiRun_ALCAHARVEST.py
  DQMOffline/Alignment/test/DiMuonTkAlDQMHarvester_cfg.py
  DQMOffline/Alignment/test/DiMuonTkAlDQMValidator_cfg.py
  FWCore/Framework/interface/ExceptionActions.h
  FWCore/Framework/interface/Path.h
  FWCore/Framework/interface/StreamSchedule.h
  FWCore/Framework/interface/maker/Worker.h
  FWCore/Framework/src/ExceptionActions.cc
  FWCore/Framework/src/Path.cc
  FWCore/Framework/src/StreamSchedule.cc
  FWCore/Framework/src/Worker.cc
  FWCore/Framework/test/stubs/TestGlobalAnalyzers.cc
  FWCore/Framework/test/test_InputTag_cache_failure_cfg.py
  FWCore/Integration/python/test/unscheduled_fail_on_output_SkipEvent_cfg.py
  FWCore/Integration/python/test/unscheduled_fail_on_output_TryToContinue_cfg.py
  FWCore/Integration/python/test/unscheduled_fail_on_output_cfg.py
  FWCore/Integration/python/test/unscheduled_fail_on_output_no_dependency_TryToContinue_cfg.py
  FWCore/Integration/test/BuildFile.xml
  FWCore/Integration/test/run_unscheduledFailOnOutput.sh
  FWCore/Integration/test/test_TryToContinue_ESProducer_cfg.py
  FWCore/Integration/test/test_TryToContinue_cfg.py
  FWCore/Integration/test/test_TryToContinue_exception_output_cfg.py
  FWCore/Integration/test/test_shouldTryToContinue_cfg.py
  FWCore/Integration/test/test_shouldTryToContinue_source_cfg.py
  FWCore/ParameterSet/python/Config.py
  FWCore/ParameterSet/src/ParameterSetDescription.cc
  FWCore/ParameterSet/src/validateTopLevelParameterSets.cc
  RecoEcal/EgammaClusterProducers/test/DRNTest_cfg.py
Labels: alca-approved, core-approved, dqm-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#42589 Phase2-gex169 Modify the phas2 scenarios to accommodate the right set of hits for the HF
  Configuration/Geometry/python/dict2026Geometry.py
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D100.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D101.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D86.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D88.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D91.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D92.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D93.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D94.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D95.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D96.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D97.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D98.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D99.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D100XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D101XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D86XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D88XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D91XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D92XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D93XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D94XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D95XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D96XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D97XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D98XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D99XML_cfi.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#42649 FirstVersionsofDiTauHLTPaths_forPhase2 [13_1_X]
  HLTrigger/Configuration/python/HLT_75e33/modules/hltAK4PFJetsForTaus_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltFixedGridRhoProducerFastjetAllTau_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsCombinatoricRecoTaus_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsDoublePFTau35MediumDitauWPDeepTau_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsDoublePFTau40TrackPt1MediumChargedIsolation_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauBasicDiscriminatorsForDeepTau_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauBasicDiscriminatorsdR03ForDeepTau_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauDeepTauProducer_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauDiscriminationByDecayModeFindingNewDMs_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauMediumAbsOrRelChargedIsolationDiscriminator_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauMediumAbsoluteChargedIsolationDiscriminator_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauMediumRelativeChargedIsolationDiscriminator_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauPrimaryVertexProducerForDeepTau_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauProducerSansRefs_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauProducer_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauSecondaryVertexProducerForDeepTau_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauTrackFindingDiscriminator_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauTrackPt1Discriminator_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauTrack_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauTransverseImpactParametersForDeepTau_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsSelectedPFTausMediumDitauWPDeepTau_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsSelectedPFTausTrackFinding_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsSelectedPFTausTrackPt1MediumChargedIsolation_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsSelectionDiscriminator_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsTauPFJetsRecoTauChargedHadronsWithNeutrals_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPFTauPiZeros_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPreDoublePFTauHPS_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltTauPFJets08Region_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_DoubleMediumChargedIsoPFTauHPS40_eta2p1_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_DoubleMediumDeepTauPFTauHPS35_eta2p1_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTHPSDeepTauPFTauSequence_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTHPSMediumChargedIsoPFTauSequence_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTPFTauHPS_cfi.py
  HLTrigger/Configuration/python/HLT_75e33_cff.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#42652 FirstVersionsofDiTauHLTPaths_forPhase2 [13_2_X]
  HLTrigger/Configuration/python/HLT_75e33/modules/hltAK4PFJetsForTaus_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltFixedGridRhoProducerFastjetAllTau_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsCombinatoricRecoTaus_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsDoublePFTau35MediumDitauWPDeepTau_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsDoublePFTau40TrackPt1MediumChargedIsolation_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauBasicDiscriminatorsForDeepTau_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauBasicDiscriminatorsdR03ForDeepTau_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauDeepTauProducer_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauDiscriminationByDecayModeFindingNewDMs_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauMediumAbsOrRelChargedIsolationDiscriminator_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauMediumAbsoluteChargedIsolationDiscriminator_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauMediumRelativeChargedIsolationDiscriminator_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauPrimaryVertexProducerForDeepTau_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauProducerSansRefs_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauProducer_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauSecondaryVertexProducerForDeepTau_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauTrackFindingDiscriminator_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauTrackPt1Discriminator_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauTrack_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauTransverseImpactParametersForDeepTau_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsSelectedPFTausMediumDitauWPDeepTau_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsSelectedPFTausTrackFinding_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsSelectedPFTausTrackPt1MediumChargedIsolation_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsSelectionDiscriminator_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsTauPFJetsRecoTauChargedHadronsWithNeutrals_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPFTauPiZeros_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPreDoublePFTauHPS_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltTauPFJets08Region_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_DoubleMediumChargedIsoPFTauHPS40_eta2p1_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_DoubleMediumDeepTauPFTauHPS35_eta2p1_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTHPSDeepTauPFTauSequence_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTHPSMediumChargedIsoPFTauSequence_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTPFTauHPS_cfi.py
  HLTrigger/Configuration/python/HLT_75e33_cff.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved

#42655 fix removal of `siStripDigis` from `RawToDigi` task
  Configuration/StandardSequences/python/RawToDigi_Repacked_cff.py
  Configuration/StandardSequences/python/RawToDigi_cff.py
Labels: operations-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#42615 Print the file open error message when a fallback file will be attempted
  IOPool/Input/src/RootInputFileSequence.cc
  IOPool/Input/test/sitelocalconfig/useFallbackFile/local/storage.json
  IOPool/Input/test/testFileOpenErrorExitCode.sh
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42613 [13.2.X] add customization function to remove check on Tracker DCS bits in Strip and Tracker DQM
  DQM/SiStripMonitorClient/python/customizeForNoTrackerDCS.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok, trk

#42483 [13_2_X] Change of GE21 layouts and plots, and VFAT status with VFAT mask and missing VFATs
  DQM/GEM/interface/GEMDAQStatusSource.h
  DQM/GEM/interface/GEMDQMBase.h
  DQM/GEM/interface/GEMDigiSource.h
  DQM/GEM/interface/GEMRecHitSource.h
  DQM/GEM/plugins/GEMDAQStatusSource.cc
  DQM/GEM/plugins/GEMDQMHarvester.cc
  DQM/GEM/plugins/GEMDigiSource.cc
  DQM/GEM/plugins/GEMRecHitSource.cc
  DQM/GEM/python/GEMDQM_cff.py
  DQM/GEM/src/GEMDQMBase.cc
  Validation/MuonGEMHits/interface/GEMValidationUtils.h
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok, gem

#42482 [13_0_X] Change of GE21 layouts and plots, and VFAT status with VFAT mask and missing VFATs
  DQM/GEM/interface/GEMDAQStatusSource.h
  DQM/GEM/interface/GEMDQMBase.h
  DQM/GEM/interface/GEMDigiSource.h
  DQM/GEM/interface/GEMRecHitSource.h
  DQM/GEM/plugins/GEMDAQStatusSource.cc
  DQM/GEM/plugins/GEMDQMHarvester.cc
  DQM/GEM/plugins/GEMDigiSource.cc
  DQM/GEM/plugins/GEMRecHitSource.cc
  DQM/GEM/python/GEMDQM_cff.py
  DQM/GEM/src/GEMDQMBase.cc
  Validation/MuonGEMHits/interface/GEMValidationUtils.h
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok, gem

#42626 FKDTree_t: avoid Wmaybe-uninitialized warning in CPP20 builds
  CommonTools/RecoAlgos/test/FKDTree_t.cpp
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42642 fix tracker map filling in `SiStripBadStripFractionTkMap` and rename `TkMap` → `TH2PolyTkMap`
  CondCore/SiStripPlugins/plugins/SiStripBadStrip_PayloadInspector.cc
  CondCore/SiStripPlugins/plugins/SiStripLorentzAngle_PayloadInspector.cc
  CondCore/SiStripPlugins/test/test.sh
  CondCore/SiStripPlugins/test/testSiStripPayloadInspector.cpp
  DQM/TrackerRemapper/src/SiStripTkMaps.cc
Labels: dqm-approved, fully-signed, tests-approved, db-approved, bug-fix, orp-approved, code-checks-approved, trk

#42622 improve `SiPixelBadModuleByHandBuilderFromROCList` in case of by-LS IOVs and introduce unit tests
  CondTools/SiPixel/test/BuildFile.xml
  CondTools/SiPixel/test/SiPixelBadModuleByHandBuilderFromROCList_cfg.py
  CondTools/SiPixel/test/createTestDBObjects.sh
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, trk

#42654 Remove pointers to main ParameterSet in L1Trigger subsystems
  L1Trigger/CSCTrackFinder/test/analysis/CSCTFEfficiency.cc
  L1Trigger/DTTrackFinder/interface/L1MuDTTFConfig.h
  L1Trigger/DTTrackFinder/src/L1MuDTTFConfig.cc
  L1Trigger/GlobalMuonTrigger/src/L1MuGMTConfig.cc
  L1Trigger/GlobalMuonTrigger/src/L1MuGMTConfig.h
  L1Trigger/TrackFindingTracklet/plugins/ProducerChannelAssignment.cc
  L1Trigger/TrackerTFP/plugins/ProducerDemonstrator.cc
  L1TriggerConfig/DTTPGConfig/interface/DTConfigBti.h
  L1TriggerConfig/DTTPGConfig/interface/DTConfigTraco.h
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#42661 [13.2.X] Put back wf 140.6 in the relval matrix
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/StandardSequences/python/DigiToRaw_Repack_cff.py
Labels: operations-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, backport-ok

#42659 [13.2.X] fix removal of `siStripDigis` from `RawToDigi` task
  Configuration/StandardSequences/python/RawToDigi_Repacked_cff.py
  Configuration/StandardSequences/python/RawToDigi_cff.py
Labels: operations-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, requires-external, backport-ok

#42656 remove a bunch of useless `SiPixelTemplateStoreESProducer` includes
  Alignment/OfflineValidation/python/TkAlAllInOneTool/JetHT_cfg.py
  Alignment/OfflineValidation/python/TkAlAllInOneTool/SplitV_cfg.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOPromptCalibProdSiPixelLorentzAngle_cff.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOPromptCalibProdSiStripGainsAAG_cff.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOSiPixelCalSingleMuonTight_cff.py
  DQM/SiPixelPhase1Config/python/SiPixelPhase1OfflineDQM_source_cff.py
  DQM/SiPixelPhase1Config/python/SiPixelPhase1OnlineDQM_Timing_cff.py
  DQM/SiPixelPhase1Config/python/SiPixelPhase1OnlineDQM_cff.py
Labels: alca-approved, dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk
