Repository cms-sw/cmssw, pull requests merged in 2023-10, with the labels that each got.

#42919 Hcal DQM: Fix the ZDC illegal cast in HCAL offline DQM
  DQM/HcalTasks/src/DigiRunSummary.cc
  DQM/HcalTasks/src/RecoRunSummary.cc
  DQM/HcalTasks/src/TPRunSummary.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, urgent, code-checks-approved, hcal

#42920 Hcal DQM: Fix the ZDC illegal cast in HCAL offline DQM[13_2_X]
  DQM/HcalTasks/src/DigiRunSummary.cc
  DQM/HcalTasks/src/RecoRunSummary.cc
  DQM/HcalTasks/src/TPRunSummary.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok, hcal

#42829 Get offset to return cell centroid instead of hexagon centre in HGCAL wafers
  Geometry/HGCalCommonData/interface/HGCalCellOffset.h
  Geometry/HGCalCommonData/src/HGCalCell.cc
  Geometry/HGCalCommonData/src/HGCalCellOffset.cc
  Geometry/HGCalCommonData/test/HGCalCellOffsetTester.cc
  Geometry/HGCalCommonData/test/python/testHGCalCellOffsetTester_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, hgcal

#42877 Add unit test for std::vector<DetId> raw data format
  DataFormats/DetId/README.md
  DataFormats/DetId/test/BuildFile.xml
  DataFormats/DetId/test/TestReadVectorDetId.cc
  DataFormats/DetId/test/TestVectorDetId.sh
  DataFormats/DetId/test/TestWriteVectorDetId.cc
  DataFormats/DetId/test/create_VectorDetId_test_file_cfg.py
  DataFormats/DetId/test/test_readVectorDetId_cfg.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#42881 Add more diagnostics to `SiStripMonitorApproximateCluster`
  DQM/Integration/python/clients/sistrip_approx_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/sistrip_dqm_sourceclient-live_cfg.py
  DQM/SiStripMonitorApproximateCluster/plugins/SiStripMonitorApproximateCluster.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#42885 [Phase2HLT] Change hltAK4PFPuppiJets correctors tags
  Configuration/AlCa/python/autoCond.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltAK4PFPuppiJetCorrectorL1_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltAK4PFPuppiJetCorrectorL2_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltAK4PFPuppiJetCorrectorL3_cfi.py
Labels: alca-approved, hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42889 Silence static analyzer warning on existsAs() calls in PluginDescription.h
  FWCore/ParameterSet/interface/PluginDescription.h
Labels: core-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#42914 Run3-sim147A Fix the cmpilation issue wfor the debug mode
  SimG4CMS/Forward/src/CastorSD.cc
  SimG4CMS/Forward/src/ZdcSD.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42915 Replace reference to ParameterSet with a struct of parameter values in (Global)EvFOutputModule
  EventFilter/Utilities/interface/EvFOutputModule.h
  EventFilter/Utilities/plugins/GlobalEvFOutputModule.cc
  EventFilter/Utilities/src/EvFOutputModule.cc
  IOPool/Streamer/interface/StreamerOutputModuleCommon.h
  IOPool/Streamer/src/StreamerOutputModuleCommon.cc
Labels: core-approved, daq-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42916 Replace reference to ParameterSet with vector<int> in HcalMahiPulseOffsetsGPUESProducer
  RecoLocalCalo/HcalRecAlgos/interface/HcalMahiPulseOffsetsGPU.h
  RecoLocalCalo/HcalRecAlgos/src/HcalMahiPulseOffsetsGPU.cc
  RecoLocalCalo/HcalRecProducers/src/HcalMahiPulseOffsetsGPUESProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#42912 [13.2.X] Fix `PixelCountFilter` and introduce `PixelOccupancyFilter`
  CommonTools/UtilAlgos/interface/CollectionCountEventSelector.h
  CommonTools/UtilAlgos/interface/CollectionInCollectionFilter.h
  CommonTools/UtilAlgos/interface/CollectionInCollectionFilterTrait.h
  CommonTools/UtilAlgos/interface/DetSetCounterSelector.h
  CommonTools/Utils/interface/DetSetCounterSelector.h
  DPGAnalysis/Skims/src/PixelCountFilter.cc
  DPGAnalysis/Skims/src/PixelOccupancyFilter.cc
Labels: reconstruction-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, backport-ok

#42864 [13_2_X] EMTF add DQM plots for unconstrained pT and dxy
  DQM/L1TMonitor/interface/L1TStage2EMTF.h
  DQM/L1TMonitor/src/L1TStage2EMTF.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok, l1t

#42861 Enable ECAL reconstructions to use different time calibration records - 132x
  RecoLocalCalo/EcalRecProducers/plugins/EcalRecHitProducer.cc
  RecoLocalCalo/EcalRecProducers/plugins/EcalRecHitWorkerSimple.cc
  RecoLocalCalo/EcalRecProducers/plugins/EcalUncalibRecHitProducerGPU.cc
  RecoLocalCalo/EcalRecProducers/plugins/EcalUncalibRecHitWorkerGlobal.cc
  RecoLocalCalo/EcalRecProducers/python/ecalRecHit_cfi.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, ecal

#42882 [13.2.X] Add more diagnostics to `SiStripMonitorApproximateCluster`
  DQM/Integration/python/clients/sistrip_approx_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/sistrip_dqm_sourceclient-live_cfg.py
  DQM/SiStripMonitorApproximateCluster/plugins/SiStripMonitorApproximateCluster.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok, trk

#42886 [Phase2HLT][13_1_X] Change hltAK4PFPuppiJets correctors tags
  Configuration/AlCa/python/autoCond.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltAK4PFPuppiJetCorrectorL1_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltAK4PFPuppiJetCorrectorL2_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltAK4PFPuppiJetCorrectorL3_cfi.py
Labels: alca-approved, hlt-approved, fully-signed, tests-approved, orp-approved

#42898 [JMENano] Update taggers for AK4 Puppi and CHS
  PhysicsTools/NanoAOD/python/custom_jme_cff.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#42900 Update `FitWithRooFit` in Alignment/OfflineValidation to fix memory leaks
  Alignment/OfflineValidation/interface/FitWithRooFit.h
  Alignment/OfflineValidation/src/FitWithRooFit.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#42909 Update BeamSpot scripts for FTVs
  CondTools/BeamSpot/plugins/BeamSpotOnlineFromOfflineConverter.cc
  CondTools/BeamSpot/test/BeamSpotOnlineFromOfflineConverter_cfg.py
  CondTools/BeamSpot/test/testReadWriteBeamSpotsFromDB.sh
  RecoVertex/BeamSpotProducer/scripts/createPayload.py
Labels: alca-approved, reconstruction-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, tracking

#42921 Phase2-TB76 Add an example script which can work for 2023 July simulation
  SimG4CMS/HGCalTestBeam/test/HGCalTB230Jul_cfg.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#42922 Phase2-TB76X Add an aalyzer for HGCal TB sudies using inch wafers
  SimG4CMS/HGCalTestBeam/plugins/HGCalTB23Analyzer.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#42742 Improve memory usage in ParameterSet
  DQMOffline/Trigger/src/EgHLTTrigTools.cc
  FWCore/Framework/test/unit_test_outputs/test_deepCall_unscheduled.log
  FWCore/Integration/test/unit_test_outputs/testGetBy1.log
  FWCore/Integration/test/unit_test_outputs/testGetBy2.log
  FWCore/Integration/test/unit_test_outputs/testSubProcessEventSetup.grep.txt
  FWCore/Integration/test/unit_test_outputs/testSubProcessEventSetup1.grep.txt
  FWCore/ParameterSet/interface/Entry.h
  FWCore/ParameterSet/interface/ParameterDescriptionNode.h
  FWCore/ParameterSet/interface/ParameterSet.h
  FWCore/ParameterSet/interface/ParameterSetEntry.h
  FWCore/ParameterSet/interface/VParameterSetEntry.h
  FWCore/ParameterSet/interface/types.h
  FWCore/ParameterSet/src/Entry.cc
  FWCore/ParameterSet/src/FillDescriptionFromPSet.cc
  FWCore/ParameterSet/src/ParameterDescriptionNode.cc
  FWCore/ParameterSet/src/ParameterSet.cc
  FWCore/ParameterSet/src/ParameterSetConverter.cc
  FWCore/ParameterSet/src/ParameterSetEntry.cc
  FWCore/ParameterSet/src/VParameterSetEntry.cc
  FWCore/ParameterSet/src/split.h
  FWCore/ParameterSet/src/types.cc
  FWCore/ParameterSet/test/BuildFile.xml
  FWCore/ParameterSet/test/parameterSetDescription_t.cc
  FWCore/ParameterSet/test/ps_t.cppunit.cc
  FWCore/ParameterSet/test/test_catch2_ps.cc
  IOPool/Common/test/unit_test_outputs/provdump.log
  IOPool/Input/test/BuildFile.xml
  IOPool/Input/test/GetTriggerNamesAnalyzer.cc
  IOPool/Input/test/test_old_raw_data_step1_cfg.py
  SimGeneral/HepPDTRecord/src/PdtEntry.cc
Labels: core-approved, dqm-approved, simulation-approved, fully-signed, tests-rejected, orp-approved, code-checks-approved

#42868 Enable ECAL reconstructions to use different time calibration records - 131x
  RecoLocalCalo/EcalRecProducers/plugins/EcalRecHitProducer.cc
  RecoLocalCalo/EcalRecProducers/plugins/EcalRecHitWorkerSimple.cc
  RecoLocalCalo/EcalRecProducers/plugins/EcalUncalibRecHitProducerGPU.cc
  RecoLocalCalo/EcalRecProducers/plugins/EcalUncalibRecHitWorkerGlobal.cc
  RecoLocalCalo/EcalRecProducers/plugins/EcalUncalibRecHitWorkerMultiFit.cc
  RecoLocalCalo/EcalRecProducers/python/ecalRecHit_cfi.py
Labels: reconstruction-approved, fully-signed, tests-rejected, orp-approved, backport-ok, ecal

#42942 era to store ZDC digis for pp reco
  Configuration/DataProcessing/python/Impl/ppEra_Run3_2023_repacked.py
  Configuration/Eras/python/Era_Run3_2023_ZDC_cff.py
  Configuration/ProcessModifiers/python/storeZDCDigis_cff.py
  Configuration/StandardSequences/python/Eras.py
  PhysicsTools/PatAlgos/python/slimming/MicroEventContent_cff.py
  RecoLocalCalo/Configuration/python/RecoLocalCalo_EventContent_cff.py
Labels: operations-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, code-checks-approved, xpog-approved

#42944 era to store ZDC digis for pp reco [13_2_X]
  Configuration/DataProcessing/python/Impl/ppEra_Run3_2023_repacked.py
  Configuration/Eras/python/Era_Run3_2023_ZDC_cff.py
  Configuration/ProcessModifiers/python/storeZDCDigis_cff.py
  Configuration/StandardSequences/python/Eras.py
  PhysicsTools/PatAlgos/python/slimming/MicroEventContent_cff.py
  RecoLocalCalo/Configuration/python/RecoLocalCalo_EventContent_cff.py
Labels: operations-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, backport, xpog-approved

#42941 Phase2-gex171 Add a few more options to generate the single neutrino file
  Validation/Geometry/test/single_neutrino_cfg.py
Labels: dqm-approved, geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, hgcal

#42896 [Phase-2] Fixed L1 quality mask requirement in L1TkEmSingle51Filter
  HLTrigger/Configuration/python/HLT_75e33/modules/L1TkEmSingle51Filter_cfi.py
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, egamma

#42879 PPS Dump to SQLite only one record (mask or mapping)
  CalibPPS/ESProducers/plugins/WriteTotemDAQMapping.cc
  CalibPPS/ESProducers/test/script_test_many_writeTotemDAQMapping.py
  CalibPPS/ESProducers/test/test_printTotemDAQMapping.py
  CalibPPS/ESProducers/test/test_writeTotemDAQMapping.py
  CondTools/CTPPS/plugins/WriteCTPPSTotemDAQMappingMask.cc
  CondTools/CTPPS/python/mappings_PPSObjects_XML_cfi.py
  CondTools/CTPPS/test/script-ctpps-write-many-XML-to-SQLite.py
  CondTools/CTPPS/test/test_XML_to_SQLite_mapping.sh
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#42837 fixed LHCInfoPer* PopCons not recoginizing ongoing fills in duringFill mode
  CondTools/RunInfo/plugins/LHCInfoPerFillPopConAnalyzer.cc
  CondTools/RunInfo/plugins/LHCInfoPerLSPopConAnalyzer.cc
  CondTools/RunInfo/test/test_lhcInfoNewPopCon.sh
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#42959 Fill Photon PF ID DNN score properly
  DataFormats/EgammaCandidates/src/Photon.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, egamma

#42957 Fix condition to add anti-particle to G4ParticleTable
  SimG4Core/CustomPhysics/src/CustomParticleFactory.cc
Labels: simulation-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#42952 Added a fillDescriptions to IgProfService
  IgTools/IgProf/plugins/IgProfService.cc
  IgTools/IgProf/plugins/IgProfService.h
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42948 Phase2-TB76Y Update the analyzer code and scripts for 2023 July HGCal Test Beam
  SimG4CMS/HGCalTestBeam/plugins/HGCalTB23Analyzer.cc
  SimG4CMS/HGCalTestBeam/test/HGCalTB230Jul_cfg.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#42934 Add FastTimer and Throughput Services to HLT Phase2 timing menu.
  HLTrigger/Configuration/python/HLT_75e33/services/ThroughputService_cfi.py
  HLTrigger/Configuration/python/HLT_75e33_timing_cff.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42933 Use the ratio timing method for ECAL online DQM - 132X
  DQM/Integration/python/clients/ecal_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport, ecal

#42943 Rename `MaxNumberOfCosmicClusters` parameter in `ClusterChecker`
  Configuration/GlobalRuns/python/reco_TLR_35X.py
  Configuration/GlobalRuns/python/reco_TLR_36X.py
  Configuration/GlobalRuns/python/reco_TLR_37X.py
  Configuration/GlobalRuns/python/reco_TLR_38X.py
  DQM/Integration/python/clients/pixel_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/sistrip_dqm_sourceclient-live_cfg.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltIter2Phase2L3FromL1TkMuonPixelClusterCheck_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/trackerClusterCheck_cfi.py
  HLTrigger/Configuration/python/customizeHLTforCMSSW.py
  HLTrigger/special/test/test_CosmicsFilters_cfg.py
  RecoHI/HiTracking/python/hiPixelPairStep_cff.py
  RecoTracker/Configuration/python/RecoTrackerTopBottom_cff.py
  RecoTracker/ConversionSeedGenerators/python/PhotonConversionTrajectorySeedProducerFromQuadruplets_cfi.py
  RecoTracker/ConversionSeedGenerators/python/PhotonConversionTrajectorySeedProducerFromSingleLeg_cfi.py
  RecoTracker/SpecialSeedGenerators/python/CombinatorialSeedGeneratorForBeamHalo_cfi.py
  RecoTracker/SpecialSeedGenerators/python/CombinatorialSeedGeneratorForCosmicsRegionalReconstruction_cfi.py
  RecoTracker/SpecialSeedGenerators/python/CombinatorialSeedGeneratorForCosmics_cfi.py
  RecoTracker/SpecialSeedGenerators/python/CosmicSeed_cfi.py
  RecoTracker/SpecialSeedGenerators/python/SimpleCosmicBONSeeder_cfi.py
  RecoTracker/TkSeedGenerator/interface/ClusterChecker.h
  RecoTracker/TkSeedGenerator/python/GlobalPixelLessSeeds_cff.py
  RecoTracker/TkSeedGenerator/python/SeedGeneratorFromRegionHitsEDProducer_cfi.py
  RecoTracker/TkSeedGenerator/python/trackerClusterCheck_cfi.py
  RecoTracker/TkSeedGenerator/src/ClusterChecker.cc
  SimGeneral/DataMixingModule/python/supplementary/recoT0DQM_EvContent_40T_digiOnly_cfg.py
Labels: dqm-approved, hlt-approved, operations-approved, reconstruction-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#42880 Fix maybe-uninitialized warning in MeasurementTrackerImpl::addPhase2Det
  RecoTracker/MeasurementDet/plugins/TkPhase2OTMeasurementDet.cc
  RecoTracker/MeasurementDet/plugins/TkPhase2OTMeasurementDet.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#42932 Use the ratio timing method for ECAL online DQM
  DQM/Integration/python/clients/ecal_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, ecal

#42937 Adding DeepFlavour Jet tags to BTV DQM
  DQMOffline/Trigger/python/BTaggingMonitor_cfi.py
  RecoBTag/Configuration/python/RecoBTag_cff.py
Labels: dqm-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42938 Update of Phase2 Tracker Digitizer to fix an issue in Premixing
  SimTracker/SiPhase2Digitizer/plugins/Phase2TrackerDigitizerAlgorithm.cc
  SimTracker/SiPhase2Digitizer/python/phase2TrackerDigitizer_cfi.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, trk

#42951 Phase2-trk10 Possible overlap removal in the T33 version of tracker geometry
  Geometry/TrackerCommonData/data/PhaseII/Tracker_DD4hep_compatible_IT711_2023_05V1/pixel.xml
  Geometry/TrackerCommonData/data/PhaseII/Tracker_DD4hep_compatible_IT711_2023_05V2/pixel.xml
  Geometry/TrackerCommonData/python/GeometryExtended2026D100V1_cff.py
  Geometry/TrackerCommonData/python/GeometryExtended2026D100V2_cff.py
  Geometry/TrackerCommonData/python/cmsExtendedGeometry2026D100V1XML_cfi.py
  Geometry/TrackerCommonData/python/cmsExtendedGeometry2026D100V2XML_cfi.py
  Geometry/TrackerCommonData/test/g4OverlapV100_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#42955 temporarily remove `HLT_DoubleMediumDeepTauPFTauHPS35_eta2p1` from phase-2 HLT menu
  HLTrigger/Configuration/python/HLT_75e33_cff.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42956 Removing re-binnning from SiStripBadAPVandHotStripAlgorithm
  CalibTracker/SiStripQuality/src/SiStripBadAPVandHotStripAlgorithmFromClusterOccupancy.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#42965 Use `TriggerResultsFilterFromDB`-based selection for Heavy AlCaRecos in `pp_on_AA`
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlMinBias_cff.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOSiStripCalMinBias_cff.py
  HLTrigger/HLTfilters/plugins/TriggerResultsFilterFromDB.cc
Labels: alca-approved, hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#42950 Deterministic DRN
  PhysicsTools/PatAlgos/python/slimming/patPhotonDRNCorrector_cfi.py
  RecoEgamma/EgammaTools/plugins/DRNCorrectionProducerT.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved, xpog-approved

#42953 Miscellaneous improvements for `DQM/Integration` unit tests
  DQM/Integration/python/clients/sistrip_approx_dqm_sourceclient-live_cfg.py
  DQM/Integration/test/BuildFile.xml
  DQM/Integration/test/runtest.sh
  DQM/SiPixelHeterogeneous/plugins/SiPixelPhase1RawDataErrorComparator.cc
  DQM/SiStripMonitorApproximateCluster/plugins/SiStripMonitorApproximateCluster.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved, trk

#42888 [13_2_X] Fix LHCInfoPerLS PopCon incorrectly matching LS between OMS and PPS db and fix LHCInfoPer* PopCons not recoginizing ongoing fills in duringFill mode
  CondTools/RunInfo/interface/LHCInfoPopConSourceHandler.h
  CondTools/RunInfo/plugins/LHCInfoPerFillPopConAnalyzer.cc
  CondTools/RunInfo/plugins/LHCInfoPerLSPopConAnalyzer.cc
  CondTools/RunInfo/src/LHCInfoPopConSourceHandler.cc
  CondTools/RunInfo/test/summarizePerLSPopConValidityLogs.sh
  CondTools/RunInfo/test/test_lhcInfoNewPopCon.sh
Labels: fully-signed, tests-approved, db-approved, orp-approved

#42875 [13_2_X] Fix LHCInfoPerLS PopCon incorrectly matching LS between OMS and PPS db
  CondTools/RunInfo/interface/LHCInfoPopConSourceHandler.h
  CondTools/RunInfo/plugins/LHCInfoPerFillPopConAnalyzer.cc
  CondTools/RunInfo/plugins/LHCInfoPerLSPopConAnalyzer.cc
  CondTools/RunInfo/src/LHCInfoPopConSourceHandler.cc
  CondTools/RunInfo/test/summarizePerLSPopConValidityLogs.sh
  CondTools/RunInfo/test/test_lhcInfoNewPopCon.sh
Labels: db-rejected, pending-signatures, tests-approved, orp-pending, backport-ok

#42968 [12_4_X] Fix condition to add anti-particle to G4ParticleTable
  SimG4Core/CustomPhysics/src/CustomParticleFactory.cc
Labels: simulation-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#42323 Import NanoAOD-tools postoprocessor to CMSSW
  DataFormats/Math/src/classes.h
  DataFormats/Math/src/classes_def.xml
  PhysicsTools/NanoAOD/scripts/haddnano.py
  PhysicsTools/NanoAODTools/.gitignore
  PhysicsTools/NanoAODTools/README.md
  PhysicsTools/NanoAODTools/crab/PSet.py
  PhysicsTools/NanoAODTools/crab/crab_cfg.py
  PhysicsTools/NanoAODTools/crab/crab_script.py
  PhysicsTools/NanoAODTools/crab/crab_script.sh
  PhysicsTools/NanoAODTools/python/postprocessing/examples/exampleModule.py
  PhysicsTools/NanoAODTools/python/postprocessing/examples/mhtjuProducerCpp.py
  PhysicsTools/NanoAODTools/python/postprocessing/framework/branchselection.py
  PhysicsTools/NanoAODTools/python/postprocessing/framework/collectionMerger.py
  PhysicsTools/NanoAODTools/python/postprocessing/framework/datamodel.py
  PhysicsTools/NanoAODTools/python/postprocessing/framework/eventloop.py
  PhysicsTools/NanoAODTools/python/postprocessing/framework/jobreport.py
  PhysicsTools/NanoAODTools/python/postprocessing/framework/output.py
  PhysicsTools/NanoAODTools/python/postprocessing/framework/postprocessor.py
  PhysicsTools/NanoAODTools/python/postprocessing/framework/preskimming.py
  PhysicsTools/NanoAODTools/python/postprocessing/framework/treeReaderArrayTools.py
  PhysicsTools/NanoAODTools/python/postprocessing/utils/crabhelper.py
  PhysicsTools/NanoAODTools/scripts/nano_postproc.py
  PhysicsTools/NanoAODTools/standalone/checkoutStandalone.sh
  PhysicsTools/NanoAODTools/standalone/env_standalone.sh
  PhysicsTools/NanoAODTools/test/BuildFile.xml
  PhysicsTools/NanoAODTools/test/exampleAnalysis.py
  PhysicsTools/NanoAODTools/test/exampleGenDump.py
  PhysicsTools/NanoAODTools/test/example_postproc.py
  PhysicsTools/NanoAODTools/test/examples/MhtjuProducerCppWorker.cc
  PhysicsTools/NanoAODTools/test/examples/MhtjuProducerCppWorker.h
  PhysicsTools/NanoAODTools/test/runTest.sh
Labels: reconstruction-pending, pending-signatures, tests-approved, orp-approved, code-checks-approved, xpog-approved

#42966 [13.2.X] Use `TriggerResultsFilterFromDB`-based selection for Heavy AlCaRecos in `pp_on_AA`
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlMinBias_cff.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOSiStripCalMinBias_cff.py
  HLTrigger/HLTfilters/plugins/TriggerResultsFilterFromDB.cc
Labels: alca-approved, hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok, trk

#42962 [13_2_X]Remove rebin from SiStripBadAPVandHotStripAlgorithm
  CalibTracker/SiStripQuality/src/SiStripBadAPVandHotStripAlgorithmFromClusterOccupancy.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok, trk

#42827 Add a Phase2 HLT tracking DQM monitoring (13.1.X)
  Configuration/EventContent/python/EventContent_cff.py
  DQM/SiTrackerPhase2/plugins/Phase2ITMonitorCluster.cc
  DQM/SiTrackerPhase2/plugins/Phase2OTMonitorCluster.cc
  DQMOffline/Configuration/python/autoDQM.py
  DQMOffline/Trigger/python/DQMOffline_Trigger_cff.py
  DQMOffline/Trigger/python/PrimaryVertexMonitoring_cff.py
  DQMOffline/Trigger/python/SiTrackerPhase2_OfflineMonitoring_cff.py
  DQMOffline/Trigger/python/TrackToTrackMonitoring_cff.py
  DQMOffline/Trigger/python/TrackingMonitoring_cff.py
Labels: dqm-approved, operations-approved, fully-signed, tests-approved, orp-approved, backport-ok, trk

#42928 Use ECAL ratio timing algorithm for Run 1 and Run 2, and CC timing algorithm for Run 3 and beyond
  Configuration/Eras/python/Era_Run3_cff.py
  Configuration/Eras/python/Modifier_run3_ecal_cff.py
  RecoLocalCalo/EcalRecProducers/plugins/EcalUncalibRecHitWorkerMultiFit.cc
  RecoLocalCalo/EcalRecProducers/python/ecalMultiFitUncalibRecHit_cfi.py
Labels: operations-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, requires-external, code-checks-approved, ecal

#42907 Herwig lhe matching fix 10_6
  Configuration/Generator/python/DYToLL01234Jets_5FS_TuneCH3_13TeV_madgraphMLM_herwig7_cff.py
  Configuration/Generator/python/DYToLL012Jets_5FS_TuneCH3_13TeV_amcatnloFxFx_herwig7_cff.py
  Configuration/Generator/python/DYToll01234Jets_5f_LO_MLM_Madgraph_LHE_13TeV_cff.py
  Configuration/Generator/python/Herwig7Settings/Herwig7LHECommonSettings_cfi.py
  Configuration/Generator/python/Herwig7Settings/Herwig7MGMergingSettings_cfi.py
  Configuration/Generator/python/TT_13TeV_Pow_Herwig7_cff.py
  Configuration/Generator/python/TTbar_Pow_LHE_13TeV_cff.py
  GeneratorInterface/Herwig7Interface/plugins/Herwig7Hadronizer.cc
  GeneratorInterface/LHEInterface/interface/LHEEvent.h
  GeneratorInterface/LHEInterface/plugins/ExternalLHEProducer.cc
  GeneratorInterface/LHEInterface/scripts/addLHEnumbers.py
  GeneratorInterface/LHEInterface/scripts/mergeLHE.py
  GeneratorInterface/LHEInterface/src/LHEEvent.cc
  GeneratorInterface/LHEInterface/src/LHEReader.cc
  SimDataFormats/GeneratorProducts/interface/LHEEventProduct.h
  SimDataFormats/GeneratorProducts/src/classes_def.xml
Labels: generators-approved, fully-signed, tests-approved, orp-approved, requires-external, backport-ok

#42935 [13_1_X] Add FastTimer and Throughput Services to HLT P2 timing menu.
  HLTrigger/Configuration/python/HLT_75e33/services/ThroughputService_cfi.py
  HLTrigger/Configuration/python/HLT_75e33_timing_cff.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#42897 [Phase-2] [backport] Fixed L1 quality mask requirement in L1TkEmSingle51Filter
  HLTrigger/Configuration/python/HLT_75e33/modules/L1TkEmSingle51Filter_cfi.py
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, egamma

#42958 Include ECAL Timing CC labelled tags in Run3 data and MC GTs
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#42769 Changed FailPath/SkipEvent to TryToContinue [Generator]
  GeneratorInterface/Core/test/Pythia8ConcurrentGeneratorFilter_WZ_TuneCP5_13TeV-pythia8_cfg.py
  GeneratorInterface/Herwig7Interface/test/DYToLL01234Jets_5FS_TuneCH3_13TeV_madgraphMLM_herwig7_cfg.py
  GeneratorInterface/Herwig7Interface/test/DYToLL012Jets_5FS_TuneCH3_13TeV_amcatnloFxFx_herwig7_cfg.py
  GeneratorInterface/Herwig7Interface/test/DYToLL_TuneCH3_13TeV_herwig7_cfg.py
  GeneratorInterface/Herwig7Interface/test/PPToEE_LO_TuneCH3_13TeV_herwig7_matchbox_cfg.py
  GeneratorInterface/Pythia8Interface/test/FXFXewk_test.py
Labels: generators-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40438 Custom Run 3 PFScouting NanoAOD
  CommonTools/RecoAlgos/plugins/JetDeltaRValueMapProducer.cc
  Configuration/PyReleaseValidation/python/relval_nano.py
  PhysicsTools/NanoAOD/plugins/SimpleFlatTableProducerPlugins.cc
  PhysicsTools/NanoAOD/plugins/TriggerOutputBranches.cc
  PhysicsTools/NanoAOD/python/custom_run3scouting_cff.py
  PhysicsTools/NanoAOD/python/run3scouting_cff.py
  PhysicsTools/Scouting/plugins/BuildFile.xml
  PhysicsTools/Scouting/plugins/Run3ScoutingParticleToRecoPFCandidateProducer.cc
  RecoBTag/FeatureTools/plugins/DeepBoostedJetTagInfoProducer.cc
  RecoBTag/ONNXRuntime/plugins/BoostedJetONNXJetTagsProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, requires-external, code-checks-approved, xpog-approved

#42977 Additional fix for pixel FED error imbalance in DQM plots
  RecoLocalTracker/SiPixelClusterizer/plugins/SiPixelRawToClusterGPUKernel.cu
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, code-checks-approved, trk

#42976 disable unit test of `hltPrintMenuVersions` in non-`x86-64` builds
  HLTrigger/Configuration/test/BuildFile.xml
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42974 Phase2-TB76Z Correct the testbeam setup of July 2023 HGCal
  Geometry/HGCalTBCommonData/data/TB230/Jul230/hgcalBeam.xml
  Geometry/HGCalTBCommonData/data/TB230/Jul230/hgcalEE.xml
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42971 [TkAl] Realign DQM and Offline analysis of μμ + vertex events
  Alignment/OfflineValidation/plugins/DiMuonVertexValidation.cc
  Alignment/OfflineValidation/test/DiMuonVertexValidation_cfg.py
  DQMOffline/Alignment/src/DiMuonVertexMonitor.cc
Labels: alca-approved, dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#42978 [13_2_X] Additional fix for pixel FED error imbalance in DQM plots
  RecoLocalTracker/SiPixelClusterizer/plugins/SiPixelRawToClusterGPUKernel.cu
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok, trk

#42984 PF code clean up and refactor [ConvBremPFTrackFinder]
  RecoParticleFlow/PFTracking/src/ConvBremPFTrackFinder.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, pf

#42969 add `hltPrintMenuVersions` and utilities for HLT-menu spreadsheets [`13_2_X`]
  HLTrigger/Configuration/scripts/hltPrintMenuVersions
  HLTrigger/Configuration/scripts/utils/.gitignore
  HLTrigger/Configuration/scripts/utils/hltListPathsWithoutOwners
  HLTrigger/Configuration/scripts/utils/hltMenuContentToCSVs
  HLTrigger/Configuration/scripts/utils/hltPathOwners.json
  HLTrigger/Configuration/scripts/utils/readme.md
  HLTrigger/Configuration/test/.gitignore
  HLTrigger/Configuration/test/BuildFile.xml
  HLTrigger/Configuration/test/test_hltMenuContentToCSVs.sh
  HLTrigger/Configuration/test/test_hltPrintMenuVersions.sh
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#43012 [13_2_X] HCAL unpacker: adding more protection against corrupted data
  EventFilter/HcalRawToDigi/interface/AMC13Header.h
  EventFilter/HcalRawToDigi/interface/HcalUHTRData.h
  EventFilter/HcalRawToDigi/src/HcalUnpacker.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok

#42994 [13.2.X] remove `edmCheckMultithreading` from `hltIntegrationTests`
  HLTrigger/Configuration/scripts/hltIntegrationTests
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, urgent, backport

#42999 [13.1.X] remove `edmCheckMultithreading` from `hltIntegrationTests`
  HLTrigger/Configuration/scripts/hltIntegrationTests
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, urgent, backport

#43000 [13.0.X] remove `edmCheckMultithreading` from `hltIntegrationTests`
  HLTrigger/Configuration/scripts/hltIntegrationTests
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, urgent, backport

#42982 Phase2-hgx346X Add new collection names and information of Calibration Cells to the HGCal SD Class
  Geometry/HGCalCommonData/interface/HGCalDDDConstants.h
  SimG4CMS/Calo/interface/HGCalSD.h
  SimG4CMS/Calo/src/CaloSD.cc
  SimG4CMS/Calo/src/HGCalSD.cc
  SimG4CMS/Calo/test/python/runHGC1_cfg.py
  SimG4Core/Application/plugins/OscarMTProducer.cc
Labels: geometry-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#42981 Run3-gem68 Add the modified xml file for GE21 demonstration chamber used in the 2022 and 2023 scenarios
  Geometry/MuonCommonData/data/gem21/2021/v2/gem21.xml
  Geometry/MuonCommonData/data/gem21/2023/v2/gem21.xml
  Geometry/MuonCommonData/data/mfshield/2023/v1/mfshield.xml
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42998 fix mistake in `EDM_ML_DEBUG` protected section of `DiMuonVertexMonitor`
  DQMOffline/Alignment/src/DiMuonVertexMonitor.cc
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#43001 add 'beam' (`AlCaBeamMonitor`) sequence for Phase-2
  DQMOffline/Configuration/python/autoDQM.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43010 Remove deprecated std::iterator from CondCore/CondDB
  CondCore/CondDB/interface/GTProxy.h
  CondCore/CondDB/interface/IOVProxy.h
  CondCore/CondDB/interface/RunInfoProxy.h
  CondCore/CondDB/src/DbCore.h
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#43014 Adding d0 cut to TrackletCalculatorDisplaced.cc
  L1Trigger/TrackFindingTracklet/src/TrackletCalculatorDisplaced.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43018 New unit test with source that waits
  FWCore/Integration/plugins/BuildFile.xml
  FWCore/Integration/plugins/SourceWithWaits.cc
  FWCore/Integration/test/inputSourceTest.sh
  FWCore/Integration/test/testLateLumiClosure_cfg.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42983 [13.2.X] Increase number of sequences to be analyzed in `DQMOffline/Configuration` unit tests
  DQMOffline/Configuration/test/BuildFile.xml
Labels: dqm-approved, fully-signed, tests-approved, orp-approved

#42985 Remove unnecessary using namespace directive in WriteCTPPSTotemDAQMappingMask
  CondTools/CTPPS/plugins/WriteCTPPSTotemDAQMappingMask.cc
Labels: fully-signed, tests-rejected, db-approved, orp-approved, code-checks-approved

#42972 PV validation range
  Alignment/OfflineValidation/bin/PVmerge.cc
  Alignment/OfflineValidation/macros/FitPVResiduals.C
Labels: alca-approved, fully-signed, tests-rejected, orp-approved, code-checks-approved, trk

#42856 [HGCAL trigger] Technical developments on Stage 1 emulator, validation and floating point compression
  L1Trigger/L1THGCal/interface/HGCalTriggerGeometryBase.h
  L1Trigger/L1THGCal/interface/HGCalVFECompressionImpl.h
  L1Trigger/L1THGCal/interface/backend/HGCalStage1TruncationImpl_SA.h
  L1Trigger/L1THGCal/plugins/geometries/HGCalTriggerGeometryV9Imp2.cc
  L1Trigger/L1THGCal/plugins/geometries/HGCalTriggerGeometryV9Imp3.cc
  L1Trigger/L1THGCal/plugins/veryfrontend/HGCalVFEProcessorSums.cc
  L1Trigger/L1THGCal/src/HGCalVFECompressionImpl.cc
  L1Trigger/L1THGCal/src/backend/HGCalStage1TruncationImpl_SA.cc
  L1Trigger/L1THGCal/src/concentrator/HGCalConcentratorCoarsenerImpl.cc
  L1Trigger/L1THGCal/src/concentrator/HGCalConcentratorSuperTriggerCellImpl.cc
  L1Trigger/L1THGCal/test/BuildFile.xml
  L1Trigger/L1THGCal/test/HGCalBackendStage1ParameterExtractor.cc
  L1Trigger/L1THGCal/test/HGCalTriggerGeomTesterV9Imp3.cc
  L1Trigger/L1THGCal/test/testHGCalBackendStage1ParameterExtractor_cfg.py
  Validation/HGCalValidation/plugins/HGCalTriggerValidator.cc
  Validation/HGCalValidation/python/hgcalValidationTPG_cfi.py
  Validation/HGCalValidation/test/python/testValidationHGCalTrigPrim_RelVal_cfg.py
Labels: dqm-approved, l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#42991 Latest updates in DQM/TrackingMonitorSource for data/MC comparisons for the Tracking POG
  DQM/TrackingMonitorSource/plugins/BuildFile.xml
  DQM/TrackingMonitorSource/plugins/StandaloneTrackMonitor.cc
  DQM/TrackingMonitorSource/plugins/ZEEDetails.cc
  DQM/TrackingMonitorSource/plugins/ZtoEEElectronTrackProducer.cc
  DQM/TrackingMonitorSource/plugins/ZtoEEEventSelector.cc
  DQM/TrackingMonitorSource/plugins/ZtoMMEventSelector.cc
  DQM/TrackingMonitorSource/plugins/ZtoMMMuonTrackProducer.cc
  DQM/TrackingMonitorSource/python/StandaloneTrackMonitor_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#43004 Do not forward-declare G4VTouchable
  SimG4CMS/Tracker/interface/TrackerG4SimHitNumberingScheme.h
  SimTracker/TrackerMaterialAnalysis/plugins/TrackingMaterialProducer.h
  Validation/Geometry/interface/MaterialBudgetAction.h
Labels: dqm-approved, geometry-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#43024 Use the ratio timing method for ECAL online DQM- 132X part 2
  DQM/Integration/python/clients/ecal_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok, ecal

#43023 Use the ratio timing method for ECAL online DQM - 131X
  DQM/Integration/python/clients/ecal_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok, ecal

#42973 [TkAl] miscellaneous updates related to analysis of μμ + vertex events (13.2.X)
  Alignment/OfflineValidation/plugins/DiMuonVertexValidation.cc
  Alignment/OfflineValidation/test/DiMuonVertexValidation_cfg.py
  DQMOffline/Alignment/interface/DiMuonVertexMonitor.h
  DQMOffline/Alignment/python/ALCARECOTkAlDQM_cff.py
  DQMOffline/Alignment/python/DiMuonVertexMonitor_cfi.py
  DQMOffline/Alignment/src/DiMuonVertexMonitor.cc
Labels: alca-approved, dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, requires-external, backport-ok, trk

#42906 Herwig lhe matching fix 12_4
  Configuration/Generator/python/DYToLL01234Jets_5FS_TuneCH3_13TeV_madgraphMLM_herwig7_cff.py
  Configuration/Generator/python/DYToLL012Jets_5FS_TuneCH3_13TeV_amcatnloFxFx_herwig7_cff.py
  Configuration/Generator/python/DYToll01234Jets_5f_LO_MLM_Madgraph_LHE_13TeV_cff.py
  Configuration/Generator/python/Herwig7Settings/Herwig7LHECommonSettings_cfi.py
  Configuration/Generator/python/Herwig7Settings/Herwig7MGMergingSettings_cfi.py
  Configuration/Generator/python/TT_13TeV_Pow_Herwig7_cff.py
  Configuration/Generator/python/TTbar_Pow_LHE_13TeV_cff.py
  Configuration/Generator/python/concurrentLumisDisable.py
  GeneratorInterface/Herwig7Interface/plugins/Herwig7Hadronizer.cc
  GeneratorInterface/LHEInterface/interface/LHEEvent.h
  GeneratorInterface/LHEInterface/plugins/ExternalLHEProducer.cc
  GeneratorInterface/LHEInterface/scripts/addLHEnumbers.py
  GeneratorInterface/LHEInterface/scripts/mergeLHE.py
  GeneratorInterface/LHEInterface/src/LHEEvent.cc
  GeneratorInterface/LHEInterface/src/LHEReader.cc
  SimDataFormats/GeneratorProducts/interface/LHEEventProduct.h
  SimDataFormats/GeneratorProducts/src/classes_def.xml
Labels: generators-approved, fully-signed, tests-approved, orp-approved, requires-external, backport-ok

#43020 SiPixel Payload Inspector: introduce utility to display probability-weighted `SiPixelFEDChannelContainer` contents
  CondCore/SiPixelPlugins/plugins/SiPixelFEDChannelContainer_PayloadInspector.cc
  CondCore/SiPixelPlugins/test/testSiPixelFEDChannelContainer.sh
  CondCore/SiPixelPlugins/test/testSiPixelPayloadInspector.cpp
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, trk

#43007 Phase2-Trk11 Modified 2026D100 scenario after fixing the overlap issue in the Tracker geometry
  Configuration/Geometry/python/dict2026Geometry.py
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D100.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D100XML_cfi.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#43032 Run3-gex172 Update 2021 and 2023 scenarios with the corrected geometry for the GE21 demonstration chamber
  Configuration/Geometry/python/dict2021Geometry.py
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021FlatMinus05Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021FlatMinus10Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021FlatPlus05Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021FlatPlus10Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021ZeroMaterial.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2023.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2023FlatMinus05Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2023FlatMinus10Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2023FlatPlus05Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2023FlatPlus10Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2023ZeroMaterial.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometry2021FlatMinus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2021FlatMinus10PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2021FlatPlus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2021FlatPlus10PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2021XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2021ZeroMaterialXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2023FlatMinus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2023FlatMinus10PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2023FlatPlus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2023FlatPlus10PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2023XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2023ZeroMaterialXML_cfi.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#43016 Phase2-hgx346Y Fix the compilation error in CaloSD for debug mode
  SimG4CMS/Calo/src/CaloSD.cc
Labels: simulation-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#43041 Add the ASSERT_DEVICE_MATCHES_HOST_COLLECTION macro
  DataFormats/Portable/interface/alpaka/PortableCollection.h
  DataFormats/PortableTestObjects/interface/alpaka/TestDeviceCollection.h
  HeterogeneousCore/AlpakaInterface/interface/AssertDeviceMatchesHostCollection.h
  HeterogeneousCore/AlpakaTest/interface/alpaka/AlpakaESTestData.h
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#42987 Store tau decay products in new nanoAOD table
  PhysicsTools/NanoAOD/python/taus_cff.py
  PhysicsTools/PatAlgos/plugins/PATTauSignalCandidatesProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#43029 Removed std::iterator use from DataFormats/Common
  DataFormats/Common/interface/BaseVectorHolder.h
  DataFormats/Common/interface/PtrVector.h
  DataFormats/Common/interface/RefVectorHolderBase.h
  DataFormats/Common/interface/RefVectorIterator.h
  DataFormats/MuonSeed/src/classes_def.xml
Labels: core-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43035 Add more tests for cmsRun argument parsing
  FWCore/Framework/test/test_catch2_CmsRunParser.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43038 Fixing warning on `hgtopo[i]` uninitialized (`SimGeneral/Debugging`) in SKYLAKEAVX512 IBs
  SimGeneral/Debugging/plugins/CaloParticleDebugger.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43044 Remove deprecated std::iterator from MagneticField/Interpolation/src/bstream_iterator.h
  MagneticField/Interpolation/src/bstream_iterator.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43048 SIM: adopt cmssw for future Geant4
  SimG4Core/Application/src/ExceptionHandler.cc
  SimG4Core/Application/src/RunManagerMTWorker.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43049 Run3-sim149Z Update the cfg files in SimG4Core/PrintGeomInfo/test/python to avoid depreciated modules
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheck2026DD4hep_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheck2026DDD_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckCalo_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckDDD_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckEcal_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckHGCal_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckMuon_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckNoseDDD_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckTracker_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runDD4hep2026D98_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runDD4hep2026_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runDDD2026D98_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runDDD2026_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runPrintG4Solids2_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runPrintG4SolidsRun3_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runPrintG4Solids_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runPrintG4Touch2026_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runPrintSolid2026D98_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runPrintSolid2026_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runPrintSolid_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runSens2026_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runSens_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runSummary2026_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runSummary_cfg.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43055 Clean up deprecated edm::RefToBase list 1 for RNTuple
  DataFormats/BTauReco/src/classes_def.xml
  DataFormats/Candidate/interface/CompositeCandidateFwd.h
  DataFormats/Candidate/interface/NamedCompositeCandidateFwd.h
  DataFormats/Candidate/interface/VertexCompositeCandidateFwd.h
  DataFormats/Candidate/interface/VertexCompositePtrCandidateFwd.h
  DataFormats/EgammaCandidates/src/classes_def.xml
  DataFormats/EgammaReco/src/classes_def.xml
  DataFormats/MuonSeed/src/classes_def.xml
  DataFormats/ParticleFlowReco/src/classes_def_1.xml
  DataFormats/TauReco/src/classes_def_2.xml
  SimDataFormats/TrackingHit/interface/PSimHitContainer.h
  SimDataFormats/TrackingHit/src/classes_def.xml
Labels: reconstruction-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43072 HCAL: fix applyQIEdelay() for MC timing studies
  SimCalorimetry/HcalSimAlgos/src/HcalAmplifier.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43071 Phase2-TB76A Enable the TB script to produce meaningful results
  SimG4CMS/HGCalTestBeam/plugins/HGCalTB23Analyzer.cc
  SimG4CMS/HGCalTestBeam/test/HGCalTB230FEB_cfg.py
  SimG4CMS/HGCalTestBeam/test/HGCalTB230Jul_cfg.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#43069 Phase2-hgx346B Next step toward calibration cell collection for HGCal in the next version of HGCal geometry replacing #43045
  DataFormats/ForwardDetId/interface/HGCSiliconDetId.h
  DataFormats/ForwardDetId/src/HGCSiliconDetId.cc
  Geometry/HGCalCommonData/interface/HGCalTypes.h
  SimG4CMS/Calo/interface/CaloSD.h
  SimG4CMS/Calo/interface/HGCalSD.h
  SimG4CMS/Calo/src/CaloSD.cc
  SimG4CMS/Calo/src/HGCalSD.cc
Labels: geometry-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#43066 Run3-alca246 Update all the scripts for HCAL calibration using isolated charged particles
  Calibration/HcalCalibAlgos/macros/CalibCorr.C
  Calibration/HcalCalibAlgos/macros/CalibMain.C
  Calibration/HcalCalibAlgos/macros/CalibMonitor.C
  Calibration/HcalCalibAlgos/macros/CalibSort.C
  Calibration/HcalCalibAlgos/macros/isotrackNtupler.py
  Calibration/HcalCalibAlgos/macros/isotrackNtuplerCondor.py
  Calibration/HcalCalibAlgos/macros/isotrackRootTreeMaker.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43037 Use script_test_many_writeTotemDAQMapping.py from release if missing locally
  CalibPPS/ESProducers/test/script_test_many_writeTotemDAQMapping.py
  CondTools/CTPPS/test/test_XML_to_SQLite_mapping.sh
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#43033 Updates to AlpakaCore README and tests
  DataFormats/PortableTestObjects/BuildFile.xml
  HeterogeneousCore/AlpakaCore/README.md
  HeterogeneousCore/AlpakaTest/interface/AlpakaESTestData.h
  HeterogeneousCore/AlpakaTest/interface/AlpakaESTestSoA.h
  HeterogeneousCore/AlpakaTest/interface/alpaka/AlpakaESTestData.h
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaESProducerA.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaESProducerB.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaESProducerC.cc
  HeterogeneousCore/AlpakaTest/src/ES_AlpakaESTestData.cc
  HeterogeneousCore/AlpakaTest/src/alpaka/ES_AlpakaESTestData.cc
  HeterogeneousCore/AlpakaTest/test/testAlpakaModules.sh
  HeterogeneousCore/AlpakaTest/test/testAlpakaModules_cfg.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#43022 add explicit values to `l1t::GlobalObject` enum
  DataFormats/L1TGlobal/interface/GlobalObject.h
  DataFormats/L1TGlobal/src/GlobalObject.cc
  DataFormats/L1TGlobal/test/BuildFile.xml
  DataFormats/L1TGlobal/test/test_catch2_l1tGlobalObject.cc
  L1Trigger/L1TGlobal/src/CorrCondition.cc
  L1Trigger/L1TGlobal/src/CorrThreeBodyCondition.cc
  L1Trigger/L1TGlobal/src/CorrWithOverlapRemovalCondition.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41564 Make every Alpaka EDProducer to store an unsigned short int for the backend
  HeterogeneousCore/AlpakaCore/interface/alpaka/ProducerBase.h
  HeterogeneousCore/AlpakaCore/interface/alpaka/global/EDProducer.h
  HeterogeneousCore/AlpakaCore/interface/alpaka/stream/EDProducer.h
  HeterogeneousCore/AlpakaCore/interface/alpaka/stream/SynchronizingEDProducer.h
  HeterogeneousCore/AlpakaInterface/BuildFile.xml
  HeterogeneousCore/AlpakaInterface/interface/AllocatorConfig.h
  HeterogeneousCore/AlpakaInterface/interface/Backend.h
  HeterogeneousCore/AlpakaInterface/interface/config.h
  HeterogeneousCore/AlpakaInterface/interface/host.h
  HeterogeneousCore/AlpakaInterface/src/Backend.cc
  HeterogeneousCore/AlpakaInterface/test/BuildFile.xml
  HeterogeneousCore/AlpakaInterface/test/testBackend.cc
  HeterogeneousCore/AlpakaTest/plugins/BuildFile.xml
  HeterogeneousCore/AlpakaTest/plugins/TestAlpakaAnalyzer.cc
  HeterogeneousCore/AlpakaTest/test/reader.py
  HeterogeneousCore/AlpakaTest/test/testAlpakaModules_cfg.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#43054 Backport: Adding d0 cut to TrackletCalculatorDisplaced.cc
  L1Trigger/TrackFindingTracklet/src/TrackletCalculatorDisplaced.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, backport-ok

#43082 [13.2.X] Fix `StandaloneTrackerTopology` and providing unit tests
  CalibTracker/StandaloneTrackerTopology/src/StandaloneTrackerTopology.cc
  CalibTracker/StandaloneTrackerTopology/test/BuildFile.xml
  CalibTracker/StandaloneTrackerTopology/test/StandaloneTrackerTopologyTest.cc
  CalibTracker/StandaloneTrackerTopology/test/testStandaloneTrackerTopology.sh
  CalibTracker/StandaloneTrackerTopology/test/testStandaloneTrackerTopology_cfg.py
  CondCore/SiPixelPlugins/interface/PixelRegionContainers.h
  CondCore/SiPixelPlugins/interface/SiPixelPayloadInspectorHelper.h
  CondCore/SiPixelPlugins/plugins/SiPixelLorentzAngle_PayloadInspector.cc
  CondCore/SiPixelPlugins/test/testSiPixelLorentzAngle.sh
Labels: alca-approved, fully-signed, tests-approved, db-approved, bug-fix, orp-approved, backport-ok, trk

#43091 Cleanup CICADA/CaloSummary emulation and make CICADA versions available as templated plugins
  L1Trigger/L1TCaloLayer1/plugins/L1TCaloSummary.cc
  L1Trigger/L1TCaloLayer1/python/simCaloStage2Layer1Summary_cfi.py
  L1Trigger/L1TCaloLayer1/python/uct2016EmulatorDigis_cfi.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#43090 Phase2-gem69 Correct GE21 eta partition sizes for the Phase2 scenarios
  Geometry/MuonCommonData/data/gem21/2026/v1/gem21.xml
  Geometry/MuonCommonData/python/cmsExtendedGeometry2026D99XML_cfi.py
  Geometry/MuonCommonData/test/python/g4OverlapCheckGE0_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43089 TestGeneratorInterfacePythia8ConcurrentGeneratorFilter: follow redirects
  GeneratorInterface/Pythia8Interface/test/test_Pythia8ConcurrentGeneratorFilter_WZ_TuneCP5_13TeV-pythia8.sh
Labels: generators-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#43088 Remove deprecated-copy warnings in DataFormats/Alignment
  DataFormats/Alignment/interface/AlignmentClusterFlag.h
  DataFormats/Alignment/src/AlignmentClusterFlag.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#43086 Add missing namespace to isnan calls in in SiPixelGainCalibrationAnalysis.cc
  CalibTracker/SiPixelGainCalibration/plugins/SiPixelGainCalibrationAnalysis.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#43085 Fix deprecated-copy warnings in CondFormats/OptAlignObjects
  CondFormats/OptAlignObjects/interface/OpticalAlignInfo.h
  CondFormats/OptAlignObjects/src/OpticalAlignInfo.cc
Labels: alca-approved, fully-signed, tests-rejected, db-approved, orp-approved, code-checks-approved

#43070 Phase2L1CaloPFClusterEmulator: fix warnings in getEt
  L1Trigger/L1CaloTrigger/interface/Phase2L1CaloPFClusterEmulator.h
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#43068 Allow ESHandle be constructed from a whyFailedFactory of another ESHandle
  FWCore/Framework/interface/ESHandle.h
  FWCore/Framework/test/BuildFile.xml
  FWCore/Framework/test/test_catch2_ESHandle.cc
Labels: core-approved, fully-signed, tests-rejected, orp-approved, code-checks-approved

#43017 [13_1_X] Include ECAL Timing CC labelled tags in Run3 data and MC GTs
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok

#42947 Use ECAL ratio timing algorithm for Run 1 and Run 2, and CC timing algorithm for Run 3 and beyond - 131X
  Configuration/Eras/python/Era_Run3_cff.py
  Configuration/Eras/python/Modifier_run3_ecal_cff.py
  RecoLocalCalo/EcalRecProducers/python/ecalMultiFitUncalibRecHit_cfi.py
Labels: operations-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, requires-external, backport-ok, ecal

#43042 argparse migration for cmsDriver and FWCore
  Configuration/Applications/python/ConfigBuilder.py
  Configuration/Applications/python/Options.py
  Configuration/Applications/python/cmsDriverOptions.py
  Configuration/Applications/scripts/cmsDriver.py
  FWCore/ParameterSet/scripts/edmPythonConfigToCppValidation
  FWCore/ParameterSet/scripts/edmPythonSearch
  FWCore/ParameterSet/scripts/edmPythonTree
  FWCore/ParameterSet/test/comparePythonOutput.py
  FWCore/PythonUtilities/scripts/compareJSON.py
  FWCore/PythonUtilities/scripts/csv2json.py
  FWCore/PythonUtilities/scripts/edmDumpEventContent
  FWCore/PythonUtilities/scripts/filterCSVwithJSON.py
  FWCore/PythonUtilities/scripts/filterJSON.py
  FWCore/PythonUtilities/scripts/fjr2json.py
  FWCore/PythonUtilities/scripts/generateEDF.py
  FWCore/PythonUtilities/scripts/mergeJSON.py
  FWCore/PythonUtilities/scripts/printJSON.py
  FWCore/Utilities/scripts/edmAddClassVersion
  FWCore/Utilities/scripts/edmCheckClassTransients
  FWCore/Utilities/scripts/edmCheckClassVersion
Labels: core-approved, operations-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43075 Phase-2 L1T: Fix GT packed format for Correlator e/gamma and tau objects
  DataFormats/L1TParticleFlow/interface/egamma.h
  DataFormats/L1TParticleFlow/interface/gt_datatypes.h
  DataFormats/L1TParticleFlow/interface/taus.h
Labels: l1-approved, fully-signed, tests-approved, bug-fix, orp-approved, upgrade-approved, code-checks-approved

#43076 Implement std::array-like wrapper
  CUDADataFormats/PortableTestObjects/interface/TestDeviceCollection.h
  CUDADataFormats/PortableTestObjects/interface/TestHostCollection.h
  DataFormats/Common/interface/StdArray.h
  DataFormats/Common/src/classes.h
  DataFormats/Common/src/classes_def.xml
  DataFormats/Common/test/BuildFile.xml
  DataFormats/Common/test/StdArray_t.cpp
  DataFormats/PortableTestObjects/interface/TestSoA.h
  DataFormats/PortableTestObjects/test/BuildFile.xml
  DataFormats/PortableTestObjects/test/TestSoA.cc
  HeterogeneousCore/AlpakaTest/plugins/TestAlpakaAnalyzer.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlgo.dev.cc
  HeterogeneousCore/CUDATest/plugins/TestAlgo.cc
  HeterogeneousCore/CUDATest/plugins/TestAlgo.cu
  HeterogeneousCore/CUDATest/plugins/TestPortableAnalyzer.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#43103 [13_0_X] Fix condition to add anti-particle to G4ParticleTable
  SimG4Core/CustomPhysics/src/CustomParticleFactory.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, backport-ok

#43098 Fix GlobalTag for dumping Fireworks Geometry
  Fireworks/Geometry/python/dumpRecoGeometry_cfg.py
Labels: visualization-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43095 Include HcalPFCuts Rcd in Run2,3 offline data GTs
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43116 fix cmsDriver arguments in testTauEmbeddingProducers
  TauAnalysis/MCEmbeddingTools/test/runtests.sh
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42807 Add Alpaka implementation of PFRecHitProducer
  DataFormats/ParticleFlowReco/BuildFile.xml
  DataFormats/ParticleFlowReco/interface/CaloRecHitHostCollection.h
  DataFormats/ParticleFlowReco/interface/CaloRecHitSoA.h
  DataFormats/ParticleFlowReco/interface/PFRecHitHostCollection.h
  DataFormats/ParticleFlowReco/interface/PFRecHitSoA.h
  DataFormats/ParticleFlowReco/interface/alpaka/CaloRecHitDeviceCollection.h
  DataFormats/ParticleFlowReco/interface/alpaka/PFRecHitDeviceCollection.h
  DataFormats/ParticleFlowReco/src/alpaka/classes_cuda.h
  DataFormats/ParticleFlowReco/src/alpaka/classes_cuda_def.xml
  DataFormats/ParticleFlowReco/src/alpaka/classes_rocm.h
  DataFormats/ParticleFlowReco/src/alpaka/classes_rocm_def.xml
  DataFormats/ParticleFlowReco/src/classes_serial.h
  DataFormats/ParticleFlowReco/src/classes_serial_def.xml
  RecoParticleFlow/PFRecHitProducer/BuildFile.xml
  RecoParticleFlow/PFRecHitProducer/interface/PFRecHitParamsHostCollection.h
  RecoParticleFlow/PFRecHitProducer/interface/PFRecHitParamsRecord.h
  RecoParticleFlow/PFRecHitProducer/interface/PFRecHitParamsSoA.h
  RecoParticleFlow/PFRecHitProducer/interface/PFRecHitTopologyHostCollection.h
  RecoParticleFlow/PFRecHitProducer/interface/PFRecHitTopologyRecord.h
  RecoParticleFlow/PFRecHitProducer/interface/PFRecHitTopologySoA.h
  RecoParticleFlow/PFRecHitProducer/interface/alpaka/PFRecHitParamsDeviceCollection.h
  RecoParticleFlow/PFRecHitProducer/interface/alpaka/PFRecHitTopologyDeviceCollection.h
  RecoParticleFlow/PFRecHitProducer/plugins/BuildFile.xml
  RecoParticleFlow/PFRecHitProducer/plugins/LegacyPFRecHitProducer.cc
  RecoParticleFlow/PFRecHitProducer/plugins/alpaka/CaloRecHitSoAProducer.cc
  RecoParticleFlow/PFRecHitProducer/plugins/alpaka/CalorimeterDefinitions.h
  RecoParticleFlow/PFRecHitProducer/plugins/alpaka/PFRecHitECALParamsESProducer.cc
  RecoParticleFlow/PFRecHitProducer/plugins/alpaka/PFRecHitHCALParamsESProducer.cc
  RecoParticleFlow/PFRecHitProducer/plugins/alpaka/PFRecHitProducerKernel.dev.cc
  RecoParticleFlow/PFRecHitProducer/plugins/alpaka/PFRecHitProducerKernel.h
  RecoParticleFlow/PFRecHitProducer/plugins/alpaka/PFRecHitSoAProducer.cc
  RecoParticleFlow/PFRecHitProducer/plugins/alpaka/PFRecHitTopologyESProducer.cc
  RecoParticleFlow/PFRecHitProducer/src/PFRecHitParamsHostCollection.cc
  RecoParticleFlow/PFRecHitProducer/src/PFRecHitParamsRecord.cc
  RecoParticleFlow/PFRecHitProducer/src/PFRecHitTopologyHostCollection.cc
  RecoParticleFlow/PFRecHitProducer/src/PFRecHitTopologyRecord.cc
  RecoParticleFlow/PFRecHitProducer/src/alpaka/PFRecHitParamsDeviceCollection.cc
  RecoParticleFlow/PFRecHitProducer/src/alpaka/PFRecHitTopologyDeviceCollection.cc
  RecoParticleFlow/PFRecHitProducer/test/BuildFile.xml
  RecoParticleFlow/PFRecHitProducer/test/PFRecHitProducerTest.cc
  RecoParticleFlow/PFRecHitProducer/test/drawValidationPlot.C
  RecoParticleFlow/PFRecHitProducer/test/harvestValidationPlot.py
  RecoParticleFlow/PFRecHitProducer/test/pfRecHitProducerAlpakaValidation.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved, pf

#43053 [13_2_X] Add storing of invalid ROC number error (errorType=36) in pixel GPU code
  RecoLocalTracker/SiPixelClusterizer/plugins/SiPixelRawToClusterGPUKernel.cu
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, trk

#43058 Skip EcalRawData collection in ECAL DQM in GPU WFs
  DQM/EcalMonitorTasks/python/EcalMonitorTask_cff.py
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, ecal

#43060 [NanoAOD] Add pthatmax variable
  PhysicsTools/NanoAOD/plugins/NPUTablesProducer.cc
  PhysicsTools/NanoAOD/python/globals_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#43094 Introduce tracking and vertexing HLT validation (w.r.t TPs) for Phase 2
  HLTriggerOffline/Common/python/HLTValidation_cff.py
  Validation/RecoTrack/python/HLTmultiTrackValidator_cff.py
  Validation/RecoTrack/python/associators_cff.py
  Validation/RecoVertex/python/HLTmultiPVvalidator_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#43100 Enable HLT tau filtering based on jet-tags (ParticleNet)
  RecoTauTag/HLTProducers/src/L2TauTagFilter.cc
  RecoTauTag/HLTProducers/src/TauTagFilter.cc
  RecoTauTag/RecoTau/interface/TauWPThreshold.h
  RecoTauTag/RecoTau/plugins/DeepTauId.cc
Labels: hlt-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tau

#43102 argparse migration for PhysicsTools and FWLite
  DataFormats/FWLite/python/__init__.py
  DataFormats/FWLite/scripts/edmLumisInFiles.py
  DataFormats/FWLite/test/chainEvent_python.py
  PhysicsTools/FWLite/scripts/newFWLiteAna.py
  PhysicsTools/NanoAOD/test/compare_branches.py
  PhysicsTools/NanoAOD/test/compare_sizes_json.py
  PhysicsTools/NanoAOD/test/get_timing_from_jobreport.py
  PhysicsTools/NanoAOD/test/inspectNanoFile.py
  PhysicsTools/NanoAODTools/scripts/nano_postproc.py
  PhysicsTools/PythonAnalysis/python/diffProv.py
  PhysicsTools/PythonAnalysis/python/diff_provenance.py
  PhysicsTools/PythonAnalysis/python/read_provenance.py
  PhysicsTools/PythonAnalysis/scripts/edmProvDiff
  PhysicsTools/PythonAnalysis/test/test.py
  PhysicsTools/TagAndProbe/python/cropTnPTrees.py
  PhysicsTools/Utilities/scripts/edmPickEvents.py
  PhysicsTools/Utilities/scripts/pileupDistInMC.py
Labels: analysis-approved, core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#43104 Add missing namespace to isnan calls
  RecoEgamma/PhotonIdentification/src/PhotonMVABasedHaloTagger.cc
  Validation/MtdValidation/plugins/Primary4DVertexValidation.cc
Labels: dqm-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42970 Tracer can output a compact tracing log file
  FWCore/Concurrency/scripts/edmStreamStallGrapher.py
  FWCore/Framework/interface/maker/Worker.h
  FWCore/Framework/src/EventProcessor.cc
  FWCore/ServiceRegistry/interface/ActivityRegistry.h
  FWCore/ServiceRegistry/src/ActivityRegistry.cc
  FWCore/Services/bin/edmTracerCompactLogViewer.py
  FWCore/Services/plugins/StallMonitor.cc
  FWCore/Services/plugins/Tracer.cc
  FWCore/Services/plugins/monitor_file_utilities.cc
  FWCore/Services/plugins/monitor_file_utilities.h
  FWCore/Services/plugins/tracer_setupFile.cc
  FWCore/Services/plugins/tracer_setupFile.h
  FWCore/TestProcessor/src/TestProcessor.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43092 Make empty std::optionals to work as ESProducer return value
  FWCore/Framework/interface/produce_helpers.h
  FWCore/Framework/src/exceptionContext.cc
  FWCore/Framework/test/callback_t.cppunit.cc
  FWCore/Framework/test/esproducer_t.cppunit.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43136 [DB]Clang format change needed by LLVM17
  CondCore/BeamSpotPlugins/interface/BeamSpotPayloadInspectorHelper.h
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, tracking

#43114 Addition of CaloSummary (CICADA) to L1 Emulation Sequences and Ntuples
  L1Trigger/L1TCaloLayer1/plugins/L1TCaloSummary.cc
  L1Trigger/L1TCalorimeter/python/simDigis_cff.py
  L1Trigger/L1TNtuples/interface/L1AnalysisCaloSummaryDataFormat.h
  L1Trigger/L1TNtuples/plugins/L1CaloSummaryTreeProducer.cc
  L1Trigger/L1TNtuples/python/L1NtupleEMU_cff.py
  L1Trigger/L1TNtuples/python/l1CaloSummaryTree_cfi.py
  L1Trigger/L1TNtuples/src/classes.h
  L1Trigger/L1TNtuples/src/classes_def.xml
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43079 Fix mismatch error in CTPPSRPAlignmentInfoAnalyzer
  CondTools/CTPPS/src/CTPPSRPAlignmentInfoAnalyzer.cc
Labels: fully-signed, tests-rejected, db-approved, orp-approved, code-checks-approved

#43142 Simulation: adapt Phase2SteppingAction to the Tracker-CALO direct boundary for back-scattering detection
  SimG4Core/Application/src/Phase2SteppingAction.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43122 Enable HLT tau filtering based on jet-tags (ParticleNet) [13_2_X]
  RecoTauTag/HLTProducers/src/L2TauTagFilter.cc
  RecoTauTag/HLTProducers/src/TauTagFilter.cc
  RecoTauTag/RecoTau/interface/TauWPThreshold.h
  RecoTauTag/RecoTau/plugins/DeepTauId.cc
Labels: hlt-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, tau

#43147 Fix unittest by making a local copy of test configuration
  CalibPPS/ESProducers/test/script_test_many_writeTotemDAQMapping.py
  CondTools/CTPPS/test/script-ctpps-write-many-XML-to-SQLite.py
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#43134 [FW][LLVM17] Clang tidy warnings performance-copy/move fixed
  DataFormats/Provenance/interface/Hash.h
  FWCore/MessageLogger/interface/ErrorObj.icc
  FWCore/MessageLogger/interface/MessageLogger.h
  FWCore/MessageLogger/interface/MessageSender.h
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43128 SiStrip Paylod Inspector: add `SiStripFedCablingComparisonTrackerMapBase` template and concrete implementations
  CondCore/SiStripPlugins/plugins/SiStripFedCabling_PayloadInspector.cc
  CondCore/SiStripPlugins/test/testSiStripFedCabling.sh
  CondCore/SiStripPlugins/test/testSiStripPayloadInspector.cpp
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, trk

#43127 Use ratio timing for CPU algorithm in ECAL CPU vs. GPU validation
  RecoLocalCalo/EcalRecProducers/python/ecalMultiFitUncalibRecHit_cff.py
  RecoLocalCalo/EcalRecProducers/python/ecalMultiFitUncalibRecHit_cfi.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved, ecal

#43120 Online DQM fed client: use rawDataRepacker for HCAL FEDIntegrity Task in HI runs
  DQM/Integration/python/clients/fed_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#42039 Custom_Muon_POG_NanoAOD
  Configuration/PyReleaseValidation/python/relval_steps.py
  PhysicsTools/NanoAOD/plugins/MuonSpecialVariables.cc
  PhysicsTools/NanoAOD/plugins/pfTracksProducer.cc
  PhysicsTools/NanoAOD/python/custom_muon_cff.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved, xpog-approved
