Repository cms-sw/cmssw, pull requests merged in 2023-03, with the labels that each got.

#40875 Fix Tracks related Pixel quantities at HLT DQM (backport)
  DQM/Integration/python/clients/hlt_dqm_sourceclient-live_cfg.py
  DQM/SiPixelPhase1Track/python/SiPixelPhase1TrackResiduals_cfi.py
  DQMOffline/Trigger/python/SiPixel_OfflineMonitoring_TrackCluster_cff.py
  DQMOffline/Trigger/python/SiPixel_OfflineMonitoring_cff.py
  RecoPixelVertexing/PixelLowPtUtilities/plugins/SiPixelClusterShapeCacheProducer.cc
Labels: dqm-approved, reconstruction-approved, fully-signed, tests-rejected, orp-approved, urgent, backport-ok, tracking, trk

#40896 [13.0.X] Disentangle `TrackerTrackHitFilter` from phase-0 Strip conditions and activate common alignment track refitter sequence for phase-2
  Alignment/OfflineValidation/test/testPrimaryVertexRelatedValidations_cfg.py
  Alignment/OfflineValidation/test/test_all_Phase2_cfg.py
  RecoTracker/FinalTrackSelectors/plugins/TrackerTrackHitFilter.cc
  RecoTracker/FinalTrackSelectors/python/TrackerTrackHitFilter_cff.py
Labels: alca-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, tracking, trk

#40897 [12.6.X] Disentangle TrackerTrackHitFilter from phase-0 Strip conditions
  RecoTracker/FinalTrackSelectors/plugins/TrackerTrackHitFilter.cc
  RecoTracker/FinalTrackSelectors/python/TrackerTrackHitFilter_cff.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, tracking

#40898 [12.5.X] Disentangle TrackerTrackHitFilter from phase-0 Strip conditions
  RecoTracker/FinalTrackSelectors/plugins/TrackerTrackHitFilter.cc
  RecoTracker/FinalTrackSelectors/python/TrackerTrackHitFilter_cff.py
Labels: reconstruction-approved, fully-signed, tests-rejected, orp-approved, backport, tracking

#40870 [13_0_X] Fix `cudaMemcpyAsync` for `localCoordToHostAsync`
  CUDADataFormats/TrackingRecHit/interface/TrackingRecHitSoADevice.h
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, backport-ok, heterogeneous-approved, tracking

#40908 [13_0_X] Fix generator interface to Geant4
  SimG4Core/Generators/src/Generator.cc
Labels: simulation-approved, fully-signed, tests-rejected, orp-approved

#40918 avoid duplicates in `HLTPMMassFilter` plugin
  HLTrigger/Egamma/plugins/HLTPMMassFilter.cc
  HLTrigger/Egamma/plugins/HLTPMMassFilter.h
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, egamma-pog-approved

#40849 Allow access to const edm::{Event,EventSetup} from device::{Event,EventSetup}
  HeterogeneousCore/AlpakaCore/interface/alpaka/Event.h
  HeterogeneousCore/AlpakaCore/interface/alpaka/EventSetup.h
  HeterogeneousCore/AlpakaTest/interface/TestHostOnlyHelperClass.h
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaStreamSynchronizingProducer.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestHelperClass.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestHelperClass.h
  HeterogeneousCore/AlpakaTest/src/TestHostOnlyHelperClass.cc
  HeterogeneousCore/AlpakaTest/test/testAlpakaModules_cfg.py
Labels: fully-signed, tests-approved, orp-approved, urgent, code-checks-approved, heterogeneous-approved

#40928 use unique names for outputs of HLT-DQM unit tests
  DQM/HLTEvF/test/testTriggerMonitors_dqm_cfg.py
  DQM/HLTEvF/test/testTriggerMonitors_harvesting_cfg.py
  DQMOffline/Trigger/test/harvesting_cfg.py
  DQMOffline/Trigger/test/testHLTFiltersDQMonitor_cfg.py
Labels: dqm-approved, hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#40931 Modify EMTF unpacker to support new reduced DAQ window for 2023 data taking
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFBlockGEM.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFBlockME.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFBlockRPC.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFBlockSP.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40926 Run3-sim139 Replace cout with G4cout in SimG4CMS/Muon
  SimG4CMS/Muon/src/SimHitPrinter.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40913 MTD validation: ETL digi per LGAD multiplicity monitoring
  Validation/MtdValidation/plugins/EtlDigiHitsValidation.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40935 [13_0_X] Allow access to const edm::{Event,EventSetup} from device::{Event,EventSetup}
  HeterogeneousCore/AlpakaCore/interface/alpaka/Event.h
  HeterogeneousCore/AlpakaCore/interface/alpaka/EventSetup.h
  HeterogeneousCore/AlpakaTest/interface/TestHostOnlyHelperClass.h
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaStreamSynchronizingProducer.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestHelperClass.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestHelperClass.h
  HeterogeneousCore/AlpakaTest/src/TestHostOnlyHelperClass.cc
  HeterogeneousCore/AlpakaTest/test/testAlpakaModules_cfg.py
Labels: fully-signed, tests-approved, orp-approved, urgent, backport-ok, heterogeneous-approved

#40919 avoid duplicates in `HLTPMMassFilter` plugin [`13_0_X`]
  HLTrigger/Egamma/plugins/HLTPMMassFilter.cc
  HLTrigger/Egamma/plugins/HLTPMMassFilter.h
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#40933 Activating v7 of HF ShowerLibrary
  Geometry/HcalSimData/python/HFParameters_cff.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40907 [12_4_X] Fix generator interface to Geant4
  Configuration/ProcessModifiers/python/run3_primaries_for_geant4_cff.py
  SimG4Core/Application/python/g4SimHits_cfi.py
  SimG4Core/Generators/interface/Generator.h
  SimG4Core/Generators/src/Generator.cc
Labels: operations-approved, simulation-approved, fully-signed, tests-approved, orp-approved

#40944 prevent `heap-buffer-overflow` in `SiPixelDynamicInefficiencyPUParametrization`
  CondCore/SiPixelPlugins/plugins/SiPixelDynamicInefficiency_PayloadInspector.cc
Labels: fully-signed, tests-rejected, db-approved, bug-fix, orp-approved, code-checks-approved, trk

#40096 [L1T] Phase-2, Update Track Selection Emulation to Match Firmware
  DataFormats/L1TrackTrigger/interface/TTTrack_TrackWord.h
  L1Trigger/DemonstratorTools/test/gtt/createFirmwareInputFiles_cfg.py
  L1Trigger/L1TTrackMatch/plugins/L1TrackSelectionProducer.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#40929 use unique names for outputs of HLT-DQM unit tests [`13_0_X`]
  DQM/HLTEvF/test/testTriggerMonitors_dqm_cfg.py
  DQM/HLTEvF/test/testTriggerMonitors_harvesting_cfg.py
  DQMOffline/Trigger/test/harvesting_cfg.py
  DQMOffline/Trigger/test/testHLTFiltersDQMonitor_cfg.py
Labels: dqm-approved, hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#40948 [13_0_X] Modify EMTF unpacker to support new reduced DAQ window for 2023 data taking
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFBlockGEM.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFBlockME.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFBlockRPC.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFBlockSP.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, backport-ok

#40950 `SiPixelPayloadInspectorHelper`: fix warning: '<anonymous>' may be used uninitialized
  CondCore/SiPixelPlugins/interface/SiPixelPayloadInspectorHelper.h
  CondCore/SiPixelPlugins/plugins/SiPixelDynamicInefficiency_PayloadInspector.cc
Labels: fully-signed, tests-rejected, db-approved, bug-fix, orp-approved, code-checks-approved, trk

#40906 Clean unused dependencies from BuildFiles
  CUDADataFormats/TrackingRecHit/BuildFile.xml
  CalibTracker/SiStripCommon/plugins/BuildFile.xml
  DPGAnalysis/SiStripTools/BuildFile.xml
  DQM/SiStripMonitorApproximateCluster/plugins/BuildFile.xml
  Geometry/HGCalTBCommonData/BuildFile.xml
  Geometry/HGCalTBCommonData/plugins/BuildFile.xml
  Geometry/HGCalTBCommonData/test/BuildFile.xml
  HeterogeneousTest/CUDAOpaque/plugins/BuildFile.xml
  HeterogeneousTest/ROCmOpaque/plugins/BuildFile.xml
  IOMC/RandomEngine/BuildFile.xml
  IOMC/RandomEngine/plugins/BuildFile.xml
  JetMETCorrections/Modules/BuildFile.xml
  JetMETCorrections/Modules/plugins/BuildFile.xml
  JetMETCorrections/Objects/BuildFile.xml
  L1Trigger/Phase2L1ParticleFlow/BuildFile.xml
  L1Trigger/Phase2L1ParticleFlow/plugins/BuildFile.xml
  L1Trigger/Phase2L1Taus/plugins/BuildFile.xml
  RecoJets/JetAnalyzers/BuildFile.xml
  SimG4CMS/ShowerLibraryProducer/BuildFile.xml
Labels: analysis-pending, alca-approved, core-approved, dqm-approved, geometry-approved, l1-approved, reconstruction-approved, simulation-approved, pending-signatures, tests-rejected, orp-approved, upgrade-approved, code-checks-approved, heterogeneous-approved, tracking, trk

#40954 13_1: 2023 FastSim Workflow
  Configuration/PyReleaseValidation/python/relval_2017.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#40953 DAQ: fix noninitialized pointer in input source
  EventFilter/Utilities/src/FedRawDataInputSource.cc
Labels: daq-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40909 eg hlt filter threshold reduction to 15 \GeV from 20\GeV
  PhysicsTools/NanoAOD/python/triggerObjects_cff.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#40963 fix segmentation violation in `SiStripHitEffFromCalibTree` and `SiStripHitResolFromCalibTree` in ASAN_X
  CalibTracker/SiStripHitEfficiency/plugins/SiStripHitEffFromCalibTree.cc
  CalibTracker/SiStripHitResolution/plugins/SiStripHitResolFromCalibTree.cc
  CalibTracker/SiStripHitResolution/test/SiStripHitResolutionFromCalibTree_cfg.py
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, trk

#40903 Run3-alca237 Modify most of the scripts needed to get IsoTrack calibration of HCAL
  Calibration/HcalCalibAlgos/macros/CalibCorr.C
  Calibration/HcalCalibAlgos/macros/CalibMonitor.C
  Calibration/HcalCalibAlgos/macros/CalibPlotProperties.C
  Calibration/HcalCalibAlgos/macros/CalibRho.C
  Calibration/HcalCalibAlgos/macros/CalibTree.C
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40959 Phase2-hgx336A Correct the nonzzero cassette shift scenario for HGCal
  Geometry/HGCalCommonData/data/cellShift.txt
  Geometry/HGCalCommonData/data/hgcalConsData/v17Shift/hgcalConsData.xml
  Geometry/HGCalCommonData/src/HGCalDDDConstants.cc
  Geometry/HGCalCommonData/test/HGCalWaferIDTester.cc
  Geometry/HGCalCommonData/test/python/testHGCalWaferID_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#40920 [13_0_X] HcalDQM: Fix HFRaddam event type for online DQM deployment
  DQM/HcalCommon/interface/Constants.h
  DQM/HcalCommon/interface/ValueQuantity.h
  DQM/HcalCommon/src/Utilities.cc
  DQM/HcalTasks/interface/HFRaddamTask.h
  DQM/HcalTasks/interface/UMNioTask.h
  DQM/HcalTasks/plugins/HFRaddamTask.cc
  DQM/HcalTasks/plugins/LEDTask.cc
  DQM/HcalTasks/plugins/UMNioTask.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok, hcal

#40978 [ALCA-DB] Various fixes/improvements for unit test
  CondFormats/Common/test/BuildFile.xml
  CondFormats/Common/test/ProduceDropBoxMetadata.py
  CondFormats/Common/test/createTestDBObjects.sh
  CondFormats/Common/test/testDropboxMetadataDB.cpp
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#40975 [DB] Various fixes/improvements for unit test
  CondTools/Ecal/test/EcalADCToGeV_update_test.sh
  CondTools/Ecal/test/EcalDAQ_O2O_test.sh
  CondTools/Ecal/test/EcalDCS_O2O_test.sh
  CondTools/Ecal/test/EcalIntercalibConstants_O2O_test.sh
  CondTools/Ecal/test/EcalIntercalib_update_test.sh
  CondTools/Ecal/test/EcalLaser_O2O_test.sh
  CondTools/Ecal/test/EcalTPGBadStripStatus_O2O_test.sh
  CondTools/Ecal/test/EcalTPGCrystalStatus_O2O_test.sh
  CondTools/Ecal/test/EcalTPGFineGrainEBGroup_O2O_test.sh
  CondTools/Ecal/test/EcalTPGFineGrainEBIdMap_O2O_test.sh
  CondTools/Ecal/test/EcalTPGFineGrainStripEE_O2O_test.sh
  CondTools/Ecal/test/EcalTPGFineGrainTowerEE_O2O_test.sh
  CondTools/Ecal/test/EcalTPGLinearizationConst_O2O_test.sh
  CondTools/Ecal/test/EcalTPGLutGroup_O2O_test.sh
  CondTools/Ecal/test/EcalTPGLutIdMap_O2O_test.sh
  CondTools/Ecal/test/EcalTPGPedestals_O2O_test.sh
  CondTools/Ecal/test/EcalTPGPhysicsConst_O2O_test.sh
  CondTools/Ecal/test/EcalTPGSlidingWindow_O2O_test.sh
  CondTools/Ecal/test/EcalTPGSpike_O2O_test.sh
  CondTools/Ecal/test/EcalTPGTowerStatus_O2O_test.sh
  CondTools/Ecal/test/EcalTPGWeightGroup_O2O_test.sh
  CondTools/Ecal/test/EcalTPGWeightIdMap_O2O_test.sh
  CondTools/Ecal/test/EcalTPG_updateOddWeightGroup_test.sh
  CondTools/Ecal/test/EcalTPG_updateOddWeightIdMap_test.sh
  CondTools/Ecal/test/EcalTPG_updateWeightGroup_test.sh
  CondTools/Ecal/test/EcalTPG_updateWeightIdMap_test.sh
  CondTools/RunInfo/test/RunInfoStart_O2O_test.sh
  CondTools/RunInfo/test/test_lhcInfo.sh
  CondTools/RunInfo/test/test_runinfo.sh
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#40972 [ALCA] Various fixes/improvements for unit test
  Alignment/OfflineValidation/scripts/submitPVValidationJobs.py
  Alignment/OfflineValidation/test/BuildFile.xml
  Alignment/OfflineValidation/test/testAlignmentOfflineValidation.cpp
  Alignment/OfflineValidation/test/testingScripts/testPVValidation.sh
  Alignment/OfflineValidation/test/testingScripts/test_unitDMR.sh
  Alignment/OfflineValidation/test/testingScripts/test_unitDiMuonVertex.sh
  Alignment/OfflineValidation/test/testingScripts/test_unitEoP.sh
  Alignment/OfflineValidation/test/testingScripts/test_unitGCP.sh
  Alignment/OfflineValidation/test/testingScripts/test_unitJetHT.sh
  Alignment/OfflineValidation/test/testingScripts/test_unitMiscellanea.sh
  Alignment/OfflineValidation/test/testingScripts/test_unitPV.sh
  Alignment/OfflineValidation/test/testingScripts/test_unitPrimaryVertex.sh
  Alignment/OfflineValidation/test/testingScripts/test_unitSplitV.sh
  Alignment/OfflineValidation/test/testingScripts/test_unitSubmitPVrbr.sh
  Alignment/OfflineValidation/test/testingScripts/test_unitSubmitPVsplit.sh
  Alignment/OfflineValidation/test/testingScripts/validateAlignments.sh
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#40968 Run3-alca237X Add the possibility of providing depth-dependent correction factors from muon studies to IsoTrack analysis in HCAL calibration
  Calibration/HcalCalibAlgos/macros/CalibCorr.C
  Calibration/HcalCalibAlgos/macros/CalibMonitor.C
  Calibration/HcalCalibAlgos/macros/CalibPlotProperties.C
  Calibration/HcalCalibAlgos/macros/CalibTree.C
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40977 [CORE] Various fixes/improvements for unit test
  IOPool/Common/test/BuildFile.xml
  IOPool/Common/test/TestEdmFastMerge.sh
  IOPool/Common/test/TestIOPoolCommon.cpp
  IOPool/Common/test/run_TestEdmConfigDump.sh
  IOPool/Common/test/test_overlap_lumi_fast_copy.sh
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40819 Fixed low energy GFLASH
  SimG4Core/Application/src/LowEnergyFastSimModel.cc
Labels: simulation-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#40984 Use anonymous namespace in CandIsolatorFromDeposits
  PhysicsTools/IsolationAlgos/plugins/CandIsolatorFromDeposits.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40988 [Core] Unit tests fixes/improvements
  FWCore/Framework/test/BuildFile.xml
  FWCore/Framework/test/TestDriver.cpp
  FWCore/Framework/test/run_PrintDependencies.sh
  FWCore/Framework/test/run_XMLException.sh
  FWCore/Framework/test/run_cmsRun.sh
  FWCore/Framework/test/run_deadlock_test.sh
  FWCore/Framework/test/run_es_refer_tests.sh
  FWCore/Framework/test/run_esproducerlooper.sh
  FWCore/Framework/test/run_global_stream_one.sh
  FWCore/Framework/test/run_module_delete_tests.sh
  FWCore/Framework/test/run_replace_tests.sh
  FWCore/Framework/test/run_statemachine.sh
  FWCore/Framework/test/run_tbbTasks.sh
  FWCore/Framework/test/run_testOptions.sh
  FWCore/Framework/test/run_test_1_thread_es_prefetching.sh
  FWCore/Framework/test/run_trigbit.sh
  FWCore/Framework/test/run_trigmask.sh
  FWCore/Framework/test/run_unscheduled.sh
  FWCore/Framework/test/test_InputTag_cache_failure.sh
  FWCore/Framework/test/test_deleteEarly.sh
  FWCore/Framework/test/test_earlyTerminationSignal.sh
  FWCore/Framework/test/test_emptyPath.sh
  FWCore/Framework/test/test_non_event_ordering.sh
  FWCore/Framework/test/transition_test.sh
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40994 Add plugin to use existing HLTDoubleSinglet module with two PFJets and one RecoEcalCandidate
  HLTrigger/HLTfilters/plugins/plugins.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40998 [RECONSTRUCTION-UPGRADE] Various fixes/improvements for unit test
  RecoMTD/DetLayers/test/runTest.sh
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#40997 [CORE] Various fixes/improvements for unit test
  FWCore/MessageService/test/BuildFile.xml
  FWCore/MessageService/test/standAlone_1.sh
  FWCore/MessageService/test/testLoggerInCmsRun.cpp
  FWCore/MessageService/test/testLoggerInCmsRun.sh
  FWCore/MessageService/test/testRunner.cpp
  FWCore/MessageService/test/u1.sh
  FWCore/MessageService/test/u10.sh
  FWCore/MessageService/test/u11.sh
  FWCore/MessageService/test/u12.sh
  FWCore/MessageService/test/u13.sh
  FWCore/MessageService/test/u13d.sh
  FWCore/MessageService/test/u14.sh
  FWCore/MessageService/test/u15.sh
  FWCore/MessageService/test/u16.sh
  FWCore/MessageService/test/u17.sh
  FWCore/MessageService/test/u18.sh
  FWCore/MessageService/test/u19.sh
  FWCore/MessageService/test/u19d.sh
  FWCore/MessageService/test/u1d.sh
  FWCore/MessageService/test/u2.sh
  FWCore/MessageService/test/u20.sh
  FWCore/MessageService/test/u21.sh
  FWCore/MessageService/test/u22.sh
  FWCore/MessageService/test/u23.sh
  FWCore/MessageService/test/u23t.sh
  FWCore/MessageService/test/u24.sh
  FWCore/MessageService/test/u25.sh
  FWCore/MessageService/test/u27.sh
  FWCore/MessageService/test/u28.sh
  FWCore/MessageService/test/u3.sh
  FWCore/MessageService/test/u30.sh
  FWCore/MessageService/test/u31.sh
  FWCore/MessageService/test/u33.sh
  FWCore/MessageService/test/u33d.sh
  FWCore/MessageService/test/u34.sh
  FWCore/MessageService/test/u35.sh
  FWCore/MessageService/test/u36.sh
  FWCore/MessageService/test/u4.sh
  FWCore/MessageService/test/u5.sh
  FWCore/MessageService/test/u5t.sh
  FWCore/MessageService/test/u6.sh
  FWCore/MessageService/test/u7.sh
  FWCore/MessageService/test/u8.sh
  FWCore/MessageService/test/u9.sh
  FWCore/MessageService/test/unitTestsGroup_1.cpp
  FWCore/MessageService/test/unitTestsGroup_2.cpp
  FWCore/MessageService/test/unitTestsGroup_3.cpp
  FWCore/MessageService/test/unitTestsGroup_4.cpp
  FWCore/MessageService/test/unitTestsGroup_5.cpp
  FWCore/MessageService/test/unitTestsGroup_d.cpp
  FWCore/MessageService/test/unitTestsLimits.cpp
  FWCore/MessageService/test/unitTestsStatistics.cpp
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40958 Migrate consumesMany to GetterOfProducts in DQMServices
  DQMServices/Components/plugins/MEtoEDMConverter.cc
  DQMServices/FileIO/plugins/DQMFileSaverBase.cc
  DQMServices/FileIO/plugins/DQMFileSaverBase.h
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40973 [DQM] Various fixes/improvements for unit test
  DQM/Integration/test/runtest.sh
  Validation/RecoTrack/test/BuildFile.xml
  Validation/RecoTrack/test/TestDriver.cpp
  Validation/RecoTrack/test/test_makeTrackValidationPlots.sh
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#40999 [GEOMETRY-UPGRADE] Various fixes/improvements for unit test
  Geometry/MTDCommonData/test/runTest.sh
  Geometry/MTDGeometryBuilder/test/runTest.sh
  Geometry/MTDNumberingBuilder/test/runTest.sh
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#40983 Allow to Skim Unused Input Prototracks
  RecoTracker/TkSeedGenerator/plugins/SeedGeneratorFromProtoTracksEDProducer.cc
  RecoTracker/TkSeedGenerator/plugins/SeedGeneratorFromProtoTracksEDProducer.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#40985 mkFit: technical fixes for standalone build only
  RecoTracker/MkFitCMS/standalone/Makefile
  RecoTracker/MkFitCore/standalone/xeon_scripts/init-env.sh
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#40821 [13_0_X] Fixed low energy GFLASH
  SimG4Core/Application/src/LowEnergyFastSimModel.cc
Labels: simulation-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#40987 Phase2-hgx336B Make the first step to provide an option for guard ring in HGCal simulation
  Geometry/ForwardCommonData/data/hfnose/v1/hfnose.xml
  Geometry/ForwardCommonData/data/hfnose/v3/hfnose.xml
  Geometry/ForwardCommonData/data/hfnose/v4/hfnose.xml
  Geometry/ForwardCommonData/data/hfnoseCell/v1/hfnose.xml
  Geometry/ForwardCommonData/data/hfnoseCons/v1/hfnoseCons.xml
  Geometry/ForwardCommonData/data/hfnoseCons/v1m/hfnoseCons.xml
  Geometry/ForwardCommonData/data/hfnoseWafer/v1/hfnose.xml
  Geometry/HGCalCommonData/data/hgcal/v16/hgcal.xml
  Geometry/HGCalCommonData/data/hgcal/v17/hgcal.xml
  Geometry/HGCalCommonData/data/hgcalCons/v16/hgcalCons.xml
  Geometry/HGCalCommonData/data/hgcalCons/v17/hgcalCons.xml
  Geometry/HGCalCommonData/data/hgcalCons/v17n/hgcalCons.xml
  Geometry/HGCalCommonData/data/hgcalEE/v15/hgcal.xml
  Geometry/HGCalCommonData/interface/HGCalParameters.h
  Geometry/HGCalCommonData/src/HGCalParametersFromDD.cc
  Geometry/HGCalCommonData/test/HGCalParameterTester.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#41015 [HETEROGENEOUS] Various fixes/improvements for unit test
  HeterogeneousCore/CUDATest/test/runtests.sh
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#41014 [ALCA] Various fixes/improvements for unit test
  Alignment/OfflineValidation/test/unit_test.json
  Alignment/OfflineValidation/test/unit_test.yaml
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#41009 Improved initialisation of Geant4e propagator
  TrackPropagation/Geant4e/src/Geant4ePropagator.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#40993 extended existing HLT tau-jet correlation module
  RecoTauTag/HLTProducers/src/HLTPFDiJetCorrCheckerWithDiTau.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40886 Run3-gex155A Additional files to make payloads for 2023 Geometry
  CondTools/Geometry/test/writehelpers/createExtended2023DD4hepPayloads.sh
  CondTools/Geometry/test/writehelpers/createExtended2023Payloads.sh
  CondTools/Geometry/test/writehelpers/geometryExtended2023DD4hep_writer.py
  CondTools/Geometry/test/writehelpers/geometryExtended2023DD4hep_xmlwriter.py
  CondTools/Geometry/test/writehelpers/geometryExtended2023_writer.py
  CondTools/Geometry/test/writehelpers/geometryExtended2023_xmlwriter.py
  CondTools/Geometry/test/writehelpers/splitExtended2023Database.sh
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#41013 [SIMULATION] Various fixes/improvements for unit test
  TauAnalysis/MCEmbeddingTools/test/BuildFile.xml
  TauAnalysis/MCEmbeddingTools/test/TestDriver.cpp
  TauAnalysis/MCEmbeddingTools/test/runtests.sh
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41012 [CORE] Various fixes/improvements for unit test
  FWCore/PythonParameterSet/test/makepset_t.cppunit.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#40991 Add plugin to use existing HLTDoubleSinglet module with two PFJets and one RecoEcalCandidate [13_0_X]
  HLTrigger/HLTfilters/plugins/plugins.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#40990 extended existing HLT tau-jet correlation module [13_0_X]
  RecoTauTag/HLTProducers/src/HLTPFDiJetCorrCheckerWithDiTau.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#40900 updated tau HLT paths for disappearing tracks skim
  Configuration/Skimming/python/PDWG_EXODisappTrk_cff.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, code-checks-approved

#40964 Add vertex of problem tau in HepMCValidationHelper
  Validation/EventGenerator/src/HepMCValidationHelper.cc
Labels: generators-pending, dqm-approved, pending-signatures, tests-approved, orp-approved, code-checks-approved

#41029 [ALCA] Various fixes/improvements for unit test
  Alignment/CommonAlignment/test/BuildFile.xml
  Alignment/MillePedeAlignmentAlgorithm/test/BuildFile.xml
  Alignment/MillePedeAlignmentAlgorithm/test/TestDriver.cpp
  Alignment/MillePedeAlignmentAlgorithm/test/test_payload_sanity.sh
  Alignment/MillePedeAlignmentAlgorithm/test/test_pede.sh
  Alignment/TrackerAlignment/test/BuildFile.xml
  CalibCalorimetry/EcalLaserSorting/test/BuildFile.xml
  CalibCalorimetry/EcalLaserSorting/test/RunStreamer.sh
  CalibCalorimetry/EcalLaserSorting/test/RunThis_t.cpp
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#41023 Removed deprecated EventSetup signals from ActivityRegistry
  FWCore/ServiceRegistry/interface/ActivityRegistry.h
  FWCore/Services/plugins/Timing.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41030 [HLT] Various fixes/improvements for unit test
  HLTrigger/HLTanalyzers/test/BuildFile.xml
  HLTrigger/HLTanalyzers/test/TestHLTrigReport.cpp
  HLTrigger/HLTanalyzers/test/test_hltrigreport.sh
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41021 Add Correlator Layer-2 e/g objects to the Phase-2 event content (13.0.X)
  L1Trigger/Configuration/python/L1Trigger_EventContent_cff.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41031 [GEOMETRY-UPGRADE] Various fixes/improvements for unit test
  Geometry/CMSCommonData/test/BuildFile.xml
  Geometry/CMSCommonData/test/TestIntegration.cpp
  Geometry/CMSCommonData/test/run_DOMCount.sh
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#41033 [DQM] Various fixes/improvements for unit test
  DQMServices/FwkIO/test/BuildFile.xml
  DQMServices/FwkIO/test/TestIntegration.cpp
  DQMServices/FwkIO/test/run_tests.sh
  DQMServices/StreamerIO/test/BuildFile.xml
  DQMServices/StreamerIO/test/RunStreamer.sh
  DQMServices/StreamerIO/test/RunThis_t.cpp
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41024 [CORE] Various fixes/improvements for unit test
  FWCore/Concurrency/test/BuildFile.xml
  FWCore/Concurrency/test/TestFWCoreConcurrencyDriver.cpp
  FWCore/Concurrency/test/run_streamGrapher_test.sh
  FWCore/Concurrency/test/run_threadSafeOutputFileStream_test.sh
  FWCore/Integration/test/BuildFile.xml
  FWCore/Integration/test/CatchCmsExceptiontest.sh
  FWCore/Integration/test/CatchStdExceptiontest.sh
  FWCore/Integration/test/TestIntegration.cpp
  FWCore/Integration/test/ViewTest.sh
  FWCore/Integration/test/delayedreader_throw_test.sh
  FWCore/Integration/test/detsetvector_t.sh
  FWCore/Integration/test/eventHistoryTest.sh
  FWCore/Integration/test/eventSetupTest.sh
  FWCore/Integration/test/hierarchy_example.sh
  FWCore/Integration/test/inputExtSourceTest.sh
  FWCore/Integration/test/inputSourceTest.sh
  FWCore/Integration/test/newdetsetvector_t.sh
  FWCore/Integration/test/parentlessTest.sh
  FWCore/Integration/test/refTest.sh
  FWCore/Integration/test/run_ParameterSet.sh
  FWCore/Integration/test/run_ParentageWithStreamerIO.sh
  FWCore/Integration/test/run_RefAlias.sh
  FWCore/Integration/test/run_RefMerge.sh
  FWCore/Integration/test/run_RunMerge.sh
  FWCore/Integration/test/run_RunMerge2.sh
  FWCore/Integration/test/run_SeriesOfProcesses.sh
  FWCore/Integration/test/run_SubProcess.sh
  FWCore/Integration/test/run_TestDropOnInput.sh
  FWCore/Integration/test/run_TestEDAlias.sh
  FWCore/Integration/test/run_TestExistingDictionary.sh
  FWCore/Integration/test/run_TestFrameworkExceptionHandling.sh
  FWCore/Integration/test/run_TestGetBy.sh
  FWCore/Integration/test/run_TestOutput.sh
  FWCore/Integration/test/run_TestProcessAccelerator.sh
  FWCore/Integration/test/run_TestProcessBlock.sh
  FWCore/Integration/test/run_TestSwitchProducer.sh
  FWCore/Integration/test/run_ThinningTests.sh
  FWCore/Integration/test/run_all_t.sh
  FWCore/Integration/test/run_getProductAtEnd.sh
  FWCore/Integration/test/run_unscheduledFailOnOutput.sh
  FWCore/Integration/test/service_example.sh
  FWCore/Integration/test/testTables.sh
  FWCore/Integration/test/test_finalpath.sh
  FWCore/Integration/test/transRefTest.sh
  FWCore/Integration/test/waiting_thread_test.sh
  FWCore/TFWLiteSelector/test/BuildFile.xml
  FWCore/TFWLiteSelector/test/run_all_t.sh
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41007 [13_0_X] Update L1 menu tag for data RelVals and 2023/2024, Phase2 MC GTs
  Configuration/AlCa/python/autoCond.py
  Configuration/AlCa/python/autoCondModifiers.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, requires-external, backport-ok

#40970 Run3-alca240 Add one more isolated bunch AlCaReco to the AlCa matrix
  Configuration/AlCa/python/autoAlca.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#40952 Run3-alca238 Modify the output content for 2 isolated bunch AlCaReco modules of HCAL
  Calibration/HcalAlCaRecoProducers/python/ALCARECOHcalCalIsolatedBunchFilter_Output_cff.py
  Calibration/HcalAlCaRecoProducers/python/ALCARECOHcalCalIsolatedBunchSelector_Output_cff.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#41032 [CORE] Various fixes/improvements for unit test
  FWCore/Services/test/BuildFile.xml
  FWCore/Services/test/TestFWCoreServicesDriver.cpp
  FWCore/Services/test/test_cpu.sh
  FWCore/Services/test/test_resource.sh
  FWCore/Services/test/test_resourceInformationService.sh
  FWCore/Services/test/test_sitelocalconfig.sh
  FWCore/Services/test/test_zombiekiller.sh
  FWCore/SharedMemory/test/test_monitor_thread_signals.sh
  IOPool/Common/test/BuildFile.xml
  IOPool/Common/test/TestEdmFastMerge.sh
  IOPool/Common/test/run_TestEdmConfigDump.sh
  IOPool/Common/test/test_overlap_lumi_fast_copy.sh
  IOPool/Input/test/BuildFile.xml
  IOPool/Input/test/TestPoolInput.cpp
  IOPool/Input/test/TestPoolInput.sh
  IOPool/Output/test/BuildFile.xml
  IOPool/Output/test/TestPoolOutput.cpp
  IOPool/Output/test/TestPoolOutput.sh
  IOPool/SecondaryInput/test/BuildFile.xml
  IOPool/SecondaryInput/test/TestSecondaryInput.cpp
  IOPool/SecondaryInput/test/TestSecondaryInput.sh
  IOPool/Streamer/test/BuildFile.xml
  IOPool/Streamer/test/RunLZMA.sh
  IOPool/Streamer/test/RunSimple_NewStreamer.sh
  IOPool/Streamer/test/RunThis_t.cpp
  IOPool/Streamer/test/RunUNCOMPRESSED.sh
  IOPool/Streamer/test/RunZLIB.sh
  IOPool/Streamer/test/RunZSTD.sh
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40890 Update muon shower data formats for 2023 running
  DataFormats/L1TMuon/interface/RegionalMuonShower.h
  DataFormats/L1TMuon/src/RegionalMuonShower.cc
  DataFormats/L1TMuon/src/classes_def.xml
  DataFormats/L1Trigger/interface/MuonShower.h
  DataFormats/L1Trigger/src/MuonShower.cc
  DataFormats/L1Trigger/src/classes_def.xml
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41026 MTD geometry: update tests to scenario D95
  Geometry/MTDCommonData/test/testMTDinDD4hep.py
  Geometry/MTDCommonData/test/testMTDinDDD.py
  Geometry/MTDGeometryBuilder/test/DD4hep_TestBTLPixelTopology.cc
  Geometry/MTDGeometryBuilder/test/dd4hep_mtd_cfg.py
  Geometry/MTDGeometryBuilder/test/mtd_cfg.py
  Geometry/MTDNumberingBuilder/test/dd4hep_mtd_cfg.py
  Geometry/MTDNumberingBuilder/test/mtd_cfg.py
  RecoMTD/DetLayers/test/mtd_cfg.py
  Validation/Geometry/test/runP_Mtd_cfg.py
  Validation/MtdValidation/test/mtdHarvesting_cfg.py
  Validation/MtdValidation/test/mtdValidation_cfg.py
Labels: dqm-approved, geometry-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, requires-external, code-checks-approved

#41019 Fix implicit host-to-device copy for ES data products with labels in Alpaka ESProducers
  HeterogeneousCore/AlpakaCore/interface/alpaka/ESProducer.h
  HeterogeneousCore/AlpakaCore/src/alpaka/ESProducer.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaESProducerA.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaESProducerB.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaESProducerC.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaESProducerD.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaGlobalProducer.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaStreamProducer.cc
  HeterogeneousCore/AlpakaTest/test/testAlpakaModules_cfg.py
Labels: fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, heterogeneous-approved

#40901 updated tau HLT paths for disappearing tracks skim
  Configuration/Skimming/python/PDWG_EXODisappTrk_cff.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, backport-ok

#41010 Phase2 Tracker Digitizer updated to have the possibility to used planer pixel algorithm in 3D pixel
  SimTracker/SiPhase2Digitizer/plugins/Phase2TrackerDigitizer.cc
  SimTracker/SiPhase2Digitizer/plugins/Phase2TrackerDigitizer.h
  SimTracker/SiPhase2Digitizer/plugins/Pixel3DDigitizerAlgorithm.cc
  SimTracker/SiPhase2Digitizer/plugins/Pixel3DDigitizerAlgorithm.h
  SimTracker/SiPhase2Digitizer/python/phase2TrackerDigitizer_cfi.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, trk

#41022 Cleanup and preparation for sim extentions
  SimG4CMS/Calo/src/CaloSD.cc
  SimG4CMS/Forward/src/TimingSD.cc
  SimG4CMS/Muon/src/MuonSensitiveDetector.cc
  SimG4CMS/Tracker/src/TkAccumulatingSensitiveDetector.cc
  SimG4Core/Application/interface/EventAction.h
  SimG4Core/Application/interface/SteppingAction.h
  SimG4Core/Application/interface/TrackingAction.h
  SimG4Core/Application/python/g4SimHits_cfi.py
  SimG4Core/Application/src/EventAction.cc
  SimG4Core/Application/src/RunManagerMT.cc
  SimG4Core/Application/src/RunManagerMTWorker.cc
  SimG4Core/Application/src/StackingAction.cc
  SimG4Core/Application/src/SteppingAction.cc
  SimG4Core/Application/src/TrackingAction.cc
  SimG4Core/CustomPhysics/plugins/DBremWatcher.cc
  SimG4Core/CustomPhysics/plugins/DBremWatcher.h
  SimG4Core/Notification/interface/CMSSteppingVerbose.h
  SimG4Core/Notification/interface/TrackInformation.h
  SimG4Core/Notification/src/CMSSteppingVerbose.cc
  SimG4Core/Notification/src/NewTrackAction.cc
  SimG4Core/SaveSimTrackAction/src/SaveSimTrack.cc
  SimG4Core/Watcher/interface/SimWatcher.h
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41044 fix unit test: avoid creating data files in src tree
  CondFormats/JetMETObjects/test/BuildFile.xml
  CondFormats/JetMETObjects/test/JetCorrectorParameters_t.cpp
  CondFormats/JetMETObjects/test/run_TestCondFormatsJetMETObjectsJetCorrectorParameters.sh
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#41041 Update of HG PCL tracker alignment max movement thresholds
  CondFormats/PCLConfig/python/ThresholdsHG_cff.py
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#40986 Customize to produce & save ECAL-only caloparticles
  Validation/RecoParticleFlow/python/customize_pfanalysis.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, ecal

#40912 HLT Phase2 Removing Duplicate Modules
  HLTrigger/Configuration/python/HLT_75e33/modules/L1EGammaClusterEmuProducer_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/caloTowerForTrk_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/csc2DRecHits_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/cscSegments_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/dt1DRecHits_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/dt4DSegments_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/ecalDetIdToBeRecovered_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/ecalDigis_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/ecalMultiFitUncalibRecHit_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/ecalPreshowerDigis_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/ecalPreshowerRecHit_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/ecalRecHit_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/gemRecHits_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/gemSegments_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hbhereco_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hcalDigis_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hfprereco_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltL1TkElectronsEllipticMatchCrystal_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltL1TkElectronsEllipticMatchHGC_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltL1TkPhotonsCrystal_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltL1TkPhotonsHGC_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/horeco_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/l1EGammaEEProducer_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/l1NNTauProducerPuppi_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/me0RecHits_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/me0Segments_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/particleFlowClusterECAL_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/particleFlowRecHitHBHE_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/particleFlowRecHitPS_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/pfClustersFromCombinedCaloHCal_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/pfClustersFromL1EGClusters_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/rpcRecHits_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/simCaloStage2Layer1Digis_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/simCscTriggerPrimitiveDigis_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/simDtTriggerPrimitiveDigis_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/simEmtfDigis_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/simGmtCaloSumDigis_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/simGmtStage2Digis_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/simKBmtfDigis_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/simKBmtfStubs_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/simMuonGEMPadDigiClusters_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/simMuonGEMPadDigis_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/simOmtfDigis_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/simTwinMuxDigis_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/towerMaker_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/l1tReconstructionPath_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/psets/TrackAssociatorParameters_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/RawToDigiTask_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/csclocalrecoTask_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/dtlocalrecoTask_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/ecalDigisTask_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/ecalRecHitNoTPTask_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/ecalUncalibRecHitTask_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/gemLocalRecoTask_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/hcalGlobalRecoTask_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/hltEcalDigisTask_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/l1tReconstructionTask_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/me0LocalRecoTask_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/muonlocalrecoTask_cfi.py
  HLTrigger/Configuration/python/HLT_75e33_cff.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41047 Make the beam spot configuration of the Phase-2 HLT menu more consistent
  HLTrigger/Configuration/python/HLT_75e33/modules/firstStepPrimaryVerticesUnsorted_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/highPtTripletStepTrackCutClassifier_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/highPtTripletStepTrackingRegions_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/highPtTripletStepTracks_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltDeepInclusiveVertexFinderPF_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltDeepSecondaryVertexTagInfosPFPuppiModEta2p4_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltDeepSecondaryVertexTagInfosPFPuppi_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltDeepTrackVertexArbitratorPF_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltIter0Phase2L3FromL1TkMuonCtfWithMaterialTracks_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltIter0Phase2L3FromL1TkMuonTrackCutClassifier_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltIter2Phase2L3FromL1TkMuonCtfWithMaterialTracks_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltIter2Phase2L3FromL1TkMuonTrackCutClassifier_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltL2MuonsFromL1TkMuon_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltL2OfflineMuonSeeds_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltL3MuonsPhase2L3OI_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltOnlineBeamSpot_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2L3FromL1TkMuonPixelTracksTrackingRegions_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2L3FromL1TkMuonPixelVertices_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2L3GlbMuon_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2L3MuonHighPtTripletStepTrackCutClassifier_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2L3MuonHighPtTripletStepTrackingRegions_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2L3MuonHighPtTripletStepTracks_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2L3MuonInitialStepTrackCutClassifier_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2L3MuonInitialStepTracks_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2L3MuonPixelTracksTrackingRegions_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2L3MuonPixelVertices_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2L3MuonsNoID_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2L3MuonsTrkIsoRegionalNewdR0p3dRVeto0p005dz0p25dr0p20ChisqInfPtMin0p0Cut0p07_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2L3MuonsTrkIsoRegionalNewdR0p3dRVeto0p005dz0p25dr0p20ChisqInfPtMin0p0Cut0p4_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2L3OIMuCtfWithMaterialTracks_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2L3OIMuonTrackCutClassifier_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltScalersRawToDigi_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/initialStepTrackCutClassifier_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/initialStepTracks_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/offlineBeamSpot_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/particleFlowSuperClusterECAL_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/particleFlowSuperClusterHGCalFromTICLL1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/particleFlowSuperClusterHGCalFromTICLUnseeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/particleFlowSuperClusterHGCal_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/pixelTracksTrackingRegions_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/pixelVertices_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/unsortedOfflinePrimaryVertices_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/HLTBeamSpotTask_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/HLTHgcalTiclPFClusteringForEgammaL1SeededTask_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/HLTHgcalTiclPFClusteringForEgammaUnseededTask_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/HLTParticleFlowTask_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/HLTTrackingV61Task_cfi.py
  HLTrigger/Configuration/python/HLT_75e33_cff.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41008 Payload Inspector plugin for Jet Resolution and SF
  CondCore/JetMETPlugins/plugins/BuildFile.xml
  CondCore/JetMETPlugins/plugins/JetResolution_PayloadInspector.cc
  CondCore/JetMETPlugins/test/BuildFile.xml
  CondCore/JetMETPlugins/test/testJetResolutionPayloadInspector.cpp
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#41052 Added EventSetup module timing to Timing Service
  FWCore/Services/plugins/Timing.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41056 Run3-alca141 Correct and extend the macros for HCAL isoTrac calibration and these are now used in geeting response correction factors for 2023 data
  Calibration/HcalCalibAlgos/macros/CalibCorr.C
  Calibration/HcalCalibAlgos/macros/CalibMonitor.C
  Calibration/HcalCalibAlgos/macros/CalibPlotProperties.C
  Calibration/HcalCalibAlgos/macros/CalibSort.C
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41050 Clean-up in `CalibTracker/SiStripHitEfficiency` and add trend of efficiency vs lumi, PU and BX in `SiStripHitEfficiencyHarvester`
  CalibTracker/SiStripHitEfficiency/interface/SiStripHitEfficiencyHelpers.h
  CalibTracker/SiStripHitEfficiency/plugins/HitEff.cc
  CalibTracker/SiStripHitEfficiency/plugins/HitEff.h
  CalibTracker/SiStripHitEfficiency/plugins/SiStripHitEffFromCalibTree.cc
  CalibTracker/SiStripHitEfficiency/plugins/SiStripHitEfficiencyHarvester.cc
  CalibTracker/SiStripHitEfficiency/test/testHitEffWorker.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#41042 Add logic to produce "two loose showers in different sectors" in the MuonShowerProducer
  L1Trigger/L1TMuon/plugins/L1TMuonShowerProducer.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40960 DAQ: New input source (13_1_X)
  EventFilter/Utilities/BuildFile.xml
  EventFilter/Utilities/interface/DAQSource.h
  EventFilter/Utilities/interface/DAQSourceModels.h
  EventFilter/Utilities/interface/DAQSourceModelsFRD.h
  EventFilter/Utilities/interface/DAQSourceModelsScouting.h
  EventFilter/Utilities/interface/EvFDaqDirector.h
  EventFilter/Utilities/interface/FastMonitoringService.h
  EventFilter/Utilities/interface/FedRawDataInputSource.h
  EventFilter/Utilities/plugins/DumpMuonScouting.cc
  EventFilter/Utilities/plugins/FRDOutputModule.cc
  EventFilter/Utilities/plugins/FRDOutputModule.h
  EventFilter/Utilities/plugins/FRDStreamSource.cc
  EventFilter/Utilities/plugins/RawEventFileWriterForBU.cc
  EventFilter/Utilities/plugins/modules.cc
  EventFilter/Utilities/scripts/scoutingToRaw.py
  EventFilter/Utilities/src/DAQSource.cc
  EventFilter/Utilities/src/DAQSourceModelsFRD.cc
  EventFilter/Utilities/src/DAQSourceModelsScouting.cc
  EventFilter/Utilities/src/EvFDaqDirector.cc
  EventFilter/Utilities/src/FastMonitoringService.cc
  EventFilter/Utilities/src/FedRawDataInputSource.cc
  EventFilter/Utilities/test/FU_scouting.py
  EventFilter/Utilities/test/FU_scouting_2.py
  EventFilter/Utilities/test/RunBUFU.sh
  EventFilter/Utilities/test/dumpMuonScouting.py
  EventFilter/Utilities/test/unittest_FU_daqsource.py
  FWCore/Sources/interface/DaqProvenanceHelper.h
  FWCore/Sources/src/DaqProvenanceHelper.cc
  IOPool/Streamer/interface/FRDFileHeader.h
Labels: core-approved, daq-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40961 Handle invalid entries in <data-access> of site-local-config.xml
  FWCore/Catalog/src/FileLocator.cc
  FWCore/Catalog/src/InputFileCatalog.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40969 Run3-alca239 Add a file which is used for phi-symmetry calibration using local runs of HCAL
  Calibration/HcalAlCaRecoProducers/python/ALCARECOHcalCalPedestalLocal_cff.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41038 [13_0_X] Fix implicit host-to-device copy for ES data products with labels in Alpaka ESProducers
  HeterogeneousCore/AlpakaCore/interface/alpaka/ESProducer.h
  HeterogeneousCore/AlpakaCore/src/alpaka/ESProducer.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaESProducerA.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaESProducerB.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaESProducerC.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaESProducerD.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaGlobalProducer.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaStreamProducer.cc
  HeterogeneousCore/AlpakaTest/test/testAlpakaModules_cfg.py
Labels: fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, heterogeneous-approved

#40879 Fix propagation of an earlier exception in Transformer
  FWCore/Framework/src/ProductResolvers.cc
  FWCore/Framework/src/ProductResolvers.h
  FWCore/Integration/test/BuildFile.xml
  FWCore/Integration/test/transformTest_cfg.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41068 [ALCA] Cleanup USE_UNITTEST_DIR which is now enabled at project level
  Alignment/MillePedeAlignmentAlgorithm/test/BuildFile.xml
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#41070 [CORE] Cleanup USE_UNITTEST_DIR which is now enabled at project level
  FWCore/Framework/test/BuildFile.xml
  FWCore/Integration/test/BuildFile.xml
  FWCore/Services/test/BuildFile.xml
  IOPool/Common/test/BuildFile.xml
  IOPool/Input/test/BuildFile.xml
  IOPool/Output/test/BuildFile.xml
  IOPool/SecondaryInput/test/BuildFile.xml
  IOPool/Streamer/test/BuildFile.xml
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40962 Make sure variables are preserved in ReggeGribovPartonMCInterface
  GeneratorInterface/ReggeGribovPartonMCInterface/src/epos-hnb.f
Labels: generators-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41065 More refined error treatment in trend of efficiency vs lumi, PU and BX in `SiStripHitEfficiencyHarvester`
  CalibTracker/SiStripHitEfficiency/interface/SiStripHitEfficiencyHelpers.h
  CalibTracker/SiStripHitEfficiency/plugins/SiStripHitEffFromCalibTree.cc
  CalibTracker/SiStripHitEfficiency/plugins/SiStripHitEfficiencyHarvester.cc
Labels: alca-approved, fully-signed, tests-rejected, orp-approved, code-checks-approved, trk

#41037 remove duplicates from `PhysicsTools/TensorFlow/test/BuildFile.xml`
  PhysicsTools/TensorFlow/test/BuildFile.xml
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41028 Layer1 unpacker and DQM modified for HCALFB
  DQM/L1TMonitor/src/L1TStage2CaloLayer1.cc
  EventFilter/L1TRawToDigi/interface/Block.h
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/CaloLayer1Unpacker.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/CaloLayer1Unpacker.h
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/UCTCTP7RawData5BX_HCALFB.h
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/UCTCTP7RawData_HCALFB.h
  EventFilter/L1TRawToDigi/src/Block.cc
Labels: dqm-approved, l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, hcal, l1t

#41069 [DQM-GEOMETRY] Cleanup USE_UNITTEST_DIR which is now enabled at project level
  Validation/Geometry/test/BuildFile.xml
Labels: dqm-approved, geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41072 Include EcalSimComponentShapeRcd in all MC GTs and remove TkAl Rcds from Phase2 MC GT
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41074 Added new cms::errors::ExternalFailure exception
  FWCore/Integration/plugins/TestInterProcessProd.cc
  FWCore/Integration/plugins/TestInterProcessRandomProd.cc
  FWCore/SharedMemory/interface/ControllerChannel.h
  FWCore/SharedMemory/test/test_channels_startupTimeout.cc
  FWCore/Utilities/interface/EDMException.h
  FWCore/Utilities/src/EDMException.cc
Labels: core-approved, fully-signed, tests-rejected, orp-approved, code-checks-approved

#41051 Adapt latest PF settings in Phase2 Egamma HLT
  HLTrigger/Configuration/python/HLT_75e33/modules/hltEgammaHcalPFClusterIsoL1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltEgammaHcalPFClusterIsoUnseeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltParticleFlowClusterHBHEForEgamma_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltParticleFlowClusterHBHE_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltParticleFlowClusterHCALForEgamma_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltParticleFlowClusterHCAL_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltParticleFlowRecHitHBHE_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/particleFlowBlock_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/particleFlowRecHitHBHE_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/pfClusterRefsForJetsHCAL_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/HLTPFHcalClusteringForEgammaTask_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/pfClusterRefsForJets_stepTask_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/pfClusteringHBHEHFTask_cfi.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41054 Added TypeMatch to be used with GetterOfProducts
  FWCore/Framework/interface/TypeMatch.h
  FWCore/Framework/test/BuildFile.xml
  FWCore/Framework/test/stubs/ToyAnalyzers.cc
  FWCore/Framework/test/stubs/ToyIntProducers.cc
  FWCore/Framework/test/test_get_by_type_cfg.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41076 Remove bTagging tags from Run3 data GTs
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41025 Add additional track variables to the Run 3 scouting electron collection for low pT electrons.
  DataFormats/Scouting/interface/Run3ScoutingElectron.h
  DataFormats/Scouting/src/classes_def.xml
  HLTrigger/Egamma/plugins/HLTScoutingEgammaProducer.cc
Labels: core-approved, hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41064 Make jets in TauGenJetProducer from taus which are not decayed
  PhysicsTools/JetMCAlgos/plugins/TauGenJetProducer.cc
  PhysicsTools/JetMCAlgos/plugins/TauGenJetProducer.h
Labels: analysis-pending, pending-signatures, tests-approved, orp-approved, code-checks-approved

#41063 Added CMS SIM event manager
  SimG4Core/Application/interface/CMSSimEventManager.h
  SimG4Core/Application/interface/RunManagerMTWorker.h
  SimG4Core/Application/python/g4SimHits_cfi.py
  SimG4Core/Application/src/CMSSimEventManager.cc
  SimG4Core/Application/src/RunManagerMTWorker.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41081 Phase2-gex156 Provide a dump geometry of GEM detectors to enable testing the missing components
  Geometry/MuonCommonData/python/testGEMAllXML_cfi.py
  Geometry/MuonCommonData/test/python/dumpGEMAll_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41004 L1 matching module for VBF+dijet HLT
  RecoTauTag/HLTProducers/interface/L1TJetsMatching.h
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41035 (13_0_X) Add additional track variables to the Run 3 scouting electron collection for low pT electrons.
  DataFormats/Scouting/interface/Run3ScoutingElectron.h
  DataFormats/Scouting/src/classes_def.xml
  HLTrigger/Egamma/plugins/HLTScoutingEgammaProducer.cc
Labels: core-approved, hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#41080 fix ASAN Segmentation failure & heap-buffer-overflow in unit test `Alignment/OfflineValidation/GCPall`
  Alignment/OfflineValidation/plugins/TrackerGeometryCompare.cc
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, trk

#41082 [unit test] make sure copied directory has write permissions
  Alignment/TrackerAlignment/test/pixelPositions.sh
Labels: alca-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved, trk

#41002 Layer1 unpacker and DQM modified for HCALFB [13_0_X]
  DQM/L1TMonitor/src/L1TStage2CaloLayer1.cc
  EventFilter/L1TRawToDigi/interface/Block.h
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/CaloLayer1Unpacker.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/CaloLayer1Unpacker.h
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/UCTCTP7RawData5BX_HCALFB.h
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/UCTCTP7RawData_HCALFB.h
  EventFilter/L1TRawToDigi/src/Block.cc
Labels: dqm-approved, l1-approved, fully-signed, tests-approved, orp-approved, backport-ok, hcal, l1t

#40666 Added skimming filter for disappearing muons
  Configuration/Skimming/interface/DisappearingMuonsSkimming.h
  Configuration/Skimming/python/PDWG_EXODisappMuon_cff.py
  Configuration/Skimming/python/Skims_PDWG_cff.py
  Configuration/Skimming/src/DisappearingMuonsSkimming.cc
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, code-checks-approved

#41096 DAQ: fix file descriptor close in DAQSource (13_1_X)
  EventFilter/Utilities/src/DAQSource.cc
  EventFilter/Utilities/test/unittest_FU_daqsource.py
Labels: daq-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41092 Add tau decay-mode to genTauJets as status
  PhysicsTools/JetMCAlgos/plugins/TauGenJetProducer.cc
  PhysicsTools/JetMCUtils/src/JetMCTag.cc
Labels: analysis-pending, pending-signatures, tests-approved, orp-approved, code-checks-approved

#41098 Run3-gex155B Modify the mode of several script files in CondTools/Geometry/test/writehelpers so that the execution of creating geometry payload script can run smoothly
  CondTools/Geometry/test/writehelpers/createCTPPSExtended2016Payloads.sh
  CondTools/Geometry/test/writehelpers/createExtended2023DD4hepPayloads.sh
  CondTools/Geometry/test/writehelpers/createExtended2023Payloads.sh
  CondTools/Geometry/test/writehelpers/createPPS2021RECOPayloads.sh
  CondTools/Geometry/test/writehelpers/splitExtended2023Database.sh
  CondTools/Geometry/test/writehelpers/splitPPS2021Database.sh
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#41094 Move leftover PoolDBOutputService modules to use kSharedResource
  CalibTracker/SiStripESProducers/plugins/DBWriter/DummyCondDBWriter.h
  CommonTools/ConditionDBWriter/interface/ConditionDBWriter.h
  CondTools/Hcal/interface/BoostIODBWriter.h
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, trk

#41083 MTD Validation: Update Btl Local Reco Monitoring
  Validation/MtdValidation/plugins/BtlLocalRecoValidation.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41027 MTD digitization: add position dependence to BTL amplitudes
  SimFastTiming/FastTimingCommon/BuildFile.xml
  SimFastTiming/FastTimingCommon/interface/BTLDeviceSim.h
  SimFastTiming/FastTimingCommon/interface/BTLElectronicsSim.h
  SimFastTiming/FastTimingCommon/python/mtdDigitizer_cfi.py
  SimFastTiming/FastTimingCommon/src/BTLDeviceSim.cc
  SimFastTiming/FastTimingCommon/src/BTLElectronicsSim.cc
  Validation/MtdValidation/plugins/BtlLocalRecoValidation.cc
Labels: dqm-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#41000 L1 matching module for VBF+dijet HLT (13_0_X)
  RecoTauTag/HLTProducers/interface/L1TJetsMatching.h
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#41073 Have ExternalGeneratorFilter throw an generator specific exception
  GeneratorInterface/Core/plugins/ExternalGeneratorFilter.cc
Labels: generators-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40937 Added skimming filter for disappearing muons [13_0_X Backport]
  Configuration/Skimming/interface/DisappearingMuonsSkimming.h
  Configuration/Skimming/python/PDWG_EXODisappMuon_cff.py
  Configuration/Skimming/python/Skims_PDWG_cff.py
  Configuration/Skimming/src/DisappearingMuonsSkimming.cc
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, backport-ok

#41090 Unit test: Do not generate files in top level directory
  GeneratorInterface/Pythia8Interface/test/test_Pythia8ConcurrentGeneratorFilter_WZ_TuneCP5_13TeV-pythia8.sh
Labels: generators-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41103 [Geom] Avoid unit tests failures in DBG IBs
  DetectorDescription/Core/src/DDCompactViewImpl.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41102 [Core] Fix unit tests for DBG IBs
  FWCore/MessageService/test/u1.cpp
  FWCore/MessageService/test/u1.sh
  FWCore/MessageService/test/u19.sh
  FWCore/MessageService/test/u33.sh
  FWCore/MessageService/test/unitTestsGroup_6.cpp
  FWCore/MessageService/test/unitTestsMultithread_1.cpp
  FWCore/MessageService/test/unitTestsMultithread_2.cpp
  FWCore/MessageService/test/unitTestsMultithread_3.cpp
  FWCore/MessageService/test/unitTestsStandAlone.cpp
  FWCore/MessageService/test/unit_test_outputs/DBG/u19_debugs.log
  FWCore/MessageService/test/unit_test_outputs/DBG/u1_debugs.log
  FWCore/MessageService/test/unit_test_outputs/DBG/u33_all.log
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41067 [PDMV-UPGRADE] Cleanup USE_UNITTEST_DIR which is now enabled at project level
  Configuration/PyReleaseValidation/test/BuildFile.xml
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#41075 Apply Tracker Alignment to phase2 geometries
  Configuration/AlCa/python/autoCondPhase2.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D86Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D88Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D91Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D92Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D93Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D94Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D95Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D96Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D97Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D98Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D99Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D86Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D88Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D91Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D92Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D93Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D94Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D95Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D96Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D97Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D98Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D99Reco_cff.py
  Configuration/Geometry/python/dict2026Geometry.py
Labels: alca-approved, geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#41061 [HLT validation and DQM] update for new EXO displaced photon + HT path for 2023 (13_1_X)
  DQMOffline/Trigger/python/PhotonMonitor_cff.py
  HLTriggerOffline/Exotica/python/analyses/hltExoticaHighPtPhoton_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41110 Add CMSHepEmTrackingManager
  SimG4Core/PhysicsLists/interface/CMSEmStandardPhysics.h
  SimG4Core/PhysicsLists/interface/CMSHepEmTrackingManager.h
  SimG4Core/PhysicsLists/src/CMSEmStandardPhysics.cc
  SimG4Core/PhysicsLists/src/CMSHepEmTrackingManager.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41109 HcalDigiDump.cc Migrate consumesMany to GetterOfProducts
  DataFormats/HcalDigi/test/HcalDigiDump.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41085 Have ExternalGeneratorFilter throw an generator specific exception [13_0]
  GeneratorInterface/Core/plugins/ExternalGeneratorFilter.cc
Labels: generators-approved, fully-signed, tests-approved, orp-approved, backport-ok

#41100 Reduce non necessary sqrt computations in RecoTauTag/HLTProducers
  RecoTauTag/HLTProducers/interface/CaloTowerCreatorForTauHLT.h
  RecoTauTag/HLTProducers/interface/CaloTowerFromL1TCreatorForTauHLT.h
  RecoTauTag/HLTProducers/interface/L1HLTJetsMatching.h
  RecoTauTag/HLTProducers/interface/L1HLTTauMatching.h
  RecoTauTag/HLTProducers/interface/L1THLTTauMatching.h
  RecoTauTag/HLTProducers/interface/L1TJetsMatching.h
  RecoTauTag/HLTProducers/interface/PFJetsMaxInvMassModule.h
  RecoTauTag/HLTProducers/src/CaloTowerCreatorForTauHLT.cc
  RecoTauTag/HLTProducers/src/CaloTowerFromL1TCreatorForTauHLT.cc
  RecoTauTag/HLTProducers/src/HLTPFDiJetCorrCheckerWithDiTau.cc
  RecoTauTag/HLTProducers/src/L1HLTJetsMatching.cc
  RecoTauTag/HLTProducers/src/L1HLTTauMatching.cc
  RecoTauTag/HLTProducers/src/L1THLTTauMatching.cc
  RecoTauTag/HLTProducers/src/L2TauJetsMerger.cc
  RecoTauTag/HLTProducers/src/PFJetsMaxInvMassModule.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40980 run3-alca240X Addition of one more Isolated bunch AlCaReco - backport of #40970 to version 13_0_X
  Configuration/AlCa/python/autoAlca.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok

#41104 Build genTauJets for undecayed taus and add tau decay-mode to genTauJets [13_0_X]
  PhysicsTools/JetMCAlgos/plugins/TauGenJetProducer.cc
  PhysicsTools/JetMCAlgos/plugins/TauGenJetProducer.h
  PhysicsTools/JetMCUtils/src/JetMCTag.cc
Labels: analysis-pending, pending-signatures, tests-approved, orp-approved

#41062 [HLT validation and DQM] update for new EXO displaced photon + HT path for 2023 (13_0_X)
  DQMOffline/Trigger/python/PhotonMonitor_cff.py
  HLTriggerOffline/Exotica/python/analyses/hltExoticaHighPtPhoton_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#41112 [13_0_X] [Nano] Fix JetTable genJetIdx matching
  PhysicsTools/NanoAOD/python/jetMC_cff.py
Labels: fully-signed, tests-approved, orp-approved, backport-ok, xpog-approved

#41121 Remove the const_cast from SiStripFedCablingFakeESSource
  CalibTracker/SiStripESProducers/plugins/fake/SiStripFedCablingFakeESSource.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#41115 eg hlt filter threshold reduction to 15 \GeV from 20\GeV
  PhysicsTools/NanoAOD/python/triggerObjects_cff.py
Labels: fully-signed, tests-approved, orp-approved, backport-ok, xpog-approved

#41095 HI 2023 relval wfs + realistic 2022 vtx smearing
  Configuration/AlCa/python/autoCond.py
  Configuration/Generator/python/Hydjet_Quenched_B12_5362GeV_cfi.py
  Configuration/Generator/python/Hydjet_Quenched_MinBias_5362GeV_cfi.py
  Configuration/Generator/python/PhotonJet_Pt_10_5362GeV_TuneCP5_cfi.py
  Configuration/Generator/python/Pyquen2015Settings_cff.py
  Configuration/Generator/python/PyquenDefaultSettings_cff.py
  Configuration/Generator/python/Pyquen_DiJet_pt80to120_5362GeV_cfi.py
  Configuration/Generator/python/Pyquen_GammaJet_pt20_5362GeV_cfi.py
  Configuration/Generator/python/Pyquen_ZeemumuJets_pt10_5362GeV_cfi.py
  Configuration/Generator/python/QCD_Pt_80_120_5362GeV_TuneCP5_cfi.py
  Configuration/Generator/python/ZEE_5362GeV_TuneCP5_cfi.py
  Configuration/Generator/python/ZMM_5362GeV_TuneCP5_cfi.py
  Configuration/PyReleaseValidation/python/relval_pileup.py
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: alca-approved, generators-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#41119 Include Phase2 TkAl Rcds in Phase2 MC GT with T21 tags
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41126 [13_0_X] Combined backport of developments in `CalibTracker/SiStripHitEfficiency`
  CalibTracker/SiStripHitEfficiency/interface/SiStripHitEfficiencyHelpers.h
  CalibTracker/SiStripHitEfficiency/plugins/HitEff.cc
  CalibTracker/SiStripHitEfficiency/plugins/HitEff.h
  CalibTracker/SiStripHitEfficiency/plugins/SiStripHitEffFromCalibTree.cc
  CalibTracker/SiStripHitEfficiency/plugins/SiStripHitEfficiencyHarvester.cc
  CalibTracker/SiStripHitEfficiency/test/testHitEffWorker.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok, trk

#41142 [CORE] Various fixes/improvements for unit test
  DataFormats/FWLite/test/BuildFile.xml
  DataFormats/FWLite/test/MergeTest.sh
  DataFormats/FWLite/test/RefTest.sh
  DataFormats/FWLite/test/RefTest_a.sh
  DataFormats/FWLite/test/TestRunnerDataFormatsFWLite.cpp
  DataFormats/FWLite/test/VIPTest.sh
  DataFormats/FWLite/test/run_all_t.sh
  FWCore/FWLite/test/BuildFile.xml
  FWCore/FWLite/test/RefTest.sh
  FWCore/FWLite/test/TestRunnerFWCoreFWLite.cpp
  FWCore/FWLite/test/run_all_t.sh
  FWCore/Modules/test/BuildFile.xml
  FWCore/Modules/test/FWCoreModulesTest.sh
  FWCore/Modules/test/TestIntegration.cpp
  FWCore/ParameterSet/test/BuildFile.xml
  FWCore/ParameterSet/test/TestFWCoreParameterSetDriver.cpp
  FWCore/PythonFramework/test/BuildFile.xml
  FWCore/PythonFramework/test/TestFWCorePythonFrameworkDriver.cpp
  FWCore/PythonFramework/test/runPythonTests.sh
  FWCore/Utilities/test/BuildFile.xml
  FWCore/Utilities/test/TestHelper_t.cpp
  FWCore/Utilities/test/testAdler32.sh
  IOMC/RandomEngine/test/BuildFile.xml
  IOMC/RandomEngine/test/TestIOMCRandomEngineService.cpp
  IOMC/RandomEngine/test/testRandomService.sh
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41140 [ALCA-DB] Various fixes/improvements for unit test
  CondCore/ESSources/test/BuildFile.xml
  CondCore/ESSources/test/TestConcurrentIOVsCondCore.sh
  CondCore/ESSources/test/TestCondCoreESSources.cpp
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#41139 [GEOMETRY] Various fixes/improvements for unit test
  DetectorDescription/Parser/test/BuildFile.xml
  DetectorDescription/Parser/test/TestIntegration.cpp
  DetectorDescription/Parser/test/run_testDoc.sh
  DetectorDescription/RegressionTest/test/BuildFile.xml
  DetectorDescription/RegressionTest/test/TestIntegration.cpp
  DetectorDescription/RegressionTest/test/run_DDErrorReport.sh
  DetectorDescription/RegressionTest/test/testdddreport.sh
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41136 [ALCA] Various fixes/improvements for unit test
  CalibCalorimetry/HcalAlgos/test/BuildFile.xml
  CalibCalorimetry/HcalAlgos/test/HcalPulseContainmentTest.sh
  CalibCalorimetry/HcalAlgos/test/TestDriver.cpp
  CalibTracker/SiStripCommon/test/BuildFile.xml
  CalibTracker/SiStripCommon/test/testCalibTrackerSiStripCommon.cpp
  CalibTracker/SiStripCommon/test/test_all.sh
  CalibTracker/SiStripESProducers/test/BuildFile.xml
  CalibTracker/SiStripESProducers/test/python/testBadComponents_byHand.sh
  CalibTracker/SiStripESProducers/test/testCalibTrackerSiStripESProducersByHand.cpp
  Calibration/LumiAlCaRecoProducers/test/BuildFile.xml
  Calibration/LumiAlCaRecoProducers/test/test.cpp
  Calibration/LumiAlCaRecoProducers/test/test.sh
  Calibration/TkAlCaRecoProducers/test/BuildFile.xml
  Calibration/TkAlCaRecoProducers/test/testAlCaHarvesting.sh
  Calibration/TkAlCaRecoProducers/test/testBeamSpotWorkflow.sh
  Calibration/TkAlCaRecoProducers/test/testCalibrationTkAlCaRecoProducers.cpp
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#41132 [SIMULATION] Various fixes/improvements for unit test
  SimGeneral/PreMixingModule/test/BuildFile.xml
  SimGeneral/PreMixingModule/test/run_testPremixPileupAdjustment.sh
  SimGeneral/PreMixingModule/test/runtestSimGeneralPreMixingModule.cpp
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41143 [OPERATIONS] Various fixes/improvements for unit test
  Configuration/DataProcessing/test/BuildFile.xml
  Configuration/DataProcessing/test/TestCfg.cpp
  Configuration/DataProcessing/test/run_CfgTest.sh
Labels: operations-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41137 [ANALYSIS] Various fixes/improvements for unit test
  PhysicsTools/CondLiteIO/test/BuildFile.xml
  PhysicsTools/CondLiteIO/test/TestRunnerPhysicsToolsCondLiteIO.cpp
  PhysicsTools/CondLiteIO/test/writeReadTest.sh
  PhysicsTools/UtilAlgos/test/BuildFile.xml
  PhysicsTools/UtilAlgos/test/runtestUtilAlgos.cpp
  PhysicsTools/UtilAlgos/test/runtests.sh
  TopQuarkAnalysis/TopEventProducers/test/BuildFile.xml
  TopQuarkAnalysis/TopEventProducers/test/runtestTqafTopEventProducers.cpp
  TopQuarkAnalysis/TopEventProducers/test/runtests.sh
  TopQuarkAnalysis/TopEventSelection/test/BuildFile.xml
  TopQuarkAnalysis/TopEventSelection/test/runtestTqafTopEventSelection.cpp
  TopQuarkAnalysis/TopEventSelection/test/runtests.sh
  TopQuarkAnalysis/TopHitFit/test/BuildFile.xml
  TopQuarkAnalysis/TopHitFit/test/runtestTqafTopHitFit.cpp
  TopQuarkAnalysis/TopHitFit/test/runtests.sh
  TopQuarkAnalysis/TopJetCombination/test/BuildFile.xml
  TopQuarkAnalysis/TopJetCombination/test/runtestTqafTopJetCombination.cpp
  TopQuarkAnalysis/TopJetCombination/test/runtests.sh
  TopQuarkAnalysis/TopKinFitter/test/BuildFile.xml
  TopQuarkAnalysis/TopKinFitter/test/runtestTqafTopKinFitter.cpp
  TopQuarkAnalysis/TopKinFitter/test/runtests.sh
  TopQuarkAnalysis/TopSkimming/test/BuildFile.xml
  TopQuarkAnalysis/TopSkimming/test/runtestTqafTopSkimming.cpp
  TopQuarkAnalysis/TopSkimming/test/runtests.sh
  TopQuarkAnalysis/TopTools/test/BuildFile.xml
  TopQuarkAnalysis/TopTools/test/runtestTqafTopTools.cpp
  TopQuarkAnalysis/TopTools/test/runtests.sh
Labels: analysis-pending, pending-signatures, tests-approved, orp-approved, code-checks-approved

#41130 adapt Tracker Alignment Payload Inspector for phase-2
  CondCore/AlignmentPlugins/interface/AlignmentPayloadInspectorHelper.h
  CondCore/AlignmentPlugins/plugins/TrackerAlignment_PayloadInspector.cc
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#41077 reverting back to run3_data_relval for making rereco GT default in relval [13_1_X]
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: alca-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#41131 MTD digitization: Add calculation of per SiPM time resolution to BtlElectronicsSim
  SimFastTiming/FastTimingCommon/interface/BTLDeviceSim.h
  SimFastTiming/FastTimingCommon/interface/BTLElectronicsSim.h
  SimFastTiming/FastTimingCommon/python/mtdDigitizer_cfi.py
  SimFastTiming/FastTimingCommon/src/BTLDeviceSim.cc
  SimFastTiming/FastTimingCommon/src/BTLElectronicsSim.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved
