Repository cms-sw/cmssw, pull requests merged in 2023-05, with the labels that each got.

#41473 Remove PF candidates with nan for energy
  RecoParticleFlow/PFProducer/plugins/PFLinker.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41470 re-improve check on size of L1-uGT digis in `HLTL1TSeed` plugin [`13_0_X`]
  HLTrigger/HLTfilters/plugins/HLTL1TSeed.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#41467 guard `HLTRecHitInAllL1RegionsProducer<T>` against empty collection of L1T candidates [`13_0_X`]
  RecoEgamma/EgammaHLTProducers/plugins/BuildFile.xml
  RecoEgamma/EgammaHLTProducers/plugins/HLTRecHitInAllL1RegionsProducer.cc
Labels: hlt-approved, fully-signed, tests-rejected, bug-fix, orp-approved, urgent, backport-ok

#41474 Remove PF candidates with nan for energy [13_0_X]
  RecoParticleFlow/PFProducer/plugins/PFLinker.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok, pf

#41479 Integration of #41467 and #41470 in patch release for HLT on top of `CMSSW_13_0_3`
  HLTrigger/HLTfilters/plugins/HLTL1TSeed.cc
  RecoEgamma/EgammaHLTProducers/plugins/BuildFile.xml
  RecoEgamma/EgammaHLTProducers/plugins/HLTRecHitInAllL1RegionsProducer.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved

#41407 renew matched lepton ids for every jet
  PhysicsTools/NanoAOD/plugins/LeptonInJetProducer.cc
Labels: fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, xpog-approved

#41465 Improve thread efficiency of CSCTriggerPrimitivesProducer
  L1Trigger/CSCTriggerPrimitives/interface/CSCAnodeLCTProcessor.h
  L1Trigger/CSCTriggerPrimitives/interface/CSCBaseboard.h
  L1Trigger/CSCTriggerPrimitives/interface/CSCCathodeLCTProcessor.h
  L1Trigger/CSCTriggerPrimitives/interface/CSCGEMMotherboard.h
  L1Trigger/CSCTriggerPrimitives/interface/CSCMotherboard.h
  L1Trigger/CSCTriggerPrimitives/interface/CSCUpgradeAnodeLCTProcessor.h
  L1Trigger/CSCTriggerPrimitives/interface/CSCUpgradeCathodeLCTProcessor.h
  L1Trigger/CSCTriggerPrimitives/interface/LCTQualityAssignment.h
  L1Trigger/CSCTriggerPrimitives/interface/LCTQualityControl.h
  L1Trigger/CSCTriggerPrimitives/plugins/CSCTriggerPrimitivesProducer.cc
  L1Trigger/CSCTriggerPrimitives/src/CSCAnodeLCTProcessor.cc
  L1Trigger/CSCTriggerPrimitives/src/CSCBaseboard.cc
  L1Trigger/CSCTriggerPrimitives/src/CSCCathodeLCTProcessor.cc
  L1Trigger/CSCTriggerPrimitives/src/CSCGEMMotherboard.cc
  L1Trigger/CSCTriggerPrimitives/src/CSCMotherboard.cc
  L1Trigger/CSCTriggerPrimitives/src/CSCTriggerPrimitivesBuilder.cc
  L1Trigger/CSCTriggerPrimitives/src/CSCUpgradeAnodeLCTProcessor.cc
  L1Trigger/CSCTriggerPrimitives/src/CSCUpgradeCathodeLCTProcessor.cc
  L1Trigger/CSCTriggerPrimitives/src/LCTQualityAssignment.cc
  L1Trigger/CSCTriggerPrimitives/src/LCTQualityControl.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41411 add `PileupSummaryInfos_addPileupInfo` to `SiPixelCalSingleMuonTight` output data-tier
  Calibration/TkAlCaRecoProducers/python/ALCARECOSiPixelCalSingleMuonTight_Output_cff.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#41455 Disable CondToolsLHCInfoNewPopConTest for non-AMD64
  CondTools/RunInfo/test/BuildFile.xml
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#41353 Ecal CC timing reconstruction deployment
  DataFormats/EcalDigi/interface/EcalConstants.h
  DataFormats/EcalRecHit/interface/EcalRecHit.h
  DataFormats/EcalRecHit/interface/EcalUncalibratedRecHit.h
  DataFormats/EcalRecHit/src/EcalUncalibratedRecHit.cc
  RecoLocalCalo/EcalRecProducers/plugins/EcalUncalibRecHitWorkerMultiFit.cc
  RecoLocalCalo/EcalRecProducers/python/ecalMultiFitUncalibRecHit_cfi.py
  RecoLocalCalo/EcalRecProducers/test/testEcalUncalibRechitProducerWithCC_cfg.py
Labels: reconstruction-approved, simulation-approved, fully-signed, tests-rejected, orp-approved, code-checks-approved, ecal

#41385 Phase2-TB70X Try to make an example to run the setup used for investigating radiation damage studies of HGCal module
  Geometry/HGCalCommonData/python/hgcalEENumberingInitialization_cfi.py
  Geometry/HGCalTBCommonData/data/TB230/FEB230/hgcalsense.xml
  IOMC/EventVertexGenerators/src/FlatEvtVtxGenerator.cc
  IOMC/ParticleGuns/src/FlatRandomEThetaGunProducer.cc
  SimG4CMS/HGCalTestBeam/test/HGCalTB230FEB_cfg.py
Labels: generators-approved, geometry-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#41372 Fixed bug. Missing edm::InputTag src default value in fillDescriptions
  GeneratorInterface/GenFilters/plugins/LHEGenericMassFilter.cc
Labels: generators-pending, pending-signatures, tests-approved, bug-fix, orp-approved, code-checks-approved

#41488 [CLANG] Fix warnings about set but unused variables
  SimDataFormats/CrossingFrame/interface/MixCollection.h
  SimTracker/Common/interface/SiPixelChargeReweightingAlgorithm.h
  SimTracker/TrackTriggerAssociation/interface/TTClusterAssociationMap.h
  SimTracker/TrackTriggerAssociation/plugins/StubAssociator.cc
Labels: l1-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#41494 Add unit test for FEDRawDataCollection format
  DataFormats/FEDRawData/README.md
  DataFormats/FEDRawData/test/BuildFile.xml
  DataFormats/FEDRawData/test/TestFEDRawDataCollectionFormat.sh
  DataFormats/FEDRawData/test/TestReadFEDRawDataCollection.cc
  DataFormats/FEDRawData/test/TestWriteFEDRawDataCollection.cc
  DataFormats/FEDRawData/test/create_FEDRawDataCollection_test_file_cfg.py
  DataFormats/FEDRawData/test/test_readFEDRawDataCollection_cfg.py
Labels: daq-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#40643 Displaced regional tracking iteration
  Configuration/ProcessModifiers/python/displacedRegionalTracking_cff.py
  Configuration/ProcessModifiers/python/trackingMkFitDevel_cff.py
  Configuration/ProcessModifiers/python/trackingMkFitDisplacedRegionalStep_cff.py
  Configuration/PyReleaseValidation/README.md
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  DQM/TrackingMonitorSource/python/EDModules2monitor_cfi.py
  DQM/TrackingMonitorSource/python/IterTrackingModules4seedMonitoring_cfi.py
  DataFormats/TrackReco/interface/TrackBase.h
  DataFormats/TrackReco/src/TrackBase.cc
  RecoTracker/DisplacedRegionalTracking/plugins/BuildFile.xml
  RecoTracker/DisplacedRegionalTracking/plugins/DisplacedRegionSeedingVertexProducer.cc
  RecoTracker/DisplacedRegionalTracking/plugins/DisplacedVertexCluster.cc
  RecoTracker/DisplacedRegionalTracking/plugins/DisplacedVertexCluster.h
  RecoTracker/FinalTrackSelectors/python/displacedRegionalStepInputTracks_cfi.py
  RecoTracker/FinalTrackSelectors/python/preDuplicateMergingGeneralTracks_cfi.py
  RecoTracker/FinalTrackSelectors/src/trackAlgoPriorityOrder.h
  RecoTracker/IterativeTracking/python/DisplacedRegionalStep_cff.py
  RecoTracker/IterativeTracking/python/dnnQualityCuts.py
  RecoTracker/IterativeTracking/python/iterativeTkConfig.py
  RecoTracker/IterativeTracking/python/iterativeTk_cff.py
  RecoTracker/TkTrackingRegions/plugins/GlobalTrackingRegionWithVerticesProducer.h
  RecoVertex/V0Producer/python/generalV0Candidates_cfi.py
  RecoVertex/V0Producer/src/V0Fitter.cc
  RecoVertex/V0Producer/src/V0Fitter.h
  Validation/RecoTrack/python/TrackValidation_cff.py
  Validation/RecoTrack/python/plotting/html.py
  Validation/RecoTrack/python/plotting/ntupleEnum.py
  Validation/RecoTrack/python/plotting/trackingPlots.py
  Validation/RecoTrack/test/trackingPerformanceValidation.py
Labels: dqm-approved, operations-approved, reconstruction-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved, tracking

#41480 Phase2-gex160Z Remove overlaps in the Phase2 scenarios which used to be caused by an error in zdc.xml
  Configuration/Geometry/python/dict2026Geometry.py
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D86.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D88.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D91.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D92.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D93.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D94.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D95.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D96.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D97.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D98.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D99.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D86XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D88XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D91XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D92XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D93XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D94XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D95XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D96XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D97XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D98XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D99XML_cfi.py
  Geometry/ForwardCommonData/data/zdc/2026/v1/zdc.xml
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#41493 Backporting LHEGenericMassFilter changes to 10.6.X for Toponium Production
  GeneratorInterface/GenFilters/plugins/LHEGenericMassFilter.cc
Labels: generators-approved, fully-signed, tests-approved, orp-approved, backport-ok

#41484 [13.0.X] add `PileupSummaryInfos_addPileupInfo` to `SiPixelCalSingleMuonTight` output data-tier
  Calibration/TkAlCaRecoProducers/python/ALCARECOSiPixelCalSingleMuonTight_Output_cff.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok, trk

#41485 Update L1T Menu tag for 2023/2024/Run4 in MC GTs
  Configuration/AlCa/python/autoCond.py
  Configuration/AlCa/python/autoCondModifiers.py
  Configuration/HLT/python/autoCondHLT.py
Labels: alca-approved, hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41509 [ALCA-DB] [LLVM16]Fix set but unused variables warnings
  CondFormats/DTObjects/src/DTReadOutMapping.cc
  CondFormats/RPCObjects/src/RPCReadOutMapping.cc
  CondFormats/SiStripObjects/src/SiStripBackPlaneCorrection.cc
  CondFormats/SiStripObjects/src/SiStripLorentzAngle.cc
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#41491 Additional memory decrease in CSCTriggerPrimitivesProducer
  L1Trigger/CSCTriggerPrimitives/interface/CSCAnodeLCTProcessor.h
  L1Trigger/CSCTriggerPrimitives/interface/CSCBaseboard.h
  L1Trigger/CSCTriggerPrimitives/interface/CSCCathodeLCTProcessor.h
  L1Trigger/CSCTriggerPrimitives/interface/CSCGEMMatcher.h
  L1Trigger/CSCTriggerPrimitives/interface/CSCGEMMotherboard.h
  L1Trigger/CSCTriggerPrimitives/interface/CSCMotherboard.h
  L1Trigger/CSCTriggerPrimitives/interface/CSCTriggerPrimitivesBuilder.h
  L1Trigger/CSCTriggerPrimitives/interface/CSCUpgradeCathodeLCTProcessor.h
  L1Trigger/CSCTriggerPrimitives/interface/ComparatorCodeLUT.h
  L1Trigger/CSCTriggerPrimitives/interface/GEMClusterProcessor.h
  L1Trigger/CSCTriggerPrimitives/plugins/CSCTriggerPrimitivesProducer.cc
  L1Trigger/CSCTriggerPrimitives/src/CSCAnodeLCTProcessor.cc
  L1Trigger/CSCTriggerPrimitives/src/CSCBaseboard.cc
  L1Trigger/CSCTriggerPrimitives/src/CSCCathodeLCTProcessor.cc
  L1Trigger/CSCTriggerPrimitives/src/CSCGEMMatcher.cc
  L1Trigger/CSCTriggerPrimitives/src/CSCGEMMotherboard.cc
  L1Trigger/CSCTriggerPrimitives/src/CSCMotherboard.cc
  L1Trigger/CSCTriggerPrimitives/src/CSCTriggerPrimitivesBuilder.cc
  L1Trigger/CSCTriggerPrimitives/src/CSCUpgradeCathodeLCTProcessor.cc
  L1Trigger/CSCTriggerPrimitives/src/ComparatorCodeLUT.cc
  L1Trigger/CSCTriggerPrimitives/src/GEMClusterProcessor.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41279 Correlator PR corresponding to l1t-offline PR 1063
  DataFormats/L1TParticleFlow/interface/PFJet.h
  DataFormats/L1TParticleFlow/interface/layer1_emulator.h
  DataFormats/L1TParticleFlow/src/classes_def.xml
  L1Trigger/Configuration/python/L1Trigger_EventContent_cff.py
  L1Trigger/Configuration/python/SimL1Emulator_cff.py
  L1Trigger/Phase2L1ParticleFlow/interface/BJetId.h
  L1Trigger/Phase2L1ParticleFlow/interface/CaloClusterer.h
  L1Trigger/Phase2L1ParticleFlow/interface/conifer.h
  L1Trigger/Phase2L1ParticleFlow/interface/corrector.h
  L1Trigger/Phase2L1ParticleFlow/interface/deregionizer/deregionizer_input.h
  L1Trigger/Phase2L1ParticleFlow/interface/deregionizer/deregionizer_ref.h
  L1Trigger/Phase2L1ParticleFlow/interface/egamma/L1EGPuppiIsoAlgo.h
  L1Trigger/Phase2L1ParticleFlow/interface/egamma/pftkegsorter_ref.h
  L1Trigger/Phase2L1ParticleFlow/interface/regionizer/buffered_folded_multififo_regionizer_ref.h
  L1Trigger/Phase2L1ParticleFlow/interface/regionizer/folded_multififo_regionizer_ref.h
  L1Trigger/Phase2L1ParticleFlow/interface/regionizer/multififo_regionizer_ref.h
  L1Trigger/Phase2L1ParticleFlow/plugins/DeregionizerProducer.cc
  L1Trigger/Phase2L1ParticleFlow/plugins/L1BJetProducer.cc
  L1Trigger/Phase2L1ParticleFlow/plugins/L1SeedConePFJetProducer.cc
  L1Trigger/Phase2L1ParticleFlow/plugins/L1TCorrectedPFJetProducer.cc
  L1Trigger/Phase2L1ParticleFlow/plugins/L1TCorrelatorLayer1Producer.cc
  L1Trigger/Phase2L1ParticleFlow/plugins/L1TCtL2EgProducer.cc
  L1Trigger/Phase2L1ParticleFlow/plugins/L1TPFCaloProducer.cc
  L1Trigger/Phase2L1ParticleFlow/plugins/PFClusterProducerFromHGC3DClusters.cc
  L1Trigger/Phase2L1ParticleFlow/plugins/PFClusterProducerFromL1EGClusters.cc
  L1Trigger/Phase2L1ParticleFlow/python/L1BJetProducer_cff.py
  L1Trigger/Phase2L1ParticleFlow/python/l1SeedConePFJetEmulatorProducer_cfi.py
  L1Trigger/Phase2L1ParticleFlow/python/l1ctLayer1_cff.py
  L1Trigger/Phase2L1ParticleFlow/python/l1ctLayer1_patternWriters_cff.py
  L1Trigger/Phase2L1ParticleFlow/python/l1ctLayer2EG_cff.py
  L1Trigger/Phase2L1ParticleFlow/python/l1pfJetMet_cff.py
  L1Trigger/Phase2L1ParticleFlow/python/l1tDeregionizerProducer_cfi.py
  L1Trigger/Phase2L1ParticleFlow/python/l1tJetFileWriter_cfi.py
  L1Trigger/Phase2L1ParticleFlow/python/l1tPFClustersFromCombinedCalo_cfi.py
  L1Trigger/Phase2L1ParticleFlow/python/l1tPFClustersFromL1EGClusters_cfi.py
  L1Trigger/Phase2L1ParticleFlow/python/l1tPFTracksFromL1Tracks_cfi.py
  L1Trigger/Phase2L1ParticleFlow/python/l1tSeedConePFJetProducer_cfi.py
  L1Trigger/Phase2L1ParticleFlow/src/BJetId.cc
  L1Trigger/Phase2L1ParticleFlow/src/CaloClusterer.cc
  L1Trigger/Phase2L1ParticleFlow/src/corrector.cc
  L1Trigger/Phase2L1ParticleFlow/src/deregionizer/deregionizer_input.cpp
  L1Trigger/Phase2L1ParticleFlow/src/deregionizer/deregionizer_ref.cpp
  L1Trigger/Phase2L1ParticleFlow/src/egamma/L1EGPuppiIsoAlgo.cc
  L1Trigger/Phase2L1ParticleFlow/src/regionizer/buffered_folded_multififo_regionizer_ref.cpp
  L1Trigger/Phase2L1ParticleFlow/src/regionizer/folded_multififo_regionizer_ref.cpp
  L1Trigger/Phase2L1ParticleFlow/src/regionizer/multififo_regionizer_ref.cpp
  L1Trigger/Phase2L1ParticleFlow/test/make_l1ctLayer1_dumpFiles_cfg.py
  L1Trigger/Phase2L1ParticleFlow/test/make_l1ct_patternFiles_cfg.py
  L1Trigger/Phase2L1ParticleFlow/test/make_l1ct_patternFiles_fromRAW_cfg.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, requires-external, code-checks-approved

#41505 [ANALYSIS] [LLVM16]Fix set but unused variables warnings
  AnalysisAlgos/TrackInfoProducer/src/TrackInfoProducerAlgorithm.cc
Labels: analysis-pending, pending-signatures, tests-approved, orp-approved, code-checks-approved, tracking

#41275 Introduce (Robust)ParTAK4 jet tagger, DeepJet model update for Run 3, remove DeepCSV from nano
  DataFormats/BTauReco/interface/ParticleTransformerAK4Features.h
  PhysicsTools/NanoAOD/python/custom_jme_cff.py
  PhysicsTools/NanoAOD/python/jetsAK4_CHS_cff.py
  PhysicsTools/NanoAOD/python/jetsAK4_Puppi_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
  PhysicsTools/NanoAOD/python/nano_cff.py
  PhysicsTools/PatAlgos/python/recoLayer0/bTagging_cff.py
  PhysicsTools/PatAlgos/python/slimming/applyDeepBtagging_cff.py
  PhysicsTools/PatAlgos/python/slimming/miniAOD_tools.py
  PhysicsTools/PatAlgos/python/tools/jetTools.py
  RecoBTag/Configuration/python/RecoBTag_cff.py
  RecoBTag/FeatureTools/interface/ChargedCandidateConverter.h
  RecoBTag/FeatureTools/interface/NeutralCandidateConverter.h
  RecoBTag/FeatureTools/interface/deep_helpers.h
  RecoBTag/FeatureTools/plugins/ParticleTransformerAK4TagInfoProducer.cc
  RecoBTag/FeatureTools/src/ChargedCandidateConverter.cc
  RecoBTag/FeatureTools/src/SecondaryVertexConverter.cc
  RecoBTag/FeatureTools/src/deep_helpers.cc
  RecoBTag/ONNXRuntime/plugins/DeepFlavourONNXJetTagsProducer.cc
  RecoBTag/ONNXRuntime/plugins/ParticleTransformerAK4ONNXJetTagsProducer.cc
  RecoBTag/ONNXRuntime/python/pfParticleTransformerAK4DiscriminatorsJetTags_cfi.py
  RecoBTag/ONNXRuntime/python/pfParticleTransformerAK4_cff.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved, xpog-approved

#41487 Address issue 40477 (clean-up of the code for R-hadron interaction with matter)
  SimG4Core/CustomPhysics/interface/FullModelReactionDynamics.h
  SimG4Core/CustomPhysics/src/FullModelReactionDynamics.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41515 SiPixel Payload Inspector: improve `SiPixelDynamicInefficiency` parametrization vs PU plotting
  CondCore/SiPixelPlugins/plugins/SiPixelDynamicInefficiency_PayloadInspector.cc
  CondCore/SiPixelPlugins/test/testSiPixelDynamicInefficiency.sh
  CondCore/SiPixelPlugins/test/testSiPixelPayloadInspector.cpp
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, trk

#41495 remove unused parameters from `HLTPixelIsolTrackL1TFilter` plugin
  HLTrigger/Configuration/python/customizeHLTforCMSSW.py
  HLTrigger/special/plugins/HLTPixelIsolTrackL1TFilter.cc
  HLTrigger/special/plugins/HLTPixelIsolTrackL1TFilter.h
Labels: hlt-approved, fully-signed, tests-rejected, orp-approved, code-checks-approved

#41374 Use ofast-flag rather than fast-math for mkFit
  RecoTracker/MkFitCore/BuildFile.xml
  RecoTracker/MkFitCore/standalone/Makefile.config
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#41536 [DAQ] [CLANG] Fix warnings reported by llvm16 in CLANG IBs
  EventFilter/ESDigiToRaw/src/ESDataFormatterV4.cc
  EventFilter/Utilities/src/EvFDaqDirector.cc
Labels: daq-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41522 [CORE] [CLANG] Fix warnings reported by llvm16 in CLANG IBs
  DataFormats/Common/test/DetSetNewTS_t.cpp
  DataFormats/Common/test/testOneToManyAssociation.cc
  DataFormats/Common/test/testOneToOneAssociation.cc
  DataFormats/Provenance/test/productResolverIndexHelperTest.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41506 [DB] [LLVM16]Fix set but unused variables warnings
  CondCore/SiStripPlugins/plugins/SiStripBadStrip_PayloadInspector.cc
  CondCore/SiStripPlugins/plugins/SiStripPedestals_PayloadInspector.cc
  CondCore/Utilities/bin/conddb_test_gt_perf.cpp
  CondTools/Ecal/plugins/EcalPedestalHistory.cc
  CondTools/Ecal/plugins/StoreEcalCondition.cc
  CondTools/Ecal/src/EcalDAQTowerStatusXMLTranslator.cc
  CondTools/Ecal/src/EcalDCSTowerStatusXMLTranslator.cc
  CondTools/Ecal/src/EcalLaser_weekly_Linearization.cc
  CondTools/Ecal/src/EcalPedestalsHandler.cc
  CondTools/Ecal/src/EcalPulseShapesHandler.cc
  CondTools/Ecal/src/EcalPulseSymmCovariancesHandler.cc
  CondTools/Ecal/src/EcalTPGBadStripHandler.cc
  CondTools/Ecal/src/EcalTPGBadTTHandler.cc
  CondTools/Ecal/src/EcalTPGBadXTHandler.cc
  CondTools/Ecal/src/EcalTPGFineGrainEBGroupHandler.cc
  CondTools/Ecal/src/EcalTPGFineGrainEBIdMapHandler.cc
  CondTools/Ecal/src/EcalTPGFineGrainStripEEHandler.cc
  CondTools/Ecal/src/EcalTPGFineGrainTowerEEHandler.cc
  CondTools/Ecal/src/EcalTPGLinConstHandler.cc
  CondTools/Ecal/src/EcalTPGLutGroupHandler.cc
  CondTools/Ecal/src/EcalTPGLutIdMapHandler.cc
  CondTools/Ecal/src/EcalTPGOddWeightGroupHandler.cc
  CondTools/Ecal/src/EcalTPGPhysicsConstHandler.cc
  CondTools/Ecal/src/EcalTPGSlidingWindowHandler.cc
  CondTools/Ecal/src/EcalTPGWeightGroupHandler.cc
  CondTools/Geometry/plugins/PGeometricDetBuilder.cc
  CondTools/RPC/src/RPCDBPerformanceHandler.cc
  CondTools/RPC/src/RPCDBSimSetUp.cc
  CondTools/RPC/src/RPCFw.cc
  CondTools/RunInfo/plugins/LHCInfoPerFillPopConAnalyzer.cc
  CondTools/RunInfo/src/L1TriggerScalerRead.cc
  CondTools/SiPixel/plugins/SiPixelGainCalibrationReadDQMFile.cc
  CondTools/SiPixel/plugins/SiPixelGainCalibrationRejectNoisyAndDead.cc
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, trk

#41532 [CORE] [CLANG] Fix warnings reported by llvm16 in CLANG IBs
  FWCore/Integration/plugins/ViewAnalyzer.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41533 [HLT] [CLANG] Fix warnings reported by llvm16 in CLANG IBs
  HLTrigger/Egamma/plugins/HLTEgammaL1TMatchFilterRegional.cc
  HLTrigger/JetMET/plugins/HLTJetHbbFilter.cc
  HLTrigger/JetMET/src/HLTRapGapFilter.cc
  HLTrigger/Muon/plugins/HLTMuonL3PreFilter.cc
  HLTrigger/btau/plugins/HLTJetPairDzMatchFilter.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41541 [HLT] [CLANG] Fix warnings reported by llvm16 in CLANG IBs
  RecoTauTag/HLTProducers/src/HLTPFTauPairLeadTrackDzMatchFilter.cc
  RecoTauTag/HLTProducers/src/L2TauJetsMerger.cc
  RecoTauTag/HLTProducers/src/L2TauPixelTrackMatch.cc
  RecoTauTag/HLTProducers/src/TauJetSelectorForHLTTrackSeeding.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41517 [13.1.X] use `onlineMetaDataDigis` when available for retrieval of average PU in `AlCaHOCalibProducer`
  Calibration/HcalAlCaRecoProducers/plugins/AlCaHOCalibProducer.cc
  Calibration/HcalAlCaRecoProducers/plugins/BuildFile.xml
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, hcal

#41500 Apply clang-tidy and clang-format changes [LLVM 14]
  HeterogeneousCore/AlpakaCore/interface/alpaka/Event.h
  HeterogeneousCore/AlpakaCore/interface/alpaka/EventSetup.h
Labels: fully-signed, tests-rejected, orp-approved, code-checks-approved, heterogeneous-approved

#41501 Apply clang-tidy and clang-format changes [LLVM 14, 13.0.x]
  HeterogeneousCore/AlpakaCore/interface/alpaka/Event.h
  HeterogeneousCore/AlpakaCore/interface/alpaka/EventSetup.h
Labels: fully-signed, tests-approved, orp-approved, backport-ok, heterogeneous-approved

#41490 [13_0_X] Update L1T Menu tag for 2023/2024/Run4 in MC GTs
  Configuration/AlCa/python/autoCond.py
  Configuration/AlCa/python/autoCondModifiers.py
  Configuration/HLT/python/autoCondHLT.py
Labels: alca-approved, hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#41527 [DQM-HLT] [CLANG] Fix warnings reported by llvm16 in CLANG IBs
  DQM/HLTEvF/plugins/LumiMonitor.cc
Labels: dqm-approved, hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41549 bug fix for DBG IB: use correct variable name
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalMixRotatedLayer.cc
Labels: geometry-approved, pending-signatures, tests-approved, orp-approved, upgrade-pending, code-checks-approved

#41460 GetterOfProducts for output modules, use in DQMRootOutputModule
  DQMServices/FwkIO/plugins/DQMRootOutputModule.cc
  FWCore/Framework/interface/GetterOfProducts.h
  FWCore/Framework/interface/OutputModuleCore.h
  FWCore/Framework/interface/global/OutputModuleBase.h
  FWCore/Framework/interface/limited/OutputModuleBase.h
  FWCore/Framework/interface/one/OutputModuleBase.h
  FWCore/Framework/src/OutputModuleCore.cc
  FWCore/Integration/plugins/BuildFile.xml
  FWCore/Integration/plugins/TestOutputWithGetterOfProducts.cc
  FWCore/Integration/plugins/TestOutputWithGetterOfProductsGlobal.cc
  FWCore/Integration/plugins/TestOutputWithGetterOfProductsLimited.cc
  FWCore/Integration/test/run_TestGetBy.sh
  FWCore/Integration/test/testGetterOfProductsWithOutputModule_cfg.py
Labels: core-approved, dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41555 [13.1.X] SiPixel Payload Inspector: improve `SiPixelDynamicInefficiency` parametrization vs PU plotting
  CondCore/SiPixelPlugins/plugins/SiPixelDynamicInefficiency_PayloadInspector.cc
  CondCore/SiPixelPlugins/test/testSiPixelDynamicInefficiency.sh
  CondCore/SiPixelPlugins/test/testSiPixelPayloadInspector.cpp
Labels: fully-signed, tests-approved, db-approved, orp-approved, backport-ok, trk

#41553 Fixed problem 40764: heap-buffer-overflow in EcalDetailedTimeRecHitProducer
  DataFormats/EcalDigi/src/EcalTimeDigi.cc
  SimCalorimetry/EcalSimAlgos/src/EcalTimeMapDigitizer.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41538 [L1] [CLANG] Fix warnings reported by llvm16 in CLANG IBs
  EventFilter/L1GlobalTriggerRawToDigi/src/L1GlobaTriggerEvmRawToDigi.cc
  EventFilter/L1GlobalTriggerRawToDigi/src/L1GlobaTriggerRawToDigi.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/BMTFPackerInputs.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41531 [FASTSIM] [CLANG] Fix warnings reported by llvm16 in CLANG IBs
  FastSimulation/CaloHitMakers/src/EcalHitMaker.cc
  FastSimulation/MaterialEffects/src/NuclearInteractionSimulator.cc
  FastSimulation/ShowerDevelopment/src/HDRShower.cc
  FastSimulation/SimplifiedGeometryPropagator/plugins/NuclearInteraction.cc
Labels: fastsim-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41526 [GEOMETRY] [CLANG] Fix warnings reported by llvm16 in CLANG IBs
  DetectorDescription/Core/src/DDFilteredView.cc
  DetectorDescription/Core/src/DDdummy.cc
  DetectorDescription/OfflineDBLoader/plugins/OutputDDToDDL.cc
  DetectorDescription/OfflineDBLoader/plugins/OutputMagneticFieldDDToDDL.cc
  DetectorDescription/OfflineDBLoader/src/GeometryInfoDump.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41523 [L1] [CLANG] Fix warnings reported by llvm16 in CLANG IBs
  DataFormats/L1GlobalTrigger/src/L1GlobalTriggerRecord.cc
  DataFormats/L1GlobalTrigger/src/L1GtFdlWord.cc
  DataFormats/L1Trigger/src/L1DataEmulRecord.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41502 [RECONSTRUCTION] [LLVM16]Fix set but unused variables warnings
  CommonTools/Clustering1D/interface/DivisiveClusterizer1D.h
  CommonTools/PileupAlgos/plugins/PuppiProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41504 [DB-RECONSTRUCTION] [LLVM16]Fix mismatched bound warnings
  CondFormats/SiPixelTransient/src/SiPixelTemplate.cc
Labels: reconstruction-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, trk

#41525 [RECONSTRUCTION] [CLANG] Fix warnings reported by llvm16 in CLANG IBs
  DataFormats/MuonReco/src/MuonSelectors.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41534 [GEOMETRY-UPGRADE] [CLANG] Fix warnings reported by llvm16 in CLANG IBs
  Geometry/HGCalCommonData/plugins/DDHGCalModule.cc
  Geometry/HGCalCommonData/plugins/DDHGCalModuleAlgo.cc
  Geometry/HGCalCommonData/plugins/DDHGCalTBModule.cc
  Geometry/HGCalCommonData/src/HGCalGeomParameters.cc
  Geometry/HGCalCommonData/test/HGCalValidityTester.cc
  Geometry/MTDNumberingBuilder/plugins/CondDBCmsMTDConstruction.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#41539 [RECONSTRUCTION] [CLANG] Fix warnings reported by llvm16 in CLANG IBs
  EventFilter/CSCRawToDigi/plugins/CSCDCCUnpacker.cc
  EventFilter/CSCRawToDigi/src/CSCEventData.cc
  EventFilter/CastorRawToDigi/src/CastorUnpacker.cc
  EventFilter/DTRawToDigi/plugins/DTDigiToRaw.cc
  EventFilter/EcalRawToDigi/plugins/MatacqProducer.cc
  EventFilter/HcalRawToDigi/plugins/HcalDigiToRawuHTR.cc
  EventFilter/HcalRawToDigi/src/HcalPacker.cc
  EventFilter/HcalRawToDigi/src/HcalUnpacker.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41540 [GEOMETRY] [CLANG] Fix warnings reported by llvm16 in CLANG IBs
  Geometry/DTGeometryBuilder/src/DTGeometryBuilderFromDDD.cc
  Geometry/DTGeometryBuilder/src/DTGeometryParsFromDD.cc
  Geometry/EcalTestBeam/test/CrystalCenterDump.cc
  Geometry/EcalTestBeam/test/EcalTBHodoscopeGeometryAnalyzer.cc
  Geometry/EcalTestBeam/test/ee/CaloGeometryLoaderTest.icc
  Geometry/HGCalTBCommonData/src/HGCalTBGeomParameters.cc
  Geometry/HcalAlgo/plugins/DDHCalBarrelAlgo.cc
  Geometry/HcalAlgo/plugins/dd4hep/DDHCalBarrelAlgo.cc
  Geometry/TrackerCommonData/plugins/dd4hep/DDTIBLayerAlgo.cc
  Geometry/TrackerNumberingBuilder/plugins/CondDBCmsTrackerConstruction.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#41543 [RECONSTRUCTION] [CLANG] Fix warnings reported by llvm16 in CLANG IBs
  RecoEcal/EgammaCoreTools/interface/EcalClusterTools.h
  RecoEcal/EgammaCoreTools/src/EcalClusterPUCleaningTools.cc
  RecoEgamma/EgammaIsolationAlgos/src/EgammaHLTTrackIsolation.cc
  RecoEgamma/EgammaMCTools/src/ElectronMCTruthFinder.cc
  RecoEgamma/EgammaPhotonAlgos/src/InOutConversionSeedFinder.cc
  RecoEgamma/EgammaPhotonProducers/src/ConversionTrackMerger.cc
  RecoEgamma/EgammaPhotonProducers/src/ConvertedPhotonProducer.cc
  RecoJets/JetPlusTracks/plugins/JetPlusTrackCorrector.cc
  RecoJets/JetPlusTracks/plugins/JetPlusTrackProducerAA.cc
  RecoLocalMuon/CSCSegment/src/CSCSegAlgoRU.cc
  RecoLocalMuon/CSCValidation/src/CSCValidation.cc
  RecoLocalMuon/DTSegment/src/DTSegmentUpdator.cc
  RecoLocalMuon/RPCRecHit/plugins/CSCSegtoRPC.cc
  RecoLocalTracker/SiPixelClusterizer/plugins/SiPixelClusterProducer.cc
  RecoLocalTracker/SiPixelClusterizer/test/ReadPixClusters.cc
  RecoLocalTracker/SiPixelClusterizer/test/TestWithTracks.cc
  RecoLocalTracker/SiPixelRecHits/test/ReadPixelRecHit.cc
  RecoLocalTracker/SubCollectionProducers/src/HITrackClusterRemover.cc
  RecoLocalTracker/SubCollectionProducers/src/HLTTrackClusterRemoverNew.cc
  RecoLuminosity/LumiProducer/plugins/HLTV32DB.cc
  RecoMET/METAlgorithms/src/GlobalHaloAlgo.cc
  RecoMET/METFilters/interface/EcalBoundaryInfoCalculator.h
  RecoMET/METPUSubtraction/plugins/NoPileUpPFMEtProducer.cc
  RecoMuon/GlobalMuonProducer/test/GLBMuonAnalyzer.cc
  RecoMuon/MuonSeedGenerator/src/MuonSeedCleaner.cc
  RecoMuon/MuonSeedGenerator/src/SETSeedFinder.cc
  RecoMuon/TrackerSeedGenerator/plugins/TSGForOIDNN.cc
  RecoMuon/TrackingTools/src/MuonSegmentMatcher.cc
  RecoPPS/Local/interface/CTPPSTimingTrackRecognition.h
  RecoParticleFlow/PFProducer/plugins/PFEGammaProducer.cc
  RecoParticleFlow/PFProducer/src/PFAlgo.cc
  RecoTauTag/RecoTau/plugins/RecoTauBuilderConePlugin.cc
  RecoTracker/ConversionSeedGenerators/plugins/HitQuadrupletGeneratorFromLayerPairForPhotonConversion.cc
  RecoTracker/ConversionSeedGenerators/plugins/PhotonConversionTrajectorySeedProducerFromSingleLegAlgo.cc
  RecoTracker/FinalTrackSelectors/plugins/TrackerTrackHitFilter.cc
  RecoTracker/PixelLowPtUtilities/test/ClusterShapeExtractor.cc
  RecoTracker/PixelVertexFinding/interface/DivisiveClusterizer1D.h
  RecoTracker/SpecialSeedGenerators/src/CosmicRegionalSeedGenerator.cc
  RecoTracker/TkSeedGenerator/plugins/SeedProducerFromSoA.cc
  RecoTracker/TrackProducer/src/DAFTrackProducerAlgorithm.cc
  RecoVertex/AdaptiveVertexFinder/src/AdaptiveVertexReconstructor.cc
  RecoVertex/AdaptiveVertexFit/src/AdaptiveVertexFitter.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking, trk

#41542 [RECONSTRUCTION-UPGRADE] [CLANG] Fix warnings reported by llvm16 in CLANG IBs
  RecoLocalCalo/HGCalRecAlgos/src/HGCal3DClustering.cc
  RecoLocalCalo/HGCalRecAlgos/src/HGCalDepthPreClusterer.cc
  RecoLocalMuon/GEMRecHit/test/TestGEMRecHitAnalyzer.cc
  RecoLocalTracker/SiPhase2VectorHitBuilder/src/VectorHitBuilderAlgorithmBase.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, trk

#41572 do not allow crashes in `isEmpty(int bx)` method of `BXVector`
  DataFormats/L1Trigger/interface/BXVector.h
  DataFormats/L1Trigger/interface/BXVector.icc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41579 Run3-alca243 Provide a more meaningful name to a variable in HOCalibAlgo where a variable for pileup was named instlumi
  Calibration/HcalAlCaRecoProducers/plugins/AlCaHOCalibProducer.cc
  Calibration/HcalCalibAlgos/macros/hocalib_tmpfit.C
  Calibration/HcalCalibAlgos/plugins/HOCalibAnalyzer.cc
  DataFormats/HcalCalibObjects/interface/HOCalibVariables.h
  DataFormats/HcalCalibObjects/src/classes_def.xml
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41529 Added input parameter for JetRes PI
  CondCore/JetMETPlugins/plugins/JetResolution_PayloadInspector.cc
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#41547 HGCAL: Fix HGCHEB isSiFE configuration
  HLTrigger/Configuration/python/HLT_75e33/modules/HGCalUncalibRecHitL1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/HGCalUncalibRecHit_cfi.py
  RecoLocalCalo/HGCalRecProducers/python/HGCalUncalibRecHit_cfi.py
Labels: hlt-approved, reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, upgrade-approved, code-checks-approved, hgcal

#41567 [13_0_X] Add correct L1TCaloParams in 130X 2022 HI MC GT
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved

#41560 Added input parameter for JetCor PI
  CondCore/JetMETPlugins/plugins/JetCorrector_PayloadInspector.cc
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#41581 [12_4_X] New HB thresholds for 2022 data rereco
  Configuration/Eras/python/Era_Run3_2022_rereco_cff.py
  Configuration/Eras/python/Modifier_run3_egamma_2022_rereco_cff.py
  Configuration/StandardSequences/python/Eras.py
  RecoEgamma/EgammaIsolationAlgos/python/egammaHBHERecHitThreshold_cff.py
  RecoParticleFlow/PFClusterProducer/python/particleFlowClusterHBHE_cfi.py
  RecoParticleFlow/PFClusterProducer/python/particleFlowClusterHCAL_cfi.py
  RecoParticleFlow/PFClusterProducer/python/particleFlowRecHitHBHE_cfi.py
Labels: operations-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent

#41464 Run3-gex160Z Remove overlaps in the ZDC part and apply the correction to all Run3 scenarios
  Configuration/Geometry/python/dict2021Geometry.py
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021FlatMinus05Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021FlatMinus10Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021FlatPlus05Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021FlatPlus10Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021ZeroMaterial.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2023.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2023FlatMinus05Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2023FlatMinus10Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2023FlatPlus05Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2023FlatPlus10Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2023ZeroMaterial.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometry2021FlatMinus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2021FlatMinus10PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2021FlatPlus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2021FlatPlus10PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2021XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2021ZeroMaterialXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2023FlatMinus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2023FlatMinus10PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2023FlatPlus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2023FlatPlus10PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2023XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2023ZeroMaterialXML_cfi.py
  Geometry/ForwardCommonData/data/zdc/2021/v2/zdc.xml
  Geometry/ForwardCommonData/python/testZDCXML_cfi.py
  Geometry/ForwardCommonData/test/dumpZDC_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#41507 [DQM-RECONSTRUCTION] [LLVM16]Fix set but unused variables warnings
  CommonTools/TrackerMap/src/TrackerMap.cc
Labels: dqm-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#41521 [DB-DQM] [CLANG] Fix warnings reported by llvm16 in CLANG IBs
  DQM/BeamMonitor/plugins/FakeBeamMonitor.cc
Labels: dqm-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, tracking

#41528 [DQM] [CLANG] Fix warnings reported by llvm16 in CLANG IBs
  DPGAnalysis/HcalTools/plugins/CMTRawAnalyzer.cc
  DQM/CSCMonitorModule/plugins/CSCDQM_StripClusterFinder.cc
  DQM/DTMonitorClient/src/DTOccupancyTest.cc
  DQM/EcalCommon/src/MESetMulti.cc
  DQM/HcalTasks/src/RecoRunSummary.cc
  DQM/L1TMonitor/src/L1TMP7ZeroSupp.cc
  DQM/L1TMonitor/src/L1TStage2uGTCaloLayer2Comp.cc
  DQM/L1TMonitor/src/L1TdeStage2CaloLayer2.cc
  DQM/L1TMonitorClient/src/L1EmulatorErrorFlagClient.cc
  DQM/L1TMonitorClient/src/L1TEMTFEventInfoClient.cc
  DQM/L1TMonitorClient/src/L1TEventInfoClient.cc
  DQM/Physics/src/B2GDQM.cc
  DQM/Physics/src/EwkElecDQM.cc
  DQM/Physics/src/EwkMuDQM.cc
  DQM/Physics/src/EwkMuLumiMonitorDQM.cc
  DQM/Physics/src/EwkTauDQM.cc
  DQM/Physics/src/SingleTopTChannelLeptonDQM.cc
  DQM/Physics/src/SingleTopTChannelLeptonDQM_miniAOD.cc
  DQM/Physics/src/TopDiLeptonOfflineDQM.cc
  DQM/Physics/src/TopSingleLeptonDQM.cc
  DQM/Physics/src/TopSingleLeptonDQM_miniAOD.cc
  DQM/RPCMonitorDigi/src/RPCTTUMonitor.cc
  DQM/SiPixelMonitorClient/src/SiPixelActionExecutor.cc
  DQM/SiPixelMonitorClient/src/SiPixelInformationExtractor.cc
  DQM/SiPixelMonitorTrack/src/SiPixelHitEfficiencySource.cc
  DQM/SiPixelMonitorTrack/src/SiPixelTrackResidualSource.cc
  DQM/SiStripCommissioningAnalysis/src/ApvTimingAlgorithm.cc
  DQM/SiStripCommissioningAnalysis/src/FedTimingAlgorithm.cc
  DQM/SiStripCommissioningClients/src/FedTimingHistograms.cc
  DQM/TrackerRemapper/plugins/TrackerRemapper.cc
  DQM/TrackerRemapper/src/Phase1PixelSummaryMap.cc
  DQM/TrackingMonitor/src/TrackAnalyzer.cc
  DQM/TrackingMonitor/src/TrackSplittingMonitor.cc
  DQM/TrackingMonitorClient/src/TrackingQualityChecker.cc
  DQMOffline/CalibCalo/plugins/DQMSourcePi0.cc
  DQMOffline/EGamma/plugins/ElectronAnalyzer.cc
  DQMOffline/Hcal/src/HcalRecHitsAnalyzer.cc
  DQMOffline/JetMET/src/BeamHaloAnalyzer.cc
  DQMOffline/JetMET/src/HCALRecHitAnalyzer.cc
  DQMOffline/JetMET/src/JetAnalyzer_HeavyIons_matching.cc
  DQMOffline/Muon/src/CSCOfflineMonitor.cc
  DQMOffline/Trigger/plugins/HLTTauRefProducer.cc
  DQMOffline/Trigger/plugins/JetMETHLTOfflineSource.cc
  DQMServices/Components/plugins/DQMGenericClient.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking, trk

#41537 [DQM] [CLANG] Fix warnings reported by llvm16 in CLANG IBs
  HLTriggerOffline/Tau/src/HLTTauMCProducer.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41582 [SIMULATION-UPGRADE] [CLANG] Fix warnings reported by llvm16 in CLANG IBs
  SimCalorimetry/HGCalAssociatorProducers/plugins/MultiClusterAssociatorByEnergyScoreImpl.cc
  SimCalorimetry/HGCalSimProducers/plugins/HGCDigitizer.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#41595 [L1] [CLANG] Fix warnings reported by llvm16 in CLANG IBs
  L1Trigger/L1TCaloLayer1/src/UCTRegion.cc
  L1Trigger/L1TCalorimeter/plugins/L1TStage2CaloLayer2Comp.cc
  L1Trigger/L1TCalorimeter/src/HardwareSortingMethods.cc
  L1Trigger/L1TGlobal/src/GlobalBoard.cc
  L1Trigger/L1TGlobal/src/MuCondition.cc
  L1Trigger/L1TMuonOverlap/src/OMTFinputMaker.cc
  L1Trigger/L1TMuonOverlapPhase1/src/Tools/PatternGenerator.cc
  L1Trigger/L1TMuonOverlapPhase1/src/Tools/StubsSimHitsMatching.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41434 Backport to 13_0_X of #41275 Introduce (Robust)ParTAK4 jet tagger, DeepJet model update for Run 3, remove DeepCSV from nano
  DataFormats/BTauReco/interface/ParticleTransformerAK4Features.h
  PhysicsTools/NanoAOD/python/custom_jme_cff.py
  PhysicsTools/NanoAOD/python/jetsAK4_CHS_cff.py
  PhysicsTools/NanoAOD/python/jetsAK4_Puppi_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
  PhysicsTools/NanoAOD/python/nano_cff.py
  PhysicsTools/PatAlgos/python/recoLayer0/bTagging_cff.py
  PhysicsTools/PatAlgos/python/slimming/applyDeepBtagging_cff.py
  PhysicsTools/PatAlgos/python/slimming/miniAOD_tools.py
  PhysicsTools/PatAlgos/python/tools/jetTools.py
  RecoBTag/Configuration/python/RecoBTag_cff.py
  RecoBTag/FeatureTools/interface/ChargedCandidateConverter.h
  RecoBTag/FeatureTools/interface/NeutralCandidateConverter.h
  RecoBTag/FeatureTools/interface/deep_helpers.h
  RecoBTag/FeatureTools/plugins/ParticleTransformerAK4TagInfoProducer.cc
  RecoBTag/FeatureTools/src/ChargedCandidateConverter.cc
  RecoBTag/FeatureTools/src/SecondaryVertexConverter.cc
  RecoBTag/FeatureTools/src/deep_helpers.cc
  RecoBTag/ONNXRuntime/plugins/DeepFlavourONNXJetTagsProducer.cc
  RecoBTag/ONNXRuntime/plugins/ParticleTransformerAK4ONNXJetTagsProducer.cc
  RecoBTag/ONNXRuntime/python/pfParticleTransformerAK4DiscriminatorsJetTags_cfi.py
  RecoBTag/ONNXRuntime/python/pfParticleTransformerAK4_cff.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, requires-external, backport-ok, xpog-approved

#41557 Introduce procModifier for parabolic magnetic field in track building for default iterative tracking
  Configuration/ProcessModifiers/python/trackingParabolicMf_cff.py
  RecoTracker/CkfPattern/python/CkfTrackCandidates_cfi.py
  RecoTracker/CkfPattern/python/CkfTrajectories_cfi.py
  RecoTracker/CkfPattern/python/CkfTrajectoryBuilder_cfi.py
  RecoTracker/CkfPattern/python/GroupedCkfTrajectoryBuilder_cfi.py
  RecoTracker/IterativeTracking/python/DetachedQuadStep_cff.py
  RecoTracker/IterativeTracking/python/DetachedTripletStep_cff.py
  RecoTracker/IterativeTracking/python/DisplacedGeneralStep_cff.py
  RecoTracker/IterativeTracking/python/DisplacedRegionalStep_cff.py
  RecoTracker/IterativeTracking/python/HighPtTripletStep_cff.py
  RecoTracker/IterativeTracking/python/InitialStepPreSplitting_cff.py
  RecoTracker/IterativeTracking/python/InitialStep_cff.py
  RecoTracker/IterativeTracking/python/JetCoreRegionalStep_cff.py
  RecoTracker/IterativeTracking/python/LowPtBarrelTripletStep_cff.py
  RecoTracker/IterativeTracking/python/LowPtForwardTripletStep_cff.py
  RecoTracker/IterativeTracking/python/LowPtQuadStep_cff.py
  RecoTracker/IterativeTracking/python/LowPtTripletStep_cff.py
  RecoTracker/IterativeTracking/python/MixedTripletStep_cff.py
  RecoTracker/IterativeTracking/python/PixelLessStep_cff.py
  RecoTracker/IterativeTracking/python/PixelPairStep_cff.py
  RecoTracker/IterativeTracking/python/TobTecStep_cff.py
  RecoTracker/TkNavigation/plugins/NavigationSchoolESProducer.cc
  RecoTracker/TkNavigation/python/NavigationSchoolESProducer_cfi.py
  RecoTracker/TrackProducer/python/TrackProducerIterativeDefault_cfi.py
Labels: operations-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#41503 [ALCA] [LLVM16]Fix set but unused variables warnings
  Alignment/CocoaFit/src/Fit.cc
  Alignment/CocoaFit/src/FittedEntriesManager.cc
  Alignment/CommonAlignmentMonitor/plugins/AlignmentStats.cc
  Alignment/Geners/src/ClassId.cc
  Alignment/MillePedeAlignmentAlgorithm/src/MillePedeMonitor.cc
  Alignment/MuonAlignment/plugins/MuonGeometryArrange.cc
  Alignment/MuonAlignmentAlgorithms/plugins/CSCPairResidualsConstraint.cc
  Alignment/MuonAlignmentAlgorithms/src/MuonResiduals1DOFFitter.cc
  Alignment/OfflineValidation/plugins/DiElectronVertexValidation.cc
  Alignment/OfflineValidation/plugins/TrackerGeometryCompare.cc
  Alignment/OfflineValidation/plugins/TrackerGeometryIntoNtuples.cc
  Alignment/OfflineValidation/plugins/ValidationMisalignedTracker.cc
  Alignment/TrackerAlignment/plugins/AlignmentPrescaler.cc
  Alignment/TrackerAlignment/plugins/CosmicRateAnalyzer.cc
  CalibCalorimetry/CaloMiscalibTools/src/MiscalibReaderXML.cc
  CalibCalorimetry/EcalLaserAnalyzer/plugins/EcalMatacqAnalyzer.cc
  CalibMuon/CSCCalibration/interface/CSCCrosstalkDBConditions.h
  CalibMuon/CSCCalibration/interface/CSCGainsDBConditions.h
  CalibMuon/CSCCalibration/interface/CSCNoiseMatrixDBConditions.h
  CalibMuon/CSCCalibration/interface/CSCPedestalsDBConditions.h
  CalibMuon/CSCCalibration/test/stubs/CSCIndexerAnalyzer2.cc
  CalibMuon/CSCCalibration/test/stubs/Compare.cc
  CalibMuon/DTCalibration/plugins/DTGeometryParserFromDDD.cc
  CalibMuon/RPCCalibration/src/RPCCalibSetUp.cc
  CalibPPS/AlignmentRelative/plugins/PPSFastLocalSimulation.cc
  CalibTracker/SiPixelConnectivity/src/SiPixelFedCablingMapBuilder.cc
  CalibTracker/SiPixelESProducers/plugins/SiPixelFakeGainESSource.cc
  CalibTracker/SiPixelESProducers/plugins/SiPixelFakeGainForHLTESSource.cc
  CalibTracker/SiPixelESProducers/plugins/SiPixelFakeGainOfflineESSource.cc
  CalibTracker/SiPixelErrorEstimation/src/SiPixelErrorEstimation.cc
  CalibTracker/SiPixelQuality/src/SiPixelStatusManager.cc
  Calibration/EcalCalibAlgos/src/ElectronCalibration.cc
  Calibration/EcalCalibAlgos/src/Pi0FixedMassWindowCalibration.cc
  Calibration/HcalAlCaRecoProducers/plugins/AlCaHcalIsotrkProducer.cc
  Calibration/HcalAlCaRecoProducers/plugins/AlCaIsoTracksFilter.cc
  Calibration/HcalAlCaRecoProducers/plugins/AlCaIsoTracksProducer.cc
  Calibration/HcalCalibAlgos/plugins/HcalIsoTrkAnalyzer.cc
  Calibration/HcalCalibAlgos/plugins/HcalIsoTrkSimAnalyzer.cc
  Calibration/HcalCalibAlgos/test/DiJetAnalyzer.cc
  Calibration/HcalCalibAlgos/test/GammaJetAnalysis.cc
  Calibration/HcalCalibAlgos/test/HcalCorrPFCalculation.cc
  Calibration/HcalCalibAlgos/test/HcalIsoTrackStudy.cc
  Calibration/HcalIsolatedTrackReco/plugins/IsolatedEcalPixelTrackCandidateProducer.cc
  Calibration/HcalIsolatedTrackReco/plugins/IsolatedPixelTrackCandidateL1TProducer.cc
  Calibration/HcalIsolatedTrackReco/plugins/IsolatedPixelTrackCandidateProducer.cc
  Calibration/IsolatedParticles/interface/CaloSimInfo.icc
  Calibration/IsolatedParticles/plugins/IsoTrackCalib.cc
  Calibration/IsolatedParticles/plugins/IsoTrackCalibration.cc
  Calibration/IsolatedParticles/plugins/IsoTrig.cc
  Calibration/Tools/src/DetIdAssociator.cc
  CaloOnlineTools/EcalTools/plugins/EcalPulseShapeGrapher.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#41524 [PDMV] [CLANG] Fix warnings reported by llvm16 in CLANG IBs
  Configuration/Skimming/src/LeptonSkimming.cc
  DPGAnalysis/Skims/src/CSCSkim.cc
  DPGAnalysis/Skims/src/RPCRecHitFilter.cc
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, code-checks-approved

#41545 Backport to 13_1_X of #41275 Introduce (Robust)ParTAK4 jet tagger, DeepJet model update for Run 3, remove DeepCSV from nano
  DataFormats/BTauReco/interface/ParticleTransformerAK4Features.h
  PhysicsTools/NanoAOD/python/custom_jme_cff.py
  PhysicsTools/NanoAOD/python/jetsAK4_CHS_cff.py
  PhysicsTools/NanoAOD/python/jetsAK4_Puppi_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
  PhysicsTools/NanoAOD/python/nano_cff.py
  PhysicsTools/PatAlgos/python/recoLayer0/bTagging_cff.py
  PhysicsTools/PatAlgos/python/slimming/applyDeepBtagging_cff.py
  PhysicsTools/PatAlgos/python/slimming/miniAOD_tools.py
  PhysicsTools/PatAlgos/python/tools/jetTools.py
  RecoBTag/Configuration/python/RecoBTag_cff.py
  RecoBTag/FeatureTools/interface/ChargedCandidateConverter.h
  RecoBTag/FeatureTools/interface/NeutralCandidateConverter.h
  RecoBTag/FeatureTools/interface/deep_helpers.h
  RecoBTag/FeatureTools/plugins/ParticleTransformerAK4TagInfoProducer.cc
  RecoBTag/FeatureTools/src/ChargedCandidateConverter.cc
  RecoBTag/FeatureTools/src/SecondaryVertexConverter.cc
  RecoBTag/FeatureTools/src/deep_helpers.cc
  RecoBTag/ONNXRuntime/plugins/DeepFlavourONNXJetTagsProducer.cc
  RecoBTag/ONNXRuntime/plugins/ParticleTransformerAK4ONNXJetTagsProducer.cc
  RecoBTag/ONNXRuntime/python/pfParticleTransformerAK4DiscriminatorsJetTags_cfi.py
  RecoBTag/ONNXRuntime/python/pfParticleTransformerAK4_cff.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, requires-external, backport-ok, xpog-approved

#41591 [12_4_X] WFs to test era Run3_2022_rereco
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, requires-external

#41603 [CLANG] remove unused variables
  DQMOffline/JetMET/src/HCALRecHitAnalyzer.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-pending, code-checks-approved

#41568 do not throw exception in `Trigger{Bx,Rates}Monitor` if L1-uGT results are unavailable
  DQM/HLTEvF/plugins/TriggerBxMonitor.cc
  DQM/HLTEvF/plugins/TriggerRatesMonitor.cc
  DQM/HLTEvF/test/testTriggerMonitors.sh
Labels: dqm-approved, hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41604 Record max for VSize and RSS in SimpleMemoryCheck
  FWCore/Services/plugins/SimpleMemoryCheck.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41573 do not allow crashes in `isEmpty(int bx)` method of `BXVector` [`13_1_X`]
  DataFormats/L1Trigger/interface/BXVector.h
  DataFormats/L1Trigger/interface/BXVector.icc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, backport-ok

#41574 do not allow crashes in `isEmpty(int bx)` method of `BXVector` [`13_0_X`]
  DataFormats/L1Trigger/interface/BXVector.h
  DataFormats/L1Trigger/interface/BXVector.icc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, backport-ok

#41576 improve how `HLTPrescaler` checks presence of (Stage-2) L1-uGT results [`13_1_X`]
  HLTrigger/HLTcore/plugins/HLTPrescaler.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#41577 improve how `HLTPrescaler` checks presence of (Stage-2) L1-uGT results [`13_0_X`]
  HLTrigger/HLTcore/plugins/HLTPrescaler.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#41598 [13_0_X] Make sure to report an error if process.options.numberOfThreads has wrong type
  FWCore/Framework/test/BuildFile.xml
  FWCore/Framework/test/run_wrongOptionsType.sh
  FWCore/Framework/test/test_wrongOptionsType_cfg.py
  FWCore/ParameterSet/src/ThreadsInfo.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved

#41563 [13_1_X] HGCAL: Fix HGCHEB isSiFE configuration
  HLTrigger/Configuration/python/HLT_75e33/modules/HGCalUncalibRecHitL1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/HGCalUncalibRecHit_cfi.py
  RecoLocalCalo/HGCalRecProducers/python/HGCalUncalibRecHit_cfi.py
Labels: hlt-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, backport-ok, hgcal

#41496 Change from numberOfMatches() to segment number in DisplacedMuonFilterProducer
  PhysicsTools/PatAlgos/plugins/DisplacedMuonFilterProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved, muon

#41566 add checks for extra_ availability in recoTrack innerOk/outerOk
  DataFormats/TrackReco/interface/Track.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#41594 [L1-UPGRADE] [CLANG] Fix warnings reported by llvm16 in CLANG IBs
  L1Trigger/L1CaloTrigger/plugins/L1EGammaCrystalsEmulatorProducer.cc
  L1Trigger/L1TTrackMatch/plugins/L1TkHTMissEmulatorProducer.cc
  L1Trigger/Phase2L1ParticleFlow/src/corrector.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#41609 Update run3 data GTs
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#41614 Multi signature gen filter
  GeneratorInterface/GenFilters/plugins/MCMultiSignatureFilter.cc
Labels: generators-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41518 PPS DQM plots for new RPOTs 45-220-NR-HR and 56-220-NR-HR (backport of 41389)
  DQM/CTPPS/plugins/CTPPSCommonDQMSource.cc
  DataFormats/OnlineMetaData/interface/CTPPSRecord.h
  DataFormats/OnlineMetaData/src/CTPPSRecord.cc
  DataFormats/OnlineMetaData/test/dump_run000001_event6135_fed1022.txt
  DataFormats/OnlineMetaData/test/onlineMetaDataRecord_t.cpp
Labels: daq-approved, dqm-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, backport, ctpps

#41570 do not throw exception in `Trigger{Bx,Rates}Monitor` if L1-uGT results are unavailable [`13_0_X`]
  DQM/HLTEvF/plugins/TriggerBxMonitor.cc
  DQM/HLTEvF/plugins/TriggerRatesMonitor.cc
  DQM/HLTEvF/test/testTriggerMonitors.sh
Labels: dqm-approved, hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#41620 [12_6_X] Make sure to report an error if process.options.numberOfThreads has wrong type
  FWCore/Framework/test/BuildFile.xml
  FWCore/Framework/test/run_wrongOptionsType.sh
  FWCore/Framework/test/test_wrongOptionsType_cfg.py
  FWCore/ParameterSet/src/ThreadsInfo.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved

#41590 L1T Phase 2: correlator-to-GT interface for jets and MHT
  DataFormats/L1TParticleFlow/interface/PFJet.h
  DataFormats/L1TParticleFlow/interface/sums.h
  DataFormats/L1TParticleFlow/src/classes_def.xml
  L1Trigger/Phase2L1ParticleFlow/plugins/L1MHtPFProducer.cc
  L1Trigger/Phase2L1ParticleFlow/plugins/L1SeedConePFJetProducer.cc
  L1Trigger/Phase2L1ParticleFlow/python/l1pfJetMet_cff.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#41569 do not throw exception in `Trigger{Bx,Rates}Monitor` if L1-uGT results are unavailable [`13_1_X`]
  DQM/HLTEvF/plugins/TriggerBxMonitor.cc
  DQM/HLTEvF/plugins/TriggerRatesMonitor.cc
  DQM/HLTEvF/test/testTriggerMonitors.sh
Labels: dqm-approved, hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#41641 [10.6.X] Oracle test: Use fake/random DB name
  OnlineDB/Oracle/test/test.cpp
Labels: fully-signed, tests-approved, db-approved, orp-approved, backport-ok

#41640 [12.4.X] Oracle test: Use fake/random DB name
  OnlineDB/Oracle/test/test.cpp
Labels: fully-signed, tests-approved, db-approved, orp-approved, backport-ok

#41636 [13.0.X] Oracle test: Use fake/random DB name
  OnlineDB/Oracle/test/test.cpp
Labels: fully-signed, tests-approved, db-approved, orp-approved, backport-ok

#41635 [13.1.X] Oracle test: Use fake/random DB name
  OnlineDB/Oracle/test/test.cpp
Labels: fully-signed, tests-approved, db-approved, orp-approved, backport-ok

#41638 [12.5.X] Oracle test: Use fake/random DB name
  OnlineDB/Oracle/test/test.cpp
Labels: fully-signed, tests-approved, db-approved, orp-approved, backport-ok

#41611 [13_0_X] Update run3 data GTs
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, requires-external, backport-ok

#41631 Add unit test for trigger::TriggerEvent format
  DataFormats/HLTReco/README.md
  DataFormats/HLTReco/test/BuildFile.xml
  DataFormats/HLTReco/test/TestReadTriggerEvent.cc
  DataFormats/HLTReco/test/TestTriggerEventFormat.sh
  DataFormats/HLTReco/test/TestWriteTriggerEvent.cc
  DataFormats/HLTReco/test/create_TriggerEvent_test_file_cfg.py
  DataFormats/HLTReco/test/test_readTriggerEvent_cfg.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#41642 L1T: Add puppi jets & MET to L1Ntuples
  L1Trigger/L1TNtuples/interface/L1AnalysisRecoJetDataFormat.h
  L1Trigger/L1TNtuples/interface/L1AnalysisRecoMetDataFormat.h
  L1Trigger/L1TNtuples/plugins/L1JetRecoTreeProducer.cc
  L1Trigger/L1TNtuples/python/customiseL1CustomReco.py
  L1Trigger/L1TNtuples/python/l1JetRecoTree_cfi.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41623 use qScale in pixel cluster charge reweighting
  SimTracker/Common/interface/SiPixelChargeReweightingAlgorithm.h
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#41643 [10_6_X] Make sure to report an error if process.options.numberOfThreads has wrong type
  FWCore/Framework/bin/cmsRun.cpp
  FWCore/Framework/test/BuildFile.xml
  FWCore/Framework/test/run_wrongOptionsType.sh
  FWCore/Framework/test/test_wrongOptionsType_cfg.py
Labels: core-approved, fully-signed, tests-approved, orp-approved

#41610 [13_1_X] Update run3 data GTs
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok

#41627 [12_4_X] Make sure to report an error if process.options.numberOfThreads has wrong type
  FWCore/Framework/test/BuildFile.xml
  FWCore/Framework/test/run_wrongOptionsType.sh
  FWCore/Framework/test/test_wrongOptionsType_cfg.py
  FWCore/ParameterSet/src/ThreadsInfo.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved

#41612 [12_4_X] Update run3 offline data GT for 2022ABCDE partial rereco
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok

#41599 [10_6_X] Fixes for XRootD 5.x
  Utilities/XrdAdaptor/BuildFile.xml
  Utilities/XrdAdaptor/plugins/BuildFile.xml
  Utilities/XrdAdaptor/plugins/XrdStorageMaker.cc
  Utilities/XrdAdaptor/src/XrdHostHandler.hh
  Utilities/XrdAdaptor/src/XrdRequestManager.cc
  Utilities/XrdAdaptor/src/XrdSource.cc
Labels: core-approved, fully-signed, tests-rejected, orp-approved, requires-external

#41626 [12_5_X] Make sure to report an error if process.options.numberOfThreads has wrong type
  FWCore/Framework/test/BuildFile.xml
  FWCore/Framework/test/run_wrongOptionsType.sh
  FWCore/Framework/test/test_wrongOptionsType_cfg.py
  FWCore/ParameterSet/src/ThreadsInfo.cc
Labels: core-approved, fully-signed, tests-rejected, orp-approved

#41637 [12.6.X] Oracle test: Use fake/random DB name
  OnlineDB/Oracle/test/test.cpp
Labels: fully-signed, tests-approved, db-approved, orp-approved, backport-ok

#41546 Add flag to drop quality of low-pt TkMuons without an SA match
  L1Trigger/Configuration/python/SimL1Emulator_cff.py
  L1Trigger/Phase2L1GMT/plugins/Phase2L1TGMTFilter.cc
  L1Trigger/Phase2L1GMT/python/gmt_cfi.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41653 [SIMULATION] [CLANG] Check Comparison results in Simulation modules when fixing unused variable warnings
  SimG4CMS/Calo/plugins/CaloSimHitAnalysis.cc
  SimG4CMS/Calo/plugins/CaloSimHitStudy.cc
  SimG4CMS/Calo/src/CaloSD.cc
  SimG4CMS/Calo/src/HFGflash.cc
  SimG4CMS/Calo/src/HFShower.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41592 Changed delayed jet skim to add HT350 and L1Tau paths
  Configuration/Skimming/python/PDWG_EXODelayedJet_cff.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, code-checks-approved

#41652 Adjust axis ranges of DQM plots for track residuals
  DQM/SiPixelPhase1Track/plugins/SiPixelPhase1ResidualsExtra.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#41655 Replaced AK8 and AK8 paths for ParticleNet DQMOffline monitoring for 2023 (master)
  DQMOffline/Trigger/python/DQMOffline_Trigger_cff.py
  DQMOffline/Trigger/python/ParticleNetAK4BTagMonitoring_cfi.py
  DQMOffline/Trigger/python/ParticleNetAK8HbbTagMonitoring_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41665 extend x-axis range of "vs-lumi" harvesting outputs in HLT online-DQM
  DQM/Integration/python/clients/hlt_dqm_clientPB-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41668 [DAQ] fix unsafe vector handling in input sources (13_2_X)
  EventFilter/Utilities/interface/DAQSource.h
  EventFilter/Utilities/interface/FedRawDataInputSource.h
  EventFilter/Utilities/src/DAQSource.cc
  EventFilter/Utilities/src/FedRawDataInputSource.cc
Labels: daq-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41597 Produce a fake `BeamSpot` object in `BeamSpotOnlineProducer` when using transient record logic and `OnlineBeamSpotESProducer` returned a fake
  CondFormats/BeamSpotObjects/interface/BeamSpotOnlineObjects.h
  CondFormats/BeamSpotObjects/src/BeamSpotOnlineObjects.cc
  CondTools/BeamSpot/plugins/BeamSpotOnlineFromOfflineConverter.cc
  CondTools/BeamSpot/test/BeamSpotOnlineFromOfflineConverter_cfg.py
  CondTools/BeamSpot/test/testReadWriteOnlineBSFromDB.sh
  Configuration/AlCa/python/autoCond.py
  HLTrigger/Configuration/python/HLT_75e33/eventsetup/hltOnlineBeamSpotESProducer_cfi.py
  RecoVertex/BeamSpotProducer/plugins/BeamSpotOnlineProducer.cc
Labels: alca-approved, hlt-approved, reconstruction-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, tracking

#41361 Enforce cms python types in configurations
  FWCore/Framework/test/run_wrongOptionsType.sh
  FWCore/Framework/test/test_wrongOptionsType_cfg.py
  FWCore/ParameterSet/python/Config.py
  FWCore/ParameterSet/python/MassReplace.py
  FWCore/ParameterSet/python/Mixins.py
  FWCore/ParameterSet/python/Types.py
  PhysicsTools/PatAlgos/python/producersLayer1/muonProducer_cfi.py
  Validation/Configuration/python/ECALHCAL.py
Labels: core-approved, dqm-approved, reconstruction-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#41644 Enable Geant4 options to speed-up FullSim
  SimG4Core/Application/python/g4SimHits_cfi.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41647 Fix unknown warning group warnings
  DataFormats/L1TParticleFlow/interface/datatypes.h
  DataFormats/L1TParticleFlow/interface/gt_datatypes.h
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#41664 [13_2_X] update relval matrix to add WFs for 2022E era
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#41667 extend x-axis range of "vs-lumi" harvesting outputs in HLT online-DQM [`13_0_X`]
  DQM/Integration/python/clients/hlt_dqm_clientPB-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#41646 use `HLT:@relval2022_postEE` in re-reco MC RelVal using 'postEE' GT [`12_4_X` only]
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved

#41622 Changed delayed jet skim to add HT350 and L1Tau paths [13_0_X]
  Configuration/Skimming/python/PDWG_EXODelayedJet_cff.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, backport-ok

#41621 Changed delayed jet skim to add HT350 and L1Tau paths [13_1_X]
  Configuration/Skimming/python/PDWG_EXODelayedJet_cff.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, backport-ok

#41669 [DAQ] fix unsafe vector handling in input sources (13_1_X)
  EventFilter/Utilities/interface/DAQSource.h
  EventFilter/Utilities/interface/FedRawDataInputSource.h
  EventFilter/Utilities/src/DAQSource.cc
  EventFilter/Utilities/src/FedRawDataInputSource.cc
Labels: daq-approved, fully-signed, tests-approved, orp-approved, backport-ok

#41683 Fix mismatched array bounds in tracklet displaced calculator function signature
  L1Trigger/TrackFindingTracklet/src/TrackletCalculatorDisplaced.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41680 [RECONSTRUCTION] [CLANG] Fix warnings reported by clang-16
  PhysicsTools/IsolationAlgos/src/EventDependentAbsVetos.cc
  PhysicsTools/SelectorUtils/src/WPlusJetsEventSelector.cc
  TrackingTools/TrackRefitter/plugins/TracksToTrajectories.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#41670 [DAQ] fix unsafe vector handling in FedRawData input source (13_0_X)
  EventFilter/Utilities/interface/FedRawDataInputSource.h
  EventFilter/Utilities/src/FedRawDataInputSource.cc
Labels: daq-approved, fully-signed, tests-approved, orp-approved, backport-ok

#41685 L1T: updates for firmware testing and unpacker update
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/MPUnpacker_0x10010033.cc
  EventFilter/L1TRawToDigi/src/MP7FileReader.cc
  EventFilter/L1TRawToDigi/utils/unpackBuffers-CaloStage2.py
  L1Trigger/L1TCalorimeter/plugins/L1TStage2CaloLayer2Comp.cc
  L1Trigger/L1TCalorimeter/python/convertParamsToOnlineFormat.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41678 Run3-gex161X Try to avoid compilation warnings in SimCalorimetry/EcalElectronicsEmulation/bin/GenABIO.cc
  SimCalorimetry/EcalElectronicsEmulation/bin/GenABIO.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41550 Fix numeric issues in PFCand scaling, add some debug output
  DataFormats/ParticleFlowCandidate/src/PFCandidate.cc
  RecoParticleFlow/PFProducer/plugins/PFLinker.cc
  RecoParticleFlow/PFProducer/src/PFAlgo.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, pf

#41613 Update Phase-2 L1T Correlator code to l1ct-125x-v1.16
  DataFormats/L1TParticleFlow/interface/gt_datatypes.h
  L1Trigger/Phase2L1ParticleFlow/python/l1ctLayer2EG_cff.py
  L1Trigger/Phase2L1ParticleFlow/test/make_l1ctLayer1_dumpFiles_cfg.py
  L1Trigger/Phase2L1ParticleFlow/test/make_l1ct_binaryFiles_cfg.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, requires-external, code-checks-approved

#41681 [L1] [CLANG] Fix warnings reported by clang-16
  L1Trigger/DTTriggerServerPhi/src/DTTSPhi.cc
  L1Trigger/GlobalTrigger/plugins/L1GlobalTrigger.cc
  L1Trigger/GlobalTrigger/src/L1GtCaloCondition.cc
  L1Trigger/GlobalTrigger/src/L1GtMuonCondition.cc
  L1Trigger/RPCTrigger/plugins/RPCConeBuilder.cc
  L1Trigger/RPCTrigger/src/RPCPac.cc
  L1Trigger/RPCTrigger/src/RPCStripsRing.cc
  L1Trigger/RegionalCaloTrigger/plugins/L1RCTTestAnalyzer.cc
  L1Trigger/TrackFindingTracklet/src/TrackletProcessor.cc
  L1Trigger/TrackerTFP/plugins/ProducerGP.cc
  L1Trigger/TrackerTFP/plugins/ProducerHT.cc
  L1Trigger/TrackerTFP/plugins/ProducerKF.cc
  L1Trigger/TrackerTFP/plugins/ProducerKFin.cc
  L1Trigger/TrackerTFP/plugins/ProducerMHT.cc
  L1Trigger/TrackerTFP/plugins/ProducerTT.cc
  L1Trigger/TrackerTFP/plugins/ProducerZHT.cc
  L1Trigger/TrackerTFP/src/DistServer.cc
  L1Trigger/TrackerTFP/test/ProducerAS.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#41682 [L1-UPGRADE] [CLANG] Fix warnings reported by clang-16
  L1Trigger/DTTriggerPhase2/src/MuonPathAnalyzerInChamber.cc
  L1Trigger/TrackerDTC/plugins/ProducerED.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, trk

#41695 [CORE] [CLANG] Fix warnings reported by llvm16 in CLANG IBs
  DataFormats/Common/test/testValueMap.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41689 [13_2] Unique upgrade workflow ID
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#41688 [12_4] Unique upgrade workflow ID
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved

#41608 13_1 backport: Fix numeric issues in PFCand scaling, add some debug output
  DataFormats/ParticleFlowCandidate/src/PFCandidate.cc
  RecoParticleFlow/PFProducer/plugins/PFLinker.cc
  RecoParticleFlow/PFProducer/src/PFAlgo.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, pf

#41675 Adjust axis ranges of DQM plots for track residuals ( 13_0_X )
  DQM/SiPixelPhase1Track/plugins/SiPixelPhase1ResidualsExtra.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok, trk

#41676 Adjust axes of DQM plots for track residuals ( 13_1_X )
  DQM/SiPixelPhase1Track/plugins/SiPixelPhase1ResidualsExtra.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok, trk

#41694 Reverting to AK4 CHS jets for DQM PNet monitoring
  DQMOffline/Trigger/python/DQMOffline_Trigger_cff.py
  DQMOffline/Trigger/python/ParticleNetAK4BTagMonitoring_cfi.py
  DQMOffline/Trigger/python/ParticleNetAK8HbbTagMonitoring_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#41654 [9_4_X] Make sure to report an error if process.options.numberOfThreads has wrong type
  FWCore/Framework/bin/cmsRun.cpp
  FWCore/Framework/src/EventProcessor.cc
  FWCore/Framework/test/BuildFile.xml
  FWCore/Framework/test/run_wrongOptionsType.sh
  FWCore/Framework/test/test_wrongOptionsType_cfg.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, backport-ok

#41691 Add Phase-2 Pixel LA payload creation code, config and unit test
  CondTools/SiPixel/plugins/SiPixelLorentzAngleDBLoader.cc
  CondTools/SiPixel/test/SiPixelLorentzAngleDBLoader_Phase2_cfg.py
  CondTools/SiPixel/test/createTestDBObjects.sh
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, trk

#41711 L1T: remove ESPrefer in L1Ntuples
  L1Trigger/L1TNtuples/python/customiseL1CustomReco.py
Labels: l1-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#41649 PPS Pixel DQM: assign errors to right plots
  DQM/CTPPS/plugins/CTPPSPixelDQMSource.cc
  DQM/CTPPS/python/ctppsDQM_cff.py
  DQM/CTPPS/python/ctppsPixelDQMSource_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, ctpps

#41351 improve implementation of `HLTJetTag<T>` plugin template
  HLTrigger/btau/plugins/HLTJetTag.cc
  HLTrigger/btau/plugins/HLTJetTag.h
  HLTrigger/btau/plugins/modules.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41699 [13_0_X] update relval matrix to add WFs for 2022E era
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, backport-ok

#41290 Phase-2 L1T e/g: new Composite Electron ID
  DataFormats/L1TCorrelator/interface/TkElectron.h
  DataFormats/L1TCorrelator/src/classes_def.xml
  DataFormats/L1TParticleFlow/interface/PFCandidate.h
  DataFormats/L1TParticleFlow/interface/PFCluster.h
  DataFormats/L1TParticleFlow/interface/bit_encoding.h
  DataFormats/L1TParticleFlow/interface/datatypes.h
  DataFormats/L1TParticleFlow/interface/layer1_emulator.h
  DataFormats/L1TParticleFlow/interface/layer1_objs.h
  DataFormats/L1TParticleFlow/src/PFCandidate.cc
  DataFormats/L1TParticleFlow/src/classes_def.xml
  DataFormats/L1TParticleFlow/src/layer1_emulator.cpp
  L1Trigger/Phase2L1ParticleFlow/interface/common/inversion.h
  L1Trigger/Phase2L1ParticleFlow/interface/conifer.h
  L1Trigger/Phase2L1ParticleFlow/interface/egamma/pftkegalgo_ref.h
  L1Trigger/Phase2L1ParticleFlow/interface/l1-converters/tkinput_ref.h
  L1Trigger/Phase2L1ParticleFlow/plugins/L1TCorrelatorLayer1Producer.cc
  L1Trigger/Phase2L1ParticleFlow/plugins/L1TCtL2EgProducer.cc
  L1Trigger/Phase2L1ParticleFlow/plugins/PFClusterProducerFromHGC3DClusters.cc
  L1Trigger/Phase2L1ParticleFlow/python/l1TkEgAlgoEmulator_cfi.py
  L1Trigger/Phase2L1ParticleFlow/python/l1TkEgAlgo_cfi.py
  L1Trigger/Phase2L1ParticleFlow/python/l1ctLayer1_cff.py
  L1Trigger/Phase2L1ParticleFlow/python/l1ctLayer2EG_cff.py
  L1Trigger/Phase2L1ParticleFlow/src/egamma/pfeginput_ref.cpp
  L1Trigger/Phase2L1ParticleFlow/src/egamma/pftkegalgo_ref.cpp
  L1Trigger/Phase2L1ParticleFlow/src/l1-converters/hgcalinputt_ref.cpp
  L1Trigger/Phase2L1ParticleFlow/src/l1-converters/tkinput_ref.cpp
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, requires-external, code-checks-approved
