Repository cms-sw/cmssw, pull requests merged in 2023-01, with the labels that each got.

#40414 Phase2-hgx335A Take out the methods of HGCalGeometryMode from HGCalParametersFromDD.cc to enable clean separation of full HGCal and TB HGCal
  Geometry/HGCalCommonData/interface/HGCalGeometryMode.h
  Geometry/HGCalCommonData/src/HGCalGeometryMode.cc
  Geometry/HGCalCommonData/src/HGCalParametersFromDD.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#40380 Hide framework classes from ROOT in SiStripTools
  DPGAnalysis/SiStripTools/interface/Multiplicities.h
  DPGAnalysis/SiStripTools/plugins/ByMultiplicityEventFilter.cc
  DPGAnalysis/SiStripTools/plugins/MultiplicityAlgorithms.cc
  DPGAnalysis/SiStripTools/plugins/MultiplicityAlgorithms.h
  DPGAnalysis/SiStripTools/src/classes.h
  DPGAnalysis/SiStripTools/src/classes_def.xml
Labels: analysis-pending, pending-signatures, tests-approved, orp-approved, code-checks-approved

#40416 Minor cleanup of Geant4 physics configuration
  SimG4Core/Application/src/ParametrisedEMPhysics.cc
  SimG4Core/PhysicsLists/interface/CMSEmStandardPhysics.h
  SimG4Core/PhysicsLists/interface/CMSEmStandardPhysicsEMZ.h
  SimG4Core/PhysicsLists/interface/CMSEmStandardPhysicsLPM.h
  SimG4Core/PhysicsLists/interface/CMSEmStandardPhysicsXS.h
  SimG4Core/PhysicsLists/src/CMSEmStandardPhysics.cc
  SimG4Core/PhysicsLists/src/CMSEmStandardPhysicsEMZ.cc
  SimG4Core/PhysicsLists/src/CMSEmStandardPhysicsLPM.cc
  SimG4Core/PhysicsLists/src/CMSEmStandardPhysicsXS.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40422 Additional info when exception thrown in SharedMemory
  FWCore/SharedMemory/src/WriteBuffer.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40411 Fix use-after-move in L1MuDTTrackFinder, and some additional modernization
  L1Trigger/DTTrackFinder/interface/L1MuDTTrackFinder.h
  L1Trigger/DTTrackFinder/src/L1MuDTEtaProcessor.cc
  L1Trigger/DTTrackFinder/src/L1MuDTEtaProcessor.h
  L1Trigger/DTTrackFinder/src/L1MuDTSecProcMap.cc
  L1Trigger/DTTrackFinder/src/L1MuDTSecProcMap.h
  L1Trigger/DTTrackFinder/src/L1MuDTTrackFinder.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40378 ECAL Phase 2 - Skip new ALCA step for Phase 2 ECAL development WFs
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved, ecal

#40425 Added removeSchedulingTokensFromModuleLabel function
  FWCore/Utilities/interface/path_configuration.h
  FWCore/Utilities/src/path_configuration.cc
  FWCore/Utilities/test/test_catch2_path_configuration.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40377 Add dictionaries for FindUsingAdvance in TrackReco
  DataFormats/TrackReco/src/classes_def.xml
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40392 Added missing dictionary for UserHolder for PackedCandidate Ptr
  DataFormats/PatCandidates/src/classes_def_user.xml
  DataFormats/PatCandidates/src/classes_user.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#40291 Update to include the timing reco through weights
  RecoLocalCalo/EcalRecProducers/plugins/EcalUncalibRecHitPhase2WeightsProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved, ecal

#40429 Migrate FWCore/Utilities tests to use catch2
  FWCore/Utilities/test/BuildFile.xml
  FWCore/Utilities/test/CRC32Calculator_t.cpp
  FWCore/Utilities/test/Digest_t.cpp
  FWCore/Utilities/test/EDMException_t.cpp
  FWCore/Utilities/test/Exception_t.cpp
  FWCore/Utilities/test/Guid_t.cpp
  FWCore/Utilities/test/InputTag_t.cpp
  FWCore/Utilities/test/clone_ptr_t.cpp
  FWCore/Utilities/test/isFinite_t.cpp
  FWCore/Utilities/test/test_catch2_CRC32Calculator.cc
  FWCore/Utilities/test/test_catch2_Digest.cc
  FWCore/Utilities/test/test_catch2_EDMException.cc
  FWCore/Utilities/test/test_catch2_Exception.cc
  FWCore/Utilities/test/test_catch2_Guid.cc
  FWCore/Utilities/test/test_catch2_InputTag.cc
  FWCore/Utilities/test/test_catch2_clone_ptr.cc
  FWCore/Utilities/test/test_catch2_isFinite.cc
  FWCore/Utilities/test/test_catch2_value_ptr.cc
  FWCore/Utilities/test/value_ptr_t.cpp
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40406 include `MAXFEDID` in FED-ID loops
  Calibration/HcalAlCaRecoProducers/plugins/AlCaHcalNoiseProducer.cc
  Calibration/HcalIsolatedTrackReco/plugins/ECALRegFEDSelector.cc
  Calibration/HcalIsolatedTrackReco/plugins/SiStripRegFEDSelector.cc
  Calibration/HcalIsolatedTrackReco/plugins/SubdetFEDSelector.cc
  DataFormats/FEDRawData/src/FEDNumbering.cc
  EventFilter/HcalRawToDigi/plugins/HcalCalibFEDSelector.cc
  EventFilter/Phase2TrackerRawToDigi/plugins/Phase2TrackerCommissioningDigiProducer.cc
  EventFilter/Phase2TrackerRawToDigi/plugins/Phase2TrackerDigiProducer.cc
  EventFilter/Phase2TrackerRawToDigi/test/plugins/Phase2TrackerFEDTestAnalyzer.cc
  EventFilter/RawDataCollector/src/RawDataCollectorByLabel.cc
Labels: alca-approved, daq-approved, reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#40381 Phase2-hgx333C Take care of invalid SiHits for V16 geometry of HGCal
  Geometry/HGCalCommonData/src/HGCalWaferMask.cc
  Validation/HGCalValidation/scripts/testHGCalSimSingleMuonPt100_cfg.py
Labels: dqm-approved, geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#40404 Phase2-hgx334B Extend some of the calling sequences of Geometry to include zside which is needed to treat correctly cassette shifts
  Geometry/CaloTopology/src/HGCalTopology.cc
  Geometry/HGCalCommonData/interface/HGCalCassette.h
  Geometry/HGCalCommonData/interface/HGCalDDDConstants.h
  Geometry/HGCalCommonData/src/HGCalCassette.cc
  Geometry/HGCalCommonData/src/HGCalDDDConstants.cc
  Geometry/HGCalCommonData/test/HGCalNumberingTester.cc
  Geometry/HGCalCommonData/test/HGCalPartialWaferTester.cc
  Geometry/HGCalCommonData/test/HGCalValidHexTester.cc
  Geometry/HGCalCommonData/test/HGCalValidityTester.cc
  Geometry/HGCalCommonData/test/HGCalWaferIDTester.cc
  Geometry/HGCalCommonData/test/HGCalWaferTester.cc
  Geometry/HGCalGeometry/src/HGCalGeometry.cc
  Geometry/HGCalGeometry/src/HGCalGeometryLoader.cc
  Geometry/HGCalGeometry/test/HGCalGeometryNewCornersTest.cc
  Geometry/HGCalGeometry/test/HGCalGeometryRotTest.cc
  Geometry/HGCalGeometry/test/HGCalWaferCheck.cc
  Geometry/HGCalGeometry/test/HGCalWaferTypeTester.cc
  RecoLocalCalo/HGCalRecAlgos/interface/HGCalUncalibRecHitRecWeightsAlgo.h
  RecoLocalCalo/HGCalRecProducers/plugins/HeterogeneousHGCalHEFCellPositionsFiller.cc
  SimCalorimetry/HGCalSimAlgos/interface/HGCalSiNoiseMap.icc
  SimCalorimetry/HGCalSimProducers/interface/HGCDigitizerBase.h
  SimCalorimetry/HGCalSimProducers/plugins/HGCDigitizer.cc
  SimG4CMS/Calo/interface/HGCalNumberingScheme.h
  SimG4CMS/Calo/plugins/HGCalTestPartialWaferHits.cc
  SimG4CMS/Calo/src/HFNoseNumberingScheme.cc
  SimG4CMS/Calo/src/HGCMouseBite.cc
  SimG4CMS/Calo/src/HGCalNumberingScheme.cc
  SimG4CMS/Calo/src/HGCalSD.cc
  Validation/HGCalValidation/plugins/HGCGeometryValidation.cc
  Validation/HGCalValidation/plugins/HGCalSimHitStudy.cc
  Validation/HGCalValidation/plugins/HGCalSimHitValidation.cc
  Validation/HGCalValidation/plugins/HGCalTestPartialWaferRecHits.cc
  Validation/HGCalValidation/test/HGCHitValidation.cc
  Validation/HGCalValidation/test/HGCalWaferStudy.cc
Labels: dqm-approved, geometry-approved, reconstruction-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#40409 Migrate TestLegacy* DQM modules to edm::one::EDAnalyzer
  DQMServices/Core/README.md
  DQMServices/Demo/test/TestDQMEDAnalyzer.cc
  DQMServices/Demo/test/TestHarvester.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40418 make `datafnPosition` parameter configurable in online-DQM clients
  DQM/Integration/python/config/inputsource_cfi.py
  DQM/Integration/python/config/pbsource_cfi.py
  DQM/Integration/python/config/unittestinputsource_cfi.py
  DQM/Integration/python/config/unitteststreamerinputsource_cfi.py
  DQMServices/StreamerIO/python/DQMProtobufReader_cff.py
  DQMServices/StreamerIO/python/DQMStreamerReader_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40421 Restore DQM live clients process names
  DQM/Integration/python/clients/beam_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamfake_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamhlt_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamhltfake_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beampixel_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/physics_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/pixel_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/pixellumi_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/sistriplas_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#40426 remove access to bare ROOT objects in `HLTFiltersDQMonitor`
  DQMOffline/Trigger/plugins/BuildFile.xml
  DQMOffline/Trigger/plugins/HLTFiltersDQMonitor.cc
  DQMOffline/Trigger/python/DQMOffline_Trigger_cff.py
  DQMOffline/Trigger/python/DQMOffline_Trigger_cosmics_cff.py
  DQMOffline/Trigger/python/HLT_DQM_Offline_cff.py
  DQMOffline/Trigger/test/BuildFile.xml
  DQMOffline/Trigger/test/fv_dqmoffline_sourceclient-file_cfg.py
  DQMOffline/Trigger/test/harvesting_cfg.py
  DQMOffline/Trigger/test/readme.md
  DQMOffline/Trigger/test/testHLTFiltersDQMonitor.sh
  DQMOffline/Trigger/test/testHLTFiltersDQMonitor_cfg.py
  DQMOffline/Trigger/test/triggerSequenceTest_cfg.py
  DQMOffline/Trigger/test/trigger_dqmoffline_cfg.py
  DQMOffline/Trigger/test/trigger_dqmoffline_sourceclient-file_cfg.py
  DQMOffline/Trigger/test/trigger_dqmoffline_sourceclient_relval-file_cfg.py
  DQMOffline/Trigger/test/trigger_dqmoffline_step2_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#40439 guard `TriggerRatesMonitor` against unavailable trigger paths
  DQM/HLTEvF/plugins/TriggerRatesMonitor.cc
Labels: dqm-approved, hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40359 B2G HLT DQM update
  DQMOffline/Trigger/python/B2GMonitoring_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40372 update `SiStripMonitorApproximateCluster` ME ranges
  DQM/Integration/python/clients/sistrip_dqm_sourceclient-live_cfg.py
  DQM/SiStripMonitorApproximateCluster/plugins/SiStripMonitorApproximateCluster.cc
Labels: dqm-pending, pending-signatures, tests-approved, orp-approved, code-checks-approved

#40344 `TrackingMonitor`: extend lumi monitoring for Run-3 to 2.5E34 and remove SCAL in labels
  DQM/TrackingMonitor/python/TrackingMonitor_cfi.py
  DQM/TrackingMonitor/src/TrackingMonitor.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40440 Avoid including `RooNLLVar.h` in CMSSW
  PhysicsTools/TagAndProbe/src/TagProbeFitter.cc
  PhysicsTools/TagAndProbe/test/utilities/ElectronTagAndProbeFitter.C
  PhysicsTools/TagAndProbe/test/utilities/ZeeBkgFit.C
  PhysicsTools/TagAndProbe/test/utilities/fitZCat.C
Labels: analysis-pending, pending-signatures, tests-approved, orp-approved, code-checks-approved

#40444 HCAL: make HBHE zero suppression simulation identical to the data-taking one for Run3
  SimCalorimetry/HcalZeroSuppressionProducers/python/hcalDigisRealistic_cfi.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40449 Avoid defining the unused numSignalAll variable in TagProbeFitter.cc
  PhysicsTools/TagAndProbe/src/TagProbeFitter.cc
Labels: analysis-pending, pending-signatures, tests-approved, orp-approved, code-checks-approved

#40428 use `removeSchedulingTokensFromModuleLabel` in `pat::TriggerObjectStandAlone`
  DataFormats/PatCandidates/src/TriggerObjectStandAlone.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#40452 Add missing include in FWCore/Utilities/src/path_configuration.cc
  FWCore/Utilities/src/path_configuration.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40456 `AlignmentValidation`: remove ROOT6 warning about `RooMinimizer`
  Alignment/OfflineValidation/bin/FitWithRooFit.cc
Labels: alca-approved, fully-signed, tests-rejected, orp-approved, code-checks-approved

#40454 Expanding HLT Configuration Proxy Support and Adding Tunnel Support : 13_X
  HLTrigger/Configuration/python/Tools/confdb.py
  HLTrigger/Configuration/python/Tools/confdbOfflineConverter.py
  HLTrigger/Configuration/python/Tools/options.py
  HLTrigger/Configuration/scripts/hltGetConfiguration
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40462 Unregister deprecated.ESRecordGetChecker; remove generation of eventsetuprecord-get.txt
  Utilities/StaticAnalyzers/scripts/create_statics_esd_reports.sh
  Utilities/StaticAnalyzers/src/ClangCmsCheckerPluginRegister.cpp
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40383 Improve module type resolver system so that it would be usable for Alpaka modules
  FWCore/Framework/interface/ComponentFactory.h
  FWCore/Framework/interface/EventProcessor.h
  FWCore/Framework/interface/EventSetupProvider.h
  FWCore/Framework/interface/EventSetupsController.h
  FWCore/Framework/interface/ModuleRegistry.h
  FWCore/Framework/interface/ModuleTypeResolverBase.h
  FWCore/Framework/interface/ModuleTypeResolverMaker.h
  FWCore/Framework/interface/ModuleTypeResolverMakerFactory.h
  FWCore/Framework/interface/Schedule.h
  FWCore/Framework/interface/ScheduleItems.h
  FWCore/Framework/interface/SubProcess.h
  FWCore/Framework/interface/WorkerManager.h
  FWCore/Framework/interface/WorkerRegistry.h
  FWCore/Framework/interface/makeModuleTypeResolverMaker.h
  FWCore/Framework/interface/resolveMaker.h
  FWCore/Framework/src/EventProcessor.cc
  FWCore/Framework/src/EventSetupProvider.cc
  FWCore/Framework/src/EventSetupProviderMaker.cc
  FWCore/Framework/src/EventSetupProviderMaker.h
  FWCore/Framework/src/EventSetupsController.cc
  FWCore/Framework/src/Factory.cc
  FWCore/Framework/src/Factory.h
  FWCore/Framework/src/ModuleRegistry.cc
  FWCore/Framework/src/ModuleTypeResolverFactoryMaker.cc
  FWCore/Framework/src/Schedule.cc
  FWCore/Framework/src/ScheduleItems.cc
  FWCore/Framework/src/SubProcess.cc
  FWCore/Framework/src/WorkerManager.cc
  FWCore/Framework/src/WorkerRegistry.cc
  FWCore/Framework/src/makeModuleTypeResolverMaker.cc
  FWCore/Framework/test/BuildFile.xml
  FWCore/Framework/test/TestTypeResolvers.h
  FWCore/Framework/test/eventsetupplugin_t.cppunit.cc
  FWCore/Framework/test/stubs/TestTypeResolverPlugins.cc
  FWCore/Framework/test/stubs/ToyIntProducers.cc
  FWCore/Framework/test/test_catch2_Factory.cc
  FWCore/Integration/test/BuildFile.xml
  FWCore/Integration/test/ESTestProducers.cc
  FWCore/Integration/test/ProcessAccelerator_t.cpp
  FWCore/Integration/test/run_TestModuleTypeResolver.sh
  FWCore/Integration/test/testModuleTypeResolver_cfg.py
  FWCore/ParameterSet/python/Config.py
  FWCore/PythonParameterSet/src/PyBind11Wrapper.cc
  FWCore/PythonParameterSet/test/makeprocess_t.cppunit.cc
  FWCore/TestProcessor/interface/TestProcessor.h
  FWCore/TestProcessor/src/TestProcessor.cc
  Mixing/Base/src/SecondaryEventProvider.cc
Labels: core-approved, simulation-approved, fully-signed, tests-rejected, orp-approved, code-checks-approved

#40430 Convert FWCore/Integration tests to catch2
  FWCore/Integration/test/BuildFile.xml
  FWCore/Integration/test/ProcessConfiguration_t.cpp
  FWCore/Integration/test/ProcessHistory_t.cpp
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40424 Added ability to get ProcessBlock products in GenericConsumer
  FWCore/Modules/src/GenericConsumer.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40287 Remove dead assignments and clean up a bit GenFilters
  GeneratorInterface/GenFilters/plugins/PythiaFilterGammaJetWithBg.cc
  GeneratorInterface/GenFilters/plugins/PythiaFilterGammaJetWithOutBg.cc
Labels: generators-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40376 Add missing dependencies on TBB
  CommonTools/Utils/BuildFile.xml
  DQM/EcalCommon/BuildFile.xml
  DQMServices/Core/BuildFile.xml
  DQMServices/FwkIO/plugins/BuildFile.xml
  DataFormats/Common/BuildFile.xml
  DataFormats/L1GlobalMuonTrigger/BuildFile.xml
  DataFormats/PatCandidates/BuildFile.xml
  EventFilter/Utilities/BuildFile.xml
  FWCore/Common/BuildFile.xml
  FWCore/Framework/BuildFile.xml
  FWCore/PythonFramework/BuildFile.xml
  FWCore/Reflection/BuildFile.xml
  FWCore/Services/plugins/BuildFile.xml
  FWCore/TestProcessor/BuildFile.xml
  GeneratorInterface/LHEInterface/plugins/BuildFile.xml
  HLTrigger/Timer/plugins/BuildFile.xml
  HeterogeneousCore/CUDACore/test/BuildFile.xml
  HeterogeneousCore/CUDAServices/plugins/BuildFile.xml
  IOPool/Output/BuildFile.xml
  Mixing/Base/BuildFile.xml
  PhysicsTools/NanoAOD/plugins/BuildFile.xml
  PhysicsTools/TensorFlow/BuildFile.xml
  RecoLocalCalo/HGCalRecProducers/plugins/BuildFile.xml
  RecoTauTag/RecoTau/plugins/BuildFile.xml
  RecoTracker/CkfPattern/BuildFile.xml
  RecoTracker/MkFit/plugins/BuildFile.xml
  Utilities/XrdAdaptor/BuildFile.xml
Labels: generators-pending, core-approved, daq-approved, dqm-approved, hlt-approved, l1-approved, reconstruction-approved, simulation-approved, pending-signatures, tests-approved, orp-approved, upgrade-approved, code-checks-approved, xpog-approved, heterogeneous-approved

#39710 Removed use of edm::EDFilter & edm::EDProducer
  FWCore/Framework/interface/EDFilter.h
  FWCore/Framework/interface/EDProducer.h
  FWCore/Framework/interface/Frameworkfwd.h
  FWCore/Framework/interface/ProducerBase.h
  FWCore/Framework/src/EDFilter.cc
  FWCore/Framework/src/EDProducer.cc
  FWCore/Framework/src/WorkerT.cc
  FWCore/ParameterSet/interface/ParameterSetDescriptionFillerBase.h
Labels: core-approved, fully-signed, tests-rejected, orp-approved, code-checks-approved

#40321 Nano: drop frozen V10 config, make triggerObjectTable more easily customizable
  Configuration/Eras/python/Era_Run3_cff.py
  Configuration/PyReleaseValidation/python/relval_nano.py
  PhysicsTools/NanoAOD/plugins/TriggerObjectTableProducer.cc
  PhysicsTools/NanoAOD/python/V10/boostedTaus_cff.py
  PhysicsTools/NanoAOD/python/V10/btagWeightTable_cff.py
  PhysicsTools/NanoAOD/python/V10/electrons_cff.py
  PhysicsTools/NanoAOD/python/V10/extraflags_cff.py
  PhysicsTools/NanoAOD/python/V10/fsrPhotons_cff.py
  PhysicsTools/NanoAOD/python/V10/genVertex_cff.py
  PhysicsTools/NanoAOD/python/V10/genWeightsTable_cfi.py
  PhysicsTools/NanoAOD/python/V10/genparticles_cff.py
  PhysicsTools/NanoAOD/python/V10/globals_cff.py
  PhysicsTools/NanoAOD/python/V10/isotracks_cff.py
  PhysicsTools/NanoAOD/python/V10/jetMC_cff.py
  PhysicsTools/NanoAOD/python/V10/jetsAK4_CHS_cff.py
  PhysicsTools/NanoAOD/python/V10/jetsAK4_Puppi_cff.py
  PhysicsTools/NanoAOD/python/V10/jetsAK8_cff.py
  PhysicsTools/NanoAOD/python/V10/lowPtElectrons_cff.py
  PhysicsTools/NanoAOD/python/V10/met_cff.py
  PhysicsTools/NanoAOD/python/V10/muons_cff.py
  PhysicsTools/NanoAOD/python/V10/nano_cff.py
  PhysicsTools/NanoAOD/python/V10/nanogen_cff.py
  PhysicsTools/NanoAOD/python/V10/particlelevel_cff.py
  PhysicsTools/NanoAOD/python/V10/photons_cff.py
  PhysicsTools/NanoAOD/python/V10/protons_cff.py
  PhysicsTools/NanoAOD/python/V10/softActivity_cff.py
  PhysicsTools/NanoAOD/python/V10/taus_cff.py
  PhysicsTools/NanoAOD/python/V10/taus_updatedMVAIds_cff.py
  PhysicsTools/NanoAOD/python/V10/triggerObjects_cff.py
  PhysicsTools/NanoAOD/python/V10/ttbarCategorization_cff.py
  PhysicsTools/NanoAOD/python/V10/vertices_cff.py
  PhysicsTools/NanoAOD/python/triggerObjects_cff.py
Labels: operations-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved, xpog-approved

#40368 [GEM] enable GEM packer/unpacker for phase 2 scenario
  Configuration/StandardSequences/python/DigiToRaw_cff.py
  Configuration/StandardSequences/python/RawToDigi_cff.py
  RecoLocalMuon/GEMRecHit/python/gemRecHits_cfi.py
Labels: operations-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#40447 [12_6_X] HCAL: make HBHE zero suppression simulation identical to the data-taking one for Run3
  SimCalorimetry/HcalZeroSuppressionProducers/python/hcalDigisRealistic_cfi.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, backport-ok

#40461 fix GEM inputs for `L1REPACK:FullMC`
  Configuration/StandardSequences/python/SimL1EmulatorRepack_CalouGT_cff.py
  Configuration/StandardSequences/python/SimL1EmulatorRepack_Full2015Data_cff.py
  Configuration/StandardSequences/python/SimL1EmulatorRepack_FullMC_cff.py
  Configuration/StandardSequences/python/SimL1EmulatorRepack_FullSimTP_cff.py
  Configuration/StandardSequences/python/SimL1EmulatorRepack_Full_cff.py
  Configuration/StandardSequences/python/SimL1EmulatorRepack_uGT_cff.py
Labels: l1-approved, operations-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#40312 [llvm14][Sim] Fixed set but not used variables warnings
  SimCalorimetry/HcalSimAlgos/src/HcalSiPMHitResponse.cc
  SimG4CMS/Calo/src/CaloSD.cc
  SimG4CMS/Calo/src/HcalQie.cc
  SimG4CMS/FP420/plugins/FP420Test.cc
  SimG4CMS/Forward/plugins/BscTest.cc
  SimG4CMS/Forward/plugins/ZdcTestAnalysis.cc
  SimG4Core/CustomPhysics/src/FullModelReactionDynamics.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40464 [RFC] Mask more old b-taggers for run3_common
  PhysicsTools/PatAlgos/python/slimming/applySubstructure_cff.py
  RecoBTag/SoftLepton/python/SoftLeptonByMVAComputers_cff.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved, btv

#40445 Update GTs for 2023
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#40473 [125X] Update realistic Heavy Ion MC GT
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved

#40475 Remove all nanoV10 workflows
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
Labels: pending-signatures, tests-approved, pdmv-pending, bug-fix, orp-approved, urgent, upgrade-pending, code-checks-approved

#40474 Disable header consistency checks for EDFilter.h EDProducer.h
  FWCore/Framework/BuildFile.xml
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40482 Update 2017 UL realistic GT and 2022/2023 HI MC GTs
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40466 Removed legacy EDAnalyzer interface
  FWCore/Framework/BuildFile.xml
  FWCore/Framework/interface/EDAnalyzer.h
  FWCore/Framework/interface/Frameworkfwd.h
  FWCore/Framework/interface/ProducerBase.h
  FWCore/Framework/src/EDAnalyzer.cc
  FWCore/Framework/src/WorkerT.cc
  FWCore/MessageService/test/MemoryTestClient_B.h
  FWCore/MessageService/test/UnitTestClient_L.cc
  FWCore/MessageService/test/UnitTestClient_L.h
  FWCore/ParameterSet/interface/ParameterSetDescriptionFillerBase.h
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40483 Add a set_prescale() HLT customisation tool
  HLTrigger/Configuration/python/common.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40486 Expanding HLT Configuration Proxy Support and Adding Tunnel Support : 12_6
  HLTrigger/Configuration/python/Tools/confdb.py
  HLTrigger/Configuration/python/Tools/confdbOfflineConverter.py
  HLTrigger/Configuration/python/Tools/options.py
  HLTrigger/Configuration/scripts/hltGetConfiguration
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#40487 Expanding HLT Configuration Proxy Support and Adding Tunnel Support : 12_5
  HLTrigger/Configuration/python/Tools/confdb.py
  HLTrigger/Configuration/python/Tools/confdbOfflineConverter.py
  HLTrigger/Configuration/python/Tools/options.py
  HLTrigger/Configuration/scripts/hltGetConfiguration
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#40488 Expanding HLT Configuration Proxy Support and Adding Tunnel Support : 12_4
  HLTrigger/Configuration/python/Tools/confdb.py
  HLTrigger/Configuration/python/Tools/confdbOfflineConverter.py
  HLTrigger/Configuration/python/Tools/options.py
  HLTrigger/Configuration/scripts/hltGetConfiguration
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#40476 ECAL : DB PayloadInspector modification
  CondCore/EcalPlugins/plugins/EcalPedestals_PayloadInspector.cc
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#40470 fix GEM inputs for `L1REPACK:FullMC` [`12_4_X`]
  Configuration/StandardSequences/python/SimL1EmulatorRepack_CalouGT_cff.py
  Configuration/StandardSequences/python/SimL1EmulatorRepack_Full2015Data_cff.py
  Configuration/StandardSequences/python/SimL1EmulatorRepack_FullMC_cff.py
  Configuration/StandardSequences/python/SimL1EmulatorRepack_FullSimTP_cff.py
  Configuration/StandardSequences/python/SimL1EmulatorRepack_Full_cff.py
  Configuration/StandardSequences/python/SimL1EmulatorRepack_uGT_cff.py
Labels: operations-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#40469 fix GEM inputs for `L1REPACK:FullMC` [`12_5_X`]
  Configuration/StandardSequences/python/SimL1EmulatorRepack_CalouGT_cff.py
  Configuration/StandardSequences/python/SimL1EmulatorRepack_Full2015Data_cff.py
  Configuration/StandardSequences/python/SimL1EmulatorRepack_FullMC_cff.py
  Configuration/StandardSequences/python/SimL1EmulatorRepack_FullSimTP_cff.py
  Configuration/StandardSequences/python/SimL1EmulatorRepack_Full_cff.py
  Configuration/StandardSequences/python/SimL1EmulatorRepack_uGT_cff.py
Labels: operations-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#40450 Phase2-hgx335B Try to complete the 6 inch application of HGCal for Test Beam studies
  Geometry/HGCalTBCommonData/BuildFile.xml
  Geometry/HGCalTBCommonData/interface/HGCalTBDDDConstants.h
  Geometry/HGCalTBCommonData/interface/HGCalTBGeomParameters.h
  Geometry/HGCalTBCommonData/interface/HGCalTBParameters.h
  Geometry/HGCalTBCommonData/interface/HGCalTBParametersFromDD.h
  Geometry/HGCalTBCommonData/plugins/BuildFile.xml
  Geometry/HGCalTBCommonData/plugins/HGCalTBNumberingInitialization.cc
  Geometry/HGCalTBCommonData/plugins/HGCalTBParametersESModule.cc
  Geometry/HGCalTBCommonData/python/hgcalTBEEParametersInitialization_cfi.py
  Geometry/HGCalTBCommonData/python/hgcalTBNumberingInitialization_cfi.py
  Geometry/HGCalTBCommonData/python/hgcalTBParametersInitialization_cfi.py
  Geometry/HGCalTBCommonData/src/HGCalTBDDDConstants.cc
  Geometry/HGCalTBCommonData/src/HGCalTBGeomParameters.cc
  Geometry/HGCalTBCommonData/src/HGCalTBParameters.cc
  Geometry/HGCalTBCommonData/src/HGCalTBParametersFromDD.cc
  Geometry/HGCalTBCommonData/test/BuildFile.xml
  Geometry/HGCalTBCommonData/test/HGCalTBParameterTester.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40435 Introduce macros to use reflex attributes
  DataFormats/PortableTestObjects/src/classes_def.xml
  DataFormats/SoATemplate/BuildFile.xml
  DataFormats/SoATemplate/interface/SoALayout.h
  FWCore/Reflection/interface/reflex.h
Labels: core-approved, fully-signed, tests-rejected, orp-approved, code-checks-approved, heterogeneous-approved

#40431 Removed unused file
  RecoEgamma/EgammaTools/interface/SCRegressionCalculator.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40256 [Backport] Run-3 FastSim Mini and Nano workflow for validation
  Configuration/PyReleaseValidation/README.md
  Configuration/PyReleaseValidation/python/relval_2017.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/PyReleaseValidation/python/relval_upgrade.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  Configuration/PyReleaseValidation/scripts/runTheMatrix.py
  Configuration/StandardSequences/python/Harvesting_cff.py
  DQMOffline/Configuration/python/DQMOfflineFS_cff.py
  DQMOffline/Muon/python/muonAnalyzer_cff.py
  Validation/RecoTau/python/DQMMCValidation_cfi.py
  Validation/RecoTau/python/RecoTauValidation_cff.py
Labels: dqm-pending, operations-approved, pending-signatures, tests-approved, pdmv-approved, orp-approved, upgrade-approved, backport-ok

#40493 Update of HLT GTs for MC to 2023 conditions
  Configuration/HLT/python/autoCondHLT.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40499 FW fix: declare FWCoreIntegrationValueExample as library
  FWCore/Integration/plugins/BuildFile.xml
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40353 Initialize members in CSCDQM_StripClusterFinder
  DQM/CSCMonitorModule/plugins/CSCDQM_StripClusterFinder.cc
  DQM/CSCMonitorModule/plugins/CSCDQM_StripClusterFinder.h
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40400 [DQM] [CLANG] Fixed unused-but-set-variable warnings
  DPGAnalysis/HcalTools/plugins/CMTRawAnalyzer.cc
  DQMOffline/Hcal/src/HcalRecHitsAnalyzer.cc
  Validation/HcalRecHits/src/HcalRecHitsValidation.cc
  Validation/RecoEgamma/plugins/ElectronMcFakeValidator.cc
  Validation/RecoEgamma/plugins/ElectronMcMiniAODSignalValidator.cc
  Validation/RecoEgamma/plugins/ElectronMcSignalValidator.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40442 Avoid including `RooChi2Var.h` in CMSSW
  Alignment/OfflineValidation/bin/FitWithRooFit.cc
  DQMOffline/Trigger/plugins/GenericTnPFitter.h
  MuonAnalysis/MomentumScaleCalibration/test/Macros/RooFit/FitWithRooFit.cc
Labels: alca-approved, dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40453 remove empty `BuildFile` in `DQM/SiPixelPhase1Track`
  DQM/SiPixelPhase1Track/BuildFile.xml
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40457 Add more Pixel tracks SoA monitoring
  DQM/SiPixelHeterogeneous/plugins/SiPixelCompareTrackSoA.cc
  DQM/SiPixelHeterogeneous/plugins/SiPixelTrackComparisonHarvester.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40495 Payload Inspector: introduce maps for `SiPixelDynamicInefficiency` input factors
  CondCore/SiPixelPlugins/plugins/SiPixelDynamicInefficiency_PayloadInspector.cc
  CondCore/SiPixelPlugins/test/testSiPixelDynamicInefficiency.sh
  CondCore/SiPixelPlugins/test/testSiPixelPayloadInspector.cpp
  DQM/TrackerRemapper/interface/Phase1PixelSummaryMap.h
  DQM/TrackerRemapper/src/Phase1PixelMaps.cc
  DQM/TrackerRemapper/src/Phase1PixelSummaryMap.cc
Labels: dqm-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#40484 Properly remove shared memory when finished
  FWCore/SharedMemory/interface/ControllerChannel.h
  FWCore/SharedMemory/interface/WriteBuffer.h
  FWCore/SharedMemory/src/ControllerChannel.cc
  FWCore/SharedMemory/src/WorkerChannel.cc
  FWCore/SharedMemory/src/WriteBuffer.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40458 use `std::vector<T>::operator[]` in `edm::HLTGlobalStatus::operator[]`
  DataFormats/Common/interface/HLTGlobalStatus.h
  FWCore/Framework/src/EventSelector.cc
  FWCore/Framework/src/Path.cc
  FWCore/Framework/test/stubs/TestTriggerNames.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40446 [12_6_X] Update GTs for 2023
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-started, orp-approved, backport-ok

#40262 ECAL Timing Reco: CrossCorrelation algorithm update
  RecoLocalCalo/EcalRecAlgos/interface/EcalUncalibRecHitTimingCCAlgo.h
  RecoLocalCalo/EcalRecAlgos/src/EcalUncalibRecHitTimingCCAlgo.cc
  RecoLocalCalo/EcalRecProducers/plugins/EcalUncalibRecHitWorkerMultiFit.cc
  RecoLocalCalo/EcalRecProducers/python/ecalMultiFitUncalibRecHit_cfi.py
  RecoLocalCalo/EcalRecProducers/test/testEcalUncalibRechitProducerWithCC_cfg.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, ecal

#40519 Fix unit test failure related to moving the file ProducerWithPSetDesc.cc
  FWCore/Integration/plugins/ProducerWithPSetDesc.cc
  FWCore/Integration/test/unit_test_outputs/testProducerWithPsetDesc_briefdoc.txt
  FWCore/Integration/test/unit_test_outputs/testProducerWithPsetDesc_cfi.py
  FWCore/Integration/test/unit_test_outputs/testProducerWithPsetDesc_doc.txt
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40514 [ALCA-DB] [CLANG] Fixes warnings reported by clang 14
  CondCore/DBOutputService/test/stubs/writeKeyed.cc
  CondFormats/EcalObjects/interface/EcalCondTowerObjectContainer.h
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#40427 Remove deprecated EventSetup get functions
  FWCore/Framework/interface/EventSetup.h
  FWCore/Framework/interface/EventSetupRecord.h
  FWCore/Framework/interface/EventSetupRecordImplementation.h
  FWCore/Framework/src/EventSetupRecord.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#40509 [GEOMETRY] [CLANG] Fixes warnings reported by clang 14
  Geometry/HcalTestBeamData/plugins/DDEcalPreshowerAlgoTB.cc
  Geometry/TrackerGeometryBuilder/interface/RectangularPixelTopology.h
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40508 [FASTSIM] [CLANG] Fixes warnings reported by clang 14
  FastSimulation/CTPPSFastTrackingProducer/plugins/CTPPSFastTrackingProducer.cc
  FastSimulation/CTPPSRecHitProducer/plugins/CTPPSRecHitProducer.cc
  FastSimulation/CTPPSSimHitProducer/plugins/CTPPSSimHitProducer.cc
  FastSimulation/ForwardDetectors/plugins/FastSimDataFilter.cc
  FastSimulation/MuonSimHitProducer/plugins/MuonSimHitProducer.cc
Labels: fastsim-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40503 Small fixes and cleanup in SimG4CMS
  SimG4CMS/FP420/plugins/FP420Test.cc
  SimG4CMS/Forward/plugins/BscTest.cc
  SimG4CMS/Forward/plugins/CastorTestAnalysis.cc
  SimG4CMS/Forward/src/TotemRPOrganization.cc
  SimG4CMS/Forward/src/TotemT2OrganizationGem.cc
  SimG4Core/CustomPhysics/src/G4muDarkBremsstrahlungModel.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40496 Vertex smearing for PbPb MC based on 2022 PbPb data
  Configuration/StandardSequences/python/VtxSmeared.py
  IOMC/EventVertexGenerators/python/VtxSmearedParameters_cfi.py
  IOMC/EventVertexGenerators/python/VtxSmearedRealistic2022PbPbCollision_cfi.py
Labels: operations-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40501 Update L1Menu tag in data RelVal GTs and 2022/2023/2024, Phase2 MC GTs
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40524 fix `SiStripApvGainsDefaultTrackerMap` for clang 14
  CondCore/SiStripPlugins/plugins/SiStripApvGain_PayloadInspector.cc
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#40517 [ALCA] [CLANG] Fixes warnings reported by clang 14
  Alignment/CommonAlignmentProducer/plugins/GlobalTrackerMuonAlignment.cc
  CalibCalorimetry/EcalLaserAnalyzer/plugins/EcalTestPulseAnalyzer.cc
  CalibCalorimetry/EcalLaserAnalyzer/src/TShapeAnalysis.cc
  CalibCalorimetry/EcalTrivialCondModules/src/EcalLaserCondTools.cc
  CalibMuon/DTCalibration/plugins/DTTTrigCorrectionFirst.cc
  Calibration/HcalCalibAlgos/src/hcalCalib.cc
  Calibration/HcalCalibAlgos/test/GammaJetAnalysis.cc
  Calibration/HcalCalibAlgos/test/HcalHBHEMuonSimAnalyzer.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40506 [RECONSTRUCTION] [CLANG] Fixes warnings reported by clang 14
  EventFilter/SiStripRawToDigi/interface/SiStripFEDBuffer.h
  EventFilter/SiStripRawToDigi/interface/SiStripFEDBufferComponents.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40521 Simplify CSCDQM_StripClusterFinder
  DQM/CSCMonitorModule/plugins/CSCDQM_StripClusterFinder.cc
  DQM/CSCMonitorModule/plugins/CSCDQM_StripClusterFinder.h
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40334 add unit test for HLT online-DQM plugins
  DQM/HLTEvF/plugins/LumiMonitor.cc
  DQM/HLTEvF/plugins/PSMonitor.cc
  DQM/HLTEvF/plugins/PSMonitorClient.cc
  DQM/HLTEvF/test/BuildFile.xml
  DQM/HLTEvF/test/testTriggerMonitors.sh
  DQM/HLTEvF/test/testTriggerMonitors_dqm_cfg.py
  DQM/HLTEvF/test/testTriggerMonitors_harvesting_cfg.py
  DQM/Integration/python/clients/hlt_dqm_clientPB-live_cfg.py
  HLTrigger/Configuration/python/customizeHLTforCMSSW.py
  HLTrigger/Timer/plugins/ThroughputService.cc
  HLTrigger/Timer/plugins/ThroughputService.h
  HLTrigger/Timer/plugins/ThroughputServiceClient.cc
Labels: dqm-approved, hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40510 [L1] [CLANG] Fixes warnings reported by clang 14
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/GlobalAlgBlkUnpacker.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40502 [12_6_X] Update L1Menu tag in data RelVal GTs
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok

#40525 [EGM HLT@Phase2] Phase out caloTowers
  HLTrigger/Configuration/python/HLT_75e33/modules/hltEgammaHoverEL1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltEgammaHoverEUnseeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltFixedGridRhoFastjetAllCaloForEGamma_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltParticleFlowClusterHBHEForEgamma_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltParticleFlowRecHitHBHEForEgamma_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltRegionalTowerForEgamma_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltTowerMakerForAllForEgamma_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/HLTFastJetForEgammaTask_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/tasks/HLTPFHcalClusteringForEgammaTask_cfi.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40533 [SIMULATION][CLANG] Fix warnings reported by clang 14 IB
  SimG4CMS/HcalTestBeam/plugins/HcalTB04Analysis.cc
  SimG4CMS/ShowerLibraryProducer/plugins/HcalForwardLibWriter.cc
  SimMuon/RPCDigitizer/src/RPCSimSetUp.cc
  SimTracker/TrackHistory/interface/VertexClassifierByProxy.h
  SimTracker/TrackHistory/src/TrackClassifier.cc
  SimTracker/TrackHistory/src/VertexClassifier.cc
  SimTransport/TotemRPProtonTransportParametrization/src/TMultiDimFet.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40534 [SIMULATION-UPGRADE][CLANG] Fix warnings reported by clang 14 IB
  SimCalorimetry/HGCalSimProducers/src/HGCFEElectronics.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#40530 [L1-UPGRADE] [CLANG]Fixes warnings reported by clang 14
  L1Trigger/L1THGCal/src/backend/HGCalHistoClusteringImpl_SA.cc
  L1Trigger/L1TTrackMatch/plugins/L1TrackerEtMissProducer.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#40251 add DT and CSC rechits to AOD content
  RecoLocalMuon/Configuration/python/RecoLocalMuon_EventContent_cff.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40546 [ANALYSIS][CLANG] Fix warnings reported by clang 14
  PhysicsTools/Heppy/src/Apc.cc
  TopQuarkAnalysis/TopHitFit/src/Fourvec_Constrainer.cc
Labels: analysis-pending, pending-signatures, tests-approved, orp-approved, code-checks-approved

#40545 [ROOT6] Fix int type in NanoAD plugins for ROOT6 IB
  PhysicsTools/NanoAOD/plugins/TableOutputFields.cc
Labels: fully-signed, tests-approved, bug-fix, orp-approved, xpog-approved

#40543 re-initialize geometry in g4e propagator as required to avoid segfaults
  TrackPropagation/Geant4e/src/Geant4ePropagator.cc
Labels: simulation-approved, fully-signed, tests-started, bug-fix, orp-approved, code-checks-approved

#40432 remove PSet-based ctor of `EventSelector`
  FWCore/Framework/interface/EventSelector.h
  FWCore/Framework/src/EventSelector.cc
  FWCore/Framework/test/EventSelExc_t.cpp
  FWCore/Framework/test/EventSelWildcard_t.cpp
  FWCore/Framework/test/EventSelector_t.cpp
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40397 [RECO] [CLANG] Fixed unused-but-set-variable warnings
  DataFormats/Candidate/interface/LeafRefCandidateT.h
  RecoJets/JetAnalyzers/src/myFastSimVal.cc
  RecoJets/JetPlusTracks/plugins/JetPlusTrackCorrector.cc
  RecoLocalTracker/SiPixelClusterizer/test/TestClusters.cc
  RecoLocalTracker/SiPixelClusterizer/test/TestWithTracks.cc
  RecoVertex/PrimaryVertexProducer/interface/WeightedMeanFitter.h
  RecoVertex/PrimaryVertexProducer/src/DAClusterizerInZ.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40552 Use new library name when running edmWriteConfig test
  FWCore/Integration/test/run_ParameterSet.sh
Labels: core-approved, fully-signed, tests-started, orp-approved, code-checks-approved

#40336 Adding new GCP trends tool and commenting unnecessary print out in Trend
  Alignment/OfflineValidation/bin/BuildFile.xml
  Alignment/OfflineValidation/bin/GCPtrends.cc
  Alignment/OfflineValidation/src/Trend.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40539 Fix for wf `11634.15`
  PhysicsTools/NanoAOD/python/custom_jme_cff.py
  PhysicsTools/NanoAOD/python/jetsAK4_CHS_cff.py
  PhysicsTools/NanoAOD/python/jetsAK4_Puppi_cff.py
  PhysicsTools/NanoAOD/python/jetsAK8_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
  RecoBTag/SoftLepton/python/SoftLeptonByMVAComputers_cff.py
Labels: reconstruction-pending, pending-signatures, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved, xpog-approved

#40536 remove access to bare ROOT objects in `HLTFiltersDQMonitor` [`12_6_X`]
  DQMOffline/Trigger/plugins/BuildFile.xml
  DQMOffline/Trigger/plugins/HLTFiltersDQMonitor.cc
  DQMOffline/Trigger/python/DQMOffline_Trigger_cff.py
  DQMOffline/Trigger/python/DQMOffline_Trigger_cosmics_cff.py
  DQMOffline/Trigger/python/HLT_DQM_Offline_cff.py
  DQMOffline/Trigger/test/BuildFile.xml
  DQMOffline/Trigger/test/fv_dqmoffline_sourceclient-file_cfg.py
  DQMOffline/Trigger/test/harvesting_cfg.py
  DQMOffline/Trigger/test/readme.md
  DQMOffline/Trigger/test/testHLTFiltersDQMonitor.sh
  DQMOffline/Trigger/test/testHLTFiltersDQMonitor_cfg.py
  DQMOffline/Trigger/test/triggerSequenceTest_cfg.py
  DQMOffline/Trigger/test/trigger_dqmoffline_cfg.py
  DQMOffline/Trigger/test/trigger_dqmoffline_sourceclient-file_cfg.py
  DQMOffline/Trigger/test/trigger_dqmoffline_sourceclient_relval-file_cfg.py
  DQMOffline/Trigger/test/trigger_dqmoffline_step2_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#40567 Reorganize `Alignment/OfflineValidation` unit tests
  Alignment/OfflineValidation/src/GeometryComparisonPlotter.cc
  Alignment/OfflineValidation/test/BuildFile.xml
  Alignment/OfflineValidation/test/test_all_Phase2_cfg.py
  Alignment/OfflineValidation/test/test_all_cfg.py
  Alignment/OfflineValidation/test/testingScripts/testPVValidation.sh
  Alignment/OfflineValidation/test/testingScripts/test_all-in-one.sh
  Alignment/OfflineValidation/test/testingScripts/test_unitDMR.sh
  Alignment/OfflineValidation/test/testingScripts/test_unitDiMuonVertex.sh
  Alignment/OfflineValidation/test/testingScripts/test_unitEoP.sh
  Alignment/OfflineValidation/test/testingScripts/test_unitGCP.sh
  Alignment/OfflineValidation/test/testingScripts/test_unitGeneralTrackAnalyser.sh
  Alignment/OfflineValidation/test/testingScripts/test_unitMiscellanea.sh
  Alignment/OfflineValidation/test/testingScripts/test_unitPV.sh
  Alignment/OfflineValidation/test/testingScripts/test_unitSplitV.sh
  Alignment/OfflineValidation/test/testingScripts/test_unitSubmitPVrbr.sh
  Alignment/OfflineValidation/test/testingScripts/test_unitSubmitPVsplit.sh
  Alignment/OfflineValidation/test/testingScripts/validateAlignments.sh
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#40507 [GEOMETRY-UPGRADE] [CLANG] Fixes warnings reported by clang 14
  Geometry/MTDGeometryBuilder/interface/RectangularMTDTopology.h
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#40479 Fixes for vertex fits in the muon system
  RecoVertex/KinematicFitPrimitives/src/ParticleKinematicLinearizedTrackState.cc
  RecoVertex/VertexTools/interface/SequentialVertexFitter.h
  RecoVertex/VertexTools/src/PerigeeLinearizedTrackState.cc
  RecoVertex/VertexTools/src/SequentialVertexFitter.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking-pog-approved, tracking

#40520 [RECO] [CLANG] More fixes on unused-but-set-variable warnings
  RecoParticleFlow/PFProducer/src/PFAlgo.cc
  RecoPixelVertexing/PixelVertexFinding/interface/Cluster1DCleaner.h
  RecoPixelVertexing/PixelVertexFinding/plugins/JetVertexChecker.cc
  RecoTracker/MkFitCore/src/TrackerInfo.cc
  TrackingTools/TrackRefitter/src/TrackTransformerForCosmicMuons.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#40568 Cleanup geant4e propagator
  SimG4Core/GeometryProducer/interface/GeometryProducer.h
  SimG4Core/GeometryProducer/src/GeometryProducer.cc
  TrackPropagation/Geant4e/interface/Geant4ePropagator.h
  TrackPropagation/Geant4e/src/Geant4ePropagator.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#40532 [RECONSTRUCTION][CLANG]Fix warnings reported by clang 14
  RecoEcal/EgammaClusterAlgos/src/Multi5x5BremRecoveryClusterAlgo.cc
  RecoEgamma/EgammaElectronAlgos/src/PixelHitMatcher.cc
  RecoEgamma/EgammaHFProducers/plugins/HFClusterAlgo.cc
  RecoEgamma/ElectronIdentification/plugins/CutBasedElectronID.cc
  RecoEgamma/PhotonIdentification/src/PhotonMIPHaloTagger.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40329 Avoid known Triton fallback server failure in DRNTest (RecoEcal/EgammaClusterProducers)
  HeterogeneousCore/SonicTriton/test/unittest.sh
  RecoEcal/EgammaClusterProducers/test/runtests.sh
  Utilities/ReleaseScripts/scripts/apptainer-check.sh
Labels: core-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#40571 remove mentions of `Geometry_cff` in HLT packages
  HLTrigger/HLTfilters/test/HLTBeamModeFilter_cfg.py
  HLTrigger/HLTfilters/test/HLTLevel1GTSeed_cfg.py
  HLTrigger/special/test/dtMonitorStream_cfg.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40504 Adding first version of electronics id class for HGCAL
  DataFormats/HGCalDigi/interface/HGCalDigiCollections.h
  DataFormats/HGCalDigi/interface/HGCalElectronicsId.h
  DataFormats/HGCalDigi/src/HGCalElectronicsId.cc
  DataFormats/HGCalDigi/src/classes_def.xml
  DataFormats/HGCalDigi/test/BuildFile.xml
  DataFormats/HGCalDigi/test/HGCalElectronicsIdTest.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#40548 fix `ClusterStorer::ClusterHitRecord<T>::rekey` for `Phase2TrackerRecHit1D`
  CommonTools/RecoAlgos/src/ClusterStorer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, tracking

#40554 Correct GEM edge calculation for TrackerMuons
  TrackingTools/TrackAssociator/src/TrackDetectorAssociator.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40578 [HLT] [CLANG] Fix unused-but-set-variable warnings
  HLTrigger/JetMET/src/HLTMETCleanerUsingJetID.cc
  RecoTauTag/HLTProducers/src/CaloTowerCreatorForTauHLT.cc
  RecoTauTag/HLTProducers/src/CaloTowerFromL1TCreatorForTauHLT.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#39622 Remove a dead assignment of accChargeForToA in the HGCDigitizer
  SimCalorimetry/HGCalSimProducers/plugins/HGCDigitizer.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, hgcal-dpg-approved

#40498 Fix warning in RZLine
  RecoPixelVertexing/PixelTrackFitting/interface/RZLine.h
  RecoPixelVertexing/PixelTrackFitting/test/BuildFile.xml
  RecoPixelVertexing/PixelTrackFitting/test/RZLine_catch2.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#40559 [12.5.X] fix `ClusterStorer::ClusterHitRecord<T>::rekey` for `Phase2TrackerRecHit1D`
  CommonTools/RecoAlgos/src/ClusterStorer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, tracking

#40558 [12.6.X] fix `ClusterStorer::ClusterHitRecord<T>::rekey` for `Phase2TrackerRecHit1D`
  CommonTools/RecoAlgos/src/ClusterStorer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, tracking

#40584 Remove TrackerAdditionalParametersPerDet_cfi from SiStripCommon unit test
  DQM/SiStripCommon/test/testTkHistoMap_cfg.py
Labels: dqm-pending, pending-signatures, tests-approved, bug-fix, orp-approved, code-checks-approved, trk

#40573 Phase2-hgx335C Extend testing of the V16/V17 geometry versions of HGCal
  Geometry/HGCalCommonData/interface/HGCalDDDConstants.h
  Geometry/HGCalCommonData/src/HGCalDDDConstants.cc
  SimG4CMS/Calo/plugins/HGCalTestPartialWaferHits.cc
  SimG4CMS/Calo/src/HGCScintSD.cc
  SimG4CMS/Calo/src/HGCalSD.cc
  Validation/HGCalValidation/scripts/testHGCalSimTTBar_cfg.py
Labels: dqm-approved, geometry-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#40565 Simplify pixel typedefs
  RecoLocalTracker/SiPixelRecHits/plugins/SiPixelRecHitConverter.cc
  RecoLocalTracker/SiPixelRecHits/plugins/SiPixelRecHitFromCUDA.cc
  RecoPixelVertexing/PixelTriplets/plugins/CAHitNtupletCUDA.cc
  RecoPixelVertexing/PixelTriplets/plugins/CAHitNtupletGeneratorOnGPU.cc
  RecoPixelVertexing/PixelTriplets/plugins/CAHitNtupletGeneratorOnGPU.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking, trk

#40490 [MkFit] Per iteration / eta region track candidate scoring function
  RecoTracker/MkFitCMS/src/MkStdSeqs.cc
  RecoTracker/MkFitCMS/standalone/MkStandaloneSeqs.cc
  RecoTracker/MkFitCore/interface/FunctionTypes.h
  RecoTracker/MkFitCore/interface/IterationConfig.h
  RecoTracker/MkFitCore/interface/MkBuilder.h
  RecoTracker/MkFitCore/interface/SteeringParams.h
  RecoTracker/MkFitCore/interface/Track.h
  RecoTracker/MkFitCore/interface/TrackStructures.h
  RecoTracker/MkFitCore/src/IterationConfig.cc
  RecoTracker/MkFitCore/src/MkBuilder.cc
  RecoTracker/MkFitCore/src/MkFinder.cc
  RecoTracker/MkFitCore/src/MkFinder.h
  RecoTracker/MkFitCore/src/TrackStructures.cc
  RecoTracker/MkFitCore/standalone/Event.cc
  RecoTracker/MkFitCore/standalone/TTreeValidation.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved, tracking

#40583 Addition of Hgg trkSumPtHollowConeDR03 variable in NanoAOD
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
  PhysicsTools/NanoAOD/python/photons_cff.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#40481 avoid use of `auto:run*_data_relval` GTs in non-`reHLT` wfs
  Configuration/Applications/python/ConfigBuilder.py
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: operations-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#40402 [L1T] update in Phase 2 jet event content
  HLTrigger/Configuration/python/HLT_75e33/modules/l1t1PFPuppiJet70offMaxEta2p4_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/l1t2PFPuppiJet55offMaxEta2p4_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/l1t4PFPuppiJet25OnlineMaxEta2p4_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/l1t4PFPuppiJet40offMaxEta2p4_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/l1tDoublePFPuppiJet112offMaxEta2p4_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/l1tDoublePFPuppiJets112offMaxDeta1p6_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/l1tPFPuppiHT400offMaxEta2p4_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/l1tPFPuppiHT450off_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/l1tPFPuppiHT_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/l1tSinglePFPuppiJet230off_cfi.py
  L1Trigger/Configuration/python/L1Trigger_EventContent_cff.py
  L1Trigger/Configuration/python/SimL1Emulator_cff.py
  L1Trigger/Phase2L1ParticleFlow/python/l1pfJetMet_cff.py
  L1Trigger/Phase2L1Taus/plugins/HPSPFTauProducer.cc
Labels: hlt-approved, l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#40577 [GEOMETRY] [CLANG] Fix unused-but-set-variable warnings
  DetectorDescription/DDCMS/plugins/dd4hep/DDCMSDetElementCreator.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40579 Remove a seemingly useless vector definition
  DataFormats/NanoAOD/src/classes.h
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#40585 Phase2-hgx335E Update the validity test of partial wafers of V16 geometry as well as the test kits
  Geometry/HGCalCommonData/data/missD88.txt
  Geometry/HGCalCommonData/data/missD92.txt
  Geometry/HGCalCommonData/interface/HGCalDDDConstants.h
  Geometry/HGCalCommonData/src/HGCalDDDConstants.cc
  Geometry/HGCalCommonData/src/HGCalWaferMask.cc
  Geometry/HGCalCommonData/test/HGCalValidityTester.cc
  Geometry/HGCalCommonData/test/python/testHGCalValidity_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#40586 Phase2-hgx335F Update the test scripts in Geometry/HGCalCommonData and Geometry/HGCalGeometry in view of using Eras
  Geometry/HGCalCommonData/test/python/runHGCalWafer8DDD_cfg.py
  Geometry/HGCalGeometry/test/python/hgcGeomAnalyzer_cfg.py
  Geometry/HGCalGeometry/test/python/runCaloCellGeometryTest_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalCellDumpDDD_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalCorner_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalGeomCheck_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalGeomLocatorSc_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalGeomLocator_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalGeometryCheck_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalGeometryMouseBite_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalGeometryNewCorners_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalGeometryRotCheck_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalGeometryRotTest_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalGeometry_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalNeighbor_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalValidScintTest_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalValidTest_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalWaferInFileCheck_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalWaferInFileOrientation_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalWaferInFileTest_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalWaferTypeTester_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalWafer_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#40593 [12.6.X] re-initialize geometry in g4e propagator as required at beginning of propagation and for each step
  TrackPropagation/Geant4e/src/Geant4ePropagator.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, tracking

#40594 [12.4.X] re-initialize geometry in g4e propagator as required at beginning of propagation and for each step
  TrackPropagation/Geant4e/src/Geant4ePropagator.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, tracking

#40595 [10.6.X] re-initialize geometry in g4e propagator as required at beginning of propagation and for each step
  TrackPropagation/Geant4e/src/Geant4ePropagator.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, tracking

#40598 Fix N-dimensional strided loops and extend the alpaka tests
  HeterogeneousCore/AlpakaInterface/interface/workdivision.h
  HeterogeneousCore/AlpakaInterface/test/alpaka/testKernel.dev.cc
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#40528 guard against no L1T uGT digis in `L1TriggerResultsConverter`
  PhysicsTools/NanoAOD/plugins/L1TriggerResultsConverter.cc
Labels: fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, xpog-approved

#40555 [12.5.X] Option to make track covariance Pos-def in packedcandidate
  DataFormats/PatCandidates/interface/PackedCandidate.h
  DataFormats/PatCandidates/src/PackedCandidate.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, xpog-approved, tracking

#40556 [12.4.X] Option to make track covariance Pos-def in packedcandidate
  DataFormats/PatCandidates/interface/PackedCandidate.h
  DataFormats/PatCandidates/src/PackedCandidate.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, xpog-approved, tracking

#40557 [10.6.X] Option to make track covariance Pos-def in packedcandidate
  DataFormats/PatCandidates/interface/PackedCandidate.h
  DataFormats/PatCandidates/src/PackedCandidate.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, xpog-approved, tracking

#40602 Phase2-hgx335I Remove obsolete cfi's used for pre-V16 geometry versions of HGCal
  Fireworks/Geometry/python/dumpRecoGeometry_cfg.py
  Geometry/CaloEventSetup/python/HGCalTopology_cfi.py
  Geometry/CaloEventSetup/python/HGCalV6Topology_cfi.py
  Geometry/HcalCommonData/python/testPhase2GeometryFineReco_cff.py
  Geometry/HcalCommonData/python/testPhase2GeometryFineXML_cfi.py
  Geometry/HcalCommonData/python/testPhase2GeometryFine_cff.py
  Geometry/HcalCommonData/python/testPhase2GeometryXML_cfi.py
  Geometry/HcalCommonData/test/python/runHcalSimNumberingDDDTester_cfg.py
Labels: geometry-approved, visualization-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40600 Phase2-hgc335H Make the 6-inch geometry working again which could be used for HGCal TB applications
  Geometry/HGCalTBCommonData/data/dd4hep/cms-test-ddhgcalTB181V1-algorithm.xml
  Geometry/HGCalTBCommonData/data/dd4hep/cms-test-ddhgcalTBModule-algorithm.xml
  Geometry/HGCalTBCommonData/data/dd4hep/cms-test-ddhgcalTBModuleX-algorithm.xml
  Geometry/HGCalTBCommonData/plugins/HGCalTBNumberingInitialization.cc
  Geometry/HGCalTBCommonData/plugins/HGCalTBParametersESModule.cc
  Geometry/HGCalTBCommonData/python/hgcalTBEEParametersInitialization_cfi.py
  Geometry/HGCalTBCommonData/python/hgcalTBParametersInitialization_cfi.py
  Geometry/HGCalTBCommonData/python/testTB181V0XML_cfi.py
  Geometry/HGCalTBCommonData/python/testTB181V1XML_cfi.py
  Geometry/HGCalTBCommonData/python/testTB181V2XML_cfi.py
  Geometry/HGCalTBCommonData/python/testTB181XML_cfi.py
  Geometry/HGCalTBCommonData/src/HGCalTBGeomParameters.cc
  Geometry/HGCalTBCommonData/src/HGCalTBParametersFromDD.cc
  Geometry/HGCalTBCommonData/test/HGCalTBNumberingTester.cc
  Geometry/HGCalTBCommonData/test/python/testHGCalTBNumbering_cfg.py
  Geometry/HGCalTBCommonData/test/python/testHGCalTBParametersDD4hep_cfg.py
  Geometry/HGCalTBCommonData/test/python/testHGCalTBParametersDDD_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40597 Fix of the L1uGTTreeProducer to handle exceptions in case of a missing collection
  L1Trigger/L1TNtuples/plugins/L1uGTTreeProducer.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40606 Make RZLine with one point consistent
  RecoPixelVertexing/PixelTrackFitting/interface/RZLine.h
  RecoPixelVertexing/PixelTrackFitting/test/RZLine_catch2.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#40592 Protection for n<=1 in RZLine.h
  CommonTools/Statistics/src/LinearFit.cc
  RecoPixelVertexing/PixelTrackFitting/interface/RZLine.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved, tracking

#40588 guard against no L1T uGT digis in `L1TriggerResultsConverter` [`12_6_X`]
  PhysicsTools/NanoAOD/plugins/L1TriggerResultsConverter.cc
Labels: fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, xpog-approved

#40537 remove memory-churn in SiPixelTemplate2D::pushfile
  CondFormats/SiPixelObjects/interface/SiPixel2DTemplateDBObject.h
  CondFormats/SiPixelTransient/interface/SiPixelTemplate2D.h
  CondFormats/SiPixelTransient/src/SiPixelTemplate2D.cc
Labels: alca-approved, reconstruction-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, performance-improvements, trk

#40141 Run3-alca236 Modify defaults to some of the AlCaReco and calibration scripts of HCAL using muons
  Calibration/HcalAlCaRecoProducers/plugins/AlCaHBHEMuonFilter.cc
  Calibration/HcalAlCaRecoProducers/plugins/AlCaHBHEMuonProducer.cc
  Calibration/HcalAlCaRecoProducers/plugins/AlCaHEMuonFilter.cc
  Calibration/HcalAlCaRecoProducers/plugins/AlCaHcalHBHEMuonFilter.cc
  Calibration/HcalAlCaRecoProducers/plugins/AlCaIsoTracksFilter.cc
  Calibration/HcalAlCaRecoProducers/plugins/AlCaIsoTracksProducer.cc
  Calibration/HcalAlCaRecoProducers/plugins/AlCaIsoTracksProducerFilter.cc
  Calibration/HcalCalibAlgos/macros/AnalyzeLepTree.C
  Calibration/HcalCalibAlgos/macros/CalibFitPlots.C
  Calibration/HcalCalibAlgos/macros/CalibMain.C
  Calibration/HcalCalibAlgos/macros/CalibPlotProperties.C
  Calibration/HcalCalibAlgos/macros/HBHEMuonOfflineAnalyzer.C
  Calibration/HcalCalibAlgos/macros/OfflineMain.C
  Calibration/HcalCalibAlgos/plugins/HcalHBHEMuonAnalyzer.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40591 removed old and unused configs linked to reco muon duplicate mitigation
  PhysicsTools/PatAlgos/python/slimming/extraSlimmedMETs_MuEGFixMoriond2017.py
  PhysicsTools/PatUtils/python/tools/corMETFromMuonAndEG.py
  PhysicsTools/PatUtils/python/tools/muonRecoMitigation.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#40601 get rid of `Phase2TrackerRecHit1D::CluRef`
  DataFormats/TrackerRecHit2D/interface/ClusterRemovalInfo.h
  DataFormats/TrackerRecHit2D/interface/Phase2TrackerRecHit1D.h
  RecoLocalTracker/SubCollectionProducers/src/SeedClusterRemoverPhase2.cc
  SimTracker/TrackerHitAssociation/src/TrackerHitAssociator.cc
Labels: reconstruction-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking, trk

#40569 Add test for cross-site catalog access
  FWCore/Catalog/src/FileLocator.cc
  FWCore/Services/test/BuildFile.xml
  FWCore/Services/test/SiteLocalConfigServiceCatalogTester.cc
  FWCore/Services/test/sitelocalconfig/catalog/dummycross/storage.json
  FWCore/Services/test/sitelocalconfig/catalog/local/storage.json
  FWCore/Services/test/sitelocalconfig/catalog/site-local-config.xml
  FWCore/Services/test/sitelocalconfig/full/site-local-config.xml
  FWCore/Services/test/sitelocalconfig/no_source/site-local-config.xml
  FWCore/Services/test/sitelocalconfig/source/site-local-config.xml
  FWCore/Services/test/sitelocalconfig/throw/site-local-config.xml
  FWCore/Services/test/test_catch2_SiteLocalConfigService.cc
  FWCore/Services/test/test_sitelocalconfig.sh
  FWCore/Services/test/test_sitelocalconfig_catalog_cfg.py
Labels: core-approved, fully-signed, tests-rejected, orp-approved, code-checks-approved

#40572 Add new ALCT-CLCT match algorithm for high pt muon showers
  L1Trigger/CSCTriggerPrimitives/interface/CSCCathodeLCTProcessor.h
  L1Trigger/CSCTriggerPrimitives/interface/CSCMotherboard.h
  L1Trigger/CSCTriggerPrimitives/python/params/clctParams.py
  L1Trigger/CSCTriggerPrimitives/python/params/tmbParams.py
  L1Trigger/CSCTriggerPrimitives/src/CSCAnodeLCTProcessor.cc
  L1Trigger/CSCTriggerPrimitives/src/CSCCathodeLCTProcessor.cc
  L1Trigger/CSCTriggerPrimitives/src/CSCGEMMotherboard.cc
  L1Trigger/CSCTriggerPrimitives/src/CSCMotherboard.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#40625 Fix testCUDAService unit test
  HeterogeneousCore/CUDAServices/test/BuildFile.xml
  HeterogeneousCore/CUDAServices/test/testCUDAService.cpp
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#40513 [DQM] [CLANG] Fixed unused-but-set-variable warnings
  DQM/BeamMonitor/plugins/FakeBeamMonitor.cc
  DQM/CastorMonitor/src/CastorDigiMonitor.cc
  DQM/CastorMonitor/src/CastorRecHitMonitor.cc
  DQM/L1TMonitorClient/src/L1TOccupancyClient.cc
  DQM/Physics/src/EwkTauDQM.cc
  DQM/PixelLumi/plugins/PixelLumiDQM.cc
  DQMOffline/CalibTracker/plugins/SiStripPopConBadComponentsDQM.cc
  DQMOffline/JetMET/src/ECALRecHitAnalyzer.cc
  DQMOffline/L1Trigger/src/L1TPhase2OuterTrackerTkMET.cc
  DQMServices/Components/plugins/DQMStoreStats.cc
  HLTriggerOffline/SUSYBSM/src/SUSY_HLT_DoubleEle_Hadronic.cc
  HLTriggerOffline/SUSYBSM/src/SUSY_HLT_DoubleMuon_Hadronic.cc
  HLTriggerOffline/SUSYBSM/src/SUSY_HLT_MuEle_Hadronic.cc
  HLTriggerOffline/SUSYBSM/src/SUSY_HLT_Muon_Hadronic.cc
  Validation/EcalDigis/plugins/EcalDigisValidation.cc
  Validation/GlobalDigis/src/GlobalDigisAnalyzer.cc
  Validation/GlobalDigis/src/GlobalDigisProducer.cc
  Validation/RecoParticleFlow/plugins/PFAnalysisNtuplizer.cc
Labels: dqm-approved, l1-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, tracking, trk

#40603 Phase2-hgx335J Try to add toplogy class for HGCal TB application
  Geometry/CaloEventSetup/plugins/HGCalTBTopologyBuilder.cc
  Geometry/CaloEventSetup/python/HGCalTBTopology_cfi.py
  Geometry/CaloTopology/BuildFile.xml
  Geometry/CaloTopology/interface/HGCalTBTopology.h
  Geometry/CaloTopology/src/HGCalTBTopology.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved
