Repository cms-sw/cmssw, pull requests merged in 2023-04, with the labels that each got.

#40855 Improved method for EB digi simulation
  CalibCalorimetry/EcalTrivialCondModules/interface/EcalTrivialConditionRetriever.h
  CalibCalorimetry/EcalTrivialCondModules/src/EcalTrivialConditionRetriever.cc
  CondCore/EcalPlugins/plugins/BuildFile.xml
  CondCore/EcalPlugins/plugins/EcalSimComponentShape_PayloadInspector.cc
  CondCore/EcalPlugins/src/plugin.cc
  CondCore/Utilities/plugins/Module_2XML.cc
  CondCore/Utilities/src/CondFormats.h
  CondFormats/DataRecord/interface/EcalSimComponentShapeRcd.h
  CondFormats/DataRecord/src/EcalSimComponentShapeRcd.cc
  CondFormats/EcalObjects/interface/EcalSimComponentShape.h
  CondFormats/EcalObjects/src/EcalSimComponentShape.cc
  CondFormats/EcalObjects/src/T_EventSetup_EcalSimComponentShape.cc
  CondFormats/EcalObjects/src/classes.h
  CondFormats/EcalObjects/src/classes_def.xml
  CondFormats/EcalObjects/src/headers.h
  CondFormats/EcalObjects/test/testSerializationEcalObjects.cpp
  CondTools/Ecal/interface/EcalDBCopy.h
  CondTools/Ecal/interface/XMLTags.h
  CondTools/Ecal/python/copySimComponentShapeFromFiles_cfg.py
  CondTools/Ecal/src/EcalDBCopy.cc
  Configuration/Eras/python/Modifier_run3_ecal_devel_cff.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/StandardSequences/python/Eras.py
  DataFormats/EcalDigi/interface/EcalTimeDigi.h
  DataFormats/EcalDigi/src/EcalTimeDigi.cc
  DataFormats/EcalDigi/src/classes_def.xml
  SimCalorimetry/Configuration/python/SimCalorimetry_EventContent_cff.py
  SimCalorimetry/EcalSimAlgos/interface/ComponentShape.h
  SimCalorimetry/EcalSimAlgos/interface/ComponentShapeCollection.h
  SimCalorimetry/EcalSimAlgos/interface/ComponentSimParameterMap.h
  SimCalorimetry/EcalSimAlgos/interface/EBHitResponse.h
  SimCalorimetry/EcalSimAlgos/interface/EBHitResponse.icc
  SimCalorimetry/EcalSimAlgos/interface/EcalHitResponse.h
  SimCalorimetry/EcalSimAlgos/interface/EcalShapeBase.h
  SimCalorimetry/EcalSimAlgos/interface/EcalTimeMapDigitizer.h
  SimCalorimetry/EcalSimAlgos/src/ComponentShape.cc
  SimCalorimetry/EcalSimAlgos/src/ComponentShapeCollection.cc
  SimCalorimetry/EcalSimAlgos/src/ComponentSimParameterMap.cc
  SimCalorimetry/EcalSimAlgos/src/EcalShapeBase.cc
  SimCalorimetry/EcalSimAlgos/src/EcalTimeMapDigitizer.cc
  SimCalorimetry/EcalSimProducers/interface/EcalDigiProducer.h
  SimCalorimetry/EcalSimProducers/interface/EcalDigiProducer_Ph2.h
  SimCalorimetry/EcalSimProducers/interface/EcalTimeDigiProducer.h
  SimCalorimetry/EcalSimProducers/python/componentDigiParameters_cff.py
  SimCalorimetry/EcalSimProducers/python/ecalTimeDigiParameters_cff.py
  SimCalorimetry/EcalSimProducers/src/EcalDigiProducer.cc
  SimCalorimetry/EcalSimProducers/src/EcalDigiProducer_Ph2.cc
  SimCalorimetry/EcalSimProducers/src/EcalTimeDigiProducer.cc
  SimGeneral/MixingModule/python/digitizers_cfi.py
  SimGeneral/MixingModule/python/ecalDigitizer_Ph2_cfi.py
  SimGeneral/MixingModule/python/ecalDigitizer_cfi.py
Labels: simulation-pending, alca-approved, operations-approved, pending-signatures, tests-approved, pdmv-pending, db-approved, orp-approved, upgrade-pending, requires-external, code-checks-approved, ecal

#40663 L1Nano addition
  Configuration/PyReleaseValidation/python/relval_nano.py
  PhysicsTools/NanoAOD/interface/SimpleFlatTableProducer.h
  PhysicsTools/NanoAOD/plugins/SimpleFlatTableProducerPlugins.cc
  PhysicsTools/NanoAOD/python/l1trig_cff.py
  PhysicsTools/NanoAOD/python/nano_cff.py
Labels: l1-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved, xpog-approved

#41211 Adding 2Loose HMT showers in the GT emulator
  L1Trigger/L1TGlobal/interface/MuonShowerTemplate.h
  L1Trigger/L1TGlobal/plugins/TriggerMenuParser.cc
  L1Trigger/L1TGlobal/src/GlobalBoard.cc
  L1Trigger/L1TGlobal/src/MuonShowerCondition.cc
  L1Trigger/L1TGlobal/src/MuonShowerTemplate.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41254 remove duplicate plugin `HLTPFDiJetCorrCheckerWithDiTau`
  RecoTauTag/HLTProducers/src/HLTDiPFJetPlusTausCandidatePFJetProducer.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41249 [Backport] Adding 2Loose HMT showers in the GT emulator
  L1Trigger/L1TGlobal/interface/MuonShowerTemplate.h
  L1Trigger/L1TGlobal/plugins/TriggerMenuParser.cc
  L1Trigger/L1TGlobal/src/GlobalBoard.cc
  L1Trigger/L1TGlobal/src/MuonShowerCondition.cc
  L1Trigger/L1TGlobal/src/MuonShowerTemplate.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, backport-ok

#41245 L1 nano: 13_0_X backport
  Configuration/PyReleaseValidation/python/relval_nano.py
  PhysicsTools/NanoAOD/interface/SimpleFlatTableProducer.h
  PhysicsTools/NanoAOD/plugins/SimpleFlatTableProducerPlugins.cc
  PhysicsTools/NanoAOD/python/l1trig_cff.py
  PhysicsTools/NanoAOD/python/nano_cff.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, xpog-approved

#41193 Re-introduce `BeamSpotOnlineProducer` for Phase-2 HLT menu
  HLTrigger/Configuration/python/HLT_75e33/eventsetup/hltOnlineBeamSpotESProducer_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltOnlineBeamSpot_cfi.py
  HLTrigger/Configuration/python/HLT_75e33_cff.py
  RecoVertex/BeamSpotProducer/plugins/BeamSpotOnlineProducer.cc
Labels: alca-approved, hlt-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#41227 add track algo and originalAlgo to PackedCandidates [13_0_X]
  DataFormats/PatCandidates/interface/PackedCandidate.h
  DataFormats/PatCandidates/src/classes_def_objects.xml
  PhysicsTools/PatAlgos/plugins/PATLostTracks.cc
  PhysicsTools/PatAlgos/plugins/PATPackedCandidateProducer.cc
  RecoBTag/FeatureTools/plugins/DeepBoostedJetTagInfoProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, xpog-approved, tracking

#41210 [BTV] Backport of #40803 (PUPPI ValueMap-compatible Deep taggers info producers)
  PhysicsTools/PatAlgos/python/tools/jetTools.py
  RecoBTag/FeatureTools/interface/ChargedCandidateConverter.h
  RecoBTag/FeatureTools/interface/NeutralCandidateConverter.h
  RecoBTag/FeatureTools/plugins/DeepBoostedJetTagInfoProducer.cc
  RecoBTag/FeatureTools/plugins/DeepDoubleXTagInfoProducer.cc
  RecoBTag/FeatureTools/plugins/DeepFlavourTagInfoProducer.cc
  RecoBTag/FeatureTools/src/ChargedCandidateConverter.cc
  RecoBTag/FeatureTools/src/NeutralCandidateConverter.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, xpog-approved, btv

#41256 Update for module veto and afterglow correction parameters [CMSSW_13_0_X]
  Calibration/LumiAlCaRecoProducers/python/CorrPCCProducer_cfi.py
  Calibration/LumiAlCaRecoProducers/python/alcaRawPCCProducer_cfi.py
Labels: alca-approved, fully-signed, tests-rejected, orp-approved, urgent, backport-ok

#41239 Update FG HF thresholds to 2022 PbPb
  CalibCalorimetry/CaloTPG/python/CaloTPGTranscoder_cfi.py
  CalibCalorimetry/CaloTPG/python/tpScales_cff.py
  SimCalorimetry/HcalTrigPrimProducers/python/hcaltpdigi_cff.py
  SimCalorimetry/HcalTrigPrimProducers/python/hcaltpdigi_cfi.py
Labels: alca-approved, l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41269 Unit tests improvement and addition of edmFileInPath
  CondTools/Hcal/test/BuildFile.xml
  CondTools/Hcal/test/pfcuts_db_io_test.sh
  FWCore/Utilities/scripts/edmFileInPath
Labels: core-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#41274 Remove FWCore TestHelper utility
  DataFormats/FWLite/test/test.cppunit.cpp
  FWCore/FWLite/test/BuildFile.xml
  FWCore/FWLite/test/ref_t.cppunit.cpp
  FWCore/Utilities/interface/TestHelper.h
  FWCore/Utilities/src/TestHelper.cc
  FWCore/Utilities/test/README
Labels: core-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#41250 [13_0_X] Update FG HF thresholds to 2022 PbPb
  CalibCalorimetry/CaloTPG/python/CaloTPGTranscoder_cfi.py
  CalibCalorimetry/CaloTPG/python/tpScales_cff.py
  SimCalorimetry/HcalTrigPrimProducers/python/hcaltpdigi_cff.py
  SimCalorimetry/HcalTrigPrimProducers/python/hcaltpdigi_cfi.py
Labels: alca-approved, l1-approved, fully-signed, tests-approved, orp-approved, backport-ok

#41281 improve unit test `testCreateRandomMisalignment`
  Alignment/TrackerAlignment/test/Misalignments/createRandomlyMisalignedGeometry_Phase2_cfg.py
  Alignment/TrackerAlignment/test/testCreateRandomMisalignment.sh
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#41277 Add ap_data type to Phase 2 GMT output for GT interface
  DataFormats/L1TMuonPhase2/interface/Constants.h
  DataFormats/L1TMuonPhase2/interface/SAMuon.h
  DataFormats/L1TMuonPhase2/interface/TrackerMuon.h
  DataFormats/L1TMuonPhase2/src/classes_def.xml
  L1Trigger/Phase2L1GMT/plugins/Phase2L1TGMTSAMuonProducer.cc
  L1Trigger/Phase2L1GMT/plugins/TrackMuonMatchAlgorithm.h
  L1Trigger/Phase2L1GMT/python/gmt_cfi.py
  L1Trigger/Phase2L1GMT/test/runGMT.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41253 Add DD4hep Phase2 wf in short,IB matrix
  Configuration/PyReleaseValidation/python/relval_2026.py
  Configuration/PyReleaseValidation/scripts/runTheMatrix.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#41236 Add Wf `*.81` for BPH DQM
  Configuration/PyReleaseValidation/README.md
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#41251 [12_5_X] Update FG HF thresholds to 2022 PbPb
  CalibCalorimetry/CaloTPG/python/CaloTPGTranscoder_cfi.py
  CalibCalorimetry/CaloTPG/python/tpScales_cff.py
  SimCalorimetry/HcalTrigPrimProducers/python/hcaltpdigi_cff.py
  SimCalorimetry/HcalTrigPrimProducers/python/hcaltpdigi_cfi.py
Labels: alca-approved, l1-approved, fully-signed, tests-approved, orp-approved, backport-ok

#41252 Phase2-gex158A Replace cout with edm::Logverbatim in Geometry/GlobalTrackingGeometryBuilder
  Geometry/GlobalTrackingGeometryBuilder/test/GlobalTrackingGeometryTest.cc
  Geometry/GlobalTrackingGeometryBuilder/test/testGlobalTrackingGeometry_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#41272 Run3-gex158C Replace std::cout with edm::LogVerbatim in Geometry/HcalEventSetup and Geometry/HcalTestBeamData. Also, add some missing files needed for testing
  Geometry/HcalEventSetup/python/HcalDDDGeometry_cfi.py
  Geometry/HcalEventSetup/src/HcalTopologyIdealEP.cc
  Geometry/HcalEventSetup/test/runTestHcalDDDGeometry_cfg.py
  Geometry/HcalTestBeamData/data/dd4hep/cms-test-ddTB2006-algorithm.xml
  Geometry/HcalTestBeamData/data/dd4hep/cms-test-ddTB2007-algorithm.xml
  Geometry/HcalTestBeamData/plugins/HcalTBParameterTester.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41248 Re-enable unit tests for ASAN build
  DQM/Integration/test/BuildFile.xml
  FWCore/Services/test/BuildFile.xml
  HeterogeneousCore/SonicTriton/test/BuildFile.xml
  RecoEcal/EgammaClusterProducers/test/BuildFile.xml
Labels: reconstruction-pending, core-approved, dqm-approved, pending-signatures, tests-approved, orp-approved, requires-external, code-checks-approved, heterogeneous-pending

#41167 Add HCAL LLP Jet Skim config (13_0_X)
  Configuration/Skimming/python/PDWG_EXOLLPJetHCAL_cff.py
  Configuration/Skimming/python/Skims_PDWG_cff.py
  Configuration/Skimming/test/test_EXOLLPJetHCAL_SKIM.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, backport-ok

#41300 get rid of `gROOT->Reset()` in GeometryComparisonPlotter.cc
  Alignment/OfflineValidation/src/GeometryComparisonPlotter.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#41299 TkAl Payload Inspector: fix bug in computation of barycenters per partition and improve graphical display
  CondCore/AlignmentPlugins/interface/AlignmentPayloadInspectorHelper.h
  CondCore/AlignmentPlugins/plugins/TrackerAlignment_PayloadInspector.cc
Labels: fully-signed, tests-approved, db-approved, bug-fix, orp-approved, code-checks-approved

#41291 Switch to std::chrono::steady_clock
  FWCore/Services/plugins/ConcurrentModuleTimer.cc
  Utilities/StorageFactory/interface/StorageAccount.h
  Utilities/StorageFactory/src/StorageAccount.cc
  Utilities/XrdAdaptor/src/XrdFile.cc
  Utilities/XrdAdaptor/src/XrdStatistics.cc
  Utilities/XrdAdaptor/src/XrdStatistics.h
Labels: core-approved, fully-signed, tests-rejected, orp-approved, code-checks-approved

#41268 Run3-gex158B Replace std::cout with edm::LogVerbatim in Geometry/HGCalGeometry and Geometry/HcalCommonData
  Geometry/HGCalGeometry/plugins/moduleDB.cc
  Geometry/HcalCommonData/test/HcalParametersAnalyzer.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#41294 Phase2-hgx336F Fix a bug in HGCalWaferMask to avoid overlaps of partial wafers in the V17 geometry of HGCal
  Geometry/HGCalCommonData/src/HGCalCell.cc
  Geometry/HGCalCommonData/src/HGCalWaferMask.cc
Labels: geometry-approved, fully-signed, tests-approved, bug-fix, orp-approved, upgrade-approved, code-checks-approved

#41298 Fix OMS url link for BeamSpot DQM clients
  DQM/Integration/python/clients/beam_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamfake_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamhlt_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamhltfake_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, urgent, code-checks-approved

#41302 [DBG] fix compilation error for dbg IBs
  SimCalorimetry/EcalSimProducers/src/EcalTimeDigiProducer.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41240 add pt dependent SF and add legends on summary plots
  CondCore/JetMETPlugins/plugins/JetResolution_PayloadInspector.cc
  CondCore/JetMETPlugins/test/testJetResolutionPayloadInspector.cpp
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#41262 Timing Service now measures time not running a Module
  FWCore/Framework/src/EventProcessor.cc
  FWCore/Framework/src/EventSetupsController.cc
  FWCore/Framework/test/unit_test_outputs/test_deepCall_unscheduled.log
  FWCore/Framework/test/unit_test_outputs/test_onPath_unscheduled.log
  FWCore/Integration/test/unit_test_outputs/testGetBy1.log
  FWCore/Integration/test/unit_test_outputs/testGetBy2.log
  FWCore/Integration/test/unit_test_outputs/testSubProcess.grep2.txt
  FWCore/ServiceRegistry/interface/ActivityRegistry.h
  FWCore/ServiceRegistry/src/ActivityRegistry.cc
  FWCore/Services/plugins/Timing.cc
  FWCore/Services/test/BuildFile.xml
  FWCore/Services/test/test_Timing.sh
  FWCore/Services/test/test_Timing_cfg.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41305 Switch to std::chrono::steady_clock [13_0]
  FWCore/Services/plugins/ConcurrentModuleTimer.cc
  Utilities/StorageFactory/interface/StorageAccount.h
  Utilities/StorageFactory/src/StorageAccount.cc
  Utilities/XrdAdaptor/src/XrdFile.cc
  Utilities/XrdAdaptor/src/XrdStatistics.cc
  Utilities/XrdAdaptor/src/XrdStatistics.h
Labels: core-approved, fully-signed, tests-approved, orp-approved

#41297 [13_0_X] Fix OMS url link for BeamSpot DQM clients
  DQM/Integration/python/clients/beam_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamfake_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamhlt_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamhltfake_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok

#41296 Phase2-336G Backport the bugfixes to HGCal geometries of versions V16 (#41208) and V17 (#41294) to CMSSW version 13_0_X
  Geometry/HGCalCommonData/interface/HGCalWaferMask.h
  Geometry/HGCalCommonData/plugins/DDHGCalWaferP.cc
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalWaferP.cc
  Geometry/HGCalCommonData/src/HGCalWaferMask.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, backport-ok

#41303 [DBG] Fix compilation warnings
  Geometry/HGCalTBCommonData/plugins/HGCalTBNumberingInitialization.cc
  Geometry/HGCalTBCommonData/plugins/HGCalTBParametersESModule.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41306 Utilities/StaticAnalyzers: skip pybind11 types in non-const global statics check
  Utilities/StaticAnalyzers/src/CmsSupport.cpp
  Utilities/StaticAnalyzers/src/GlobalStaticChecker.cpp
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41304 Run3-gex158D Replace std::cout with edm::LogVerbatim in Geometry/MuonNumbering
  Geometry/MuonNumbering/src/DTNumberingScheme.cc
  Geometry/MuonNumbering/src/RPCNumberingScheme.cc
  Geometry/MuonNumbering/test/MuonGeometryConstantsTester.cc
  Geometry/MuonNumbering/test/MuonNumberingTester.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41278 Phase2-hgx337 The first entry of the V18 version of HGCal geometry
  Geometry/HGCalCommonData/data/hgcal/v18/hgcal.xml
  Geometry/HGCalCommonData/data/hgcalCons/v18/hgcalCons.xml
  Geometry/HGCalCommonData/python/testHGCalV18Reco_cff.py
  Geometry/HGCalCommonData/python/testHGCalV18XML_cfi.py
  Validation/HGCalValidation/scripts/testHGCalSimSingleMuonPt100_cfg.py
  Validation/HGCalValidation/scripts/testHGCalSimTTBar_cfg.py
Labels: dqm-approved, geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#41263 Phase2-TB70 Add a simulation setup for radiation hardness studies of HGCal wafers
  Geometry/HGCalCommonData/plugins/DDHGCalSiliconRotatedModule.cc
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalSiliconRotatedModule.cc
  Geometry/HGCalTBCommonData/data/TB230/FEB230/cms.xml
  Geometry/HGCalTBCommonData/data/TB230/FEB230/hgcal.xml
  Geometry/HGCalTBCommonData/data/TB230/FEB230/hgcalCons.xml
  Geometry/HGCalTBCommonData/data/TB230/FEB230/hgcalConsData.xml
  Geometry/HGCalTBCommonData/data/TB230/FEB230/hgcalEE.xml
  Geometry/HGCalTBCommonData/data/TB230/FEB230/hgcalcell.xml
  Geometry/HGCalTBCommonData/data/TB230/FEB230/hgcalsense.xml
  Geometry/HGCalTBCommonData/data/TB230/FEB230/hgcalwafer.xml
  Geometry/HGCalTBCommonData/data/TB230/hgcProdCuts.xml
  Geometry/HGCalTBCommonData/python/testTB230FEBXML_cfi.py
  Geometry/HGCalTBCommonData/test/python/dumpTBFEB203_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#41118 Update to new ONNXRuntime api
  DQM/EcalMonitorClient/src/MLClient.cc
  PhysicsTools/ONNXRuntime/src/ONNXRuntime.cc
Labels: dqm-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#41216 [13_0_X] Add loose bits to uGMT muon shower DQM plots
  DQM/L1TMonitor/interface/L1TStage2MuonShowerComp.h
  DQM/L1TMonitor/interface/L1TStage2RegionalMuonShowerComp.h
  DQM/L1TMonitor/interface/L1TStage2uGMT.h
  DQM/L1TMonitor/src/L1TStage2MuonShowerComp.cc
  DQM/L1TMonitor/src/L1TStage2RegionalMuonShowerComp.cc
  DQM/L1TMonitor/src/L1TStage2uGMT.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#41221 Adding HCAL FB LUT to caloParams for uploading to DB
  L1Trigger/L1TCaloLayer1/plugins/L1TCaloLayer1.cc
  L1Trigger/L1TCaloLayer1/python/simCaloStage2Layer1Digis_cfi.py
  L1Trigger/L1TCaloLayer1/src/L1TCaloLayer1FetchLUTs.cc
  L1Trigger/L1TCaloLayer1/src/L1TCaloLayer1FetchLUTs.hh
  L1Trigger/L1TCaloLayer1/test/testL1TCaloLayer1.py
  L1Trigger/L1TCaloLayer1/test/testL1TCaloLayer1EmulatorOnSpy.py
  L1Trigger/L1TCaloLayer1/test/testL1TCaloLayer1EmulatorWithSpy.py
  L1Trigger/L1TCalorimeter/interface/CaloParamsHelper.h
  L1Trigger/L1TCalorimeter/plugins/L1TCaloParamsESProducer.cc
  L1Trigger/L1TCalorimeter/plugins/L1TCaloStage2ParamsESProducer.cc
  L1Trigger/L1TCalorimeter/python/caloParamsHI_2023_v0_0_cfi.py
  L1Trigger/L1TCalorimeter/python/caloParams_2023_v0_0_cfi.py
  L1TriggerConfig/L1TConfigProducers/src/CaloParamsHelperO2O.h
  L1TriggerConfig/L1TConfigProducers/src/L1TCaloParamsOnlineProd.cc
Labels: l1-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#41225 Modernize / optimize `DisappearingMuonsSkimming`
  Configuration/Skimming/interface/DisappearingMuonsSkimming.h
  Configuration/Skimming/src/DisappearingMuonsSkimming.cc
  Configuration/Skimming/test/test_DisMuon_cfg.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, code-checks-approved, performance-improvements

#41289 remove erroneous call to global ROOT reset
  CommonTools/TrackerMap/src/TrackerMap.cc
Labels: reconstruction-pending, dqm-approved, pending-signatures, tests-approved, bug-fix, orp-approved, code-checks-approved, trk

#41273 redefine IT digitizer ToF window + add customize fcn for activating IT signal shape with RelVals
  Configuration/PyReleaseValidation/README.md
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  SimTracker/SiPhase2Digitizer/plugins/PixelDigitizerAlgorithm.cc
  SimTracker/SiPhase2Digitizer/python/customizeForPhase2TrackerSignalShape.py
  SimTracker/SiPhase2Digitizer/python/phase2TrackerDigitizer_cfi.py
Labels: simulation-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved, trk

#41145 Update autoSkim for 2023 data taking [13_1_X]
  Configuration/DataProcessing/test/run_CfgTest.sh
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/Skimming/python/autoSkim.py
Labels: operations-approved, pending-signatures, tests-approved, pdmv-approved, orp-approved, upgrade-pending, code-checks-approved

#41150 [13_0_X] Add L1 Stage2 Digis to Cosmics AOD event content
  Configuration/EventContent/python/EventContentCosmics_cff.py
  L1Trigger/Configuration/python/L1Trigger_EventContent_Cosmics_cff.py
Labels: l1-approved, operations-approved, fully-signed, tests-approved, orp-approved, backport-ok

#41146 Update autoSkim for 2023 data taking [13_0_X]
  Configuration/DataProcessing/test/run_CfgTest.sh
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/Skimming/python/autoSkim.py
Labels: operations-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, backport-ok

#41265 Backport to CMSSW_13_0_X of new extended ParticleNet networks for jet classification, regression, and taus
  PhysicsTools/NanoAOD/python/jetsAK4_CHS_cff.py
  PhysicsTools/NanoAOD/python/jetsAK4_Puppi_cff.py
  PhysicsTools/NanoAOD/python/jetsAK8_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
  PhysicsTools/NanoAOD/python/nano_cff.py
  PhysicsTools/PatAlgos/python/recoLayer0/bTagging_cff.py
  PhysicsTools/PatAlgos/python/slimming/applyDeepBtagging_cff.py
  PhysicsTools/PatAlgos/python/tools/jetTools.py
  RecoBTag/FeatureTools/plugins/ParticleNetFeatureEvaluator.cc
  RecoBTag/ONNXRuntime/python/pfParticleNetDiscriminatorsJetTags_cfi.py
  RecoBTag/ONNXRuntime/python/pfParticleNetFromMiniAODAK4DiscriminatorsJetTags_cfi.py
  RecoBTag/ONNXRuntime/python/pfParticleNetFromMiniAODAK4_cff.py
  RecoBTag/ONNXRuntime/python/pfParticleNetFromMiniAODAK8DiscriminatorsJetTags_cfi.py
  RecoBTag/ONNXRuntime/python/pfParticleNetFromMiniAODAK8_cff.py
  RecoBTag/ONNXRuntime/python/pfParticleNet_cff.py
  RecoBTag/ONNXRuntime/test/test_particlenet_from_miniaod_ak4chs_cfg.py
  RecoBTag/ONNXRuntime/test/test_particlenet_from_miniaod_ak4puppi_cfg.py
  RecoBTag/ONNXRuntime/test/test_particlenet_from_miniaod_ak8_cfg.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, requires-external, backport-ok, xpog-approved

#41324 Move to steady_clock in the framework
  FWCore/Services/plugins/CondorStatusUpdater.cc
  FWCore/Services/plugins/Timing.cc
  FWCore/Utilities/interface/TimingServiceBase.h
  FWCore/Utilities/src/TimingServiceBase.cc
Labels: core-approved, fully-signed, tests-rejected, orp-approved, code-checks-approved

#41276 Improved options handling for TensorFlow sessions
  PhysicsTools/TensorFlow/interface/TensorFlow.h
  PhysicsTools/TensorFlow/src/TensorFlow.cc
  PhysicsTools/TensorFlow/test/testConstSession.cc
  PhysicsTools/TensorFlow/test/testConstSessionCUDA.cc
  PhysicsTools/TensorFlow/test/testGraphLoading.cc
  PhysicsTools/TensorFlow/test/testGraphLoadingCUDA.cc
  PhysicsTools/TensorFlow/test/testHelloWorld.cc
  PhysicsTools/TensorFlow/test/testHelloWorldCUDA.cc
  PhysicsTools/TensorFlow/test/testMetaGraphLoading.cc
  PhysicsTools/TensorFlow/test/testMetaGraphLoadingCUDA.cc
  PhysicsTools/TensorFlow/test/testSessionCache.cc
  PhysicsTools/TensorFlow/test/testSessionCacheCUDA.cc
  PhysicsTools/TensorFlow/test/testThreadPools.cc
  PhysicsTools/TensorFlow/test/testThreadPoolsCUDA.cc
  PhysicsTools/TensorFlow/test/testVisibleDevices.cc
  PhysicsTools/TensorFlow/test/testVisibleDevicesCUDA.cc
  RecoTauTag/RecoTau/src/DeepTauBase.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41329 Catch and rethrow xml exceptions in TotemDAQMappingESSourceXML
  CalibPPS/ESProducers/plugins/TotemDAQMappingESSourceXML.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41327 Include HcalPFCuts Rcd and update SiPixel Dynamic Inefficiency tags in MC GTs
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41322 TagProbeFitter: replace call to deprecated overload of RooPdf::paramOn
  PhysicsTools/TagAndProbe/src/TagProbeFitter.cc
Labels: analysis-pending, pending-signatures, tests-approved, orp-approved, code-checks-approved

#41196 DQM perLS in one shot
  DQMServices/Core/interface/DQMStore.h
  DQMServices/Core/python/nanoDQMIO_perLSoutput_cff.py
  DQMServices/Core/src/DQMStore.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41311 [13.0.X] Modernize / optimize `DisappearingMuonsSkimming`
  Configuration/Skimming/interface/DisappearingMuonsSkimming.h
  Configuration/Skimming/src/DisappearingMuonsSkimming.cc
  Configuration/Skimming/test/test_DisMuon_cfg.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, backport-ok

#41330 Fix FastSim PreMixing configuration for Run-3
  SimGeneral/MixingModule/python/aliases_PreMix_cfi.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41307 mkFit: minor fixes to a Makefile for standalone build only
  RecoTracker/MkFitCMS/standalone/Makefile
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#41266 Add `--nEvents` option to `runTheMatrix.py`
  Configuration/PyReleaseValidation/python/MatrixRunner.py
  Configuration/PyReleaseValidation/python/WorkFlowRunner.py
  Configuration/PyReleaseValidation/scripts/runTheMatrix.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#41331 [12_4] Fix FastSim PreMixing configuration for Run-3
  SimGeneral/MixingModule/python/aliases_PreMix_cfi.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved

#41318 MTD simulation: update Track ID stored in MTD SimHits
  Geometry/MTDNumberingBuilder/src/CmsMTDStringToEnum.cc
  Geometry/MTDSimData/data/v2/mtdProdCuts.xml
  Geometry/MTDSimData/data/v4/mtdProdCuts.xml
  SimG4CMS/Forward/interface/MtdSD.h
  SimG4CMS/Forward/interface/TimingSD.h
  SimG4CMS/Forward/src/MtdSD.cc
  SimG4CMS/Forward/src/TimingSD.cc
  SimG4Core/Application/interface/SteppingAction.h
  SimG4Core/Application/python/g4SimHits_cfi.py
  SimG4Core/Application/src/StackingAction.cc
  SimG4Core/Application/src/SteppingAction.cc
  SimG4Core/Application/src/TrackingAction.cc
  SimG4Core/Notification/interface/NewTrackAction.h
  SimG4Core/Notification/interface/TrackInformation.h
  SimG4Core/Notification/src/NewTrackAction.cc
  SimG4Core/Notification/src/SimTrackManager.cc
  SimG4Core/Notification/src/TrackInformation.cc
Labels: geometry-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#41339 Fix for HcalPFCuts_unittest
  CondTools/Hcal/test/pfcuts_db_io_test.sh
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#41332 [13_0_X] Update SiPixel Dynamic Inefficiency tag in 2022, 2023, 2024 MC GTs
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok

#41341 Drop support for the old alpaka accelerator framework
  DataFormats/Portable/interface/Product.h
  DataFormats/Portable/interface/ProductBase.h
  DataFormats/PortableTestObjects/src/alpaka/classes_cuda.h
  DataFormats/PortableTestObjects/src/alpaka/classes_rocm.h
  DataFormats/PortableTestObjects/src/classes.h
  HeterogeneousCore/AlpakaCore/interface/ContextState.h
  HeterogeneousCore/AlpakaCore/interface/ScopedContext.h
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaProducer.cc
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#41346 Drop support for the old alpaka accelerator framework [13.0.x]
  DataFormats/Portable/interface/Product.h
  DataFormats/Portable/interface/ProductBase.h
  DataFormats/PortableTestObjects/src/alpaka/classes_cuda.h
  DataFormats/PortableTestObjects/src/alpaka/classes_rocm.h
  DataFormats/PortableTestObjects/src/classes.h
  HeterogeneousCore/AlpakaCore/interface/ContextState.h
  HeterogeneousCore/AlpakaCore/interface/ScopedContext.h
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaProducer.cc
Labels: fully-signed, tests-approved, orp-approved, backport-ok, heterogeneous-approved

#41350 change input file of `testTriggerEventAnalyzers` unit test
  HLTrigger/HLTcore/test/testTriggerEventAnalyzers.sh
  HLTrigger/HLTcore/test/testTriggerEventAnalyzers_cfg.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41164 Use std::optional to work around maybe-uninitialized warning
  RecoTracker/TkDetLayers/src/TIBRing.cc
  RecoTracker/TkDetLayers/src/TIBRing.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#41349 Make sure to report an error if process.options.numberOfThreads has wrong type
  FWCore/Framework/test/BuildFile.xml
  FWCore/Framework/test/run_wrongOptionsType.sh
  FWCore/Framework/test/test_wrongOptionsType_cfg.py
  FWCore/ParameterSet/src/ThreadsInfo.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41336 Phase-2 L1T: fix isolation type for GT e/g objects
  DataFormats/L1TParticleFlow/interface/gt_datatypes.h
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#41234 Re-inforce time of arrival threshold in aged scenarios
  SimCalorimetry/HGCalSimProducers/plugins/HGCDigitizerBase.cc
  SimCalorimetry/HGCalSimProducers/src/HGCFEElectronics.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#41271 New Run3 era for updated HB thresholds in 2023
  Configuration/DataProcessing/python/Impl/ppEra_Run3_2023.py
  Configuration/DataProcessing/python/RecoTLR.py
  Configuration/DataProcessing/test/run_CfgTest.sh
  Configuration/Eras/python/Era_Run3_2023_cff.py
  Configuration/Eras/python/Modifier_run3_egamma_2023_cff.py
  Configuration/StandardSequences/python/Eras.py
  RecoEgamma/EgammaIsolationAlgos/python/egammaHBHERecHitThreshold_cff.py
  RecoParticleFlow/PFClusterProducer/python/particleFlowClusterHBHE_cfi.py
  RecoParticleFlow/PFClusterProducer/python/particleFlowClusterHCAL_cfi.py
  RecoParticleFlow/PFClusterProducer/python/particleFlowRecHitHBHE_cfi.py
Labels: operations-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#41175 Adding the Ecal Endcaps to the ML based online ECAL DQM
  DQM/EcalMonitorClient/interface/MLClient.h
  DQM/EcalMonitorClient/python/MLClient_cfi.py
  DQM/EcalMonitorClient/src/MLClient.cc
  DQM/EcalMonitorTasks/python/OccupancyTask_cfi.py
  DQM/EcalMonitorTasks/src/OccupancyTask.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, ecal

#41359 [106X] Silence SiStripDAQ_O2O_test failure in 10_6_X only
  CondTools/SiStrip/test/BuildFile.xml
Labels: fully-signed, tests-approved, db-approved, orp-approved, trk

#41282 Pixel Alpaka Migration: Modification to Existing Modules [I]
  Geometry/CommonTopologies/interface/SimplePixelTopology.h
  RecoTracker/PixelTrackFitting/plugins/PixelTrackProducerFromSoA.cc
Labels: reconstruction-pending, geometry-pending, pending-signatures, tests-approved, orp-approved, urgent, code-checks-approved, tracking

#41319 [13_1_X]changing Era to Run3_2023 for 2023 WFs
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, requires-external, code-checks-approved

#41345 Phase2-gex159 Modify the GE0 Shield structure to match engineering drawing
  Geometry/MuonCommonData/data/ge0shield/2026/v2/ge0shield.xml
  Geometry/MuonCommonData/python/cmsExtendedGeometry2026D99XML_cfi.py
  Geometry/MuonCommonData/test/python/g4OverlapCheckGE0_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41283 [13_0_X] Pixel Alpaka Migration: Modification to Existing Modules [I]
  Geometry/CommonTopologies/interface/SimplePixelTopology.h
  RecoPixelVertexing/PixelTrackFitting/plugins/PixelTrackProducerFromSoA.cc
  RecoPixelVertexing/PixelTriplets/plugins/CAStructures.h
Labels: geometry-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, tracking

#41355 Phase2-hgx337A Further attempts to diagnose cassette shift studies for HGCal geometry (relevant for the V18 version)
  Geometry/HGCalCommonData/interface/HGCalDDDConstants.h
  Geometry/HGCalCommonData/src/HGCalDDDConstants.cc
  Geometry/HGCalCommonData/test/HGCalWaferIDTester.cc
  SimG4CMS/Calo/plugins/HGCalTestPartialWaferHits.cc
  SimG4CMS/Calo/src/HGCScintSD.cc
  SimG4CMS/Calo/src/HGCalSD.cc
Labels: geometry-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#41309 Backport codes for adding new data catalogs from Rucio storage description (RucioCatalog) and use it by default instead of trivial data catalogs (TrivialCatalog) #37278, and related bug fixes
  Configuration/PyReleaseValidation/scripts/runTheMatrix.py
  FWCore/Catalog/interface/FileLocator.h
  FWCore/Catalog/interface/InputFileCatalog.h
  FWCore/Catalog/interface/SiteLocalConfig.h
  FWCore/Catalog/src/FileLocator.cc
  FWCore/Catalog/src/InputFileCatalog.cc
  FWCore/Catalog/test/FileLocator_t.cpp
  FWCore/Catalog/test/storage.json
  FWCore/Services/src/SiteLocalConfigService.cc
  FWCore/Services/src/SiteLocalConfigService.h
  FWCore/Services/test/full-site-local-config.testfile
  FWCore/Services/test/no-source-site-local-config.testfile
  FWCore/Services/test/source-site-local-config.testfile
  FWCore/Services/test/test_catch2_SiteLocalConfigService.cc
  FWCore/Services/test/test_sitelocalconfig.sh
Labels: core-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved

#41312 Adding the new muon track finder index and three eta cuts features in the GT emulator
  L1Trigger/L1TGlobal/interface/CaloTemplate.h
  L1Trigger/L1TGlobal/interface/ConditionEvaluation.h
  L1Trigger/L1TGlobal/interface/MuonTemplate.h
  L1Trigger/L1TGlobal/plugins/GtRecordDump.cc
  L1Trigger/L1TGlobal/plugins/TriggerMenuParser.cc
  L1Trigger/L1TGlobal/src/CaloCondition.cc
  L1Trigger/L1TGlobal/src/MuCondition.cc
  L1Trigger/L1TGlobal/src/MuonTemplate.cc
  L1Trigger/L1TGlobal/test/runGlobalFakeInputProducer.py
Labels: l1-pending, pending-signatures, tests-approved, orp-approved, code-checks-approved

#41314 adding DeepJet pass to HLT-BTV validation plots
  HLTriggerOffline/Btag/python/HltBtagPostValidation_cff.py
  HLTriggerOffline/Btag/python/HltBtagValidation_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41379 [13.0.X] Re-adding cosmic track collection ALCARECOTkAlCosmicsCosmicTF0T
  Alignment/CommonAlignment/python/tools/trackselectionRefitting.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok

#41328 Implement return value for ESProducer acquire function
  FWCore/Framework/interface/Callback.h
  FWCore/Framework/interface/CallbackBase.h
  FWCore/Framework/interface/CallbackExternalWork.h
  FWCore/Framework/interface/ESProducerExternalWork.h
  FWCore/Integration/plugins/AcquireIntESProducer.cc
  FWCore/Integration/plugins/ConcurrentIOVAnalyzer.cc
  FWCore/Integration/test/testESProducerUsingAcquire_cfg.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41354 add GPU RelVals using 2023 HLT menu
  Configuration/PyReleaseValidation/python/relval_gpu.py
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#41365 Add missing dictionaries in DataFormats/CTPPSReco
  DataFormats/CTPPSReco/src/classes_def.xml
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41368 [13_0_X backport] New Run3 era for updated HB thresholds in 2023
  Configuration/DataProcessing/python/Impl/ppEra_Run3_2023.py
  Configuration/DataProcessing/python/RecoTLR.py
  Configuration/DataProcessing/test/run_CfgTest.sh
  Configuration/Eras/python/Era_Run3_2023_cff.py
  Configuration/Eras/python/Modifier_run3_egamma_2023_cff.py
  Configuration/StandardSequences/python/Eras.py
  RecoEgamma/EgammaIsolationAlgos/python/egammaHBHERecHitThreshold_cff.py
  RecoParticleFlow/PFClusterProducer/python/particleFlowClusterHBHE_cfi.py
  RecoParticleFlow/PFClusterProducer/python/particleFlowClusterHCAL_cfi.py
  RecoParticleFlow/PFClusterProducer/python/particleFlowRecHitHBHE_cfi.py
Labels: operations-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok

#41380 Phase2-hgx337B Try to solve the cassette shift issue and fix a bug in Geometry/HGCalCommonData
  Geometry/HGCalCommonData/interface/HGCalCassette.h
  Geometry/HGCalCommonData/plugins/DDHGCalMixRotatedLayer.cc
  Geometry/HGCalCommonData/plugins/DDHGCalSiliconRotatedModule.cc
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalMixRotatedLayer.cc
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalSiliconRotatedModule.cc
  Geometry/HGCalCommonData/src/HGCalCassette.cc
  Geometry/HGCalCommonData/src/HGCalDDDConstants.cc
  Geometry/HGCalCommonData/test/HGCalParameterTester.cc
  Geometry/HGCalCommonData/test/python/testHGCalParametersDDD_cfg.py
  SimG4CMS/Calo/src/HGCalSD.cc
Labels: geometry-approved, simulation-approved, fully-signed, tests-approved, bug-fix, orp-approved, upgrade-approved, code-checks-approved

#41313 [Backport] Adding the new muon track finder index and three eta cuts features in the GT emulator
  L1Trigger/L1TGlobal/interface/CaloTemplate.h
  L1Trigger/L1TGlobal/interface/ConditionEvaluation.h
  L1Trigger/L1TGlobal/interface/MuonTemplate.h
  L1Trigger/L1TGlobal/plugins/GtRecordDump.cc
  L1Trigger/L1TGlobal/plugins/TriggerMenuParser.cc
  L1Trigger/L1TGlobal/src/CaloCondition.cc
  L1Trigger/L1TGlobal/src/MuCondition.cc
  L1Trigger/L1TGlobal/src/MuonTemplate.cc
  L1Trigger/L1TGlobal/test/runGlobalFakeInputProducer.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, backport-ok

#41393 fix some bugs in the TrackerAlignment `DiMuonValidation` code
  Alignment/OfflineValidation/plugins/DiMuonValidation.cc
  Alignment/OfflineValidation/python/TkAlAllInOneTool/Zmumu_cfg.py
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, trk

#41378 Improve vertexing monitoring for Tracker Alignment AlCaReco samples
  Alignment/OfflineValidation/plugins/GeneralPurposeTrackAnalyzer.cc
  Alignment/OfflineValidation/plugins/GeneralPurposeVertexAnalyzer.cc
  Alignment/OfflineValidation/test/testPrimaryVertexRelatedValidations_cfg.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, urgent, code-checks-approved, trk

#41390 Phase2-hgx338A First step to introduce calibration cells for HGCAL silicon sensors
  Geometry/HGCalCommonData/data/hgcal/v18/hgcal.xml
  Geometry/HGCalCommonData/data/hgcalCons/v18/hgcalCons.xml
  Geometry/HGCalCommonData/interface/HGCalDDDConstants.h
  Geometry/HGCalCommonData/interface/HGCalGeometryMode.h
  Geometry/HGCalCommonData/interface/HGCalParameters.h
  Geometry/HGCalCommonData/src/HGCalGeomParameters.cc
  Geometry/HGCalCommonData/src/HGCalGeometryMode.cc
  Geometry/HGCalCommonData/src/HGCalParametersFromDD.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#41377 Remove PhysicsTools/MXNet (cms-sw/cmssw#30432)
  PhysicsTools/MXNet/BuildFile.xml
  PhysicsTools/MXNet/interface/Predictor.h
  PhysicsTools/MXNet/src/Predictor.cc
  PhysicsTools/MXNet/test/BuildFile.xml
  PhysicsTools/MXNet/test/data/testmxnet-0000.params
  PhysicsTools/MXNet/test/data/testmxnet-symbol.json
  PhysicsTools/MXNet/test/testMXNetCppPredictor.cc
  PhysicsTools/MXNet/test/testRunner.cpp
  PhysicsTools/MXNet/test/test_mxnet.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41392 Remove checks for Geant4 version
  SimG4Core/Application/src/ParametrisedEMPhysics.cc
  SimG4Core/PhysicsLists/interface/CMSEmStandardPhysicsEMMT.h
  SimG4Core/PhysicsLists/interface/CMSEmStandardPhysicsTrackingManager.h
  SimG4Core/PhysicsLists/interface/CMSHepEmTrackingManager.h
  SimG4Core/PhysicsLists/plugins/FTFPCMS_BERT_EMM.cc
  SimG4Core/PhysicsLists/plugins/FTFPCMS_BERT_EMMT.cc
  SimG4Core/PhysicsLists/plugins/FTFPCMS_BERT_EMMT.h
  SimG4Core/PhysicsLists/plugins/module.cc
  SimG4Core/PhysicsLists/src/CMSEmStandardPhysics.cc
  SimG4Core/PhysicsLists/src/CMSEmStandardPhysicsEMMT.cc
  SimG4Core/PhysicsLists/src/CMSEmStandardPhysicsTrackingManager.cc
  SimG4Core/PhysicsLists/src/CMSEmStandardPhysicsXS.cc
  SimG4Core/PhysicsLists/src/CMSHadronPhysicsFTFP_BERT.cc
  SimG4Core/PhysicsLists/src/CMSHepEmTrackingManager.cc
  SimG4Core/PhysicsLists/src/TrackingManagerHelper.icc
Labels: simulation-approved, fully-signed, tests-rejected, orp-approved, code-checks-approved

#41325 renew matched lepton ids for every jet
  PhysicsTools/NanoAOD/plugins/LeptonInJetProducer.cc
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#41375 DQM perLS in one shot (part 2)
  DQMServices/Core/interface/DQMStore.h
  DQMServices/Core/src/DQMStore.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41373 [13_0_X backport ]change era to Run3_2023 for 2023 WFs
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
Labels: pending-signatures, tests-approved, pdmv-approved, orp-approved, upgrade-pending, requires-external

#41259 Added skimming filter for disappearing muons [10_6_X Backport]
  Configuration/Skimming/interface/DisappearingMuonsSkimming.h
  Configuration/Skimming/python/PDWG_EXODisappMuon_cff.py
  Configuration/Skimming/python/Skims_PDWG_cff.py
  Configuration/Skimming/src/DisappearingMuonsSkimming.cc
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, backport-ok

#41401 Update GlobalAlgBlkUnpacker to throw error in the case of headers received in the wrong order
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/GlobalAlgBlkUnpacker.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41381 [13_0_X] Fixing the missing Tau plots within the L1T offline DQM
  DQMOffline/L1Trigger/interface/L1TTauOffline.h
  DQMOffline/L1Trigger/python/L1TTauOffline_cfi.py
  DQMOffline/L1Trigger/src/L1TTauOffline.cc
Labels: dqm-approved, l1-approved, fully-signed, tests-approved, orp-approved, backport-ok

#41402 [13_0_X] Update GlobalAlgBlkUnpacker to throw error in the case of headers received in the wrong order
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/GlobalAlgBlkUnpacker.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, backport-ok

#41168 a first unit test for backward compatibility of Scouting data formats [`13_0_X`]
  DataFormats/Scouting/test/BuildFile.xml
  DataFormats/Scouting/test/scoutingCollectionsDumper.py
  DataFormats/Scouting/test/scoutingCollectionsIO_cfg.py
  DataFormats/Scouting/test/testDataFormatsScoutingRun2.sh
  DataFormats/Scouting/test/testDataFormatsScoutingRun2_expected.log
  DataFormats/Scouting/test/testDataFormatsScoutingRun3.sh
  DataFormats/Scouting/test/testDataFormatsScoutingRun3_expected.log
Labels: core-approved, fully-signed, tests-approved, orp-approved, backport-ok

#41404 Different Geant4 SteppingActions for Run3 and Phase2
  SimG4Core/Application/interface/CMSSimEventManager.h
  SimG4Core/Application/interface/Phase2SteppingAction.h
  SimG4Core/Application/interface/RunManagerMT.h
  SimG4Core/Application/interface/RunManagerMTWorker.h
  SimG4Core/Application/interface/SteppingAction.h
  SimG4Core/Application/interface/SteppingTrackStatus.h
  SimG4Core/Application/src/CMSSimEventManager.cc
  SimG4Core/Application/src/RunManagerMT.cc
  SimG4Core/Application/src/RunManagerMTWorker.cc
  SimG4Core/Application/src/SteppingAction.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41408 [13.0.X] Misceallaneous Tracker Alignment validation updates for 2023 data-taking
  Alignment/OfflineValidation/plugins/DiMuonValidation.cc
  Alignment/OfflineValidation/plugins/GeneralPurposeTrackAnalyzer.cc
  Alignment/OfflineValidation/plugins/GeneralPurposeVertexAnalyzer.cc
  Alignment/OfflineValidation/python/TkAlAllInOneTool/Zmumu_cfg.py
  Alignment/OfflineValidation/test/testPrimaryVertexRelatedValidations_cfg.py
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, trk

#41429 [SIMULATION-UPGRADE] [LLVM14] Apply clang-tidy and clang-format changes
  SimG4CMS/HGCalTestBeam/src/HGCalTB16SD01.cc
Labels: simulation-approved, pending-signatures, tests-started, orp-approved, upgrade-pending, code-checks-approved

#41430 Update of L1T pp menu in TSG GTs to `L1Menu_Collisions2023_v1_1_0_xml`
  Configuration/HLT/python/autoCondHLT.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41428 [VISUALIZATION] [LLVM14] Apply clang-tidy and clang-format changes
  Fireworks/Core/src/CmsShowMain.cc
Labels: visualization-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41423 [GEOMETRY] [LLVM14] Apply clang-tidy and clang-format changes
  Geometry/TrackerGeometryBuilder/test/ModuleInfo.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#41419 [DAQ] [LLVM14] Apply clang-tidy and clang-format changes
  EventFilter/Utilities/src/json_valueiterator.icc
Labels: daq-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41422 [ANALYSIS] [LLVM14] Apply clang-tidy and clang-format changes
  PhysicsTools/JetMCAlgos/plugins/GenHFHadronMatcher.cc
Labels: analysis-pending, pending-signatures, tests-approved, orp-approved, code-checks-approved

#41426 [CORE] [LLVM14] Apply clang-tidy and clang-format changes
  FWCore/FWLite/bin/storageSizeForBranch.cc
  FWCore/Framework/test/statemachine_t.cc
  FWCore/Integration/bin/interprocess.cc
  FWCore/Integration/bin/interprocess_random.cc
  FWCore/Integration/plugins/ProducerWithPSetDesc.cc
  FWCore/ParameterSet/interface/ParameterSetDescriptionFillerPluginFactory.h
  FWCore/PluginManager/bin/dump.cc
  FWCore/Utilities/interface/propagate_const.h
  FWCore/Utilities/interface/propagate_const_array.h
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41424 [HLT] [LLVM14] Apply clang-tidy and clang-format changes
  HLTrigger/special/plugins/HLTHcalSimpleRecHitFilter.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41421 [SIMULATION] [LLVM14] Apply clang-tidy and clang-format changes
  DataFormats/GeometrySurface/interface/private/sseTkRotation.h
  DataFormats/GeometrySurface/src/TkRotation.cc
  SimG4CMS/ShowerLibraryProducer/interface/FiberSD.h
  SimG4CMS/ShowerLibraryProducer/interface/HFChamberSD.h
  SimG4CMS/ShowerLibraryProducer/interface/HFWedgeSD.h
  SimG4CMS/ShowerLibraryProducer/src/FiberSD.cc
  SimG4CMS/ShowerLibraryProducer/src/HFChamberSD.cc
  SimG4CMS/ShowerLibraryProducer/src/HFWedgeSD.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41433 Updating base caloParams class with HCal FB LUT parameters
  L1Trigger/L1TCalorimeter/python/caloParams_cfi.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41427 [GEOMETRY-UPGRADE] [LLVM14] Apply clang-tidy and clang-format changes
  SLHCUpgradeSimulations/Geometry/test/ModuleInfo_Phase2.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#41384 [GEM] DataFormat Bugfix - remove unused bits from VFat dataformat
  DataFormats/GEMDigi/interface/GEMVFAT.h
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#41420 [L1-UPGRADE] [LLVM14] Apply clang-tidy and clang-format changes
  L1Trigger/L1CaloTrigger/plugins/L1EGammaCrystalsEmulatorProducer.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#41435 drop numba and llvmlite tests
  PhysicsTools/PythonAnalysis/test/BuildFile.xml
  PhysicsTools/PythonAnalysis/test/testNumba.py
  RecoParticleFlow/PFProducer/test/mlpf_training/preprocessing.py
Labels: analysis-pending, reconstruction-approved, pending-signatures, tests-approved, orp-approved, code-checks-approved

#41403 cleanup spurious change introduced in PAT photon/muon producer auto fwd-port in 2015
  PhysicsTools/PatAlgos/plugins/PATMuonProducer.cc
  PhysicsTools/PatAlgos/plugins/PATPhotonProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#41416 [ALCA] [LLVM14] Apply clang-tidy and clang-format changes
  CaloOnlineTools/EcalTools/plugins/EcalDigiDisplay.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41333 Add ParticleNet info to taus in NanoAOD
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
  PhysicsTools/NanoAOD/python/nano_cff.py
  PhysicsTools/NanoAOD/python/taus_cff.py
  PhysicsTools/PatAlgos/plugins/PATTauHybridProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved, tau

#41431 Update of L1T pp menu in TSG GTs to `L1Menu_Collisions2023_v1_1_0_xml` [`13_0_X`]
  Configuration/HLT/python/autoCondHLT.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#41195 Adding the Ecal Endcaps to the ML based online ECAL DQM [13_0_X]
  DQM/EcalMonitorClient/interface/MLClient.h
  DQM/EcalMonitorClient/python/MLClient_cfi.py
  DQM/EcalMonitorClient/src/MLClient.cc
  DQM/EcalMonitorTasks/python/OccupancyTask_cfi.py
  DQM/EcalMonitorTasks/src/OccupancyTask.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, requires-external, backport-ok, ecal

#41405 Add option to control printing of Pythia banner
  GeneratorInterface/Pythia8Interface/src/Py8InterfaceBase.cc
Labels: generators-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41412 Run3-gex160 Modify the correct combination of ZDC xml files in Phase2 scenarios which are useful for dd4hep version
  Configuration/Geometry/python/dict2026Geometry.py
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D86.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D88.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D91.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D92.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D93.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D94.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D95.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D96.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D97.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D98.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D99.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D86XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D88XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D91XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D92XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D93XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D94XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D95XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D96XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D97XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D98XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D99XML_cfi.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#41406 Phase2-hgx338B Next step to introduce calibration cells for HGCal silicon sensors
  Geometry/HGCalCommonData/data/dd4hep/testHGCalV17Shift.xml
  Geometry/HGCalCommonData/data/dd4hep/testHGCalV18.xml
  Geometry/HGCalCommonData/interface/HGCalCalibrationCell.h
  Geometry/HGCalCommonData/interface/HGCalDDDConstants.h
  Geometry/HGCalCommonData/src/HGCalCalibrationCell.cc
  Geometry/HGCalCommonData/src/HGCalDDDConstants.cc
  Geometry/HGCalCommonData/test/HGCalParameterTester.cc
  Geometry/HGCalCommonData/test/python/testHGCalParametersDD4hep_cfg.py
  Geometry/HGCalCommonData/test/python/testHGCalParametersDDD_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#41398 Phase2-hgx337C Backport the bugfix from #41380 to CMSSW_13_0_X in Geometry/HGcalCommonData to take care of the segmentation fault for 25234.911
  Geometry/HGCalCommonData/src/HGCalDDDConstants.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, backport-ok

#41425 [DB] [LLVM14] Apply clang-tidy and clang-format changes
  CondCore/SiPixelPlugins/plugins/SiPixelDynamicInefficiency_PayloadInspector.cc
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, trk

#41450 Add protection to avoid crash in `lowPtGsfEleGsfTracks`
  TrackingTools/GsfTracking/src/GsfMultiStateUpdator.cc
Labels: reconstruction-approved, fully-signed, tests-started, orp-approved, urgent, code-checks-approved, tracking

#41432 Run3-gex160X Update the overlap finding scripts for Run3/Run2 scenarios
  Configuration/Geometry/python/GeometryDD4hepExtended2017Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2018Reco_cff.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckDD4hep_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckDDD_cfg.py
Labels: simulation-pending, geometry-pending, pending-signatures, tests-approved, orp-approved, upgrade-pending, code-checks-approved

#41447 [13_1_X] Reverting BeamSpot Legacy DQM client error scale to 1p2
  DQM/Integration/python/clients/beam_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41452 L1T: read pt compression bit depth from LUT for JEC
  L1Trigger/L1TCalorimeter/src/firmware/Stage2Layer2JetAlgorithmFirmwareImp1.cc
Labels: l1-approved, fully-signed, tests-rejected, orp-approved, code-checks-approved

#41417 [L1] [LLVM14] Apply clang-tidy and clang-format changes
  L1Trigger/Phase2L1GMT/src/L1TPhase2GMTBarrelStubProcessor.cc
  L1TriggerConfig/L1GtConfigProducers/src/L1GtVhdlWriterCore.cc
Labels: l1-approved, fully-signed, tests-rejected, orp-approved, code-checks-approved

#41438 Change ECAL Presample RMS threshold
  DQM/EcalMonitorClient/python/PresampleClient_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41371 add GPU RelVals using 2023 HLT menu (+2023 Patatrack NoPU wfs) [`13_0_X`]
  Configuration/PyReleaseValidation/python/relval_gpu.py
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, backport-ok

#41448 Add loose showers to uGMT shower bit vs. BX DQM plot
  DQM/L1TMonitor/interface/L1TStage2uGMTInputBxDistributions.h
  DQM/L1TMonitor/src/L1TStage2uGMTInputBxDistributions.cc
Labels: dqm-pending, pending-signatures, tests-approved, orp-approved, code-checks-approved

#41446 [13_0_X] Reverting BeamSpot Legacy DQM client error scale to 1p2
  DQM/Integration/python/clients/beam_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#41395 Add unit test for TriggerResults format
  DataFormats/Common/README.md
  DataFormats/Common/test/BuildFile.xml
  DataFormats/Common/test/TestReadTriggerResults.cc
  DataFormats/Common/test/TestTriggerResultsFormat.sh
  DataFormats/Common/test/TestWriteTriggerResults.cc
  DataFormats/Common/test/create_triggerresults_test_file_cfg.py
  DataFormats/Common/test/test_readTriggerResults_cfg.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#41443 [GEM] DataFormat Bugfix - remove unused bits from VFat dataformat - backport of #41384
  DataFormats/GEMDigi/interface/GEMVFAT.h
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, backport-ok

#41453 remove Patatrack-related RelVals for 2018 conditions
  Configuration/PyReleaseValidation/python/relval_gpu.py
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/PyReleaseValidation/scripts/README.md
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#41400 [Backport] nanoDQMIO in one shot
  DQMServices/Core/interface/DQMStore.h
  DQMServices/Core/python/nanoDQMIO_perLSoutput_cff.py
  DQMServices/Core/src/DQMStore.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#41439 Change ECAL Presample RMS threshold [13_0_X]
  DQM/EcalMonitorClient/python/PresampleClient_cfi.py
Labels: dqm-approved, fully-signed, tests-rejected, orp-approved, backport-ok

#41440 [13_0_X] Update L1TcaloParams in 2023 HI MC GT
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok

#41449 [13_0_X] Add loose showers to uGMT shower bit vs. BX DQM plot
  DQM/L1TMonitor/interface/L1TStage2uGMTInputBxDistributions.h
  DQM/L1TMonitor/src/L1TStage2uGMTInputBxDistributions.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#41454 [13.0.X] Add protection to avoid crash in `lowPtGsfEleGsfTracks` (and other e/gamma reco)
  TrackingTools/GsfTracking/src/GsfMultiStateUpdator.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, tracking

#41462 Clean sensitive detector and printouts
  SimG4CMS/Calo/src/CaloTrkProcessing.cc
  SimG4CMS/FP420/plugins/FP420Test.cc
  SimG4CMS/Forward/plugins/BscTest.cc
  SimG4Core/Application/src/RunManagerMTWorker.cc
  SimG4Core/Application/src/StackingAction.cc
  SimG4Core/Geometry/interface/CMSG4CheckOverlap.h
  SimG4Core/Geometry/src/CMSG4CheckOverlap.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41418 [RECONSTRUCTION] [LLVM14] Apply clang-tidy and clang-format changes
  DataFormats/SiStripCluster/interface/SiStripClusterfwd.h
  RecoBTag/ImpactParameter/interface/TemplatedTrackCountingComputer.h
  RecoBTau/JetTagComputer/interface/GenericMVAJetTagComputerWrapper.h
  RecoJets/JetProducers/src/PileupJetIdAlgo.cc
  RecoTracker/MkFitCore/src/K62HC.ah
  RecoTracker/MkFitCore/src/KHC.ah
  RecoTracker/MkFitCore/src/KalmanGain62.ah
  RecoTracker/MkFitCore/src/Matriplex/std_sym_3x3.ah
  RecoTracker/MkFitCore/src/Matriplex/std_sym_6x6.ah
  RecoTracker/MkFitCore/src/MultHelixProp.ah
  RecoTracker/MkFitCore/src/MultHelixPropEndcap.ah
  RecoTracker/MkFitCore/src/MultHelixPropTransp.ah
  RecoTracker/MkFitCore/src/MultHelixPropTranspEndcap.ah
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking, trk

#41469 re-improve check on size of L1-uGT digis in `HLTL1TSeed` plugin
  HLTrigger/HLTfilters/plugins/HLTL1TSeed.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#41466 guard `HLTRecHitInAllL1RegionsProducer<T>` against empty collection of L1T candidates
  RecoEgamma/EgammaHLTProducers/plugins/BuildFile.xml
  RecoEgamma/EgammaHLTProducers/plugins/HLTRecHitInAllL1RegionsProducer.cc
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved

#41458 Added extra Invalid = -1 enum to avoid llvm16 build errors
  CondFormats/L1TObjects/interface/L1GtDefinitions.h
  DataFormats/L1GlobalTrigger/interface/L1GtDefinitions.h
  L1Trigger/L1TGlobal/interface/GlobalDefinitions.h
Labels: alca-approved, l1-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved
