Repository cms-sw/cmssw, pull requests merged in 2024-05, with the labels that each got.

#44877 Explicit namespace used in TaggingVariableList
  DataFormats/BTauReco/interface/TaggingVariable.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44870 Reorder include statements
  RecoParticleFlow/PFRecHitProducer/plugins/alpaka/CalorimeterDefinitions.h
  RecoParticleFlow/PFRecHitProducer/plugins/alpaka/PFRecHitSoAProducer.cc
  RecoParticleFlow/PFRecHitProducer/plugins/alpaka/PFRecHitTopologyESProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44840 Improve behavior after exception in begin/end global lumi
  FWCore/Framework/interface/GlobalSchedule.h
  FWCore/Framework/interface/maker/Worker.h
  FWCore/Framework/src/EventProcessor.cc
  FWCore/Framework/src/GlobalSchedule.cc
  FWCore/Framework/test/global_filter_t.cppunit.cc
  FWCore/Framework/test/global_producer_t.cppunit.cc
  FWCore/Framework/test/limited_filter_t.cppunit.cc
  FWCore/Framework/test/limited_producer_t.cppunit.cc
  FWCore/Framework/test/stream_filter_t.cppunit.cc
  FWCore/Framework/test/stream_producer_t.cppunit.cc
  FWCore/Integration/plugins/ExceptionThrowingProducer.cc
  FWCore/Integration/plugins/TestServiceOne.cc
  FWCore/Integration/plugins/TestServiceOne.h
  FWCore/Integration/plugins/TestServiceTwo.cc
  FWCore/Integration/plugins/TestServiceTwo.h
  FWCore/Integration/test/testFrameworkExceptionHandling_cfg.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44834 Make "Extended Vector" Default
  DataFormats/Math/interface/ExtVec.h
  DataFormats/Math/interface/SIMDVec.h
  DataFormats/Math/interface/SSERot.h
  DataFormats/Math/interface/SSEVec.h
  DataFormats/Math/test/BuildFile.xml
  DataFormats/Math/test/ExtVec_t.cpp
  DataFormats/Math/test/SSEVec_t.cpp
  TrackingTools/AnalyticalJacobians/BuildFile.xml
  TrackingTools/AnalyticalJacobians/src/AnalyticalCurvilinearJacobianEXT.icc
  TrackingTools/AnalyticalJacobians/src/JacobianCurvilinearToLocal.cc
  TrackingTools/AnalyticalJacobians/test/Jacobian_t.cpp
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#44804 Update ROOT::TAttMarker class version
  DQMServices/Components/test/testSchemaEvolution.cpp
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44767 Throw a clear exception if OutputModule SelectEvents refers to a non-existent Path or Process
  FWCore/Framework/interface/WorkerInPath.h
  FWCore/Framework/src/Worker.cc
  FWCore/Framework/test/BuildFile.xml
  FWCore/Framework/test/testOutputModuleSelectEventsMissingPathEarlier_cfg.py
  FWCore/Framework/test/testOutputModuleSelectEventsMissingPath_cfg.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44754 Adding PNET scores to offline HLT DQM
  DQMOffline/Trigger/python/BTaggingMonitor_cfi.py
  DQMOffline/Trigger/python/BTaggingMonitoring_Client_cff.py
  DQMOffline/Trigger/python/BTaggingMonitoring_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44751 [14_1_X] [Phase-2] Changed Phase-2 JME and BTV HLT paths to use the L1 P2GT emulator
  Configuration/PyReleaseValidation/python/relval_steps.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltL1SeedsForDoublePuppiJetBtagFilter_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltL1SeedsForPuppiHTFilter_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltL1SeedsForPuppiJetFilter_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltL1SeedsForPuppiMETFilter_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltL1SeedsForQuadPuppiJetTripleBtagFilter_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_AK4PFPuppiJet520_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_DoublePFPuppiJets128_DoublePFPuppiBTagDeepCSV_2p4_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_DoublePFPuppiJets128_DoublePFPuppiBTagDeepFlavour_2p4_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_PFHT200PT30_QuadPFPuppiJet_70_40_30_30_TriplePFPuppiBTagDeepCSV_2p4_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_PFHT200PT30_QuadPFPuppiJet_70_40_30_30_TriplePFPuppiBTagDeepFlavour_2p4_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_PFHT330PT30_QuadPFPuppiJet_75_60_45_40_TriplePFPuppiBTagDeepCSV_2p4_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_PFHT330PT30_QuadPFPuppiJet_75_60_45_40_TriplePFPuppiBTagDeepFlavour_2p4_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_PFPuppiHT1070_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_PFPuppiMETTypeOne140_PFPuppiMHT140_cfi.py
  HLTrigger/Configuration/python/HLT_75e33_cff.py
  HLTrigger/Configuration/python/HLT_75e33_timing_cff.py
  L1Trigger/Phase2L1GT/python/l1tGTMenu_hadr_metSeeds_cff.py
Labels: hlt-approved, l1-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#44578 Scripts to Test MC 22-23 Production (UL-like) in IBs
  Configuration/PyReleaseValidation/test/BuildFile.xml
  Configuration/PyReleaseValidation/test/test_mc_setup/test_MC_setup.sh
  Configuration/PyReleaseValidation/test/test_mc_setup/test_MC_setup_gen_sim.sh
  Configuration/PyReleaseValidation/test/test_mc_setup/test_MC_setup_hlt.sh
  Configuration/PyReleaseValidation/test/test_mc_setup/test_MC_setup_reco.sh
Labels: core-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#43871 Tau Embedding update and integration
  DataFormats/EgammaCandidates/src/classes_def.xml
  TauAnalysis/MCEmbeddingTools/plugins/BuildFile.xml
  TauAnalysis/MCEmbeddingTools/plugins/CaloCleaner.cc
  TauAnalysis/MCEmbeddingTools/plugins/CaloCleaner.h
  TauAnalysis/MCEmbeddingTools/plugins/CollectionMerger.cc
  TauAnalysis/MCEmbeddingTools/plugins/CollectionMerger.h
  TauAnalysis/MCEmbeddingTools/plugins/DYToMuMuGenFilter.cc
  TauAnalysis/MCEmbeddingTools/plugins/DoubleCollectionMerger.cc
  TauAnalysis/MCEmbeddingTools/plugins/DoubleCollectionMerger.h
  TauAnalysis/MCEmbeddingTools/plugins/EmbeddingBeamSpotOnlineProducer.cc
  TauAnalysis/MCEmbeddingTools/plugins/EmbeddingBeamSpotOnlineProducer.h
  TauAnalysis/MCEmbeddingTools/plugins/EmbeddingHltPixelVerticesProducer.cc
  TauAnalysis/MCEmbeddingTools/plugins/EmbeddingLHEProducer.cc
  TauAnalysis/MCEmbeddingTools/plugins/EmbeddingVertexCorrector.cc
  TauAnalysis/MCEmbeddingTools/plugins/MuMuForEmbeddingSelector.cc
  TauAnalysis/MCEmbeddingTools/plugins/MuonDetCleaner.cc
  TauAnalysis/MCEmbeddingTools/plugins/MuonDetCleaner.h
  TauAnalysis/MCEmbeddingTools/plugins/TrackMergeremb.cc
  TauAnalysis/MCEmbeddingTools/plugins/TrackMergeremb.h
  TauAnalysis/MCEmbeddingTools/plugins/TrackerCleaner.cc
  TauAnalysis/MCEmbeddingTools/plugins/TrackerCleaner.h
  TauAnalysis/MCEmbeddingTools/python/DYToMuMuGenFilter_cfi.py
  TauAnalysis/MCEmbeddingTools/python/EmbeddingBeamSpotOnline_cfi.py
  TauAnalysis/MCEmbeddingTools/python/EmbeddingHltPixelVerticesProducer_cfi.py
  TauAnalysis/MCEmbeddingTools/python/EmbeddingLHEProducer_cfi.py
  TauAnalysis/MCEmbeddingTools/python/SelectingProcedure_cff.py
  TauAnalysis/MCEmbeddingTools/python/customisers.py
  TauAnalysis/MCEmbeddingTools/test/BuildFile.xml
  TauAnalysis/MCEmbeddingTools/test/run_2016postVFPUL_workflow_tests.sh
  TauAnalysis/MCEmbeddingTools/test/run_2016preVFPUL_workflow_tests.sh
  TauAnalysis/MCEmbeddingTools/test/run_2017UL_workflow_tests.sh
  TauAnalysis/MCEmbeddingTools/test/run_2018UL_workflow_tests.sh
  TauAnalysis/MCEmbeddingTools/test/runtests.sh
Labels: reconstruction-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tau

#43786 Adaptions for Pythia 8.311
  FastSimulation/ParticleDecay/interface/PythiaDecays.h
  FastSimulation/ParticleDecay/src/PythiaDecays.cc
  FastSimulation/SimplifiedGeometryPropagator/interface/Decayer.h
  FastSimulation/SimplifiedGeometryPropagator/src/Decayer.cc
  GeneratorInterface/Pythia8Interface/interface/P8RndmEngine.h
  GeneratorInterface/Pythia8Interface/interface/Py8HMC3InterfaceBase.h
  GeneratorInterface/Pythia8Interface/interface/Py8InterfaceBase.h
  GeneratorInterface/Pythia8Interface/plugins/PowhegHooksBB4L.h
  GeneratorInterface/Pythia8Interface/plugins/SuepDecay.cc
  GeneratorInterface/Pythia8Interface/src/Py8HMC3InterfaceBase.cc
  GeneratorInterface/Pythia8Interface/src/Py8InterfaceBase.cc
  TauAnalysis/MCEmbeddingTools/python/EmbeddingPythia8Hadronizer_cfi.py
Labels: fastsim-approved, generators-approved, simulation-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#44871 Do not include EventSetup record definitions in device code [14.0.x]
  DataFormats/TrackSoA/interface/TrackDefinitions.h
  RecoParticleFlow/PFRecHitProducer/plugins/alpaka/CalorimeterDefinitions.h
  RecoParticleFlow/PFRecHitProducer/plugins/alpaka/PFRecHitSoAProducer.cc
  RecoParticleFlow/PFRecHitProducer/plugins/alpaka/PFRecHitTopologyESProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, heterogeneous-approved, tracking

#44854 Reduce Alpaka event synchronization calls via EDMetadata [14.0.x]
  HeterogeneousCore/AlpakaCore/README.md
  HeterogeneousCore/AlpakaCore/interface/alpaka/EDMetadata.h
  HeterogeneousCore/AlpakaCore/interface/alpaka/EDMetadataSentry.h
  HeterogeneousCore/AlpakaCore/interface/alpaka/Event.h
  HeterogeneousCore/AlpakaCore/interface/alpaka/global/EDProducer.h
  HeterogeneousCore/AlpakaCore/interface/alpaka/stream/EDProducer.h
  HeterogeneousCore/AlpakaCore/interface/alpaka/stream/SynchronizingEDProducer.h
  HeterogeneousCore/AlpakaCore/src/alpaka/EDMetadata.cc
  HeterogeneousCore/AlpakaCore/src/alpaka/EDMetadataSentry.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaGlobalProducerNoOutput.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaStreamSynchronizingProducerToDevice.cc
  HeterogeneousCore/AlpakaTest/test/testAlpakaModules_cfg.py
Labels: fully-signed, tests-approved, orp-approved, backport-ok, heterogeneous-approved

#44848 [14_0_X] Apply MUDPGNANO EventContent customizations to EDMNANO and NANOSIM as well
  DPGAnalysis/MuonTools/python/muNtupleProducerBkg_cff.py
  DPGAnalysis/MuonTools/python/muNtupleProducer_cff.py
Labels: fully-signed, tests-approved, orp-approved, xpog-approved

#44827 High pT Tracks Solved: Backporting to CMSSW_14_0_X
  FastSimulation/SimplifiedGeometryPropagator/src/Trajectory.cc
Labels: fastsim-approved, fully-signed, tests-approved, orp-approved

#44816 [14_0_X]fix skipping qBin when reading template info
  RecoLocalTracker/SiPixelRecHits/src/PixelCPEFastParamsHost.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, trk

#44758 [14_0_X] DQM: reportSummaryMap: change the sqrt(s) energy from 13 to 13.6 TeV
  DQMServices/Components/plugins/DQMProvInfo.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#44826 High pT Tracks Solved: Backporting to CMSSW_13_0_X
  FastSimulation/SimplifiedGeometryPropagator/src/Trajectory.cc
Labels: fastsim-approved, fully-signed, tests-approved, orp-approved

#44825 High pT Track Solved: Bckporting it to CMSSW_12_4_X
  FastSimulation/SimplifiedGeometryPropagator/src/Trajectory.cc
Labels: fastsim-approved, fully-signed, tests-approved, orp-approved

#44745 backport of LHEmttFilter for 10_6
  GeneratorInterface/GenFilters/plugins/LHEmttFilter.cc
  GeneratorInterface/GenFilters/python/LHEmttFilter_cfi.py
Labels: generators-approved, fully-signed, tests-approved, orp-approved

#44883 Remove unnecessary private include of EcalSrFlag.cc
  TauAnalysis/MCEmbeddingTools/plugins/DoubleCollectionMerger.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44800 [DT DQM] Fix some minor style bugs
  DQM/DTMonitorClient/src/DTBlockedROChannelsTest.cc
  DQM/DTMonitorClient/src/DTLocalTriggerTest.cc
  DQM/DTMonitorModule/interface/DTTimeEvolutionHisto.h
  DQM/DTMonitorModule/src/DTTimeEvolutionHisto.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44686 pileup profiles for RunIII2022Summer24 and RunIII2023Summer24 MC compaigns
  Configuration/StandardSequences/python/Mixing.py
  SimGeneral/MixingModule/python/mix_2022_25ns_RunIII2022Summer24_PoissonOOTPU_cfi.py
  SimGeneral/MixingModule/python/mix_2023_25ns_RunIII2023Summer24_PoissonOOTPU_cfi.py
Labels: operations-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44884 Move GsfTrack dicts in to GsfTrackReco from EgammaCandidates
  DataFormats/EgammaCandidates/src/classes_def.xml
  DataFormats/GsfTrackReco/src/classes_def.xml
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44885 Fix compilation issue with clang
  DataFormats/GeometryVector/interface/private/extBasic2DVector.h
  DataFormats/GeometryVector/interface/private/extBasic3DVector.h
  RecoLocalCalo/CaloTowersCreator/src/CaloTowersCreationAlgo.cc
Labels: reconstruction-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44702 4 minor improvements to Online DQM Pixel Summary (BP)
  DQM/SiPixelPhase1Summary/interface/SiPixelPhase1Summary.h
  DQM/SiPixelPhase1Summary/src/SiPixelPhase1Summary.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok, trk

#44890 Speedup GBRTree by making it non branching
  CondFormats/GBRForest/interface/GBRTree.h
  CondFormats/GBRForest/test/BuildFile.xml
  CondFormats/GBRForest/test/testGBRTree.cpp
  RecoMuon/TrackerSeedGenerator/BuildFile.xml
  RecoMuon/TrackerSeedGenerator/interface/SeedMvaEstimator.h
  RecoMuon/TrackerSeedGenerator/src/SeedMvaEstimator.cc
Labels: alca-approved, reconstruction-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#44835 Update and fix of DQM plots for PPS timing detectors
  DQM/CTPPS/plugins/CTPPSDiamondDQMSource.cc
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, ctpps

#44891 Fix exception handling in Worker::prePrefetchSelectionAsync()
  FWCore/Framework/src/Worker.cc
Labels: core-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved

#44914 Fix multiple RelVals errors with `Unknown trigger name` exception
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: fully-signed, tests-approved, pdmv-approved, bug-fix, orp-approved, upgrade-approved, code-checks-approved

#44856 Update and fix of DQM plots for PPS timing detectors [backport of 44835]
  DQM/CTPPS/plugins/CTPPSDiamondDQMSource.cc
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, ctpps

#44886 [14_0_X] Script to test MC production (UL-like)
  Configuration/PyReleaseValidation/test/BuildFile.xml
  Configuration/PyReleaseValidation/test/test_mc_setup/test_MC_setup.sh
  Configuration/PyReleaseValidation/test/test_mc_setup/test_MC_setup_gen_sim.sh
  Configuration/PyReleaseValidation/test/test_mc_setup/test_MC_setup_hlt.sh
  Configuration/PyReleaseValidation/test/test_mc_setup/test_MC_setup_reco.sh
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved

#44925 fix process name for `TIER0RAWSIPIXELCAL` step
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: pending-signatures, tests-approved, hold, pdmv-approved, bug-fix, orp-approved, urgent, upgrade-pending, code-checks-approved

#44926 BTV HLT monitoring: exclude paths requiring `pfMassDecorrelatedParticleNetDiscriminatorsJetTags` when `pp_on_PbPb_run3` is active
  DQMOffline/Trigger/python/BTaggingMonitoring_cff.py
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved, btv

#43921 Implements HMT triggers in test vector code for uGT emulator in master
  L1Trigger/L1TGlobal/plugins/GtRecordDump.cc
  L1Trigger/L1TGlobal/test/runGlobalFakeInputProducer.py
  L1Trigger/L1TGlobal/test/testVectorCode_data.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44557 Phase2 OMTF emulator
  L1Trigger/L1TMuonOverlapPhase2/.gitignore
  L1Trigger/L1TMuonOverlapPhase2/BuildFile.xml
  L1Trigger/L1TMuonOverlapPhase2/interface/InputMakerPhase2.h
  L1Trigger/L1TMuonOverlapPhase2/interface/LutNetworkFixedPointCommon.h
  L1Trigger/L1TMuonOverlapPhase2/interface/LutNetworkFixedPointRegression2Outputs.h
  L1Trigger/L1TMuonOverlapPhase2/interface/LutNeuronLayerFixedPoint.h
  L1Trigger/L1TMuonOverlapPhase2/interface/OmtfEmulation.h
  L1Trigger/L1TMuonOverlapPhase2/interface/OmtfPhase2AngleConverter.h
  L1Trigger/L1TMuonOverlapPhase2/interface/PtAssignmentNNRegression.h
  L1Trigger/L1TMuonOverlapPhase2/plugins/BuildFile.xml
  L1Trigger/L1TMuonOverlapPhase2/plugins/L1TMuonOverlapPhase2TrackProducer.cc
  L1Trigger/L1TMuonOverlapPhase2/plugins/L1TMuonOverlapPhase2TrackProducer.h
  L1Trigger/L1TMuonOverlapPhase2/python/fakeOmtfParamsPhase2_cff.py
  L1Trigger/L1TMuonOverlapPhase2/python/simOmtfPhase2Digis_cfi.py
  L1Trigger/L1TMuonOverlapPhase2/python/simOmtfPhase2Digis_extrapol_cfi.py
  L1Trigger/L1TMuonOverlapPhase2/src/InputMakerPhase2.cc
  L1Trigger/L1TMuonOverlapPhase2/src/OmtfEmulation.cc
  L1Trigger/L1TMuonOverlapPhase2/src/OmtfPhase2AngleConverter.cc
  L1Trigger/L1TMuonOverlapPhase2/src/PtAssignmentNNRegression.cc
  L1Trigger/L1TMuonOverlapPhase2/test/.gitignore
  L1Trigger/L1TMuonOverlapPhase2/test/expert/.gitignore
  L1Trigger/L1TMuonOverlapPhase2/test/expert/runMuonOverlapPatternGeneratorClassProb_phase2.py
  L1Trigger/L1TMuonOverlapPhase2/test/expert/runMuonOverlapPatternGenerator_displ_phase2.py
  L1Trigger/L1TMuonOverlapPhase2/test/expert/runMuonOverlapPatternGenerator_phase2.py
  L1Trigger/L1TMuonOverlapPhase2/test/expert/runMuonOverlap_NN_Regression_FP.py
  L1Trigger/L1TMuonOverlapPhase2/test/runMuonOverlap.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, requires-external, code-checks-approved

#44571 Produce and use custom HGCal towers for baseline GCT calo jets and taus.
  L1Trigger/Configuration/python/L1Trigger_EventContent_cff.py
  L1Trigger/Configuration/python/SimL1Emulator_cff.py
  L1Trigger/L1CaloTrigger/python/l1tPhase2CaloJetEmulator_cff.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#44606 [Phase-2 L1T] Updated of GCT jets and taus collection
  L1Trigger/L1CaloTrigger/interface/Phase2L1CaloJetEmulator.h
  L1Trigger/L1CaloTrigger/plugins/Phase2L1CaloJetEmulator.cc
  L1Trigger/L1CaloTrigger/python/l1tPhase2CaloJetEmulator_cfi.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#44868 Add track-to-track monitoring of HLT GSF electron tracks with respect to offline
  Configuration/EventContent/python/EventContent_cff.py
  DQM/TrackingMonitorSource/interface/TrackToTrackComparisonHists.h
  DQM/TrackingMonitorSource/src/TrackToTrackComparisonHists.cc
  DQMOffline/Trigger/python/DQMOffline_Trigger_cff.py
  DQMOffline/Trigger/python/TrackToTrackMonitoring_cff.py
  DQMOffline/Trigger/python/TrackingMonitoring_Client_cff.py
  DQMOffline/Trigger/python/TrackingMonitoring_cff.py
Labels: dqm-approved, operations-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking, egamma

#44919 [14_0_X] Phase2 Fast CPE Template Error Fix
  RecoLocalTracker/SiPixelRecHits/src/PixelCPEFast.cc
  RecoLocalTracker/SiPixelRecHits/src/PixelCPEFastParamsHost.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, trk

#44806 Phase2-hgx354E Remove warning messages in HGCalCellOffset.cc
  Geometry/HGCalCommonData/src/HGCalCellOffset.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#44818 [MTD] Mtd association maps: remove energy selection for ETL clusters
  SimFastTiming/MtdAssociatorProducers/plugins/MtdRecoClusterToSimLayerClusterAssociatorByHitsImpl.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#44831 fix in MTD electron isolation
  Validation/MtdValidation/plugins/MtdEleIsoValidation.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, mtd

#44872 MTD: fix phase-2 config for RecoVertex and RecoTrack
  RecoVertex/Configuration/python/RecoVertex_cff.py
  RecoVertex/Configuration/python/RecoVertex_phase2_timing_cff.py
  Validation/RecoTrack/python/TrackValidation_cff.py
Labels: dqm-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#44903 Speedup fullJacobian
  DataFormats/GeometryVector/interface/private/extBasic3DVector.h
  DataFormats/Math/interface/ExtVec.h
  DataFormats/Math/test/ExtVec_t.cpp
  TrackingTools/AnalyticalJacobians/src/AnalyticalCurvilinearJacobianEXT.icc
  TrackingTools/AnalyticalJacobians/test/ErrorProp_t.cpp
Labels: reconstruction-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, performance-improvements, tracking

#44938 [DAQ] range check for microstate (141X)
  EventFilter/Utilities/src/FastMonitoringService.cc
Labels: daq-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44935 Removed variable-length arrays
  L1Trigger/TrackFindingTracklet/src/PurgeDuplicate.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44909 preserving autoNano ordering
  PhysicsTools/NanoAOD/python/autoNANO.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#44933 Pixel GPU client: fix `siPixelPhase1RawDataErrorComparator` collections post-alpaka migration
  DQM/Integration/python/clients/pixelgpu_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved, trk

#44934 [14.0.X] Pixel GPU client: fix `siPixelPhase1RawDataErrorComparator` collections post-alpaka migration
  DQM/Integration/python/clients/pixelgpu_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, backport-ok, trk

#44930 Change parameters for ECAL MLDQM [14_0_X]
  DQM/EcalMonitorClient/interface/MLClient.h
  DQM/EcalMonitorClient/python/MLClient_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport

#44915 [14_0_X] Fixes for Alpaka Phase2 Pixel Reco
  DataFormats/SiPixelDigiSoA/interface/SiPixelDigisDevice.h
  DataFormats/SiPixelDigiSoA/interface/SiPixelDigisHost.h
  DataFormats/SiPixelDigiSoA/interface/alpaka/SiPixelDigisSoACollection.h
  DataFormats/SiPixelDigiSoA/src/classes_def.xml
  Geometry/CommonTopologies/interface/SimplePixelTopology.h
  RecoLocalTracker/SiPixelClusterizer/plugins/alpaka/ClusterChargeCut.h
  RecoLocalTracker/SiPixelClusterizer/plugins/alpaka/SiPixelPhase2DigiToCluster.cc
  RecoLocalTracker/SiPixelClusterizer/plugins/alpaka/SiPixelRawToClusterKernel.dev.cc
  RecoLocalTracker/SiPixelClusterizer/plugins/alpaka/SiPixelRawToClusterKernel.h
Labels: geometry-approved, reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, heterogeneous-approved, trk

#44939 [DAQ] range check for microstate (140X) [backport]
  EventFilter/Utilities/src/FastMonitoringService.cc
Labels: daq-approved, fully-signed, tests-approved, orp-approved

#44929 Change parameters for ECAL MLDQM
  DQM/EcalMonitorClient/interface/MLClient.h
  DQM/EcalMonitorClient/python/MLClient_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44897 L1TP2: Bug Fix: Adding a setting of TTTrack word to allow Track Quality MVA to read variables
  L1Trigger/TrackFindingTracklet/plugins/L1FPGATrackProducer.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44858 Computation of silicon strip hit efficiency : Consecutive missing hits recovery
  CalibTracker/SiStripHitEfficiency/plugins/HitEff.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#44770 Fix L1NNCaloTau verbosity
  L1Trigger/L1CaloTrigger/plugins/L1NNCaloTauEmulator.cc
  L1Trigger/L1CaloTrigger/plugins/L1NNCaloTauProducer.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#44737 PuppiNNTau to Phase2GT interface refactor
  DataFormats/L1TParticleFlow/interface/gt_datatypes.h
  DataFormats/L1TParticleFlow/interface/taus.h
  L1Trigger/Phase2L1GT/plugins/L1GTProducer.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#44581 [GCC13] Fix Woverloaded-virtual warning
  CalibTracker/SiPixelConnectivity/interface/PixelToFEDAssociateFromAscii.h
  CondFormats/L1TObjects/interface/L1MuPacking.h
  DQM/EcalCommon/interface/MESetDet0D.h
  DQM/EcalCommon/interface/MESetDet1D.h
  DQM/EcalCommon/interface/MESetDet2D.h
  DQM/EcalCommon/interface/MESetProjection.h
  DQM/HcalCommon/interface/ContainerProf2D.h
  DataFormats/L1Trigger/interface/EGamma.h
  DataFormats/L1Trigger/interface/EtSum.h
  DataFormats/L1Trigger/interface/Jet.h
  DataFormats/L1Trigger/interface/Muon.h
  DataFormats/L1Trigger/interface/MuonShower.h
  DataFormats/L1Trigger/interface/Tau.h
  DataFormats/SiStripDigi/interface/SiStripRawDigi.h
Labels: alca-approved, dqm-approved, l1-approved, simulation-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, trk

#44917 [14.0.X] Add track-to-track monitoring of HLT GSF electron tracks with respect to offline
  Configuration/EventContent/python/EventContent_cff.py
  DQM/TrackingMonitorSource/interface/TrackToTrackComparisonHists.h
  DQM/TrackingMonitorSource/src/TrackToTrackComparisonHists.cc
  DQMOffline/Trigger/python/DQMOffline_Trigger_cff.py
  DQMOffline/Trigger/python/TrackToTrackMonitoring_cff.py
  DQMOffline/Trigger/python/TrackingMonitoring_Client_cff.py
  DQMOffline/Trigger/python/TrackingMonitoring_cff.py
Labels: dqm-approved, operations-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, tracking

#44950 Added noexcept to more methods called by async
  FWCore/Framework/interface/ESSourceProductResolverBase.h
  FWCore/Framework/interface/Principal.h
  FWCore/Framework/src/ESSourceProductResolverBase.cc
  FWCore/Framework/src/Principal.cc
  FWCore/Framework/src/ProductResolvers.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44918 [14.0.X] Fix multiple RelVals errors with `Unknown trigger name` exception
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: fully-signed, tests-approved, pdmv-approved, bug-fix, orp-approved, upgrade-approved, backport-ok

#44908 preserving autoNano ordering [14.0.X]
  PhysicsTools/NanoAOD/python/autoNANO.py
Labels: fully-signed, tests-approved, orp-approved, xpog-approved

#44907 Phase2-hgx355 Provision for the passive layers of HGCal in the V19 version
  Geometry/HGCalCommonData/data/dd4hep/testHGCalPassiveV18.xml
  Geometry/HGCalCommonData/data/dd4hep/testHGCalPassiveV19.xml
  Geometry/HGCalCommonData/data/hgcal/v19/hgcal.xml
  Geometry/HGCalCommonData/data/hgcalPassive/v19/hgcalPassive.xml
  Geometry/HGCalCommonData/data/hgcalPassive/v19/hgcalpos.xml
  Geometry/HGCalCommonData/plugins/DDHGCalPassive.cc
  Geometry/HGCalCommonData/python/testHGCalPassiveV18XML_cfi.py
  Geometry/HGCalCommonData/python/testHGCalPassiveV19XML_cfi.py
  Geometry/HGCalCommonData/test/python/dumpHGCalPassive_cfg.py
  Geometry/HGCalCommonData/test/python/g4OverlapCheckLayer_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#44893 OMTF emulator corresponding to the 2024 OMTF firmware
  L1Trigger/L1TMuonOverlapPhase1/interface/Omtf/AlgoMuon.h
  L1Trigger/L1TMuonOverlapPhase1/interface/StubResult.h
  L1Trigger/L1TMuonOverlapPhase1/interface/Tools/CandidateSimMuonMatcher.h
  L1Trigger/L1TMuonOverlapPhase1/interface/Tools/DataROOTDumper2.h
  L1Trigger/L1TMuonOverlapPhase1/interface/Tools/PatternOptimizerBase.h
  L1Trigger/L1TMuonOverlapPhase1/python/fakeOmtfParams_extrapolSimple_cff.py
  L1Trigger/L1TMuonOverlapPhase1/python/simOmtfDigis_cfi.py
  L1Trigger/L1TMuonOverlapPhase1/python/simOmtfDigis_extrapolSimple_cfi.py
  L1Trigger/L1TMuonOverlapPhase1/src/MuonStubMakerBase.cc
  L1Trigger/L1TMuonOverlapPhase1/src/Omtf/AlgoMuon.cc
  L1Trigger/L1TMuonOverlapPhase1/src/Omtf/GhostBusterPreferRefDt.cc
  L1Trigger/L1TMuonOverlapPhase1/src/Omtf/GoldenPatternResult.cc
  L1Trigger/L1TMuonOverlapPhase1/src/Omtf/OMTFConfiguration.cc
  L1Trigger/L1TMuonOverlapPhase1/src/Omtf/OMTFProcessor.cc
  L1Trigger/L1TMuonOverlapPhase1/src/Omtf/OMTFReconstruction.cc
  L1Trigger/L1TMuonOverlapPhase1/src/Omtf/OMTFSorter.cc
  L1Trigger/L1TMuonOverlapPhase1/src/Omtf/OMTFinput.cc
  L1Trigger/L1TMuonOverlapPhase1/src/Omtf/OmtfAngleConverter.cc
  L1Trigger/L1TMuonOverlapPhase1/src/Omtf/XMLEventWriter.cc
  L1Trigger/L1TMuonOverlapPhase1/src/Tools/CandidateSimMuonMatcher.cc
  L1Trigger/L1TMuonOverlapPhase1/src/Tools/DataROOTDumper2.cc
  L1Trigger/L1TMuonOverlapPhase1/src/Tools/EventCapture.cc
  L1Trigger/L1TMuonOverlapPhase1/src/Tools/PatternGenerator.cc
  L1Trigger/L1TMuonOverlapPhase1/src/Tools/PatternOptimizerBase.cc
  L1Trigger/L1TMuonOverlapPhase1/test/expert/omtf/.gitignore
  L1Trigger/L1TMuonOverlapPhase1/test/expert/omtf/runMuonOverlapPatternGenerator.py
  L1Trigger/L1TMuonOverlapPhase1/test/expert/omtf/runMuonOverlapPatternGeneratorClassProb.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44900 Use singularity for gridpack generation
  GeneratorInterface/LHEInterface/data/run_generic_tarball_cvmfs.sh
Labels: generators-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44905 Add L1 filters early on for Muon paths
  HLTrigger/Configuration/python/HLT_75e33/modules/hltDoubleTkMuon157L1TkMuonFilter_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltSingleTkMuon22L1TkMuonFilter_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_IsoMu24_FromL1TkMuon_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Mu17_TrkIsoVVL_Mu8_TrkIsoVVL_DZ_FromL1TkMuon_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Mu50_FromL1TkMuon_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/test/runHLTTiming.sh
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44959 Fixing JECs for PUPPI in offline DQM
  DQMOffline/JetMET/src/JetAnalyzer.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44952 Adding per-LS MEs for Muon POG DQM
  DQMServices/Core/python/nanoDQMIO_perLSoutput_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44936 [14_0_X] Removed variable-length arrays
  L1Trigger/TrackFindingTracklet/src/PurgeDuplicate.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved

#44955 HBHE stuck ADC filter
  EventFilter/HcalRawToDigi/plugins/BuildFile.xml
  EventFilter/HcalRawToDigi/plugins/HBHEstuckADCfilter.cc
  EventFilter/HcalRawToDigi/python/HBHEstuckADCfilter_cfi.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, hcal

#44677 fixing bugs in track triplet
  DataFormats/L1TCorrelator/interface/TkTriplet.h
  DataFormats/L1TCorrelator/src/TkTriplet.cc
  L1Trigger/Configuration/python/L1Trigger_EventContent_cff.py
  L1Trigger/Configuration/python/SimL1Emulator_cff.py
  L1Trigger/L1TTrackMatch/plugins/L1TrackTripletEmulatorProducer.cc
  L1Trigger/L1TTrackMatch/test/L1TrackObjectNtupleMaker.cc
Labels: l1-approved, fully-signed, tests-approved, bug-fix, orp-approved, upgrade-approved, code-checks-approved

#44953 Adding per-LS MEs for Muon POG DQM - backport to 14_0_X
  DQMServices/Core/python/nanoDQMIO_perLSoutput_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#44960 Fixing JECs for PUPPI in offline DQM - backport to 14_0_X
  DQMOffline/JetMET/src/JetAnalyzer.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#44989 (DAQ) jsoncpp moved to a namespace (14_1_X)
  EventFilter/Utilities/interface/EvFDaqDirector.h
  EventFilter/Utilities/interface/features.h
  EventFilter/Utilities/interface/forwards.h
  EventFilter/Utilities/interface/json_batchallocator.h
  EventFilter/Utilities/interface/reader.h
  EventFilter/Utilities/interface/value.h
  EventFilter/Utilities/interface/writer.h
  EventFilter/Utilities/src/json_internalarray.icc
  EventFilter/Utilities/src/json_internalmap.icc
  EventFilter/Utilities/src/json_reader.cpp
  EventFilter/Utilities/src/json_value.cpp
  EventFilter/Utilities/src/json_writer.cpp
  HLTrigger/JSONMonitoring/plugins/HLTriggerJSONMonitoring.cc
  HLTrigger/JSONMonitoring/plugins/L1TriggerJSONMonitoring.cc
Labels: daq-approved, hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#44986 Add protection against nan inputs for DeepMET
  RecoMET/METPUSubtraction/interface/DeepMETHelp.h
  RecoMET/METPUSubtraction/plugins/DeepMETProducer.cc
  RecoMET/METPUSubtraction/plugins/DeepMETSonicProducer.cc
  RecoMET/METPUSubtraction/src/DeepMETHelper.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44983 Adding PPS and ECALTiming Runs to HLT Menu veto of PCL alignment
  Alignment/CommonAlignmentProducer/python/LSNumberFilter_cfi.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44979 (DAQ) fix input source cv notification [14_1_X]
  EventFilter/Utilities/src/DAQSource.cc
  EventFilter/Utilities/src/FedRawDataInputSource.cc
Labels: daq-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44941 MTD simulation: add support for pre-mixing in pileup management of MtdSimLayerCluster
  SimCalorimetry/Configuration/python/SimCalorimetry_EventContent_cff.py
  SimDataFormats/CaloAnalysis/src/MtdSimLayerCluster.cc
  SimFastTiming/Configuration/python/SimFastTiming_EventContent_cff.py
  SimFastTiming/MtdAssociatorProducers/plugins/MtdRecoClusterToSimLayerClusterAssociatorEDProducer.cc
  SimFastTiming/MtdAssociatorProducers/plugins/MtdSimLayerClusterToTPAssociatorEDProducer.cc
  SimFastTiming/MtdAssociatorProducers/python/mtdRecoClusterToSimLayerClusterAssociation_cfi.py
  SimFastTiming/MtdAssociatorProducers/python/mtdSimLayerClusterToTPAssociation_cfi.py
  SimGeneral/CaloAnalysis/plugins/PreMixingMtdTruthWorker.cc
  SimGeneral/CaloAnalysis/test/BuildFile.xml
  SimGeneral/CaloAnalysis/test/MtdTruthDumper.cc
  SimGeneral/CaloAnalysis/test/runMtdTruthDumper_cfg.py
  SimGeneral/PreMixingModule/python/mixOne_premix_on_sim_cfi.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#44928 Fix relval embedding workflows
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#44859 ETL hits accumulation on a pixel-basis in MTD Validation
  RecoLocalFastTime/FTLCommonAlgos/plugins/ETLUncalibRecHitAlgo.cc
  RecoLocalFastTime/FTLCommonAlgos/plugins/MTDRecHitAlgo.cc
  SimFastTiming/FastTimingCommon/interface/ETLElectronicsSim.h
  SimFastTiming/FastTimingCommon/python/mtdDigitizer_cfi.py
  SimFastTiming/FastTimingCommon/src/ETLDeviceSim.cc
  SimFastTiming/FastTimingCommon/src/ETLElectronicsSim.cc
  Validation/MtdValidation/plugins/BuildFile.xml
  Validation/MtdValidation/plugins/EtlDigiHitsValidation.cc
  Validation/MtdValidation/plugins/EtlLocalRecoValidation.cc
  Validation/MtdValidation/plugins/EtlSimHitsValidation.cc
  Validation/MtdValidation/plugins/MtdTracksValidation.cc
  Validation/MtdValidation/plugins/Primary4DVertexValidation.cc
Labels: dqm-approved, reconstruction-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, mtd

#44424 Be able to generate dummy _cfi.py files for ConfDB parsing
  FWCore/ParameterSet/python/DummyCfis.py
  FWCore/ParameterSet/scripts/edmMakeDummyCfis.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44994 Improvements for Tracker Alignment `DiMuonValidation`
  Alignment/OfflineValidation/interface/DiLeptonVertexHelpers.h
  Alignment/OfflineValidation/macros/DiMuonMassProfiles.C
  Alignment/OfflineValidation/plugins/DiMuonValidation.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#45009 Stop `dz` from being `NaN` in `PackedCandidates`
  DataFormats/PatCandidates/src/PackedCandidate.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved, pf

#45008 `SiStripHitEfficiencyWorker`: adding consecutive missing hits recovery when one of the two hits is in an inactive module
  CalibTracker/SiStripHitEfficiency/plugins/SiStripHitEfficiencyWorker.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#45006 remove "-march=native``` BuildFile.xml
  DataFormats/Math/test/BuildFile.xml
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44996 Including per ROC histograms for Pixel Cluster Counting luminosity
  Calibration/LumiAlCaRecoProducers/plugins/AlcaPCCEventProducer.cc
  DataFormats/Luminosity/interface/PixelClusterCounts.h
  DataFormats/Luminosity/interface/PixelClusterCountsInEvent.h
  DataFormats/Luminosity/src/classes_def.xml
Labels: alca-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44967 Run3-alca247X Add possibility to uncorrect the RecHit energies for AlCaReco tests
  Calibration/HcalCalibAlgos/plugins/HcalIsoTrackAnalyzer.cc
  Calibration/HcalCalibAlgos/plugins/HcalIsoTrkAnalyzer.cc
Labels: alca-approved, fully-signed, tests-rejected, orp-approved, code-checks-approved

#44966 Phase2-hgc355A Complete the PR #44907 by adding the dd4hep of the algorithm DDHGCalPassive to be used for the V19 Geometry of HGCal
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalPassive.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#44904 Speedup (grouped)limitedCandidates by changing the implementation of the candidates' number limitation.
  DataFormats/TrackCandidate/interface/TrajectoryStopReasons.h
  RecoTracker/CkfPattern/interface/BaseCkfTrajectoryBuilder.h
  RecoTracker/CkfPattern/interface/CkfTrajectoryBuilder.h
  RecoTracker/CkfPattern/plugins/GroupedCkfTrajectoryBuilder.cc
  RecoTracker/CkfPattern/plugins/GroupedCkfTrajectoryBuilder.h
  RecoTracker/CkfPattern/plugins/TrajectorySegmentBuilder.cc
  RecoTracker/CkfPattern/src/CkfTrackCandidateMakerBase.cc
  RecoTracker/CkfPattern/src/CkfTrajectoryBuilder.cc
  TrackingTools/PatternTools/interface/TempTrajectory.h
  TrackingTools/PatternTools/interface/Trajectory.h
  TrackingTools/PatternTools/src/TempTrajectory.cc
  TrackingTools/PatternTools/test/TrajSizes_t.cpp
Labels: hlt-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, performance-improvements, tracking

#44363 Generated cfi files can now use new module syntax
  FWCore/Integration/plugins/ProducerWithPSetDesc.cc
  FWCore/Integration/test/cfi_dumpPython.py
  FWCore/Integration/test/run_ParameterSet.sh
  FWCore/Integration/test/unit_test_outputs/testProducerWithPsetDesc_briefdoc.txt
  FWCore/Integration/test/unit_test_outputs/testProducerWithPsetDesc_cfi.py
  FWCore/Integration/test/unit_test_outputs/testProducerWithPsetDesc_doc.txt
  FWCore/ParameterSet/interface/AllowedLabelsDescriptionBase.h
  FWCore/ParameterSet/interface/ConfigurationDescriptions.h
  FWCore/ParameterSet/interface/EmptyGroupDescription.h
  FWCore/ParameterSet/interface/IfExistsDescription.h
  FWCore/ParameterSet/interface/ParameterDescription.h
  FWCore/ParameterSet/interface/ParameterDescriptionBase.h
  FWCore/ParameterSet/interface/ParameterDescriptionNode.h
  FWCore/ParameterSet/interface/ParameterSetDescription.h
  FWCore/ParameterSet/interface/ParameterSwitch.h
  FWCore/ParameterSet/interface/ParameterWildcard.h
  FWCore/ParameterSet/interface/ParameterWildcardBase.h
  FWCore/ParameterSet/interface/PluginDescription.h
  FWCore/ParameterSet/python/Types.py
  FWCore/ParameterSet/src/ANDGroupDescription.cc
  FWCore/ParameterSet/src/ANDGroupDescription.h
  FWCore/ParameterSet/src/AllowedLabelsDescriptionBase.cc
  FWCore/ParameterSet/src/ConfigurationDescriptions.cc
  FWCore/ParameterSet/src/EmptyGroupDescription.cc
  FWCore/ParameterSet/src/IfExistsDescription.cc
  FWCore/ParameterSet/src/ORGroupDescription.cc
  FWCore/ParameterSet/src/ORGroupDescription.h
  FWCore/ParameterSet/src/ParameterDescription.cc
  FWCore/ParameterSet/src/ParameterDescriptionBase.cc
  FWCore/ParameterSet/src/ParameterSetDescription.cc
  FWCore/ParameterSet/src/ParameterWildcard.cc
  FWCore/ParameterSet/src/ParameterWildcardBase.cc
  FWCore/ParameterSet/src/XORGroupDescription.cc
  FWCore/ParameterSet/src/XORGroupDescription.h
  FWCore/ParameterSet/test/test_catch_ParameterSetDescription.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44980 (DAQ) fix input source cv notification [14_0_X]
  EventFilter/Utilities/src/DAQSource.cc
  EventFilter/Utilities/src/FedRawDataInputSource.cc
Labels: daq-approved, fully-signed, tests-approved, orp-approved

#44993 [14.0.X] Adding PPS and ECALTiming Runs to HLT Menu veto of PCL alignment
  Alignment/CommonAlignmentProducer/python/LSNumberFilter_cfi.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok

#44921 [13_0_HLT_X] Improve memory usage in ParameterSet
  DQMOffline/Trigger/src/EgHLTTrigTools.cc
  FWCore/Framework/test/unit_test_outputs/test_deepCall_unscheduled.log
  FWCore/Integration/test/unit_test_outputs/testGetBy1.log
  FWCore/Integration/test/unit_test_outputs/testGetBy2.log
  FWCore/Integration/test/unit_test_outputs/testSubProcessEventSetup.grep.txt
  FWCore/Integration/test/unit_test_outputs/testSubProcessEventSetup1.grep.txt
  FWCore/ParameterSet/interface/Entry.h
  FWCore/ParameterSet/interface/ParameterDescriptionNode.h
  FWCore/ParameterSet/interface/ParameterSet.h
  FWCore/ParameterSet/interface/ParameterSetEntry.h
  FWCore/ParameterSet/interface/VParameterSetEntry.h
  FWCore/ParameterSet/interface/types.h
  FWCore/ParameterSet/src/Entry.cc
  FWCore/ParameterSet/src/FillDescriptionFromPSet.cc
  FWCore/ParameterSet/src/ParameterDescriptionNode.cc
  FWCore/ParameterSet/src/ParameterSet.cc
  FWCore/ParameterSet/src/ParameterSetConverter.cc
  FWCore/ParameterSet/src/ParameterSetEntry.cc
  FWCore/ParameterSet/src/VParameterSetEntry.cc
  FWCore/ParameterSet/src/split.h
  FWCore/ParameterSet/src/types.cc
  FWCore/ParameterSet/test/BuildFile.xml
  FWCore/ParameterSet/test/parameterSetDescription_t.cc
  FWCore/ParameterSet/test/ps_t.cppunit.cc
  FWCore/ParameterSet/test/test_catch2_ps.cc
  IOPool/Common/test/unit_test_outputs/provdump.log
  IOPool/Input/test/BuildFile.xml
  IOPool/Input/test/GetTriggerNamesAnalyzer.cc
  IOPool/Input/test/test_old_raw_data_step1_cfg.py
  SimGeneral/HepPDTRecord/src/PdtEntry.cc
Labels: core-approved, dqm-approved, simulation-approved, fully-signed, tests-rejected, orp-approved, backport-ok

#45002 [14.0.X] Improvements for Tracker Alignment `DiMuonValidation`
  Alignment/OfflineValidation/interface/DiLeptonVertexHelpers.h
  Alignment/OfflineValidation/macros/DiMuonMassProfiles.C
  Alignment/OfflineValidation/plugins/DiMuonValidation.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok, trk

#45007 [DT DQM] Fix some minor style bugs 14_0_X
  DQM/DTMonitorClient/src/DTBlockedROChannelsTest.cc
  DQM/DTMonitorClient/src/DTLocalTriggerTest.cc
  DQM/DTMonitorModule/interface/DTTimeEvolutionHisto.h
  DQM/DTMonitorModule/src/DTTimeEvolutionHisto.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#45013 fix `testTkHistoMap_cfg.py` to include `TrackerAdditionalParametersPerDet` ESSource
  DQM/SiStripCommon/test/testTkHistoMap_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved, trk

#44911 Phase 2 GTT L1TrackObjectNtupleMaker fixes
  L1Trigger/L1TTrackMatch/test/L1TrackObjectNtupleMaker.cc
  L1Trigger/L1TTrackMatch/test/L1TrackObjectNtupleMaker_cfg.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#44964 Introducing `DIGInoHLT` + `HLTOnly` Steps
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#44971 update data used for the Pixel,ECal,HCal GPU online DQM clients for post-alpaka migration in the HLT menu
  DQM/Integration/test/BuildFile.xml
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#45019 VertexFinder: Fix unused variable warnings
  L1Trigger/VertexFinder/src/VertexFinder.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45042 `PhotonXGBoostEstimator` : set `XGBoost` to use one thread to avoid spawning hundreds of OpenMP threads
  RecoEgamma/PhotonIdentification/src/PhotonXGBoostEstimator.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, egamma

#45047 guard against invalid output products from `HLTL1TSeed`
  HLTrigger/HLTfilters/plugins/HLTL1TSeed.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45049 Protect against invalid trajectory state on surface in STA muon reco
  RecoMuon/StandAloneTrackFinder/src/StandAloneMuonFilter.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45026 Disabled ROCs for Online DQM Pixel Summary
  DQM/SiPixelPhase1Summary/src/SiPixelPhase1Summary.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#45048 guard against invalid output products from `HLTL1TSeed` [`14_0_X`]
  HLTrigger/HLTfilters/plugins/HLTL1TSeed.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok, hlt-integration

#45043 [14.0.X] `PhotonXGBoostEstimator` : set `XGBoost` to use one thread to avoid spawning hundreds of OpenMP threads
  RecoEgamma/PhotonIdentification/src/PhotonXGBoostEstimator.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, backport-ok, egamma, hlt-integration

#45027 Disabled ROCs for Online DQM Pixel Summary (BP)
  DQM/SiPixelPhase1Summary/src/SiPixelPhase1Summary.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok, trk

#45050 [14_0_X] Protect against invalid trajectory state on surface in STA muon reco
  RecoMuon/StandAloneTrackFinder/src/StandAloneMuonFilter.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok

#45014 [14.0.X] Computation of silicon strip hit efficiency : Consecutive missing hits recovery
  CalibTracker/SiStripHitEfficiency/plugins/HitEff.cc
  CalibTracker/SiStripHitEfficiency/plugins/SiStripHitEfficiencyWorker.cc
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, trk

#45033 HcalZDCDetId fix for Run3
  DataFormats/HcalDetId/interface/HcalZDCDetId.h
Labels: simulation-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, hcal

#45034 clang-tidy: Remove deprecated AnalyzeTemporaryDtors option
  .clang-tidy
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45044 Run3-alca247Z Add a new defintion of truncated DetID and a new scaling script for HCAL IsoTrack calibration
  Calibration/HcalCalibAlgos/macros/CalibCorr.C
  Calibration/HcalCalibAlgos/macros/CalibMonitor.C
  Calibration/HcalCalibAlgos/macros/CalibPlotProperties.C
  Calibration/HcalCalibAlgos/macros/CalibTree.C
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45045 Run3-alca247YX Add examples for the IsoTrack calibration in Calibration/HcalCalibAlgos/macros/jobs (restore the material from #45010)
  Calibration/HcalCalibAlgos/macros/jobs/CrabConfig_Commissioning.py
  Calibration/HcalCalibAlgos/macros/jobs/CrabConfig_EGamm_EraC_2024_EGamm0.py
  Calibration/HcalCalibAlgos/macros/jobs/README
  Calibration/HcalCalibAlgos/macros/jobs/d24CC.txt
  Calibration/HcalCalibAlgos/macros/jobs/d24CE.txt
  Calibration/HcalCalibAlgos/macros/jobs/isoTrackAlCaCommissioning_cfg.py
  Calibration/HcalCalibAlgos/macros/jobs/isoTrackNewAlCaAnalysis_cfg.py
  Calibration/HcalCalibAlgos/macros/jobs/jobs.txt
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44991 (DAQ) remove dummy MicroStateService
  DQMServices/FileIO/plugins/DQMFileSaverPB.cc
  EventFilter/Utilities/interface/FastMonitoringService.h
  EventFilter/Utilities/plugins/GlobalEvFOutputModule.cc
  EventFilter/Utilities/plugins/modules.cc
  EventFilter/Utilities/src/DAQSource.cc
  EventFilter/Utilities/src/EvFDaqDirector.cc
  EventFilter/Utilities/src/FastMonitoringService.cc
  EventFilter/Utilities/src/FedRawDataInputSource.cc
  HLTrigger/JSONMonitoring/plugins/HLTriggerJSONMonitoring.cc
  HLTrigger/JSONMonitoring/plugins/L1TriggerJSONMonitoring.cc
Labels: daq-approved, dqm-approved, hlt-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#45021 Revive MF map and XML geometry visualization
  Fireworks/Geometry/plugins/DisplayGeom.cc
  Fireworks/Geometry/python/cmsRun_displayGeom_cfg.py
  Fireworks/Geometry/python/cmsRun_displayProdMFGeom_cfg.py
  MagneticField/GeomBuilder/test/Visualization/displayMFGeom_cfg.py
Labels: reconstruction-approved, visualization-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45053 Protection for invalid TSOS in MuonTrajectoryUpdator
  RecoMuon/TrackingTools/src/MuonTrajectoryUpdator.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, muon

#45060 Use std::abs instead of abs in PixelPhase2TopologyBuilder.cc
  Geometry/TrackerGeometryBuilder/interface/RectangularPixelPhase2Topology.h
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#45068 [CPP20][DB] Replace some enums with constexpr ints in Ecal*_PayloadInspector.cc
  CondCore/EcalPlugins/plugins/EcalDQMChannelStatus_PayloadInspector.cc
  CondCore/EcalPlugins/plugins/EcalFloatCondObjectContainer_PayloadInspector.cc
  CondCore/EcalPlugins/plugins/EcalLinearCorrections_PayloadInspector.cc
  CondCore/EcalPlugins/plugins/EcalPedestals_PayloadInspector.cc
  CondCore/EcalPlugins/plugins/EcalPulseShapes_PayloadInspector.cc
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#45069 Fix deprecated arithmetics between different enum types in AlignPCLThresholdsHG
  CondFormats/PCLConfig/src/AlignPCLThresholdsHG.cc
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#45073 [CPP20] Replace enum with static constexpr int in L1TriggerRates
  DataFormats/Scalers/interface/L1TriggerRates.h
Labels: daq-approved, l1-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45057 [14.0.X] TkAlignment: Multi-IOV Zmumu mode, fixes to DMR averaged, PV trends
  Alignment/OfflineValidation/bin/Zmumumerge.cc
  Alignment/OfflineValidation/python/TkAlAllInOneTool/DMRplotter.py
  Alignment/OfflineValidation/python/TkAlAllInOneTool/Zmumu.py
  Alignment/OfflineValidation/src/PreparePVTrends.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok, trk

#45054 Include per ROC histograms for Pixel Cluster Counting luminosity - CMSSW_14_0_X
  Calibration/LumiAlCaRecoProducers/plugins/AlcaPCCEventProducer.cc
  DataFormats/Luminosity/interface/PixelClusterCounts.h
  DataFormats/Luminosity/interface/PixelClusterCountsInEvent.h
  DataFormats/Luminosity/src/classes_def.xml
Labels: alca-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok

#45022 [14_0_X backport] Stop `dz` from being `NaN` in `PackedCandidates`
  DataFormats/PatCandidates/src/PackedCandidate.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, xpog-approved, pf

#45093 Remove unused variable in VertexTimeAlgorithmLegacy4D.cc
  RecoVertex/PrimaryVertexProducer/src/VertexTimeAlgorithmLegacy4D.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#45091 [CPP20] remove depracated use of volatile as for #45072
  DataFormats/Math/test/FastMath_t.cpp
  DataFormats/Math/test/rdtscp.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45063 `MuonHLTSeedMVAClassifier`: update to use MVA-related parameters according to `isL1` value
  HLTrigger/Configuration/python/customizeHLTforCMSSW.py
  RecoMuon/TrackerSeedGenerator/interface/SeedMvaEstimator.h
  RecoMuon/TrackerSeedGenerator/plugins/MuonHLTSeedMVAClassifier.cc
  RecoMuon/TrackerSeedGenerator/src/SeedMvaEstimator.cc
Labels: hlt-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45109 remove unused mkFitHitConverter_cfi.py
  RecoTracker/MkFit/python/mkFitHitConverter_cfi.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#45108 Added value method to additional python Parameter types
  FWCore/ParameterSet/python/Types.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45097 (DAQ) fix lock contention in source
  EventFilter/Utilities/src/DAQSource.cc
  EventFilter/Utilities/src/EvFDaqDirector.cc
  EventFilter/Utilities/src/FedRawDataInputSource.cc
Labels: daq-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45052 Fix compilation warning in DDHGCalPassive.cc
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalPassive.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#45110 Added missing header in StreamerInputModule.h
  IOPool/Streamer/interface/StreamerInputModule.h
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved
