Repository cms-sw/cmssw, pull requests merged in 2024-10, with the labels that each got.

#46149 fix `SiStripLatency` methods when object is empty
  CondFormats/SiStripObjects/src/SiStripLatency.cc
  CondFormats/SiStripObjects/test/BuildFile.xml
  CondFormats/SiStripObjects/test/test_catch2_SiStripLatency.cpp
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#46143 Replace usleep with std::this_thread::sleep_for
  FWCore/Concurrency/README.md
  FWCore/Concurrency/test/limitedtaskqueue_t.cppunit.cpp
  FWCore/Concurrency/test/serialtaskqueue_t.cppunit.cpp
  FWCore/Concurrency/test/serialtaskqueuechain_t.cppunit.cpp
  FWCore/Concurrency/test/waitingtasklist_t.cppunit.cpp
  FWCore/Framework/test/stubs/TestStreamAnalyzers.cc
  FWCore/Framework/test/stubs/TestStreamFilters.cc
  FWCore/Framework/test/stubs/TestStreamProducers.cc
  FWCore/Framework/test/stubs/TestTBBTasksAnalyzer.cc
  FWCore/Framework/test/stubs/ToyIntProducers.cc
  FWCore/Integration/bin/interprocess.cc
  FWCore/Integration/bin/interprocess_random.cc
  FWCore/Integration/plugins/AcquireIntESProducer.cc
  FWCore/Integration/plugins/AcquireIntProducer.cc
  FWCore/Integration/plugins/SourceWithWaits.cc
  FWCore/Integration/plugins/TransformAsyncIntProducer.cc
  FWCore/Integration/plugins/TransformAsyncIntStreamProducer.cc
  FWCore/Modules/src/TimeStudyModules.cc
  FWCore/Sources/src/IDGeneratorSourceBase.cc
  IOMC/RandomEngine/test/TestRandomNumberServiceGlobal.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tests-external-failure

#46164 remove unused files from `HLTrigger` area
  HLTrigger/Configuration/test/add/hltCheckCfis.py
  HLTrigger/Configuration/test/add/hltCheckPaths
  HLTrigger/Configuration/test/add/hltCheckPaths.mk
  HLTrigger/Configuration/test/add/pythonToPythonTranslator.py
  HLTrigger/Configuration/test/add/tracingImport.py
  HLTrigger/Tools/python/PDRates.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46162 Initialize all member data in CaloSD constructor
  SimG4CMS/Calo/interface/CaloSD.h
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46184 Update Run3 data, Run3 2024 pp MC, Run3 2024 ppRef5TeV MC GTs in autoCond
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tests-external-failure

#46152 Add usePCACleaning to CLUE3DHighStep_cff and fix HFNose seeded region
  RecoHGCal/TICL/plugins/PatternRecognitionbyCA.cc
  RecoHGCal/TICL/python/CLUE3DHighStep_cff.py
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, upgrade-approved, code-checks-approved

#46163 [ALCA] Fix syntax in python scripts
  Alignment/OfflineValidation/scripts/createIOVlist.py
  CalibCalorimetry/CaloMiscalibTools/test/make_ecal_miscaplibration.py
  CalibCalorimetry/EcalCorrelatedNoiseAnalysisModules/data/EcnaSystemPythonModuleInsert_2.py
  CalibCalorimetry/EcalCorrelatedNoiseAnalysisModules/data/EcnaSystemPythonModuleInsert_2_data.py
  CalibCalorimetry/EcalCorrelatedNoiseAnalysisModules/data/EcnaSystemPythonModuleInsert_2_simul.py
  CalibTracker/SiStripChannelGain/test/7TeVData/automatic_RunOnCalibTree.py
  CalibTracker/SiStripChannelGain/test/7TeVData/dataCert.py
  CalibTracker/SiStripChannelGain/test/CodeExample/computeGain_cfg_OnBatch.py
  CalibTracker/SiStripChannelGain/test/CodeExample/produceCalibrationTree_cfg_OnBatch.py
  CalibTracker/SiStripChannelGain/test/Cosmic_B38/MergeOnBatch.py
  CalibTracker/SiStripChannelGain/test/Cosmic_B38/launchOnBatch.py
  CalibTracker/SiStripChannelGain/test/Cosmic_B38/onFarm_MergeJob_cfg.py
  CalibTracker/SiStripChannelGain/test/Cosmic_B38/onFarm_MultiJob_cfg.py
  CalibTracker/SiStripDCS/test/MakeTkMaps.py
  CalibTracker/SiStripDCS/test/UltimateCFG_cfg.py
  CalibTracker/SiStripHitResolution/test/SiStripHitResol_testULcosmics.py
  Calibration/EcalAlCaRecoProducers/test/nPU_mc.py
  Calibration/EcalAlCaRecoProducers/test/reRecoValidation.py
  Calibration/EcalAlCaRecoProducers/test/recHitsValidation.py
  Calibration/LumiAlCaRecoProducers/test/PCC_Random_Event_cfg.py
  MuonAnalysis/MomentumScaleCalibration/test/Macros/RunAllChecks.py
  MuonAnalysis/MomentumScaleCalibration/test/Macros/TreeProduction/MakeTrees.py
  MuonAnalysis/MomentumScaleCalibration/test/MuScleFitGenFilter_cfg.py
  MuonAnalysis/MomentumScaleCalibration/test/PrepareErrors.py
  MuonAnalysis/MomentumScaleCalibration/test/PrepareParameters.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#46171 [GEOMETRY] Fix syntax in python scripts
  Geometry/TrackerCommonData/test/twikiExport.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#46170 [RECONSTRUCTION] Fix syntax in python scripts
  RecoHI/HiEvtPlaneAlgos/test/hievtplaneflat_cfg.py
  RecoTracker/MkFitCore/standalone/plotting/compareTotals.py
  RecoTracker/MkFitCore/standalone/plotting/makeBenchmarkPlots.py
  RecoTracker/MkFitCore/standalone/plotting/makeMEIFBenchmarkPlots.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#46174 Remove a dead assignment in CondFormats/SiStripObjects/src/SiStripThreshold.cc
  CondFormats/SiStripObjects/src/SiStripThreshold.cc
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#46179 run G2GainsValidator.py in user-mode
  CondCore/SiStripPlugins/test/test_G2GainsValidator.sh
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, trk

#46167 [SIMULATION] Fix syntax in python scripts
  SimCalorimetry/HcalSimAlgos/test/HcalDigitizerTest_cfg.py
  SimG4CMS/Calo/test/python/minbias2026_cfg.py
  SimG4CMS/HcalTestBeam/test/python/run_tb06_all_cfg.py
  SimGeneral/HepPDTESSource/test/ParticleCheck.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46172 [ANALYSIS] Fix syntax in python scripts
  EgammaAnalysis/ElectronTools/test/run_CorrectECALIsolation_cfg.py
Labels: analysis-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46165 [DB] Fix syntax in python scripts
  CondCore/EcalPlugins/test/inspectPed.py
  CondCore/PopCon/test/inspect.py
  CondTools/Geometry/test/hgcalgeometrywriter.py
  CondTools/Hcal/test/dumpHcalDcsMap_cfg.py
  CondTools/RPC/test/writeRPCEMap2DB.py
  CondTools/SiPixel/test/SiPixelTemplateDBObjectReader_cfg.py
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, trk

#46185 Fix HLT Phase2 timing script.
  HLTrigger/Configuration/python/HLT_75e33/test/runHLTTiming.sh
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#46192 Use repacked raw for 2024 UPC processing
  Configuration/DataProcessing/python/Impl/ppEra_Run3_2024_UPC.py
Labels: operations-approved, fully-signed, tests-started, orp-approved, code-checks-approved

#46133 ticl: Optimize calculation of Trackster time
  RecoHGCal/TICL/plugins/TrackstersPCA.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, hgcal

#46190 Add HLT pixel thrust filter
  HLTrigger/special/plugins/BuildFile.xml
  HLTrigger/special/plugins/HLTPixelThrustFilter.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46068 Add 2024 FastSim workflow
  Configuration/PyReleaseValidation/python/relval_2017.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#46183 Initialize member data in SAMuon
  DataFormats/L1TMuonPhase2/src/SAMuon.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46161 Option to print periodically from SimpleMemoryCheck
  FWCore/Services/plugins/SimpleMemoryCheck.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46168 [CORE] Remove unused python scripts in FWCore/MessageService/test/PsetValidationSamples
  FWCore/MessageService/test/PsetValidationSamples/cat_cfg.py
  FWCore/MessageService/test/PsetValidationSamples/categories_cfg.py
  FWCore/MessageService/test/PsetValidationSamples/debugModules_cfg.py
  FWCore/MessageService/test/PsetValidationSamples/dest_cfg.py
  FWCore/MessageService/test/PsetValidationSamples/destlist_cfg.py
  FWCore/MessageService/test/PsetValidationSamples/fwkJRlist_cfg.py
  FWCore/MessageService/test/PsetValidationSamples/gpm_cfg.py
  FWCore/MessageService/test/PsetValidationSamples/mstjp_cfg.py
  FWCore/MessageService/test/PsetValidationSamples/statlist_cfg.py
  FWCore/MessageService/test/PsetValidationSamples/suppress_cfg.py
  FWCore/MessageService/test/PsetValidationSamples/threshold_cfg.py
  FWCore/MessageService/test/PsetValidationSamples/vstring_cfg.py
  FWCore/MessageService/test/PsetValidationSamples/xPSet_cfg.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46191 [MiniAOD, NanoAOD] Update AK8 subjet b-taggers, add pileup jet ID
  PhysicsTools/NanoAOD/python/jetsAK4_Puppi_cff.py
  PhysicsTools/NanoAOD/python/jetsAK8_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
  PhysicsTools/PatAlgos/python/slimming/applySubstructure_cff.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#46169 [L1] Fix syntax in python scripts
  L1Trigger/L1TGEM/test/runGEMPadDigiReader_cfg.py
  L1Trigger/L1TMuonEndCap/test/tools/make_coordlut_MC.py
  L1Trigger/L1TMuonEndCap/test/tools/make_coordlut_data.py
  L1Trigger/L1TMuonOverlapPhase1/test/expert/omtf/runMuonOverlapDataDump.py
  L1Trigger/L1TTwinMux/test/runUnpEmuTwinMux.py
  L1Trigger/VertexFinder/test/vertexFinder_cfg.py
  L1Trigger/VertexFinder/test/vertexNTupler_cfg.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46193 [14.1.X] Fix HLT Phase2 timing script.
  HLTrigger/Configuration/python/HLT_75e33/test/runHLTTiming.sh
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#46189 Update Run3 data, Run3 2024 MC, Run3 2024 ppRef5TeV GTs in autoCond - 14_1_X
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok

#46201 [14_1_X] Add HLT pixel thrust filter
  HLTrigger/special/plugins/BuildFile.xml
  HLTrigger/special/plugins/HLTPixelThrustFilter.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#46135 Add runtime allocation of PF rechit fraction SoA
  HLTrigger/Configuration/python/customizeHLTforCMSSW.py
  RecoParticleFlow/PFClusterProducer/plugins/alpaka/PFClusterSoAProducer.cc
  RecoParticleFlow/PFClusterProducer/plugins/alpaka/PFClusterSoAProducerKernel.dev.cc
  RecoParticleFlow/PFClusterProducer/plugins/alpaka/PFClusterSoAProducerKernel.h
Labels: hlt-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved, pf

#46202 [LLVM Analysis] Fix potential memory leak in ApvAnalysisFactory::constructAuxiliaryApvClasses
  CalibTracker/SiStripAPVAnalysis/src/ApvAnalysisFactory.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#46195 Fixes after root-project/root#16443
  OnlineDB/CSCCondDB/src/CSCFitAFEBThr.cc
  RecoVertex/BeamSpotProducer/interface/BSFitter.h
  RecoVertex/BeamSpotProducer/src/BSFitter.cc
Labels: alca-approved, reconstruction-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, tracking

#46103 Update data processing tests generation Tier-0 configurations
  Configuration/DataProcessing/test/RunAlcaHarvesting.py
  Configuration/DataProcessing/test/RunAlcaSkimming.py
  Configuration/DataProcessing/test/RunExpressProcessing.py
  Configuration/DataProcessing/test/RunPromptReco.py
  Configuration/DataProcessing/test/run_CfgTest_10.sh
  Configuration/DataProcessing/test/run_CfgTest_11.sh
  Configuration/DataProcessing/test/run_CfgTest_12.sh
  Configuration/DataProcessing/test/run_CfgTest_2.sh
  Configuration/DataProcessing/test/run_CfgTest_6.sh
  Configuration/DataProcessing/test/run_CfgTest_7.sh
  Configuration/DataProcessing/test/run_CfgTest_9.sh
Labels: operations-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46207 [ALCA] Applying code checks/format
  Alignment/LaserAlignment/src/LASGlobalData.cc
  CalibFormats/SiStripObjects/test/UnitTests/MasterTest.cpp
  CalibTracker/SiStripDCS/test/UnitTests/MasterTestSiStripDCS.cpp
  CalibTracker/SiStripDCS/test/UnitTests/TestSiStripDCS.cc
  MuonAnalysis/MomentumScaleCalibration/test/UnitTests/MasterTestMuScleFit.cpp
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#46209 [CORE] Applying code checks/format
  FWCore/ROOTTests/test/tclass_methods_threaded_t.cc
  FWCore/ROOTTests/test/tformula_threaded_t.cc
  FWCore/ROOTTests/test/tprofile_threaded_t.cc
  FWCore/ROOTTests/test/write_threaded_t.cc
  Utilities/General/test/google-benchmark-pass-argv.cpp
  Utilities/StaticAnalyzers/bin/bloom_filter_generator.c
  Validation/Performance/bin/SparseCompRow.c
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46210 [DAQ] Applying code checks/format
  EventFilter/Utilities/src/crc32c.cc
Labels: daq-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46220 make `hltPhase2UpgradeIntegrationTests` run faster
  HLTrigger/Configuration/scripts/hltPhase2UpgradeIntegrationTests
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46046 Replace buggy UL2016 EGM energy correction files
  PhysicsTools/NanoAOD/python/electrons_cff.py
  PhysicsTools/NanoAOD/python/photons_cff.py
  RecoEgamma/EgammaTools/python/calibratedEgammas_cff.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved, xpog-approved, egamma

#46206 [ALCA-DB] Applying code checks/format
  CondFormats/SiStripObjects/test/UnitTests/MasterTestCondFormatsSiStripObjects.cpp
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#46173 [HCAL-DQM] New plot BadQualityEvents vs all LS and changes of alarm threshold for CapID and BadQEvents for CMSSW_14_2_X
  DQM/HcalTasks/data/HcalQualityTests.xml
  DQM/HcalTasks/interface/RawTask.h
  DQM/HcalTasks/plugins/RawTask.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46238 [SIMULATION] [Clang]Cleanup clang-analyzer warnings
  SimCalorimetry/EcalElectronicsEmulation/bin/GenABIO.cc
  SimG4CMS/HcalTestBeam/src/HcalTB02HcalNumberingScheme.cc
  SimG4Core/CustomPhysics/src/CMSSQNeutronAnnih.cc
  SimG4Core/Geometry/src/CMSG4CheckOverlap.cc
  SimG4Core/Notification/src/GenParticleInfoExtractor.cc
  SimG4Core/Notification/src/TrackInformationExtractor.cc
  SimG4Core/PhysicsLists/src/CMSEmStandardPhysicsTrackingManager.cc
  SimG4Core/PrintGeomInfo/plugins/PrintMaterialBudgetInfo.cc
  SimGeneral/PileupInformation/plugins/GenPUProtonProducer.cc
  SimTransport/TotemRPProtonTransportParametrization/src/TMultiDimFet.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46205 [ANALYSIS] Applying code checks/format
  DPGAnalysis/SiStripTools/bin/UtilityMacros.cc
  PhysicsTools/PythonAnalysis/test/test_PyMVA.cpp
Labels: analysis-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#46239 [SIMULATION-UPGRADE] [Clang]Cleanup clang-analyzer warnings
  SimCalorimetry/HGCalSimAlgos/src/HGCalSciNoiseMap.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#46232 [ANALYSIS] [Clang]Cleanup clang-analyzer warnings
  TopQuarkAnalysis/TopEventProducers/src/TtDilepEvtSolutionMaker.cc
  TopQuarkAnalysis/TopHitFit/src/CLHEPHitFitTranslator.cc
  TopQuarkAnalysis/TopHitFit/src/PatElectronHitFitTranslator.cc
  TopQuarkAnalysis/TopHitFit/src/PatJetHitFitTranslator.cc
  TopQuarkAnalysis/TopHitFit/src/PatMuonHitFitTranslator.cc
Labels: analysis-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46231 AlcaPCCEventProducer configuration to save per ROC data
  Calibration/LumiAlCaRecoProducers/plugins/AlcaPCCEventProducer.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, urgent, code-checks-approved

#46208 [FASTSIM] Applying code checks/format
  FastSimulation/Validation/test/timing.cpp
Labels: fastsim-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46212 [RECONSTRUCTION] Applying code checks/format
  DataFormats/Math/test/MulSymMatrix_t.cpp
  DataFormats/Math/test/eta_t.cpp
  DataFormats/MuonReco/test/testMuon.cc
  MagneticField/Interpolation/test/Grid1D_t.cpp
  MagneticField/Interpolation/test/Grid3D_t.cpp
  RecoLocalCalo/EcalRecAlgos/src/dummyfile.cc
  RecoLuminosity/LumiProducer/test/testBoostRegex.cpp
  RecoLuminosity/LumiProducer/test/testBoostXML.cpp
  RecoVertex/PixelVertexFinding/plugins/FastPrimaryVertexProducer.cc
  RecoVertex/PixelVertexFinding/plugins/FastPrimaryVertexWithWeightsProducer.cc
  TrackPropagation/RungeKutta/test/testFastPow.cpp
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#46214 [GEOMETRY] Applying code checks/format
  Geometry/CaloEventSetup/test/dumpEEIndices2D.cpp
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46211 [VISUALIZATION] Applying code checks/format
  Fireworks/Core/bin/cmsShowSendReport.cc
  Fireworks/ParticleFlow/src/FWPFMaths.cc
Labels: visualization-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46219 [DB] Applying code checks/format
  OnlineDB/EcalCondDB/bin/cmsecal_rootplot.cpp
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#46233 [RECONSTRUCTION] [Clang]Cleanup clang-analyzer warnings
  TrackPropagation/RungeKutta/src/RKPropagatorInS.cc
  TrackPropagation/SteppingHelixPropagator/src/SteppingHelixPropagator.cc
  TrackPropagation/SteppingHelixPropagator/test/SteppingHelixPropagatorAnalyzer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#46224 [DB] Ad a small feature to DT calibration payloads dumper
  CalibMuon/DTCalibration/test/DBTools/DumpDBToFile.cc
  CalibMuon/DTCalibration/test/DumpDBToFile_cfg.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46213 [SIMULATION] Applying code checks/format
  DataFormats/GeometryVector/src/print.cc
  SimCalorimetry/EcalElectronicsEmulation/bin/recycleTccEmu.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46226 [LLVM Analysis] Fix potential memory leak in ApvAnalysisFactory::constructAuxiliaryApvClasses (pt 2)
  CalibTracker/SiStripAPVAnalysis/src/ApvAnalysisFactory.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#46032 Phase2-hgx360C increase the debug tools for testing the forthcoming V19 version of HGCal geometry
  Geometry/HGCalCommonData/data/dd4hep/cms-test-ddhgcalEEV19-algorithm.xml
  Geometry/HGCalCommonData/data/dd4hep/cms-test-ddhgcalHEmixV19-algorithm.xml
  Geometry/HGCalCommonData/data/dd4hep/cms-test-ddhgcalHEsilV19-algorithm.xml
  Geometry/HGCalCommonData/python/testHGCalCellV19XML_cfi.py
  Geometry/HGCalCommonData/test/python/dumpHGCalEEDD4hep_cfg.py
  Geometry/HGCalCommonData/test/python/dumpHGCalEEDDD_cfg.py
  Geometry/HGCalCommonData/test/python/dumpHGCalHEmixDD4hep_cfg.py
  Geometry/HGCalCommonData/test/python/dumpHGCalHEmixDDD_cfg.py
  Geometry/HGCalCommonData/test/python/dumpHGCalHEsilDD4hep_cfg.py
  Geometry/HGCalCommonData/test/python/dumpHGCalHEsilDDD_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#46007 FastSim premixing workflows and matrix cleanup
  Configuration/PyReleaseValidation/python/relval_upgrade.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#46242 Initialize all member data in PropagateToMuon
  MuonAnalysis/MuonAssociators/interface/PropagateToMuon.h
Labels: analysis-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46244 [JMENano] Setup Pileup Jet ID for reclustered AK4 Puppi jets
  PhysicsTools/NanoAOD/python/custom_jme_cff.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#46249 [14.1.X] `AlcaPCCEventProducer` configuration to save per ROC data
  Calibration/LumiAlCaRecoProducers/plugins/AlcaPCCEventProducer.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok

#46136 [14_1_X] Add runtime allocation of PF rechit fraction SoA
  HLTrigger/Configuration/python/customizeHLTforCMSSW.py
  RecoParticleFlow/PFClusterProducer/plugins/alpaka/PFClusterSoAProducer.cc
  RecoParticleFlow/PFClusterProducer/plugins/alpaka/PFClusterSoAProducerKernel.dev.cc
  RecoParticleFlow/PFClusterProducer/plugins/alpaka/PFClusterSoAProducerKernel.h
Labels: hlt-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok, heterogeneous-approved

#46268 [ROOT6] Disable NanoAODRNuple plugin
  PhysicsTools/NanoAOD/plugins/BuildFile.xml
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#46256 Minimal bugfix on the missing lumifilter for the MTS validation.
  Alignment/OfflineValidation/python/TkAlAllInOneTool/MTS_cfg.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#46204 More of the DataProxy to ESProductResolver renaming
  FWCore/Concurrency/scripts/edmStreamStallGrapher.py
  FWCore/Framework/interface/CallbackBase.h
  FWCore/Framework/interface/CallbackExternalWork.h
  FWCore/Framework/interface/ESProducer.h
  FWCore/Framework/interface/ESProductResolver.h
  FWCore/Framework/interface/ESProductResolverFactoryProducer.h
  FWCore/Framework/interface/ESProductResolverProvider.h
  FWCore/Framework/interface/ESProductResolverTemplate.h
  FWCore/Framework/interface/ESSourceConcurrentProductResolverTemplate.h
  FWCore/Framework/interface/ESSourceProductResolverBase.h
  FWCore/Framework/interface/ESSourceProductResolverConcurrentBase.h
  FWCore/Framework/interface/ESSourceProductResolverNonConcurrentBase.h
  FWCore/Framework/interface/EventSetupProvider.h
  FWCore/Framework/interface/EventSetupRecord.h
  FWCore/Framework/interface/EventSetupRecordImpl.h
  FWCore/Framework/interface/EventSetupRecordProvider.h
  FWCore/Framework/src/ESProductResolverProvider.cc
  FWCore/Framework/src/EventSetupProvider.cc
  FWCore/Framework/src/EventSetupRecordImpl.cc
  FWCore/Framework/src/EventSetupRecordProvider.cc
  FWCore/Framework/test/dependentrecord_t.cppunit.cc
  FWCore/Framework/test/esproducer_t.cppunit.cc
  FWCore/Framework/test/eventsetup_t.cppunit.cc
  FWCore/Framework/test/eventsetuprecord_t.cppunit.cc
  FWCore/Framework/test/fullchain_t.cppunit.cc
  FWCore/Integration/plugins/ESTestProducers.cc
  FWCore/TestProcessor/interface/EventSetupTestHelper.h
  FWCore/TestProcessor/src/EventSetupTestHelper.cc
  FWCore/TestProcessor/src/TestProcessor.cc
  PhysicsTools/CondLiteIO/plugins/FWLiteESRecordWriterAnalyzer.cc
Labels: analysis-approved, core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46264 Updating phase2_realistic to point to 141X_mcRun4_realistic_v2
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46261 [LLVM Analyzer][Heterogeneous] Remove dead assignments
  HeterogeneousCore/CUDAUtilities/src/CachingDeviceAllocator.h
  HeterogeneousCore/CUDAUtilities/src/CachingHostAllocator.h
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#46187 Add standalone unit test for DQM/TrackingMonitorSource plugins
  DQM/TrackingMonitorSource/plugins/StandaloneTrackMonitor.cc
  DQM/TrackingMonitorSource/plugins/TrackMultiplicityFilter.cc
  DQM/TrackingMonitorSource/plugins/TtbarTrackProducer.cc
  DQM/TrackingMonitorSource/plugins/V0EventSelector.cc
  DQM/TrackingMonitorSource/plugins/ZEEDetails.cc
  DQM/TrackingMonitorSource/test/BuildFile.xml
  DQM/TrackingMonitorSource/test/testTrackingDQMAnalyzers.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#46166 [DQM] Fix syntax in python scripts
  DPGAnalysis/HcalTools/scripts/cmt/das_client.py
  DPGAnalysis/HcalTools/scripts/rmt/hcal_runs.py
  DPGAnalysis/HcalTools/scripts/rmt/hcal_runs_valdas.py
  DQM/SiTrackerPhase2/test/harvestingstep_phase2tk_cfg.py
  DQMOffline/CalibCalo/test/compare.py
  DQMOffline/Configuration/scripts/cmsswConfigtrace.py
  DQMOffline/Configuration/scripts/cmsswFiletrace.py
  HLTriggerOffline/Btag/test/testSequences.py
  Validation/CaloTowers/test/client_data_cfg.py
  Validation/CaloTowers/test/run_onRelVal_fromGENSIM_redigi_rereco_cfg.py
  Validation/HcalHits/test/ZdcSimHitStudy_cfg.py
  Validation/MuonGEMHits/test/Compare.py
  Validation/MuonGEMHits/test/MakePlot.py
  Validation/MuonGEMHits/test/phiView.py
  Validation/RecoMuon/test/muonReleaseSummary.py
  Validation/RecoMuon/test/new_muonReleaseSummary.py
  Validation/RecoTrack/test/fakeAnalysis/analysis.py
  Validation/RecoTrack/test/fakeAnalysis/graphics.py
  Validation/RecoTrack/test/fakeAnalysis/graphics_vertical.py
  Validation/RecoTrack/test/fakeAnalysis/main.py
  Validation/RecoVertex/test/V0PerformanceValidation.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking, trk

#46217 [L1] Applying code checks/format
  L1Trigger/L1TGlobal/plugins/TriggerMenuParser.cc
  L1TriggerConfig/GMTConfigProducers/src/RecordHelper.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46197 [LLVM Analyzer] Fix use-after-free in DQM/SiStripMonitorSummary/bin/makePlots.cc
  DQM/SiStripMonitorSummary/bin/makePlots.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#46270 [LLVM Analyzer][L1] Remove dead code
  L1Trigger/DTTriggerServerPhi/src/DTTSCand.cc
  L1Trigger/DTTriggerServerPhi/src/DTTSPhi.cc
  L1Trigger/GlobalTrigger/src/L1GlobalTriggerFDL.cc
  L1Trigger/GlobalTrigger/src/L1GlobalTriggerGTL.cc
  L1Trigger/GlobalTrigger/src/L1GlobalTriggerPSB.cc
  L1Trigger/GlobalTrigger/src/L1GtCorrelationCondition.cc
  L1Trigger/GlobalTrigger/src/L1GtEtaPhiConversions.cc
  L1Trigger/GlobalTriggerAnalyzer/src/L1GtAnalyzer.cc
  L1Trigger/HardwareValidation/interface/DEutils.h
  L1Trigger/HardwareValidation/plugins/L1DummyProducer.h
  L1Trigger/HardwareValidation/src/L1Comparator.cc
  L1Trigger/L1TCalorimeter/src/CaloTools.cc
  L1Trigger/L1TGlobal/src/CorrCondition.cc
  L1Trigger/L1TGlobal/src/CorrThreeBodyCondition.cc
  L1Trigger/L1TGlobal/src/CorrWithOverlapRemovalCondition.cc
  L1Trigger/L1TGlobal/src/TriggerMenu.cc
  L1Trigger/L1TMuonEndCap/src/PtAssignmentEngine2016.cc
  L1Trigger/L1TMuonOverlapPhase1/src/Tools/CandidateSimMuonMatcher.cc
  L1Trigger/Phase2L1GMT/interface/PreTrackMatchedMuon.h
  L1Trigger/Phase2L1GMT/plugins/Phase2L1TGMTFwdMuonTranslator.cc
  L1Trigger/Phase2L1GMT/plugins/Phase2L1TGMTKMTFProducer.cc
  L1Trigger/Phase2L1GMT/plugins/Phase2L1TGMTSAMuonGhostCleaner.cc
  L1Trigger/Phase2L1GMT/src/TPSAlgorithm.cc
  L1Trigger/Phase2L1GMT/src/TrackConverter.cc
  L1Trigger/RPCTechnicalTrigger/src/RBCProcessRPCDigis.cc
  L1Trigger/RPCTechnicalTrigger/src/RBCProcessRPCSimDigis.cc
  L1Trigger/RPCTechnicalTrigger/src/RPCTechnicalTrigger.cc
  L1Trigger/RPCTechnicalTrigger/src/TTUEmulator.cc
  L1Trigger/RPCTrigger/src/RPCTBMuon.cc
  L1Trigger/RegionalCaloTrigger/plugins/L1RCTTestAnalyzer.cc
  L1Trigger/TrackFindingTMTT/src/DupFitTrkKiller.cc
  L1Trigger/TrackFindingTracklet/src/MatchProcessor.cc
  L1Trigger/TrackFindingTracklet/src/TrackletProcessor.cc
  L1TriggerConfig/L1GtConfigProducers/src/L1GtTriggerMenuConfigOnlineProd.cc
  L1TriggerConfig/L1GtConfigProducers/src/L1GtTriggerMenuXmlParser.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46225 [ClangAna][HcalHits] Remove dead code; suppress false-positive warnings
  Validation/HcalHits/plugins/HcalSimHitCheck.cc
  Validation/HcalHits/plugins/HcalSimHitStudy.cc
  Validation/HcalHits/src/HcalSimHitsValidation.cc
  Validation/HcalHits/src/SimG4HcalValidation.cc
  Validation/HcalHits/src/SimHitsValidationHcal.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46216 [DQM] Applying code checks/format
  DQM/CSCMonitorModule/plugins/CSCDQM_Documentation.cc
  DQM/SiStripMonitorClient/bin/moduleOccupancyPlots.cc
  DQM/SiStripMonitorClient/bin/moduleOccupancyTrend.cc
  DQM/SiStripMonitorSummary/bin/makeModulePlots.cc
  DQM/TrackerCommon/bin/TrackerRunCertification.C
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#46237 [L1] [Clang]Cleanup clang-analyzer warnings
  SimCalorimetry/EcalTrigPrimAlgos/src/EcalFenixMaxof2.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46227 [DQM] [Clang]Cleanup clang-analyzer warnings
  Validation/CaloTowers/src/CaloTowersClient.cc
  Validation/DTRecHits/plugins/DTRecHitQuality.cc
  Validation/EcalClusters/src/EnergyScaleAnalyzer.cc
  Validation/EcalDigis/plugins/EcalBarrelDigisValidation.cc
  Validation/EcalDigis/plugins/EcalDigisValidation.cc
  Validation/EcalDigis/plugins/EcalEndcapDigisValidation.cc
  Validation/EcalDigis/plugins/EcalMixingModuleValidation.cc
  Validation/EcalDigis/plugins/EcalSelectiveReadoutValidation.cc
  Validation/GlobalDigis/src/GlobalDigisAnalyzer.cc
  Validation/HLTrigger/plugins/HLTGenValSource.cc
  Validation/MuonDTDigis/src/MuonDTDigis.cc
  Validation/RecoB/plugins/BDHadronTrackMonitoringAnalyzer.cc
  Validation/RecoParticleFlow/src/Comparator.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46276 Modernize RecoEgamma/PhotonIdentification helpers
  RecoEgamma/EgammaPhotonProducers/src/GEDPhotonProducer.cc
  RecoEgamma/EgammaPhotonProducers/src/PhotonProducer.cc
  RecoEgamma/PhotonIdentification/interface/PhotonMIPHaloTagger.h
  RecoEgamma/PhotonIdentification/interface/PhotonMVABasedHaloTagger.h
  RecoEgamma/PhotonIdentification/src/PhotonMIPHaloTagger.cc
  RecoEgamma/PhotonIdentification/src/PhotonMVABasedHaloTagger.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46235 Removed cmsScimark2 exec and scripts
  Validation/Performance/bin/BuildFile.xml
  Validation/Performance/bin/FFT.c
  Validation/Performance/bin/FFT.h
  Validation/Performance/bin/LU.c
  Validation/Performance/bin/LU.h
  Validation/Performance/bin/MonteCarlo.c
  Validation/Performance/bin/MonteCarlo.h
  Validation/Performance/bin/Random.c
  Validation/Performance/bin/Random.h
  Validation/Performance/bin/SOR.c
  Validation/Performance/bin/SOR.h
  Validation/Performance/bin/SparseCompRow.c
  Validation/Performance/bin/SparseCompRow.h
  Validation/Performance/bin/Stopwatch.c
  Validation/Performance/bin/Stopwatch.h
  Validation/Performance/bin/array.c
  Validation/Performance/bin/array.h
  Validation/Performance/bin/constants.h
  Validation/Performance/bin/kernel.c
  Validation/Performance/bin/kernel.h
  Validation/Performance/bin/scimark2.c
  Validation/Performance/bin/scimark2.h
  Validation/Performance/scripts/cmsScimarkLaunch.csh
  Validation/Performance/scripts/cmsScimarkParser.py
  Validation/Performance/scripts/cmsScimarkStop.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46236 MTD Validation: speed up LocalRecoValidation plus other fixes
  Validation/MtdValidation/plugins/BtlLocalRecoValidation.cc
  Validation/MtdValidation/plugins/EtlLocalRecoValidation.cc
  Validation/MtdValidation/plugins/MtdTracksHarvester.cc
  Validation/MtdValidation/plugins/MtdTracksValidation.cc
  Validation/MtdValidation/plugins/Primary4DVertexValidation.cc
  Validation/MtdValidation/test/mtdHarvesting_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, mtd

#46257 DQM CSCMonitorModule: crash fix for corrupted events with missing ALCT data (14_2_X)
  DQM/CSCMonitorModule/plugins/CSCDQM_EventProcessor_processCSC.cc
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved, csc

#46091 [GENERATORS] [PY312] String formatting to fix SyntaxWarning
  Configuration/Generator/python/QCD_Pt-20toInf_MuEnrichedPt15_TuneCUETP8M1_13TeV_pythia8_cff.py
  Configuration/Generator/python/QCD_Pt-20toInf_MuEnrichedPt15_TuneCUETP8M1_14TeV_pythia8_cff.py
  Configuration/Generator/python/QCD_Pt20toInf_MuEnrichedPt15_14TeV_TuneCP5_cff.py
Labels: generators-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46283 Increase threshold of max number of pixel clusters for cosmic tracking
  RecoTracker/SpecialSeedGenerators/python/CombinatorialSeedGeneratorForCosmics_cfi.py
  RecoTracker/SpecialSeedGenerators/python/CosmicSeed_cfi.py
  RecoTracker/SpecialSeedGenerators/python/SimpleCosmicBONSeeder_cfi.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#46271 Pass pointer to EgammaRecHitIsolation::getEtSum
  DQMOffline/Trigger/src/EgHLTOffHelper.cc
  RecoEgamma/EgammaElectronAlgos/src/GsfElectronAlgo.cc
  RecoEgamma/EgammaIsolationAlgos/interface/EgammaRecHitIsolation.h
  RecoEgamma/EgammaPhotonProducers/src/ConversionTrackCandidateProducer.cc
  RecoEgamma/PhotonIdentification/src/PhotonIsolationCalculator.cc
Labels: dqm-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46245 Miscellaneous fixes for HLT online DQM
  DQM/HLTEvF/python/HLTObjectMonitor_cfi.py
  DQMOffline/Trigger/python/SiPixel_OfflineMonitoring_TrackCluster_cff.py
  DQMOffline/Trigger/python/SiPixel_OfflineMonitoring_TrackResiduals_cff.py
  DQMOffline/Trigger/python/SiPixel_OfflineMonitoring_cff.py
Labels: dqm-approved, hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46072 Fix duplication of TrigObj in nanoAOD
  PhysicsTools/NanoAOD/plugins/TriggerObjectTableProducer.cc
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#46259 [CORE] [Clang]Cleanup clang-analyzer warnings
  Utilities/StaticAnalyzers/src/ClassChecker.cpp
  Utilities/StaticAnalyzers/src/CmsSupport.h
  Utilities/StaticAnalyzers/src/ESRecordGetChecker.cpp
  Utilities/StaticAnalyzers/src/FiniteMathChecker.cc
  Utilities/StaticAnalyzers/src/FunctionChecker.cpp
  Utilities/StaticAnalyzers/src/getByChecker.cpp
  Utilities/StorageFactory/src/LocalFileSystem.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46262 [LLVM Analyzer][ALCA,ANALYSIS] Remove dead assignments
  IORawData/DTCommissioning/plugins/DTNewROS8FileReader.cc
  IORawData/SiPixelInputSources/src/PixelSLinkDataInputSource.cc
  JetMETCorrections/MCJet/bin/ReadTree.cc
Labels: alca-approved, analysis-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46286 Run3-hcx369 Allow only valid ZDChits to enter the digitization phase
  Geometry/ForwardGeometry/src/ZdcTopology.cc
  SimCalorimetry/HcalSimProducers/BuildFile.xml
  SimCalorimetry/HcalSimProducers/interface/HcalDigitizer.h
  SimCalorimetry/HcalSimProducers/src/HcalDigitizer.cc
Labels: geometry-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46277 [LLVM Analyzer][DB] Fix dead assignment in FEConfigLUTGroupDat
  OnlineDB/EcalCondDB/src/FEConfigLUTGroupDat.cc
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#46289 Improve constructor for PhotonIsolationCalculator
  RecoEgamma/EgammaPhotonProducers/src/GEDPhotonProducer.cc
  RecoEgamma/EgammaPhotonProducers/src/PhotonProducer.cc
  RecoEgamma/PhotonIdentification/interface/PhotonIsolationCalculator.h
  RecoEgamma/PhotonIdentification/src/PhotonIsolationCalculator.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46285 [14.0.X]Increase threshold of max number of pixel clusters for cosmic tracking
  RecoTracker/SpecialSeedGenerators/python/CombinatorialSeedGeneratorForCosmics_cfi.py
  RecoTracker/SpecialSeedGenerators/python/CosmicSeed_cfi.py
  RecoTracker/SpecialSeedGenerators/python/SimpleCosmicBONSeeder_cfi.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, tracking

#46284 [14.1.X]Increase threshold of max number of pixel clusters for cosmic tracking
  RecoTracker/SpecialSeedGenerators/python/CombinatorialSeedGeneratorForCosmics_cfi.py
  RecoTracker/SpecialSeedGenerators/python/CosmicSeed_cfi.py
  RecoTracker/SpecialSeedGenerators/python/SimpleCosmicBONSeeder_cfi.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, tracking

#46151 Remove run3_nanoAOD_122 & 124 modifiers
  Configuration/Eras/python/Modifier_run3_nanoAOD_122_cff.py
  Configuration/Eras/python/Modifier_run3_nanoAOD_124_cff.py
  Configuration/StandardSequences/python/Eras.py
  PhysicsTools/NanoAOD/python/boostedTaus_cff.py
  PhysicsTools/NanoAOD/python/custom_btv_cff.py
  PhysicsTools/NanoAOD/python/globals_cff.py
  PhysicsTools/NanoAOD/python/jetsAK4_CHS_cff.py
  PhysicsTools/NanoAOD/python/jetsAK4_Puppi_cff.py
  PhysicsTools/NanoAOD/python/jetsAK8_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cff.py
  PhysicsTools/NanoAOD/python/nano_cff.py
  PhysicsTools/NanoAOD/python/nano_eras_cff.py
  PhysicsTools/NanoAOD/python/taus_cff.py
Labels: operations-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#46188 Update Run3 data, Run3 2024 MC, Run3 2024 ppRef5TeV GTs in autoCond - 14_0_X
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok

#46298 Removing Muon POG DQM sequence from Express pipeline - backport to 14_0_X
  DQMOffline/Configuration/python/DQMOffline_SecondStep_cff.py
  DQMOffline/Configuration/python/DQMOffline_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#46297 Removing Muon POG DQM sequence from Express pipeline - backport to 14_1_X
  DQMOffline/Configuration/python/DQMOffline_SecondStep_cff.py
  DQMOffline/Configuration/python/DQMOffline_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#46282 [14_0_X] Removal of ZDC Digitizer
  SimCalorimetry/HcalSimProducers/src/HcalDigitizer.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, urgent

#46302 [14.0.X] Miscellaneous fixes for HLT online DQM
  DQM/HLTEvF/python/HLTObjectMonitor_cfi.py
  DQMOffline/Trigger/python/SiPixel_OfflineMonitoring_TrackCluster_cff.py
  DQMOffline/Trigger/python/SiPixel_OfflineMonitoring_TrackResiduals_cff.py
  DQMOffline/Trigger/python/SiPixel_OfflineMonitoring_cff.py
Labels: dqm-approved, hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#46301 [14.1.X] Miscellaneous fixes for HLT online DQM
  DQM/HLTEvF/python/HLTObjectMonitor_cfi.py
  DQMOffline/Trigger/python/SiPixel_OfflineMonitoring_TrackCluster_cff.py
  DQMOffline/Trigger/python/SiPixel_OfflineMonitoring_TrackResiduals_cff.py
  DQMOffline/Trigger/python/SiPixel_OfflineMonitoring_cff.py
Labels: dqm-approved, hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#46295 Update ZdcSimpleRecAlgo_Run3.cc
  RecoLocalCalo/HcalRecAlgos/src/ZdcSimpleRecAlgo_Run3.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46292 Run3-hcx370 Protection to avoid unphysical ZDC SimHits which caused crashes during digitization (backport #46286)
  Geometry/ForwardGeometry/src/ZdcTopology.cc
  SimCalorimetry/HcalSimProducers/BuildFile.xml
  SimCalorimetry/HcalSimProducers/interface/HcalDigitizer.h
  SimCalorimetry/HcalSimProducers/src/HcalDigitizer.cc
Labels: geometry-approved, simulation-approved, fully-signed, tests-approved, orp-approved

#46252 [14.1.X] Minimal bugfix on the missing lumifilter for the MTS validation.
  Alignment/OfflineValidation/python/TkAlAllInOneTool/MTS_cfg.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok, trk

#46266 Updating phase2_realistic to point to 141X_mcRun4_realistic_v2 [141X Backport]
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok

#46280 [14.1.X] Miscellaneous backports to `DQM/TrackingMonitorSource`
  DQM/TrackingMonitorSource/plugins/StandaloneTrackMonitor.cc
  DQM/TrackingMonitorSource/plugins/TrackMultiplicityFilter.cc
  DQM/TrackingMonitorSource/plugins/TtbarTrackProducer.cc
  DQM/TrackingMonitorSource/plugins/V0EventSelector.cc
  DQM/TrackingMonitorSource/plugins/ZEEDetails.cc
  DQM/TrackingMonitorSource/python/TrackingDataMCValidation_Standalone_cff.py
  DQM/TrackingMonitorSource/python/V0Selections_cfi.py
  DQM/TrackingMonitorSource/test/BuildFile.xml
  DQM/TrackingMonitorSource/test/testTrackingDQMAnalyzers.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok, tracking

#46279 [LLVM Analyzer][ML] Remove dead assignment in PhysicsTools/MVAComputer/src/Spline.cc
  PhysicsTools/MVAComputer/src/Spline.cc
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, ml-approved

#46312 Fix crash in DeDxEstimatorRekeyer
  PhysicsTools/PatAlgos/plugins/DeDxEstimatorRekeyer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, code-checks-approved, xpog-approved

#46317 [ANALYSIS] [Clang]Cleanup clang-analyzer warnings
  PhysicsTools/CondLiteIO/src/RecordWriter.cc
Labels: analysis-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46314 [14_1_X] Fix crash in DeDxEstimatorRekeyer
  PhysicsTools/PatAlgos/plugins/DeDxEstimatorRekeyer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok, xpog-approved

#46263 Run3-hcx368 Backport #46115 to avoid warning for RPD volume placement
  Configuration/Geometry/python/dict2021Geometry.py
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2023.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2024.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometry2023XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2024XML_cfi.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved

#46321 [RECONSTRUCTION] [Clang]Cleanup clang-analyzer warnings
  MagneticField/ParametrizedEngine/src/BFit3D.cc
  RecoJets/JetProducers/plugins/VirtualJetProducer.cc
  RecoLuminosity/TCPReceiver/src/TCPReceiver.cc
  RecoTracker/MkFitCore/src/MatriplexPackers.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#46315 Fix testAOTTools for non-amd64 arch
  PhysicsTools/TensorFlowAOT/test/testAOTTools.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, tests-external-failure, ml-approved

#46306 Improved scripts used to write 2024 Geom DB payloads
  CondTools/Geometry/test/writehelpers/createExtended2024DD4hepPayloads.sh
  CondTools/Geometry/test/writehelpers/geometryExtended2024DD4hep_writer.py
  CondTools/Geometry/test/writehelpers/geometryExtended2024DD4hep_xmlwriter.py
  CondTools/Geometry/test/writehelpers/xmlgeometrywriter.py
Labels: geometry-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#46079 Follow up on recent Minuit 2 code changes
  OnlineDB/CSCCondDB/interface/CSCThrTurnOnFcn.h
  OnlineDB/CSCCondDB/src/CSCFitAFEBThr.cc
  OnlineDB/CSCCondDB/src/CSCThrTurnOnFcn.cc
  RecoVertex/BeamSpotProducer/interface/BSpdfsFcn.h
  RecoVertex/BeamSpotProducer/interface/FcnBeamSpotFitPV.h
  RecoVertex/BeamSpotProducer/src/BSpdfsFcn.cc
  RecoVertex/BeamSpotProducer/src/FcnBeamSpotFitPV.cc
Labels: alca-approved, reconstruction-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, tracking

#46243 Improve TPSAlgorithm
  L1Trigger/Phase2L1GMT/interface/TPSAlgorithm.h
  L1Trigger/Phase2L1GMT/src/TPSAlgorithm.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46114 Simplify and generalize ibeos
  Configuration/PyReleaseValidation/python/MatrixUtil.py
  Configuration/PyReleaseValidation/python/WorkFlowRunner.py
  Configuration/PyReleaseValidation/scripts/runTheMatrix.py
  Utilities/General/ibeos/ibeos-lfn-sort
  Utilities/General/scripts/dasgoclient
  Utilities/General/scripts/ibeos-lfn-sort
Labels: core-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#46322 SiPixelAlignment PCL harvester, add option to ignore exceeding thresholds on inactive modules when vetoing payload upload
  Alignment/MillePedeAlignmentAlgorithm/BuildFile.xml
  Alignment/MillePedeAlignmentAlgorithm/interface/MillePedeFileReader.h
  Alignment/MillePedeAlignmentAlgorithm/plugins/BuildFile.xml
  Alignment/MillePedeAlignmentAlgorithm/plugins/MillePedeAlignmentAlgorithm.cc
  Alignment/MillePedeAlignmentAlgorithm/plugins/MillePedeAlignmentAlgorithm.h
  Alignment/MillePedeAlignmentAlgorithm/plugins/MillePedeDQMModule.cc
  Alignment/MillePedeAlignmentAlgorithm/plugins/MillePedeDQMModule.h
  Alignment/MillePedeAlignmentAlgorithm/python/MillePedeDQMModule_cff.py
  Alignment/MillePedeAlignmentAlgorithm/python/MillePedeFileReader_cfi.py
  Alignment/MillePedeAlignmentAlgorithm/src/MillePedeFileReader.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#46344 [LLVM Analyzer][AlCa] Cleanup clang analyzer warnings
  Alignment/OfflineValidation/src/GeometryComparisonPlotter.cc
  CalibCalorimetry/EcalCorrelatedNoiseAnalysisAlgos/src/TEcnaNumbering.cc
  CalibCalorimetry/EcalCorrelatedNoiseAnalysisAlgos/src/TEcnaRun.cc
  CalibCalorimetry/EcalCorrelatedNoiseAnalysisAlgos/src/TEcnaWrite.cc
  CalibFormats/SiPixelObjects/src/PixelFEDCard.cc
  CalibMuon/DTCalibration/plugins/DTT0CalibrationRMS.cc
  CalibPPS/AlignmentGlobal/plugins/PPSAlignmentHarvester.cc
  Calibration/IsolatedParticles/interface/CaloPropagateTrack.h
  Calibration/TkAlCaRecoProducers/src/AlcaBeamSpotManager.cc
  Calibration/Tools/src/CalibElectron.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#46320 [DB] [Clang]Cleanup clang-analyzer warnings
  OnlineDB/CSCCondDB/src/CSCCableRead.cc
  OnlineDB/CSCCondDB/src/CSCMap.cc
  OnlineDB/CSCCondDB/src/CSCMap1.cc
  OnlineDB/CSCCondDB/src/CSCOnlineDB.cc
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#46218 [L1-UPGRADE] Applying code checks/format
  L1Trigger/Phase2L1GT/plugins/L1GTEvaluationInterface.h
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#46141 FastSim premixing workflows and matrix cleanup [14_1_X]
  Configuration/PyReleaseValidation/python/relval_upgrade.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, backport-ok

#46338 Phase2-hgx360D Replace cout with logvervatim
  Geometry/HGCalCommonData/src/HGCalCellOffset.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#46345 Two Small Changes Related to ZDC LUTs
  CalibCalorimetry/HcalTPGAlgos/src/HcaluLUTTPGCoder.cc
  CaloOnlineTools/HcalOnlineDb/src/HcalLutManager.cc
Labels: alca-approved, l1-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#46128 Protect getenv in Pythia8Interface
  GeneratorInterface/Pythia8Interface/src/Py8HMC3InterfaceBase.cc
  GeneratorInterface/Pythia8Interface/src/Py8InterfaceBase.cc
Labels: generators-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46200 edm::FileInPath: return reference to paths; cleanup code
  FWCore/Utilities/interface/FileInPath.h
  FWCore/Utilities/src/FileInPath.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46330 Fix potential data race in ESProductResolver
  FWCore/Framework/interface/ESProductResolver.h
  FWCore/Framework/src/ESProductResolver.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46351 Run3-hcx375 Extend the topology modes to accommodate different scenarios during the Run2 period
  Geometry/HcalCommonData/data/hcalRecNumbering/2016/v1/hcalRecNumbering.xml
  Geometry/HcalCommonData/data/hcalRecNumbering/2016a/v1/hcalRecNumbering.xml
  Geometry/HcalCommonData/data/hcalRecNumbering/2017/v1/hcalRecNumbering.xml
  Geometry/HcalCommonData/data/hcalRecNumbering/2018/v1/hcalRecNumbering.xml
  Geometry/HcalCommonData/data/hcalRecNumbering/2018Plan36/v1/hcalRecNumbering.xml
  Geometry/HcalCommonData/data/hcalRecNumbering/2019/v1/hcalRecNumbering.xml
  Geometry/HcalCommonData/data/hcalRecNumbering/2021/v3/hcalRecNumbering.xml
  Geometry/HcalCommonData/interface/HcalTopologyMode.h
  Geometry/HcalCommonData/src/HcalTopologyMode.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46357 Run3-hcx376 Get rid of the obsolete constructor of the HcalTopology class
  Geometry/CaloTopology/interface/HcalTopology.h
  Geometry/CaloTopology/src/HcalTopology.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, urgent, code-checks-approved

#46181 [LLVM Analyzer] Avoid storing pointer to a temporary string's internal buffer in SiPixelFakeGenErrorDBObjectESSource::produce and SiPixelTemplateDBObjectReader::analyze
  CalibTracker/SiPixelESProducers/plugins/SiPixelFakeGenErrorDBObjectESSource.cc
  CondTools/SiPixel/plugins/SiPixelTemplateDBObjectReader.cc
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, requires-external, code-checks-approved, trk, tests-external-failure

#46362 Improvements to `hltPhase2UpgradeIntegrationTests`
  HLTrigger/Configuration/scripts/hltPhase2UpgradeIntegrationTests
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46363 Run3-376Y Modify the testing code of HcalTopology
  Geometry/CaloTopology/test/HcalTopologyTester.cc
  Geometry/CaloTopology/test/testHcalTopology_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46364 DQM: restore Muon POG sequence (and CSC Monitor), revert #46293
  DQMOffline/Configuration/python/DQMOffline_SecondStep_cff.py
  DQMOffline/Configuration/python/DQMOffline_cff.py
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved, tests-ib-failure

#46365 [Backport 140X] DQM: restore Muon POG sequence (and CSC Monitor), revert #46298
  DQMOffline/Configuration/python/DQMOffline_SecondStep_cff.py
  DQMOffline/Configuration/python/DQMOffline_cff.py
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, backport-ok

#46361 fix Compare / Diff / Ratio by partition plots for SiStrip Payload Inspector plugins
  CondCore/SiStripPlugins/plugins/SiStripApvGain_PayloadInspector.cc
  CondCore/SiStripPlugins/plugins/SiStripNoises_PayloadInspector.cc
  CondCore/SiStripPlugins/plugins/SiStripPedestals_PayloadInspector.cc
  CondCore/SiStripPlugins/scripts/G2GainsValidator.py
  CondCore/SiStripPlugins/scripts/testCompare.sh
  CondCore/SiStripPlugins/test/testSiStripPayloadInspector.cpp
Labels: fully-signed, tests-approved, db-approved, bug-fix, orp-approved, code-checks-approved, trk

#45992 Fix: Avoid adding HGCalUncalibRecHits to the event if digis do not exist
  RecoLocalCalo/HGCalRecProducers/plugins/HGCalUncalibRecHitProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, upgrade-approved, code-checks-approved, hgcal

#46348 Add ByLS DQM plots for ES
  DQM/EcalPreshowerMonitorModule/interface/ESIntegrityTask.h
  DQM/EcalPreshowerMonitorModule/interface/ESOccupancyTask.h
  DQM/EcalPreshowerMonitorModule/interface/ESRawDataTask.h
  DQM/EcalPreshowerMonitorModule/python/ESIntegrityTask_cfi.py
  DQM/EcalPreshowerMonitorModule/src/ESIntegrityTask.cc
  DQM/EcalPreshowerMonitorModule/src/ESOccupancyTask.cc
  DQM/EcalPreshowerMonitorModule/src/ESRawDataTask.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46176 [L1] Fix syntax in python scripts
  L1Trigger/DTTriggerPhase2/test/macros/compare_groupings_StdToBayes.py
  L1Trigger/DTTriggerPhase2/test/macros/plotGroupings_StdToBayes.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#46374 Run3-hcx376Z Updated hcalRecNumbering XML files in view of the modified Era dependent topology modes
  Geometry/HcalCommonData/data/hcalRecNumbering/2016/v2/hcalRecNumbering.xml
  Geometry/HcalCommonData/data/hcalRecNumbering/2016a/v2/hcalRecNumbering.xml
  Geometry/HcalCommonData/data/hcalRecNumbering/2017/v2/hcalRecNumbering.xml
  Geometry/HcalCommonData/data/hcalRecNumbering/2018/v2/hcalRecNumbering.xml
  Geometry/HcalCommonData/data/hcalRecNumbering/2018Plan36/v2/hcalRecNumbering.xml
  Geometry/HcalCommonData/data/hcalRecNumbering/2019/v2/hcalRecNumbering.xml
  Geometry/HcalCommonData/data/hcalRecNumbering/2021/v4/hcalRecNumbering.xml
  Geometry/HcalCommonData/data/hcalRecNumbering/H2/v1/hcalRecNumbering.xml
  Geometry/HcalCommonData/data/hcalRecNumbering/NoHE/v4/hcalRecNumbering.xml
  Geometry/HcalCommonData/data/hcalRecNumbering/NoHE/v5/hcalRecNumbering.xml
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46369 Run3-hc376Z Update the topology class and tester in view of all modified run conditions
  Geometry/CaloTopology/interface/HcalTopology.h
  Geometry/CaloTopology/src/HcalTopology.cc
  Geometry/CaloTopology/test/HcalTopologyTester.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46299 [NanoAOD] Add UParT electron and muon raw scores
  PhysicsTools/NanoAOD/python/jetsAK4_CHS_cff.py
  PhysicsTools/NanoAOD/python/jetsAK4_Puppi_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#46334 Fix DQM config test: Increase number of sequence to test
  DQMOffline/Configuration/test/BuildFile.xml
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46346 [Backport to 14_1_X (#46345)]: Two Small Changes Related to ZDC LUTs
  CalibCalorimetry/HcalTPGAlgos/src/HcaluLUTTPGCoder.cc
  CaloOnlineTools/HcalOnlineDb/src/HcalLutManager.cc
Labels: alca-approved, l1-approved, fully-signed, tests-approved, db-approved, orp-approved, backport-ok

#46381 Run3-hcx377 Backport the changes made to the HcalTopolog class and additional hcalRecoNumbering constants from #46357, #46369, #46374
  Geometry/CaloTopology/interface/HcalTopology.h
  Geometry/CaloTopology/src/HcalTopology.cc
  Geometry/CaloTopology/test/HcalTopologyTester.cc
  Geometry/CaloTopology/test/testHcalTopology_cfg.py
  Geometry/HcalCommonData/data/hcalRecNumbering/2016/v2/hcalRecNumbering.xml
  Geometry/HcalCommonData/data/hcalRecNumbering/2016a/v2/hcalRecNumbering.xml
  Geometry/HcalCommonData/data/hcalRecNumbering/2017/v2/hcalRecNumbering.xml
  Geometry/HcalCommonData/data/hcalRecNumbering/2018/v2/hcalRecNumbering.xml
  Geometry/HcalCommonData/data/hcalRecNumbering/2018Plan36/v2/hcalRecNumbering.xml
  Geometry/HcalCommonData/data/hcalRecNumbering/2019/v2/hcalRecNumbering.xml
  Geometry/HcalCommonData/data/hcalRecNumbering/2021/v4/hcalRecNumbering.xml
  Geometry/HcalCommonData/data/hcalRecNumbering/H2/v1/hcalRecNumbering.xml
  Geometry/HcalCommonData/data/hcalRecNumbering/NoHE/v4/hcalRecNumbering.xml
  Geometry/HcalCommonData/data/hcalRecNumbering/NoHE/v5/hcalRecNumbering.xml
  Geometry/HcalCommonData/interface/HcalTopologyMode.h
  Geometry/HcalCommonData/src/HcalTopologyMode.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, urgent

#46352 Run3-hcx368X Complete the backport of #46115 where one added file was missed out
  Geometry/ForwardCommonData/data/rpd/2021/v2/rpd.xml
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, urgent

#46382 Restructure `test_SiStripG2GainsValidator`
  CondCore/SiStripPlugins/scripts/SiStripG2GainsValidator
  CondCore/SiStripPlugins/scripts/testCompareSiStripG2Gains.sh
  CondCore/SiStripPlugins/test/BuildFile.xml
  CondCore/SiStripPlugins/test/test_G2GainsValidator.sh
  CondCore/SiStripPlugins/test/test_SiStripG2GainsValidator.sh
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, trk

#46380 [UBSAN] Initialize PerigeeTrajectoryError::weightIsAvailable
  TrackingTools/TrajectoryParametrization/interface/PerigeeTrajectoryError.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#46368 Jet updates for Mini and (JME)Nano, add recipe for puppi JetMET reclustering
  PhysicsTools/NanoAOD/plugins/JetPFConstituentVarProducer.cc
  PhysicsTools/NanoAOD/python/autoNANO.py
  PhysicsTools/NanoAOD/python/custom_jme_cff.py
  PhysicsTools/NanoAOD/python/jetMC_cff.py
  PhysicsTools/NanoAOD/python/jetsAK4_CHS_cff.py
  PhysicsTools/NanoAOD/python/jetsAK4_Puppi_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
  PhysicsTools/NanoAOD/python/nanojmeDQM_cff.py
  PhysicsTools/PatAlgos/python/slimming/applySubstructure_cff.py
  PhysicsTools/PatAlgos/python/tools/coreTools.py
  PhysicsTools/PatAlgos/python/tools/puppiJetMETReclusteringFromMiniAOD_cff.py
  PhysicsTools/PatAlgos/python/tools/puppiJetMETReclusteringTools.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved, tests-ib-failure

#46112 Boosted DeepTauID v2.0
  PhysicsTools/NanoAOD/python/boostedTaus_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
  PhysicsTools/NanoAOD/python/nano_cff.py
  PhysicsTools/PatAlgos/python/slimming/miniAOD_tools.py
  RecoTauTag/RecoTau/interface/DeepTauIdBase.h
  RecoTauTag/RecoTau/interface/DeepTauScaling.h
  RecoTauTag/RecoTau/plugins/DeepTauId.cc
  RecoTauTag/RecoTau/python/tauIdWPsDefs.py
  RecoTauTag/RecoTau/python/tools/runTauIdMVA.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved, xpog-approved

#46377 Fix Wdangling-reference (probably after merging #46200)
  CalibPPS/ESProducers/plugins/CTPPSCompositeESSource.cc
  CalibPPS/ESProducers/plugins/CTPPSOpticalFunctionsESSource.cc
  HeterogeneousCore/SonicTriton/src/TritonClient.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#46358 [LLVM Analyzer][DB] Cleanup LLVM analyzer warnings
  CondCore/CondDB/plugins/CondDBPyBind11Wrappers.cc
  CondCore/CondDB/src/CoralMsgReporter.cc
  CondFormats/JetMETObjects/bin/JetResolution_t.cc
  CondTools/DT/src/DTPerformanceHandler.cc
  CondTools/DT/src/DTStatusFlagHandler.cc
  CondTools/SiPixel/plugins/SiPixelDynamicInefficiencyReader.cc
  CondTools/SiPixel/plugins/SiPixelGainCalibrationRejectNoisyAndDead.cc
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, trk

#46389 Update a few MC Gts in autoCond to the latest version available on 14/10/2024 - CMSSW_14_1_X
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-started, orp-approved, backport-ok

#46386 Run3-hcx377A Correct a few test scripts in CondTools/Geometry
  CondTools/Geometry/test/hgcalgeometrywriter.py
  CondTools/Geometry/test/me0geometrywriter.py
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#46253 [14.0.X] Minimal bugfix on the missing lumifilter for the MTS validation.
  Alignment/OfflineValidation/python/TkAlAllInOneTool/MTS_cfg.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok, trk

#46387 Run3-377B Correct a few test scripts in CondTools/Geometry (backport of #46386)
  CondTools/Geometry/test/calogeometry2026writer.py
  CondTools/Geometry/test/hgcalgeometrywriter.py
  CondTools/Geometry/test/me0geometrywriter.py
Labels: fully-signed, tests-approved, db-approved, orp-approved, backport-ok

#46393 Issue message if DB IOV updated during job
  CondCore/CondDB/src/IOVProxy.cc
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved
