Repository cms-sw/cmssw, pull requests merged in 2024-02, with the labels that each got.

#43812 Adding decay files for UpsilonXS [10_6_X]
  GeneratorInterface/EvtGenInterface/data/Upsilon1S.dec
  GeneratorInterface/EvtGenInterface/data/Upsilon2S.dec
  GeneratorInterface/EvtGenInterface/data/Upsilon3S.dec
Labels: generators-approved, fully-signed, tests-approved, orp-approved

#43691 Add relval for Herwig Matchbox
  Configuration/Generator/python/DY_TuneCH3_13TeV_herwig_madgraph_matchbox_cff.py
  Configuration/PyReleaseValidation/python/relval_extendedgen.py
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: generators-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved

#43795 ECAL - Set correct CC tag labels for ECAL RecHit producer
  DQM/Integration/python/clients/ecal_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/ecalcalib_dqm_sourceclient-live_cfg.py
  RecoLocalCalo/EcalRecProducers/python/ecalRecHit_cfi.py
Labels: dqm-approved, reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, ecal

#43813 SkipEvent is removed [issue#43793]
  DQM/Integration/python/clients/hcalcalib_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43827 update input file for `testG4Refitter` to avoid backward compatibility issue due to not storing `TStreamerInfo`
  TrackPropagation/Geant4e/test/Geant4e_example_cfg.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#43832 Delete last L1 legacy type module
  L1Trigger/L1TNtuples/interface/L1AnalysisBMTFInputs.h
  L1TriggerConfig/RPCTriggerConfig/test/TestBxOrConfig.cc
  L1TriggerConfig/RPCTriggerConfig/test/bxOrConfigTest.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43833 Delete last analysis legacy type modules
  PhysicsTools/HepMCCandAlgos/test/TestGenParticleCandidates.cc
  TopQuarkAnalysis/TopEventSelection/plugins/TtFullHadSignalSelMVATrainer.h
  TopQuarkAnalysis/TopEventSelection/plugins/TtSemiLepSignalSelMVATrainer.h
  TopQuarkAnalysis/TopEventSelection/python/TtFullHadSignalSelMVATrainer_cfi.py
  TopQuarkAnalysis/TopEventSelection/python/TtSemiLepSignalSelMVATrainer_cfi.py
  TopQuarkAnalysis/TopJetCombination/plugins/TtSemiLepJetCombMVATrainer.h
  TopQuarkAnalysis/TopJetCombination/python/TtSemiLepJetCombMVATrainer_cfi.py
Labels: analysis-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43835 Remove edmConvertToStreamModule.py, it's no longer needed
  FWCore/Utilities/bin/edmConvertToStreamModule.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43850 [14_0_X][DAQ] DaqDirector fixes and cleanup, and removal of EvFOutputModule
  EventFilter/Utilities/interface/EvFDaqDirector.h
  EventFilter/Utilities/interface/EvFOutputModule.h
  EventFilter/Utilities/plugins/modules.cc
  EventFilter/Utilities/src/EvFDaqDirector.cc
  EventFilter/Utilities/src/EvFOutputModule.cc
  EventFilter/Utilities/src/FastMonitoringService.cc
  EventFilter/Utilities/test/startFU.py
  EventFilter/Utilities/test/start_multiLS_FU.py
  EventFilter/Utilities/test/unittest_FU.py
  EventFilter/Utilities/test/unittest_FU_daqsource.py
Labels: daq-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43769 Phase2 hgx352A: Add possibilities of more scenarios in some of the checks of G4 Components
  Configuration/Geometry/python/dict2026Geometry.py
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D102.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D104.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D102XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D104XML_cfi.py
  Geometry/TrackerCommonData/data/PhaseII/Tracker_DD4hep_compatible_IT711_2023_05/pixel.xml
  Geometry/TrackerCommonData/data/PhaseII/Tracker_DD4hep_compatible_IT711_2023_05/pixelStructureTopology.xml
  Geometry/TrackerCommonData/data/PhaseII/Tracker_DD4hep_compatible_IT711_2023_05V1/pixel.xml
  Geometry/TrackerCommonData/data/PhaseII/Tracker_DD4hep_compatible_IT711_2023_05V2/pixel.xml
  Geometry/TrackerCommonData/python/GeometryExtended2026D100V1_cff.py
  Geometry/TrackerCommonData/python/GeometryExtended2026D100V2_cff.py
  Geometry/TrackerCommonData/python/cmsExtendedGeometry2026D100V1XML_cfi.py
  Geometry/TrackerCommonData/python/cmsExtendedGeometry2026D100V2XML_cfi.py
  Geometry/TrackerCommonData/test/python/g4CheckOverlaps_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheck2026DD4hep_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheck2026DDD_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runDD4hep2026_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runDDD2026_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runMaterialBudgeInfo2026_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runPrintG4Solids2_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runPrintG4Solids_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runPrintG4Touch2026_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runPrintSolid2026_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runSens2026_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runSummary2026_cfg.py
Labels: geometry-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, trk

#43862 Phase2-hgx352C Fix the unit test in Configuration/Geometry
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D105.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D106.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D105XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D106XML_cfi.py
Labels: geometry-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, upgrade-approved, code-checks-approved

#43828 Fix NanoAOD workflow reading 12_4_X file
  Configuration/PyReleaseValidation/python/relval_nano.py
  IOPool/Input/python/fixReading_12_4_X_Files.py
Labels: core-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, urgent, upgrade-approved, code-checks-approved

#43844 Run3-Sim154 Try to avoid memory leak issues in SimG4Core/PrintGeomeInfo and Geometry/TrackerCommonData
  Geometry/TrackerCommonData/plugins/DDPixFwdRotation.cc
  SimG4Core/PrintGeomInfo/plugins/PrintMaterialBudgetInfo.cc
Labels: geometry-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#43860 extend histograms to the Run3 range in CTPPSLHCInfoPlotter
  Validation/CTPPS/plugins/CTPPSLHCInfoPlotter.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43822 Make default Phase2 HLT thresholds from config file the same as in Run3
  HLTrigger/Configuration/python/HLT_75e33/modules/hltEgammaHoverEL1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltEgammaHoverEUnseeded_cfi.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, egamma

#43874 fix `DAClusterizerInZ_vect` for ASAN_X build
  RecoVertex/PrimaryVertexProducer/src/DAClusterizerInZ_vect.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, code-checks-approved, tracking

#41928 SoA range checking: adds inter operability between range checked and non range checked
  DataFormats/SoATemplate/interface/SoACommon.h
  DataFormats/SoATemplate/interface/SoAView.h
  DataFormats/SoATemplate/test/SoALayoutAndView_t.cu
  DataFormats/SoATemplate/test/SoALayoutAndView_t.hip.cc
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#43821 Phase-2 L1T Correlator: Rewrite linpuppi emulator with ap_fixed
  DataFormats/L1TParticleFlow/interface/datatypes.h
  DataFormats/L1TParticleFlow/interface/puppi.h
  L1Trigger/Phase2L1ParticleFlow/interface/puppi/linpuppi_bits.h
  L1Trigger/Phase2L1ParticleFlow/interface/puppi/linpuppi_ref.h
  L1Trigger/Phase2L1ParticleFlow/src/puppi/linpuppi_ref.cpp
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#43856 Update `TestRun3ScoutingFormats.sh` for CMSSW_14_0_0_pre3 Scouting DataFormat updates
  DataFormats/Scouting/test/TestRun3ScoutingFormats.sh
Labels: core-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#43859 add phase2 customizations to `TkAlMuonSelectors` to increase selection efficiency
  Alignment/CommonAlignmentProducer/python/TkAlMuonSelectors_cfi.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43865 HLT development: add unit test for online vs dev tables consistency
  HLTrigger/Configuration/tables/online_grun.txt
  HLTrigger/Configuration/test/BuildFile.xml
  HLTrigger/Configuration/test/test_OnlineVsDevTablesConsistency.sh
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43870 miscellaneous updates to improve validation of phase-2 Tracker Alignment samples
  Alignment/OfflineValidation/macros/loopAndPlot.C
  Alignment/OfflineValidation/plugins/DMRChecker.cc
  Alignment/OfflineValidation/plugins/DiMuonVertexValidation.cc
  Alignment/OfflineValidation/plugins/GeneralPurposeTrackAnalyzer.cc
  Alignment/OfflineValidation/python/TkAlAllInOneTool/defaultInputFiles_cff.py
  Alignment/OfflineValidation/test/inspectData_cfg.py
  Alignment/OfflineValidation/test/testingScripts/test_unitMiscellanea.sh
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#43873 Implement the GSF Track fBrem Variable Filling for Scouting Electrons: 14_1
  HLTrigger/Egamma/plugins/HLTScoutingEgammaProducer.cc
  HLTrigger/Egamma/plugins/HLTScoutingEgammaProducer.h
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#43876 Run3-gex175 Try to have the 2024 version of GE21
  Geometry/MuonCommonData/data/gem21/2024/v1/gem21.xml
  Geometry/MuonCommonData/python/testExtendedGeometry2024XML_cfi.py
  Geometry/MuonCommonData/test/python/g4OverlapCheck2021_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43869 Add low pt muon fix objects into phase 2 L1 event content.
  L1Trigger/Configuration/python/L1Trigger_EventContent_cff.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43855 Fix Phase2 ditau HLT path (with DeepTau Isolation)
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauDeepTauProducer_cfi.py
  HLTrigger/Configuration/python/HLT_75e33_cff.py
  RecoTauTag/RecoTau/interface/DeepTauIdBase.h
Labels: hlt-approved, reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, tau

#43818 Delete last daq legacy type module
  DataFormats/Scalers/test/ScalersRecover.cc
  DataFormats/Scalers/test/ScalersRecover_cfg.py
Labels: daq-approved, l1-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43798 Fix purity and duplicate calculation in HGCal validation
  Validation/HGCalValidation/src/HGVHistoProducerAlgo.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43834 ROOT6 changes needed for RNTupleModel
  PhysicsTools/NanoAOD/plugins/rntuple/NanoAODRNTupleOutputModule.cc
  PhysicsTools/NanoAOD/plugins/rntuple/TriggerOutputFields.cc
Labels: fully-signed, tests-rejected, orp-approved, code-checks-approved, xpog-approved

#43800 ECAL - Set correct CC tag labels for ECAL RecHit producer - 133x
  DQM/Integration/python/clients/ecal_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/ecalcalib_dqm_sourceclient-live_cfg.py
  RecoLocalCalo/EcalRecProducers/python/ecalRecHit_cfi.py
Labels: dqm-approved, reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, ecal

#43805 Geometry: add Phase2 scenarios D107 = T32+C17+M11+I17+O9+F8 and D108 = T35+C19+M11+I17+O9+F8
  Configuration/Geometry/README.md
  Configuration/Geometry/python/GeometryDD4hepExtended2026D107Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D107_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D108Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D108_cff.py
  Configuration/Geometry/python/GeometryExtended2026D107Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D107_cff.py
  Configuration/Geometry/python/GeometryExtended2026D108Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D108_cff.py
  Configuration/Geometry/python/dict2026Geometry.py
  Configuration/PyReleaseValidation/python/relval_2026.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  Configuration/StandardSequences/python/GeometryConf.py
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D107.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D108.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D107XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D108XML_cfi.py
Labels: geometry-approved, operations-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#43841 Phase2-hgx352B Add an example of CMS scenario with only HGCal detector
  Configuration/Eras/python/Modifier_phase2_hgcalOnly_cff.py
  Geometry/HGCalCommonData/python/testHGCalV18OReco_cff.py
  Geometry/HGCalCommonData/python/testHGCalV18OXML_cfi.py
  Geometry/HGCalCommonData/test/python/g4OverlapCheck_cfg.py
  SimG4CMS/Calo/test/python/runHGC9_cfg.py
  SimG4Core/Application/python/g4SimHits_cfi.py
Labels: geometry-approved, operations-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#43826 Remove unnecessary import of L1GTScales
  L1Trigger/Phase2L1GT/python/l1tGTScales.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#43825 Declare InvariantMassError as transient data product
  L1Trigger/Phase2L1GT/src/classes_def.xml
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#43883 [Backport of 43805 to 14_0_X] Geometry: add Phase2 scenarios D107 = T32+C17+M11+I17+O9+F8 and D108 = T35+C19+M11+I17+O9+F8
  Configuration/Geometry/README.md
  Configuration/Geometry/python/GeometryDD4hepExtended2026D107Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D107_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D108Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D108_cff.py
  Configuration/Geometry/python/GeometryExtended2026D107Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D107_cff.py
  Configuration/Geometry/python/GeometryExtended2026D108Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D108_cff.py
  Configuration/Geometry/python/dict2026Geometry.py
  Configuration/PyReleaseValidation/python/relval_2026.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  Configuration/StandardSequences/python/GeometryConf.py
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D107.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D108.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D107XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D108XML_cfi.py
Labels: geometry-approved, operations-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved

#43877 Phase2-hgx352BX Add an example of CMS scenario with only HGCal detector (backport #43841)
  Configuration/Eras/python/Modifier_phase2_hgcalOnly_cff.py
  Geometry/HGCalCommonData/python/testHGCalV18OReco_cff.py
  Geometry/HGCalCommonData/python/testHGCalV18OXML_cfi.py
  Geometry/HGCalCommonData/test/python/g4OverlapCheck_cfg.py
  SimG4CMS/Calo/test/python/runHGC9_cfg.py
  SimG4Core/Application/python/g4SimHits_cfi.py
Labels: geometry-approved, operations-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, backport-ok

#43884 HLT development: add unit test for online vs dev tables consistency [14.0.X]
  HLTrigger/Configuration/tables/online_grun.txt
  HLTrigger/Configuration/test/BuildFile.xml
  HLTrigger/Configuration/test/test_OnlineVsDevTablesConsistency.sh
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#43881 SoA range checking: adds inter operability between range checked and non range checked [14.0.x]
  DataFormats/SoATemplate/interface/SoACommon.h
  DataFormats/SoATemplate/interface/SoAView.h
  DataFormats/SoATemplate/test/SoALayoutAndView_t.cu
  DataFormats/SoATemplate/test/SoALayoutAndView_t.hip.cc
Labels: fully-signed, tests-approved, orp-approved, backport-ok, heterogeneous-approved

#43880 Implement the GSF Track fBrem Variable Filling for Scouting Electrons: 14_0
  HLTrigger/Egamma/plugins/HLTScoutingEgammaProducer.cc
  HLTrigger/Egamma/plugins/HLTScoutingEgammaProducer.h
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#43854 update XangleBetaStarFilter with NewLHCInfo
  CondTools/RunInfo/plugins/XangleBetaStarFilter.cc
  CondTools/RunInfo/test/xangleBetaStarFilter_test_cfg.py
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#43920 Throw exception if TFile::Open returns nullptr
  IOPool/Input/src/InputFile.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43910 Phase2-hgx353A Update various cfg files to do the tests for V18 versions of HGCal
  Geometry/HGCalCommonData/test/python/dumpHGCalDDD_cfg.py
  Geometry/HGCalCommonData/test/python/runHGCalTestDD4hep_cfg.py
  Geometry/HGCalCommonData/test/python/runHGCalTestDDD_cfg.py
  Geometry/HGCalCommonData/test/python/testHGCalPartialIDTester2_cfg.py
  Geometry/HGCalCommonData/test/python/testHGCalWaferID_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#43890 Implementation of TauWPThreshold without need to catch exceptions
  RecoTauTag/RecoTau/interface/TauWPThreshold.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tau

#43878 Do not redefine twice in CMSSW the TkAl muon selectors
  Alignment/APEEstimation/python/AlcaRecoSelection_cff.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#43852 Implement quick fix for eta going out of scope
  L1Trigger/L1TTrackMatch/plugins/L1TrackJetEmulatorProducer.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#43762 A new digitization model for the ETL detector
  DataFormats/FTLDigi/interface/ETLSample.h
  DataFormats/FTLDigi/src/classes_def.xml
  RecoLocalFastTime/FTLCommonAlgos/plugins/ETLUncalibRecHitAlgo.cc
  RecoLocalFastTime/FTLRecProducers/python/mtdUncalibratedRecHits_cfi.py
  SimFastTiming/FastTimingCommon/interface/ETLDeviceSim.h
  SimFastTiming/FastTimingCommon/interface/ETLElectronicsSim.h
  SimFastTiming/FastTimingCommon/interface/ETLPulseShape.h
  SimFastTiming/FastTimingCommon/interface/MTDShapeBase.h
  SimFastTiming/FastTimingCommon/python/mtdDigitizer_cfi.py
  SimFastTiming/FastTimingCommon/src/ETLDeviceSim.cc
  SimFastTiming/FastTimingCommon/src/ETLElectronicsSim.cc
  SimFastTiming/FastTimingCommon/src/ETLPulseShape.cc
  SimFastTiming/FastTimingCommon/src/MTDShapeBase.cc
Labels: reconstruction-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, mtd

#43569 [DQM DT] Changes to put back DT Noise plot in Online DQM
  DQM/DTMonitorClient/python/dtNoiseAnalysis_cfi.py
  DQM/DTMonitorClient/python/dtNoiseTest_cfi.py
  DQM/DTMonitorClient/src/DTNoiseAnalysisTest.cc
  DQM/DTMonitorClient/src/DTNoiseAnalysisTest.h
  DQM/DTMonitorModule/src/DTNoiseTask.cc
  DQM/Integration/python/clients/dt4ml_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/dt_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43468 SimTauCPLink - Adding a link between GenTaus and CaloParticles
  RecoHGCal/Configuration/python/RecoHGCal_EventContent_cff.py
  SimCalorimetry/HGCalAssociatorProducers/plugins/SimTauCPLinkProducer.cc
  SimDataFormats/CaloAnalysis/interface/SimTauCPLink.h
  SimDataFormats/CaloAnalysis/src/classes.h
  SimDataFormats/CaloAnalysis/src/classes_def.xml
  SimGeneral/Debugging/plugins/BuildFile.xml
  SimGeneral/Debugging/plugins/SimTauAnalyzer.cc
  SimGeneral/Debugging/python/caloParticleDebugger_cfg.py
  SimGeneral/Debugging/test/simTauAnalyzer_cfg.py
  Validation/Configuration/python/hgcalSimValid_cff.py
Labels: dqm-approved, reconstruction-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, tau-pog-approved

#43334 Replace classlib's Regex with std::regex
  Validation/RecoTau/plugins/DQMHistNormalizer.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43893 [14.0.X] miscellaneous updates to improve validation of phase-2 Tracker Alignment samples
  Alignment/OfflineValidation/macros/loopAndPlot.C
  Alignment/OfflineValidation/plugins/DMRChecker.cc
  Alignment/OfflineValidation/plugins/DiMuonVertexValidation.cc
  Alignment/OfflineValidation/plugins/GeneralPurposeTrackAnalyzer.cc
  Alignment/OfflineValidation/python/TkAlAllInOneTool/defaultInputFiles_cff.py
  Alignment/OfflineValidation/test/inspectData_cfg.py
  Alignment/OfflineValidation/test/testingScripts/test_unitMiscellanea.sh
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok, trk

#43892 [14.0.X] add phase2 customizations to `TkAlMuonSelectors` to increase selection efficiency
  Alignment/CommonAlignmentProducer/python/TkAlMuonSelectors_cfi.py
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#43814 cmsTriton bug fixes and improvements
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  Configuration/PyReleaseValidation/scripts/runTheMatrix.py
  HeterogeneousCore/SonicTriton/README.md
  HeterogeneousCore/SonicTriton/interface/TritonClient.h
  HeterogeneousCore/SonicTriton/interface/TritonException.h
  HeterogeneousCore/SonicTriton/interface/TritonMemResource.h
  HeterogeneousCore/SonicTriton/interface/TritonService.h
  HeterogeneousCore/SonicTriton/interface/triton_utils.h
  HeterogeneousCore/SonicTriton/scripts/cmsTriton
  HeterogeneousCore/SonicTriton/scripts/cmsTritonConfigTool
  HeterogeneousCore/SonicTriton/src/TritonClient.cc
  HeterogeneousCore/SonicTriton/src/TritonException.cc
  HeterogeneousCore/SonicTriton/src/TritonMemResource.cc
  HeterogeneousCore/SonicTriton/src/TritonService.cc
  HeterogeneousCore/SonicTriton/src/triton_utils.cc
  HeterogeneousCore/SonicTriton/test/README.md
  HeterogeneousCore/SonicTriton/test/tritonTest_cfg.py
  HeterogeneousCore/SonicTriton/test/unittest.sh
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved, heterogeneous-approved

#43903 Phase2-hgx353 add a new scenario 2026D109 utilizing V18 version of HGCAL after removing some of the gaps
  Configuration/Geometry/README.md
  Configuration/Geometry/python/GeometryDD4hepExtended2026D109Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D109_cff.py
  Configuration/Geometry/python/GeometryExtended2026D109Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D109_cff.py
  Configuration/Geometry/python/dict2026Geometry.py
  Configuration/PyReleaseValidation/python/relval_2026.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  Configuration/StandardSequences/python/GeometryConf.py
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D109.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D109XML_cfi.py
  Geometry/HGCalCommonData/data/hgcal/v18ng/hgcal.xml
  Geometry/HGCalCommonData/data/hgcalwafer/v18ng/hgcalwafer.xml
Labels: geometry-approved, operations-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#43809 [14_1_X] [Phase-2] Change Phase-2 HLT Egamma paths to use the GT emulator
  HLTrigger/Configuration/python/HLT_75e33/modules/hgcalDigisL1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltEGL1SeedsForDoubleEleIsolatedFilter_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltEGL1SeedsForDoubleEleNonIsolatedFilter_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltEGL1SeedsForDoublePhotonIsolatedFilter_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltEGL1SeedsForSingleEleIsolatedFilter_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltEGL1SeedsForSingleEleNonIsolatedFilter_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltEGL1SeedsForSinglePhotonIsolatedFilter_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltEcalBarrelDigisInRegions_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltL1TEGammaFilteredCollectionProducer_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltL1TEGammaHGCFilteredCollectionProducer_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltRechitInRegionsECAL_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltRechitInRegionsHGCAL_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/ticlSeedingL1_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Diphoton30_23_IsoCaloId_L1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Diphoton30_23_IsoCaloId_Unseeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_DoubleEle23_12_Iso_L1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_DoubleEle25_CaloIdL_PMS2_L1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_DoubleEle25_CaloIdL_PMS2_Unseeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Ele115_NonIso_L1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Ele26_WP70_L1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Ele26_WP70_Unseeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Ele32_WPTight_L1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Ele32_WPTight_Unseeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Photon108EB_TightID_TightIso_L1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Photon108EB_TightID_TightIso_Unseeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Photon187_L1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Photon187_Unseeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTDoubleEle2312IsoL1SeededSequence_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTDoubleEle25CaloIdLPMS2L1SeededSequence_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTDoubleEle25CaloIdLPMS2UnseededSequence_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTEle26WP70L1SeededSequence_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTEle5OpenL1SeededSequence_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTEle5OpenUnseededSequence_cfi.py
  HLTrigger/Configuration/python/HLT_75e33_cff.py
  RecoEgamma/EgammaHLTProducers/plugins/HLTCaloObjInRegionsProducer.cc
  RecoEgamma/EgammaHLTProducers/plugins/L1TEGammaFilteredCollectionProducer.cc
  RecoHGCal/TICL/plugins/SeedingRegionByL1.cc
  RecoHGCal/TICL/plugins/SeedingRegionByL1.h
Labels: hlt-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, egamma

#43857 Migrate dqm & validation plugins from Sioutertracker to Sitrackerphase2
  DQM/SiTrackerPhase2/plugins/BuildFile.xml
  DQM/SiTrackerPhase2/plugins/Phase2OTMonitorTTCluster.cc
  DQM/SiTrackerPhase2/plugins/Phase2OTMonitorTTStub.cc
  DQM/SiTrackerPhase2/plugins/Phase2OTMonitorTTTrack.cc
  DQM/SiTrackerPhase2/python/Phase2TrackerDQMFirstStep_cff.py
  DQMOffline/Configuration/python/DQMOffline_cff.py
  Validation/Configuration/python/autoValidation.py
  Validation/Configuration/python/globalValidation_cff.py
  Validation/SiTrackerPhase2V/plugins/BuildFile.xml
  Validation/SiTrackerPhase2V/plugins/Phase2OTHarvestTrackingParticles.cc
  Validation/SiTrackerPhase2V/plugins/Phase2OTValidateTTStub.cc
  Validation/SiTrackerPhase2V/plugins/Phase2OTValidateTrackingParticles.cc
  Validation/SiTrackerPhase2V/python/Phase2TrackerMCHarvesting_cff.py
  Validation/SiTrackerPhase2V/python/Phase2TrackerValidationFirstStep_cff.py
  Validation/SiTrackerPhase2V/python/Phase2ValidateL1TTObjects_cff.py
Labels: dqm-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#43885 Produce sMajor, sMinor in EgammaHLTClusterShapeProducer
  HLTrigger/Configuration/python/HLT_75e33/modules/hltEgammaClusterShapeL1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltEgammaClusterShapeUnseeded_cfi.py
  HLTrigger/Configuration/python/customizeHLTforCMSSW.py
  RecoEgamma/EgammaHLTProducers/plugins/EgammaHLTClusterShapeProducer.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, egamma

#43891 [14.0.X] fix `DAClusterizerInZ_vect` for `ASAN_X` build
  RecoVertex/PrimaryVertexProducer/src/DAClusterizerInZ_vect.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, tracking

#43909 Implementation of TauWPThreshold without need to catch exceptions [14_0_X]
  RecoTauTag/RecoTau/interface/TauWPThreshold.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, tau

#43912 [14.0.X] Fix Phase2 ditau HLT path (with DeepTau Isolation)
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTauDeepTauProducer_cfi.py
  HLTrigger/Configuration/python/HLT_75e33_cff.py
  RecoTauTag/RecoTau/interface/DeepTauIdBase.h
Labels: hlt-approved, reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, tau

#43915 MkFitCore: move simd pragmas to inner loops to address clang warnings
  RecoTracker/MkFitCore/src/MkBuilder.cc
  RecoTracker/MkFitCore/src/MkFinder.cc
  RecoTracker/MkFitCore/src/PropagationMPlex.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#43922 Backport track jet eta quick fix
  L1Trigger/L1TTrackMatch/plugins/L1TrackJetEmulatorProducer.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, backport-ok

#43933 Phase2-hgx153C Modify some of the test scripts in Validation/HGCalValidation for each of calorimeter scenarios
  Validation/HGCalValidation/test/python/digiClient_cfg.py
  Validation/HGCalValidation/test/python/digiValidation_cfg.py
  Validation/HGCalValidation/test/python/protoHGCalSimWatcher_cfg.py
  Validation/HGCalValidation/test/python/protoSimValid_cfg.py
  Validation/HGCalValidation/test/python/protoValid_cfg.py
  Validation/HGCalValidation/test/python/recHitClient_cfg.py
  Validation/HGCalValidation/test/python/rechitValidation_cfg.py
  Validation/HGCalValidation/test/python/simHitClient_cfg.py
  Validation/HGCalValidation/test/python/simHitValidation_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43934 Phase2-hgx353D Modify some of the cfg's in Validation/HGCalValidation to work for V16, V17, V18 scenarios of HGCal Geometry
  Validation/HGCalValidation/test/python/runHGCGeomCheck_cfg.py
  Validation/HGCalValidation/test/python/runHGCHitAnalyzer_cfg.py
  Validation/HGCalValidation/test/python/runHGCMissingRecHit_cfg.py
  Validation/HGCalValidation/test/python/runHGCalDigiStudy_cfg.py
  Validation/HGCalValidation/test/python/runHGCalHitCalibration_cfg.py
  Validation/HGCalValidation/test/python/runHGCalRecHitStudy_cfg.py
  Validation/HGCalValidation/test/python/runHGCalSimHitStudy_cfg.py
  Validation/HGCalValidation/test/python/runHGCalWaferHitCheck_cfg.py
  Validation/HGCalValidation/test/python/runHGCalWaferStudy_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43935 Miscellaneous improvements to `Alignment/MillePedeAlignmentAlgorithm` unit tests
  Alignment/MillePedeAlignmentAlgorithm/plugins/ZMuMuMassConstraintParameterFinder.cc
  Alignment/MillePedeAlignmentAlgorithm/test/AlignmentRcdChecker.cpp
  Alignment/MillePedeAlignmentAlgorithm/test/BuildFile.xml
  Alignment/MillePedeAlignmentAlgorithm/test/ZMuMuMassConstraintParameterFinder/README
  Alignment/MillePedeAlignmentAlgorithm/test/ZMuMuMassConstraintParameterFinder/README.md
  Alignment/MillePedeAlignmentAlgorithm/test/ZMuMuMassConstraintParameterFinder/printParameters.C
  Alignment/MillePedeAlignmentAlgorithm/test/testFindMassContraintParameters.cpp
  Alignment/MillePedeAlignmentAlgorithm/test/test_ZMuMuMassConstraintParameterFinder.sh
  Alignment/MillePedeAlignmentAlgorithm/test/test_payload_sanity.sh
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#43911 Implementation of TauWPThreshold without need to catch exceptions [13_3_X]
  RecoTauTag/RecoTau/interface/TauWPThreshold.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, tau

#43772 Update Alpaka to version 1.1.0
  DataFormats/VertexSoA/test/alpaka/ZVertexSoA_test.dev.cc
  HeterogeneousCore/AlpakaCore/interface/EventCache.h
  HeterogeneousCore/AlpakaCore/interface/QueueCache.h
  HeterogeneousCore/AlpakaCore/interface/alpaka/ESDeviceProductType.h
  HeterogeneousCore/AlpakaInterface/interface/CachedBufAlloc.h
  HeterogeneousCore/AlpakaInterface/interface/CachingAllocator.h
  HeterogeneousCore/AlpakaInterface/interface/HistoContainer.h
  HeterogeneousCore/AlpakaInterface/interface/OneToManyAssoc.h
  HeterogeneousCore/AlpakaInterface/interface/config.h
  HeterogeneousCore/AlpakaInterface/interface/devices.h
  HeterogeneousCore/AlpakaInterface/interface/getDeviceCachingAllocator.h
  HeterogeneousCore/AlpakaInterface/interface/host.h
  HeterogeneousCore/AlpakaInterface/interface/memory.h
  HeterogeneousCore/AlpakaInterface/interface/prefixScan.h
  HeterogeneousCore/AlpakaInterface/interface/radixSort.h
  HeterogeneousCore/AlpakaInterface/test/alpaka/testHistoContainer.dev.cc
  HeterogeneousCore/AlpakaInterface/test/alpaka/testOneHistoContainer.dev.cc
  HeterogeneousCore/AlpakaInterface/test/alpaka/testOneToManyAssoc.dev.cc
  HeterogeneousCore/AlpakaInterface/test/alpaka/testPrefixScan.dev.cc
  RecoLocalTracker/SiPixelClusterizer/plugins/alpaka/ClusterChargeCut.h
  RecoLocalTracker/SiPixelClusterizer/plugins/alpaka/PixelClustering.h
  RecoLocalTracker/SiPixelClusterizer/plugins/alpaka/SiPixelRawToClusterKernel.dev.cc
  RecoLocalTracker/SiPixelRecHits/plugins/alpaka/PixelRecHits.h
  RecoTracker/PixelSeeding/plugins/alpaka/BrokenLineFit.dev.cc
  RecoTracker/PixelSeeding/plugins/alpaka/CACell.h
  RecoTracker/PixelSeeding/plugins/alpaka/CAHitNtupletGeneratorKernels.dev.cc
  RecoTracker/PixelSeeding/plugins/alpaka/CAHitNtupletGeneratorKernelsImpl.h
  RecoTracker/PixelSeeding/plugins/alpaka/CAPixelDoublets.h
  RecoTracker/PixelSeeding/plugins/alpaka/CAPixelDoubletsAlgos.h
  RecoTracker/PixelSeeding/plugins/alpaka/HelixFit.cc
  RecoTracker/PixelSeeding/plugins/alpaka/RiemannFit.dev.cc
  RecoTracker/PixelVertexFinding/plugins/alpaka/clusterTracksByDensity.h
  RecoTracker/PixelVertexFinding/plugins/alpaka/clusterTracksDBSCAN.h
  RecoTracker/PixelVertexFinding/plugins/alpaka/clusterTracksIterative.h
  RecoTracker/PixelVertexFinding/plugins/alpaka/fitVertices.h
  RecoTracker/PixelVertexFinding/plugins/alpaka/splitVertices.h
  RecoTracker/PixelVertexFinding/plugins/alpaka/vertexFinder.dev.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved, heterogeneous-approved, tracking, trk

#43927 [14_0_X] [backport] [Phase-2] Change Phase-2 HLT Egamma paths to use the GT emulator
  HLTrigger/Configuration/python/HLT_75e33/modules/hgcalDigisL1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltEGL1SeedsForDoubleEleIsolatedFilter_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltEGL1SeedsForDoubleEleNonIsolatedFilter_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltEGL1SeedsForDoublePhotonIsolatedFilter_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltEGL1SeedsForSingleEleIsolatedFilter_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltEGL1SeedsForSingleEleNonIsolatedFilter_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltEGL1SeedsForSinglePhotonIsolatedFilter_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltEcalBarrelDigisInRegions_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltL1TEGammaFilteredCollectionProducer_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltL1TEGammaHGCFilteredCollectionProducer_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltRechitInRegionsECAL_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltRechitInRegionsHGCAL_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/ticlSeedingL1_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Diphoton30_23_IsoCaloId_L1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Diphoton30_23_IsoCaloId_Unseeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_DoubleEle23_12_Iso_L1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_DoubleEle25_CaloIdL_PMS2_L1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_DoubleEle25_CaloIdL_PMS2_Unseeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Ele115_NonIso_L1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Ele26_WP70_L1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Ele26_WP70_Unseeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Ele32_WPTight_L1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Ele32_WPTight_Unseeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Photon108EB_TightID_TightIso_L1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Photon108EB_TightID_TightIso_Unseeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Photon187_L1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Photon187_Unseeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTDoubleEle2312IsoL1SeededSequence_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTDoubleEle25CaloIdLPMS2L1SeededSequence_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTDoubleEle25CaloIdLPMS2UnseededSequence_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTEle26WP70L1SeededSequence_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTEle5OpenL1SeededSequence_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTEle5OpenUnseededSequence_cfi.py
  HLTrigger/Configuration/python/HLT_75e33_cff.py
  RecoEgamma/EgammaHLTProducers/plugins/HLTCaloObjInRegionsProducer.cc
  RecoEgamma/EgammaHLTProducers/plugins/L1TEGammaFilteredCollectionProducer.cc
  RecoHGCal/TICL/plugins/SeedingRegionByL1.cc
  RecoHGCal/TICL/plugins/SeedingRegionByL1.h
Labels: hlt-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, backport-ok

#43932 Phase2-hgx353X Add a new scenario 2026D109 utilizing the V18 version of HGCAL after removing some of the gaps (backport of #43903)
  Configuration/Geometry/README.md
  Configuration/Geometry/python/GeometryDD4hepExtended2026D109Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D109_cff.py
  Configuration/Geometry/python/GeometryExtended2026D109Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D109_cff.py
  Configuration/Geometry/python/dict2026Geometry.py
  Configuration/PyReleaseValidation/python/relval_2026.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  Configuration/StandardSequences/python/GeometryConf.py
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D109.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D109XML_cfi.py
  Geometry/HGCalCommonData/data/hgcal/v18ng/hgcal.xml
  Geometry/HGCalCommonData/data/hgcalwafer/v18ng/hgcalwafer.xml
Labels: geometry-approved, operations-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, backport-ok

#43899 Issue exception for ROOT file forward incompatiblity problem [12_4]
  FWCore/ParameterSet/src/Entry.cc
  IOPool/Input/src/RootFile.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved

#43898 Issue exception for ROOT file forward incompatiblity problem [13_0]
  FWCore/ParameterSet/src/Entry.cc
  IOPool/Input/src/RootFile.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved

#43897 Issue exception for ROOT file forward incompatiblity problem [13_1]
  FWCore/ParameterSet/src/Entry.cc
  IOPool/Input/src/RootFile.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved

#43896 Issue exception for ROOT file forward incompatiblity problem [13_2]
  FWCore/ParameterSet/src/Entry.cc
  IOPool/Input/src/RootFile.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved

#43895 Issue exception for ROOT file forward incompatiblity problem [12_6]
  FWCore/ParameterSet/src/Entry.cc
  IOPool/Input/src/RootFile.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved

#43931 Removed unused code related to OwnVector
  DataFormats/TrackerRecHit2D/interface/MTDTrackingRecHit.h
  DataFormats/TrackerRecHit2D/interface/SiStripRecHit1DCollection.h
  DataFormats/TrackerRecHit2D/interface/SiStripRecHit2DCollection.h
  DataFormats/TrackerRecHit2D/src/classes_def.xml
  FastSimDataFormats/External/doc/External.doc
  FastSimDataFormats/External/interface/FastTrackerClusterCollection.h
  FastSimDataFormats/External/src/classes.h
  FastSimDataFormats/External/src/classes_def.xml
  RecoLocalMuon/CSCRecHitD/src/CSCRecHitDBuilder.cc
  RecoLocalMuon/CSCRecHitD/src/CSCStripHitCollection.h
Labels: fastsim-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#43916 Nano branches from ValueMap of elaborated types
  PhysicsTools/NanoAOD/interface/SimpleFlatTableProducer.h
  PhysicsTools/NanoAOD/plugins/SimpleFlatTableProducerPlugins.cc
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#40285 Add support to multi layout portable collections (any number)
  DataFormats/Portable/README.md
  DataFormats/Portable/interface/PortableCollection.h
  DataFormats/Portable/interface/PortableCollectionCommon.h
  DataFormats/Portable/interface/PortableDeviceCollection.h
  DataFormats/Portable/interface/PortableHostCollection.h
  DataFormats/Portable/interface/PortableHostCollectionReadRules.h
  DataFormats/Portable/interface/PortableObject.h
  DataFormats/Portable/interface/alpaka/PortableCollection.h
  DataFormats/Portable/interface/alpaka/PortableObject.h
  DataFormats/Portable/scripts/portableDeviceCollectionHints
  DataFormats/Portable/scripts/portableHostCollectionHints
  DataFormats/PortableTestObjects/interface/TestHostCollection.h
  DataFormats/PortableTestObjects/interface/TestSoA.h
  DataFormats/PortableTestObjects/interface/alpaka/TestDeviceCollection.h
  DataFormats/PortableTestObjects/src/alpaka/classes_cuda_def.xml
  DataFormats/PortableTestObjects/src/alpaka/classes_rocm_def.xml
  DataFormats/PortableTestObjects/src/classes.cc
  DataFormats/PortableTestObjects/src/classes_def.xml
  HeterogeneousCore/AlpakaTest/plugins/TestAlpakaAnalyzer.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlgo.dev.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlgo.h
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaGlobalProducer.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaGlobalProducerE.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaProducer.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaStreamProducer.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaStreamSynchronizingProducer.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestHelperClass.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestHelperClass.h
  HeterogeneousCore/AlpakaTest/test/writer.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved, allow-ericcano

#43902 Issue exception for ROOT file forward incompatiblity problem [10_6]
  FWCore/ParameterSet/src/Entry.cc
  IOPool/Input/src/InputFile.cc
  IOPool/Input/src/RootFile.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved

#43951 CTPPS update HLTPPSJetComparisonFilter to use LHCInfoCombined
  HLTrigger/special/plugins/BuildFile.xml
  HLTrigger/special/plugins/HLTPPSJetComparisonFilter.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, ctpps

#43917 Configuration arguments for version and packing schema of covariance in DeepJetTag producer
  RecoBTag/FeatureTools/plugins/DeepBoostedJetTagInfoProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, code-checks-approved, btv

#43900 Update Run3 CSC conditions in 2022, 2023, 2024 realistic MC GTs and offline data GT
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43701 Introduce matrix workflows for Alpaka-based Particle Flow
  Configuration/PyReleaseValidation/README.md
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  Configuration/StandardSequences/python/Reconstruction_cff.py
  RecoLocalCalo/Configuration/python/hcalGlobalReco_cff.py
  RecoLocalCalo/Configuration/python/hcalLocalReco_cff.py
  RecoParticleFlow/PFClusterProducer/python/particleFlowCluster_cff.py
  RecoParticleFlow/PFClusterProducer/python/pfClusterHBHEAlpaka_cff.py
  Validation/RecoParticleFlow/python/PFClusterValidation_cff.py
  Validation/RecoParticleFlow/python/pfCaloGPUComparisonTask_cfi.py
Labels: dqm-approved, operations-approved, reconstruction-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, urgent, upgrade-approved, code-checks-approved, pf

#43939 Configuration arguments for version and packing schema of covariance in DeepJetTag producer [14_0_X]
  RecoBTag/FeatureTools/plugins/DeepBoostedJetTagInfoProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok, btv

#43954 [14.0.X] update `HLTPPSJetComparisonFilter` to use `LHCInfoCombined`
  HLTrigger/special/plugins/BuildFile.xml
  HLTrigger/special/plugins/HLTPPSJetComparisonFilter.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok, ctpps

#43958 [14.0.X] Introduce HCAL only workflows using Alpaka-based PF clustering
  Configuration/PyReleaseValidation/README.md
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  Configuration/StandardSequences/python/Reconstruction_cff.py
  RecoLocalCalo/Configuration/python/hcalGlobalReco_cff.py
  RecoLocalCalo/Configuration/python/hcalLocalReco_cff.py
  RecoParticleFlow/PFClusterProducer/python/particleFlowCluster_cff.py
  RecoParticleFlow/PFClusterProducer/python/pfClusterHBHEAlpaka_cff.py
  Validation/RecoParticleFlow/python/PFClusterValidation_cff.py
  Validation/RecoParticleFlow/python/pfCaloGPUComparisonTask_cfi.py
Labels: dqm-approved, operations-approved, reconstruction-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, backport-ok, tests-external-failure

#43901 [14.0.X] Update Run3 CSC conditions in 2022, 2023, 2024 realistic MC GTs and offline data GT
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok

#43930 [14_0_X] [DQM DT] Changes to put back DT Noise plot in Online DQM
  DQM/DTMonitorClient/python/dtNoiseAnalysis_cfi.py
  DQM/DTMonitorClient/python/dtNoiseTest_cfi.py
  DQM/DTMonitorClient/src/DTNoiseAnalysisTest.cc
  DQM/DTMonitorClient/src/DTNoiseAnalysisTest.h
  DQM/DTMonitorModule/src/DTNoiseTask.cc
  DQM/Integration/python/clients/dt4ml_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/dt_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#43938 [13_3_X] [DQM DT] Changes to put back DT Noise plot in Online DQM
  DQM/DTMonitorClient/python/dtNoiseAnalysis_cfi.py
  DQM/DTMonitorClient/python/dtNoiseTest_cfi.py
  DQM/DTMonitorClient/src/DTNoiseAnalysisTest.cc
  DQM/DTMonitorClient/src/DTNoiseAnalysisTest.h
  DQM/DTMonitorModule/src/DTNoiseTask.cc
  DQM/Integration/python/clients/dt4ml_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/dt_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#43971 Add customize to include Alpaka HCal PF Clustering at HLT
  HLTrigger/Configuration/python/customizeHLTforAlpaka.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, pf

#43979 [14.0.X] Add customize to include Alpaka HCal PF Clustering at HLT
  HLTrigger/Configuration/python/customizeHLTforAlpaka.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport, pf

#43944 Added test for PSet description wildcard with plugin
  FWCore/ParameterSet/test/BuildFile.xml
  FWCore/ParameterSet/test/test_catch_ParameterSetDescription.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43949 [ROOT6] RNTuple API change: RNTupleWriter is private
  PhysicsTools/NanoAOD/plugins/rntuple/NanoAODRNTupleOutputModule.cc
  PhysicsTools/NanoAOD/plugins/rntuple/NanoAODRNTuples.cc
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#43967 Fix globToRegex and put it in anonymous namespace
  Validation/RecoTau/plugins/DQMHistNormalizer.cc
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#43810 re-organize workflows exercising the `SiPixelAliHGCombined` PCL workflow
  Configuration/PyReleaseValidation/python/relval_production.py
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#43816 In Concurrent*Filters, upgrade to allow a stream to skip a lumi
  GeneratorInterface/Core/interface/ConcurrentGeneratorFilter.h
  GeneratorInterface/Core/interface/ConcurrentHadronizerFilter.h
Labels: generators-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43950 [Phase-2 L1T] small fixes for RCT cluster emulation
  L1Trigger/L1CaloTrigger/interface/Phase2L1CaloEGammaUtils.h
  L1Trigger/L1CaloTrigger/interface/Phase2L1GCT.h
  L1Trigger/L1CaloTrigger/interface/Phase2L1RCT.h
  L1Trigger/L1CaloTrigger/plugins/Phase2L1CaloEGammaEmulator.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#43960 graphical fixes for `L1TUtmTriggerMenuPayloadInspectorHelper`
  CondCore/L1TPlugins/interface/L1TUtmTriggerMenuPayloadInspectorHelper.h
Labels: l1-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#43962 Update `SiStripLorentzAnglePCLHarvester` to avoid writing useless payloads and more control plots
  CalibTracker/SiStripLorentzAngle/interface/SiStripLorentzAngleCalibrationHelpers.h
  CalibTracker/SiStripLorentzAngle/interface/SiStripLorentzAngleCalibrationStruct.h
  CalibTracker/SiStripLorentzAngle/plugins/SiStripLorentzAnglePCLHarvester.cc
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, trk

#43966 [NanoAOD] Add EM energy fraction for CorrT1METJet
  PhysicsTools/NanoAOD/python/jetsAK4_CHS_cff.py
  PhysicsTools/NanoAOD/python/jetsAK4_Puppi_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#43978 Run3-gex176 Modify sub-scenario of the RPC section for the 2024 scenario
  Geometry/MuonCommonData/data/rpcf/2024/v1/rpcf.xml
  Geometry/MuonCommonData/python/testExtendedGeometry2024XML_cfi.py
  Geometry/MuonCommonData/python/testMu24XML_cfi.py
  Geometry/MuonCommonData/test/python/dumpGE0_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43986 Make test_ExtractMassConstraint to depend on roothistmatrix
  Alignment/MillePedeAlignmentAlgorithm/test/BuildFile.xml
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#43996 Drop PROOF tests (as discussed in #43975)
  FWCore/TFWLiteSelector/test/proof_thing2_sel.C
  FWCore/TFWLiteSelector/test/proof_thing_sel.C
  FWCore/TFWLiteSelector/test/run_all_t.sh
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43948 [GEM] GEMGeometryBuilder update for the 2024 geometry
  Geometry/GEMGeometryBuilder/src/GEMGeometryBuilder.cc
  Geometry/GEMGeometryBuilder/src/GEMGeometryParsFromDD.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#44003 Run3-gex176Y Make changes to make pay;oads for the 2024 Geometry
  CondTools/Geometry/test/writehelpers/createExtended2024DD4hepPayloads.sh
  CondTools/Geometry/test/writehelpers/createExtended2024Payloads.sh
  CondTools/Geometry/test/writehelpers/geometryExtended2024DD4hep_writer.py
  CondTools/Geometry/test/writehelpers/geometryExtended2024DD4hep_xmlwriter.py
  CondTools/Geometry/test/writehelpers/geometryExtended2024_writer.py
  CondTools/Geometry/test/writehelpers/geometryExtended2024_xmlwriter.py
  CondTools/Geometry/test/writehelpers/splitExtended2024Database.sh
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#43965 [MiniAOD] Increase AK4 CHS pt cut and remove unsupported taggers for AK4 CHS and AK8 Puppi jets
  PhysicsTools/NanoAOD/python/jetsAK8_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
  PhysicsTools/PatAlgos/python/selectionLayer1/selectedPatCandidates_cff.py
  PhysicsTools/PatAlgos/python/slimming/applyDeepBtagging_cff.py
  PhysicsTools/PatAlgos/python/slimming/applySubstructure_cff.py
  PhysicsTools/PatAlgos/python/slimming/miniAOD_tools.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved, btv, jetmet

#43983 Simplify definition of `PortableMultiCollection<TDev, ...>`, and allow it to be used outside of `ALPAKA_ACCELERATOR_NAMESPACE`
  DataFormats/Portable/interface/PortableCollection.h
  DataFormats/Portable/interface/alpaka/PortableCollection.h
  DataFormats/Portable/test/BuildFile.xml
  DataFormats/Portable/test/test_catch2_portableCollectionOnHost.cc
  DataFormats/Portable/test/test_catch2_portableMultiCollectionOnHost.cc
  DataFormats/Portable/test/test_catch2_portableObjectOnHost.cc
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#43987 Remove or replace ```OwnVector<SiStripMatchedRecHit2D>```
  DataFormats/TrackerRecHit2D/interface/SiStripMatchedRecHit2DCollection.h
  DataFormats/TrackerRecHit2D/src/classes_def.xml
  RecoLocalTracker/SiStripRecHitConverter/interface/SiStripRecHitConverterAlgorithm.h
  RecoLocalTracker/SiStripRecHitConverter/interface/SiStripRecHitMatcher.h
  RecoLocalTracker/SiStripRecHitConverter/src/SiStripRecHitConverterAlgorithm.cc
  RecoLocalTracker/SiStripRecHitConverter/src/SiStripRecHitMatcher.cc
  SLHCUpgradeSimulations/Geometry/test/StdHitNtuplizer.cc
Labels: geometry-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, tracking, trk

#43947 Backport changes in BaseMVAValueMapProducer to 10_6_X
  PhysicsTools/PatAlgos/BuildFile.xml
  PhysicsTools/PatAlgos/interface/BaseMVAValueMapProducer.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, xpog-approved

#43988 Fix ESProducerExternalWork::setWhatAcquiredProducedWithLambda()
  FWCore/Framework/interface/ESProducerExternalWork.h
  FWCore/Framework/interface/es_impl/ReturnArgumentTypes.h
  FWCore/Integration/plugins/AcquireIntESProducer.cc
  FWCore/Integration/plugins/ConcurrentIOVAnalyzer.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43999 Fix HLT customization for alpaka PF
  HLTrigger/Configuration/python/customizeHLTforAlpaka.py
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#44005 add option to restrict single-Path jobs of `hltIntegrationTests` to a subset of triggers
  HLTrigger/Configuration/scripts/hltIntegrationTests
  HLTrigger/Configuration/scripts/hltListPaths
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44015 Bugfix in fillDescriptions of EgammaHLTClusterShapeProducer
  RecoEgamma/EgammaHLTProducers/plugins/EgammaHLTClusterShapeProducer.cc
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#44033 [13.3.X] Update `SiStripLorentzAnglePCLHarvester` to avoid writing useless payloads and more control plots
  CalibTracker/SiStripLorentzAngle/interface/SiStripLorentzAngleCalibrationHelpers.h
  CalibTracker/SiStripLorentzAngle/interface/SiStripLorentzAngleCalibrationStruct.h
  CalibTracker/SiStripLorentzAngle/plugins/SiStripLorentzAnglePCLHarvester.cc
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, backport-ok, trk

#43525 Lepton time-life info for NanoAOD
  DataFormats/VertexReco/BuildFile.xml
  DataFormats/VertexReco/interface/TrackTimeLifeInfo.h
  DataFormats/VertexReco/src/TrackTimeLifeInfo.cc
  DataFormats/VertexReco/src/classes.h
  DataFormats/VertexReco/src/classes_def.xml
  PhysicsTools/NanoAOD/interface/SimpleFlatTableProducer.h
  PhysicsTools/NanoAOD/plugins/SimpleFlatTableProducerPlugins.cc
  PhysicsTools/NanoAOD/python/autoNANO.py
  PhysicsTools/NanoAOD/python/leptonTimeLifeInfo_common_cff.py
  PhysicsTools/NanoAOD/python/taus_cff.py
  PhysicsTools/PatAlgos/plugins/PATLeptonTimeLifeInfoProducer.cc
  PhysicsTools/PatAlgos/plugins/PATRefitVertexProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved, tracking

#43642 Muon POG NanoAOD v2
  Configuration/PyReleaseValidation/python/relval_nano.py
  PhysicsTools/NanoAOD/plugins/MuonSpecialVariables.cc
  PhysicsTools/NanoAOD/python/autoNANO.py
  PhysicsTools/NanoAOD/python/custom_muon_cff.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved, xpog-approved

#43846 Primary vertex reconstruction: update configuration handling
  Alignment/OfflineValidation/plugins/PrimaryVertexValidation.cc
  RecoHI/HiTracking/python/HIPixelAdaptiveVertex_cfi.py
  RecoVertex/Configuration/python/RecoVertex_phase2_timing_cff.py
  RecoVertex/PrimaryVertexProducer/interface/HITrackFilterForPVFinding.h
  RecoVertex/PrimaryVertexProducer/plugins/PrimaryVertexProducer.cc
  RecoVertex/PrimaryVertexProducer/python/OfflinePixel3DPrimaryVertices_cfi.py
  RecoVertex/PrimaryVertexProducer/python/OfflinePrimaryVerticesFromCosmicTracks_cfi.py
  RecoVertex/PrimaryVertexProducer/python/OfflinePrimaryVertices_cfi.py
  Validation/RecoVertex/python/pvRecoSequence_cff.py
Labels: alca-approved, dqm-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking, trk

#43918 MTD reconstruction: introduction of mass-dependent uncertainty on track time of flight
  RecoMTD/TrackExtender/plugins/TrackExtenderWithMTD.cc
  Validation/MtdValidation/plugins/MtdTracksValidation.cc
  Validation/MtdValidation/plugins/Primary4DVertexValidation.cc
Labels: dqm-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, mtd

#43956 Update LHCInfoProducer to use LHCInfoCombined
  CalibTracker/SiPixelQuality/plugins/SiPixelStatusHarvester.cc
  DQM/CTPPS/plugins/CTPPSDiamondDQMSource.cc
  PhysicsTools/NanoAOD/plugins/BuildFile.xml
  PhysicsTools/NanoAOD/plugins/LHCInfoProducer.cc
  PhysicsTools/NanoAOD/python/nano_cff.py
  PhysicsTools/NanoAOD/python/nano_eras_cff.py
Labels: alca-approved, dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved, trk

#44030 [14.0.X] Update `SiStripLorentzAnglePCLHarvester` to avoid writing useless payloads and more control plots
  CalibTracker/SiStripLorentzAngle/interface/SiStripLorentzAngleCalibrationHelpers.h
  CalibTracker/SiStripLorentzAngle/interface/SiStripLorentzAngleCalibrationStruct.h
  CalibTracker/SiStripLorentzAngle/plugins/SiStripLorentzAnglePCLHarvester.cc
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, backport-ok, trk

#44017 Fix-up unit tests in DataFormats/Common
  DataFormats/Common/test/BuildFile.xml
  DataFormats/Common/test/DetSetVector_t.cpp
  DataFormats/Common/test/OwnVector_t.cpp
  DataFormats/Common/test/Wrapper_t.cpp
  DataFormats/Common/test/exDSTV.cpp
  DataFormats/Common/test/exTrie.cpp
  DataFormats/Common/test/sortedcollection_timing.cc
  DataFormats/Common/test/testBoostRange.cpp
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44018 Moved Parentage unit test to catch2
  DataFormats/Provenance/test/BuildFile.xml
  DataFormats/Provenance/test/EntryDescription_t.cpp
  DataFormats/Provenance/test/Parentage_t.cpp
  DataFormats/Provenance/test/StoredProcessBlockHelper_t.cpp
  DataFormats/Provenance/test/productResolverIndexHelperTest.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44020 Cleanup unit tests in FWCore/Utilities
  FWCore/Utilities/test/BuildFile.xml
  FWCore/Utilities/test/test_catch2_atomic_value_ptr.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44021 Move SoA collections ROOT read rules to classes.cc
  DataFormats/EcalDigi/src/classes.cc
  DataFormats/EcalDigi/src/classes_def.xml
  DataFormats/EcalRecHit/src/classes.cc
  DataFormats/EcalRecHit/src/classes_def.xml
  DataFormats/ParticleFlowReco/src/classes_1.h
  DataFormats/ParticleFlowReco/src/classes_2.h
  DataFormats/ParticleFlowReco/src/classes_serial.cc
  DataFormats/ParticleFlowReco/src/classes_serial.h
  DataFormats/ParticleFlowReco/src/classes_serial_def.xml
Labels: reconstruction-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, ecal, pf

#44032 [ROOT6] RPageSinkFile is now in ROOT::Experimental::Internal namespace
  PhysicsTools/NanoAOD/plugins/rntuple/NanoAODRNTupleOutputModule.cc
  PhysicsTools/NanoAOD/plugins/rntuple/NanoAODRNTuples.cc
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#44034 Improved unit tests in FWCore/Framework
  FWCore/Framework/src/TriggerResultsBasedEventSelector.cc
  FWCore/Framework/test/BuildFile.xml
  FWCore/Framework/test/EventSelExc_t.cpp
  FWCore/Framework/test/EventSelOverlap_t.cpp
  FWCore/Framework/test/EventSelWildcard_t.cpp
  FWCore/Framework/test/EventSelector_t.cpp
  FWCore/Framework/test/OutputModuleUtilities_t.cpp
  FWCore/Framework/test/ProductSelector_t.cpp
  FWCore/Framework/test/RegistryTemplate_t.cpp
  FWCore/Framework/test/TriggerResultsBasedEventSelectorUtilities_t.cpp
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44035 Update Run3 HLT GT with PPS conditions for 2024 data-taking
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43970 Run3-gex175X Backport #43876 to CMSSW version 14_0_X the changes for te 2024 version of GE21 geometry
  Geometry/MuonCommonData/data/gem21/2024/v1/gem21.xml
  Geometry/MuonCommonData/python/testExtendedGeometry2024XML_cfi.py
  Geometry/MuonCommonData/test/python/g4OverlapCheck2021_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved

#43990 Run3-gex176X Backport #43978 of the modification of the sub-scenario of the RPC section for the 2024 scenario
  Geometry/MuonCommonData/data/rpcf/2024/v1/rpcf.xml
  Geometry/MuonCommonData/python/testMu24XML_cfi.py
  Geometry/MuonCommonData/test/python/dumpGE0_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved

#43991 [GEM][backport] GEMGeometryBuilder update for the 2024 geometry
  Geometry/GEMGeometryBuilder/src/GEMGeometryBuilder.cc
  Geometry/GEMGeometryBuilder/src/GEMGeometryParsFromDD.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved

#43981 Remove unpackLayer1 option from L1REPACK:Full
  Configuration/StandardSequences/python/SimL1EmulatorRepack_Full_cff.py
Labels: operations-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44007 add option to restrict single-Path jobs of hltIntegrationTests to a subset of triggers [`14_0_X`]
  HLTrigger/Configuration/scripts/hltIntegrationTests
  HLTrigger/Configuration/scripts/hltListPaths
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok

#44016 Bugfix in fillDescriptions of EgammaHLTClusterShapeProducer [140X]
  RecoEgamma/EgammaHLTProducers/plugins/EgammaHLTClusterShapeProducer.cc
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#43995 [MiniAOD] Backport of #43965 (Increase AK4 CHS pt cut and remove unsupported taggers for AK4 CHS and AK8 Puppi jets) to 14_0_X
  PhysicsTools/NanoAOD/python/jetsAK8_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
  PhysicsTools/PatAlgos/python/selectionLayer1/selectedPatCandidates_cff.py
  PhysicsTools/PatAlgos/python/slimming/applyDeepBtagging_cff.py
  PhysicsTools/PatAlgos/python/slimming/applySubstructure_cff.py
  PhysicsTools/PatAlgos/python/slimming/miniAOD_tools.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, xpog-approved, btv, jetmet

#44014 [14_0_X] Simplify definition of `PortableMultiCollection<TDev, ...>`, and allow it to be used outside of `ALPAKA_ACCELERATOR_NAMESPACE`
  DataFormats/Portable/interface/PortableCollection.h
  DataFormats/Portable/interface/alpaka/PortableCollection.h
  DataFormats/Portable/test/BuildFile.xml
  DataFormats/Portable/test/test_catch2_portableCollectionOnHost.cc
  DataFormats/Portable/test/test_catch2_portableMultiCollectionOnHost.cc
  DataFormats/Portable/test/test_catch2_portableObjectOnHost.cc
Labels: fully-signed, tests-approved, orp-approved, backport-ok, heterogeneous-approved

#44002 cms.allowed now accepts a dict when assigning value
  FWCore/ParameterSet/python/Config.py
  FWCore/ParameterSet/python/Mixins.py
  FWCore/ParameterSet/python/Types.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43027 fixed dimuon invariant mass plots range
  DQMOffline/Muon/interface/DiMuonHistograms.h
  DQMOffline/Muon/python/diMuonHistograms_cfi.py
  DQMOffline/Muon/src/DiMuonHistograms.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#43992 [NanoAOD] Backport of #43966 (Add EM energy fraction for CorrT1METJet) to 14_0_X
  PhysicsTools/NanoAOD/python/jetsAK4_CHS_cff.py
  PhysicsTools/NanoAOD/python/jetsAK4_Puppi_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
Labels: fully-signed, tests-approved, orp-approved, backport-ok, xpog-approved

#44055 print total number of Paths in `hltIntegrationTests`
  HLTrigger/Configuration/scripts/hltIntegrationTests
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44000 [14.0.X] Fix HLT customization for alpaka PF
  HLTrigger/Configuration/python/customizeHLTforAlpaka.py
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, pf

#43963 Updates DT Calibration to 14_0_X and includes fixes for the HI workflow
  CalibMuon/DTCalibration/plugins/DTTTrigWriter.cc
  CalibMuon/DTCalibration/python/Workflow/CLIHelper.py
  CalibMuon/DTCalibration/python/Workflow/CrabHelper.py
  CalibMuon/DTCalibration/python/Workflow/Crabtools/crabConfigParser.py
  CalibMuon/DTCalibration/python/Workflow/Crabtools/crabFunctions.py
  CalibMuon/DTCalibration/python/Workflow/DTCalibrationWorker.py
  CalibMuon/DTCalibration/python/Workflow/DTT0WireWorkflow.py
  CalibMuon/DTCalibration/python/Workflow/DTWorkflow.py
  CalibMuon/DTCalibration/python/Workflow/tools.py
  CalibMuon/DTCalibration/python/dtCalibOfflineSelection_cff.py
  CalibMuon/DTCalibration/python/dtCalibValidationFromMuons_cfg.py
  CalibMuon/DTCalibration/python/dtCalibValidation_cfg.py
  CalibMuon/DTCalibration/python/dtCalibValidation_cosmics_cfg.py
  CalibMuon/DTCalibration/python/dtDQMAlca_cfg.py
  CalibMuon/DTCalibration/python/dtDQMAlca_cosmics_cfg.py
  CalibMuon/DTCalibration/python/dtDQMClientAlca_cfg.py
  CalibMuon/DTCalibration/python/dtDQMClient_cfg.py
  CalibMuon/DTCalibration/python/dtDQMMerge_cfg.py
  CalibMuon/DTCalibration/python/dtNoiseCalibration_cfg.py
  CalibMuon/DTCalibration/python/dtResidualCalibration_cfg.py
  CalibMuon/DTCalibration/python/dtResidualCalibration_cosmics_cfg.py
  CalibMuon/DTCalibration/python/dtT0AbsoluteReferenceCorrection_cfg.py
  CalibMuon/DTCalibration/python/dtT0Analyzer_cfg.py
  CalibMuon/DTCalibration/python/dtT0FEBPathCorrection_cfg.py
  CalibMuon/DTCalibration/python/dtT0FillChamberFromDBCorrection_cfg.py
  CalibMuon/DTCalibration/python/dtT0FillDefaultFromDBCorrection_cfg.py
  CalibMuon/DTCalibration/python/dtT0WireCalibration_cfg.py
  CalibMuon/DTCalibration/python/dtT0WireInChamberReferenceCorrection_cfg.py
  CalibMuon/DTCalibration/python/dtTPAnalyzer_cfg.py
  CalibMuon/DTCalibration/python/dtTPDQM_cfg.py
  CalibMuon/DTCalibration/python/dtTPDeadWriter_cfg.py
  CalibMuon/DTCalibration/python/dtTTrigAnalyzer_cfg.py
  CalibMuon/DTCalibration/python/dtTTrigCalibration_cfg.py
  CalibMuon/DTCalibration/python/dtTTrigCalibration_cosmics_cfg.py
  CalibMuon/DTCalibration/python/dtTTrigConstantShiftCorrection_cfg.py
  CalibMuon/DTCalibration/python/dtTTrigCorrection_cfg.py
  CalibMuon/DTCalibration/python/dtTTrigResidualCorrection_cfg.py
  CalibMuon/DTCalibration/python/dtTTrigValidSummary_cfg.py
  CalibMuon/DTCalibration/python/dtTTrigWriter_cfg.py
  CalibMuon/DTCalibration/python/dtVDriftAnalyzer_cfg.py
  CalibMuon/DTCalibration/python/dtVDriftMeanTimerCalibration_cfg.py
  CalibMuon/DTCalibration/python/dtVDriftMeanTimerCalibration_cosmics_cfg.py
  CalibMuon/DTCalibration/python/dtVDriftMeanTimerWriter_cfg.py
  CalibMuon/DTCalibration/python/dtVDriftSegmentCalibration_cfg.py
  CalibMuon/DTCalibration/python/dtVDriftSegmentCalibration_cosmics_cfg.py
  CalibMuon/DTCalibration/python/dtVDriftSegmentWriter_cfg.py
  CalibMuon/DTCalibration/python/dumpDBToFile_GT_ttrig_cfg.py
  CalibMuon/DTCalibration/python/dumpDBToFile_GT_vdrift_cfg.py
  CalibMuon/DTCalibration/python/dumpDBToFile_noise_cfg.py
  CalibMuon/DTCalibration/python/dumpDBToFile_t0Wire_cfg.py
  CalibMuon/DTCalibration/python/dumpDBToFile_tpDead_cfg.py
  CalibMuon/DTCalibration/python/dumpDBToFile_ttrig_cfg.py
  CalibMuon/DTCalibration/python/dumpDBToFile_vdrift_cfg.py
  CalibMuon/DTCalibration/scripts/dtCalibration
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43984 Update L1Scouting Data Format tests and minor code fixes
  DataFormats/L1Scouting/interface/OrbitCollection.h
  DataFormats/L1Scouting/src/classes_def.xml
  DataFormats/L1Scouting/test/TestL1ScoutingFormat.sh
  DataFormats/L1ScoutingRawData/interface/SDSNumbering.h
  DataFormats/L1ScoutingRawData/test/TestSDSRawDataCollectionFormat.sh
  DataFormats/L1ScoutingRawData/test/read_SDSRawDataCollection_cfg.py
  EventFilter/L1ScoutingRawToDigi/plugins/ScGMTRawToDigi.cc
  EventFilter/L1ScoutingRawToDigi/python/ScCaloRawToDigi_cfi.py
  EventFilter/L1ScoutingRawToDigi/python/ScGMTRawToDigi_cfi.py
  EventFilter/Utilities/test/testScoutingRun3_unpackers.py
  L1TriggerScouting/Utilities/interface/scales.h
Labels: daq-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#44013 Add wildcards to generated _cfi.py files
  FWCore/Integration/test/unit_test_outputs/testProducerWithPsetDesc_cfi.py
  FWCore/ParameterSet/interface/ParameterDescriptionNode.h
  FWCore/ParameterSet/interface/ParameterSetDescription.h
  FWCore/ParameterSet/interface/ParameterWildcard.h
  FWCore/ParameterSet/interface/ParameterWildcardBase.h
  FWCore/ParameterSet/src/ParameterSetDescription.cc
  FWCore/ParameterSet/src/ParameterWildcard.cc
  FWCore/ParameterSet/src/ParameterWildcardBase.cc
  FWCore/ParameterSet/test/test_catch_ParameterSetDescription.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44048 Fix `customizeHLTforAlpakaParticleFlowClustering`: insert `DQM_HcalReconstruction_v` only if present in the HLT menu
  HLTrigger/Configuration/python/customizeHLTforAlpaka.py
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved, pf

#44051 MTD geometry: update pixel index definition from RectangularMTDTopology
  Geometry/MTDGeometryBuilder/interface/RectangularMTDTopology.h
  Geometry/MTDGeometryBuilder/src/MTDGeomUtil.cc
  Geometry/MTDGeometryBuilder/src/RectangularMTDTopology.cc
  Geometry/MTDGeometryBuilder/test/DD4hep_TestBTLPixelTopology.cc
  Geometry/MTDGeometryBuilder/test/MTDDigiGeometryAnalyzer.cc
  SimFastTiming/FastTimingCommon/src/BTLDeviceSim.cc
  SimFastTiming/FastTimingCommon/src/ETLDeviceSim.cc
Labels: geometry-approved, simulation-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, upgrade-approved, code-checks-approved

#44026 Move relval2023 to point to Fake2 for HLT [141X]
  Configuration/HLT/python/autoHLT.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
Labels: hlt-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, requires-external, code-checks-approved

#44052 Run3-176B Update the documentation in Configuration/Geometry/README.md for Run3 scenarios
  Configuration/Geometry/README.md
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#44057 Revert "[ROOT6] RPageSinkFile is now in ROOT::Experimental::Internal namespace"
  PhysicsTools/NanoAOD/plugins/rntuple/NanoAODRNTupleOutputModule.cc
  PhysicsTools/NanoAOD/plugins/rntuple/NanoAODRNTuples.cc
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#44058 Add emulated calo jets/taus to L1 sequence and event content.
  L1Trigger/Configuration/python/L1Trigger_EventContent_cff.py
  L1Trigger/Configuration/python/SimL1Emulator_cff.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44060 Issue TAxis::SetRangeUser() warnings as INFO messages instead of an exception
  FWCore/Services/plugins/InitRootHandlers.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44065 Run3-gex176D Modify the RPC numbering scheme to avoid wrong DetId assignment
  Configuration/Geometry/python/dict2021Geometry.py
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2024.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2024FlatMinus05Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2024FlatMinus10Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2024FlatPlus05Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2024FlatPlus10Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2024ZeroMaterial.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometry2024FlatMinus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2024FlatMinus10PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2024FlatPlus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2024FlatPlus10PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2024XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2024ZeroMaterialXML_cfi.py
  Geometry/MuonCommonData/data/muonNumbering/2024/v1/muonNumbering.xml
  Geometry/MuonCommonData/python/testExtendedGeometry2024XML_cfi.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, urgent, upgrade-approved, code-checks-approved

#44068 [14_1_X SIM] Improved destruction of Geant4
  SimG4Core/Application/src/OscarMTMasterThread.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved
