Repository cms-sw/cmssw, pull requests merged in 2024-07, with the labels that each got.

#45293 [14_0] CICADA-uGT emulator additions
  DataFormats/L1CaloTrigger/interface/CICADA.h
  DataFormats/L1CaloTrigger/src/classes.h
  DataFormats/L1CaloTrigger/src/classes_def.xml
  EventFilter/L1TRawToDigi/BuildFile.xml
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/CICADAUnpacker.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/CICADAUnpacker.h
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/CaloLayer1Collections.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/CaloLayer1Collections.h
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/CaloLayer1Setup.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/CaloSummaryCollections.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/CaloSummaryCollections.h
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/CaloSummaryUnpacker.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/CaloSummaryUnpacker.h
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/GTCollections.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/GTCollections.h
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/GTSetup.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/L1TObjectCollections.h
  L1Trigger/L1TCaloLayer1/plugins/L1TCaloSummary.cc
  L1Trigger/L1TCaloLayer1/python/simCaloStage2Layer1Summary_cfi.py
  L1Trigger/L1TGlobal/interface/CICADACondition.h
  L1Trigger/L1TGlobal/interface/CICADATemplate.h
  L1Trigger/L1TGlobal/interface/GlobalBoard.h
  L1Trigger/L1TGlobal/interface/GlobalDefinitions.h
  L1Trigger/L1TGlobal/interface/TriggerMenu.h
  L1Trigger/L1TGlobal/plugins/L1TGlobalProducer.cc
  L1Trigger/L1TGlobal/plugins/L1TGlobalProducer.h
  L1Trigger/L1TGlobal/plugins/TriggerMenuParser.cc
  L1Trigger/L1TGlobal/plugins/TriggerMenuParser.h
  L1Trigger/L1TGlobal/python/simGtStage2Digis_cfi.py
  L1Trigger/L1TGlobal/src/CICADACondition.cc
  L1Trigger/L1TGlobal/src/CICADATemplate.cc
  L1Trigger/L1TGlobal/src/GlobalBoard.cc
  L1Trigger/L1TGlobal/src/GlobalDefinitions.cc
  L1Trigger/L1TGlobal/src/TriggerMenu.cc
  L1Trigger/L1TGlobal/src/classes.h
  L1Trigger/L1TGlobal/src/classes_def.xml
Labels: hlt-approved, l1-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok

#45301 [14.0.X] Fix lostDict: Add HcalRecHitSoA for HcalRecHit package
  Utilities/ReleaseScripts/scripts/duplicateReflexLibrarySearch.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, backport-ok

#45214 workflow runner: use previous step output as next step input
  Configuration/PyReleaseValidation/python/WorkFlowRunner.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#44778 store the hltobjects for Mass50 triggers
  HLTrigger/Configuration/python/customizeHLTforCMSSW.py
  HLTrigger/Egamma/plugins/HLTEgammaCombMassFilter.cc
  HLTrigger/Egamma/plugins/HLTEgammaCombMassFilter.h
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, egamma

#45345 APE tool: fix overwriting of variable
  Alignment/APEEstimation/test/apeMeasurement/apeMeasurement.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#45341 Add debugging capabilities to the CachingAllocator
  HeterogeneousCore/AlpakaInterface/interface/AllocatorConfig.h
  HeterogeneousCore/AlpakaInterface/interface/CachingAllocator.h
  HeterogeneousCore/AlpakaInterface/interface/getDeviceCachingAllocator.h
  HeterogeneousCore/AlpakaInterface/interface/getHostCachingAllocator.h
  HeterogeneousCore/AlpakaServices/src/alpaka/AlpakaService.cc
  HeterogeneousCore/AlpakaServices/test/BuildFile.xml
  HeterogeneousCore/AlpakaServices/test/testAlpakaServiceCudaAsync.py
  HeterogeneousCore/AlpakaServices/test/testAlpakaServiceROCmAsync.py
  HeterogeneousCore/AlpakaServices/test/testAlpakaServiceSerialSync.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved, tests-external-failure

#45319 `TauAnalysis/MCEmbeddingTools`: use `run2_HLTconditions_2016` to select the list of triggers to match in 2016 eras
  TauAnalysis/MCEmbeddingTools/python/SelectingProcedure_cff.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45316 Added PixelClusterCountsAuditor
  Calibration/LumiAlCaRecoProducers/plugins/BuildFile.xml
  Calibration/LumiAlCaRecoProducers/plugins/PixelClusterCountsAuditor.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45303 DataFormats/EcalDigi: change triggerType_ and attenuation_dB_ to explicitly signed types
  DataFormats/EcalDigi/interface/EcalMatacqDigi.h
  DataFormats/EcalDigi/src/classes_def.xml
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, ecal

#45295 Updates to include HTMHF triggers in GT emulator
  DataFormats/HLTReco/interface/TriggerTypeDefs.h
  DataFormats/L1TGlobal/interface/GlobalObject.h
  DataFormats/L1TGlobal/test/test_catch2_l1tGlobalObject.cc
  HLTrigger/HLTfilters/plugins/HLTL1TSeed.cc
  L1Trigger/L1TGlobal/interface/GlobalDefinitions.h
  L1Trigger/L1TGlobal/interface/GlobalScales.h
  L1Trigger/L1TGlobal/plugins/GtRecordDump.cc
  L1Trigger/L1TGlobal/plugins/TriggerMenuParser.cc
  L1Trigger/L1TGlobal/src/CorrCondition.cc
  L1Trigger/L1TGlobal/src/EnergySumCondition.cc
  L1Trigger/L1TGlobal/src/EnergySumTemplate.cc
  L1Trigger/L1TGlobal/src/GlobalCondition.cc
  L1Trigger/L1TGlobal/src/GlobalDefinitions.cc
  L1Trigger/L1TGlobal/test/testVectorCode_data.py
Labels: hlt-approved, l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45283 TICLv5: do not use trajectories to compute the track path length
  RecoHGCal/TICL/plugins/TICLCandidateProducer.cc
  RecoHGCal/TICL/python/customiseForTICLv5_cff.py
  RecoHGCal/TICL/python/iterativeTICL_cff.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#44375 [backport] Improve handling of TF CUDA tests for 14_0_X
  PhysicsTools/TensorFlow/src/TensorFlow.cc
  PhysicsTools/TensorFlow/test/BuildFile.xml
Labels: fully-signed, tests-approved, orp-approved, ml-approved

#45302 [14.0.X] Adding general DQM modules for pixel tracks
  DQM/SiPixelHeterogeneous/plugins/SiPixelCompareRecHits.cc
  DQM/SiPixelHeterogeneous/plugins/SiPixelCompareTracks.cc
  DQM/SiPixelHeterogeneous/plugins/SiPixelCompareVertices.cc
  DQM/SiPixelHeterogeneous/python/SiPixelHeterogenousDQM_FirstStep_cff.py
  DataFormats/TrackSoA/src/classes_def.xml
  DataFormats/TrackingRecHitSoA/src/classes_def.xml
  EventFilter/SiPixelRawToDigi/python/siPixelDigis_cff.py
  HLTrigger/Configuration/python/customizeHLTforCMSSW.py
  RecoLocalTracker/SiPixelClusterizer/python/siPixelClustersPreSplitting_cff.py
Labels: dqm-approved, hlt-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok, heterogeneous-approved, tracking, trk

#45348 update to remove per bx roc data
  DataFormats/Luminosity/interface/PixelClusterCounts.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45281 Fix GEM chamber mapping inside EMTF unpacker.
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFBlockGEM.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/EMTFUnpackerTools.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45280 Sigmat0 and sigmat0Safe used to fix nonPID definition for good pions in MtdValidation
  Validation/MtdValidation/plugins/MtdTracksValidation.cc
  Validation/MtdValidation/plugins/Primary4DVertexValidation.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#45272 Remove Passthrough Pattern Recognition from TICLv4
  RecoHGCal/TICL/python/iterativeTICL_cff.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#45178 Heterogeneous Workflow (CLUE) in Phase2 HLT Simplified Menu
  DataFormats/HGCalReco/BuildFile.xml
  DataFormats/HGCalReco/interface/HGCalSoAClusters.h
  DataFormats/HGCalReco/interface/HGCalSoAClustersHostCollection.h
  DataFormats/HGCalReco/interface/HGCalSoARecHits.h
  DataFormats/HGCalReco/interface/HGCalSoARecHitsExtra.h
  DataFormats/HGCalReco/interface/HGCalSoARecHitsExtraHostCollection.h
  DataFormats/HGCalReco/interface/HGCalSoARecHitsHostCollection.h
  DataFormats/HGCalReco/interface/alpaka/HGCalSoAClustersDeviceCollection.h
  DataFormats/HGCalReco/interface/alpaka/HGCalSoARecHitsDeviceCollection.h
  DataFormats/HGCalReco/interface/alpaka/HGCalSoARecHitsExtraDeviceCollection.h
  DataFormats/HGCalReco/src/alpaka/classes_cuda.h
  DataFormats/HGCalReco/src/alpaka/classes_cuda_def.xml
  DataFormats/HGCalReco/src/alpaka/classes_rocm.h
  DataFormats/HGCalReco/src/alpaka/classes_rocm_def.xml
  DataFormats/HGCalReco/src/classes.cc
  DataFormats/HGCalReco/src/classes.h
  DataFormats/HGCalReco/src/classes_def.xml
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHgcalLayerClustersFromSoAProducer_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHgcalSoALayerClustersProducer_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHgcalSoARecHitsLayerClustersProducer_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHgcalSoARecHitsProducer_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/hgcalLocalRecoSequence_cfi.py
  HLTrigger/Configuration/python/HLT_75e33_timing_cff.py
  RecoLocalCalo/HGCalRecProducers/interface/DumpClustersDetails.h
  RecoLocalCalo/HGCalRecProducers/interface/HGCalLayerTiles.h
  RecoLocalCalo/HGCalRecProducers/interface/HGCalSoAClustersExtra.h
  RecoLocalCalo/HGCalRecProducers/interface/HGCalTilesConstants.h
  RecoLocalCalo/HGCalRecProducers/interface/alpaka/HGCalSoAClustersExtraDeviceCollection.h
  RecoLocalCalo/HGCalRecProducers/plugins/BuildFile.xml
  RecoLocalCalo/HGCalRecProducers/plugins/HGCalCLUEAlgo.cc
  RecoLocalCalo/HGCalRecProducers/plugins/HGCalCLUEAlgo.h
  RecoLocalCalo/HGCalRecProducers/plugins/HGCalLayerClusterHeterogeneousDumper.cc
  RecoLocalCalo/HGCalRecProducers/plugins/HGCalLayerClusterHeterogeneousSoADumper.cc
  RecoLocalCalo/HGCalRecProducers/plugins/HGCalLayerClusterProducer.cc
  RecoLocalCalo/HGCalRecProducers/plugins/HGCalLayerClustersFromSoAProducer.cc
  RecoLocalCalo/HGCalRecProducers/plugins/MergeClusterProducer.cc
  RecoLocalCalo/HGCalRecProducers/plugins/alpaka/ConstantsForClusters.h
  RecoLocalCalo/HGCalRecProducers/plugins/alpaka/HGCalLayerClustersAlgoWrapper.dev.cc
  RecoLocalCalo/HGCalRecProducers/plugins/alpaka/HGCalLayerClustersAlgoWrapper.h
  RecoLocalCalo/HGCalRecProducers/plugins/alpaka/HGCalLayerClustersSoAAlgoWrapper.dev.cc
  RecoLocalCalo/HGCalRecProducers/plugins/alpaka/HGCalLayerClustersSoAAlgoWrapper.h
  RecoLocalCalo/HGCalRecProducers/plugins/alpaka/HGCalSoALayerClustersProducer.cc
  RecoLocalCalo/HGCalRecProducers/plugins/alpaka/HGCalSoARecHitsLayerClustersProducer.cc
  RecoLocalCalo/HGCalRecProducers/plugins/alpaka/HGCalSoARecHitsProducer.cc
Labels: hlt-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, requires-external, code-checks-approved, heterogeneous-approved

#44995 Phase-2 GT Step1 menu integration
  DPGAnalysis/L1TNanoAOD/plugins/BuildFile.xml
  DPGAnalysis/L1TNanoAOD/plugins/P2GTTriggerResultsConverter.cc
  DataFormats/L1Trigger/interface/P2GTAlgoBlock.h
  DataFormats/L1Trigger/interface/P2GTCandidate.h
  DataFormats/L1Trigger/src/P2GTCandidate.cc
  DataFormats/L1Trigger/src/classes_def.xml
  HLTrigger/HLTfilters/plugins/HLTDoubletDZ.cc
  HLTrigger/HLTfilters/plugins/HLTDoubletDZ.h
  HLTrigger/Muon/plugins/HLTMuonTrkL1TkMuFilter.cc
  HLTrigger/Muon/plugins/HLTMuonTrkL1TkMuFilter.h
  L1Trigger/Configuration/python/Phase2GTMenus/SeedDefinitions/prototypeSeeds.py
  L1Trigger/Phase2L1GT/README.md
  L1Trigger/Phase2L1GT/interface/L1GTScales.h
  L1Trigger/Phase2L1GT/plugins/L1GT3BodyCut.h
  L1Trigger/Phase2L1GT/plugins/L1GTAlgoBlockProducer.cc
  L1Trigger/Phase2L1GT/plugins/L1GTAlgoBoardWriter.cc
  L1Trigger/Phase2L1GT/plugins/L1GTBoardWriter.cc
  L1Trigger/Phase2L1GT/plugins/L1GTCorrelationalCut.h
  L1Trigger/Phase2L1GT/plugins/L1GTDeltaCut.h
  L1Trigger/Phase2L1GT/plugins/L1GTDoubleObjectCond.cc
  L1Trigger/Phase2L1GT/plugins/L1GTEvaluationInterface.h
  L1Trigger/Phase2L1GT/plugins/L1GTEvaluationProducer.cc
  L1Trigger/Phase2L1GT/plugins/L1GTFinOrBoardWriter.cc
  L1Trigger/Phase2L1GT/plugins/L1GTNTupleProducer.cc
  L1Trigger/Phase2L1GT/plugins/L1GTOutputObjectWriter.cc
  L1Trigger/Phase2L1GT/plugins/L1GTProducer.cc
  L1Trigger/Phase2L1GT/plugins/L1GTQuadObjectCond.cc
  L1Trigger/Phase2L1GT/plugins/L1GTSingleCollectionCut.h
  L1Trigger/Phase2L1GT/plugins/L1GTSingleInOutLUT.h
  L1Trigger/Phase2L1GT/plugins/L1GTSingleObjectCond.cc
  L1Trigger/Phase2L1GT/plugins/L1GTTripleObjectCond.cc
  L1Trigger/Phase2L1GT/python/l1tGTAlgoBlockProducer_cff.py
  L1Trigger/Phase2L1GT/python/l1tGTDoubleObjectCond_cfi.py
  L1Trigger/Phase2L1GT/python/l1tGTMenu_BTagSeeds_cff.py
  L1Trigger/Phase2L1GT/python/l1tGTMenu_cff.py
  L1Trigger/Phase2L1GT/python/l1tGTMenu_crossLepSeeds_cff.py
  L1Trigger/Phase2L1GT/python/l1tGTMenu_hadr_crossLepSeeds_cff.py
  L1Trigger/Phase2L1GT/python/l1tGTMenu_hadr_metSeeds_cff.py
  L1Trigger/Phase2L1GT/python/l1tGTMenu_lepSeeds_cff.py
  L1Trigger/Phase2L1GT/python/l1tGTProducer_cff.py
  L1Trigger/Phase2L1GT/python/l1tGTQuadObjectCond_cfi.py
  L1Trigger/Phase2L1GT/python/l1tGTScales.py
  L1Trigger/Phase2L1GT/python/l1tGTSingleInOutLUT.py
  L1Trigger/Phase2L1GT/python/l1tGTSingleObjectCond_cfi.py
  L1Trigger/Phase2L1GT/python/l1tGTTripleObjectCond_cfi.py
  L1Trigger/Phase2L1GT/src/L1GTScales.cc
  L1Trigger/Phase2L1GT/test/gt_firmware_evaluation.py
  L1Trigger/Phase2L1GT/test/menu_analyzer.py
  L1Trigger/Phase2L1GT/test/test_GT.py
  RecoEgamma/EgammaHLTProducers/plugins/L1TEGammaFilteredCollectionProducer.cc
  RecoHGCal/TICL/plugins/SeedingRegionByL1.cc
Labels: hlt-approved, l1-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, xpog-approved

#45356 Updates to include HTMHF triggers in GT emulator and propagation to HLTL1Seed
  DataFormats/HLTReco/interface/TriggerTypeDefs.h
  DataFormats/L1TGlobal/interface/GlobalObject.h
  DataFormats/L1TGlobal/test/test_catch2_l1tGlobalObject.cc
  HLTrigger/HLTfilters/plugins/HLTL1TSeed.cc
  L1Trigger/L1TGlobal/interface/GlobalDefinitions.h
  L1Trigger/L1TGlobal/interface/GlobalScales.h
  L1Trigger/L1TGlobal/plugins/GtRecordDump.cc
  L1Trigger/L1TGlobal/plugins/TriggerMenuParser.cc
  L1Trigger/L1TGlobal/src/CorrCondition.cc
  L1Trigger/L1TGlobal/src/EnergySumCondition.cc
  L1Trigger/L1TGlobal/src/EnergySumTemplate.cc
  L1Trigger/L1TGlobal/src/GlobalCondition.cc
  L1Trigger/L1TGlobal/src/GlobalDefinitions.cc
  L1Trigger/L1TGlobal/test/testVectorCode_data.py
Labels: hlt-approved, l1-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok

#45347 Update/fix SimBeamSpot tag for Run3 HI MC GT in 14_0_X
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok

#45299 [14_0] Backport of #45151 (HIon type def for pixel alpaka)
  DataFormats/TrackSoA/interface/TracksDevice.h
  DataFormats/TrackSoA/src/alpaka/classes_cuda_def.xml
  DataFormats/TrackSoA/src/alpaka/classes_rocm_def.xml
  RecoLocalTracker/SiPixelClusterizer/python/siPixelClustersPreSplitting_cff.py
  RecoLocalTracker/SiPixelRecHits/interface/alpaka/PixelCPEFastParamsCollection.h
  RecoLocalTracker/SiPixelRecHits/plugins/alpaka/PixelCPEFastParamsESProducerAlpaka.cc
  RecoLocalTracker/SiPixelRecHits/plugins/alpaka/SiPixelRecHitAlpaka.cc
  RecoLocalTracker/SiPixelRecHits/python/PixelCPEESProducers_cff.py
  RecoLocalTracker/SiPixelRecHits/python/SiPixelRecHits_cfi.py
  RecoLocalTracker/SiPixelRecHits/src/ES_PixelCPEFastParams.cc
  RecoLocalTracker/SiPixelRecHits/src/PixelCPEFastParams.cc
  RecoLocalTracker/SiPixelRecHits/src/alpaka/ES_PixelCPEFastParams.cc
  RecoTracker/Configuration/python/RecoPixelVertexing_cff.py
  RecoTracker/PixelSeeding/plugins/alpaka/CAHitNtuplet.cc
  RecoTracker/PixelTrackFitting/python/PixelTracks_cff.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, heterogeneous-approved, tracking, trk

#45342 Add debugging capabilities to the CachingAllocator [14.0.x]
  HeterogeneousCore/AlpakaInterface/interface/AllocatorConfig.h
  HeterogeneousCore/AlpakaInterface/interface/CachingAllocator.h
  HeterogeneousCore/AlpakaInterface/interface/getDeviceCachingAllocator.h
  HeterogeneousCore/AlpakaInterface/interface/getHostCachingAllocator.h
  HeterogeneousCore/AlpakaServices/src/alpaka/AlpakaService.cc
  HeterogeneousCore/AlpakaServices/test/BuildFile.xml
  HeterogeneousCore/AlpakaServices/test/testAlpakaServiceCudaAsync.py
  HeterogeneousCore/AlpakaServices/test/testAlpakaServiceROCmAsync.py
  HeterogeneousCore/AlpakaServices/test/testAlpakaServiceSerialSync.py
Labels: fully-signed, tests-approved, orp-approved, backport-ok, heterogeneous-approved

#45334 [14_0_X] Rename MUODPG nano flatTable producers
  DPGAnalysis/MuonTools/python/muNtupleProducerBkg_cff.py
  DPGAnalysis/MuonTools/python/muNtupleProducer_cff.py
  DPGAnalysis/MuonTools/python/nano_mu_digi_cff.py
  DPGAnalysis/MuonTools/python/nano_mu_global_cff.py
  DPGAnalysis/MuonTools/python/nano_mu_l1t_cff.py
  DPGAnalysis/MuonTools/python/nano_mu_local_reco_cff.py
  DPGAnalysis/MuonTools/python/nano_mu_reco_cff.py
Labels: fully-signed, tests-approved, orp-approved, xpog-approved

#45315 [14.0.X] double precision in `StandaloneTrackMonitor` and `TrackTypeMonitor` plots to avoid numerical overflow with high number of bin counts
  DQM/TrackingMonitorSource/plugins/StandaloneTrackMonitor.cc
  DQM/TrackingMonitorSource/plugins/TrackTypeMonitor.cc
  DQMServices/Core/interface/DQMStore.h
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport, tracking

#45233 Fix BasicGenParticleValidation warning message in relval 180.0 and 181.0
  Validation/EventGenerator/plugins/BasicGenParticleValidation.cc
Labels: dqm-approved, generators-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45305 [14.0.X backport] RPCDigis validaiton module update
  Validation/MuonRPCDigis/interface/RPCDigiValid.h
  Validation/MuonRPCDigis/src/RPCDigiValid.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#45359 Add missing header in AllocatorConfig.h
  HeterogeneousCore/AlpakaInterface/interface/AllocatorConfig.h
Labels: fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved, heterogeneous-approved

#44910 Alpaka implementation of Hcal Local Reconstruction (Mahi)
  CondFormats/DataRecord/interface/HcalMahiConditionsRcd.h
  CondFormats/DataRecord/src/HcalMahiConditionsRcd.cc
  CondFormats/HcalObjects/BuildFile.xml
  CondFormats/HcalObjects/interface/HcalMahiConditionsHost.h
  CondFormats/HcalObjects/interface/HcalMahiConditionsSoA.h
  CondFormats/HcalObjects/interface/HcalMahiPulseOffsetsHost.h
  CondFormats/HcalObjects/interface/HcalMahiPulseOffsetsSoA.h
  CondFormats/HcalObjects/interface/HcalRecoParamWithPulseShapeHost.h
  CondFormats/HcalObjects/interface/HcalRecoParamWithPulseShapeSoA.h
  CondFormats/HcalObjects/interface/HcalRecoParamWithPulseShapeT.h
  CondFormats/HcalObjects/interface/HcalSiPMCharacteristicsHost.h
  CondFormats/HcalObjects/interface/HcalSiPMCharacteristicsSoA.h
  CondFormats/HcalObjects/interface/alpaka/HcalMahiConditionsDevice.h
  CondFormats/HcalObjects/interface/alpaka/HcalMahiPulseOffsetsDevice.h
  CondFormats/HcalObjects/interface/alpaka/HcalRecoParamWithPulseShapeDevice.h
  CondFormats/HcalObjects/interface/alpaka/HcalSiPMCharacteristicsDevice.h
  CondFormats/HcalObjects/src/ES_HcalMahiConditionsHost.cc
  CondFormats/HcalObjects/src/ES_HcalMahiPulseOffsetsHost.cc
  CondFormats/HcalObjects/src/ES_HcalRecoParamWithPulseShapeHost.cc
  CondFormats/HcalObjects/src/ES_HcalSiPMCharacteristicsHost.cc
  CondFormats/HcalObjects/src/alpaka/ES_HcalMahiConditionDevice.cc
  CondFormats/HcalObjects/src/alpaka/ES_HcalMahiPulseOffsetsDevice.cc
  CondFormats/HcalObjects/src/alpaka/ES_HcalRecoParamWithPulseShapeDevice.cc
  CondFormats/HcalObjects/src/alpaka/ES_HcalSiPMCharacteristicsDevice.cc
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  DQM/HcalTasks/python/OfflineSourceSequence_pp.py
  DataFormats/Common/src/classes_def.xml
  DataFormats/HcalDigi/BuildFile.xml
  DataFormats/HcalDigi/interface/HcalDigiHostCollection.h
  DataFormats/HcalDigi/interface/HcalDigiSoA.h
  DataFormats/HcalDigi/interface/alpaka/HcalDigiDeviceCollection.h
  DataFormats/HcalDigi/src/alpaka/classes_cuda.h
  DataFormats/HcalDigi/src/alpaka/classes_cuda_def.xml
  DataFormats/HcalDigi/src/alpaka/classes_rocm.h
  DataFormats/HcalDigi/src/alpaka/classes_rocm_def.xml
  DataFormats/HcalDigi/src/classes.cc
  DataFormats/HcalDigi/src/classes.h
  DataFormats/HcalDigi/src/classes_def.xml
  EventFilter/HcalRawToDigi/plugins/BuildFile.xml
  EventFilter/HcalRawToDigi/plugins/alpaka/HcalDigisSoAProducer.cc
  HLTrigger/Configuration/python/customizeHLTforAlpaka.py
  HeterogeneousCore/AlpakaInterface/interface/atomicMaxPair.h
  RecoLocalCalo/Configuration/python/hcalGlobalReco_cff.py
  RecoLocalCalo/Configuration/python/hcalLocalReco_cff.py
  RecoLocalCalo/HcalRecAlgos/plugins/BuildFile.xml
  RecoLocalCalo/HcalRecAlgos/plugins/alpaka/HcalRecoParamsWithPulseShapesESProducer.cc
  RecoLocalCalo/HcalRecProducers/plugins/BuildFile.xml
  RecoLocalCalo/HcalRecProducers/plugins/alpaka/HBHERecHitProducerPortable.cc
  RecoLocalCalo/HcalRecProducers/plugins/alpaka/HcalMahiConditionsESProducer.cc
  RecoLocalCalo/HcalRecProducers/plugins/alpaka/HcalMahiPulseOffsetsESProducer.cc
  RecoLocalCalo/HcalRecProducers/plugins/alpaka/HcalSiPMCharacteristicsESProducer.cc
  RecoLocalCalo/HcalRecProducers/plugins/alpaka/Mahi.dev.cc
  RecoLocalCalo/HcalRecProducers/plugins/alpaka/Mahi.h
  RecoLocalCalo/HcalRecProducers/python/hbheRecHitProducerPortableTask_cff.py
  RecoLocalCalo/HcalRecProducers/src/HcalRecHitSoAToLegacy.cc
Labels: alca-approved, core-approved, dqm-approved, hlt-approved, reconstruction-approved, simulation-approved, pending-signatures, tests-approved, pdmv-pending, db-approved, orp-approved, urgent, upgrade-approved, code-checks-approved, heterogeneous-approved, hcal

#44746 [14.0.X] store the hltobjects for Mass50 triggers
  HLTrigger/Configuration/python/customizeHLTforCMSSW.py
  HLTrigger/Egamma/plugins/HLTEgammaCombMassFilter.cc
  HLTrigger/Egamma/plugins/HLTEgammaCombMassFilter.h
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, backport-ok, egamma

#45325 fix overloaded `book1DD` method in `DQMStore`
  DQMServices/Core/interface/DQMStore.h
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#45360 Add missing header in AllocatorConfig.h [14.0.x]
  HeterogeneousCore/AlpakaInterface/interface/AllocatorConfig.h
Labels: fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, heterogeneous-approved

#45324 HCAL local reconstruction in Alpaka [14.0.x]
  CondFormats/DataRecord/interface/HcalMahiConditionsRcd.h
  CondFormats/DataRecord/src/HcalMahiConditionsRcd.cc
  CondFormats/HcalObjects/BuildFile.xml
  CondFormats/HcalObjects/interface/HcalMahiConditionsHost.h
  CondFormats/HcalObjects/interface/HcalMahiConditionsSoA.h
  CondFormats/HcalObjects/interface/HcalMahiPulseOffsetsHost.h
  CondFormats/HcalObjects/interface/HcalMahiPulseOffsetsSoA.h
  CondFormats/HcalObjects/interface/HcalRecoParamWithPulseShapeHost.h
  CondFormats/HcalObjects/interface/HcalRecoParamWithPulseShapeSoA.h
  CondFormats/HcalObjects/interface/HcalRecoParamWithPulseShapeT.h
  CondFormats/HcalObjects/interface/HcalSiPMCharacteristicsHost.h
  CondFormats/HcalObjects/interface/HcalSiPMCharacteristicsSoA.h
  CondFormats/HcalObjects/interface/alpaka/HcalMahiConditionsDevice.h
  CondFormats/HcalObjects/interface/alpaka/HcalMahiPulseOffsetsDevice.h
  CondFormats/HcalObjects/interface/alpaka/HcalRecoParamWithPulseShapeDevice.h
  CondFormats/HcalObjects/interface/alpaka/HcalSiPMCharacteristicsDevice.h
  CondFormats/HcalObjects/src/ES_HcalMahiConditionsHost.cc
  CondFormats/HcalObjects/src/ES_HcalMahiPulseOffsetsHost.cc
  CondFormats/HcalObjects/src/ES_HcalRecoParamWithPulseShapeHost.cc
  CondFormats/HcalObjects/src/ES_HcalSiPMCharacteristicsHost.cc
  CondFormats/HcalObjects/src/alpaka/ES_HcalMahiConditionDevice.cc
  CondFormats/HcalObjects/src/alpaka/ES_HcalMahiPulseOffsetsDevice.cc
  CondFormats/HcalObjects/src/alpaka/ES_HcalRecoParamWithPulseShapeDevice.cc
  CondFormats/HcalObjects/src/alpaka/ES_HcalSiPMCharacteristicsDevice.cc
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  DQM/HcalTasks/python/OfflineSourceSequence_pp.py
  DataFormats/Common/src/classes_def.xml
  DataFormats/HcalDigi/BuildFile.xml
  DataFormats/HcalDigi/interface/HcalDigiHostCollection.h
  DataFormats/HcalDigi/interface/HcalDigiSoA.h
  DataFormats/HcalDigi/interface/alpaka/HcalDigiDeviceCollection.h
  DataFormats/HcalDigi/src/alpaka/classes_cuda.h
  DataFormats/HcalDigi/src/alpaka/classes_cuda_def.xml
  DataFormats/HcalDigi/src/alpaka/classes_rocm.h
  DataFormats/HcalDigi/src/alpaka/classes_rocm_def.xml
  DataFormats/HcalDigi/src/classes.cc
  DataFormats/HcalDigi/src/classes.h
  DataFormats/HcalDigi/src/classes_def.xml
  EventFilter/HcalRawToDigi/plugins/BuildFile.xml
  EventFilter/HcalRawToDigi/plugins/alpaka/HcalDigisSoAProducer.cc
  HLTrigger/Configuration/python/customizeHLTforAlpaka.py
  HeterogeneousCore/AlpakaInterface/interface/atomicMaxPair.h
  RecoLocalCalo/Configuration/python/hcalGlobalReco_cff.py
  RecoLocalCalo/Configuration/python/hcalLocalReco_cff.py
  RecoLocalCalo/HcalRecAlgos/plugins/BuildFile.xml
  RecoLocalCalo/HcalRecAlgos/plugins/alpaka/HcalRecoParamsWithPulseShapesESProducer.cc
  RecoLocalCalo/HcalRecProducers/plugins/BuildFile.xml
  RecoLocalCalo/HcalRecProducers/plugins/alpaka/HBHERecHitProducerPortable.cc
  RecoLocalCalo/HcalRecProducers/plugins/alpaka/HcalMahiConditionsESProducer.cc
  RecoLocalCalo/HcalRecProducers/plugins/alpaka/HcalMahiPulseOffsetsESProducer.cc
  RecoLocalCalo/HcalRecProducers/plugins/alpaka/HcalSiPMCharacteristicsESProducer.cc
  RecoLocalCalo/HcalRecProducers/plugins/alpaka/Mahi.dev.cc
  RecoLocalCalo/HcalRecProducers/plugins/alpaka/Mahi.h
  RecoLocalCalo/HcalRecProducers/python/hbheRecHitProducerPortableTask_cff.py
  RecoLocalCalo/HcalRecProducers/src/HcalRecHitSoAToLegacy.cc
Labels: alca-approved, core-approved, dqm-approved, hlt-approved, reconstruction-approved, simulation-approved, pending-signatures, tests-approved, pdmv-pending, db-approved, orp-approved, urgent, upgrade-approved, backport-ok, heterogeneous-approved, hcal, hlt-integration

#45367 Fix HepMC3 conversion on MC without event weights (particle guns)
  GeneratorInterface/RivetInterface/plugins/GenParticles2HepMCConverter.cc
  GeneratorInterface/RivetInterface/test/BuildFile.xml
  GeneratorInterface/RivetInterface/test/particleLevel_fromPtGun_cfg.py
Labels: generators-pending, pending-signatures, tests-approved, orp-approved, urgent, code-checks-approved

#45369 Update to remove per bx roc data - 14_0_X
  DataFormats/Luminosity/interface/PixelClusterCounts.h
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, backport-ok, lumi

#45134 Monopole SKIM preparation for Run 3
  Configuration/Skimming/python/PDWG_EXOMONOPOLE_cff.py
  Configuration/Skimming/python/autoSkim.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, code-checks-approved

#45354 Phase2-hgx358 Modify the silicon part of the V19 version of HGCal geometry using the new flat file information
  Geometry/HGCalCommonData/data/hgcalConsData/v19/hgcalConsData.xml
  Geometry/HGCalCommonData/data/hgcalEE/v19/hgcalEE.xml
  Geometry/HGCalCommonData/data/hgcalHEmix/v19/hgcalHEmix.xml
  Geometry/HGCalCommonData/data/hgcalHEsil/v19/hgcalHEsil.xml
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#43186 Add new SimBeamSpotHLLHC CondFormat
  CondCore/BeamSpotPlugins/interface/BeamSpotPayloadInspectorHelper.h
  CondCore/BeamSpotPlugins/plugins/BuildFile.xml
  CondCore/BeamSpotPlugins/plugins/SimBeamSpotHLLHC_PayloadInspector.cc
  CondCore/BeamSpotPlugins/src/plugin.cc
  CondCore/BeamSpotPlugins/test/testBeamSpotPayloadInspector.cpp
  CondCore/Utilities/plugins/Module_2XML.cc
  CondCore/Utilities/src/CondDBFetch.cc
  CondCore/Utilities/src/CondDBImport.cc
  CondCore/Utilities/src/CondFormats.h
  CondFormats/BeamSpotObjects/interface/SimBeamSpotHLLHCObjects.h
  CondFormats/BeamSpotObjects/src/SimBeamSpotHLLHCObjects.cc
  CondFormats/BeamSpotObjects/src/T_EventSetup_SimBeamSpotHLLHCObjects.cc
  CondFormats/BeamSpotObjects/src/classes_def.xml
  CondFormats/BeamSpotObjects/src/headers.h
  CondFormats/BeamSpotObjects/test/testSerializationBeamSpotObjects.cpp
  CondFormats/DataRecord/interface/SimBeamSpotHLLHCObjectsRcd.h
  CondFormats/DataRecord/src/SimBeamSpotHLLHCObjectsRcd.cc
  CondTools/BeamSpot/plugins/BeamProfileHLLHC2DBReader.cc
  CondTools/BeamSpot/plugins/BeamProfileHLLHC2DBWriter.cc
  CondTools/BeamSpot/test/BeamProfileHLLHC2DBReader_cfg.py
  CondTools/BeamSpot/test/BeamProfileHLLHC2DBWriter_cfg.py
  CondTools/BeamSpot/test/testReadWriteBeamSpotsFromDB.sh
  Configuration/StandardSequences/python/VtxSmeared.py
  IOMC/EventVertexGenerators/interface/HLLHCEvtVtxGenerator.h
  IOMC/EventVertexGenerators/python/VtxSmearedHLLHCCrabKissing14TeV_cfi.py
  IOMC/EventVertexGenerators/python/VtxSmearedHLLHCCrabKissing_cfi.py
  IOMC/EventVertexGenerators/python/VtxSmearedParameters_cfi.py
  IOMC/EventVertexGenerators/src/HLLHCEvtVtxGenerator.cc
Labels: alca-approved, operations-approved, simulation-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, tracking

#45363 Update dEdx settings for HIN UPC MiniAOD
  PhysicsTools/PatAlgos/plugins/DeDxEstimatorRekeyer.cc
  PhysicsTools/PatAlgos/python/slimming/MicroEventContent_cff.py
  PhysicsTools/PatAlgos/python/slimming/isolatedTracks_cfi.py
  PhysicsTools/PatAlgos/python/slimming/slimming_cff.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#45357 Add GEN-SIM information to resonant di-muon TkAl ALCARECO producers
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlDiMuonAndVertex_Output_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlDiMuonAndVertex_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlJpsiMuMu_Output_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlJpsiMuMu_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlUpsilonMuMu_Output_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlUpsilonMuMu_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlZMuMu_Output_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlZMuMu_cff.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45385 `ObjectSelectorBase` add option to not throw on missing input
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlDiMuonAndVertex_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlJpsiMuMu_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlUpsilonMuMu_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlZMuMu_cff.py
  CommonTools/UtilAlgos/interface/ObjectSelectorBase.h
Labels: alca-approved, reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved

#45396 [14.0.X] Add a protection for pathologic cases in MuonBeamspotConstraintValueMapProducer
  RecoMuon/GlobalTrackingTools/plugins/MuonBeamspotConstraintValueMapProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved

#45304 CTPPS validation: workaround for -O3 ASAN compilation issue
  Validation/CTPPS/plugins/CTPPSProtonReconstructionPlotter.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45343 Update of MTD validation: 4D vertices association with truth
  Validation/MtdValidation/plugins/Primary4DVertexValidation.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45364 Phase2-hgx358A Fix a bug in the conversion code for HGCal scintillator xml files
  Geometry/HGCalCommonData/test/HGCalConvert.cpp
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#45365 Phase2-hgx358B Modify the name of the class HGCPassive to HGCalTBPassive to separate the names of TB and non-TB classes of HGCal
  Geometry/HGCalTBCommonData/python/testTB181V0XML_cfi.py
  Geometry/HGCalTBCommonData/python/testTB181V1XML_cfi.py
  Geometry/HGCalTBCommonData/python/testTB181V2XML_cfi.py
  Geometry/HGCalTBCommonData/python/testTB181XML_cfi.py
  SimG4CMS/HGCalTestBeam/plugins/HGCalTBPassive.cc
  SimG4CMS/HGCalTestBeam/test/HGCalTBCERN170_cfg.py
  SimG4CMS/HGCalTestBeam/test/HGCalTBCERN181Oct1DD4hep_cfg.py
  SimG4CMS/HGCalTestBeam/test/HGCalTBCERN181Oct1PC1mm_cfg.py
  SimG4CMS/HGCalTestBeam/test/HGCalTBCERN181Oct1_cfg.py
  SimG4CMS/HGCalTestBeam/test/HGCalTBCERN181Oct1el100_cfg.py
  SimG4CMS/HGCalTestBeam/test/HGCalTBCERN181Oct2_cfg.py
  SimG4CMS/HGCalTestBeam/test/HGCalTBCERN181Oct3_cfg.py
  SimG4CMS/HGCalTestBeam/test/HGCalTBCERN181Oct4_cfg.py
Labels: geometry-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#45378 Run3-alca247D Avoid potential memory leakage comments in the declaration of new histograms
  Calibration/HcalCalibAlgos/macros/CalibFitPlots.C
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45382 Phase2-hgx358D Correct the XML file for scintillators in the V19 description of HGCal geometry
  Geometry/HGCalCommonData/data/hgcalConsData/v19/hgcalConsData.xml
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#45383 Phase2-hgx358E Update the DetId for HGCal scintillator in view of changes for the V19 version of HGCal geometry
  DataFormats/ForwardDetId/interface/HGCScintillatorDetId.h
  DataFormats/ForwardDetId/src/HGCScintillatorDetId.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#45386 Updated EcalUncalibRecHitTimingCCAlgo to correct for bias at high energies
  RecoLocalCalo/EcalRecAlgos/interface/EcalUncalibRecHitTimingCCAlgo.h
  RecoLocalCalo/EcalRecAlgos/src/EcalUncalibRecHitTimingCCAlgo.cc
  RecoLocalCalo/EcalRecProducers/plugins/EcalUncalibRecHitWorkerMultiFit.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, ecal

#45389 Update GTs and modifiers for L1T 2024 menu L1Menu_Collisions2024_v1_3_0_xml
  Configuration/AlCa/python/autoCond.py
  Configuration/AlCa/python/autoCondModifiers.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45393 Catch VertexException in PATLeptonTimeLifeInfoProducer when fitVertex fails
  PhysicsTools/PatAlgos/plugins/PATLeptonTimeLifeInfoProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#45399 fix syntax error in TTStub.h
  DataFormats/L1TrackTrigger/interface/TTStub.h
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#45373 Update HLTPixelTrackFilter to store candidates
  HLTrigger/special/plugins/HLTPixelTrackFilter.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45368 Fix CachingAllocator debug for non-async operations
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  HeterogeneousCore/AlpakaCore/README.md
  HeterogeneousCore/AlpakaInterface/interface/CachingAllocator.h
  HeterogeneousCore/AlpakaServices/python/customiseAlpakaServiceMemoryFilling.py
Labels: fully-signed, tests-approved, pdmv-approved, bug-fix, orp-approved, upgrade-approved, code-checks-approved, heterogeneous-approved

#45128 [14_0_X] Monopole SKIM updates for Run 3
  Configuration/Skimming/python/PDWG_EXOMONOPOLE_cff.py
  Configuration/Skimming/python/autoSkim.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved

#45394 [14_0_X] Catch VertexException in PATLeptonTimeLifeInfoProducer when fitVertex fails
  PhysicsTools/PatAlgos/plugins/PATLeptonTimeLifeInfoProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, xpog-approved

#45379 Update the GPU alpaka workflows
  Configuration/PyReleaseValidation/python/relval_gpu.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#45387 New SimBeamSpotHLLHC tags in Phase-2 MC GT and make Phase-2 workflows consume it
  Configuration/AlCa/python/autoCond.py
  Configuration/AlCa/python/autoCondModifiers.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/StandardSequences/python/VtxSmeared.py
  IOMC/EventVertexGenerators/python/VtxSmearedRealisticHLLHC_cfi.py
Labels: alca-approved, operations-approved, simulation-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#45388 Backport to 14_0_X of PR#45386 "Updated EcalUncalibRecHitTimingCCAlgo to correct for bias at high energies"
  RecoLocalCalo/EcalRecAlgos/interface/EcalUncalibRecHitTimingCCAlgo.h
  RecoLocalCalo/EcalRecAlgos/src/EcalUncalibRecHitTimingCCAlgo.cc
  RecoLocalCalo/EcalRecProducers/plugins/EcalUncalibRecHitWorkerMultiFit.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, ecal

#45285 Add a test for the dependency on host-only types from alpaka libraries
  HeterogeneousCore/AlpakaTest/BuildFile.xml
  HeterogeneousCore/AlpakaTest/interface/HostOnlyType.h
  HeterogeneousCore/AlpakaTest/interface/alpaka/printAnswer.h
  HeterogeneousCore/AlpakaTest/src/HostOnlyType.cc
  HeterogeneousCore/AlpakaTest/src/alpaka/printAnswer.cc
  HeterogeneousCore/AlpakaTest/test/BuildFile.xml
  HeterogeneousCore/AlpakaTest/test/alpaka/printAnswer.cpp
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#45327 Update RemoteFile::local
  Utilities/StorageFactory/src/RemoteFile.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45350 L1 Scouting Online Selection modules
  EventFilter/L1ScoutingRawToDigi/plugins/ScBMTFRawToDigi.cc
  L1TriggerScouting/OnlineProcessing/BuildFile.xml
  L1TriggerScouting/OnlineProcessing/plugins/BuildFile.xml
  L1TriggerScouting/OnlineProcessing/plugins/FinalBxSelector.cc
  L1TriggerScouting/OnlineProcessing/plugins/JetBxSelector.cc
  L1TriggerScouting/OnlineProcessing/plugins/MaskOrbitBx.cc
  L1TriggerScouting/OnlineProcessing/plugins/MuBxSelector.cc
  L1TriggerScouting/OnlineProcessing/plugins/MuTagJetBxSelector.cc
  L1TriggerScouting/OnlineProcessing/test/L1ScoutingSelector.py
Labels: daq-approved, l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45381 Add 2023 and 2024 TT PU Prodlike in relval_2017
  Configuration/PyReleaseValidation/python/relval_2017.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#45402 Avoid releasing WaitingTask too early in case of exception in WaitingThreadPool
  FWCore/Concurrency/interface/WaitingTaskHolder.h
  FWCore/Concurrency/interface/WaitingTaskWithArenaHolder.h
  FWCore/Concurrency/interface/WaitingThreadPool.h
  FWCore/Concurrency/src/WaitingTaskWithArenaHolder.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tests-ib-failure

#45404 Add OutputModule test for TestProcessor
  FWCore/Modules/src/GetProductCheckerOutputModule.cc
  FWCore/TestProcessor/test/testprocessor_t.cppunit.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45406 Make nTS loops configurable
  DPGAnalysis/HcalNanoAOD/plugins/HcalDigiSortedTableProducer.cc
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved, hcal

#45411 Fix NanoGen with Rivet4
  PhysicsTools/NanoAOD/python/nanogen_cff.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#45418 Run3-alca247E Modify the macro for getting IsoTrack Calibration for HCAL
  Calibration/HcalCalibAlgos/macros/CalibFitPlots.C
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45425 Add SC8 jets to L1T event content
  L1Trigger/Configuration/python/L1Trigger_EventContent_cff.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45241 Herwig LHE matching fix and Matchbox relval for 13_0
  Configuration/Generator/python/DYToLL01234Jets_5FS_TuneCH3_13TeV_madgraphMLM_herwig7_cff.py
  Configuration/Generator/python/DYToLL012Jets_5FS_TuneCH3_13TeV_amcatnloFxFx_herwig7_cff.py
  Configuration/Generator/python/DYToll01234Jets_5f_LO_MLM_Madgraph_LHE_13TeV_cff.py
  Configuration/Generator/python/DY_TuneCH3_13TeV_herwig_madgraph_matchbox_cff.py
  Configuration/Generator/python/Herwig7Settings/Herwig7LHECommonSettings_cfi.py
  Configuration/Generator/python/Herwig7Settings/Herwig7MGMergingSettings_cfi.py
  Configuration/Generator/python/TT_13TeV_Pow_Herwig7_cff.py
  Configuration/Generator/python/TTbar_Pow_LHE_13TeV_cff.py
  Configuration/Generator/python/concurrentLumisDisable.py
  Configuration/PyReleaseValidation/python/relval_extendedgen.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  GeneratorInterface/Herwig7Interface/plugins/Herwig7Hadronizer.cc
  GeneratorInterface/LHEInterface/interface/LHEEvent.h
  GeneratorInterface/LHEInterface/plugins/ExternalLHEProducer.cc
  GeneratorInterface/LHEInterface/scripts/addLHEnumbers.py
  GeneratorInterface/LHEInterface/scripts/mergeLHE.py
  GeneratorInterface/LHEInterface/src/LHEEvent.cc
  GeneratorInterface/LHEInterface/src/LHEReader.cc
  SimDataFormats/GeneratorProducts/interface/LHEEventProduct.h
  SimDataFormats/GeneratorProducts/src/classes_def.xml
Labels: generators-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, changes-dataformats

#45380 Update the GPU alpaka workflows [14.0.x]
  Configuration/PyReleaseValidation/python/relval_gpu.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, backport-ok

#45391 Update GTs and modifiers for L1T 2024 menu L1Menu_Collisions2024_v1_3_0_xml [14_0_X]
  Configuration/AlCa/python/autoCond.py
  Configuration/AlCa/python/autoCondModifiers.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok

#45417 [14_0_X] Update HLTPixelTrackFilter to store candidates
  HLTrigger/special/plugins/HLTPixelTrackFilter.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, hlt-integration

#45352 Add 2024 L1T modifier & modifiers for changing BMTF quality calculation
  Configuration/Eras/python/Era_Run3_2024_cff.py
  Configuration/Eras/python/Modifier_run3_2024_L1T_cff.py
  L1Trigger/L1TMuonBarrel/interface/L1TMuonBarrelKalmanAlgo.h
  L1Trigger/L1TMuonBarrel/python/simKBmtfDigis_cfi.py
  L1Trigger/L1TMuonBarrel/src/L1TMuonBarrelKalmanAlgo.cc
Labels: l1-approved, operations-approved, fully-signed, tests-approved, orp-approved, urgent, code-checks-approved

#45449 Run3-alca248 Attach a parameter to write the content in the tree for tracks only in a given momentum range
  Calibration/HcalCalibAlgos/plugins/HcalIsoTrackAnalyzer.cc
  Calibration/HcalCalibAlgos/plugins/HcalIsoTrkAnalyzer.cc
  Calibration/HcalCalibAlgos/plugins/HcalIsoTrkSimAnalyzer.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45448 Run3-alca247F Extraction of chi2 from the measurements in IsoTrack calibration of HCAL
  Calibration/HcalCalibAlgos/macros/CalibFitPlots.C
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45442 Avoid uninitialized data in DD4Hep HGCal geometry parameters
  Geometry/HGCalCommonData/interface/HGCalParameters.h
  Geometry/HGCalCommonData/src/HGCalGeomParameters.cc
  Geometry/HGCalCommonData/src/HGCalParametersFromDD.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#45436 Phase2-sim157 Update the scripts in SimG4Core/PrintGeomInfo to handle the new scenarios
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheck2026DD4hep_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheck2026DDD_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckCalo_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckEcal_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckHGCal_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckMuon_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckNoseDDD_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckTracker_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runDD4hep2026_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runDDD2026_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runMaterialBudgeInfo2026_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runPrintG4Solids2_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runPrintG4Solids_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runPrintG4Touch2026_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runPrintSolid2026_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runSens2026_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runSummary2026_cfg.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45429 Change thresholds on LED and FEStatus Quality plots ECAL DQM
  DQM/EcalMonitorClient/interface/RawDataClient.h
  DQM/EcalMonitorClient/python/RawDataClient_cfi.py
  DQM/EcalMonitorClient/src/LedClient.cc
  DQM/EcalMonitorClient/src/RawDataClient.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45427 Add alpaka modifier to HLTHgcalTiclPFClusteringForEgammaUnseededSequence
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTHgcalTiclPFClusteringForEgammaUnseededSequence_cfi.py
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, hgcal

#45422 Updating the L1TrackObjectNtupleMaker with genJet information and using the SimVertex collection (Master)
  L1Trigger/L1TTrackMatch/test/L1TrackObjectNtupleMaker.cc
  L1Trigger/L1TTrackMatch/test/L1TrackObjectNtupleMaker_cfg.py
  L1Trigger/VertexFinder/python/l1tVertexProducer_cfi.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#45405 Include branch split level in `edmDumpEventContent --all`
  FWCore/PythonUtilities/scripts/edmDumpEventContent
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45227 Saving score as part of AXOL1TL Emulator
  DataFormats/L1TGlobal/interface/AXOL1TLScore.h
  DataFormats/L1TGlobal/src/AXOL1TLScore.cc
  DataFormats/L1TGlobal/src/classes.h
  DataFormats/L1TGlobal/src/classes_def.xml
  L1Trigger/L1TGlobal/interface/AXOL1TLCondition.h
  L1Trigger/L1TGlobal/interface/GlobalBoard.h
  L1Trigger/L1TGlobal/plugins/L1TGlobalProducer.cc
  L1Trigger/L1TGlobal/plugins/L1TGlobalProducer.h
  L1Trigger/L1TGlobal/src/AXOL1TLCondition.cc
  L1Trigger/L1TGlobal/src/GlobalBoard.cc
  L1Trigger/L1TNtuples/plugins/L1AXOTreeProducer.cc
  L1Trigger/L1TNtuples/python/L1NtupleEMU_cff.py
  L1Trigger/L1TNtuples/python/l1AXOTree_cfi.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, changes-dataformats

#45430 Change thresholds on LED and FEStatus Quality plots ECAL DQM [14_0_X]
  DQM/EcalMonitorClient/interface/RawDataClient.h
  DQM/EcalMonitorClient/python/RawDataClient_cfi.py
  DQM/EcalMonitorClient/src/LedClient.cc
  DQM/EcalMonitorClient/src/RawDataClient.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport

#45344 Create MCMultiParticleMassFilter.cc
  GeneratorInterface/GenFilters/plugins/MCMultiParticleMassFilter.cc
Labels: generators-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45461 [14_0] Add 2024 L1T modifier & modifiers for changing BMTF quality calculation
  Configuration/Eras/python/Era_Run3_2024_cff.py
  Configuration/Eras/python/Modifier_run3_2024_L1T_cff.py
  L1Trigger/L1TMuonBarrel/interface/L1TMuonBarrelKalmanAlgo.h
  L1Trigger/L1TMuonBarrel/python/simKBmtfDigis_cfi.py
  L1Trigger/L1TMuonBarrel/src/L1TMuonBarrelKalmanAlgo.cc
Labels: l1-approved, operations-approved, fully-signed, tests-approved, orp-approved, backport-ok

#45452 fix check on `shrEnergyM0TotalAccum` in HCAL-Alpaka kernel
  RecoLocalCalo/HcalRecProducers/plugins/alpaka/Mahi.dev.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, code-checks-approved, heterogeneous-approved

#45375 Phase2-gex179 Make a new scenario 2026D115 and workflow 32034.0 for a setup with HFNose and V17 geometry version of HGCal
  Configuration/Geometry/python/GeometryDD4hepExtended2026D115Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D115_cff.py
  Configuration/Geometry/python/GeometryExtended2026D115Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D115_cff.py
  Configuration/Geometry/python/dict2026Geometry.py
  Configuration/PyReleaseValidation/python/relval_2026.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  Configuration/StandardSequences/python/GeometryConf.py
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D115.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D115XML_cfi.py
Labels: geometry-approved, operations-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#45307 Update heavy-ion eras for 2024 + add MC RelVal workflows
  Configuration/Eras/python/Era_Run3_2024_UPC_cff.py
  Configuration/Eras/python/Era_Run3_2024_ppRef_cff.py
  Configuration/Eras/python/Era_Run3_pp_on_PbPb_2024_cff.py
  Configuration/Eras/python/Era_Run3_pp_on_PbPb_approxSiStripClusters_2024_cff.py
  Configuration/Eras/python/Modifier_pp_on_PbPb_run3_2024_cff.py
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/StandardSequences/python/Eras.py
  SimCalorimetry/HcalTrigPrimProducers/python/hcaltpdigi_cff.py
  SimG4Core/Application/python/g4SimHits_cfi.py
Labels: l1-approved, operations-approved, simulation-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#45465 (DAQ) Add WatcherSource (ECAL) to DAQ output file unit tests
  EventFilter/Utilities/test/RunBUFU.sh
  EventFilter/Utilities/test/testECALCalib_cfg.py
Labels: daq-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45428 Fixes for CLANG_X+CPP20
  GeneratorInterface/LHEInterface/src/LHERunInfo.cc
  RecoTracker/FinalTrackSelectors/interface/TrackMVAClassifier.h
Labels: generators-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#45366 Phase2-hgx358C Add a few new modes to enable cog computation for wafers as default for the future V19 version of HGCal
  Geometry/HGCalCommonData/data/hgcalCons/v19/hgcalCons.xml
  Geometry/HGCalCommonData/interface/HGCalDDDConstants.h
  Geometry/HGCalCommonData/interface/HGCalGeometryMode.h
  Geometry/HGCalCommonData/src/HGCalDDDConstants.cc
  Geometry/HGCalCommonData/src/HGCalGeometryMode.cc
  Geometry/HGCalCommonData/test/HGCalNumberingTester.cc
  Geometry/HGCalCommonData/test/HGCalPartialIDTester.cc
  Geometry/HGCalCommonData/test/HGCalPartialWaferTester.cc
  Geometry/HGCalCommonData/test/HGCalValidityTester.cc
  Geometry/HGCalGeometry/interface/HGCalGeometry.h
  Geometry/HGCalGeometry/src/HGCalGeometry.cc
  SimCalorimetry/HGCalSimAlgos/interface/HGCalSiNoiseMap.icc
  SimG4CMS/Calo/src/HFNoseNumberingScheme.cc
  SimG4CMS/Calo/src/HGCalNumberingScheme.cc
  Validation/HGCalValidation/plugins/HGCGeometryValidation.cc
  Validation/HGCalValidation/plugins/HGCalSimHitStudy.cc
  Validation/HGCalValidation/plugins/HGCalSimHitValidation.cc
  Validation/HGCalValidation/test/HGCHitValidation.cc
  Validation/HGCalValidation/test/HGCalWaferStudy.cc
Labels: dqm-approved, geometry-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#45446 Store track momentum at hit for PbPb UPC dEdX calibration
  PhysicsTools/PatAlgos/plugins/DeDxEstimatorRekeyer.cc
  RecoTracker/DeDx/plugins/DeDxEstimatorProducer.cc
  RecoTracker/DeDx/plugins/DeDxHitInfoProducer.cc
  RecoTracker/DeDx/python/dedxEstimators_cff.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved, tracking

#45470 Use uncorrected H/E for electron energy regressions
  RecoEgamma/EgammaTools/plugins/EGRegressionModifierV3.cc
  RecoEgamma/EgammaTools/python/regressionModifier_cfi.py
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, egamma

#45453 fix check on `shrEnergyM0TotalAccum` in HCAL-Alpaka kernel [`14_0_X`]
  RecoLocalCalo/HcalRecProducers/plugins/alpaka/Mahi.dev.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok, heterogeneous-approved

#45471 Fix pixel CPE poisition
  DataFormats/TrackingRecHitSoA/BuildFile.xml
  DataFormats/TrackingRecHitSoA/interface/TrackingRecHitsSoA.h
  RecoLocalTracker/SiPixelRecHits/interface/pixelCPEforDevice.h
  RecoTracker/PixelSeeding/plugins/alpaka/CAPixelDoubletsAlgos.h
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, heterogeneous-approved, tracking, trk

#45447 Phase2-hgx359D Modify the remaining test scripts in Validation/HGCalValidation for the changed phase2 scenarios
  Validation/HGCalValidation/test/python/standalone_fromRECO.py
  Validation/HGCalValidation/test/python/standalone_fromRECO_HARVESTING.py
  Validation/HGCalValidation/test/python/standalone_onlyTICL_HARVESTING.py
  Validation/HGCalValidation/test/python/standalone_onlyTICL_fromRECO.py
  Validation/HGCalValidation/test/python/testHFNoseSimHitStudy_cfg.py
  Validation/HGCalValidation/test/python/testHGCalBHValid_cfg.py
  Validation/HGCalValidation/test/python/testHGCalSimHitStudy_cfg.py
  Validation/HGCalValidation/test/python/testHGCalSimWatcherV16_cfg.py
  Validation/HGCalValidation/test/python/testHGCalSimWatcherV17_cfg.py
  Validation/HGCalValidation/test/python/testHGCalWaferValidation_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45445 Phase2-hgx359C Make several updates to the configuration files in Validation/HGCalValidation/test/python in view of updates of Phase2 scenarios
  Validation/HGCalValidation/test/python/runHGCGeomCheck_cfg.py
  Validation/HGCalValidation/test/python/runHGCHitAnalyzer_cfg.py
  Validation/HGCalValidation/test/python/runHGCMissingRecHit_cfg.py
  Validation/HGCalValidation/test/python/runHGCalDigiStudy_cfg.py
  Validation/HGCalValidation/test/python/runHGCalHitCalibration_cfg.py
  Validation/HGCalValidation/test/python/runHGCalRecHitStudy_cfg.py
  Validation/HGCalValidation/test/python/runHGCalSimHitStudy_cfg.py
  Validation/HGCalValidation/test/python/runHGCalWaferHitCheck_cfg.py
  Validation/HGCalValidation/test/python/runHGCalWaferStudy_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45444 Phase2-hgx359B Update the cfg files in Validation/Geometry in view of recent updates of the scenarios
  Validation/Geometry/test/runMaterialBudgetHFNose_cfg.py
  Validation/Geometry/test/runMaterialBudgetVolume2026DD4hep_cfg.py
  Validation/Geometry/test/runMaterialBudgetVolume2026DDD_cfg.py
  Validation/Geometry/test/runMaterialBudgetVolumeXML_cfg.py
  Validation/Geometry/test/runP_HGCal_cfg.py
Labels: dqm-approved, geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45437 Phase2-hgx359A Modify some of the scripts in Validation/HGCalValidation/test/python to be in line with the current defaults of scenarios
  Validation/HGCalValidation/test/python/digiClient_cfg.py
  Validation/HGCalValidation/test/python/digiValidation_cfg.py
  Validation/HGCalValidation/test/python/protoHGCalSimWatcher_cfg.py
  Validation/HGCalValidation/test/python/protoSimValid_cfg.py
  Validation/HGCalValidation/test/python/protoValid_cfg.py
  Validation/HGCalValidation/test/python/recHitClient_cfg.py
  Validation/HGCalValidation/test/python/rechitValidation_cfg.py
  Validation/HGCalValidation/test/python/simHitClient_cfg.py
  Validation/HGCalValidation/test/python/simHitValidation_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45409 Explicitly initialize bTag
  HLTriggerOffline/Higgs/plugins/MatchStruct.h
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45481 [L1] Fix Warnings: Remove unused variables
  L1Trigger/Phase2L1GMT/plugins/Phase2L1TGMTStubProducer.cc
  L1Trigger/Phase2L1GMT/src/KMTFCore.cc
  L1Trigger/Phase2L1GMT/src/L1TPhase2GMTBarrelStubProcessor.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#45496 [Fireworks] Remove unused variables
  Fireworks/Core/src/FWTableView.cc
  Fireworks/Core/src/FWTriggerTableView.cc
Labels: visualization-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45491 DTSegmentCand: Fix ambiguous-reversed-operator warning by using const operator
  RecoLocalMuon/DTSegment/src/DTSegmentCand.cc
  RecoLocalMuon/DTSegment/src/DTSegmentCand.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45488 Use max instead if infinity which hasundefined behavior
  DataFormats/EgammaReco/interface/ElectronSeed.h
  DataFormats/Math/interface/approx_log.h
  RecoEgamma/EgammaElectronAlgos/src/ElectronSeedGenerator.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45482 [DQM] Fix Warning: move the unused code in the comment where it is needed
  DQM/EcalMonitorClient/src/LedClient.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#45468 Make Pythia8 Photon Flux more configurable.
  Configuration/Generator/python/Pythia8PhotonFluxSettings_cfi.py
  Configuration/Generator/python/Pythia8_GammaNucleus_5p36TeV_cfi.py
  GeneratorInterface/Pythia8Interface/plugins/Pythia8Hadronizer.cc
  GeneratorInterface/Pythia8Interface/test/pythia8ex2_ConvertToMain70_cfg.py
  GeneratorInterface/Pythia8Interface/test/pythia8ex2_ConvertToMain70_cfg_Fragment.py
Labels: generators-approved, fully-signed, tests-approved, orp-approved, backport-ok

#45435 Added tracer viewer server helper script
  FWCore/Services/scripts/edmTracerCompactLogViewer.py
  FWCore/Services/web/README.md
  FWCore/Services/web/edmMakeTracerViewerServer.py
  FWCore/Services/web/index.html
  FWCore/Services/web/server.py
  FWCore/Services/web/transitions.js
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45485 Renamed file to avoid problems on case insensitive file systems
  Validation/HGCalValidation/macros/makePlots.C
  Validation/HGCalValidation/macros/makePlotsCalib.C
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45489 GEM onlineDQM trigger primitive with CMSSW_14_1_0_pre5
  DQM/GEM/interface/GEMDQMBase.h
  DQM/GEM/interface/GEMPadDigiClusterSource.h
  DQM/GEM/plugins/GEMPadDigiClusterSource.cc
  DQM/GEM/python/GEMDQM_cff.py
  DQM/GEM/src/GEMDQMBase.cc
  DQM/Integration/python/clients/gem_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45492 [clang][c++20] Fixed ambiguous-reversed-operator for PixelModuleName
  DataFormats/SiPixelDetId/interface/PixelBarrelNameUpgrade.h
  DataFormats/SiPixelDetId/interface/PixelEndcapNameUpgrade.h
  DataFormats/SiPixelDetId/src/PixelBarrelNameUpgrade.cc
  DataFormats/SiPixelDetId/src/PixelEndcapNameUpgrade.cc
  DataFormats/TrackerCommon/interface/PixelBarrelName.h
  DataFormats/TrackerCommon/interface/PixelEndcapName.h
  DataFormats/TrackerCommon/src/PixelBarrelName.cc
  DataFormats/TrackerCommon/src/PixelEndcapName.cc
Labels: reconstruction-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking, trk

#45493 Cond: Remove unused variables
  CondCore/CondDB/src/DecodingKey.cc
  CondTools/RunInfo/src/RunInfoRead.cc
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#45495 [CLANG] Phase2L1GT: Fix compilation warnings
  L1Trigger/Phase2L1GT/plugins/L1GTAlgoBlockProducer.cc
  L1Trigger/Phase2L1GT/plugins/L1GTOutputObjectWriter.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#45507 TestDQMOfflineConfigurationGotAll: increase the number of considered DQM seqs
  DQMOffline/Configuration/test/BuildFile.xml
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45494 [14.0.X][DQM] Fix Warning: move the unused code in the comment where it is needed
  DQM/EcalMonitorClient/src/LedClient.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#45523 [clang][cpp20] Fix ambiguous-reversed-operator in ProductResolverIndexAndSkipBit
  FWCore/Framework/interface/ProductResolverIndexAndSkipBit.h
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45522 [clang][cpp20] Fixed ambiguous-reversed-operator for LinearizedTrackState
  RecoVertex/GaussianSumVertexFit/interface/PerigeeMultiLTS.h
  RecoVertex/GaussianSumVertexFit/src/PerigeeMultiLTS.cc
  RecoVertex/KinematicFitPrimitives/interface/ParticleKinematicLinearizedTrackState.h
  RecoVertex/KinematicFitPrimitives/src/ParticleKinematicLinearizedTrackState.cc
  RecoVertex/VertexPrimitives/interface/LinearizedTrackState.h
  RecoVertex/VertexTools/interface/PerigeeLinearizedTrackState.h
  RecoVertex/VertexTools/src/PerigeeLinearizedTrackState.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#45518 Phase2-hgx359E Make a few bug fixes before proceeding with V19 version
  Geometry/HGCalCommonData/src/HGCalParametersFromDD.cc
  Geometry/HGCalCommonData/test/HGCalConvert.cpp
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#45459 Initialize variable in ComparatorCodeLUT
  L1Trigger/CSCTriggerPrimitives/interface/ComparatorCodeLUT.h
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45443 Added TestSourceProcessor helper
  FWCore/TestProcessor/interface/EventFromSource.h
  FWCore/TestProcessor/interface/LuminosityBlockFromSource.h
  FWCore/TestProcessor/interface/RunFromSource.h
  FWCore/TestProcessor/interface/TestProcessor.h
  FWCore/TestProcessor/interface/TestSourceProcessor.h
  FWCore/TestProcessor/python/TestProcess.py
  FWCore/TestProcessor/python/TestSourceProcess.py
  FWCore/TestProcessor/src/TestProcessor.cc
  FWCore/TestProcessor/src/TestSourceProcessor.cc
  FWCore/TestProcessor/src/oneTimeInitialization.cc
  FWCore/TestProcessor/src/oneTimeInitialization.h
  FWCore/TestProcessor/test/BuildFile.xml
  FWCore/TestProcessor/test/testsourceprocessor_t.cppunit.cc
  IOPool/Common/test/BuildFile.xml
  IOPool/Common/test/test_catch2_main.cc
  IOPool/Common/test/test_catch2_output2input.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45440 Add L1Ntupler for NanoDST
  L1Trigger/L1TNtuples/python/L1NtupleNanoDST_cff.py
  L1Trigger/L1TNtuples/python/customiseL1Ntuple.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45240 Cleanup MINI/NANO modifiers
  Configuration/Eras/python/Modifier_run2_miniAOD_80XLegacy_cff.py
  Configuration/Eras/python/Modifier_run2_miniAOD_94XFall17_cff.py
  Configuration/Eras/python/Modifier_run2_miniAOD_devel_cff.py
  Configuration/Eras/python/Modifier_run3_miniAOD_12X_cff.py
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/scripts/runTheMatrix.py
  Configuration/StandardSequences/python/Eras.py
  DQMOffline/RecoB/python/bTagMiniDQM_cff.py
  PhysicsTools/NanoAOD/python/custom_jme_cff.py
  PhysicsTools/NanoAOD/python/jetsAK4_CHS_cff.py
  PhysicsTools/PatAlgos/python/producersLayer1/jetProducer_cff.py
  PhysicsTools/PatAlgos/python/producersLayer1/lowPtElectronProducer_cff.py
  PhysicsTools/PatAlgos/python/producersLayer1/ootPhotonProducer_cff.py
  PhysicsTools/PatAlgos/python/producersLayer1/patCandidates_cff.py
  PhysicsTools/PatAlgos/python/selectionLayer1/lowPtElectronSelector_cfi.py
  PhysicsTools/PatAlgos/python/selectionLayer1/selectedPatCandidates_cff.py
  PhysicsTools/PatAlgos/python/slimming/applySubstructure_cff.py
  PhysicsTools/PatAlgos/python/slimming/miniAOD_tools.py
  PhysicsTools/PatAlgos/python/slimming/packedPFCandidates_cfi.py
  PhysicsTools/PatAlgos/python/slimming/slimmedMuons_cfi.py
  PhysicsTools/PatAlgos/python/slimming/slimmedTrackExtras_cff.py
  PhysicsTools/PatAlgos/python/slimming/slimming_cff.py
  RecoBTag/PixelCluster/python/pixelClusterTagInfos_cfi.py
  RecoEcal/EgammaClusterProducers/python/particleFlowSuperClusterOOTECAL_cff.py
  RecoEgamma/EgammaPhotonProducers/python/ootPhotonSequence_cff.py
  RecoEgamma/EgammaPhotonProducers/python/ootPhotons_cff.py
  RecoEgamma/EgammaPhotonProducers/python/reducedEgamma_cfi.py
  RecoEgamma/EgammaTools/python/calibratedEgammas_cff.py
  RecoEgamma/EgammaTools/python/egammaObjectModificationsInMiniAOD_cff.py
  RecoEgamma/EgammaTools/python/gedGsfElectronsTo106X_cff.py
  RecoJets/JetProducers/python/PileupJetID_cfi.py
  RecoPPS/Local/python/ctppsLocalTrackLiteProducer_cff.py
  RecoParticleFlow/PFClusterProducer/python/particleFlowClusterOOTECAL_cff.py
  RecoParticleFlow/PFClusterProducer/python/particleFlowRecHitOOTECAL_cff.py
  RecoParticleFlow/PFClusterProducer/python/particleFlowRecHitPS_cfi.py
Labels: dqm-approved, operations-approved, reconstruction-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved, xpog-approved, tracking, egamma, jetmet

#45419 Update nano relval matrix
  Configuration/Applications/python/ConfigBuilder.py
  Configuration/PyReleaseValidation/python/relval_generator.py
  Configuration/PyReleaseValidation/python/relval_nano.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/PyReleaseValidation/scripts/README.md
  Configuration/PyReleaseValidation/scripts/runTheMatrix.py
  PhysicsTools/NanoAOD/python/NanoAODEDMEventContent_cff.py
  PhysicsTools/NanoAOD/python/autoNANO.py
  PhysicsTools/NanoAOD/python/nanogen_cff.py
Labels: operations-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved, xpog-approved

#45451 [14_0_X] L1 Scouting Online Selection modules
  EventFilter/L1ScoutingRawToDigi/plugins/ScBMTFRawToDigi.cc
  L1TriggerScouting/OnlineProcessing/BuildFile.xml
  L1TriggerScouting/OnlineProcessing/plugins/BuildFile.xml
  L1TriggerScouting/OnlineProcessing/plugins/FinalBxSelector.cc
  L1TriggerScouting/OnlineProcessing/plugins/JetBxSelector.cc
  L1TriggerScouting/OnlineProcessing/plugins/MaskOrbitBx.cc
  L1TriggerScouting/OnlineProcessing/plugins/MuBxSelector.cc
  L1TriggerScouting/OnlineProcessing/plugins/MuTagJetBxSelector.cc
  L1TriggerScouting/OnlineProcessing/test/L1ScoutingSelector.py
Labels: daq-approved, l1-approved, fully-signed, tests-approved, orp-approved

#45431 [14_0_X] Avoid releasing WaitingTask too early in case of exception in WaitingThreadPool
  FWCore/Concurrency/interface/WaitingTaskHolder.h
  FWCore/Concurrency/interface/WaitingTaskWithArenaHolder.h
  FWCore/Concurrency/interface/WaitingThreadPool.h
  FWCore/Concurrency/src/WaitingTaskWithArenaHolder.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, backport-ok

#45499 [10_6_X] Use singularity for gridpack generation
  GeneratorInterface/LHEInterface/data/run_generic_tarball_cvmfs.sh
Labels: generators-approved, fully-signed, tests-approved, orp-approved, backport-ok

#45467 Fix compatibility with FMT 10
  DQM/SiPixelHeterogeneous/plugins/SiPixelPhase1RawDataErrorComparator.cc
  SimCalorimetry/HGCalAssociatorProducers/plugins/SimTauCPLinkProducer.cc
Labels: dqm-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, trk

#45542 Fix Wnan-infinity-disabled warnings in RecoTracker/PixelSeeding
  RecoTracker/PixelSeeding/plugins/CAHitNtupletGeneratorKernelsImpl.h
  RecoTracker/PixelSeeding/plugins/alpaka/CAHitNtupletGeneratorKernelsImpl.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking, tests-external-failure

#45560 Mark `ScopedContextAcquire` destructor as `noexcept(false)`
  HeterogeneousCore/CUDACore/interface/ScopedContext.h
  HeterogeneousCore/CUDACore/src/ScopedContext.cc
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#45546 Mark all Fireworks dictionaries as transient
  Fireworks/Core/src/classes_def.xml
  Fireworks/Eve/src/classes_def.xml
  Fireworks/FWInterface/src/classes_def.xml
  Fireworks/TableWidget/src/classes_def.xml
  Fireworks/Vertices/src/classes_def.xml
Labels: visualization-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tests-ib-failure

#45545 Mark dictionaries defined in OnlineDB/EcalCondDB as transient
  OnlineDB/EcalCondDB/src/classes_def.xml
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, tests-ib-failure

#45460 Initialize variables in tmtt::Settings
  L1Trigger/TrackFindingTMTT/interface/Settings.h
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45547 Add D98 DD4hep workflow for monitoring the instability
  Configuration/PyReleaseValidation/python/relval_2026.py
  Configuration/PyReleaseValidation/scripts/runTheMatrix.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#45533 Update processing string of D110 in runTheMatrix
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, requires-external, code-checks-approved

#45551 Remove redundant dictionary definition in DataFormats/HGCRecHit
  DataFormats/HGCRecHit/src/classes_def.xml
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, tests-ib-failure

#45529 Phase2-hgx359F Modify the XML files in view of updates to the V19 version of HGCal geometry
  Geometry/HGCalCommonData/data/hgcal/v16/hgcal.xml
  Geometry/HGCalCommonData/data/hgcal/v17/hgcal.xml
  Geometry/HGCalCommonData/data/hgcal/v17ng/hgcal.xml
  Geometry/HGCalCommonData/data/hgcal/v18/hgcal.xml
  Geometry/HGCalCommonData/data/hgcal/v18ng/hgcal.xml
  Geometry/HGCalCommonData/data/hgcal/v19/hgcal.xml
  Geometry/HGCalCommonData/data/hgcalCons/v16/hgcalCons.xml
  Geometry/HGCalCommonData/data/hgcalCons/v17/hgcalCons.xml
  Geometry/HGCalCommonData/data/hgcalCons/v17n/hgcalCons.xml
  Geometry/HGCalCommonData/data/hgcalCons/v18/hgcalCons.xml
  Geometry/HGCalCommonData/data/hgcalCons/v18n/hgcalCons.xml
  Geometry/HGCalCommonData/data/hgcalCons/v19/hgcalCons.xml
  Geometry/HGCalCommonData/data/hgcalConsData/v16/hgcalConsData.xml
  Geometry/HGCalCommonData/data/hgcalConsData/v17/hgcalConsData.xml
  Geometry/HGCalCommonData/data/hgcalConsData/v17Shift/hgcalConsData.xml
  Geometry/HGCalCommonData/data/hgcalConsData/v19/hgcalConsData.xml
  Geometry/HGCalCommonData/data/hgcalHEmix/v19/hgcalHEmix.xml
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#45456 PPS tests updated with 2024 data
  Configuration/PyReleaseValidation/python/relval_production.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  RecoPPS/Local/test/2023_lhcinfo_test_recoCTPPS.sh
  RecoPPS/Local/test/2023_lhcinfo_test_recoCTPPS_cfg.py
  RecoPPS/Local/test/BuildFile.xml
  RecoPPS/Local/test/global_reco_PPS_test.sh
  RecoPPS/Local/test/global_reco_PPS_test_cfg.py
  RecoPPS/Local/test/global_reco_PPS_test_strips.sh
Labels: reconstruction-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#45434 Improve Framework behavior after exceptions in begin/end transitions (Job, Stream, ProcessBlock)
  FWCore/Framework/bin/cmsRun.cpp
  FWCore/Framework/interface/EventProcessor.h
  FWCore/Framework/interface/GlobalSchedule.h
  FWCore/Framework/interface/Schedule.h
  FWCore/Framework/interface/StreamSchedule.h
  FWCore/Framework/interface/SubProcess.h
  FWCore/Framework/interface/WorkerManager.h
  FWCore/Framework/interface/maker/Worker.h
  FWCore/Framework/src/EventProcessor.cc
  FWCore/Framework/src/GlobalSchedule.cc
  FWCore/Framework/src/Schedule.cc
  FWCore/Framework/src/StreamSchedule.cc
  FWCore/Framework/src/SubProcess.cc
  FWCore/Framework/src/Worker.cc
  FWCore/Framework/src/WorkerManager.cc
  FWCore/Framework/test/one_outputmodule_t.cppunit.cc
  FWCore/Framework/test/stream_filter_t.cppunit.cc
  FWCore/Framework/test/stream_producer_t.cppunit.cc
  FWCore/Framework/test/unit_test_outputs/test_deepCall_unscheduled.log
  FWCore/Framework/test/unit_test_outputs/test_onPath_unscheduled.log
  FWCore/Integration/plugins/ExceptionThrowingProducer.cc
  FWCore/Integration/plugins/TestServiceOne.cc
  FWCore/Integration/plugins/TestServiceOne.h
  FWCore/Integration/test/BuildFile.xml
  FWCore/Integration/test/run_TestFrameworkExceptionHandling.sh
  FWCore/Integration/test/testFrameworkExceptionHandling_cfg.py
  FWCore/Integration/test/unit_test_outputs/testGetBy1.log
  FWCore/Integration/test/unit_test_outputs/testGetBy2.log
  FWCore/Integration/test/unit_test_outputs/testSubProcess.grep2.txt
  FWCore/ServiceRegistry/interface/ActivityRegistry.h
  FWCore/ServiceRegistry/interface/GlobalContext.h
  FWCore/ServiceRegistry/interface/ServiceRegistryfwd.h
  FWCore/ServiceRegistry/interface/StreamContext.h
  FWCore/ServiceRegistry/src/ActivityRegistry.cc
  FWCore/ServiceRegistry/src/GlobalContext.cc
  FWCore/Services/plugins/Tracer.cc
  FWCore/TestProcessor/src/TestProcessor.cc
  FWCore/Utilities/src/ExceptionCollector.cc
  IOMC/RandomEngine/plugins/RandomNumberGeneratorService.cc
  IOMC/RandomEngine/plugins/RandomNumberGeneratorService.h
  Mixing/Base/interface/PileUp.h
  Mixing/Base/src/BMixingModule.cc
  Mixing/Base/src/PileUp.cc
  Mixing/Base/src/SecondaryEventProvider.cc
  Mixing/Base/src/SecondaryEventProvider.h
Labels: core-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tests-ib-failure

#45536 Reject badly measured tracks with very high values of `qoverpError` before trying to reconstruct displaced vertices
  RecoParticleFlow/PFTracking/interface/PFDisplacedVertexCandidateFinder.h
  RecoParticleFlow/PFTracking/plugins/PFDisplacedVertexCandidateProducer.cc
  RecoParticleFlow/PFTracking/src/PFDisplacedVertexCandidateFinder.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, pf

#45537 extend eta range for relative HLT to offline tracking efficiency/fakes for phase1 / phase2 pixels
  DQM/TrackingMonitorSource/python/TrackToTrackComparisonHists_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#45570 Clean up `HiFJRhoProducer`
  RecoHI/HiJetAlgos/plugins/HiFJRhoProducer.cc
  RecoHI/HiJetAlgos/plugins/HiFJRhoProducer.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45558 update `hcalgpu` online-DQM client (post HCAL-Alpaka port at HLT)
  DQM/Integration/python/clients/hcalgpu_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44970 Add ScoutingMuonNoVtx and ScoutingMuonVtx in Run3Scouting Nano starting from 2024 data taking
  Configuration/DataProcessing/python/Impl/hltScouting.py
  Configuration/DataProcessing/python/Impl/hltScoutingEra_Run3_2024.py
  Configuration/DataProcessing/test/BuildFile.xml
  Configuration/DataProcessing/test/run_CfgTest_13.sh
  Configuration/DataProcessing/test/run_CfgTest_8.sh
  Configuration/Eras/python/Era_Run3_2024_cff.py
  Configuration/Eras/python/Modifier_run3_scouting_nanoAOD_post2023_cff.py
  Configuration/PyReleaseValidation/python/relval_nano.py
  PhysicsTools/NanoAOD/python/custom_run3scouting_cff.py
  PhysicsTools/NanoAOD/python/run3scouting_cff.py
Labels: operations-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, urgent, upgrade-approved, code-checks-approved, xpog-approved

#45568 Fix ClassVersion unit test
  FWCore/Reflection/test/run_checkClassVersion.sh
  FWCore/Reflection/test/run_dumpClassVersion.sh
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45519 fix packing of muon-shower objects for L1-uGT FED
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/MuonPacker.cc
  L1Trigger/L1TMuon/interface/MuonRawDigiTranslator.h
  L1Trigger/L1TMuon/src/MuonRawDigiTranslator.cc
Labels: l1-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#45525 Tell RNTuple not to split some classes
  DataFormats/BTauReco/src/classes_def.xml
  DataFormats/CSCRecHit/src/classes_def.xml
  DataFormats/Candidate/src/classes_def.xml
  DataFormats/Common/src/classes_def.xml
  DataFormats/DTRecHit/src/classes_def.xml
  DataFormats/EgammaReco/src/classes_def.xml
  DataFormats/GEMRecHit/src/classes_def.xml
  DataFormats/Histograms/src/classes_def.xml
  DataFormats/JetReco/src/classes_def_3.xml
  DataFormats/ParticleFlowReco/src/classes_def_2.xml
  DataFormats/PatCandidates/src/classes_def_user.xml
  DataFormats/RPCRecHit/src/classes_def.xml
  DataFormats/RecoCandidate/src/classes_def.xml
  DataFormats/TestObjects/src/classes_def.xml
  DataFormats/TrackReco/src/classes_def.xml
  DataFormats/TrackingRecHit/src/classes_def.xml
  DataFormats/TrajectorySeed/src/classes_def.xml
  SimDataFormats/GeneratorProducts/src/classes_def.xml
Labels: core-approved, dqm-approved, generators-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, xpog-approved, tracking, changes-dataformats

#45573 [RECONSTRUCTION][RISCV] Fix needed for riscv64
  DataFormats/Math/interface/SSEVec.h
  DataFormats/Math/src/SSEVec.cc
  DataFormats/Math/test/rdtscp.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45564 Move `pair<LocalVector,LocalVector> and pair<LocalPoint,LocalPoint>` dictionaries to `DataFormats/GeometryVector`
  AnalysisDataFormats/TrackInfo/src/classes_def.xml
  DataFormats/GeometryVector/src/classes.h
  DataFormats/GeometryVector/src/classes_def.xml
Labels: analysis-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#45566 remove `SiPixelCompare*SoAAlpaka` templates and update `customizeHLTforAlpaka` to use the new modules
  DQM/SiPixelHeterogeneous/plugins/SiPixelCompareRecHitsSoAAlpaka.cc
  DQM/SiPixelHeterogeneous/plugins/SiPixelCompareTrackSoAAlpaka.cc
  DQM/SiPixelHeterogeneous/plugins/SiPixelCompareVertexSoAAlpaka.cc
  HLTrigger/Configuration/python/customizeHLTforAlpaka.py
Labels: dqm-approved, hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk
