Repository cms-sw/cmssw, pull requests merged in 2024-06, with the labels that each got.

#45096 Remove unused constants in CondCore/EcalPlugins/plugins/Ecal*_PayloadInspector.cc
  CondCore/EcalPlugins/plugins/EcalDQMChannelStatus_PayloadInspector.cc
  CondCore/EcalPlugins/plugins/EcalFloatCondObjectContainer_PayloadInspector.cc
  CondCore/EcalPlugins/plugins/EcalLinearCorrections_PayloadInspector.cc
  CondCore/EcalPlugins/plugins/EcalPedestals_PayloadInspector.cc
  CondCore/EcalPlugins/plugins/EcalPulseShapes_PayloadInspector.cc
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#45094 Removed duplicate cfi file in L1Trigger/L1CaloTrigger
  L1Trigger/L1CaloTrigger/python/l1tS2PFJetInputPatternWriter_cfi.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#45078 [CPP20][Visualization] Remove deprecated implicit capture of this in FWTEveViewer
  Fireworks/Core/src/FWTEveViewer.cc
Labels: visualization-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45076 [CPP20][Visualisation] Fix deprecated enum bitwise operation in FWCandidateHGCalLegoProxyBuilder
  Fireworks/Candidates/plugins/FWCandidateHGCalLegoProxyBuilder.cc
  Fireworks/Core/interface/FWViewType.h
Labels: visualization-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45066 Correction to cell shapes for partial wafers in v18 version of HGCal
  Geometry/HGCalCommonData/interface/HGCalWaferMask.h
  Geometry/HGCalCommonData/src/HGCalCellUV.cc
  Geometry/HGCalCommonData/src/HGCalWaferMask.cc
  SimG4CMS/Calo/plugins/HGCalMouseBiteTester.cc
Labels: geometry-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#45011 Bin L1 track quality MVA variable
  DataFormats/L1TrackTrigger/interface/TTTrack.h
  DataFormats/L1TrackTrigger/interface/TTTrack_TrackWord.h
  DataFormats/L1TrackTrigger/src/TTTrack_TrackWord.cc
  L1Trigger/TrackFindingTracklet/plugins/L1FPGATrackProducer.cc
  L1Trigger/TrackFindingTracklet/plugins/ProducerKFout.cc
  L1Trigger/TrackTrigger/interface/L1TrackQuality.h
  L1Trigger/TrackTrigger/python/TrackQualityParams_cfi.py
  L1Trigger/TrackTrigger/src/L1TrackQuality.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#44992 Integration of sexaquark simulation code (for EXO-24-003)
  SimG4Core/CustomPhysics/data/particles_sexaq_1p5_GeV.txt
  SimG4Core/CustomPhysics/data/particles_sexaq_1p7_GeV.txt
  SimG4Core/CustomPhysics/data/particles_sexaq_1p85_GeV.txt
  SimG4Core/CustomPhysics/data/particles_sexaq_1p8_GeV.txt
  SimG4Core/CustomPhysics/data/particles_sexaq_1p9_GeV.txt
  SimG4Core/CustomPhysics/data/particles_sexaq_2_GeV.txt
  SimG4Core/CustomPhysics/data/particles_sexaq_2p1_GeV.txt
  SimG4Core/CustomPhysics/interface/CMSAntiSQ.h
  SimG4Core/CustomPhysics/interface/CMSSQ.h
  SimG4Core/CustomPhysics/interface/CMSSQInelasticCrossSection.h
  SimG4Core/CustomPhysics/interface/CMSSQLoopProcess.h
  SimG4Core/CustomPhysics/interface/CMSSQLoopProcessDiscr.h
  SimG4Core/CustomPhysics/interface/CMSSQNeutronAnnih.h
  SimG4Core/CustomPhysics/src/CMSAntiSQ.cc
  SimG4Core/CustomPhysics/src/CMSSQ.cc
  SimG4Core/CustomPhysics/src/CMSSQInelasticCrossSection.cc
  SimG4Core/CustomPhysics/src/CMSSQLoopProcess.cc
  SimG4Core/CustomPhysics/src/CMSSQLoopProcessDiscr.cc
  SimG4Core/CustomPhysics/src/CMSSQNeutronAnnih.cc
  SimG4Core/CustomPhysics/src/CustomPhysicsList.cc
  SimG4Core/CustomPhysics/test/Sexaquark_RunIIFall18GenSim_cfg.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44965 Add D110 Default Input Dataset
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#44963 [L1T Phase-2] Correlator Layer 1 pattern file producer updates for multi-board tests
  L1Trigger/Phase2L1ParticleFlow/interface/L1TCorrelatorLayer1PatternFileWriter.h
  L1Trigger/Phase2L1ParticleFlow/interface/regionizer/middle_buffer_multififo_regionizer_ref.h
  L1Trigger/Phase2L1ParticleFlow/python/l1ctLayer1_patternWriters_cff.py
  L1Trigger/Phase2L1ParticleFlow/src/L1TCorrelatorLayer1PatternFileWriter.cc
  L1Trigger/Phase2L1ParticleFlow/test/make_l1ct_binaryFiles_cfg.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#45098 fix lock contention in source (14_0_X backport)
  EventFilter/Utilities/src/DAQSource.cc
  EventFilter/Utilities/src/EvFDaqDirector.cc
  EventFilter/Utilities/src/FedRawDataInputSource.cc
Labels: daq-approved, fully-signed, tests-approved, orp-approved

#45121 (DAQ) fix lock contention in the DAQ source [14_0_7_patchX]
  EventFilter/Utilities/src/DAQSource.cc
  EventFilter/Utilities/src/EvFDaqDirector.cc
  EventFilter/Utilities/src/FedRawDataInputSource.cc
Labels: daq-approved, fully-signed, tests-pending, bug-fix, orp-approved, urgent, backport-ok

#45120 (DAQ) fix input source cv notification [14_0_7_patchX]
  EventFilter/Utilities/src/DAQSource.cc
  EventFilter/Utilities/src/FedRawDataInputSource.cc
Labels: daq-approved, fully-signed, tests-pending, bug-fix, orp-approved, urgent, backport-ok

#45000 [12_4_HLT_X] Improve memory usage in ParameterSet
  DQMOffline/Trigger/src/EgHLTTrigTools.cc
  FWCore/Framework/test/unit_test_outputs/test_deepCall_unscheduled.log
  FWCore/Integration/test/unit_test_outputs/testGetBy1.log
  FWCore/Integration/test/unit_test_outputs/testGetBy2.log
  FWCore/Integration/test/unit_test_outputs/testSubProcessEventSetup.grep.txt
  FWCore/Integration/test/unit_test_outputs/testSubProcessEventSetup1.grep.txt
  FWCore/ParameterSet/interface/Entry.h
  FWCore/ParameterSet/interface/ParameterDescriptionNode.h
  FWCore/ParameterSet/interface/ParameterSet.h
  FWCore/ParameterSet/interface/ParameterSetEntry.h
  FWCore/ParameterSet/interface/VParameterSetEntry.h
  FWCore/ParameterSet/interface/types.h
  FWCore/ParameterSet/src/Entry.cc
  FWCore/ParameterSet/src/FillDescriptionFromPSet.cc
  FWCore/ParameterSet/src/ParameterDescriptionNode.cc
  FWCore/ParameterSet/src/ParameterSet.cc
  FWCore/ParameterSet/src/ParameterSetConverter.cc
  FWCore/ParameterSet/src/ParameterSetEntry.cc
  FWCore/ParameterSet/src/VParameterSetEntry.cc
  FWCore/ParameterSet/src/split.h
  FWCore/ParameterSet/src/types.cc
  FWCore/ParameterSet/test/BuildFile.xml
  FWCore/ParameterSet/test/parameterSetDescription_t.cc
  FWCore/ParameterSet/test/ps_t.cppunit.cc
  FWCore/ParameterSet/test/test_catch2_ps.cc
  IOPool/Common/test/unit_test_outputs/provdump.log
  IOPool/Input/test/BuildFile.xml
  IOPool/Input/test/GetTriggerNamesAnalyzer.cc
  IOPool/Input/test/test_old_raw_data_step1_cfg.py
  SimGeneral/HepPDTRecord/src/PdtEntry.cc
Labels: core-approved, dqm-approved, simulation-approved, fully-signed, tests-rejected, orp-approved, backport-ok

#45085 move `pat::XGBooster` out of `PhysicsTools/PatAlgos` into its own package and use it for `PhotonXGBoostEstimator`
  PhysicsTools/PatAlgos/BuildFile.xml
  PhysicsTools/PatAlgos/plugins/PATMuonProducer.cc
  PhysicsTools/PatAlgos/src/SoftMuonMvaRun3Estimator.cc
  PhysicsTools/XGBoost/BuildFile.xml
  PhysicsTools/XGBoost/interface/XGBooster.h
  PhysicsTools/XGBoost/src/XGBooster.cc
  RecoEgamma/PhotonIdentification/BuildFile.xml
  RecoEgamma/PhotonIdentification/interface/PhotonXGBoostEstimator.h
  RecoEgamma/PhotonIdentification/src/PhotonXGBoostEstimator.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved, ml-approved

#45056 Updates to `TkAlV0sAnalyzer` and `V0Monitor`
  Alignment/OfflineValidation/plugins/TkAlV0sAnalyzer.cc
  Alignment/OfflineValidation/test/TkAlV0sAnalyzer_cfg.py
  Alignment/OfflineValidation/test/testTrackAnalyzers.cc
  Alignment/OfflineValidation/test/testingScripts/test_unitMiscellanea.sh
  DQM/TrackingMonitor/interface/V0Monitor.h
  DQM/TrackingMonitor/src/V0Monitor.cc
Labels: alca-approved, dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking, trk

#44988 Enable SoA range checking by default
  DataFormats/SoATemplate/interface/SoACommon.h
  DataFormats/SoATemplate/interface/SoALayout.h
  DataFormats/SoATemplate/interface/SoAView.h
  DataFormats/SoATemplate/test/SoAUnitTests.cc
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#45012 Clean offline DQM of Photon "smin" triggers and adding CSCCluster50_Photon20Unseeded
  DQMOffline/Trigger/python/PhotonMonitor_cff.py
  HLTriggerOffline/Exotica/python/analyses/hltExoticaDisplacedDiPhoton_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45020 AMPTInterface: Fix used uninitialized warnings
  GeneratorInterface/AMPTInterface/src/hipyset1.35.f
Labels: generators-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45095 Phase2-hgx357 Add a new version of HGCalCellOffest to provide a more correct results for the cell areas
  Geometry/HGCalCommonData/interface/HGCalCellOffset.h
  Geometry/HGCalCommonData/interface/HGCalDDDConstants.h
  Geometry/HGCalCommonData/src/HGCalCellOffset.cc
  Geometry/HGCalCommonData/src/HGCalDDDConstants.cc
  Geometry/HGCalCommonData/test/HGCalCellOffsetTester.cc
  SimG4CMS/Calo/interface/HGCalSD.h
  SimG4CMS/Calo/src/CaloSD.cc
  SimG4CMS/Calo/src/HGCalSD.cc
Labels: geometry-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#45105 EMTF emulator support for 2024 primitive converison LUTs
  L1Trigger/L1TMuonEndCap/src/ConditionHelper.cc
  L1Trigger/L1TMuonEndCap/src/SectorProcessorLUT.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#45125 remove leftover printout in `GlobalEvFOutputModule`
  EventFilter/Utilities/plugins/GlobalEvFOutputModule.cc
Labels: daq-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45131 Fix deprecated bitwise operations between different enum types in WTableWidget
  Fireworks/TableWidget/src/FWTableWidget.cc
Labels: visualization-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tests-ib-failure

#45147 `L2TauTagNNProducerAlpaka`: do not call TF inference with empty grid
  RecoTauTag/HLTProducers/src/L2TauTagNNProducerAlpaka.cc
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, tau, hlt-integration

#45141 Add context for exceptions being thrown via RootOutputFile::finishEndFile()
  IOPool/Output/src/RootOutputFile.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45139 Skip evaluation of TensorFlow model if inputs are empty
  PhysicsTools/TensorFlow/interface/TensorFlow.h
  PhysicsTools/TensorFlow/src/TensorFlow.cc
  PhysicsTools/TensorFlow/test/BuildFile.xml
  PhysicsTools/TensorFlow/test/testEmptyInputs.cc
Labels: fully-signed, tests-approved, orp-approved, urgent, code-checks-approved, ml-approved

#45113 Run3-alca247B Add new options for getting correction factors - to be used to understand the impact on JetMET corrections
  Calibration/HcalCalibAlgos/macros/CalibCorr.C
  Calibration/HcalCalibAlgos/macros/CalibFitPlots.C
  Calibration/HcalCalibAlgos/macros/CalibMonitor.C
  Calibration/HcalCalibAlgos/macros/CalibPlotProperties.C
  Calibration/HcalCalibAlgos/macros/CalibTree.C
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45071 [CPP20][DQM] Fix deprecated enum arithmetics in TkAlCaRecoMonitor and SiPixelPhase1RawDataErrorComparator
  DQM/SiPixelHeterogeneous/plugins/SiPixelPhase1RawDataErrorComparator.cc
  DQMOffline/Alignment/src/TkAlCaRecoMonitor.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#45070 [CPP20][DQM] Replace enum with static constexpr int in DQWorkerClient; replace ecaldqm::Constants enum with static constexpr ints
  DQM/EcalCommon/interface/EcalDQMCommonUtils.h
  DQM/EcalMonitorClient/interface/DQWorkerClient.h
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45023 Introduce a Long-track bonus in CkfTrackBuilder
  RecoEgamma/EgammaPhotonProducers/python/trajectoryBuilderForConversions_cfi.py
  RecoMuon/L3TrackFinder/python/MuonCkfTrajectoryBuilder_cfi.py
  RecoTracker/CkfPattern/interface/CkfTrajectoryBuilder.h
  RecoTracker/CkfPattern/plugins/TrajectoryLessByFoundHits.h
  RecoTracker/CkfPattern/plugins/TrajectorySegmentBuilder.cc
  RecoTracker/CkfPattern/python/CkfTrajectoryBuilder_cfi.py
  RecoTracker/CkfPattern/src/CkfTrajectoryBuilder.cc
Labels: hlt-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#44901 Introduce edm::Async service, and use it in CUDA and Alpaka modules
  FWCore/Concurrency/BuildFile.xml
  FWCore/Concurrency/interface/Async.h
  FWCore/Concurrency/interface/WaitingThreadPool.h
  FWCore/Concurrency/src/Async.cc
  FWCore/Concurrency/src/WaitingThreadPool.cc
  FWCore/Concurrency/test/test_catch2_Async.cc
  FWCore/Concurrency/test/test_catch2_WaitingThreadPool.cc
  FWCore/Framework/src/defaultCmsRunServices.cc
  FWCore/Services/plugins/AsyncService.cc
  FWCore/Services/test/AsyncServiceTester.cc
  FWCore/Services/test/BuildFile.xml
  FWCore/Services/test/test_asyncservice.sh
  FWCore/Services/test/test_asyncservice_cfg.py
  FWCore/TestModules/README.md
  FWCore/TestModules/plugins/BuildFile.xml
  FWCore/TestModules/plugins/StreamIDFilter.cc
  FWCore/Utilities/interface/ReusableObjectHolder.h
  HeterogeneousCore/AlpakaCore/BuildFile.xml
  HeterogeneousCore/AlpakaCore/interface/EventCache.h
  HeterogeneousCore/AlpakaCore/interface/alpaka/EDMetadata.h
  HeterogeneousCore/AlpakaCore/src/alpaka/EDMetadata.cc
  HeterogeneousCore/CUDACore/src/ScopedContext.cc
  HeterogeneousCore/CUDACore/test/test_main.cc
  HeterogeneousCore/CUDAUtilities/src/EventCache.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved, tests-ib-failure

#45133 Fix deprecated enum arithmetics in CaloGeometry
  Geometry/CaloGeometry/interface/CaloGeometry.h
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45130 Fix maybe-uninitialized warning in BaseCrystal
  FastSimulation/CaloGeometryTools/interface/BaseCrystal.h
Labels: fastsim-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45138 Backport of PR #44992 for sexaquark simulation code.
  SimG4Core/CustomPhysics/data/particles_sexaq_1p5_GeV.txt
  SimG4Core/CustomPhysics/data/particles_sexaq_1p7_GeV.txt
  SimG4Core/CustomPhysics/data/particles_sexaq_1p85_GeV.txt
  SimG4Core/CustomPhysics/data/particles_sexaq_1p8_GeV.txt
  SimG4Core/CustomPhysics/data/particles_sexaq_1p9_GeV.txt
  SimG4Core/CustomPhysics/data/particles_sexaq_2_GeV.txt
  SimG4Core/CustomPhysics/data/particles_sexaq_2p1_GeV.txt
  SimG4Core/CustomPhysics/interface/CMSAntiSQ.h
  SimG4Core/CustomPhysics/interface/CMSSQ.h
  SimG4Core/CustomPhysics/interface/CMSSQInelasticCrossSection.h
  SimG4Core/CustomPhysics/interface/CMSSQLoopProcess.h
  SimG4Core/CustomPhysics/interface/CMSSQLoopProcessDiscr.h
  SimG4Core/CustomPhysics/interface/CMSSQNeutronAnnih.h
  SimG4Core/CustomPhysics/src/CMSAntiSQ.cc
  SimG4Core/CustomPhysics/src/CMSSQ.cc
  SimG4Core/CustomPhysics/src/CMSSQInelasticCrossSection.cc
  SimG4Core/CustomPhysics/src/CMSSQLoopProcess.cc
  SimG4Core/CustomPhysics/src/CMSSQLoopProcessDiscr.cc
  SimG4Core/CustomPhysics/src/CMSSQNeutronAnnih.cc
  SimG4Core/CustomPhysics/src/CustomPhysicsList.cc
  SimG4Core/CustomPhysics/test/Sexaquark_RunIIFall18GenSim_cfg.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved

#44987 Enable SoA range checking by default [14.0.x]
  DataFormats/SoATemplate/interface/SoACommon.h
  DataFormats/SoATemplate/interface/SoALayout.h
  DataFormats/SoATemplate/interface/SoAView.h
  DataFormats/SoATemplate/test/SoAUnitTests.cc
Labels: fully-signed, tests-approved, orp-approved, backport-ok, heterogeneous-approved

#45148 [14.0.X] `L2TauTagNNProducerAlpaka`: do not call TF inference with empty grid
  RecoTauTag/HLTProducers/src/L2TauTagNNProducerAlpaka.cc
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, tau, hlt-integration

#45145 [14_0_X] Skip evaluation of TF model if one of the input tensors is empty
  PhysicsTools/TensorFlow/interface/TensorFlow.h
  PhysicsTools/TensorFlow/src/TensorFlow.cc
  PhysicsTools/TensorFlow/test/BuildFile.xml
  PhysicsTools/TensorFlow/test/testEmptyInputs.cc
Labels: fully-signed, tests-approved, orp-approved, urgent, backport-ok, ml-approved

#45155 ECAL - Roll back to ECAL ratio timing for Run 3
  Configuration/ProcessModifiers/python/ecal_cctiming_cff.py
  RecoLocalCalo/EcalRecProducers/python/ecalMultiFitUncalibRecHit_cfi.py
  RecoLocalCalo/EcalRecProducers/python/ecalRecHit_cfi.py
Labels: operations-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, code-checks-approved, ecal

#45149 [14.0.X] Updates to `TkAlV0sAnalyzer` and `V0Monitor`
  Alignment/OfflineValidation/plugins/TkAlV0sAnalyzer.cc
  Alignment/OfflineValidation/test/TkAlV0sAnalyzer_cfg.py
  Alignment/OfflineValidation/test/testTrackAnalyzers.cc
  Alignment/OfflineValidation/test/testingScripts/test_unitMiscellanea.sh
  DQM/TrackingMonitor/interface/V0Monitor.h
  DQM/TrackingMonitor/src/V0Monitor.cc
Labels: alca-approved, dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok, tracking, trk

#45157 ECAL - Roll back to ECAL ratio timing for Run 3 - 140X
  Configuration/ProcessModifiers/python/ecal_cctiming_cff.py
  RecoLocalCalo/EcalRecProducers/python/ecalMultiFitUncalibRecHit_cfi.py
  RecoLocalCalo/EcalRecProducers/python/ecalRecHit_cfi.py
Labels: operations-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok, ecal

#45081 [14_0_X] Revert "Workaround to produce exactly same data products in Serial and CUDA backends in Alpaka modules possibly used at HLT"
  EventFilter/EcalRawToDigi/plugins/alpaka/EcalRawToDigiPortable.cc
  HeterogeneousCore/AlpakaCore/interface/alpaka/ProducerBase.h
  RecoLocalCalo/EcalRecProducers/plugins/alpaka/EcalUncalibRecHitProducerPortable.cc
  RecoLocalTracker/SiPixelClusterizer/plugins/alpaka/SiPixelRawToCluster.cc
  RecoLocalTracker/SiPixelRecHits/plugins/alpaka/SiPixelRecHitAlpaka.cc
  RecoParticleFlow/PFClusterProducer/plugins/alpaka/PFClusterSoAProducer.cc
  RecoParticleFlow/PFRecHitProducer/plugins/alpaka/CaloRecHitSoAProducer.cc
  RecoParticleFlow/PFRecHitProducer/plugins/alpaka/PFRecHitSoAProducer.cc
  RecoTracker/PixelSeeding/plugins/alpaka/CAHitNtuplet.cc
  RecoTracker/PixelVertexFinding/plugins/alpaka/PixelVertexProducerAlpaka.cc
  RecoVertex/BeamSpotProducer/plugins/alpaka/BeamSpotDeviceProducer.cc
Labels: alca-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, heterogeneous-approved, tracking, trk

#45092 Add possibility to read triggerbits for Secondary Datasets from the GT
  Configuration/AlCa/python/autoCond.py
  Configuration/Skimming/python/PDWG_ReserveDMu_SD_cff.py
  HLTrigger/HLTfilters/plugins/HLTHighLevel.cc
  HLTrigger/HLTfilters/plugins/HLTHighLevel.h
Labels: alca-approved, hlt-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, urgent, code-checks-approved

#45132 Modifications to L1REPACK:FullSimTP to prevent crashes and make it more compatible with other REPACK options
  Configuration/StandardSequences/python/SimL1EmulatorRepack_FullSimTP_cff.py
Labels: operations-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45112 Removed _cfi.py which were duplicate of auto-generated ones
  EventFilter/L1TRawToDigi/plugins/L1TRawToDigi.cc
  EventFilter/L1TRawToDigi/python/l1tRawToDigi_cfi.py
  FWCore/ParameterSet/src/ConfigurationDescriptions.cc
  Geometry/HcalEventSetup/python/CaloTowerTopology_cfi.py
  Geometry/HcalEventSetup/src/CaloTowerTopologyEP.cc
  L1Trigger/L1TGlobal/plugins/L1TGlobalSummary.cc
  L1Trigger/L1TGlobal/python/L1TGlobalSummary_cfi.py
Labels: core-approved, geometry-approved, l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45184 [PF] Fix RecoParticleFlow.PFProducer.pfGsfElectronCiCSelector_cfi
  RecoParticleFlow/PFProducer/python/pfGsfElectronCiCSelector_cfi.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, pf

#45172 do not throw in PerigeeConversions::ftsToPerigeeParameters
  MuonAnalysis/MuonAssociators/src/MatcherUsingTracksAlgorithm.cc
  TrackingTools/TrajectoryState/interface/PerigeeConversions.h
  TrackingTools/TrajectoryState/src/PerigeeConversions.cc
  TrackingTools/TrajectoryState/src/TrajectoryStateClosestToPoint.cc
Labels: analysis-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#45171 Update DDHGCalPassive.cc
  Geometry/HGCalCommonData/plugins/DDHGCalPassive.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#45169 [ALCA] Remove Wall flag from Alignment/OfflineValidation/bin/BuildFile.xml
  Alignment/OfflineValidation/bin/BuildFile.xml
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#45168 [Core] Remove unused lambda captures in test_catch2_WaitingThreadPool.cc and StreamSchedule.h
  FWCore/Concurrency/test/test_catch2_WaitingThreadPool.cc
  FWCore/Framework/interface/StreamSchedule.h
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45163 Phase2-356X Fix bugs in the simulation of 2023 HGCal TB setups to provide multiple hits
  Geometry/HGCalTBCommonData/data/TB230/Aug230/hgcalCons.xml
  Geometry/HGCalTBCommonData/data/TB230/Aug230/hgcalwafer.xml
  Geometry/HGCalTBCommonData/data/TB230/FEB230/hgcalCons.xml
  Geometry/HGCalTBCommonData/data/TB230/FEB230/hgcalwafer.xml
  Geometry/HGCalTBCommonData/data/TB230/Sep230/hgcalCons.xml
  Geometry/HGCalTBCommonData/data/TB230/Sep230/hgcalwafer.xml
  SimG4CMS/Calo/src/HGCalSD.cc
Labels: geometry-approved, simulation-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#45159 Change assert to exception, related to FEDRawDataCollection
  FWCore/Sources/src/DaqProvenanceHelper.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45150 Fix thread local use in AllocMonitor
  PerfTools/AllocMonitor/interface/AllocMonitorRegistry.h
  PerfTools/AllocMonitor/src/AllocMonitorRegistry.cc
  PerfTools/AllocMonitorPreload/src/memory_proxies.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#45088 Fix maybe-uninitialized warnings in Zmumumerge.cc
  Alignment/OfflineValidation/bin/Zmumumerge.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#45077 Update btag from DeepCSV to ParticleNet for BTV DQM
  DQMOffline/Trigger/plugins/BTVHLTOfflineSource.cc
  DQMOffline/Trigger/plugins/BTagAndProbe.cc
  DQMOffline/Trigger/python/BTVHLTOfflineSource_cfi.py
  DQMOffline/Trigger/python/BTagAndProbeMonitor_cfi.py
  DQMOffline/Trigger/python/BTagAndProbeMonitoring_cff.py
  DQMOffline/Trigger/python/BTagAndProbeMonitoring_cfi.py
  DQMOffline/Trigger/python/BTaggingMonitoring_Client_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45074 [MTD] Update MTD hit pattern + add outermost hits position in the TrackExtenderWithMTD
  DataFormats/ForwardDetId/interface/ETLDetId.h
  DataFormats/TrackReco/interface/HitPattern.h
  DataFormats/TrackReco/src/HitPattern.cc
  RecoMTD/TrackExtender/plugins/TrackExtenderWithMTD.cc
  Validation/MtdValidation/plugins/MtdTracksValidation.cc
Labels: dqm-approved, reconstruction-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, tracking

#45041 L1 filters using P2GT for tau paths
  HLTrigger/Configuration/python/HLT_75e33/modules/hltL1SeedForDoublePuppiTau_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_DoubleMediumChargedIsoPFTauHPS40_eta2p1_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_DoubleMediumDeepTauPFTauHPS35_eta2p1_cfi.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45029 RPCDigis validaiton module update
  Validation/MuonRPCDigis/interface/RPCDigiValid.h
  Validation/MuonRPCDigis/src/RPCDigiValid.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45025 Added ModuleAllocMonitor Service
  PerfTools/AllocMonitor/plugins/BuildFile.xml
  PerfTools/AllocMonitor/plugins/ModuleAllocMonitor.cc
  PerfTools/AllocMonitor/plugins/ThreadAllocInfo.h
  PerfTools/AllocMonitor/plugins/moduleAlloc_setupFile.cc
  PerfTools/AllocMonitor/plugins/moduleAlloc_setupFile.h
  PerfTools/AllocMonitor/plugins/monitor_file_utilities.cc
  PerfTools/AllocMonitor/plugins/monitor_file_utilities.h
  PerfTools/AllocMonitor/scripts/edmModuleAllocMonitorAnalyze.py
  PerfTools/AllocMonitor/test/BuildFile.xml
  PerfTools/AllocMonitor/test/moduleAlloc_cfg.py
  PerfTools/AllocMonitor/test/runModuleAlloc.sh
  PerfTools/AllocMonitor/test/unittest_output/allEDModules.log
  PerfTools/AllocMonitor/test/unittest_output/allESModules.log
  PerfTools/AllocMonitor/test/unittest_output/allTransitions.log
  PerfTools/AllocMonitor/test/unittest_output/only_ed_EDModules.log
  PerfTools/AllocMonitor/test/unittest_output/only_ed_ESModules.log
  PerfTools/AllocMonitor/test/unittest_output/only_es_EDModules.log
  PerfTools/AllocMonitor/test/unittest_output/only_es_ESModules.log
  PerfTools/AllocMonitor/test/unittest_output/skipEvents_EDModules.log
  PerfTools/AllocMonitor/test/unittest_output/skipEvents_ESModules.log
  PerfTools/AllocMonitor/test/unittest_output/skipEvents_Transitions.log
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45005 Introducing `SimOnGen` and `GenOnly` wfs for 2024 and 2026D110
  Configuration/PyReleaseValidation/python/WorkFlowRunner.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/PyReleaseValidation/python/relval_upgrade.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#44977 Fix RelMon Piecharts using `Chart.js`
  Utilities/RelMon/python/definitions.py
  Utilities/RelMon/python/directories2html.py
  Utilities/RelMon/python/dirstructure.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43761 add `Era_Run3_2024`, `Era_Run3_2025`, Tier0 reco scenario for 2024, and change default era in `PyReleaseValidation`
  Configuration/DataProcessing/python/Impl/ppEra_Run3_2024.py
  Configuration/DataProcessing/python/RecoTLR.py
  Configuration/DataProcessing/test/run_CfgTest_5.sh
  Configuration/DataProcessing/test/run_CfgTest_8.sh
  Configuration/Eras/python/Era_Run3_2024_cff.py
  Configuration/Eras/python/Era_Run3_2025_cff.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  Configuration/StandardSequences/python/Eras.py
Labels: operations-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#45152 Fix maybe-uninitialized warning in SeedingTrackFeatures
  RecoBTag/FeatureTools/src/SeedingTracksConverter.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45104 [CPP20] Remove volatile from CondCore/Utilities
  CondCore/Utilities/bin/conddb_test_gt_perf.cpp
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#45079 Add ParticleFlow Client for Online DQM - GPUvsCPU comparison
  DQM/Integration/python/clients/pfgpu_dqm_sourceclient-live_cfg.py
  DQM/PFTasks/BuildFile.xml
  DQM/PFTasks/plugins/BuildFile.xml
  DQM/PFTasks/plugins/PFHcalGPUComparisonTask.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, pf

#45166 Update `edm::bit_cast`
  FWCore/Utilities/interface/bit_cast.h
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45191 Removed unused PFRecoTauProducer_cfi
  RecoTauTag/RecoTau/python/PFRecoTauProducer_cfi.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45193 Replace enums with static constexpr int in EcalChannelStatus_PayloadInspector.cc
  CondCore/EcalPlugins/plugins/EcalChannelStatus_PayloadInspector.cc
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#45205 StreamSchedule.h: remove unused variable
  FWCore/Framework/interface/StreamSchedule.h
Labels: core-approved, fully-signed, tests-approved, orp-approved, urgent, code-checks-approved

#45209 Initialise the `EcalElectronicsMappingHost` with null detids
  EventFilter/EcalRawToDigi/plugins/alpaka/EcalElectronicsMappingHostESProducer.cc
  EventFilter/EcalRawToDigi/plugins/alpaka/UnpackPortable.dev.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, ecal

#45201 Explicitly build with O2 to avoid build errors
  Geometry/HGCalCommonData/plugins/BuildFile.xml
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#45196 Added local web server for Tracer log viewer
  FWCore/Services/web/README.md
  FWCore/Services/web/server.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45173 Miscellaneous fixes for TRK POG Data/MC validation tool
  DQM/TrackingMonitorSource/plugins/StandaloneTrackMonitor.cc
  DQM/TrackingMonitorSource/python/StandaloneTrackMonitor_cfi.py
  DQM/TrackingMonitorSource/python/TrackingDataMCValidation_Standalone_cff.py
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, tracking

#45114 remove SiOuterTracker dqm and validation packages
  DQM/SiOuterTracker/plugins/BuildFile.xml
  DQM/SiOuterTracker/plugins/OuterTrackerMonitorTTCluster.cc
  DQM/SiOuterTracker/plugins/OuterTrackerMonitorTTStub.cc
  DQM/SiOuterTracker/plugins/OuterTrackerMonitorTTTrack.cc
  DQM/SiOuterTracker/python/OuterTrackerClientConfig_cff.py
  DQM/SiOuterTracker/python/OuterTrackerMonitorTTCluster_cfi.py
  DQM/SiOuterTracker/python/OuterTrackerMonitorTTStub_cfi.py
  DQM/SiOuterTracker/python/OuterTrackerMonitorTTTrack_cfi.py
  DQM/SiOuterTracker/python/OuterTrackerSourceConfig_cff.py
  DQMOffline/Configuration/python/DQMOffline_SecondStep_cff.py
  Validation/Configuration/python/postValidation_cff.py
  Validation/SiOuterTrackerV/plugins/BuildFile.xml
  Validation/SiOuterTrackerV/plugins/OuterTrackerMCHarvester.cc
  Validation/SiOuterTrackerV/plugins/OuterTrackerMCHarvester.h
  Validation/SiOuterTrackerV/plugins/OuterTrackerMonitorTrackingParticles.cc
  Validation/SiOuterTrackerV/plugins/OuterTrackerMonitorTrackingParticles.h
  Validation/SiOuterTrackerV/python/OuterTrackerMonitorTrackingParticles_cfi.py
  Validation/SiOuterTrackerV/python/OuterTrackerSourceConfigV_cff.py
  Validation/SiOuterTrackerV/python/SiOuterTrackerMCHarvesting_cff.py
Labels: dqm-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#45086 Adds muon shower triggers for MC data
  L1Trigger/L1TGlobal/plugins/GenToInputProducer.cc
  L1Trigger/L1TGlobal/test/runGlobalFakeInputProducer.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44669 Tunable `PUMax` in `PrimaryVertexMonitor` and Finer d_xy DQM Tracking Plots
  DQMOffline/RecoB/plugins/PrimaryVertexMonitor.cc
  DQMOffline/RecoB/python/PrimaryVertexMonitor_cff.py
  Validation/RecoTrack/python/MTVHistoProducerAlgoForTrackerBlock_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#45170 [14_0_X] Modifications to L1REPACK:FullSimTP to prevent crashes and make it more compatible with other REPACK options
  Configuration/StandardSequences/python/SimL1EmulatorRepack_FullSimTP_cff.py
Labels: operations-approved, fully-signed, tests-approved, orp-approved

#45210 Initialise the `EcalElectronicsMappingHost` with null detids [14.0.x]
  EventFilter/EcalRawToDigi/plugins/alpaka/EcalElectronicsMappingHostESProducer.cc
  EventFilter/EcalRawToDigi/plugins/alpaka/UnpackPortable.dev.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport, ecal

#45204 [14_0_X] Add ParticleFlow Client for Online DQM - GPUvsCPU comparison
  DQM/Integration/python/clients/pfgpu_dqm_sourceclient-live_cfg.py
  DQM/PFTasks/BuildFile.xml
  DQM/PFTasks/plugins/BuildFile.xml
  DQM/PFTasks/plugins/PFHcalGPUComparisonTask.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok, pf

#45200 Update `edm::bit_cast` [14.0.x]
  FWCore/Utilities/interface/bit_cast.h
Labels: core-approved, fully-signed, tests-approved, orp-approved, backport-ok, tests-ib-failure

#45164 [14_0_X] Update btag from DeepCSV to ParticleNet for BTV DQM
  DQMOffline/Trigger/plugins/BTVHLTOfflineSource.cc
  DQMOffline/Trigger/plugins/BTagAndProbe.cc
  DQMOffline/Trigger/python/BTVHLTOfflineSource_cfi.py
  DQMOffline/Trigger/python/BTagAndProbeMonitor_cfi.py
  DQMOffline/Trigger/python/BTagAndProbeMonitoring_cff.py
  DQMOffline/Trigger/python/BTagAndProbeMonitoring_cfi.py
  DQMOffline/Trigger/python/BTaggingMonitoring_Client_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#45158 [14.0.X] move `pat::XGBooster` out of `PhysicsTools/PatAlgos` into its own package and use it for `PhotonXGBoostEstimator`
  PhysicsTools/PatAlgos/BuildFile.xml
  PhysicsTools/PatAlgos/plugins/PATMuonProducer.cc
  PhysicsTools/PatAlgos/src/SoftMuonMvaRun3Estimator.cc
  PhysicsTools/XGBoost/BuildFile.xml
  PhysicsTools/XGBoost/interface/XGBooster.h
  PhysicsTools/XGBoost/src/XGBooster.cc
  RecoEgamma/PhotonIdentification/BuildFile.xml
  RecoEgamma/PhotonIdentification/interface/PhotonXGBoostEstimator.h
  RecoEgamma/PhotonIdentification/src/PhotonXGBoostEstimator.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, xpog-approved, ml-approved

#45142 [14_0_X] Add context for exceptions being thrown via RootOutputFile::finishEndFile()
  IOPool/Output/src/RootOutputFile.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, backport-ok

#45115 [14_0_X] Add possibility to read triggerbits for Secondary Datasets from the GT
  Configuration/AlCa/python/autoCond.py
  Configuration/Skimming/python/PDWG_ReserveDMu_SD_cff.py
  HLTrigger/HLTfilters/plugins/HLTHighLevel.cc
  HLTrigger/HLTfilters/plugins/HLTHighLevel.h
Labels: alca-approved, hlt-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, backport-ok

#45107 [14_0_X] EMTF emulator support for 2024 primitive converison LUTs
  L1Trigger/L1TMuonEndCap/src/ConditionHelper.cc
  L1Trigger/L1TMuonEndCap/src/SectorProcessorLUT.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, requires-external, backport-ok

#45213 Introduce `reco::Track::recHitsOk()` and use it to remove try/catch pattern in `SingleLongTrackProducer`
  DataFormats/TrackReco/interface/Track.h
  DataFormats/TrackReco/interface/TrackExtraBase.h
  RecoTracker/FinalTrackSelectors/plugins/SingleLongTrackProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, code-checks-approved, tracking

#45238 Introduce kInvalidDenseId for ECAL and HCAL
  RecoParticleFlow/PFRecHitProducer/plugins/alpaka/CalorimeterDefinitions.h
  RecoParticleFlow/PFRecHitProducer/plugins/alpaka/PFRecHitProducerKernel.dev.cc
  RecoParticleFlow/PFRecHitProducer/plugins/alpaka/PFRecHitTopologyESProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, pf

#45234 Run3-alca247C Modify CalibFitPlots to provide multiple depth plots to individual plots with single depths
  Calibration/HcalCalibAlgos/macros/CalibFitPlots.C
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45229 Phase2-gex178 Update the cfi's for HFNose in testing some beyond Phase2 scenarios
  Geometry/ForwardCommonData/python/hfnoseAloneXML_cfi.py
  Geometry/ForwardCommonData/python/hfnoseXML_cfi.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45222 Remove unused variable, fixes cuda warnings
  DataFormats/HcalRecHit/test/test_hcal_reco.cu
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45220 Move online (frozen) GTs to 141X and add the dedxCalibration record for HI
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45218 Add a serialisation test
  HeterogeneousCore/MPICore/test/BuildFile.xml
  HeterogeneousCore/MPICore/test/testSerialisation.cc
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#45211 MTD geometry: fix BTL numbering scheme for scenario v3, input by Geant4, move unit tests to D110 scenario
  Geometry/MTDCommonData/src/BTLNumberingScheme.cc
  Geometry/MTDCommonData/test/testMTDinDD4hep.py
  Geometry/MTDCommonData/test/testMTDinDDD.py
  Geometry/MTDGeometryBuilder/test/dd4hep_mtd_cfg.py
  Geometry/MTDGeometryBuilder/test/mtd_cfg.py
  Geometry/MTDNumberingBuilder/test/dd4hep_mtd_cfg.py
  Geometry/MTDNumberingBuilder/test/mtd_cfg.py
  RecoMTD/DetLayers/test/mtd_cfg.py
  SimG4CMS/Forward/test/python/runMTDSens_DD4hep_cfg.py
  SimG4CMS/Forward/test/python/runMTDSens_cfg.py
Labels: geometry-approved, reconstruction-approved, simulation-approved, fully-signed, tests-approved, bug-fix, orp-approved, upgrade-approved, requires-external, code-checks-approved

#45253 (DAQ) fix double conting of meta event (14_1_X)
  EventFilter/Utilities/plugins/GlobalEvFOutputModule.cc
Labels: daq-approved, fully-signed, tests-started, orp-approved, urgent, code-checks-approved

#45259 (DAQ) fix double conting of meta event (14_0_9 backport)
  EventFilter/Utilities/plugins/GlobalEvFOutputModule.cc
Labels: daq-approved, fully-signed, tests-pending, bug-fix, orp-approved, urgent, backport-ok

#45258 Fixed artificial new files in StreamerInputModule [14.0.9-patchX]
  IOPool/Streamer/interface/StreamerInputModule.h
Labels: core-pending, pending-signatures, tests-pending, bug-fix, orp-approved, urgent, backport-ok

#45199 HcalRecHit SoA dataFormat
  DataFormats/HcalRecHit/BuildFile.xml
  DataFormats/HcalRecHit/interface/HcalRecHitHostCollection.h
  DataFormats/HcalRecHit/interface/HcalRecHitSoA.h
  DataFormats/HcalRecHit/interface/alpaka/HcalRecHitDeviceCollection.h
  DataFormats/HcalRecHit/src/alpaka/classes_cuda.h
  DataFormats/HcalRecHit/src/alpaka/classes_cuda_def.xml
  DataFormats/HcalRecHit/src/alpaka/classes_rocm.h
  DataFormats/HcalRecHit/src/alpaka/classes_rocm_def.xml
  DataFormats/HcalRecHit/src/classes.cc
  DataFormats/HcalRecHit/src/classes.h
  DataFormats/HcalRecHit/src/classes_def.xml
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved, hcal, allow-kakwok

#45174 [14.0.X] Miscellaneous fixes for TRK POG Data/MC validation tool
  DQM/TrackingMonitorSource/plugins/StandaloneTrackMonitor.cc
  DQM/TrackingMonitorSource/python/StandaloneTrackMonitor_cfi.py
  DQM/TrackingMonitorSource/python/TrackingDataMCValidation_Standalone_cff.py
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, tracking

#45237 [14.0.X] introduce const variant of `XGBooster::predict `and use it in `PhotonXGBoostEstimator`
  PhysicsTools/XGBoost/interface/XGBooster.h
  PhysicsTools/XGBoost/src/XGBooster.cc
  RecoEgamma/PhotonIdentification/interface/PhotonXGBoostEstimator.h
  RecoEgamma/PhotonIdentification/plugins/PhotonXGBoostProducer.cc
  RecoEgamma/PhotonIdentification/src/PhotonXGBoostEstimator.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, backport-ok, ml-approved

#45067 Remove extraneous parentheses in CMTRawAnalyzer.cc
  DPGAnalysis/HcalTools/plugins/CMTRawAnalyzer.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45129 Fix deprecated enum arithmetics in ElectronConversionRejectionValidator and PhotonValidator
  Validation/RecoEgamma/plugins/ElectronConversionRejectionValidator.cc
  Validation/RecoEgamma/plugins/PhotonValidator.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45180 Set uGMT version used for 2024 in the packers
  EventFilter/L1TRawToDigi/python/gmtStage2Raw_cfi.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45202 Adding various MEs to per-LS scope
  DQMServices/Core/python/nanoDQMIO_perLSoutput_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45208 Move commons.h to DataFormats/HGCalReco to break cyclic dep
  DataFormats/HGCalReco/interface/Common.h
  DataFormats/HGCalReco/interface/TICLCandidate.h
  RecoHGCal/TICL/interface/PatternRecognitionAlgoBase.h
  RecoHGCal/TICL/interface/TICLInterpretationAlgoBase.h
  RecoHGCal/TICL/interface/TracksterLinkingAlgoBase.h
  RecoHGCal/TICL/interface/commons.h
  RecoHGCal/TICL/plugins/HGCGraph.h
  RecoHGCal/TICL/plugins/LinkingAlgoByDirectionGeometric.h
  RecoHGCal/TICL/plugins/SimTrackstersProducer.cc
  RecoHGCal/TICL/plugins/TICLDumper.cc
  Validation/HGCalValidation/src/TICLCandidateValidator.cc
Labels: dqm-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#45217 either remove or make a bunch of configuration fragments compile
  DQM/EcalMonitorDbModule/python/EcalCondDBWriter_cfi.py
  DQM/SiStripMonitorClient/python/RecoForDQM_Cosmic_cff.py
  Geometry/ForwardCommonData/python/hfnoseV15ParametersInitialization_cfi.py
  Geometry/HcalEventSetup/python/HcalTrigTowerGeometry_cfi.py
  JetMETCorrections/TauJet/python/TCRecoTauDiscriminationAlgoComponent_cfi.py
  L1Trigger/L1TCalorimeter/python/caloStage2Params_2016_v0p0_cfi.py
  RecoMET/METPUSubtraction/python/mvaPFMET_leptons_cfi.py
  SimGeneral/MixingModule/python/mix_2015_25nsLowPU_matchData_PoissonOOTPU_cfi.py
Labels: analysis-approved, dqm-approved, geometry-approved, l1-approved, reconstruction-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#45221 workaround for -O3/UBSAN compiler error in GeneratorInterface/SherpaInterface
  GeneratorInterface/SherpaInterface/src/SherpackUtilities.cc
Labels: generators-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45225 double precision in `StandaloneTrackMonitor` and `TrackTypeMonitor` plots to avoid numerical overflow with high number of bin counts
  DQM/TrackingMonitorSource/plugins/StandaloneTrackMonitor.cc
  DQM/TrackingMonitorSource/plugins/TrackTypeMonitor.cc
  DQMServices/Core/interface/DQMStore.h
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#45228 Phase2-hgx356Y Update the Analyzer code for 2023 HGCal Test Beam codes utilizing 8 inch wafers
  Geometry/HGCalCommonData/src/HGCalDDDConstants.cc
  Geometry/HGCalCommonData/src/HGCalGeomParameters.cc
  Geometry/HGCalCommonData/test/python/runHGCalTestDDD_cfg.py
  Geometry/HGCalTBCommonData/src/HGCalTBDDDConstants.cc
  SimG4CMS/HGCalTestBeam/plugins/HGCalTB23Analyzer.cc
  SimG4CMS/HGCalTestBeam/test/HGCalTB230Sep_cfg.py
Labels: geometry-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#45249 moduleAlloc_setupFile.h: ThreadAllocInfo is struct not class
  PerfTools/AllocMonitor/plugins/moduleAlloc_setupFile.h
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45244 Tracking MC truth: fixes and updates to TrackingTruthDumper
  SimGeneral/TrackingAnalysis/test/TrackingTruthDumper.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#45250 Remove unused lambda captures in test_catch2_WaitingThreadPool.cc
  FWCore/Concurrency/test/test_catch2_WaitingThreadPool.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45251 Remove unused constants from EcalChannelStatus_PayloadInspector.cc
  CondCore/EcalPlugins/plugins/EcalChannelStatus_PayloadInspector.cc
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#45255 `DQMEventInfo`: add the possibility to register the `GlobalTag` name in a `MonitorElement`
  DQMOffline/Trigger/python/DQMOffline_Trigger_cff.py
  DQMServices/Components/plugins/DQMEventInfo.cc
  DQMServices/Components/python/DQMEventInfo_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45269 Include other in the re-scaled pie measurements
  HLTrigger/Configuration/python/HLT_75e33/test/augmentResources.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45274 Move phase2_realistic to the T33 tracker geometry in autoCond
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45231 Fix broken `DQM/Integration` unit tests after streamers layout update
  DQM/Integration/python/clients/sistrip_approx_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/config/unitteststreamerinputsource_cfi.py
  DQM/Integration/test/BuildFile.xml
  DQMServices/StreamerIO/plugins/DQMStreamerReader.cc
  DQMServices/StreamerIO/plugins/DQMStreamerReader.h
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, requires-external, code-checks-approved

#45016 Add new dEdx calibration and estimator
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  DataFormats/TrackReco/interface/DeDxHit.h
  DataFormats/TrackReco/interface/DeDxHitInfo.h
  DataFormats/TrackReco/src/classes_def.xml
  RecoTracker/Configuration/python/RecoTracker_EventContent_cff.py
  RecoTracker/DeDx/BuildFile.xml
  RecoTracker/DeDx/interface/LikelihoodFitDeDxEstimator.h
  RecoTracker/DeDx/plugins/DeDxEstimatorProducer.cc
  RecoTracker/DeDx/plugins/DeDxEstimatorProducer.h
  RecoTracker/DeDx/plugins/DeDxHitCalibrator.cc
  RecoTracker/DeDx/plugins/DeDxHitInfoProducer.cc
  RecoTracker/DeDx/python/dedxEstimators_cff.py
Labels: reconstruction-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved, tracking

#45167 [JMENano] Add customize functions to recompute Puppi weights and PuppiMET, add new autoNano option
  Configuration/PyReleaseValidation/python/relval_nano.py
  PhysicsTools/NanoAOD/python/autoNANO.py
  PhysicsTools/NanoAOD/python/custom_jme_cff.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved, xpog-approved

#45248 Calo Layer-2 EG conditions for 2024 post-TS
  L1Trigger/Configuration/python/customiseSettings.py
  L1Trigger/L1TCalorimeter/python/caloParams_2024_v0_2_cfi.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45262 Unpacker and DataFormat for L1 Trigger Scouting BMTF source
  DataFormats/L1Scouting/interface/L1ScoutingBMTFStub.h
  DataFormats/L1Scouting/src/classes.h
  DataFormats/L1Scouting/src/classes_def.xml
  DataFormats/L1Scouting/test/TestL1ScoutingFormat.sh
  DataFormats/L1Scouting/test/TestReadL1Scouting.cc
  DataFormats/L1Scouting/test/TestWriteL1Scouting.cc
  DataFormats/L1Scouting/test/create_L1Scouting_test_file_cfg.py
  DataFormats/L1Scouting/test/read_L1Scouting_cfg.py
  EventFilter/L1ScoutingRawToDigi/interface/blocks.h
  EventFilter/L1ScoutingRawToDigi/interface/masks.h
  EventFilter/L1ScoutingRawToDigi/interface/shifts.h
  EventFilter/L1ScoutingRawToDigi/plugins/ScBMTFRawToDigi.cc
  EventFilter/L1ScoutingRawToDigi/plugins/ScBMTFRawToDigi.h
  EventFilter/L1ScoutingRawToDigi/python/ScBMTFRawToDigi_cfi.py
Labels: daq-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#45266 Add extended version of SCraw energy plots
  DQM/EcalMonitorTasks/python/ClusterTask_cfi.py
  DQM/EcalMonitorTasks/src/ClusterTask.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, ecal

#44219 Removes duplicate/unneeded entries in serialization XML of test objects.
  DataFormats/PortableTestObjects/src/classes_def.xml
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#45219 workaround for -O3 compilation issues in Geometry/HGCalCommonData
  Geometry/HGCalCommonData/plugins/BuildFile.xml
  Geometry/HGCalCommonData/plugins/DDHGCalPassive.cc
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalPassive.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#45268 Improve plugins in `Alignment/HIPAlignmentAlgorithm` and add unit tests
  Alignment/HIPAlignmentAlgorithm/plugins/HIPTwoBodyDecayAnalyzer.cc
  Alignment/HIPAlignmentAlgorithm/plugins/LhcTrackAnalyzer.cc
  Alignment/HIPAlignmentAlgorithm/test/BuildFile.xml
  Alignment/HIPAlignmentAlgorithm/test/testHIPAnalyzers.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#45277 HcalRecHit SoA DataFormats [14.0.x]
  DataFormats/HcalRecHit/BuildFile.xml
  DataFormats/HcalRecHit/interface/HcalRecHitHostCollection.h
  DataFormats/HcalRecHit/interface/HcalRecHitSoA.h
  DataFormats/HcalRecHit/interface/alpaka/HcalRecHitDeviceCollection.h
  DataFormats/HcalRecHit/src/alpaka/classes_cuda.h
  DataFormats/HcalRecHit/src/alpaka/classes_cuda_def.xml
  DataFormats/HcalRecHit/src/alpaka/classes_rocm.h
  DataFormats/HcalRecHit/src/alpaka/classes_rocm_def.xml
  DataFormats/HcalRecHit/src/classes.cc
  DataFormats/HcalRecHit/src/classes.h
  DataFormats/HcalRecHit/src/classes_def.xml
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, heterogeneous-approved, hcal

#45239 Introduce kInvalidDenseId for ECAL and HCAL [14.0.x]
  RecoParticleFlow/PFRecHitProducer/plugins/alpaka/CalorimeterDefinitions.h
  RecoParticleFlow/PFRecHitProducer/plugins/alpaka/PFRecHitProducerKernel.dev.cc
  RecoParticleFlow/PFRecHitProducer/plugins/alpaka/PFRecHitTopologyESProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, pf

#45278 Change CaloRecHitProducer to produce new HCAL RecHit SoA [14.0.x]
  RecoParticleFlow/PFRecHitProducer/plugins/alpaka/CaloRecHitSoAProducer.cc
  RecoParticleFlow/PFRecHitProducer/plugins/alpaka/CalorimeterDefinitions.h
  RecoParticleFlow/PFRecHitProducer/plugins/alpaka/PFRecHitProducerKernel.dev.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, requires-external, backport-ok, heterogeneous-approved, hcal, pf

#45246 Fixed artificial new files in StreamerInputModule [14_0]
  IOPool/Streamer/interface/StreamerInputModule.h
Labels: core-approved, fully-signed, tests-approved, orp-approved, urgent

#45254 (DAQ) fix double conting of meta event (14_0_X backport)
  EventFilter/Utilities/plugins/GlobalEvFOutputModule.cc
Labels: daq-approved, fully-signed, tests-approved, orp-approved, urgent

#45230 [14.0.X] Introduce `reco::Track::recHitsOk()` and use it to remove try/catch pattern in `SingleLongTrackProducer`
  DataFormats/TrackReco/interface/Track.h
  DataFormats/TrackReco/interface/TrackExtraBase.h
  RecoTracker/FinalTrackSelectors/plugins/SingleLongTrackProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok, tracking

#45203 Adding various MEs to per-LS scope - backport to 14_0_X
  DQMServices/Core/python/nanoDQMIO_perLSoutput_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#45256 [14_0_X] Fix RelMon Piecharts using `Chart.js`
  Utilities/RelMon/python/definitions.py
  Utilities/RelMon/python/directories2html.py
  Utilities/RelMon/python/dirstructure.py
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#45257 [14_0_X] Tunable `PUMax` in `PrimaryVertexMonitor` and Finer d_xy DQM Tracking Plots
  DQMOffline/RecoB/plugins/PrimaryVertexMonitor.cc
  DQMOffline/RecoB/python/PrimaryVertexMonitor_cff.py
  Validation/RecoTrack/python/MTVHistoProducerAlgoForTrackerBlock_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok, tracking

#45267 Add extended version of SCraw energy plots [14_0_X]
  DQM/EcalMonitorTasks/python/ClusterTask_cfi.py
  DQM/EcalMonitorTasks/src/ClusterTask.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok, ecal

#45143 [14_0_X] Introduce edm::Async service, and use it in CUDA and Alpaka modules
  FWCore/Concurrency/BuildFile.xml
  FWCore/Concurrency/interface/Async.h
  FWCore/Concurrency/interface/WaitingThreadPool.h
  FWCore/Concurrency/src/Async.cc
  FWCore/Concurrency/src/WaitingThreadPool.cc
  FWCore/Concurrency/test/test_catch2_Async.cc
  FWCore/Concurrency/test/test_catch2_WaitingThreadPool.cc
  FWCore/Framework/src/defaultCmsRunServices.cc
  FWCore/Services/plugins/AsyncService.cc
  FWCore/Services/test/AsyncServiceTester.cc
  FWCore/Services/test/BuildFile.xml
  FWCore/Services/test/test_asyncservice.sh
  FWCore/Services/test/test_asyncservice_cfg.py
  FWCore/TestModules/README.md
  FWCore/TestModules/plugins/BuildFile.xml
  FWCore/TestModules/plugins/StreamIDFilter.cc
  FWCore/Utilities/interface/ReusableObjectHolder.h
  HeterogeneousCore/AlpakaCore/BuildFile.xml
  HeterogeneousCore/AlpakaCore/interface/EventCache.h
  HeterogeneousCore/AlpakaCore/interface/alpaka/EDMetadata.h
  HeterogeneousCore/AlpakaCore/src/alpaka/EDMetadata.cc
  HeterogeneousCore/CUDACore/src/ScopedContext.cc
  HeterogeneousCore/CUDACore/test/test_main.cc
  HeterogeneousCore/CUDAUtilities/src/EventCache.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, requires-external, heterogeneous-approved

#45176 [JMENano] Backport of #45167 (Add customize functions to recompute Puppi weights and PuppiMET, add new autoNano option) to 14_0_X
  Configuration/PyReleaseValidation/python/relval_nano.py
  PhysicsTools/NanoAOD/python/autoNANO.py
  PhysicsTools/NanoAOD/python/custom_jme_cff.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, backport-ok, xpog-approved

#45271 [PileUpJetId] Backport of #45270 (Set jet phi for JEC) to 14_0_X
  RecoJets/JetProducers/plugins/PileupJetIdProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok

#45296 Protect against null `VertexRef` in `deep_helpers.cc`
  RecoBTag/FeatureTools/src/deep_helpers.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, btv

#45287 `TestDQMOfflineConfigurationGotAll`: increase the number of considered DQM sequences
  DQMOffline/Configuration/test/BuildFile.xml
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, urgent, code-checks-approved

#45286 Protect `DQMEventInfo` when there is no `PoolDBESSource@GlobalTag` `PSet` in the process history
  DQMServices/Components/plugins/DQMEventInfo.cc
  DQMServices/Components/python/DQMEventInfo_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved

#45279 Use of MTD time in reconstruction: fixes and update
  RecoMTD/TimingIDTools/plugins/TOFPIDProducer.cc
  RecoVertex/Configuration/python/RecoVertex_phase2_timing_cff.py
  RecoVertex/PrimaryVertexProducer/src/DAClusterizerInZT_vect.cc
  RecoVertex/PrimaryVertexProducer/src/VertexTimeAlgorithmLegacy4D.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, upgrade-approved, code-checks-approved, tracking, mtd

#45197 add GEM pad numbers check before doing coordinate conversion to avoid…
  L1Trigger/CSCTriggerPrimitives/src/GEMClusterProcessor.cc
  L1Trigger/CSCTriggerPrimitives/test/runCSCTriggerPrimitiveProducer_cfg.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45175 Update default Phase-2 geometry to D110 and restructure relvals_2026
  Configuration/PyReleaseValidation/python/relval_2026.py
  Configuration/PyReleaseValidation/scripts/runTheMatrix.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#45151 Include HIon type traits for Alpaka pixel tracking
  DataFormats/TrackSoA/interface/TracksDevice.h
  DataFormats/TrackSoA/src/alpaka/classes_cuda_def.xml
  DataFormats/TrackSoA/src/alpaka/classes_rocm_def.xml
  RecoLocalTracker/SiPixelClusterizer/python/siPixelClustersPreSplitting_cff.py
  RecoLocalTracker/SiPixelRecHits/interface/alpaka/PixelCPEFastParamsCollection.h
  RecoLocalTracker/SiPixelRecHits/plugins/alpaka/PixelCPEFastParamsESProducerAlpaka.cc
  RecoLocalTracker/SiPixelRecHits/plugins/alpaka/SiPixelRecHitAlpaka.cc
  RecoLocalTracker/SiPixelRecHits/python/PixelCPEESProducers_cff.py
  RecoLocalTracker/SiPixelRecHits/python/SiPixelRecHits_cfi.py
  RecoLocalTracker/SiPixelRecHits/src/ES_PixelCPEFastParams.cc
  RecoLocalTracker/SiPixelRecHits/src/PixelCPEFastParams.cc
  RecoLocalTracker/SiPixelRecHits/src/alpaka/ES_PixelCPEFastParams.cc
  RecoTracker/Configuration/python/RecoPixelVertexing_cff.py
  RecoTracker/PixelSeeding/plugins/alpaka/CAHitNtuplet.cc
  RecoTracker/PixelTrackFitting/python/PixelTracks_cff.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved, tracking, trk

#45037 Add Unpacker for L1T Calo Layer 1 to unpack CICADA
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/CICADAUnpacker.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/CICADAUnpacker.h
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/CaloLayer1Collections.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/CaloLayer1Collections.h
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/CaloLayer1Setup.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/CaloSummaryCollections.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/CaloSummaryCollections.h
Labels: l1-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#45289 [14.0.X] Fix broken `DQM/Integration` unit tests after streamers layout update
  DQM/Integration/python/clients/sistrip_approx_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/config/unitteststreamerinputsource_cfi.py
  DQM/Integration/test/BuildFile.xml
  DQMServices/StreamerIO/plugins/DQMStreamerReader.cc
  DQMServices/StreamerIO/plugins/DQMStreamerReader.h
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, requires-external, backport-ok

#45273 [14_0_X Backport] Unpacker and DataFormat for L1 Trigger Scouting BMTF source
  DataFormats/L1Scouting/interface/L1ScoutingBMTFStub.h
  DataFormats/L1Scouting/src/classes.h
  DataFormats/L1Scouting/src/classes_def.xml
  DataFormats/L1Scouting/test/TestL1ScoutingFormat.sh
  DataFormats/L1Scouting/test/TestReadL1Scouting.cc
  DataFormats/L1Scouting/test/TestWriteL1Scouting.cc
  DataFormats/L1Scouting/test/create_L1Scouting_test_file_cfg.py
  DataFormats/L1Scouting/test/read_L1Scouting_cfg.py
  EventFilter/L1ScoutingRawToDigi/interface/blocks.h
  EventFilter/L1ScoutingRawToDigi/interface/masks.h
  EventFilter/L1ScoutingRawToDigi/interface/shifts.h
  EventFilter/L1ScoutingRawToDigi/plugins/ScBMTFRawToDigi.cc
  EventFilter/L1ScoutingRawToDigi/plugins/ScBMTFRawToDigi.h
  EventFilter/L1ScoutingRawToDigi/python/ScBMTFRawToDigi_cfi.py
Labels: daq-approved, fully-signed, tests-approved, orp-approved

#45308 Revert "Add Unpacker for L1T Calo Layer 1 to unpack CICADA"
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/CICADAUnpacker.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/CICADAUnpacker.h
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/CaloLayer1Collections.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/CaloLayer1Collections.h
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/CaloLayer1Setup.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/CaloSummaryCollections.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/CaloSummaryCollections.h
Labels: l1-approved, fully-signed, orp-pending, tests-started, code-checks-approved

#45317 Introduce kInvalidDenseId for ECAL and HCAL
  RecoParticleFlow/PFRecHitProducer/plugins/alpaka/CalorimeterDefinitions.h
  RecoParticleFlow/PFRecHitProducer/plugins/alpaka/PFRecHitProducerKernel.dev.cc
  RecoParticleFlow/PFRecHitProducer/plugins/alpaka/PFRecHitTopologyESProducer.cc
Labels: reconstruction-pending, pending-signatures, tests-started, bug-fix, orp-approved, backport-ok, pf

#45288 Fix issue in TauMCEmbedding related to missing Pixel Cluster Shape
  RecoTracker/DeDx/plugins/DeDxHitInfoProducer.cc
  TauAnalysis/MCEmbeddingTools/python/customisers.py
Labels: reconstruction-approved, simulation-approved, fully-signed, tests-approved, orp-approved, urgent, code-checks-approved, tracking

#45311 Protect ECAL time reconstruction for events without EB
  RecoLocalCalo/EcalRecProducers/plugins/alpaka/EcalUncalibRecHitMultiFitAlgoPortable.dev.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved, ecal

#45236 fix configuration of ZDC inputs in `L1REPACK:uGT`
  Configuration/StandardSequences/python/SimL1EmulatorRepack_uGT_cff.py
Labels: operations-approved, fully-signed, tests-approved, orp-approved, code-checks-approved
