Repository cms-sw/cmssw, pull requests merged in 2024-04, with the labels that each got.

#44532 XGBoost producer bugfix and unit test fix for non-x86_64 (14_0_X)
  RecoEgamma/PhotonIdentification/interface/PhotonXGBoostEstimator.h
  RecoEgamma/PhotonIdentification/plugins/PhotonXGBoostProducer.cc
  RecoEgamma/PhotonIdentification/src/PhotonXGBoostEstimator.cc
  RecoEgamma/PhotonIdentification/test/test_PhotonMvaXgb.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, egamma

#44391 l1nano import location
  Configuration/DataProcessing/python/Reco.py
  Configuration/PyReleaseValidation/python/relval_nano.py
  PhysicsTools/NanoAOD/python/autoNANO.py
  PhysicsTools/NanoAOD/python/l1trig_cff.py
  PhysicsTools/NanoAOD/python/nano_cff.py
Labels: operations-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved, xpog-approved

#44515 [CPP20][DQM] Replace some enums with constexpr ints
  DQM/CTPPS/plugins/TotemT2DQMSource.cc
  DQM/EcalCommon/interface/MESetBinningUtils.h
  DQM/EcalMonitorClient/src/PresampleClient.cc
  DQM/EcalMonitorClient/src/TimingClient.cc
  DataFormats/CTPPSReco/interface/TotemTimingRecHit.h
  DataFormats/EcalDetId/interface/EcalTrigTowerDetId.h
Labels: dqm-approved, reconstruction-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44353 Add reco::Muon displacedMuons to offline validation sequences
  Validation/RecoMuon/python/PostProcessor_RecoDisplacedMuonValidator_cff.py
  Validation/RecoMuon/python/PostProcessor_cff.py
  Validation/RecoMuon/python/RecoDisplacedMuonValidator_cff.py
  Validation/RecoMuon/python/RecoDisplacedMuonValidator_cfi.py
  Validation/RecoMuon/python/RelValCustoms.py
  Validation/RecoMuon/python/muonValidation_cff.py
  Validation/RecoMuon/src/RecoDisplacedMuonValidator.cc
  Validation/RecoMuon/src/RecoDisplacedMuonValidator.h
  Validation/RecoMuon/src/SealModule.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44428 custom nano configuration and test [Backport]
  Configuration/Applications/python/ConfigBuilder.py
  Configuration/PyReleaseValidation/python/relval_nano.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  PhysicsTools/NanoAOD/python/autoNANO.py
  PhysicsTools/NanoAOD/python/custom_jme_cff.py
  PhysicsTools/NanoAOD/python/custom_muon_cff.py
Labels: operations-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, xpog-approved

#44524 Add custom filterbits for EGM Nano [14_0_X]
  PhysicsTools/NanoAOD/python/egamma_custom_cff.py
Labels: fully-signed, tests-approved, orp-approved, xpog-approved, egamma

#44394 [14_0_X] Update unpacker for L1T Calo scouting + DataFormat tests
  DataFormats/L1Scouting/interface/OrbitCollection.h
  DataFormats/L1Scouting/test/read_L1Scouting_cfg.py
  DataFormats/L1ScoutingRawData/interface/SDSNumbering.h
  EventFilter/L1ScoutingRawToDigi/interface/blocks.h
  EventFilter/L1ScoutingRawToDigi/plugins/ScCALORawToDigi.cc
  EventFilter/L1ScoutingRawToDigi/plugins/ScCALORawToDigi.h
  EventFilter/L1ScoutingRawToDigi/plugins/ScGMTRawToDigi.cc
  EventFilter/L1ScoutingRawToDigi/plugins/ScGMTRawToDigi.h
  EventFilter/L1ScoutingRawToDigi/python/ScCaloRawToDigi_cfi.py
  EventFilter/L1ScoutingRawToDigi/python/ScGMTRawToDigi_cfi.py
  L1TriggerScouting/Utilities/interface/scales.h
Labels: daq-approved, fully-signed, tests-approved, orp-approved

#44566 [Puppi] Backport of #44050 (Hadronic tau recovery with protection for fromPV==2 charged particles) to 14_0_X
  CommonTools/PileupAlgos/plugins/PuppiProducer.cc
  CommonTools/PileupAlgos/python/Puppi_cff.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, tau, jetmet

#44504 BaseMVAValueMapProducer and new Prompt lepton MVA [Backport]
  Configuration/Eras/python/Era_Run3_cff.py
  Configuration/Eras/python/Modifier_run3_muon_cff.py
  PhysicsTools/NanoAOD/python/electrons_cff.py
  PhysicsTools/NanoAOD/python/jetsAK4_CHS_cff.py
  PhysicsTools/NanoAOD/python/muons_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
  PhysicsTools/NanoAOD/python/nano_eras_cff.py
  PhysicsTools/PatAlgos/interface/BaseMVAValueMapProducer.h
  PhysicsTools/PatAlgos/python/slimming/miniAOD_tools.py
Labels: operations-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, requires-external, backport-ok, xpog-approved, muon, egamma, jetmet

#44544 Unpack displaced pT from OMTF at the uGMT inputs (backport for 14_0_X)
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/BMTFPackerOutput.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/BMTFUnpackerOutput.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/GMTSetup.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/RegionalMuonGMTPacker.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/RegionalMuonGMTPacker.h
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/RegionalMuonGMTUnpacker.cc
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/RegionalMuonGMTUnpacker.h
  L1Trigger/L1TMuon/interface/RegionalMuonRawDigiTranslator.h
  L1Trigger/L1TMuon/src/RegionalMuonRawDigiTranslator.cc
  L1Trigger/L1TNtuples/src/L1AnalysisL1UpgradeTfMuon.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, backport-ok

#44586 Slight update to TensorFlowAOT interface.
  PhysicsTools/TensorFlowAOT/interface/Batching.h
  PhysicsTools/TensorFlowAOT/interface/Model.h
  PhysicsTools/TensorFlowAOT/src/Batching.cc
  PhysicsTools/TensorFlowAOT/test/testAOTTools.py
  PhysicsTools/TensorFlowAOT/test/testInterface.cc
Labels: fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved, ml-approved

#44593 [14_1_X SIM] Clean-up MC truth infrastructure
  SimG4CMS/Calo/interface/CaloG4Hit.h
  SimG4CMS/Calo/src/CaloG4Hit.cc
  SimG4Core/Application/interface/TrackingAction.h
  SimG4Core/Application/plugins/OscarMTProducer.cc
  SimG4Core/Application/python/g4SimHits_cfi.py
  SimG4Core/Application/src/RunManagerMTWorker.cc
  SimG4Core/Application/src/TrackingAction.cc
  SimG4Core/GeometryProducer/src/GeometryProducer.cc
  SimG4Core/Notification/interface/SimTrackManager.h
  SimG4Core/Notification/interface/TmpSimEvent.h
  SimG4Core/Notification/interface/TrackInformation.h
  SimG4Core/Notification/interface/TrackWithHistory.h
  SimG4Core/Notification/src/SimTrackManager.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44591 Change unsubjet_map in btag info producers to tracked
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPfDeepFlavourTagInfosModEta2p4_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPfDeepFlavourTagInfos_cfi.py
  HLTrigger/Configuration/python/customizeHLTforCMSSW.py
  RecoBTag/FeatureTools/plugins/DeepBoostedJetTagInfoProducer.cc
  RecoBTag/FeatureTools/plugins/DeepFlavourTagInfoProducer.cc
  RecoBTag/FeatureTools/plugins/ParticleTransformerAK4TagInfoProducer.cc
Labels: hlt-approved, reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, btv

#44411 JME DQM implementation of Z/Gamma plus Jet monitoring for Run3 (14_1_X)
  DQMOffline/Trigger/plugins/ZGammaplusJetsMonitor.cc
  DQMOffline/Trigger/python/JetMETPromptMonitor_cff.py
  DQMOffline/Trigger/python/ZGammaplusJetsMonitor_cff.py
  DQMOffline/Trigger/python/ZGammaplusJetsMonitor_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44518 Add PF HF sum energy to reco::Centrality
  DQM/Physics/src/CentralityDQM.cc
  DQM/Physics/src/CentralityDQM.h
  DQM/Physics/src/CentralitypADQM.cc
  DQM/Physics/src/CentralitypADQM.h
  DQMOffline/JetMET/src/JetAnalyzer_HeavyIons.cc
  DataFormats/HeavyIonEvent/interface/Centrality.h
  DataFormats/HeavyIonEvent/src/Centrality.cc
  DataFormats/HeavyIonEvent/src/classes_def.xml
  RecoHI/HiCentralityAlgos/plugins/CentralityBinProducer.cc
  RecoHI/HiCentralityAlgos/plugins/CentralityProducer.cc
  RecoHI/HiCentralityAlgos/python/HiCentrality_cfi.py
  RecoHI/HiCentralityAlgos/python/pACentrality_cfi.py
  RecoHI/HiJetAlgos/plugins/HiFJGridEmptyAreaCalculator.cc
  RecoHI/HiJetAlgos/plugins/HiFJGridEmptyAreaCalculator.h
Labels: dqm-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44570 add a unit test for conversion of `millepede.res` files into DB payloads
  Alignment/MillePedeAlignmentAlgorithm/test/BuildFile.xml
  Alignment/MillePedeAlignmentAlgorithm/test/align_params_cff.py
  Alignment/MillePedeAlignmentAlgorithm/test/convertMPresToDB_cfg.py
  Alignment/MillePedeAlignmentAlgorithm/test/test_pede.py
  Alignment/MillePedeAlignmentAlgorithm/test/test_pede.sh
  Alignment/MillePedeAlignmentAlgorithm/test/test_pedeConversion.sh
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#44588 TkAl: protect unit tests against empty queries and drop unused tests
  Alignment/OfflineValidation/test/testingScripts/test_all-in-one.sh
  Alignment/OfflineValidation/test/testingScripts/test_unitSubmitPVrbr.sh
  Alignment/OfflineValidation/test/testingScripts/test_unitSubmitPVsplit.sh
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#44590 Temporary: abort if cutParser fails to find methods
  CommonTools/Utils/src/MethodSetter.cc
  CommonTools/Utils/test/testCutParser.cc
Labels: core-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44558 Add HGCAL Hit calibration to Phase2 HLT.
  HLTriggerOffline/Common/python/HLTValidation_cff.py
  Validation/HGCalValidation/plugins/HGCalHitCalibration.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44568 Update of the LumiPCC module veto list and afterglow factors for 2024
  Calibration/LumiAlCaRecoProducers/python/CorrPCCProducer_cfi.py
  Calibration/LumiAlCaRecoProducers/python/alcaRawPCCProducer_cfi.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44597 [14_0_X] Change unsubjet_map in btag info producers to tracked
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPfDeepFlavourTagInfosModEta2p4_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPfDeepFlavourTagInfos_cfi.py
  HLTrigger/Configuration/python/customizeHLTforCMSSW.py
  RecoBTag/FeatureTools/plugins/DeepBoostedJetTagInfoProducer.cc
  RecoBTag/FeatureTools/plugins/DeepFlavourTagInfoProducer.cc
  RecoBTag/FeatureTools/plugins/ParticleTransformerAK4TagInfoProducer.cc
Labels: hlt-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, btv

#44594 Update L1TUtmTriggerMenu tag in 2024 MC GTs and for Run3 data RelVals
  Configuration/AlCa/python/autoCond.py
  Configuration/AlCa/python/autoCondModifiers.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44546 Add QuadJet with 3 b-tag PNet trigger to the DQM offline
  DQMOffline/Trigger/python/DisplacedVertices_Monitor_cff.py
  DQMOffline/Trigger/python/ExoticaMonitoring_Client_cff.py
  DQMOffline/Trigger/python/ExoticaMonitoring_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44419 [Backport 10.6.X] Update Pythia Hook for BB4L
  GeneratorInterface/Pythia8Interface/plugins/PowhegHooksBB4L.h
  GeneratorInterface/Pythia8Interface/src/Py8InterfaceBase.cc
Labels: generators-approved, fully-signed, tests-approved, orp-approved

#44604 Move Muon Paths to use sequences in HLT Phase2 Menu.
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_IsoMu24_FromL1TkMuon_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Mu17_TrkIsoVVL_Mu8_TrkIsoVVL_DZ_FromL1TkMuon_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_TriMu_10_5_5_DZ_FromL1TkMuon_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTPhase2L3MuonGeneralTracksSequence_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTPhase2L3MuonsSequence_cfi.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44607 update ReweightUserHooks.h in CMSSW_12_4_X
  GeneratorInterface/Pythia8Interface/plugins/ReweightUserHooks.h
Labels: generators-approved, fully-signed, tests-approved, orp-approved

#44579 [13_3_X] Add use of unsubtracted jets in RecoBTag info producers
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPfDeepFlavourTagInfosModEta2p4_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPfDeepFlavourTagInfos_cfi.py
  RecoBTag/FeatureTools/plugins/DeepBoostedJetTagInfoProducer.cc
  RecoBTag/FeatureTools/plugins/DeepFlavourTagInfoProducer.cc
  RecoBTag/FeatureTools/plugins/ParticleTransformerAK4TagInfoProducer.cc
  RecoBTag/FeatureTools/test/BuildFile.xml
  RecoBTag/FeatureTools/test/u0_cfg.py
  RecoJets/JetProducers/plugins/JetMatcherDR.cc
Labels: hlt-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, btv

#44553 Backport of #44546: Add QuadJet with 3 b-tag PNet trigger to the DQM offline
  DQMOffline/Trigger/python/DisplacedVertices_Monitor_cff.py
  DQMOffline/Trigger/python/ExoticaMonitoring_Client_cff.py
  DQMOffline/Trigger/python/ExoticaMonitoring_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#44475 [13_2_X] Add use of unsubtracted jets in RecoBTag info producers
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPfDeepFlavourTagInfosModEta2p4_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPfDeepFlavourTagInfos_cfi.py
  RecoBTag/FeatureTools/plugins/DeepBoostedJetTagInfoProducer.cc
  RecoBTag/FeatureTools/plugins/DeepFlavourTagInfoProducer.cc
  RecoBTag/FeatureTools/plugins/ParticleTransformerAK4TagInfoProducer.cc
  RecoBTag/FeatureTools/test/BuildFile.xml
  RecoBTag/FeatureTools/test/u0_cfg.py
  RecoJets/JetProducers/plugins/JetMatcherDR.cc
Labels: hlt-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, btv

#44587 ParticleNet C vs notB branch point in Nano [backport]
  PhysicsTools/NanoAOD/python/jetsAK4_Puppi_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
Labels: fully-signed, tests-approved, orp-approved, xpog-approved, jetmet

#44596 [14.0.X] HLT phase-2: fix HGCAL Layercluster and create common constants configuration for HGCAL
  HLTrigger/Configuration/python/HLT_75e33/modules/HGCalRecHitL1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/HGCalRecHit_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/HGCalUncalibRecHitL1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/HGCalUncalibRecHit_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hgcalLayerClustersEEL1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hgcalLayerClustersEE_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hgcalLayerClustersHSciL1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hgcalLayerClustersHSci_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hgcalLayerClustersHSiL1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hgcalLayerClustersHSi_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/psets/hgcal_reco_constants_cfi.py
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, hgcal

#44614 Updated AK8 path names for 2024 data-taking
  DQMOffline/Trigger/python/B2GMonitoring_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#43485 [NanoAOD,BTVNano] Btvnano integration as customized module
  Configuration/PyReleaseValidation/python/relval_nano.py
  PhysicsTools/NanoAOD/BuildFile.xml
  PhysicsTools/NanoAOD/plugins/BTVMCFlavourTableProducer.cc
  PhysicsTools/NanoAOD/plugins/BuildFile.xml
  PhysicsTools/NanoAOD/plugins/DeepJetTableProducer.cc
  PhysicsTools/NanoAOD/plugins/JetConstituentTableProducer.cc
  PhysicsTools/NanoAOD/python/autoNANO.py
  PhysicsTools/NanoAOD/python/btvMC_cff.py
  PhysicsTools/NanoAOD/python/custom_btv_cff.py
  PhysicsTools/NanoAOD/python/jetsAK4_Puppi_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
  PhysicsTools/PatAlgos/python/recoLayer0/bTagging_cff.py
  PhysicsTools/PatAlgos/python/tools/jetTools.py
  RecoBTag/FeatureTools/plugins/ParticleNetFeatureEvaluator.cc
  RecoBTag/FeatureTools/plugins/ParticleTransformerAK4TagInfoProducer.cc
  RecoBTag/ONNXRuntime/python/pfParticleNetFromMiniAODAK4_cff.py
  RecoBTag/ONNXRuntime/python/pfParticleTransformerAK4_cff.py
Labels: reconstruction-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved, xpog-approved, btv-pog-approved, pf-approved, jetmet

#44608 CalorimeterDefinitions: don't return -1 as uint32_t
  RecoParticleFlow/PFRecHitProducer/plugins/alpaka/CalorimeterDefinitions.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44618 PFTau.cc: remove pessimizing move
  DataFormats/TauReco/src/PFTau.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tau

#44642 Add L1 objects into Run3Scouting Nano
  PhysicsTools/NanoAOD/python/custom_run3scouting_cff.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#44629 Update of the LumiPCC module veto list and afterglow factors for 2024 [CMSSW_14_0_X]
  Calibration/LumiAlCaRecoProducers/python/CorrPCCProducer_cfi.py
  Calibration/LumiAlCaRecoProducers/python/alcaRawPCCProducer_cfi.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok

#44612 [140X] implementation Z/Gamma plus Jet monitoring
  Configuration/PyReleaseValidation/python/relval_production.py
  DQMOffline/Trigger/plugins/ZGammaplusJetsMonitor.cc
  DQMOffline/Trigger/python/JetMETPromptMonitor_cff.py
  DQMOffline/Trigger/python/ZGammaplusJetsMonitor_cff.py
  DQMOffline/Trigger/python/ZGammaplusJetsMonitor_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, urgent, upgrade-approved, backport-ok

#44655 [14_0_X] Backport of: #44642 Add L1 objects into Run3Scouting Nano
  PhysicsTools/NanoAOD/python/custom_run3scouting_cff.py
Labels: fully-signed, tests-approved, orp-approved, backport-ok, xpog-approved

#44601 L1T P2: L1TrackVertexAssociationProducer bug fix to stop accessing data after move
  L1Trigger/L1TTrackMatch/plugins/L1TrackVertexAssociationProducer.cc
Labels: l1-approved, fully-signed, tests-approved, bug-fix, orp-approved, upgrade-approved, code-checks-approved

#44584 Backport spin lock bug fixes
  DPGAnalysis/Skims/src/LogErrorEventFilter.cc
  FWCore/Framework/src/Path.cc
Labels: core-approved, fully-signed, tests-approved, pdmv-approved, bug-fix, orp-approved

#44617 Updated AK8 path names for 2024 data-taking (Backport of #44614)
  DQMOffline/Trigger/python/B2GMonitoring_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok

#44650 Fixes for low-level alpaka based utilities [14.0.x]
  HeterogeneousCore/AlpakaInterface/interface/AtomicPairCounter.h
  HeterogeneousCore/AlpakaInterface/interface/atomicMaxF.h
  HeterogeneousCore/AlpakaInterface/interface/radixSort.h
Labels: fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, heterogeneous-approved

#44672 Fix import path for nanoL1TrigObjCustomizeFull
  DPGAnalysis/L1TNanoAOD/README.md
  PhysicsTools/NanoAOD/python/autoNANO.py
Labels: l1-pending, pending-signatures, tests-approved, orp-approved, code-checks-approved, xpog-approved

#44420 [Backport 12.4.X] Update Pythia Hook for BB4L
  GeneratorInterface/Pythia8Interface/plugins/PowhegHooksBB4L.h
  GeneratorInterface/Pythia8Interface/src/Py8InterfaceBase.cc
Labels: generators-approved, fully-signed, tests-approved, orp-approved

#44421 [Backport 13.0.X] Update Pythia Hook for BB4L
  GeneratorInterface/Pythia8Interface/plugins/PowhegHooksBB4L.h
  GeneratorInterface/Pythia8Interface/src/Py8InterfaceBase.cc
Labels: generators-approved, fully-signed, tests-approved, orp-approved

#44616 enable mkFit for pixelLess iteration (14_0_X)
  Configuration/Eras/python/ModifierChain_trackingMkFitProd_cff.py
Labels: operations-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok, tracking

#44680 HLT Tau DQM for PNet taus: backport for 14_0_X
  DQMOffline/Trigger/interface/HLTTauDQMPathPlotter.h
  DQMOffline/Trigger/python/HLTTauDQMOffline_cff.py
  DQMOffline/Trigger/python/HLTTauDQMOffline_cfi.py
  DQMOffline/Trigger/python/HLTTauPostProcessor_cfi.py
  DQMOffline/Trigger/src/HLTTauDQMPath.cc
  DQMOffline/Trigger/src/HLTTauDQMPathPlotter.cc
  HLTriggerOffline/Tau/python/Validation/HLTTauPostValidation_cfi.py
  HLTriggerOffline/Tau/python/Validation/HLTTauValidation_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok

#44665 remove deprecated heavyIon scenario workflows
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/PyReleaseValidation/scripts/runTheMatrix.py
Labels: pending-signatures, tests-approved, pdmv-approved, orp-approved, upgrade-pending

#44693 Fix crash in PF Clustering due to empty HCAL RecHits collection
  RecoParticleFlow/PFClusterProducer/plugins/LegacyPFClusterProducer.cc
  RecoParticleFlow/PFClusterProducer/plugins/alpaka/PFClusterSoAProducer.cc
  RecoParticleFlow/PFRecHitProducer/plugins/LegacyPFRecHitProducer.cc
  RecoParticleFlow/PFRecHitProducer/plugins/alpaka/PFRecHitSoAProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, heterogeneous-approved, pf

#44698 Workaround to produce exactly same data products in Serial and CUDA backends in Alpaka modules possibly used at HLT
  EventFilter/EcalRawToDigi/plugins/alpaka/EcalRawToDigiPortable.cc
  HeterogeneousCore/AlpakaCore/interface/alpaka/ProducerBase.h
  RecoLocalCalo/EcalRecProducers/plugins/alpaka/EcalUncalibRecHitProducerPortable.cc
  RecoLocalTracker/SiPixelClusterizer/plugins/alpaka/SiPixelRawToCluster.cc
  RecoLocalTracker/SiPixelRecHits/plugins/alpaka/SiPixelRecHitAlpaka.cc
  RecoParticleFlow/PFClusterProducer/plugins/alpaka/PFClusterSoAProducer.cc
  RecoParticleFlow/PFRecHitProducer/plugins/alpaka/CaloRecHitSoAProducer.cc
  RecoParticleFlow/PFRecHitProducer/plugins/alpaka/PFRecHitSoAProducer.cc
  RecoTracker/PixelSeeding/plugins/alpaka/CAHitNtuplet.cc
  RecoTracker/PixelVertexFinding/plugins/alpaka/PixelVertexProducerAlpaka.cc
  RecoVertex/BeamSpotProducer/plugins/alpaka/BeamSpotDeviceProducer.cc
Labels: alca-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, code-checks-approved, heterogeneous-approved, tracking, trk

#44598 [14.0.X] Update L1TUtmTriggerMenu tag in 2024 MC GTs and for Run3 data RelVals
  Configuration/AlCa/python/autoCond.py
  Configuration/AlCa/python/autoCondModifiers.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok, hlt-integration

#43925 Cell offset and Cell area calculation of partial wafer cells for HGCAL V18
  Geometry/HGCalCommonData/interface/HGCalCell.h
  Geometry/HGCalCommonData/interface/HGCalCellOffset.h
  Geometry/HGCalCommonData/src/HGCalCell.cc
  Geometry/HGCalCommonData/src/HGCalCellOffset.cc
  Geometry/HGCalCommonData/test/HGCalCellOffsetTester.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#44349 Tau spring24 update
  DataFormats/L1TParticleFlow/interface/PFTau.h
  L1Trigger/Phase2L1ParticleFlow/interface/taus/TauNNIdHW.h
  L1Trigger/Phase2L1ParticleFlow/interface/taus/defines.h
  L1Trigger/Phase2L1ParticleFlow/plugins/L1NNTauProducer.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#44633 Phase2L1CaloJetEmulator: fix maybe-uninitialized warning
  L1Trigger/L1CaloTrigger/interface/Phase2L1CaloJetEmulator.h
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#44651 [CPP20] Remove references to deprecated std::is_pod
  Alignment/Geners/interface/CPP11_type_traits.hh
  Alignment/Geners/interface/IOIsPOD.hh
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44653 [CPP20] Fix deprecated enum arithmetics in SiPixelAliPCLThresholdsPayloadInspectorHelper
  CondCore/PCLConfigPlugins/plugins/SiPixelAliPCLThresholdsPayloadInspectorHelper.h
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#44667 Add orbitNumber to NanoAOD
  PhysicsTools/NanoAOD/plugins/NanoAODOutputModule.cc
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#44676 Use explicit acelerator types in alpaka tests
  HeterogeneousTest/AlpakaDevice/README.md
  HeterogeneousTest/AlpakaDevice/interface/alpaka/DeviceAddition.h
  HeterogeneousTest/AlpakaDevice/plugins/alpaka/AlpakaTestDeviceAdditionAlgo.dev.cc
  HeterogeneousTest/AlpakaDevice/test/alpaka/testDeviceAddition.dev.cc
  HeterogeneousTest/AlpakaKernel/README.md
  HeterogeneousTest/AlpakaKernel/interface/alpaka/DeviceAdditionKernel.h
  HeterogeneousTest/AlpakaKernel/plugins/alpaka/AlpakaTestKernelAdditionAlgo.dev.cc
  HeterogeneousTest/AlpakaKernel/test/alpaka/testDeviceAdditionKernel.dev.cc
  HeterogeneousTest/AlpakaWrapper/src/alpaka/DeviceAdditionWrapper.dev.cc
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#44688 Updated Tau Filterbits for 2024 Data Taking
  PhysicsTools/NanoAOD/python/triggerObjects_cff.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved, tau

#44692 Removed pixelLayers requirement in MuonSelectors.cc
  DataFormats/MuonReco/src/MuonSelectors.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, muon

#44699 [14_0_X] Workaround to produce exactly same data products in Serial and CUDA backends in Alpaka modules possibly used at HLT
  EventFilter/EcalRawToDigi/plugins/alpaka/EcalRawToDigiPortable.cc
  HeterogeneousCore/AlpakaCore/interface/alpaka/ProducerBase.h
  RecoLocalCalo/EcalRecProducers/plugins/alpaka/EcalUncalibRecHitProducerPortable.cc
  RecoLocalTracker/SiPixelClusterizer/plugins/alpaka/SiPixelRawToCluster.cc
  RecoLocalTracker/SiPixelRecHits/plugins/alpaka/SiPixelRecHitAlpaka.cc
  RecoParticleFlow/PFClusterProducer/plugins/alpaka/PFClusterSoAProducer.cc
  RecoParticleFlow/PFRecHitProducer/plugins/alpaka/CaloRecHitSoAProducer.cc
  RecoParticleFlow/PFRecHitProducer/plugins/alpaka/PFRecHitSoAProducer.cc
  RecoTracker/PixelSeeding/plugins/alpaka/CAHitNtuplet.cc
  RecoTracker/PixelVertexFinding/plugins/alpaka/PixelVertexProducerAlpaka.cc
  RecoVertex/BeamSpotProducer/plugins/alpaka/BeamSpotDeviceProducer.cc
Labels: alca-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok, heterogeneous-approved, tracking, trk

#44694 [14_0_X] Fix crash in PF Clustering due to empty HCAL RecHits collection
  RecoParticleFlow/PFClusterProducer/plugins/LegacyPFClusterProducer.cc
  RecoParticleFlow/PFClusterProducer/plugins/alpaka/PFClusterSoAProducer.cc
  RecoParticleFlow/PFRecHitProducer/plugins/LegacyPFRecHitProducer.cc
  RecoParticleFlow/PFRecHitProducer/plugins/alpaka/PFRecHitSoAProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, backport-ok, pf

#44562 MTD reconstruction: propagation of track time of flight uncertainty to vertex reconstruction
  RecoMTD/TimingIDTools/plugins/TOFPIDProducer.cc
  RecoMTD/TrackExtender/plugins/TrackExtenderWithMTD.cc
  RecoVertex/PrimaryVertexProducer/interface/VertexTimeAlgorithmFromTracksPID.h
  RecoVertex/PrimaryVertexProducer/src/VertexTimeAlgorithmFromTracksPID.cc
  RecoVertex/PrimaryVertexProducer/src/VertexTimeAlgorithmLegacy4D.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, tracking, mtd

#44600 Monitoring of Hcal adc sticking in neighbouring TS
  DPGAnalysis/HcalTools/macros/cmt/RemoteMonitoringGLOBAL.cc
  DPGAnalysis/HcalTools/plugins/CMTRawAnalyzer.cc
  DPGAnalysis/HcalTools/scripts/rmt/HcalRemoteMonitoringNewNewCombine.csh
  DPGAnalysis/HcalTools/scripts/rmt/batch_condor_combine.csh
  DPGAnalysis/HcalTools/scripts/rmt/parce_newsql_aleko.csh
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44719 updated parameters and model for photon XGboost MVA (HLT) [14_1_X]
  HLTrigger/Egamma/plugins/HLTEgammaDoubleXGBoostCombFilter.cc
  RecoEgamma/PhotonIdentification/test/test_PhotonMvaXgb.cc
Labels: hlt-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved, egamma

#44704 Updates in Alignment/OfflineValidation used in Run3 re-reco validations
  Alignment/OfflineValidation/interface/DiLeptonVertexHelpers.h
  Alignment/OfflineValidation/plugins/DiMuonValidation.cc
  Alignment/OfflineValidation/plugins/DiMuonVertexValidation.cc
  Alignment/OfflineValidation/plugins/GeneralPurposeVertexAnalyzer.cc
  Alignment/OfflineValidation/plugins/ShortenedTrackValidation.cc
  Alignment/OfflineValidation/test/testShortenedTrackValidation_cfg.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#44678 Phase 2 GTT fix miscellaneous bugs and add Displaced TrackJet HT
  L1Trigger/DemonstratorTools/plugins/GTTFileWriter.cc
  L1Trigger/DemonstratorTools/python/l1tGTTFileWriter_cfi.py
  L1Trigger/DemonstratorTools/test/gtt/createFirmwareInputFiles_cfg.py
  L1Trigger/L1TTrackMatch/test/L1TrackObjectNtupleMaker.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#44661 phase2-sim155 Update the scripts to enable run on new scenarios of Phase2 geometry
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheck2026DD4hep_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheck2026DDD_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runDD4hep2026_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runDDD2026_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runMaterialBudgeInfo2026_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runPrintG4Solids2_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runPrintG4Solids_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runPrintG4Touch2026_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runPrintSolid2026_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runSens2026_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runSummary2026_cfg.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44637 Add reduced lepton time-life info to NanoAOD
  Configuration/PyReleaseValidation/python/relval_nano.py
  PhysicsTools/NanoAOD/python/autoNANO.py
  PhysicsTools/NanoAOD/python/leptonTimeLifeInfo_common_cff.py
  PhysicsTools/NanoAOD/python/nano_cff.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved, xpog-approved, tau

#44610 Adding CSC MEs to per-LS scope in Offline DQM
  DQMServices/Core/python/nanoDQMIO_perLSoutput_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44627 [Backport 14.0.X] backport customize BTVNano changes
  Configuration/PyReleaseValidation/python/relval_nano.py
  PhysicsTools/NanoAOD/BuildFile.xml
  PhysicsTools/NanoAOD/plugins/BTVMCFlavourTableProducer.cc
  PhysicsTools/NanoAOD/plugins/BuildFile.xml
  PhysicsTools/NanoAOD/plugins/DeepJetTableProducer.cc
  PhysicsTools/NanoAOD/plugins/JetConstituentTableProducer.cc
  PhysicsTools/NanoAOD/python/autoNANO.py
  PhysicsTools/NanoAOD/python/btvMC_cff.py
  PhysicsTools/NanoAOD/python/custom_btv_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
  PhysicsTools/PatAlgos/python/recoLayer0/bTagging_cff.py
  PhysicsTools/PatAlgos/python/tools/jetTools.py
  RecoBTag/FeatureTools/plugins/ParticleNetFeatureEvaluator.cc
  RecoBTag/FeatureTools/plugins/ParticleTransformerAK4TagInfoProducer.cc
  RecoBTag/ONNXRuntime/python/pfParticleNetFromMiniAODAK4_cff.py
  RecoBTag/ONNXRuntime/python/pfParticleTransformerAK4_cff.py
Labels: reconstruction-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, backport-ok, xpog-approved, btv-pog-approved, pf-approved

#44726 Fix ParticleNetLegacy when running Nano on Run2UL samples
  PhysicsTools/NanoAOD/python/jetsAK8_cff.py
  PhysicsTools/NanoAOD/python/nano_cff.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#44720 updated parameters and model for photon XGboost MVA (HLT) [14_0_X (backport)]
  HLTrigger/Egamma/plugins/HLTEgammaDoubleXGBoostCombFilter.cc
  RecoEgamma/PhotonIdentification/test/test_PhotonMvaXgb.cc
Labels: hlt-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, requires-external, backport-ok, egamma

#44705 [14.0.X] add a unit test for conversion of `millepede.res` files into DB payloads
  Alignment/MillePedeAlignmentAlgorithm/test/BuildFile.xml
  Alignment/MillePedeAlignmentAlgorithm/test/align_params_cff.py
  Alignment/MillePedeAlignmentAlgorithm/test/convertMPresToDB_cfg.py
  Alignment/MillePedeAlignmentAlgorithm/test/test_pede.py
  Alignment/MillePedeAlignmentAlgorithm/test/test_pede.sh
  Alignment/MillePedeAlignmentAlgorithm/test/test_pedeConversion.sh
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok, trk

#44703 Use explicit acelerator types in alpaka tests [14.0.x]
  HeterogeneousTest/AlpakaDevice/README.md
  HeterogeneousTest/AlpakaDevice/interface/alpaka/DeviceAddition.h
  HeterogeneousTest/AlpakaDevice/plugins/alpaka/AlpakaTestDeviceAdditionAlgo.dev.cc
  HeterogeneousTest/AlpakaDevice/test/alpaka/testDeviceAddition.dev.cc
  HeterogeneousTest/AlpakaKernel/README.md
  HeterogeneousTest/AlpakaKernel/interface/alpaka/DeviceAdditionKernel.h
  HeterogeneousTest/AlpakaKernel/plugins/alpaka/AlpakaTestKernelAdditionAlgo.dev.cc
  HeterogeneousTest/AlpakaKernel/test/alpaka/testDeviceAdditionKernel.dev.cc
  HeterogeneousTest/AlpakaWrapper/src/alpaka/DeviceAdditionWrapper.dev.cc
Labels: fully-signed, tests-approved, orp-approved, backport-ok, heterogeneous-approved

#44697 [14_0_X] Removed pixelLayers requirement in MuonSelectors.cc
  DataFormats/MuonReco/src/MuonSelectors.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, muon

#44690 Updated Tau Filterbits for 2024 Data Taking [Backport]
  PhysicsTools/NanoAOD/python/triggerObjects_cff.py
Labels: fully-signed, tests-approved, orp-approved, backport-ok, xpog-approved, tau

#44683 [14_0_X] Add orbitNumber to NanoAOD
  PhysicsTools/NanoAOD/plugins/NanoAODOutputModule.cc
Labels: fully-signed, tests-approved, orp-approved, xpog-approved

#44663 Move EventSetup record dependency to non-device source file [14.0.x]
  RecoParticleFlow/PFClusterProducer/plugins/alpaka/PFClusterSoAProducer.cc
  RecoParticleFlow/PFClusterProducer/plugins/alpaka/PFClusterSoAProducerKernel.h
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, pf

#44654 [14_0_X] New plugin for gen-part isolation.
  PhysicsTools/NanoAOD/plugins/GenPartIsoProducer.cc
  PhysicsTools/NanoAOD/python/genparticles_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
  PhysicsTools/NanoAOD/python/nanogen_cff.py
Labels: fully-signed, tests-approved, orp-approved, backport-ok, xpog-approved

#44685 Modify tau sequences to not pull payloads from outside GT
  PhysicsTools/NanoAOD/python/boostedTaus_cff.py
  PhysicsTools/NanoAOD/python/nano_cff.py
  PhysicsTools/NanoAOD/python/taus_cff.py
  PhysicsTools/NanoAOD/python/taus_updatedMVAIds_cff.py
  RecoTauTag/Configuration/python/loadRecoTauTagMVAsFromPrepDB_cfi.py
  RecoTauTag/Configuration/python/tools/adaptToRunAtMiniAOD.py
  RecoTauTag/RecoTau/python/tools/runTauIdMVA.py
  RecoTauTag/RecoTau/test/rerunMVAIsolationOnMiniAOD.py
  RecoTauTag/RecoTau/test/runDeepTauIDsOnMiniAOD.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved, tau, tests-ib-failure

#44709 Prevent geniso to be run in nanogen
  PhysicsTools/NanoAOD/python/nanogen_cff.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#44727 Fix memory use when writing ParameterSets to files
  FWCore/ParameterSet/src/ParameterSet.cc
  FWCore/ParameterSet/src/VParameterSetEntry.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44728 adding HoE Tower based for photons
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
  PhysicsTools/NanoAOD/python/photons_cff.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#44549 Make PYTHIA 8 photon flux more configurable.
  Configuration/Generator/python/Pythia8PhotonFluxSettings_cfi.py
  Configuration/Generator/python/Pythia8_GammaNucleus_5p36TeV_cfi.py
  GeneratorInterface/Pythia8Interface/plugins/Pythia8Hadronizer.cc
  GeneratorInterface/Pythia8Interface/test/pythia8ex2_ConvertToMain70_cfg.py
  GeneratorInterface/Pythia8Interface/test/pythia8ex2_ConvertToMain70_cfg_Fragment.py
Labels: generators-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44715 Modify tau sequences to not pull payloads from outside GT (14_0_X)
  PhysicsTools/NanoAOD/python/boostedTaus_cff.py
  PhysicsTools/NanoAOD/python/nano_cff.py
  PhysicsTools/NanoAOD/python/taus_cff.py
  PhysicsTools/NanoAOD/python/taus_updatedMVAIds_cff.py
  RecoTauTag/Configuration/python/loadRecoTauTagMVAsFromPrepDB_cfi.py
  RecoTauTag/Configuration/python/tools/adaptToRunAtMiniAOD.py
  RecoTauTag/RecoTau/python/tools/runTauIdMVA.py
  RecoTauTag/RecoTau/test/rerunMVAIsolationOnMiniAOD.py
  RecoTauTag/RecoTau/test/runDeepTauIDsOnMiniAOD.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, xpog-approved, tau

#44725 Addition of Photon HoE variable needed for H(gg) analysis
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
  PhysicsTools/NanoAOD/python/photons_cff.py
Labels: fully-signed, tests-approved, orp-approved, backport-ok, xpog-approved

#44731 [14.0.X] Updates in Alignment/OfflineValidation used in Run3 re-reco validations
  Alignment/OfflineValidation/interface/DiLeptonVertexHelpers.h
  Alignment/OfflineValidation/plugins/DiMuonValidation.cc
  Alignment/OfflineValidation/plugins/DiMuonVertexValidation.cc
  Alignment/OfflineValidation/plugins/GeneralPurposeVertexAnalyzer.cc
  Alignment/OfflineValidation/plugins/ShortenedTrackValidation.cc
  Alignment/OfflineValidation/test/testShortenedTrackValidation_cfg.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok, trk

#44735 fix PSet of `EvFDaqDirector` in `convertToRaw.py`
  HLTrigger/Tools/python/convertToRaw.py
  HLTrigger/Tools/scripts/convertToRaw
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#44736 fix PSet of `EvFDaqDirector` in `convertToRaw.py` [`14_0_X`]
  HLTrigger/Tools/python/convertToRaw.py
  HLTrigger/Tools/scripts/convertToRaw
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#44739 Fix memory use when writing ParameterSets to files [14_0]
  FWCore/ParameterSet/src/ParameterSet.cc
  FWCore/ParameterSet/src/VParameterSetEntry.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved

#44740 Fix memory use when writing ParameterSets to files [13_3]
  FWCore/ParameterSet/src/ParameterSet.cc
  FWCore/ParameterSet/src/VParameterSetEntry.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved

#44741 Fix memory use when writing ParameterSets to files [13_2]
  FWCore/ParameterSet/src/ParameterSet.cc
  FWCore/ParameterSet/src/VParameterSetEntry.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved

#44742 Fix for `EndPath`s in `DependecyGraph`
  FWCore/Services/plugins/DependencyGraph.cc
Labels: core-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#44764 fixup eta lookup in `absEtaLowEdges_` in miscellaneous `RecoEgamma/EgammaHLTProducers` plugins
  RecoEgamma/EgammaHLTProducers/plugins/EgammaHLTBcHcalIsolationProducersRegional.cc
  RecoEgamma/EgammaHLTProducers/plugins/EgammaHLTHcalVarProducerFromRecHit.cc
  RecoEgamma/EgammaHLTProducers/plugins/HLTEcalPFClusterIsolationProducer.cc
  RecoEgamma/EgammaHLTProducers/plugins/HLTHcalPFClusterIsolationProducer.cc
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, egamma

#44753 Add tests for ProductID metadata consistency for ROOT and streamer formats
  DataFormats/TestObjects/interface/ToyProducts.h
  DataFormats/TestObjects/src/classes_def.xml
  FWCore/Framework/test/stubs/ToyIntProducers.cc
  IOPool/Input/test/BuildFile.xml
  IOPool/Input/test/run_TestRefProductIDMetadataConsistencyRoot.sh
  IOPool/Input/test/testRefProductIDMetadataConsistencyRootMerge_cfg.py
  IOPool/Input/test/testRefProductIDMetadataConsistencyRootTest_cfg.py
  IOPool/Input/test/testRefProductIDMetadataConsistencyRoot_cfg.py
  IOPool/Streamer/bin/BuildFile.xml
  IOPool/Streamer/bin/CatStreamerFiles.cpp
  IOPool/Streamer/test/BuildFile.xml
  IOPool/Streamer/test/run_TestRefProductIDMetadataConsistencyStreamer.sh
  IOPool/Streamer/test/testRefProductIDMetadataConsistencyStreamerTest_cfg.py
  IOPool/Streamer/test/testRefProductIDMetadataConsistencyStreamer_cfg.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44730 Ignore errors from `alpaka::enqueue()` in `CachingAllocator::free()`
  HeterogeneousCore/AlpakaInterface/interface/CachingAllocator.h
  HeterogeneousCore/AlpakaInterface/test/BuildFile.xml
  HeterogeneousCore/AlpakaInterface/test/alpaka/testBuffer.dev.cc
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#44574 Fix bug in L1 track duplicate removal for displaced tracking
  L1Trigger/TrackFindingTracklet/README.md
  L1Trigger/TrackFindingTracklet/interface/Settings.h
  L1Trigger/TrackFindingTracklet/interface/Tracklet.h
  L1Trigger/TrackFindingTracklet/src/PurgeDuplicate.cc
  L1Trigger/TrackFindingTracklet/test/L1TrackNtuplePlot.C
  L1Trigger/TrackFindingTracklet/test/makeHists.csh
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44747 [14_0_X] - Fix for `EndPath`s in `DependecyGraph`
  FWCore/Services/plugins/DependencyGraph.cc
Labels: core-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#44716 [14_0_X] Backport of 44507+44726 (Add ParticleNet legacy discriminator scores and mass regression to MINIAOD)
  PhysicsTools/NanoAOD/python/jetsAK8_cff.py
  PhysicsTools/PatAlgos/python/slimming/applyDeepBtagging_cff.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, xpog-approved

#44684 Add HGCAL Hit calibration to Phase2 HLT.
  HLTriggerOffline/Common/python/HLTValidation_cff.py
  Validation/HGCalValidation/plugins/HGCalHitCalibration.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok, hgcal

#44768 [14.0.X] fixup eta lookup in `absEtaLowEdges_` in miscellaneous `RecoEgamma/EgammaHLTProducers` plugins
  RecoEgamma/EgammaHLTProducers/plugins/EgammaHLTBcHcalIsolationProducersRegional.cc
  RecoEgamma/EgammaHLTProducers/plugins/EgammaHLTHcalVarProducerFromRecHit.cc
  RecoEgamma/EgammaHLTProducers/plugins/HLTEcalPFClusterIsolationProducer.cc
  RecoEgamma/EgammaHLTProducers/plugins/HLTHcalPFClusterIsolationProducer.cc
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, egamma

#44773 Allow Runtime Number of Hits for Alpaka Pixel Reconstruction
  Geometry/CommonTopologies/interface/SimplePixelTopology.h
  RecoLocalTracker/SiPixelClusterizer/plugins/alpaka/SiPixelRawToClusterKernel.dev.cc
  RecoLocalTracker/SiPixelRecHits/plugins/alpaka/PixelRecHitKernels.dev.cc
  RecoTracker/PixelSeeding/plugins/alpaka/CAHitNtupletGeneratorKernels.dev.cc
  RecoTracker/PixelSeeding/plugins/alpaka/CAHitNtupletGeneratorKernels.h
  RecoTracker/PixelSeeding/plugins/alpaka/CAStructures.h
Labels: reconstruction-pending, geometry-pending, pending-signatures, tests-approved, orp-approved, urgent, code-checks-approved, heterogeneous-pending, tracking, trk, hlt-integration

#44774 [14_0_X] Allow Runtime Number of Hits for Alpaka Pixel Reconstruction
  Geometry/CommonTopologies/interface/SimplePixelTopology.h
  RecoLocalTracker/SiPixelClusterizer/plugins/alpaka/SiPixelRawToClusterKernel.dev.cc
  RecoLocalTracker/SiPixelRecHits/plugins/alpaka/PixelRecHitKernels.dev.cc
  RecoTracker/PixelSeeding/plugins/alpaka/CAHitNtupletGeneratorKernels.dev.cc
  RecoTracker/PixelSeeding/plugins/alpaka/CAHitNtupletGeneratorKernels.h
  RecoTracker/PixelSeeding/plugins/alpaka/CAStructures.h
Labels: reconstruction-pending, geometry-pending, pending-signatures, tests-approved, orp-pending, urgent, backport-ok, heterogeneous-pending, tracking, trk

#44691 Add Unified ParT to tau NanoAOD
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
  PhysicsTools/NanoAOD/python/nano_cff.py
  PhysicsTools/NanoAOD/python/taus_cff.py
  PhysicsTools/PatAlgos/plugins/PATTauHybridProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved, xpog-approved, tau, tests-ib-failure

#44775 Fix --docmd option in inspectNanoFile.py
  PhysicsTools/NanoAOD/test/inspectNanoFile.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#44772 Add HLT Timing scripts.
  HLTrigger/Configuration/python/HLT_75e33/test/augmentResources.py
  HLTrigger/Configuration/python/HLT_75e33/test/runHLTTiming.sh
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44748 High pT Tracks resolved: Fitting each track as a Helix! Dropping the …
  FastSimulation/SimplifiedGeometryPropagator/src/Trajectory.cc
Labels: fastsim-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44712 Reorganise alpaka kernel loop functions
  DataFormats/SiPixelClusterSoA/test/alpaka/Clusters_test.dev.cc
  DataFormats/SiPixelDigiSoA/test/alpaka/DigiErrors_test.cc
  DataFormats/SiPixelDigiSoA/test/alpaka/DigiErrors_test.dev.cc
  DataFormats/SiPixelDigiSoA/test/alpaka/Digis_test.cc
  DataFormats/SiPixelDigiSoA/test/alpaka/Digis_test.dev.cc
  DataFormats/TrackingRecHitSoA/test/alpaka/Hits_test.dev.cc
  EventFilter/EcalRawToDigi/plugins/alpaka/UnpackPortable.h
  HeterogeneousCore/AlpakaCore/interface/chooseDevice.h
  HeterogeneousCore/AlpakaInterface/interface/AllocatorPolicy.h
  HeterogeneousCore/AlpakaInterface/interface/CachedBufAlloc.h
  HeterogeneousCore/AlpakaInterface/interface/CachingAllocator.h
  HeterogeneousCore/AlpakaInterface/interface/getDeviceCachingAllocator.h
  HeterogeneousCore/AlpakaInterface/interface/getHostCachingAllocator.h
  HeterogeneousCore/AlpakaInterface/interface/workdivision.h
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlgo.dev.cc
  RecoLocalCalo/EcalRecProducers/plugins/alpaka/AmplitudeComputationCommonKernels.h
  RecoLocalCalo/EcalRecProducers/plugins/alpaka/AmplitudeComputationKernels.dev.cc
  RecoLocalCalo/EcalRecProducers/plugins/alpaka/AmplitudeComputationKernels.h
  RecoLocalCalo/EcalRecProducers/plugins/alpaka/EcalUncalibRecHitMultiFitAlgoPortable.h
  RecoLocalCalo/EcalRecProducers/plugins/alpaka/TimeComputationKernels.h
  RecoParticleFlow/PFClusterProducer/plugins/alpaka/PFClusterECLCC.h
  RecoParticleFlow/PFClusterProducer/plugins/alpaka/PFClusterSoAProducerKernel.dev.cc
  RecoParticleFlow/PFRecHitProducer/plugins/alpaka/PFRecHitProducerKernel.dev.cc
  RecoTracker/PixelSeeding/plugins/alpaka/BrokenLineFit.dev.cc
  RecoTracker/PixelSeeding/plugins/alpaka/CAFishbone.h
  RecoTracker/PixelSeeding/plugins/alpaka/CAPixelDoublets.h
  RecoTracker/PixelSeeding/plugins/alpaka/CAPixelDoubletsAlgos.h
  RecoTracker/PixelSeeding/plugins/alpaka/RiemannFit.dev.cc
  RecoTracker/PixelVertexFinding/plugins/alpaka/vertexFinder.dev.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved, tracking, trk

#44647 CepGenInterface: Added missing include
  GeneratorInterface/CepGenInterface/interface/CepGenEventGenerator.h
Labels: generators-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#44624 Improve behavior after exception in begin/end stream lumi
  FWCore/Framework/interface/StreamSchedule.h
  FWCore/Framework/interface/WorkerInPath.h
  FWCore/Framework/interface/maker/Worker.h
  FWCore/Framework/src/EventProcessor.cc
  FWCore/Integration/plugins/BuildFile.xml
  FWCore/Integration/plugins/ExceptionThrowingProducer.cc
  FWCore/Integration/plugins/TestServiceOne.cc
  FWCore/Integration/plugins/TestServiceOne.h
  FWCore/Integration/plugins/TestServiceTwo.cc
  FWCore/Integration/plugins/TestServiceTwo.h
  FWCore/Integration/test/run_TestFrameworkExceptionHandling.sh
  FWCore/Integration/test/testFrameworkExceptionHandling_cfg.py
  FWCore/ServiceRegistry/interface/ServiceRegistryfwd.h
  FWCore/Utilities/interface/Signal.h
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tests-ib-failure

#44620 Revert "Temporary: abort if cutParser fails to find methods"
  CommonTools/Utils/src/MethodSetter.cc
  CommonTools/Utils/test/testCutParser.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44763 [14_0_X] Ignore errors from `alpaka::enqueue()` in `CachingAllocator::free()`
  HeterogeneousCore/AlpakaInterface/interface/CachingAllocator.h
  HeterogeneousCore/AlpakaInterface/test/BuildFile.xml
  HeterogeneousCore/AlpakaInterface/test/alpaka/testBuffer.dev.cc
Labels: fully-signed, tests-approved, orp-approved, urgent, heterogeneous-approved

#44790 Skip invalid HCAL PF rechits in PFRecHitTopologyESProducer
  RecoParticleFlow/PFRecHitProducer/plugins/alpaka/PFRecHitTopologyESProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, heterogeneous-approved, pf

#44793 Skip invalid HCAL PF rechits in PFRecHitTopologyESProducer [14.0.x]
  RecoParticleFlow/PFRecHitProducer/plugins/alpaka/PFRecHitTopologyESProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, backport-ok, heterogeneous-approved, pf

#44777 Update the #include files for ROCm v6.x
  HeterogeneousCore/ROCmServices/plugins/ROCmService.cc
Labels: fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved, heterogeneous-approved, tests-ib-failure

#44776 [Phase-2] [14_1_X] Configuration for Phase-2 HLT path validation
  HLTrigger/Configuration/python/HLT_75e33/test/Phase2_HLT_validation_cfg.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44771 add a unit test for `convertToRaw`
  EventFilter/Utilities/plugins/RawEventFileWriterForBU.cc
  HLTrigger/Tools/test/BuildFile.xml
  HLTrigger/Tools/test/testConvertToRaw.sh
Labels: daq-approved, hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44696 Phase 2 GTT Add Extended Jets to buffers for GlobalTrigger
  L1Trigger/DemonstratorTools/plugins/GTTFileWriter.cc
  L1Trigger/DemonstratorTools/python/l1tGTTFileWriter_cfi.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44681 Calo Layer-2 EG/TAU conditions for 2024
  L1Trigger/Configuration/python/customiseSettings.py
  L1Trigger/L1TCalorimeter/python/caloParams_2024_v0_0_cfi.py
  L1Trigger/L1TCalorimeter/python/caloParams_2024_v0_1_cfi.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44662 Phase2-sim156 Update the scripts to enable run on new scenarios of Phase2 geometry
  Validation/Geometry/test/runMaterialBudgetVolume2026DD4hep_cfg.py
  Validation/Geometry/test/runMaterialBudgetVolume2026DDD_cfg.py
Labels: dqm-approved, geometry-approved, fully-signed, tests-rejected, orp-approved, code-checks-approved

#44750 Adding CSC MEs to per-LS scope in Offline DQM - backport to 14_0_X
  DQMServices/Core/python/nanoDQMIO_perLSoutput_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#44723 [14_0_X] Add Unified ParT to tau NanoAOD (Backport)
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
  PhysicsTools/NanoAOD/python/nano_cff.py
  PhysicsTools/NanoAOD/python/taus_cff.py
  PhysicsTools/PatAlgos/plugins/PATTauHybridProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, requires-external, backport-ok, xpog-approved

#44714 Reorganise alpaka kernel loop functions [14.0.x]
  HeterogeneousCore/AlpakaInterface/interface/workdivision.h
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlgo.dev.cc
  RecoLocalCalo/EcalRecProducers/plugins/alpaka/AmplitudeComputationCommonKernels.h
  RecoLocalCalo/EcalRecProducers/plugins/alpaka/AmplitudeComputationKernels.dev.cc
  RecoLocalCalo/EcalRecProducers/plugins/alpaka/TimeComputationKernels.h
  RecoParticleFlow/PFClusterProducer/plugins/alpaka/PFClusterECLCC.h
  RecoParticleFlow/PFClusterProducer/plugins/alpaka/PFClusterSoAProducerKernel.dev.cc
  RecoParticleFlow/PFRecHitProducer/plugins/alpaka/PFRecHitProducerKernel.dev.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, heterogeneous-approved

#44689 Add reduced lepton time-life info to NanoAOD (14_0_X)
  Configuration/PyReleaseValidation/python/relval_nano.py
  PhysicsTools/NanoAOD/python/autoNANO.py
  PhysicsTools/NanoAOD/python/leptonTimeLifeInfo_common_cff.py
  PhysicsTools/NanoAOD/python/nano_cff.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, xpog-approved, tau

#44649 [13_0_X] CepGenInterface: Added missing include
  GeneratorInterface/CepGenInterface/interface/CepGenEventGenerator.h
Labels: generators-approved, fully-signed, tests-approved, orp-approved, requires-external

#44648 [10_6_X] CepGenInterface: Added missing include
  GeneratorInterface/CepGenInterface/interface/CepGenEventGenerator.h
Labels: generators-approved, fully-signed, tests-approved, orp-approved, requires-external

#44791 Skip invalid HCAL PF rechits in PFRecHitTopologyESProducer [14.0.5-patch]
  RecoParticleFlow/PFRecHitProducer/plugins/alpaka/PFRecHitTopologyESProducer.cc
Labels: reconstruction-approved, fully-signed, tests-pending, bug-fix, orp-approved, urgent, backport-ok, heterogeneous-approved, pf

#44802 Migrate `assert` to to `ALPAKA_ASSERT_ACC`
  CondFormats/SiPixelObjects/interface/alpaka/SiPixelGainCalibrationForHLTUtilities.h
  DataFormats/SiPixelClusterSoA/test/alpaka/Clusters_test.dev.cc
  DataFormats/SiPixelDigiSoA/test/alpaka/DigiErrors_test.dev.cc
  DataFormats/SiPixelDigiSoA/test/alpaka/Digis_test.dev.cc
  DataFormats/VertexSoA/test/alpaka/ZVertexSoA_test.dev.cc
  HeterogeneousCore/AlpakaInterface/test/alpaka/testAtomicPairCounter.dev.cc
  HeterogeneousCore/AlpakaInterface/test/alpaka/testBuffer.dev.cc
  HeterogeneousCore/AlpakaInterface/test/alpaka/testOneRadixSort.dev.cc
  HeterogeneousCore/AlpakaInterface/test/alpaka/testRadixSort.dev.cc
  HeterogeneousCore/AlpakaInterface/test/alpaka/testWorkDivision.dev.cc
  RecoLocalCalo/EcalRecProducers/plugins/alpaka/TimeComputationKernels.h
  RecoLocalTracker/SiPixelRecHits/plugins/alpaka/PixelRecHitKernels.dev.cc
  RecoLocalTracker/SiPixelRecHits/plugins/alpaka/PixelRecHits.h
  RecoTracker/PixelSeeding/plugins/alpaka/CACell.h
  RecoTracker/PixelSeeding/plugins/alpaka/CAHitNtupletGeneratorKernels.h
Labels: alca-approved, reconstruction-approved, fully-signed, tests-approved, db-approved, orp-approved, urgent, code-checks-approved, heterogeneous-approved, tracking, trk

#44765 Adding Phase2 tracker T36, T37 and T38 (for IT studies)
  Configuration/AlCa/python/autoCondPhase2.py
  Configuration/Geometry/README.md
  Configuration/Geometry/python/GeometryDD4hepExtended2026D111Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D111_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D112Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D112_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D113Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D113_cff.py
  Configuration/Geometry/python/GeometryExtended2026D111Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D111_cff.py
  Configuration/Geometry/python/GeometryExtended2026D112Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D112_cff.py
  Configuration/Geometry/python/GeometryExtended2026D113Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D113_cff.py
  Configuration/Geometry/python/dict2026Geometry.py
  Configuration/PyReleaseValidation/python/relval_2026.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  Configuration/StandardSequences/python/GeometryConf.py
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D111.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D112.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D113.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D111XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D112XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D113XML_cfi.py
  Geometry/TrackerCommonData/data/PhaseII/TFPXTEPXReordered/trackerParameters.xml
  Geometry/TrackerCommonData/data/PhaseII/Tracker_DD4hep_compatible_OT806_IT741_2024_01/pixel.xml
  Geometry/TrackerCommonData/data/PhaseII/Tracker_DD4hep_compatible_OT806_IT741_2024_01/pixelStructureTopology.xml
  Geometry/TrackerCommonData/data/PhaseII/Tracker_DD4hep_compatible_OT806_IT741_2024_01/tracker.xml
  Geometry/TrackerCommonData/data/PhaseII/Tracker_DD4hep_compatible_OT806_IT742_2024_01/pixel.xml
  Geometry/TrackerCommonData/data/PhaseII/Tracker_DD4hep_compatible_OT806_IT744_2024_01/pixel.xml
  Geometry/TrackerNumberingBuilder/README.md
  Geometry/TrackerRecoData/data/PhaseII/Tracker_DD4hep_compatible_OT806_IT741_2024_01/trackerRecoMaterial.xml
  Geometry/TrackerSimData/data/PhaseII/Tracker_DD4hep_compatible_OT806_IT741_2024_01/pixelProdCuts.xml
  Geometry/TrackerSimData/data/PhaseII/Tracker_DD4hep_compatible_OT806_IT741_2024_01/pixelsens.xml
Labels: alca-approved, geometry-approved, operations-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved, trk

#44801 `BrokenLineFit` and `RiemannFit`: mask asserts behind `DEBUG` flags
  RecoTracker/PixelSeeding/plugins/alpaka/BrokenLineFit.dev.cc
  RecoTracker/PixelSeeding/plugins/alpaka/RiemannFit.dev.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, code-checks-approved, tracking

#44805 Migrate `assert` to to `ALPAKA_ASSERT_ACC` [14.0.x]
  CondFormats/SiPixelObjects/interface/alpaka/SiPixelGainCalibrationForHLTUtilities.h
  DataFormats/SiPixelClusterSoA/test/alpaka/Clusters_test.dev.cc
  DataFormats/SiPixelDigiSoA/test/alpaka/DigiErrors_test.dev.cc
  DataFormats/SiPixelDigiSoA/test/alpaka/Digis_test.dev.cc
  DataFormats/VertexSoA/test/alpaka/ZVertexSoA_test.dev.cc
  HeterogeneousCore/AlpakaInterface/test/alpaka/testAtomicPairCounter.dev.cc
  HeterogeneousCore/AlpakaInterface/test/alpaka/testBuffer.dev.cc
  HeterogeneousCore/AlpakaInterface/test/alpaka/testOneRadixSort.dev.cc
  HeterogeneousCore/AlpakaInterface/test/alpaka/testRadixSort.dev.cc
  HeterogeneousCore/AlpakaInterface/test/alpaka/testWorkDivision.dev.cc
  RecoLocalCalo/EcalRecProducers/plugins/alpaka/TimeComputationKernels.h
  RecoLocalTracker/SiPixelRecHits/plugins/alpaka/PixelRecHitKernels.dev.cc
  RecoLocalTracker/SiPixelRecHits/plugins/alpaka/PixelRecHits.h
  RecoTracker/PixelSeeding/plugins/alpaka/CACell.h
  RecoTracker/PixelSeeding/plugins/alpaka/CAHitNtupletGeneratorKernels.h
Labels: alca-approved, reconstruction-approved, fully-signed, tests-approved, db-approved, orp-approved, urgent, backport-ok, heterogeneous-approved, tracking, trk

#44808 [14.0.X] `BrokenLineFit` and `RiemannFit`: mask asserts behind `DEBUG` flags
  RecoTracker/PixelSeeding/plugins/alpaka/BrokenLineFit.dev.cc
  RecoTracker/PixelSeeding/plugins/alpaka/RiemannFit.dev.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok, tracking

#44812 Add filterBit to EGMNano [14_0_X]
  PhysicsTools/NanoAOD/python/egamma_custom_cff.py
Labels: fully-signed, tests-approved, orp-approved, backport, xpog-approved, egamma

#44782 Using explicit lazy parsing & concrete data types in SimpleFlatTableProducer
  CalibTracker/SiStripCommon/plugins/SealModules.cc
  DPGAnalysis/MuonTools/interface/MuDigiBaseProducer.h
  DPGAnalysis/MuonTools/interface/MuLocalRecoBaseProducer.h
  DPGAnalysis/MuonTools/python/common_cff.py
  DPGAnalysis/MuonTools/python/nano_mu_reco_cff.py
  DataFormats/Candidate/src/classes_def.xml
  PhysicsTools/NanoAOD/interface/SimpleFlatTableProducer.h
  PhysicsTools/NanoAOD/plugins/SimpleFlatTableProducerPlugins.cc
  PhysicsTools/NanoAOD/plugins/SimpleL1TFlatTableProducerPlugins.cc
  PhysicsTools/NanoAOD/plugins/SimplePATFlatTableProducerPlugins.cc
  PhysicsTools/NanoAOD/plugins/SimpleScoutingFlatTableProducerPlugins.cc
  PhysicsTools/NanoAOD/plugins/VertexTableProducer.cc
  PhysicsTools/NanoAOD/python/boostedTaus_cff.py
  PhysicsTools/NanoAOD/python/btvMC_cff.py
  PhysicsTools/NanoAOD/python/common_cff.py
  PhysicsTools/NanoAOD/python/custom_btv_cff.py
  PhysicsTools/NanoAOD/python/custom_jme_cff.py
  PhysicsTools/NanoAOD/python/custom_muon_cff.py
  PhysicsTools/NanoAOD/python/electrons_cff.py
  PhysicsTools/NanoAOD/python/fsrPhotons_cff.py
  PhysicsTools/NanoAOD/python/genparticles_cff.py
  PhysicsTools/NanoAOD/python/isotracks_cff.py
  PhysicsTools/NanoAOD/python/jetMC_cff.py
  PhysicsTools/NanoAOD/python/jetsAK4_CHS_cff.py
  PhysicsTools/NanoAOD/python/jetsAK4_Puppi_cff.py
  PhysicsTools/NanoAOD/python/jetsAK8_cff.py
  PhysicsTools/NanoAOD/python/leptonTimeLifeInfo_common_cff.py
  PhysicsTools/NanoAOD/python/lowPtElectrons_cff.py
  PhysicsTools/NanoAOD/python/met_cff.py
  PhysicsTools/NanoAOD/python/muons_cff.py
  PhysicsTools/NanoAOD/python/photons_cff.py
  PhysicsTools/NanoAOD/python/run3scouting_cff.py
  PhysicsTools/NanoAOD/python/simpleSingletonCandidateFlatTableProducer_cfi.py
  PhysicsTools/NanoAOD/python/taus_cff.py
  PhysicsTools/NanoAOD/python/vertices_cff.py
Labels: alca-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved, trk

#44336 Adding PUPPI jets and METs to offline DQM
  DQMOffline/JetMET/interface/JetAnalyzer.h
  DQMOffline/JetMET/python/jetAnalyzer_cff.py
  DQMOffline/JetMET/python/jetAnalyzer_cfi.py
  DQMOffline/JetMET/python/jetMETDQMOfflineSource_cff.py
  DQMOffline/JetMET/python/metDQMConfig_cff.py
  DQMOffline/JetMET/python/metDQMConfig_cfi.py
  DQMOffline/JetMET/src/JetAnalyzer.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, urgent, requires-external, code-checks-approved

#44752 Adding PUPPI jets and METs to offline DQM - backport to 14_0_X
  DQMOffline/JetMET/interface/JetAnalyzer.h
  DQMOffline/JetMET/python/jetAnalyzer_cff.py
  DQMOffline/JetMET/python/jetAnalyzer_cfi.py
  DQMOffline/JetMET/python/jetMETDQMOfflineSource_cff.py
  DQMOffline/JetMET/python/metDQMConfig_cff.py
  DQMOffline/JetMET/python/metDQMConfig_cfi.py
  DQMOffline/JetMET/src/JetAnalyzer.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok

#44512 [14.0.X] Update 2024 geometry and GEM alignment conditions in 2024 MC GTs
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok

#44708 Support for Phase-2 mkFit initialStep track building
  Configuration/PyReleaseValidation/python/relval_2026.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  RecoTracker/IterativeTracking/python/InitialStep_cff.py
  RecoTracker/MkFit/interface/MkFitGeometry.h
  RecoTracker/MkFit/plugins/MkFitEventOfHitsProducer.cc
  RecoTracker/MkFit/plugins/MkFitGeometryESProducer.cc
  RecoTracker/MkFit/plugins/MkFitOutputConverter.cc
  RecoTracker/MkFit/plugins/MkFitPhase2HitConverter.cc
  RecoTracker/MkFit/plugins/MkFitProducer.cc
  RecoTracker/MkFit/python/mkFitPhase2HitConverter_cfi.py
  RecoTracker/MkFit/src/MkFitGeometry.cc
  RecoTracker/MkFitCMS/interface/LayerNumberConverter.h
  RecoTracker/MkFitCMS/standalone/Makefile
  RecoTracker/MkFitCMS/standalone/Shell.cc
  RecoTracker/MkFitCMS/standalone/Shell.h
  RecoTracker/MkFitCMS/standalone/ShellDict.h
  RecoTracker/MkFitCMS/standalone/ShellLinkDef.h
  RecoTracker/MkFitCMS/standalone/buildtestMPlex.cc
  RecoTracker/MkFitCMS/standalone/mkFit.cc
  RecoTracker/MkFitCore/interface/HitStructures.h
  RecoTracker/MkFitCore/interface/IdxChi2List.h
  RecoTracker/MkFitCore/interface/Track.h
  RecoTracker/MkFitCore/interface/TrackerInfo.h
  RecoTracker/MkFitCore/src/MkBuilder.cc
  RecoTracker/MkFitCore/src/MkFinder.cc
  RecoTracker/MkFitCore/standalone/Event.cc
  RecoTracker/MkFitCore/standalone/Makefile.config
  RecoTracker/MkFitCore/standalone/RntDumper/MkFinder_selectHitIndices.icc
  RecoTracker/MkFitCore/standalone/RntDumper/RntConversions.h
  RecoTracker/MkFitCore/standalone/RntDumper/RntStructs.h
  RecoTracker/MkFitCore/standalone/RntDumper/RntStructs_Linkdef.h
  RecoTracker/MkFitCore/standalone/val_scripts/validation-cmssw-benchmarks-multiiter.sh
  RecoTracker/MkFitCore/standalone/validation-desc.txt
  RecoTracker/MkFitCore/standalone/xeon_scripts/init-env.sh
Labels: reconstruction-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, requires-external, code-checks-approved, tracking

#44839 Add description of .702 workflow offset, introduced in PR #44708
  Configuration/PyReleaseValidation/README.md
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#44796 [UBSAN] Initialize missing PixelBarrelValues members for phase1
  DataFormats/TrackerCommon/interface/TrackerTopology.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#44803 [UBSAN] Fix shift exponent 64 is too large for 32-bit
  SimCalorimetry/EcalTrigPrimAlgos/interface/EcalFenixTcpFgvbEE.h
  SimCalorimetry/EcalTrigPrimAlgos/src/EcalFenixTcp.cc
  SimCalorimetry/EcalTrigPrimAlgos/src/EcalFenixTcpFgvbEE.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44823 Added exception if all caches are empty in PluginManager
  FWCore/PluginManager/src/PluginManager.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44824 Update rocm_version.h include so that it works for ROCm 5.6 and above
  HeterogeneousCore/ROCmServices/plugins/ROCmService.cc
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#44810 miscellaneous improvements to `LSNumberFilter`
  Alignment/CommonAlignmentProducer/plugins/LSNumberFilter.cc
  Alignment/CommonAlignmentProducer/python/ALCARECOPromptCalibProdSiPixelAli0T_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOPromptCalibProdSiPixelAliHGDiMuon_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOPromptCalibProdSiPixelAliHG_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOPromptCalibProdSiPixelAli_cff.py
  Alignment/CommonAlignmentProducer/python/LSNumberFilter_cfi.py
  Alignment/CommonAlignmentProducer/python/customizeLSNumberFilterForRelVals.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#44819 miscellaneaous improvements to `PixelBaryCentreAnalyzer`
  Alignment/OfflineValidation/plugins/PixelBaryCentreAnalyzer.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#44671 Update UPC relval workflows
  Configuration/Generator/python/Starlight_DoubleDiffraction_5p36TeV_cfi.py
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: generators-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#44797 RecHit based Ecal/Hcal muon isolation
  PhysicsTools/PatAlgos/python/recoLayer0/genericTrackCandidates_cff.py
  RecoMuon/Configuration/python/RecoMuonCosmics_cff.py
  RecoMuon/MuonIdentification/python/displacedMuons_cfi.py
  RecoMuon/MuonIdentification/python/isolation_cff.py
  RecoMuon/MuonIdentification/python/muons_cfi.py
  RecoMuon/MuonIsolationProducers/python/muIsoDepositCopies_cfi.py
  RecoMuon/MuonIsolationProducers/python/muIsoDeposits_cff.py
  RecoMuon/MuonIsolationProducers/python/muIsoResultInputBlocks_cfi.py
  RecoMuon/MuonIsolationProducers/python/muIsoResultM2C_cfi.py
  RecoMuon/MuonIsolationProducers/python/muIsoResultM2T_cfi.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved, muon

#44798 Fix position of unconstrained pT coming from OMTF
  L1Trigger/L1TMuon/interface/RegionalMuonRawDigiTranslator.h
  L1Trigger/L1TMuon/src/RegionalMuonRawDigiTranslator.cc
  L1Trigger/L1TNtuples/src/L1AnalysisL1UpgradeTfMuon.cc
Labels: l1-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved
