Repository cms-sw/cmssw, pull requests merged in 2024-08, with the labels that each got.

#43475 First PyTorch tests for TorchScript inference CPU/CUDA
  PhysicsTools/PyTorch/BuildFile.xml
  PhysicsTools/PyTorch/test/BuildFile.xml
  PhysicsTools/PyTorch/test/create_simple_dnn.py
  PhysicsTools/PyTorch/test/testBase.h
  PhysicsTools/PyTorch/test/testBaseCUDA.h
  PhysicsTools/PyTorch/test/testRunner.cc
  PhysicsTools/PyTorch/test/testTorch.cc
  PhysicsTools/PyTorch/test/testTorchSimpleDnn.cc
  PhysicsTools/PyTorch/test/testTorchSimpleDnnCUDA.cc
  PhysicsTools/PyTorch/test/time_serie_prediction.cpp
  PhysicsTools/PythonAnalysis/test/BuildFile.xml
Labels: analysis-approved, core-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved, ml-approved

#45613 Muon Ecal rechit isolation thresh from GT, revert Hcal/H0 iso to calotower
  RecoMuon/MuonIdentification/plugins/MuonIdProducer.cc
  RecoMuon/MuonIdentification/python/displacedMuons_cfi.py
  RecoMuon/MuonIdentification/python/isolation_cff.py
  RecoMuon/MuonIdentification/python/muons_cfi.py
  RecoMuon/MuonIsolation/plugins/BuildFile.xml
  RecoMuon/MuonIsolation/plugins/CaloExtractorByAssociator.cc
  RecoMuon/MuonIsolation/plugins/CaloExtractorByAssociator.h
  RecoMuon/MuonIsolationProducers/python/caloExtractorByAssociatorBlocks_cff.py
  RecoMuon/MuonIsolationProducers/python/muIsoDepositCalByAssociatorMixed_cfi.py
  RecoMuon/MuonIsolationProducers/python/muIsoDeposits_cff.py
  RecoMuon/MuonIsolationProducers/python/muIsoResultM2C_cfi.py
  RecoMuon/MuonIsolationProducers/python/muIsoResultM2T_cfi.py
  RecoMuon/MuonIsolationProducers/python/trackAssociatorBlocks_cff.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, muon

#45622 Removed unnecessary VDT dependency in Geometry/CommonTopologies
  Geometry/CommonTopologies/BuildFile.xml
  Geometry/CommonTopologies/src/TkRadialStripTopology.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45582 Remove empty `classes_def` files from `Cond{Core,Tools}Utilities`
  CondCore/Utilities/src/classes.h
  CondCore/Utilities/src/classes_def.xml
  CondTools/Utilities/test/classes.h
  CondTools/Utilities/test/classes_def.xml
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#45621 Replace patterns with explicit class names in CondFormats `classes_def.xml`
  CondFormats/CastorObjects/src/classes_def.xml
  CondFormats/SiPixelObjects/src/classes_def.xml
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, trk

#45581 hotfix for array out of bounds
  L1Trigger/L1TMuonEndCapPhase2/src/Algo/RoadSortingLayer.cc
Labels: l1-approved, fully-signed, tests-approved, bug-fix, orp-approved, upgrade-approved, code-checks-approved

#45624 Phase2-hgx359H Step to include the new HD scintillator in the V19 setup of HGCal
  Geometry/HGCalCommonData/data/hgcalHEmix/v19/hgcalHEmix.xml
  Geometry/HGCalCommonData/interface/HGCalCassette.h
  Geometry/HGCalCommonData/interface/HGCalGeomParameters.h
  Geometry/HGCalCommonData/interface/HGCalParameters.h
  Geometry/HGCalCommonData/plugins/DDHGCalMixRotatedFineCassette.cc
  Geometry/HGCalCommonData/src/HGCalCassette.cc
  Geometry/HGCalCommonData/src/HGCalGeomParameters.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#45553 Add dictionary for AbsHcalAlgoData
  CondFormats/HcalObjects/src/classes.h
  CondFormats/HcalObjects/src/classes_def.xml
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#45588 Demangled log printout of Pedereader
  Alignment/MillePedeAlignmentAlgorithm/src/PedeReader.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#45623 Replace patterns with explicit class names in `TrackingTools/PatternTools/src/classes_def.xml`, and move the dictionaries of `GlobalErrorBase` to a proper package
  DataFormats/GeometryCommonDetAlgo/src/classes.h
  DataFormats/GeometryCommonDetAlgo/src/classes_def.xml
  TrackingTools/PatternTools/src/classes.h
  TrackingTools/PatternTools/src/classes_def.xml
Labels: reconstruction-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#45589 Introduce `BeamSpotCompatibilityChecker` and corresponding tests
  RecoVertex/BeamSpotProducer/plugins/BeamSpotCompatibilityChecker.cc
  RecoVertex/BeamSpotProducer/plugins/BuildFile.xml
  RecoVertex/BeamSpotProducer/test/BuildFile.xml
  RecoVertex/BeamSpotProducer/test/testBeamSpotCompatibility.cc
  RecoVertex/BeamSpotProducer/test/testBeamSpotCompatibility.sh
  RecoVertex/BeamSpotProducer/test/testBeamSpotCompatibility_cfg.py
Labels: alca-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#45629 Avoid compilation errors in L1Trigger/Phase2L1GMT/src/KMTFCore.cc
  L1Trigger/Phase2L1GMT/src/KMTFCore.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45607 Dependency cleanup for big simulation plugin
  BigProducts/Simulation/BuildFile.xml
  CondFormats/EcalObjects/BuildFile.xml
  CondFormats/HGCalObjects/BuildFile.xml
  CondFormats/HcalObjects/BuildFile.xml
  Validation/HGCalValidation/BuildFile.xml
  Validation/HGCalValidation/plugins/BuildFile.xml
  Validation/HGCalValidation/test/BuildFile.xml
Labels: alca-approved, core-approved, dqm-approved, simulation-approved, fully-signed, tests-approved, db-approved, orp-approved, upgrade-approved, code-checks-approved

#45620 Replace patterns with explicit class names in `DataFormats/Math/src/classes_def.xml`
  DataFormats/Math/src/classes.h
  DataFormats/Math/src/classes_def.xml
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45630 instrument `fitVertices` to output more information when failing assert (issue cms-sw/cmssw#44923)
  RecoTracker/PixelVertexFinding/plugins/alpaka/fitVertices.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, code-checks-approved, tracking

#45632 `DisplacedJet_Monitor`: use `hltIter2MergedForDisplaced` instead of `hltIter2MergedForBTag` to (as per CMSHLT-3303)
  DQMOffline/Trigger/python/DisplacedJet_Monitor_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45641 Run3-alca248A Modify the macro to accommodate some requirements for obtaining calibration constants of HCAL
  Calibration/HcalCalibAlgos/macros/CalibMain.C
  Calibration/HcalCalibAlgos/macros/CalibPlotProperties.C
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45631 [14.0.X] instrument `fitVertices` to output more information when failing assert (issue cms-sw/cmssw#44923)
  RecoTracker/PixelVertexFinding/plugins/alpaka/fitVertices.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok, tracking

#45182 SONIC updates for site support
  HeterogeneousCore/SonicTriton/README.md
  HeterogeneousCore/SonicTriton/interface/TritonService.h
  HeterogeneousCore/SonicTriton/python/TritonService_cff.py
  HeterogeneousCore/SonicTriton/scripts/cmsTriton
  HeterogeneousCore/SonicTriton/scripts/cmsTritonConfigTool
  HeterogeneousCore/SonicTriton/src/TritonClient.cc
  HeterogeneousCore/SonicTriton/src/TritonService.cc
  HeterogeneousCore/SonicTriton/test/tritonTest_cfg.py
  RecoEcal/EgammaClusterProducers/test/DRNTest_cfg.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#45638 [14_0_X] Add LogWarning in OnlineBeamSpotESProducer::checkSingleBS
  RecoVertex/BeamSpotProducer/plugins/BeamSpotOnlineProducer.cc
  RecoVertex/BeamSpotProducer/plugins/OnlineBeamSpotESProducer.cc
Labels: alca-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, tracking

#45646 `MultiTrajectoryStateAssembler`: protect `removeWrongPz` when average pZ sign is identically 0
  TrackingTools/GsfTools/src/MultiTrajectoryStateAssembler.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#45643 Phase2-hgx359I: Modify some of the XML files to lead toward V19 Geometry of HGCal
  Geometry/HGCalCommonData/data/dd4hep/testHGCalV19.xml
  Geometry/HGCalCommonData/data/hgcalEE/v19/hgcalEE.xml
  Geometry/HGCalCommonData/data/hgcalPassive/v19/hgcalPassive.xml
  Geometry/HGCalCommonData/plugins/DDHGCalMixRotatedFineCassette.cc
  Geometry/HGCalCommonData/plugins/DDHGCalPassive.cc
  Geometry/HGCalCommonData/python/testHGCalV19XML_cfi.py
  Geometry/HGCalCommonData/src/HGCalParametersFromDD.cc
  Geometry/HGCalCommonData/test/python/dumpHGCalDD4hep_cfg.py
  Geometry/HGCalCommonData/test/python/dumpHGCalDDD_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#45610 Refactor `edmCheckClassVersion`
  FWCore/Reflection/scripts/edmCheckClassVersion
  FWCore/Reflection/test/BuildFile.xml
  FWCore/Reflection/test/dumpClassVersion_reference_afterUpdate.json
  FWCore/Reflection/test/run_classVersionUpdate.sh
  FWCore/Reflection/test/stubs/TestObjects.h
  FWCore/Reflection/test/stubs/test_def_v4.xml
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45421 Alpaka Pixel: Reading `layerStart` at Runtime and Variable `thePitch*`
  DataFormats/SiPixelClusterSoA/interface/ClusteringConstants.h
  Geometry/CommonTopologies/interface/SimplePixelTopology.h
  RecoLocalTracker/SiPixelRecHits/interface/pixelCPEforDevice.h
  RecoLocalTracker/SiPixelRecHits/src/PixelCPEFastParamsHost.cc
Labels: geometry-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved, heterogeneous-approved, trk

#45659 Remove a dead assignment in Alignment/MuonAlignment/src/MuonAlignmentInputXML.cc
  Alignment/MuonAlignment/src/MuonAlignmentInputXML.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45652 another apptainer workaround
  HeterogeneousCore/SonicTriton/scripts/cmsTriton
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#45637 [14.0.X] Introduce `BeamSpotCompatibilityChecker` and corresponding tests
  RecoVertex/BeamSpotProducer/plugins/BeamSpotCompatibilityChecker.cc
  RecoVertex/BeamSpotProducer/plugins/BuildFile.xml
  RecoVertex/BeamSpotProducer/test/BuildFile.xml
  RecoVertex/BeamSpotProducer/test/testBeamSpotCompatibility.cc
  RecoVertex/BeamSpotProducer/test/testBeamSpotCompatibility.sh
  RecoVertex/BeamSpotProducer/test/testBeamSpotCompatibility_cfg.py
Labels: alca-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, tracking

#45593 fix packing of muon-shower objects for L1-uGT FED [`14_0_X`]
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/MuonPacker.cc
  L1Trigger/L1TMuon/interface/MuonRawDigiTranslator.h
  L1Trigger/L1TMuon/src/MuonRawDigiTranslator.cc
Labels: l1-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#45633 [14.0.X] `DisplacedJet_Monitor`: use `hltIter2MergedForDisplaced` instead of `hltIter2MergedForBTag` to (as per CMSHLT-3303)
  DQMOffline/Trigger/python/DisplacedJet_Monitor_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#45661 add 2024 to the allowed 0T pp collisions workflows (.24 modifier)
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#45656 Fix a race condition in splitVertices
  RecoTracker/PixelVertexFinding/plugins/alpaka/splitVertices.h
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, tracking

#45617 MTD Validation: exclude electron isolation module from the official MTD validation sequence
  Validation/Configuration/python/mtdSimValid_cff.py
  Validation/MtdValidation/python/MtdPostProcessor_cff.py
Labels: dqm-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45662 Remove a potential memory leak in Geometry/GEMGeometryBuilder/src/GEMGeometryBuilder.cc
  Geometry/GEMGeometryBuilder/src/GEMGeometryBuilder.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#45660 Remove a dead assignment in DQM/SiStripCommissioningSources/src/FineDelayTask.cc
  DQM/SiStripCommissioningSources/src/FineDelayTask.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#45653 another apptainer workaround [14_0_X]
  HeterogeneousCore/SonicTriton/scripts/cmsTriton
Labels: fully-signed, tests-approved, orp-approved, backport-ok, heterogeneous-approved

#45655 Fix a race condition in splitVertices [14.0.x]
  RecoTracker/PixelVertexFinding/plugins/alpaka/splitVertices.h
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, tracking

#45663 Demangled log printout of Pedereader [14.0.X]
  Alignment/MillePedeAlignmentAlgorithm/src/PedeReader.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok, trk

#45601 Add new configuration options to CloseByParticleGun (backport)
  Configuration/Generator/python/CE_E_Front_120um_cfi.py
  Configuration/Generator/python/CE_E_Front_200um_cfi.py
  Configuration/Generator/python/CE_E_Front_300um_cfi.py
  Configuration/Generator/python/CE_H_Coarse_300um_cfi.py
  Configuration/Generator/python/CE_H_Coarse_Scint_cfi.py
  Configuration/Generator/python/CE_H_Fine_120um_cfi.py
  Configuration/Generator/python/CE_H_Fine_200um_cfi.py
  Configuration/Generator/python/CE_H_Fine_300um_cfi.py
  IOMC/ParticleGuns/interface/CloseByParticleGunProducer.h
  IOMC/ParticleGuns/src/CloseByParticleGunProducer.cc
Labels: generators-approved, fully-signed, tests-approved, orp-approved

#45668 Phase2-hgx359J Add new code for V19 version of HGCal geometry
  Geometry/HGCalCommonData/data/hgcal/v19/hgcal.xml
  Geometry/HGCalCommonData/data/hgcalEE/v18/hgcalEE.xml
  Geometry/HGCalCommonData/data/hgcalEE/v19/hgcalEE.xml
  Geometry/HGCalCommonData/data/hgcalHEmix/v19/hgcalHEmix.xml
  Geometry/HGCalCommonData/data/hgcalHEsil/v18/hgcalHEsil.xml
  Geometry/HGCalCommonData/data/hgcalHEsil/v19/hgcalHEsil.xml
  Geometry/HGCalCommonData/data/hgcalPassive/v19/hgcalPassive.xml
  Geometry/HGCalCommonData/plugins/DDHGCalMixRotatedFineCassette.cc
  Geometry/HGCalCommonData/plugins/DDHGCalPassive.cc
  Geometry/HGCalCommonData/plugins/DDHGCalSiliconRotatedCassette.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#45567 Move dictionaries (and some classes) defined in `SimTracker/TrackTriggerAssociation` and `SimGeneral/TrackingAnalysis` to more proper packages
  DQMOffline/L1Trigger/BuildFile.xml
  DQMOffline/L1Trigger/src/L1TPhase2OuterTrackerTkMET.cc
  DataFormats/StdDictionaries/src/classes_def_map.xml
  L1Trigger/L1TTrackMatch/plugins/BuildFile.xml
  L1Trigger/L1TTrackMatch/plugins/L1FastTrackingJetProducer.cc
  L1Trigger/L1TTrackMatch/plugins/L1TruthTrackFastJetProducer.cc
  L1Trigger/L1TTrackMatch/plugins/TPFastJetProducer.cc
  L1Trigger/L1TTrackMatch/test/BuildFile.xml
  L1Trigger/L1TTrackMatch/test/L1TrackObjectNtupleMaker.cc
  L1Trigger/TrackFindingTMTT/BuildFile.xml
  L1Trigger/TrackFindingTMTT/interface/Stub.h
  L1Trigger/TrackFindingTMTT/plugins/BuildFile.xml
  L1Trigger/TrackFindingTMTT/plugins/TMTrackProducer.h
  L1Trigger/TrackFindingTracklet/plugins/BuildFile.xml
  L1Trigger/TrackFindingTracklet/plugins/L1FPGATrackProducer.cc
  L1Trigger/TrackFindingTracklet/plugins/ProducerDR.cc
  L1Trigger/TrackFindingTracklet/plugins/ProducerDRin.cc
  L1Trigger/TrackFindingTracklet/plugins/ProducerKFin.cc
  L1Trigger/TrackFindingTracklet/test/BuildFile.xml
  L1Trigger/TrackFindingTracklet/test/L1TrackNtupleMaker.cc
  L1Trigger/TrackTrigger/interface/Setup.h
  L1Trigger/TrackTrigger/test/AnalyzerClusterStub.cc
  L1Trigger/TrackerDTC/BuildFile.xml
  L1Trigger/TrackerDTC/interface/Stub.h
  L1Trigger/TrackerDTC/test/Analyzer.cc
  L1Trigger/TrackerDTC/test/BuildFile.xml
  L1Trigger/VertexFinder/BuildFile.xml
  L1Trigger/VertexFinder/interface/L1Track.h
  L1Trigger/VertexFinder/interface/L1TrackTruthMatched.h
  L1Trigger/VertexFinder/interface/Stub.h
  L1Trigger/VertexFinder/plugins/BuildFile.xml
  L1Trigger/VertexFinder/plugins/InputDataProducer.cc
  L1Trigger/VertexFinder/plugins/TPStubValueMapProducer.cc
  L1Trigger/VertexFinder/plugins/VertexNTupler.cc
  L1Trigger/VertexFinder/src/InputData.cc
  RecoEgamma/EgammaHLTProducers/plugins/BuildFile.xml
  RecoEgamma/EgammaHLTProducers/plugins/EgammaHLTPhase2ExtraProducer.cc
  SimDataFormats/Associations/BuildFile.xml
  SimDataFormats/Associations/interface/TTClusterAssociationMap.h
  SimDataFormats/Associations/interface/TTStubAssociationMap.h
  SimDataFormats/Associations/interface/TTTrackAssociationMap.h
  SimDataFormats/Associations/interface/TTTypes.h
  SimDataFormats/Associations/src/TTTrackAssociationMap.cc
  SimDataFormats/Associations/src/classes.h
  SimDataFormats/Associations/src/classes_def.xml
  SimGeneral/TrackingAnalysis/src/classes.h
  SimGeneral/TrackingAnalysis/src/classes_def.xml
  SimTracker/TrackTriggerAssociation/BuildFile.xml
  SimTracker/TrackTriggerAssociation/interface/StubAssociation.h
  SimTracker/TrackTriggerAssociation/plugins/BuildFile.xml
  SimTracker/TrackTriggerAssociation/plugins/StubAssociator.cc
  SimTracker/TrackTriggerAssociation/plugins/TTClusterAssociator.h
  SimTracker/TrackTriggerAssociation/plugins/TTStubAssociator.h
  SimTracker/TrackTriggerAssociation/plugins/TTTrackAssociator.h
  SimTracker/TrackTriggerAssociation/src/classes.h
  SimTracker/TrackTriggerAssociation/src/classes_def.xml
  Utilities/ReleaseScripts/scripts/duplicateReflexLibrarySearch.py
  Validation/SiTrackerPhase2V/plugins/Phase2OTValidateTrackingParticles.cc
Labels: core-approved, dqm-approved, hlt-approved, l1-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, tracking, trk

#45673 Phase2-hgx359K Include HD200 wafers along with HD120, LD200, LD300 ones for HGCal Geometry
  Geometry/HGCalCommonData/data/hgcalcell/v19/hgcalcell.xml
  Geometry/HGCalCommonData/data/hgcalwafer/v19/hgcalwafer.xml
  Geometry/HGCalCommonData/src/HGCalGeomParameters.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#45679 `BeamSpotOnlineProducer`: add more printouts in case of invalid errors
  RecoVertex/BeamSpotProducer/plugins/BeamSpotOnlineProducer.cc
Labels: alca-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#45614 Do not run test_MC_setup if HLT release is not found
  Configuration/PyReleaseValidation/test/BuildFile.xml
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#45685 Fix BS of HLLHC GenOnly workflow
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/PyReleaseValidation/python/relval_upgrade.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
Labels: fully-signed, tests-approved, pdmv-approved, bug-fix, orp-approved, upgrade-approved, code-checks-approved

#45628 Run3 gex180: Move GeometryAligner.h from Geometry/CommonTopologies to Geometry/GeometryAligner to address issue #45619
  Alignment/APEEstimation/plugins/BuildFile.xml
  Alignment/CommonAlignmentMonitor/plugins/AlignmentMonitorAsAnalyzer.cc
  Alignment/CommonAlignmentProducer/interface/AlignmentProducerBase.h
  Alignment/CommonAlignmentProducer/plugins/BuildFile.xml
  Alignment/CommonAlignmentProducer/plugins/GlobalTrackerMuonAlignment.cc
  Alignment/LaserAlignment/plugins/LaserAlignment.h
  Alignment/MuonAlignment/plugins/MuonMisalignedProducer.cc
  Alignment/MuonAlignment/src/MuonAlignmentInputDB.cc
  Alignment/OfflineValidation/plugins/BuildFile.xml
  Alignment/OfflineValidation/plugins/TrackerGeometryCompare.cc
  Alignment/OfflineValidation/plugins/TrackerGeometryIntoNtuples.cc
  Alignment/SurveyAnalysis/plugins/CreateSurveyRcds.cc
  Alignment/TrackerAlignment/plugins/MisalignedTrackerESProducer.cc
  Alignment/TrackerAlignment/plugins/TrackerSystematicMisalignments.cc
  DQM/SiStripCommissioningSources/plugins/BuildFile.xml
  DQM/SiStripMonitorPedestals/BuildFile.xml
  DQM/TrackerRemapper/test/BuildFile.xml
  Geometry/CSCGeometryBuilder/plugins/CSCGeometryESModule.cc
  Geometry/CommonTopologies/BuildFile.xml
  Geometry/DTGeometryBuilder/plugins/DTGeometryESModule.cc
  Geometry/DTGeometryBuilder/plugins/dd4hep/DTGeometryBuilder.cc
  Geometry/DTGeometryBuilder/plugins/dd4hep/DTGeometryESProducer.cc
  Geometry/DTGeometryBuilder/src/DTGeometryBuilderFromDD4hep.cc
  Geometry/GEMGeometryBuilder/plugins/GEMGeometryESModule.cc
  Geometry/GeometryAligner/interface/GeometryAligner.h
  Geometry/MTDGeometryBuilder/plugins/MTDDigiGeometryESModule.cc
  Geometry/TrackerGeometryBuilder/plugins/TrackerDigiGeometryESModule.cc
Labels: alca-approved, dqm-approved, geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, trk

#45438 Payload Inspector for L1TMuonGlobalParam on InputBits
  CondCore/L1TPlugins/plugins/L1TMuonGlobalParams_PayloadInspector.cc
Labels: l1-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#45690 Update maxD0Significance in UPC primary vertex reco
  RecoVertex/PrimaryVertexProducer/python/OfflinePrimaryVertices_cfi.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#45626 Update validation for RPC hit reconstruction
  Validation/RPCRecHits/interface/RPCRecHitValid.h
  Validation/RPCRecHits/python/postValidation_cfi.py
  Validation/RPCRecHits/python/rpcRecHitValidation_cfi.py
  Validation/RPCRecHits/src/RPCRecHitValid.cc
  Validation/RPCRecHits/src/RPCRecHitValidClient.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45693 Fix NaNs From 0 Divisions in `DAClusterizerInZ_vect.cc`
  RecoVertex/PrimaryVertexProducer/src/DAClusterizerInZ_vect.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#45697 Run3-gem70 Add a corrected version of the GE21 geometry from Ian Watson
  Geometry/MuonCommonData/data/gem21/2024/v2/gem21.xml
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45689 Fix sorting index for lost tracks in UnifiedParticleTransformer producer
  RecoBTag/FeatureTools/plugins/UnifiedParticleTransformerAK4TagInfoProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#45692 Phase2-hgx359L Equip the correct wafer and passive module names for the V19 version of HGCal Geometry
  Geometry/HGCalCommonData/data/dd4hep/testHGCalWaferV18.xml
  Geometry/HGCalCommonData/data/dd4hep/testHGCalWaferV19.xml
  Geometry/HGCalCommonData/data/hgcalEE/v19/hgcalEE.xml
  Geometry/HGCalCommonData/data/hgcalHEmix/v19/hgcalHEmix.xml
  Geometry/HGCalCommonData/data/hgcalHEsil/v19/hgcalHEsil.xml
  Geometry/HGCalCommonData/data/hgcalcell/v19/hgcalcell.xml
  Geometry/HGCalCommonData/data/hgcalwafer/v18/hgcalpos.xml
  Geometry/HGCalCommonData/data/hgcalwafer/v19/hgcalpos.xml
  Geometry/HGCalCommonData/python/testHGCalWaferV18XML_cfi.py
  Geometry/HGCalCommonData/python/testHGCalWaferV19XML_cfi.py
  Geometry/HGCalCommonData/test/python/dumpHGCalWaferDD4hep_cfg.py
  Geometry/HGCalCommonData/test/python/dumpHGCalWaferDDD_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, hgcal

#45699 Update 2024 MC realistic GTs in autocond
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45704 Update/fix SimBeamSpot tag in the 2023 HI MC GT
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, requires-external, code-checks-approved

#45703 Add electron supercluster eta to NanoAOD content
  PhysicsTools/NanoAOD/python/electrons_cff.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved, egamma

#45490 fix CloseByParticleGun config
  Configuration/Generator/python/CloseByParticle_Photon_ERZRanges_cfi.py
Labels: generators-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45578 [140X backport] MTD geometry: fix BTL numbering scheme for scenario v3
  Geometry/MTDCommonData/src/BTLNumberingScheme.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, backport-ok, mtd

#44360 Parametrized magnetic field in alpaka
  MagneticField/ParametrizedEngine/interface/ParabolicParametrizedMagneticField.h
  MagneticField/ParametrizedEngine/test/BuildFile.xml
  MagneticField/ParametrizedEngine/test/alpaka/testParabolicParametrizedMagneticField.dev.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#45716 Run3-gem70X Update the new geometry file for 2024 GE21
  Geometry/MuonCommonData/data/gem21/2024/v2/gem21.xml
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45695 Use BS from GT for 2022, 2023 and 2024 HI wfs
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#45717 Avoid copying array in TracksterLinkingbySkeletons
  RecoHGCal/TICL/plugins/TracksterLinkingbySkeletons.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#45725 Run3-gex180X Modify the 2024 scenarios for the corrected positions of the GE21 detectors
  Configuration/Geometry/python/dict2021Geometry.py
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2024.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2024FlatMinus05Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2024FlatMinus10Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2024FlatPlus05Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2024FlatPlus10Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2024ZeroMaterial.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometry2024FlatMinus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2024FlatMinus10PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2024FlatPlus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2024FlatPlus10PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2024XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2024ZeroMaterialXML_cfi.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#45715 Having Upgrade Matrix Failing for Duplicate Suffixes
  Configuration/PyReleaseValidation/python/MatrixUtil.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#45724 Phase2-hgx359N Correct the conversion code for fine scintillator tiles of HGCal V19 geometry in the assignment of cassette number
  Geometry/HGCalCommonData/interface/HGCalProperty.h
  Geometry/HGCalCommonData/test/HGCalConvert.cpp
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#45728 [GCC13][AlCa] Avoid storing reference to a temporary object
  Alignment/OfflineValidation/plugins/PixelBaryCentreAnalyzer.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#45683 Add Phase2 PbPb reco process modifier
  Configuration/Generator/python/Hydjet_Quenched_MinBias_5519GeV_cfi.py
  Configuration/Generator/python/Pyquen2015Settings_cff.py
  Configuration/ProcessModifiers/python/phase2_pp_on_AA_cff.py
  Configuration/PyReleaseValidation/README.md
  Configuration/PyReleaseValidation/python/relval_2026.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  Configuration/StandardSequences/python/Reconstruction_cff.py
  RecoHI/HiCentralityAlgos/plugins/CentralityProducer.cc
  RecoHI/HiCentralityAlgos/python/HiCentrality_cfi.py
  RecoJets/Configuration/python/RecoJets_EventContent_cff.py
Labels: generators-approved, operations-approved, reconstruction-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#45688 Disable testTorchSimpleDnn for non-amd64 architectures
  PhysicsTools/PyTorch/test/BuildFile.xml
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, ml-approved

#45701 use eigen3 header instead of tf third_party/eigen3
  PhysicsTools/TensorFlowAOT/interface/Wrapper.h
Labels: fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved, ml-approved

#45732 [GCC13] Avoid Wdangling-reference warning in CalibTracker submodules
  CalibTracker/SiStripCommon/plugins/TkDetMapESProducer.cc
  CalibTracker/SiStripESProducers/plugins/fake/SiStripBackPlaneCorrectionFakeESSource.cc
  CalibTracker/SiStripESProducers/plugins/fake/SiStripHashedDetIdFakeESSource.cc
  CalibTracker/SiStripESProducers/plugins/fake/SiStripLorentzAngleFakeESSource.cc
  CalibTracker/SiStripQuality/plugins/SiStripQualityHotStripIdentifier.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#45741 Fix overloaded-virtual warnings in RecoBTag and RecoVertex
  RecoBTag/SecondaryVertex/interface/CombinedSVSoftLeptonComputer.h
  RecoVertex/VertexTools/interface/Lms3d.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#45590 Validation/RecoEgamma Phase2 vertex_pt correction
  Validation/RecoEgamma/plugins/ElectronMcMiniAODSignalValidator.cc
  Validation/RecoEgamma/plugins/ElectronMcMiniAODSignalValidator.h
  Validation/RecoEgamma/plugins/ElectronMcSignalValidator.cc
  Validation/RecoEgamma/plugins/ElectronMcSignalValidator.h
  Validation/RecoEgamma/python/ElectronMcSignalValidatorMiniAOD_cfi.py
  Validation/RecoEgamma/test/ElectronMcSignalPostValidationMiniAOD_cfg.py
  Validation/RecoEgamma/test/ElectronMcSignalPostValidation_cfg.py
  Validation/RecoEgamma/test/ElectronMcSignalValidationMiniAOD_cfg.py
  Validation/RecoEgamma/test/ElectronMcSignalValidationPt1000_gedGsfElectrons_cfg.py
  Validation/RecoEgamma/test/ElectronMcSignalValidation_gedGsfElectrons_cfg.py
  Validation/RecoEgamma/test/electronValidationCheck_Env.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45709 Remove TestBPHSpecificDecay test
  HeavyFlavorAnalysis/SpecificDecay/test/stubs/TestBPHSpecificDecay.cc
  HeavyFlavorAnalysis/SpecificDecay/test/stubs/TestBPHSpecificDecay.h
Labels: analysis-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45571 HCAL DQM Online Histogram for Bad Quality Events
  DQM/HcalTasks/data/HcalQualityTests.xml
  DQM/HcalTasks/interface/DigiTask.h
  DQM/HcalTasks/interface/RawTask.h
  DQM/HcalTasks/plugins/DigiTask.cc
  DQM/HcalTasks/plugins/RawTask.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45370 Clean up Phase-2 Geometry D86, D88, D91, D92, D93, D94, D97
  Configuration/Geometry/README.md
  Configuration/Geometry/python/GeometryDD4hepExtended2026D86Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D86_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D88Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D88_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D91Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D91_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D92Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D92_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D93Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D93_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D94Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D94_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D97Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026D97_cff.py
  Configuration/Geometry/python/GeometryExtended2026D86Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D86_cff.py
  Configuration/Geometry/python/GeometryExtended2026D88Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D88_cff.py
  Configuration/Geometry/python/GeometryExtended2026D91Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D91_cff.py
  Configuration/Geometry/python/GeometryExtended2026D92Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D92_cff.py
  Configuration/Geometry/python/GeometryExtended2026D93Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D93_cff.py
  Configuration/Geometry/python/GeometryExtended2026D94Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D94_cff.py
  Configuration/Geometry/python/GeometryExtended2026D97Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2026D97_cff.py
  Configuration/Geometry/python/dict2026Geometry.py
  Configuration/PyReleaseValidation/python/relval_2026.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  Configuration/PyReleaseValidation/scripts/runTheMatrix.py
  Configuration/StandardSequences/python/GeometryConf.py
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D49.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D60.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D68.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D70.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D76.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D77.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D80.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D81.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D82.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D83.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D84.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D85.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D86.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D88.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D91.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D92.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D93.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D94.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2026D97.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D86XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D88XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D91XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D92XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D93XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D94XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2026D97XML_cfi.py
Labels: geometry-approved, operations-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#45333 TICLv5 : Superclustering DNN
  CommonTools/RecoAlgos/interface/MultiVectorManager.h
  Configuration/ProcessModifiers/python/ticl_superclustering_dnn_cff.py
  Configuration/ProcessModifiers/python/ticl_superclustering_mustache_pf_cff.py
  Configuration/ProcessModifiers/python/ticl_superclustering_mustache_ticl_cff.py
  Configuration/PyReleaseValidation/README.md
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  DataFormats/HGCalReco/interface/Trackster.h
  RecoHGCal/Configuration/python/RecoHGCal_EventContent_cff.py
  RecoHGCal/TICL/interface/SuperclusteringDNNInputs.h
  RecoHGCal/TICL/interface/TracksterLinkingAlgoBase.h
  RecoHGCal/TICL/plugins/BuildFile.xml
  RecoHGCal/TICL/plugins/EGammaSuperclusterProducer.cc
  RecoHGCal/TICL/plugins/PatternRecognitionbyCA.cc
  RecoHGCal/TICL/plugins/PatternRecognitionbyCLUE3D.cc
  RecoHGCal/TICL/plugins/PatternRecognitionbyCLUE3D.h
  RecoHGCal/TICL/plugins/PatternRecognitionbyFastJet.cc
  RecoHGCal/TICL/plugins/PatternRecognitionbyPassthrough.cc
  RecoHGCal/TICL/plugins/SimTrackstersProducer.cc
  RecoHGCal/TICL/plugins/SuperclusteringSampleDumper.cc
  RecoHGCal/TICL/plugins/TICLCandidateProducer.cc
  RecoHGCal/TICL/plugins/TICLDumper.cc
  RecoHGCal/TICL/plugins/TracksterLinkingPassthrough.h
  RecoHGCal/TICL/plugins/TracksterLinkingPluginFactory.cc
  RecoHGCal/TICL/plugins/TracksterLinkingPluginFactory.h
  RecoHGCal/TICL/plugins/TracksterLinkingbyFastJet.h
  RecoHGCal/TICL/plugins/TracksterLinkingbySkeletons.cc
  RecoHGCal/TICL/plugins/TracksterLinkingbySkeletons.h
  RecoHGCal/TICL/plugins/TracksterLinkingbySuperClusteringDNN.cc
  RecoHGCal/TICL/plugins/TracksterLinkingbySuperClusteringDNN.h
  RecoHGCal/TICL/plugins/TracksterLinkingbySuperClusteringMustache.cc
  RecoHGCal/TICL/plugins/TracksterLinkingbySuperClusteringMustache.h
  RecoHGCal/TICL/plugins/TracksterLinksProducer.cc
  RecoHGCal/TICL/plugins/TrackstersMergeProducer.cc
  RecoHGCal/TICL/plugins/TrackstersPCA.cc
  RecoHGCal/TICL/plugins/TrackstersPCA.h
  RecoHGCal/TICL/python/CLUE3DHighStep_cff.py
  RecoHGCal/TICL/python/customiseForTICLv5_cff.py
  RecoHGCal/TICL/python/customiseTICLFromReco.py
  RecoHGCal/TICL/python/iterativeTICL_cff.py
  RecoHGCal/TICL/python/superclustering_cff.py
  RecoHGCal/TICL/python/ticlDumper_cff.py
  RecoHGCal/TICL/src/SuperclusteringDNNInputs.cc
  SimCalorimetry/HGCalAssociatorProducers/python/TSToSimTSAssociation_cfi.py
  Validation/Configuration/python/hgcalSimValid_cff.py
  Validation/HGCalValidation/python/HGCalValidator_cfi.py
Labels: dqm-approved, operations-approved, reconstruction-approved, simulation-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, requires-external, code-checks-approved

#45579 Particle Transformer sonic producer
  Configuration/ProcessModifiers/python/allSonicTriton_cff.py
  Configuration/ProcessModifiers/python/particleTransformerAK4SonicTriton_cff.py
  RecoBTag/ONNXRuntime/BuildFile.xml
  RecoBTag/ONNXRuntime/interface/tensor_configs.h
  RecoBTag/ONNXRuntime/interface/tensor_fillers.h
  RecoBTag/ONNXRuntime/plugins/ParticleTransformerAK4ONNXJetTagsProducer.cc
  RecoBTag/ONNXRuntime/plugins/ParticleTransformerAK4SonicJetTagsProducer.cc
  RecoBTag/ONNXRuntime/python/pfParticleTransformerAK4_cff.py
  RecoBTag/ONNXRuntime/src/tensor_fillers.cc
Labels: operations-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#45733 [GCC13] Avoid Wdangling-reference in GenericTriggerEventFlag
  CommonTools/TriggerUtils/src/GenericTriggerEventFlag.cc
Labels: hlt-approved, l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45731 [GCC13] Avoid Wdangling-reference warning in HcalTPGCoderULUT.cc
  CalibCalorimetry/HcalTPGEventSetup/src/HcalTPGCoderULUT.cc
Labels: alca-approved, l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45729 [GCC13] Avoid Wdangling-reference warning in CaloTPGTranscoderULUTs
  CalibCalorimetry/CaloTPG/plugins/CaloTPGTranscoderULUTs.cc
Labels: alca-approved, l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45743 initialise `phiBinner` in device-to-host copy of `TrackingRecHitsSoACollection<TrackerTraits>`
  DataFormats/TrackingRecHitSoA/interface/alpaka/TrackingRecHitsSoACollection.h
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, heterogeneous-approved, tracking

#45740 [14.0.X] `BeamSpotOnlineProducer`: add more printouts in case of invalid errors
  RecoVertex/BeamSpotProducer/plugins/BeamSpotOnlineProducer.cc
Labels: alca-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, tracking

#45657 Removed unnecessary xz dependency from GeneratorProducts
  SimDataFormats/GeneratorProducts/BuildFile.xml
Labels: generators-pending, pending-signatures, tests-approved, orp-approved, code-checks-approved

#45577 Btag-OfflineDQM-CHS-To_PUPPI
  DQMOffline/RecoB/python/bTagCommon_cff.py
  DQMOffline/RecoB/python/dqmAnalyzer_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#45739 add pixel residuals monitoring at HLT
  DQM/SiPixelPhase1Track/interface/SiPixelPhase1ResidualsExtra.h
  DQM/SiPixelPhase1Track/plugins/SiPixelPhase1ResidualsExtra.cc
  DQM/SiPixelPhase1Track/python/SiPixelPhase1ResidualsExtra_cfi.py
  DQMOffline/Trigger/python/SiPixel_OfflineMonitoring_Client_cff.py
  DQMOffline/Trigger/python/SiPixel_OfflineMonitoring_HistogramManager_cfi.py
  DQMOffline/Trigger/python/SiPixel_OfflineMonitoring_TrackResiduals_cff.py
  DQMOffline/Trigger/python/SiPixel_OfflineMonitoring_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#45710 another apptainer workaround [13_2_X]
  HeterogeneousCore/SonicTriton/scripts/cmsTriton
Labels: fully-signed, tests-approved, orp-approved, backport-ok, heterogeneous-approved

#45720 another apptainer workaround [13_1_X]
  HeterogeneousCore/SonicTriton/scripts/cmsTriton
Labels: fully-signed, tests-approved, orp-approved, backport-ok, heterogeneous-approved

#45721 another apptainer workaround [13_0_X]
  HeterogeneousCore/SonicTriton/scripts/cmsTriton
Labels: fully-signed, tests-approved, orp-approved, backport-ok, heterogeneous-approved

#45723 another apptainer workaround [12_4_X]
  HeterogeneousCore/SonicTriton/scripts/cmsTriton
Labels: fully-signed, tests-approved, orp-approved, backport-ok, heterogeneous-approved

#45726 Fix bug affecting label in exception message
  FWCore/Framework/interface/EDConsumerBase.h
  FWCore/Framework/interface/EventSetupRecord.h
  FWCore/Framework/src/EDConsumerBase.cc
  FWCore/Utilities/interface/ESGetToken.h
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45727 Phase2-hgx359O First test of the V19 geometry of HGCal (longitudinal structure part to be corrected still)
  Geometry/HGCalCommonData/data/hgcalHEmix/v19/hgcalHEmix.xml
  Geometry/HGCalCommonData/plugins/DDHGCalMixRotatedFineCassette.cc
  Geometry/HGCalCommonData/plugins/DDHGCalPassive.cc
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalMixRotatedFineCassette.cc
  Geometry/HGCalCommonData/python/testHGCalEEV19XML_cfi.py
  Geometry/HGCalCommonData/python/testHGCalHEmixV19XML_cfi.py
  Geometry/HGCalCommonData/python/testHGCalHEsilV19XML_cfi.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#45736 Phase2-hgx359P Prepare the material file to be updated later once the composition known for materials for the silicon component of HGCal
  Geometry/HGCalCommonData/data/hgcalMaterial/v3/hgcalMaterial.xml
  Geometry/HGCalCommonData/python/testHGCalPassiveV19XML_cfi.py
  Geometry/HGCalCommonData/python/testHGCalV19XML_cfi.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#45718 Create BareRootProductGetterBase for FireworksWeb
  FWCore/FWLite/interface/BareRootProductGetterBase.h
  FWCore/FWLite/src/BareRootProductGetter.cc
  FWCore/FWLite/src/BareRootProductGetter.h
  FWCore/FWLite/src/BareRootProductGetterBase.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45705 Fix HLT Timing script for CI
  HLTrigger/Configuration/python/HLT_75e33/test/runHLTTiming.sh
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45664 Added displaced muon information to the EMTF emulator DQM
  DQM/L1TMonitor/python/L1TdeStage2EMTF_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45748 make `AlcaPCCEventProducer` a global module
  Calibration/LumiAlCaRecoProducers/plugins/AlcaPCCEventProducer.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45756 Use C++ concepts to deduce data product attributes
  DataFormats/Common/interface/Wrapper.h
  DataFormats/Common/interface/WrapperDetail.h
  FWCore/Framework/interface/Event.h
  FWCore/Framework/interface/LuminosityBlock.h
  FWCore/Framework/interface/PrincipalGetAdapter.h
  FWCore/Framework/interface/ProcessBlock.h
  FWCore/Framework/interface/Run.h
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45757 Use C++ concepts in Token classes
  FWCore/Utilities/interface/EDGetToken.h
  FWCore/Utilities/interface/EDPutToken.h
  FWCore/Utilities/interface/ESGetToken.h
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45687 [14_0_X] pileup profile for RunIII2024Summer24 MC compaign (backport)
  Configuration/StandardSequences/python/Mixing.py
  SimGeneral/MixingModule/python/mix_2024_25ns_RunIII2024Summer24_PoissonOOTPU_cfi.py
Labels: operations-approved, simulation-approved, fully-signed, tests-approved, orp-approved

#45765 Apply suggested fix for Wdangling-reference
  CalibTracker/SiStripCommon/plugins/TkDetMapESProducer.cc
  RecoLocalCalo/HcalRecAlgos/plugins/HcalChannelPropertiesEP.cc
Labels: alca-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk, tests-ib-failure

#45744 [14.0.X] initialise `phiBinner` in device-to-host copy of `TrackingRecHitsSoACollection<TrackerTraits>`
  DataFormats/TrackingRecHitSoA/interface/alpaka/TrackingRecHitsSoACollection.h
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, heterogeneous-approved, tracking, hlt-integration

#45712 Add ZDC `EtSum`s to Stage-2 L1T emulation
  Configuration/StandardSequences/python/SimL1EmulatorRepack_FullMC_cff.py
  Configuration/StandardSequences/python/SimL1EmulatorRepack_Full_cff.py
  EventFilter/L1TRawToDigi/python/gtStage2Raw_cfi.py
  L1Trigger/Configuration/python/SimL1Emulator_cff.py
  L1Trigger/L1TGlobal/python/simGtStage2Digis_cfi.py
  L1Trigger/L1TGlobal/test/testVectorCode_data.py
  L1Trigger/L1TNtuples/python/L1NtupleEMU_cff.py
  L1Trigger/L1TNtuples/python/L1NtupleRAW_cff.py
  L1Trigger/L1TNtuples/python/l1UpgradeTree_cfi.py
  L1Trigger/L1TZDC/plugins/L1TZDCAnalyzer.cc
  L1Trigger/L1TZDC/python/L1TZDCEmulation_cff.py
  L1Trigger/L1TZDC/python/etSumZdcAnalyzer_cfi.py
  L1Trigger/L1TZDC/python/etSumZdcProducer_cfi.py
  L1Trigger/L1TZDC/python/l1tZDCEtSums_cfi.py
Labels: l1-approved, operations-approved, fully-signed, tests-started, orp-approved, code-checks-approved

#45768 fixes leftover from #45636
  HLTrigger/Configuration/python/HLT_75e33/modules/hltParticleFlowSuperClusterHGCalFromTICLUnseeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33_timing_cff.py
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, tests-ib-failure

#45770 Use C++ concepts for edm::Ptr
  DataFormats/Common/interface/Ptr.h
  DataFormats/Common/test/ptr_t.cppunit.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tests-ib-failure

#45777 Use C++ concepts in RefToBase
  DataFormats/Common/interface/RefToBase.h
  DataFormats/Common/test/BuildFile.xml
  DataFormats/Common/test/reftobase_t.cpp
  DataFormats/Common/test/reftobase_t.cppunit.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tests-ib-failure

#45773 use C++ concepts in monitor_file_utilities
  FWCore/Services/plugins/monitor_file_utilities.h
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tests-ib-failure

#45772 Use C++ concepts in ReturnArgumentTypes
  FWCore/Framework/interface/es_impl/ReturnArgumentTypes.h
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tests-ib-failure

#45407 Added new ZDCHitReconstructor and ZDCRecAlgo to work with QIE10 Digis and Updated ZDCRecHit
  Configuration/StandardSequences/python/Reconstruction_cff.py
  DataFormats/HcalRecHit/interface/ZDCRecHit.h
  DataFormats/HcalRecHit/src/ZDCRecHit.cc
  DataFormats/HcalRecHit/src/classes_def.xml
  RecoHI/HiCentralityAlgos/python/HiCentrality_cfi.py
  RecoHI/HiCentralityAlgos/python/pACentrality_cfi.py
  RecoHI/HiEvtPlaneAlgos/python/RecoHiEvtPlane_EventContent_cff.py
  RecoLocalCalo/Configuration/python/RecoLocalCalo_Cosmics_cff.py
  RecoLocalCalo/Configuration/python/RecoLocalCalo_EventContentCosmics_cff.py
  RecoLocalCalo/Configuration/python/RecoLocalCalo_EventContent_cff.py
  RecoLocalCalo/Configuration/python/hcalLocalReco_cff.py
  RecoLocalCalo/HcalRecAlgos/interface/ZdcSimpleRecAlgo_Run3.h
  RecoLocalCalo/HcalRecAlgos/src/ZdcSimpleRecAlgo_Run3.cc
  RecoLocalCalo/HcalRecProducers/plugins/BuildFile.xml
  RecoLocalCalo/HcalRecProducers/plugins/ZdcHitReconstructor_Run3.cc
  RecoLocalCalo/HcalRecProducers/plugins/ZdcHitReconstructor_Run3.h
Labels: operations-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tests-ib-failure, changes-dataformats

#45778 Use C++ concepts for InputProcessBlockCacheImpl
  FWCore/Framework/interface/InputProcessBlockCacheImpl.h
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tests-ib-failure

#45771 Use C++ concepts for propagate_const_array
  FWCore/Utilities/interface/propagate_const_array.h
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tests-ib-failure

#45764 fix a bunch of failing unit tests after D88 and D92 went missing
  Alignment/OfflineValidation/python/TkAlAllInOneTool/defaultInputFiles_cff.py
  Alignment/OfflineValidation/test/testPrimaryVertexRelatedValidations_cfg.py
  Alignment/TrackerAlignment/test/Misalignments/createRandomlyMisalignedGeometry_Phase2_cfg.py
  CondTools/SiPhase2Tracker/test/SiPhase2BadStripChannelBuilder_cfg.py
  CondTools/SiPhase2Tracker/test/SiPhase2BadStripChannelReader_cfg.py
  CondTools/SiPhase2Tracker/test/SiPhase2OuterTrackerLorentzAngleReader_cfg.py
  CondTools/SiPhase2Tracker/test/SiPhase2OuterTrackerLorentzAngleWriter_cfg.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026DefaultReco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026Default_cff.py
  Configuration/Geometry/python/GeometryExtended2026DefaultReco_cff.py
  Configuration/Geometry/python/GeometryExtended2026Default_cff.py
  Configuration/Geometry/python/defaultPhase2ConditionsEra_cff.py
  Geometry/TrackerGeometryBuilder/src/PixelTopologyMap.cc
  Geometry/TrackerGeometryBuilder/test/python/testPixelTopologyMapTest_cfg.py
  Geometry/TrackerGeometryBuilder/test/runTest.sh
  RecoTracker/MkFit/test/dumpMkFitGeometryPhase2.py
  SLHCUpgradeSimulations/Geometry/test/phase2_digi_reco_pixelntuple_cfg.py
  SLHCUpgradeSimulations/Geometry/test/writeFile_phase2_cfg.py
  SimTracker/TrackerMaterialAnalysis/test/listIds_PhaseII.py
  SimTracker/TrackerMaterialAnalysis/test/trackingMaterialAnalyser_ForPhaseII.py
  SimTracker/TrackerMaterialAnalysis/test/trackingMaterialProducer10GeVNeutrino_ForPhaseII.py
  Validation/Geometry/test/genHGCalPlots.sh
Labels: alca-approved, dqm-approved, geometry-approved, reconstruction-approved, simulation-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, upgrade-approved, code-checks-approved, tracking, trk, tests-ib-failure

#45775 update `createTestDBObjects` unit test to use Tracker geometry T33
  CondTools/SiPixel/data/phase2_T33_mapping.csv
  CondTools/SiPixel/test/SiPixelGenErrorDBObjectUploader_Phase2_cfg.py
  CondTools/SiPixel/test/SiPixelTemplateDBObjectUploader_Phase2_cfg.py
  CondTools/SiPixel/test/createTestDBObjects.sh
Labels: fully-signed, tests-approved, db-approved, bug-fix, orp-approved, urgent, requires-external, code-checks-approved, trk, tests-ib-failure

#45681 use `rawDataRepacker` in presence of `hi_run` run class in a bunch of DQM online clients
  DQM/Integration/python/clients/l1tstage2emulator_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/mutracking_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/pixel_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/sistrip_approx_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/sistrip_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#45782 Fix HGCAL Geometry - Revert `norot` back to False in `locateCell()`
  Geometry/HGCalGeometry/src/HGCalGeometry.cc
Labels: geometry-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, upgrade-approved, code-checks-approved, hgcal, tests-ib-failure

#45794 Revert changes made in BTV DQM with #45577
  DQMOffline/RecoB/python/bTagCommon_cff.py
  DQMOffline/RecoB/python/dqmAnalyzer_cff.py
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, btv, tracking, tests-ib-failure

#45774 Remove Duplicate RelVals from `relval_highstats.py` and Smaller Queries for `das-up-to-nevents.py`
  Configuration/PyReleaseValidation/python/MatrixUtil.py
  Configuration/PyReleaseValidation/python/relval_data_highstats.py
  Configuration/PyReleaseValidation/python/relval_highstats.py
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/PyReleaseValidation/scripts/das-up-to-nevents.py
Labels: fully-signed, tests-approved, pdmv-approved, bug-fix, orp-approved, urgent, upgrade-approved, code-checks-approved

#45682 [14.0.X] use `rawDataRepacker` in presence of `hi_run` run class in a bunch of DQM online clients
  DQM/Integration/python/clients/l1tstage2emulator_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/mutracking_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/pixel_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/sistrip_approx_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/sistrip_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#45769 [14.0.X] make `AlcaPCCEventProducer` a global module
  Calibration/LumiAlCaRecoProducers/plugins/AlcaPCCEventProducer.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok

#45242 Unprescaled AXO seeds (L1_AXO_Nominal, L1_AXO_VTight) added to the un…
  DQM/L1TMonitor/python/L1TStage2uGTTiming_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved, tests-ib-failure

#45634 Era modifier updated from Run3 to Run3_2024 in dqm client configs
  DQM/Integration/python/clients/l1tstage2_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/l1tstage2emulator_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tests-ib-failure

#45802 Bug fix: initialization of genJetMatch token in appropriate place
  PhysicsTools/PatAlgos/plugins/PATTauHybridProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, xpog-approved, jetmet

#45531 Fix for the cosmetic issue for the GEM DQM summary plot
  DQM/GEM/plugins/GEMDQMHarvester.cc
  DQM/GEM/src/GEMDQMBase.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45785 Use concepts in Ref
  DataFormats/Common/interface/Ref.h
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tests-ib-failure

#45784 Skip non-leaf GeomDets when dumping fireworks geometry
  Fireworks/Geometry/src/FWRecoGeometryESProducer.cc
Labels: visualization-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved, tests-ib-failure

#45776 add a phase-2 D110 relval workflow running the HLT timing menu, up to step2
  Configuration/PyReleaseValidation/README.md
  Configuration/PyReleaseValidation/python/relval_2026.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  Configuration/PyReleaseValidation/scripts/runTheMatrix.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, requires-external, code-checks-approved

#45328 Improve handling of phase-2 geometries and add unit tests for `Fireworks/Geometry` package
  Fireworks/Geometry/python/dumpRecoGeometry_cfg.py
  Fireworks/Geometry/test/BuildFile.xml
  Fireworks/Geometry/test/test_dumpRecoGeometry.sh
Labels: visualization-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved, tests-ib-failure

#45781 [MiniAOD] Remove Flag_METFilters from MiniAOD
  PhysicsTools/PatAlgos/python/slimming/metFilterPaths_cff.py
  RecoMET/METFilters/python/metFilters_cff.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#45788 Phase2-hgx359Q Modify the testing code in Geometry/HGCalCommonData in view of changes made in the Configuration/Geometry area for Phase2 scenarios
  Geometry/HGCalCommonData/test/python/dumpHGCalGeometryDD4hep_cfg.py
  Geometry/HGCalCommonData/test/python/dumpHGCalGeometryDDD_cfg.py
  Geometry/HGCalCommonData/test/python/runHGCalDD4hep_cfg.py
  Geometry/HGCalCommonData/test/python/runHGCalDDD_cfg.py
  Geometry/HGCalCommonData/test/python/testHGCGeometry_cfg.py
  Geometry/HGCalCommonData/test/python/testHGCalPartialWaferTester_cfg.py
  Geometry/HGCalCommonData/test/python/testHGCalScintID_cfg.py
  Geometry/HGCalCommonData/test/python/testHGCalValidHex_cfg.py
  Geometry/HGCalCommonData/test/python/testHGCalValidity_cfg.py
  Geometry/HGCalCommonData/test/python/testHGCalWafer_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#45789 Phase2-hgx359R Modify the testing code in Geometry/HGCalGeometry in view of changes made in the Configuration/Geometry area for Phase2 scenarios
  Geometry/HGCalGeometry/test/python/hgcGeomAnalyzer_cfg.py
  Geometry/HGCalGeometry/test/python/runCaloCellGeometryTest_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalCellDumpDDD_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalCorner_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalGeomLocatorSc_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalGeomLocator_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalGeometryCheck_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalGeometryMouseBite_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalGeometryNewCorners_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalWaferInFileCheck_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalWaferTypeTester_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#45758 Run3-alca248B Changes to the calibration scripts for HCAL Isotrack analysis of 2024 data sets
  Calibration/HcalCalibAlgos/macros/CalibCorr.C
  Calibration/HcalCalibAlgos/macros/CalibMonitor.C
  Calibration/HcalCalibAlgos/macros/CalibPlotProperties.C
  Calibration/HcalCalibAlgos/macros/CalibTree.C
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45796 better automatic handling of default 2026 geometry
  Configuration/Geometry/python/GeometryDD4hepExtended2026DefaultReco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2026Default_cff.py
  Configuration/Geometry/python/GeometryExtended2026DefaultReco_cff.py
  Configuration/Geometry/python/GeometryExtended2026Default_cff.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#45605 Add L1TCaloLayer1Summary and necessary changes to emulator
  DQM/L1TMonitor/interface/L1TCaloLayer1Summary.h
  DQM/L1TMonitor/plugins/SealModule.cc
  DQM/L1TMonitor/python/L1TCaloLayer1Summary_cff.py
  DQM/L1TMonitor/python/L1TCaloLayer1Summary_cfi.py
  DQM/L1TMonitor/python/L1TStage2_cff.py
  DQM/L1TMonitor/src/L1TCaloLayer1Summary.cc
  L1Trigger/L1TCaloLayer1/plugins/L1TCaloSummary.cc
  L1Trigger/L1TCaloLayer1/python/simCaloStage2Layer1Summary_cfi.py
Labels: dqm-approved, l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45779 Add certificates handling to Tier0Handler
  CondCore/Utilities/python/tier0.py
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#45666 Update Pixel GPU DQM online client
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  DQM/Integration/python/clients/pixelgpu_dqm_sourceclient-live_cfg.py
  DQM/SiPixelHeterogeneous/plugins/SiPixelCompareTrackSoA.cc
  DQM/SiPixelHeterogeneous/plugins/SiPixelCompareTracks.cc
  DQM/SiPixelHeterogeneous/plugins/SiPixelMonitorTrackSoA.cc
  DQM/SiPixelHeterogeneous/plugins/SiPixelMonitorTrackSoAAlpaka.cc
  DQM/SiPixelHeterogeneous/plugins/SiPixelTrackComparisonHarvester.cc
  DQM/SiPixelHeterogeneous/python/SiPixelHeterogenousDQMHarvesting_cff.py
Labels: dqm-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved, tracking, trk

#45787 Phase2-hgx359XX Modify Three test scripts to test if the bug-fix for HGCalGeometry Works
  Geometry/HGCalGeometry/test/python/testHGCalGeometryRotCheck_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalGeometryRotTest_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalGeometry_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, bug-fix, orp-approved, upgrade-approved, code-checks-approved

#45793 Phase2-hgx359U Modify the testing code in Validation/Geometry and SimG4CMS/Calo in view of changes made in the Configuration/Geometry area for Phase2 scenarios
  SimG4CMS/Calo/test/python/minbias.py
  SimG4CMS/Calo/test/python/minbias2026_cfg.py
  SimG4CMS/Calo/test/python/runHGC7_cfg.py
  SimG4CMS/Calo/test/python/runHGC8_cfg.py
  SimG4CMS/Calo/test/python/testHGCalGuardRing_cfg.py
  SimG4CMS/Calo/test/python/testHGCalMouseBite_cfg.py
  SimG4CMS/Calo/test/python/ttbar.py
  Validation/Geometry/test/runMaterialBudgetVolume2026DD4hep_cfg.py
  Validation/Geometry/test/runMaterialBudgetVolume2026DDD_cfg.py
Labels: dqm-approved, geometry-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45823 add a unit test for `createTrackerAlignmentRcds`
  Alignment/TrackerAlignment/test/BuildFile.xml
  Alignment/TrackerAlignment/test/createTrackerAlignmentRcds_Phase2_cfg.py
  Alignment/TrackerAlignment/test/testCreateReferenceRecords.sh
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#45734 [GCC13] Avoid maybe-uninitialized warning in BaseTnPEfficiencyTask::analyze
  DQMOffline/MuonDPG/src/BaseTnPEfficiencyTask.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45818 [MiniAOD] Set Muon ID flags for PackedCandidates regardless of trackRef
  PhysicsTools/PatAlgos/plugins/PATPackedCandidateProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#45810 add unit tests for `SiPhase2OTFakeLorentzAngleESSource`
  CondTools/SiPhase2Tracker/test/SiPhase2OuterTrackerLorentzAngleReader_cfg.py
  CondTools/SiPhase2Tracker/test/test_CondToolsSiPhase2Tracker.sh
Labels: alca-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#45791 Phase2-hgx359T Modify the testing code in Validation/HGCalValidation in view of changes made in the Configuration/Geometry area for Phase2 scenarios
  Validation/HGCalValidation/test/python/runHFNoseDigiStudy_cfg.py
  Validation/HGCalValidation/test/python/runHFNoseRecHitStudy_cfg.py
  Validation/HGCalValidation/test/python/runHFNoseSimHitStudy_cfg.py
  Validation/HGCalValidation/test/python/testHFNoseSimHitStudy_cfg.py
  Validation/HGCalValidation/test/python/testHGCalSimWatcherV17N_cfg.py
  Validation/HGCalValidation/test/python/testHGCalSimWatcherV17_cfg.py
  Validation/HGCalValidation/test/python/testHGCalSimWatcherV18_cfg.py
  Validation/HGCalValidation/test/python/testValidationHGCalTrigPrim_RelVal_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45702 Refine RPCDigis Validation histograms
  Validation/MuonRPCDigis/interface/RPCDigiValid.h
  Validation/MuonRPCDigis/python/validationMuonRPCDigis_cfi.py
  Validation/MuonRPCDigis/src/RPCDigiValid.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45839 clean-up of unused HLTrigger/Configuration customization functions
  HLTrigger/Configuration/python/customizeHLTforAlpaka.py
  HLTrigger/Configuration/python/customizeHLTforCMSSW.py
  HLTrigger/Configuration/python/customizeHLTforMC.py
  HLTrigger/Configuration/python/customizeHLTforNewDatasetDefinition.py
  RecoTauTag/HLTProducers/test/testL2TauTagNN.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45832 Phase2-sim158 Modify the scripts in SimG4Core/PrintGeomInfo to use the right era definitions
  SimG4Core/PrintGeomInfo/test/python/runMaterialBudgeInfo2026_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runPrintG4Solids_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runPrintG4Touch2026_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runPrintSolid2026_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runSens2026_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runSummary2026_cfg.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45815 Bug fix: initialization of genJetMatch token in appropriate place [14_1_X]
  PhysicsTools/PatAlgos/plugins/PATTauHybridProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, xpog-approved, jetmet

#45816 Bug fix: initialization of genJetMatch token in appropriate place [14_0_X]
  PhysicsTools/PatAlgos/plugins/PATTauHybridProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, xpog-approved, jetmet

#45807 [14_0_X] Fix for the cosmetic issue for the GEM DQM summary plot (backport)
  DQM/GEM/plugins/GEMDQMHarvester.cc
  DQM/GEM/src/GEMDQMBase.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok, gem

#45805 [14.0.X] L1T DQM: Combined backport of cms-sw/cmssw#45242 and cms-sw/cmssw#45634
  DQM/Integration/python/clients/l1tstage2_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/l1tstage2emulator_dqm_sourceclient-live_cfg.py
  DQM/L1TMonitor/python/L1TStage2uGTTiming_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#45812 Phase2-hgx359W Modify the testing code in some packages in RecLocalCalo, SimG4CMS and Validation because of changes made in the Configuration/Geometry area for Phase2 scenarios
  RecoLocalCalo/HGCalRecAlgos/test/testHGCalPartialWaferDigi_cfg.py
  RecoLocalCalo/HGCalRecAlgos/test/testHGCalPartialWaferRecHit_cfg.py
  RecoLocalCalo/HGCalRecAlgos/test/testHGCalPartialWaferSimHit_cfg.py
  SimG4CMS/Calo/test/python/minbias.py
  SimG4CMS/Calo/test/python/minbias2026_cfg.py
  SimG4CMS/Calo/test/python/runHGC7_cfg.py
  SimG4CMS/Calo/test/python/runHGC8_cfg.py
  SimG4CMS/Calo/test/python/testHGCalGuardRing_cfg.py
  SimG4CMS/Calo/test/python/testHGCalMouseBite_cfg.py
  SimG4CMS/Calo/test/python/ttbar.py
  Validation/Geometry/test/runMaterialBudgetVolume2026DD4hep_cfg.py
  Validation/Geometry/test/runMaterialBudgetVolume2026DDD_cfg.py
  Validation/HGCalValidation/test/python/runHFNoseDigiStudy_cfg.py
  Validation/HGCalValidation/test/python/runHFNoseRecHitStudy_cfg.py
  Validation/HGCalValidation/test/python/runHFNoseSimHitStudy_cfg.py
  Validation/HGCalValidation/test/python/testHFNoseSimHitStudy_cfg.py
  Validation/HGCalValidation/test/python/testHGCalSimWatcherV17N_cfg.py
  Validation/HGCalValidation/test/python/testHGCalSimWatcherV17_cfg.py
  Validation/HGCalValidation/test/python/testHGCalSimWatcherV18_cfg.py
  Validation/HGCalValidation/test/python/testValidationHGCalTrigPrim_RelVal_cfg.py
Labels: dqm-approved, geometry-approved, reconstruction-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, backport-ok

#45711 Update validation for RPC hit reconstruction (backport of #45626, 14_0_X)
  Validation/RPCRecHits/interface/RPCRecHitValid.h
  Validation/RPCRecHits/src/RPCRecHitValid.cc
  Validation/RPCRecHits/src/RPCRecHitValidClient.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok, rpc

#45806 [14.1.X] Update Pixel GPU DQM online client
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  DQM/Integration/python/clients/pixelgpu_dqm_sourceclient-live_cfg.py
  DQM/SiPixelHeterogeneous/plugins/SiPixelCompareTrackSoA.cc
  DQM/SiPixelHeterogeneous/plugins/SiPixelCompareTracks.cc
  DQM/SiPixelHeterogeneous/plugins/SiPixelMonitorTrackSoA.cc
  DQM/SiPixelHeterogeneous/plugins/SiPixelMonitorTrackSoAAlpaka.cc
  DQM/SiPixelHeterogeneous/plugins/SiPixelTrackComparisonHarvester.cc
  DQM/SiPixelHeterogeneous/python/SiPixelHeterogenousDQMHarvesting_cff.py
Labels: dqm-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, backport-ok, tracking, trk
