Repository cms-sw/cmssw, pull requests merged in 2024-11, with the labels that each got.

#46537 Modification to move ZDC trigger spacing to TP channel parameters conditions.
  CalibCalorimetry/HcalTPGAlgos/interface/HcaluLUTTPGCoder.h
  CalibCalorimetry/HcalTPGAlgos/src/HcaluLUTTPGCoder.cc
Labels: alca-approved, l1-approved, fully-signed, tests-approved, orp-approved, urgent, code-checks-approved, tests-ib-failure

#46458 [14_1_X] Update the PbPb skims for 2024 data taking
  Configuration/Skimming/python/PbPb_EMuSkim_cff.py
  Configuration/Skimming/python/PbPb_ZEESkim_cff.py
  Configuration/Skimming/python/PbPb_ZMMSkim_cff.py
  Configuration/Skimming/python/PbPb_ZMuSkimMuonDPG_cff.py
  Configuration/Skimming/python/autoSkim.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, urgent, backport-ok

#46560 [14_1_X] Fix DQM Certification JSON Parsing From Web in `das-up-to-nevents.py`
  Configuration/PyReleaseValidation/scripts/das-up-to-nevents.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, urgent, upgrade-approved, backport-ok

#46564 [14.1.X] add `ClusterShapeHitFilterESProducer_cfi` to `dedxEstimators_Cosmics_cff` as it's now requested by `DeDxHitInfoProducer`
  RecoTracker/DeDx/python/dedxEstimators_Cosmics_cff.py
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, backport-ok, tracking

#46567 [14_1] Fix memory leak issues in Calo Layer 1 UCT Infrastructure
  L1Trigger/L1TCaloLayer1/plugins/L1TCaloLayer1.cc
  L1Trigger/L1TCaloLayer1/plugins/L1TCaloSummary.cc
  L1Trigger/L1TCaloLayer1/src/UCTLayer1.cc
  L1Trigger/L1TCaloLayer1/src/UCTLayer1.hh
  L1Trigger/L1TCaloLayer1/src/UCTRegion.cc
  L1Trigger/L1TCaloLayer1/src/UCTRegion.hh
  L1Trigger/L1TCaloLayer1/src/UCTSummaryCard.cc
  L1Trigger/L1TCaloLayer1/src/UCTSummaryCard.hh
  L1Trigger/L1TCaloLayer1/test/testUCTLayer1.cpp
  L1Trigger/L1TCaloLayer1/test/testUCTLayer1HF.cpp
Labels: l1-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, backport-ok

#46544 [14_1_X] Backport of modifications to make ZDC trigger spacing configurable with TP channel parameters.
  CalibCalorimetry/HcalTPGAlgos/interface/HcaluLUTTPGCoder.h
  CalibCalorimetry/HcalTPGAlgos/src/HcaluLUTTPGCoder.cc
Labels: alca-approved, l1-approved, fully-signed, tests-approved, orp-approved, urgent

#46584 Fix ZMu skimming code for 2024 PbPb data taking
  Configuration/Skimming/python/PbPb_ZMuSkimMuonDPG_cff.py
Labels: fully-signed, tests-approved, pdmv-approved, bug-fix, orp-approved, urgent, code-checks-approved

#46585 [14_1_X] Fix ZMu skimming code for 2024 PbPb data taking
  Configuration/Skimming/python/PbPb_ZMuSkimMuonDPG_cff.py
Labels: fully-signed, tests-approved, pdmv-approved, bug-fix, orp-approved, urgent, backport

#44927 Introduce OnlinePopCon mechanism
  CondCore/PopCon/interface/Exception.h
  CondCore/PopCon/interface/OnlinePopCon.h
  CondCore/PopCon/interface/OnlinePopConAnalyzer.h
  CondCore/PopCon/src/OnlinePopCon.cc
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, tests-ib-failure

#46587 Run3-gem80 Add modification in the GE21 setup for the 2025 run scenario with 4 additional chambers on -z side
  Geometry/MuonCommonData/data/gem21/2025/v1/gem21.xml
  Geometry/MuonCommonData/python/testExtendedGeometry2025XML_cfi.py
  Geometry/MuonCommonData/test/python/g4OverlapCheck2021_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46445 2025 Wfs Skeleton and Updates to Data Wfs (2024,2023,2022)
  Configuration/AlCa/python/autoCond.py
  Configuration/HLT/python/autoHLT.py
  Configuration/PyReleaseValidation/python/relval_2017.py
  Configuration/PyReleaseValidation/python/relval_data_highstats.py
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  Configuration/PyReleaseValidation/scripts/README.md
  Configuration/PyReleaseValidation/scripts/runTheMatrix.py
Labels: alca-approved, hlt-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, requires-external, code-checks-approved

#46523 Add GloParT inference facility
  PhysicsTools/NanoAOD/python/custom_jme_cff.py
  PhysicsTools/NanoAOD/python/jetsAK8_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
  PhysicsTools/NanoAOD/python/nano_cff.py
  PhysicsTools/PatAlgos/python/recoLayer0/bTagging_cff.py
  PhysicsTools/PatAlgos/python/slimming/applyDeepBtagging_cff.py
  PhysicsTools/PatAlgos/python/tools/jetTools.py
  PhysicsTools/PatAlgos/python/tools/puppiJetMETReclusteringFromMiniAOD_cff.py
  RecoBTag/Configuration/python/RecoBTag_cff.py
  RecoBTag/FeatureTools/plugins/GlobalParticleTransformerAK8TagInfoProducer.cc
  RecoBTag/ONNXRuntime/python/pfGlobalParticleTransformerAK8_cff.py
  RecoBTag/ONNXRuntime/test/test_globalpart_cfg.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved, xpog-approved

#46548 Adding HI MEs to per-LS scope in JetMET offline DQM
  DQMServices/Core/python/nanoDQMIO_perLSoutput_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved, tests-ib-failure

#45838 fix HGCAL Layer Cluster times in heterogeneous workflows at HLT
  RecoLocalCalo/HGCalRecProducers/plugins/HGCalLayerClustersFromSoAProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#46574 Rework Muon candidate selection in few tracker ALCARECO
  Alignment/CommonAlignmentProducer/plugins/AlignmentGoodIdMuonSelector.cc
  Alignment/CommonAlignmentProducer/plugins/AlignmentRelCombIsoMuonSelector.cc
  Alignment/CommonAlignmentProducer/plugins/BuildFile.xml
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlDiMuonAndVertex_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlMuonIsolated_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlUpsilonMuMu_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlZMuMuPA_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlZMuMu_cff.py
  Alignment/CommonAlignmentProducer/python/TkAlMuonSelectors_cfi.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOSiPixelCalSingleMuonTight_cff.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, performance-improvements, trk

#46599 `HLTRegionalEcalResonanceFilter`: put output collections in the event also if the filter fails
  HLTrigger/special/plugins/HLTRegionalEcalResonanceFilter.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46575 Improve `Phase2TrackerMonitorDigi`
  DQM/SiTrackerPhase2/plugins/Phase2TrackerMonitorDigi.cc
  DQM/SiTrackerPhase2/plugins/Phase2TrackerMonitorDigi.h
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, performance-improvements, trk

#46532 QTest Tracking Summary DQM
  DQM/SiStripMonitorClient/data/sistrip_qualitytest_config_tier0_cosmic.xml
  DQM/TrackingMonitorClient/data/tracking_qualitytest_config_tier0_cosmic.xml
  DQM/TrackingMonitorClient/python/TrackingClientConfig_Tier0_Cosmic_cff.py
  DQM/TrackingMonitorClient/src/TrackingQualityChecker.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved, tracking, trk

#46568 Bugfix for EMTF DQM module
  DQM/L1TMonitor/src/L1TStage2EMTF.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46583 Global config added for DMR-averaged tool
  Alignment/OfflineValidation/bin/DMRmerge.cc
  Alignment/OfflineValidation/interface/PlotAlignmentValidation.h
  Alignment/OfflineValidation/plugins/TrackerOfflineValidation.cc
  Alignment/OfflineValidation/python/TkAlAllInOneTool/DMR.py
  Alignment/OfflineValidation/python/TkAlAllInOneTool/DMR_cfg.py
  Alignment/OfflineValidation/python/TkAlAllInOneTool/DMRplotter.py
  Alignment/OfflineValidation/src/PlotAlignmentValidation.cc
  Alignment/OfflineValidation/test/unit_test.json
  Alignment/OfflineValidation/test/unit_test.yaml
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#46589 Add WF for 2024 PbPb skim
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#46561 PrintTkMaps: Prefer to use data files from local area
  DQM/TrackerRemapper/test/testPrintTkMaps.sh
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk, tests-ib-failure

#46590 adjust the L1T seeds to be monitored from `L1TStage2uGTTiming` in Run3 PbPb modes
  DQM/L1TMonitor/python/L1TStage2uGTTiming_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46597 fix `InputTag` in `SimL1EmulatorRepack_uGT_cff.py`
  Configuration/StandardSequences/python/SimL1EmulatorRepack_uGT_cff.py
Labels: operations-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved

#46222 [MillePede] Add optional geometry parameter to `setup()` for dynamic loading of geometries
  Alignment/MillePedeAlignmentAlgorithm/python/alignmentsetup/GeneralSetup.py
  Alignment/MillePedeAlignmentAlgorithm/scripts/mps_alisetup.py
  Alignment/MillePedeAlignmentAlgorithm/templates/alignment_config.ini
  Alignment/MillePedeAlignmentAlgorithm/templates/universalConfigTemplate.py
  Alignment/MillePedeAlignmentAlgorithm/test/test_mille.py
  Alignment/MillePedeAlignmentAlgorithm/test/test_pede.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#46472 fix out of bound error in Phase-2 L1 Calorimeter barrel emulator
  L1Trigger/L1CaloTrigger/interface/Phase2L1RCT.h
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#46612 Phase2-sim159X Update all scripts in SimG4Core/Configuration/test for changes from 2026 to Run4
  SimG4Core/Configuration/test/dd4hepTTBarRun4D107_cfg.py
  SimG4Core/Configuration/test/dd4hepTTBarRun4D110_cfg.py
  SimG4Core/Configuration/test/dd4hep_ttbar_Run4D110_Step1_cfg.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46609 Add new user-configurable parameter in BSOnlineFromOfflineConverter
  CondTools/BeamSpot/test/BeamSpotOnlineFromOfflineConverter_cfg.py
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, tracking

#46525 use vector::reserve in L1TGlobalUtil
  L1Trigger/L1TGlobal/src/L1TGlobalUtil.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46566 Make ClusterSummary possible to turn off warning
  DPGAnalysis/SiStripTools/plugins/MultiplicityAlgorithms.cc
  DPGAnalysis/SiStripTools/plugins/MultiplicityAlgorithms.h
  DataFormats/TrackerCommon/interface/ClusterSummary.h
Labels: analysis-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking, trk

#46592 improve graphical rendering of `AlCaRecoTriggerBits_PayloadInspector` pots
  CondCore/HLTPlugins/plugins/AlCaRecoTriggerBits_PayloadInspector.cc
Labels: hlt-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#46611 Phase2-hgx360G Update all scripts in SimG4Core/PrintGeomInfo/test/python for changes from 2026 to Run4
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckCalo_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckEcal_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckHGCal_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckMuon_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckNoseDDD_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckTracker_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runDD4hepRun4D98_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runDD4hepRun4_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runDDDRun4D98_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runDDDRun4_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runMaterialBudgeInfoRun4_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runPrintG4Solids2_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runPrintG4Solids_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runPrintG4TouchRun4_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runPrintSolidRun4D98_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runPrintSolidRun4_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runSensRun4_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runSummaryRun4_cfg.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45395 HLT-compatible LHCInfoPer* PopCon
  CondTools/RunInfo/interface/LHCInfoHelper.h
  CondTools/RunInfo/interface/LHCInfoPerFillPopConSourceHandler.h
  CondTools/RunInfo/interface/LHCInfoPerLSPopConSourceHandler.h
  CondTools/RunInfo/interface/LHCInfoPopConSourceHandler.h
  CondTools/RunInfo/plugins/BuildFile.xml
  CondTools/RunInfo/plugins/LHCInfoPerFillOnlinePopConAnalyzer.cc
  CondTools/RunInfo/plugins/LHCInfoPerFillPopConAnalyzer.cc
  CondTools/RunInfo/plugins/LHCInfoPerLSOnlinePopConAnalyzer.cc
  CondTools/RunInfo/plugins/LHCInfoPerLSPopConAnalyzer.cc
  CondTools/RunInfo/python/LHCInfoPerFillPopConAnalyzer_cfg.py
  CondTools/RunInfo/python/LHCInfoPerLSPopConAnalyzer_cfg.py
  CondTools/RunInfo/src/LHCInfoHelper.cc
  CondTools/RunInfo/src/LHCInfoPerFillPopConSourceHandler.cc
  CondTools/RunInfo/src/LHCInfoPerLSPopConSourceHandler.cc
  CondTools/RunInfo/src/LHCInfoPopConSourceHandler.cc
  CondTools/RunInfo/test/last_lumi.txt
  CondTools/RunInfo/test/test_lhcInfoNewPopCon.sh
Labels: fully-signed, tests-approved, db-approved, orp-approved, requires-external, code-checks-approved

#46629 Update testPrefixScan to work with different warp sizes
  HeterogeneousCore/AlpakaInterface/test/alpaka/testPrefixScan.dev.cc
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#46542 Exclude PluginManager cache from MaxMemoryPreload monitoring
  FWCore/PluginManager/src/PauseMaxMemoryPreloadSentry.cc
  FWCore/PluginManager/src/PauseMaxMemoryPreloadSentry.h
  FWCore/PluginManager/src/PluginManager.cc
  PerfTools/MaxMemoryPreload/README.md
  PerfTools/MaxMemoryPreload/src/preload.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tests-external-failure

#46551 [DQM] Added a new test for ROOT file uploads to DQMGUI
  DQMServices/Demo/test/BuildFile.xml
  DQMServices/Demo/test/test_dqmgui_upload.sh
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46604 optimize `SiPixelCompareRecHits`
  DQM/SiPixelHeterogeneous/plugins/SiPixelCompareRecHits.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#46618 [MTD validation]: update and reorganization of MtdTracksValidation
  Validation/MtdValidation/plugins/MtdTracksHarvester.cc
  Validation/MtdValidation/plugins/MtdTracksValidation.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46631 Fix typo: fixes testPrintTkMaps unit test
  DQM/TrackerRemapper/test/testPrintTkMaps.sh
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, trk

#46613 Update sourceFile of beamspotdip DQM client
  DQM/Integration/python/clients/beamspotdip_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46619 Remove the use of `hls` external from Calibration/HcalAlCaRecoProducers as unnecessary
  Calibration/HcalAlCaRecoProducers/plugins/BuildFile.xml
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46625 Add Lumisection Ouputs for `das-up-to-nevents.py`
  Configuration/PyReleaseValidation/python/MatrixUtil.py
  Configuration/PyReleaseValidation/python/WorkFlowRunner.py
  Configuration/PyReleaseValidation/python/relval_data_highstats.py
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/PyReleaseValidation/scripts/das-up-to-nevents.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#46606 Remove use of thread_local from ModuleAllocMonitor
  PerfTools/AllocMonitor/README.md
  PerfTools/AllocMonitor/plugins/ModuleAllocMonitor.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46633 make `edmModuleAllocMonitorAnalyze.py` executable, so that it's avaialble for users in the path
  PerfTools/AllocMonitor/scripts/edmModuleAllocMonitorAnalyze.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46637 [UBSAN]Initialize data member to fix runtime error from ubsan
  L1Trigger/L1TCaloLayer1/src/UCTRegion.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46621 MTD geometry: update unit tests for default Phase2 scenario definition
  RecoMTD/DetLayers/test/mtd_cfg.py
  SimG4CMS/Forward/test/python/runMTDSens_DD4hep_cfg.py
  SimG4CMS/Forward/test/python/runMTDSens_cfg.py
Labels: reconstruction-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, tests-ib-failure

#46632 Introduce OnlinePopCon mechanism and HLT-compatible LHCInfoPer* PopCon (duringFill mode) - 14_1_O2OTest
  CondCore/PopCon/interface/Exception.h
  CondCore/PopCon/interface/OnlinePopCon.h
  CondCore/PopCon/interface/OnlinePopConAnalyzer.h
  CondCore/PopCon/src/OnlinePopCon.cc
  CondTools/RunInfo/interface/LHCInfoHelper.h
  CondTools/RunInfo/interface/LHCInfoPerFillPopConSourceHandler.h
  CondTools/RunInfo/interface/LHCInfoPerLSPopConSourceHandler.h
  CondTools/RunInfo/interface/LHCInfoPopConSourceHandler.h
  CondTools/RunInfo/plugins/BuildFile.xml
  CondTools/RunInfo/plugins/LHCInfoPerFillOnlinePopConAnalyzer.cc
  CondTools/RunInfo/plugins/LHCInfoPerFillPopConAnalyzer.cc
  CondTools/RunInfo/plugins/LHCInfoPerLSOnlinePopConAnalyzer.cc
  CondTools/RunInfo/plugins/LHCInfoPerLSPopConAnalyzer.cc
  CondTools/RunInfo/python/LHCInfoPerFillPopConAnalyzer_cfg.py
  CondTools/RunInfo/python/LHCInfoPerLSPopConAnalyzer_cfg.py
  CondTools/RunInfo/src/LHCInfoHelper.cc
  CondTools/RunInfo/src/LHCInfoPerFillPopConSourceHandler.cc
  CondTools/RunInfo/src/LHCInfoPerLSPopConSourceHandler.cc
  CondTools/RunInfo/src/LHCInfoPopConSourceHandler.cc
  CondTools/RunInfo/test/last_lumi.txt
  CondTools/RunInfo/test/test_lhcInfoNewPopCon.sh
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved

#46644 Fix issues spot by the static analyzer, and make some cleanup in the same files
  CondTools/RunInfo/src/FillInfoPopConSourceHandler.cc
  CondTools/RunInfo/src/LHCInfoPopConSourceHandler.cc
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#46008 FastSim premixing workflows and matrix cleanup [14_0_X]
  Configuration/PyReleaseValidation/python/relval_upgrade.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, backport-ok

#46349 Add ByLS DQM plots for ES [14_0_13]
  DQM/EcalPreshowerMonitorModule/interface/ESIntegrityTask.h
  DQM/EcalPreshowerMonitorModule/interface/ESOccupancyTask.h
  DQM/EcalPreshowerMonitorModule/interface/ESRawDataTask.h
  DQM/EcalPreshowerMonitorModule/python/ESIntegrityTask_cfi.py
  DQM/EcalPreshowerMonitorModule/src/ESIntegrityTask.cc
  DQM/EcalPreshowerMonitorModule/src/ESOccupancyTask.cc
  DQM/EcalPreshowerMonitorModule/src/ESRawDataTask.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#46639 update a vertex smearing parameters for 2024 pp ref MC
  Configuration/StandardSequences/python/VtxSmeared.py
  IOMC/EventVertexGenerators/python/VtxSmearedParameters_cfi.py
  IOMC/EventVertexGenerators/python/VtxSmearedRealistic2024ppRefCollision_cfi.py
Labels: operations-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46636 Fix `CopyToDevice` for `PortableHostMultiCollection` and New Test
  DataFormats/Portable/interface/PortableCollection.h
  HeterogeneousCore/AlpakaTest/interface/AlpakaESTestData.h
  HeterogeneousCore/AlpakaTest/interface/alpaka/AlpakaESTestData.h
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaESProducerAMulti.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaGlobalProducer.cc
  HeterogeneousCore/AlpakaTest/src/ES_AlpakaESTestData.cc
  HeterogeneousCore/AlpakaTest/src/alpaka/ES_AlpakaESTestData.cc
  HeterogeneousCore/AlpakaTest/test/testAlpakaModules_cfg.py
Labels: fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, heterogeneous-approved

#46635 Replace deprecated constants for compression level
  IOPool/Output/src/RootOutputFile.cc
  PhysicsTools/NanoAOD/plugins/NanoAODOutputModule.cc
  PhysicsTools/NanoAOD/plugins/rntuple/NanoAODRNTupleOutputModule.cc
  PhysicsTools/NanoAODTools/python/postprocessing/framework/postprocessor.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#46533 QTest Tracking Summary DQM (BP to 14_0_X)
  DQM/SiStripMonitorClient/data/sistrip_qualitytest_config_tier0_cosmic.xml
  DQM/TrackingMonitorClient/data/tracking_qualitytest_config_tier0_cosmic.xml
  DQM/TrackingMonitorClient/python/TrackingClientConfig_Tier0_Cosmic_cff.py
  DQM/TrackingMonitorClient/src/TrackingQualityChecker.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok, tracking, trk

#46534 QTest Tracking Summary DQM (BP to 14_1_X)
  DQM/SiStripMonitorClient/data/sistrip_qualitytest_config_tier0_cosmic.xml
  DQM/TrackingMonitorClient/data/tracking_qualitytest_config_tier0_cosmic.xml
  DQM/TrackingMonitorClient/python/TrackingClientConfig_Tier0_Cosmic_cff.py
  DQM/TrackingMonitorClient/src/TrackingQualityChecker.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok, tracking, trk

#46436 [14_1_X] New Inputs for D110 And Enabling HIN Phase2 Wf
  Configuration/PyReleaseValidation/python/relval_2026.py
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, backport-ok

#46591 [14.1.X] use `ReadPrescalesFromFile=False` in the `GenericTriggerEventFlag` of a bunch of DQM modules
  DQM/SiStripMonitorClient/python/SiStripSourceConfigTier0_cff.py
  DQMOffline/Trigger/python/BPHMonitor_cfi.py
  DQMOffline/Trigger/python/JetMonitor_cfi.py
  DQMOffline/Trigger/python/METMonitor_cfi.py
  DQMOffline/Trigger/python/MuonMonitor_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok, performance-improvements, trk

#46600 [14.1.X] adjust the L1T seeds to be monitored from `L1TStage2uGTTiming` in Run3 PbPb modes
  DQM/L1TMonitor/python/L1TStage2uGTTiming_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#46605 Adding HI MEs to per-LS scope in JetMET offline DQM - backport to 14_1_X
  DQMServices/Core/python/nanoDQMIO_perLSoutput_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#46614 [14_1_X] Update sourceFile of beamspotdip DQM client
  DQM/Integration/python/clients/beamspotdip_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#46557 pileup profile 2025_LHC_Simulation_fill12p5h_levelling9h_nb2340_xSec80mb_il2p23
  Configuration/StandardSequences/python/Mixing.py
  SimGeneral/MixingModule/python/Run3_2025_LHC_Simulation_fill12p5h_levelling9h_nb2340_xSec80mb_il2p23_cfi.py
Labels: operations-approved, simulation-approved, fully-signed, tests-approved, orp-approved, urgent, code-checks-approved, ppd-approved

#46570 Run3hcx378A Provide a way to avoid Digitization for the ZDC detector
  Configuration/Eras/python/Modifier_zdcNoDigi_cff.py
  SimCalorimetry/HcalSimProducers/python/hcalUnsuppressedDigis_cfi.py
  SimCalorimetry/HcalSimProducers/src/HcalDigitizer.cc
Labels: operations-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46664 [14_1_X] update a vertex smearing parameters for 2024 pp ref MC
  Configuration/StandardSequences/python/VtxSmeared.py
  IOMC/EventVertexGenerators/python/VtxSmearedParameters_cfi.py
  IOMC/EventVertexGenerators/python/VtxSmearedRealistic2024ppRefCollision_cfi.py
Labels: operations-approved, simulation-approved, fully-signed, tests-approved, orp-approved, backport-ok

#46671 Update a few GTs in autoCond
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-rejected, orp-approved, code-checks-approved

#46596 Phase2-hgx360E Use the new way of defining passive materials for the HGCal v19 geometry
  Geometry/HGCalCommonData/data/hgcalPassive/v19/hgcalPassive.xml
  Geometry/HGCalCommonData/data/hgcalPassive/v19/hgcalpos.xml
  Geometry/HGCalCommonData/plugins/DDHGCalPassive.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#46626 Phase2-hgx360H Change names from 2026 to Run4 in several scripts of Geometry/Hcal* and Geometry/HGCal*
  Geometry/HGCalCommonData/test/python/dumpHGCalGeometryDD4hep_cfg.py
  Geometry/HGCalCommonData/test/python/dumpHGCalGeometryDDD_cfg.py
  Geometry/HGCalCommonData/test/python/runHGCalDD4hep_cfg.py
  Geometry/HGCalCommonData/test/python/runHGCalDDD_cfg.py
  Geometry/HGCalCommonData/test/python/testHGCGeometry_cfg.py
  Geometry/HGCalCommonData/test/python/testHGCalPartialIDTester2_cfg.py
  Geometry/HGCalCommonData/test/python/testHGCalPartialIDTester_cfg.py
  Geometry/HGCalCommonData/test/python/testHGCalPartialMissingIDTester_cfg.py
  Geometry/HGCalCommonData/test/python/testHGCalPartialWaferTester_cfg.py
  Geometry/HGCalCommonData/test/python/testHGCalScintID_cfg.py
  Geometry/HGCalCommonData/test/python/testHGCalValidHex_cfg.py
  Geometry/HGCalCommonData/test/python/testHGCalValidity_cfg.py
  Geometry/HGCalCommonData/test/python/testHGCalWaferID_cfg.py
  Geometry/HGCalCommonData/test/python/testHGCalWafer_cfg.py
  Geometry/HcalCommonData/data/dd4hep/cmsExtendedGeometryRun4D99.xml
  Geometry/HcalCommonData/python/GeometryDD4hepExtendedRun4D99Reco_cff.py
  Geometry/HcalCommonData/python/GeometryExtendedRun4D99Reco_cff.py
  Geometry/HcalCommonData/python/cmsExtendedGeometryRun4D99XML_cfi.py
  Geometry/HcalCommonData/test/python/runHcalParametersFromDD4hepAnalyzer_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#46343 Adding HTXS variables to nanoAOD for on-the-fly 1.3 categorisation
  GeneratorInterface/RivetInterface/src/HiggsTemplateCrossSections.cc
  PhysicsTools/NanoAOD/python/particlelevel_cff.py
  SimDataFormats/HTXS/interface/HiggsTemplateCrossSections.h
Labels: generators-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#46620 [GEM][Geometry] Resolving the issue of the overlapped chamber and add new GE21 chambers
  Geometry/MuonCommonData/data/gem21/2025/v1/gem21.xml
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46603 Added MinimizeSourceAndOutputTime
  Validation/Performance/python/MinimizeSourceAndOutputTime.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46630 Thread safe caching of module info in HLTConfigData
  HLTrigger/HLTcore/interface/HLTConfigData.h
  HLTrigger/HLTcore/interface/HLTConfigProvider.h
  HLTrigger/HLTcore/src/HLTConfigData.cc
  PhysicsTools/PatAlgos/plugins/PATTriggerProducer.cc
Labels: hlt-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved, performance-improvements

#46676 [JME, Nano] Add eta and phi of muon-subtracted raw jet for MET type-1 correction consistency
  JetMETCorrections/Type1MET/interface/JetCleanerForType1METT.h
  PhysicsTools/NanoAOD/python/jetsAK4_CHS_cff.py
  PhysicsTools/NanoAOD/python/jetsAK4_Puppi_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#46670 Run3-gem81 Added the modified RPC geometry for the 2025 scenario as provided by Jongwon Shin
  Geometry/MuonCommonData/data/rpcf/2025/v1/rpcf.xml
  Geometry/MuonCommonData/python/muonIdealGeometry2022XML_cfi.py
  Geometry/MuonCommonData/python/muonIdealGeometry2023XML_cfi.py
  Geometry/MuonCommonData/python/muonIdealGeometry2024XML_cfi.py
  Geometry/MuonCommonData/python/muonIdealGeometry2025XML_cfi.py
  Geometry/MuonCommonData/python/testExtendedGeometry2025XML_cfi.py
  Geometry/MuonCommonData/test/python/g4OverlapCheckMuon_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46622 fix HLT online DQM client to cope with PbPb HLT strip collections
  DQM/HLTEvF/python/HLTSiStripMonitoring_cff.py
  DQM/Integration/python/clients/hlt_dqm_sourceclient-live_cfg.py
  DQMOffline/Trigger/python/SiPixel_OfflineMonitoring_TrackResiduals_cff.py
Labels: dqm-approved, hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46659 Phase2-hgx360J Add the dd4hep version of the modified code of passive material description of V19 geometry of HGCal
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalPassive.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#46648 Phase2-hgx360I Change names from 2026 to Run4 in several scripts of Geometry (CaloTopology|ForwardCommonData|GEMGeometry|MTDCommonData|MuonNumbering|TrackerCommonData|TrackerGeometryBuilder)
  Geometry/CaloTopology/test/testHGCalTopology_cfg.py
  Geometry/ForwardCommonData/test/g4OverlapCheckHFNoseDD4hep_cfg.py
  Geometry/ForwardCommonData/test/g4OverlapCheckHFNoseDDD_cfg.py
  Geometry/GEMGeometry/test/GeometryExtendedRun4GE0TestReco_cff.py
  Geometry/GEMGeometry/test/GeometryExtendedRun4GE0Test_cff.py
  Geometry/GEMGeometry/test/cmsExtendedGeometryRun4GE0TestXML_cfi.py
  Geometry/GEMGeometry/test/testGE0Geometry_cfg.py
  Geometry/MTDCommonData/test/testMTDGeometry.py
  Geometry/MuonCommonData/data/cms-test-muon-geometry-2015.xml
  Geometry/MuonCommonData/test/python/g4OverlapCheckGE0_cfg.py
  Geometry/MuonNumbering/test/testConstantsFromDD4hep_cfg.py
  Geometry/MuonNumbering/test/testConstantsFromDDD_cfg.py
  Geometry/TrackerCommonData/python/cmsExtendedGeometryRun4D110XML_cfi.py
  Geometry/TrackerCommonData/test/python/dumpTrackerDD4hep_cfg.py
  Geometry/TrackerCommonData/test/python/g4CheckOverlaps_cfg.py
  Geometry/TrackerGeometryBuilder/test/python/testTrackerModuleInfoDDD_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, trk

#46653 Update the time resoultion of GEM Digitization
  SimMuon/GEMDigitizer/plugins/GEMDigiProducer.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#46654 Remove unused code from HeterogeneousCore/AlpakaCore
  HeterogeneousCore/AlpakaCore/interface/chooseDevice.h
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#46673 [13_2_X] Change path of RobustParTAK4.onnx as in RecoBTag-Combined V01-25-00
  RecoBTag/ONNXRuntime/plugins/ParticleTransformerAK4ONNXJetTagsProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, requires-external

#46661 Phase2-hgx360k Update he name of the file dict2026geometry to dictRun4 in Geometry/CMSCommonData and Fireworks/Geometry
  Fireworks/Geometry/python/dumpSimGeometry_cfg.py
  Geometry/CMSCommonData/test/run_DOMCount.sh
Labels: geometry-approved, visualization-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#46647 Add `fillDescriptions` to modules used in cosmics HLT reco
  HLTrigger/Configuration/python/customizeHLTforCMSSW.py
  RecoTracker/Configuration/python/RecoTrackerP5_cff.py
  RecoTracker/SpecialSeedGenerators/interface/CtfSpecialSeedGenerator.h
  RecoTracker/SpecialSeedGenerators/src/CtfSpecialSeedGenerator.cc
  RecoTracker/TkSeedGenerator/plugins/SeedCombiner.cc
  RecoTracker/TkSeedGenerator/plugins/SeedCombiner.h
  RecoTracker/TkSeedGenerator/src/ClusterChecker.cc
Labels: hlt-approved, reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, tracking, hlt-integration

#46681 Phase2-hgx360N Change 2026 to Run4 in defining many scenarios in the scripts of CondTools/Geometry
  CondTools/Geometry/test/calogeometryRun4writer.py
  CondTools/Geometry/test/geometryRun4test_local.py
  CondTools/Geometry/test/hgcalgeometrywriter.py
  CondTools/Geometry/test/me0geometrywriter.py
  CondTools/Geometry/test/writehelpers/createExtendedRun4Payloads.sh
  CondTools/Geometry/test/writehelpers/geometryExtendedRun4_writer.py
  CondTools/Geometry/test/writehelpers/geometryExtendedRun4_xmlwriter.py
  CondTools/Geometry/test/writehelpers/splitExtendedRun4Database.sh
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#46679 Protect TauSpinnerTable producer against crash with samples with HTT mixed with other processes
  PhysicsTools/NanoAOD/plugins/TauSpinnerTableProducer.cc
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#46677 Phase2-hgx360L Change 2026 to Run4 for scenario declarations in various scripts of Validation/HGCalValidation
  Validation/HGCalValidation/scripts/testHGCalCellHitSum_cfg.py
  Validation/HGCalValidation/scripts/testHGCalDigi_cfg.py
  Validation/HGCalValidation/scripts/testHGCalReco_cfg.py
  Validation/HGCalValidation/scripts/testHGCalSimSingleMuonPt100_cfg.py
  Validation/HGCalValidation/scripts/testHGCalSimTTBar_cfg.py
  Validation/HGCalValidation/test/python/digiClient_cfg.py
  Validation/HGCalValidation/test/python/digiValidation_cfg.py
  Validation/HGCalValidation/test/python/protoHGCalSimWatcher_cfg.py
  Validation/HGCalValidation/test/python/protoValid_cfg.py
  Validation/HGCalValidation/test/python/recHitClient_cfg.py
  Validation/HGCalValidation/test/python/rechitValidation_cfg.py
  Validation/HGCalValidation/test/python/runHGCGeomCheck_cfg.py
  Validation/HGCalValidation/test/python/runHGCHitAnalyzer_cfg.py
  Validation/HGCalValidation/test/python/runHGCMissingRecHit_cfg.py
  Validation/HGCalValidation/test/python/runHGCalDigiStudy_cfg.py
  Validation/HGCalValidation/test/python/runHGCalHitCalibration_cfg.py
  Validation/HGCalValidation/test/python/runHGCalRecHitStudy_cfg.py
  Validation/HGCalValidation/test/python/runHGCalSimHitStudy_cfg.py
  Validation/HGCalValidation/test/python/runHGCalWaferHitCheck_cfg.py
  Validation/HGCalValidation/test/python/runHGCalWaferStudy_cfg.py
  Validation/HGCalValidation/test/python/simHitClient_cfg.py
  Validation/HGCalValidation/test/python/simHitValidation_cfg.py
  Validation/HGCalValidation/test/python/testHGCalBHValid_cfg.py
  Validation/HGCalValidation/test/python/testHGCalSimHitStudy_cfg.py
  Validation/HGCalValidation/test/python/testHGCalWaferValidation_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46645 make `SiPixelPhase1TrackResiduals` emit warnings if `applyVertexCut_` is true and collection is invalid or empty
  DQM/SiPixelPhase1Track/plugins/SiPixelPhase1TrackResiduals.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#46657 Fix BuildFiles, includes and comments
  DataFormats/Portable/BuildFile.xml
  RecoTracker/PixelSeeding/plugins/alpaka/CAHitNtupletGeneratorKernels.dev.cc
  RecoTracker/PixelSeeding/test/BuildFile.xml
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved, tracking

#46686 Fix `maxHitsInModule` for `SiPixelRecHitFromSoAAlpaka`
  RecoLocalTracker/SiPixelRecHits/plugins/SiPixelRecHitFromSoAAlpaka.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved, trk, tests-ib-failure

#46687 [14_1_X] Fix `maxHitsInModule` for `SiPixelRecHitFromSoAAlpaka`
  RecoLocalTracker/SiPixelRecHits/plugins/SiPixelRecHitFromSoAAlpaka.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, backport-ok, trk

#46672 Update a few GTs in autoCond - CMSSW_14_1_X
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok

#46667 [14.1.X] fix HLT online DQM client to cope with PbPb HLT strip collections
  DQM/HLTEvF/python/HLTSiStripMonitoring_cff.py
  DQM/Integration/python/clients/hlt_dqm_sourceclient-live_cfg.py
  DQMOffline/Trigger/python/SiPixel_OfflineMonitoring_TrackResiduals_cff.py
Labels: dqm-approved, hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#46668 Update a few GTs in autoCond - CMSSW_14_0_X
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok

#46688 Phase2-hgx360P Replace 2026 wth Run4 in some scripts in Configuration/StandardSequences
  Configuration/StandardSequences/python/DD4hep_GeometrySimPhase2_cff.py
  Configuration/StandardSequences/python/GeometryConf.py
Labels: operations-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46691 Add offline cuts to PbPb UPC monopole skim
  Configuration/Skimming/python/PbPb_UPC_Monopole_cff.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, code-checks-approved

#46360 Several improvements to L1 tracking code
  L1Trigger/TrackFindingTracklet/README.md
  L1Trigger/TrackFindingTracklet/interface/ProcessBase.h
  L1Trigger/TrackFindingTracklet/interface/Settings.h
  L1Trigger/TrackFindingTracklet/interface/TrackletConfigBuilder.h
  L1Trigger/TrackFindingTracklet/interface/TrackletLUT.h
  L1Trigger/TrackFindingTracklet/interface/TrackletProcessorDisplaced.h
  L1Trigger/TrackFindingTracklet/interface/VMRouterCM.h
  L1Trigger/TrackFindingTracklet/interface/VMStubsTEMemory.h
  L1Trigger/TrackFindingTracklet/plugins/L1FPGATrackProducer.cc
  L1Trigger/TrackFindingTracklet/plugins/ProducerAS.cc
  L1Trigger/TrackFindingTracklet/plugins/ProducerKFout.cc
  L1Trigger/TrackFindingTracklet/plugins/ProducerTT.cc
  L1Trigger/TrackFindingTracklet/python/Analyzer_cff.py
  L1Trigger/TrackFindingTracklet/python/Customize_cff.py
  L1Trigger/TrackFindingTracklet/python/Producer_cff.py
  L1Trigger/TrackFindingTracklet/python/Producer_cfi.py
  L1Trigger/TrackFindingTracklet/python/l1tTTTracksFromTrackletEmulation_cfi.py
  L1Trigger/TrackFindingTracklet/src/FitTrack.cc
  L1Trigger/TrackFindingTracklet/src/ProcessBase.cc
  L1Trigger/TrackFindingTracklet/src/TrackletCalculatorDisplaced.cc
  L1Trigger/TrackFindingTracklet/src/TrackletConfigBuilder.cc
  L1Trigger/TrackFindingTracklet/src/TrackletLUT.cc
  L1Trigger/TrackFindingTracklet/src/TrackletProcessorDisplaced.cc
  L1Trigger/TrackFindingTracklet/src/VMRouterCM.cc
  L1Trigger/TrackFindingTracklet/src/VMStubsTEMemory.cc
  L1Trigger/TrackFindingTracklet/test/AnalyzerTT.cc
  L1Trigger/TrackFindingTracklet/test/HybridTracksNewKF_cfg.py
  L1Trigger/TrackFindingTracklet/test/L1TrackNtupleMaker.cc
  L1Trigger/TrackFindingTracklet/test/L1TrackNtupleMaker_cfg.py
  L1Trigger/TrackFindingTracklet/test/L1TrackNtuplePlot.C
  L1Trigger/TrackFindingTracklet/test/makeHists.csh
  L1Trigger/TrackerDTC/python/AnalyzerDAQ_cff.py
  L1Trigger/TrackerDTC/python/Analyzer_cff.py
  L1Trigger/TrackerDTC/test/testDAQ_cfg.py
  L1Trigger/TrackerDTC/test/test_cfg.py
  L1Trigger/TrackerTFP/interface/DataFormats.h
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, requires-external, code-checks-approved, trk

#46628 Have L1TGlobalUtil use std::string_view internally
  Calibration/HcalAlCaRecoProducers/plugins/AlCaHcalIsotrkProducer.cc
  Calibration/HcalCalibAlgos/plugins/HcalIsoTrkAnalyzer.cc
  Calibration/HcalCalibAlgos/plugins/HcalIsoTrkSimAnalyzer.cc
  Calibration/HcalCalibAlgos/test/HcalIsoTrackStudy.cc
  CommonTools/TriggerUtils/src/GenericTriggerEventFlag.cc
  DQM/L1TMonitor/src/L1TdeStage2uGT.cc
  L1Trigger/L1TGlobal/interface/L1TGlobalUtil.h
  L1Trigger/L1TGlobal/plugins/GtRecordDump.cc
  L1Trigger/L1TGlobal/plugins/L1TGlobalSummary.cc
  L1Trigger/L1TGlobal/src/L1TGlobalUtil.cc
Labels: alca-approved, dqm-approved, hlt-approved, l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, performance-improvements

#46684 explicitly link pythia6_pdfdummy where needed
  GeneratorInterface/GenExtensions/bin/BuildFile.xml
Labels: generators-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#46640 Improve L1TMuonBarrelTrackProducer
  CondFormats/L1TObjects/interface/L1TMuonBarrelParams.h
  L1Trigger/L1TMuonBarrel/interface/L1MuBMLUTHandler.h
  L1Trigger/L1TMuonBarrel/interface/L1MuBMMuonSorter.h
  L1Trigger/L1TMuonBarrel/interface/L1MuBMSecProcMap.h
  L1Trigger/L1TMuonBarrel/interface/L1MuBMTFConfig.h
  L1Trigger/L1TMuonBarrel/interface/L1MuBMTFSetup.h
  L1Trigger/L1TMuonBarrel/interface/L1MuBMTrackFinder.h
  L1Trigger/L1TMuonBarrel/interface/L1TMuonBarrelParamsAllPublic.h
  L1Trigger/L1TMuonBarrel/plugins/L1TMuonBarrelTrackProducer.cc
  L1Trigger/L1TMuonBarrel/plugins/L1TMuonBarrelTrackProducer.h
  L1Trigger/L1TMuonBarrel/src/L1MuBMAssignmentUnit.cc
  L1Trigger/L1TMuonBarrel/src/L1MuBMAssignmentUnit.h
  L1Trigger/L1TMuonBarrel/src/L1MuBMDataBuffer.cc
  L1Trigger/L1TMuonBarrel/src/L1MuBMERS.cc
  L1Trigger/L1TMuonBarrel/src/L1MuBMEUX.cc
  L1Trigger/L1TMuonBarrel/src/L1MuBMEtaProcessor.cc
  L1Trigger/L1TMuonBarrel/src/L1MuBMEtaProcessor.h
  L1Trigger/L1TMuonBarrel/src/L1MuBMExtrapolationUnit.cc
  L1Trigger/L1TMuonBarrel/src/L1MuBMLUTHandler.cc
  L1Trigger/L1TMuonBarrel/src/L1MuBMMuonSorter.cc
  L1Trigger/L1TMuonBarrel/src/L1MuBMSEU.cc
  L1Trigger/L1TMuonBarrel/src/L1MuBMSEU.h
  L1Trigger/L1TMuonBarrel/src/L1MuBMSecProcMap.cc
  L1Trigger/L1TMuonBarrel/src/L1MuBMSectorProcessor.cc
  L1Trigger/L1TMuonBarrel/src/L1MuBMSectorProcessor.h
  L1Trigger/L1TMuonBarrel/src/L1MuBMSectorReceiver.cc
  L1Trigger/L1TMuonBarrel/src/L1MuBMTFConfig.cc
  L1Trigger/L1TMuonBarrel/src/L1MuBMTFConfig.h
  L1Trigger/L1TMuonBarrel/src/L1MuBMTFSetup.cc
  L1Trigger/L1TMuonBarrel/src/L1MuBMTrackAssembler.cc
  L1Trigger/L1TMuonBarrel/src/L1MuBMTrackFinder.cc
  L1Trigger/L1TMuonBarrel/src/L1MuBMWedgeSorter.cc
  L1Trigger/L1TMuonBarrel/src/L1TMuonBarrelParamsAllPublic.cc
Labels: alca-approved, l1-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, performance-improvements

#46689 Phase2-hgx360O Replace 2026 wth Run4 in some scripts of Alignment/MillePedeAlignmentAlgorithm and CalibCalorimetry/EBPhase2TPGTools
  Alignment/MillePedeAlignmentAlgorithm/python/alignmentsetup/GeneralSetup.py
  CalibCalorimetry/EBPhase2TPGTools/test/runEBPhase2TPParamProducer.py
Labels: alca-approved, l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#46680 Phase2-hgx360M Change 2026 to Run4 in the scenario definitions of the scripts in Validation/Geometry
  Validation/Geometry/test/runMaterialBudgetHFNose_cfg.py
  Validation/Geometry/test/runMaterialBudgetVolumeRun4DD4hep_cfg.py
  Validation/Geometry/test/runMaterialBudgetVolumeRun4DDD_cfg.py
  Validation/Geometry/test/runMaterialDumpAnalyser_PhaseII.sh
  Validation/Geometry/test/runP_HGCal_cfg.py
  Validation/Geometry/test/runP_Mtd_cfg.py
  Validation/Geometry/test/runP_TrackerPhase2TkBE_cfg.py
Labels: dqm-approved, geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46269 Initialize member data in PerigeeTrajectoryError
  TrackingTools/TrajectoryParametrization/interface/PerigeeTrajectoryError.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking, tests-ib-failure

#46701 Fix `base_wf_number_2022` (should be `base_wf`)
  Configuration/PyReleaseValidation/python/relval_data_highstats.py
Labels: fully-signed, tests-approved, pdmv-approved, bug-fix, orp-approved, upgrade-approved, code-checks-approved

#46704 add profiles of vertex track impact parameters and IP errors vs track pT in `PrimaryVertexMonitor`
  DQMOffline/RecoB/plugins/PrimaryVertexMonitor.cc
  DQMOffline/RecoB/plugins/PrimaryVertexMonitor.h
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#46709 Fix mask production for empty seeding region
  RecoHGCal/TICL/plugins/TrackstersProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#46708 Remove redefinition of EDM_ML_DEBUG in HcalDigitizer.cc
  SimCalorimetry/HcalSimProducers/src/HcalDigitizer.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, urgent, code-checks-approved

#46711 Minor updates to AlpakaCore README
  HeterogeneousCore/AlpakaCore/README.md
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#46706 Drop histbook unittest: package is unmaintained
  PhysicsTools/PythonAnalysis/test/BuildFile.xml
Labels: analysis-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46692 [14_1_X] Add offline cuts to PbPb UPC monopole skim
  Configuration/Skimming/python/PbPb_UPC_Monopole_cff.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, requires-external, backport-ok

#46607 [14_1_X] Add WF for 2024 PbPb skim
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, backport-ok

#46714 Introduce `SiStripNoisesGetAllChecker`
  CondTools/SiStrip/plugins/SiStripNoisesGetAllChecker.cc
  CondTools/SiStrip/test/SiStripNoisesGetAllChecker_cfg.py
  CondTools/SiStrip/test/testBuildersReaders.sh
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, trk

#46699 Phase2-hgx360Q Correct the passive absorber description and add the cooling petal for HGCal EE detector
  Geometry/HGCalCommonData/data/dd4hep/testHGCalPassiveV19c.xml
  Geometry/HGCalCommonData/data/hgcalPassive/v19/hgcalPassive.xml
  Geometry/HGCalCommonData/data/hgcalPassive/v19/hgcalcpos.xml
  Geometry/HGCalCommonData/python/testHGCalPassiveV19cXML_cfi.py
  Geometry/HGCalCommonData/test/python/dumpHGCalPassive_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#46712 Release memory earlier in PFBlockProducer
  CommonTools/RecoAlgos/interface/KDTreeLinkerAlgo.h
  RecoParticleFlow/PFProducer/src/PFBlockAlgo.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46717 Phase2-hgx360T Making ready for updating Phase2 geometry
  Geometry/CMSCommonData/data/materials/2030/v1/materials.xml
  Geometry/MuonCommonData/data/mb4Shield/2030/v1/mb4Shield.xml
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#46716 Remove legacy L1T digis dependencies in Online DQM
  DQM/DTMonitorModule/python/dt_dqm_sourceclient_common_cff.py
  DQM/EcalMonitorTasks/python/ClusterTask_cfi.py
  DQM/EcalMonitorTasks/src/ClusterTask.cc
  DQM/Integration/python/clients/dt4ml_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/dt_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/ecal_dqm_sourceclient-live_cfg.py
  DQMOffline/Trigger/python/SiStrip_OfflineMonitoring_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46719 Improvements for `SubmitPVsplit` unit test
  Alignment/OfflineValidation/scripts/submitPVResolutionJobs.py
  Alignment/OfflineValidation/test/testingScripts/test_unitSubmitPVsplit.sh
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#46722 `SiStripZeroSupperssion`: discard processing unphysical cluters in `suppressHybridData`
  DataFormats/SiStripDetId/interface/SiStripDetId.h
  RecoLocalTracker/SiStripClusterizer/plugins/ClustersFromRawProducer.cc
  RecoLocalTracker/SiStripZeroSuppression/interface/SiStripRawProcessingAlgorithms.h
  RecoLocalTracker/SiStripZeroSuppression/plugins/SiStripZeroSuppression.cc
  RecoLocalTracker/SiStripZeroSuppression/src/SiStripRawProcessingAlgorithms.cc
Labels: reconstruction-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#46615 Updated to new RNTuple version
  DataFormats/BTauReco/src/classes_def.xml
  DataFormats/CSCRecHit/src/classes_def.xml
  DataFormats/Candidate/src/classes_def.xml
  DataFormats/Common/src/classes_def.xml
  DataFormats/DTRecHit/src/classes_def.xml
  DataFormats/EgammaReco/src/classes_def.xml
  DataFormats/GEMRecHit/src/classes_def.xml
  DataFormats/Histograms/src/classes_def.xml
  DataFormats/JetReco/src/classes_def_3.xml
  DataFormats/ParticleFlowReco/src/classes_def_2.xml
  DataFormats/PatCandidates/src/classes_def_user.xml
  DataFormats/RPCRecHit/src/classes_def.xml
  DataFormats/RecoCandidate/src/classes_def.xml
  DataFormats/TestObjects/src/classes_def.xml
  DataFormats/TrackReco/src/classes_def.xml
  DataFormats/TrackingRecHit/src/classes_def.xml
  DataFormats/TrajectorySeed/src/classes_def.xml
  SimDataFormats/GeneratorProducts/src/classes_def.xml
Labels: core-approved, dqm-approved, generators-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, xpog-approved, tracking

#46652 [DBG_X] Update reference file for unitTestsGroup_6_u33 in DBG_X
  FWCore/MessageService/test/unit_test_outputs/DBG/u33_all.log
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46562 Update the egamma regression for 2023 UPC PbPb rereco and the corresponding GTs in autoCond
  Configuration/AlCa/python/autoCond.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  RecoEcal/EgammaClusterProducers/python/particleFlowSuperClusterECAL_cfi.py
  RecoEgamma/EgammaElectronProducers/python/lowPtGsfElectrons_cfi.py
  RecoEgamma/EgammaTools/python/regressionModifier_cfi.py
Labels: alca-approved, reconstruction-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#46718 [UBSAN][L1]Properly initialize data members
  L1Trigger/TrackFindingTracklet/src/MatchEngineUnit.cc
  L1Trigger/TrackFindingTracklet/src/TrackletEngineUnit.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46730 [14.1.X] `SiStripZeroSupperssion`: discard processing unphysical clusters in `suppressHybridData`
  DataFormats/SiStripDetId/interface/SiStripDetId.h
  RecoLocalTracker/SiStripClusterizer/plugins/ClustersFromRawProducer.cc
  RecoLocalTracker/SiStripZeroSuppression/interface/SiStripRawProcessingAlgorithms.h
  RecoLocalTracker/SiStripZeroSuppression/plugins/SiStripZeroSuppression.cc
  RecoLocalTracker/SiStripZeroSuppression/src/SiStripRawProcessingAlgorithms.cc
Labels: reconstruction-approved, simulation-approved, fully-signed, tests-approved, orp-approved, backport-ok, trk

#46723 update a vertex smearing parameters for 2024 PbPb MC
  Configuration/StandardSequences/python/VtxSmeared.py
  IOMC/EventVertexGenerators/python/VtxSmearedParameters_cfi.py
  IOMC/EventVertexGenerators/python/VtxSmearedRealistic2024PbPbCollision_cfi.py
Labels: operations-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46616 Update Track Matching Algorithm for lowPT Muon of Phase2 GMT
  L1Trigger/Phase2L1GMT/interface/TPSAlgorithm.h
  L1Trigger/Phase2L1GMT/interface/TPSLUTs.h
  L1Trigger/Phase2L1GMT/src/TPSAlgorithm.cc
  L1Trigger/Phase2L1GMT/src/TrackConverter.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46737 Temporary Rollback for DIP BeamSpot client
  DQM/Integration/python/clients/beamspotdip_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46733 Phase2-hgx360S Update a few constants in v19 hgcal.xml file
  Geometry/HGCalCommonData/data/hgcal/v19/hgcal.xml
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#46683 MTD geometry: update MTDGeometry test, use only DD4hep backend, add ETL pixel position test
  Geometry/MTDGeometryBuilder/test/BuildFile.xml
  Geometry/MTDGeometryBuilder/test/DD4hep_TestBTLPixelTopology.cc
  Geometry/MTDGeometryBuilder/test/DD4hep_TestPixelTopology.cc
  Geometry/MTDGeometryBuilder/test/MTDDigiGeometryAnalyzer.cc
  Geometry/MTDGeometryBuilder/test/dd4hep_mtd_cfg.py
  Geometry/MTDGeometryBuilder/test/mtd_cfg.py
  Geometry/MTDGeometryBuilder/test/runTest.sh
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, requires-external, code-checks-approved

#46703 fix retry logic for triton client
  HeterogeneousCore/SonicTriton/interface/TritonClient.h
  HeterogeneousCore/SonicTriton/src/TritonClient.cc
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#46743 Phase2-hgx360V Use the keyword Run4 instead of 2026 for naming a scenario in SimG4Core/PrintGeomInfo/test/python
  SimG4Core/PrintGeomInfo/test/python/g4DumpGeometry_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckRun4DD4hep_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckRun4DDD_cfg.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46744 Run3-hcx379X Creating the possibility to add the additional MB4 shield in Phase2 scenarios
  Geometry/CMSCommonData/data/materials/2021/v4/materials.xml
  Geometry/MuonCommonData/data/mb4Shield/2021/v2/mb4Shield.xml
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#46720 Phase2-hgx360R Inhibit ZDC digitization in Phase2 scenario
  SimCalorimetry/HcalSimProducers/python/hcalUnsuppressedDigis_cfi.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46728 Work in progress! Update to FullModelHadronicProcess.cc energy deposit model
  SimG4Core/CustomPhysics/src/FullModelHadronicProcess.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46754 Avoid using past module for python2/3 compatibility
  FWCore/ParameterSet/python/Types.py
  FWCore/PythonUtilities/scripts/generateEDF.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tests-ib-failure

#46756 avoid holding memory between events in Multi5x5ClusterProducer
  RecoEcal/EgammaClusterAlgos/interface/Multi5x5ClusterAlgo.h
  RecoEcal/EgammaClusterAlgos/src/Multi5x5ClusterAlgo.cc
  RecoEcal/EgammaClusterProducers/src/Multi5x5ClusterProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46758 [UBSAN][LST]Fix runtime error by keep the region object alive
  RecoTracker/LST/plugins/LSTOutputConverter.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#46705 Run3-hcx379 First version of 2025 scenario - still needed the correct PPS geometry with the needed rotation
  Configuration/Geometry/README.md
  Configuration/Geometry/python/GeometryDD4hepExtended2025Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtended2025_cff.py
  Configuration/Geometry/python/GeometryExtended2025Reco_cff.py
  Configuration/Geometry/python/GeometryExtended2025_cff.py
  Configuration/Geometry/python/dict2021Geometry.py
  Configuration/StandardSequences/python/GeometryConf.py
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2025.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometry2025XML_cfi.py
Labels: geometry-approved, operations-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#46539 TICLv5a : Improve skeleton linking and parameters tuning
  HLTrigger/Configuration/python/HLT_75e33/modules/hltFilteredLayerClustersRecoveryL1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltTiclTracksterLinksL1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltTiclTracksterLinksUnseeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltTiclTracksterLinks_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltTiclTrackstersRecoveryL1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/psets/hltTiclTracksterLinksPSet_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTHgcalTiclPFClusteringForEgammaUnseededSequence_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTTiclTrackstersRecoverySequenceL1Seeded_cfi.py
  RecoHGCal/TICL/plugins/TICLDumper.cc
  RecoHGCal/TICL/plugins/TICLGraph.cc
  RecoHGCal/TICL/plugins/TICLGraph.h
  RecoHGCal/TICL/plugins/TracksterLinkingbySkeletons.cc
  RecoHGCal/TICL/plugins/TracksterLinkingbySkeletons.h
  RecoHGCal/TICL/python/customiseTICLFromReco.py
  RecoHGCal/TICL/python/iterativeTICL_cff.py
  RecoHGCal/TICL/python/ticlDumper_cff.py
Labels: hlt-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#46707 [Py312] Move away from using imp python module
  FWCore/ParameterSet/python/TreeCrawler.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46765 [RECONSTRUCTION] py2/3 compatibility:drop use of __future__
  CommonTools/ParticleFlow/test/PF2PAT_cfg.py
  EventFilter/CSCRawToDigi/test/testCSCDigi2Raw_cfg.py
  EventFilter/HcalRawToDigi/test/GetBadEvents.py
  EventFilter/SiStripRawToDigi/python/test/Validate_DigiToRawToClusters_cfg.py
  EventFilter/SiStripRawToDigi/python/test/Validate_DigiToRawToDigi_cfg.py
  JetMETCorrections/Modules/test/uploadConstants.py
  MagneticField/Engine/test/regression.py
  MagneticField/Interpolation/test/BinaryTablesGeneration/convertTables.py
  PhysicsTools/IsolationAlgos/python/boostedElectronIsolation_cff.py
  PhysicsTools/IsolationAlgos/python/boostedMuonIsolation_cff.py
  PhysicsTools/SelectorUtils/python/VIDSelectorBase.py
  PhysicsTools/SelectorUtils/python/VIDSelectorValidator.py
  PhysicsTools/SelectorUtils/test/pyfwlite_test.py
  RecoBTag/CTagging/test/test_discriminator_presence.py
  RecoBTag/ONNXRuntime/python/pfMassIndependentDeepDoubleXJetTags_cff.py
  RecoBTag/ONNXRuntime/python/pfMassIndependentDeepDoubleXV2JetTags_cff.py
  RecoBTag/ONNXRuntime/test/plotDDX.py
  RecoBTag/ONNXRuntime/test/test_deep_doubleb_cfg_AOD.py
  RecoBTag/PerformanceDB/test/plotPerformanceDB.py
  RecoEgamma/EgammaElectronProducers/test/dbs_discovery.py
  RecoLocalCalo/EcalRecProducers/test/compare_csv.py
  RecoLocalCalo/HcalRecAlgos/python/RemoveAddSevLevel.py
  RecoLocalCalo/HcalRecAlgos/test/test_RecHitReflagger_cfg.py
  RecoLocalTracker/SiStripClusterizer/test/shotTest_withReClustering_cfg.py
  RecoMET/METFilters/python/GenerateHcalLaserBadRunList.py
  RecoMET/METFilters/python/hcalLaserEventFilter_cfi.py
  RecoMET/METFilters/test/filters_cfg.py
  RecoParticleFlow/PFClusterProducer/python/particleFlowClusterECALUncorrected_cfi.py
  RecoTauTag/Configuration/test/compareTauVariables.py
  RecoTauTag/RecoTau/python/tools/runTauIdMVA.py
  RecoTracker/TkSeedGenerator/python/GlobalSeedsFromTripletsWithVertices_cff.py
  TrackPropagation/RungeKutta/test/findDiff.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking, trk

#46729 Avoid allocations in ParentageID
  DataFormats/Provenance/interface/CompactHash.h
  DataFormats/Provenance/interface/ParentageID.h
  DataFormats/Provenance/interface/ProductProvenance.h
  DataFormats/Provenance/interface/ProductProvenanceLookup.h
  DataFormats/Provenance/src/CompactHash.cc
  DataFormats/Provenance/src/Parentage.cc
  DataFormats/Provenance/src/ProductProvenanceLookup.cc
  DataFormats/Provenance/src/classes_def.xml
  DataFormats/Provenance/test/BuildFile.xml
  DataFormats/Provenance/test/CompactHash_t.cpp
  DataFormats/Provenance/test/Parentage_t.cpp
  FWCore/Utilities/interface/Digest.h
  FWCore/Utilities/src/Digest.cc
  FWCore/Utilities/test/test_catch2_Digest.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, changes-dataformats

#46753 Phase2-hgx360W Provide a method in HGCALDDDConst to access the area of a cell
  Geometry/HGCalCommonData/interface/HGCalDDDConstants.h
  Geometry/HGCalCommonData/src/HGCalDDDConstants.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#46655 Moved Egamma TensorFlow sessions to global cache
  RecoEgamma/EgammaElectronProducers/plugins/GsfElectronProducer.cc
  RecoEgamma/EgammaPhotonProducers/src/GEDPhotonProducer.cc
  RecoEgamma/EgammaTools/interface/EgammaDNNHelper.h
  RecoEgamma/EgammaTools/src/EgammaDNNHelper.cc
  RecoEgamma/ElectronIdentification/interface/ElectronDNNEstimator.h
  RecoEgamma/ElectronIdentification/src/ElectronDNNEstimator.cc
  RecoEgamma/PhotonIdentification/interface/PhotonDNNEstimator.h
  RecoEgamma/PhotonIdentification/src/PhotonDNNEstimator.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, ml-approved

#46751 RecoMTD: new class for storing variables for BTD and GNN training
  RecoMTD/TimingIDTools/plugins/BuildFile.xml
  RecoMTD/TimingIDTools/plugins/MVATrainingNtuple.cc
  RecoMTD/TimingIDTools/test/mvaTrainingSaveNtuple_cfg.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, mtd

#46772 [DAQ] py2/3 compatibility:drop use of __future__
  EventFilter/Utilities/test/startFU.py
  EventFilter/Utilities/test/start_multiLS_FU.py
  EventFilter/Utilities/test/testScoutingRun3_unpackers.py
  EventFilter/Utilities/test/test_dqmstream.py
  EventFilter/Utilities/test/unittest_FU.py
  EventFilter/Utilities/test/unittest_FU_daqsource.py
Labels: daq-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46773 [HLT] py2/3 compatibility:drop use of __future__
  HLTrigger/Configuration/python/Tools/confdb.py
  HLTrigger/Configuration/scripts/edmPluginCoverage
  HLTrigger/HLTanalyzers/test/CreateCFGs.py
  HLTrigger/HLTanalyzers/test/CreateFileLists.py
  HLTrigger/HLTanalyzers/test/efficiency.py
  HLTrigger/HLTanalyzers/test/fixTrue.py
  HLTrigger/Tools/python/OnlinePrescaleChecker/Page1Parser.py
  HLTrigger/Tools/python/OnlinePrescaleChecker/PrescaleChecker.py
  HLTrigger/Tools/python/OnlinePrescaleChecker/TablePrint.py
  HLTrigger/Tools/python/getHLTPrescaleColumns.py
  HLTrigger/Tools/python/getHLTkey.py
  HLTrigger/Tools/python/getHLTprescales.py
  HLTrigger/Tools/python/makeHLTPrescaleTable.py
  HLTrigger/Tools/python/queryRR.py
  HLTrigger/Tools/python/rrapi.py
  HLTrigger/Tools/scripts/timingPdfMaker.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46784 Run3-hcx380 Correct the scenario for 2025 by including the DT shield
  Configuration/Geometry/README.md
  Configuration/Geometry/python/dict2021Geometry.py
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2025.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometry2025XML_cfi.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#46732 [Simulation] Allow DT ageing toy model to run at the DIGI-L1T step
  SimMuon/DTDigitizer/plugins/DTChamberMasker.cc
  SimMuon/DTDigitizer/python/dtChamberMasker_cff.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46791 Fix DQM config test: Increase number of sequences to process
  DQMOffline/Configuration/test/BuildFile.xml
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46787 Fix off by 1 error in Multi5x5ClusterAlgo
  RecoEcal/EgammaClusterAlgos/src/Multi5x5ClusterAlgo.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#46794 [UBSAN]Check for finite tracklet seeding or d0 cut
  L1Trigger/TrackFindingTracklet/src/TrackletCalculatorDisplaced.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46738 Improvements for HCAL LUT XML Diffing
  CalibCalorimetry/HcalTPGAlgos/interface/HcaluLUTTPGCoder.h
  CalibCalorimetry/HcalTPGAlgos/interface/LutXml.h
  CalibCalorimetry/HcalTPGAlgos/src/HcaluLUTTPGCoder.cc
  CalibCalorimetry/HcalTPGAlgos/src/LutXml.cc
  CalibCalorimetry/HcalTPGEventSetup/src/HcalTPGCoderULUT.cc
  CaloOnlineTools/HcalOnlineDb/bin/hcalLUT.cc
  CaloOnlineTools/HcalOnlineDb/plugins/HcalLutAnalyzer.cc
  CaloOnlineTools/HcalOnlineDb/plugins/HcalLutComparer.cc
  CaloOnlineTools/HcalOnlineDb/test/DiffLUT.py
  CaloOnlineTools/HcalOnlineDb/test/cardPhysicsSkeleton.sh
  CaloOnlineTools/HcalOnlineDb/test/genLUT.sh
  CaloOnlineTools/HcalOnlineDb/test/template.py
Labels: alca-approved, l1-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#46774 [SIMULATION] py2/3 compatibility:drop use of __future__
  IOMC/EventVertexGenerators/test/calculate_beamwidth.py
  SimCalorimetry/EcalTestBeam/python/ecalTB2006H4_GenSimDigiReco_cfg.py
  SimG4CMS/HcalTestBeam/test/python/run_tb06_all_cfg.py
  SimG4Core/CustomPhysics/python/Exotica_HSCP_SIM_cfi.py
  SimG4Core/CustomPhysics/python/Exotica_MT_SIM_cfi.py
  SimGeneral/Configuration/python/RandomRunSource.py
  SimGeneral/Configuration/python/ThrowAndSetRandomRun.py
  SimGeneral/MixingModule/python/mix_fromDB_cfi.py
  SimMuon/CSCDigitizer/test/CSCNeutronReader_cfg.py
  SimMuon/DTDigitizer/python/dtChamberMasker_cff.py
  SimTracker/TrackerMaterialAnalysis/crab/merge.py
  SimTracker/TrackerMaterialAnalysis/python/trackingMaterialVarParsing.py
  SimTracker/TrackerMaterialAnalysis/test/dumpFullXML.py
  SimTracker/TrackerMaterialAnalysis/test/dumpFullXML_ForPhaseI.py
  SimTracker/TrackerMaterialAnalysis/test/dumpFullXML_ForPhaseII.py
  SimTracker/TrackerMaterialAnalysis/test/listGroups.py
  SimTracker/TrackerMaterialAnalysis/test/listGroups_dd4hep.py
  SimTracker/TrackerMaterialAnalysis/test/listIds_dd4hep.py
  SimTracker/TrackerMaterialAnalysis/test/tools/dump.py
  SimTracker/TrackerMaterialAnalysis/test/tools/material.py
  SimTracker/TrackerMaterialAnalysis/test/tools/plot.py
  SimTracker/TrackerMaterialAnalysis/test/tools/split.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#46617 Add caloParams v0_1 for 2024 HI run
  L1Trigger/Configuration/python/customiseSettings.py
  L1Trigger/L1TCalorimeter/python/caloParamsHI_2024_v0_1_cfi.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved
