Repository cms-sw/cmssw, pull requests merged in 2024-12, with the labels that each got.

#46766 [PDMV-UPGRADE] py2/3 compatibility:drop use of __future__
  Configuration/PyReleaseValidation/data/runall.py
  Configuration/PyReleaseValidation/python/MatrixInjector.py
  Configuration/PyReleaseValidation/python/MatrixReader.py
  Configuration/PyReleaseValidation/python/MatrixRunner.py
  Configuration/PyReleaseValidation/python/MatrixToProcess.py
  Configuration/PyReleaseValidation/python/MatrixUtil.py
  Configuration/PyReleaseValidation/python/Options.py
  Configuration/PyReleaseValidation/python/WorkFlowRunner.py
  Configuration/PyReleaseValidation/python/cmsDriverOptions.py
  Configuration/PyReleaseValidation/python/relval_machine.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/PyReleaseValidation/scripts/das-selected-lumis.py
  Configuration/PyReleaseValidation/scripts/runTheMatrix.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#46782 [L1-UPGRADE] py2/3 compatibility:drop use of __future__
  L1Trigger/L1CaloTrigger/python/l1tPhase1JetProducer_cfi.py
  L1Trigger/L1CaloTrigger/test/Phase1L1TJetHwEmuComp.py
  L1Trigger/L1CaloTrigger/test/generatePatternPF.py
  L1Trigger/L1THGCal/python/customCalibration.py
  L1Trigger/L1THGCal/python/l1tHGCalBackEndLayer1Producer_cfi.py
  L1Trigger/L1THGCal/python/l1tHGCalVFEProducer_cfi.py
  L1Trigger/L1THGCalUtilities/python/hgcalTriggerNtuples_cfi.py
  L1Trigger/TrackTrigger/python/TkOnlyDigi_cff.py
  L1Trigger/TrackTrigger/test/SLHC_MBIAS_TkOnly.py
  L1Trigger/TrackTrigger/test/SLHC_PGUN_TkOnly.py
  L1Trigger/TrackTrigger/test/SLHC_PU_TkOnly.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#46776 [SIMULATION-UPGRADE] py2/3 compatibility:drop use of __future__
  SLHCUpgradeSimulations/Configuration/python/muonCustoms.py
  SLHCUpgradeSimulations/Configuration/python/muonCustomsPreMixing.py
  SLHCUpgradeSimulations/Configuration/python/postLS1Customs.py
  SLHCUpgradeSimulations/Configuration/python/postLS1CustomsPreMixing.py
  SimCalorimetry/HGCalSimProducers/python/customHGCdigitizer_cfi.py
  SimCalorimetry/HGCalSimProducers/test/hgcalInjectTestHit_cfg.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#46678 Add time to HGCAL CaloParticles
  RecoHGCal/TICL/plugins/SimTrackstersProducer.cc
  SimDataFormats/CaloAnalysis/interface/CaloParticle.h
  SimDataFormats/CaloAnalysis/interface/MtdCaloParticle.h
  SimGeneral/CaloAnalysis/plugins/CaloTruthAccumulator.cc
  SimGeneral/CaloAnalysis/plugins/MtdTruthAccumulator.cc
  SimGeneral/MixingModule/python/mtdTruthProducer_cfi.py
Labels: reconstruction-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, tests-ib-failure, allow-AuroraPerego

#46833 `TriggerResultsFilterFromDB`: accept all triggers paths in presence of an empty list of expressions
  HLTrigger/HLTfilters/plugins/TriggerResultsFilterFromDB.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46742 Use `TriggerResultsFilterFromDB` instead of `HLTHighLevel`, in order to allow prescaled HLT paths in `EcalESAlign` and `HcalCalIterativePhiSym`
  Calibration/EcalAlCaRecoProducers/python/ALCARECOEcalESAlign_cff.py
  Calibration/HcalAlCaRecoProducers/python/ALCARECOHcalCalIterativePhiSym_cff.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#46841 Use `Run4` for Phase2 PU inputs
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: fully-signed, tests-approved, pdmv-approved, bug-fix, orp-approved, upgrade-approved, code-checks-approved

#45640 VarParsing: prevent TypeError for default of int/float/bool list
  FWCore/ParameterSet/python/VarParsing.py
  FWCore/ParameterSet/test/BuildFile.xml
  FWCore/ParameterSet/test/test_varparsing_list.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46851 fix `CaloParticle` class version after #46678
  SimDataFormats/CaloAnalysis/src/classes_def.xml
Labels: simulation-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved, changes-dataformats

#46844 Fix to LST code due to uninitialization of the shiftedRt2 variable
  RecoTracker/LSTCore/src/alpaka/MiniDoublet.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#46834 10_6_X Fixed FullModelHadronicProcess.cc energy deposit model
  SimG4Core/CustomPhysics/src/FullModelHadronicProcess.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, backport-ok

#46835 12_4_X Fixed FullModelHadronicProcess.cc energy deposit model
  SimG4Core/CustomPhysics/src/FullModelHadronicProcess.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, backport-ok

#46857 LST algorithm developments accumulated during integration PR
  RecoTracker/LST/plugins/alpaka/LSTModulesDevESProducer.cc
  RecoTracker/LST/plugins/alpaka/LSTProducer.cc
  RecoTracker/LSTCore/BuildFile.xml
  RecoTracker/LSTCore/interface/Common.h
  RecoTracker/LSTCore/interface/LSTESData.h
  RecoTracker/LSTCore/interface/QuintupletsSoA.h
  RecoTracker/LSTCore/interface/alpaka/Common.h
  RecoTracker/LSTCore/interface/alpaka/LST.h
  RecoTracker/LSTCore/src/LSTESData.cc
  RecoTracker/LSTCore/src/alpaka/Kernels.h
  RecoTracker/LSTCore/src/alpaka/LST.cc
  RecoTracker/LSTCore/src/alpaka/LSTEvent.dev.cc
  RecoTracker/LSTCore/src/alpaka/LSTEvent.h
  RecoTracker/LSTCore/src/alpaka/MiniDoublet.h
  RecoTracker/LSTCore/src/alpaka/NeuralNetwork.h
  RecoTracker/LSTCore/src/alpaka/NeuralNetworkWeights.h
  RecoTracker/LSTCore/src/alpaka/PixelQuintuplet.h
  RecoTracker/LSTCore/src/alpaka/PixelTriplet.h
  RecoTracker/LSTCore/src/alpaka/Quintuplet.h
  RecoTracker/LSTCore/src/alpaka/Segment.h
  RecoTracker/LSTCore/src/alpaka/Triplet.h
  RecoTracker/LSTCore/standalone/.gitignore
  RecoTracker/LSTCore/standalone/LST/Makefile
  RecoTracker/LSTCore/standalone/Makefile
  RecoTracker/LSTCore/standalone/README.md
  RecoTracker/LSTCore/standalone/analysis/DNN/train_T5_DNN.ipynb
  RecoTracker/LSTCore/standalone/analysis/occupancy/compute_occupancies.ipynb
  RecoTracker/LSTCore/standalone/bin/lst.cc
  RecoTracker/LSTCore/standalone/bin/lst_make_tracklooper
  RecoTracker/LSTCore/standalone/code/core/AnalysisConfig.h
  RecoTracker/LSTCore/standalone/code/core/trkCore.cc
  RecoTracker/LSTCore/standalone/code/core/trkCore.h
  RecoTracker/LSTCore/standalone/code/core/write_lst_ntuple.cc
  RecoTracker/LSTCore/standalone/code/core/write_lst_ntuple.h
  RecoTracker/LSTCore/standalone/setup.sh
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#46828 Addition of single iteration Patatrack and LST HLT configurations and workflows
  Configuration/ProcessModifiers/python/seedingLST_cff.py
  Configuration/ProcessModifiers/python/singleIterPatatrack_cff.py
  Configuration/PyReleaseValidation/README.md
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  HLTrigger/Configuration/python/HLT_75e33/eventsetup/hltESPModulesDevLST_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/eventsetup/hltESPTTRHBuilderWithTrackAngle_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/eventsetup/hltESPTTRHBuilderWithoutRefit_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltGeneralTracks_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHighPtTripletStepClusters_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHighPtTripletStepSeedTracksLST_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHighPtTripletStepTrackCandidatespLSTCLST_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHighPtTripletStepTrackCutClassifierpLSTCLST_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHighPtTripletStepTrackSelectionHighPuritypLSTCLST_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHighPtTripletStepTrackspLSTCLST_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltInitialStepSeedTracksLST_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltInitialStepSeeds_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltInitialStepTrackCandidates_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltInitialStepTrackCutClassifierpLSTCLST_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltInitialStepTrackCutClassifierpTTCLST_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltInitialStepTrackSelectionHighPuritypLSTCLST_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltInitialStepTrackSelectionHighPuritypTTCLST_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltInitialStepTracksT5TCLST_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltInitialStepTrackspLSTCLST_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltInitialStepTrackspTTCLST_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltLST_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2OTHitsInputLST_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2PixelTracksSoA_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPixelSeedInputLST_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltSiPhase2Clusters_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltSiPhase2RecHits_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/psets/HLTPSetTrajectoryBuilderForGsfElectrons_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTHighPtTripletStepSequence_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTInitialStepSequence_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTTrackingV61Sequence_cfi.py
  HLTrigger/Configuration/python/HLT_75e33_cff.py
  HLTrigger/Configuration/python/HLT_75e33_timing_cff.py
  RecoTracker/LSTCore/interface/Common.h
Labels: hlt-approved, operations-approved, reconstruction-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved, tracking

#46846 14_0_X Fixed FullModelHadronicProcess.cc energy deposit model
  SimG4Core/CustomPhysics/src/FullModelHadronicProcess.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, backport-ok

#46845 13_0_X Fixed FullModelHadronicProcess.cc energy deposit model
  SimG4Core/CustomPhysics/src/FullModelHadronicProcess.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, backport-ok

#46823 add DQM / Validation monitoring for `hltInitialStep` and `hltHighPtTriplet` tracks in the Phase2 HLT menu
  Configuration/EventContent/python/EventContent_cff.py
  DQMOffline/Trigger/python/TrackingMonitoring_cff.py
  Validation/RecoTrack/python/HLTmultiTrackValidator_cff.py
Labels: dqm-approved, operations-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#46840 Update HSCParticle object to be compatible with MiniAOD
  AnalysisDataFormats/SUSYBSMObjects/interface/HSCParticle.h
  AnalysisDataFormats/SUSYBSMObjects/src/classes_def.xml
Labels: analysis-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tests-ib-failure, changes-dataformats

#46792 [14_2_X backport] MTD geometry: Fix MTDGeometryBuilder text to avoid rounding issues with alternative architectures
  Geometry/MTDGeometryBuilder/test/DD4hep_TestPixelTopology.cc
  Geometry/MTDGeometryBuilder/test/MTDDigiGeometryAnalyzer.cc
Labels: geometry-approved, fully-signed, tests-approved, bug-fix, orp-approved, upgrade-approved, requires-external

#46847 [14_2_X] Allow using fake pixels from the digi morphing algorithm as cluster seeds but drop them from final clusters
  RecoLocalTracker/SiPixelClusterizer/plugins/PixelThresholdClusterizer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, trk

#46849 [14_2_X backport]: MTD reconstruction: save correct outermost hit position also for tracks w/o last hit in mtd
  RecoMTD/TrackExtender/plugins/TrackExtenderWithMTD.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved

#46861 Optimise muon seed MVA classifier
  RecoMuon/TrackerSeedGenerator/plugins/MuonHLTSeedMVAClassifierPhase2.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46870 Class version update unit test fix
  FWCore/Reflection/test/run_classVersionUpdate.sh
Labels: core-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved

#46872 [14.2.X]Class version update unit test fix
  FWCore/Reflection/test/run_classVersionUpdate.sh
Labels: core-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, backport-ok, tests-external-failure

#46829 Remove the explicit dependency on non-alpaka main library
  HeterogeneousCore/AlpakaTest/BuildFile.xml
  RecoTracker/LSTCore/BuildFile.xml
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved, tracking

#46873 [14.1.X]Class version update unit test fix
  FWCore/Reflection/test/run_classVersionUpdate.sh
Labels: core-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, backport-ok

#46875 Constrain the TriggerObject template constructors
  DataFormats/HLTReco/interface/TriggerObject.h
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46874 Use #include <...> for external headers
  DataFormats/Candidate/interface/ParticleState.h
  DataFormats/Math/interface/LorentzVector.h
  DataFormats/Math/interface/Point3D.h
  DataFormats/Math/interface/Vector3D.h
  FWCore/Utilities/interface/Exception.h
Labels: core-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46876 Do not use default-constructed PortableCollections
  DataFormats/VertexSoA/test/alpaka/ZVertexSoA_test.cc
  EventFilter/HcalRawToDigi/plugins/alpaka/HcalDigisSoAProducer.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestHelperClass.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestHelperClass.h
  RecoLocalTracker/SiPixelClusterizer/plugins/alpaka/SiPixelPhase2DigiToCluster.cc
  RecoLocalTracker/SiPixelClusterizer/plugins/alpaka/SiPixelRawToCluster.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved, trk

#46816 [14_1_X] Allow using fake pixels from the digi morphing algorithm as cluster seeds but drop them from final clusters
  RecoLocalTracker/SiPixelClusterizer/plugins/PixelThresholdClusterizer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, trk

#46817 [14_0_X] Allow using fake pixels from the digi morphing algorithm as cluster seeds but drop them from final clusters
  RecoLocalTracker/SiPixelClusterizer/plugins/PixelThresholdClusterizer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, trk

#46843 Disable 2022/2023 MC Tests
  Configuration/PyReleaseValidation/test/BuildFile.xml
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#46860 Implement Phase 2 Muon HLT validation
  Configuration/EventContent/python/EventContent_cff.py
  HLTriggerOffline/Common/python/HLTValidationHarvest_cff.py
  SimMuon/MCTruth/plugins/Phase2SeedToTrackProducer.h
  SimMuon/MCTruth/plugins/SealModule.cc
  SimMuon/MCTruth/plugins/SeedToTrackProducer.h
  SimMuon/MCTruth/plugins/SeedToTrackProducerBase.cc
  SimMuon/MCTruth/plugins/SeedToTrackProducerBase.h
  SimMuon/MCTruth/python/SeedToTrackProducer_cfi.py
  Validation/RecoMuon/plugins/MuonTrackValidator.cc
  Validation/RecoMuon/plugins/MuonTrackValidatorBase.h
  Validation/RecoMuon/python/PostProcessorHLT_cff.py
  Validation/RecoMuon/python/PostProcessor_cff.py
  Validation/RecoMuon/python/associators_cff.py
  Validation/RecoMuon/python/muonValidationHLT_cff.py
  Validation/RecoMuon/python/track_selectors_cff.py
Labels: dqm-approved, operations-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46700 Improve TICL Association Map and update TICL event content
  RecoHGCal/Configuration/python/RecoHGCal_EventContent_cff.py
  RecoHGCal/TICL/plugins/TICLDumper.cc
  SimCalorimetry/HGCalAssociatorProducers/plugins/AllLayerClusterToTracksterAssociatorsProducer.cc
  SimCalorimetry/HGCalAssociatorProducers/plugins/AllTracksterToSimTracksterAssociatorsByHitsProducer.cc
  SimCalorimetry/HGCalAssociatorProducers/plugins/AllTracksterToSimTracksterAssociatorsByLCsProducer.cc
  SimCalorimetry/HGCalAssociatorProducers/plugins/LCToTSAssociatorProducer.cc
  SimCalorimetry/HGCalAssociatorProducers/plugins/TracksterToSimTracksterAssociatorByHitsProducer.cc
  SimCalorimetry/HGCalAssociatorProducers/plugins/TracksterToSimTracksterAssociatorByHitsProducer.h
  SimCalorimetry/HGCalAssociatorProducers/plugins/TracksterToSimTracksterAssociatorProducer.cc
  SimCalorimetry/HGCalAssociatorProducers/plugins/TracksterToSimTracksterAssociatorProducer.h
  SimCalorimetry/HGCalAssociatorProducers/python/TSToSimTSAssociationByHits_cfi.py
  SimCalorimetry/HGCalAssociatorProducers/python/TSToSimTSAssociation_cfi.py
  SimDataFormats/Associations/interface/TICLAssociationMap.h
  SimDataFormats/Associations/src/classes.h
  SimDataFormats/Associations/src/classes_def.xml
  Validation/HGCalValidation/interface/HGCalValidator.h
  Validation/HGCalValidation/interface/HGVHistoProducerAlgo.h
  Validation/HGCalValidation/interface/TICLCandidateValidator.h
  Validation/HGCalValidation/python/HGCalValidator_cff.py
  Validation/HGCalValidation/scripts/makeHGCalValidationPlots.py
  Validation/HGCalValidation/src/HGVHistoProducerAlgo.cc
  Validation/HGCalValidation/src/TICLCandidateValidator.cc
Labels: dqm-approved, reconstruction-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, hgcal, changes-dataformats

#46883 Add `customiseWithTimeMemoryInfo()` function to `TimeMemoryInfo.py`
  Validation/Performance/python/TimeMemoryInfo.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46886 Phase2-hgx360T Make a test code to find the area of HGCal cells through the method "cellArea" of HGCalDDConst
  Geometry/HGCalCommonData/test/HGCalTestCellArea.cc
  Geometry/HGCalCommonData/test/python/testHGCalCellArea_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#46831 Update data GT in autoCond - CMSSW_14_2_X
  Configuration/AlCa/python/autoCond.py
  DQM/Integration/python/clients/dt4ml_dqm_sourceclient-live_cfg.py
  DQM/Integration/test/BuildFile.xml
Labels: alca-approved, dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#46832 Update offline data GT in autoCond - CMSSW_14_1_X
  Configuration/AlCa/python/autoCond.py
  DQM/Integration/python/clients/dt4ml_dqm_sourceclient-live_cfg.py
  DQM/Integration/test/BuildFile.xml
Labels: alca-approved, dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#46892 fix replacing of split pixel clusters in DQM online clients after #46694
  DQM/Integration/python/clients/pixel_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/sistrip_approx_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/sistrip_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, urgent, code-checks-approved

#46793 Update Default Datasets for 2022 (was 2021)
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: fully-signed, tests-approved, pdmv-approved, bug-fix, orp-approved, upgrade-approved, code-checks-approved

#46891 Change Vtx generators to allow HepMC3Product smearing
  IOMC/EventVertexGenerators/interface/BaseEvtVtxGenerator.h
  IOMC/EventVertexGenerators/interface/BeamProfileVtxGenerator.h
  IOMC/EventVertexGenerators/interface/BetafuncEvtVtxGenerator.h
  IOMC/EventVertexGenerators/interface/FlatEvtVtxGenerator.h
  IOMC/EventVertexGenerators/interface/GaussEvtVtxGenerator.h
  IOMC/EventVertexGenerators/interface/HLLHCEvtVtxGenerator.h
  IOMC/EventVertexGenerators/interface/PassThroughEvtVtxGenerator.h
  IOMC/EventVertexGenerators/src/BaseEvtVtxGenerator.cc
  IOMC/EventVertexGenerators/src/BeamProfileVtxGenerator.cc
  IOMC/EventVertexGenerators/src/BetafuncEvtVtxGenerator.cc
  IOMC/EventVertexGenerators/src/FlatEvtVtxGenerator.cc
  IOMC/EventVertexGenerators/src/GaussEvtVtxGenerator.cc
  IOMC/EventVertexGenerators/src/HLLHCEvtVtxGenerator.cc
  IOMC/EventVertexGenerators/src/PassThroughEvtVtxGenerator.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46893 Improve messages due `VertexException` in `SequentialPrimaryVertexFitterAdapter` and clean-up of `BeamSpotOnlineProducer`
  RecoVertex/BeamSpotProducer/plugins/BeamSpotOnlineProducer.cc
  RecoVertex/PrimaryVertexProducer/interface/SequentialPrimaryVertexFitterAdapter.h
Labels: alca-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#46896 SeedToTrackProducer: return early if L2 seed collection is not found
  SimMuon/MCTruth/plugins/SeedToTrackProducerBase.cc
Labels: simulation-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved

#46902 fix clang linking issue in `SimMuon/MCTruth`
  SimMuon/MCTruth/plugins/Phase2SeedToTrackProducer.h
  SimMuon/MCTruth/plugins/SealModule.cc
  SimMuon/MCTruth/plugins/SeedToTrackProducer.h
  SimMuon/MCTruth/plugins/SeedToTrackProducerBase.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46888 Introduce High Granularity Tracker Alignment Prompt Calibration Loop for HLT alignment conditions
  Alignment/CommonAlignmentProducer/python/ALCARECOPromptCalibProdSiPixelAliHLTHGCombined_Output_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOPromptCalibProdSiPixelAliHLTHGDiMuon_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOPromptCalibProdSiPixelAliHLTHG_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOPromptCalibProdSiPixelAliHLT_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlHLTTracksZMuMu_Output_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlHLTTracksZMuMu_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlHLTTracks_Output_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlHLTTracks_cff.py
  Alignment/CommonAlignmentProducer/python/AlcaSiPixelAliHarvesterHLTHGCombined_cff.py
  Alignment/CommonAlignmentProducer/test/test-PromptCalibProdSiPixelAliHLTHGC.sh
  Configuration/AlCa/python/autoAlca.py
  Configuration/AlCa/python/autoPCL.py
  Configuration/EventContent/python/AlCaRecoOutput_cff.py
  Configuration/StandardSequences/python/AlCaHarvesting_cff.py
  Configuration/StandardSequences/python/AlCaRecoStreams_cff.py
Labels: alca-approved, operations-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46906 [mkFit] small fix in propToPlane
  RecoTracker/MkFitCore/src/KalmanUtilsMPlex.cc
  RecoTracker/MkFitCore/src/PropagationMPlexPlane.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, tracking

#46878 Implement eras for Run3 2025 PbPb UPC and oxygen runs
  Configuration/Eras/python/Era_Run3_2025_OXY_cff.py
  Configuration/Eras/python/Era_Run3_2025_UPC_cff.py
  Configuration/Eras/python/Modifier_run3_oxygen_cff.py
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/StandardSequences/python/Eras.py
Labels: operations-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#46905 Sort hybrid taus with descending pt [fix]
  PhysicsTools/PatAlgos/plugins/PATTauHybridProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, xpog-approved

#46887 Fix PFClusterSoAProducer to read a device collection
  RecoParticleFlow/PFClusterProducer/plugins/alpaka/PFClusterECLCC.h
  RecoParticleFlow/PFClusterProducer/plugins/alpaka/PFClusterSoAProducer.cc
  RecoParticleFlow/PFClusterProducer/plugins/alpaka/PFClusterSoAProducerKernel.dev.cc
  RecoParticleFlow/PFClusterProducer/plugins/alpaka/PFClusterSoAProducerKernel.h
  RecoParticleFlow/PFRecHitProducer/plugins/alpaka/PFRecHitSoAProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#46877 Let `edm::Wrapper<T>` use the constructor `T{kUninitialized}`
  DataFormats/Common/interface/DeviceProduct.h
  DataFormats/Common/interface/Uninitialized.h
  DataFormats/Common/interface/Wrapper.h
  DataFormats/Common/test/Wrapper_t.cpp
  DataFormats/Portable/interface/PortableDeviceCollection.h
  DataFormats/Portable/interface/PortableDeviceObject.h
  DataFormats/Portable/interface/PortableHostCollection.h
  DataFormats/Portable/interface/PortableHostObject.h
  DataFormats/SiPixelClusterSoA/interface/SiPixelClustersDevice.h
  DataFormats/SiPixelClusterSoA/interface/SiPixelClustersHost.h
  DataFormats/SiPixelDigiSoA/interface/SiPixelDigiErrorsDevice.h
  DataFormats/SiPixelDigiSoA/interface/SiPixelDigiErrorsHost.h
  DataFormats/SiPixelDigiSoA/interface/SiPixelDigisDevice.h
  DataFormats/SiPixelDigiSoA/interface/SiPixelDigisHost.h
  DataFormats/TestObjects/interface/ToyProducts.h
  DataFormats/TestObjects/src/classes_def.xml
  DataFormats/TrackSoA/interface/TracksDevice.h
  DataFormats/TrackSoA/interface/TracksHost.h
  DataFormats/TrackingRecHitSoA/interface/TrackingRecHitsDevice.h
  DataFormats/TrackingRecHitSoA/interface/TrackingRecHitsHost.h
  FWCore/Integration/plugins/BuildFile.xml
  FWCore/Integration/plugins/MaybeUninitializedIntAnalyzer.cc
  FWCore/Integration/plugins/MaybeUninitializedIntProducer.cc
  FWCore/Integration/test/BuildFile.xml
  FWCore/Integration/test/testMaybeUninitializedIntProductPart1_cfg.py
  FWCore/Integration/test/testMaybeUninitializedIntProductPart2_cfg.py
  IOPool/Input/test/BuildFile.xml
  IOPool/Input/test/testNoParentDictionary.sh
  IOPool/Input/test/testRefProductIDMetadataConsistencyRoot.sh
Labels: core-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved, tracking, trk, changes-dataformats

#46899 CMSSW_14_1_X:Update HSCParticle object to be compatible with MiniAOD
  AnalysisDataFormats/SUSYBSMObjects/interface/HSCParticle.h
  AnalysisDataFormats/SUSYBSMObjects/src/classes_def.xml
Labels: analysis-approved, fully-signed, tests-approved, orp-approved, changes-dataformats

#46867 CMSSW_14_0_X:Update HSCParticle object to be compatible with MiniAOD
  AnalysisDataFormats/SUSYBSMObjects/interface/HSCParticle.h
  AnalysisDataFormats/SUSYBSMObjects/src/classes_def.xml
Labels: analysis-approved, fully-signed, tests-approved, orp-approved, backport-ok, changes-dataformats

#46909 Restoring 2023 RelVal Inputs
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: fully-signed, tests-approved, pdmv-approved, bug-fix, orp-approved, upgrade-approved, code-checks-approved

#46904 [14_0_X] Update `ecalMultiFitUncalibRecHit_cfi.py` parameters for CC
  RecoLocalCalo/EcalRecProducers/python/ecalMultiFitUncalibRecHit_cfi.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, ecal

#46919 Fix for importing ClassesDefXmlUtils
  FWCore/Reflection/scripts/edmCheckClassVersion
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46913 Follow-up to HLT HG Combined PCL workflow
  Alignment/CommonAlignmentProducer/python/ALCARECOPromptCalibProdSiPixelAliHLT_cff.py
  Alignment/CommonAlignmentProducer/python/HLTModulesIncludes_cff.py
  Calibration/TkAlCaRecoProducers/test/parseFwkJobReport.py
  Calibration/TkAlCaRecoProducers/test/testAlCaHarvesting.sh
  Calibration/TkAlCaRecoProducers/test/testPCLAlCaHarvesting.py
  CondFormats/Common/data/SiPixelAliHLTHGCombRcd_prep.json
  CondFormats/Common/data/SiPixelAliHLTHGCombRcd_prod.json
  CondFormats/Common/test/DropBoxMetadataReader.py
  CondFormats/Common/test/ProduceDropBoxMetadata.py
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, trk

#46911 MTD geometry: add BTL topology to MTDTopology, reorganize dependencies
  Geometry/MTDGeometryBuilder/interface/MTDGeomBuilderFromGeometricTimingDet.h
  Geometry/MTDGeometryBuilder/interface/MTDGeomUtil.h
  Geometry/MTDGeometryBuilder/interface/MTDTopology.h
  Geometry/MTDGeometryBuilder/plugins/MTDDigiGeometryESModule.cc
  Geometry/MTDGeometryBuilder/plugins/MTDTopologyEP.cc
  Geometry/MTDGeometryBuilder/src/ES_MTDTopology.cc
  Geometry/MTDGeometryBuilder/src/MTDGeomBuilderFromGeometricTimingDet.cc
  Geometry/MTDGeometryBuilder/src/MTDTopology.cc
  Geometry/MTDGeometryBuilder/test/DD4hep_TestPixelTopology.cc
  Geometry/MTDNumberingBuilder/plugins/CmsMTDConstruction.cc
  Geometry/MTDNumberingBuilder/plugins/CmsMTDConstruction.h
  Geometry/MTDNumberingBuilder/plugins/DDCmsMTDConstruction.cc
  Geometry/MTDNumberingBuilder/python/mtdTopology_cfi.py
  Geometry/Records/interface/MTDDigiGeometryRecord.h
  Geometry/Records/interface/MTDTopologyRcd.h
  RecoLocalFastTime/FTLClusterizer/interface/MTDClusterizerBase.h
  RecoLocalFastTime/FTLClusterizer/plugins/MTDClusterProducer.cc
  RecoLocalFastTime/FTLCommonAlgos/interface/MTDTimeCalib.h
  RecoLocalFastTime/FTLRecProducers/plugins/MTDTimeCalibESProducer.cc
  RecoMTD/DetLayers/interface/BTLDetLayerGeometryBuilder.h
  RecoMTD/DetLayers/interface/ETLDetLayerGeometryBuilder.h
  RecoMTD/DetLayers/interface/MTDDetLayerGeometry.h
  RecoMTD/DetLayers/interface/MTDDetSector.h
  RecoMTD/DetLayers/interface/MTDDetTray.h
  RecoMTD/DetLayers/plugins/MTDDetLayerGeometryESProducer.cc
  RecoMTD/DetLayers/src/BTLDetLayerGeometryBuilder.cc
  RecoMTD/DetLayers/src/MTDDetTray.cc
  RecoMTD/DetLayers/test/BuildFile.xml
  RecoMTD/DetLayers/test/MTDRecoGeometryAnalyzer.cc
  RecoMTD/DetLayers/test/TestBTLNavigation.cc
  RecoMTD/DetLayers/test/mtd_cfg.py
  RecoTracker/GeometryESProducer/plugins/TrackerMTDRecoGeometryESProducer.cc
  RecoTracker/TkDetLayers/src/GeometricSearchTrackerBuilder.cc
  SimFastTiming/FastTimingCommon/interface/BTLDeviceSim.h
  SimFastTiming/MtdAssociatorProducers/plugins/MtdRecoClusterToSimLayerClusterAssociatorByHitsProducer.cc
  SimGeneral/CaloAnalysis/plugins/MtdTruthAccumulator.cc
  Validation/MtdValidation/plugins/BtlDigiHitsValidation.cc
  Validation/MtdValidation/plugins/BtlLocalRecoValidation.cc
  Validation/MtdValidation/plugins/BtlSimHitsValidation.cc
  Validation/MtdValidation/plugins/EtlDigiHitsValidation.cc
  Validation/MtdValidation/plugins/EtlLocalRecoValidation.cc
  Validation/MtdValidation/plugins/EtlSimHitsValidation.cc
  Validation/MtdValidation/plugins/MtdTracksValidation.cc
Labels: dqm-approved, geometry-approved, reconstruction-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, tracking, mtd

#46914 [14_1_X] Update ecalMultiFitUncalibRecHit_cfi.py parameters for CC
  RecoLocalCalo/EcalRecProducers/python/ecalMultiFitUncalibRecHit_cfi.py
Labels: alca-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, ecal

#46915 [14_2_X] Update `ecalMultiFitUncalibRecHit_cfi.py` parameters for CC
  RecoLocalCalo/EcalRecProducers/python/ecalMultiFitUncalibRecHit_cfi.py
Labels: alca-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, ecal

#46926 Update run_generic_tarball_cvmfs.sh to revert temporarily container s…
  GeneratorInterface/LHEInterface/data/run_generic_tarball_cvmfs.sh
Labels: generators-approved, fully-signed, tests-approved, orp-approved, urgent

#46921 [14.2.X]Fix for importing ClassesDefXmlUtils
  FWCore/Reflection/scripts/edmCheckClassVersion
Labels: core-approved, fully-signed, tests-approved, orp-approved, backport-ok

#46895 [14_2_X] Improve TICL Association Map and update TICL event content
  RecoHGCal/Configuration/python/RecoHGCal_EventContent_cff.py
  RecoHGCal/TICL/plugins/TICLDumper.cc
  SimCalorimetry/HGCalAssociatorProducers/plugins/AllLayerClusterToTracksterAssociatorsProducer.cc
  SimCalorimetry/HGCalAssociatorProducers/plugins/AllTracksterToSimTracksterAssociatorsByHitsProducer.cc
  SimCalorimetry/HGCalAssociatorProducers/plugins/AllTracksterToSimTracksterAssociatorsByLCsProducer.cc
  SimCalorimetry/HGCalAssociatorProducers/plugins/LCToTSAssociatorProducer.cc
  SimCalorimetry/HGCalAssociatorProducers/plugins/TracksterToSimTracksterAssociatorByHitsProducer.cc
  SimCalorimetry/HGCalAssociatorProducers/plugins/TracksterToSimTracksterAssociatorByHitsProducer.h
  SimCalorimetry/HGCalAssociatorProducers/plugins/TracksterToSimTracksterAssociatorProducer.cc
  SimCalorimetry/HGCalAssociatorProducers/plugins/TracksterToSimTracksterAssociatorProducer.h
  SimCalorimetry/HGCalAssociatorProducers/python/TSToSimTSAssociationByHits_cfi.py
  SimCalorimetry/HGCalAssociatorProducers/python/TSToSimTSAssociation_cfi.py
  SimDataFormats/Associations/interface/TICLAssociationMap.h
  SimDataFormats/Associations/src/classes.h
  SimDataFormats/Associations/src/classes_def.xml
  Validation/HGCalValidation/interface/HGCalValidator.h
  Validation/HGCalValidation/interface/HGVHistoProducerAlgo.h
  Validation/HGCalValidation/interface/TICLCandidateValidator.h
  Validation/HGCalValidation/python/HGCalValidator_cff.py
  Validation/HGCalValidation/scripts/makeHGCalValidationPlots.py
  Validation/HGCalValidation/src/HGVHistoProducerAlgo.cc
  Validation/HGCalValidation/src/TICLCandidateValidator.cc
Labels: dqm-approved, reconstruction-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, tests-ib-failure, changes-dataformats

#46922 [14.1]Fix for importing ClassesDefXmlUtils
  FWCore/Reflection/scripts/edmCheckClassVersion
Labels: core-approved, fully-signed, tests-approved, orp-approved, backport-ok

#46940 Backport of Update run_generic_tarball_cvmfs.sh
  GeneratorInterface/LHEInterface/data/run_generic_tarball_cvmfs.sh
Labels: generators-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok

#46918 Fixed memory leak in RegionalMuonGMTUnpacker
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/RegionalMuonGMTUnpacker.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46859 Extend `SimpleMemoryCheck` service to report jemalloc and smaps information, and on early termination signal
  FWCore/Services/plugins/SimpleMemoryCheck.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46920 add stub of `DeDxCalibration` Payload Inspector
  CondCore/PhysicsToolsPlugins/plugins/BuildFile.xml
  CondCore/PhysicsToolsPlugins/plugins/DeDxCalibration_PayloadInspector.cc
  CondCore/PhysicsToolsPlugins/test/BuildFile.xml
  CondCore/PhysicsToolsPlugins/test/test_DeDxCalibration_PayloadInspector.cpp
  CondCore/PhysicsToolsPlugins/test/test_DeDxCalibration_PayloadInspector.sh
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#46931 [MTD Validation]: update to MtdTracksValidation
  Validation/MtdValidation/plugins/MtdTracksValidation.cc
  Validation/MtdValidation/test/mtdHarvesting_cfg.py
  Validation/MtdValidation/test/mtdValidation_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46941 Clear memory at end of event in DeepFlavourONNXJetTagsProducer
  RecoBTag/ONNXRuntime/plugins/DeepFlavourONNXJetTagsProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46936 Improved calculation of CRC32
  DataFormats/Provenance/src/BranchID.cc
  EventFilter/L1TRawToDigi/src/AMC13Spec.cc
  EventFilter/L1TRawToDigi/src/AMCSpec.cc
  FWCore/Utilities/interface/calculateCRC32.h
  FWCore/Utilities/src/calculateCRC32.cc
  FWCore/Utilities/test/test_catch2_CRC32Calculator.cc
  FWCore/Utilities/test/test_catch2_calculateCRC32.cc
Labels: core-approved, l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46944 silence clang vectorization warnings
  RecoTracker/MkFitCore/src/MkBuilder.cc
  RecoTracker/MkFitCore/src/PropagationMPlex.cc
  RecoTracker/MkFitCore/src/PropagationMPlexEndcap.cc
  RecoTracker/MkFitCore/src/PropagationMPlexPlane.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking, tests-ib-failure

#46923 Fix DQM config test: Increase number of sequences to process
  DQMOffline/Configuration/test/BuildFile.xml
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46955 Added CMSSW_FULL_RELEASE_BASE in to valid cmssw import paths
  FWCore/ParameterSet/python/Config.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tests-ib-failure

#46935 ECAL - Make EcalUncalibRecHitSoAToLegacy a global module
  HLTrigger/Configuration/python/customizeHLTforCMSSW.py
  RecoLocalCalo/EcalRecProducers/plugins/EcalUncalibRecHitSoAToLegacy.cc
Labels: hlt-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, ecal

#46948 simplify flat mixing configuration
  Configuration/StandardSequences/python/Mixing.py
Labels: operations-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46956 Addition of RelVal to HLT HG Combined PCL workflow
  Configuration/PyReleaseValidation/python/relval_production.py
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#43969 Add {Copy,Move}ToDeviceCache<T> class templates and moveToDeviceAsync function template
  DataFormats/Portable/interface/PortableHostObject.h
  DataFormats/Portable/test/test_catch2_portableObjectOnHost.cc
  HeterogeneousCore/AlpakaCore/README.md
  HeterogeneousCore/AlpakaCore/interface/CopyToDeviceCache.h
  HeterogeneousCore/AlpakaCore/interface/MoveToDeviceCache.h
  HeterogeneousCore/AlpakaInterface/README.md
  HeterogeneousCore/AlpakaInterface/interface/CopyToDevice.h
  HeterogeneousCore/AlpakaInterface/interface/moveToDeviceAsync.h
  HeterogeneousCore/AlpakaInterface/test/BuildFile.xml
  HeterogeneousCore/AlpakaInterface/test/alpaka/testCopyBufferToDevice.dev.cc
  HeterogeneousCore/AlpakaInterface/test/alpaka/testMoveToDeviceAsync.dev.cc
  HeterogeneousCore/AlpakaTest/plugins/BuildFile.xml
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlgo.dev.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlgo.h
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaGlobalProducerCopyToDeviceCache.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaGlobalProducerMoveToDeviceCache.cc
  HeterogeneousCore/AlpakaTest/test/testAlpakaModules_cfg.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#46974 [Visualization] Replace fabs with std::abs to fix clang compilation warnings
  Fireworks/Calo/plugins/FWTracksterLayersProxyBuilder.cc
Labels: visualization-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tests-ib-failure

#46516 Improve ScoutingNano integration with autoNano
  Configuration/PyReleaseValidation/python/relval_nano.py
  PhysicsTools/NanoAOD/python/autoNANO.py
  PhysicsTools/NanoAOD/python/custom_run3scouting_cff.py
  PhysicsTools/NanoAOD/python/run3scouting_cff.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved, xpog-approved

#46650 Update CMS LLVM Analyzers
  Utilities/StaticAnalyzers/CMakeLists.txt
  Utilities/StaticAnalyzers/src/ClangCmsCheckerPluginRegister.cpp
  Utilities/StaticAnalyzers/src/CmsException.cpp
  Utilities/StaticAnalyzers/src/CmsException.h
  Utilities/StaticAnalyzers/src/CmsSupport.cpp
  Utilities/StaticAnalyzers/src/CmsSupport.h
  Utilities/StaticAnalyzers/src/MutableMemberModificationChecker.cpp
  Utilities/StaticAnalyzers/src/MutableMemberModificationChecker.h
  Utilities/StaticAnalyzers/src/PublicMutableChecker.cpp
  Utilities/StaticAnalyzers/src/PublicMutableChecker.h
  Utilities/StaticAnalyzers/src/UnnecessaryMutableChecker.cpp
  Utilities/StaticAnalyzers/src/UnnecessaryMutableChecker.h
  Utilities/StaticAnalyzers/test/BuildFile.xml
  Utilities/StaticAnalyzers/test/Makefile
  Utilities/StaticAnalyzers/test/class_checker.cpp
  Utilities/StaticAnalyzers/test/const_cast.cpp
  Utilities/StaticAnalyzers/test/const_cast_away.cpp
  Utilities/StaticAnalyzers/test/func_checker.cpp
  Utilities/StaticAnalyzers/test/global_static.cpp
  Utilities/StaticAnalyzers/test/global_static_edm.cpp
  Utilities/StaticAnalyzers/test/llvm_env
  Utilities/StaticAnalyzers/test/mutable_member.cpp
  Utilities/StaticAnalyzers/test/reference.log
  Utilities/StaticAnalyzers/test/run-clang
  Utilities/StaticAnalyzers/test/run-scan
  Utilities/StaticAnalyzers/test/run_static_checks.sh
  Utilities/StaticAnalyzers/test/static_local.cpp
  Utilities/StaticAnalyzers/test/unnecessary_mutable_member.cpp
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46953 Fix `HOST_DEVICE_CONSTANT` macro for AMD GPUs [14.2.x]
  FWCore/Utilities/interface/HostDeviceConstant.h
Labels: core-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#46978 [14_0] use ReadPrescalesFromFile=False in the GenericTriggerEventFlag of a bunch of DQM modules
  DQM/SiStripMonitorClient/python/SiStripSourceConfigTier0_cff.py
  DQMOffline/Trigger/python/BPHMonitor_cfi.py
  DQMOffline/Trigger/python/JetMonitor_cfi.py
  DQMOffline/Trigger/python/METMonitor_cfi.py
  DQMOffline/Trigger/python/MuonMonitor_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok, trk

#46950 Fixed memory leak in RegionalMuonGMTUnpacker [14_0]
  EventFilter/L1TRawToDigi/plugins/implementations_stage2/RegionalMuonGMTUnpacker.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, backport-ok

#46880 Standard 2024(2022,2023) Wfs For PR Testing
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/PyReleaseValidation/scripts/README.md
  Configuration/PyReleaseValidation/scripts/runTheMatrix.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#46934 Change ElectronID to the latest in python configuration for JetPlusTrack algoritm
  RecoJets/JetPlusTracks/plugins/JetPlusTrackCorrector.cc
  RecoJets/JetPlusTracks/python/JetPlusTrackCorrections_cff.py
  RecoJets/JetPlusTracks/python/JetPlusTrackCorrections_cfi.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46971 [DQM] Replace fabs with std::abs to fix clang warnings
  DPGAnalysis/HcalTools/plugins/CMTRawAnalyzer.cc
  DQM/SiStripCommissioningAnalysis/src/CalibrationScanAlgorithm.cc
  DQMOffline/CalibCalo/plugins/DQMHcalPhiSymAlCaReco.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#46983 [XPOG] Apply code checks/format
  PhysicsTools/NanoAOD/plugins/TauSpinnerTableProducer.cc
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#46970 MTD simulation: update hit classification, extend it to ETL, add last stored ancestor information to TrackInformation
  SimG4CMS/Calo/src/CaloSD.cc
  SimG4CMS/Forward/interface/MtdHitCategory.h
  SimG4CMS/Forward/interface/MtdSD.h
  SimG4CMS/Forward/interface/TimingSD.h
  SimG4CMS/Forward/src/MtdSD.cc
  SimG4CMS/Forward/src/TimingSD.cc
  SimG4CMS/Muon/src/MuonSensitiveDetector.cc
  SimG4CMS/Tracker/src/TkAccumulatingSensitiveDetector.cc
  SimG4Core/CustomPhysics/plugins/DBremWatcher.cc
  SimG4Core/Notification/interface/TrackInformation.h
  SimG4Core/Notification/src/MCTruthUtil.cc
  SimG4Core/Notification/src/TrackInformation.cc
  SimG4Core/SaveSimTrackAction/src/SaveSimTrack.cc
  SimGeneral/CaloAnalysis/plugins/BuildFile.xml
  SimGeneral/CaloAnalysis/plugins/MtdTruthAccumulator.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46984 [ML] Apply code checks/format
  PhysicsTools/TensorFlowAOT/src/Batching.cc
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, ml-approved

#46985 [SIMULATION] Apply code checks/format
  Mixing/Base/src/BMixingModule.cc
  Mixing/Base/src/PileUp.cc
  SimG4CMS/Calo/plugins/HGCalTestGuardRing.cc
  SimG4CMS/Calo/plugins/HGCalTestPartialWaferHits.cc
  SimG4CMS/Calo/plugins/HGCalTestScintHits.cc
  SimG4CMS/Calo/src/CaloMeanResponse.cc
  SimG4CMS/Calo/src/HGCScintSD.cc
  SimG4CMS/Calo/src/HGCalNumberingScheme.cc
  SimG4Core/CustomPhysics/src/CMSAntiSQ.cc
  SimG4Core/CustomPhysics/src/CMSSQ.cc
  SimG4Core/CustomPhysics/src/CMSSQNeutronAnnih.cc
  SimG4Core/CustomPhysics/src/CustomParticleFactory.cc
  SimG4Core/CustomPhysics/src/G4ProcessHelper.cc
  SimG4Core/Generators/src/Generator3.cc
  SimMuon/Neutron/plugins/NeutronHitsCollector.cc
  TauAnalysis/MCEmbeddingTools/plugins/CaloCleaner.cc
  TauAnalysis/MCEmbeddingTools/plugins/MuonDetCleaner.cc
  TauAnalysis/MCEmbeddingTools/plugins/TrackerCleaner.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46986 [RECONSTRUCTION-UPGRADE] Apply code checks/format
  RecoHGCal/TICL/plugins/TICLDumper.cc
  RecoHGCal/TICL/plugins/TICLGraph.cc
  RecoHGCal/TICL/plugins/TracksterLinkingbySkeletons.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#47001 [L1-XPOG] Apply code checks/format
  DPGAnalysis/L1TNanoAOD/plugins/P2GTTriggerResultsConverter.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#47008 MTD Validation: add efficiency plots for correct reco match
  Validation/MtdValidation/plugins/MtdTracksHarvester.cc
  Validation/MtdValidation/plugins/MtdTracksValidation.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, mtd

#46990 [DAQ-L1] Apply code checks/format
  L1TriggerScouting/OnlineProcessing/plugins/FinalBxSelector.cc
  L1TriggerScouting/OnlineProcessing/plugins/JetBxSelector.cc
  L1TriggerScouting/OnlineProcessing/plugins/MaskOrbitBx.cc
  L1TriggerScouting/OnlineProcessing/plugins/MuBxSelector.cc
  L1TriggerScouting/OnlineProcessing/plugins/MuTagJetBxSelector.cc
Labels: daq-approved, l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46994 [FASTSIM] Apply code checks/format
  FastSimulation/ForwardDetectors/plugins/ProtonTaggerFilter.cc
Labels: fastsim-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46993 [GEOMETRY-UPGRADE] Apply code checks/format
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalPassive.cc
  Geometry/MTDNumberingBuilder/plugins/DDCmsMTDConstruction.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#46997 [L1] Apply code checks/format
  DataFormats/L1GlobalTrigger/src/L1GtLogicParser.cc
  DataFormats/L1TGlobal/src/GlobalLogicParser.cc
  EventFilter/CSCTFRawToDigi/plugins/CSCTFPacker.cc
  EventFilter/CSCTFRawToDigi/plugins/CSCTFUnpacker.cc
  L1Trigger/GlobalCaloTrigger/plugins/L1GctEmulator.cc
  L1Trigger/GlobalCaloTrigger/plugins/L1GctPrintLuts.cc
  L1Trigger/L1TCaloLayer1/plugins/L1TCaloSummary.cc
  L1Trigger/L1TGlobal/plugins/L1TGlobalPrescalesVetosESProducer.cc
  L1Trigger/L1TGlobal/plugins/L1TGlobalPrescalesVetosFractESProducer.cc
  L1Trigger/L1TGlobal/plugins/TriggerMenuParser.cc
  L1Trigger/L1TMuonBarrel/src/L1MuBMTEtaPatternLut.cc
  L1Trigger/L1TMuonBarrel/src/L1MuBMTQualPatternLut.cc
  L1Trigger/L1TMuonBarrel/src/L1TMuonBarrelParamsHelper.cc
  L1Trigger/L1TMuonOverlapPhase1/src/Omtf/OMTFReconstruction.cc
  L1Trigger/L1TMuonOverlapPhase1/src/Tools/EmulationObserverBase.cc
  L1TriggerConfig/CSCTFConfigProducers/src/CSCTFConfigProducer.cc
  L1TriggerConfig/L1GtConfigProducers/src/L1GtVhdlTemplateFile.cc
  L1TriggerConfig/L1TConfigProducers/src/OnlineDBqueryHelper.cc
  L1TriggerConfig/RPCTriggerConfig/src/RPCTriggerConfig.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46996 [GEOMETRY] Apply code checks/format
  DetectorDescription/Core/src/DDValue.cc
  DetectorDescription/Parser/src/DDLParser.cc
  Geometry/ForwardGeometry/plugins/moduleDB.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46982 [ANALYSIS] Apply code checks/format
  PhysicsTools/FWLite/src/CommandLineParser.cc
  PhysicsTools/FWLite/src/TH1Store.cc
Labels: analysis-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47003 [RECONSTRUCTION] Apply code checks/format
  CommonTools/Utils/src/ExpressionFunctionSetter.cc
  CommonTools/Utils/src/TFileDirectory.cc
  DataFormats/Math/interface/private/AVXVec.h
  RecoEgamma/EgammaIsolationAlgos/plugins/SuperclusValueMapProducer.cc
  RecoEgamma/PhotonIdentification/plugins/PhotonXGBoostProducer.cc
  RecoJets/JetAlgorithms/src/CMSBoostedTauSeedingAlgorithm.cc
  RecoJets/JetProducers/plugins/ECFAdder.cc
  RecoLocalMuon/RPCRecHit/plugins/DTSegtoRPC.cc
  RecoLuminosity/LumiProducer/plugins/Lumi2DB.cc
  RecoLuminosity/LumiProducer/plugins/LumiCorrectionSource.cc
  RecoLuminosity/LumiProducer/plugins/LumiProducer.cc
  RecoMET/METFilters/plugins/MultiEventFilter.cc
  RecoMuon/TrackerSeedGenerator/plugins/MuonHLTSeedMVAClassifierPhase2.cc
  RecoMuon/TrackingTools/src/MuonErrorMatrix.cc
  RecoTracker/CkfPattern/plugins/GroupedCkfTrajectoryBuilder.cc
  RecoTracker/CkfPattern/src/CkfTrajectoryBuilder.cc
  RecoTracker/NuclearSeedGenerator/src/SeedFromNuclearInteraction.cc
  TrackingTools/TrajectoryParametrization/src/LocalTrajectoryError.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#46968 [14_1] Backport 46574: Rework Muon candidate selection in few tracker ALCARECO
  Alignment/CommonAlignmentProducer/plugins/AlignmentGoodIdMuonSelector.cc
  Alignment/CommonAlignmentProducer/plugins/AlignmentRelCombIsoMuonSelector.cc
  Alignment/CommonAlignmentProducer/plugins/BuildFile.xml
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlDiMuonAndVertex_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlMuonIsolated_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlUpsilonMuMu_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlZMuMuPA_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlZMuMu_cff.py
  Alignment/CommonAlignmentProducer/python/TkAlMuonSelectors_cfi.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOSiPixelCalSingleMuonTight_cff.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok, performance-improvements, trk

#46995 [DAQ] Apply code checks/format
  EventFilter/Utilities/plugins/GlobalEvFOutputModule.cc
  EventFilter/Utilities/src/DAQSource.cc
  IORawData/CSCCommissioning/src/CSCFileDumper.cc
Labels: daq-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46989 [L1-UPGRADE] Apply code checks/format
  L1Trigger/DTTriggerPhase2/src/MPCoincidenceFilter.cc
  L1Trigger/Phase2L1GT/plugins/L1GTObjectBoardWriter.cc
  L1Trigger/Phase2L1GT/plugins/L1GTProducer.cc
  L1Trigger/Phase2L1ParticleFlow/plugins/L1MetPfProducer.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#46998 [RECONSTRUCTION-XPOG] Apply code checks/format
  DataFormats/PatCandidates/src/TriggerObjectStandAlone.cc
  PhysicsTools/PatAlgos/plugins/DeDxEstimatorRekeyer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#47015 Decrease temporary memory held by PuppiProducer
  CommonTools/PileupAlgos/interface/PuppiAlgo.h
  CommonTools/PileupAlgos/interface/PuppiContainer.h
  CommonTools/PileupAlgos/plugins/PuppiProducer.cc
  CommonTools/PileupAlgos/src/PuppiAlgo.cc
  CommonTools/PileupAlgos/src/PuppiContainer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47011 Handle case where modules share memory in ModuleEventAllocMonitor
  PerfTools/AllocMonitor/plugins/ModuleEventAllocMonitor.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46809 Add Et distributions for BC & SC energy ECAL DQM plots
  DQM/EcalMonitorTasks/python/ClusterTask_cfi.py
  DQM/EcalMonitorTasks/src/ClusterTask.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46897 [NGT] Implement new seeding module for HLT Standalone Muon seeding and streamline HLT L3 Tracker Muon reconstruction
  Configuration/EventContent/python/EventContent_cff.py
  Configuration/ProcessModifiers/python/phase2L2AndL3Muons_cff.py
  Configuration/ProcessModifiers/python/phase2L3MuonsOIFirst_cff.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  DataFormats/MuonSeed/interface/L2MuonTrajectorySeed.h
  DataFormats/MuonSeed/src/L2MuonTrajectorySeed.cc
  DataFormats/MuonSeed/src/classes_def.xml
  HLTrigger/Configuration/python/HLT_75e33/modules/hltIter2Phase2L3FromL1TkMuonPixelSeedsFiltered_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltL2MuonSeedsFromL1TkMuon_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2L3FromL1TkMuonPixelTracksTrackingRegions_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2L3MuonFilter_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2L3MuonMerged_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2L3OISeedsFromL2Muons_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_AK4PFPuppiJet520_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_DoubleMediumChargedIsoPFTauHPS40_eta2p1_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_DoubleMediumDeepTauPFTauHPS35_eta2p1_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_DoublePFPuppiJets128_DoublePFPuppiBTagDeepCSV_2p4_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_DoublePFPuppiJets128_DoublePFPuppiBTagDeepFlavour_2p4_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_IsoMu20_eta2p1_LooseDeepTauPFTauHPS27_eta2p1_CrossL1_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_IsoMu24_FromL1TkMuon_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Mu17_TrkIsoVVL_Mu8_TrkIsoVVL_DZ_FromL1TkMuon_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Mu37_Mu27_FromL1TkMuon_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Mu50_FromL1TkMuon_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_PFHT200PT30_QuadPFPuppiJet_70_40_30_30_TriplePFPuppiBTagDeepCSV_2p4_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_PFHT200PT30_QuadPFPuppiJet_70_40_30_30_TriplePFPuppiBTagDeepFlavour_2p4_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_PFHT330PT30_QuadPFPuppiJet_75_60_45_40_TriplePFPuppiBTagDeepCSV_2p4_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_PFHT330PT30_QuadPFPuppiJet_75_60_45_40_TriplePFPuppiBTagDeepFlavour_2p4_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_PFPuppiHT1070_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_PFPuppiMETTypeOne140_PFPuppiMHT140_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_TriMu_10_5_5_DZ_FromL1TkMuon_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/MC_BTV_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/MC_JME_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTIter0Phase2L3FromL1TkSequence_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTIter2Phase2L3FromL1TkSequence_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTL2MuonsFromL1TkSequence_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTMuonsSequence_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTPhase2L3FromL1TkSequence_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTPhase2L3MuonsSequence_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTPhase2L3OISequence_cfi.py
  L1Trigger/Configuration/python/L1Trigger_EventContent_cff.py
  RecoMuon/L2MuonSeedGenerator/src/Phase2L2MuonSeedCreator.cc
  RecoMuon/L2MuonSeedGenerator/src/Phase2L2MuonSeedCreator.h
  RecoMuon/L3TrackFinder/interface/Phase2HLTMuonSelectorForL3.h
  RecoMuon/L3TrackFinder/src/Phase2HLTMuonSelectorForL3.cc
  Validation/RecoMuon/python/associators_cff.py
  Validation/RecoMuon/python/muonValidationHLT_cff.py
Labels: dqm-approved, hlt-approved, l1-approved, operations-approved, reconstruction-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved, changes-dataformats, ngt, allow-Parsifal-2045

#46967 Improvements to the LST workflows and small general LST fixes
  Configuration/PyReleaseValidation/README.md
  Configuration/PyReleaseValidation/python/relval_Run4.py
  Configuration/PyReleaseValidation/python/relval_gpu.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  DQM/TrackingMonitorSource/python/TrackingSourceConfig_Tier0_cff.py
  RecoTracker/LST/plugins/LSTOutputConverter.cc
  RecoTracker/LSTCore/BuildFile.xml
  RecoTracker/LSTCore/interface/Common.h
  RecoTracker/LSTCore/interface/QuintupletsSoA.h
  RecoTracker/LSTCore/interface/alpaka/Common.h
  RecoTracker/LSTCore/src/ModuleMethods.h
  RecoTracker/LSTCore/src/alpaka/Hit.h
  RecoTracker/LSTCore/src/alpaka/LSTEvent.dev.cc
  RecoTracker/LSTCore/src/alpaka/PixelQuintuplet.h
  RecoTracker/LSTCore/src/alpaka/Quintuplet.h
  RecoTracker/LSTCore/src/alpaka/TrackCandidate.h
  RecoTracker/LSTCore/standalone/LST/Makefile
  RecoTracker/LSTCore/standalone/Makefile
  RecoTracker/LSTCore/standalone/setup.sh
Labels: dqm-approved, reconstruction-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved, tracking

#46976 clean-up unused inclusions in HLT paths in Phase2 HLT menu
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Diphoton30_23_IsoCaloId_L1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Diphoton30_23_IsoCaloId_Unseeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_DoubleEle23_12_Iso_L1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_DoubleEle25_CaloIdL_PMS2_L1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_DoubleEle25_CaloIdL_PMS2_Unseeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Ele115_NonIso_L1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Ele26_WP70_L1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Ele26_WP70_Unseeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Ele32_WPTight_L1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Ele32_WPTight_Unseeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Mu17_TrkIsoVVL_Mu8_TrkIsoVVL_DZ_FromL1TkMuon_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Mu50_FromL1TkMuon_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Photon108EB_TightID_TightIso_L1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Photon108EB_TightID_TightIso_Unseeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Photon187_L1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Photon187_Unseeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_TriMu_10_5_5_DZ_FromL1TkMuon_cfi.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46973 [Geometry] Use std::abs to fix clang compilation warnings
  DetectorDescription/DDCMS/test/DDFilteredView.find.cppunit.cc
  DetectorDescription/DDCMS/test/DDFilteredView.get.cppunit.cc
  DetectorDescription/DDCMS/test/DDFilteredView.goto.cppunit.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47025 Reduce memory held between Events in PFProducer
  RecoParticleFlow/PFProducer/interface/PFAlgo.h
  RecoParticleFlow/PFProducer/plugins/PFProducer.cc
  RecoParticleFlow/PFProducer/src/PFAlgo.cc
  RecoParticleFlow/PFProducer/src/PFMuonAlgo.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47023 speed up shared-hits cleaning in `TrackerSeedCleaner`
  RecoMuon/TrackerSeedGenerator/interface/RedundantSeedCleaner.h
  RecoMuon/TrackerSeedGenerator/interface/TrackerSeedCleaner.h
  RecoMuon/TrackerSeedGenerator/src/RedundantSeedCleaner.cc
  RecoMuon/TrackerSeedGenerator/src/TrackerSeedCleaner.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47024 ParameterSet/Config.py: Use realpath of cmssw area to avoid symlink issue
  FWCore/ParameterSet/python/Config.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47026 Run3-gem82 Change in GE21 setup in view of last minute changes
  Geometry/CMSCommonData/data/cmsextent/2018/v0/cmsextent.xml
  Geometry/MuonCommonData/data/gem21/2025/v2/gem21.xml
  Geometry/MuonCommonData/python/testGE21XML_cfi.py
  Geometry/MuonCommonData/test/python/dumpGE0_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#47028 Add central `synchronize` configuration parameter to Alpaka modules
  HeterogeneousCore/AlpakaCore/README.md
  HeterogeneousCore/AlpakaCore/interface/alpaka/EDMetadataAcquireSentry.h
  HeterogeneousCore/AlpakaCore/interface/alpaka/EDMetadataSentry.h
  HeterogeneousCore/AlpakaCore/interface/alpaka/ESProducer.h
  HeterogeneousCore/AlpakaCore/interface/alpaka/ProducerBase.h
  HeterogeneousCore/AlpakaCore/interface/alpaka/global/EDProducer.h
  HeterogeneousCore/AlpakaCore/interface/alpaka/stream/EDProducer.h
  HeterogeneousCore/AlpakaCore/interface/alpaka/stream/SynchronizingEDProducer.h
  HeterogeneousCore/AlpakaCore/interface/modulePrevalidate.h
  HeterogeneousCore/AlpakaCore/interface/module_backend_config.h
  HeterogeneousCore/AlpakaCore/python/ProcessAcceleratorAlpaka.py
  HeterogeneousCore/AlpakaCore/src/alpaka/EDMetadataAcquireSentry.cc
  HeterogeneousCore/AlpakaCore/src/alpaka/EDMetadataSentry.cc
  HeterogeneousCore/AlpakaCore/src/modulePrevalidate.cc
  HeterogeneousCore/AlpakaCore/src/module_backend_config.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaGlobalProducer.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaGlobalProducerE.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaGlobalProducerNoOutput.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaGlobalProducerNullES.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaGlobalProducerOffset.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaGlobalProducerWithPtr.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaProducer.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaStreamProducer.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaStreamSynchronizingProducer.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaStreamSynchronizingProducerToDevice.cc
  HeterogeneousCore/AlpakaTest/test/testAlpakaModules.sh
  HeterogeneousCore/AlpakaTest/test/testAlpakaModules_cfg.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved
