Repository cms-sw/cmssw, pull requests merged in 2025-07, with the labels that each got.

#48361 Update HLT MultiTrackValidator
  DQMOffline/Trigger/python/TrackingMonitoring_cff.py
  Validation/RecoTrack/python/HLTmultiTrackValidator_cff.py
  Validation/RecoTrack/python/HLTmultiTrackValidator_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#48455 fix the loop range in mkFit MkFinder hit checks (backport of #48454)
  RecoTracker/MkFitCore/src/MkFinder.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, backport-ok, tracking

#48428 Phase2-hgx364S Modify some parameters for the no cell option for the V19 scenario
  Geometry/HGCalCommonData/data/hgcalCons/v19/hgcalCons.xml
  Geometry/HGCalCommonData/data/hgcalCons/v19n/hgcalCons.xml
  Geometry/HGCalCommonData/data/hgcalCons/v19ng/hgcalCons.xml
  Geometry/HGCalCommonData/python/testHGCalV19nReco_cff.py
  Geometry/HGCalCommonData/src/HGCalDDDConstants.cc
  SimG4CMS/Calo/src/HGCalSD.cc
  SimG4CMS/Calo/test/python/runHGC1_cfg.py
Labels: geometry-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#48391 Remove deprecated genParticleCandidates
  CommonTools/CandAlgos/test/testCandSelectors.py
  GeneratorInterface/AlpgenInterface/test/test_TEMPLATE_cfg.py
  PhysicsTools/HepMCCandAlgos/python/allElectronsGenParticlesMatch_cfi.py
  PhysicsTools/HepMCCandAlgos/python/allMuonsGenParticlesMatch_cfi.py
  PhysicsTools/HepMCCandAlgos/python/allStandAloneMuonTracksGenParticlesLeptonMatch_cfi.py
  PhysicsTools/HepMCCandAlgos/python/allSuperClustersGenParticlesLeptonMatch_cfi.py
  PhysicsTools/HepMCCandAlgos/python/allTracksGenParticlesLeptonMatch_cfi.py
  PhysicsTools/HepMCCandAlgos/python/allTracksGenParticlesMatch_cfi.py
  PhysicsTools/HepMCCandAlgos/python/genParticleCandidates2GenParticles_cfi.py
  PhysicsTools/HepMCCandAlgos/python/genParticleCandidatesFast_cfi.py
  PhysicsTools/HepMCCandAlgos/python/genParticleCandidates_cfi.py
  RecoJets/JetAnalyzers/src/myFastSimVal.cc
  RecoJets/JetProducers/src/JetMatchingTools.cc
  RecoMET/Configuration/python/GenMETParticles_cff.py
  RecoMuon/MuonIdentification/test/TestMuonIdProducerCosmics_cfg.py
  RecoMuon/MuonIdentification/test/TestMuonIdProducer_cfg.py
Labels: analysis-approved, generators-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48461 [TrackingTools/KalmanUpdators] Add using declaration to prevent funct…
  TrackingTools/KalmanUpdators/interface/MRHChi2MeasurementEstimator.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#48462 [NGT] Fix filling of ValueMap for DeepJet scores for NanoAOD Phase2 HLT
  HLTrigger/NGTScouting/python/HLTNanoProducer_cff.py
  HLTrigger/NGTScouting/python/hltTriggerAcceptFilter_cfi.py
  RecoBTag/ONNXRuntime/plugins/DeepFlavourONNXJetTagsProducer.cc
Labels: hlt-approved, reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, ngt

#48414 adds Heavy Ion initialization to Pythia
  GeneratorInterface/Pythia8Interface/plugins/Pythia8Hadronizer.cc
Labels: generators-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48467 Update getCudaCoresPerSM for Blackwell GPUs
  HeterogeneousCore/CUDAServices/plugins/CUDAService.cc
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#48483 Change of HF threshold of OO era
  SimCalorimetry/HcalTrigPrimProducers/python/hcaltpdigi_cff.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48453 `ScoutingCollectionMonitor` add muon "Vtx" collections
  DQM/HLTEvF/plugins/ScoutingCollectionMonitor.cc
  DQM/HLTEvF/python/ScoutingCollectionMonitor_cfi.py
Labels: dqm-approved, hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, ngt

#48464 MTD Validation: update vertex multiplicity plots
  Validation/MtdValidation/plugins/Primary4DVertexHarvester.cc
  Validation/MtdValidation/plugins/Primary4DVertexValidation.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48477 Fix for `n_layers` Check in `CAHitNtupletAlpaka::globalBeginRun`
  RecoTracker/PixelSeeding/plugins/alpaka/CAHitNtuplet.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, tracking

#48466 MTD DetId: add static methods to MTDDetId to test whether it is BTL or ETL
  DataFormats/ForwardDetId/interface/MTDDetId.h
  DataFormats/ForwardDetId/test/BuildFile.xml
  DataFormats/ForwardDetId/test/testMTD.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#48484 [15_0_X]: Change of HF threshold of OO era.
  SimCalorimetry/HcalTrigPrimProducers/python/hcaltpdigi_cff.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved

#48474 Improved Event Content for the `TkAlHLT*` ALCARECO
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlHLTTracksZMuMu_Output_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlHLTTracksZMuMu_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlHLTTracks_Output_cff.py
  Alignment/CommonAlignmentProducer/src/AlignmentTracksFromVertexSelector.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48480 update a vertex smearing parameters for 2025 pO MC
  Configuration/StandardSequences/python/VtxSmeared.py
  IOMC/EventVertexGenerators/python/VtxSmearedParameters_cfi.py
  IOMC/EventVertexGenerators/python/VtxSmearedRealistic2025pOCollision_cfi.py
Labels: operations-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48476 Backport to change fromVertex parameter from False to True for DGL reconstruction
  RecoMuon/Configuration/python/DisplacedMuonSeededStep_cff.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, ppd-approved

#48450 [15.0.X] New HLT Scouting DQM Online Client
  DQM/HLTEvF/python/ScoutingJetMonitoring_cff.py
  DQM/HLTEvF/python/ScoutingMuonMonitoring_cff.py
  DQM/Integration/python/clients/scouting_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/config/unittestinputsource_cfi.py
  DQM/Integration/test/BuildFile.xml
  DQMOffline/JetMET/interface/JetAnalyzer.h
  DQMOffline/JetMET/interface/JetMETDQMDCSFilter.h
  DQMOffline/JetMET/src/JetAnalyzer.cc
  DQMOffline/JetMET/src/JetMETDQMDCSFilter.cc
Labels: dqm-approved, hlt-approved, fully-signed, tests-approved, orp-approved, requires-external, backport-ok

#48404 [15.0.X] Strip overlap check for different product ID
  DataFormats/TrackerRecHit2D/interface/OmniClusterRef.h
  DataFormats/TrackerRecHit2D/interface/SiStripMatchedRecHit2D.h
  DataFormats/TrackerRecHit2D/interface/TrackerSingleRecHit.h
  DataFormats/TrackerRecHit2D/src/BaseTrackerRecHit.cc
  DataFormats/TrackerRecHit2D/src/SiStripMatchedRecHit2D.cc
  DataFormats/TrackerRecHit2D/src/VectorHit.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, tracking

#48456 [15.0.X] `ScoutingCollectionMonitor` add muon "Vtx" collections
  DQM/HLTEvF/plugins/ScoutingCollectionMonitor.cc
  DQM/HLTEvF/python/ScoutingCollectionMonitor_cfi.py
Labels: dqm-approved, hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok, ngt

#48486 [15.0.X] Improved Event Content for the `TkAlHLT*` ALCARECO
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlHLTTracksZMuMu_Output_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlHLTTracksZMuMu_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlHLTTracks_Output_cff.py
  Alignment/CommonAlignmentProducer/src/AlignmentTracksFromVertexSelector.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok

#48489 [15_0_X]:Add FSC to the DQM.
  DQM/HcalTasks/plugins/ZDCQIE10Task.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#48488 [SIM] Clean up custom physics sub-library
  SimG4Core/CustomPhysics/interface/APrimePhysics.h
  SimG4Core/CustomPhysics/interface/CMSAPrime.h
  SimG4Core/CustomPhysics/interface/CMSAntiSIMP.h
  SimG4Core/CustomPhysics/interface/CMSAntiSQ.h
  SimG4Core/CustomPhysics/interface/CMSDarkPairProduction.h
  SimG4Core/CustomPhysics/interface/CMSDarkPairProductionProcess.h
  SimG4Core/CustomPhysics/interface/CMSSIMPInelasticProcess.h
  SimG4Core/CustomPhysics/interface/CMSSIMPInelasticXS.h
  SimG4Core/CustomPhysics/interface/CMSSQ.h
  SimG4Core/CustomPhysics/interface/CMSSQInelasticCrossSection.h
  SimG4Core/CustomPhysics/interface/CMSSQLoopProcess.h
  SimG4Core/CustomPhysics/interface/CMSSQLoopProcessDiscr.h
  SimG4Core/CustomPhysics/interface/CMSmuDarkBremsstrahlung.h
  SimG4Core/CustomPhysics/interface/CMSmuDarkBremsstrahlungModel.h
  SimG4Core/CustomPhysics/interface/CustomPhysicsList.h
  SimG4Core/CustomPhysics/interface/CustomPhysicsListSS.h
  SimG4Core/CustomPhysics/interface/CustomProcessHelper.h
  SimG4Core/CustomPhysics/interface/FullModelHadronicProcess.h
  SimG4Core/CustomPhysics/interface/FullModelReactionDynamics.h
  SimG4Core/CustomPhysics/interface/G4APrime.h
  SimG4Core/CustomPhysics/plugins/DBremWatcher.cc
  SimG4Core/CustomPhysics/src/APrimePhysics.cc
  SimG4Core/CustomPhysics/src/CMSAPrime.cc
  SimG4Core/CustomPhysics/src/CMSDarkPairProduction.cc
  SimG4Core/CustomPhysics/src/CMSDarkPairProductionProcess.cc
  SimG4Core/CustomPhysics/src/CMSSIMPInelasticProcess.cc
  SimG4Core/CustomPhysics/src/CMSSIMPInelasticXS.cc
  SimG4Core/CustomPhysics/src/CMSSQInelasticCrossSection.cc
  SimG4Core/CustomPhysics/src/CMSmuDarkBremsstrahlung.cc
  SimG4Core/CustomPhysics/src/CMSmuDarkBremsstrahlungModel.cc
  SimG4Core/CustomPhysics/src/CustomPhysicsList.cc
  SimG4Core/CustomPhysics/src/CustomPhysicsListSS.cc
  SimG4Core/CustomPhysics/src/CustomProcessHelper.cc
  SimG4Core/CustomPhysics/src/FullModelHadronicProcess.cc
  SimG4Core/CustomPhysics/src/FullModelReactionDynamics.cc
  SimG4Core/CustomPhysics/src/G4APrime.cc
  SimG4Core/CustomPhysics/src/G4muDarkBremsstrahlung.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48509 fix HLT TICL reconstruction sequences when `ticl_barrel` is invoked in presence of the `alpaka` modifier
  HLTrigger/Configuration/python/HLT_75e33/modules/hltMergeLayerClusters_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTHgcalTiclPFClusteringForEgammaL1SeededSequence_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTHgcalTiclPFClusteringForEgammaUnseededSequence_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTTICLLocalRecoSequence_cfi.py
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved

#48497 Phase2-hgx364T Correct the cell-less scenario for the V19 version of HGCal geometry
  Geometry/HGCalCommonData/data/hgcalwafer/v19n/hgcalwafer.xml
  Geometry/HGCalCommonData/data/hgcalwafer/v19ng/hgcalwafer.xml
  Geometry/HGCalCommonData/data/hgcalwafer/v19ngr/hgcalwafer.xml
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#48289 [L1T] L1 Scouting multi-BX Online Selection based on BMTF stubs
  L1TriggerScouting/OnlineProcessing/plugins/BMTFStubMultiBxSelector.cc
  L1TriggerScouting/OnlineProcessing/test/L1ScoutingSelector.py
Labels: daq-approved, l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48485 [15_0_X] update a vertex smearing parameters for 2025 pO MC
  Configuration/StandardSequences/python/VtxSmeared.py
  IOMC/EventVertexGenerators/python/VtxSmearedParameters_cfi.py
  IOMC/EventVertexGenerators/python/VtxSmearedRealistic2025pOCollision_cfi.py
Labels: operations-approved, simulation-approved, fully-signed, tests-approved, orp-approved

#48537 Fix SwitchProducer used with named module
  FWCore/ParameterSet/python/Modules.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48533 `TkAlHLTTracks*`: futher amendments of Event Content
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlHLTTracksZMuMu_Output_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlHLTTracks_Output_cff.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48513 pileup profiles for Run3pp13p6TeVSpring25 MC compaign
  Configuration/StandardSequences/python/Mixing.py
  SimGeneral/MixingModule/python/mix_2025_25ns_Run3pp13p6TeVSpring25_PoissonOOTPU_cfi.py
Labels: operations-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48524 Run3-alca256 Make available PFCuts for the year 2025 and equip CalibPlotProperties to display some of the basic differences between two sets of AlCa i/p files
  Calibration/HcalCalibAlgos/macros/CalibCorr.C
  Calibration/HcalCalibAlgos/macros/CalibMain.C
  Calibration/HcalCalibAlgos/macros/CalibPlotProperties.C
  Calibration/HcalCalibAlgos/macros/PFCuts2025.txt
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48529 Update `ScoutingMuonTriggerAnalyzer` trigger selections
  HLTriggerOffline/Scouting/python/ScoutingMuonTriggerAnalyzer_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48528 Phase2-hgx364U Add a few more utility methoods in RecHitTools which depend on the chosen detector geometry scenario
  RecoLocalCalo/HGCalRecAlgos/interface/RecHitTools.h
  RecoLocalCalo/HGCalRecAlgos/src/RecHitTools.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#48512 [TkAl] Add "extract" jobs for the PixelBarycentre validation in the All-in-One framework
  Alignment/OfflineValidation/README.md
  Alignment/OfflineValidation/README_PixBary.md
  Alignment/OfflineValidation/python/TkAlAllInOneTool/PixBary.py
  Alignment/OfflineValidation/python/TkAlAllInOneTool/PixelBaryCentreAnalyzer_cfg.py
  Alignment/OfflineValidation/scripts/extractBaryCentre.py
  Alignment/OfflineValidation/test/testingScripts/test_unitPixBary.sh
  Alignment/OfflineValidation/test/unit_test.json
  Alignment/OfflineValidation/test/unit_test.yaml
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#48530 [15.0.X] Update `ScoutingMuonTriggerAnalyzer` trigger selections
  HLTriggerOffline/Scouting/python/ScoutingMuonTriggerAnalyzer_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#48506 Add PU related plots for ECAL Spike Killer monitoring
  DQM/EcalMonitorTasks/interface/TrigPrimTask.h
  DQM/EcalMonitorTasks/python/TrigPrimTask_cfi.py
  DQM/EcalMonitorTasks/src/OccupancyTask.cc
  DQM/EcalMonitorTasks/src/TrigPrimTask.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48510 HCAL DQM: Update laser monitoring tasks for new laser in hcal calibration events
  DQM/HcalCommon/interface/Constants.h
  DQM/HcalCommon/interface/ValueQuantity.h
  DQM/HcalTasks/interface/HFRaddamTask.h
  DQM/HcalTasks/interface/LaserTask.h
  DQM/HcalTasks/interface/UMNioTask.h
  DQM/HcalTasks/plugins/HFRaddamTask.cc
  DQM/HcalTasks/plugins/LaserTask.cc
  DQM/HcalTasks/plugins/UMNioTask.cc
  DQM/HcalTasks/python/HFRaddamTask_cfi.py
  DQM/HcalTasks/python/LaserTask_cfi.py
  DQM/HcalTasks/python/UMNioTask_cfi.py
  DQM/Integration/python/clients/hcalcalib_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48522 Add non-corrected timing plots in ECAL DQM
  DQM/EcalMonitorTasks/interface/TimingTask.h
  DQM/EcalMonitorTasks/python/TimingTask_cfi.py
  DQM/EcalMonitorTasks/src/TimingTask.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, ecal

#48505 Fix fillDescriptions default for LHEPtFilter
  GeneratorInterface/GenFilters/plugins/LHEPtFilter.cc
Labels: generators-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48525 [15_0_X] [L1T] L1 Scouting multi-BX Online Selection based on BMTF stubs
  L1TriggerScouting/OnlineProcessing/plugins/BMTFStubMultiBxSelector.cc
  L1TriggerScouting/OnlineProcessing/test/L1ScoutingSelector.py
Labels: daq-approved, l1-approved, fully-signed, tests-approved, orp-approved, backport-ok

#48523 [150X] Add non-corrected timing plots in ECAL DQM
  DQM/EcalMonitorTasks/interface/TimingTask.h
  DQM/EcalMonitorTasks/python/TimingTask_cfi.py
  DQM/EcalMonitorTasks/src/TimingTask.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok, ecal

#48511 HCAL DQM: Update laser monitoring tasks for new laser -- backport of #48510
  DQM/HcalCommon/interface/Constants.h
  DQM/HcalCommon/interface/ValueQuantity.h
  DQM/HcalTasks/interface/HFRaddamTask.h
  DQM/HcalTasks/interface/LaserTask.h
  DQM/HcalTasks/interface/UMNioTask.h
  DQM/HcalTasks/plugins/HFRaddamTask.cc
  DQM/HcalTasks/plugins/LaserTask.cc
  DQM/HcalTasks/plugins/UMNioTask.cc
  DQM/HcalTasks/python/HFRaddamTask_cfi.py
  DQM/HcalTasks/python/LaserTask_cfi.py
  DQM/HcalTasks/python/UMNioTask_cfi.py
  DQM/Integration/python/clients/hcalcalib_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#48432 Fix bugs and logic in ibeos das client
  Configuration/PyReleaseValidation/python/MatrixReader.py
  Utilities/General/ibeos/das_client
  Utilities/General/scripts/ibeos-lfn-sort
Labels: core-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#48555 Run3-alca257 Change FitPlot and PlotPropertiies to chck differences between EGamma and AlCaRaw
  Calibration/HcalCalibAlgos/macros/CalibFitPlots.C
  Calibration/HcalCalibAlgos/macros/CalibPlotProperties.C
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48544 Switch Concurrency test to use catch2
  FWCore/Concurrency/test/BuildFile.xml
  FWCore/Concurrency/test/limitedtaskqueue_t.cppunit.cpp
  FWCore/Concurrency/test/serialtaskqueue_t.cppunit.cpp
  FWCore/Concurrency/test/serialtaskqueuechain_t.cppunit.cpp
  FWCore/Concurrency/test/test2_catch2_limitedtaskqueue.cc
  FWCore/Concurrency/test/test2_catch2_serialtaskqueue.cc
  FWCore/Concurrency/test/test2_catch2_serialtaskqueuechain.cc
  FWCore/Concurrency/test/test2_catch2_waitingtasklist.cc
  FWCore/Concurrency/test/waitingtasklist_t.cppunit.cpp
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48503 [14_1_X] Setup tests for 2023 PbPb UPC rereco MC
  Configuration/PyReleaseValidation/test/BuildFile.xml
  Configuration/PyReleaseValidation/test/test_mc_setup/test_MC_setup.sh
  Configuration/PyReleaseValidation/test/test_mc_setup/test_MC_setup_gen_sim.sh
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, tests-external-failure

#48551 Phase2-hgx364X Equip RecHitTools with a few more utilities to find # of wafer types and the thicknesses in the current geometries
  Geometry/HGCalCommonData/interface/HGCalDDDConstants.h
  RecoLocalCalo/HGCalRecAlgos/interface/RecHitTools.h
  RecoLocalCalo/HGCalRecAlgos/src/RecHitTools.cc
  RecoLocalCalo/HGCalRecAlgos/test/HGCalTestRecHitTools.cc
  RecoLocalCalo/HGCalRecAlgos/test/testHGCalRecHitTools_cfg.py
Labels: geometry-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#48576 [SIM] Minor code update for future use of GPU
  SimG4Core/Application/src/RunManagerMTWorker.cc
  SimG4Core/Notification/interface/CurrentG4Track.h
  SimG4Core/Notification/src/CurrentG4Track.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48584 Fix the list of modules in regional digi morphing
  RecoLocalTracker/SiPixelDigiReProducers/plugins/SiPixelDigiMorphing.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, code-checks-approved, trk

#48575 Removed call to TH1::SetDefaultSumw2 found in harvesting step
  DQMOffline/MuonDPG/plugins/TnPEfficiencyClient.cc
  DQMOffline/PFTau/plugins/PFClient.cc
  DQMOffline/PFTau/plugins/PFClient.h
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48563 Disable HIP/ROCm device-side error tests
  DataFormats/SoATemplate/test/SoALayoutAndView_t.hip.cc
  HeterogeneousCore/AlpakaInterface/test/alpaka/testBuffer.dev.cc
Labels: fully-signed, tests-approved, bug-fix, orp-approved, requires-external, code-checks-approved, heterogeneous-approved

#48585 [15.0.X] Fix the list of modules in regional digi morphing
  RecoLocalTracker/SiPixelDigiReProducers/plugins/SiPixelDigiMorphing.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, trk, ppd-approved

#48542 [15_0_X] PPS: Increase X-axis range for "RP State per Lumisection" DQM plot to 3000 LS
  DQM/CTPPS/plugins/CTPPSCommonDQMSource.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved

#48532 DDD testing
  Geometry/HGCalCommonData/data/missD120.txt
  Geometry/HGCalCommonData/test/HGCalTestDDDCons.cc
  Geometry/HGCalCommonData/test/python/testHGCalDDDCons_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#48594 Add new functionality for upward going case in the Cosmics generator
  Configuration/Generator/python/UndergroundCosmicMu_cfi.py
  Configuration/Generator/python/UndergroundCosmicSPLooseMu_cfi.py
  GeneratorInterface/CosmicMuonGenerator/interface/CosMuoGenProducer.h
  GeneratorInterface/CosmicMuonGenerator/interface/CosmicMuonGenerator.h
  GeneratorInterface/CosmicMuonGenerator/python/CMSCGENproducer_cfi.py
  GeneratorInterface/CosmicMuonGenerator/src/CosMuoGenProducer.cc
  GeneratorInterface/CosmicMuonGenerator/src/CosmicMuonGenerator.cc
Labels: generators-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48602 filling time variable when the hit is cleaned
  RecoParticleFlow/PFClusterProducer/interface/PFEcalBarrelRecHitCreator.h
  RecoParticleFlow/PFClusterProducer/interface/PFEcalEndcapRecHitCreator.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48519 Use ScheduleBuilder to handle module construction
  FWCore/Framework/interface/GlobalSchedule.h
  FWCore/Framework/interface/ModuleInPath.h
  FWCore/Framework/interface/ModuleRegistry.h
  FWCore/Framework/interface/OutputModuleCore.h
  FWCore/Framework/interface/PathsAndConsumesOfModules.h
  FWCore/Framework/interface/Schedule.h
  FWCore/Framework/interface/StreamSchedule.h
  FWCore/Framework/interface/WorkerManager.h
  FWCore/Framework/interface/WorkerRegistry.h
  FWCore/Framework/interface/global/EDAnalyzerBase.h
  FWCore/Framework/interface/global/EDFilterBase.h
  FWCore/Framework/interface/global/EDProducerBase.h
  FWCore/Framework/interface/limited/EDAnalyzerBase.h
  FWCore/Framework/interface/limited/EDFilterBase.h
  FWCore/Framework/interface/limited/EDProducerBase.h
  FWCore/Framework/interface/maker/ModuleHolder.h
  FWCore/Framework/interface/maker/ModuleSignalSentry.h
  FWCore/Framework/interface/maker/Worker.h
  FWCore/Framework/interface/maker/WorkerT.h
  FWCore/Framework/interface/one/EDAnalyzerBase.h
  FWCore/Framework/interface/one/EDFilterBase.h
  FWCore/Framework/interface/one/EDProducerBase.h
  FWCore/Framework/interface/stream/EDAnalyzerAdaptorBase.h
  FWCore/Framework/interface/stream/ProducingModuleAdaptorBase.h
  FWCore/Framework/src/GlobalSchedule.cc
  FWCore/Framework/src/ModuleHolderT.cc
  FWCore/Framework/src/PathsAndConsumesOfModules.cc
  FWCore/Framework/src/Schedule.cc
  FWCore/Framework/src/ScheduleBuilder.cc
  FWCore/Framework/src/ScheduleBuilder.h
  FWCore/Framework/src/StreamSchedule.cc
  FWCore/Framework/src/WorkerManager.cc
  FWCore/Framework/src/WorkerRegistry.cc
  FWCore/Framework/src/WorkerT.cc
  FWCore/Framework/test/BuildFile.xml
  FWCore/Framework/test/global_outputmodule_t.cppunit.cc
  FWCore/Framework/test/limited_outputmodule_t.cppunit.cc
  FWCore/Framework/test/one_outputmodule_t.cppunit.cc
  FWCore/Framework/test/test_catch2_ScheduleBuilder.cc
  FWCore/Integration/test/unit_test_outputs/testConsumesInfo_1.log
  Mixing/Base/src/SecondaryEventProvider.cc
  Mixing/Base/src/SecondaryEventProvider.h
Labels: core-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tests-ib-failure

#48570 register `HGCalLayerClusterPluginFactory` only once
  RecoLocalCalo/HGCalRecProducers/plugins/SealModules.cc
  RecoLocalCalo/HGCalRecProducers/src/HGCalLayerClusterPluginFactory.cc
  RecoParticleFlow/PFClusterProducer/BuildFile.xml
  RecoParticleFlow/PFClusterProducer/plugins/SealModules.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#48583 Adding Calo RecHits to the Scouting Event Content (end of 2025 data-taking)
  DataFormats/Scouting/interface/Run3ScoutingEBRecHit.h
  DataFormats/Scouting/interface/Run3ScoutingEERecHit.h
  DataFormats/Scouting/interface/Run3ScoutingHBHERecHit.h
  DataFormats/Scouting/src/classes.h
  DataFormats/Scouting/src/classes_def.xml
  DataFormats/Scouting/test/TestReadRun3Scouting.cc
  DataFormats/Scouting/test/TestRun3ScoutingFormats.sh
  DataFormats/Scouting/test/TestWriteRun3Scouting.cc
  DataFormats/Scouting/test/create_Run3Scouting_test_file_cfg.py
  DataFormats/Scouting/test/test_readRun3Scouting_cfg.py
  HLTrigger/special/plugins/BuildFile.xml
  HLTrigger/special/plugins/HLTScoutingRecHitProducer.cc
Labels: core-approved, hlt-approved, fully-signed, tests-approved, orp-approved, urgent, code-checks-approved, hlt-integration, changes-dataformats

#48589 Remove SubProcess from EventSetup code
  FWCore/Framework/bin/cmsRun.cpp
  FWCore/Framework/interface/ComponentFactory.h
  FWCore/Framework/interface/ComponentMaker.h
  FWCore/Framework/interface/EventProcessor.h
  FWCore/Framework/interface/EventSetupProvider.h
  FWCore/Framework/interface/EventSetupRecordIOVQueue.h
  FWCore/Framework/interface/EventSetupRecordProvider.h
  FWCore/Framework/interface/EventSetupsController.h
  FWCore/Framework/interface/LooperFactory.h
  FWCore/Framework/interface/ModuleFactory.h
  FWCore/Framework/interface/ParameterSetIDHolder.h
  FWCore/Framework/interface/SourceFactory.h
  FWCore/Framework/interface/TransitionInfoTypes.h
  FWCore/Framework/src/ComponentMaker.cc
  FWCore/Framework/src/EventProcessor.cc
  FWCore/Framework/src/EventSetupProvider.cc
  FWCore/Framework/src/EventSetupProviderMaker.cc
  FWCore/Framework/src/EventSetupProviderMaker.h
  FWCore/Framework/src/EventSetupRecordIOVQueue.cc
  FWCore/Framework/src/EventSetupRecordProvider.cc
  FWCore/Framework/src/EventSetupsController.cc
  FWCore/Framework/src/LooperFactory.cc
  FWCore/Framework/src/LuminosityBlockProcessingStatus.cc
  FWCore/Framework/src/LuminosityBlockProcessingStatus.h
  FWCore/Framework/src/ModuleFactory.cc
  FWCore/Framework/src/NumberOfConcurrentIOVs.cc
  FWCore/Framework/src/PathsAndConsumesOfModules.cc
  FWCore/Framework/src/RunProcessingStatus.cc
  FWCore/Framework/src/RunProcessingStatus.h
  FWCore/Framework/src/SourceFactory.cc
  FWCore/Framework/test/esproducer_t.cppunit.cc
  FWCore/Framework/test/eventsetup_t.cppunit.cc
  FWCore/Framework/test/eventsetupplugin_t.cppunit.cc
  FWCore/Framework/test/eventsetupscontroller_t.cppunit.cc
  FWCore/ServiceRegistry/interface/ProcessContext.h
  FWCore/TestProcessor/src/TestProcessor.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48610 filling time variable when the hit is cleaned : 15_0_X
  RecoParticleFlow/PFClusterProducer/interface/PFEcalBarrelRecHitCreator.h
  RecoParticleFlow/PFClusterProducer/interface/PFEcalEndcapRecHitCreator.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved

#48593 15_0_X Fixed G4LorentzVector usage, momentum updating, and energy dep…
  SimG4Core/CustomPhysics/interface/FullModelHadronicProcess.h
  SimG4Core/CustomPhysics/src/FullModelHadronicProcess.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved

#48567 12_4_X Fixed G4LorentzVector usage, momentum updating, and energy deposit mo…
  SimG4Core/CustomPhysics/interface/FullModelHadronicProcess.h
  SimG4Core/CustomPhysics/src/FullModelHadronicProcess.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, backport-ok

#48568 13_0_X Fixed G4LorentzVector usage, momentum updating, and energy deposit mo…
  SimG4Core/CustomPhysics/interface/FullModelHadronicProcess.h
  SimG4Core/CustomPhysics/src/FullModelHadronicProcess.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, backport-ok

#48592 14_2_X Fixed G4LorentzVector usage, momentum updating, and energy dep…
  SimG4Core/CustomPhysics/interface/FullModelHadronicProcess.h
  SimG4Core/CustomPhysics/src/FullModelHadronicProcess.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved

#48591 14_1_X Fixed G4LorentzVector usage, momentum updating, and energy dep…
  SimG4Core/CustomPhysics/interface/FullModelHadronicProcess.h
  SimG4Core/CustomPhysics/src/FullModelHadronicProcess.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved

#48569 14_0_X Fixed G4LorentzVector usage, momentum updating, and energy deposit mo…
  SimG4Core/CustomPhysics/interface/FullModelHadronicProcess.h
  SimG4Core/CustomPhysics/src/FullModelHadronicProcess.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, backport-ok

#48590 13_2_X Fixed G4LorentzVector usage, momentum updating, and energy dep…
  SimG4Core/CustomPhysics/interface/FullModelHadronicProcess.h
  SimG4Core/CustomPhysics/src/FullModelHadronicProcess.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved

#48566 10_6_X Fixed G4LorentzVector usage, momentum updating, and energy deposit mo…
  SimG4Core/CustomPhysics/interface/FullModelHadronicProcess.h
  SimG4Core/CustomPhysics/src/FullModelHadronicProcess.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, requires-external, backport-ok

#48613 [Backport] Adding Calo RecHits to the Scouting Event Content (end of 2025 data-taking)
  DataFormats/Scouting/interface/Run3ScoutingEBRecHit.h
  DataFormats/Scouting/interface/Run3ScoutingEERecHit.h
  DataFormats/Scouting/interface/Run3ScoutingHBHERecHit.h
  DataFormats/Scouting/src/classes.h
  DataFormats/Scouting/src/classes_def.xml
  DataFormats/Scouting/test/TestReadRun3Scouting.cc
  DataFormats/Scouting/test/TestRun3ScoutingFormats.sh
  DataFormats/Scouting/test/TestWriteRun3Scouting.cc
  DataFormats/Scouting/test/create_Run3Scouting_test_file_cfg.py
  DataFormats/Scouting/test/test_readRun3Scouting_cfg.py
  HLTrigger/special/plugins/BuildFile.xml
  HLTrigger/special/plugins/HLTScoutingRecHitProducer.cc
Labels: core-approved, hlt-approved, fully-signed, tests-approved, orp-approved, urgent, hlt-integration, changes-dataformats

#48395 Add L1Ntuple customisation for HLTScouting
  L1Trigger/L1TNtuples/python/customiseL1Ntuple.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48520 Fix for missing GTT test vector files
  L1Trigger/DemonstratorTools/plugins/GTTFileWriter.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48609 Restore removal of all duplicate pixel hits in Phase-1 pixel raw to cluster
  RecoLocalTracker/SiPixelClusterizer/plugins/alpaka/PixelClustering.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved, trk

#48600 Run3-alca258 Modify the calibration code to enable MIP cut value to be altered in the calibration stage
  Calibration/HcalCalibAlgos/macros/CalibCorr.C
  Calibration/HcalCalibAlgos/macros/CalibMonitor.C
  Calibration/HcalCalibAlgos/macros/CalibPlotProperties.C
  Calibration/HcalCalibAlgos/macros/CalibTree.C
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48531 [Phase-2 L1T] fixing Phase2L1CaloPFClusterEmulator for ASAN_X IB
  L1Trigger/L1CaloTrigger/interface/Phase2L1CaloPFClusterEmulator.h
  L1Trigger/L1CaloTrigger/plugins/Phase2L1CaloPFClusterEmulator.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#48564 Disable HIP/ROCm device-side error tests [15.0.x]
  DataFormats/SoATemplate/test/SoALayoutAndView_t.hip.cc
  HeterogeneousCore/AlpakaInterface/test/alpaka/testBuffer.dev.cc
Labels: fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, heterogeneous-approved

#48644 Improve the Phase 1 pixel raw to cluster (part 2)
  RecoLocalTracker/SiPixelClusterizer/plugins/alpaka/PixelClustering.h
  RecoLocalTracker/SiPixelClusterizer/plugins/alpaka/SiPixelRawToClusterKernel.dev.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#47591 edmPickEvents.py improved
  PhysicsTools/Utilities/scripts/edmPickEvents.py
  PhysicsTools/Utilities/test/test_edmPickEvents.sh
Labels: analysis-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48409 Migrate LST outputs to Portable SoAs
  DataFormats/Common/src/classes_def.xml
  RecoTracker/LST/interface/LSTOutput.h
  RecoTracker/LST/plugins/BuildFile.xml
  RecoTracker/LST/plugins/LSTOutputConverter.cc
  RecoTracker/LST/plugins/alpaka/LSTProducer.cc
  RecoTracker/LST/src/classes.h
  RecoTracker/LST/src/classes_def.xml
  RecoTracker/LSTCore/interface/Common.h
  RecoTracker/LSTCore/interface/TrackCandidatesHostCollection.h
  RecoTracker/LSTCore/interface/TrackCandidatesSoA.h
  RecoTracker/LSTCore/interface/alpaka/LST.h
  RecoTracker/LSTCore/interface/alpaka/TrackCandidatesDeviceCollection.h
  RecoTracker/LSTCore/src/alpaka/LST.cc
  RecoTracker/LSTCore/src/alpaka/LSTEvent.dev.cc
  RecoTracker/LSTCore/src/alpaka/LSTEvent.h
  RecoTracker/LSTCore/src/alpaka/TrackCandidate.h
  RecoTracker/LSTCore/src/alpaka/classes_cuda.h
  RecoTracker/LSTCore/src/alpaka/classes_cuda_def.xml
  RecoTracker/LSTCore/src/alpaka/classes_rocm.h
  RecoTracker/LSTCore/src/alpaka/classes_rocm_def.xml
  RecoTracker/LSTCore/src/classes.cc
  RecoTracker/LSTCore/src/classes.h
  RecoTracker/LSTCore/src/classes_def.xml
  RecoTracker/LSTCore/standalone/code/core/AccessHelper.cc
  RecoTracker/LSTCore/standalone/code/core/write_lst_ntuple.cc
Labels: core-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved, tracking, changes-dataformats

#48621 Deprecate VariableHelperService
  PhysicsTools/UtilAlgos/interface/CompleteNTupler.h
  PhysicsTools/UtilAlgos/interface/ConfigurableHisto.h
  PhysicsTools/UtilAlgos/interface/Plotter.h
  PhysicsTools/UtilAlgos/interface/VariableHelper.h
  PhysicsTools/UtilAlgos/interface/VariableNTupler.h
  PhysicsTools/UtilAlgos/plugins/ConfigurableAnalysis.cc
  PhysicsTools/UtilAlgos/plugins/PlottingDevice.cc
  PhysicsTools/UtilAlgos/plugins/VariableEventSelector.h
  PhysicsTools/UtilAlgos/plugins/modules.cc
  PhysicsTools/UtilAlgos/src/CachingVariable.cc
  PhysicsTools/UtilAlgos/src/ToolsPluginsFactory.cc
  PhysicsTools/UtilAlgos/src/VariableHelper.cc
Labels: analysis-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48630 Add previous scouting dataformat in AOD and MINIAOD
  Configuration/EventContent/python/EventContent_cff.py
  HLTrigger/Configuration/python/HLTScouting_EventContent_cff.py
Labels: hlt-approved, operations-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48647 Update the L1T Menu, L1TMuonEndCapParams and L1TCaloParams in 2025 MC GTs
  Configuration/AlCa/python/autoCond.py
  Configuration/AlCa/python/autoCondModifiers.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48649 Convert FWCore/Utilities test to catch2
  FWCore/Utilities/test/BuildFile.xml
  FWCore/Utilities/test/HRTime_t.cpp
  FWCore/Utilities/test/callxnowait_t.cppunit.cpp
  FWCore/Utilities/test/cputimer_t.cppunit.cpp
  FWCore/Utilities/test/esinputtag.cppunit.cpp
  FWCore/Utilities/test/indexset.cppunit.cpp
  FWCore/Utilities/test/propagate_const_array_t.cppunit.cpp
  FWCore/Utilities/test/propagate_const_t.cppunit.cpp
  FWCore/Utilities/test/reusableobjectholder_t.cppunit.cpp
  FWCore/Utilities/test/signal_t.cppunit.cpp
  FWCore/Utilities/test/soatuple_t.cppunit.cpp
  FWCore/Utilities/test/test_catch2HRTime.cc
  FWCore/Utilities/test/test_catch2Slow_cputimer.cc
  FWCore/Utilities/test/test_catch2_callxnowait.cc
  FWCore/Utilities/test/test_catch2_esinputtag.cc
  FWCore/Utilities/test/test_catch2_friendlyname.cc
  FWCore/Utilities/test/test_catch2_indexset.cc
  FWCore/Utilities/test/test_catch2_propagate_const.cc
  FWCore/Utilities/test/test_catch2_propagate_const_array.cc
  FWCore/Utilities/test/test_catch2_reusableobjectholder.cc
  FWCore/Utilities/test/test_catch2_signal.cc
  FWCore/Utilities/test/test_catch2_soatuple.cc
  FWCore/Utilities/test/test_catch2_transform.cc
  FWCore/Utilities/test/test_catch2_typeid.cc
  FWCore/Utilities/test/test_catch2_typeidbase.cc
  FWCore/Utilities/test/test_catch2_vecarray.cc
  FWCore/Utilities/test/transform.cppunit.cpp
  FWCore/Utilities/test/typeid_t.cppunit.cpp
  FWCore/Utilities/test/typeidbase_t.cppunit.cpp
  FWCore/Utilities/test/vecarray.cppunit.cpp
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tests-external-failure

#48646 Improvements to `ScoutingCollectionMonitor`
  DQM/HLTEvF/plugins/ScoutingCollectionMonitor.cc
  DQM/HLTEvF/python/ScoutingCollectionMonitor_cfi.py
  DQM/Integration/python/clients/scouting_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved
