Repository cms-sw/cmssw, pull requests merged in 2025-01, with the labels that each got.

#47022 Run3-alca252 Updat the IsoTrack calibration codes to finalize 2024 and 2025 calibrations
  Calibration/HcalCalibAlgos/macros/CalibCorr.C
  Calibration/HcalCalibAlgos/macros/CalibFitPlots.C
  Calibration/HcalCalibAlgos/macros/CalibMonitor.C
  Calibration/HcalCalibAlgos/macros/CalibPlotProperties.C
  Calibration/HcalCalibAlgos/macros/CalibTree.C
  Calibration/HcalCalibAlgos/plugins/HcalIsoTrkAnalyzer.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47006 [ALCA-DB] Apply code checks/format
  Alignment/CocoaUtilities/src/ALIFileIn.cc
  Alignment/CommonAlignment/src/AlignableModifier.cc
  Alignment/MillePedeAlignmentAlgorithm/plugins/MillePedeAlignmentAlgorithm.cc
  Alignment/MuonAlignment/src/MuonScenarioBuilder.cc
  Alignment/OfflineValidation/plugins/TrackerOfflineValidation.cc
  Alignment/OfflineValidation/plugins/TrackerOfflineValidationSummary.cc
  CalibPPS/AlignmentRelative/plugins/PPSModifySingularModes.cc
  CalibTracker/SiStripChannelGain/src/APVGainHelpers.cc
  CaloOnlineTools/HcalOnlineDb/src/RooGKCounter.cc
  CondCore/CondDB/src/Binary.cc
  CondCore/CondDB/src/CoralMsgReporter.cc
  CondCore/CondDB/src/PayloadReader.cc
  CondCore/Utilities/bin/conddb_test_gt_load.cpp
  CondCore/Utilities/bin/conddb_test_gt_perf.cpp
  CondCore/Utilities/src/Utilities.cc
  CondFormats/JetMETObjects/src/FactorizedJetCorrectorCalculator.cc
  CondFormats/JetMETObjects/src/SimpleJetCorrectionUncertainty.cc
  MuonAnalysis/MomentumScaleCalibration/plugins/DBReader.cc
  MuonAnalysis/MomentumScaleCalibration/plugins/MuScleFitMuonProducer.cc
  OnlineDB/EcalCondDB/bin/cmsecal_rootplot.cpp
  OnlineDB/EcalCondDB/src/LMFDat.cc
  OnlineDB/EcalCondDB/src/LMFRunTag.cc
  OnlineDB/EcalCondDB/src/LMFSeqDat.cc
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, trk

#47004 [DB-HLT] Apply code checks/format
  CondCore/HLTPlugins/plugins/AlCaRecoTriggerBits_PayloadInspector.cc
Labels: hlt-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#46969 [ALCA] Replace abs with std::abs to fix clang warnings
  Alignment/OfflineValidation/src/PlotAlignmentValidation.cc
  Calibration/HcalCalibAlgos/src/hcalCalib.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#46924 Add Electron Tau cross-trigger to the HLT Phase-2 menu
  HLTrigger/Configuration/python/HLT_75e33/modules/hltEle30WPTightBestGsfChi2L1SeededFilter_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltEle30WPTightBestGsfNLayerITL1SeededFilter_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltEle30WPTightClusterShapeL1SeededFilter_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltEle30WPTightClusterShapeSigmavvL1SeededFilter_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltEle30WPTightClusterShapeSigmawwL1SeededFilter_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltEle30WPTightEcalIsoL1SeededFilter_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltEle30WPTightGsfDetaL1SeededFilter_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltEle30WPTightGsfDphiL1SeededFilter_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltEle30WPTightGsfOneOEMinusOneOPL1SeededFilter_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltEle30WPTightGsfTrackIsoFromL1TracksL1SeededFilter_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltEle30WPTightGsfTrackIsoL1SeededFilter_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltEle30WPTightHEL1SeededFilter_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltEle30WPTightHcalIsoL1SeededFilter_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltEle30WPTightHgcalHEL1SeededFilter_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltEle30WPTightHgcalIsoL1SeededFilter_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltEle30WPTightPMS2L1SeededFilter_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltEle30WPTightPixelMatchL1SeededFilter_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHpsPFTau30LooseTauWPDeepTau_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPuppiTauTkIsoEle45_22L1TkFilter_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/HLT_Ele30_WPTight_L1Seeded_LooseDeepTauPFTauHPS30_eta2p1_CrossL1_cfi.py
  HLTrigger/Configuration/python/HLT_75e33_cff.py
  HLTrigger/Configuration/python/HLT_75e33_timing_cff.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47005 [DB-L1] Apply code checks/format
  CondCore/L1TPlugins/plugins/L1TMuonGlobalParams_PayloadInspector.cc
Labels: l1-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#46453 ECAL RecHit producer Alpaka migration
  CondFormats/DataRecord/interface/EcalRecHitConditionsRcd.h
  CondFormats/DataRecord/src/EcalRecHitConditionsRcd.cc
  CondFormats/EcalObjects/interface/EcalRecHitConditionsHost.h
  CondFormats/EcalObjects/interface/EcalRecHitConditionsSoA.h
  CondFormats/EcalObjects/interface/EcalRecHitParameters.h
  CondFormats/EcalObjects/interface/EcalRecHitParametersHost.h
  CondFormats/EcalObjects/interface/alpaka/EcalRecHitConditionsDevice.h
  CondFormats/EcalObjects/interface/alpaka/EcalRecHitParametersDevice.h
  CondFormats/EcalObjects/src/ES_EcalRecHitConditionsHost.cc
  CondFormats/EcalObjects/src/ES_EcalRecHitParametersHost.cc
  CondFormats/EcalObjects/src/alpaka/ES_EcalRecHitConditionsDevice.cc
  CondFormats/EcalObjects/src/alpaka/ES_EcalRecHitParametersDevice.cc
  Configuration/ProcessModifiers/python/alpakaValidationEcal_cff.py
  Configuration/ProcessModifiers/python/alpakaValidation_cff.py
  Configuration/PyReleaseValidation/README.md
  Configuration/PyReleaseValidation/python/relval_gpu.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  DQM/EcalMonitorTasks/python/EcalMonitorTask_cff.py
  DQM/EcalMonitorTasks/python/ecalGpuTask_cfi.py
  DQM/EcalMonitorTasks/src/GpuTask.cc
  DataFormats/CaloRecHit/interface/CaloRecHit.h
  DataFormats/EcalRecHit/interface/EcalRecHitHostCollection.h
  DataFormats/EcalRecHit/interface/EcalRecHitSoA.h
  DataFormats/EcalRecHit/interface/alpaka/EcalRecHitDeviceCollection.h
  DataFormats/EcalRecHit/src/alpaka/classes_cuda.h
  DataFormats/EcalRecHit/src/alpaka/classes_cuda_def.xml
  DataFormats/EcalRecHit/src/alpaka/classes_rocm.h
  DataFormats/EcalRecHit/src/alpaka/classes_rocm_def.xml
  DataFormats/EcalRecHit/src/classes.cc
  DataFormats/EcalRecHit/src/classes.h
  DataFormats/EcalRecHit/src/classes_def.xml
  EventFilter/EcalRawToDigi/python/ecalDigis_cff.py
  RecoLocalCalo/EcalRecProducers/plugins/EcalRecHitSoAToLegacy.cc
  RecoLocalCalo/EcalRecProducers/plugins/alpaka/DeclsForKernels.h
  RecoLocalCalo/EcalRecProducers/plugins/alpaka/EcalRecHitBuilder.dev.cc
  RecoLocalCalo/EcalRecProducers/plugins/alpaka/EcalRecHitBuilder.h
  RecoLocalCalo/EcalRecProducers/plugins/alpaka/EcalRecHitConditionsESProducer.cc
  RecoLocalCalo/EcalRecProducers/plugins/alpaka/EcalRecHitParametersESProducer.cc
  RecoLocalCalo/EcalRecProducers/plugins/alpaka/EcalRecHitProducerPortable.cc
  RecoLocalCalo/EcalRecProducers/plugins/alpaka/EnergyComputationKernels.dev.cc
  RecoLocalCalo/EcalRecProducers/plugins/alpaka/EnergyComputationKernels.h
  RecoLocalCalo/EcalRecProducers/plugins/alpaka/KernelHelpers.dev.cc
  RecoLocalCalo/EcalRecProducers/plugins/alpaka/KernelHelpers.h
  RecoLocalCalo/EcalRecProducers/python/ecalMultiFitUncalibRecHit_cff.py
  RecoLocalCalo/EcalRecProducers/python/ecalRecHit_cff.py
  RecoLocalCalo/HGCalRecProducers/plugins/KernelManagerHGCalCellPositions.h
  RecoLocalCalo/HGCalRecProducers/plugins/KernelManagerHGCalRecHit.h
Labels: alca-approved, dqm-approved, operations-approved, reconstruction-approved, fully-signed, tests-approved, pdmv-approved, db-approved, orp-approved, upgrade-approved, code-checks-approved, heterogeneous-approved, ecal, changes-dataformats

#47040 Remove commented-out `putenv()` calls from `SiPixelFedCablingMapWriter`
  CalibTracker/SiPixelConnectivity/test/SiPixelFedCablingMapWriter.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#47035 Make implicit copy of `TrackingRecHitsSoACollection<TrackerTraits>` to host asynchronous
  DataFormats/TrackingRecHitSoA/interface/alpaka/TrackingRecHitsSoACollection.h
  DataFormats/TrackingRecHitSoA/test/alpaka/Hits_test.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved, tracking

#47042 Run3-alca252X Update the macros to study the forward-backward asymmetry in the correction factors
  Calibration/HcalCalibAlgos/macros/CalibFitPlots.C
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#45759 quarter core processor for HL-LHC inner tracker developments
  DataFormats/Phase2TrackerDigi/interface/Phase2ITChip.h
  DataFormats/Phase2TrackerDigi/interface/Phase2ITChipBitStream.h
  DataFormats/Phase2TrackerDigi/interface/Phase2ITDigiHit.h
  DataFormats/Phase2TrackerDigi/interface/Phase2ITQCore.h
  DataFormats/Phase2TrackerDigi/src/Phase2ITChip.cc
  DataFormats/Phase2TrackerDigi/src/Phase2ITDigiHit.cc
  DataFormats/Phase2TrackerDigi/src/Phase2ITQCore.cc
  DataFormats/Phase2TrackerDigi/src/classes.h
  DataFormats/Phase2TrackerDigi/src/classes_def.xml
  EventFilter/Phase2PixelRawToDigi/BuildFile.xml
  EventFilter/Phase2PixelRawToDigi/plugins/BuildFile.xml
  EventFilter/Phase2PixelRawToDigi/plugins/Phase2ITQCoreProducer.cc
  EventFilter/Phase2PixelRawToDigi/test/Phase2ITDigiToRaw_cfg.py
Labels: daq-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, trk, changes-dataformats

#46991 [VISUALIZATION] Apply code checks/format
  Fireworks/Core/src/FWEveViewManager.cc
  Fireworks/Core/src/FWGeometryTableViewManager.cc
  Fireworks/Core/src/FWTriggerTableViewManager.cc
Labels: visualization-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47034 Make Alpaka ESProducers asynchronous for non-host backends
  HeterogeneousCore/AlpakaCore/README.md
  HeterogeneousCore/AlpakaCore/interface/alpaka/DeviceProductType.h
  HeterogeneousCore/AlpakaCore/interface/alpaka/EDGetToken.h
  HeterogeneousCore/AlpakaCore/interface/alpaka/EDPutToken.h
  HeterogeneousCore/AlpakaCore/interface/alpaka/ESDeviceProductType.h
  HeterogeneousCore/AlpakaCore/interface/alpaka/ESGetToken.h
  HeterogeneousCore/AlpakaCore/interface/alpaka/ESProducer.h
  HeterogeneousCore/AlpakaCore/interface/alpaka/Event.h
  HeterogeneousCore/AlpakaCore/interface/alpaka/EventSetup.h
  HeterogeneousCore/AlpakaCore/interface/alpaka/ProducerBase.h
  HeterogeneousCore/AlpakaCore/interface/alpaka/Record.h
  HeterogeneousCore/AlpakaCore/src/alpaka/ESProducer.cc
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#47017 add `fillDescriptions` to a bunch of plugins in the `EventFilter` and `Reco` areas used at HLT
  EventFilter/DTRawToDigi/plugins/DTuROSRawToDigi.cc
  EventFilter/DTRawToDigi/plugins/DTuROSRawToDigi.h
  EventFilter/DTRawToDigi/python/dturosunpacker_cfi.py
  EventFilter/RawDataCollector/python/rawDataCollectorByLabel_cfi.py
  EventFilter/RawDataCollector/src/RawDataCollectorByLabel.cc
  EventFilter/RawDataCollector/src/RawDataCollectorByLabel.h
  HLTrigger/Configuration/python/HLT_75e33/modules/hltIter2Phase2L3FromL1TkMuonMaskedMeasurementTrackerEvent_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltSiPixelRecHits_cfi.py
  HLTrigger/Configuration/python/customizeHLTforCMSSW.py
  RecoLocalMuon/CSCSegment/python/cscSegments_cfi.py
  RecoLocalMuon/CSCSegment/src/CSCSegmentBuilder.cc
  RecoLocalMuon/CSCSegment/src/CSCSegmentBuilder.h
  RecoLocalMuon/CSCSegment/src/CSCSegmentProducer.cc
  RecoLocalMuon/CSCSegment/src/CSCSegmentProducer.h
  RecoLocalTracker/SiPixelRecHits/plugins/SiPixelRecHitConverter.cc
  RecoLocalTracker/SiPixelRecHits/python/SiPixelRecHits_cfi.py
  RecoLocalTracker/SiStripClusterizer/plugins/SiStripClusterizer.cc
  RecoLocalTracker/SiStripClusterizer/plugins/SiStripClusterizer.h
  RecoLocalTracker/SiStripClusterizer/python/SiStripClusterizer_RealData_cfi.py
  RecoLocalTracker/SubCollectionProducers/src/JetCoreClusterSplitter.cc
  RecoMET/METProducers/interface/CSCHaloDataProducer.h
  RecoMET/METProducers/interface/EcalHaloDataProducer.h
  RecoMET/METProducers/interface/GlobalHaloDataProducer.h
  RecoMET/METProducers/interface/HcalHaloDataProducer.h
  RecoMET/METProducers/python/CSCHaloData_cfi.py
  RecoMET/METProducers/python/EcalHaloData_cfi.py
  RecoMET/METProducers/python/GlobalHaloData_cfi.py
  RecoMET/METProducers/python/HcalHaloData_cfi.py
  RecoMET/METProducers/src/CSCHaloDataProducer.cc
  RecoMET/METProducers/src/EcalHaloDataProducer.cc
  RecoMET/METProducers/src/GlobalHaloDataProducer.cc
  RecoMET/METProducers/src/HcalHaloDataProducer.cc
  RecoMuon/MuonSeedGenerator/plugins/CosmicMuonSeedGenerator.cc
  RecoMuon/MuonSeedGenerator/plugins/CosmicMuonSeedGenerator.h
  RecoMuon/MuonSeedGenerator/python/CosmicMuonSeedProducer_cfi.py
  RecoMuon/TrackingTools/interface/MuonSegmentMatcher.h
  RecoMuon/TrackingTools/src/MuonSegmentMatcher.cc
  RecoParticleFlow/PFTracking/plugins/LightPFTrackProducer.cc
  RecoTracker/FinalTrackSelectors/plugins/TrackListMerger.cc
  RecoTracker/FinalTrackSelectors/python/trackListMerger_cfi.py
  RecoTracker/MeasurementDet/plugins/MaskedMeasurementTrackerEventProducer.cc
  RecoTracker/MeasurementDet/python/MaskedMeasurementTrackerEventProducer_cfi.py
  RecoTracker/TkSeedGenerator/plugins/SeedCombiner.h
  RecoVertex/PixelVertexFinding/plugins/PixelVertexProducer.cc
  RecoVertex/PixelVertexFinding/python/PixelVertices_cfi.py
Labels: daq-approved, hlt-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking, trk

#47044 Add `BeamSpotCompatibilityChecker` to all alignment offline validation configuration files
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlDiMuonAndVertex_Output_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlZMuMu_Output_cff.py
  Alignment/OfflineValidation/python/TkAlAllInOneTool/DiMuonV_cfg.py
  Alignment/OfflineValidation/python/TkAlAllInOneTool/JetHT_cfg.py
  Alignment/OfflineValidation/python/TkAlAllInOneTool/PV_cfg.py
  Alignment/OfflineValidation/python/TkAlAllInOneTool/SplitV_cfg.py
  Alignment/OfflineValidation/python/TkAlAllInOneTool/Zmumu_cfg.py
  Alignment/OfflineValidation/python/TkAlAllInOneTool/defaultInputFiles_cff.py
  Alignment/OfflineValidation/test/PVValidation_TEMPL_cfg.py
  Alignment/OfflineValidation/test/PVValidation_T_cfg.py
  Alignment/OfflineValidation/test/PrimaryVertexResolution_cfg.py
  Alignment/OfflineValidation/test/PrimaryVertexResolution_templ_cfg.py
  Alignment/OfflineValidation/test/testPrimaryVertexRelatedValidations_cfg.py
  Alignment/OfflineValidation/test/test_all_Phase2_cfg.py
  Alignment/OfflineValidation/test/test_all_cfg.py
  Alignment/OfflineValidation/test/unit_test.json
  Alignment/OfflineValidation/test/unit_test.yaml
  RecoVertex/BeamSpotProducer/plugins/BeamSpotCompatibilityChecker.cc
  RecoVertex/BeamSpotProducer/plugins/BuildFile.xml
  RecoVertex/BeamSpotProducer/test/BuildFile.xml
  RecoVertex/BeamSpotProducer/test/testBeamSpotCompatibility.cc
Labels: alca-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking, trk

#47018 MTD simulation: fix association tracking particle - MtdSimLayerCluster
  SimFastTiming/MtdAssociatorProducers/plugins/MtdSimLayerClusterToTPAssociatorByTrackIdImpl.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#47019 clang19 fix: template argument list is expected after a name prefixed
  CommonTools/UtilAlgos/interface/ParameterAdapter.h
  DPGAnalysis/MuonTools/interface/MuLocalRecoBaseProducer.h
  RecoEgamma/EgammaTools/plugins/EGFull5x5ShowerShapeModifier.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#47052 `jetTools`: do not run `svClustering` for `pfDeepCSV{*}TagInfos`
  PhysicsTools/PatAlgos/python/tools/jetTools.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, code-checks-approved, xpog-approved

#47048 Update lost dict def for EcalRecHitSoA
  Utilities/ReleaseScripts/scripts/duplicateReflexLibrarySearch.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47049 [NGT] Fix double inclusion of Phase2HLTMuonSelectorForL3 module
  RecoMuon/L3TrackFinder/interface/Phase2HLTMuonSelectorForL3.h
  RecoMuon/L3TrackFinder/plugins/SealModules.cc
  RecoMuon/L3TrackFinder/src/Phase2HLTMuonSelectorForL3.cc
Labels: hlt-approved, reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, ngt

#46981 [MiniAOD] Remove slimmedGenJets minimum pt cut
  PhysicsTools/PatAlgos/python/slimming/slimmedGenJets_cfi.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#47054 update `customiseHybrid` to comply with new definition of `siStripClusters`
  RecoLocalTracker/SiStripZeroSuppression/python/customiseHybrid.py
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved, trk

#46962 Make HGCAL Validation reproducible
  SimCalorimetry/HGCalAssociatorProducers/plugins/AllTracksterToSimTracksterAssociatorsByHitsProducer.cc
  SimCalorimetry/HGCalAssociatorProducers/plugins/AllTracksterToSimTracksterAssociatorsByLCsProducer.cc
  Validation/HGCalValidation/interface/HGCalValidator.h
  Validation/HGCalValidation/interface/HGVHistoProducerAlgo.h
  Validation/HGCalValidation/plugins/HGCalValidator.cc
  Validation/HGCalValidation/src/HGVHistoProducerAlgo.cc
Labels: dqm-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#47013 Remove redundant data members from InputFileCatalog to reduce memory use
  FWCore/Catalog/interface/InputFileCatalog.h
  FWCore/Catalog/src/InputFileCatalog.cc
  FWCore/Catalog/test/BuildFile.xml
  FWCore/Catalog/test/FileLocator_t.cpp
  FWCore/Catalog/test/InputFileCatalog_t.cpp
  FWCore/Catalog/test/TestSiteLocalConfig.h
  FWCore/Sources/interface/FromFiles.h
  FWCore/Sources/interface/ProducerSourceFromFiles.h
  FWCore/Sources/interface/RawInputSourceFromFiles.h
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47053 Removed TFWLiteSelector system
  FWCore/Skeletons/doc/man/skeletons.1
  FWCore/Skeletons/mkTemplates/TSelector/BuildFile.xml
  FWCore/Skeletons/mkTemplates/TSelector/Driver.dir
  FWCore/Skeletons/mkTemplates/TSelector/TSelector.cc
  FWCore/Skeletons/mkTemplates/TSelector/TSelector.h
  FWCore/Skeletons/mkTemplates/TSelector/classes.h
  FWCore/Skeletons/mkTemplates/TSelector/classes_def.xml
  FWCore/Skeletons/scripts/mktsel
  FWCore/Skeletons/test/runtests.sh
  FWCore/TFWLiteSelector/BuildFile.xml
  FWCore/TFWLiteSelector/doc/proofNotes.txt
  FWCore/TFWLiteSelector/interface/TFWLiteSelector.h
  FWCore/TFWLiteSelector/interface/TFWLiteSelectorBasic.h
  FWCore/TFWLiteSelector/src/TFWLiteSelectorBasic.cc
  FWCore/TFWLiteSelector/src/classes.h
  FWCore/TFWLiteSelector/src/classes_def.xml
  FWCore/TFWLiteSelector/test/BuildFile.xml
  FWCore/TFWLiteSelector/test/TestRunnerFWCoreTFWLiteSelector.cpp
  FWCore/TFWLiteSelector/test/gen_things_cfg.py
  FWCore/TFWLiteSelector/test/proof_remote.C
  FWCore/TFWLiteSelector/test/run_all_t.sh
  FWCore/TFWLiteSelector/test/thing2_sel.C
  FWCore/TFWLiteSelector/test/thing_sel.C
  FWCore/TFWLiteSelectorTest/BuildFile.xml
  FWCore/TFWLiteSelectorTest/src/ThingsTSelector.cc
  FWCore/TFWLiteSelectorTest/src/ThingsTSelector.h
  FWCore/TFWLiteSelectorTest/src/ThingsTSelector2.cc
  FWCore/TFWLiteSelectorTest/src/ThingsTSelector2.h
  FWCore/TFWLiteSelectorTest/src/classes.h
  FWCore/TFWLiteSelectorTest/src/classes_def.xml
  Utilities/ReleaseScripts/scripts/duplicateReflexLibrarySearch.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46702 Add support for adding variable-size attributes (std::vector) within objects for NanoAOD
  CommonTools/Utils/interface/TypedStringObjectMethodCaller.h
  CommonTools/Utils/interface/parser/MethodChain.h
  CommonTools/Utils/interface/parser/MethodChainGrammar.h
  CommonTools/Utils/interface/parser/MethodChainSetter.h
  CommonTools/Utils/src/MethodChain.cc
  CommonTools/Utils/src/MethodChainSetter.cc
  PhysicsTools/NanoAOD/interface/SimpleFlatTableProducer.h
  PhysicsTools/NanoAOD/plugins/SimpleFlatTableProducerPlugins.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#47061 speedup SiStripClusterizer(FromRaw) using ThreeThresholdAlgorithm
  CalibFormats/SiStripObjects/interface/SiStripClusterizerConditions.h
  RecoLocalTracker/SiStripClusterizer/interface/ThreeThresholdAlgorithm.h
  RecoLocalTracker/SiStripClusterizer/plugins/ClustersFromRawProducer.cc
  RecoLocalTracker/SiStripClusterizer/src/ThreeThresholdAlgorithm.cc
Labels: alca-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, performance-improvements, trk

#46992 [GENERATORS] Apply code checks/format
  GeneratorInterface/CepGenInterface/src/CepGenEventGenerator.cc
  GeneratorInterface/Herwig7Interface/src/Herwig7Interface.cc
  GeneratorInterface/LHEInterface/src/LH5Reader.cc
  GeneratorInterface/LHEInterface/src/LHEReader.cc
  GeneratorInterface/Pythia6Interface/src/PtYDistributor.cc
  GeneratorInterface/Pythia6Interface/src/Pythia6Service.cc
  GeneratorInterface/Pythia8Interface/plugins/Pythia8HepMC3Hadronizer.cc
  GeneratorInterface/Pythia8Interface/src/Py8GunBase.cc
  GeneratorInterface/RivetInterface/plugins/GenParticles2HepMCConverter.cc
  GeneratorInterface/RivetInterface/plugins/HTXSRivetProducer.cc
  GeneratorInterface/RivetInterface/src/HiggsTemplateCrossSections.cc
  IOMC/ParticleGuns/src/BeamMomentumGunProducer.cc
  IOMC/ParticleGuns/src/FileRandomKEThetaGunProducer.cc
  IOMC/ParticleGuns/src/FileRandomMultiParticlePGunProducer.cc
Labels: generators-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46853 Removing CUDA/`gpu` from Pixel code configs and dropping all CUDA wfs
  Calibration/LumiAlCaRecoProducers/python/ALCARECOLumiPixels_cff.py
  Configuration/ProcessModifiers/python/pixelNtupletFit_cff.py
  Configuration/PyReleaseValidation/README.md
  Configuration/PyReleaseValidation/python/relval_gpu.py
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  Configuration/PyReleaseValidation/scripts/README.md
  Configuration/StandardSequences/python/RawToDigi_Repacked_cff.py
  Configuration/StandardSequences/python/RawToDigi_cff.py
  Configuration/StandardSequences/python/Services_cff.py
  DQM/Integration/python/clients/beam_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beampixel_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/csc_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/fed_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/l1t_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/l1temulator_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/l1tstage1_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/l1tstage1emulator_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/l1tstage2_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/l1tstage2emulator_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/lumi_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/physics_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/pixel_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/pixellumi_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/scal_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/sistrip_approx_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/sistrip_dqm_sourceclient-live_cfg.py
  DQM/Physics/python/qcdLowPtDQM_cfi.py
  EventFilter/SiPixelRawToDigi/python/SiPixelRawToDigi_cfi.py
  EventFilter/SiPixelRawToDigi/python/siPixelDigis_cff.py
  RecoHI/HiTracking/python/HILowPtConformalPixelTracks_cfi.py
  RecoLocalTracker/SiPixelClusterizer/python/SiPixelClusterizerPreSplitting_cfi.py
  RecoLocalTracker/SiPixelClusterizer/python/SiPixelClusterizer_cfi.py
  RecoLocalTracker/SiPixelClusterizer/python/siPixelClustersPreSplitting_cff.py
  RecoLocalTracker/SiPixelRecHits/python/PixelCPEESProducers_cff.py
  RecoLocalTracker/SiPixelRecHits/python/SiPixelRecHits_cfi.py
  RecoTracker/PixelTrackFitting/python/PixelTracks_cff.py
  RecoVertex/BeamSpotProducer/python/BeamSpot_cff.py
  RecoVertex/Configuration/python/RecoPixelVertexing_cff.py
  Validation/RecoTrack/python/TrackValidation_cff.py
Labels: alca-approved, dqm-approved, operations-approved, reconstruction-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved, heterogeneous-approved, tracking, trk

#47055 Introduce a `Generic` validation tool for dataset validation in the alignment all-in-one tool
  Alignment/OfflineValidation/README.md
  Alignment/OfflineValidation/README_Generic.md
  Alignment/OfflineValidation/bin/BuildFile.xml
  Alignment/OfflineValidation/bin/GenericVmerge.cc
  Alignment/OfflineValidation/plugins/GeneralPurposeVertexAnalyzer.cc
  Alignment/OfflineValidation/python/TkAlAllInOneTool/GenericV.py
  Alignment/OfflineValidation/python/TkAlAllInOneTool/GenericV_cfg.py
  Alignment/OfflineValidation/scripts/validateAlignments.py
  Alignment/OfflineValidation/test/BuildFile.xml
  Alignment/OfflineValidation/test/testingScripts/test_unitGeneric.sh
  Alignment/OfflineValidation/test/unit_test.json
  Alignment/OfflineValidation/test/unit_test.yaml
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#46882 Fix typo with lhe numbering matching
  GeneratorInterface/Herwig7Interface/plugins/Herwig7Hadronizer.cc
Labels: generators-approved, fully-signed, tests-approved, orp-approved

#47059 Update SiPixelAliHGRcd_prod.json
  CondFormats/Common/data/SiPixelAliHGRcd_prod.json
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#47064 re-organize `RecoMuon/L3TrackFinder` such that all plugins are defined in `plugins` folder
  RecoMuon/L3TrackFinder/interface/HLTMuonL2SelectorForL3IO.h
  RecoMuon/L3TrackFinder/interface/MuonCkfTrajectoryBuilder.h
  RecoMuon/L3TrackFinder/interface/Phase2HLTMuonSelectorForL3.h
  RecoMuon/L3TrackFinder/plugins/EtaPhiEstimator.h
  RecoMuon/L3TrackFinder/plugins/HLTMuonL2SelectorForL3IO.cc
  RecoMuon/L3TrackFinder/plugins/MuonCkfTrajectoryBuilder.cc
  RecoMuon/L3TrackFinder/plugins/Phase2HLTMuonSelectorForL3.cc
  RecoMuon/L3TrackFinder/plugins/SealModules.cc
Labels: hlt-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47031 Add muonBestTrackType value
  PhysicsTools/NanoAOD/python/muons_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#47060 Updated test of edm::Ref use from a merged ROOT file
  FWCore/Integration/test/ref_merge_cfg.py
  FWCore/Integration/test/ref_merge_prod1_cfg.py
  FWCore/Integration/test/ref_merge_prod2_cfg.py
  FWCore/Integration/test/ref_merge_prod_cfg.py
  FWCore/Integration/test/ref_merge_test_cfg.py
  FWCore/Integration/test/run_RefMerge.sh
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47029 Use `WaitingTaskHolder` to signal `doneWaiting()` instead of `WaitingTaskWithArenaHolder` in framework
  FWCore/Concurrency/interface/WaitingTaskWithArenaHolder.h
  FWCore/Concurrency/src/WaitingTaskWithArenaHolder.cc
  FWCore/Framework/interface/CallbackExternalWork.h
  FWCore/Framework/interface/StreamSchedule.h
  FWCore/Framework/interface/global/EDFilterBase.h
  FWCore/Framework/interface/global/EDProducerBase.h
  FWCore/Framework/interface/global/OutputModuleBase.h
  FWCore/Framework/interface/global/implementors.h
  FWCore/Framework/interface/global/outputmoduleAbilityToImplementor.h
  FWCore/Framework/interface/maker/Worker.h
  FWCore/Framework/interface/maker/WorkerT.h
  FWCore/Framework/interface/stream/EDFilter.h
  FWCore/Framework/interface/stream/EDFilterAdaptorBase.h
  FWCore/Framework/interface/stream/EDFilterBase.h
  FWCore/Framework/interface/stream/EDProducer.h
  FWCore/Framework/interface/stream/EDProducerAdaptorBase.h
  FWCore/Framework/interface/stream/EDProducerBase.h
  FWCore/Framework/interface/stream/ProducingModuleHelper.h
  FWCore/Framework/src/EventProcessor.cc
  FWCore/Framework/src/TransformerBase.cc
  FWCore/Framework/src/Worker.cc
  FWCore/Framework/src/WorkerT.cc
  FWCore/Framework/src/global/EDFilterBase.cc
  FWCore/Framework/src/global/EDProducerBase.cc
  FWCore/Framework/src/global/OutputModuleBase.cc
  FWCore/Framework/src/global/implementorsMethods.h
  FWCore/Framework/src/stream/EDFilterAdaptorBase.cc
  FWCore/Framework/src/stream/EDProducerAdaptorBase.cc
  FWCore/Framework/src/stream/ProducingModuleHelper.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tests-ib-failure

#47032 Add a new test for reduced ProcessHistory
  FWCore/Framework/src/ScheduleItems.cc
  FWCore/Framework/test/stubs/RunLumiEventAnalyzer.cc
  FWCore/Framework/test/stubs/RunLumiEventAnalyzer.h
  FWCore/Framework/test/stubs/TestMergeResults.cc
  FWCore/ParameterSet/python/Config.py
  IOPool/Input/test/BuildFile.xml
  IOPool/Input/test/TestPoolInput.sh
  IOPool/Input/test/TestPoolInputOldFormat.sh
  IOPool/Input/test/TestPoolInputRunPerLumi.sh
  IOPool/Input/test/testReducedProcessHistory.sh
  IOPool/Input/test/testReducedProcessHistoryCreate_cfg.py
  IOPool/Input/test/testReducedProcessHistory_cfg.py
  IOPool/Input/test/test_merge_two_files.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47074 [UBSAN]Properly initialize datamembers for move operator
  SimDataFormats/GeneratorProducts/src/HepMCProduct.cc
Labels: generators-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#46350 [ML][Clang]clang-analyzer, initialize memory and add protection against
  PhysicsTools/MVAComputer/src/ProcMLP.cc
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, ml-approved

#46573 [NANO] Implement a check on the number of scale variation weights in GenWeightsTableProducer
  PhysicsTools/NanoAOD/plugins/GenWeightsTableProducer.cc
  PhysicsTools/NanoAOD/python/genWeightsTable_cfi.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#46979 Add additional information to the `SimTrack`s
  SimDataFormats/Track/interface/SimTrack.h
  SimDataFormats/Track/src/SimTrack.cc
  SimDataFormats/Track/src/classes_def.xml
  SimG4Core/Application/plugins/OscarMTProducer.cc
  SimG4Core/Notification/interface/TmpSimTrack.h
  SimG4Core/Notification/interface/TrackWithHistory.h
  SimG4Core/Notification/src/SimTrackManager.cc
  SimG4Core/Notification/src/TmpSimEvent.cc
  SimG4Core/Notification/src/TrackWithHistory.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, changes-dataformats

#47073 Improve behavior of streamer system
  IOPool/Streamer/interface/StreamerOutputModuleBase.h
  IOPool/Streamer/src/StreamerInputFile.cc
  IOPool/Streamer/src/StreamerInputSource.cc
  IOPool/Streamer/src/StreamerOutputModuleBase.cc
  IOPool/Streamer/test/BuildFile.xml
  IOPool/Streamer/test/ref_merge_cfg.py
  IOPool/Streamer/test/ref_merge_prod_cfg.py
  IOPool/Streamer/test/ref_merge_test_cfg.py
  IOPool/Streamer/test/run_RefMerge.sh
  IOPool/Streamer/test/run_failures.sh
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47078 Fix for HI Alpaka Pixel Configs
  RecoLocalTracker/SiPixelRecHits/python/SiPixelRecHits_cfi.py
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, trk

#47039 Remove `ReadBase` as unused
  CondTools/DQM/interface/DQMSummaryReader.h
  CondTools/DQM/interface/ReadBase.h
  CondTools/DQM/src/DQMSummaryReader.cc
  CondTools/DQM/src/ReadBase.cc
Labels: dqm-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#47068 [DAQ] Input source improvements and initial Phase-2 DTH format support
  EventFilter/Utilities/doc/README-DTH.md
  EventFilter/Utilities/interface/DAQSource.h
  EventFilter/Utilities/interface/DAQSourceModels.h
  EventFilter/Utilities/interface/DAQSourceModelsDTH.h
  EventFilter/Utilities/interface/DAQSourceModelsFRD.h
  EventFilter/Utilities/interface/DAQSourceModelsScoutingRun3.h
  EventFilter/Utilities/interface/DTHHeaders.h
  EventFilter/Utilities/interface/EvFDaqDirector.h
  EventFilter/Utilities/interface/FastMonitoringService.h
  EventFilter/Utilities/interface/FedRawDataInputSource.h
  EventFilter/Utilities/interface/SourceRawFile.h
  EventFilter/Utilities/plugins/DTHFakeReader.cc
  EventFilter/Utilities/plugins/DTHFakeReader.h
  EventFilter/Utilities/plugins/GlobalEvFOutputModule.cc
  EventFilter/Utilities/plugins/RawEventFileWriterForBU.cc
  EventFilter/Utilities/plugins/RawEventFileWriterForBU.h
  EventFilter/Utilities/plugins/RawEventOutputModuleForBU.h
  EventFilter/Utilities/plugins/modules.cc
  EventFilter/Utilities/src/DAQSource.cc
  EventFilter/Utilities/src/DAQSourceModelsDTH.cc
  EventFilter/Utilities/src/DAQSourceModelsFRD.cc
  EventFilter/Utilities/src/DAQSourceModelsScoutingRun3.cc
  EventFilter/Utilities/src/EvFDaqDirector.cc
  EventFilter/Utilities/src/FastMonitoringService.cc
  EventFilter/Utilities/src/FedRawDataInputSource.cc
  EventFilter/Utilities/test/RunBUFU.sh
  EventFilter/Utilities/test/startBU.py
  EventFilter/Utilities/test/testDTH.sh
  EventFilter/Utilities/test/unittest_FU_daqsource.py
Labels: daq-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47079 add `fillDescriptions` to several plugins used at HLT (3/N)
  Calibration/HcalAlCaRecoProducers/python/ALCARECOHcalCalMinBias_cff.py
  EventFilter/SiStripRawToDigi/plugins/SiStripRawToDigiModule.cc
  EventFilter/SiStripRawToDigi/plugins/SiStripRawToDigiModule.h
  EventFilter/SiStripRawToDigi/python/SiStripDigis_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHfreco_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHoreco_cfi.py
  HLTrigger/Configuration/python/customizeHLTforCMSSW.py
  PhysicsTools/SelectorUtils/interface/JetIDSelectionFunctor.h
  PhysicsTools/SelectorUtils/interface/PVObjectSelector.h
  PhysicsTools/SelectorUtils/interface/PVSelector.h
  PhysicsTools/UtilAlgos/interface/EDFilterObjectWrapper.h
  PhysicsTools/UtilAlgos/interface/EDFilterWrapper.h
  RecoLocalCalo/EcalRecProducers/plugins/EcalRecalibRecHitProducer.cc
  RecoLocalCalo/EcalRecProducers/python/ecalRecalibRecHit_cfi.py
  RecoLocalCalo/HcalRecAlgos/interface/HcalHFStatusBitFromDigis.h
  RecoLocalCalo/HcalRecAlgos/src/HcalHFStatusBitFromDigis.cc
  RecoLocalCalo/HcalRecProducers/python/HcalHitReconstructor_hf_cfi.py
  RecoLocalCalo/HcalRecProducers/python/HcalHitReconstructor_ho_cfi.py
  RecoLocalCalo/HcalRecProducers/python/hfprereco_cfi.py
  RecoLocalCalo/HcalRecProducers/src/HFPhase1Reconstructor.cc
  RecoLocalCalo/HcalRecProducers/src/HFPreReconstructor.cc
  RecoLocalCalo/HcalRecProducers/src/HcalHitReconstructor.cc
  RecoLocalCalo/HcalRecProducers/src/HcalHitReconstructor.h
  RecoLocalTracker/Phase2TrackerRecHits/plugins/Phase2TrackerRecHits.cc
  RecoLocalTracker/Phase2TrackerRecHits/python/Phase2TrackerRecHits_cfi.py
  RecoLocalTracker/SiPhase2Clusterizer/plugins/Phase2TrackerClusterizer.cc
  RecoLocalTracker/SiPhase2Clusterizer/python/phase2TrackerClusterizer_cfi.py
  RecoLocalTracker/SiStripZeroSuppression/plugins/SealModules.cc
  RecoLocalTracker/SiStripZeroSuppression/plugins/SiStripZeroSuppression.cc
  RecoLocalTracker/SiStripZeroSuppression/plugins/SiStripZeroSuppression.h
  RecoLocalTracker/SiStripZeroSuppression/python/SiStripZeroSuppression_cfi.py
  RecoLocalTracker/SubCollectionProducers/python/seedClusterRemoverPhase2_cfi.py
  RecoLocalTracker/SubCollectionProducers/src/SeedClusterRemoverPhase2.cc
  RecoTracker/FinalTrackSelectors/plugins/CosmicTrackSelector.cc
  RecoTracker/FinalTrackSelectors/python/cosmictrackSelector_cfi.py
  RecoTracker/SpecialSeedGenerators/interface/SimpleCosmicBONSeeder.h
  RecoTracker/SpecialSeedGenerators/python/SimpleCosmicBONSeeder_cfi.py
  RecoTracker/SpecialSeedGenerators/src/SimpleCosmicBONSeeder.cc
Labels: alca-approved, analysis-approved, hlt-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, tracking, trk

#47075 Add Mother Indices to LHEPart
  PhysicsTools/NanoAOD/plugins/LHETablesProducer.cc
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#46627 trackGenJetAK4 added
  PhysicsTools/NanoAOD/python/jetMC_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
  PhysicsTools/NanoAOD/python/nanogenDQM_cff.py
  PhysicsTools/NanoAOD/python/nanogen_cff.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#47085 Make all RunLumiEventAnalyzer instances to use `vector<unsigned long long>`
  FWCore/Framework/test/stubs/RunLumiEventAnalyzer.cc
  FWCore/Integration/test/readSubProcessOutput_cfg.py
  FWCore/Integration/test/testGetByWithEmptyRun_cfg.py
  FWCore/Integration/test/testLooperEventNavigation1_cfg.py
  FWCore/Integration/test/testLooperEventNavigation_cfg.py
  FWCore/Integration/test/testRunMergeCOPY1_cfg.py
  FWCore/Integration/test/testRunMergeCOPY_cfg.py
  FWCore/Integration/test/testRunMergeMERGE1_cfg.py
  FWCore/Integration/test/testRunMergeMERGE3_cfg.py
  FWCore/Integration/test/testRunMergeMERGE3x_cfg.py
  FWCore/Integration/test/testRunMergeNoRunLumiSort_cfg.py
  FWCore/Integration/test/testRunMergePickEvents_cfg.py
  FWCore/Integration/test/testRunMergePickEventsx_cfg.py
  FWCore/Integration/test/testRunMergeTEST1_cfg.py
  FWCore/Integration/test/testRunMergeTEST2_cfg.py
  FWCore/Integration/test/testRunMergeTEST3_cfg.py
  FWCore/Integration/test/testRunMergeTEST4_cfg.py
  FWCore/Integration/test/testRunMergeTEST6_cfg.py
  FWCore/Integration/test/testRunMergeTEST_cfg.py
  FWCore/Integration/test/testSkipEvent_cfg.py
  FWCore/Integration/test/testSubProcess_cfg.py
  IOPool/Common/test/ReadFastMergeTestOutput_cfg.py
  IOPool/Input/test/test_complex_before_3_8_0_cfg.py
  IOPool/Input/test/test_complex_old_formats_cfg.py
  IOPool/Input/test/test_reduced_ProcessHistory_cfg.py
  IOPool/Input/test/test_reduced_ProcessHistory_dup_cfg.py
  IOPool/Input/test/test_reduced_ProcessHistory_end_cfg.py
  IOPool/Streamer/test/NewStreamCopy2_cfg.py
  IOPool/Streamer/test/NewStreamCopy_cfg.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47051 Moved construction of ProductResolvers to a separate function
  DQM/SiStripMonitorHardware/src/SiStripSpyEventMatcher.cc
  FWCore/Framework/interface/EventPrincipal.h
  FWCore/Framework/interface/LuminosityBlockPrincipal.h
  FWCore/Framework/interface/Principal.h
  FWCore/Framework/interface/ProcessBlockPrincipal.h
  FWCore/Framework/interface/ProductResolversFactory.h
  FWCore/Framework/interface/RunPrincipal.h
  FWCore/Framework/src/EventPrincipal.cc
  FWCore/Framework/src/EventProcessor.cc
  FWCore/Framework/src/LuminosityBlockPrincipal.cc
  FWCore/Framework/src/Principal.cc
  FWCore/Framework/src/ProcessBlockPrincipal.cc
  FWCore/Framework/src/ProductResolversFactory.cc
  FWCore/Framework/src/RunPrincipal.cc
  FWCore/Framework/src/SubProcess.cc
  FWCore/Framework/test/Event_t.cpp
  FWCore/Framework/test/event_getrefbeforeput_t.cppunit.cc
  FWCore/Framework/test/eventprincipal_t.cppunit.cc
  FWCore/Framework/test/generichandle_t.cppunit.cc
  FWCore/Framework/test/global_filter_t.cppunit.cc
  FWCore/Framework/test/global_outputmodule_t.cppunit.cc
  FWCore/Framework/test/global_producer_t.cppunit.cc
  FWCore/Framework/test/limited_filter_t.cppunit.cc
  FWCore/Framework/test/limited_outputmodule_t.cppunit.cc
  FWCore/Framework/test/limited_producer_t.cppunit.cc
  FWCore/Framework/test/one_outputmodule_t.cppunit.cc
  FWCore/Framework/test/stream_filter_t.cppunit.cc
  FWCore/Framework/test/stream_producer_t.cppunit.cc
  FWCore/TestProcessor/src/TestProcessor.cc
  FWCore/TestProcessor/src/TestSourceProcessor.cc
  IOPool/Input/src/OneLumiPoolSource.cc
  IOPool/Input/src/PoolSource.cc
  IOPool/Input/src/RepeatingCachedRootSource.cc
  IOPool/SecondaryInput/test/SecondaryProducer.cc
  Mixing/Base/src/PileUp.cc
Labels: core-approved, dqm-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#46856 backporting MCMultiParticleMassFilter
  GeneratorInterface/GenFilters/plugins/MCMultiParticleMassFilter.cc
Labels: generators-approved, fully-signed, tests-approved, orp-approved, backport-ok

#47080 Update of Millepede production system (MPS): large campaigns
  Alignment/MillePedeAlignmentAlgorithm/python/mpslib/Mpslibclass.py
  Alignment/MillePedeAlignmentAlgorithm/scripts/mps_check.py
  Alignment/MillePedeAlignmentAlgorithm/scripts/mps_kill.pl
  Alignment/MillePedeAlignmentAlgorithm/scripts/mps_retry.pl
  Alignment/MillePedeAlignmentAlgorithm/scripts/mps_setup.py
  Alignment/MillePedeAlignmentAlgorithm/templates/mps_runMille_template.sh
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#47091 [14_2_X] Remove redundant data members from InputFileCatalog to reduce memory use
  FWCore/Catalog/interface/InputFileCatalog.h
  FWCore/Catalog/src/InputFileCatalog.cc
  FWCore/Catalog/test/BuildFile.xml
  FWCore/Catalog/test/FileLocator_t.cpp
  FWCore/Catalog/test/InputFileCatalog_t.cpp
  FWCore/Catalog/test/TestSiteLocalConfig.h
  FWCore/Sources/interface/FromFiles.h
  FWCore/Sources/interface/ProducerSourceFromFiles.h
  FWCore/Sources/interface/RawInputSourceFromFiles.h
Labels: core-approved, fully-signed, tests-approved, orp-approved, backport-ok

#47062 [14_1_X] Remove redundant data members from InputFileCatalog to reduce memory use
  FWCore/Catalog/interface/InputFileCatalog.h
  FWCore/Catalog/src/InputFileCatalog.cc
  FWCore/Catalog/test/BuildFile.xml
  FWCore/Catalog/test/FileLocator_t.cpp
  FWCore/Catalog/test/InputFileCatalog_t.cpp
  FWCore/Catalog/test/TestSiteLocalConfig.h
  FWCore/Sources/interface/FromFiles.h
  FWCore/Sources/interface/ProducerSourceFromFiles.h
  FWCore/Sources/interface/RawInputSourceFromFiles.h
Labels: core-approved, fully-signed, tests-approved, orp-approved, backport-ok

#47016 [14.0.X] Add GEN-SIM information to resonant di-muon TkAl ALCARECO producers
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlDiMuonAndVertex_Output_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlDiMuonAndVertex_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlJpsiMuMu_Output_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlJpsiMuMu_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlUpsilonMuMu_Output_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlUpsilonMuMu_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlZMuMu_Output_cff.py
  Alignment/CommonAlignmentProducer/python/ALCARECOTkAlZMuMu_cff.py
  CommonTools/UtilAlgos/interface/ObjectSelectorBase.h
Labels: alca-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok

#47063 [14_0_X] Remove redundant data members from InputFileCatalog to reduce memory use
  FWCore/Catalog/interface/InputFileCatalog.h
  FWCore/Catalog/src/InputFileCatalog.cc
  FWCore/Catalog/test/BuildFile.xml
  FWCore/Catalog/test/FileLocator_t.cpp
  FWCore/Catalog/test/InputFileCatalog_t.cpp
  FWCore/Catalog/test/TestSiteLocalConfig.h
  FWCore/Sources/interface/FromFiles.h
  FWCore/Sources/interface/ProducerSourceFromFiles.h
  FWCore/Sources/interface/RawInputSourceFromFiles.h
Labels: core-approved, fully-signed, tests-approved, orp-approved, backport-ok

#47070 move per-run changes of L1-uGT emulator to `beginRun` (incl. loading of AXOL1TL model)
  L1Trigger/L1TGlobal/interface/AXOL1TLCondition.h
  L1Trigger/L1TGlobal/interface/AlgorithmEvaluation.h
  L1Trigger/L1TGlobal/interface/ConditionEvaluation.h
  L1Trigger/L1TGlobal/interface/CorrCondition.h
  L1Trigger/L1TGlobal/interface/CorrThreeBodyCondition.h
  L1Trigger/L1TGlobal/interface/CorrWithOverlapRemovalCondition.h
  L1Trigger/L1TGlobal/interface/GlobalBoard.h
  L1Trigger/L1TGlobal/plugins/L1TGlobalProducer.cc
  L1Trigger/L1TGlobal/plugins/L1TGlobalProducer.h
  L1Trigger/L1TGlobal/src/AXOL1TLCondition.cc
  L1Trigger/L1TGlobal/src/AlgorithmEvaluation.cc
  L1Trigger/L1TGlobal/src/CorrCondition.cc
  L1Trigger/L1TGlobal/src/CorrThreeBodyCondition.cc
  L1Trigger/L1TGlobal/src/CorrWithOverlapRemovalCondition.cc
  L1Trigger/L1TGlobal/src/GlobalBoard.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47096 Run3-hcx381 Provide a test code to provide # of readout cells for the calorimeters
  Geometry/HcalTowerAlgo/test/HcalCellCount.cc
  Geometry/HcalTowerAlgo/test/python/runHcalCellCountRun3_cfg.py
  Geometry/HcalTowerAlgo/test/python/runHcalCellCountRun4_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47041 Run3-gex185 Modify the 2025 scenario by including th corrected GE21 geometry with 4 instead of 5 added chmbers
  Configuration/Geometry/python/dict2021Geometry.py
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2025.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2025FlatMinus05Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2025FlatMinus10Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2025FlatPlus05Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2025FlatPlus10Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2025ZeroMaterial.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometry2025FlatMinus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2025FlatMinus10PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2025FlatPlus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2025FlatPlus10PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2025XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2025ZeroMaterialXML_cfi.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#47088 revert #46026 (L1-uGT emulator)
  L1Trigger/L1TGlobal/interface/GlobalBoard.h
  L1Trigger/L1TGlobal/plugins/L1TGlobalProducer.cc
  L1Trigger/L1TGlobal/plugins/L1TGlobalProducer.h
  L1Trigger/L1TGlobal/src/GlobalBoard.cc
Labels: l1-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#47111 Enable implicit host-to-device copy for Alpaka EDProducers
  DataFormats/Portable/interface/PortableCollection.h
  DataFormats/Portable/interface/PortableObject.h
  HeterogeneousCore/AlpakaCore/README.md
  HeterogeneousCore/AlpakaCore/interface/alpaka/ProducerBase.h
  HeterogeneousCore/AlpakaInterface/interface/concepts.h
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaGlobalProducerImplicitCopyToDevice.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/TestAlpakaVerifyObjectOnDevice.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/verifyDeviceObjectAsync.dev.cc
  HeterogeneousCore/AlpakaTest/plugins/alpaka/verifyDeviceObjectAsync.h
  HeterogeneousCore/AlpakaTest/test/testAlpakaModules_cfg.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#47087 Replicate the mocked version -based reduced ProcessHistory tests for streamer file format
  IOPool/Streamer/test/BuildFile.xml
  IOPool/Streamer/test/run_TestReducedProcessHistory.sh
  IOPool/Streamer/test/run_TestRefProductIDMetadataConsistencyStreamer.sh
  IOPool/Streamer/test/testReducedProcessHistoryCreate_cfg.py
  IOPool/Streamer/test/testReducedProcessHistory_cfg.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47110 Partial revert of #47079: do not use `ifValue` switches in `fillDescriptions` affecting confDB parsing
  Calibration/HcalAlCaRecoProducers/python/ALCARECOHcalCalMinBias_cff.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHfreco_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHoreco_cfi.py
  HLTrigger/Configuration/python/customizeHLTforCMSSW.py
  RecoLocalCalo/HcalRecProducers/src/HFPhase1Reconstructor.cc
  RecoLocalCalo/HcalRecProducers/src/HcalHitReconstructor.cc
Labels: alca-approved, hlt-approved, reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved

#47108 Replace `ALPAKA_STATIC_ACC_MEM_GLOBAL` with `HOST_DEVICE_CONSTANT`
  RecoLocalTracker/SiPixelClusterizer/plugins/alpaka/PixelClustering.h
  RecoTracker/LSTCore/interface/alpaka/Common.h
  RecoTracker/LSTCore/src/alpaka/NeuralNetworkWeights.h
  RecoTracker/LSTCore/standalone/analysis/DNN/train_T5_DNN.ipynb
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking, trk

#47077 Update to Cell areas and valid cells for v18/v19 version of HGCAL
  Geometry/HGCalCommonData/interface/HGCalCell.h
  Geometry/HGCalCommonData/interface/HGCalCellOffset.h
  Geometry/HGCalCommonData/interface/HGCalTypes.h
  Geometry/HGCalCommonData/src/HGCalCell.cc
  Geometry/HGCalCommonData/src/HGCalCellOffset.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#47106 Speedup of mkFit hit converters, and introduction of mkFit HLT customization for 2025
  RecoTracker/IterativeTracking/python/InitialStepPreSplitting_cff.py
  RecoTracker/MkFit/plugins/MkFitEventOfHitsProducer.cc
  RecoTracker/MkFit/plugins/MkFitPhase2HitConverter.cc
  RecoTracker/MkFit/plugins/MkFitProducer.cc
  RecoTracker/MkFit/plugins/MkFitSiPixelHitConverter.cc
  RecoTracker/MkFit/plugins/MkFitSiStripHitConverter.cc
  RecoTracker/MkFit/plugins/convertHits.h
  RecoTracker/MkFit/python/customizeHLTIter0ToMkFit.py
  RecoTracker/MkFitCore/interface/Hit.h
  RecoTracker/MkFitCore/src/KalmanUtilsMPlex.cc
  RecoTracker/MkFitCore/src/KalmanUtilsMPlex.icc
  RecoTracker/MkFitCore/src/MiniPropagators.cc
  RecoTracker/MkFitCore/src/MkBase.h
  RecoTracker/MkFitCore/src/MkBuilder.cc
  RecoTracker/MkFitCore/src/MkFinder.cc
  RecoTracker/MkFitCore/src/MkFitter.cc
  RecoTracker/MkFitCore/src/PropagationMPlex.cc
  RecoTracker/MkFitCore/src/PropagationMPlexCommon.cc
  RecoTracker/MkFitCore/src/PropagationMPlexEndcap.cc
  RecoTracker/MkFitCore/src/PropagationMPlexPlane.cc
  RecoTracker/MkFitCore/src/Track.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved, tracking

#47115 MTD geometry: temporarily revert the BTL numbering scheme update
  DataFormats/ForwardDetId/interface/BTLDetId.h
  DataFormats/ForwardDetId/src/BTLDetId.cc
  DataFormats/ForwardDetId/src/classes_def.xml
  DataFormats/TrackReco/src/HitPattern.cc
  Geometry/MTDCommonData/interface/BTLElectronicsMapping.h
  Geometry/MTDCommonData/interface/BTLNumberingScheme.h
  Geometry/MTDCommonData/src/BTLElectronicsMapping.cc
  Geometry/MTDCommonData/src/BTLNumberingScheme.cc
  Geometry/MTDGeometryBuilder/test/DD4hep_TestPixelTopology.cc
  Geometry/MTDNumberingBuilder/plugins/CmsMTDConstruction.cc
  Geometry/MTDNumberingBuilder/plugins/CmsMTDConstruction.h
  RecoMTD/DetLayers/src/MTDDetLayerGeometry.cc
  RecoMTD/DetLayers/test/mtd_cfg.py
Labels: geometry-approved, reconstruction-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, requires-external, code-checks-approved, tracking, mtd, changes-dataformats

#47112 Phase2-hgx361D Simplify the scripts in SimG4Core/PrintGeomInfo/test/python by using a new tool that finds th right ERA and Global Tag
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckHGCal_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckNoseDDD_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckRun4DD4hep_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckRun4DDD_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runDD4hepRun4_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runDDDRun4_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runMaterialBudgeInfoRun4_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runPrintG4Solids2_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runPrintG4Solids_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runPrintG4TouchRun4_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runPrintSolidRun4_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runSensRun4_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runSummaryRun4_cfg.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47103 Phase2-hgx361C Update the remaining test scripts i Validation/HGCalValidation.test/python with the new tool that finds the right ERA and Global tag for a Phase2 scenario
  Validation/HGCalValidation/test/python/testHFNoseSimHitStudy_cfg.py
  Validation/HGCalValidation/test/python/testHGCalBHValid_cfg.py
  Validation/HGCalValidation/test/python/testHGCalWaferValidation_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47097 Phase2-hgx361A Update some of the test scripts in Validation/HGCalValidation/test/python using a new tool that finds the right ERA and Global Tag
  Validation/HGCalValidation/test/python/digiClient_cfg.py
  Validation/HGCalValidation/test/python/digiValidation_cfg.py
  Validation/HGCalValidation/test/python/protoHGCalSimWatcher_cfg.py
  Validation/HGCalValidation/test/python/protoSimValid_cfg.py
  Validation/HGCalValidation/test/python/protoValid_cfg.py
  Validation/HGCalValidation/test/python/recHitClient_cfg.py
  Validation/HGCalValidation/test/python/rechitValidation_cfg.py
  Validation/HGCalValidation/test/python/simHitClient_cfg.py
  Validation/HGCalValidation/test/python/simHitValidation_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47121 Remove deprecated `cudaLimitDevRuntimeSyncDepth` functionality
  HeterogeneousCore/CUDAServices/plugins/CUDAService.cc
Labels: fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, heterogeneous-approved

#47135 fix miscellaneous python configuration files
  EventFilter/ESRawToDigi/python/esRawToDigiTmp_cfi.py
  EventFilter/SiPixelRawToDigi/python/SiPixelRawToDigiRegional_cfi.py
  RecoMuon/MuonIdentification/python/links_cfi.py
  RecoTracker/MeasurementDet/python/MaskedMeasurementTrackerEventProducer_cfi.py
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, tracking, trk

#47033 Port generic alpaka phi functions to `DataFormats/Math`
  HeterogeneousCore/AlpakaMath/BuildFile.xml
  HeterogeneousCore/AlpakaMath/interface/deltaPhi.h
  HeterogeneousCore/AlpakaMath/test/BuildFile.xml
  HeterogeneousCore/AlpakaMath/test/alpaka/testDeltaPhi.dev.cc
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#47094 fill charge_ and barycenter_ for all SiStripClusters
  DataFormats/SiStripCluster/interface/SiStripCluster.h
  DataFormats/SiStripCluster/src/SiStripCluster.cc
  DataFormats/SiStripCluster/src/classes_def.xml
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk, changes-dataformats

#47143 MTD geometry: address static CLANG analyzer error in Geometry/MTDNumberingBuilder
  Geometry/MTDNumberingBuilder/plugins/CmsMTDConstruction.h
Labels: geometry-approved, fully-signed, tests-approved, bug-fix, orp-approved, upgrade-approved, code-checks-approved

#47101 Enable running ExternalDecays (photospp only for the moment) in the HepMC3 mode
  GeneratorInterface/Core/interface/GeneratorFilter.h
  GeneratorInterface/Core/test/FailingGeneratorFilter.cc
  GeneratorInterface/ExternalDecays/BuildFile.xml
  GeneratorInterface/ExternalDecays/interface/ExternalDecayDriver.h
  GeneratorInterface/ExternalDecays/src/ExternalDecayDriver.cc
  GeneratorInterface/PhotosInterface/BuildFile.xml
  GeneratorInterface/PhotosInterface/interface/PhotosInterfaceBase.h
  GeneratorInterface/PhotosInterface/interface/PhotosppInterface.h
  GeneratorInterface/PhotosInterface/plugins/BuildFile.xml
  GeneratorInterface/PhotosInterface/plugins/PhotosppInterface.cc
  GeneratorInterface/Pythia8Interface/plugins/Pythia8HepMC3Hadronizer.cc
  GeneratorInterface/Pythia8Interface/test/pythia8G4_cfg.py
  GeneratorInterface/Pythia8Interface/test/pythia8_photos_ZToTauTau_13TeV_cfg.py
  GeneratorInterface/Pythia8Interface/test/pythia8hmc3G4_cfg.py
  GeneratorInterface/Pythia8Interface/test/pythia8hmc3_photos_ZToTauTau_13TeV_cfg.py
Labels: generators-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#47117 Created DroppedDataProductResolver
  FWCore/Framework/interface/Principal.h
  FWCore/Framework/src/DroppedDataProductResolver.cc
  FWCore/Framework/src/DroppedDataProductResolver.h
  FWCore/Framework/src/EventPrincipal.cc
  FWCore/Framework/src/Principal.cc
  FWCore/Framework/src/ProductResolversFactory.cc
  FWCore/Integration/plugins/OtherThingProducer.cc
  FWCore/Integration/plugins/TestFindProduct.cc
  FWCore/Integration/plugins/TestParentage.cc
  FWCore/Integration/test/BuildFile.xml
  FWCore/Integration/test/inconsistent_products_prod_cfg.py
  FWCore/Integration/test/inconsistent_products_test_cfg.py
  FWCore/Integration/test/run_inconsistent_products.sh
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47132 enable a `printf` call in `fitVertices` only in `verbose` mode
  RecoVertex/PixelVertexFinding/plugins/alpaka/fitVertices.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#47120 Replace `ALPAKA_STATIC_ACC_MEM_GLOBAL` with `HOST_DEVICE_CONSTANT`
  RecoLocalCalo/EcalRecProducers/plugins/alpaka/EnergyComputationKernels.h
  RecoLocalCalo/EcalRecProducers/plugins/alpaka/KernelHelpers.dev.cc
  RecoLocalCalo/HcalRecProducers/plugins/alpaka/Mahi.dev.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47126 Removed use of ConstProductRegistry outside of the framework
  CalibTracker/SiStripCommon/plugins/ShallowTree.cc
  CalibTracker/SiStripCommon/plugins/ShallowTree.h
  FWCore/Framework/interface/ProductSelectorRules.h
  FWCore/Framework/src/ProductSelectorRules.cc
  SimGeneral/MixingModule/plugins/HiMixingModule.cc
Labels: alca-approved, core-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#47130 Phase2-hgx361E Update several scripts in Geometry/HGCalGeometry/test/python using the new tool that finds the right ERA and Global Tag
  Geometry/HGCalGeometry/test/python/runCaloCellGeometryTest_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalCellDumpDD4hep_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalCellDumpDDD_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalCorner_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalGeomCheck_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalGeomLocatorSc_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalGeomLocator_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalGeometryCheck_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalGeometryMouseBite_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalGeometryNewCorners_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalGeometryRotCheck_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#47089 revert #46026 (L1-uGT emulator) [`14_2_X`]
  L1Trigger/L1TGlobal/interface/GlobalBoard.h
  L1Trigger/L1TGlobal/plugins/L1TGlobalProducer.cc
  L1Trigger/L1TGlobal/plugins/L1TGlobalProducer.h
  L1Trigger/L1TGlobal/src/GlobalBoard.cc
Labels: l1-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#47123 Remove deprecated `cudaLimitDevRuntimeSyncDepth` functionality [14.0.x]
  HeterogeneousCore/CUDAServices/plugins/CUDAService.cc
Labels: fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, heterogeneous-approved

#47122 Remove deprecated `cudaLimitDevRuntimeSyncDepth` functionality [14.2.x]
  HeterogeneousCore/CUDAServices/plugins/CUDAService.cc
Labels: fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, heterogeneous-approved

#47002 [DQM] Apply code checks/format
  DQM/GEM/plugins/GEMRecHitSource.cc
  DQM/L1TMonitor/src/L1TCaloLayer1Summary.cc
  DQM/SiStripMonitorClient/plugins/SiStripOfflineDQM.cc
  DQM/TrackerRemapper/bin/printPixelROCsMap.cc
  DQM/TrackerRemapper/src/Phase1PixelMaps.cc
  DQM/TrackerRemapper/src/Phase1PixelSummaryMap.cc
  DQMOffline/ParticleFlow/plugins/PFAnalyzer.cc
  DQMOffline/Trigger/plugins/ZGammaplusJetsMonitor.cc
  DQMOffline/Trigger/src/HLTTauDQMPath.cc
  DQMOffline/Trigger/src/HLTTauDQMPathPlotter.cc
  DQMServices/Core/src/DQMStore.cc
  DQMServices/StreamerIO/plugins/DQMStreamerReader.cc
  DQMServices/StreamerIO/plugins/TriggerSelector.cc
  HLTriggerOffline/Egamma/src/EmDQM.cc
  Validation/HGCalValidation/plugins/HGCalTestPartialWaferRecHits.cc
  Validation/HGCalValidation/src/TICLCandidateValidator.cc
  Validation/MtdValidation/plugins/Primary4DVertexValidation.cc
  Validation/MuonCSCDigis/src/CSCDigiMatcher.cc
  Validation/MuonCSCDigis/src/CSCStubMatcher.cc
  Validation/MuonGEMDigis/src/GEMDigiMatcher.cc
  Validation/MuonGEMRecHits/src/GEMRecHitMatcher.cc
  Validation/MuonRPCDigis/src/RPCDigiValid.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#47147 [TRK DIGI] Fix sampling of tracker noise
  SimTracker/SiPixelDigitizer/plugins/SiPixelDigitizerAlgorithm.cc
  SimTracker/SiStripDigitizer/plugins/SiStripDigitizerAlgorithm.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#47119 Update the signature of `allocMappedBuf`
  HeterogeneousCore/AlpakaInterface/interface/CachingAllocator.h
  HeterogeneousCore/AlpakaInterface/interface/memory.h
Labels: fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved, heterogeneous-approved

#46972 [14_2_X backport] simplify flat mixing configuration
  Configuration/StandardSequences/python/Mixing.py
Labels: operations-approved, fully-signed, tests-approved, orp-approved, backport-ok

#47081 Update of Millepede production system (backport of PR #47080 to 14_2_X)
  Alignment/MillePedeAlignmentAlgorithm/python/mpslib/Mpslibclass.py
  Alignment/MillePedeAlignmentAlgorithm/scripts/mps_check.py
  Alignment/MillePedeAlignmentAlgorithm/scripts/mps_kill.pl
  Alignment/MillePedeAlignmentAlgorithm/scripts/mps_retry.pl
  Alignment/MillePedeAlignmentAlgorithm/scripts/mps_setup.py
  Alignment/MillePedeAlignmentAlgorithm/templates/mps_runMille_template.sh
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok, trk

#47142 run more testing in `CalibTracker/SiStripCommon` unit tests
  CalibTracker/SiStripCommon/test/BuildFile.xml
  CalibTracker/SiStripCommon/test/run_tests.sh
  CalibTracker/SiStripCommon/test/test_all.sh
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#47156 Fix `cfi` creation for conf db parsing
  CommonTools/RecoAlgos/src/MassiveCandidateConverter.cc
  RecoLocalMuon/CSCSegment/src/CSCSegmentBuilder.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved

#40610 `RecoLocalTracker/SubCollectionProducers`: replacing `existsAs` with `fillDescription` for default parameter values
  RecoLocalTracker/SubCollectionProducers/src/HITrackClusterRemover.cc
  RecoLocalTracker/SubCollectionProducers/src/HLTTrackClusterRemoverNew.cc
  RecoLocalTracker/SubCollectionProducers/src/SeedClusterRemover.cc
  RecoLocalTracker/SubCollectionProducers/src/SeedClusterRemoverPhase2.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#47007 [GEM] Allow storing 2025 geometry in GEMGeometryParsFromDD
  Geometry/GEMGeometryBuilder/src/GEMGeometryBuilder.cc
  Geometry/GEMGeometryBuilder/src/GEMGeometryParsFromDD.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#47155 Remove deprecated `cudaLimitDevRuntimeSyncDepth` functionality [14.1.x]
  HeterogeneousCore/CUDAServices/plugins/CUDAService.cc
Labels: fully-signed, tests-approved, orp-approved, backport-ok, heterogeneous-approved

#47014 Fix UnnecessaryMutableChecker
  Utilities/StaticAnalyzers/src/UnnecessaryMutableChecker.cpp
  Utilities/StaticAnalyzers/test/reference.log
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47151 fix `EventSetupConflict` for producer 'SteppingHelixPropagator'
  TrackPropagation/SteppingHelixPropagator/python/SteppingHelixPropagator_cfi.py
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, code-checks-approved, tracking

#47118 Reduced what data held in BranchDescription
  Calibration/HcalAlCaRecoProducers/plugins/ProducerAnalyzer.cc
  DataFormats/Provenance/interface/BranchDescription.h
  DataFormats/Provenance/interface/Provenance.h
  DataFormats/Provenance/interface/StableProvenance.h
  DataFormats/Provenance/src/BranchDescription.cc
  FWCore/Framework/src/ProductRegistryHelper.cc
  FWCore/Framework/test/Event_t.cpp
  FWCore/Framework/test/ProductSelector_t.cpp
  FWCore/Framework/test/event_getrefbeforeput_t.cppunit.cc
  FWCore/Framework/test/eventprincipal_t.cppunit.cc
  FWCore/Framework/test/generichandle_t.cppunit.cc
  FWCore/Framework/test/productregistry.cppunit.cc
  FWCore/Framework/test/test_catch2notTP_MergeableRunProductMetadata.cc
  FWCore/Integration/plugins/DelayedReaderThrowingSource.cc
  FWCore/Integration/plugins/PutOrMergeTestSource.cc
  FWCore/Sources/src/DaqProvenanceHelper.cc
  FWCore/TestProcessor/src/TestProcessor.cc
  GeneratorInterface/LHEInterface/plugins/LHEProvenanceHelper.cc
  IOPool/Output/src/PoolOutputModule.cc
Labels: alca-approved, core-approved, generators-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47148 Corrections to HGCal Cell offsets for v19
  Geometry/HGCalCommonData/src/HGCalCellOffset.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, requires-external, code-checks-approved

#47149 Calo Layer-2 EG conditions update for 2024
  L1Trigger/Configuration/python/customiseSettings.py
  L1Trigger/L1TCalorimeter/python/caloParams_2024_v0_3_cfi.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47162 Remove unused iorules of missing reco::LeafParticle class
  DataFormats/HcalIsolatedTrack/src/classes_def.xml
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, changes-dataformats

#47159 Run3-gex186B Modify all Run3 scenarios to include the modified RPC geometry
  Configuration/Geometry/README.md
  Configuration/Geometry/python/dict2021Geometry.py
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021FlatMinus05Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021FlatMinus10Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021FlatPlus05Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021FlatPlus10Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021ZeroMaterial.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2023.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2023FlatMinus05Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2023FlatMinus10Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2023FlatPlus05Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2023FlatPlus10Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2023ZeroMaterial.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2024.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2024FlatMinus05Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2024FlatMinus10Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2024FlatPlus05Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2024FlatPlus10Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2024ZeroMaterial.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometry2021FlatMinus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2021FlatMinus10PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2021FlatPlus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2021FlatPlus10PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2021XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2021ZeroMaterialXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2023FlatMinus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2023FlatMinus10PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2023FlatPlus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2023FlatPlus10PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2023XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2023ZeroMaterialXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2024FlatMinus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2024FlatMinus10PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2024FlatPlus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2024FlatPlus10PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2024XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2024ZeroMaterialXML_cfi.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#47163 Update online GTs for 150X and GT for 2025 MC conditions in autoCond
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47168 Phase2 inner tracker class def xml fix
  DataFormats/Phase2TrackerDigi/src/classes_def.xml
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, trk, changes-dataformats

#47165 Fix in HepMC - G4 interface for displaced SUSY simulation
  SimG4Core/Application/python/g4SimHits_cfi.py
  SimG4Core/Generators/interface/Generator.h
  SimG4Core/Generators/src/Generator.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47169 Add necessary target members to HitPattern IO read rule
  DataFormats/TrackReco/src/classes_def.xml
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, tracking, changes-dataformats

#47158 Run3-gex186A Modify all Run2 scenarios to include the modified RPC geometry
  Geometry/CMSCommonData/python/cmsExtendedGeometry2015CastorMeasuredXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2015CastorSystMinusXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2015CastorSystPlusXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2015FlatMinus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2015FlatMinus10PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2015FlatPlus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2015FlatPlus10PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2015XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2015ZeroMaterialXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2015devCastorMeasuredXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2015devCastorSystMinusXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2015devCastorSystPlusXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2015devXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2016XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2016aXML_CTPPS_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2016aXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2017DDDXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2017Plan0XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2017Plan1FlatMinus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2017Plan1FlatMinus10PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2017Plan1FlatPlus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2017Plan1FlatPlus10PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2017Plan1XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2017Plan1ZeroMaterialXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2017XML_CTPPS_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2017XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2018DDDXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2018FlatMinus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2018FlatMinus10PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2018FlatPlus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2018FlatPlus10PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2018NoSDXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2018Plan0XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2018Plan36XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2018XML_CTPPS_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2018XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2018ZeroMaterialXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2019XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometryDetailedCavern2017Plan1XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometryDetailedCavern2017Plan1ZeroMaterialXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometryDetailedCavern2017XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometryDetailedCavern2018XML_cfi.py
  Geometry/CMSCommonData/python/cmsIdealGeometry2015XML_cfi.py
  Geometry/CMSCommonData/python/cmsIdealGeometry2015devXML_cfi.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#47180 MTD Validation: removed duplicated statement in BtlLocalRecoValidation
  Validation/MtdValidation/plugins/BtlLocalRecoValidation.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47174 use faster variant of OmniClusterRef and RefCoreWithIndex initialization
  DataFormats/Common/interface/RefCoreWithIndex.h
  DataFormats/TrackerRecHit2D/interface/OmniClusterRef.h
  RecoLocalTracker/SiStripRecHitConverter/src/SiStripRecHitConverterAlgorithm.cc
Labels: core-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking, trk

#47139 Fix trigger table for MUO@POG flavored nanoAOD
  PhysicsTools/NanoAOD/python/custom_muon_cff.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#47157 [Nano, JMENano] Updates for V15
  PhysicsTools/NanoAOD/plugins/SimpleFlatTableProducerPlugins.cc
  PhysicsTools/NanoAOD/python/custom_jme_cff.py
  PhysicsTools/NanoAOD/python/jetMC_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
  PhysicsTools/NanoAOD/python/nanogen_cff.py
  PhysicsTools/NanoAOD/python/nanojmeDQM_cff.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#47154 Rename reduceRange to reducePhiRange
  DQM/TrackingMonitor/src/TrackBuildingAnalyzer.cc
  DataFormats/GeometryVector/test/PhiTest.cc
  DataFormats/L1TParticleFlow/src/layer1_emulator.cpp
  DataFormats/Math/interface/deltaPhi.h
  DataFormats/Math/interface/normalizedPhi.h
  DataFormats/Math/test/deltaR_t.cpp
  DataFormats/Math/test/testAtan2.cpp
  HeterogeneousCore/AlpakaMath/interface/deltaPhi.h
  L1Trigger/L1THGCal/src/backend/HGCalHistoSeedingImpl.cc
  L1Trigger/Phase2L1ParticleFlow/plugins/L1TCorrelatorLayer1Producer.cc
  L1Trigger/Phase2L1ParticleFlow/src/CaloClusterer.cc
  L1Trigger/TrackFindingTracklet/src/HybridFit.cc
  L1Trigger/TrackFindingTracklet/src/MatchCalculator.cc
  L1Trigger/TrackFindingTracklet/src/MatchProcessor.cc
  L1Trigger/TrackFindingTracklet/src/PurgeDuplicate.cc
  L1Trigger/TrackFindingTracklet/src/Sector.cc
  L1Trigger/TrackFindingTracklet/src/Stub.cc
  L1Trigger/TrackFindingTracklet/src/Track.cc
  L1Trigger/TrackFindingTracklet/src/TrackletCalculatorBase.cc
  L1Trigger/TrackFindingTracklet/src/TrackletCalculatorDisplaced.cc
  L1Trigger/TrackFindingTracklet/test/Makefile
  RecoMuon/L2MuonSeedGenerator/plugins/L2MuonSeedGeneratorFromL1TkMu.cc
Labels: dqm-approved, hlt-approved, l1-approved, reconstruction-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, heterogeneous-approved, tracking, tests-ib-failure

#47172 ETL simulation: update of TWC parameters
  RecoLocalFastTime/FTLRecProducers/python/mtdUncalibratedRecHits_cfi.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#47186 [SIM/MTD] Fixed ECAL GFlash for Phase2
  SimG4CMS/Forward/src/MtdSD.cc
  SimG4CMS/Forward/src/TimingSD.cc
  SimG4Core/Application/src/LowEnergyFastSimModel.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47161 2025 PU and Wfs for PR Testing and GPU
  Configuration/PyReleaseValidation/python/relval_gpu.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/PyReleaseValidation/scripts/runTheMatrix.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#47153 Fix generation of cmsDriver command if accelerators contain asterisk symbol
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved, tests-ib-failure

#47179 Fix compilation of HGCalRecHitProducers.cc
  RecoLocalCalo/HGCalRecAlgos/interface/alpaka/HGCalRecHitCalibrationAlgorithms.h
  RecoLocalCalo/HGCalRecAlgos/plugins/alpaka/HGCalRecHitCalibrationAlgorithms.dev.cc
  RecoLocalCalo/HGCalRecAlgos/plugins/alpaka/HGCalRecHitProducers.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#46489 [Phase-2 L1] Incorporate object threshold scalings, ID and isolation via dictionaries into the P2GT menu
  Configuration/Applications/python/ConfigBuilder.py
  L1Trigger/Configuration/python/Phase2GTMenus/SeedDefinitions/prototypeSeeds.py
  L1Trigger/Configuration/python/Phase2GTMenus/SeedDefinitions/step1_2023/l1tGTMenu_BTagSeeds_cff.py
  L1Trigger/Configuration/python/Phase2GTMenus/SeedDefinitions/step1_2023/l1tGTMenu_cff.py
  L1Trigger/Configuration/python/Phase2GTMenus/SeedDefinitions/step1_2023/l1tGTMenu_crossLepSeeds_cff.py
  L1Trigger/Configuration/python/Phase2GTMenus/SeedDefinitions/step1_2023/l1tGTMenu_hadr_crossLepSeeds_cff.py
  L1Trigger/Configuration/python/Phase2GTMenus/SeedDefinitions/step1_2023/l1tGTMenu_hadr_metSeeds_cff.py
  L1Trigger/Configuration/python/Phase2GTMenus/SeedDefinitions/step1_2023/l1tGTMenu_lepSeeds_cff.py
  L1Trigger/Configuration/python/Phase2GTMenus/SeedDefinitions/step1_2024/l1tGTMenuObjects_cff.py
  L1Trigger/Configuration/python/Phase2GTMenus/SeedDefinitions/step1_2024/l1tGTMenu_BTagSeeds_cff.py
  L1Trigger/Configuration/python/Phase2GTMenus/SeedDefinitions/step1_2024/l1tGTMenu_cff.py
  L1Trigger/Configuration/python/Phase2GTMenus/SeedDefinitions/step1_2024/l1tGTMenu_crossLepSeeds_cff.py
  L1Trigger/Configuration/python/Phase2GTMenus/SeedDefinitions/step1_2024/l1tGTMenu_hadr_crossLepSeeds_cff.py
  L1Trigger/Configuration/python/Phase2GTMenus/SeedDefinitions/step1_2024/l1tGTMenu_hadr_metSeeds_cff.py
  L1Trigger/Configuration/python/Phase2GTMenus/SeedDefinitions/step1_2024/l1tGTMenu_lepSeeds_cff.py
  L1Trigger/Configuration/python/Phase2GTMenus/SeedDefinitions/step1_2024/l1tGTObject_constants.py
  L1Trigger/Configuration/python/Phase2GTMenus/SeedDefinitions/step1_2024/l1tGTObject_ids.py
  L1Trigger/Configuration/python/Phase2GTMenus/SeedDefinitions/step1_2024/l1tGTObject_scalings.py
  L1Trigger/Configuration/python/Phase2GTMenus/SeedDefinitions/step1_2024_explicitSeeds/l1tGTMenu_BTagSeeds_cff.py
  L1Trigger/Configuration/python/Phase2GTMenus/SeedDefinitions/step1_2024_explicitSeeds/l1tGTMenu_cff.py
  L1Trigger/Configuration/python/Phase2GTMenus/SeedDefinitions/step1_2024_explicitSeeds/l1tGTMenu_crossLepSeeds_cff.py
  L1Trigger/Configuration/python/Phase2GTMenus/SeedDefinitions/step1_2024_explicitSeeds/l1tGTMenu_hadr_crossLepSeeds_cff.py
  L1Trigger/Configuration/python/Phase2GTMenus/SeedDefinitions/step1_2024_explicitSeeds/l1tGTMenu_hadr_metSeeds_cff.py
  L1Trigger/Configuration/python/Phase2GTMenus/SeedDefinitions/step1_2024_explicitSeeds/l1tGTMenu_lepSeeds_cff.py
  L1Trigger/Configuration/python/Phase2GTMenus/SeedDefinitions/step1_2024_explicitSeeds/l1tGTObject_constants.py
  L1Trigger/Configuration/python/Phase2GTMenus/SeedDefinitions/step1_2024_explicitSeeds/l1tGTObject_ids.py
  L1Trigger/Configuration/python/Phase2GTMenus/SeedDefinitions/step1_2024_explicitSeeds/l1tGTObject_scalings.py
  L1Trigger/Configuration/python/Phase2GTMenus/prototype_2023_v1_0_0.py
  L1Trigger/Configuration/python/Phase2GTMenus/step1_2023.py
  L1Trigger/Configuration/python/Phase2GTMenus/step1_2024.py
  L1Trigger/Configuration/python/Phase2GTMenus/step1_2024_explicitSeeds.py
  L1Trigger/Phase2L1GT/python/l1tGTMenu_cff.py
Labels: l1-approved, operations-approved, fully-signed, tests-approved, bug-fix, orp-approved, upgrade-approved, code-checks-approved, allow-artlbv

#47185 speedup SiStripRecHitConverterAlgorithm by reserving the output size
  RecoLocalTracker/SiStripRecHitConverter/src/SiStripRecHitConverterAlgorithm.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#47128 fixing one include-guard and use of tabs post-#47030
  DataFormats/L1TGlobal/interface/GlobalObjectMapFwd.h
  DataFormats/L1TGlobal/src/classes_def.xml
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, changes-dataformats

#47189 throw in presence of mismatched `SimBeamSpot` types in `BetafuncEvtVtxGenerator` and `GaussEvtVtxGenerator`
  CondFormats/BeamSpotObjects/interface/SimBeamSpotObjects.h
  IOMC/EventVertexGenerators/src/BetafuncEvtVtxGenerator.cc
  IOMC/EventVertexGenerators/src/GaussEvtVtxGenerator.cc
Labels: alca-approved, simulation-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, tracking

#47167 [BTV,DQM] Add tagger inputs plots for DQM and Validation
  DQMOffline/RecoB/plugins/MiniAODTagInfoAnalyzer.cc
  DQMOffline/RecoB/python/bTagMiniDQM_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#47195 Avoid inf average values in SimpleMemoryCheck
  FWCore/Services/plugins/SimpleMemoryCheck.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47084 LST followups: better work divisions, concrete kernel dimension, some cleanup and fixes
  HeterogeneousCore/AlpakaInterface/interface/alpakastdAlgorithm.h
  RecoTracker/LSTCore/interface/Circle.h
  RecoTracker/LSTCore/interface/HitsSoA.h
  RecoTracker/LSTCore/interface/alpaka/Common.h
  RecoTracker/LSTCore/src/alpaka/Hit.h
  RecoTracker/LSTCore/src/alpaka/Kernels.h
  RecoTracker/LSTCore/src/alpaka/LSTEvent.dev.cc
  RecoTracker/LSTCore/src/alpaka/LSTEvent.h
  RecoTracker/LSTCore/src/alpaka/MiniDoublet.h
  RecoTracker/LSTCore/src/alpaka/PixelQuintuplet.h
  RecoTracker/LSTCore/src/alpaka/PixelTriplet.h
  RecoTracker/LSTCore/src/alpaka/Quintuplet.h
  RecoTracker/LSTCore/src/alpaka/Segment.h
  RecoTracker/LSTCore/src/alpaka/TrackCandidate.h
  RecoTracker/LSTCore/src/alpaka/Triplet.h
  RecoTracker/LSTCore/standalone/code/core/write_lst_ntuple.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved, tracking

#47102 HcalNano for MC
  Configuration/PyReleaseValidation/python/relval_nano.py
  DPGAnalysis/HcalNanoAOD/python/customiseHcalMC_cff.py
  PhysicsTools/NanoAOD/python/autoNANO.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved, xpog-approved, hcal

#47146 update `TestGlobalObjectMapRecordFormat` unit test with `CMSSW_15_0_0_pre2` inputs
  DataFormats/L1TGlobal/test/TestGlobalObjectMapRecordFormat.sh
  DataFormats/L1TGlobal/test/create_GlobalObjectMapRecord_test_file_cfg.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#47201 Remove use of OpenMP threading
  CommonTools/Utils/test/BuildFile.xml
  CommonTools/Utils/test/ExpressionEvaluatorUnitTest.cpp
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47181 Remove unnecessary dummy object definitions from CondFormats/L1TObjects/src/classes.h
  CondFormats/L1TObjects/src/classes.h
Labels: alca-approved, l1-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#47184 Fix edmDumpClassVersion call for CondFormats/L1TObjects
  CondFormats/L1TObjects/interface/L1TMuonBarrelParams.h
  CondFormats/L1TObjects/interface/L1TriggerKey.h
  CondFormats/L1TObjects/interface/L1TriggerKeyExt.h
Labels: alca-approved, l1-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#47202 Add missing methods to Style class
  Validation/RecoParticleFlow/interface/NicePlot.h
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47175 Add HardwareResourcesDescription class
  DataFormats/Provenance/interface/HardwareResourcesDescription.h
  DataFormats/Provenance/src/HardwareResourcesDescription.cc
  DataFormats/Provenance/test/BuildFile.xml
  DataFormats/Provenance/test/HardwareResourcesDescription_t.cpp
  FWCore/Utilities/interface/compactStringSerializer.h
  FWCore/Utilities/src/compactStringSerializer.cc
  FWCore/Utilities/test/test_catch2_compactStringSerializer.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47209 Work around ROOT bug in HitPattern IO read rule
  DataFormats/TrackReco/src/classes_def.xml
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking, changes-dataformats

#47210 Exclude neutrinos from heavy-ion genJets in miniAOD
  PhysicsTools/PatAlgos/python/producersHeavyIons/heavyIonJets_cff.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#47057 [10_6_X] Create MCMultiParticleMassFilter.cc
  GeneratorInterface/GenFilters/interface/MCMultiParticleMassFilter.cc
Labels: generators-approved, fully-signed, tests-approved, orp-approved, backport-ok

#47208 Use central phi functions instead LST ones
  RecoTracker/LSTCore/src/alpaka/Hit.h
  RecoTracker/LSTCore/src/alpaka/Kernels.h
  RecoTracker/LSTCore/src/alpaka/MiniDoublet.h
  RecoTracker/LSTCore/src/alpaka/NeuralNetwork.h
  RecoTracker/LSTCore/src/alpaka/PixelTriplet.h
  RecoTracker/LSTCore/src/alpaka/Quintuplet.h
  RecoTracker/LSTCore/src/alpaka/Segment.h
  RecoTracker/LSTCore/src/alpaka/TrackCandidate.h
  RecoTracker/LSTCore/src/alpaka/Triplet.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved, tracking

#47188 Update beamspot option in ConfigBuilder
  Configuration/Applications/python/ConfigBuilder.py
  Configuration/HLT/python/addOnTestsHLT.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/StandardSequences/python/VtxSmeared.py
Labels: hlt-approved, operations-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#46959 update seed for l1tObjectsTiming
  DQM/Integration/python/clients/l1tstage2_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47213 Sources now have independent ProductRegistry
  FWCore/Framework/interface/InputSource.h
  FWCore/Framework/interface/InputSourceDescription.h
  FWCore/Framework/interface/maker/InputSourceFactory.h
  FWCore/Framework/src/EventProcessor.cc
  FWCore/Framework/src/InputSource.cc
  FWCore/Framework/src/InputSourceFactory.cc
  FWCore/Integration/plugins/PutOrMergeTestSource.cc
  FWCore/Integration/plugins/ThrowingSource.cc
  FWCore/Sources/interface/IDGeneratorSourceBase.h
  FWCore/Sources/interface/PuttableSourceBase.h
  FWCore/Sources/src/IDGeneratorSourceBase.cc
  FWCore/Sources/src/PuttableSourceBase.cc
  FWCore/TestProcessor/src/TestSourceProcessor.cc
  IOPool/Input/src/RepeatingCachedRootSource.cc
  IOPool/Streamer/src/StreamerInputSource.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tests-manual-override

#47228 [NanoAOD, BTV] Finalize UParT branches for NanoV15
  PhysicsTools/NanoAOD/python/jetsAK4_Puppi_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#47230 Temporarily deactivate selfTest during integrate RPC geometry and isFront function modifications
  RecoMuon/DetLayers/src/MuRingForwardDoubleLayer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47214 Remove unused source member from an iorule in DataFormats/TauReco/src/classes_def_2.xml
  DataFormats/TauReco/src/classes_def_2.xml
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tests-manual-override, changes-dataformats
