Repository cms-sw/cmssw, pull requests merged in 2025-05, with the labels that each got.

#47980 Add missing dependence on ROOT to a few packages
  CondFormats/GBRForest/BuildFile.xml
  CondFormats/HIObjects/BuildFile.xml
  CondFormats/Luminosity/BuildFile.xml
  SimDataFormats/EncodedEventId/BuildFile.xml
Labels: alca-approved, simulation-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#47934 ScoutingNano Event Content Changes for 2022-25
  Configuration/Eras/python/Era_Run3_2023_cff.py
  Configuration/Eras/python/Era_Run3_2024_cff.py
  Configuration/Eras/python/Modifier_run3_scouting_nanoAOD_2023_cff.py
  Configuration/Eras/python/Modifier_run3_scouting_nanoAOD_2024_cff.py
  Configuration/Eras/python/Modifier_run3_scouting_nanoAOD_post2023_cff.py
  PhysicsTools/NanoAOD/plugins/SimpleScoutingFlatTableProducerPlugins.cc
  PhysicsTools/NanoAOD/python/custom_run3scouting_cff.py
  PhysicsTools/NanoAOD/python/run3scouting_cff.py
Labels: operations-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#47982 Phase2-hgx363S Modify the scripts in SimG4CMS/Calo/test/python to test the SIM step for the V19 version of HGCal
  SimG4CMS/Calo/test/python/runHGC10_cfg.py
  SimG4CMS/Calo/test/python/runHGC1_cfg.py
  SimG4CMS/Calo/test/python/runHGC2_cfg.py
  SimG4CMS/Calo/test/python/runHGC3_cfg.py
  SimG4CMS/Calo/test/python/runHGC4_cfg.py
  SimG4CMS/Calo/test/python/runHGC5_cfg.py
  SimG4CMS/Calo/test/python/runHGC6_cfg.py
  SimG4CMS/Calo/test/python/runHGC7_cfg.py
  SimG4CMS/Calo/test/python/runHGC8_cfg.py
  SimG4CMS/Calo/test/python/runHGC9_cfg.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47987 [JMENano] Final fixes for JMENanoV15
  PhysicsTools/NanoAOD/python/custom_jme_cff.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#47625 Added macro for generating element-wise methods to the SoAs
  DataFormats/SoATemplate/README.md
  DataFormats/SoATemplate/interface/SoACommon.h
  DataFormats/SoATemplate/interface/SoALayout.h
  DataFormats/SoATemplate/interface/SoAView.h
  DataFormats/SoATemplate/test/BuildFile.xml
  DataFormats/SoATemplate/test/SoACustomizedMethods_t.cc
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved, tests-ib-failure

#48000 Phase2-hgx363V Avoids the warningin executing cmsRun Geometry/HGCalCommonData/test/python/dumpHGCalWaferDDD_cfg.py
  Geometry/HGCalCommonData/data/hgcalwafer/v19/hgcal.xml
  Geometry/HGCalCommonData/python/testHGCalWaferV19XML_cfi.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#48003 Phase2-hgx363W Make an example to show the wafer characteristic of all valid DetIds of the silicon type
  DataFormats/ForwardDetId/interface/HGCSiliconDetId.h
  Geometry/HGCalGeometry/python/hgcalWaferInfo_cff.py
  Geometry/HGCalGeometry/test/HGCalWaferInfo.cc
  Geometry/HGCalGeometry/test/python/testHGCalWaferInfo_cfg.py
Labels: geometry-approved, simulation-approved, fully-signed, tests-started, orp-approved, upgrade-approved, code-checks-approved

#47999 Phase2-hgx363U Update the list of parameters to be saved on DB for HGCal
  CondFormats/GeometryObjects/interface/PHGCalParameters.h
  CondFormats/GeometryObjects/src/classes_def.xml
  CondTools/Geometry/plugins/PHGCalParametersDBBuilder.cc
  Geometry/HGCalCommonData/test/HGCalParametersAnalyzer.cc
Labels: alca-approved, geometry-approved, fully-signed, tests-approved, db-approved, orp-approved, upgrade-approved, code-checks-approved, changes-dataformats

#47988 Add '22+'23 Scouting Glo-ParT Inference Facility
  PhysicsTools/NanoAOD/python/run3scouting_cff.py
Labels: fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved, xpog-approved

#47996 Remove SubProcess related code from the DependencyGraph service
  FWCore/Services/plugins/DependencyGraph.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48013 Update 2025 L1T menu in autoCond to L1Menu_Collisions2025_v1_1_1_xml
  Configuration/AlCa/python/autoCond.py
  Configuration/AlCa/python/autoCondModifiers.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47997 Vertex time reconstruction: added a flag whether to use MVA selection. MTD Primary Vertex Validation: added plots to check PID perfomance and track time assingment.
  RecoVertex/PrimaryVertexProducer/interface/VertexTimeAlgorithmFromTracksPID.h
  RecoVertex/PrimaryVertexProducer/src/VertexTimeAlgorithmFromTracksPID.cc
  Validation/MtdValidation/plugins/Primary4DVertexValidation.cc
Labels: dqm-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#48017 [15_0_X] Update 2025 L1T menu in autoCond to L1Menu_Collisions2025_v1_1_1_xml
  Configuration/AlCa/python/autoCond.py
  Configuration/AlCa/python/autoCondModifiers.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok

#48024 `test_mille.py`: dump output to `stdout` instead of file
  Alignment/MillePedeAlignmentAlgorithm/test/test_mille.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#47943 Nano comaprison report will show the WF name and id
  PhysicsTools/NanoAOD/test/compare_sizes_json.py
Labels: fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved, xpog-approved

#48018 Phase2-hgx363Z Update the wafer information testing code to include placement index
  Geometry/HGCalGeometry/test/HGCalWaferInfo.cc
  Geometry/HGCalGeometry/test/python/testHGCalWaferInfo_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#47911 BPH NanoAODs backport to CMSSW_15_0_X
  Configuration/PyReleaseValidation/python/relval_nano.py
  DataFormats/PatCandidates/src/classes_def_objects.xml
  PhysicsTools/BPHNano/plugins/BPHTrackMerger.cc
  PhysicsTools/BPHNano/plugins/BToTrkLLBuilder.cc
  PhysicsTools/BPHNano/plugins/BToTrkTrkLLBuilder.cc
  PhysicsTools/BPHNano/plugins/BToV0LLBuilder.cc
  PhysicsTools/BPHNano/plugins/BuildFile.xml
  PhysicsTools/BPHNano/plugins/DiLeptonBuilder.cc
  PhysicsTools/BPHNano/plugins/DiTrackBuilder.cc
  PhysicsTools/BPHNano/plugins/KinVtxFitter.cc
  PhysicsTools/BPHNano/plugins/KinVtxFitter.h
  PhysicsTools/BPHNano/plugins/MCFinalStateSelector.cc
  PhysicsTools/BPHNano/plugins/MatchEmbedder.cc
  PhysicsTools/BPHNano/plugins/MuonTriggerSelector.cc
  PhysicsTools/BPHNano/plugins/PVertexBPHTable.cc
  PhysicsTools/BPHNano/plugins/V0ReBuilder.cc
  PhysicsTools/BPHNano/plugins/helper.h
  PhysicsTools/BPHNano/production/README.md
  PhysicsTools/BPHNano/production/apply_crab_command.sh
  PhysicsTools/BPHNano/production/samples.yml
  PhysicsTools/BPHNano/production/submit_on_crab.py
  PhysicsTools/BPHNano/python/BToKLL_cff.py
  PhysicsTools/BPHNano/python/BToTrkTrkLL_cff.py
  PhysicsTools/BPHNano/python/BToV0LL_cff.py
  PhysicsTools/BPHNano/python/DiTrack_cff.py
  PhysicsTools/BPHNano/python/MuMu_cff.py
  PhysicsTools/BPHNano/python/V0_cff.py
  PhysicsTools/BPHNano/python/common_cff.py
  PhysicsTools/BPHNano/python/genparticlesBPH_cff.py
  PhysicsTools/BPHNano/python/muons_cff.py
  PhysicsTools/BPHNano/python/particlelevelBPH_cff.py
  PhysicsTools/BPHNano/python/pverticesBPH_cff.py
  PhysicsTools/BPHNano/python/tracks_cff.py
  PhysicsTools/BPHNano/python/vertices_cff.py
  PhysicsTools/NanoAOD/plugins/CandMCMatchTableProducer.cc
  PhysicsTools/NanoAOD/plugins/SimpleFlatTableProducerPlugins.cc
  PhysicsTools/NanoAOD/python/autoNANO.py
  PhysicsTools/NanoAOD/python/custom_bph_cff.py
  TrackingTools/TransientTrack/src/classes.h
  TrackingTools/TransientTrack/src/classes_def.xml
Labels: reconstruction-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, backport-ok, xpog-approved, tracking, changes-dataformats

#48001 [JMENano] Backport of #47987 (Final fixes for JMENanoV15) to 15_0_X
  PhysicsTools/NanoAOD/python/custom_jme_cff.py
Labels: fully-signed, tests-approved, orp-approved, backport-ok, xpog-approved

#47792 [L1T] PR containing simulation and emulation related to jet mass reconstruction (Phase-2)
  DataFormats/L1TParticleFlow/interface/PFJet.h
  DataFormats/L1TParticleFlow/interface/datatypes.h
  DataFormats/L1TParticleFlow/interface/gt_datatypes.h
  DataFormats/L1TParticleFlow/interface/jets.h
  DataFormats/L1TParticleFlow/src/classes_def.xml
  L1Trigger/Configuration/python/SimL1Emulator_cff.py
  L1Trigger/Phase2L1ParticleFlow/interface/jetmet/L1SeedConePFJetEmulator.h
  L1Trigger/Phase2L1ParticleFlow/plugins/L1SeedConePFJetProducer.cc
  L1Trigger/Phase2L1ParticleFlow/python/l1pfJetMet_cff.py
  L1Trigger/Phase2L1ParticleFlow/src/jetmet/L1SeedConePFJetEmulator.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, changes-dataformats

#48011 Phase2-hgx363Y Add an example to list cell IDs of a given wafer type
  Geometry/HGCalGeometry/plugins/HGCalGeometryESProducer.cc
  Geometry/HGCalGeometry/python/hgcalListValidCells_cff.py
  Geometry/HGCalGeometry/test/HGCalListValidCells.cc
  Geometry/HGCalGeometry/test/python/testHGCalListValidCells_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#48015 Extend validated plugin testing
  FWCore/ParameterSet/test/test_catch_ParameterSetDescription.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47970 Add Config for Running HcalCalIsoTrkProducerFilter ALCARECO on new AlCaHcalIsoTrk AlCaRaw Stream
  Calibration/HcalAlCaRecoProducers/plugins/AlCaHcalIsotrkProducer.cc
  Calibration/HcalAlCaRecoProducers/python/ALCARECOHcalCalIsoTrkFromAlCaRaw_Output_cff.py
  Calibration/HcalAlCaRecoProducers/python/ALCARECOHcalCalIsoTrkFromAlCaRaw_cff.py
  Configuration/AlCa/python/autoAlca.py
  Configuration/DataProcessing/python/Impl/AlCaHcalIsoTrk_Run3.py
  Configuration/DataProcessing/test/run_CfgTest_5.sh
  Configuration/EventContent/python/AlCaRecoOutput_cff.py
  Configuration/StandardSequences/python/AlCaRecoStreams_cff.py
Labels: alca-approved, operations-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47944 [15_0_X] Add pp and UPC reco eras for 2025 oxygen runs
  Configuration/Eras/python/Era_Run3_2025_OXY_cff.py
  Configuration/Eras/python/Era_Run3_2025_UPC_OXY_cff.py
  Configuration/Eras/python/Modifier_pp_on_PbPb_run3_2025_cff.py
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/StandardSequences/python/Eras.py
  PhysicsTools/PatAlgos/python/slimming/MicroEventContent_cff.py
  PhysicsTools/PatAlgos/python/slimming/genParticles_cff.py
  PhysicsTools/PatAlgos/python/slimming/slimming_cff.py
  RecoHI/HiEvtPlaneAlgos/python/HiEvtPlane_cfi.py
  RecoHI/HiTracking/python/HILowPtConformalPixelTracks_cfi.py
  RecoTracker/TkSeedGenerator/python/trackerClusterCheck_cfi.py
  RecoVertex/PrimaryVertexProducer/python/OfflinePrimaryVertices_cfi.py
  SimCalorimetry/HcalTrigPrimProducers/python/hcaltpdigi_cff.py
  SimGeneral/Configuration/python/SimGeneral_EventContent_cff.py
Labels: l1-approved, operations-approved, reconstruction-approved, simulation-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, xpog-approved, tracking

#47793 Migrate LST inputs to SoA collections
  DQM/TrackingMonitorSource/python/TrackingSourceConfig_Tier0_cff.py
  DataFormats/Common/src/classes_def.xml
  DataFormats/TrackReco/interface/trackFromSeedFitFailed.h
  HLTrigger/Configuration/python/HLT_75e33/modules/hltInitialStepTrackCandidates_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltInitialStepTrajectorySeedsLST_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltInputLST_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltLST_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2OTHitsInputLST_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPixelSeedInputLST_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTInitialStepSequence_cfi.py
  RecoTracker/IterativeTracking/python/HighPtTripletStep_cff.py
  RecoTracker/LST/interface/LSTPhase2OTHitsInput.h
  RecoTracker/LST/interface/LSTPixelSeedInput.h
  RecoTracker/LST/plugins/BuildFile.xml
  RecoTracker/LST/plugins/LSTOutputConverter.cc
  RecoTracker/LST/plugins/LSTPhase2OTHitsInputProducer.cc
  RecoTracker/LST/plugins/LSTPixelSeedInputProducer.cc
  RecoTracker/LST/plugins/alpaka/LSTInputProducer.cc
  RecoTracker/LST/plugins/alpaka/LSTProducer.cc
  RecoTracker/LST/python/lst_cff.py
  RecoTracker/LST/src/classes.h
  RecoTracker/LST/src/classes_def.xml
  RecoTracker/LSTCore/BuildFile.xml
  RecoTracker/LSTCore/interface/Common.h
  RecoTracker/LSTCore/interface/HitsHostCollection.h
  RecoTracker/LSTCore/interface/HitsSoA.h
  RecoTracker/LSTCore/interface/LSTInputHostCollection.h
  RecoTracker/LSTCore/interface/LSTInputSoA.h
  RecoTracker/LSTCore/interface/LSTPrepareInput.h
  RecoTracker/LSTCore/interface/PixelSegmentsSoA.h
  RecoTracker/LSTCore/interface/alpaka/HitsDeviceCollection.h
  RecoTracker/LSTCore/interface/alpaka/LST.h
  RecoTracker/LSTCore/interface/alpaka/LSTInputDeviceCollection.h
  RecoTracker/LSTCore/src/alpaka/Hit.h
  RecoTracker/LSTCore/src/alpaka/Kernels.h
  RecoTracker/LSTCore/src/alpaka/LST.cc
  RecoTracker/LSTCore/src/alpaka/LSTEvent.dev.cc
  RecoTracker/LSTCore/src/alpaka/LSTEvent.h
  RecoTracker/LSTCore/src/alpaka/MiniDoublet.h
  RecoTracker/LSTCore/src/alpaka/PixelQuintuplet.h
  RecoTracker/LSTCore/src/alpaka/PixelTriplet.h
  RecoTracker/LSTCore/src/alpaka/Segment.h
  RecoTracker/LSTCore/src/alpaka/TrackCandidate.h
  RecoTracker/LSTCore/src/alpaka/classes_cuda.h
  RecoTracker/LSTCore/src/alpaka/classes_cuda_def.xml
  RecoTracker/LSTCore/src/alpaka/classes_rocm.h
  RecoTracker/LSTCore/src/alpaka/classes_rocm_def.xml
  RecoTracker/LSTCore/src/classes.cc
  RecoTracker/LSTCore/src/classes.h
  RecoTracker/LSTCore/src/classes_def.xml
  RecoTracker/LSTCore/standalone/Makefile
  RecoTracker/LSTCore/standalone/bin/lst.cc
  RecoTracker/LSTCore/standalone/code/core/AccessHelper.cc
  RecoTracker/LSTCore/standalone/code/core/trkCore.cc
  RecoTracker/LSTCore/standalone/code/core/trkCore.h
  RecoTracker/LSTCore/standalone/code/core/write_lst_ntuple.cc
  Validation/RecoTrack/plugins/MultiTrackValidator.cc
  Validation/RecoTrack/plugins/TrackFromSeedProducer.cc
  Validation/RecoTrack/plugins/TrackingNtuple.cc
  Validation/RecoTrack/src/MTVHistoProducerAlgoForTracker.cc
Labels: core-approved, dqm-approved, hlt-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved, tracking, changes-dataformats

#48029 Phase2-hgx363AB Correct the dd4hep version for V19 geometry definition of HGCal
  Geometry/HGCalCommonData/plugins/DDHGCalMixRotatedFineCassette.cc
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalMixRotatedFineCassette.cc
  Geometry/HGCalCommonData/python/testHGCalDD4hepV17Reco_cff.py
  Geometry/HGCalCommonData/python/testHGCalDD4hepV19Reco_cff.py
  Geometry/HGCalCommonData/test/python/dumpHGCalDD4hep_cfg.py
  Geometry/HGCalCommonData/test/python/dumpHGCalDDD_cfg.py
  Geometry/HGCalCommonData/test/python/g4OverlapCheckDD4hep_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#48020 Add ability to output JetTagClass to std::ostream
  DataFormats/L1TParticleFlow/interface/jets.h
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#48031 Fix HLT MTV to work with singleIterPatatrack and LST procModifiers
  Validation/RecoTrack/python/HLTmultiTrackValidator_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#48038 Use separate cache identifiers for different Principals, and add an option to use the Event cache identifier in SleepProducer
  FWCore/Framework/src/Principal.cc
  FWCore/Modules/src/TimeStudyModules.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47995 Add pT3 DNN to LST for Improved Fake Rejection
  RecoTracker/LSTCore/interface/PixelTripletsSoA.h
  RecoTracker/LSTCore/interface/alpaka/Common.h
  RecoTracker/LSTCore/src/alpaka/NeuralNetwork.h
  RecoTracker/LSTCore/src/alpaka/PixelQuintuplet.h
  RecoTracker/LSTCore/src/alpaka/PixelTriplet.h
  RecoTracker/LSTCore/src/alpaka/pT3NeuralNetworkWeights.h
  RecoTracker/LSTCore/standalone/analysis/DNN/train_pT3_DNN.ipynb
  RecoTracker/LSTCore/standalone/code/core/write_lst_ntuple.cc
  RecoTracker/LSTCore/standalone/code/core/write_lst_ntuple.h
Labels: hlt-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved, tracking

#48039 Phase2-hgx363AC Add other options for the scenarios in the test scripts
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckCalo_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckEcal_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckMuon_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckRun4DD4hep_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckRun4DDD_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckTracker_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runDD4hepRun4_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runDDDRun4_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runMaterialBudgeInfoRun4_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runPrintG4Solids2_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runPrintG4Solids_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runPrintG4TouchRun4_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runPrintSolidRun4_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runSensRun4_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runSummaryRun4_cfg.py
  Validation/Geometry/test/runMaterialBudgetVolumeRun4DD4hep_cfg.py
  Validation/Geometry/test/runMaterialBudgetVolumeRun4DDD_cfg.py
Labels: dqm-approved, geometry-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48040 Fix memory leaks in TStorageFactoryFile and StorageAccountProxy
  IOPool/TFileAdaptor/interface/TStorageFactoryFile.h
  IOPool/TFileAdaptor/src/TStorageFactoryFile.cc
  Utilities/StorageFactory/interface/StorageAccountProxy.h
  Utilities/StorageFactory/src/StorageAccountProxy.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48034 [15.0.X] add HLT trimmed pixel vertices monitoring in online DQM
  DQM/HLTEvF/python/HLTPrimaryVertexMonitoring_cff.py
  DQMOffline/RecoB/plugins/PrimaryVertexMonitor.cc
  DQMOffline/Trigger/python/PrimaryVertexMonitoring_cff.py
Labels: dqm-approved, hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok, tracking

#47973 [15_0_X] Increase RequestTimeout to three times the StreamTimeout for XrdAdaptor
  Utilities/XrdAdaptor/plugins/XrdStorageMaker.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, backport-ok

#47974 Adjust "hard-coded" HcalTPChannelParameters for HB TP Algorithm in Phase 2
  CalibCalorimetry/HcalAlgos/src/HcalDbHardcode.cc
  CalibCalorimetry/HcalPlugins/src/HcalHardcodeCalibrations.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48051 [L1T] Fixing a bug where an empty SimVertex collection would crash the L1TrackObjectNtupleMaker (Phase2)
  L1Trigger/L1TTrackMatch/test/L1TrackObjectNtupleMaker.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#47971 IB crash fix for workflows 574.0 - 577.0
  Configuration/Generator/python/AMPT_PPb_5020GeV_MinimumBias_ExtGen_cfi.py
  Configuration/Generator/python/Hydjet_Quenched_B12_5020GeV_ExtGen_cfi.py
  Configuration/Generator/python/Pyquen_ZeemumuJets_pt10_2760GeV_ExtGen_cfi.py
  Configuration/Generator/python/ReggeGribovPartonMC_EposLHC_4080_4080GeV_pPb_ExtGen_cfi.py
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: generators-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#48022 use era `Run3_2024` in `RECODR3_reHLT_2024*` steps
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#48050 follow-up: reduction of memory allocation in string manipulation in SiStrip DQM
  DQM/SiStripCommon/interface/SiStripFolderOrganizer.h
  DQM/SiStripCommon/src/SiStripFolderOrganizer.cc
  DQM/SiStripCommon/src/SiStripHistoId.cc
  DQM/SiStripMonitorDigi/src/SiStripMonitorDigi.cc
  DQM/SiStripMonitorTrack/src/SiStripMonitorTrack.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#48057 GCC14: Avoid using deprecated std::atomic_load and use std::atomic<std::shared_ptr<T>> instead
  L1Trigger/GlobalMuonTrigger/interface/L1MuGlobalMuonTrigger.h
  L1Trigger/GlobalMuonTrigger/src/L1MuGlobalMuonTrigger.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48010 Add L1TSC4NGJets to Phase2L1TNanoAOD
  DPGAnalysis/Phase2L1TNanoAOD/plugins/L1TableProducer.cc
  DPGAnalysis/Phase2L1TNanoAOD/python/l1tPh2Nanotables_cff.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#48052 Make delayed get signal work with Refs
  FWCore/Framework/src/ProductResolvers.cc
  FWCore/Services/plugins/Tracer.cc
  FWCore/Services/scripts/edmTracerCompactLogViewer.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48032 Regionally applied pixel digi morphing
  RecoLocalTracker/SiPixelDigiReProducers/plugins/BuildFile.xml
  RecoLocalTracker/SiPixelDigiReProducers/plugins/SiPixelDigiMorphing.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#48021 [15_0_X] Lower the muon pt threshold for nanoAOD (backport of #48012)
  Configuration/Eras/python/Era_Run3_2025_cff.py
  Configuration/Eras/python/Modifier_run3_nanoAOD_2025_cff.py
  Configuration/Eras/python/Modifier_run3_nanoAOD_devel_cff.py
  Configuration/PyReleaseValidation/python/relval_nano.py
  PhysicsTools/NanoAOD/python/muons_cff.py
  PhysicsTools/NanoAOD/python/nano_eras_cff.py
Labels: operations-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, backport-ok, xpog-approved

#47954 [DAQ] Improved event checks (15_0_X)
  EventFilter/Utilities/interface/DAQSource.h
  EventFilter/Utilities/interface/DAQSourceModels.h
  EventFilter/Utilities/interface/DAQSourceModelsDTH.h
  EventFilter/Utilities/interface/DAQSourceModelsFRD.h
  EventFilter/Utilities/interface/FedRawDataInputSource.h
  EventFilter/Utilities/plugins/DaqFakeReader.cc
  EventFilter/Utilities/plugins/DaqFakeReader.h
  EventFilter/Utilities/src/DAQSource.cc
  EventFilter/Utilities/src/DAQSourceModelsFRD.cc
  EventFilter/Utilities/src/EvFDaqDirector.cc
  EventFilter/Utilities/src/FedRawDataInputSource.cc
  EventFilter/Utilities/test/RunBUFU.sh
  EventFilter/Utilities/test/hlt_dir_example.py
  EventFilter/Utilities/test/startBU.py
  EventFilter/Utilities/test/startFU_daqsource.py
  EventFilter/Utilities/test/unittest_FU_daqsource.py
Labels: daq-approved, fully-signed, tests-approved, orp-approved, backport-ok

#47935 [15_0_X] Developing offline JetMET DQM for Scouting jets + applying JetID criteria
  DQMOffline/HLTScouting/python/HLTScoutingDqmOffline_cff.py
  DQMOffline/JetMET/interface/JetAnalyzer.h
  DQMOffline/JetMET/python/jetAnalyzer_cff.py
  DQMOffline/JetMET/python/jetAnalyzer_cfi.py
  DQMOffline/JetMET/python/jetMETDQMOfflineSource_cff.py
  DQMOffline/JetMET/src/JetAnalyzer.cc
  PhysicsTools/SelectorUtils/interface/Run3ScoutingPFJetIDSelectionFunctor.h
Labels: dqm-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok

#47950 [15_0_X] Backport of #47934 (ScoutingNano Event Content Changes for 2022-25)
  Configuration/Eras/python/Era_Run3_2023_cff.py
  Configuration/Eras/python/Era_Run3_2024_cff.py
  Configuration/Eras/python/Modifier_run3_scouting_nanoAOD_2023_cff.py
  Configuration/Eras/python/Modifier_run3_scouting_nanoAOD_2024_cff.py
  Configuration/Eras/python/Modifier_run3_scouting_nanoAOD_post2023_cff.py
  PhysicsTools/NanoAOD/plugins/SimpleScoutingFlatTableProducerPlugins.cc
  PhysicsTools/NanoAOD/python/custom_run3scouting_cff.py
  PhysicsTools/NanoAOD/python/run3scouting_cff.py
Labels: operations-approved, fully-signed, tests-approved, orp-approved, backport-ok, xpog-approved

#48028 [15_0_X] Fix ECAL DQM crash from ME formatter when there is no luminosity block
  DQM/EcalCommon/plugins/EcalMEFormatter.cc
  DQM/EcalCommon/test/BuildFile.xml
  DQM/EcalCommon/test/testEcalCommon.cc
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#47942 [15_0_X] New BTV Monitor
  DQMOffline/Trigger/plugins/BTVMonitor.cc
  DQMOffline/Trigger/python/BTaggingMonitor_cfi.py
  DQMOffline/Trigger/python/BTaggingMonitoring_Client_cff.py
  DQMOffline/Trigger/python/BTaggingMonitoring_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#48046 [ASAN][GCC14]Check iterators in CTPPSProtonReconstructionPlotter
  Validation/CTPPS/plugins/CTPPSProtonReconstructionPlotter.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48069 fix-Repack-RawSkim-Logic
  Configuration/DataProcessing/python/Repack.py
Labels: operations-approved, fully-signed, tests-started, orp-approved, code-checks-approved

#48060 [15_0_X] Regionally applied pixel digi morphing
  RecoLocalTracker/SiPixelDigiReProducers/plugins/BuildFile.xml
  RecoLocalTracker/SiPixelDigiReProducers/plugins/SiPixelDigiMorphing.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, trk

#48056 [15.0.X] reduction of memory allocation in string manipulation in SiStrip DQM
  DQM/SiStripCommon/interface/SiStripFolderOrganizer.h
  DQM/SiStripCommon/src/SiStripFolderOrganizer.cc
  DQM/SiStripCommon/src/SiStripHistoId.cc
  DQM/SiStripMonitorCluster/interface/SiStripMonitorCluster.h
  DQM/SiStripMonitorCluster/src/SiStripMonitorCluster.cc
  DQM/SiStripMonitorDigi/interface/SiStripMonitorDigi.h
  DQM/SiStripMonitorDigi/src/SiStripMonitorDigi.cc
  DQM/SiStripMonitorTrack/interface/SiStripMonitorTrack.h
  DQM/SiStripMonitorTrack/src/SiStripMonitorTrack.cc
  Validation/TrackerRecHits/src/SiStripRecHitsValid.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok, performance-improvements, trk

#48023 Adding GEM MEs to per-LS scope in Offline DQM (backport to 15_0_X)
  DQMServices/Core/python/nanoDQMIO_perLSoutput_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved

#48070 Backport-CMSSW_15_0_X-fix-Repack-RawSkim-Logic
  Configuration/DataProcessing/python/Repack.py
Labels: operations-approved, fully-signed, tests-approved, orp-approved, backport-ok

#48067 [EGM Scouting DQM] Update DoubleEG L1 seed for 2025 (Follow-up PR for #47889)
  HLTriggerOffline/Scouting/python/PatElectronTagProbeAnalyzer_cfi.py
  HLTriggerOffline/Scouting/python/ScoutingEGammaCollectionMonitoring_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48044 Add an option to edmFileUtil to print information on clusters
  IOPool/Common/bin/CollUtil.cc
  IOPool/Common/bin/CollUtil.h
  IOPool/Common/bin/EdmFileUtil.cpp
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48068 [Backport 15_0_X - EGM Scouting DQM] Update DoubleEG L1 seed for 2025 (Follow-up PR for #47941)
  HLTriggerOffline/Scouting/python/PatElectronTagProbeAnalyzer_cfi.py
  HLTriggerOffline/Scouting/python/ScoutingEGammaCollectionMonitoring_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#47992 [15_0_X] Run SingleMu and DoubleMu triggers separately and adapt to general workflow
  DQMOffline/HLTScouting/python/HLTScoutingDqmOffline_cff.py
  DQMOffline/HLTScouting/python/HLTScoutingPostProcessing_cff.py
  HLTriggerOffline/Scouting/plugins/ScoutingMuonTagProbeAnalyzer.cc
  HLTriggerOffline/Scouting/plugins/ScoutingMuonTriggerAnalyzer.cc
  HLTriggerOffline/Scouting/python/ScoutingMuonMonitoring_Client_cff.py
  HLTriggerOffline/Scouting/python/ScoutingMuonTriggerAnalyzer_cfi.py
  HLTriggerOffline/Scouting/test/runScoutingMonitoringDQM_muonOnly_cfg.py
Labels: dqm-pending, pending-signatures, tests-approved, orp-approved, backport-ok

#48078 Add assert to MethodSetter to trigger traceback
  CommonTools/Utils/src/MethodSetter.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tests-manual-override

#48009 Code updates to mix FastSim PileUp events with FullSim Signal events
  Configuration/ProcessModifiers/python/fastSimPU_cff.py
  SimCalorimetry/EcalSimProducers/interface/EcalDigiProducer.h
  SimCalorimetry/EcalSimProducers/src/EcalDigiProducer.cc
  SimCalorimetry/HcalSimProducers/interface/HcalDigitizer.h
  SimCalorimetry/HcalSimProducers/python/hcalUnsuppressedDigis_cfi.py
  SimCalorimetry/HcalSimProducers/src/HcalDigitizer.cc
  SimGeneral/MixingModule/plugins/MixingModule.cc
  SimGeneral/MixingModule/plugins/MixingModule.h
  SimGeneral/MixingModule/plugins/MixingWorker.cc
  SimGeneral/MixingModule/plugins/MixingWorker.h
  SimGeneral/MixingModule/plugins/MixingWorkerBase.h
  SimGeneral/MixingModule/python/SiPixelSimParameters_cfi.py
  SimGeneral/MixingModule/python/SiStripSimParameters_cfi.py
  SimGeneral/MixingModule/python/ecalDigitizer_cfi.py
  SimGeneral/MixingModule/python/mixObjects_cfi.py
  SimGeneral/MixingModule/python/mix_probFunction_25ns_PoissonOOTPU_cfi.py
  SimGeneral/MixingModule/python/pixelDigitizer_cfi.py
  SimGeneral/MixingModule/python/stripDigitizer_cfi.py
  SimGeneral/MixingModule/python/trackingTruthProducer_cfi.py
  SimGeneral/TrackingAnalysis/plugins/TrackingTruthAccumulator.cc
  SimGeneral/TrackingAnalysis/plugins/TrackingTruthAccumulator.h
  SimMuon/CSCDigitizer/python/muonCSCDigis_cfi.py
  SimMuon/CSCDigitizer/src/CSCDigiProducer.cc
  SimMuon/CSCDigitizer/src/CSCDigiProducer.h
  SimMuon/DTDigitizer/python/muonDTDigis_cfi.py
  SimMuon/DTDigitizer/src/DTDigitizer.cc
  SimMuon/DTDigitizer/src/DTDigitizer.h
  SimMuon/GEMDigitizer/plugins/GEMDigiProducer.cc
  SimMuon/GEMDigitizer/python/muonGEMDigis_cfi.py
  SimMuon/RPCDigitizer/python/muonRPCDigis_cfi.py
  SimMuon/RPCDigitizer/src/RPCDigiProducer.cc
  SimMuon/RPCDigitizer/src/RPCDigiProducer.h
  SimTracker/SiPixelDigitizer/plugins/SiPixelDigitizer.cc
  SimTracker/SiPixelDigitizer/plugins/SiPixelDigitizer.h
  SimTracker/SiStripDigitizer/plugins/SiStripDigitizer.cc
  SimTracker/SiStripDigitizer/plugins/SiStripDigitizer.h
Labels: operations-approved, simulation-approved, fully-signed, tests-approved, orp-approved, urgent, upgrade-approved, code-checks-approved, tracking, trk

#48085 Phase2-hgx363AAD Remove the 0 tolerance overlap issue in the V19 geometry description of CMSSWby Pruthvi
  Geometry/HGCalCommonData/data/dd4hep/testHGCalV16.xml
  Geometry/HGCalCommonData/data/dd4hep/testHGCalV17.xml
  Geometry/HGCalCommonData/data/dd4hep/testHGCalV17Shift.xml
  Geometry/HGCalCommonData/data/dd4hep/testHGCalV17n.xml
  Geometry/HGCalCommonData/data/dd4hep/testHGCalV18.xml
  Geometry/HGCalCommonData/data/hgcalwafer/v19/hgcalpos.xml
  Geometry/HGCalCommonData/interface/HGCalDDDConstants.h
  Geometry/HGCalCommonData/interface/HGCalWaferMask.h
  Geometry/HGCalCommonData/plugins/DDHGCalWaferPartialRotated.cc
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalWaferPartialRotated.cc
  Geometry/HGCalCommonData/src/HGCalDDDConstants.cc
  Geometry/HGCalCommonData/src/HGCalWaferMask.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#48082 Update ROOT counters in TStorageFactoryFile read functions
  IOPool/TFileAdaptor/src/TStorageFactoryFile.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48081 Add IntrusiveAllocMonitor
  FWCore/AbstractServices/interface/IntrusiveMonitorBase.h
  FWCore/AbstractServices/src/IntrusiveMonitorBase.cc
  PerfTools/AllocMonitor/README.md
  PerfTools/AllocMonitor/plugins/IntrusiveAllocMonitor.cc
  PerfTools/AllocMonitor/test/BuildFile.xml
  PerfTools/AllocMonitor/test/test_intrusiveAllocMonitor.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47829 Add treatment of HGCAL calibration and surrounding cells
  CondFormats/HGCalObjects/interface/HGCalMappingParameterSoA.h
  Geometry/HGCalMapping/plugins/alpaka/HGCalMappingCellESProducer.cc
  Geometry/HGCalMapping/python/hgcalmapping_cff.py
  Geometry/HGCalMapping/test/testMappingModuleIndexer_cfg.py
  RecoLocalCalo/HGCalRecAlgos/interface/alpaka/HGCalRecHitCalibrationAlgorithms.h
  RecoLocalCalo/HGCalRecAlgos/plugins/alpaka/HGCalRecHitCalibrationAlgorithms.dev.cc
  RecoLocalCalo/HGCalRecAlgos/plugins/alpaka/HGCalRecHitProducers.cc
Labels: alca-approved, geometry-approved, reconstruction-approved, fully-signed, tests-approved, db-approved, orp-approved, upgrade-approved, code-checks-approved, heterogeneous-approved, hgcal-dpg-approved

#47994 Remove the use of deprecated MPI C++ bindings
  GeneratorInterface/SherpaInterface/src/SherpaHadronizer.cc
  HeterogeneousCore/CUDACore/test/mpiCudaGeneric.cu
  HeterogeneousCore/MPICore/test/testMPI.cc
Labels: generators-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#48073 Add storage tracer
  FWCore/Services/src/SiteLocalConfigService.cc
  IOPool/TFileAdaptor/src/TFileAdaptor.cc
  IOPool/TFileAdaptor/src/TFileAdaptor.h
  Utilities/DCacheAdaptor/plugins/DCacheStorageMaker.cc
  Utilities/DavixAdaptor/plugins/DavixStorageMaker.cc
  Utilities/StorageFactory/BuildFile.xml
  Utilities/StorageFactory/README.md
  Utilities/StorageFactory/interface/StorageFactory.h
  Utilities/StorageFactory/interface/StorageMaker.h
  Utilities/StorageFactory/interface/StorageProxyMaker.h
  Utilities/StorageFactory/interface/StorageProxyMakerFactory.h
  Utilities/StorageFactory/plugins/BuildFile.xml
  Utilities/StorageFactory/plugins/HttpStorageMaker.cc
  Utilities/StorageFactory/plugins/LocalStorageMaker.cc
  Utilities/StorageFactory/plugins/StorageAddLatencyProxy.cc
  Utilities/StorageFactory/plugins/StorageTracerProxy.cc
  Utilities/StorageFactory/scripts/edmStorageTrace.py
  Utilities/StorageFactory/src/StorageFactory.cc
  Utilities/StorageFactory/src/StorageProxyMaker.cc
  Utilities/StorageFactory/src/StorageProxyMakerFactory.cc
  Utilities/StorageFactory/test/BuildFile.xml
  Utilities/StorageFactory/test/test_storageproxies.sh
  Utilities/StorageFactory/test/test_storageproxy_make_file_cfg.py
  Utilities/StorageFactory/test/test_storageproxy_test_cfg.py
  Utilities/XrdAdaptor/README.md
  Utilities/XrdAdaptor/plugins/XrdStorageMaker.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48099 Phase2-hgx363AH Allow overlap checks for HGCal scenarios from V16 till V19 with the dd4hep definition
  Geometry/HGCalCommonData/data/dd4hep/testHGCalV16.xml
  Geometry/HGCalCommonData/data/dd4hep/testHGCalV17.xml
  Geometry/HGCalCommonData/data/dd4hep/testHGCalV17Shift.xml
  Geometry/HGCalCommonData/data/dd4hep/testHGCalV18.xml
  Geometry/HGCalCommonData/python/testHGCalDD4hepV16Reco_cff.py
  Geometry/HGCalCommonData/test/python/g4OverlapCheckDD4hep_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#48103 Mark SoA element constructor `constexpr`
  DataFormats/SoATemplate/interface/SoAView.h
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#48076 Introduce `ph2_hlt` predefined workflow list
  Configuration/PyReleaseValidation/README.md
  Configuration/PyReleaseValidation/python/relval_Run4.py
  Configuration/PyReleaseValidation/scripts/runTheMatrix.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, requires-external, code-checks-approved

#48084 Use InputSourceRunHelper in RNTupleSource
  FWCore/Sources/interface/InputSourceRunHelper.h
  FWCore/Sources/src/InputSourceRunHelper.cc
  FWIO/RNTuple/plugins/BuildFile.xml
  FWIO/RNTuple/plugins/RNTupleInputFile.cc
  FWIO/RNTuple/plugins/RNTupleInputFile.h
  FWIO/RNTuple/plugins/RNTupleSource.cc
  FWIO/RNTuple/test/BuildFile.xml
  FWIO/RNTuple/test/PreRNTupleInputTest_cfg.py
  FWIO/RNTuple/test/RunPerLumiTest_cfg.py
  FWIO/RNTuple/test/TestRNTupleInputRunPerLumi.sh
  FWIO/RNTuple/test/firstLuminosityBlockForEachRunTest_cfg.py
  FWIO/RNTuple/test/firstLuminosityBlockForEachRun_skipLumis2_Test_cfg.py
  FWIO/RNTuple/test/firstLuminosityBlockForEachRun_skipLumis_Test_cfg.py
  FWIO/RNTuple/test/unit_test_outputs/RunPerLumiTest.filtered.txt
  IOPool/Input/src/EmbeddedRootSource.cc
  IOPool/Input/src/EmbeddedRootSource.h
  IOPool/Input/src/PoolSource.cc
  IOPool/Input/src/PoolSource.h
  IOPool/Input/src/RepeatingCachedRootSource.cc
  IOPool/Input/src/RootFile.cc
  IOPool/Input/src/RootFile.h
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48092 Phase2-hgx363AAE Update the directory names of several scenarios defined in Geometry/CMSCommonData and Geometry/HGCalCommonData
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2019DD4hep.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometryRun4D98Calo.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometryRun4D98Muon.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometryRun4D98Tracker.xml
  Geometry/HGCalCommonData/data/dd4hep/cms-test-ddhgcalEEV16-algorithm.xml
  Geometry/HGCalCommonData/data/dd4hep/cms-test-ddhgcalEEV17-algorithm.xml
  Geometry/HGCalCommonData/data/dd4hep/cms-test-ddhgcalEEV18-algorithm.xml
  Geometry/HGCalCommonData/data/dd4hep/cms-test-ddhgcalEEV19-algorithm.xml
  Geometry/HGCalCommonData/data/dd4hep/cms-test-ddhgcalHEmixV16-algorithm.xml
  Geometry/HGCalCommonData/data/dd4hep/cms-test-ddhgcalHEmixV17-algorithm.xml
  Geometry/HGCalCommonData/data/dd4hep/cms-test-ddhgcalHEmixV18-algorithm.xml
  Geometry/HGCalCommonData/data/dd4hep/cms-test-ddhgcalHEmixV19-algorithm.xml
  Geometry/HGCalCommonData/data/dd4hep/cms-test-ddhgcalHEsilV16-algorithm.xml
  Geometry/HGCalCommonData/data/dd4hep/cms-test-ddhgcalHEsilV17-algorithm.xml
  Geometry/HGCalCommonData/data/dd4hep/cms-test-ddhgcalHEsilV18-algorithm.xml
  Geometry/HGCalCommonData/data/dd4hep/cms-test-ddhgcalHEsilV19-algorithm.xml
  Geometry/HGCalCommonData/data/dd4hep/testHGCalPassiveV18.xml
  Geometry/HGCalCommonData/data/dd4hep/testHGCalPassiveV19.xml
  Geometry/HGCalCommonData/data/dd4hep/testHGCalPassiveV19c.xml
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#48097 fix code-checks in ProductProvenanceLookup
  DataFormats/Provenance/interface/ProductProvenanceLookup.h
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48102 PPS 2025 Reconstruction geometry BUG FIX
  Geometry/VeryForwardData/data/CTPPS_2025/Stations/Reco/v1/RP_210_Left_Station.xml
  Geometry/VeryForwardData/data/CTPPS_2025/Stations/Reco/v1/RP_210_Right_Station.xml
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48096 fix axes in edmStreamStallGrapher
  FWCore/Concurrency/scripts/edmStreamStallGrapher.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48101 update an estimate vertex smearing parameters for 2025 OO MC
  Configuration/StandardSequences/python/VtxSmeared.py
  IOMC/EventVertexGenerators/python/VtxSmearedNominal2025OOCollision_cfi.py
  IOMC/EventVertexGenerators/python/VtxSmearedParameters_cfi.py
Labels: operations-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48108 Phase2-hgx363AI Remove some of the overlaps in the ETL versions in v9 and v10
  Geometry/MTDCommonData/data/etl/v10/etl.xml
  Geometry/MTDCommonData/data/etl/v9/etl.xml
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#48094 Phase2-hgx363AAF Update the directory names of several scenarios defined in Geometry/HcalAlgo and Geometry/HcalcommonData
  Geometry/HcalAlgo/data/cms-test-Phase2GeometryFine-algorithm.xml
  Geometry/HcalAlgo/data/cms-test-ddhcalPhase2-algorithm.xml
  Geometry/HcalAlgo/data/cmsExtendedGeometry2021.xml
  Geometry/HcalCommonData/data/dd4hep/cmsExtendedGeometryRun4D99.xml
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48095 Phse2-hgx363AAG Update the directory names of several scenarios defined in Geometry/MuoncommonDta
  Geometry/MuonCommonData/data/dd4hep/testGE0XML.xml
  Geometry/MuonCommonData/data/dd4hep/testGEMXML.xml
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48045 use unpacked track-finder inputs for kBMTF in `L1REPACK:Full`
  Configuration/StandardSequences/python/SimL1EmulatorRepack_Full_cff.py
Labels: l1-approved, operations-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#48055 use unpacked HCAL TPs for L1T-ZDC sums in `L1TReEmulFromRAW`
  L1Trigger/Configuration/python/customiseReEmul.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48113 Phase2-hgx363AJ Correct the *SensorSeparation* to 2mm and modify the list of tiles with modified IR to avoid overlaps
  Geometry/HGCalCommonData/data/hgcal/v19/hgcal.xml
  Geometry/HGCalCommonData/data/hgcalHEmix/v19/hgcalHEmix.xml
  Geometry/HGCalCommonData/data/hgcalwafer/v19/hgcal.xml
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#48112 Fix missing towerMaker collection in AOD in Run3_2025_OXY eras
  RecoJets/Configuration/python/RecoJets_EventContent_cff.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48037 Take uGT DQM emulation CICADA from unpacked
  DQM/L1TMonitor/python/L1TStage2Emulator_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48074 Alignment Validation: fix `GeneralPurposeVertexAnalyzer` configuration
  Alignment/OfflineValidation/plugins/GeneralPurposeVertexAnalyzer.cc
  Alignment/OfflineValidation/python/TkAlAllInOneTool/GenericV_cfg.py
  Alignment/OfflineValidation/test/testPrimaryVertexRelatedValidations_cfg.py
  DQMOffline/RecoB/plugins/PrimaryVertexMonitor.cc
Labels: alca-approved, dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, tracking, trk

#48121 [L1T] Calo trigger Zero Suppression at Layer1 included in Online producer
  L1TriggerConfig/L1TConfigProducers/src/CaloParamsHelperO2O.h
  L1TriggerConfig/L1TConfigProducers/src/L1TCaloParamsOnlineProd.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48115 Fix SoftMuonMvaRun3Estimator for NaN chi2 (PromptReco issue)
  PhysicsTools/PatAlgos/src/SoftMuonMvaRun3Estimator.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#48118 Phase2-hgx363AK Remove the overlaps in the Phase2 scenarios D111, D112, D113 due to tracker subscenarios T16, T37 and T38
  Configuration/Geometry/python/dictRun4Geometry.py
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometryRun4D111.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometryRun4D112.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometryRun4D113.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometryRun4D111XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometryRun4D112XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometryRun4D113XML_cfi.py
  Geometry/TrackerCommonData/data/PhaseII/Tracker_DD4hep_compatible_OT806_IT741_2024_01/v1/pixel.xml
  Geometry/TrackerCommonData/data/PhaseII/Tracker_DD4hep_compatible_OT806_IT742_2024_01/v1/pixel.xml
  Geometry/TrackerCommonData/data/PhaseII/Tracker_DD4hep_compatible_OT806_IT744_2024_01/v1/pixel.xml
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, trk

#48132 Phase2-hgx363AL Make a v19 version where the cell structure is made only in the SIM step while making hits
  Geometry/HGCalCommonData/data/hgcalCons/v19n/hgcalCons.xml
  Geometry/HGCalCommonData/data/hgcalwafer/v19n/hgcalwafer.xml
  Geometry/HGCalCommonData/python/testHGCalV18ngXML_cfi.py
  Geometry/HGCalCommonData/python/testHGCalV19nXML_cfi.py
  Geometry/HGCalCommonData/test/python/dumpHGCalDDD_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#48041 Silence Wdangling-reference in RecoLocalCalo/EcalRecProducers alpaka plugin
  RecoLocalCalo/EcalRecProducers/plugins/alpaka/EcalUncalibRecHitPhase2WeightsAlgoPortable.dev.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48125 Release principals in TestSourceProcessor
  FWCore/TestProcessor/src/TestSourceProcessor.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48117 [15_0_X] update an estimate vertex smearing parameters for 2025 OO MC
  Configuration/StandardSequences/python/VtxSmeared.py
  IOMC/EventVertexGenerators/python/VtxSmearedNominal2025OOCollision_cfi.py
  IOMC/EventVertexGenerators/python/VtxSmearedParameters_cfi.py
Labels: operations-approved, simulation-approved, fully-signed, tests-approved, orp-approved

#48110 [15.0.X] add monitoring for `TkAlHLTTracks` and `TkAlHLTTracksZMuMu` track collections
  Configuration/StandardSequences/python/AlCaRecoStreams_cff.py
  DQMOffline/Alignment/python/ALCARECOTkAlDQM_cff.py
Labels: alca-approved, dqm-approved, operations-approved, fully-signed, tests-approved, orp-approved, backport-ok

#48105 [15_0_X][L1T] Calo trigger Zero Suppression at Layer1 included in Online producer
  L1TriggerConfig/L1TConfigProducers/src/CaloParamsHelperO2O.h
  L1TriggerConfig/L1TConfigProducers/src/L1TCaloParamsOnlineProd.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, backport-ok

#48075 [15.0.X] Alignment Validation: fix `GeneralPurposeVertexAnalyzer` configuration
  Alignment/OfflineValidation/plugins/GeneralPurposeVertexAnalyzer.cc
  Alignment/OfflineValidation/python/TkAlAllInOneTool/GenericV_cfg.py
  Alignment/OfflineValidation/test/testPrimaryVertexRelatedValidations_cfg.py
  DQMOffline/RecoB/plugins/PrimaryVertexMonitor.cc
Labels: alca-approved, dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, tracking, trk

#48072 use unpacked track-finder inputs for kBMTF in `L1REPACK:Full` [`15_0_X`]
  Configuration/StandardSequences/python/SimL1EmulatorRepack_Full_cff.py
Labels: l1-approved, operations-approved, fully-signed, tests-approved, orp-approved, backport-ok

#47976 [Backport to 15_0_X (#47974)] Adjust "hard-coded" HcalTPChannelParameters for HB TP Algorithm in Phase 2
  CalibCalorimetry/HcalAlgos/src/HcalDbHardcode.cc
  CalibCalorimetry/HcalPlugins/src/HcalHardcodeCalibrations.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok

#48116 [15.0.X] Fix SoftMuonMvaRun3Estimator for NaN chi2 (PromptReco issue)
  PhysicsTools/PatAlgos/src/SoftMuonMvaRun3Estimator.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, xpog-approved

#48126 [Backport to 15_0_X (#48122)] Fix AlCaHcalIsoTrk_Run3 Scenario Impl
  Configuration/DataProcessing/python/Impl/AlCaHcalIsoTrk_Run3.py
Labels: operations-approved, fully-signed, tests-approved, orp-approved, backport

#48144 Phase2-hgx363AM Update several test scripts in Geometry/HGCalCommonData/test/python
  Geometry/HGCalCommonData/test/python/dumpHGCalCellDDD_cfg.py
  Geometry/HGCalCommonData/test/python/dumpHGCalEEDD4hep_cfg.py
  Geometry/HGCalCommonData/test/python/dumpHGCalEEDDD_cfg.py
  Geometry/HGCalCommonData/test/python/dumpHGCalGeometryDD4hep_cfg.py
  Geometry/HGCalCommonData/test/python/dumpHGCalGeometryDDD_cfg.py
  Geometry/HGCalCommonData/test/python/dumpHGCalHEmixDD4hep_cfg.py
  Geometry/HGCalCommonData/test/python/dumpHGCalHEmixDDD_cfg.py
  Geometry/HGCalCommonData/test/python/dumpHGCalHEsilDD4hep_cfg.py
  Geometry/HGCalCommonData/test/python/dumpHGCalHEsilDDD_cfg.py
  Geometry/HGCalCommonData/test/python/dumpHGCalWaferDD4hep_cfg.py
  Geometry/HGCalCommonData/test/python/dumpHGCalWaferDDD_cfg.py
  Geometry/HGCalCommonData/test/python/dumpTBModuleDDD_cfg.py
  Geometry/HGCalCommonData/test/python/g4OverlapCheckLayer_cfg.py
  Geometry/HGCalCommonData/test/python/runHGCalDD4hep_cfg.py
  Geometry/HGCalCommonData/test/python/runHGCalDDD_cfg.py
  Geometry/HGCalCommonData/test/python/runHGCalTestDD4hep_cfg.py
  Geometry/HGCalCommonData/test/python/runHGCalTestDDD_cfg.py
  Geometry/HGCalCommonData/test/python/testHGCGeometry_cfg.py
  Geometry/HGCalCommonData/test/python/testHGCalPartialWaferTester_cfg.py
  Geometry/HGCalCommonData/test/python/testHGCalScintID_cfg.py
  Geometry/HGCalCommonData/test/python/testHGCalV17Shift_cfg.py
  Geometry/HGCalCommonData/test/python/testHGCalValidHex_cfg.py
  Geometry/HGCalCommonData/test/python/testHGCalValidity_cfg.py
  Geometry/HGCalCommonData/test/python/testHGCalWaferID_cfg.py
  Geometry/HGCalCommonData/test/python/testHGCalWafer_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#48127 [UBSAN][GCC14]move large constructor code in to private member function
  Alignment/MuonAlignmentAlgorithms/interface/MuonResidualsFromTrack.h
  Alignment/MuonAlignmentAlgorithms/src/MuonResidualsFromTrack.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48138 Simplified helpers for edmNew::DetSetVector
  DataFormats/Common/interface/DetSetVectorNew.h
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48139 Fix static assert warning in TimingServiceBase
  FWCore/AbstractServices/interface/TimingServiceBase.h
  FWCore/AbstractServices/src/TimingServiceBase.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48140 Removed const_cast in DataKey
  FWCore/Framework/src/DataKey.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48123 Geometry/TrackerGeometryBuilder/README.md: fix `subDetId` typo
  Geometry/TrackerGeometryBuilder/README.md
  Geometry/TrackerNumberingBuilder/README.md
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, documentation, trk

#48143 Static analysis fixes for FWCore
  FWCore/Catalog/interface/FileLocator.h
  FWCore/Framework/interface/ESSourceProductResolverBase.h
  FWCore/Framework/interface/es_Label.h
  FWCore/Framework/src/Path.cc
  FWCore/Framework/src/Principal.cc
  FWCore/MessageLogger/src/MessageSender.cc
  FWCore/MessageService/bin/Standalone.cpp
  FWCore/MessageService/src/ThreadSafeLogMessageLoggerScribe.cc
  FWCore/MessageService/src/ThreadSafeLogMessageLoggerScribe.h
  FWCore/ParameterSet/src/FillDescriptionFromPSet.cc
  FWCore/PythonFramework/src/PythonEventProcessor.cc
  FWCore/Utilities/interface/UnixSignalHandlers.h
  FWCore/Utilities/src/Digest.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48111 Improve `BeamSpotCompatibilityChecker` and its usage in `Alignment/OfflineValidation`
  Alignment/OfflineValidation/python/TkAlAllInOneTool/DiMuonV_cfg.py
  Alignment/OfflineValidation/python/TkAlAllInOneTool/JetHT_cfg.py
  Alignment/OfflineValidation/python/TkAlAllInOneTool/PV_cfg.py
  Alignment/OfflineValidation/python/TkAlAllInOneTool/SplitV_cfg.py
  Alignment/OfflineValidation/python/TkAlAllInOneTool/Zmumu_cfg.py
  Alignment/OfflineValidation/test/PVValidation_TEMPL_cfg.py
  Alignment/OfflineValidation/test/PVValidation_T_cfg.py
  Alignment/OfflineValidation/test/PrimaryVertexResolution_cfg.py
  Alignment/OfflineValidation/test/PrimaryVertexResolution_templ_cfg.py
  Alignment/OfflineValidation/test/testPrimaryVertexRelatedValidations_cfg.py
  Alignment/OfflineValidation/test/test_all_Phase2_cfg.py
  Alignment/OfflineValidation/test/test_all_cfg.py
  DQM/BeamMonitor/python/AlcaBeamMonitor_cff.py
  RecoVertex/BeamSpotProducer/plugins/BeamSpotCompatibilityChecker.cc
  RecoVertex/BeamSpotProducer/plugins/BeamSpotOnlineProducer.cc
  RecoVertex/BeamSpotProducer/test/testBeamSpotCompatibility.cc
  RecoVertex/BeamSpotProducer/test/testBeamSpotCompatibility_cfg.py
Labels: alca-approved, dqm-approved, reconstruction-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, tracking, trk

#48154 Phase2-hgx363AN Update all the testscripts in Geometry/HGCalGeometry/test/python for the V19 HGCal Geometry
  Geometry/HGCalGeometry/test/python/testHGCalCellDumpDDD_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalCorner_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalGeomCheck_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalGeomLocatorSc_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalGeomLocator_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalGeometryCheck_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalGeometryMouseBite_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalGeometryNewCorners_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalGeometryRotCheck_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalGeometryRotTest_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalGeometry_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalListValidCells_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalRecHitTool_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalSize_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalWaferCell_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalWaferInFileCheck_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalWaferInFileTest_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalWaferInfo_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalWaferTypeTester_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#48147 Fix SimTracksterSC pdgId in TICLDumper
  RecoHGCal/TICL/plugins/TICLDumper.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#48151 [UBSAN] Avoid large constructor for HDShower class
  FastSimulation/ShowerDevelopment/interface/HDShower.h
  FastSimulation/ShowerDevelopment/src/HDShower.cc
Labels: fastsim-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48145 Revert RPC Endcap Disk4 rotation - for Run 4 Scenario with 2030/v6/rpcf.xml
  Geometry/MuonCommonData/data/rpcf/2030/v6/rpcf.xml
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48087 Updates to the NGT DQM Scouting instance and introducing new NGT DQM scouting online client
  DQM/HLTEvF/plugins/ScoutingCollectionMonitor.cc
  DQM/HLTEvF/python/ScoutingCollectionMonitor_cfi.py
  DQM/Integration/python/clients/ngt_dqm_sourceclient-live_cfg.py
  DQM/Integration/test/BuildFile.xml
  DQMOffline/HLTScouting/python/HLTScoutingDqmOffline_cff.py
  HLTriggerOffline/Scouting/python/ScoutingCollectionMonitor_cfi.py
Labels: dqm-approved, hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, ngt

#48160 Fix initialisation / deactivation of XercesC in OMTF emulator code
  L1Trigger/L1TCommon/BuildFile.xml
  L1Trigger/L1TCommon/src/XmlConfigParser.cc
  L1Trigger/L1TMuonOverlap/BuildFile.xml
  L1Trigger/L1TMuonOverlap/interface/XMLConfigWriter.h
  L1Trigger/L1TMuonOverlap/src/XMLConfigReader.cc
  L1Trigger/L1TMuonOverlap/src/XMLConfigWriter.cc
  L1Trigger/L1TMuonOverlapPhase1/BuildFile.xml
  L1Trigger/L1TMuonOverlapPhase1/interface/Omtf/XMLConfigWriter.h
  L1Trigger/L1TMuonOverlapPhase1/src/Omtf/XMLConfigReader.cc
  L1Trigger/L1TMuonOverlapPhase1/src/Omtf/XMLConfigWriter.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48137 [HGCAL] Clean HGCal configuration & calibration
  CondFormats/HGCalObjects/interface/HGCalCalibrationParameterHost.h
  CondFormats/HGCalObjects/interface/HGCalConfigParamSoA.h
  CondFormats/HGCalObjects/interface/HGCalConfiguration.h
  CondFormats/HGCalObjects/interface/HGCalMappingModuleIndexer.h
  CondFormats/HGCalObjects/interface/alpaka/HGCalCalibrationParameterDevice.h
  CondFormats/HGCalObjects/src/T_EventSetup_HGCalCalibrationParameterHost.cc
  CondFormats/HGCalObjects/src/alpaka/T_EventSetup_HGCalCalibrationParameterDevice.cc
  CondFormats/HGCalObjects/src/classes_def.xml
  RecoLocalCalo/HGCalRecAlgos/BuildFile.xml
  RecoLocalCalo/HGCalRecAlgos/interface/HGCalESProducerTools.h
  RecoLocalCalo/HGCalRecAlgos/interface/alpaka/HGCalRecHitCalibrationAlgorithms.h
  RecoLocalCalo/HGCalRecAlgos/plugins/HGCalConfigurationESProducer.cc
  RecoLocalCalo/HGCalRecAlgos/plugins/alpaka/HGCalRecHitCalibrationAlgorithms.dev.cc
  RecoLocalCalo/HGCalRecAlgos/plugins/alpaka/HGCalRecHitCalibrationESProducer.cc
  RecoLocalCalo/HGCalRecAlgos/plugins/alpaka/HGCalRecHitConfigurationESProducer.cc
  RecoLocalCalo/HGCalRecAlgos/plugins/alpaka/HGCalRecHitProducers.cc
  RecoLocalCalo/HGCalRecAlgos/src/HGCalESProducerTools.cc
  RecoLocalCalo/HGCalRecAlgos/test/alpaka/HGCalRecHitESProducersTest.cc
  RecoLocalCalo/HGCalRecAlgos/test/testHGCalRecHitESProducers_cfg.py
Labels: alca-approved, reconstruction-approved, fully-signed, tests-approved, db-approved, orp-approved, upgrade-approved, code-checks-approved, heterogeneous-approved, hgcal-dpg-approved, changes-dataformats

#48148 TICL: change Trackster SimToReco score, to fix overlapping CaloParticle issues
  SimCalorimetry/HGCalAssociatorProducers/plugins/AllTracksterToSimTracksterAssociatorsByHitsProducer.cc
  SimCalorimetry/HGCalAssociatorProducers/plugins/AllTracksterToSimTracksterAssociatorsByLCsProducer.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#48166 Phase2-hgx364A Update some of the tests in Geometry/HGCalGeometry/test to estimate the errors correctly
  DataFormats/ForwardDetId/interface/HGCScintillatorDetId.h
  Geometry/HGCalGeometry/test/HGCalGeometryTester.cc
  Geometry/HGCalGeometry/test/HGCalSizeTester.cc
Labels: geometry-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#48175 Add new line before Nano Comparison header
  PhysicsTools/NanoAOD/test/compare_sizes_json.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#48122 Fix AlCaHcalIsoTrk_Run3 Scenario Impl
  Configuration/DataProcessing/python/Impl/AlCaHcalIsoTrk_Run3.py
Labels: operations-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48164 use BX info in L1-uGT emulation of CICADA conditions [`15_0_X`]
  L1Trigger/L1TGlobal/interface/GlobalBoard.h
  L1Trigger/L1TGlobal/src/CICADACondition.cc
  L1Trigger/L1TGlobal/src/GlobalBoard.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, backport-ok

#48114 Fixes for HGCal validation at HLT
  Configuration/ProcessModifiers/python/ngtScouting_cff.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  SimCalorimetry/HGCalAssociatorProducers/plugins/AllHitToTracksterAssociatorsProducer.cc
  SimCalorimetry/HGCalAssociatorProducers/plugins/AllTracksterToSimTracksterAssociatorsByHitsProducer.cc
  SimCalorimetry/HGCalAssociatorProducers/plugins/AllTracksterToSimTracksterAssociatorsByLCsProducer.cc
  Validation/HGCalValidation/python/HLT_TICLIterLabels_cff.py
Labels: dqm-approved, operations-approved, simulation-approved, fully-signed, tests-approved, pdmv-approved, bug-fix, orp-approved, upgrade-approved, code-checks-approved, ngt

#48159 Get ServiceToken in TStorageFactoryFile
  IOPool/TFileAdaptor/interface/TStorageFactoryFile.h
  IOPool/TFileAdaptor/src/TStorageFactoryFile.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48180 Phase2-hgx364C Update the scripts in SimG4CMS/Calo/test/python for Run3 and Run4 scenarios
  SimG4CMS/Calo/test/python/Gen_MinBias.py
  SimG4CMS/Calo/test/python/Gen_SingleMuon.py
  SimG4CMS/Calo/test/python/SimRun3_cfg.py
  SimG4CMS/Calo/test/python/SimRun4_cfg.py
  SimG4CMS/Calo/test/python/minbias.py
  SimG4CMS/Calo/test/python/minbiasRun4_cfg.py
  SimG4CMS/Calo/test/python/testHGCalGuardRing_cfg.py
  SimG4CMS/Calo/test/python/testHGCalMouseBite_cfg.py
  SimG4CMS/Calo/test/python/ttbar.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48153 Update FastSim 2024 Era, add 2025 workflow
  Configuration/Eras/python/Era_Run3_2024_FastSim_cff.py
  Configuration/Eras/python/Era_Run3_2025_FastSim_cff.py
  Configuration/PyReleaseValidation/python/relval_2017.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  Configuration/StandardSequences/python/Eras.py
Labels: operations-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#48185 [TICL] Reco to Sim score redefinition
  SimCalorimetry/HGCalAssociatorProducers/plugins/AllTracksterToSimTracksterAssociatorsByHitsProducer.cc
  SimCalorimetry/HGCalAssociatorProducers/plugins/AllTracksterToSimTracksterAssociatorsByLCsProducer.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#48156 [15.0.X] Improve `BeamSpotCompatibilityChecker` and its usage in `Alignment/OfflineValidation`
  Alignment/OfflineValidation/python/TkAlAllInOneTool/DiMuonV_cfg.py
  Alignment/OfflineValidation/python/TkAlAllInOneTool/JetHT_cfg.py
  Alignment/OfflineValidation/python/TkAlAllInOneTool/PV_cfg.py
  Alignment/OfflineValidation/python/TkAlAllInOneTool/SplitV_cfg.py
  Alignment/OfflineValidation/python/TkAlAllInOneTool/Zmumu_cfg.py
  Alignment/OfflineValidation/test/PVValidation_TEMPL_cfg.py
  Alignment/OfflineValidation/test/PVValidation_T_cfg.py
  Alignment/OfflineValidation/test/PrimaryVertexResolution_cfg.py
  Alignment/OfflineValidation/test/PrimaryVertexResolution_templ_cfg.py
  Alignment/OfflineValidation/test/testPrimaryVertexRelatedValidations_cfg.py
  Alignment/OfflineValidation/test/test_all_Phase2_cfg.py
  Alignment/OfflineValidation/test/test_all_cfg.py
  DQM/BeamMonitor/python/AlcaBeamMonitor_cff.py
  RecoVertex/BeamSpotProducer/plugins/BeamSpotCompatibilityChecker.cc
  RecoVertex/BeamSpotProducer/plugins/BeamSpotOnlineProducer.cc
  RecoVertex/BeamSpotProducer/test/testBeamSpotCompatibility.cc
  RecoVertex/BeamSpotProducer/test/testBeamSpotCompatibility_cfg.py
Labels: alca-approved, dqm-approved, reconstruction-approved, fully-signed, tests-approved, db-approved, orp-approved, backport-ok, tracking, trk

#48188 Phase2-hgx364D Make cog the default position for v19 while retrieving position from DetId
  Geometry/HGCalGeometry/src/HGCalGeometry.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#48199 Issue UnusedProductsForCanDeleteEarly message only once
  FWCore/Framework/src/StreamSchedule.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48203 Allow temporary std::string messages for IntrusiveMonitorBase
  FWCore/AbstractServices/interface/IntrusiveMonitorBase.h
  PerfTools/AllocMonitor/test/test_intrusiveAllocMonitor.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47912 [14_1_X] 2025 update of heavy-ion generator configurations
  Configuration/Generator/python/AMPT_PPb_5020GeV_MinimumBias_ExtGen_cfi.py
  Configuration/Generator/python/AMPT_PPb_5020GeV_MinimumBias_cfi.py
  Configuration/Generator/python/Hijing_PPb_MinimumBias_cfi.py
  Configuration/Generator/python/Hydjet2_Quenched_MinBias_5020GeV_cfi.py
  Configuration/Generator/python/Hydjet_Quenched_B12_5020GeV_ExtGen_cfi.py
  Configuration/Generator/python/Hydjet_Quenched_B12_5020GeV_cfi.py
  Configuration/Generator/python/Hydjet_Quenched_B12_5362GeV_cfi.py
  Configuration/Generator/python/Hydjet_Quenched_MinBias_2760GeV_cfi.py
  Configuration/Generator/python/Hydjet_Quenched_MinBias_5020GeV_cfi.py
  Configuration/Generator/python/Hydjet_Quenched_MinBias_5362GeV_cfi.py
  Configuration/Generator/python/Hydjet_Quenched_MinBias_5519GeV_cfi.py
  Configuration/Generator/python/Hydjet_Quenched_MinBias_XeXe_5442GeV_cfi.py
  Configuration/Generator/python/Pyquen2015Settings_cff.py
  Configuration/Generator/python/Pyquen2025Settings_cff.py
  Configuration/Generator/python/Pyquen_DiJet_pt80to120_2760GeV_cfi.py
  Configuration/Generator/python/Pyquen_DiJet_pt80to120_5362GeV_cfi.py
  Configuration/Generator/python/Pyquen_GammaJet_pt20_2760GeV_cfi.py
  Configuration/Generator/python/Pyquen_GammaJet_pt20_5362GeV_cfi.py
  Configuration/Generator/python/Pyquen_ZeemumuJets_pt10_2760GeV_ExtGen_cfi.py
  Configuration/Generator/python/Pyquen_ZeemumuJets_pt10_2760GeV_cfi.py
  Configuration/Generator/python/Pyquen_ZeemumuJets_pt10_5362GeV_cfi.py
  Configuration/Generator/python/ReggeGribovPartonMC_EposLHC_4080_4080GeV_pPb_ExtGen_cfi.py
  Configuration/Generator/python/ReggeGribovPartonMC_EposLHC_4080_4080GeV_pPb_cfi.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  GeneratorInterface/HydjetInterface/interface/HydjetHadronizer.h
  GeneratorInterface/HydjetInterface/python/hydjetDefaultParameters_cff.py
  GeneratorInterface/HydjetInterface/python/hydjetDefault_cfi.py
  GeneratorInterface/HydjetInterface/test/testHydjet.py
Labels: generators-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, backport-ok

#48181 [xSAN]Explicitly link against libresolv for Sanitizer IB
  FWCore/Framework/bin/BuildFile.xml
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47993 Update for Masked VFAT plots on GEM onlineDQM
  DQM/GEM/interface/GEMDAQStatusSource.h
  DQM/GEM/plugins/GEMDAQStatusSource.cc
  DQM/GEM/plugins/GEMDQMHarvester.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48200 Add an option to edmFileUtil to print detailed basket information for a given branch
  IOPool/Common/bin/CollUtil.cc
  IOPool/Common/bin/CollUtil.h
  IOPool/Common/bin/EdmFileUtil.cpp
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48206 Phs2-hgx364E Make some bug fixes for the V18 and V19 versions of HGCal
  Geometry/HGCalCommonData/src/HGCalDDDConstants.cc
  SimG4CMS/Calo/test/python/runHGC11_cfg.py
Labels: geometry-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#48212 do not apply long-distance interactions on `hltHgcalMergeLayerClusters`
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHgcalMergeLayerClusters_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTHgcalLocalRecoSequence_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTHgcalTiclPFClusteringForEgammaUnseededSequence_cfi.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48209 BPH NanoAODs: increase precision and add decay modes
  PhysicsTools/BPHNano/plugins/BPHTrackMerger.cc
  PhysicsTools/BPHNano/plugins/BToTrkLLBuilder.cc
  PhysicsTools/BPHNano/plugins/BToTrkTrkLLBuilder.cc
  PhysicsTools/BPHNano/plugins/BToV0LLBuilder.cc
  PhysicsTools/BPHNano/plugins/BToV0TrkDisplacedLLBuilder.cc
  PhysicsTools/BPHNano/plugins/BToV0TrkLLBuilder.cc
  PhysicsTools/BPHNano/plugins/MuonTriggerSelector.cc
  PhysicsTools/BPHNano/plugins/V0ReBuilder.cc
  PhysicsTools/BPHNano/plugins/helper.h
  PhysicsTools/BPHNano/python/BToKLL_cff.py
  PhysicsTools/BPHNano/python/BToTrkTrkLL_cff.py
  PhysicsTools/BPHNano/python/BToV0LL_cff.py
  PhysicsTools/BPHNano/python/BToV0TrkLL_cff.py
  PhysicsTools/BPHNano/python/MuMu_cff.py
  PhysicsTools/BPHNano/python/V0_cff.py
  PhysicsTools/BPHNano/python/genparticlesBPH_cff.py
  PhysicsTools/BPHNano/python/muons_cff.py
  PhysicsTools/BPHNano/python/tracks_cff.py
  PhysicsTools/BPHNano/python/vertices_cff.py
  PhysicsTools/NanoAOD/python/custom_bph_cff.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved
