Repository cms-sw/cmssw, pull requests merged in 2025-09, with the labels that each got.

#48827 add a unit tests for running `GRun`, `HIon`, `Special` in FULL output mode
  HLTrigger/Configuration/test/BuildFile.xml
  HLTrigger/Configuration/test/testHLTOutput.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48748 [15_0_X] Deprecate PU trend plot in offline DQM for ECAL
  DQM/EcalMonitorTasks/src/OccupancyTask.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#48734 Digi Morphing for HLT
  RecoLocalTracker/SiPixelClusterizer/plugins/alpaka/PixelClustering.h
  RecoLocalTracker/SiPixelClusterizer/plugins/alpaka/SiPixelMorphingConfig.h
  RecoLocalTracker/SiPixelClusterizer/plugins/alpaka/SiPixelRawToCluster.cc
  RecoLocalTracker/SiPixelClusterizer/plugins/alpaka/SiPixelRawToClusterKernel.dev.cc
  RecoLocalTracker/SiPixelClusterizer/plugins/alpaka/SiPixelRawToClusterKernel.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved, trk

#48871 14_2_X Fixed outgoing R-hadron check for stop R-hadrons
  SimG4Core/CustomPhysics/src/FullModelHadronicProcess.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, backport-ok

#48833 Fix documentation for SoftActivityJetNjets parameters
  PhysicsTools/NanoAOD/python/softActivity_cff.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved, documentation

#48821 [15.0.X] fix `GeneralPurposeTrackAnalyzer` for `StreamHLTMonitor` events
  Alignment/OfflineValidation/plugins/GeneralPurposeTrackAnalyzer.cc
Labels: alca-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, trk

#48866 13_1_X Fixed outgoing R-hadron check for stop R-hadrons
  SimG4Core/CustomPhysics/src/FullModelHadronicProcess.cc
Labels: simulation-approved, fully-signed, tests-started, orp-approved, backport-ok

#48790 [15.0.X] Fixing minor error in Scouting DQM module
  DQM/HLTEvF/plugins/ScoutingCollectionMonitor.cc
Labels: dqm-approved, hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#48708 [15_0_X] HCALDQM: Revise of calibration tasks
  DQM/HcalCommon/interface/Constants.h
  DQM/HcalCommon/interface/Utilities.h
  DQM/HcalCommon/interface/ValueQuantity.h
  DQM/HcalCommon/src/Utilities.cc
  DQM/HcalTasks/interface/DigiTask.h
  DQM/HcalTasks/interface/HFRaddamTask.h
  DQM/HcalTasks/interface/LEDTask.h
  DQM/HcalTasks/interface/LaserTask.h
  DQM/HcalTasks/interface/UMNioTask.h
  DQM/HcalTasks/plugins/DigiTask.cc
  DQM/HcalTasks/plugins/HFRaddamTask.cc
  DQM/HcalTasks/plugins/LEDTask.cc
  DQM/HcalTasks/plugins/LaserTask.cc
  DQM/HcalTasks/plugins/UMNioTask.cc
  DQM/HcalTasks/python/DigiTask_cfi.py
  DQM/HcalTasks/python/HFRaddamTask_cfi.py
  DQM/HcalTasks/python/LEDTask_cfi.py
  DQM/HcalTasks/src/DigiRunSummary.cc
  DQM/Integration/python/clients/hcal_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#48851 TICLv5 Adjust Linking step
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltTiclCandidate_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltTiclTracksterLinksL1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltTiclTracksterLinks_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/psets/hltTiclTracksterLinksPSet_cfi.py
  RecoHGCal/TICL/plugins/GeneralInterpretationAlgo.cc
  RecoHGCal/TICL/plugins/TICLCandidateProducer.cc
  RecoHGCal/TICL/plugins/TracksterLinkingbySkeletons.cc
  RecoHGCal/TICL/python/iterativeTICL_cff.py
Labels: hlt-approved, reconstruction-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#48890 silence `SiPixelRawToCluster` verbose ROC and FED error printouts (again)
  RecoLocalTracker/SiPixelClusterizer/plugins/alpaka/SiPixelRawToCluster.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, trk

#48931 Renaming the GTs for Mini to Mini MC Campaigns (Run2+Run3)
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48925 remove wf 24834.911
  Configuration/PyReleaseValidation/python/relval_Run4.py
  Configuration/PyReleaseValidation/scripts/README.md
  Configuration/PyReleaseValidation/scripts/runTheMatrix.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#48608 Phase 2 EB trig primitive: needed fix to PR 42633
  DataFormats/EcalDigi/src/EcalEBPhase2TriggerPrimitiveDigi.cc
  SimCalorimetry/EcalEBTrigPrimProducers/test/testPhase2_15_0_0.py
Labels: l1-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#48924 Trim down `ALCAPROMPT` step in the Prompt Calibration Loop
  Alignment/CommonAlignmentProducer/python/ALCARECOPromptCalibProdSiPixelAliHG_cff.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOPromptCalibProdSiStripGains_cff.py
  Calibration/TkAlCaRecoProducers/python/ALCARECOPromptCalibProdSiStripHitEfficiency_cff.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk, ngt

#48835 LST: introduce code to write object data in standalone and fix memory leak
  RecoTracker/LSTCore/interface/SegmentsSoA.h
  RecoTracker/LSTCore/src/alpaka/Segment.h
  RecoTracker/LSTCore/standalone/analysis/DNN/embed_train.ipynb
  RecoTracker/LSTCore/standalone/analysis/DNN/train_pT3_DNN.ipynb
  RecoTracker/LSTCore/standalone/bin/lst.cc
  RecoTracker/LSTCore/standalone/code/core/AnalysisConfig.h
  RecoTracker/LSTCore/standalone/code/core/trkCore.cc
  RecoTracker/LSTCore/standalone/code/core/trkCore.h
  RecoTracker/LSTCore/standalone/code/core/write_lst_ntuple.cc
  RecoTracker/LSTCore/standalone/code/core/write_lst_ntuple.h
  RecoTracker/LSTCore/standalone/code/rooutil/treeutil.cc
  RecoTracker/LSTCore/standalone/code/rooutil/treeutil.h
  RecoTracker/LSTCore/standalone/efficiency/python/lst_plot_performance.py
  RecoTracker/LSTCore/standalone/efficiency/src/performance.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved, tracking

#48926 Change job/threads split for Phase-2 HLT timing tests
  HLTrigger/Configuration/python/HLT_75e33/test/runHLTTiming.sh
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48930 [14_1_X]: Backport of fix for Noisy ElectronSeedProducer
  DataFormats/EgammaReco/src/ElectronSeed.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok

#48221 Further fixes for HGCal validation at HLT
  RecoHGCal/TICL/plugins/SimTrackstersProducer.cc
  Validation/HGCalValidation/plugins/HGCalValidator.cc
Labels: dqm-approved, reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, upgrade-approved, code-checks-approved, ngt

#48771 DemonstratorTools: make TMUX slice staggering optional, and disable it in GTTFileWriter
  L1Trigger/DemonstratorTools/interface/BoardDataWriter.h
  L1Trigger/DemonstratorTools/interface/GTTInterface.h
  L1Trigger/DemonstratorTools/plugins/GTTFileWriter.cc
  L1Trigger/DemonstratorTools/src/BoardDataWriter.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48951 SoftMuonMvaRun3Estimator: use std::abs
  PhysicsTools/PatAlgos/src/SoftMuonMvaRun3Estimator.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, xpog-approved

#48947 Update the compile-time warp size constant for ROCm 7.0
  HeterogeneousCore/AlpakaInterface/interface/warpsize.h
  HeterogeneousCore/AlpakaInterface/test/alpaka/testPrefixScan.dev.cc
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#48778 Extend `cmsTraceFunction` test to `putenv()` and `--abort`
  Utilities/ReleaseScripts/test/gdb/test-cmsTraceFunction-putenv.cpp
  Utilities/ReleaseScripts/test/gdb/test-cmsTraceFunction-setenv.sh
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48927 CaloCluster forward declaration
  DataFormats/CaloRecHit/interface/CaloClusterCollection.h
  DataFormats/CaloRecHit/interface/CaloClusterFwd.h
  DataFormats/CaloRecHit/src/classes.h
  DataFormats/EgammaCandidates/interface/Conversion.h
  DataFormats/EgammaReco/interface/PreshowerCluster.h
  DataFormats/EgammaReco/interface/SuperCluster.h
  DataFormats/EgammaTrackReco/interface/TrackCaloClusterAssociation.h
  DataFormats/EgammaTrackReco/interface/TrackCandidateCaloClusterAssociation.h
  DataFormats/ParticleFlowReco/interface/PFCluster.h
  Fireworks/Calo/interface/FWECALCaloDataDetailViewBuilder.h
  Fireworks/Calo/interface/FWECALDetailViewBuilder.h
  Fireworks/Calo/plugins/FWCaloClusterProxyBuilder.cc
  L1Trigger/L1TNtuples/interface/L1AnalysisRecoCluster.h
  RecoEcal/EgammaClusterProducers/src/CosmicClusterProducer.cc
  RecoEcal/EgammaClusterProducers/src/IslandClusterProducer.cc
  RecoEgamma/EgammaHLTProducers/plugins/HLTHGCalLayerClusterIsolationProducer.cc
  RecoEgamma/EgammaPhotonAlgos/interface/ConversionTrackEcalImpactPoint.h
  RecoEgamma/EgammaPhotonAlgos/interface/OutInConversionSeedFinder.h
  RecoEgamma/EgammaTools/interface/HGCalClusterTools.h
  RecoEgamma/EgammaTools/interface/HGCalIsoCalculator.h
  SimCalorimetry/HGCalAssociatorProducers/plugins/LCToCPAssociatorByEnergyScoreImpl.cc
  SimCalorimetry/HGCalAssociatorProducers/plugins/LCToSCAssociatorByEnergyScoreImpl.cc
  SimCalorimetry/HGCalAssociatorProducers/plugins/LCToSimTSAssociatorByEnergyScoreImpl.h
  SimCalorimetry/HGCalAssociatorProducers/plugins/TSToSCAssociatorByEnergyScoreImpl.h
  SimCalorimetry/HGCalAssociatorProducers/plugins/TSToSimTSAssociatorByEnergyScoreImpl.h
  SimCalorimetry/HGCalAssociatorProducers/plugins/TSToSimTSHitLCAssociatorByEnergyScoreImpl.h
  SimDataFormats/Associations/interface/LayerClusterToCaloParticleAssociatorBaseImpl.h
  SimDataFormats/Associations/interface/LayerClusterToSimClusterAssociatorBaseImpl.h
  SimDataFormats/Associations/interface/TracksterToSimClusterAssociatorBaseImpl.h
  SimDataFormats/Associations/interface/TracksterToSimTracksterAssociatorBaseImpl.h
  SimDataFormats/Associations/interface/TracksterToSimTracksterHitLCAssociatorBaseImpl.h
Labels: hlt-approved, l1-approved, reconstruction-approved, visualization-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, ngt

#48955 Phase2-hgx364D Correct the material content of the steel cover in the CE-H section
  Geometry/HGCalCommonData/data/hgcalHEmix/v19/hgcalHEmix.xml
  Geometry/HGCalCommonData/data/hgcalHEmix/v19X/hgcalHEmix.xml
  Geometry/HGCalCommonData/data/hgcalHEsil/v19/hgcalHEsil.xml
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#48962 Update FED Raw Data Dumper tester
  DataFormats/FEDRawData/test/DumpFEDRawDataProduct.cc
Labels: daq-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48957 add support for multiple input FEDs in `HLTL1NumberFilter`
  HLTrigger/Configuration/python/customizeHLTforCMSSW.py
  HLTrigger/special/plugins/HLTL1NumberFilter.cc
  HLTrigger/special/plugins/HLTL1NumberFilter.h
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, hlt-integration

#48983 Make TupleOrPointerType use const pointer in SoAConstParametersImpl
  DataFormats/SoATemplate/interface/SoACommon.h
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#48935 [NGT] Add extra NGT scouting track table producer, when using `NANO:@NGTScoutingVal`
  HLTrigger/NGTScouting/plugins/HLTTracksExtraTableProducer.cc
  HLTrigger/NGTScouting/plugins/HLTVertexTableProducer.cc
  HLTrigger/NGTScouting/python/HLTNanoProducer_cff.py
  HLTrigger/NGTScouting/python/hltTracks_cfi.py
  HLTrigger/NGTScouting/python/hltVertices_cfi.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, ngt

#48970 [mkFit] propagation to plane in backward fit phase2 and bug fix
  RecoTracker/MkFitCMS/interface/LayerNumberConverter.h
  RecoTracker/MkFitCore/interface/Config.h
  RecoTracker/MkFitCore/src/KalmanUtilsMPlex.h
  RecoTracker/MkFitCore/src/MkBuilder.cc
  RecoTracker/MkFitCore/src/MkFinder.cc
  RecoTracker/MkFitCore/src/MkFinder.h
  RecoTracker/MkFitCore/src/PropagationMPlexPlane.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved, tracking

#48941 Update HGCal testbeam relval workflow
  RecoLocalCalo/Configuration/python/hgcalTestBeamLocalReco_cff.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved, hgcal-dpg-approved

#48965 [15.1.X] add support for multiple input FEDs in `HLTL1NumberFilter`
  HLTrigger/Configuration/python/customizeHLTforCMSSW.py
  HLTrigger/special/plugins/HLTL1NumberFilter.cc
  HLTrigger/special/plugins/HLTL1NumberFilter.h
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#48990 Run3-gex190 Update the ZDC description using a new zdc.xml file from Hanna
  Configuration/Geometry/README.md
  Configuration/Geometry/python/dict2021Geometry.py
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2025.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometry2025XML_cfi.py
  Geometry/ForwardCommonData/data/zdc/2025/v1/zdc.xml
Labels: geometry-approved, pending-signatures, tests-approved, orp-approved, upgrade-pending, code-checks-approved

#48993 [15.1.X] deal with `Fake` HLT menus in `ScoutingMuonTriggerAnalyzer`
  HLTriggerOffline/Scouting/plugins/ScoutingMuonTriggerAnalyzer.cc
  HLTriggerOffline/Scouting/python/ScoutingMuonTriggerAnalyzer_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#48989 add hepmc writer
  GeneratorInterface/RivetInterface/plugins/GenParticles2HepMCConverter.cc
  GeneratorInterface/RivetInterface/test/genParticles2HepMC_cfg.py
Labels: generators-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48981 Run3-alca261 Update the macros used to calibrate Hcal IsoTrack studies
  Calibration/HcalCalibAlgos/macros/CalibFitPlots.C
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48813 [L1T] Update P2GT Emulator with latest IDs and Scalings from Annual Review 2025 (Phase 2)
  L1Trigger/Configuration/python/Phase2GTMenus/SeedDefinitions/step1_2024/l1tGTMenuObjects_cff.py
  L1Trigger/Configuration/python/Phase2GTMenus/SeedDefinitions/step1_2024/l1tGTMenu_BTagSeeds_cff.py
  L1Trigger/Configuration/python/Phase2GTMenus/SeedDefinitions/step1_2024/l1tGTMenu_crossLepSeeds_cff.py
  L1Trigger/Configuration/python/Phase2GTMenus/SeedDefinitions/step1_2024/l1tGTMenu_lepSeeds_cff.py
  L1Trigger/Configuration/python/Phase2GTMenus/SeedDefinitions/step1_2024/l1tGTObject_constants.py
  L1Trigger/Configuration/python/Phase2GTMenus/SeedDefinitions/step1_2024/l1tGTObject_ids.py
  L1Trigger/Configuration/python/Phase2GTMenus/SeedDefinitions/step1_2024/l1tGTObject_scalings.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48857 Move MultiVectorManager to DataFormats/Common and address discussion from #48826 and rename it to MultiSpan
  DataFormats/Common/interface/MultiSpan.h
  DataFormats/Common/test/test_catch2_MultiSpan.cpp
  DataFormats/HGCalReco/interface/MultiVectorManager.h
  DataFormats/HGCalReco/interface/Trackster.h
  RecoHGCal/TICL/interface/TICLInterpretationAlgoBase.h
  RecoHGCal/TICL/interface/TracksterLinkingAlgoBase.h
  RecoHGCal/TICL/plugins/GeneralInterpretationAlgo.cc
  RecoHGCal/TICL/plugins/GeneralInterpretationAlgo.h
  RecoHGCal/TICL/plugins/TICLCandidateProducer.cc
  RecoHGCal/TICL/plugins/TracksterLinksProducer.cc
  RecoLocalCalo/HGCalRecAlgos/interface/ClusterTools.h
  RecoLocalCalo/HGCalRecAlgos/src/ClusterTools.cc
  RecoLocalCalo/HGCalRecProducers/plugins/RecHitMapProducer.cc
  SimCalorimetry/HGCalAssociatorProducers/plugins/AllHitToTracksterAssociatorsProducer.cc
  SimCalorimetry/HGCalAssociatorProducers/plugins/AllTracksterToSimTracksterAssociatorsByHitsProducer.cc
  SimCalorimetry/HGCalAssociatorProducers/plugins/HitToLayerClusterAssociatorProducer.cc
  SimCalorimetry/HGCalAssociatorProducers/plugins/HitToLayerClusterAssociatorProducer.h
  SimCalorimetry/HGCalAssociatorProducers/plugins/HitToSimClusterCaloParticleAssociatorProducer.cc
  SimCalorimetry/HGCalAssociatorProducers/plugins/HitToSimClusterCaloParticleAssociatorProducer.h
  SimCalorimetry/HGCalAssociatorProducers/plugins/HitToTracksterAssociatorProducer.cc
  SimCalorimetry/HGCalAssociatorProducers/plugins/HitToTracksterAssociatorProducer.h
  Validation/HGCalValidation/interface/BarrelVHistoProducerAlgo.h
  Validation/HGCalValidation/interface/BarrelValidator.h
  Validation/HGCalValidation/interface/HGCalValidator.h
  Validation/HGCalValidation/interface/HGVHistoProducerAlgo.h
  Validation/HGCalValidation/plugins/BarrelValidator.cc
  Validation/HGCalValidation/plugins/HGCalValidator.cc
  Validation/HGCalValidation/src/BarrelVHistoProducerAlgo.cc
  Validation/HGCalValidation/src/HGVHistoProducerAlgo.cc
Labels: core-approved, dqm-approved, reconstruction-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#48996 Add test for reading files with different ProductRegistries
  IOPool/Tests/test/BuildFile.xml
  IOPool/Tests/test/runDifferentProductRegistries.sh
  IOPool/Tests/test/testDifferentProductRegistriesRead_cfg.py
  IOPool/Tests/test/testDifferentProductRegistriesWrite_cfg.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#49019 Provide fillDescriptions to CSC ESproducers for HLT
  CalibMuon/CSCCalibration/interface/CSCChannelMapperESProducer.h
  CalibMuon/CSCCalibration/interface/CSCIndexerESProducer.h
  CalibMuon/CSCCalibration/plugins/CSCChannelMapperESProducer.cc
  CalibMuon/CSCCalibration/plugins/CSCIndexerESProducer.cc
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#48910 [15_1_X] Fixed pz transform for SUEP constituent
  GeneratorInterface/Pythia8Interface/src/SuepShower.cc
Labels: generators-approved, fully-signed, tests-approved, orp-approved, backport-ok

#48972 [15_0_X] Add PF GPU-CPU difference plots in DQM
  DQM/PFTasks/plugins/PFHcalGPUComparisonTask.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#48973 [15_1_X] Add PF GPU-CPU difference plots in DQM
  DQM/PFTasks/plugins/PFHcalGPUComparisonTask.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#48978 [DQM]: Improvements to ZDC DQM
  DQM/HcalTasks/interface/ZDCQIE10Task.h
  DQM/HcalTasks/plugins/ZDCQIE10Task.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, urgent, code-checks-approved

#48900 [15.0.X] TkAlignment all-in-one validation: use `DiMuonMassProfiles` for Z → µµ merge step
  Alignment/OfflineValidation/bin/Zmumumerge.cc
  Alignment/OfflineValidation/bin/dimuonmerge.cc
  Alignment/OfflineValidation/macros/DiMuonMassProfiles.C
  Alignment/OfflineValidation/test/unit_test.yaml
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok, trk

#48977 [15_1_X_DQM]: Changes to ZDC DQM for HIN Data-Taking 2025.
  DQM/HcalTasks/interface/ZDCQIE10Task.h
  DQM/HcalTasks/plugins/ZDCQIE10Task.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, urgent, backport

#49009 fix emulation of L1T ZDC EtSums [`15_0_X`]
  DQM/Integration/python/clients/hcal_dqm_sourceclient-live_cfg.py
  L1Trigger/L1TCalorimeter/plugins/BuildFile.xml
  L1Trigger/L1TCalorimeter/plugins/L1TEtSumsPrinter.cc
  L1Trigger/L1TZDC/README.md
  L1Trigger/L1TZDC/plugins/BuildFile.xml
  L1Trigger/L1TZDC/plugins/L1TZDCEtSumsAnalyzer.cc
  L1Trigger/L1TZDC/plugins/L1TZDCEtSumsProducer.cc
  L1Trigger/L1TZDC/plugins/L1TZDCProducer.cc
  L1Trigger/L1TZDC/python/etSumZdcAnalyzer_cfi.py
  L1Trigger/L1TZDC/python/l1tZDCEtSums_cfi.py
  L1Trigger/L1TZDC/test/BuildFile.xml
  L1Trigger/L1TZDC/test/L1TZDCProducerV1.cc
  L1Trigger/L1TZDC/test/README
  L1Trigger/L1TZDC/test/etSumZDCProducerV1_cfi.py
  L1Trigger/L1TZDC/test/l1ZDCProducerTest.py
  L1Trigger/L1TZDC/test/testL1TZDCEtSumsProducer.sh
  L1Trigger/L1TZDC/test/testL1TZDCEtSumsProducer_cfg.py
Labels: dqm-approved, l1-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#48958 [15_1_X] HI GENs fix for rnd seed issue #48814
  GeneratorInterface/Hydjet2Interface/plugins/BuildFile.xml
  GeneratorInterface/HydjetInterface/plugins/BuildFile.xml
  GeneratorInterface/PyquenInterface/plugins/BuildFile.xml
Labels: generators-pending, pending-signatures, tests-approved, orp-approved, backport-ok

#48959 [15_0_X] HI GENs fix for rnd seed issue #48814
  GeneratorInterface/Hydjet2Interface/plugins/BuildFile.xml
  GeneratorInterface/HydjetInterface/plugins/BuildFile.xml
  GeneratorInterface/PyquenInterface/plugins/BuildFile.xml
Labels: generators-pending, pending-signatures, tests-approved, orp-approved, backport-ok
