Repository cms-sw/cmssw, pull requests merged in 2025-04, with the labels that each got.

#47524 Small improvements to XrdAdaptor documentation
  Utilities/XrdAdaptor/README.md
  Utilities/XrdAdaptor/doc/multisource_algorithm_design.md
  Utilities/XrdAdaptor/src/XrdRequestManager.h
  Utilities/XrdAdaptor/src/XrdSource.h
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47639 Using Offline GT for 2024 Data RelVals Eras B,C,D,E
  Configuration/PyReleaseValidation/python/relval_data_highstats.py
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/PyReleaseValidation/scripts/README.md
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#47682 Fix missing `CaloParticle`s from pileup
  Configuration/ProcessModifiers/python/enableCPfromPU_cff.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  SimCalorimetry/HGCalSimProducers/python/hgcHitAssociation_cfi.py
  SimDataFormats/Track/src/classes_def.xml
Labels: operations-approved, simulation-approved, fully-signed, tests-approved, pdmv-approved, bug-fix, orp-approved, upgrade-approved, code-checks-approved, changes-dataformats

#47729 Reduce memory usage in NANO merge jobs
  PhysicsTools/NanoAOD/plugins/NanoAODOutputModule.cc
  PhysicsTools/NanoAOD/plugins/SummaryTableOutputBranches.cc
Labels: fully-signed, tests-approved, orp-approved, urgent, code-checks-approved, xpog-approved

#47743 Fix false positive in `testMissingDictionaryCUDA`
  HeterogeneousCore/CUDATest/test/testMissingDictionaryCUDA.sh
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#47724 Update on GEM offlineDQM Cluster plots
  DQM/GEM/plugins/GEMRecHitSource.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47723 Change HPSTau input collection from l1tHPSPFTauProducerPF to l1tHPSPFTauProducerPuppi
  DPGAnalysis/Phase2L1TNanoAOD/python/l1tPh2Nanotables_cff.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#47736 [10_6_X] Reduce memory usage in NANO merge jobs
  PhysicsTools/NanoAOD/plugins/NanoAODOutputModule.cc
  PhysicsTools/NanoAOD/plugins/SummaryTableOutputBranches.cc
Labels: fully-signed, tests-approved, orp-approved, backport-ok, xpog-approved

#47686 btvNano backports (15_0_X)
  PhysicsTools/NanoAOD/plugins/BuildFile.xml
  PhysicsTools/NanoAOD/plugins/GenCandMotherTableProducer.cc
  PhysicsTools/NanoAOD/plugins/JetConstituentTableProducer.cc
  PhysicsTools/NanoAOD/plugins/PackedCandMCMatchTableProducer.cc
  PhysicsTools/NanoAOD/python/btvMC_cff.py
  PhysicsTools/NanoAOD/python/custom_btv_cff.py
  PhysicsTools/NanoAOD/test/BuildFile.xml
  PhysicsTools/NanoAOD/test/test-btvNano.py
  PhysicsTools/NanoAOD/test/test-btvNano.sh
Labels: fully-signed, tests-approved, orp-approved, urgent, backport-ok, xpog-approved

#47676 [15.0.X] provide a `fillDescriptions` method for `CondDBESSource`
  CalibPPS/ESProducers/test/ppsTimingCalibrationAnalyzer_cfg.py
  CalibPPS/TimingCalibration/test/DiamondCalibrationWorker_cfg.py
  CalibPPS/TimingCalibration/test/DiamondSampicCalibrationHarvester_cfg.py
  CalibPPS/TimingCalibration/test/DiamondSampicCalibrationWorker_cfg.py
  CalibTracker/Configuration/python/Common/PoolDBESSource_cfi.py
  CondCore/ESSources/plugins/CondDBESSource.cc
  CondCore/ESSources/plugins/CondDBESSource.h
  CondCore/ESSources/python/CondDBESSource_cfi.py
  CondCore/ESSources/test/BuildFile.xml
  CondCore/ESSources/test/python/load_from_globaltag_cfg.py
  CondCore/ESSources/test/python/load_record_empty_source_cfg.py
  CondCore/ESSources/test/python/load_records_cfg.py
  CondCore/ESSources/test/python/load_tagcollection_cfg.py
  CondCore/ESSources/test/runConditionsLoadTests.sh
  CondTools/CTPPS/test/ppsTimingCalibrationLUTAnalyzer_cfg.py
  CondTools/DQM/test/DQMXMLFileEventSetupAnalyzer_cfg.py
  CondTools/RunInfo/test/LHCInfoPerFillAnalyzer_cfg.py
  CondTools/RunInfo/test/LHCInfoPerLSAnalyzer_cfg.py
  CondTools/SiPixel/test/SiPixelBadModuleReader_cfg.py
  CondTools/SiPixel/test/SiPixelCondObjAllPayloadsReader_cfg.py
  CondTools/SiPixel/test/SiPixelCondObjForHLTReader_cfg.py
  CondTools/SiPixel/test/SiPixelCondObjOfflineReader_cfg.py
  CondTools/SiPixel/test/SiPixelGainCalibrationRejectNoisyAndDead_cfg.py
  CondTools/SiStrip/test/SiStripApvGainFromASCIIFile_cfg.py
  CondTools/SiStrip/test/SiStripBadChannelPatcher_cfg.py
  CondTools/SiStrip/test/SiStripBadStripReader_cfg.py
  CondTools/SiStrip/test/SiStripFedCablingReader_cfg.py
  CondTools/SiStrip/test/SiStripSummaryReader_cfg.py
  CondTools/SiStrip/test/SiStripThresholdReader_cfg.py
  DQM/CTPPS/test/diamond_re_reco_dqm_test_cfg.py
  HLTrigger/Configuration/python/customizeHLTforCMSSW.py
  RecoPPS/Local/test/diamonds_reco_cfg.py
  RecoPPS/Local/test/totemTiming_digiConverter_reco_cfg.py
  RecoPPS/Local/test/totemTiming_reco_cfg.py
Labels: alca-approved, dqm-approved, hlt-approved, reconstruction-approved, fully-signed, tests-approved, db-approved, orp-approved, urgent, backport-ok, trk

#47737 [15_0_X] Reduce memory usage in NANO merge jobs
  PhysicsTools/NanoAOD/plugins/NanoAODOutputModule.cc
  PhysicsTools/NanoAOD/plugins/SummaryTableOutputBranches.cc
Labels: fully-signed, tests-approved, orp-approved, backport-ok, xpog-approved

#47727 [15_0_X] Update 2025 HMT shower thresholds for pp collision
  Configuration/Eras/python/Era_Run3_2025_cff.py
  Configuration/Eras/python/Modifier_run3_CSC_2025_cff.py
  L1Trigger/CSCTriggerPrimitives/python/cscTriggerPrimitiveDigis_cfi.py
  L1Trigger/CSCTriggerPrimitives/python/params/showerParams.py
Labels: l1-approved, operations-approved, fully-signed, tests-approved, orp-approved, backport-ok

#47722 [15_0_X] Adding L1TauTriggerFilterObjectProducer (backport)
  RecoTauTag/HLTProducers/src/L1TauTriggerFilterObjectProducer.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#47171 Print diagnostics on ProductResolver's loadTag setIntervalFor and IOVProxy's fetchSequence
  CondCore/CondDB/interface/IOVProxy.h
  CondCore/CondDB/interface/Time.h
  CondCore/CondDB/src/IOVProxy.cc
  CondCore/CondDB/src/Time.cc
  CondCore/ESSources/interface/ProductResolver.h
  CondCore/ESSources/plugins/CondDBESSource.cc
  CondCore/ESSources/plugins/CondDBESSource.h
  CondCore/ESSources/python/CondDBESSource_cfi.py
  CondCore/ESSources/src/ProductResolverFactory.cc
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#47705 [15.0.X] remove hardcoded IP substitution for `dbproxy` option of `hltGetConfiguration`
  HLTrigger/Configuration/python/Tools/confdbOfflineConverter.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#47474 Phase 2 GMT Update of TPS algo
  DataFormats/L1TMuonPhase2/interface/Constants.h
  L1Trigger/Phase2L1GMT/interface/TPSAlgorithm.h
  L1Trigger/Phase2L1GMT/interface/TPSLUTs.h
  L1Trigger/Phase2L1GMT/src/TPS.cc
  L1Trigger/Phase2L1GMT/src/TPSAlgorithm.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#47741 Include L1Calo ZS modifications from 15_1_X to 15_0_x
  L1Trigger/Configuration/python/customiseSettings.py
  L1Trigger/L1TCalorimeter/plugins/L1TCaloStage2ParamsESProducer.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, backport-ok

#47715 fix a bug in miniAOD_tools.py backport to CMSSW_15_0_X
  PhysicsTools/PatAlgos/python/slimming/miniAOD_tools.py
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport, xpog-approved

#47673 `AlpakaServiceSerialSync` should always be available [15.0.x]
  HeterogeneousCore/AlpakaCore/python/ProcessAcceleratorAlpaka.py
Labels: fully-signed, tests-approved, bug-fix, orp-approved, backport-ok, heterogeneous-approved

#47671 Fix Service type name displayed in error message [15.0.x]
  FWCore/ServiceRegistry/interface/ServicesManager.h
  FWCore/Utilities/src/EDMException.cc
  FWCore/Utilities/test/test_catch2_EDMException.cc
Labels: core-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#47747 [GCC14] Silence array-bounds warning in KalmanUtilsMPlex.cc
  RecoTracker/MkFitCore/BuildFile.xml
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#47753 [HLTrigger/Egamma] fix swapped eta parameter for photons in Diphoton XGBoost MVA filter (15_1_X)
  HLTrigger/Egamma/plugins/HLTEgammaDoubleXGBoostCombFilter.cc
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#47756 [FULLSIM] Set enable EM physics library G4HepEM by default
  SimG4Core/Application/python/g4SimHits_cfi.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47765 set `crossedBoundary_` only for classVersion 12 of the `SimTrack`
  SimDataFormats/Track/src/classes_def.xml
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, changes-dataformats

#47767 [DAQ] fix DAQSource race condition (15_1_X)
  EventFilter/Utilities/src/DAQSource.cc
Labels: daq-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#47770 Manage memory for ESGetToken's productLabel
  FWCore/Utilities/interface/ESGetToken.h
  FWCore/Utilities/interface/OftenEmptyCString.h
  FWCore/Utilities/src/OftenEmptyCString.cc
  FWCore/Utilities/test/test_catch2_OftenEmptyCString.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tests-ib-failure

#47745 add `dqmInfoHLTMon` to `offlineHLTSource` in `DQMOffline_Trigger_cosmics` and enable `showHLTGlobalTag`
  DQMOffline/Trigger/python/DQMOffline_Trigger_cosmics_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47738 [SIM] Improved initialisation for calorimeters
  SimG4CMS/Calo/src/CaloSD.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47772 Phase2-hgx363 Make some changes to initialize V19 reconstruction geometry for HGCal
  Geometry/HGCalCommonData/interface/HGCalParameters.h
  Geometry/HGCalCommonData/src/HGCalCassette.cc
  Geometry/HGCalCommonData/src/HGCalDDDConstants.cc
  Geometry/HGCalCommonData/src/HGCalGeomParameters.cc
  Geometry/HGCalGeometry/src/HGCalGeometry.cc
  SimG4CMS/Calo/src/HGCalNumberingScheme.cc
Labels: geometry-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#47778 Map unknown exit codes to PlatformStatus.PlatformNotAvailable
  HeterogeneousCore/Common/python/PlatformStatus.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#47699 Allow RelVal workflows to use RNTuple
  Configuration/Applications/python/ConfigBuilder.py
  Configuration/PyReleaseValidation/python/WorkFlowRunner.py
Labels: operations-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#47775 Phase2-hgx363A Update the dd4hep versions of V19 algorithms of HGCal geometry
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalMixRotatedFineCassette.cc
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalSiliconRotatedCassette.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#47306 New constructor for the SoAView and aggregate method for Collections
  DataFormats/Portable/README.md
  DataFormats/Portable/interface/PortableHostCollection.h
  DataFormats/Portable/test/BuildFile.xml
  DataFormats/Portable/test/test_catch2_deepCopyOnHost.cc
  DataFormats/SoATemplate/README.md
  DataFormats/SoATemplate/interface/SoACommon.h
  DataFormats/SoATemplate/interface/SoALayout.h
  DataFormats/SoATemplate/interface/SoAView.h
  DataFormats/SoATemplate/test/BuildFile.xml
  DataFormats/SoATemplate/test/SoAGenericView_t.cc
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved, ngt

#47702 Add UParT_V01 model Sonic producer and fix a bug in miniAOD_tools.py
  Configuration/ProcessModifiers/python/allSonicTriton_cff.py
  Configuration/ProcessModifiers/python/unifiedparticleTransformerAK4SonicTriton_cff.py
  PhysicsTools/PatAlgos/python/slimming/miniAOD_tools.py
  RecoBTag/ONNXRuntime/interface/tensor_configs.h
  RecoBTag/ONNXRuntime/interface/tensor_fillers.h
  RecoBTag/ONNXRuntime/plugins/UnifiedParticleTransformerAK4ONNXJetTagsProducer.cc
  RecoBTag/ONNXRuntime/plugins/UnifiedParticleTransformerAK4SonicJetTagsProducer.cc
  RecoBTag/ONNXRuntime/python/pfUnifiedParticleTransformerAK4V1_cff.py
  RecoBTag/ONNXRuntime/python/pfUnifiedParticleTransformerAK4_cff.py
  RecoBTag/ONNXRuntime/src/tensor_fillers.cc
Labels: operations-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved, xpog-approved

#47755 Allowing No Golden and Run Based Skim Option of `das-up-to-nevents.py`
  Configuration/PyReleaseValidation/scripts/das-up-to-nevents.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#47757 MTD geometry: fix for geometry navigation issues in scenario D119
  Geometry/MTDCommonData/data/etl/v10/etl.xml
  Geometry/MTDCommonData/data/etl/v9/etl.xml
  Geometry/MTDGeometryBuilder/plugins/MTDTopologyEP.cc
  RecoMTD/DetLayers/src/MTDDetSector.cc
  RecoMTD/DetLayers/src/MTDSectorForwardDoubleLayer.cc
  RecoMTD/DetLayers/test/TestETLNavigation.cc
Labels: geometry-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#47794 Phase2-hgx363B Make some corrections to remove certain bugs in the description of scintillator tiles of HGCal V19
  Geometry/HGCalCommonData/data/hgcalHEmix/v19/hgcalHEmix.xml
  Geometry/HGCalCommonData/plugins/DDHGCalMixRotatedFineCassette.cc
  Geometry/HGCalCommonData/python/testHGCalV19Reco_cff.py
  Geometry/HGCalCommonData/src/HGCalCassette.cc
  Geometry/HGCalCommonData/src/HGCalDDDConstants.cc
  Geometry/HGCalCommonData/test/HGCalConvert.cpp
  SimCalorimetry/HGCalSimProducers/src/HGCFEElectronics.cc
  SimG4CMS/Calo/src/CaloSD.cc
  SimG4CMS/Calo/src/HGCalNumberingScheme.cc
  SimG4CMS/Calo/test/python/runHGC1_cfg.py
Labels: geometry-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#47619 [15_0] Print diagnostics on ProductResolver's loadTag setIntervalFor and IOVProxy's fetchSequence
  CondCore/CondDB/interface/IOVProxy.h
  CondCore/CondDB/interface/Time.h
  CondCore/CondDB/src/IOVProxy.cc
  CondCore/CondDB/src/Time.cc
  CondCore/ESSources/interface/ProductResolver.h
  CondCore/ESSources/plugins/CondDBESSource.cc
  CondCore/ESSources/plugins/CondDBESSource.h
  CondCore/ESSources/python/CondDBESSource_cfi.py
  CondCore/ESSources/src/ProductResolverFactory.cc
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, urgent, backport-ok

#47768 [DAQ] fix DAQSource race condition (15_0_X)
  EventFilter/Utilities/src/DAQSource.cc
Labels: daq-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, backport-ok

#47754 [HLTrigger/Egamma] fix swapped eta parameter for photons in Diphoton XGBoost MVA filter (15_0_X)
  HLTrigger/Egamma/plugins/HLTEgammaDoubleXGBoostCombFilter.cc
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, backport-ok

#47746 [15.0.X] add `dqmInfoHLTMon` to `offlineHLTSource` in `DQMOffline_Trigger_cosmics` and enable `showHLTGlobalTag`
  DQMOffline/Trigger/python/DQMOffline_Trigger_cosmics_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok

#47609 [DQM] Add print of GT on DQM online clients [`15_0_X`]
  DQM/Integration/python/clients/beamspotdip_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/castor_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/csc_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/ctpps_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/dt4ml_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/dt_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/ecal_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/ecalcalib_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/ecalgpu_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/es_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/fed_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/gem_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/hcal_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/hcalcalib_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/hcalgpu_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/hcalreco_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/hlt_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/info_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/l1tstage2_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/l1tstage2emulator_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/mutracking_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/onlinebeammonitor_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/pfgpu_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/pixel_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/pixelgpu_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/pixellumi_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/ppsrandom_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/rpc_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/scal_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/sistrip_approx_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/sistrip_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/visualization-live-secondInstance_cfg.py
  DQM/Integration/python/clients/visualization-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok

#47783 [15.0.X] fix `TrackToTrackComparisonHists` logic for cosmics
  DQM/TrackingMonitorSource/src/TrackToTrackComparisonHists.cc
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, urgent, backport-ok, tracking

#47742 [15_0_X] Update on GEM offlineDQM Cluster plots to backport 15_0_X
  DQM/GEM/plugins/GEMRecHitSource.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok

#47721 Developing offline JetMET DQM for Scouting jets: applying JetID criteria - complementary to PR #47328
  DQMOffline/JetMET/interface/JetAnalyzer.h
  DQMOffline/JetMET/python/jetAnalyzer_cff.py
  DQMOffline/JetMET/python/jetAnalyzer_cfi.py
  DQMOffline/JetMET/src/JetAnalyzer.cc
  PhysicsTools/SelectorUtils/interface/Run3ScoutingPFJetIDSelectionFunctor.h
Labels: dqm-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47739 Add filter to skip events without scouting objects in ScoutingNano for ScoutingPFMonitor dataset
  Configuration/PyReleaseValidation/python/relval_nano.py
  PhysicsTools/NanoAOD/python/autoNANO.py
  PhysicsTools/NanoAOD/python/custom_run3scouting_cff.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved, xpog-approved

#47690 Adding GEM MEs to per-LS scope in Offline DQM
  DQMServices/Core/python/nanoDQMIO_perLSoutput_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47796 Miscellaneous updates for modules targeting CDC reconstruction at HLT
  RecoTracker/SpecialSeedGenerators/python/outInSeedsFromStandaloneMuons_cfi.py
  RecoTracker/SpecialSeedGenerators/src/OutsideInMuonSeeder.cc
  RecoTracker/TkNavigation/plugins/CosmicNavigationSchool.cc
  RecoTracker/TkNavigation/python/CosmicsNavigationSchoolESProducer_cfi.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#47776 Activate ECAL CC timing algorithm for Run3_2025 era
  Configuration/Eras/python/Era_Run3_2025_cff.py
Labels: operations-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, ecal

#47797 [15.0.X] Miscellaneous updates for modules targeting CDC reconstruction at HLT
  RecoTracker/SpecialSeedGenerators/python/outInSeedsFromStandaloneMuons_cfi.py
  RecoTracker/SpecialSeedGenerators/src/OutsideInMuonSeeder.cc
  RecoTracker/TkNavigation/plugins/CosmicNavigationSchool.cc
  RecoTracker/TkNavigation/python/CosmicsNavigationSchoolESProducer_cfi.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, tracking

#45672 Displaced vertexing gbdt
  DataFormats/L1Trigger/interface/DisplacedVertex.h
  DataFormats/L1Trigger/src/classes.h
  DataFormats/L1Trigger/src/classes_def.xml
  L1Trigger/L1TTrackMatch/BuildFile.xml
  L1Trigger/L1TTrackMatch/interface/DisplacedVertexProducer.h
  L1Trigger/L1TTrackMatch/plugins/DisplacedVertexProducer.cc
  L1Trigger/L1TTrackMatch/python/DisplacedVertexProducer_cfi.py
  L1Trigger/L1TTrackMatch/python/L1TkObjectProducers_cff.py
  L1Trigger/L1TTrackMatch/test/L1TrackObjectNtupleMaker.cc
  L1Trigger/L1TTrackMatch/test/L1TrackObjectNtupleMaker_cfg.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, requires-external, code-checks-approved, changes-dataformats

#47809 Run3-gex188 Add cff files for testing 4 RPC specific scenarios
  Geometry/MuonCommonData/python/testExtendedGeometry2025NReco_cff.py
  Geometry/MuonCommonData/python/testExtendedGeometry2025PReco_cff.py
  Geometry/MuonCommonData/python/testExtendedGeometry2025QReco_cff.py
  Geometry/MuonCommonData/python/testExtendedGeometry2025RReco_cff.py
  Geometry/MuonCommonData/python/testExtendedGeometry2025Reco_cff.py
  Geometry/MuonCommonData/test/python/g4OverlapCheck2025_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47817 Update autoCond for the first L1T menu of 2025
  Configuration/AlCa/python/autoCond.py
  Configuration/AlCa/python/autoCondModifiers.py
Labels: alca-pending, pending-signatures, tests-approved, orp-approved, requires-external, code-checks-approved

#47820 [CMSSW_15_0_X] Update autoCond for the first L1T menu of 2025
  Configuration/AlCa/python/autoCond.py
  Configuration/AlCa/python/autoCondModifiers.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, requires-external

#47819 Use proper extension for files explicitly from an older step in WorkFlowRunner.py
  Configuration/PyReleaseValidation/python/WorkFlowRunner.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#47748 SONIC configuration updates
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  HeterogeneousCore/SonicCore/test/BuildFile.xml
  HeterogeneousCore/SonicCore/test/sonicTestAna_cfg.py
  HeterogeneousCore/SonicCore/test/sonicTest_cfg.py
  HeterogeneousCore/SonicTriton/python/customize.py
  HeterogeneousCore/SonicTriton/src/TritonService.cc
  HeterogeneousCore/SonicTriton/test/tritonTest_cfg.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved, heterogeneous-approved

#47683 [L1] Fix dead assignments reported by LLVM-analyzer
  EventFilter/L1GlobalTriggerRawToDigi/src/L1GTDigiToRaw.cc
  EventFilter/L1TXRawToDigi/plugins/L1TTwinMuxRawToDigi.cc
  L1Trigger/CSCTrackFinder/src/CSCTFPtLUT.cc
  L1Trigger/DTBti/src/DTBtiCard.cc
  L1Trigger/DTBti/src/DTBtiChipEquations.cc
  L1Trigger/GlobalTrigger/src/L1GlobalTriggerPSB.cc
  L1Trigger/GlobalTrigger/src/L1GtCorrelationCondition.cc
  L1Trigger/HardwareValidation/src/L1Comparator.cc
  L1Trigger/L1CaloTrigger/plugins/L1NNCaloTauEmulator.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#47818 Phase2-hgx363D Modify the validation check of scintillation tiles to put the active cells in the geometry pool for the V19 version
  Geometry/HGCalCommonData/data/hgcalwafer/v19/hgcalwafer.xml
  Geometry/HGCalCommonData/src/HGCalDDDConstants.cc
  Geometry/HGCalGeometry/src/HGCalGeometry.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#47638 Run3-gex187T Make DDD-specific Era definitions for the years 2023, 2024, 2025
  Configuration/Eras/python/Era_Run3_2023_DDD_cff.py
  Configuration/Eras/python/Era_Run3_2024_DDD_cff.py
  Configuration/Eras/python/Era_Run3_2025_DDD_cff.py
Labels: operations-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47651 McM/production bound option to cmsDriver [14.2]
  Configuration/Applications/python/ConfigBuilder.py
Labels: operations-approved, fully-signed, tests-approved, orp-approved

#47788 Backport LumiList.py bugfix to CMSSW_14_0_X
  FWCore/PythonUtilities/python/LumiList.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, backport-ok

#47787 Backport LumiList.py bugfix to CMSSW_13_3_X
  FWCore/PythonUtilities/python/LumiList.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, backport-ok

#47650 McM/production bound option to cmsDriver [14.1]
  Configuration/Applications/python/ConfigBuilder.py
Labels: operations-approved, fully-signed, tests-approved, orp-approved

#47786 Backport LumiList.py bugfix to CMSSW_13_2_X
  FWCore/PythonUtilities/python/LumiList.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, backport-ok

#47784 Backport LumiList.py bugfix to CMSSW_13_0_X
  FWCore/PythonUtilities/python/LumiList.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, backport-ok

#47824 Phase2-hgx363E Modify the debug statements to enable the testing of the crash in the Digi step for 34034.0
  SimCalorimetry/HGCalSimProducers/src/HGCFEElectronics.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#47822 Add transactionId as optional parameter of CondDBESSource
  CondCore/ESSources/plugins/CondDBESSource.cc
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, urgent, code-checks-approved

#47832 Phase2-hgx363F Adjust the retraction of the scintillator cassettes in the LD mixed layers of HGCal
  Geometry/HGCalCommonData/data/hgcalConsData/v19/hgcalConsData.xml
  Geometry/HGCalCommonData/data/hgcalHEmix/v19/hgcalHEmix.xml
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#47833 Adding optional deltaR cuts to HLTPMMassFilter
  HLTrigger/Egamma/plugins/HLTPMMassFilter.cc
  HLTrigger/Egamma/plugins/HLTPMMassFilter.h
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47837 Do not use command ls with -lh option: Fixes unit test for ASAN IB
  CondCore/Utilities/test/test_uploadConditions.sh
Labels: fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#47766 Update the value of pretrigger-trigger matching configuration parameter: clctPretriggerTriggerZone
  L1Trigger/CSCTriggerPrimitives/python/params/clctParams.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#47850 Run3-gex188B Correct the PPS file by Gustavo
  Geometry/VeryForwardData/data/CTPPS_2025/Stations/Simu/v1/CTPPS_220_Left_Station.xml
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47849 Restore branchless 'and' operations
  CommonTools/RecoAlgos/BuildFile.xml
  CommonTools/RecoAlgos/interface/KDTreeLinkerAlgo.h
  DataFormats/Math/interface/logic.h
  RecoTracker/MeasurementDet/BuildFile.xml
  RecoTracker/MeasurementDet/plugins/doubleMatch.icc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#47467 Access PathsAndConsumesOfModules from new signal
  EventFilter/Utilities/interface/EvFDaqDirector.h
  EventFilter/Utilities/interface/FastMonitoringService.h
  EventFilter/Utilities/src/FastMonitoringService.cc
  FWCore/Framework/interface/GlobalSchedule.h
  FWCore/Framework/interface/Schedule.h
  FWCore/Framework/src/EventProcessor.cc
  FWCore/Framework/src/GlobalSchedule.cc
  FWCore/Framework/src/Schedule.cc
  FWCore/Framework/src/SubProcess.cc
  FWCore/Integration/plugins/PathsAndConsumesOfModulesTestService.cc
  FWCore/Integration/plugins/TestServiceOne.cc
  FWCore/Integration/plugins/TestServiceOne.h
  FWCore/PrescaleService/interface/PrescaleService.h
  FWCore/PrescaleService/src/PrescaleService.cc
  FWCore/ServiceRegistry/interface/ActivityRegistry.h
  FWCore/Services/plugins/CheckTransitions.cc
  FWCore/Services/plugins/CondorStatusUpdater.cc
  FWCore/Services/plugins/DependencyGraph.cc
  FWCore/Services/plugins/Timing.cc
  FWCore/Services/plugins/Tracer.cc
  FWCore/Services/plugins/tracer_setupFile.cc
  FWCore/TestProcessor/src/TestProcessor.cc
  HLTrigger/Timer/interface/ProcessCallGraph.h
  HLTrigger/Timer/plugins/FastTimerService.cc
  HLTrigger/Timer/plugins/FastTimerService.h
  HLTrigger/Timer/src/ProcessCallGraph.cc
  HeterogeneousCore/CUDAServices/plugins/NVProfilerService.cc
  HeterogeneousCore/SonicTriton/interface/TritonService.h
  HeterogeneousCore/SonicTriton/src/TritonService.cc
  IOMC/RandomEngine/plugins/RandomNumberGeneratorService.cc
  IOMC/RandomEngine/plugins/RandomNumberGeneratorService.h
  PerfTools/AllocMonitor/plugins/ModuleEventAllocMonitor.cc
  PerfTools/AllocMonitor/plugins/moduleAlloc_setupFile.cc
Labels: core-approved, daq-approved, hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#47847 Mark more classes with rntupleStreamerMode
  DataFormats/CTPPSReco/src/classes_def.xml
  SimDataFormats/TrackingAnalysis/src/classes_def.xml
Labels: reconstruction-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, changes-dataformats

#47841 Adding optional deltaR cuts to HLTPMMassFilter (15_0_X backport)
  HLTrigger/Egamma/plugins/HLTPMMassFilter.cc
  HLTrigger/Egamma/plugins/HLTPMMassFilter.h
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok, hlt-integration

#47825 Run3-gex188A Update the scenario for 2025
  Configuration/Geometry/README.md
  Configuration/Geometry/python/dict2021Geometry.py
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2025.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2025FlatMinus05Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2025FlatMinus10Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2025FlatPlus05Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2025FlatPlus10Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2025ZeroMaterial.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometry2025FlatMinus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2025FlatMinus10PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2025FlatPlus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2025FlatPlus10PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2025XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2025ZeroMaterialXML_cfi.py
  Geometry/MuonCommonData/data/gem11/2025/v2/gem11.xml
  Geometry/MuonCommonData/python/testExtendedGeometry2025RXML_cfi.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#47855 Phase2-hgx363H Correct the dd4hep version of the mixed layer algorithm to be used for V19 versison of HGCal
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalMixRotatedFineCassette.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#47860 Fix `hltInfo` utility script and add a unit test
  HLTrigger/Tools/scripts/hltInfo
  HLTrigger/Tools/test/BuildFile.xml
  HLTrigger/Tools/test/check_hlt_info.sh
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47848 Phase2-hgx363G Correct the DD4hep algorithm for the HGCaal passive elements
  Geometry/HGCalCommonData/data/dd4hep/testHGCalV19.xml
  Geometry/HGCalCommonData/plugins/dd4hep/DDHGCalPassive.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#47795 Fix docs in relval_gpu.py
  Configuration/PyReleaseValidation/python/relval_gpu.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#47845 Run3-hcx381 Add a checking routine to validate FastSim PU on FullSim signal
  Validation/HcalDigis/test/BuildFile.xml
  Validation/HcalDigis/test/HcalDigiStudy.cc
  Validation/HcalDigis/test/runHcalDigiStudy_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47856 `L1TStage2uGTTiming`: fix `unprescaledAlgoShortList` for 2025 (removal `L1_AXO_Nominal` in favor of `L1_AXO_Medium`)
  DQM/L1TMonitor/python/L1TStage2uGTTiming_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47858 change era to `Run3_2025` in a few selected online DQM clients
  DQM/Integration/python/clients/beam_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamhlt_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beampixel_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/csc_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/gem_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/hlt_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/l1tstage2_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/l1tstage2emulator_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/mutracking_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/onlinebeammonitor_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/pixel_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/pixellumi_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/sistrip_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47813 Make ReserveDMu skim throw exception upon mismatch in requested trigg…
  Configuration/Skimming/python/PDWG_ReserveDMu_SD_cff.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, requires-external, code-checks-approved

#47626 Adding `10224.0` in the `limited` Matrix
  Configuration/PyReleaseValidation/scripts/README.md
  Configuration/PyReleaseValidation/scripts/runTheMatrix.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#47749 Adding TeVJet RelVal 2024 Wfs
  Configuration/PyReleaseValidation/python/relval_data_highstats.py
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#47864 Adding 2024 `SKIM` Wfs
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/python/relval_steps.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#47693 [L1T] DT Trigger Phase-2 Analytical Method (AM) v2.2
  DataFormats/L1DTTrackFinder/interface/L1Phase2MuDTShower.h
  DataFormats/L1DTTrackFinder/interface/L1Phase2MuDTShowerContainer.h
  DataFormats/L1DTTrackFinder/src/L1Phase2MuDTShower.cc
  DataFormats/L1DTTrackFinder/src/L1Phase2MuDTShowerContainer.cc
  DataFormats/L1DTTrackFinder/src/classes.h
  DataFormats/L1DTTrackFinder/src/classes_def.xml
  L1Trigger/Configuration/python/SimL1Emulator_cff.py
  L1Trigger/DTTriggerPhase2/interface/MPCoincidenceFilter.h
  L1Trigger/DTTriggerPhase2/interface/MPThetaMatching.h
  L1Trigger/DTTriggerPhase2/interface/ShowerBuilder.h
  L1Trigger/DTTriggerPhase2/interface/ShowerCandidate.h
  L1Trigger/DTTriggerPhase2/interface/constants.h
  L1Trigger/DTTriggerPhase2/plugins/DTTrigPhase2Prod.cc
  L1Trigger/DTTriggerPhase2/plugins/DTTrigPhase2ShowerProd.cc
  L1Trigger/DTTriggerPhase2/python/dtTriggerPhase2PrimitiveDigis_cfi.py
  L1Trigger/DTTriggerPhase2/python/dtTriggerPhase2Showers_cfi.py
  L1Trigger/DTTriggerPhase2/src/MPCoincidenceFilter.cc
  L1Trigger/DTTriggerPhase2/src/MPThetaMatching.cc
  L1Trigger/DTTriggerPhase2/src/ShowerBuilder.cc
  L1Trigger/DTTriggerPhase2/src/ShowerCandidate.cc
  L1Trigger/DTTriggerPhase2/test/primitivesPhase2Prod_over_dTDigis_and_4Dsegments_cfg.py
  L1Trigger/DTTriggerPhase2/test/primitivesPhase2Prod_over_dTDigis_and_4Dsegments_cfg_withRPC.py
  L1Trigger/DTTriggerPhase2/test/primitivesPhase2Prod_over_hlt_parallel_cfg.py
  L1Trigger/DTTriggerPhase2/test/primitivesPhase2Prod_over_mc_cfg.py
  L1Trigger/DTTriggerPhase2/test/primitivesPhase2Prod_over_unpacked_cfg.py
  L1Trigger/DTTriggerPhase2/test/test_primitivesPhase2Prod.py
  L1Trigger/DTTriggerPhase2/test/test_primitivesPhase2Prod_DEBUG_Grouping_cfg.py
  L1Trigger/DTTriggerPhase2/test/test_primitivesPhase2Prod_over_dTDigis_and_4Dsegments_cfg.py
  L1Trigger/Phase2L1GMT/test/runGMT.py
  L1Trigger/Phase2L1GMT/test/test.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, changes-dataformats

#47862 [15.0.X] `L1TStage2uGTTiming`: fix `unprescaledAlgoShortList` for 2025 (removal `L1_AXO_Nominal` in favor of `L1_AXO_Medium`)
  DQM/L1TMonitor/python/L1TStage2uGTTiming_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#47861 [15.0.X] Fix `hltInfo` utility script and add a unit test
  HLTrigger/Tools/scripts/hltInfo
  HLTrigger/Tools/test/BuildFile.xml
  HLTrigger/Tools/test/check_hlt_info.sh
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#47865 [15.0.X] change era to Run3_2025 in a selected online DQM clients
  DQM/Integration/python/clients/beam_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamhlt_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beampixel_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/csc_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/gem_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/hlt_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/l1tstage2_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/l1tstage2emulator_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/mutracking_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/onlinebeammonitor_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/pixel_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/pixellumi_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/sistrip_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#47726 Plugin to obtain the best track index for Run3ScoutingElectron
  PhysicsTools/Scouting/plugins/BuildFile.xml
  PhysicsTools/Scouting/plugins/Run3ScoutingElectronBestTrack.cc
  PhysicsTools/Scouting/test/BuildFile.xml
  PhysicsTools/Scouting/test/ref_Run3ScoutingElectronBestTrack_outputevtctnt.txt
  PhysicsTools/Scouting/test/test_Run3ScoutingElectronBestTrack.sh
  PhysicsTools/Scouting/test/test_Run3ScoutingElectronBestTrack_cfg.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#47872 Fix `siPixelDigiMorphing` modifer and create workflows to test it
  Configuration/PyReleaseValidation/README.md
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  RecoLocalTracker/SiPixelClusterizer/python/SiPixelClusterizerPreSplitting_cfi.py
Labels: reconstruction-approved, fully-signed, tests-approved, pdmv-approved, bug-fix, orp-approved, upgrade-approved, code-checks-approved, trk

#47890 Add dictionary for GEMSubDetId needed by RNTuple
  DataFormats/MuonDetId/src/classes.h
  DataFormats/MuonDetId/src/classes_def.xml
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, changes-dataformats

#47730 CALO-L2 EG, Tau, Jet calibrations with conservative ZS for first L1 menu 2025
  L1Trigger/Configuration/python/customiseSettings.py
  L1Trigger/L1TCalorimeter/python/caloParams_2025_v0_2_cfi.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#47802 Activate ECAL CC timing algorithm for Run3_2025 era - 15_0_X
  Configuration/Eras/python/Era_Run3_2025_cff.py
Labels: operations-approved, fully-signed, tests-approved, orp-approved, backport-ok, ecal, ppd-approved

#47876 Restore branchless 'and' operations [14_2_X]
  CommonTools/RecoAlgos/BuildFile.xml
  CommonTools/RecoAlgos/interface/KDTreeLinkerAlgo.h
  DataFormats/Math/interface/logic.h
  RecoTracker/MeasurementDet/BuildFile.xml
  RecoTracker/MeasurementDet/plugins/doubleMatch.icc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, tracking

#47877 Restore branchless 'and' operations [14_1_X]
  CommonTools/RecoAlgos/BuildFile.xml
  CommonTools/RecoAlgos/interface/KDTreeLinkerAlgo.h
  DataFormats/Math/interface/logic.h
  RecoTracker/MeasurementDet/BuildFile.xml
  RecoTracker/MeasurementDet/plugins/doubleMatch.icc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, tracking

#47886 [CMSSW_14_2_X] Fix the AlCaRecoTriggerBits/SecondaryDataset tag for the first IOVs in Run2 data GT
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok

#47887 [CMSSW_14_1_X] Fix the AlCaRecoTriggerBits/SecondaryDataset tag for the first IOVs in Run2 data GT
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok

#47866 Run3-Sim160 Make a test code that could be used to make a shower library for ZDC to be used by Lev Kheyn
  SimG4CMS/ShowerLibraryProducer/plugins/BuildFile.xml
  SimG4CMS/ShowerLibraryProducer/plugins/HcalForwardAnalysis.cc
  SimG4CMS/ShowerLibraryProducer/plugins/ZdcTestTreeAnalysis.cc
  SimG4CMS/ShowerLibraryProducer/python/zdcTestTreeAnalysis_cfi.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47761 kt smearing for gammaUPC [13_0_X]
  GeneratorInterface/LHEInterface/scripts/gamma-UPC_lhe_ktsmearing_UPC.py
Labels: generators-approved, fully-signed, tests-approved, orp-approved, backport-ok

#47880 Restore branchless 'and' operations [13_0_X]
  CommonTools/RecoAlgos/BuildFile.xml
  CommonTools/RecoAlgos/interface/KDTreeLinkerAlgo.h
  DataFormats/Math/interface/logic.h
  RecoTracker/MeasurementDet/BuildFile.xml
  RecoTracker/MeasurementDet/plugins/doubleMatch.icc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, tracking

#47879 Restore branchless 'and' operations [13_2_X]
  CommonTools/RecoAlgos/BuildFile.xml
  CommonTools/RecoAlgos/interface/KDTreeLinkerAlgo.h
  DataFormats/Math/interface/logic.h
  RecoTracker/MeasurementDet/BuildFile.xml
  RecoTracker/MeasurementDet/plugins/doubleMatch.icc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, tracking

#47878 Restore branchless 'and' operations [14_0_X]
  CommonTools/RecoAlgos/BuildFile.xml
  CommonTools/RecoAlgos/interface/KDTreeLinkerAlgo.h
  DataFormats/Math/interface/logic.h
  RecoTracker/MeasurementDet/BuildFile.xml
  RecoTracker/MeasurementDet/plugins/doubleMatch.icc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, tracking

#47901 Improve HLT Phase2 timing test.
  HLTrigger/Configuration/python/HLT_75e33/test/runHLTTiming.sh
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, ngt

#47904 btvNano: store all PS weights
  PhysicsTools/NanoAOD/python/btvMC_cff.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#47896 Update TkAl PCL metadata for 2025
  CondFormats/Common/data/SiPixelAliHGCombRcd_prod.json
  CondFormats/Common/data/SiPixelAliHGRcd_prod.json
  CondFormats/Common/data/SiPixelAliRcd_prod.json
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#47885 Properly handle missing RNTuple file
  FWIO/RNTuple/plugins/RNTupleInputFile.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved

#47910 Phase2-hgx363J Check parameters for V19 version of HGCal
  Geometry/HGCalCommonData/src/HGCalDDDConstants.cc
  Geometry/HGCalCommonData/src/HGCalTileIndex.cc
  Geometry/HGCalCommonData/test/HGCalParameterTester.cc
  Geometry/HGCalCommonData/test/python/testHGCalParametersDD4hep_cfg.py
  Geometry/HGCalCommonData/test/python/testHGCalParametersDDD_cfg.py
  Geometry/HGCalGeometry/src/HGCalGeometry.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#47801 Add the Scouting Glo-ParT inference facility
  PhysicsTools/NanoAOD/python/custom_run3scouting_cff.py
  PhysicsTools/NanoAOD/python/run3scouting_cff.py
  RecoBTag/FeatureTools/plugins/DeepBoostedJetTagInfoProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved, xpog-approved

#47903 Phase2-hgx363I Try to identify all overlaps for HGCal scintillator tiles in the V19 version with 4mm retraction of LD tiles
  Geometry/HGCalCommonData/data/hgcalHEmix/v19X/hgcalHEmix.xml
  Geometry/HGCalCommonData/python/testHGCalV19XXML_cfi.py
  Geometry/HGCalCommonData/test/HGCalConvert.cpp
  Geometry/HGCalCommonData/test/python/g4OverlapCheck_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#47659 Remove SubProcess and references in EventProcessor related code
  DataFormats/Provenance/interface/SubProcessParentageHelper.h
  DataFormats/Provenance/src/SubProcessParentageHelper.cc
  FWCore/Common/interface/FWCoreCommonFwd.h
  FWCore/Common/interface/OutputProcessBlockHelper.h
  FWCore/Common/interface/ProcessBlockHelper.h
  FWCore/Common/interface/ProcessBlockHelperBase.h
  FWCore/Common/interface/SubProcessBlockHelper.h
  FWCore/Common/src/OutputProcessBlockHelper.cc
  FWCore/Common/src/SubProcessBlockHelper.cc
  FWCore/Common/test/test_catch2_ProcessBlockHelpers.cc
  FWCore/Framework/bin/cmsRun.cpp
  FWCore/Framework/interface/EventProcessor.h
  FWCore/Framework/interface/MergeableRunProductMetadata.h
  FWCore/Framework/interface/ProductResolversFactory.h
  FWCore/Framework/interface/Schedule.h
  FWCore/Framework/interface/ScheduleItems.h
  FWCore/Framework/interface/SignallingProductRegistryFiller.h
  FWCore/Framework/interface/SubProcess.h
  FWCore/Framework/interface/globalTransitionAsync.h
  FWCore/Framework/interface/one/OutputModuleBase.h
  FWCore/Framework/interface/streamTransitionAsync.h
  FWCore/Framework/src/CommonParams.h
  FWCore/Framework/src/EventProcessor.cc
  FWCore/Framework/src/MergeableRunProductMetadata.cc
  FWCore/Framework/src/OutputModuleDescription.h
  FWCore/Framework/src/ProductResolvers.cc
  FWCore/Framework/src/ProductResolvers.h
  FWCore/Framework/src/ProductResolversFactory.cc
  FWCore/Framework/src/Schedule.cc
  FWCore/Framework/src/ScheduleItems.cc
  FWCore/Framework/src/SubProcess.cc
  FWCore/Framework/src/SystemTimeKeeper.cc
  FWCore/Framework/src/TriggerResultsBasedEventSelector.cc
  FWCore/Framework/src/one/OutputModuleBase.cc
  FWCore/Framework/test/stream_filter_t.cppunit.cc
  FWCore/Framework/test/stream_producer_t.cppunit.cc
  FWCore/Framework/test/stubs/HistoryAnalyzer.cc
  FWCore/Integration/plugins/TestParentage.cc
  FWCore/ParameterSet/interface/IllegalParameters.h
  FWCore/TestProcessor/interface/TestProcessor.h
  FWCore/TestProcessor/src/TestProcessor.cc
  FWCore/TestProcessor/test/testprocessor_t.cppunit.cc
  IOPool/Common/bin/EdmProvDump.cc
  IOPool/Output/src/PoolOutputModule.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47883 Fix orphan sim clusters
  SimCalorimetry/HGCalAssociatorProducers/plugins/SimTauCPLinkProducer.cc
  SimDataFormats/CaloAnalysis/interface/SimTauCPLink.h
  SimGeneral/CaloAnalysis/plugins/CaloTruthAccumulator.cc
  SimGeneral/Debugging/plugins/CaloParticleDebugger.cc
  SimGeneral/Debugging/python/caloParticleDebugger_cfg.py
  SimGeneral/MixingModule/interface/DecayGraph.h
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, ngt

#47913 Add `--map` option to `edmFileUtil`
  IOPool/Common/bin/EdmFileUtil.cpp
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47814 14_1_X Backport: Make ReserveDMu skim throw exception upon mismatch in requested trigg…
  Configuration/Skimming/python/PDWG_ReserveDMu_SD_cff.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, requires-external

#47815 14_2_X Backport: Make ReserveDMu skim throw exception upon mismatch in requested trigg…
  Configuration/Skimming/python/PDWG_ReserveDMu_SD_cff.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, requires-external

#47816 15_0_X Backport: Make ReserveDMu skim throw exception upon mismatch in requested trigg…
  Configuration/Skimming/python/PDWG_ReserveDMu_SD_cff.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, requires-external

#47472 New BTV Monitor
  DQMOffline/Trigger/plugins/BTVMonitor.cc
  DQMOffline/Trigger/python/BTaggingMonitor_cfi.py
  DQMOffline/Trigger/python/BTaggingMonitoring_Client_cff.py
  DQMOffline/Trigger/python/BTaggingMonitoring_cff.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47830 Update NVProfilerService to NVTXv3 and monitor Transformer signals
  HeterogeneousCore/CUDAServices/plugins/NVProfilerService.cc
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved

#47846 Add pp and UPC reco eras for 2025 oxygen runs
  Configuration/Eras/python/Era_Run3_2025_OXY_cff.py
  Configuration/Eras/python/Era_Run3_2025_UPC_OXY_cff.py
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/StandardSequences/python/Eras.py
  PhysicsTools/PatAlgos/python/slimming/MicroEventContent_cff.py
  PhysicsTools/PatAlgos/python/slimming/genParticles_cff.py
  PhysicsTools/PatAlgos/python/slimming/slimming_cff.py
  RecoHI/HiEvtPlaneAlgos/python/HiEvtPlane_cfi.py
  RecoHI/HiTracking/python/HILowPtConformalPixelTracks_cfi.py
  RecoTracker/TkSeedGenerator/python/trackerClusterCheck_cfi.py
  RecoVertex/PrimaryVertexProducer/python/OfflinePrimaryVertices_cfi.py
  SimCalorimetry/HcalTrigPrimProducers/python/hcaltpdigi_cff.py
  SimGeneral/Configuration/python/SimGeneral_EventContent_cff.py
Labels: l1-approved, operations-approved, reconstruction-approved, simulation-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved, xpog-approved, tracking

#47897 delay read when runing PAT or NANO by itself
  Configuration/Applications/python/ConfigBuilder.py
Labels: operations-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#47909 PPS DQM update for the beginning of 2025 data-taking
  DQM/CTPPS/plugins/CTPPSCommonDQMSource.cc
  DQM/CTPPS/plugins/CTPPSPixelDQMSource.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47907 add `DQMEventInfo` instance to the sequence run `OfflineHLTMonitoring`
  DQMOffline/Trigger/python/DQMOffline_Trigger_cosmics_cff.py
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#47914 Remove last references to rfio protocol from framework and related code
  FWCore/Catalog/interface/SiteLocalConfig.h
  FWCore/Catalog/test/FileLocator_t.cpp
  FWCore/Catalog/test/TestSiteLocalConfig.h
  FWCore/Services/src/SiteLocalConfigService.cc
  FWCore/Services/src/SiteLocalConfigService.h
  FWCore/Services/test/test_sitelocalconfig_override_cfg.py
  IOPool/TFileAdaptor/src/TFileAdaptor.cc
  IOPool/TFileAdaptor/test/tfileTest.cpp
  Utilities/StorageFactory/test/BuildFile.xml
  Utilities/StorageFactory/test/muli_thread_results
  Utilities/StorageFactory/test/rfio.cpp
  Utilities/StorageFactory/test/rfio2.cpp
  Utilities/StorageFactory/test/rfio3.cpp
  Utilities/StorageFactory/test/test_anycp
  Utilities/StorageFactory/test/write.cpp
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47915 [15_0_X] Add a log message for URLs the XrdAdaptor opens
  Utilities/XrdAdaptor/src/XrdRequestManager.cc
  Utilities/XrdAdaptor/src/XrdSource.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved

#47916 Add customization for the SerialSync tracking sequence in the mkFit HLT customizer
  RecoTracker/MkFit/python/customizeHLTIter0ToMkFit.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#47884 Move inspectNanoFile.py from test to scripts
  PhysicsTools/NanoAOD/scripts/inspectNanoFile.py
Labels: fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved, xpog-approved

#47930 Remove code supporting SubProcess and related to module deletion
  FWCore/Framework/interface/EDConsumerBase.h
  FWCore/Framework/interface/ModuleProcessName.h
  FWCore/Framework/interface/PathsAndConsumesOfModules.h
  FWCore/Framework/interface/Schedule.h
  FWCore/Framework/interface/maker/Worker.h
  FWCore/Framework/interface/maker/WorkerT.h
  FWCore/Framework/interface/stream/EDAnalyzerAdaptorBase.h
  FWCore/Framework/interface/stream/ProducingModuleAdaptorBase.h
  FWCore/Framework/src/EDConsumerBase.cc
  FWCore/Framework/src/EventProcessor.cc
  FWCore/Framework/src/PathsAndConsumesOfModules.cc
  FWCore/Framework/src/Schedule.cc
  FWCore/Framework/src/stream/EDAnalyzerAdaptorBase.cc
  FWCore/Framework/src/stream/ProducingModuleAdaptorBase.cc
  FWCore/ServiceRegistry/interface/PathsAndConsumesOfModulesBase.h
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47759 kt smearing for gammaUPC [15_0_X]
  GeneratorInterface/LHEInterface/scripts/gamma-UPC_lhe_ktsmearing_UPC.py
Labels: generators-approved, fully-signed, tests-approved, orp-approved, backport-ok

#47905 btvNano: store all PS weights [150X]
  PhysicsTools/NanoAOD/python/btvMC_cff.py
Labels: fully-signed, tests-approved, orp-approved, backport-ok, xpog-approved

#47889 Include HLT(DST) + L1 seed information in Scouting Offline DQM for EGM
  HLTriggerOffline/Scouting/plugins/ElectronEfficiencyPlotter.cc
  HLTriggerOffline/Scouting/plugins/PatElectronTagProbeAnalyzer.cc
  HLTriggerOffline/Scouting/plugins/ScoutingEGammaCollectionMonitoring.cc
  HLTriggerOffline/Scouting/plugins/ScoutingElectronTagProbeAnalyzer.cc
  HLTriggerOffline/Scouting/python/ElectronEfficiencyPlotter_cfi.py
  HLTriggerOffline/Scouting/python/PatElectronTagProbeAnalyzer_cfi.py
  HLTriggerOffline/Scouting/python/ScoutingEGammaCollectionMonitoring_cfi.py
  HLTriggerOffline/Scouting/python/ScoutingElectronTagProbeAnalyzer_cfi.py
  HLTriggerOffline/Scouting/test/runScoutingMonitoringDQM_EGammaOnly_step1_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47920 Run3-sim162 add the macro sed to compre calorimeter digis from 3 samples: Full+Full, Fast+Fast, Full+Fast
  SimG4CMS/Calo/macros/MakeHitStudyPlots.C
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47900 [15_0_X] Update TkAl PCL metadata for 2025
  CondFormats/Common/data/SiPixelAliHGCombRcd_prod.json
  CondFormats/Common/data/SiPixelAliHGRcd_prod.json
  CondFormats/Common/data/SiPixelAliRcd_prod.json
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, backport-ok

#47875 Restore branchless 'and' operations [15_0_X]
  CommonTools/RecoAlgos/BuildFile.xml
  CommonTools/RecoAlgos/interface/KDTreeLinkerAlgo.h
  DataFormats/Math/interface/logic.h
  RecoTracker/MeasurementDet/BuildFile.xml
  RecoTracker/MeasurementDet/plugins/doubleMatch.icc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, backport-ok, tracking

#47113 add vertex trimming to the phase2 hlt tracking iterations
  Configuration/ProcessModifiers/python/phase2_hlt_vertexTrimming_cff.py
  Configuration/PyReleaseValidation/README.md
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHighPtTripletStepHitDoublets_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltHighPtTripletStepTrackingRegionFromTrimmedVertices_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltInitialStepSeeds_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltPhase2TrimmedPixelVertices_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTHighPtTripletStepSeedingSequence_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTTrackingSequence_cfi.py
Labels: hlt-approved, operations-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#47933 Phase2-hgx363L Modify some of he test script and a small bug correction which affects scintillators in V19 of HGCal
  Geometry/HGCalCommonData/interface/HGCalParameters.h
  Geometry/HGCalCommonData/test/python/testHGCalNumbering_cfg.py
  Geometry/HGCalGeometry/test/HGCalSizeTester.cc
  Geometry/HGCalGeometry/test/python/testHGCalGeometry_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalSize_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalWaferCell_cfg.py
  Geometry/HGCalGeometry/test/python/testHGCalWaferInFileTest_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#47771 [15.0] Fix missing `CaloParticle`s from pileup
  Configuration/ProcessModifiers/python/enableCPfromPU_cff.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  SimCalorimetry/HGCalSimProducers/python/hgcHitAssociation_cfi.py
  SimDataFormats/Track/src/classes_def.xml
Labels: operations-approved, simulation-approved, fully-signed, tests-approved, pdmv-approved, bug-fix, orp-approved, upgrade-approved, backport-ok, changes-dataformats

#47124 Ecal Phase2 Weights-based Reconstruction, Alpaka integration
  Configuration/PyReleaseValidation/python/relval_gpu.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  RecoLocalCalo/EcalRecProducers/plugins/EcalUncalibRecHitSoAToLegacy.cc
  RecoLocalCalo/EcalRecProducers/plugins/alpaka/EcalPhase2DigiToPortableProducer.cc
  RecoLocalCalo/EcalRecProducers/plugins/alpaka/EcalUncalibRecHitPhase2WeightsAlgoPortable.dev.cc
  RecoLocalCalo/EcalRecProducers/plugins/alpaka/EcalUncalibRecHitPhase2WeightsAlgoPortable.h
  RecoLocalCalo/EcalRecProducers/plugins/alpaka/EcalUncalibRecHitPhase2WeightsProducerPortable.cc
  RecoLocalCalo/EcalRecProducers/plugins/alpaka/EcalUncalibRecHitPhase2WeightsStruct.h
  RecoLocalCalo/EcalRecProducers/python/ecalRecHit_cff.py
  RecoLocalCalo/EcalRecProducers/python/ecalUncalibRecHitPhase2_cff.py
Labels: reconstruction-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved, heterogeneous-approved, ecal, tests-ib-failure

#47923 Introducing a NGT DQM instance for the monitoring of scouting collection [15_0_X]
  DQMOffline/HLTScouting/python/HLTScoutingDqmOffline_cff.py
  HLTriggerOffline/Scouting/plugins/ScoutingCollectionMonitor.cc
  HLTriggerOffline/Scouting/python/ScoutingCollectionMonitor_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport, ngt

#47826 [15.0.X] backport: PPS DQM update for the beginning of 2025 data-taking
  DQM/CTPPS/plugins/CTPPSCommonDQMSource.cc
  DQM/CTPPS/plugins/CTPPSPixelDQMSource.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#47836 [15_0_X] Plugin to obtain the best track index for Run3ScoutingElectron
  PhysicsTools/Scouting/plugins/BuildFile.xml
  PhysicsTools/Scouting/plugins/Run3ScoutingElectronBestTrack.cc
  PhysicsTools/Scouting/test/BuildFile.xml
  PhysicsTools/Scouting/test/ref_Run3ScoutingElectronBestTrack_outputevtctnt.txt
  PhysicsTools/Scouting/test/test_Run3ScoutingElectronBestTrack.sh
  PhysicsTools/Scouting/test/test_Run3ScoutingElectronBestTrack_cfg.py
Labels: fully-signed, tests-approved, orp-approved, backport-ok, xpog-approved

#47895 [15.0.X] Fix `siPixelDigiMorphing` modifer and create workflows to test it
  Configuration/PyReleaseValidation/README.md
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  RecoLocalTracker/SiPixelClusterizer/python/SiPixelClusterizerPreSplitting_cfi.py
Labels: reconstruction-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, backport-ok, trk

#47853 [15_0_X] Backport of #47801 (Add the Scouting Glo-ParT inference facility)
  PhysicsTools/NanoAOD/python/custom_run3scouting_cff.py
  PhysicsTools/NanoAOD/python/run3scouting_cff.py
  RecoBTag/FeatureTools/plugins/DeepBoostedJetTagInfoProducer.cc
  RecoBTag/ONNXRuntime/plugins/UnifiedParticleTransformerAK4ONNXJetTagsProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, requires-external, backport-ok, xpog-approved

#47902 Remove use of ROOT::Experimental namespace
  FWIO/RNTuple/bin/edmRntupleStorage.cc
  FWIO/RNTuple/plugins/DataProductsRNTuple.cc
  FWIO/RNTuple/plugins/DataProductsRNTuple.h
  FWIO/RNTuple/plugins/RNTupleInputFile.cc
  FWIO/RNTuple/plugins/RNTupleInputFile.h
  FWIO/RNTuple/plugins/RNTupleOutputFile.cc
  FWIO/RNTuple/plugins/RNTupleOutputFile.h
  FWIO/RNTuple/plugins/RNTupleOutputModule.cc
  FWIO/RNTuple/plugins/RNTupleSource.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, requires-external, tests-manual-override

#47838 2025 update of heavy-ion generator configurations
  Configuration/Generator/python/AMPT_PPb_5020GeV_MinimumBias_cfi.py
  Configuration/Generator/python/Hijing_PPb_MinimumBias_cfi.py
  Configuration/Generator/python/Hydjet2_Quenched_MinBias_5020GeV_cfi.py
  Configuration/Generator/python/Hydjet_Quenched_B12_5020GeV_cfi.py
  Configuration/Generator/python/Hydjet_Quenched_B12_5362GeV_cfi.py
  Configuration/Generator/python/Hydjet_Quenched_MinBias_2760GeV_cfi.py
  Configuration/Generator/python/Hydjet_Quenched_MinBias_5020GeV_cfi.py
  Configuration/Generator/python/Hydjet_Quenched_MinBias_5362GeV_cfi.py
  Configuration/Generator/python/Hydjet_Quenched_MinBias_5519GeV_cfi.py
  Configuration/Generator/python/Hydjet_Quenched_MinBias_XeXe_5442GeV_cfi.py
  Configuration/Generator/python/Pyquen2015Settings_cff.py
  Configuration/Generator/python/Pyquen2025Settings_cff.py
  Configuration/Generator/python/Pyquen_DiJet_pt80to120_2760GeV_cfi.py
  Configuration/Generator/python/Pyquen_DiJet_pt80to120_5362GeV_cfi.py
  Configuration/Generator/python/Pyquen_GammaJet_pt20_2760GeV_cfi.py
  Configuration/Generator/python/Pyquen_GammaJet_pt20_5362GeV_cfi.py
  Configuration/Generator/python/Pyquen_ZeemumuJets_pt10_2760GeV_cfi.py
  Configuration/Generator/python/Pyquen_ZeemumuJets_pt10_5362GeV_cfi.py
  Configuration/Generator/python/ReggeGribovPartonMC_EposLHC_4080_4080GeV_pPb_cfi.py
  GeneratorInterface/HydjetInterface/interface/HydjetHadronizer.h
  GeneratorInterface/HydjetInterface/python/hydjetDefaultParameters_cff.py
  GeneratorInterface/HydjetInterface/python/hydjetDefault_cfi.py
  GeneratorInterface/HydjetInterface/test/testHydjet.py
Labels: generators-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47874 [15_0_X][L1T] CALO-L2 calibrations and cons. ZS for first L1 menu 2025
  L1Trigger/Configuration/python/customiseSettings.py
  L1Trigger/L1TCalorimeter/python/caloParams_2025_v0_2_cfi.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, requires-external, backport-ok

#47888 Avoid adding .root to a file ending in .rntpl in ConfigBuilder
  Configuration/Applications/python/ConfigBuilder.py
Labels: operations-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47946 Phase2-hgx363M Modify the code to tune the new scintillator code for the V19 version of HGCal
  Geometry/HGCalCommonData/data/hgcal/v16/hgcal.xml
  Geometry/HGCalCommonData/data/hgcal/v17/hgcal.xml
  Geometry/HGCalCommonData/data/hgcal/v17ng/hgcal.xml
  Geometry/HGCalCommonData/data/hgcal/v18/hgcal.xml
  Geometry/HGCalCommonData/data/hgcal/v18ng/hgcal.xml
  Geometry/HGCalCommonData/data/hgcalCons/v16/hgcalCons.xml
  Geometry/HGCalCommonData/data/hgcalCons/v17/hgcalCons.xml
  Geometry/HGCalCommonData/data/hgcalCons/v17n/hgcalCons.xml
  Geometry/HGCalCommonData/data/hgcalCons/v18/hgcalCons.xml
  Geometry/HGCalCommonData/data/hgcalCons/v18n/hgcalCons.xml
  Geometry/HGCalCommonData/data/hgcalCons/v19/hgcalCons.xml
  Geometry/HGCalCommonData/src/HGCalDDDConstants.cc
  Geometry/HGCalGeometry/src/HGCalGeometryLoader.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved
