Repository cms-sw/cmssw, pull requests merged in 2025-03, with the labels that each got.

#47476 mkFit: technical fix, remove unused function from standalone build
  RecoTracker/MkFitCMS/standalone/mkFit.cc
  RecoTracker/MkFitCore/standalone/ConfigStandalone.cc
  RecoTracker/MkFitCore/standalone/ConfigStandalone.h
  RecoTracker/MkFitCore/standalone/Event.cc
  RecoTracker/MkFitCore/standalone/Event.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#47431 TrackFindingTracklet: remove #pragma message
  L1Trigger/TrackFindingTracklet/interface/Settings.h
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47462 XrdAdaptor: improve exception messages
  Utilities/XrdAdaptor/src/XrdRequestManager.cc
  Utilities/XrdAdaptor/src/XrdRequestManager.h
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47471 miscellaneous improvements to `HLTriggerOffline/Scouting` plugins
  HLTriggerOffline/Scouting/plugins/ElectronEfficiencyPlotter.cc
  HLTriggerOffline/Scouting/plugins/ElectronEfficiencyPlotter.h
  HLTriggerOffline/Scouting/plugins/PatElectronTagProbeAnalyzer.cc
  HLTriggerOffline/Scouting/plugins/PatElectronTagProbeAnalyzer.h
  HLTriggerOffline/Scouting/plugins/ScoutingDQMUtils.h
  HLTriggerOffline/Scouting/plugins/ScoutingEGammaCollectionMonitoring.cc
  HLTriggerOffline/Scouting/plugins/ScoutingEGammaCollectionMonitoring.h
  HLTriggerOffline/Scouting/plugins/ScoutingElectronTagProbeAnalyzer.cc
  HLTriggerOffline/Scouting/plugins/ScoutingElectronTagProbeAnalyzer.h
  HLTriggerOffline/Scouting/plugins/ScoutingMuonTagProbeAnalyzer.cc
  HLTriggerOffline/Scouting/plugins/ScoutingMuonTagProbeAnalyzer.h
  HLTriggerOffline/Scouting/plugins/ScoutingMuonTriggerAnalyzer.cc
  HLTriggerOffline/Scouting/plugins/ScoutingMuonTriggerAnalyzer.h
  HLTriggerOffline/Scouting/python/ElectronEfficiencyPlotter_cfi.py
  HLTriggerOffline/Scouting/python/ScoutingEGammaCollectionMonitoring_cfi.py
  HLTriggerOffline/Scouting/python/ScoutingElectronTagProbeAnalyzer_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47479 Run3-gex187I Add a new XML file from Jongwon for RPC to add the new chamber in RE4/1
  Geometry/MuonCommonData/data/rpcf/2025/v3/rpcf.xml
  Geometry/MuonCommonData/python/testExtendedGeometry2025NXML_cfi.py
  Geometry/MuonCommonData/test/python/g4OverlapCheck2021_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47481 Added csv output option to edmModuleEventAllocMonitorAnalyze.py
  PerfTools/AllocMonitor/scripts/edmModuleEventAllocMonitorAnalyze.py
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47357 Modernise Handle and OrphanHandle interface
  CommonTools/RecoUtils/plugins/LeptonFSRProducer.cc
  CommonTools/UtilAlgos/interface/AssociationVectorSelector.h
  DataFormats/Common/interface/Handle.h
  DataFormats/Common/interface/HandleBase.h
  DataFormats/Common/interface/OrphanHandle.h
  DataFormats/Common/interface/OrphanHandleBase.h
  DataFormats/Common/src/OrphanHandleBase.cc
  EventFilter/GctRawToDigi/plugins/L1GctInternJetProducer.cc
  L1Trigger/L1ExtraFromDigis/src/L1ExtraParticlesProd.cc
  L1Trigger/VertexFinder/plugins/TPStubValueMapProducer.cc
  MuonAnalysis/MuonAssociators/plugins/MuonFSRProducer.cc
  PhysicsTools/PatAlgos/plugins/PATGenCandsFromSimTracksProducer.cc
  RecoEcal/EgammaClusterProducers/src/SCEnergyCorrectorDRNProducer.cc
  RecoLocalFastTime/FTLRecProducers/plugins/MTDRecHitProducer.cc
  RecoMTD/TrackExtender/plugins/TrackExtenderWithMTD.cc
  RecoParticleFlow/PFSimProducer/plugins/SimPFProducer.cc
  RecoTauTag/RecoTau/plugins/PFRecoTauTagInfoProducer.cc
  RecoTracker/SingleTrackPattern/src/CosmicTrackFinder.cc
Labels: analysis-approved, core-approved, l1-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, xpog-approved, tracking

#47460 Quality score sum cut + L1GTAcceptFilter + internal fixes
  L1Trigger/Phase2L1GT/README.md
  L1Trigger/Phase2L1GT/plugins/L1GTAcceptFilter.cc
  L1Trigger/Phase2L1GT/plugins/L1GTDoubleObjectCond.cc
  L1Trigger/Phase2L1GT/plugins/L1GTEvaluationInterface.h
  L1Trigger/Phase2L1GT/plugins/L1GTQuadObjectCond.cc
  L1Trigger/Phase2L1GT/plugins/L1GTSingleCollectionCut.h
  L1Trigger/Phase2L1GT/plugins/L1GTTripleObjectCond.cc
  L1Trigger/Phase2L1GT/python/l1GTAcceptFilter_cff.py
  L1Trigger/Phase2L1GT/test/gt_firmware_evaluation.py
  L1Trigger/Phase2L1GT/test/test_GT.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#47475 [CMSSW_14_1_X] Update MC GTs for HI and ppRef in autoCond
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok

#47226 Migrate BeamSpotDeviceProducer and HcalDigisSoAProducer to rely on implicit host-to-device copy
  EventFilter/HcalRawToDigi/plugins/alpaka/HcalDigisSoAProducer.cc
  RecoVertex/BeamSpotProducer/plugins/alpaka/BeamSpotDeviceProducer.cc
Labels: alca-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved, tracking

#47483 Reading `TriggerResults` from an `InputTag` for B2G HLT Analyzers
  HLTriggerOffline/B2G/interface/B2GDoubleLeptonHLTValidation.h
  HLTriggerOffline/B2G/interface/B2GHadronicHLTValidation.h
  HLTriggerOffline/B2G/interface/B2GSingleLeptonHLTValidation.h
  HLTriggerOffline/B2G/python/b2gDoubleLeptonHLTEventValidation_cfi.py
  HLTriggerOffline/B2G/python/b2gHadronicHLTEventValidation_cfi.py
  HLTriggerOffline/B2G/python/b2gSingleLeptonHLTEventValidation_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#47496 Enable corrections for HCAL effective areas
  RecoEgamma/EgammaHLTProducers/plugins/HLTHcalPFClusterIsolationProducer.cc
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47486 Removed Principal::adjustToNewProductRegistry
  FWCore/Framework/interface/Principal.h
  FWCore/Framework/src/EventProcessor.cc
  FWCore/Framework/src/Principal.cc
  FWCore/Framework/src/PrincipalCache.cc
  IOPool/Streamer/src/StreamerInputSource.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47511 Overlaps fixed for Muon System - 2025 Scenario with 2025/v3/rpcf.xml
  Geometry/MuonCommonData/data/mfshield/2023/v3/mfshield.xml
  Geometry/MuonCommonData/data/rpcf/2025/v5/rpcf.xml
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47512 Run3-gex187K Add overlap check test for the files produced by Sergio in PR #47511
  Geometry/MuonCommonData/python/testExtendedGeometry2025QXML_cfi.py
  Geometry/MuonCommonData/test/python/g4OverlapCheck2021_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47434 [NGT] Add a novel `NGTScouting` Phase-2 HLT menu that runs a single "scouting"-like path on the whole L1Accept
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltL1GTAcceptFilter_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/paths/DST_PFScouting_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/sequences/HLTTrackingSequence_cfi.py
  HLTrigger/Configuration/python/HLT_NGTScouting_cff.py
  HLTrigger/Configuration/scripts/hltPhase2UpgradeIntegrationTests
Labels: hlt-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved, ngt

#47466 Move `CPUServiceBase`, `RootHandlers`, and `TimingServiceBase` to `FWCore/AbstractServices`
  FWCore/AbstractServices/interface/CPUServiceBase.h
  FWCore/AbstractServices/interface/RootHandlers.h
  FWCore/AbstractServices/interface/TimingServiceBase.h
  FWCore/AbstractServices/src/CPUServiceBase.cc
  FWCore/AbstractServices/src/TimingServiceBase.cc
  FWCore/Framework/bin/BuildFile.xml
  FWCore/Framework/bin/cmsRun.cpp
  FWCore/Framework/src/EventProcessor.cc
  FWCore/Services/plugins/CPU.cc
  FWCore/Services/plugins/CondorStatusUpdater.cc
  FWCore/Services/plugins/InitRootHandlers.cc
  FWCore/Services/plugins/Timing.cc
  FWCore/Services/plugins/tracer_setupFile.cc
  FWCore/Utilities/src/CPUServiceBase.cc
  IOPool/Common/BuildFile.xml
  IOPool/Common/src/RootServiceChecker.cc
  IOPool/Output/BuildFile.xml
  IOPool/Output/src/RootOutputTree.cc
  PerfTools/AllocMonitor/plugins/BuildFile.xml
  PerfTools/AllocMonitor/plugins/moduleAlloc_setupFile.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47415 [Backport 15_0_X] Restriction of reemul fg0 in ieta16
  SimCalorimetry/HcalTrigPrimAlgos/src/HcalFinegrainBit.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, backport-ok

#47501 McM/production bound options to cmsDriver
  Configuration/Applications/python/ConfigBuilder.py
Labels: operations-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47515 [15_0_X] Migrate BeamSpotDeviceProducer and HcalDigisSoAProducer to rely on implicit host-to-device copy
  EventFilter/HcalRawToDigi/plugins/alpaka/HcalDigisSoAProducer.cc
  RecoVertex/BeamSpotProducer/plugins/alpaka/BeamSpotDeviceProducer.cc
Labels: alca-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, tracking

#47520 Remove unnecessary headers from HGCalRecProducers
  RecoLocalCalo/HGCalRecProducers/plugins/BuildFile.xml
  RecoLocalCalo/HGCalRecProducers/plugins/alpaka/HGCalSoALayerClustersProducer.cc
  RecoLocalCalo/HGCalRecProducers/plugins/alpaka/HGCalSoARecHitsLayerClustersProducer.cc
  RecoLocalCalo/HGCalRecProducers/plugins/alpaka/HGCalSoARecHitsProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#47513 add fillDescriptions to several BTV plugins used at HLT
  RecoBTag/Combined/plugins/BTagProbabilityToDiscriminator.cc
  RecoBTag/ImpactParameter/plugins/IPProducer.h
  RecoBTag/SecondaryVertex/plugins/TemplatedSecondaryVertexProducer.cc
  RecoBTag/SoftLepton/plugins/SoftLepton.cc
  RecoBTau/JetTagComputer/plugins/JetTagProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47514 Add LST_STANDALONE option for printf vs edm::LogWarning
  RecoTracker/LSTCore/interface/alpaka/Common.h
  RecoTracker/LSTCore/standalone/LST/Makefile
  RecoTracker/LSTCore/standalone/Makefile
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#47521 Ryn3-gex187L Cure the overlaps in 2021, 2023, 2024 by adopting Sergio's version for 2023/v2/mfshield.xml
  Geometry/MuonCommonData/data/rpcf/2021/v6/rpcf.xml
  Geometry/MuonCommonData/data/rpcf/2023/v4/rpcf.xml
  Geometry/MuonCommonData/data/rpcf/2024/v5/rpcf.xml
  Geometry/MuonCommonData/python/testExtendedGeometry2021NXML_cfi.py
  Geometry/MuonCommonData/python/testExtendedGeometry2023NXML_cfi.py
  Geometry/MuonCommonData/python/testExtendedGeometry2024NXML_cfi.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47441 [NGT] Adding `SimDoublets` class for Pixel Tracking Validation including corresponding EDProducers and EDAnalyzers
  Configuration/Generator/python/SingleMuPt15Eta0_0p4_cfi.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  DataFormats/TrackerRecHit2D/interface/SiPixelRecHitFwd.h
  DataFormats/TrackerRecHit2D/src/classes.h
  DataFormats/TrackerRecHit2D/src/classes_def.xml
  SimDataFormats/TrackingAnalysis/interface/SimDoublets.h
  SimDataFormats/TrackingAnalysis/src/SimDoublets.cc
  SimDataFormats/TrackingAnalysis/src/classes.h
  SimDataFormats/TrackingAnalysis/src/classes_def.xml
  SimTracker/TrackerHitAssociation/plugins/BuildFile.xml
  SimTracker/TrackerHitAssociation/plugins/SimDoubletsProducer.cc
  Validation/TrackingMCTruth/plugins/BuildFile.xml
  Validation/TrackingMCTruth/plugins/SimDoubletsAnalyzer.cc
  Validation/TrackingMCTruth/plugins/SimDoubletsAnalyzer.h
  Validation/TrackingMCTruth/python/PostProcessorSimDoublets_cff.py
  Validation/TrackingMCTruth/test/simDoubletsPhase1_HARVESTING.py
  Validation/TrackingMCTruth/test/simDoubletsPhase1_TEST.py
  Validation/TrackingMCTruth/test/simDoubletsPhase2_HARVESTING.py
  Validation/TrackingMCTruth/test/simDoubletsPhase2_TEST.py
Labels: dqm-approved, generators-approved, reconstruction-approved, simulation-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved, tracking, trk, changes-dataformats, ngt

#47518 Remove L1Trigger dependency from DataFormats package "ME0Stub"
  DataFormats/GEMDigi/interface/ME0Stub.h
  L1Trigger/L1TGEM/plugins/ME0StubBuilder.cc
Labels: l1-approved, simulation-approved, fully-signed, tests-approved, orp-approved, urgent, upgrade-approved, code-checks-approved

#47378 move online beam spot arbitration to the edproducer
  Alignment/CommonAlignmentProducer/python/ALCARECOPromptCalibProdSiPixelAliHLT_cff.py
  Configuration/DataProcessing/python/RecoTLR.py
  Configuration/StandardSequences/python/DigiToRaw_Repack_cff.py
  DQM/BeamMonitor/plugins/OnlineBeamMonitor.cc
  DQM/BeamMonitor/plugins/OnlineBeamMonitor.h
  DQM/BeamMonitor/python/AlcaBeamMonitorHeavyIons_cff.py
  DQM/BeamMonitor/python/AlcaBeamMonitor_cff.py
  DQM/BeamMonitor/test/Online_BeamMonitor_file.py
  DQM/BeamMonitor/test/testOnlineBeamMonitor.sh
  DQM/Integration/python/clients/beam_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamhlt_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/onlinebeammonitor_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/pixel_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/sistrip_approx_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/sistrip_dqm_sourceclient-live_cfg.py
  HLTrigger/Configuration/python/HLT_75e33/eventsetup/hltOnlineBeamSpotESProducer_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltOnlineBeamSpot_cfi.py
  HLTrigger/Configuration/python/HLT_75e33_cff.py
  HLTrigger/Configuration/python/HLT_75e33_timing_cff.py
  HLTrigger/Configuration/python/customizeHLTforCMSSW.py
  RecoVertex/BeamSpotProducer/plugins/BeamSpotOnlineProducer.cc
  RecoVertex/BeamSpotProducer/python/BeamSpotOnline_cfi.py
  RecoVertex/BeamSpotProducer/python/BeamSpot_cfi.py
Labels: alca-approved, dqm-approved, hlt-approved, operations-approved, reconstruction-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, tracking

#47508 remove L1T legacy dependencies from pixel and strip online DQM clients
  DQM/Integration/python/clients/pixel_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/sistrip_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#47534 Phase2-hgx362B Add the modified title files for HGCal using the flat file parameters of modmapv16.6_cmssw_flatfile.txt
  Geometry/HGCalCommonData/data/hgcalConsData/v19/hgcalConsData.xml
  Geometry/HGCalCommonData/data/hgcalHEmix/v19/hgcalHEmix.xml
  Geometry/HGCalCommonData/data/hgcalHEsil/v19/hgcalHEsil.xml
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#47451 Monitor quality of unpacked FED data with a dedicated SoA
  DataFormats/HGCalDigi/interface/HGCalECONDPacketInfoSoA.h
  DataFormats/HGCalDigi/interface/HGCalFEDPacketInfoHost.h
  DataFormats/HGCalDigi/interface/HGCalFEDPacketInfoSoA.h
  DataFormats/HGCalDigi/interface/HGCalRawDataDefinitions.h
  DataFormats/HGCalDigi/interface/alpaka/HGCalFEDPacketInfoDevice.h
  DataFormats/HGCalDigi/src/alpaka/classes_cuda.h
  DataFormats/HGCalDigi/src/alpaka/classes_cuda_def.xml
  DataFormats/HGCalDigi/src/alpaka/classes_rocm.h
  DataFormats/HGCalDigi/src/alpaka/classes_rocm_def.xml
  DataFormats/HGCalDigi/src/classes.cc
  DataFormats/HGCalDigi/src/classes.h
  DataFormats/HGCalDigi/src/classes_def.xml
  EventFilter/HGCalRawToDigi/interface/HGCalUnpacker.h
  EventFilter/HGCalRawToDigi/plugins/HGCalRawToDigi.cc
  EventFilter/HGCalRawToDigi/src/HGCalUnpacker.cc
  EventFilter/HGCalRawToDigi/src/UnpackerTools.cc
Labels: reconstruction-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, heterogeneous-approved, hgcal-dpg-approved, changes-dataformats

#47499 Let RNTuple auto-adjust page buffer budget
  FWIO/RNTuple/plugins/RNTupleOutputModule.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved

#47526 Phase2-hgx362A Provide the possibility of running without a Sensitive Detector by setting OnlySD = ['NONE']
  Geometry/HGCalCommonData/data/hgcalPassive/v18/hgcalpos.xml
  Geometry/HGCalCommonData/test/python/g4OverlapCheckPassive_cfg.py
  SimG4Core/SensitiveDetector/src/sensitiveDetectorMakers.cc
Labels: geometry-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#47531 Run3-gex187M Update the documentation of different Run4 scenarios
  Configuration/Geometry/README.md
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#47532 [15_0_X] move online beam spot arbitration to the edproducer
  Alignment/CommonAlignmentProducer/python/ALCARECOPromptCalibProdSiPixelAliHLT_cff.py
  Configuration/DataProcessing/python/RecoTLR.py
  Configuration/StandardSequences/python/DigiToRaw_Repack_cff.py
  DQM/BeamMonitor/plugins/OnlineBeamMonitor.cc
  DQM/BeamMonitor/plugins/OnlineBeamMonitor.h
  DQM/BeamMonitor/python/AlcaBeamMonitorHeavyIons_cff.py
  DQM/BeamMonitor/python/AlcaBeamMonitor_cff.py
  DQM/BeamMonitor/test/Online_BeamMonitor_file.py
  DQM/BeamMonitor/test/testOnlineBeamMonitor.sh
  DQM/Integration/python/clients/beam_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/beamhlt_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/onlinebeammonitor_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/pixel_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/sistrip_approx_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/sistrip_dqm_sourceclient-live_cfg.py
  HLTrigger/Configuration/python/HLT_75e33/eventsetup/hltOnlineBeamSpotESProducer_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltOnlineBeamSpot_cfi.py
  HLTrigger/Configuration/python/HLT_75e33_cff.py
  HLTrigger/Configuration/python/HLT_75e33_timing_cff.py
  HLTrigger/Configuration/python/customizeHLTforCMSSW.py
  RecoVertex/BeamSpotProducer/plugins/BeamSpotOnlineProducer.cc
  RecoVertex/BeamSpotProducer/python/BeamSpotOnline_cfi.py
  RecoVertex/BeamSpotProducer/python/BeamSpot_cfi.py
Labels: alca-approved, dqm-approved, hlt-approved, operations-approved, reconstruction-approved, fully-signed, tests-approved, db-approved, orp-approved, urgent, backport-ok, tracking

#47522 [NGT] add validation (w.r.t. SIM) step for Phase-2 HLT timing and NGT workflows
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved, ngt

#47562 Removed unneeded code in StreamerInputSource
  IOPool/Streamer/interface/StreamerInputSource.h
  IOPool/Streamer/src/StreamerInputSource.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47428 Port recent changes from Pythia8Hadronizer to Pythia8HepMC3Hadronizer
  GeneratorInterface/Pythia8Interface/plugins/Pythia8HepMC3Hadronizer.cc
  GeneratorInterface/Pythia8Interface/src/Py8HMC3InterfaceBase.cc
Labels: generators-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47528 MtdValidation: add plots on track multiplicity
  Validation/MtdValidation/plugins/Primary4DVertexValidation.cc
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47454 Function to set tracker bounds in KalmanVertexFitter
  RecoVertex/KalmanVertexFit/interface/KalmanVertexFitter.h
  RecoVertex/KalmanVertexFit/src/KalmanVertexFitter.cc
  RecoVertex/VertexTools/interface/SequentialVertexFitter.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#47539 Update OnlineBeamMonitor for DIP publication
  DQM/BeamMonitor/plugins/OnlineBeamMonitor.cc
  DQM/Integration/python/clients/beamspotdip_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, tracking

#47553 Run3-187O Create an XML file for gem11 without chambers 6, 7, 8 on -z side for 2025
  Geometry/MuonCommonData/data/gem11/2025/v1/gem11.xml
  Geometry/MuonCommonData/python/testExtendedGeometry2025RXML_cfi.py
  Geometry/MuonCommonData/test/python/g4OverlapCheck2021_cfg.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47544 Fix typo in g4SimHits cfg
  SimG4Core/Application/python/g4SimHits_cfi.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47551 Run3-gex187N Update all Run3 scenarios to accommodate the changes for RPC correction for phi staggering and z-position
  Configuration/Geometry/README.md
  Configuration/Geometry/python/dict2021Geometry.py
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021FlatMinus05Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021FlatMinus10Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021FlatPlus05Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021FlatPlus10Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021ZeroMaterial.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2023.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2023FlatMinus05Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2023FlatMinus10Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2023FlatPlus05Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2023FlatPlus10Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2023ZeroMaterial.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2024.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2024FlatMinus05Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2024FlatMinus10Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2024FlatPlus05Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2024FlatPlus10Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2024ZeroMaterial.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2025.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2025FlatMinus05Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2025FlatMinus10Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2025FlatPlus05Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2025FlatPlus10Percent.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2025ZeroMaterial.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometry2021FlatMinus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2021FlatMinus10PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2021FlatPlus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2021FlatPlus10PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2021XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2021ZeroMaterialXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2023FlatMinus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2023FlatMinus10PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2023FlatPlus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2023FlatPlus10PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2023XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2023ZeroMaterialXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2024FlatMinus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2024FlatMinus10PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2024FlatPlus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2024FlatPlus10PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2024XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2024ZeroMaterialXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2025FlatMinus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2025FlatMinus10PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2025FlatPlus05PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2025FlatPlus10PercentXML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2025XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2025ZeroMaterialXML_cfi.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#47542 Add HLT tracking monitoring in cosmics
  Configuration/AlCa/python/autoCond.py
  Configuration/EventContent/python/EventContentCosmics_cff.py
  Configuration/PyReleaseValidation/python/relval_standard.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  DQMOffline/Trigger/python/DQMOffline_Trigger_cosmics_cff.py
  DQMOffline/Trigger/python/TrackToTrackMonitoringCosmics_cff.py
  DQMOffline/Trigger/python/TrackingMonitoringCosmics_cff.py
Labels: alca-approved, dqm-approved, operations-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#47546 Remove FinalPath from the framework
  FWCore/Framework/interface/EDConsumerBase.h
  FWCore/Framework/interface/OutputModuleCore.h
  FWCore/Framework/src/OutputModuleCore.cc
  FWCore/Framework/src/Schedule.cc
  FWCore/Integration/test/BuildFile.xml
  FWCore/Integration/test/test_finalpath.sh
  FWCore/Integration/test/test_finalpath_cfg.py
  FWCore/ParameterSet/python/Config.py
  FWCore/ParameterSet/python/SequenceTypes.py
  FWCore/ParameterSet/python/SequenceVisitors.py
  HLTrigger/Configuration/scripts/hltDumpStream
  HLTrigger/Configuration/scripts/hltListPaths
Labels: core-approved, hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47549 [FULLSIM] Extended SIM exception
  SimG4Core/Application/interface/CMSG4TrackInterface.h
  SimG4Core/Application/interface/ExceptionHandler.h
  SimG4Core/Application/interface/TrackingAction.h
  SimG4Core/Application/src/CMSG4TrackInterface.cc
  SimG4Core/Application/src/ExceptionHandler.cc
  SimG4Core/Application/src/RunManagerMTWorker.cc
  SimG4Core/Application/src/TrackingAction.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47423 Include CICADA v2.2.0 configuration as modification to 2025 L1T Era
  Configuration/Eras/python/Era_Run3_2025_cff.py
  Configuration/Eras/python/Modifier_stage2L1Trigger_2025_cff.py
  L1Trigger/L1TCaloLayer1/python/simCaloStage2Layer1Summary_cfi.py
Labels: l1-approved, operations-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47543 Added algorithm header needed for std::transform
  EventFilter/HGCalRawToDigi/src/UnpackerTools.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#47558 add fillDescriptions to several Strip modules used at HLT
  CalibTracker/SiStripESProducers/plugins/real/SiStripBackPlaneCorrectionDepESProducer.cc
  CalibTracker/SiStripESProducers/plugins/real/SiStripLorentzAngleDepESProducer.cc
  CalibTracker/SiStripESProducers/python/SiStripBackPlaneCorrectionDepESProducer_cfi.py
  CalibTracker/SiStripESProducers/python/SiStripLorentzAngleDepESProducer_cfi.py
  RecoLocalTracker/SiStripRecHitConverter/plugins/StripCPEESProducer.cc
  RecoLocalTracker/SiStripRecHitConverter/python/StripCPEESProducer_cfi.py
Labels: alca-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#47569 remove `hltOnlineBeamSpotESProducer_cfi` from NGT scouting menu
  HLTrigger/Configuration/python/HLT_NGTScouting_cff.py
Labels: hlt-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#46247 [LLVM Analyzer][DQM] Fix some static analyzer warnings
  DQM/BeamMonitor/plugins/BeamMonitor.cc
  DQM/DTMonitorClient/src/DTLocalTriggerTest.cc
  DQM/DTMonitorModule/src/DTChamberEfficiencyTask.cc
  DQM/L1TMonitorClient/src/L1TOccupancyClient.cc
  DQM/Physics/src/QcdPhotonsDQM.cc
  DQM/Physics/src/TopDiLeptonDQM.cc
  DQM/SiPixelMonitorClient/src/SiPixelDataQuality.cc
  DQM/SiPixelMonitorCluster/src/SiPixelClusterSource.cc
  DQM/SiPixelMonitorDigi/src/SiPixelDigiSource.cc
  DQM/SiPixelMonitorRawData/src/SiPixelRawDataErrorSource.cc
  DQM/SiPixelMonitorTrack/src/SiPixelHitEfficiencySource.cc
  DQM/SiStripCommissioningAnalysis/src/ApvTimingAlgorithm.cc
  DQM/SiStripCommissioningAnalysis/src/PedsFullNoiseAlgorithm.cc
  DQM/SiStripCommissioningClients/src/CommissioningHistograms.cc
  DQM/SiStripMonitorSummary/src/SiStripApvGainsDQM.cc
  DQMOffline/Hcal/src/HcalRecHitsDQMClient.cc
  DQMOffline/JetMET/src/METAnalyzer.cc
  DQMOffline/Muon/src/CSCOfflineMonitor.cc
  DQMOffline/Trigger/plugins/HLTInclusiveVBFSource.cc
  DQMServices/Components/plugins/DQMFileSaver.cc
  DQMServices/Components/plugins/DQMStoreStats.cc
  DQMServices/Core/src/DQMNet.cc
Labels: dqm-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, tracking, trk

#47403 Backport to produce 2022 Tau Embedding samples (HLT step)
  DataFormats/GsfTrackReco/src/classes_def.xml
  RecoEgamma/EgammaElectronProducers/plugins/LowPtGSFToTrackLinker.cc
  RecoEgamma/EgammaPhotonAlgos/src/ConversionHitChecker.cc
  TauAnalysis/MCEmbeddingTools/docs/README
  TauAnalysis/MCEmbeddingTools/plugins/BuildFile.xml
  TauAnalysis/MCEmbeddingTools/plugins/CaloCleaner.cc
  TauAnalysis/MCEmbeddingTools/plugins/CaloCleaner.h
  TauAnalysis/MCEmbeddingTools/plugins/CollectionMerger.cc
  TauAnalysis/MCEmbeddingTools/plugins/CollectionMerger.h
  TauAnalysis/MCEmbeddingTools/plugins/DYToMuMuGenFilter.cc
  TauAnalysis/MCEmbeddingTools/plugins/DoubleCollectionMerger.cc
  TauAnalysis/MCEmbeddingTools/plugins/DoubleCollectionMerger.h
  TauAnalysis/MCEmbeddingTools/plugins/EmbeddingBeamSpotOnlineProducer.cc
  TauAnalysis/MCEmbeddingTools/plugins/EmbeddingBeamSpotOnlineProducer.h
  TauAnalysis/MCEmbeddingTools/plugins/EmbeddingHltPixelVerticesProducer.cc
  TauAnalysis/MCEmbeddingTools/plugins/EmbeddingLHEProducer.cc
  TauAnalysis/MCEmbeddingTools/plugins/EmbeddingVertexCorrector.cc
  TauAnalysis/MCEmbeddingTools/plugins/MuMuForEmbeddingSelector.cc
  TauAnalysis/MCEmbeddingTools/plugins/MuonDetCleaner.cc
  TauAnalysis/MCEmbeddingTools/plugins/MuonDetCleaner.h
  TauAnalysis/MCEmbeddingTools/plugins/TrackMergeremb.cc
  TauAnalysis/MCEmbeddingTools/plugins/TrackMergeremb.h
  TauAnalysis/MCEmbeddingTools/plugins/TrackerCleaner.cc
  TauAnalysis/MCEmbeddingTools/plugins/TrackerCleaner.h
  TauAnalysis/MCEmbeddingTools/python/DYToMuMuGenFilter_cfi.py
  TauAnalysis/MCEmbeddingTools/python/EmbeddingBeamSpotOnline_cfi.py
  TauAnalysis/MCEmbeddingTools/python/EmbeddingHltPixelVerticesProducer_cfi.py
  TauAnalysis/MCEmbeddingTools/python/EmbeddingLHEProducer_cfi.py
  TauAnalysis/MCEmbeddingTools/python/EmbeddingPythia8Hadronizer_cfi.py
  TauAnalysis/MCEmbeddingTools/python/EmbeddingVertexCorrector_cfi.py
  TauAnalysis/MCEmbeddingTools/python/SelectingProcedure_cff.py
  TauAnalysis/MCEmbeddingTools/python/customisers.py
  TauAnalysis/MCEmbeddingTools/test/BuildFile.xml
  TauAnalysis/MCEmbeddingTools/test/TestDriver.cpp
  TauAnalysis/MCEmbeddingTools/test/run_2022_workflow_tests.sh
  TauAnalysis/MCEmbeddingTools/test/runtests.sh
Labels: reconstruction-approved, simulation-approved, fully-signed, tests-approved, orp-approved, changes-dataformats

#47310 Backporting MC Filter to CMSSW_12_4_X series for Run3 2022 production
  GeneratorInterface/GenFilters/plugins/MCMultiParticleMassFilter.cc
Labels: generators-approved, fully-signed, tests-approved, orp-approved

#47575 add missing defaults to `MkFitProducer::fillDescriptions`
  RecoTracker/MkFit/plugins/MkFitProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, tracking, hlt-integration

#47572 HepMC3 output for HadronizerFilter
  GeneratorInterface/Core/interface/BaseHepMC3Filter.h
  GeneratorInterface/Core/interface/HadronizerFilter.h
  GeneratorInterface/Core/interface/HepMC3FilterDriver.h
  GeneratorInterface/Core/src/BaseHepMC3Filter.cc
  GeneratorInterface/Core/src/HepMC3FilterDriver.cc
  GeneratorInterface/Pythia8Interface/test/pythia8hmc3ex3_cfg.py
Labels: generators-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47571 Fix endcap assignment of L1 Muon stubs
  L1Trigger/Phase2L1GMT/src/L1TPhase2GMTEndcapStubProcessor.cc
Labels: l1-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#47584 Create new main ProductRegistry if input products change
  FWCore/Framework/interface/OccurrenceForOutput.h
  FWCore/Framework/interface/Principal.h
  FWCore/Framework/interface/PrincipalCache.h
  FWCore/Framework/src/EventProcessor.cc
  FWCore/Framework/src/OccurrenceForOutput.cc
  FWCore/Framework/src/Principal.cc
  FWCore/Framework/src/PrincipalCache.cc
  FWCore/Framework/test/stubs/ToyIntProducers.cc
  FWCore/Integration/test/BuildFile.xml
  FWCore/Integration/test/provenance_check_cfg.py
  FWCore/Integration/test/provenance_prod_cfg.py
  FWCore/Integration/test/provenance_test.sh
  FWCore/Modules/src/AsciiOutputModule.cc
  FWCore/TestProcessor/src/TestSourceProcessor.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tests-external-failure

#47343 Reduce and unify tagger inputs
  PhysicsTools/NanoAOD/plugins/DeepJetTableProducer.cc
  PhysicsTools/NanoAOD/plugins/JetConstituentTableProducer.cc
  PhysicsTools/NanoAOD/plugins/JetTaggerTableProducer.cc
  PhysicsTools/NanoAOD/python/btvMC_cff.py
  PhysicsTools/NanoAOD/python/custom_btv_cff.py
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved, btv

#47590 Fix missing type declaration in EdmEventSize
  PerfTools/EdmEvent/src/EdmEventSize.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47548 Add Process name, reduced configuration ID, and ParameterSet ID to the JobReport
  FWCore/Framework/src/EventProcessor.cc
  FWCore/MessageLogger/interface/JobReport.h
  FWCore/MessageLogger/src/JobReport.cc
  FWCore/MessageService/test/BuildFile.xml
  FWCore/MessageService/test/PrintProcessInformation.cc
  FWCore/MessageService/test/compareJobReportToOutput.py
  FWCore/MessageService/test/filter-timestamps.sed
  FWCore/MessageService/test/jobreport_cfg.py
  FWCore/MessageService/test/testJobReport.sh
  FWCore/MessageService/test/u1.sh
  FWCore/MessageService/test/unit_test_outputs/FrameworkJobReport.xml
  FWCore/MessageService/test/unit_test_outputs/job_report.xml
  FWCore/MessageService/test/unit_test_outputs/u10_job_report.xml
  FWCore/MessageService/test/unit_test_outputs/u14_job_report.mxml
  FWCore/MessageService/test/unit_test_outputs/u16_job_report.mmxml
  FWCore/MessageService/test/unit_test_outputs/u1_job_report.mxml
  FWCore/MessageService/test/unit_test_outputs/u1d_job_report.mxml
  FWCore/MessageService/test/unit_test_outputs/u27FJR.xml
  FWCore/MessageService/test/unit_test_outputs/u7_job_report.mxml
  IOPool/Common/test/TestEdmFastMerge.sh
  IOPool/Common/test/proper_RLfjr_output
  IOPool/Common/test/proper_Rfjr_output
  IOPool/Common/test/proper_fjr_output
  IOPool/Common/test/proper_fjrx_output
  IOPool/Common/test/proper_fjrx_second_output
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47565 Remove configuration support for SubProcess and its tests
  FWCore/Framework/src/SubProcess.cc
  FWCore/Framework/test/run_module_delete_tests.sh
  FWCore/Framework/test/stubs/ToyAnalyzers.cc
  FWCore/Framework/test/test_deleteEarly.sh
  FWCore/Framework/test/test_exceptionAtGlobalBeginRun_cfg.py
  FWCore/Framework/test/test_module_delete_dependencygraph_cfg.py
  FWCore/Framework/test/test_module_delete_subprocess_cfg.py
  FWCore/Framework/test/test_subProcessDeleteEarly_cfg.py
  FWCore/Integration/interface/ESTestData.h
  FWCore/Integration/interface/ESTestRecords.h
  FWCore/Integration/plugins/ESTestAnalyzers.cc
  FWCore/Integration/plugins/ESTestProducers.cc
  FWCore/Integration/src/ESTestData.cc
  FWCore/Integration/src/ESTestRecords.cc
  FWCore/Integration/test/BuildFile.xml
  FWCore/Integration/test/EventHistory_SubProcess_cfg.py
  FWCore/Integration/test/ThinningTestSubProcessRead_cfg.py
  FWCore/Integration/test/ThinningTestSubProcess_cfg.py
  FWCore/Integration/test/eventHistoryTest.sh
  FWCore/Integration/test/readSubProcessOutput_cfg.py
  FWCore/Integration/test/ref_merge_subprocess_cfg.py
  FWCore/Integration/test/run_RefMerge.sh
  FWCore/Integration/test/run_SubProcess.sh
  FWCore/Integration/test/run_TestDropOnInput.sh
  FWCore/Integration/test/run_TestProcessBlock.sh
  FWCore/Integration/test/run_ThinningTests.sh
  FWCore/Integration/test/testConcurrentIOVsAndRunsRead_cfg.py
  FWCore/Integration/test/testConcurrentIOVsAndRuns_cfg.py
  FWCore/Integration/test/testConsumesInfo_cfg.py
  FWCore/Integration/test/testDropOnInputReadSubProcess_cfg.py
  FWCore/Integration/test/testDropOnInputSubProcess_cfg.py
  FWCore/Integration/test/testEventSetupRunLumi_cfg.py
  FWCore/Integration/test/testGetBy1_cfg.py
  FWCore/Integration/test/testProcessBlockLooper_cfg.py
  FWCore/Integration/test/testProcessBlockSubProcessLooper_cfg.py
  FWCore/Integration/test/testProcessBlockSubProcessRead1_cfg.py
  FWCore/Integration/test/testProcessBlockSubProcessRead2_cfg.py
  FWCore/Integration/test/testProcessBlockSubProcess_cfg.py
  FWCore/Integration/test/testSubProcessEventSetup1_cfg.py
  FWCore/Integration/test/testSubProcessEventSetup_cfg.py
  FWCore/Integration/test/testSubProcessUnscheduledRead_cfg.py
  FWCore/Integration/test/testSubProcessUnscheduled_cfg.py
  FWCore/Integration/test/testSubProcess_cfg.py
  FWCore/Integration/test/unit_test_outputs/testConsumesInfo_1.log
  FWCore/Integration/test/unit_test_outputs/testGetBy1.log
  FWCore/Integration/test/unit_test_outputs/testSubProcess.grep.txt
  FWCore/Integration/test/unit_test_outputs/testSubProcess.grep2.txt
  FWCore/Integration/test/unit_test_outputs/testSubProcessEventSetup.grep.txt
  FWCore/Integration/test/unit_test_outputs/testSubProcessEventSetup1.grep.txt
  FWCore/ParameterSet/python/Config.py
  FWCore/ServiceRegistry/interface/ActivityRegistry.h
  IOPool/Input/test/PoolAliasSubProcessTestStep1_cfg.py
  IOPool/Input/test/PoolAliasSubProcessTestStep2_cfg.py
  IOPool/Input/test/TestPoolInput.sh
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tests-ib-failure

#47561 Remove excessive includes in DataFormats/Provenance
  DataFormats/Provenance/interface/BranchDescription.h
  DataFormats/Provenance/interface/ProvenanceFwd.h
  FWCore/Framework/interface/Schedule.h
  FWCore/Framework/interface/one/EDFilterBase.h
  FWCore/Framework/interface/one/EDProducerBase.h
  FWCore/Framework/src/ProductResolversFactory.cc
  FWCore/Sources/interface/DaqProvenanceHelper.h
  IOPool/Input/src/RootFile.h
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47589 Run3-gex187P Provide a way to avoid saving hits for a list of GEM chambers (eg missing GE11 chambers)
  SimG4CMS/Muon/interface/MuonSensitiveDetector.h
  SimG4CMS/Muon/src/MuonSensitiveDetector.cc
  SimG4CMS/Muon/test/runGEM_cfg.py
  SimG4Core/Application/python/g4SimHits_cfi.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47573 [MiniAOD, NanoAOD] AK8 subjets pT regression nodes, Photon TrigObj & MET fixes
  PhysicsTools/NanoAOD/python/jetsAK8_cff.py
  PhysicsTools/NanoAOD/python/met_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
  PhysicsTools/NanoAOD/python/triggerObjects_cff.py
  PhysicsTools/PatAlgos/python/slimming/applySubstructure_cff.py
  PhysicsTools/PatAlgos/python/tools/puppiJetMETReclusteringFromMiniAOD_cff.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#47490 [MiniAOD] Update TauID selection for METUncertainties calculation, add pileup Id & UParTv1 for puppiJetMETReclustering
  PhysicsTools/PatAlgos/python/tools/puppiJetMETReclusteringFromMiniAOD_cff.py
  PhysicsTools/PatAlgos/python/tools/puppiJetMETReclusteringTools.py
  PhysicsTools/PatUtils/python/tools/runMETCorrectionsAndUncertainties.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#47604 Add reco::GenParticle collection production from HepMC3 event record
  PhysicsTools/HepMCCandAlgos/BuildFile.xml
  PhysicsTools/HepMCCandAlgos/interface/MCTruthHelper.h
  PhysicsTools/HepMCCandAlgos/plugins/GenParticleProducer.cc
  RecoJets/JetAnalyzers/interface/JetPlotsExample.h
  RecoJets/JetAnalyzers/src/JetPlotsExample.cc
Labels: analysis-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47480 Lowered cluster charge threshold for pixel L1
  Configuration/Eras/python/Era_Run3_2025_cff.py
  Configuration/Eras/python/Modifier_run3_SiPixel_2025_cff.py
  Configuration/StandardSequences/python/Eras.py
  RecoLocalTracker/SiPixelClusterizer/python/SiPixelClusterizer_cfi.py
  RecoLocalTracker/SiPixelClusterizer/python/siPixelClustersPreSplitting_cff.py
Labels: operations-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking-pog-approved, trk

#47612 Restore correct HadronizerFilter logic
  GeneratorInterface/Core/interface/HadronizerFilter.h
Labels: generators-approved, fully-signed, tests-approved, orp-approved, urgent, code-checks-approved

#47577 Increase threshold of max number of strips clusters for cosmics
  HLTrigger/Configuration/python/customizeHLTforCMSSW.py
  RecoTracker/SpecialSeedGenerators/python/CombinatorialSeedGeneratorForCosmics_cfi.py
  RecoTracker/SpecialSeedGenerators/python/CosmicSeed_cfi.py
  RecoTracker/SpecialSeedGenerators/python/SimpleCosmicBONSeeder_cfi.py
  RecoTracker/SpecialSeedGenerators/src/SimpleCosmicBONSeeder.cc
Labels: hlt-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#47556 [GCC14] Fix compiler warnings
  DataFormats/GEMDigi/interface/GEMOptoHybrid.h
  L1Trigger/GlobalMuonTrigger/src/L1MuGlobalMuonTrigger.cc
  L1Trigger/L1TMuonEndCap/interface/bdt/Tree.h
  L1Trigger/L1TMuonEndCap/src/bdt/Tree.cc
  TrackPropagation/SteppingHelixPropagator/interface/SteppingHelixStateInfo.h
  Validation/RecoParticleFlow/bin/PlotCompareUtility.cpp
Labels: dqm-approved, l1-approved, reconstruction-approved, simulation-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, tracking

#47507 [15_0_X] Lowered cluster charge threshold for pixel L1
  Configuration/Eras/python/Era_Run3_2025_cff.py
  Configuration/Eras/python/Modifier_run3_SiPixel_2025_cff.py
  Configuration/StandardSequences/python/Eras.py
  RecoLocalTracker/SiPixelClusterizer/python/SiPixelClusterizer_cfi.py
  RecoLocalTracker/SiPixelClusterizer/python/siPixelClustersPreSplitting_cff.py
Labels: operations-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok, trk

#47538 [15_0] Add 2025 scenario
  Configuration/DataProcessing/python/Impl/hltScoutingEra_Run3_2025.py
  Configuration/DataProcessing/python/Impl/ppEra_Run3_2025.py
  Configuration/DataProcessing/python/Impl/ppEra_Run3_2025_OXY.py
  Configuration/DataProcessing/python/Impl/ppEra_Run3_2025_UPC.py
  Configuration/DataProcessing/python/Impl/ppEra_Run3_pp_on_PbPb_2025.py
  Configuration/DataProcessing/python/Impl/ppEra_Run3_pp_on_PbPb_approxSiStripClusters_2025.py
  Configuration/DataProcessing/python/RecoTLR.py
  Configuration/Eras/python/Era_Run3_pp_on_PbPb_2025_cff.py
  Configuration/Eras/python/Era_Run3_pp_on_PbPb_approxSiStripClusters_2025_cff.py
  Configuration/StandardSequences/python/Eras.py
Labels: operations-approved, fully-signed, tests-approved, orp-approved, urgent

#47541 [15.0.X] miscellaneous improvements to `HLTriggerOffline/Scouting` plugins
  HLTriggerOffline/Scouting/plugins/ElectronEfficiencyPlotter.cc
  HLTriggerOffline/Scouting/plugins/ElectronEfficiencyPlotter.h
  HLTriggerOffline/Scouting/plugins/PatElectronTagProbeAnalyzer.cc
  HLTriggerOffline/Scouting/plugins/PatElectronTagProbeAnalyzer.h
  HLTriggerOffline/Scouting/plugins/ScoutingDQMUtils.h
  HLTriggerOffline/Scouting/plugins/ScoutingEGammaCollectionMonitoring.cc
  HLTriggerOffline/Scouting/plugins/ScoutingEGammaCollectionMonitoring.h
  HLTriggerOffline/Scouting/plugins/ScoutingElectronTagProbeAnalyzer.cc
  HLTriggerOffline/Scouting/plugins/ScoutingElectronTagProbeAnalyzer.h
  HLTriggerOffline/Scouting/plugins/ScoutingMuonTagProbeAnalyzer.cc
  HLTriggerOffline/Scouting/plugins/ScoutingMuonTagProbeAnalyzer.h
  HLTriggerOffline/Scouting/plugins/ScoutingMuonTriggerAnalyzer.cc
  HLTriggerOffline/Scouting/plugins/ScoutingMuonTriggerAnalyzer.h
  HLTriggerOffline/Scouting/python/ElectronEfficiencyPlotter_cfi.py
  HLTriggerOffline/Scouting/python/ScoutingEGammaCollectionMonitoring_cfi.py
  HLTriggerOffline/Scouting/python/ScoutingElectronTagProbeAnalyzer_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, backport-ok

#47578 [15.0.X] add missing defaults to `MkFitProducer::fillDescriptions`
  RecoTracker/MkFit/plugins/MkFitProducer.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok, tracking, hlt-integration

#47580 [15.0.X]Increase threshold of max number of strips clusters for cosmics
  HLTrigger/Configuration/python/customizeHLTforCMSSW.py
  RecoTracker/SpecialSeedGenerators/python/CombinatorialSeedGeneratorForCosmics_cfi.py
  RecoTracker/SpecialSeedGenerators/python/CosmicSeed_cfi.py
  RecoTracker/SpecialSeedGenerators/python/SimpleCosmicBONSeeder_cfi.py
Labels: hlt-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok, tracking

#47586 [MiniAOD, NanoAOD] Backport of #47573 (AK8 subjets pT regression nodes, Photon TrigObj & MET fixes) to 15_0_X
  PhysicsTools/NanoAOD/python/jetsAK8_cff.py
  PhysicsTools/NanoAOD/python/met_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cff.py
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
  PhysicsTools/NanoAOD/python/triggerObjects_cff.py
  PhysicsTools/PatAlgos/python/slimming/applySubstructure_cff.py
  PhysicsTools/PatAlgos/python/tools/puppiJetMETReclusteringFromMiniAOD_cff.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok, xpog-approved

#47601 [15_0_X] [NANOAOD] Add missing trigger filter bits
  DataFormats/NanoAOD/interface/FlatTable.h
  DataFormats/NanoAOD/src/FlatTable.cc
  DataFormats/NanoAOD/src/classes_def.xml
  PhysicsTools/NanoAOD/interface/SimpleFlatTableProducer.h
  PhysicsTools/NanoAOD/plugins/NanoAODDQM.cc
  PhysicsTools/NanoAOD/plugins/TableOutputBranches.cc
  PhysicsTools/NanoAOD/plugins/TableOutputBranches.h
  PhysicsTools/NanoAOD/plugins/TriggerObjectTableProducer.cc
  PhysicsTools/NanoAOD/python/nanoDQM_cfi.py
  PhysicsTools/NanoAOD/python/triggerObjects_cff.py
Labels: fully-signed, tests-approved, orp-approved, urgent, backport-ok, xpog-approved, changes-dataformats

#47583 [15_0_X] Remove FinalPath from the framework
  FWCore/Framework/interface/EDConsumerBase.h
  FWCore/Framework/interface/OutputModuleCore.h
  FWCore/Framework/src/OutputModuleCore.cc
  FWCore/Framework/src/Schedule.cc
  FWCore/Integration/test/BuildFile.xml
  FWCore/Integration/test/test_finalpath.sh
  FWCore/Integration/test/test_finalpath_cfg.py
  FWCore/ParameterSet/python/Config.py
  FWCore/ParameterSet/python/SequenceTypes.py
  FWCore/ParameterSet/python/SequenceVisitors.py
  HLTrigger/Configuration/scripts/hltDumpStream
  HLTrigger/Configuration/scripts/hltListPaths
Labels: core-approved, hlt-approved, fully-signed, tests-approved, orp-approved, backport-ok

#47570 [15_0_X] Update OnlineBeamMonitor for DIP publication
  DQM/BeamMonitor/plugins/OnlineBeamMonitor.cc
  DQM/Integration/python/clients/beamspotdip_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, db-approved, orp-approved, backport-ok, tracking

#47585 [MiniAOD] Backport of #47490 (Update TauID selection for METUncertainties calculation, add pileup Id & UParTv1 for puppiJetMETReclustering) to 15_0_X
  PhysicsTools/PatAlgos/python/tools/puppiJetMETReclusteringFromMiniAOD_cff.py
  PhysicsTools/PatAlgos/python/tools/puppiJetMETReclusteringTools.py
  PhysicsTools/PatUtils/python/tools/runMETCorrectionsAndUncertainties.py
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, urgent, backport-ok, xpog-approved

#47552 Changes to prepare for AXOL1TL v5 (15_0_X)
  L1Trigger/L1TGlobal/interface/AXOL1TLCondition.h
  L1Trigger/L1TGlobal/src/AXOL1TLCondition.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, backport, requires-external

#47564 Changes to prepare for AXOL1TL v5 (15_1_X)
  L1Trigger/L1TGlobal/interface/AXOL1TLCondition.h
  L1Trigger/L1TGlobal/src/AXOL1TLCondition.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved

#43673 fix minor type issues in L1Trigger/TrackFindingTracklet
  L1Trigger/TrackFindingTracklet/test/AnalyzerDR.cc
  L1Trigger/TrackFindingTracklet/test/AnalyzerDRin.cc
  L1Trigger/TrackFindingTracklet/test/AnalyzerKFin.cc
  L1Trigger/TrackFindingTracklet/test/AnalyzerKFout.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47614 Added jupyter-notebook unit test
  PhysicsTools/PythonAnalysis/test/BuildFile.xml
Labels: analysis-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47598 Phase2e2-gex187R Provide the geometry checking for some of the new scenarios
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckCalo_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckEcal_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckMuon_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckRun4DD4hep_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckRun4DDD_cfg.py
  SimG4Core/PrintGeomInfo/test/python/g4OverlapCheckTracker_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runDD4hepRun4_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runDDDRun4_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runMaterialBudgeInfoRun4_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runPrintG4Solids2_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runPrintG4Solids_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runPrintG4TouchRun4_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runPrintSolidRun4_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runSensRun4_cfg.py
  SimG4Core/PrintGeomInfo/test/python/runSummaryRun4_cfg.py
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47602 Just in time Principal updates
  DataFormats/Provenance/interface/ProductRegistry.h
  FWCore/Framework/interface/PrincipalCache.h
  FWCore/Framework/src/EventProcessor.cc
  FWCore/Framework/src/Principal.cc
  FWCore/Framework/src/PrincipalCache.cc
  FWCore/Integration/test/provenance_prod_cfg.py
  FWCore/Integration/test/provenance_test.sh
  FWCore/Modules/src/ProvenanceCheckerOutputModule.cc
  FWCore/TestProcessor/src/TestSourceProcessor.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tests-ib-failure

#47509 remove L1T legacy dependencies from pixel and strip DQM clients [`14_2_X`]
  DQM/Integration/python/clients/pixel_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/sistrip_dqm_sourceclient-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#47615 [RNTUPLE_X] Add missing include
  FWIO/RNTuple/plugins/RNTupleInputFile.h
  FWIO/RNTuple/plugins/RNTupleOutputFile.h
Labels: core-approved, fully-signed, tests-approved, orp-approved, tests-external-failure

#47525 Repack raw skims
  Configuration/DataProcessing/python/Repack.py
  Configuration/DataProcessing/test/RunRepack.py
  Configuration/Skimming/python/RAWSkims_cff.py
Labels: operations-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, code-checks-approved

#47535 MTD geometry: update ETL geometry to most recent drawings (scenarios v9 and v10)
  Configuration/Geometry/python/GeometryDD4hepExtendedRun4D118Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtendedRun4D118_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtendedRun4D119Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtendedRun4D119_cff.py
  Configuration/Geometry/python/GeometryExtendedRun4D118Reco_cff.py
  Configuration/Geometry/python/GeometryExtendedRun4D118_cff.py
  Configuration/Geometry/python/GeometryExtendedRun4D119Reco_cff.py
  Configuration/Geometry/python/GeometryExtendedRun4D119_cff.py
  Configuration/Geometry/python/dictRun4Geometry.py
  Configuration/PyReleaseValidation/python/relval_Run4.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  Configuration/StandardSequences/python/GeometryConf.py
  DataFormats/ForwardDetId/src/ETLDetId.cc
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometryRun4D118.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometryRun4D119.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometryRun4D118XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometryRun4D119XML_cfi.py
  Geometry/MTDCommonData/data/etl/v10/etl.xml
  Geometry/MTDCommonData/data/etl/v9/etl.xml
  Geometry/MTDCommonData/data/mtdParameters/v7/mtdParameters.xml
  Geometry/MTDCommonData/data/mtdParameters/v7/mtdStructureTopology.xml
  Geometry/MTDCommonData/data/mtdParameters/v8/mtdParameters.xml
  Geometry/MTDCommonData/data/mtdParameters/v8/mtdStructureTopology.xml
  Geometry/MTDCommonData/interface/MTDTopologyMode.h
  Geometry/MTDCommonData/src/ETLNumberingScheme.cc
  Geometry/MTDCommonData/src/MTDTopologyMode.cc
  Geometry/MTDGeometryBuilder/interface/MTDTopology.h
  Geometry/MTDGeometryBuilder/plugins/MTDTopologyEP.cc
  Geometry/MTDGeometryBuilder/src/MTDParametersFromDD.cc
  Geometry/MTDGeometryBuilder/src/MTDTopology.cc
  RecoMTD/DetLayers/src/ETLDetLayerGeometryBuilder.cc
Labels: geometry-approved, operations-approved, reconstruction-approved, simulation-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#47559 [15_0] Include CICADA v2.2.0 configuration as modification to 2025 L1T Era
  Configuration/Eras/python/Era_Run3_2025_cff.py
  Configuration/Eras/python/Modifier_stage2L1Trigger_2025_cff.py
  L1Trigger/L1TCaloLayer1/python/simCaloStage2Layer1Summary_cfi.py
Labels: l1-approved, operations-approved, fully-signed, tests-approved, orp-approved, requires-external, backport-ok

#47516 [15_0_X] XrdAdaptor: improve exception messages
  Utilities/XrdAdaptor/src/XrdRequestManager.cc
  Utilities/XrdAdaptor/src/XrdRequestManager.h
Labels: core-approved, fully-signed, tests-approved, orp-approved

#47498 [ALCA-DB] Fix static analyzer warnings
  Alignment/CocoaModel/src/DeviationsFromFileSensor2D.cc
  Alignment/CocoaModel/src/Measurement.cc
  Alignment/OfflineValidation/bin/haddws.C
  Alignment/OfflineValidation/macros/loopAndPlot.C
  CalibCalorimetry/CastorCalib/src/CastorDbHardcode.cc
  CalibCalorimetry/CastorCalib/src/CastorPedestalAnalysis.cc
  CalibCalorimetry/EcalLaserAnalyzer/src/MELaserPrim.cc
  CalibFormats/SiPixelObjects/interface/PixelConfigBase.h
  CalibFormats/SiPixelObjects/src/PixelFEDCard.cc
  CalibTracker/SiPixelGainCalibration/plugins/SiPixelGainCalibrationAnalysis.cc
  CalibTracker/SiStripAPVAnalysis/src/TT6ApvMask.cc
  CondCore/Utilities/bin/conddb_copy_iov.cpp
  CondCore/Utilities/bin/conddb_edit_tag.cpp
  CondCore/Utilities/bin/conddb_import.cpp
  CondCore/Utilities/bin/conddb_test.cpp
  CondCore/Utilities/bin/conddb_test_gt_load.cpp
  CondCore/Utilities/bin/conddb_test_gt_perf.cpp
  CondCore/Utilities/bin/conddb_test_read.cpp
  CondCore/Utilities/src/CondDBImport.cc
  CondFormats/DTObjects/src/DTReadOutMapping.cc
  CondFormats/L1TObjects/src/L1GtTriggerMenu.cc
  CondTools/DT/src/DTExpandMap.cc
  CondTools/DT/src/DTHVStatusHandler.cc
Labels: alca-approved, l1-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, trk

#47623 Backport Raw Skims to CMSSW_15_0_X
  Configuration/DataProcessing/python/Repack.py
  Configuration/DataProcessing/test/RunRepack.py
  Configuration/Skimming/python/RAWSkims_cff.py
Labels: operations-approved, fully-signed, tests-approved, pdmv-approved, orp-approved

#47641 [DAQ] fix input source raw file deletion deadlock (15_1_X)
  EventFilter/Utilities/interface/FastMonitoringService.h
  EventFilter/Utilities/src/DAQSource.cc
  EventFilter/Utilities/src/FastMonitoringService.cc
  EventFilter/Utilities/src/FedRawDataInputSource.cc
Labels: daq-approved, fully-signed, tests-approved, orp-pending, bug-fix, code-checks-approved

#47644 [DAQ] fix input source raw file deletion deadlock (15_0_X)
  EventFilter/Utilities/interface/FastMonitoringService.h
  EventFilter/Utilities/src/DAQSource.cc
  EventFilter/Utilities/src/FastMonitoringService.cc
  EventFilter/Utilities/src/FedRawDataInputSource.cc
Labels: daq-approved, fully-signed, tests-approved, orp-pending, bug-fix, urgent

#47404 Backport to produce 2022 Tau Embedding samples
  DataFormats/GsfTrackReco/src/classes_def.xml
  RecoEgamma/EgammaElectronProducers/plugins/LowPtGSFToTrackLinker.cc
  RecoEgamma/EgammaPhotonAlgos/src/ConversionHitChecker.cc
  TauAnalysis/MCEmbeddingTools/docs/README
  TauAnalysis/MCEmbeddingTools/plugins/BuildFile.xml
  TauAnalysis/MCEmbeddingTools/plugins/CaloCleaner.cc
  TauAnalysis/MCEmbeddingTools/plugins/CaloCleaner.h
  TauAnalysis/MCEmbeddingTools/plugins/CollectionMerger.cc
  TauAnalysis/MCEmbeddingTools/plugins/CollectionMerger.h
  TauAnalysis/MCEmbeddingTools/plugins/DYToMuMuGenFilter.cc
  TauAnalysis/MCEmbeddingTools/plugins/DoubleCollectionMerger.cc
  TauAnalysis/MCEmbeddingTools/plugins/DoubleCollectionMerger.h
  TauAnalysis/MCEmbeddingTools/plugins/EmbeddingBeamSpotOnlineProducer.cc
  TauAnalysis/MCEmbeddingTools/plugins/EmbeddingBeamSpotOnlineProducer.h
  TauAnalysis/MCEmbeddingTools/plugins/EmbeddingHltPixelVerticesProducer.cc
  TauAnalysis/MCEmbeddingTools/plugins/EmbeddingLHEProducer.cc
  TauAnalysis/MCEmbeddingTools/plugins/EmbeddingVertexCorrector.cc
  TauAnalysis/MCEmbeddingTools/plugins/MuMuForEmbeddingSelector.cc
  TauAnalysis/MCEmbeddingTools/plugins/MuonDetCleaner.cc
  TauAnalysis/MCEmbeddingTools/plugins/MuonDetCleaner.h
  TauAnalysis/MCEmbeddingTools/plugins/TrackMergeremb.cc
  TauAnalysis/MCEmbeddingTools/plugins/TrackMergeremb.h
  TauAnalysis/MCEmbeddingTools/plugins/TrackerCleaner.cc
  TauAnalysis/MCEmbeddingTools/plugins/TrackerCleaner.h
  TauAnalysis/MCEmbeddingTools/python/DYToMuMuGenFilter_cfi.py
  TauAnalysis/MCEmbeddingTools/python/EmbeddingBeamSpotOnline_cfi.py
  TauAnalysis/MCEmbeddingTools/python/EmbeddingHltPixelVerticesProducer_cfi.py
  TauAnalysis/MCEmbeddingTools/python/EmbeddingLHEProducer_cfi.py
  TauAnalysis/MCEmbeddingTools/python/EmbeddingPythia8Hadronizer_cfi.py
  TauAnalysis/MCEmbeddingTools/python/EmbeddingVertexCorrector_cfi.py
  TauAnalysis/MCEmbeddingTools/python/SelectingProcedure_cff.py
  TauAnalysis/MCEmbeddingTools/python/customisers.py
  TauAnalysis/MCEmbeddingTools/test/BuildFile.xml
  TauAnalysis/MCEmbeddingTools/test/TestDriver.cpp
  TauAnalysis/MCEmbeddingTools/test/run_2022_workflow_tests.sh
  TauAnalysis/MCEmbeddingTools/test/runtests.sh
Labels: reconstruction-approved, simulation-approved, fully-signed, tests-approved, orp-approved, changes-dataformats

#47616 Fix TICL Energy Regression and PID Model Loading
  HLTrigger/Configuration/python/HLT_75e33/modules/hltTiclTrackstersCLUE3DHighL1Seeded_cfi.py
  HLTrigger/Configuration/python/HLT_75e33/modules/hltTiclTrackstersCLUE3DHigh_cfi.py
  RecoHGCal/TICL/interface/TracksterInferenceByDNN.h
  RecoHGCal/TICL/interface/TracksterInferenceByPFN.h
  RecoHGCal/TICL/plugins/TracksterInferenceByDNN.cc
  RecoHGCal/TICL/plugins/TracksterInferenceByPFN.cc
  RecoHGCal/TICL/python/CLUE3DHighStep_cff.py
Labels: hlt-approved, reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, upgrade-approved, code-checks-approved

#47613 [FULLSIM] Updates for Geant4 11.3 testing
  SimG4Core/Application/src/ExceptionHandler.cc
  SimG4Core/Application/src/RunManagerMT.cc
  SimG4Core/Application/src/RunManagerMTWorker.cc
  SimG4Core/Application/src/TrackingAction.cc
  SimG4Core/GeometryProducer/src/GeometryProducer.cc
  SimG4Core/Physics/interface/CMSG4TrackInterface.h
  SimG4Core/Physics/src/CMSG4TrackInterface.cc
  SimG4Core/PhysicsLists/interface/CMSEmStandardPhysics.h
  SimG4Core/PhysicsLists/plugins/FTFPCMS_BERT_EMM.cc
  SimG4Core/PhysicsLists/plugins/FTFPCMS_BERT_HP_EMM.cc
  SimG4Core/PhysicsLists/plugins/QGSPCMS_FTFP_BERT_EMM.cc
  SimG4Core/PhysicsLists/src/CMSEmStandardPhysics.cc
Labels: simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47631 Fix typos in exception messages in PluginFactoryBase (EdmPluginRefresh to edmPluginRefresh)
  FWCore/PluginManager/src/PluginFactoryBase.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47621 Small modification on CRC compuation for HGCAL unpacker
  EventFilter/HGCalRawToDigi/src/UnpackerTools.cc
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#47633 Run3-gex187S Modify the test geometries of 2021, 2023,2024 to accommodate the change in DTShield
  Geometry/MuonCommonData/python/testExtendedGeometry2021NXML_cfi.py
  Geometry/MuonCommonData/python/testExtendedGeometry2023NXML_cfi.py
  Geometry/MuonCommonData/python/testExtendedGeometry2024NXML_cfi.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47643 Run3-gex187U Update all Run3 scenarios with he right DTShiel, GEM and RPC chambers
  Configuration/Geometry/python/dict2021Geometry.py
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2021.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2023.xml
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometry2024.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometry2021XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2023XML_cfi.py
  Geometry/CMSCommonData/python/cmsExtendedGeometry2024XML_cfi.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#47596 backport Raw Skims to CMSSW_14_1_X
  Configuration/DataProcessing/python/Repack.py
  Configuration/DataProcessing/test/RunRepack.py
  Configuration/Skimming/python/RAWSkims_cff.py
Labels: operations-approved, fully-signed, tests-approved, pdmv-approved, orp-approved

#47648 Run3-gex187V Update the documentation of Run3 scenarios (the Muon components)
  Configuration/Geometry/README.md
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#47657 [DAQ] fix for raw generator creating incorrect raw files in Hilton (15_1_X)
  EventFilter/Utilities/plugins/RawEventOutputModuleForBU.h
Labels: daq-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved

#47655 [TkAlignment] Add DiMuon bias analysis macros
  Alignment/OfflineValidation/macros/analyzeDiMuonBiases.C
  Alignment/OfflineValidation/macros/analyzeDiMuonBiases_fast.C
  Alignment/OfflineValidation/macros/overlayDiMuonBiases.C
  Alignment/OfflineValidation/test/BuildFile.xml
  Alignment/OfflineValidation/test/SagittaBiasNtuplizer_cfg.py
  Alignment/OfflineValidation/test/testanalyzeDiMuonBiases.cpp
  Alignment/OfflineValidation/test/testingScripts/test_unitMiscellanea.sh
  Alignment/OfflineValidation/test/testingScripts/test_unitSagittaBiasNtuplizer.sh
Labels: alca-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk

#47666 New PPS geometry with rotated Roman Pots for Run3 2025
  Geometry/VeryForwardData/data/CTPPS_2025/Cuts_Per_Region/Reco/v1/RP_Cuts_Per_Region.xml
  Geometry/VeryForwardData/data/CTPPS_2025/Cuts_Per_Region/Simu/v1/CTPPS_Cuts_Per_Region.xml
  Geometry/VeryForwardData/data/CTPPS_2025/RP_Dist_Beam_Cent/Reco/v1/RP_Dist_Beam_Cent.xml
  Geometry/VeryForwardData/data/CTPPS_2025/RP_Dist_Beam_Cent/Simu/v1/RP_Dist_Beam_Cent.xml
  Geometry/VeryForwardData/data/CTPPS_2025/RP_Param_Beam_Region/v1/RP_Param_Beam_Region.xml
  Geometry/VeryForwardData/data/CTPPS_2025/Stations/Reco/v1/RP_210_Left_Station.xml
  Geometry/VeryForwardData/data/CTPPS_2025/Stations/Reco/v1/RP_210_Right_Station.xml
  Geometry/VeryForwardData/data/CTPPS_2025/Stations/Reco/v1/RP_220_Left_Station.xml
  Geometry/VeryForwardData/data/CTPPS_2025/Stations/Reco/v1/RP_220_Right_Station.xml
  Geometry/VeryForwardData/data/CTPPS_2025/Stations/Reco/v1/RP_Stations_Assembly.xml
  Geometry/VeryForwardData/data/CTPPS_2025/Stations/Simu/v1/CTPPS_210_Left_Station.xml
  Geometry/VeryForwardData/data/CTPPS_2025/Stations/Simu/v1/CTPPS_210_Right_Station.xml
  Geometry/VeryForwardData/data/CTPPS_2025/Stations/Simu/v1/CTPPS_210_Right_Station.xml_bkp
  Geometry/VeryForwardData/data/CTPPS_2025/Stations/Simu/v1/CTPPS_220_Left_Station.xml
  Geometry/VeryForwardData/data/CTPPS_2025/Stations/Simu/v1/CTPPS_220_Right_Station.xml
  Geometry/VeryForwardData/data/CTPPS_2025/Stations/Simu/v1/CTPPS_Stations_Assembly.xml
  Geometry/VeryForwardData/data/CTPPS_Timing_Negative_Station/v2/CTPPS_Timing_Negative_Station.xml
  Geometry/VeryForwardData/data/CTPPS_Timing_Positive_Station/v2/CTPPS_Timing_Positive_Station.xml
  Geometry/VeryForwardGeometry/data/dd4hep/v5/geometryRPFromDD_2025.xml
  Geometry/VeryForwardGeometry/python/dd4hep/v5/geometryRPFromDD_2025_cfi.py
  Geometry/VeryForwardGeometry/python/geometryRPFromDD_2025_cfi.py
  Geometry/VeryForwardGeometry/python/v3/geometryRPFromDD_2025_cfi.py
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47630 provide a `fillDescriptions` method for `CondDBESSource`
  CondCore/ESSources/plugins/CondDBESSource.cc
  CondCore/ESSources/plugins/CondDBESSource.h
  CondCore/ESSources/python/CondDBESSource_cfi.py
  CondCore/ESSources/test/BuildFile.xml
  CondCore/ESSources/test/python/load_from_globaltag_cfg.py
  CondCore/ESSources/test/python/load_record_empty_source_cfg.py
  CondCore/ESSources/test/python/load_records_cfg.py
  CondCore/ESSources/test/python/load_tagcollection_cfg.py
  CondCore/ESSources/test/runConditionsLoadTests.sh
  HLTrigger/Configuration/python/customizeHLTforCMSSW.py
Labels: alca-approved, hlt-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#47645 [15_0_X] Update Run3 data offline and Run3_2024 + Run4 MC GTs in autoCond
  Configuration/AlCa/python/autoCond.py
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok

#47658 [DAQ] fix for raw generator creating incorrect raw files in Hilton (15_0_X)
  EventFilter/Utilities/plugins/RawEventOutputModuleForBU.h
Labels: daq-approved, fully-signed, tests-approved, bug-fix, orp-approved, backport-ok

#47183 kt smearing for gammaUPC
  GeneratorInterface/LHEInterface/scripts/gamma-UPC_lhe_ktsmearing_UPC.py
Labels: generators-approved, fully-signed, tests-approved, orp-approved

#47656 Fix resetting of collections in LST
  RecoTracker/LSTCore/src/alpaka/LSTEvent.dev.cc
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, tracking

#47672 `AlpakaServiceSerialSync` should always be available
  HeterogeneousCore/AlpakaCore/python/ProcessAcceleratorAlpaka.py
Labels: fully-signed, tests-approved, bug-fix, orp-approved, code-checks-approved, heterogeneous-approved, tests-ib-failure

#47324 [NanoAOD,BTVNano] Bugfixes and object linking
  PhysicsTools/NanoAOD/plugins/BuildFile.xml
  PhysicsTools/NanoAOD/plugins/GenCandMotherTableProducer.cc
  PhysicsTools/NanoAOD/plugins/JetConstituentTableProducer.cc
  PhysicsTools/NanoAOD/plugins/PackedCandMCMatchTableProducer.cc
  PhysicsTools/NanoAOD/python/btvMC_cff.py
  PhysicsTools/NanoAOD/python/custom_btv_cff.py
  PhysicsTools/NanoAOD/test/BuildFile.xml
  PhysicsTools/NanoAOD/test/test-btvNano.py
  PhysicsTools/NanoAOD/test/test-btvNano.sh
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved, btv

#47576 Fix the python configuration for the TICLDumper
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  RecoHGCal/TICL/plugins/TICLDumper.cc
  RecoHGCal/TICL/python/ticlDumper_cff.py
Labels: reconstruction-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#47610 [DQM] Add print of GT on DQM online clients
  DQM/Integration/python/clients/beamspotdip_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/castor_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/csc_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/ctpps_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/dt4ml_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/dt_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/ecal_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/ecalcalib_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/ecalgpu_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/es_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/fed_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/gem_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/hcal_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/hcalcalib_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/hcalgpu_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/hcalreco_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/hlt_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/info_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/l1tstage2_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/l1tstage2emulator_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/mutracking_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/onlinebeammonitor_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/pfgpu_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/pixel_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/pixelgpu_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/pixellumi_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/ppsrandom_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/rpc_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/scal_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/sistrip_approx_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/sistrip_dqm_sourceclient-live_cfg.py
  DQM/Integration/python/clients/visualization-live-secondInstance_cfg.py
  DQM/Integration/python/clients/visualization-live_cfg.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47669 Add a unit test for alpaka types' friendly class names
  HeterogeneousCore/AlpakaCore/test/BuildFile.xml
  HeterogeneousCore/AlpakaCore/test/alpaka/testFriendlyClassNames.cc
Labels: fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved, heterogeneous-approved

#47618 Add DNN to Reject Fake T3 Objects in LST
  RecoTracker/LSTCore/interface/alpaka/Common.h
  RecoTracker/LSTCore/src/alpaka/NeuralNetwork.h
  RecoTracker/LSTCore/src/alpaka/T3NeuralNetworkWeights.h
  RecoTracker/LSTCore/src/alpaka/T5NeuralNetworkWeights.h
  RecoTracker/LSTCore/src/alpaka/Triplet.h
  RecoTracker/LSTCore/standalone/analysis/DNN/train_T3_DNN.ipynb
  RecoTracker/LSTCore/standalone/code/core/AccessHelper.cc
  RecoTracker/LSTCore/standalone/code/core/AccessHelper.h
  RecoTracker/LSTCore/standalone/code/core/write_lst_ntuple.cc
  RecoTracker/LSTCore/standalone/code/core/write_lst_ntuple.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, heterogeneous-approved, tracking

#47560 Phase-2 GT: Fix cut initialization copy paste errors
  L1Trigger/Phase2L1GT/plugins/L1GT3BodyCut.h
  L1Trigger/Phase2L1GT/plugins/L1GTCorrelationalCut.h
  L1Trigger/Phase2L1GT/plugins/L1GTSingleCollectionCut.h
  L1Trigger/Phase2L1GT/src/L1GTScales.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#47660 MTD geometry: fix the topology parameters reading for ETL v10
  Geometry/MTDGeometryBuilder/src/MTDParametersFromDD.cc
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#47642 Can mark Parameters as obsolete in fillDescriptions
  FWCore/ParameterSet/interface/AllowedLabelsDescriptionBase.h
  FWCore/ParameterSet/interface/EmptyGroupDescription.h
  FWCore/ParameterSet/interface/IfExistsDescription.h
  FWCore/ParameterSet/interface/ParameterDescription.h
  FWCore/ParameterSet/interface/ParameterDescriptionBase.h
  FWCore/ParameterSet/interface/ParameterDescriptionNode.h
  FWCore/ParameterSet/interface/ParameterSetDescription.h
  FWCore/ParameterSet/interface/ParameterSwitch.h
  FWCore/ParameterSet/interface/ParameterSwitchBase.h
  FWCore/ParameterSet/interface/ParameterWildcard.h
  FWCore/ParameterSet/interface/ParameterWildcardBase.h
  FWCore/ParameterSet/interface/ParameterWildcardWithSpecifics.h
  FWCore/ParameterSet/interface/PluginDescription.h
  FWCore/ParameterSet/src/ANDGroupDescription.cc
  FWCore/ParameterSet/src/ANDGroupDescription.h
  FWCore/ParameterSet/src/AllowedLabelsDescriptionBase.cc
  FWCore/ParameterSet/src/EmptyGroupDescription.cc
  FWCore/ParameterSet/src/IfExistsDescription.cc
  FWCore/ParameterSet/src/ORGroupDescription.cc
  FWCore/ParameterSet/src/ORGroupDescription.h
  FWCore/ParameterSet/src/ParameterDescription.cc
  FWCore/ParameterSet/src/ParameterDescriptionBase.cc
  FWCore/ParameterSet/src/ParameterDescriptionNode.cc
  FWCore/ParameterSet/src/ParameterSetDescription.cc
  FWCore/ParameterSet/src/ParameterSwitchBase.cc
  FWCore/ParameterSet/src/ParameterWildcard.cc
  FWCore/ParameterSet/src/ParameterWildcardBase.cc
  FWCore/ParameterSet/src/ParameterWildcardWithSpecifics.cc
  FWCore/ParameterSet/src/XORGroupDescription.cc
  FWCore/ParameterSet/src/XORGroupDescription.h
  FWCore/ParameterSet/test/test_catch_ParameterSetDescription.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47377 Updates for `runTheMatrix.py`: input checks, GPUs repartition, input recycling
  Configuration/PyReleaseValidation/python/MatrixReader.py
  Configuration/PyReleaseValidation/python/MatrixRunner.py
  Configuration/PyReleaseValidation/python/MatrixUtil.py
  Configuration/PyReleaseValidation/python/WorkFlowRunner.py
  Configuration/PyReleaseValidation/python/relval_data_highstats.py
  Configuration/PyReleaseValidation/python/relval_steps.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  Configuration/PyReleaseValidation/scripts/runTheMatrix.py
Labels: fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#47634 [GCC14]Fix array bound warnings
  RecoVertex/PixelVertexFinding/plugins/BuildFile.xml
  RecoVertex/PixelVertexFinding/test/BuildFile.xml
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, tracking

#47193 update GCT eg and hadronic cluster interface to Correlator
  DataFormats/L1TCalorimeterPhase2/interface/DigitizedClusterCorrelator.h
  DataFormats/L1TCalorimeterPhase2/interface/GCTEmDigiCluster.h
  DataFormats/L1TCalorimeterPhase2/interface/GCTHadDigiCluster.h
  DataFormats/L1TCalorimeterPhase2/src/classes.h
  DataFormats/L1TCalorimeterPhase2/src/classes_def.xml
  L1Trigger/L1CaloTrigger/interface/Phase2L1CaloBarrelToCorrelator.h
  L1Trigger/L1CaloTrigger/interface/Phase2L1CaloEGammaUtils.h
  L1Trigger/L1CaloTrigger/plugins/Phase2L1TCaloBarrelToCorrelator.cc
  L1Trigger/L1CaloTrigger/python/l1tPhase2GCTBarrelToCorrelatorLayer1Emulator_cfi.py
Labels: l1-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved, changes-dataformats

#47688 remove empty `cms.PSet()` from auto-generated `default_CondDBESource_cfi` file
  CondCore/ESSources/plugins/CondDBESSource.cc
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved

#47685 [ALCA-DB] Fix dead assignments reported by LLVM analyzer
  CalibTracker/SiStripCommon/plugins/ShallowGainCalibration.cc
  Calibration/TkAlCaRecoProducers/src/AlcaBeamSpotManager.cc
  CondCore/CondDB/src/ConnectionPool.cc
  CondFormats/RPCObjects/src/RPCReadOutMapping.cc
Labels: alca-approved, fully-signed, tests-approved, db-approved, orp-approved, code-checks-approved, trk

#47622 Allow use of Rntuple format in ConfigBuilder
  Configuration/Applications/python/ConfigBuilder.py
  Configuration/Applications/python/Options.py
  Configuration/Applications/python/cmsDriverOptions.py
  Configuration/Applications/test/ConfigBuilderTest.py
Labels: operations-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47664 [15.0.X] Follow-up to add HLT tracking monitoring in cosmics
  Configuration/PyReleaseValidation/python/relval_steps.py
  DQM/TrackingMonitorSource/interface/TrackToTrackComparisonHists.h
  DQM/TrackingMonitorSource/src/TrackToTrackComparisonHists.cc
  DQMOffline/Configuration/python/DQMOfflineCosmics_SecondStep_cff.py
  DQMOffline/Configuration/python/DQMOfflineCosmics_cff.py
  DQMOffline/Trigger/python/DQMOffline_Trigger_cosmics_cff.py
  DQMOffline/Trigger/python/TrackToTrackMonitoringCosmics_cff.py
  DQMOffline/Trigger/python/TrackingMonitoringCosmics_Client_cff.py
  DQMOffline/Trigger/python/TrackingMonitoringCosmics_cff.py
Labels: dqm-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, backport-ok, tracking

#47661 [TkAlignment] Add DiMuon bias analysis macros (15.0.X)
  Alignment/OfflineValidation/macros/analyzeDiMuonBiases.C
  Alignment/OfflineValidation/macros/analyzeDiMuonBiases_fast.C
  Alignment/OfflineValidation/macros/overlayDiMuonBiases.C
  Alignment/OfflineValidation/test/BuildFile.xml
  Alignment/OfflineValidation/test/SagittaBiasNtuplizer_cfg.py
  Alignment/OfflineValidation/test/testanalyzeDiMuonBiases.cpp
  Alignment/OfflineValidation/test/testingScripts/test_unitMiscellanea.sh
  Alignment/OfflineValidation/test/testingScripts/test_unitSagittaBiasNtuplizer.sh
Labels: alca-approved, fully-signed, tests-approved, orp-approved, backport-ok, trk

#47628 [15.0.X] Reduce and unify tagger inputs
  PhysicsTools/NanoAOD/plugins/DeepJetTableProducer.cc
  PhysicsTools/NanoAOD/plugins/JetConstituentTableProducer.cc
  PhysicsTools/NanoAOD/plugins/JetTaggerTableProducer.cc
  PhysicsTools/NanoAOD/python/btvMC_cff.py
  PhysicsTools/NanoAOD/python/custom_btv_cff.py
Labels: fully-signed, tests-approved, orp-approved, urgent, backport-ok, xpog-approved

#47710 [GCC13] Fix array-bound issue for JetTaggerTableProducer
  PhysicsTools/NanoAOD/plugins/JetTaggerTableProducer.cc
Labels: fully-signed, tests-approved, orp-approved, code-checks-approved, xpog-approved

#47709 [15.0][GCC13] Fix array-bound issue for JetTaggerTableProducer
  PhysicsTools/NanoAOD/plugins/JetTaggerTableProducer.cc
Labels: pending-signatures, tests-approved, orp-approved, urgent, backport-ok, xpog-pending

#47679 Fix use-after-move LLVM analyzer warning in PFClusterEMEnergyCorrector
  CalibCalorimetry/EcalTPGTools/interface/EcalReadoutTools.h
  RecoParticleFlow/PFClusterProducer/src/PFClusterEMEnergyCorrector.cc
Labels: alca-approved, l1-approved, reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47681 fix supercluster input in the dumper
  RecoHGCal/TICL/python/ticlDumper_cff.py
Labels: reconstruction-approved, fully-signed, tests-approved, bug-fix, orp-approved, upgrade-approved, code-checks-approved

#47704 remove hardcoded IP substitution for `dbproxy` option of `hltGetConfiguration`
  HLTrigger/Configuration/python/Tools/confdbOfflineConverter.py
Labels: hlt-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47691 Include the possibility of combining four objects in the "CandViewShallowCloneCombiner" producer
  CommonTools/CandAlgos/interface/CandCombiner.h
Labels: reconstruction-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47701 Update 2025 HMT shower thresholds for pp collision
  Configuration/Eras/python/Era_Run3_2025_cff.py
  Configuration/Eras/python/Modifier_run3_CSC_2025_cff.py
  L1Trigger/CSCTriggerPrimitives/python/cscTriggerPrimitiveDigis_cfi.py
  L1Trigger/CSCTriggerPrimitives/python/params/showerParams.py
Labels: l1-approved, operations-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47695 Phase2-gex187Y Create the scenario for V19 (still under test)
  Configuration/Geometry/README.md
  Configuration/Geometry/python/GeometryDD4hepExtendedRun4D120Reco_cff.py
  Configuration/Geometry/python/GeometryDD4hepExtendedRun4D120_cff.py
  Configuration/Geometry/python/GeometryExtendedRun4D120Reco_cff.py
  Configuration/Geometry/python/GeometryExtendedRun4D120_cff.py
  Configuration/Geometry/python/dictRun4Geometry.py
  Configuration/PyReleaseValidation/python/relval_Run4.py
  Configuration/PyReleaseValidation/python/upgradeWorkflowComponents.py
  Configuration/StandardSequences/python/GeometryConf.py
  Geometry/CMSCommonData/data/dd4hep/cmsExtendedGeometryRun4D120.xml
  Geometry/CMSCommonData/python/cmsExtendedGeometryRun4D120XML_cfi.py
Labels: geometry-approved, operations-approved, fully-signed, tests-approved, pdmv-approved, orp-approved, upgrade-approved, code-checks-approved

#47707 Fix bug in endUnfinishedLumi
  FWCore/Concurrency/README.md
  FWCore/Framework/src/EventProcessor.cc
Labels: core-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47696 Phase2-gex187Z Correct the retractions of the Kapton layers in HGCal module for V19
  Geometry/HGCalCommonData/data/hgcalwafer/v19/hgcalwafer.xml
Labels: geometry-approved, fully-signed, tests-approved, orp-approved, upgrade-approved, code-checks-approved

#47712 Zero Suppression for L1TCaloLayer1
  L1Trigger/Configuration/python/customiseSettings.py
  L1Trigger/L1TCalorimeter/plugins/L1TCaloStage2ParamsESProducer.cc
Labels: l1-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47731 Add a test for missing dictionaries with CUDA headers
  HeterogeneousCore/CUDATest/interface/MissingDictionaryCUDAObject.h
  HeterogeneousCore/CUDATest/plugins/MissingDictionaryCUDAProducer.cc
  HeterogeneousCore/CUDATest/src/classes.h
  HeterogeneousCore/CUDATest/src/classes_def.xml
  HeterogeneousCore/CUDATest/test/BuildFile.xml
  HeterogeneousCore/CUDATest/test/testMissingDictionaryCUDA.sh
  HeterogeneousCore/CUDATest/test/testMissingDictionaryCUDA_cfg.py
Labels: fully-signed, tests-approved, orp-approved, requires-external, code-checks-approved, heterogeneous-approved, tests-ib-failure, changes-dataformats

#47717 Remove `edm::GetPassID()` as obsolete
  FWCore/Framework/test/eventsetupplugin_t.cppunit.cc
  FWCore/Utilities/interface/GetPassID.h
  Mixing/Base/src/BMixingModule.cc
Labels: core-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved

#47689 [NGT] Fix HLT Muon paths for Phase 2 Validation
  HLTriggerOffline/Muon/python/hltMuonValidator_cfi.py
Labels: dqm-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, ngt

#47692 [NGT] Fix some Muon validation plots, allow for summary plots creation
  HLTriggerOffline/Common/python/HLTValidationHarvest_cff.py
  HLTriggerOffline/Common/python/HLTValidation_cff.py
  HLTriggerOffline/Muon/python/HLTmultiTrackValidatorMuonTracks_cff.py
  HLTriggerOffline/Muon/python/HLTpostProcessorMuonTrack_cfi.py
  SimTracker/Common/interface/TrackingParticleSelector.h
  Validation/RecoMuon/plugins/MuonTrackValidator.cc
  Validation/RecoMuon/plugins/MuonTrackValidator.h
  Validation/RecoMuon/plugins/MuonTrackValidatorBase.h
  Validation/RecoMuon/python/MuonTrackValidator_cfi.py
  Validation/RecoMuon/python/PostProcessorHLT_cff.py
  Validation/RecoMuon/python/PostProcessor_cff.py
  Validation/RecoMuon/python/associators_cff.py
  Validation/RecoMuon/python/histoParameters_cff.py
  Validation/RecoMuon/python/muonValidationHLT_cff.py
  Validation/RecoMuon/python/muonValidation_cff.py
Labels: dqm-approved, simulation-approved, fully-signed, tests-approved, orp-approved, code-checks-approved, trk, ngt
